In [1]:
# Connect to DB

host="localhost"
user="root"

# host="192.168.100.3"
# user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

connect

In [3]:
# set query 1
select_v1 = " id, nama "
fromdb_v1 = "titles" 
where_v1 = "  "
order_v1 = " order by nama_length DESC  "
query_v1 = "SELECT " + select_v1 + " FROM `" + fromdb_v1 + "` " + where_v1 + order_v1

# query 1
mycursor_v1 = mydb.cursor()
mycursor_v1.execute(query_v1)
myresult_v1 = mycursor_v1.fetchall()

print("We start and please wait ...")

counter = 1

# loop query 1
for x in myresult_v1:  
    idx = str(x[0]) 
    nama = x[1]    
    print(idx + " /lvl1/ " + nama)
    
    # set query 2
    select_v2 = " id, title "
    fromdb_v2 = "jobstreet_raws_v2" 
    where_v2 = " where title like '%"+nama+"%' and title_id is null "
    order_v2 = "   "
    query_v2 = "SELECT " + select_v2 + " FROM `" + fromdb_v2 + "` " + where_v2 + order_v2
    
    # query 2
    mycursor_v2 = mydb.cursor()
    mycursor_v2.execute(query_v2)
    myresult_v2 = mycursor_v2.fetchall()
    
    # loop query 2
    for y in myresult_v2:  
        idy = str(y[0]) 
        word = y[1]    
        print("=>>>>>>>>>>>>>>>>>>>>>> " + idy + " /lvl2/ " + word)
        
        title_extraction = word.replace(nama,"-idex-")
        title_clean = word.replace(nama,"")
        if(title_clean == ""):
            setx = ' title_extraction  = "'+title_extraction+'" , title_id  = "' + idx + '"'
        
        else:
            setx = ' title_extraction  = "'+title_extraction+'", title_clean   = "'+title_clean+'", title_id  = "' + idx + '"'
            
    
        queryx = "UPDATE " + fromdb_v2 + " SET " 
        
        wherex = "  where id = '" + idy + "' "  
        print(queryx + setx + wherex)
        mycursor.execute(queryx + setx + wherex)
        mydb.commit()   

#     counter += 1
#     if(counter == 10):
#         break
    
    
print('done : ' + str(len(myresult)) + ' row(s)')

We start and please wait ...
2550 /lvl1/ Human Resources Development General Affairs / Senior Admin Finance Tax Export Import / Supervisor Operation
1046 /lvl1/ Consultant To Support The Development of & Pilot of The Regulatory Impact Assessment Training Module
5985 /lvl1/ Staff Administrasi Production Planning & Inventory Control Industri Plastik & Mesin Injection
871 /lvl1/ Channel Business Development Manager Modern Trade, General Trade& Food Service
1682 /lvl1/ Employee Relation General Affairs Procurement Representative Dry Bulk Terminal
4031 /lvl1/ Operation & Branch / Non Operation & Product Operational Risk Analytic Manager
5828 /lvl1/ Solution Consultant For Payment GAteway, Digital Banking, Digital Payments
=>>>>>>>>>>>>>>>>>>>>>> 5782 /lvl2/ Solution Consultant for Payment Gateway, Digital Banking, Digital Payments
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Solution Consultant for Payment Gateway, Digital Banking, Digital Payments", title_clean   = "Solution Consultant for Payment Gateway, Digital Banking, Digital Payments", title_id  = "5828"  where id = '5782'
2689 /lvl1/ Indonesia Welab Digital Bank Senior Manager Financial Planning & Analysis
6057 /lvl1/ Staff Human Resources Development General Affairs Perusahaan Ekspor Impor
261 /lvl1/ Admin Social Media Content Creator Tiktok & Talent Host Livestreamer
=>>>>>>>>>>>>>>>>>>>>>> 19482 /lvl2/ Admin Social Media Content Creator Tiktok & Talent Host Livestreamer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "261"  where id = '19482'
3694 /lvl1/ Marketing Executive Produk & Jasa Untuk Meningkatkan Kualitas Udara
=>>>>>>>>>>>>>>>>>>>>>> 2504 /lvl2/ Marketing Executive Produk & Jasa untuk Meningkatkan Kualitas Udara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing Executive Produk & Jasa untuk Meningkatkan Kualitas Udara", title_clean   = "Marketing Executive Produk & Jasa untuk Meningkatkan Kualitas Udara", title_id  = "3694"  where id = '2504'
760 /lvl1/ Business Development Manager For Aidc, Barcode, Rfid & Iot Product
=>>>>>>>>>>>>>>>>>>>>>> 3557 /lvl2/ Business Development Manager for AIDC, Barcode, RFID & IoT Product
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business Development Manager for AIDC, Barcode, RFID & IoT Product", title_clean   = "Business Development Manager for AIDC, Barcode, RFID & IoT Product", title_id  = "760"  where id = '3557'
3613 /lvl1/ Marketing / Event & Promotion Specialist / Brand Activation Staff
141 /lvl1/ Acount Executive Sales Marketing Mini Market & Corporate Retailer
=>>>>>>>>>>>>>>>>>>>>>> 12047 /lvl2/ Acount Executive Sales Marketing Mini Market & Corporate Retailer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "141"  where id = '12047'
5892 /lvl1/ Staff Analis Riset Perencana Marketing & Perencana Business Plan
3594 /lvl1/ Marine, Casualty, Miscellaneous, Credit Flow Underwriter Support
=>>>>>>>>>>>>>>>>>>>>>> 11172 /lvl2/ Marine, Casualty, Miscellaneous, Credit Flow Underwriter Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3594"  where id = '11172'
6929 /lvl1/ Wakil Penjaminan Emisi Efek & Wakil Perantara Pedagang Efek Ojk
399 /lvl1/ Ar Cinema Validation & Head Office Reconciliation Support Staff
4571 /lvl1/ Project Leader Management Program For Experienced Professionals
=>>>>>>>>>>>>>>>>>>>>>> 19816 /lvl2/ Project Leader Management Program For Experienced Professionals
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4571"  where id = '19816'
=>>>>>>>>>>>>>>>>>>>>>> 20447 /lvl2/ Project Leader Management Program For Experienced Professionals
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4571"  where id = '20447'
4340 /lvl1/ Production Planning & Inventory Control & Production Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15132 /lvl2/ Production Planning & Inventory Control & Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4340"  where id = '15132'
2549 /lvl1/ Human Resources Development General Affairs / Human Resourcesga
505 /lvl1/ Assistant Manager Human Resources Development & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 9881 /lvl2/ Assistant Manager Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "505"  where id = '9881'
2825 /lvl1/ Investor Relations & Corporate Communication Junior Specialist
4901 /lvl1/ Regional Corporate Banking Funding Senior Relationship Manager
=>>>>>>>>>>>>>>>>>>>>>> 11071 /lvl2/ Regional Corporate Banking Funding Senior Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4901"  where id = '11071'
5326 /lvl1/ Sales Team Leader / Supervisor & Koordinator Sales Produk Fmcg
5848 /lvl1/ Sous Chef / Cdp / Cdp Hot Kitchen / Demi Chef / Baker / Pastry
2467 /lvl1/ Human Resources Administration & Human Resourcesis Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 262 /lvl2/ Human Resources Administration & Human ResourcesIS Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Administration & Human ResourcesIS Supervisor", title_clean   = "Human Resources Administration & Human ResourcesIS Supervisor", title_id  = "2467"  where id = '262'
2486 /lvl1/ Human Resources Generalist / Human Resources Business Partner
2551 /lvl1/ Human Resources Development General Affairs Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15237 /lvl2/ Human Resources Development General Affairs Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2551"  where id = '15237'
5380 /lvl1/ Science & Mathematic Teacher Upper Primary & Lower Secondary
1149 /lvl1/ Corporate Management Reporting, Cost Control & Analysis Team
=>>>>>>>>>>>>>>>>>>>>>> 12540 /lvl2/ Corporate Management Reporting, Cost Control & Analysis Team
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1149"  where id = '12540'
910 /lvl1/ Chief Executive Officer / Direktur Umum / President Director
5309 /lvl1/ Sales Supervisor Hospital For Preventive Healthcare Products
=>>>>>>>>>>>>>>>>>>>>>> 11285 /lvl2/ Sales Supervisor Hospital for Preventive Healthcare Products
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Supervisor Hospital for Preventive Healthcare Products", title_clean   = "Sales Supervisor Hospital for Preventive Healthcare Products", title_id  = "5309"  where id = '11285'
6593 /lvl1/ Technical Sales Executive / Senior Technical Sales Executive
1652 /lvl1/ Electrical & Instrumentation Manager Projects / Engineering
4339 /lvl1/ Production Planning & Inventory Control & Logistics Manager
=>>>>>>>>>>>>>>>>>>>>>> 1847 /lvl2/ Production Planning & Inventory Control & Logistics MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control & Logistics MANAGER", title_clean   = "Production Planning & Inventory Control & Logistics MANAGER", title_id  = "4339"  where id = '1847'
520 /lvl1/ Assistant Manager Quality Control & Continuous Improvement
=>>>>>>>>>>>>>>>>>>>>>> 9488 /lvl2/ Assistant Manager Quality Control & Continuous Improvement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "520"  where id = '9488'
6962 /lvl1/ Warehouse Supervisor Power Distribution & Renewable Energy
3657 /lvl1/ Marketing Communication & Event Management Department Head
3658 /lvl1/ Marketing Communication & Product Development Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 18488 /lvl2/ Marketing Communication & Product Development Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3658"  where id = '18488'
4260 /lvl1/ Personal Assistant Trainee To Project Development Director
=>>>>>>>>>>>>>>>>>>>>>> 18063 /lvl2/ Personal Assistant Trainee to Project Development Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant Trainee to Project Development Director", title_clean   = "Personal Assistant Trainee to Project Development Director", title_id  = "4260"  where id = '18063'
6596 /lvl1/ Technical Sales Representative Cosmetic & Food Ingredients
=>>>>>>>>>>>>>>>>>>>>>> 4637 /lvl2/ Technical Sales Representative Cosmetic & Food Ingredients
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6596"  where id = '4637'
6343 /lvl1/ Supervisor Production Planning & Inventory Control Farmasi

=>>>>>>>>>>>>>>>>>>>>>> 63 /lvl2/ Supervisor Production Planning & Inventory Control Farmasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6343"  where id = '63'
=>>>>>>>>>>>>>>>>>>>>>> 79 /lvl2/ Supervisor Production Planning & Inventory Control Farmasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6343"  where id = '79'
6366 /lvl1/ Supervisor Research and Development Analitycal Development
=>>>>>>>>>>>>>>>>>>>>>> 12230 /lvl2/ Supervisor Research and Development Analitycal Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6366"  where id = '12230'
6367 /lvl1/ Supervisor Research and Development Analytical Development
=>>>>>>>>>>>>>>>>>>>>>> 4731 /lvl2/ Supervisor Research and Development Analytical Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6367"  where id = '4731'
248 /lvl1/ Admin Purchasing / Production Planning & Inventory Control
1026 /lvl1/ Compliance & Internal Control Specialist People & Culture
516 /lvl1/ Assistant Manager Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 2208 /lvl2/ Assistant Manager Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "516"  where id = '2208'
=>>>>>>>>>>>>>>>>>>>>>> 18671 /lvl2/ Assistant Manager Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "516"  where id = '18671'
=>>>>>>>>>>>>>>>>>>>>>> 18686 /lvl2/ Assistant Manager Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "516"  where id = '18686'
1852 /lvl1/ External Relation, Community Development & Csr Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19787 /lvl2/ External Relation, Community Development & CSR Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "External Relation, Community Development & CSR Specialist", title_clean   = "External Relation, Community Development & CSR Specialist", title_id  = "1852"  where id = '19787'
6489 /lvl1/ Talent Acquisitions & Employer Branding Associate Manager
3507 /lvl1/ Manager Human Resources Development General Affairs Legal
=>>>>>>>>>>>>>>>>>>>>>> 15517 /lvl2/ MANAGER Human Resources Development General Affairs LEGAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER Human Resources Development General Affairs LEGAL", title_clean   = "MANAGER Human Resources Development General Affairs LEGAL", title_id  = "3507"  where id = '15517'
6101 /lvl1/ Staff Marketing Executive Emkl / Logistik & Export Import
4346 /lvl1/ Production Planning & Inventory Control Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1227 /lvl2/ Production Planning & Inventory Control SENIOR SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control SENIOR SUPERVISOR", title_clean   = "Production Planning & Inventory Control SENIOR SUPERVISOR", title_id  = "4346"  where id = '1227'
4349 /lvl1/ Production Planning & Inventory Control Textile & Garment
2047 /lvl1/ Fitness Consultant / Member Consultant / Sales Consultant
=>>>>>>>>>>>>>>>>>>>>>> 3865 /lvl2/ FITNESS CONSULTANT / MEMBER CONSULTANT / SALES CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FITNESS CONSULTANT / MEMBER CONSULTANT / SALES CONSULTANT", title_clean   = "FITNESS CONSULTANT / MEMBER CONSULTANT / SALES CONSULTANT", title_id  = "2047"  where id = '3865'
3593 /lvl1/ Marine, Casualty, Miscellaneous, Credit Flow Underwriter
=>>>>>>>>>>>>>>>>>>>>>> 11380 /lvl2/ Marine, Casualty, Miscellaneous, Credit Flow Underwriter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3593"  where id = '11380'
3601 /lvl1/ Market Research Consultant For Business To Consumer Team
=>>>>>>>>>>>>>>>>>>>>>> 1417 /lvl2/ MARKET RESEARCH CONSULTANT FOR BUSINESS TO CONSUMER TEAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKET RESEARCH CONSULTANT FOR BUSINESS TO CONSUMER TEAM", title_clean   = "MARKET RESEARCH CONSULTANT FOR BUSINESS TO CONSUMER TEAM", title_id  = "3601"  where id = '1417'
2688 /lvl1/ Indonesia Welab Digital Bank Manager Business Operations
6301 /lvl1/ Supervisor Human Resources Development & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 1939 /lvl2/ Supervisor Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6301"  where id = '1939'
=>>>>>>>>>>>>>>>>>>>>>> 12024 /lvl2/ Supervisor Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6301"  where id = '12024'
=>>>>>>>>>>>>>>>>>>>>>> 13525 /lvl2/ Supervisor Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6301"  where id = '13525'
=>>>>>>>>>>>>>>>>>>>>>> 13718 /lvl2/ Supervisor Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6301"  where id = '13718'
6054 /lvl1/ Staff Human Resources Development Business & Development
=>>>>>>>>>>>>>>>>>>>>>> 5090 /lvl2/ Staff Human Resources Development Business & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6054"  where id = '5090'
2503 /lvl1/ Human Resources Officer / Senior Human Resources Officer
4337 /lvl1/ Production Planning & Inventory Control / Ppc Supervisor
4338 /lvl1/ Production Planning & Inventory Control & Logistic Staff
=>>>>>>>>>>>>>>>>>>>>>> 682 /lvl2/ Production Planning & Inventory Control & Logistic Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4338"  where id = '682'
4383 /lvl1/ Primary Homeroom Teachers For Kinderfield Primary Depok
=>>>>>>>>>>>>>>>>>>>>>> 2177 /lvl2/ PRIMARY HOMEROOM TEACHERS FOR KINDERFIELD PRIMARY DEPOK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRIMARY HOMEROOM TEACHERS FOR KINDERFIELD PRIMARY DEPOK", title_clean   = "PRIMARY HOMEROOM TEACHERS FOR KINDERFIELD PRIMARY DEPOK", title_id  = "4383"  where id = '2177'
2337 /lvl1/ Head Finance Accounting Asisten Direktur Head Marketing
=>>>>>>>>>>>>>>>>>>>>>> 3229 /lvl2/ HEAD FINANCE ACCOUNTING ASISTEN DIREKTUR HEAD MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD FINANCE ACCOUNTING ASISTEN DIREKTUR HEAD MARKETING", title_clean   = "HEAD FINANCE ACCOUNTING ASISTEN DIREKTUR HEAD MARKETING", title_id  = "2337"  where id = '3229'
4900 /lvl1/ Regional Corporate Banking Funding Relationship Manager
=>>>>>>>>>>>>>>>>>>>>>> 10428 /lvl2/ Regional Corporate Banking Funding Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4900"  where id = '10428'
6492 /lvl1/ Talent Management & Organization Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8116 /lvl2/ Talent Management & Organization Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6492"  where id = '8116'
4446 /lvl1/ Product Development Engineer / Research and Development
2912 /lvl1/ It Hardware Presales / Sales Engineer / Sales Technical
2433 /lvl1/ Host Live Streaming / Streamer Tiktok & Instragram Live
2500 /lvl1/ Human Resources Manager Representative Japanese Speaker
=>>>>>>>>>>>>>>>>>>>>>> 7879 /lvl2/ Human Resources Manager Representative Japanese Speaker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2500"  where id = '7879'
=>>>>>>>>>>>>>>>>>>>>>> 8184 /lvl2/ Human Resources Manager Representative Japanese Speaker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2500"  where id = '8184'
4824 /lvl1/ Research and Development Formulation Head For Cosmetics
4341 /lvl1/ Production Planning & Inventory Control Department Head
1018 /lvl1/ Compensation Benefit & Organization Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 14840 /lvl2/ Compensation Benefit & Organization Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1018"  where id = '14840'
765 /lvl1/ Business Development Senior Staff For Mobility Division
=>>>>>>>>>>>>>>>>>>>>>> 3133 /lvl2/ Business Development Senior Staff for Mobility Division
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business Development Senior Staff for Mobility Division", title_clean   = "Business Development Senior Staff for Mobility Division", title_id  = "765"  where id = '3133'
5159 /lvl1/ Sales Executive / Account Executive Freight Forwarding

5470 /lvl1/ Senior Associate, Registration & Regulatory Compliance
=>>>>>>>>>>>>>>>>>>>>>> 15469 /lvl2/ Senior Associate, Registration & Regulatory Compliance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5470"  where id = '15469'
3182 /lvl1/ Kepala Bagian Research and Development Food & Beverage
5238 /lvl1/ Sales Marketing Executive & Senior Marketing Executive
2460 /lvl1/ Human Resources & General Affairs Supervisor Samarinda
=>>>>>>>>>>>>>>>>>>>>>> 11742 /lvl2/ Human Resources & General Affairs SUPERVISOR SAMARINDA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs SUPERVISOR SAMARINDA", title_clean   = "Human Resources & General Affairs SUPERVISOR SAMARINDA", title_id  = "2460"  where id = '11742'
5806 /lvl1/ Software Engineer In Test / Quality Assurance Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2258 /lvl2/ Software Engineer in Test / Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Software Engineer in Test / Quality Assurance Engineer", title_clean   = "Software Engineer in Test / Quality Assurance Engineer", title_id  = "5806"  where id = '2258'
6605 /lvl1/ Technical Support / Helpdesk Agent / Call Center Agent
6112 /lvl1/ Staff Operasional Lapangan Export Import / Ppjk / Emkl
1252 /lvl1/ Customer Relationship Management Telesales Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 5517 /lvl2/ Customer Relationship Management Telesales Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1252"  where id = '5517'
6639 /lvl1/ Teknisi / Technician Injection Molding Plastic Machine
4344 /lvl1/ Production Planning & Inventory Control Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 692 /lvl2/ Production Planning & Inventory Control SENIOR OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control SENIOR OFFICER", title_clean   = "Production Planning & Inventory Control SENIOR OFFICER", title_id  = "4344"  where id = '692'
=>>>>>>>>>>>>>>>>>>>>>> 702 /lvl2/ Production Planning & Inventory Control SENIOR OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control SENIOR OFFICER", title_clean   = "Production Planning & Inventory Control SENIOR OFFICER", title_id  = "4344"  where id = '702'
6146 /lvl1/ Staff Research and Development Analytical Development
=>>>>>>>>>>>>>>>>>>>>>> 17918 /lvl2/ Staff Research and Development Analytical Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6146"  where id = '17918'
1804 /lvl1/ Executive Recruitment Consultant / Talent Acquisition
3178 /lvl1/ Kepala Bagian Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 20538 /lvl2/ Kepala Bagian Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3178"  where id = '20538'
5743 /lvl1/ Site Controller Architect Property Developer Makassar
6818 /lvl1/ Translator & Training Communication English In Office
=>>>>>>>>>>>>>>>>>>>>>> 1883 /lvl2/ Translator & Training Communication English in Office
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Translator & Training Communication English in Office", title_clean   = "Translator & Training Communication English in Office", title_id  = "6818"  where id = '1883'
3506 /lvl1/ Manager Human Resources Development & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 14206 /lvl2/ Manager Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3506"  where id = '14206'
1463 /lvl1/ Digital & Customer Relationship Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19405 /lvl2/ Digital & Customer Relationship Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1463"  where id = '19405'
3260 /lvl1/ Koordinator & Leader Gudang Lapak / Collection Center
5075 /lvl1/ Sales Acquisition / Account Executive Payment GAteway
2543 /lvl1/ Human Resources Development & General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 18529 /lvl2/ Human Resources Development & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2543"  where id = '18529'
2553 /lvl1/ Human Resources Development Human Resource Department
=>>>>>>>>>>>>>>>>>>>>>> 15477 /lvl2/ Human Resources Development Human Resource Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2553"  where id = '15477'
5149 /lvl1/ Sales Engineer Power Distribution & Renewable Energy
1078 /lvl1/ Content Development & Quality Assurance Section Head
=>>>>>>>>>>>>>>>>>>>>>> 2743 /lvl2/ Content Development & Quality Assurance Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1078"  where id = '2743'
2365 /lvl1/ Head of Human Resources & General Affairs Department
=>>>>>>>>>>>>>>>>>>>>>> 12775 /lvl2/ Head of Human Resources & General Affairs Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2365"  where id = '12775'
=>>>>>>>>>>>>>>>>>>>>>> 12791 /lvl2/ Head of Human Resources & General Affairs Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2365"  where id = '12791'
6745 /lvl1/ Teppanyaki Chef For Teppanyaki & Japanese Restaurant
350 /lvl1/ Analis / Operator Instrumen Research and Development
6781 /lvl1/ Trainer & Implementator Accurate Accounting Software
=>>>>>>>>>>>>>>>>>>>>>> 6865 /lvl2/ Trainer & Implementator Accurate Accounting Software
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6781"  where id = '6865'
2501 /lvl1/ Human Resources Od & Transformation Senior Executive
=>>>>>>>>>>>>>>>>>>>>>> 650 /lvl2/ Human Resources OD & TRANSFORMATION SENIOR EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources OD & TRANSFORMATION SENIOR EXECUTIVE", title_clean   = "Human Resources OD & TRANSFORMATION SENIOR EXECUTIVE", title_id  = "2501"  where id = '650'
2510 /lvl1/ Human Resources Organizational Development Strategic
=>>>>>>>>>>>>>>>>>>>>>> 985 /lvl2/ Human Resources Organizational Development Strategic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2510"  where id = '985'
2012 /lvl1/ Finance, Human Resources & General Affairs Executive
=>>>>>>>>>>>>>>>>>>>>>> 16388 /lvl2/ Finance, Human Resources & General Affairs Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2012"  where id = '16388'
4343 /lvl1/ Production Planning & Inventory Control Section Head
=>>>>>>>>>>>>>>>>>>>>>> 15151 /lvl2/ Production Planning & Inventory Control Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4343"  where id = '15151'
4345 /lvl1/ Production Planning & Inventory Control Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 8471 /lvl2/ Production Planning & Inventory Control SENIOR STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control SENIOR STAFF", title_clean   = "Production Planning & Inventory Control SENIOR STAFF", title_id  = "4345"  where id = '8471'
4356 /lvl1/ Pradana Digital Sales & Marketing Assistant Manager
2565 /lvl1/ Human Resources Development General Affairs Manager
6669 /lvl1/ Teknisi Laboratorium Teknik Sipil / Mechanica Tanah
527 /lvl1/ Assistant Merchandiser Consumer Electronic Category
=>>>>>>>>>>>>>>>>>>>>>> 12165 /lvl2/ Assistant Merchandiser Consumer Electronic Category
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "527"  where id = '12165'
30 /lvl1/ Account Executive For Pharmacy Ingredients Business
799 /lvl1/ Business Strategic & Performance Monitoring Officer
=>>>>>>>>>>>>>>>>>>>>>> 17140 /lvl2/ Business Strategic & Performance Monitoring Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "799"  where id = '17140'
2847 /lvl1/ It Application Support / Software Technical Support
5151 /lvl1/ Sales Engineer Wholesaler Partner Climate Solutions
38 /lvl1/ Account Officer, Remedial & Analis Kredit Perbankan
2891 /lvl1/ It Development & Information System Department Head
2453 /lvl1/ Human Resources & General Affairs Assistant Manager

=>>>>>>>>>>>>>>>>>>>>>> 3008 /lvl2/ Human Resources & General Affairs Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2453"  where id = '3008'
2980 /lvl1/ It Quality Control & Governance Sub Department Head
6053 /lvl1/ Staff Human Resources Development & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 10522 /lvl2/ STAFF Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development & General Affairs", title_clean   = "STAFF Human Resources Development & General Affairs", title_id  = "6053"  where id = '10522'
1451 /lvl1/ Development Chef For A Private Dining Establishment
=>>>>>>>>>>>>>>>>>>>>>> 12675 /lvl2/ Development Chef for a Private Dining Establishment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Development Chef for a Private Dining Establishment", title_clean   = "Development Chef for a Private Dining Establishment", title_id  = "1451"  where id = '12675'
2509 /lvl1/ Human Resources Organization Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11434 /lvl2/ Human Resources Organization Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2509"  where id = '11434'
2544 /lvl1/ Human Resources Development & General Affairs Staff
=>>>>>>>>>>>>>>>>>>>>>> 127 /lvl2/ Human Resources Development & General Affairs STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development & General Affairs STAFF", title_clean   = "Human Resources Development & General Affairs STAFF", title_id  = "2544"  where id = '127'
=>>>>>>>>>>>>>>>>>>>>>> 13859 /lvl2/ Human Resources Development & General Affairs STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development & General Affairs STAFF", title_clean   = "Human Resources Development & General Affairs STAFF", title_id  = "2544"  where id = '13859'
=>>>>>>>>>>>>>>>>>>>>>> 16226 /lvl2/ Human Resources Development & General Affairs Staff Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bogor", title_clean   = " Bogor", title_id  = "2544"  where id = '16226'
=>>>>>>>>>>>>>>>>>>>>>> 16244 /lvl2/ Human Resources Development & General Affairs Staff Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bogor", title_clean   = " Bogor", title_id  = "2544"  where id = '16244'
1265 /lvl1/ Custom Clearance, Logistic & Procurement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20068 /lvl2/ Custom Clearance, Logistic & Procurement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1265"  where id = '20068'
=>>>>>>>>>>>>>>>>>>>>>> 20101 /lvl2/ Custom Clearance, Logistic & Procurement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1265"  where id = '20101'
2547 /lvl1/ Human Resources Development Admin & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 276 /lvl2/ Human Resources Development admin & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development admin & General Affairs", title_clean   = "Human Resources Development admin & General Affairs", title_id  = "2547"  where id = '276'
504 /lvl1/ Assistant Manager Human Resources & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 577 /lvl2/ Assistant Manager Human Resources & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "504"  where id = '577'
5641 /lvl1/ Senior Staff Human Resources Development / Payroll
=>>>>>>>>>>>>>>>>>>>>>> 11082 /lvl2/ Senior Staff Human Resources Development / Payroll
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5641"  where id = '11082'
6274 /lvl1/ Supervisor Direct Force Sales Indosat Sungai Lilin
1162 /lvl1/ Corporate Strategy & Development Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 19602 /lvl2/ Corporate Strategy & Development Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1162"  where id = '19602'
6541 /lvl1/ Tax, Account Receivable Treasury Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 2843 /lvl2/ Tax, Account Receivable Treasury Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6541"  where id = '2843'
5293 /lvl1/ Sales Representative For Orthopaedic Support ITems
=>>>>>>>>>>>>>>>>>>>>>> 10194 /lvl2/ Sales Representative for Orthopaedic Support ITems
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Representative for Orthopaedic Support ITems", title_clean   = "Sales Representative for Orthopaedic Support ITems", title_id  = "5293"  where id = '10194'
3259 /lvl1/ Koordinator / Supervisor Finance, Accounting & Tax
6595 /lvl1/ Technical Sales Representative Animal Health Staff
=>>>>>>>>>>>>>>>>>>>>>> 19239 /lvl2/ Technical Sales Representative Animal Health Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6595"  where id = '19239'
6342 /lvl1/ Supervisor Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 3208 /lvl2/ Supervisor Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6342"  where id = '3208'
=>>>>>>>>>>>>>>>>>>>>>> 6177 /lvl2/ Supervisor Production Planning & Inventory Control - Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Samarinda", title_clean   = " - Samarinda", title_id  = "6342"  where id = '6177'
=>>>>>>>>>>>>>>>>>>>>>> 6993 /lvl2/ Supervisor Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6342"  where id = '6993'
=>>>>>>>>>>>>>>>>>>>>>> 8453 /lvl2/ Supervisor Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6342"  where id = '8453'
=>>>>>>>>>>>>>>>>>>>>>> 11319 /lvl2/ Supervisor Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6342"  where id = '11319'
=>>>>>>>>>>>>>>>>>>>>>> 12277 /lvl2/ SUPERVISOR Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR Production Planning & Inventory Control", title_clean   = "SUPERVISOR Production Planning & Inventory Control", title_id  = "6342"  where id = '12277'
=>>>>>>>>>>>>>>>>>>>>>> 12626 /lvl2/ Supervisor Production Planning & Inventory Control (Penempatan Karanganyar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Karanganyar)", title_clean   = " (Penempatan Karanganyar)", title_id  = "6342"  where id = '12626'
=>>>>>>>>>>>>>>>>>>>>>> 12646 /lvl2/ Supervisor Production Planning & Inventory Control (Penempatan Karanganyar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Karanganyar)", title_clean   = " (Penempatan Karanganyar)", title_id  = "6342"  where id = '12646'
=>>>>>>>>>>>>>>>>>>>>>> 17170 /lvl2/ Supervisor Production Planning & Inventory Control (Penempatan Karanganyar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Karanganyar)", title_clean   = " (Penempatan Karanganyar)", title_id  = "6342"  where id = '17170'
=>>>>>>>>>>>>>>>>>>>>>> 17768 /lvl2/ Supervisor Production Planning & Inventory Control (Scheduler)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Scheduler)", title_clean   = " (Scheduler)", title_id  = "6342"  where id = '17768'
=>>>>>>>>>>>>>>>>>>>>>> 18653 /lvl2/ Supervisor Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6342"  where id = '18653'
1486 /lvl1/ Digital Marketing & Branding Specialist Supervisor
5586 /lvl1/ Senior Mobile Developer / Senior Flutter Developer
480 /lvl1/ Assistant Customer Relationship Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 20605 /lvl2/ Assistant Customer Relationship Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "480"  where id = '20605'
497 /lvl1/ Assistant Manager Corporate Sales Employee Benefit
=>>>>>>>>>>>>>>>>>>>>>> 20409 /lvl2/ Assistant Manager Corporate Sales Employee Benefit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "497"  where id = '20409'
6642 /lvl1/ Teknisi Ac & Chiller Bersertifikat Bnsp / Kemnaker

=>>>>>>>>>>>>>>>>>>>>>> 9975 /lvl2/ TEKNISI AC & CHILLER BERSERTIFIKAT BNSP / KEMNAKER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI AC & CHILLER BERSERTIFIKAT BNSP / KEMNAKER", title_clean   = "TEKNISI AC & CHILLER BERSERTIFIKAT BNSP / KEMNAKER", title_id  = "6642"  where id = '9975'
2554 /lvl1/ Human Resources Development Learning & Development
4603 /lvl1/ Project Sales Executive / Staff Sales Untuk Proyek
4348 /lvl1/ Production Planning & Inventory Control Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 487 /lvl2/ Production Planning & Inventory Control Supervisor-Karawang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Karawang", title_clean   = "-Karawang", title_id  = "4348"  where id = '487'
=>>>>>>>>>>>>>>>>>>>>>> 522 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '522'
=>>>>>>>>>>>>>>>>>>>>>> 1534 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '1534'
=>>>>>>>>>>>>>>>>>>>>>> 2554 /lvl2/ Production Planning & Inventory Control Supervisor - Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Samarinda", title_clean   = " - Samarinda", title_id  = "4348"  where id = '2554'
=>>>>>>>>>>>>>>>>>>>>>> 3333 /lvl2/ Production Planning & Inventory Control Supervisor - Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Samarinda", title_clean   = " - Samarinda", title_id  = "4348"  where id = '3333'
=>>>>>>>>>>>>>>>>>>>>>> 3835 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '3835'
=>>>>>>>>>>>>>>>>>>>>>> 5156 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '5156'
=>>>>>>>>>>>>>>>>>>>>>> 6745 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '6745'
=>>>>>>>>>>>>>>>>>>>>>> 11896 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '11896'
=>>>>>>>>>>>>>>>>>>>>>> 13922 /lvl2/ Production Planning & Inventory Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4348"  where id = '13922'
4110 /lvl1/ Organization Development & Performance Management
=>>>>>>>>>>>>>>>>>>>>>> 11408 /lvl2/ Organization Development & Performance Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4110"  where id = '11408'
1573 /lvl1/ Drafter Furniture Product Development Engineering
3109 /lvl1/ Junior High School Level Mathematicematic Teacher
6958 /lvl1/ Warehouse Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 19426 /lvl2/ Warehouse Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6958"  where id = '19426'
=>>>>>>>>>>>>>>>>>>>>>> 20308 /lvl2/ Warehouse Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6958"  where id = '20308'
1359 /lvl1/ Data Center System Operator & Facility Management
=>>>>>>>>>>>>>>>>>>>>>> 11776 /lvl2/ Data Center System Operator & Facility Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1359"  where id = '11776'
6486 /lvl1/ Talent Acquisition Specialist & Employer Branding
=>>>>>>>>>>>>>>>>>>>>>> 7561 /lvl2/ Talent Acquisition Specialist & Employer Branding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6486"  where id = '7561'
6753 /lvl1/ Ticketing Staff With English Communication Skills
=>>>>>>>>>>>>>>>>>>>>>> 19893 /lvl2/ Ticketing Staff with English Communication Skills
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Ticketing Staff with English Communication Skills", title_clean   = "Ticketing Staff with English Communication Skills", title_id  = "6753"  where id = '19893'
4451 /lvl1/ Product Engineering & Development Department Head
=>>>>>>>>>>>>>>>>>>>>>> 14197 /lvl2/ Product Engineering & Development Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4451"  where id = '14197'
=>>>>>>>>>>>>>>>>>>>>>> 14564 /lvl2/ Product Engineering & Development Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4451"  where id = '14564'
2454 /lvl1/ Human Resources & General Affairs Department Head
=>>>>>>>>>>>>>>>>>>>>>> 988 /lvl2/ Human Resources & General Affairs Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2454"  where id = '988'
5790 /lvl1/ Social Media Specialist / Social Media Strategist
3231 /lvl1/ Key Account Executive Offline Store & Consignment
=>>>>>>>>>>>>>>>>>>>>>> 6677 /lvl2/ Key Account Executive Offline Store & Consignment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3231"  where id = '6677'
2478 /lvl1/ Human Resources Employee Relation & Administrator
5043 /lvl1/ Sales & Customer Relationship Executive Full Time
193 /lvl1/ Admin Human Resources Development General Affairs
4567 /lvl1/ Project Human Resources Service Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 20401 /lvl2/ Project Human Resources Service Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4567"  where id = '20401'
4837 /lvl1/ Research and Development Senior Software Engineer
4331 /lvl1/ Postgresql / Enterprise Db Database Administrator
=>>>>>>>>>>>>>>>>>>>>>> 3910 /lvl2/ PostgreSQL / Enterprise DB Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PostgreSQL / Enterprise DB Database Administrator", title_clean   = "PostgreSQL / Enterprise DB Database Administrator", title_id  = "4331"  where id = '3910'
1015 /lvl1/ Compensation & Benefit Specialist, Heavy Industry
=>>>>>>>>>>>>>>>>>>>>>> 1285 /lvl2/ Compensation & Benefit Specialist, Heavy Industry
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1015"  where id = '1285'
5904 /lvl1/ Staff Gudang Sparepart & Sales Counter Sparepart
1053 /lvl1/ Conten Creator & Host Live Streaming Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 1707 /lvl2/ Conten Creator & Host Live Streaming MarketPlace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Conten Creator & Host Live Streaming MarketPlace", title_clean   = "Conten Creator & Host Live Streaming MarketPlace", title_id  = "1053"  where id = '1707'
6446 /lvl1/ Syariah Business Development & Channel Relations
=>>>>>>>>>>>>>>>>>>>>>> 1433 /lvl2/ Syariah Business Development & Channel Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6446"  where id = '1433'
315 /lvl1/ Administrative Assistant To Chief Representative
=>>>>>>>>>>>>>>>>>>>>>> 18614 /lvl2/ ADMINISTRATIVE ASSISTANT TO CHIEF REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRATIVE ASSISTANT TO CHIEF REPRESENTATIVE", title_clean   = "ADMINISTRATIVE ASSISTANT TO CHIEF REPRESENTATIVE", title_id  = "315"  where id = '18614'
4432 /lvl1/ Product & Portfolio Management Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 3007 /lvl2/ Product & Portfolio Management Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4432"  where id = '3007'
4999 /lvl1/ Retails & Business Development Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 8776 /lvl2/ Retails & Business Development Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4999"  where id = '8776'
3725 /lvl1/ Marketing Mesin Industri & Barang Produk Plastik
=>>>>>>>>>>>>>>>>>>>>>> 3409 /lvl2/ Marketing Mesin Industri & Barang produk plastik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing Mesin Industri & Barang produk plastik", title_clean   = "Marketing Mesin Industri & Barang produk plastik", title_id  = "3725"  where id = '3409'
2474 /lvl1/ Human Resources Compensation Benefits Specialits

=>>>>>>>>>>>>>>>>>>>>>> 15462 /lvl2/ Human Resources Compensation Benefits Specialits
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2474"  where id = '15462'
1712 /lvl1/ Engineering Software & IT Infrastructure Support
2495 /lvl1/ Human Resources Learning & Development Executive
5831 /lvl1/ Sonographer / Ultrasound Applications Specialist
4332 /lvl1/ Power & Environment Technical Support Supervisor
513 /lvl1/ Assistant Manager of Legal & Human Resources ga
2563 /lvl1/ Human Resources Development Supervisor / Senior
1798 /lvl1/ Executive Assistant & Administrative Controller
3343 /lvl1/ Lecturer For International Relations Department
=>>>>>>>>>>>>>>>>>>>>>> 14183 /lvl2/ Lecturer for International Relations Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lecturer for International Relations Department", title_clean   = "Lecturer for International Relations Department", title_id  = "3343"  where id = '14183'
=>>>>>>>>>>>>>>>>>>>>>> 14546 /lvl2/ Lecturer for International Relations Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lecturer for International Relations Department", title_clean   = "Lecturer for International Relations Department", title_id  = "3343"  where id = '14546'
5650 /lvl1/ Senior Supervisor Operations Project Management
=>>>>>>>>>>>>>>>>>>>>>> 8522 /lvl2/ Senior Supervisor Operations Project Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5650"  where id = '8522'
1300 /lvl1/ Customer Service & Document Export Import Staff
=>>>>>>>>>>>>>>>>>>>>>> 6010 /lvl2/ Customer Service & Document Export Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1300"  where id = '6010'
=>>>>>>>>>>>>>>>>>>>>>> 6012 /lvl2/ Customer Service & Document Export Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1300"  where id = '6012'
4893 /lvl1/ Refrigerator & Freezer Research and Development
=>>>>>>>>>>>>>>>>>>>>>> 4201 /lvl2/ Refrigerator & Freezer Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4893"  where id = '4201'
1829 /lvl1/ Export Documentation & Customer Service Officer
2604 /lvl1/ Human Capital & General Affairs General Manager
=>>>>>>>>>>>>>>>>>>>>>> 19646 /lvl2/ Human Capital & General Affairs General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2604"  where id = '19646'
=>>>>>>>>>>>>>>>>>>>>>> 20492 /lvl2/ Human Capital & General Affairs General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2604"  where id = '20492'
4946 /lvl1/ Relationship Manager Wealth Management Business
=>>>>>>>>>>>>>>>>>>>>>> 849 /lvl2/ RELATIONSHIP MANAGER WEALTH MANAGEMENT BUSINESS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RELATIONSHIP MANAGER WEALTH MANAGEMENT BUSINESS", title_clean   = "RELATIONSHIP MANAGER WEALTH MANAGEMENT BUSINESS", title_id  = "4946"  where id = '849'
3417 /lvl1/ Logistics Analyst & Process Improvement Manager
1882 /lvl1/ Fashion Design Assistant / Photoshoot Assistant
3939 /lvl1/ Motivation & Performance Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11780 /lvl2/ Motivation & Performance Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3939"  where id = '11780'
877 /lvl1/ Channel Policy & Performance Monitoring Manager
=>>>>>>>>>>>>>>>>>>>>>> 3634 /lvl2/ Channel Policy & Performance Monitoring Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "877"  where id = '3634'
=>>>>>>>>>>>>>>>>>>>>>> 4617 /lvl2/ Channel Policy & Performance Monitoring Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "877"  where id = '4617'
=>>>>>>>>>>>>>>>>>>>>>> 12119 /lvl2/ Channel Policy & Performance Monitoring Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "877"  where id = '12119'
=>>>>>>>>>>>>>>>>>>>>>> 12146 /lvl2/ Channel Policy & Performance Monitoring Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "877"  where id = '12146'
1157 /lvl1/ Corporate Secretary & Communications Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16283 /lvl2/ Corporate Secretary & Communications Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1157"  where id = '16283'
3728 /lvl1/ Marketing Officer For Preschool & Primary Level
2463 /lvl1/ Human Resources & Talent Acquisition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17674 /lvl2/ Human Resources & TALENT ACQUISITION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & TALENT ACQUISITION SPECIALIST", title_clean   = "Human Resources & TALENT ACQUISITION SPECIALIST", title_id  = "2463"  where id = '17674'
=>>>>>>>>>>>>>>>>>>>>>> 17689 /lvl2/ Human Resources & TALENT ACQUISITION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & TALENT ACQUISITION SPECIALIST", title_clean   = "Human Resources & TALENT ACQUISITION SPECIALIST", title_id  = "2463"  where id = '17689'
3488 /lvl1/ Manager Corporate Secretary, Legal & Compliance
6077 /lvl1/ Staff IT Programmer Untuk Mobile Apps Developer
=>>>>>>>>>>>>>>>>>>>>>> 9597 /lvl2/ Staff IT Programmer Untuk Mobile Apps Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6077"  where id = '9597'
3530 /lvl1/ Manager Peternakan Ikan & Udang Tawar Aquaponik
=>>>>>>>>>>>>>>>>>>>>>> 7997 /lvl2/ MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK", title_clean   = "MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK", title_id  = "3530"  where id = '7997'
=>>>>>>>>>>>>>>>>>>>>>> 8308 /lvl2/ MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK", title_clean   = "MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK", title_id  = "3530"  where id = '8308'
=>>>>>>>>>>>>>>>>>>>>>> 9529 /lvl2/ MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK", title_clean   = "MANAGER PETERNAKAN IKAN & UDANG TAWAR AQUAPONIK", title_id  = "3530"  where id = '9529'
3533 /lvl1/ Manager Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 1468 /lvl2/ Manager Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3533"  where id = '1468'
2513 /lvl1/ Human Resources Payroll, Compensation & Benefit
3305 /lvl1/ Lead Hospital Business Process Internal Auditor
2031 /lvl1/ Financial Planning & Analysis Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20003 /lvl2/ Financial Planning & Analysis Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2031"  where id = '20003'
4342 /lvl1/ Production Planning & Inventory Control Manager
=>>>>>>>>>>>>>>>>>>>>>> 1640 /lvl2/ Production Planning & Inventory Control Manager (Perusahaan Maklon Skincare dan Kosmetik)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Perusahaan Maklon Skincare dan Kosmetik)", title_clean   = " (Perusahaan Maklon Skincare dan Kosmetik)", title_id  = "4342"  where id = '1640'
=>>>>>>>>>>>>>>>>>>>>>> 6887 /lvl2/ Production Planning & Inventory Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4342"  where id = '6887'
=>>>>>>>>>>>>>>>>>>>>>> 9473 /lvl2/ Production Planning & Inventory Control MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control MANAGER", title_clean   = "Production Planning & Inventory Control MANAGER", title_id  = "4342"  where id = '9473'
=>>>>>>>>>>>>>>>>>>>>>> 15166 /lvl2/ Production Planning & Inventory Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4342"  where id = '15166'
=>>>>>>>>>>>>>>>>>>>>>> 15980 /lvl2/ Production Planning & Inventory Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4342"  where id = '15980'
=>>>>>>>>>>>>>>>>>>>>>> 16073 /lvl2/ Production Planning & Inventory Control Manager (Manufacturing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Manufacturing)", title_clean   = " (Manufacturing)", title_id  = "4342"  where id = '16073'
=>>>>>>>>>>>>>>>>>>>>>> 17774 /lvl2/ Production Planning & Inventory Control MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control MANAGER", title_clean   = "Production Planning & Inventory Control MANAGER", title_id  = "4342"  where id = '17774'
=>>>>>>>>>>>>>>>>>>>>>> 19162 /lvl2/ Production Planning & Inventory Control Manager (ID: 550039)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ID: 550039)", title_clean   = " (ID: 550039)", title_id  = "4342"  where id = '19162'
4855 /lvl1/ Recausticizing, Lime Kiln, Bark GAsifier Expert

=>>>>>>>>>>>>>>>>>>>>>> 2940 /lvl2/ Recausticizing, Lime Kiln, Bark Gasifier Expert
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Recausticizing, Lime Kiln, Bark Gasifier Expert", title_clean   = "Recausticizing, Lime Kiln, Bark Gasifier Expert", title_id  = "4855"  where id = '2940'
1286 /lvl1/ Customer Relation & Loyalty Management Manager
787 /lvl1/ Business Planning & Development Vice President
=>>>>>>>>>>>>>>>>>>>>>> 19846 /lvl2/ Business Planning & Development Vice President
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "787"  where id = '19846'
6163 /lvl1/ Staff Senior Research and Development Kosmetik
=>>>>>>>>>>>>>>>>>>>>>> 18573 /lvl2/ STAFF SENIOR Research and Development KOSMETIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF SENIOR Research and Development KOSMETIK", title_clean   = "STAFF SENIOR Research and Development KOSMETIK", title_id  = "6163"  where id = '18573'
3353 /lvl1/ Legal & Human Resources Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 16991 /lvl2/ LEGAL & Human Resources Development SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEGAL & Human Resources Development SUPERVISOR", title_clean   = "LEGAL & Human Resources Development SUPERVISOR", title_id  = "3353"  where id = '16991'
5931 /lvl1/ Staff Representatif Officer Sdm Bekasi & Depok
6195 /lvl1/ Store Development Executive Project Management
2612 /lvl1/ Human Capital Government & Industrial Relation
=>>>>>>>>>>>>>>>>>>>>>> 7595 /lvl2/ Human Capital Government & Industrial Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2612"  where id = '7595'
2637 /lvl1/ Human Resources Organization Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 14592 /lvl2/ Human Resources Organization Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2637"  where id = '14592'
4174 /lvl1/ Pejabat Eksekutif Kepatuhan & Manajemen Risiko
2137 /lvl1/ Functional Consultant / Application Consultant
2910 /lvl1/ It Hardware & Infrastructure Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 17498 /lvl2/ IT Hardware & Infrastructure Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Hardware & Infrastructure Assistant Manager", title_clean   = "IT Hardware & Infrastructure Assistant Manager", title_id  = "2910"  where id = '17498'
3692 /lvl1/ Marketing Executive & Personal Banking Officer
=>>>>>>>>>>>>>>>>>>>>>> 19731 /lvl2/ MARKETING EXECUTIVE & PERSONAL BANKING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE & PERSONAL BANKING OFFICER", title_clean   = "MARKETING EXECUTIVE & PERSONAL BANKING OFFICER", title_id  = "3692"  where id = '19731'
2944 /lvl1/ It Manufacturing System Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8730 /lvl2/ IT Manufacturing System Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Manufacturing System Development Supervisor", title_clean   = "IT Manufacturing System Development Supervisor", title_id  = "2944"  where id = '8730'
6544 /lvl1/ Teacher / Assistant Teacher Bumi Serpong Damai
2203 /lvl1/ General Manager Furniture Interior Manufacture
=>>>>>>>>>>>>>>>>>>>>>> 15732 /lvl2/ General Manager Furniture Interior Manufacture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2203"  where id = '15732'
682 /lvl1/ Brand Investment & Consumer Engagement Manager
=>>>>>>>>>>>>>>>>>>>>>> 500 /lvl2/ Brand Investment & Consumer Engagement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "682"  where id = '500'
6849 /lvl1/ Underwriter Life Reinsurance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 7648 /lvl2/ Underwriter Life Reinsurance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6849"  where id = '7648'
2499 /lvl1/ Human Resources Manager Compensation & Benefit
4552 /lvl1/ Project Coordinator & Administrator Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15334 /lvl2/ Project Coordinator & Administrator Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4552"  where id = '15334'
1742 /lvl1/ Environmental Sustainability Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 17827 /lvl2/ Environmental Sustainability Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1742"  where id = '17827'
=>>>>>>>>>>>>>>>>>>>>>> 17848 /lvl2/ Environmental Sustainability Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1742"  where id = '17848'
=>>>>>>>>>>>>>>>>>>>>>> 18826 /lvl2/ Environmental Sustainability Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1742"  where id = '18826'
466 /lvl1/ Assistant Manager Risk Management & Compliance
5074 /lvl1/ Sales Account Manager P&P, West Java Indonesia
=>>>>>>>>>>>>>>>>>>>>>> 4484 /lvl2/ Sales Account Manager P&P, West Java Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5074"  where id = '4484'
727 /lvl1/ Business & Technology Integration Section Head
=>>>>>>>>>>>>>>>>>>>>>> 16710 /lvl2/ Business & Technology Integration Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "727"  where id = '16710'
4828 /lvl1/ Research and Development Formulator Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5509 /lvl2/ Research and Development FORMULATOR SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Research and Development FORMULATOR SUPERVISOR", title_clean   = "Research and Development FORMULATOR SUPERVISOR", title_id  = "4828"  where id = '5509'
5596 /lvl1/ Senior Product Planning Specialist Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 18062 /lvl2/ Senior Product Planning Specialist Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5596"  where id = '18062'
4062 /lvl1/ Operations Intern For Voice Chat Streaming App
=>>>>>>>>>>>>>>>>>>>>>> 7933 /lvl2/ Operations Intern for Voice Chat Streaming APP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operations Intern for Voice Chat Streaming APP", title_clean   = "Operations Intern for Voice Chat Streaming APP", title_id  = "4062"  where id = '7933'
=>>>>>>>>>>>>>>>>>>>>>> 8250 /lvl2/ Operations Intern for Voice Chat Streaming APP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operations Intern for Voice Chat Streaming APP", title_clean   = "Operations Intern for Voice Chat Streaming APP", title_id  = "4062"  where id = '8250'
4064 /lvl1/ Operations Quality Assurance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 4776 /lvl2/ Operations Quality Assurance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4064"  where id = '4776'
740 /lvl1/ Business Consultant Kairos Development Program
=>>>>>>>>>>>>>>>>>>>>>> 2464 /lvl2/ BUSINESS CONSULTANT KAIROS DEVELOPMENT PROGRAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS CONSULTANT KAIROS DEVELOPMENT PROGRAM", title_clean   = "BUSINESS CONSULTANT KAIROS DEVELOPMENT PROGRAM", title_id  = "740"  where id = '2464'
6628 /lvl1/ Technology & Maintenance General Utility Staff
=>>>>>>>>>>>>>>>>>>>>>> 18897 /lvl2/ Technology & Maintenance General Utility Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6628"  where id = '18897'
2545 /lvl1/ Human Resources Development & Legal Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19330 /lvl2/ Human Resources Development & LEGAL SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development & LEGAL SUPERVISOR", title_clean   = "Human Resources Development & LEGAL SUPERVISOR", title_id  = "2545"  where id = '19330'
759 /lvl1/ Business Development Manager Chemical Division
512 /lvl1/ Assistant Manager Marketing Logistik Trucking
=>>>>>>>>>>>>>>>>>>>>>> 14238 /lvl2/ ASSISTANT MANAGER MARKETING LOGISTIK TRUCKING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER MARKETING LOGISTIK TRUCKING", title_clean   = "ASSISTANT MANAGER MARKETING LOGISTIK TRUCKING", title_id  = "512"  where id = '14238'
=>>>>>>>>>>>>>>>>>>>>>> 14254 /lvl2/ ASSISTANT MANAGER MARKETING LOGISTIK TRUCKING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER MARKETING LOGISTIK TRUCKING", title_clean   = "ASSISTANT MANAGER MARKETING LOGISTIK TRUCKING", title_id  = "512"  where id = '14254'
2560 /lvl1/ Human Resources Development Senior Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 1615 /lvl2/ Human Resources Development SENIOR SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development SENIOR SUPERVISOR", title_clean   = "Human Resources Development SENIOR SUPERVISOR", title_id  = "2560"  where id = '1615'
4872 /lvl1/ Recruitment & Training Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10390 /lvl2/ Recruitment & Training Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4872"  where id = '10390'
2060 /lvl1/ Floor Coating Business Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7950 /lvl2/ Floor Coating Business Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2060"  where id = '7950'
=>>>>>>>>>>>>>>>>>>>>>> 8265 /lvl2/ Floor Coating Business Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2060"  where id = '8265'
3854 /lvl1/ Medical Service Development Senior Specialist
1043 /lvl1/ Consultant Improvement Quality & Productivity
=>>>>>>>>>>>>>>>>>>>>>> 4431 /lvl2/ Consultant Improvement Quality & Productivity
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1043"  where id = '4431'
2068 /lvl1/ Food & Beverage Business Intelligence Officer
5656 /lvl1/ Senior Talent Acquisition & Employer Branding
2844 /lvl1/ It Application Specialist & Technical Support
3362 /lvl1/ Legal Corporate & Industrial Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 6491 /lvl2/ Legal Corporate & Industrial Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3362"  where id = '6491'
572 /lvl1/ Audit Development & Quality Assurance Officer
=>>>>>>>>>>>>>>>>>>>>>> 907 /lvl2/ Audit Development & Quality Assurance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "572"  where id = '907'
3142 /lvl1/ Junior Supervisor Digital Service Development
=>>>>>>>>>>>>>>>>>>>>>> 3127 /lvl2/ Junior Supervisor Digital Service Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3142"  where id = '3127'
2378 /lvl1/ Head of Marketing Communication & Partnership
=>>>>>>>>>>>>>>>>>>>>>> 10331 /lvl2/ HEAD OF MARKETING COMMUNICATION & PARTNERSHIP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD OF MARKETING COMMUNICATION & PARTNERSHIP", title_clean   = "HEAD OF MARKETING COMMUNICATION & PARTNERSHIP", title_id  = "2378"  where id = '10331'
=>>>>>>>>>>>>>>>>>>>>>> 10346 /lvl2/ HEAD OF MARKETING COMMUNICATION & PARTNERSHIP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD OF MARKETING COMMUNICATION & PARTNERSHIP", title_clean   = "HEAD OF MARKETING COMMUNICATION & PARTNERSHIP", title_id  = "2378"  where id = '10346'
4177 /lvl1/ Pelaksana Lapangan Project Furniture Interior
=>>>>>>>>>>>>>>>>>>>>>> 10422 /lvl2/ Pelaksana Lapangan Project Furniture Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4177"  where id = '10422'
6225 /lvl1/ Strategy & Planning Document Control Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11134 /lvl2/ Strategy & Planning Document Control Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6225"  where id = '11134'
5213 /lvl1/ Sales Manager Audio / Mobile Phone Accesories
3174 /lvl1/ Kepala Bagian Distribusi & Bisnis Development
1650 /lvl1/ Electrical / Instrumentation Engineering Lead
886 /lvl1/ Chef & Assistant Chef, Waitress Store Manager
2175 /lvl1/ General Affairs / Human Resources Development
3220 /lvl1/ Kepala Teknik Mesin Extrusion Untuk Aluminium
=>>>>>>>>>>>>>>>>>>>>>> 9579 /lvl2/ KEPALA TEKNIK MESIN EXTRUSION UNTUK ALUMINIUM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA TEKNIK MESIN EXTRUSION UNTUK ALUMINIUM", title_clean   = "KEPALA TEKNIK MESIN EXTRUSION UNTUK ALUMINIUM", title_id  = "3220"  where id = '9579'
2965 /lvl1/ It Production Support Core & Delivery Channel
=>>>>>>>>>>>>>>>>>>>>>> 20034 /lvl2/ IT Production Support Core & Delivery Channel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Production Support Core & Delivery Channel", title_clean   = "IT Production Support Core & Delivery Channel", title_id  = "2965"  where id = '20034'
3227 /lvl1/ Kepala Urusan Pencatatan & Pelaporan Keuangan
1440 /lvl1/ Desk Collection Quality Control Auditor Agent
=>>>>>>>>>>>>>>>>>>>>>> 17339 /lvl2/ Desk Collection Quality Control Auditor Agent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1440"  where id = '17339'
5541 /lvl1/ Senior Interior Designer For Interior Project
=>>>>>>>>>>>>>>>>>>>>>> 9799 /lvl2/ SENIOR INTERIOR DESIGNER FOR INTERIOR PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR INTERIOR DESIGNER FOR INTERIOR PROJECT", title_clean   = "SENIOR INTERIOR DESIGNER FOR INTERIOR PROJECT", title_id  = "5541"  where id = '9799'
939 /lvl1/ Claim Reporting, Data & System Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 18376 /lvl2/ Claim Reporting, Data & System Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "939"  where id = '18376'
6587 /lvl1/ Technical Quality Assurance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 2348 /lvl2/ Technical Quality Assurance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6587"  where id = '2348'
6602 /lvl1/ Technical Specificator For Project Management
=>>>>>>>>>>>>>>>>>>>>>> 17782 /lvl2/ Technical Specificator for Project Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical Specificator for Project Management", title_clean   = "Technical Specificator for Project Management", title_id  = "6602"  where id = '17782'
6608 /lvl1/ Technical Support After Sales Department Head
=>>>>>>>>>>>>>>>>>>>>>> 11520 /lvl2/ Technical Support After Sales Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6608"  where id = '11520'
=>>>>>>>>>>>>>>>>>>>>>> 11562 /lvl2/ Technical Support After Sales Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6608"  where id = '11562'
4821 /lvl1/ Research and Development Cosmetics Formulator
=>>>>>>>>>>>>>>>>>>>>>> 12939 /lvl2/ Research and Development Cosmetics Formulator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4821"  where id = '12939'
=>>>>>>>>>>>>>>>>>>>>>> 12963 /lvl2/ Research and Development Cosmetics Formulator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4821"  where id = '12963'
2774 /lvl1/ International Business Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2223 /lvl2/ International Business Development Supervisor (China Market)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (China Market)", title_clean   = " (China Market)", title_id  = "2774"  where id = '2223'
=>>>>>>>>>>>>>>>>>>>>>> 11830 /lvl2/ International Business Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2774"  where id = '11830'
2521 /lvl1/ Human Resources Recruitment & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 816 /lvl2/ Human Resources Recruitment & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2521"  where id = '816'
1248 /lvl1/ Customer Relationship Management Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 19112 /lvl2/ Customer Relationship Management Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1248"  where id = '19112'
6368 /lvl1/ Supervisor Research and Development Formulasi
=>>>>>>>>>>>>>>>>>>>>>> 12328 /lvl2/ Supervisor Research and Development Formulasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6368"  where id = '12328'
=>>>>>>>>>>>>>>>>>>>>>> 12347 /lvl2/ Supervisor Research and Development Formulasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6368"  where id = '12347'
6627 /lvl1/ Technology & Maintenance Equipment Technician
=>>>>>>>>>>>>>>>>>>>>>> 13286 /lvl2/ Technology & Maintenance Equipment Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6627"  where id = '13286'
4836 /lvl1/ Research and Development Packaging Specialist

2542 /lvl1/ Human Resources Development & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 397 /lvl2/ Admin Human Resources Development & General Affairs Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin -idex- Bogor", title_clean   = "Admin  Bogor", title_id  = "2542"  where id = '397'
=>>>>>>>>>>>>>>>>>>>>>> 420 /lvl2/ Admin Human Resources Development & General Affairs Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin -idex- Bogor", title_clean   = "Admin  Bogor", title_id  = "2542"  where id = '420'
=>>>>>>>>>>>>>>>>>>>>>> 2780 /lvl2/ Human Resources Development & General Affairs (f&b industry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (f&b industry)", title_clean   = " (f&b industry)", title_id  = "2542"  where id = '2780'
=>>>>>>>>>>>>>>>>>>>>>> 12543 /lvl2/ Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2542"  where id = '12543'
=>>>>>>>>>>>>>>>>>>>>>> 16585 /lvl2/ Human Resources Development & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2542"  where id = '16585'
=>>>>>>>>>>>>>>>>>>>>>> 18725 /lvl2/ Human Resources Development & General Affairs (SEMARANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SEMARANG)", title_clean   = " (SEMARANG)", title_id  = "2542"  where id = '18725'
6126 /lvl1/ Staff Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 3711 /lvl2/ Staff Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6126"  where id = '3711'
=>>>>>>>>>>>>>>>>>>>>>> 4490 /lvl2/ Staff Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6126"  where id = '4490'
=>>>>>>>>>>>>>>>>>>>>>> 6954 /lvl2/ STAFF Production Planning & Inventory Control - CV DHARMA EKA MAHESWARA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Production Planning & Inventory Control - CV DHARMA EKA MAHESWARA", title_clean   = "STAFF Production Planning & Inventory Control - CV DHARMA EKA MAHESWARA", title_id  = "6126"  where id = '6954'
=>>>>>>>>>>>>>>>>>>>>>> 12742 /lvl2/ Staff Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6126"  where id = '12742'
=>>>>>>>>>>>>>>>>>>>>>> 15319 /lvl2/ Staff Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6126"  where id = '15319'
=>>>>>>>>>>>>>>>>>>>>>> 15976 /lvl2/ STAFF Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Production Planning & Inventory Control", title_clean   = "STAFF Production Planning & Inventory Control", title_id  = "6126"  where id = '15976'
=>>>>>>>>>>>>>>>>>>>>>> 16792 /lvl2/ Staff Production Planning & Inventory Control ( Garment )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Garment )", title_clean   = " ( Garment )", title_id  = "6126"  where id = '16792'
=>>>>>>>>>>>>>>>>>>>>>> 18815 /lvl2/ STAFF Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Production Planning & Inventory Control", title_clean   = "STAFF Production Planning & Inventory Control", title_id  = "6126"  where id = '18815'
=>>>>>>>>>>>>>>>>>>>>>> 19748 /lvl2/ STAFF Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Production Planning & Inventory Control", title_clean   = "STAFF Production Planning & Inventory Control", title_id  = "6126"  where id = '19748'
239 /lvl1/ Admin Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 15138 /lvl2/ Admin Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "239"  where id = '15138'
6640 /lvl1/ Teknisi & IT Mesin Absensi, Akses Pintu& Cctv
4849 /lvl1/ React Js Web & Mobile App Front End Developer
5618 /lvl1/ Senior Relationship Manager Corporate Banking
=>>>>>>>>>>>>>>>>>>>>>> 16450 /lvl2/ Senior Relationship Manager Corporate Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5618"  where id = '16450'
1019 /lvl1/ Compensation Benefit & Share Services Manager
=>>>>>>>>>>>>>>>>>>>>>> 9653 /lvl2/ Compensation Benefit & Share Services Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1019"  where id = '9653'
4347 /lvl1/ Production Planning & Inventory Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 279 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '279'
=>>>>>>>>>>>>>>>>>>>>>> 312 /lvl2/ Production Planning & Inventory Control STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control STAFF", title_clean   = "Production Planning & Inventory Control STAFF", title_id  = "4347"  where id = '312'
=>>>>>>>>>>>>>>>>>>>>>> 320 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '320'
=>>>>>>>>>>>>>>>>>>>>>> 2832 /lvl2/ Production Planning & Inventory Control Staff (Padalarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Padalarang)", title_clean   = " (Padalarang)", title_id  = "4347"  where id = '2832'
=>>>>>>>>>>>>>>>>>>>>>> 3102 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '3102'
=>>>>>>>>>>>>>>>>>>>>>> 3373 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '3373'
=>>>>>>>>>>>>>>>>>>>>>> 4286 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '4286'
=>>>>>>>>>>>>>>>>>>>>>> 4834 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '4834'
=>>>>>>>>>>>>>>>>>>>>>> 5609 /lvl2/ Production, Planning & Inventory Control Staff (Production Planning & Inventory Control Staff)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production, Planning & Inventory Control Staff (-idex-)", title_clean   = "Production, Planning & Inventory Control Staff ()", title_id  = "4347"  where id = '5609'
=>>>>>>>>>>>>>>>>>>>>>> 8644 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '8644'
=>>>>>>>>>>>>>>>>>>>>>> 9301 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '9301'
=>>>>>>>>>>>>>>>>>>>>>> 9609 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '9609'
=>>>>>>>>>>>>>>>>>>>>>> 10490 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '10490'
=>>>>>>>>>>>>>>>>>>>>>> 11097 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '11097'
=>>>>>>>>>>>>>>>>>>>>>> 11486 /lvl2/ Production Planning & Inventory Control STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control STAFF", title_clean   = "Production Planning & Inventory Control STAFF", title_id  = "4347"  where id = '11486'
=>>>>>>>>>>>>>>>>>>>>>> 12504 /lvl2/ Production Planning & Inventory Control STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control STAFF", title_clean   = "Production Planning & Inventory Control STAFF", title_id  = "4347"  where id = '12504'
=>>>>>>>>>>>>>>>>>>>>>> 16535 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '16535'
=>>>>>>>>>>>>>>>>>>>>>> 18301 /lvl2/ Production Planning & Inventory Control STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control STAFF", title_clean   = "Production Planning & Inventory Control STAFF", title_id  = "4347"  where id = '18301'
=>>>>>>>>>>>>>>>>>>>>>> 18987 /lvl2/ Production Planning & Inventory Control STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control STAFF", title_clean   = "Production Planning & Inventory Control STAFF", title_id  = "4347"  where id = '18987'
=>>>>>>>>>>>>>>>>>>>>>> 19584 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '19584'
=>>>>>>>>>>>>>>>>>>>>>> 19697 /lvl2/ Production Planning & Inventory Control STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning & Inventory Control STAFF", title_clean   = "Production Planning & Inventory Control STAFF", title_id  = "4347"  where id = '19697'
=>>>>>>>>>>>>>>>>>>>>>> 20436 /lvl2/ Production Planning & Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4347"  where id = '20436'
2558 /lvl1/ Human Resources Development Recruitment Staff

=>>>>>>>>>>>>>>>>>>>>>> 12948 /lvl2/ Human Resources Development Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2558"  where id = '12948'
3582 /lvl1/ Mandarin Translator For Construction Industry
=>>>>>>>>>>>>>>>>>>>>>> 12056 /lvl2/ Mandarin Translator for Construction Industry
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mandarin Translator for Construction Industry", title_clean   = "Mandarin Translator for Construction Industry", title_id  = "3582"  where id = '12056'
2559 /lvl1/ Human Resources Development Sekolah Playfield
=>>>>>>>>>>>>>>>>>>>>>> 20179 /lvl2/ Human Resources Development Sekolah Playfield
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2559"  where id = '20179'
1537 /lvl1/ Document Control, Health & Safety Supervisor
5386 /lvl1/ Sea Export Import Freight Forwarding Manager
=>>>>>>>>>>>>>>>>>>>>>> 2933 /lvl2/ Sea Export Import Freight Forwarding Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5386"  where id = '2933'
=>>>>>>>>>>>>>>>>>>>>>> 3729 /lvl2/ Sea Export Import Freight Forwarding Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5386"  where id = '3729'
6667 /lvl1/ Teknisi Kelistrikan / Electrical Engineering
4108 /lvl1/ Organization & People Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 15878 /lvl2/ Organization & People Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4108"  where id = '15878'
1037 /lvl1/ Consolidation Reporting & Analyst Specialist
=>>>>>>>>>>>>>>>>>>>>>> 12879 /lvl2/ Consolidation Reporting & Analyst Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1037"  where id = '12879'
3086 /lvl1/ Junior Assistant For Reservation & Ticketing
=>>>>>>>>>>>>>>>>>>>>>> 18155 /lvl2/ Junior Assistant for Reservation & Ticketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior Assistant for Reservation & Ticketing", title_clean   = "Junior Assistant for Reservation & Ticketing", title_id  = "3086"  where id = '18155'
4111 /lvl1/ Organization Development & Talent Specialist
=>>>>>>>>>>>>>>>>>>>>>> 993 /lvl2/ Organization Development & Talent Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4111"  where id = '993'
540 /lvl1/ Assistant Recruitment & Development Director
=>>>>>>>>>>>>>>>>>>>>>> 12383 /lvl2/ Assistant Recruitment & Development Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "540"  where id = '12383'
5164 /lvl1/ Sales Executive Coating / Cosmetic / Plastic
2355 /lvl1/ Head of Enterprise Business Management Sales
=>>>>>>>>>>>>>>>>>>>>>> 11274 /lvl2/ Head of Enterprise Business Management Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2355"  where id = '11274'
5694 /lvl1/ Sequis Training Academy of Excellence Intern
=>>>>>>>>>>>>>>>>>>>>>> 7958 /lvl2/ Sequis Training Academy of Excellence Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5694"  where id = '7958'
3143 /lvl1/ Junior Supervisor Human Resources Generalist
=>>>>>>>>>>>>>>>>>>>>>> 1169 /lvl2/ Junior Supervisor Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3143"  where id = '1169'
6222 /lvl1/ Strategic Planning & Risk Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 9805 /lvl2/ Strategic Planning & Risk Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6222"  where id = '9805'
2905 /lvl1/ It Governance Risk Management Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 2865 /lvl2/ IT Governance Risk Management Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Governance Risk Management Senior Officer", title_clean   = "IT Governance Risk Management Senior Officer", title_id  = "2905"  where id = '2865'
1115 /lvl1/ Corporate Accounting Consolidation Reporting
=>>>>>>>>>>>>>>>>>>>>>> 12381 /lvl2/ Corporate Accounting Consolidation Reporting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1115"  where id = '12381'
6748 /lvl1/ Test Engineer With Api Automation Experience
=>>>>>>>>>>>>>>>>>>>>>> 15193 /lvl2/ Test Engineer with API Automation experience
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Test Engineer with API Automation experience", title_clean   = "Test Engineer with API Automation experience", title_id  = "6748"  where id = '15193'
610 /lvl1/ Bank & Fintech Partnership Assistant Manager
1125 /lvl1/ Corporate Communication Content Writer Staff
=>>>>>>>>>>>>>>>>>>>>>> 16457 /lvl2/ Corporate Communication Content Writer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1125"  where id = '16457'
7016 /lvl1/ Youtube & Tiktok Content Writer & Idea Maker
=>>>>>>>>>>>>>>>>>>>>>> 2720 /lvl2/ Youtube & Tiktok Content Writer & Idea Maker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7016"  where id = '2720'
2924 /lvl1/ It Infrastructure & Cloud Solution Architect
622 /lvl1/ Basic Management Development Program Finance
=>>>>>>>>>>>>>>>>>>>>>> 16878 /lvl2/ Basic Management Development Program Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "622"  where id = '16878'
=>>>>>>>>>>>>>>>>>>>>>> 17134 /lvl2/ Basic Management Development Program Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "622"  where id = '17134'
=>>>>>>>>>>>>>>>>>>>>>> 17829 /lvl2/ Basic Management Development Program Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "622"  where id = '17829'
3711 /lvl1/ Marketing Kota Tangerang & Tangerang Selatan
=>>>>>>>>>>>>>>>>>>>>>> 17137 /lvl2/ Marketing Kota Tangerang & Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3711"  where id = '17137'
3462 /lvl1/ Management Improvement & She Department Head
2455 /lvl1/ Human Resources & General Affairs Generalist
=>>>>>>>>>>>>>>>>>>>>>> 1371 /lvl2/ Human Resources & General Affairs GENERALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs GENERALIST", title_clean   = "Human Resources & General Affairs GENERALIST", title_id  = "2455"  where id = '1371'
2459 /lvl1/ Human Resources & General Affairs Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 747 /lvl2/ Human Resources & General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2459"  where id = '747'
=>>>>>>>>>>>>>>>>>>>>>> 1391 /lvl2/ Human Resources & General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2459"  where id = '1391'
=>>>>>>>>>>>>>>>>>>>>>> 11941 /lvl2/ Human Resources & General Affairs SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs SUPERVISOR", title_clean   = "Human Resources & General Affairs SUPERVISOR", title_id  = "2459"  where id = '11941'
=>>>>>>>>>>>>>>>>>>>>>> 16368 /lvl2/ Human Resources & General Affairs Supervisor - Metland Cibitung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Metland Cibitung", title_clean   = " - Metland Cibitung", title_id  = "2459"  where id = '16368'
=>>>>>>>>>>>>>>>>>>>>>> 16994 /lvl2/ Human Resources & General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2459"  where id = '16994'
6556 /lvl1/ Team Leader Network Structure Cabling System
=>>>>>>>>>>>>>>>>>>>>>> 2262 /lvl2/ Team Leader Network Structure Cabling System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6556"  where id = '2262'
5789 /lvl1/ Social Media Specialist / Senior Copywriting
5797 /lvl1/ Sociology Teacher For Secondary School Level
=>>>>>>>>>>>>>>>>>>>>>> 7706 /lvl2/ Sociology Teacher for Secondary School Level
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sociology Teacher for Secondary School Level", title_clean   = "Sociology Teacher for Secondary School Level", title_id  = "5797"  where id = '7706'
6055 /lvl1/ Staff Human Resources Development Generalist

=>>>>>>>>>>>>>>>>>>>>>> 253 /lvl2/ STAFF Human Resources Development GENERALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development GENERALIST", title_clean   = "STAFF Human Resources Development GENERALIST", title_id  = "6055"  where id = '253'
2473 /lvl1/ Human Resources Compensation & Benefit Staff
=>>>>>>>>>>>>>>>>>>>>>> 230 /lvl2/ Human Resources Compensation & Benefit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2473"  where id = '230'
432 /lvl1/ Asisten Manager Operation & Maintenance FTTH
=>>>>>>>>>>>>>>>>>>>>>> 8899 /lvl2/ ASISTEN MANAGER OPERATION & MAINTENANCE FTTH
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN MANAGER OPERATION & MAINTENANCE FTTH", title_clean   = "ASISTEN MANAGER OPERATION & MAINTENANCE FTTH", title_id  = "432"  where id = '8899'
6606 /lvl1/ Technical Support Administration & Inspector
=>>>>>>>>>>>>>>>>>>>>>> 11714 /lvl2/ Technical Support Administration & Inspector
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6606"  where id = '11714'
1232 /lvl1/ Credit Policy Multiproduct Assistant Manager
2769 /lvl1/ Internal Marketing Devevelopment Bpm Officer
=>>>>>>>>>>>>>>>>>>>>>> 1454 /lvl2/ Internal Marketing Devevelopment BPM Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Internal Marketing Devevelopment BPM Officer", title_clean   = "Internal Marketing Devevelopment BPM Officer", title_id  = "2769"  where id = '1454'
2772 /lvl1/ International Business Development Executive
=>>>>>>>>>>>>>>>>>>>>>> 3404 /lvl2/ International Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2772"  where id = '3404'
2524 /lvl1/ Human Resources Recruitment & Training Staff
=>>>>>>>>>>>>>>>>>>>>>> 2159 /lvl2/ Human Resources Recruitment & Training Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2524"  where id = '2159'
=>>>>>>>>>>>>>>>>>>>>>> 12871 /lvl2/ Human Resources Recruitment & Training Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2524"  where id = '12871'
6113 /lvl1/ Staff Operasional Lapangan Penempatan Lombok
=>>>>>>>>>>>>>>>>>>>>>> 5717 /lvl2/ Staff operasional lapangan penempatan lombok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff operasional lapangan penempatan lombok", title_clean   = "Staff operasional lapangan penempatan lombok", title_id  = "6113"  where id = '5717'
757 /lvl1/ Business Development Logistik / Transportasi
=>>>>>>>>>>>>>>>>>>>>>> 12588 /lvl2/ BUSINESS DEVELOPMENT LOGISTIK / TRANSPORTASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT LOGISTIK / TRANSPORTASI", title_clean   = "BUSINESS DEVELOPMENT LOGISTIK / TRANSPORTASI", title_id  = "757"  where id = '12588'
5109 /lvl1/ Sales Chemical For Personal Care & Home Care
3324 /lvl1/ Learning & Curriculum Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19413 /lvl2/ Learning & Curriculum Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3324"  where id = '19413'
1036 /lvl1/ Consolidation Budget & Reporting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19948 /lvl2/ Consolidation Budget & Reporting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1036"  where id = '19948'
6681 /lvl1/ Teknisi Mesin & Listrik / Engineering Staff
4380 /lvl1/ Pricing & Solution Design AssisstantManager
5404 /lvl1/ Secretary of Digital Business Study Program
=>>>>>>>>>>>>>>>>>>>>>> 3014 /lvl2/ Secretary of Digital Business Study Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5404"  where id = '3014'
3873 /lvl1/ Merchandiser Personal Care, Health & Beauty
2083 /lvl1/ Foreman Service & Maintenance Diesel Engine
=>>>>>>>>>>>>>>>>>>>>>> 3257 /lvl2/ Foreman Service & Maintenance Diesel Engine
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2083"  where id = '3257'
60 /lvl1/ Accountant, Account Officer, Tax Consultant
=>>>>>>>>>>>>>>>>>>>>>> 3727 /lvl2/ Accountant, Account officer, Tax Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accountant, Account officer, Tax Consultant", title_clean   = "Accountant, Account officer, Tax Consultant", title_id  = "60"  where id = '3727'
2620 /lvl1/ Human Resource & General Affairs Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20241 /lvl2/ Human Resource & General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2620"  where id = '20241'
1086 /lvl1/ Continues Improvement Harvesting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19184 /lvl2/ Continues Improvement Harvesting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1086"  where id = '19184'
2885 /lvl1/ It Database Administrator & Release Manager
=>>>>>>>>>>>>>>>>>>>>>> 17585 /lvl2/ IT Database Administrator & Release Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Database Administrator & Release Manager", title_clean   = "IT Database Administrator & Release Manager", title_id  = "2885"  where id = '17585'
3656 /lvl1/ Marketing Communication / Strategic Planner
6735 /lvl1/ Tenant Relation For Apartemen Plaza Senayan
=>>>>>>>>>>>>>>>>>>>>>> 19841 /lvl2/ Tenant Relation for Apartemen Plaza Senayan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tenant Relation for Apartemen Plaza Senayan", title_clean   = "Tenant Relation for Apartemen Plaza Senayan", title_id  = "6735"  where id = '19841'
2897 /lvl1/ It Enterprise Plantation System Development
=>>>>>>>>>>>>>>>>>>>>>> 19154 /lvl2/ IT Enterprise Plantation System Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Enterprise Plantation System Development", title_clean   = "IT Enterprise Plantation System Development", title_id  = "2897"  where id = '19154'
1876 /lvl1/ Fare Load With English Communication Skills
=>>>>>>>>>>>>>>>>>>>>>> 10902 /lvl2/ Fare Load with English Communication Skills
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fare Load with English Communication Skills", title_clean   = "Fare Load with English Communication Skills", title_id  = "1876"  where id = '10902'
7000 /lvl1/ Well Integrity / Valve Maintenance Engineer
4959 /lvl1/ Reporting & Consolidation Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 18669 /lvl2/ Reporting & Consolidation Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4959"  where id = '18669'
3192 /lvl1/ Kepala Departemen Remunerasi & Administrasi
5496 /lvl1/ Senior Corporate Legal & Compliance Manager
=>>>>>>>>>>>>>>>>>>>>>> 15984 /lvl2/ Senior Corporate Legal & Compliance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5496"  where id = '15984'
2691 /lvl1/ Industrial & Employee Relation Section Head
=>>>>>>>>>>>>>>>>>>>>>> 20518 /lvl2/ Industrial & Employee Relation Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2691"  where id = '20518'
3470 /lvl1/ Management Trainee Research and Development
=>>>>>>>>>>>>>>>>>>>>>> 11430 /lvl2/ Management Trainee Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3470"  where id = '11430'
5774 /lvl1/ Social Media & Content Marketing Specialist
2704 /lvl1/ Industrial Relations Manager Heavy Industry
3480 /lvl1/ Manager Batching Plant, Concrete & Material
=>>>>>>>>>>>>>>>>>>>>>> 14568 /lvl2/ MANAGER BATCHING PLANT, CONCRETE & MATERIAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER BATCHING PLANT, CONCRETE & MATERIAL", title_clean   = "MANAGER BATCHING PLANT, CONCRETE & MATERIAL", title_id  = "3480"  where id = '14568'
=>>>>>>>>>>>>>>>>>>>>>> 14584 /lvl2/ MANAGER BATCHING PLANT, CONCRETE & MATERIAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER BATCHING PLANT, CONCRETE & MATERIAL", title_clean   = "MANAGER BATCHING PLANT, CONCRETE & MATERIAL", title_id  = "3480"  where id = '14584'
2204 /lvl1/ General Manager Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 15074 /lvl2/ General Manager Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2204"  where id = '15074'
=>>>>>>>>>>>>>>>>>>>>>> 15705 /lvl2/ General Manager Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2204"  where id = '15705'
5791 /lvl1/ Social Media Specialist & Marketing Support

=>>>>>>>>>>>>>>>>>>>>>> 3997 /lvl2/ Social Media Specialist & Marketing Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5791"  where id = '3997'
4768 /lvl1/ Quality Assurance / Quality Control Manager
=>>>>>>>>>>>>>>>>>>>>>> 1515 /lvl2/ QUALITY ASSURANCE / QUALITY CONTROL MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY ASSURANCE / QUALITY CONTROL MANAGER", title_clean   = "QUALITY ASSURANCE / QUALITY CONTROL MANAGER", title_id  = "4768"  where id = '1515'
5025 /lvl1/ Sacme Project Coordinator / Project Manager
6568 /lvl1/ Technical & Product Support Home Automation
431 /lvl1/ Asisten Manager Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 1242 /lvl2/ Asisten Manager Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "431"  where id = '1242'
=>>>>>>>>>>>>>>>>>>>>>> 1264 /lvl2/ Asisten Manager Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "431"  where id = '1264'
2481 /lvl1/ Human Resources General Affairs Ass Manager
=>>>>>>>>>>>>>>>>>>>>>> 14928 /lvl2/ Human Resources General Affairs Ass Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2481"  where id = '14928'
5815 /lvl1/ Software Quality Assurance & Implementation
3773 /lvl1/ Master Data Management Administration Staff
=>>>>>>>>>>>>>>>>>>>>>> 16465 /lvl2/ Master Data Management Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3773"  where id = '16465'
968 /lvl1/ Cloud Support Specialist / Support Engineer
2504 /lvl1/ Human Resources Operation Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 17381 /lvl2/ Human Resources Operation Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2504"  where id = '17381'
2002 /lvl1/ Finance, Accounting & Tax Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 20501 /lvl2/ Finance, Accounting & Tax Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2002"  where id = '20501'
6357 /lvl1/ Supervisor Purchasing Spare Parts & Project
=>>>>>>>>>>>>>>>>>>>>>> 544 /lvl2/ Supervisor Purchasing Spare Parts & Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6357"  where id = '544'
4833 /lvl1/ Research and Development Officer & Apoteker
1251 /lvl1/ Customer Relationship Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10068 /lvl2/ Customer Relationship Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1251"  where id = '10068'
3818 /lvl1/ Mechanical & Electrical Project Engineering
1260 /lvl1/ Csr & Project Kegiatan Masyarakat Organiser
2548 /lvl1/ Human Resources Development General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 238 /lvl2/ Human Resources Development General Affairs  /  Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Human ResourcesGA", title_clean   = "  /  Human ResourcesGA", title_id  = "2548"  where id = '238'
6393 /lvl1/ Supervisor Talent Acquisition / Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 1544 /lvl2/ Supervisor Talent Acquisition / Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6393"  where id = '1544'
521 /lvl1/ Assistant Manager Research and Development
=>>>>>>>>>>>>>>>>>>>>>> 20322 /lvl2/ Assistant Manager Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "521"  where id = '20322'
4633 /lvl1/ Property, Eng& Liability Flow Underwriting
4890 /lvl1/ Refrigerator & Freezer Product Development
=>>>>>>>>>>>>>>>>>>>>>> 4587 /lvl2/ Refrigerator & Freezer Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4890"  where id = '4587'
2075 /lvl1/ Foreman / Supervisor Finishing Body Repair
=>>>>>>>>>>>>>>>>>>>>>> 5219 /lvl2/ Foreman / supervisor finishing body repair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Foreman / supervisor finishing body repair", title_clean   = "Foreman / supervisor finishing body repair", title_id  = "2075"  where id = '5219'
3611 /lvl1/ Marketing / Business Development Education
4134 /lvl1/ Part Network Development & Product Analyst
=>>>>>>>>>>>>>>>>>>>>>> 35 /lvl2/ Part Network Development & Product Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4134"  where id = '35'
40 /lvl1/ Account Payable & Account Receivable Staff
=>>>>>>>>>>>>>>>>>>>>>> 16337 /lvl2/ Account Payable & Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "40"  where id = '16337'
5929 /lvl1/ Staff Quality Control Mikrobiologi Ekstrak
=>>>>>>>>>>>>>>>>>>>>>> 5084 /lvl2/ Staff QUALITY CONTROL MIKROBIOLOGI EKSTRAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff QUALITY CONTROL MIKROBIOLOGI EKSTRAK", title_clean   = "Staff QUALITY CONTROL MIKROBIOLOGI EKSTRAK", title_id  = "5929"  where id = '5084'
=>>>>>>>>>>>>>>>>>>>>>> 6149 /lvl2/ Staff QUALITY CONTROL MIKROBIOLOGI EKSTRAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff QUALITY CONTROL MIKROBIOLOGI EKSTRAK", title_clean   = "Staff QUALITY CONTROL MIKROBIOLOGI EKSTRAK", title_id  = "5929"  where id = '6149'
4143 /lvl1/ Partnership & Public Relations Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 20060 /lvl2/ Partnership & Public Relations Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4143"  where id = '20060'
2864 /lvl1/ It Business Application Analyst Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18749 /lvl2/ IT Business Application Analyst Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Application Analyst Supervisor", title_clean   = "IT Business Application Analyst Supervisor", title_id  = "2864"  where id = '18749'
323 /lvl1/ Advertisement Specialist Digital Marketing
5959 /lvl1/ Staff Accounting & Taxing / Keuangan & Tax
3660 /lvl1/ Marketing Communication Developer Property
=>>>>>>>>>>>>>>>>>>>>>> 19503 /lvl2/ Marketing Communication Developer Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3660"  where id = '19503'
6221 /lvl1/ Strategic Planner Manager / Growth Manager
2384 /lvl1/ Head of Modern Trade Nestlé Purina Petcare
4691 /lvl1/ Purchasing Support For Marketing Promotion
=>>>>>>>>>>>>>>>>>>>>>> 15569 /lvl2/ PURCHASING SUPPORT FOR MARKETING PROMOTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING SUPPORT FOR MARKETING PROMOTION", title_clean   = "PURCHASING SUPPORT FOR MARKETING PROMOTION", title_id  = "4691"  where id = '15569'
=>>>>>>>>>>>>>>>>>>>>>> 15583 /lvl2/ PURCHASING SUPPORT FOR MARKETING PROMOTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING SUPPORT FOR MARKETING PROMOTION", title_clean   = "PURCHASING SUPPORT FOR MARKETING PROMOTION", title_id  = "4691"  where id = '15583'
6233 /lvl1/ Students Administration Services Executive
=>>>>>>>>>>>>>>>>>>>>>> 16939 /lvl2/ Students Administration Services Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6233"  where id = '16939'
4442 /lvl1/ Product Development & Innovation Executive
=>>>>>>>>>>>>>>>>>>>>>> 10974 /lvl2/ Product Development & Innovation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4442"  where id = '10974'
1118 /lvl1/ Corporate Affairs & Sustainability Support
=>>>>>>>>>>>>>>>>>>>>>> 7831 /lvl2/ Corporate Affairs & Sustainability Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1118"  where id = '7831'
=>>>>>>>>>>>>>>>>>>>>>> 8140 /lvl2/ Corporate Affairs & Sustainability Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1118"  where id = '8140'
5982 /lvl1/ Staff Administrasi Honda Amartha Samarinda
=>>>>>>>>>>>>>>>>>>>>>> 17208 /lvl2/ Staff Administrasi Honda Amartha Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5982"  where id = '17208'
2674 /lvl1/ Import Procurement / Purchasing Supervisor
5746 /lvl1/ Site Engineer / Pengawas Proyek Konstruksi
130 /lvl1/ Accounting, Admin Kredit & Account Officer

6276 /lvl1/ Supervisor Dsf Pandeglang & Bekasi Selatan
654 /lvl1/ Blockchain Business Operations & Strategic
=>>>>>>>>>>>>>>>>>>>>>> 6546 /lvl2/ Blockchain Business Operations & Strategic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "654"  where id = '6546'
2711 /lvl1/ Infrastructure & Water Management Regional
4764 /lvl1/ Quality & Process Control Regional Officer
=>>>>>>>>>>>>>>>>>>>>>> 19214 /lvl2/ Quality & Process Control Regional Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4764"  where id = '19214'
5537 /lvl1/ Senior Human Resources Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 14489 /lvl2/ Senior Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5537"  where id = '14489'
=>>>>>>>>>>>>>>>>>>>>>> 14865 /lvl2/ Senior Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5537"  where id = '14865'
6566 /lvl1/ Technical / Implementation Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 7713 /lvl2/ TECHNICAL / IMPLEMENTATION SUPPORT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL / IMPLEMENTATION SUPPORT OFFICER", title_clean   = "TECHNICAL / IMPLEMENTATION SUPPORT OFFICER", title_id  = "6566"  where id = '7713'
2483 /lvl1/ Human Resources General Affairs Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13060 /lvl2/ Human Resources General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2483"  where id = '13060'
=>>>>>>>>>>>>>>>>>>>>>> 13072 /lvl2/ Human Resources General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2483"  where id = '13072'
=>>>>>>>>>>>>>>>>>>>>>> 16787 /lvl2/ Human Resources General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2483"  where id = '16787'
1721 /lvl1/ English Speaking Holiday Sales Consultants
=>>>>>>>>>>>>>>>>>>>>>> 5521 /lvl2/ ENGLISH SPEAKING HOLIDAY SALES CONSULTANTS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGLISH SPEAKING HOLIDAY SALES CONSULTANTS", title_clean   = "ENGLISH SPEAKING HOLIDAY SALES CONSULTANTS", title_id  = "1721"  where id = '5521'
4793 /lvl1/ Quality Control Project Property Developer
=>>>>>>>>>>>>>>>>>>>>>> 16329 /lvl2/ Quality Control Project Property Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4793"  where id = '16329'
4285 /lvl1/ Physical Education Teacher For High School
=>>>>>>>>>>>>>>>>>>>>>> 9728 /lvl2/ Physical Education Teacher for High School
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Physical Education Teacher for High School", title_clean   = "Physical Education Teacher for High School", title_id  = "4285"  where id = '9728'
965 /lvl1/ Cloud Engineer Bootcamp For Aws Technology
=>>>>>>>>>>>>>>>>>>>>>> 11589 /lvl2/ Cloud Engineer Bootcamp for AWS Technology
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cloud Engineer Bootcamp for AWS Technology", title_clean   = "Cloud Engineer Bootcamp for AWS Technology", title_id  = "965"  where id = '11589'
3273 /lvl1/ Koordinator Produksi / Supervisor Produksi
3529 /lvl1/ Manager Operational Vessel / Ship Tongkang
=>>>>>>>>>>>>>>>>>>>>>> 11622 /lvl2/ Manager Operational Vessel / Ship Tongkang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3529"  where id = '11622'
2250 /lvl1/ Graphic Designer & Marketing Communication
=>>>>>>>>>>>>>>>>>>>>>> 13524 /lvl2/ Graphic Designer & Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2250"  where id = '13524'
2508 /lvl1/ Human Resources Organization & Development
=>>>>>>>>>>>>>>>>>>>>>> 5088 /lvl2/ Human Resources Organization & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2508"  where id = '5088'
6351 /lvl1/ Supervisor Produksi Pt. Belfoods Indonesia
=>>>>>>>>>>>>>>>>>>>>>> 19024 /lvl2/ Supervisor Produksi PT. Belfoods Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Produksi PT. Belfoods Indonesia", title_clean   = "Supervisor Produksi PT. Belfoods Indonesia", title_id  = "6351"  where id = '19024'
1233 /lvl1/ Credit Portfolio Reporting & Asset Quality
=>>>>>>>>>>>>>>>>>>>>>> 20571 /lvl2/ Credit Portfolio Reporting & Asset Quality
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1233"  where id = '20571'
2003 /lvl1/ Finance, Accounting & Tax Assitant Manager
4819 /lvl1/ Research and Development Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 4680 /lvl2/ Research and Development Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4819"  where id = '4680'
2773 /lvl1/ International Business Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 3905 /lvl2/ International Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2773"  where id = '3905'
1497 /lvl1/ Digital Marketing Communication Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1160 /lvl2/ Digital Marketing Communication Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1497"  where id = '1160'
4840 /lvl1/ Research and Development Software Engineer
2028 /lvl1/ Financial Plan & Analyst Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 3581 /lvl2/ Financial Plan & Analyst Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2028"  where id = '3581'
1267 /lvl1/ Customer & Business Service Administration
=>>>>>>>>>>>>>>>>>>>>>> 11163 /lvl2/ Customer & Business Service Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1267"  where id = '11163'
500 /lvl1/ Assistant Manager Environmental Management
=>>>>>>>>>>>>>>>>>>>>>> 20601 /lvl2/ ASSISTANT MANAGER ENVIRONMENTAL MANAGEMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER ENVIRONMENTAL MANAGEMENT", title_clean   = "ASSISTANT MANAGER ENVIRONMENTAL MANAGEMENT", title_id  = "500"  where id = '20601'
5620 /lvl1/ Senior Relationship Officer Kc Banjarmasin
=>>>>>>>>>>>>>>>>>>>>>> 2355 /lvl2/ Senior Relationship Officer KC Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Relationship Officer KC Banjarmasin", title_clean   = "Senior Relationship Officer KC Banjarmasin", title_id  = "5620"  where id = '2355'
502 /lvl1/ Assistant Manager Finance Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 3914 /lvl2/ Assistant Manager Finance Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "502"  where id = '3914'
507 /lvl1/ Assistant Manager Human Capital Management
=>>>>>>>>>>>>>>>>>>>>>> 11231 /lvl2/ Assistant Manager Human Capital Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "507"  where id = '11231'
3585 /lvl1/ Manufacturing Business Development Intern
=>>>>>>>>>>>>>>>>>>>>>> 19238 /lvl2/ Manufacturing Business Development Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3585"  where id = '19238'
2564 /lvl1/ Human Resources Development&GA Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 266 /lvl2/ Human Resources Development&GA Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2564"  where id = '266'
6150 /lvl1/ Staff Registrasi Research and Development
=>>>>>>>>>>>>>>>>>>>>>> 6105 /lvl2/ STAFF REGISTRASI Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF REGISTRASI Research and Development", title_clean   = "STAFF REGISTRASI Research and Development", title_id  = "6150"  where id = '6105'
5898 /lvl1/ Staff Digital Hubungan Alumni Universitas
4107 /lvl1/ Organization & People Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 15058 /lvl2/ Organization & People Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4107"  where id = '15058'
1812 /lvl1/ Experienced Developer From Any Background
1062 /lvl1/ Content Creator & Social Media Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1952 /lvl2/ Content Creator & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1062"  where id = '1952'
=>>>>>>>>>>>>>>>>>>>>>> 15634 /lvl2/ Content Creator & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1062"  where id = '15634'
=>>>>>>>>>>>>>>>>>>>>>> 15649 /lvl2/ Content Creator & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1062"  where id = '15649'
=>>>>>>>>>>>>>>>>>>>>>> 19289 /lvl2/ Content Creator & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1062"  where id = '19289'
74 /lvl1/ Accounting & Regulatory Reporting Officer

=>>>>>>>>>>>>>>>>>>>>>> 20576 /lvl2/ Accounting & Regulatory Reporting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "74"  where id = '20576'
3659 /lvl1/ Marketing Communication Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 3625 /lvl2/ Marketing Communication Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3659"  where id = '3625'
=>>>>>>>>>>>>>>>>>>>>>> 7708 /lvl2/ Marketing Communication Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3659"  where id = '7708'
6738 /lvl1/ Tenant Relation Officer / Leasing Officer
5716 /lvl1/ Shadow Teacher For Special Needs Children
=>>>>>>>>>>>>>>>>>>>>>> 15410 /lvl2/ Shadow Teacher for Special Needs Children
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shadow Teacher for Special Needs Children", title_clean   = "Shadow Teacher for Special Needs Children", title_id  = "5716"  where id = '15410'
5719 /lvl1/ Sharia Marketing Head Development Program
=>>>>>>>>>>>>>>>>>>>>>> 14802 /lvl2/ Sharia Marketing Head Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5719"  where id = '14802'
3936 /lvl1/ Motion Graphic Designer Tangerang Selatan
3937 /lvl1/ Motion Graphics Designer & Video Animator
=>>>>>>>>>>>>>>>>>>>>>> 11875 /lvl2/ Motion Graphics Designer & Video Animator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3937"  where id = '11875'
3427 /lvl1/ Machine Learning / Deep Learning Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6577 /lvl2/ Machine Learning / Deep Learning Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3427"  where id = '6577'
2930 /lvl1/ It Infrastructure Management Section Head
=>>>>>>>>>>>>>>>>>>>>>> 13642 /lvl2/ IT Infrastructure Management Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Management Section Head", title_clean   = "IT Infrastructure Management Section Head", title_id  = "2930"  where id = '13642'
1907 /lvl1/ Field Service Veterinarian / Dokter Hewan
374 /lvl1/ Anti-fraud Process & Qa Junior Specialist
4471 /lvl1/ Product Research and Development Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1292 /lvl2/ Product Research and Development Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4471"  where id = '1292'
=>>>>>>>>>>>>>>>>>>>>>> 1311 /lvl2/ Product Research and Development Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4471"  where id = '1311'
4996 /lvl1/ Retail Site Acquisition Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1675 /lvl2/ Retail Site Acquisition Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4996"  where id = '1675'
2184 /lvl1/ General Affairs Manager Office Management
1685 /lvl1/ Employer Branding & Engagement Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20575 /lvl2/ Employer Branding & Engagement Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1685"  where id = '20575'
2456 /lvl1/ Human Resources & General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 1071 /lvl2/ Human Resources & General Affairs Manager - PT Kalbe Blackmores Nutrition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PT Kalbe Blackmores Nutrition", title_clean   = " - PT Kalbe Blackmores Nutrition", title_id  = "2456"  where id = '1071'
=>>>>>>>>>>>>>>>>>>>>>> 1560 /lvl2/ Human Resources & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2456"  where id = '1560'
=>>>>>>>>>>>>>>>>>>>>>> 4626 /lvl2/ Human Resources & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2456"  where id = '4626'
=>>>>>>>>>>>>>>>>>>>>>> 7753 /lvl2/ Human Resources & General Affairs Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "2456"  where id = '7753'
=>>>>>>>>>>>>>>>>>>>>>> 8074 /lvl2/ Human Resources & General Affairs Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "2456"  where id = '8074'
=>>>>>>>>>>>>>>>>>>>>>> 9929 /lvl2/ Human Resources & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2456"  where id = '9929'
=>>>>>>>>>>>>>>>>>>>>>> 12501 /lvl2/ Human Resources & General Affairs MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs MANAGER", title_clean   = "Human Resources & General Affairs MANAGER", title_id  = "2456"  where id = '12501'
=>>>>>>>>>>>>>>>>>>>>>> 12517 /lvl2/ Human Resources & General Affairs MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs MANAGER", title_clean   = "Human Resources & General Affairs MANAGER", title_id  = "2456"  where id = '12517'
=>>>>>>>>>>>>>>>>>>>>>> 14566 /lvl2/ Human Resources & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2456"  where id = '14566'
=>>>>>>>>>>>>>>>>>>>>>> 18285 /lvl2/ Human Resources & General Affairs MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs MANAGER", title_clean   = "Human Resources & General Affairs MANAGER", title_id  = "2456"  where id = '18285'
2457 /lvl1/ Human Resources & General Affairs Officer
=>>>>>>>>>>>>>>>>>>>>>> 7634 /lvl2/ Human Resources & General Affairs OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs OFFICER", title_clean   = "Human Resources & General Affairs OFFICER", title_id  = "2457"  where id = '7634'
=>>>>>>>>>>>>>>>>>>>>>> 11795 /lvl2/ Human Resources & General Affairs OFFICER (MAL CIPUTRA TANGERANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs OFFICER (MAL CIPUTRA TANGERANG)", title_clean   = "Human Resources & General Affairs OFFICER (MAL CIPUTRA TANGERANG)", title_id  = "2457"  where id = '11795'
=>>>>>>>>>>>>>>>>>>>>>> 19502 /lvl2/ Human Resources & General Affairs Officer (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "2457"  where id = '19502'
2202 /lvl1/ General Manager Finance, Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 19015 /lvl2/ General Manager Finance, Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2202"  where id = '19015'
4507 /lvl1/ Productivity & System Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 10807 /lvl2/ Productivity & System Development Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4507"  where id = '10807'
6043 /lvl1/ Staff Fungsi Kebijakan / Legal Kontraktor
172 /lvl1/ Admin Customer Service Sea Freight Export
2734 /lvl1/ Insurance & Claim Corporate Account Staff
=>>>>>>>>>>>>>>>>>>>>>> 1142 /lvl2/ Insurance & Claim Corporate Account Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2734"  where id = '1142'
4527 /lvl1/ Programmer Front End Vuejs Flutter Dotnet
5039 /lvl1/ Sales / Marketing Staff Untuk Frozen Food
6323 /lvl1/ Supervisor Maintenance Technical Printing
=>>>>>>>>>>>>>>>>>>>>>> 10793 /lvl2/ Supervisor Maintenance Technical Printing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6323"  where id = '10793'
1728 /lvl1/ Enterprise Business Development Executive
=>>>>>>>>>>>>>>>>>>>>>> 348 /lvl2/ Enterprise Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1728"  where id = '348'
6086 /lvl1/ Staff Koordinator Keuangan & Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 11526 /lvl2/ STAFF KOORDINATOR KEUANGAN & ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF KOORDINATOR KEUANGAN & ADMINISTRASI", title_clean   = "STAFF KOORDINATOR KEUANGAN & ADMINISTRASI", title_id  = "6086"  where id = '11526'
=>>>>>>>>>>>>>>>>>>>>>> 11555 /lvl2/ STAFF KOORDINATOR KEUANGAN & ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF KOORDINATOR KEUANGAN & ADMINISTRASI", title_clean   = "STAFF KOORDINATOR KEUANGAN & ADMINISTRASI", title_id  = "6086"  where id = '11555'
5584 /lvl1/ Senior Microservices Developer Consultant

=>>>>>>>>>>>>>>>>>>>>>> 12874 /lvl2/ Senior Microservices Developer Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5584"  where id = '12874'
2775 /lvl1/ International Business Finance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5660 /lvl2/ International Business Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2775"  where id = '5660'
4568 /lvl1/ Project Interior Design Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 9963 /lvl2/ Project Interior Design Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4568"  where id = '9963'
=>>>>>>>>>>>>>>>>>>>>>> 10830 /lvl2/ Project Interior Design Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4568"  where id = '10830'
4827 /lvl1/ Research and Development Formulator Staff
=>>>>>>>>>>>>>>>>>>>>>> 7818 /lvl2/ Research and Development Formulator Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4827"  where id = '7818'
=>>>>>>>>>>>>>>>>>>>>>> 8134 /lvl2/ Research and Development Formulator Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4827"  where id = '8134'
1757 /lvl1/ ERP System Developer & ERP System Analyst
2782 /lvl1/ International Teacher For English Subject
=>>>>>>>>>>>>>>>>>>>>>> 9008 /lvl2/ International Teacher for English Subject
UPDATE jobstreet_raws_v2 SET  title_extraction  = "International Teacher for English Subject", title_clean   = "International Teacher for English Subject", title_id  = "2782"  where id = '9008'
4830 /lvl1/ Research and Development Immunology Staff
=>>>>>>>>>>>>>>>>>>>>>> 439 /lvl2/ Research and Development IMMUNOLOGY STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Research and Development IMMUNOLOGY STAFF", title_clean   = "Research and Development IMMUNOLOGY STAFF", title_id  = "4830"  where id = '439'
1255 /lvl1/ Customer Service Admin Freight Forwarding
=>>>>>>>>>>>>>>>>>>>>>> 553 /lvl2/ Customer Service Admin Freight Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1255"  where id = '553'
4586 /lvl1/ Project Manager / Digital Project Manager
491 /lvl1/ Assistant Management Accounting & Finance
=>>>>>>>>>>>>>>>>>>>>>> 482 /lvl2/ Assistant Management Accounting & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "491"  where id = '482'
236 /lvl1/ Admin Penjualan & Pembelian Export Import
=>>>>>>>>>>>>>>>>>>>>>> 12712 /lvl2/ Admin Penjualan & Pembelian Export Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "236"  where id = '12712'
493 /lvl1/ Assistant Manager / Supervisor Purchasing
6911 /lvl1/ Vip Service & Product Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 18600 /lvl2/ VIP Service & Product Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "VIP Service & Product Development Manager", title_clean   = "VIP Service & Product Development Manager", title_id  = "6911"  where id = '18600'
5633 /lvl1/ Senior Service Admin & Eksekutif Account
=>>>>>>>>>>>>>>>>>>>>>> 9401 /lvl2/ Senior Service Admin & Eksekutif Account
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5633"  where id = '9401'
6147 /lvl1/ Staff Research and Development Formulasi
=>>>>>>>>>>>>>>>>>>>>>> 773 /lvl2/ Staff Research and Development Formulasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6147"  where id = '773'
4612 /lvl1/ Project Transformation Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 9666 /lvl2/ Project Transformation Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4612"  where id = '9666'
2056 /lvl1/ Fleet Vendor Management Senior Associate
=>>>>>>>>>>>>>>>>>>>>>> 16139 /lvl2/ Fleet Vendor Management Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2056"  where id = '16139'
1292 /lvl1/ Customer Relationship Management Officer
=>>>>>>>>>>>>>>>>>>>>>> 126 /lvl2/ Customer Relationship Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1292"  where id = '126'
=>>>>>>>>>>>>>>>>>>>>>> 19774 /lvl2/ Customer Relationship Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1292"  where id = '19774'
783 /lvl1/ Business Operation Development Executive
=>>>>>>>>>>>>>>>>>>>>>> 14023 /lvl2/ Business Operation Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "783"  where id = '14023'
=>>>>>>>>>>>>>>>>>>>>>> 14336 /lvl2/ Business Operation Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "783"  where id = '14336'
=>>>>>>>>>>>>>>>>>>>>>> 14349 /lvl2/ Business Operation Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "783"  where id = '14349'
5391 /lvl1/ Seafood Product Development Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 1660 /lvl2/ Seafood Product Development Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5391"  where id = '1660'
793 /lvl1/ Business Process Automation & Innovation
=>>>>>>>>>>>>>>>>>>>>>> 8732 /lvl2/ Business Process Automation & Innovation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "793"  where id = '8732'
2848 /lvl1/ It Application Support Junior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17766 /lvl2/ IT Application Support Junior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Support Junior Supervisor", title_clean   = "IT Application Support Junior Supervisor", title_id  = "2848"  where id = '17766'
3617 /lvl1/ Marketing & Business Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 19598 /lvl2/ Marketing & Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3617"  where id = '19598'
1058 /lvl1/ Content Creator / Social Media Marketing
6690 /lvl1/ Teknisi Network Structure Cabling System
=>>>>>>>>>>>>>>>>>>>>>> 12900 /lvl2/ Teknisi Network Structure Cabling System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6690"  where id = '12900'
551 /lvl1/ Assistant To Director of Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 20379 /lvl2/ Assistant to Director of Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant to Director of Project Manager", title_clean   = "Assistant to Director of Project Manager", title_id  = "551"  where id = '20379'
5672 /lvl1/ Senior Training & Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2515 /lvl2/ Senior Training & Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5672"  where id = '2515'
554 /lvl1/ Assistant Warehouse Pharmacycist Manager
6451 /lvl1/ System Administrator / IT Infrastructure
6200 /lvl1/ Store Manager / Manager Operasional Toko
6456 /lvl1/ System Analyst / Product Planning Member
3389 /lvl1/ Litigation & Tax Advisory Senior Manager
583 /lvl1/ Automation Qa / Automation Test Engineer
2376 /lvl1/ Head of Marketing & Business Development
5452 /lvl1/ Senior Accounting & Tax Consultant Staff
=>>>>>>>>>>>>>>>>>>>>>> 10648 /lvl2/ Senior Accounting & Tax Consultant Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5452"  where id = '10648'
6479 /lvl1/ Talent Acquisition Assistant Manager F&B
=>>>>>>>>>>>>>>>>>>>>>> 1937 /lvl2/ Talent Acquisition Assistant Manager F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6479"  where id = '1937'
85 /lvl1/ Accounting Account Receivable Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20432 /lvl2/ Accounting Account Receivable Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "85"  where id = '20432'
5717 /lvl1/ Shared Service & General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 20533 /lvl2/ Shared Service & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5717"  where id = '20533'
3927 /lvl1/ Mold Management Lead Footwear Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3313 /lvl2/ Mold Management Lead Footwear Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3927"  where id = '3313'
1626 /lvl1/ Ecommerce Omni Channel Development Staff

=>>>>>>>>>>>>>>>>>>>>>> 12720 /lvl2/ Ecommerce Omni Channel Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1626"  where id = '12720'
=>>>>>>>>>>>>>>>>>>>>>> 12810 /lvl2/ Ecommerce Omni Channel Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1626"  where id = '12810'
6491 /lvl1/ Talent Host Livestreaming Tiktok & Model
98 /lvl1/ Accounting Finance & Tax Department Head
4970 /lvl1/ Research Development Cosmetic Formulator
=>>>>>>>>>>>>>>>>>>>>>> 12722 /lvl2/ RESEARCH DEVELOPMENT COSMETIC FORMULATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH DEVELOPMENT COSMETIC FORMULATOR", title_clean   = "RESEARCH DEVELOPMENT COSMETIC FORMULATOR", title_id  = "4970"  where id = '12722'
=>>>>>>>>>>>>>>>>>>>>>> 12851 /lvl2/ RESEARCH DEVELOPMENT COSMETIC FORMULATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH DEVELOPMENT COSMETIC FORMULATOR", title_clean   = "RESEARCH DEVELOPMENT COSMETIC FORMULATOR", title_id  = "4970"  where id = '12851'
4204 /lvl1/ Penjualan / Pemasaran, Digital Marketing
2414 /lvl1/ Health Safety Environment Junior Manager
=>>>>>>>>>>>>>>>>>>>>>> 18545 /lvl2/ Health Safety Environment Junior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2414"  where id = '18545'
114 /lvl1/ Accounting Revenue & Refund Flight Staff
=>>>>>>>>>>>>>>>>>>>>>> 5634 /lvl2/ Accounting Revenue & Refund Flight Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "114"  where id = '5634'
3706 /lvl1/ Marketing Houseware Plastik Biji Plastik
=>>>>>>>>>>>>>>>>>>>>>> 8999 /lvl2/ MARKETING HOUSEWARE PLASTIK BIJI PLASTIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING HOUSEWARE PLASTIK BIJI PLASTIK", title_clean   = "MARKETING HOUSEWARE PLASTIK BIJI PLASTIK", title_id  = "3706"  where id = '8999'
3963 /lvl1/ New Product Analytical Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 1604 /lvl2/ New Product Analytical Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3963"  where id = '1604'
392 /lvl1/ Application System Architecturee Manager
=>>>>>>>>>>>>>>>>>>>>>> 20303 /lvl2/ Application System Architecturee Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "392"  where id = '20303'
3977 /lvl1/ Nursery / Kindergarten Teacher Assistant
=>>>>>>>>>>>>>>>>>>>>>> 10617 /lvl2/ Nursery / Kindergarten Teacher Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3977"  where id = '10617'
6796 /lvl1/ Training & Development Assistant Manager
2451 /lvl1/ Human Resources & Administration Manager
2709 /lvl1/ Information Technology Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 10440 /lvl2/ Information Technology Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2709"  where id = '10440'
1945 /lvl1/ Finance Account Payable Senior Executive
=>>>>>>>>>>>>>>>>>>>>>> 572 /lvl2/ Finance Account Payable Senior Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1945"  where id = '572'
3233 /lvl1/ Key Account Management Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15338 /lvl2/ Key Account Management Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3233"  where id = '15338'
=>>>>>>>>>>>>>>>>>>>>>> 15918 /lvl2/ Key Account Management Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3233"  where id = '15918'
6306 /lvl1/ Supervisor Human Capital Department Site
=>>>>>>>>>>>>>>>>>>>>>> 20052 /lvl2/ Supervisor Human Capital Department Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6306"  where id = '20052'
931 /lvl1/ Civil Engineer & Mep Engineer Specialist
5796 /lvl1/ Social Study Teacher For Secondary Level
=>>>>>>>>>>>>>>>>>>>>>> 10257 /lvl2/ Social Study Teacher for Secondary Level
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Social Study Teacher for Secondary Level", title_clean   = "Social Study Teacher for Secondary Level", title_id  = "5796"  where id = '10257'
1191 /lvl1/ Counter Staff Admin Marketing Komunikasi
4263 /lvl1/ Personalia / Human Resources Development
424 /lvl1/ Asisten Instruktur Konsultan Programming
=>>>>>>>>>>>>>>>>>>>>>> 10979 /lvl2/ Asisten Instruktur Konsultan Programming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "424"  where id = '10979'
2477 /lvl1/ Human Resources Employee Data Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7255 /lvl2/ Human Resources Employee Data Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2477"  where id = '7255'
5807 /lvl1/ Software Engineer Recruitment Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5872 /lvl2/ Software Engineer Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5807"  where id = '5872'
1465 /lvl1/ Digital & Operation Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6647 /lvl2/ Digital & Operation Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1465"  where id = '6647'
2491 /lvl1/ Human Resources Information System Staff
=>>>>>>>>>>>>>>>>>>>>>> 4334 /lvl2/ Human Resources Information System Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2491"  where id = '4334'
5058 /lvl1/ Sales & Marketing Manager Landed Housing
6339 /lvl1/ Supervisor Perencanaan Metland Cileungsi
=>>>>>>>>>>>>>>>>>>>>>> 20324 /lvl2/ Supervisor Perencanaan Metland Cileungsi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6339"  where id = '20324'
6852 /lvl1/ Underwriting Portfolio Reporting Analyst
=>>>>>>>>>>>>>>>>>>>>>> 12191 /lvl2/ Underwriting Portfolio Reporting Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6852"  where id = '12191'
1992 /lvl1/ Finance Planning Analysis Junior Manager
=>>>>>>>>>>>>>>>>>>>>>> 20146 /lvl2/ Finance Planning Analysis Junior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1992"  where id = '20146'
6345 /lvl1/ Supervisor Product Marketing Development
1485 /lvl1/ Digital Marketing / Social Media Officer
718 /lvl1/ Building Maintenance Planning Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19549 /lvl2/ Building Maintenance Planning Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "718"  where id = '19549'
2778 /lvl1/ International Communication Section Head
=>>>>>>>>>>>>>>>>>>>>>> 2026 /lvl2/ International Communication Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2778"  where id = '2026'
4826 /lvl1/ Research and Development Formulator Head
=>>>>>>>>>>>>>>>>>>>>>> 6415 /lvl2/ Research and Development FORMULATOR HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Research and Development FORMULATOR HEAD", title_clean   = "Research and Development FORMULATOR HEAD", title_id  = "4826"  where id = '6415'
1249 /lvl1/ Customer Relationship Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 5978 /lvl2/ Customer Relationship Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1249"  where id = '5978'
=>>>>>>>>>>>>>>>>>>>>>> 7383 /lvl2/ Customer Relationship Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1249"  where id = '7383'
1250 /lvl1/ Customer Relationship Management Officer
745 /lvl1/ Business Development / Sales / Canvasing
2541 /lvl1/ Human Resources Development / Personalia
2032 /lvl1/ Financial Planning & Analysis Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18179 /lvl2/ Financial Planning & Analysis Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2032"  where id = '18179'
=>>>>>>>>>>>>>>>>>>>>>> 18428 /lvl2/ Financial Planning & Analysis Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2032"  where id = '18428'
2034 /lvl1/ Financial Planning & Analysis Supervisor
522 /lvl1/ Assistant Manager Reporting & Budgeting
15 /lvl1/ Academic Specialist Matematika & Fisika

=>>>>>>>>>>>>>>>>>>>>>> 10098 /lvl2/ Academic Specialist Matematika & Fisika
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "15"  where id = '10098'
3344 /lvl1/ Lecturer For School of Computer Science
=>>>>>>>>>>>>>>>>>>>>>> 7796 /lvl2/ Lecturer for School of Computer Science
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lecturer for School of Computer Science", title_clean   = "Lecturer for School of Computer Science", title_id  = "3344"  where id = '7796'
=>>>>>>>>>>>>>>>>>>>>>> 8120 /lvl2/ Lecturer for School of Computer Science
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lecturer for School of Computer Science", title_clean   = "Lecturer for School of Computer Science", title_id  = "3344"  where id = '8120'
6418 /lvl1/ Supplier Performance Control Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4732 /lvl2/ Supplier Performance Control Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6418"  where id = '4732'
790 /lvl1/ Business Portfolio Analytics Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4961 /lvl2/ Business Portfolio Analytics Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "790"  where id = '4961'
3354 /lvl1/ Legal & Industrial Relationship Officer
5146 /lvl1/ Sales Engineer Measurement / Inspection
1051 /lvl1/ Contact Center Supervisor / Team Leader
543 /lvl1/ Assistant Section Chief Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 11020 /lvl2/ Assistant Section Chief Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "543"  where id = '11020'
3884 /lvl1/ Merchandising Factory Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 8425 /lvl2/ Merchandising Factory Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3884"  where id = '8425'
3629 /lvl1/ Marketing & Public Relations Specialist
1070 /lvl1/ Content Creator Produk Perawatan Rambut
=>>>>>>>>>>>>>>>>>>>>>> 8992 /lvl2/ Content Creator Produk Perawatan Rambut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1070"  where id = '8992'
2869 /lvl1/ It Business Process Improvement Officer
=>>>>>>>>>>>>>>>>>>>>>> 5927 /lvl2/ IT Business Process Improvement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Process Improvement Officer", title_clean   = "IT Business Process Improvement Officer", title_id  = "2869"  where id = '5927'
567 /lvl1/ Associate Technical Solution Consultant
=>>>>>>>>>>>>>>>>>>>>>> 13066 /lvl2/ Associate Technical Solution Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "567"  where id = '13066'
=>>>>>>>>>>>>>>>>>>>>>> 13078 /lvl2/ Associate Technical Solution Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "567"  where id = '13078'
1344 /lvl1/ Data Analyst Administration Online Shop
=>>>>>>>>>>>>>>>>>>>>>> 4702 /lvl2/ Data Analyst Administration Online Shop
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1344"  where id = '4702'
586 /lvl1/ Automotive Business Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 7855 /lvl2/ Automotive Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "586"  where id = '7855'
=>>>>>>>>>>>>>>>>>>>>>> 8171 /lvl2/ Automotive Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "586"  where id = '8171'
=>>>>>>>>>>>>>>>>>>>>>> 9354 /lvl2/ Automotive Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "586"  where id = '9354'
6988 /lvl1/ Website Commercial Operation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4001 /lvl2/ Website Commercial Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6988"  where id = '4001'
4688 /lvl1/ Purchasing Stock Inventory Control Staf
=>>>>>>>>>>>>>>>>>>>>>> 17248 /lvl2/ PURCHASING STOCK INVENTORY CONTROL STAF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STOCK INVENTORY CONTROL STAF", title_clean   = "PURCHASING STOCK INVENTORY CONTROL STAF", title_id  = "4688"  where id = '17248'
4433 /lvl1/ Product & Process Design Engineer Valve
5201 /lvl1/ Sales Jasa Perjalanan / Event / Program
3156 /lvl1/ Junior Business Development Specialists
4697 /lvl1/ Qa / Qc Architecturee / Interior Design
1120 /lvl1/ Corporate Assistant Reservation Manager
=>>>>>>>>>>>>>>>>>>>>>> 7824 /lvl2/ Corporate Assistant Reservation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1120"  where id = '7824'
6243 /lvl1/ Supervisor / Asisten Manager Accounting
5476 /lvl1/ Senior Bancassurance Specialist Syariah
=>>>>>>>>>>>>>>>>>>>>>> 6307 /lvl2/ SENIOR BANCASSURANCE SPECIALIST SYARIAH
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR BANCASSURANCE SPECIALIST SYARIAH", title_clean   = "SENIOR BANCASSURANCE SPECIALIST SYARIAH", title_id  = "5476"  where id = '6307'
5992 /lvl1/ Staff Assistant In Business Development
=>>>>>>>>>>>>>>>>>>>>>> 8410 /lvl2/ Staff Assistant in Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Assistant in Business Development", title_clean   = "Staff Assistant in Business Development", title_id  = "5992"  where id = '8410'
6761 /lvl1/ Tinting Business Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20158 /lvl2/ Tinting Business Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6761"  where id = '20158'
1912 /lvl1/ Finance / Accounting / Tax Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 249 /lvl2/ Finance / Accounting / Tax Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1912"  where id = '249'
2941 /lvl1/ It Junior Programmer & Business Process
896 /lvl1/ Chemical Engineering Management Trainee
=>>>>>>>>>>>>>>>>>>>>>> 18871 /lvl2/ CHEMICAL ENGINEERING MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHEMICAL ENGINEERING MANAGEMENT TRAINEE", title_clean   = "CHEMICAL ENGINEERING MANAGEMENT TRAINEE", title_id  = "896"  where id = '18871'
3471 /lvl1/ Management Trainee Sales Or Engineering
=>>>>>>>>>>>>>>>>>>>>>> 987 /lvl2/ Management Trainee Sales or Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Management Trainee Sales or Engineering", title_clean   = "Management Trainee Sales or Engineering", title_id  = "3471"  where id = '987'
5011 /lvl1/ Risk Management & Compliance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18984 /lvl2/ Risk Management & Compliance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5011"  where id = '18984'
2458 /lvl1/ Human Resources & General Affairs Staff
=>>>>>>>>>>>>>>>>>>>>>> 885 /lvl2/ Human Resources & General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2458"  where id = '885'
=>>>>>>>>>>>>>>>>>>>>>> 13658 /lvl2/ Human Resources & General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2458"  where id = '13658'
=>>>>>>>>>>>>>>>>>>>>>> 13672 /lvl2/ Human Resources & General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2458"  where id = '13672'
=>>>>>>>>>>>>>>>>>>>>>> 13724 /lvl2/ Human Resources & General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2458"  where id = '13724'
=>>>>>>>>>>>>>>>>>>>>>> 17062 /lvl2/ Human Resources & General Affairs Staff - HO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - HO", title_clean   = " - HO", title_id  = "2458"  where id = '17062'
=>>>>>>>>>>>>>>>>>>>>>> 18330 /lvl2/ Human Resources & General Affairs STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources & General Affairs STAFF", title_clean   = "Human Resources & General Affairs STAFF", title_id  = "2458"  where id = '18330'
4250 /lvl1/ Personal Assistan To President Director
=>>>>>>>>>>>>>>>>>>>>>> 20416 /lvl2/ Personal Assistan to President Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistan to President Director", title_clean   = "Personal Assistan to President Director", title_id  = "4250"  where id = '20416'
2972 /lvl1/ It Project Management Office Specialist

=>>>>>>>>>>>>>>>>>>>>>> 1576 /lvl2/ IT Project Management Office Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Management Office Specialist", title_clean   = "IT Project Management Office Specialist", title_id  = "2972"  where id = '1576'
6049 /lvl1/ Staff Human Resources & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 6373 /lvl2/ Staff Human Resources & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6049"  where id = '6373'
4773 /lvl1/ Quality Assurance Desk Collection Staff
=>>>>>>>>>>>>>>>>>>>>>> 2932 /lvl2/ Quality Assurance Desk Collection Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4773"  where id = '2932'
935 /lvl1/ Ckd Kits & Caryard Logistics Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20338 /lvl2/ CKD Kits & Caryard Logistics Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CKD Kits & Caryard Logistics Specialist", title_clean   = "CKD Kits & Caryard Logistics Specialist", title_id  = "935"  where id = '20338'
6056 /lvl1/ Staff Human Resources Development Plant
=>>>>>>>>>>>>>>>>>>>>>> 243 /lvl2/ Staff Human Resources Development Plant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6056"  where id = '243'
2217 /lvl1/ Global Strategic Communications Lecture
=>>>>>>>>>>>>>>>>>>>>>> 5483 /lvl2/ Global Strategic Communications Lecture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2217"  where id = '5483'
430 /lvl1/ Asisten Maintenance Pabrik Kelapa Sawit
=>>>>>>>>>>>>>>>>>>>>>> 12187 /lvl2/ Asisten Maintenance Pabrik Kelapa Sawit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "430"  where id = '12187'
2479 /lvl1/ Human Resources Employee Relation Staff
=>>>>>>>>>>>>>>>>>>>>>> 234 /lvl2/ Human Resources Employee Relation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2479"  where id = '234'
2482 /lvl1/ Human Resources General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 4568 /lvl2/ Human Resources General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2482"  where id = '4568'
=>>>>>>>>>>>>>>>>>>>>>> 15733 /lvl2/ Human Resources General Affairs MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources General Affairs MANAGER", title_clean   = "Human Resources General Affairs MANAGER", title_id  = "2482"  where id = '15733'
6837 /lvl1/ Tukang Rakit Kayu & Finishing Furniture
=>>>>>>>>>>>>>>>>>>>>>> 14977 /lvl2/ Tukang Rakit Kayu & Finishing Furniture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6837"  where id = '14977'
=>>>>>>>>>>>>>>>>>>>>>> 15655 /lvl2/ Tukang Rakit Kayu & Finishing Furniture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6837"  where id = '15655'
5303 /lvl1/ Sales Specialist Pusal Logistik Berikat
=>>>>>>>>>>>>>>>>>>>>>> 2002 /lvl2/ Sales Specialist Pusal Logistik Berikat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5303"  where id = '2002'
5048 /lvl1/ Sales & Marketing Administration Intern
1467 /lvl1/ Digital & Performance Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 2408 /lvl2/ Digital & Performance Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1467"  where id = '2408'
5051 /lvl1/ Sales & Marketing Communication Manager
5566 /lvl1/ Senior Manager Finance Accounting & Tax
2240 /lvl1/ Graphic Design Editor / Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 11327 /lvl2/ Graphic Design Editor / Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2240"  where id = '11327'
3264 /lvl1/ Koordinator Human Resourcesga, IT & Hse
=>>>>>>>>>>>>>>>>>>>>>> 14022 /lvl2/ Koordinator Human ResourcesGA, IT & HSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator Human ResourcesGA, IT & HSE", title_clean   = "Koordinator Human ResourcesGA, IT & HSE", title_id  = "3264"  where id = '14022'
=>>>>>>>>>>>>>>>>>>>>>> 14335 /lvl2/ Koordinator Human ResourcesGA, IT & HSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator Human ResourcesGA, IT & HSE", title_clean   = "Koordinator Human ResourcesGA, IT & HSE", title_id  = "3264"  where id = '14335'
=>>>>>>>>>>>>>>>>>>>>>> 14348 /lvl2/ Koordinator Human ResourcesGA, IT & HSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator Human ResourcesGA, IT & HSE", title_clean   = "Koordinator Human ResourcesGA, IT & HSE", title_id  = "3264"  where id = '14348'
1475 /lvl1/ Digital Business Integration Consultant
=>>>>>>>>>>>>>>>>>>>>>> 7399 /lvl2/ Digital Business Integration Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1475"  where id = '7399'
6340 /lvl1/ Supervisor Personalia & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 17561 /lvl2/ SUPERVISOR PERSONALIA & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PERSONALIA & General Affairs", title_clean   = "SUPERVISOR PERSONALIA & General Affairs", title_id  = "6340"  where id = '17561'
1478 /lvl1/ Digital Content & Copywriter Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20578 /lvl2/ Digital Content & Copywriter Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1478"  where id = '20578'
711 /lvl1/ Budgeting & Forecasting Department Head
2251 /lvl1/ Graphic Designer & Social Media Manager
3021 /lvl1/ It Support & Electronic Data Processing
5582 /lvl1/ Senior Merchandiser / Follow Up GArment
2522 /lvl1/ Human Resources Recruitment & Selection
=>>>>>>>>>>>>>>>>>>>>>> 1085 /lvl2/ Human Resources Recruitment & Selection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2522"  where id = '1085'
6106 /lvl1/ Staff Merchandiser & Purchasing GArment
=>>>>>>>>>>>>>>>>>>>>>> 12797 /lvl2/ STAFF MERCHANDISER & PURCHASING GARMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MERCHANDISER & PURCHASING GARMENT", title_clean   = "STAFF MERCHANDISER & PURCHASING GARMENT", title_id  = "6106"  where id = '12797'
=>>>>>>>>>>>>>>>>>>>>>> 12815 /lvl2/ STAFF MERCHANDISER & PURCHASING GARMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MERCHANDISER & PURCHASING GARMENT", title_clean   = "STAFF MERCHANDISER & PURCHASING GARMENT", title_id  = "6106"  where id = '12815'
6365 /lvl1/ Supervisor Quality Control Blow Molding
=>>>>>>>>>>>>>>>>>>>>>> 14293 /lvl2/ Supervisor Quality Control Blow Molding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6365"  where id = '14293'
5598 /lvl1/ Senior Programmatic & Advertisement Ops
5354 /lvl1/ Sap Change Management Senior Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6110 /lvl2/ SAP Change Management Senior Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Change Management Senior Consultant", title_clean   = "SAP Change Management Senior Consultant", title_id  = "5354"  where id = '6110'
495 /lvl1/ Assistant Manager Ar Collection & Claim
=>>>>>>>>>>>>>>>>>>>>>> 4200 /lvl2/ Assistant Manager AR Collection & Claim
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant Manager AR Collection & Claim", title_clean   = "Assistant Manager AR Collection & Claim", title_id  = "495"  where id = '4200'
4336 /lvl1/ Production Planning & Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 2911 /lvl2/ Production Planning & Inventory Control (Merchandising) Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Merchandising) Staff", title_clean   = " (Merchandising) Staff", title_id  = "4336"  where id = '2911'
=>>>>>>>>>>>>>>>>>>>>>> 4539 /lvl2/ STAFF ADMINISTRASI Production Planning & Inventory Control PLANT SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI -idex- PLANT SURABAYA", title_clean   = "STAFF ADMINISTRASI  PLANT SURABAYA", title_id  = "4336"  where id = '4539'
=>>>>>>>>>>>>>>>>>>>>>> 4571 /lvl2/ Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4336"  where id = '4571'
=>>>>>>>>>>>>>>>>>>>>>> 5073 /lvl2/ Production Planning Inventory Control (Production Planning & Inventory Controlu002FPMC) (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning Inventory Control (-idex-u002FPMC) (Mandarin Speaker)", title_clean   = "Production Planning Inventory Control (u002FPMC) (Mandarin Speaker)", title_id  = "4336"  where id = '5073'
=>>>>>>>>>>>>>>>>>>>>>> 5935 /lvl2/ Assistant Production Planning & Inventory Control (Production Planning & Inventory Control)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex- (-idex-)", title_clean   = "Assistant  ()", title_id  = "4336"  where id = '5935'
=>>>>>>>>>>>>>>>>>>>>>> 7209 /lvl2/ Production Planning & Inventory Control Textile dan Garment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Textile dan Garment", title_clean   = " Textile dan Garment", title_id  = "4336"  where id = '7209'
=>>>>>>>>>>>>>>>>>>>>>> 8072 /lvl2/ Production Planning & Inventory Control (Cileungsi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cileungsi)", title_clean   = " (Cileungsi)", title_id  = "4336"  where id = '8072'
=>>>>>>>>>>>>>>>>>>>>>> 8513 /lvl2/ Planning, Production, Inventory Control (Production Planning & Inventory Control)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Planning, Production, Inventory Control (-idex-)", title_clean   = "Planning, Production, Inventory Control ()", title_id  = "4336"  where id = '8513'
=>>>>>>>>>>>>>>>>>>>>>> 9206 /lvl2/ Production Planning & Inventory Control (Cileungsi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cileungsi)", title_clean   = " (Cileungsi)", title_id  = "4336"  where id = '9206'
=>>>>>>>>>>>>>>>>>>>>>> 9448 /lvl2/ Production Planning & Inventory Control & WAREHOUSE ASST. MANAGER (MANDARIN SPEAKER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & WAREHOUSE ASST. MANAGER (MANDARIN SPEAKER)", title_clean   = " & WAREHOUSE ASST. MANAGER (MANDARIN SPEAKER)", title_id  = "4336"  where id = '9448'
=>>>>>>>>>>>>>>>>>>>>>> 11200 /lvl2/ Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4336"  where id = '11200'
=>>>>>>>>>>>>>>>>>>>>>> 13683 /lvl2/ Production Planning and Inventory Control (Production Planning & Inventory Control) Staff - CTU
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning and Inventory Control (-idex-) Staff - CTU", title_clean   = "Production Planning and Inventory Control () Staff - CTU", title_id  = "4336"  where id = '13683'
=>>>>>>>>>>>>>>>>>>>>>> 14929 /lvl2/ Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4336"  where id = '14929'
=>>>>>>>>>>>>>>>>>>>>>> 17060 /lvl2/ Production Planning & Inventory Control u002F Follow-Up Tekstil
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- u002F Follow-Up Tekstil", title_clean   = " u002F Follow-Up Tekstil", title_id  = "4336"  where id = '17060'
=>>>>>>>>>>>>>>>>>>>>>> 17238 /lvl2/ Production Planning & Inventory Control (Lapangan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Lapangan)", title_clean   = " (Lapangan)", title_id  = "4336"  where id = '17238'
=>>>>>>>>>>>>>>>>>>>>>> 18101 /lvl2/ STAFF PLANNER (Production Planning & Inventory Control)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PLANNER (-idex-)", title_clean   = "STAFF PLANNER ()", title_id  = "4336"  where id = '18101'
=>>>>>>>>>>>>>>>>>>>>>> 18119 /lvl2/ STAFF PLANNER (Production Planning & Inventory Control)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PLANNER (-idex-)", title_clean   = "STAFF PLANNER ()", title_id  = "4336"  where id = '18119'
=>>>>>>>>>>>>>>>>>>>>>> 18405 /lvl2/ Production Planning & Inventory Control Officer (Marunda)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (Marunda)", title_clean   = " Officer (Marunda)", title_id  = "4336"  where id = '18405'
=>>>>>>>>>>>>>>>>>>>>>> 18910 /lvl2/ ADMIN PURCHASING u002F Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN PURCHASING u002F -idex-", title_clean   = "ADMIN PURCHASING u002F ", title_id  = "4336"  where id = '18910'
=>>>>>>>>>>>>>>>>>>>>>> 19218 /lvl2/ Production Planning & Inventory Control u002F PPC Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- u002F PPC Supervisor", title_clean   = " u002F PPC Supervisor", title_id  = "4336"  where id = '19218'
=>>>>>>>>>>>>>>>>>>>>>> 19694 /lvl2/ Supply Chain Executive (Production Planning & Inventory Control, Admin & Procurement)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supply Chain Executive (-idex-, Admin & Procurement)", title_clean   = "Supply Chain Executive (, Admin & Procurement)", title_id  = "4336"  where id = '19694'
=>>>>>>>>>>>>>>>>>>>>>> 19853 /lvl2/ ADMIN PURCHASING u002F Production Planning & Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN PURCHASING u002F -idex-", title_clean   = "ADMIN PURCHASING u002F ", title_id  = "4336"  where id = '19853'
=>>>>>>>>>>>>>>>>>>>>>> 20346 /lvl2/ Production Planning & Inventory Control Dept. Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Dept. Head", title_clean   = " Dept. Head", title_id  = "4336"  where id = '20346'
3313 /lvl1/ Leader Certification & Farmers Wellfare

=>>>>>>>>>>>>>>>>>>>>>> 1086 /lvl2/ Leader Certification & Farmers Wellfare
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3313"  where id = '1086'
3828 /lvl1/ Mechanical Electrical Plumbing Designer
=>>>>>>>>>>>>>>>>>>>>>> 637 /lvl2/ Mechanical Electrical Plumbing Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3828"  where id = '637'
3061 /lvl1/ Java / .Net Developer Wholesale Banking
5877 /lvl1/ Sr Manager Produk Portofolio Management
=>>>>>>>>>>>>>>>>>>>>>> 16091 /lvl2/ Sr Manager Produk Portofolio Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5877"  where id = '16091'
2557 /lvl1/ Human Resources Development Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 274 /lvl2/ Human Resources Development Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2557"  where id = '274'
6143 /lvl1/ Staff Quality Control Proyek Konstruksi
=>>>>>>>>>>>>>>>>>>>>>> 5737 /lvl2/ STAFF QUALITY CONTROL PROYEK KONSTRUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF QUALITY CONTROL PROYEK KONSTRUKSI", title_clean   = "STAFF QUALITY CONTROL PROYEK KONSTRUKSI", title_id  = "6143"  where id = '5737'
=>>>>>>>>>>>>>>>>>>>>>> 6837 /lvl2/ STAFF QUALITY CONTROL PROYEK KONSTRUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF QUALITY CONTROL PROYEK KONSTRUKSI", title_clean   = "STAFF QUALITY CONTROL PROYEK KONSTRUKSI", title_id  = "6143"  where id = '6837'
2562 /lvl1/ Human Resources Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 28 /lvl2/ Human Resources Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2562"  where id = '28'
=>>>>>>>>>>>>>>>>>>>>>> 1031 /lvl2/ Human Resources Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2562"  where id = '1031'
=>>>>>>>>>>>>>>>>>>>>>> 4140 /lvl2/ Human Resources Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2562"  where id = '4140'
=>>>>>>>>>>>>>>>>>>>>>> 9615 /lvl2/ Human Resources Development Supervisor Mandarin Speaker (PIK, Jakarta Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mandarin Speaker (PIK, Jakarta Utara)", title_clean   = " Mandarin Speaker (PIK, Jakarta Utara)", title_id  = "2562"  where id = '9615'
=>>>>>>>>>>>>>>>>>>>>>> 11087 /lvl2/ Human Resources Development SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development SUPERVISOR", title_clean   = "Human Resources Development SUPERVISOR", title_id  = "2562"  where id = '11087'
=>>>>>>>>>>>>>>>>>>>>>> 12362 /lvl2/ Human Resources Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2562"  where id = '12362'
=>>>>>>>>>>>>>>>>>>>>>> 13099 /lvl2/ Human Resources Development Supervisor (Penempatan : Belitang, Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan : Belitang, Sumatera Selatan)", title_clean   = " (Penempatan : Belitang, Sumatera Selatan)", title_id  = "2562"  where id = '13099'
=>>>>>>>>>>>>>>>>>>>>>> 14217 /lvl2/ Human Resources Development Supervisor (Penempatan : Belitang, Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan : Belitang, Sumatera Selatan)", title_clean   = " (Penempatan : Belitang, Sumatera Selatan)", title_id  = "2562"  where id = '14217'
=>>>>>>>>>>>>>>>>>>>>>> 18240 /lvl2/ Human Resources Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2562"  where id = '18240'
4870 /lvl1/ Recruitment & People Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 19746 /lvl2/ Recruitment & People Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4870"  where id = '19746'
6152 /lvl1/ Staff Relationship Officer & Staff Kas
17 /lvl1/ Access Point Engineering & Development
=>>>>>>>>>>>>>>>>>>>>>> 10386 /lvl2/ Access Point Engineering & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "17"  where id = '10386'
785 /lvl1/ Business Performance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 12250 /lvl2/ Business Performance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "785"  where id = '12250'
=>>>>>>>>>>>>>>>>>>>>>> 12268 /lvl2/ Business Performance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "785"  where id = '12268'
=>>>>>>>>>>>>>>>>>>>>>> 13326 /lvl2/ Business Performance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "785"  where id = '13326'
5137 /lvl1/ Sales Distribution Coordinator Trainee
=>>>>>>>>>>>>>>>>>>>>>> 17999 /lvl2/ Sales Distribution Coordinator Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5137"  where id = '17999'
3348 /lvl1/ Legal & Corporate Secretary Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15392 /lvl2/ Legal & Corporate Secretary Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3348"  where id = '15392'
5145 /lvl1/ Sales Engineer For Packaging Machinery
=>>>>>>>>>>>>>>>>>>>>>> 3897 /lvl2/ SALES ENGINEER for PACKAGING MACHINERY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ENGINEER for PACKAGING MACHINERY", title_clean   = "SALES ENGINEER for PACKAGING MACHINERY", title_id  = "5145"  where id = '3897'
794 /lvl1/ Business Process Automation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8652 /lvl2/ BUSINESS PROCESS AUTOMATION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS PROCESS AUTOMATION SPECIALIST", title_clean   = "BUSINESS PROCESS AUTOMATION SPECIALIST", title_id  = "794"  where id = '8652'
796 /lvl1/ Business Process Reengineering Officer
=>>>>>>>>>>>>>>>>>>>>>> 2880 /lvl2/ Business Process Reengineering Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "796"  where id = '2880'
4892 /lvl1/ Refrigerator & Freezer Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 13557 /lvl2/ Refrigerator & Freezer Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4892"  where id = '13557'
=>>>>>>>>>>>>>>>>>>>>>> 13792 /lvl2/ Refrigerator & Freezer Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4892"  where id = '13792'
=>>>>>>>>>>>>>>>>>>>>>> 13810 /lvl2/ Refrigerator & Freezer Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4892"  where id = '13810'
5148 /lvl1/ Sales Engineer Power & Energy Industry
3614 /lvl1/ Marketing / Lobbyist / Project Manajer
=>>>>>>>>>>>>>>>>>>>>>> 949 /lvl2/ Marketing / Lobbyist / Project Manajer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3614"  where id = '949'
3870 /lvl1/ Merchandiser / Relationship Management
4133 /lvl1/ Part Analysis / Warranty Claim Officer
5930 /lvl1/ Staff Research and Development Tobacco
1326 /lvl1/ Customer Servicing & Marketing Support
=>>>>>>>>>>>>>>>>>>>>>> 3904 /lvl2/ Customer Servicing & Marketing Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1326"  where id = '3904'
560 /lvl1/ Associate & Senior Associate Marketing
=>>>>>>>>>>>>>>>>>>>>>> 15361 /lvl2/ Associate & Senior Associate Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "560"  where id = '15361'
=>>>>>>>>>>>>>>>>>>>>>> 15373 /lvl2/ Associate & Senior Associate Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "560"  where id = '15373'
4151 /lvl1/ Parts Technical Information Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4362 /lvl2/ Parts Technical Information Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4151"  where id = '4362'
1850 /lvl1/ External Relation & Government Foreman
3652 /lvl1/ Marketing Business Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 12297 /lvl2/ Marketing Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3652"  where id = '12297'
3405 /lvl1/ Logistic & Warehouse Assistant Manager

=>>>>>>>>>>>>>>>>>>>>>> 2816 /lvl2/ Logistic & Warehouse Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3405"  where id = '2816'
3665 /lvl1/ Marketing Communication Senior Manager
=>>>>>>>>>>>>>>>>>>>>>> 13773 /lvl2/ Marketing Communication Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3665"  where id = '13773'
4945 /lvl1/ Relationship Manager Wealth Management
=>>>>>>>>>>>>>>>>>>>>>> 14597 /lvl2/ Relationship Manager Wealth Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4945"  where id = '14597'
2391 /lvl1/ Head of Production & Material Planning
=>>>>>>>>>>>>>>>>>>>>>> 18740 /lvl2/ Head of Production & Material Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2391"  where id = '18740'
2396 /lvl1/ Head of Sales Modern Trade Independent
=>>>>>>>>>>>>>>>>>>>>>> 9112 /lvl2/ Head of Sales Modern Trade Independent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2396"  where id = '9112'
605 /lvl1/ Bahasa Indonesia Teacher For Secondary
5984 /lvl1/ Staff Administrasi Pengiriman / Gudang
=>>>>>>>>>>>>>>>>>>>>>> 4999 /lvl2/ STAFF ADMINISTRASI PENGIRIMAN / GUDANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI PENGIRIMAN / GUDANG", title_clean   = "STAFF ADMINISTRASI PENGIRIMAN / GUDANG", title_id  = "5984"  where id = '4999'
1128 /lvl1/ Corporate Communication Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 7581 /lvl2/ Corporate Communication Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1128"  where id = '7581'
5226 /lvl1/ Sales Marketing & Business Development
=>>>>>>>>>>>>>>>>>>>>>> 4553 /lvl2/ Sales Marketing & Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5226"  where id = '4553'
5482 /lvl1/ Senior Business Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5800 /lvl2/ Senior Business Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5482"  where id = '5800'
6251 /lvl1/ Supervisor Accounting & Tax Accounting
=>>>>>>>>>>>>>>>>>>>>>> 17694 /lvl2/ Supervisor Accounting & Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6251"  where id = '17694'
=>>>>>>>>>>>>>>>>>>>>>> 17704 /lvl2/ Supervisor Accounting & Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6251"  where id = '17704'
4972 /lvl1/ Research Development Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 18702 /lvl2/ Research Development Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4972"  where id = '18702'
1136 /lvl1/ Corporate Finance & Investor Relations
=>>>>>>>>>>>>>>>>>>>>>> 1029 /lvl2/ Corporate Finance & Investor Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1136"  where id = '1029'
1653 /lvl1/ Electrical & Mechanical Engineer Staff
=>>>>>>>>>>>>>>>>>>>>>> 11950 /lvl2/ Electrical & Mechanical Engineer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1653"  where id = '11950'
3191 /lvl1/ Kepala Departemen Perencanaan & Survey
=>>>>>>>>>>>>>>>>>>>>>> 2672 /lvl2/ Kepala Departemen Perencanaan & Survey
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3191"  where id = '2672'
6271 /lvl1/ Supervisor Design Interior & Furniture
1921 /lvl1/ Finance & Accounting Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 7977 /lvl2/ Finance & Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1921"  where id = '7977'
=>>>>>>>>>>>>>>>>>>>>>> 8287 /lvl2/ Finance & Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1921"  where id = '8287'
=>>>>>>>>>>>>>>>>>>>>>> 15681 /lvl2/ Finance & Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1921"  where id = '15681'
=>>>>>>>>>>>>>>>>>>>>>> 15698 /lvl2/ Finance & Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1921"  where id = '15698'
1155 /lvl1/ Corporate Sales Staff Employee Benefit
=>>>>>>>>>>>>>>>>>>>>>> 19765 /lvl2/ Corporate Sales Staff Employee Benefit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1155"  where id = '19765'
6275 /lvl1/ Supervisor Drafter Interior Contractor
4487 /lvl1/ Production Control Material Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4646 /lvl2/ Production Control Material Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4487"  where id = '4646'
=>>>>>>>>>>>>>>>>>>>>>> 5725 /lvl2/ Production Control Material Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4487"  where id = '5725'
394 /lvl1/ Applied Art & Fine Art Teacher / Coach
2443 /lvl1/ House Artist & Marketing Communication
4492 /lvl1/ Production Line Group Leader / Foreman
6034 /lvl1/ Staff Finance & Inventory_ Probolinggo
=>>>>>>>>>>>>>>>>>>>>>> 16980 /lvl2/ STAFF FINANCE & INVENTORY_ PROBOLINGGO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE & INVENTORY_ PROBOLINGGO", title_clean   = "STAFF FINANCE & INVENTORY_ PROBOLINGGO", title_id  = "6034"  where id = '16980'
6298 /lvl1/ Supervisor Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 12193 /lvl2/ Supervisor Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6298"  where id = '12193'
=>>>>>>>>>>>>>>>>>>>>>> 17272 /lvl2/ Supervisor Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6298"  where id = '17272'
=>>>>>>>>>>>>>>>>>>>>>> 18086 /lvl2/ Supervisor Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6298"  where id = '18086'
=>>>>>>>>>>>>>>>>>>>>>> 19830 /lvl2/ Supervisor Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6298"  where id = '19830'
6299 /lvl1/ Supervisor Human Resources Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 7416 /lvl2/ Supervisor Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6299"  where id = '7416'
6300 /lvl1/ Supervisor Human Resources Development
4254 /lvl1/ Personal Assistant & Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 17058 /lvl2/ PERSONAL ASSISTANT & QUALITY ASSURANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT & QUALITY ASSURANCE", title_clean   = "PERSONAL ASSISTANT & QUALITY ASSURANCE", title_id  = "4254"  where id = '17058'
4258 /lvl1/ Personal Assistant To Manager Director
6564 /lvl1/ Tech Talent Sourcer Intern / Freelance
4007 /lvl1/ Oil & General Affairss Account Manager
6835 /lvl1/ Tukang Listrik Mechanic Mesin Industri
6326 /lvl1/ Supervisor Marketing Elektronik Serang
=>>>>>>>>>>>>>>>>>>>>>> 12763 /lvl2/ Supervisor Marketing Elektronik Serang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6326"  where id = '12763'
6855 /lvl1/ Underwritting / Credit Analyst Manager
978 /lvl1/ Coffee Shop Design Promotion Materials
=>>>>>>>>>>>>>>>>>>>>>> 15527 /lvl2/ Coffee Shop Design Promotion Materials
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "978"  where id = '15527'
2518 /lvl1/ Human Resources Planning & Development
2523 /lvl1/ Human Resources Recruitment & Training
=>>>>>>>>>>>>>>>>>>>>>> 595 /lvl2/ Human Resources Recruitment & Training
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2523"  where id = '595'
=>>>>>>>>>>>>>>>>>>>>>> 16128 /lvl2/ Human Resources Recruitment & Training
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2523"  where id = '16128'
=>>>>>>>>>>>>>>>>>>>>>> 16143 /lvl2/ Human Resources Recruitment & Training
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2523"  where id = '16143'
2525 /lvl1/ Human Resources Recruitment Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3492 /lvl2/ Human Resources Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2525"  where id = '3492'
=>>>>>>>>>>>>>>>>>>>>>> 7737 /lvl2/ Human Resources Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2525"  where id = '7737'
=>>>>>>>>>>>>>>>>>>>>>> 8053 /lvl2/ Human Resources Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2525"  where id = '8053'
=>>>>>>>>>>>>>>>>>>>>>> 11280 /lvl2/ Human Resources Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2525"  where id = '11280'
=>>>>>>>>>>>>>>>>>>>>>> 18562 /lvl2/ Human Resources Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2525"  where id = '18562'
4829 /lvl1/ Research and Development Hydrocolloids

=>>>>>>>>>>>>>>>>>>>>>> 16596 /lvl2/ Research and Development Hydrocolloids
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4829"  where id = '16596'
=>>>>>>>>>>>>>>>>>>>>>> 16610 /lvl2/ Research and Development Hydrocolloids
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4829"  where id = '16610'
735 /lvl1/ Business Analyst With Legal Experience
=>>>>>>>>>>>>>>>>>>>>>> 10391 /lvl2/ Business Analyst with Legal Experience
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business Analyst with Legal Experience", title_clean   = "Business Analyst with Legal Experience", title_id  = "735"  where id = '10391'
2527 /lvl1/ Human Resources Recruitment Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8684 /lvl2/ Human Resources RECRUITMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources RECRUITMENT SUPERVISOR", title_clean   = "Human Resources RECRUITMENT SUPERVISOR", title_id  = "2527"  where id = '8684'
6626 /lvl1/ Technology & Development Division Head
=>>>>>>>>>>>>>>>>>>>>>> 15174 /lvl2/ Technology & Development Division Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6626"  where id = '15174'
=>>>>>>>>>>>>>>>>>>>>>> 15190 /lvl2/ Technology & Development Division Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6626"  where id = '15190'
2535 /lvl1/ Human Resources Training & Development
4328 /lvl1/ Portfolio Management Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 4113 /lvl2/ Portfolio Management Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4328"  where id = '4113'
747 /lvl1/ Business Development & Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 10233 /lvl2/ Business Development & Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "747"  where id = '10233'
=>>>>>>>>>>>>>>>>>>>>>> 16048 /lvl2/ Business Development & Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "747"  where id = '16048'
749 /lvl1/ Business Development Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 17814 /lvl2/ Business Development Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "749"  where id = '17814'
6125 /lvl1/ Staff Planner & Scheduling Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 18266 /lvl2/ Staff Planner & Scheduling Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6125"  where id = '18266'
496 /lvl1/ Assistant Manager Care Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 3679 /lvl2/ Assistant Manager Care Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "496"  where id = '3679'
756 /lvl1/ Business Development Innovation Intern
=>>>>>>>>>>>>>>>>>>>>>> 6142 /lvl2/ Business development Innovation Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business development Innovation Intern", title_clean   = "Business development Innovation Intern", title_id  = "756"  where id = '6142'
=>>>>>>>>>>>>>>>>>>>>>> 7320 /lvl2/ Business development Innovation Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business development Innovation Intern", title_clean   = "Business development Innovation Intern", title_id  = "756"  where id = '7320'
2036 /lvl1/ Financial Planning & Analyst Executive
=>>>>>>>>>>>>>>>>>>>>>> 9627 /lvl2/ Financial Planning & Analyst Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2036"  where id = '9627'
2552 /lvl1/ Human Resources Development Generalist
=>>>>>>>>>>>>>>>>>>>>>> 877 /lvl2/ Human Resources Development Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2552"  where id = '877'
=>>>>>>>>>>>>>>>>>>>>>> 894 /lvl2/ Human Resources Development Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2552"  where id = '894'
=>>>>>>>>>>>>>>>>>>>>>> 11243 /lvl2/ Human Resources Development Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2552"  where id = '11243'
4863 /lvl1/ Reconciliation & Settlement Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4510 /lvl2/ Reconciliation & Settlement Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4863"  where id = '4510'
525 /lvl1/ Assistant Manager Visual Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 1149 /lvl2/ ASSISTANT MANAGER VISUAL MERCHANDISER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER VISUAL MERCHANDISER", title_clean   = "ASSISTANT MANAGER VISUAL MERCHANDISER", title_id  = "525"  where id = '1149'
4365 /lvl1/ Presales / Postsales Network Engineer
6161 /lvl1/ Staff Secretaris Administrasi Support
=>>>>>>>>>>>>>>>>>>>>>> 39 /lvl2/ Staff Secretaris Administrasi Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6161"  where id = '39'
3349 /lvl1/ Legal & Corporate Services Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11910 /lvl2/ Legal & Corporate Services Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3349"  where id = '11910'
4118 /lvl1/ Organizational Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 564 /lvl2/ Organizational Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4118"  where id = '564'
4119 /lvl1/ Organizational Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 743 /lvl2/ ORGANIZATIONAL DEVELOPMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ORGANIZATIONAL DEVELOPMENT SUPERVISOR", title_clean   = "ORGANIZATIONAL DEVELOPMENT SUPERVISOR", title_id  = "4119"  where id = '743'
=>>>>>>>>>>>>>>>>>>>>>> 756 /lvl2/ ORGANIZATIONAL DEVELOPMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ORGANIZATIONAL DEVELOPMENT SUPERVISOR", title_clean   = "ORGANIZATIONAL DEVELOPMENT SUPERVISOR", title_id  = "4119"  where id = '756'
536 /lvl1/ Assistant Product Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 14332 /lvl2/ Assistant Product Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "536"  where id = '14332'
=>>>>>>>>>>>>>>>>>>>>>> 14352 /lvl2/ Assistant Product Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "536"  where id = '14352'
6937 /lvl1/ Warehouse & Transportation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6309 /lvl2/ Warehouse & Transportation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6937"  where id = '6309'
2074 /lvl1/ Foreman / Supervisor Produksi Biscuit
283 /lvl1/ Administrasi Customer Service Officer
=>>>>>>>>>>>>>>>>>>>>>> 19088 /lvl2/ Administrasi Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "283"  where id = '19088'
5147 /lvl1/ Sales Engineer Oil & General Affairss
29 /lvl1/ Account Executive For Interior Design
=>>>>>>>>>>>>>>>>>>>>>> 4643 /lvl2/ Account Executive for Interior Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Executive for Interior Design", title_clean   = "Account Executive for Interior Design", title_id  = "29"  where id = '4643'
4897 /lvl1/ Regional Ccpl Acquisition Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 3012 /lvl2/ Regional CCPL Acquisition Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Regional CCPL Acquisition Team Leader", title_clean   = "Regional CCPL Acquisition Team Leader", title_id  = "4897"  where id = '3012'
1060 /lvl1/ Content Creator & Host Live Streaming
=>>>>>>>>>>>>>>>>>>>>>> 5545 /lvl2/ Content Creator & Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1060"  where id = '5545'
6185 /lvl1/ Statistical Review & Analysis Officer
=>>>>>>>>>>>>>>>>>>>>>> 584 /lvl2/ Statistical Review & Analysis Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6185"  where id = '584'
2347 /lvl1/ Head of Database Management Analytics
=>>>>>>>>>>>>>>>>>>>>>> 4191 /lvl2/ Head of Database Management Analytics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2347"  where id = '4191'
2861 /lvl1/ It Business Analyst Assistant Manager

=>>>>>>>>>>>>>>>>>>>>>> 14107 /lvl2/ IT Business Analyst Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Analyst Assistant Manager", title_clean   = "IT Business Analyst Assistant Manager", title_id  = "2861"  where id = '14107'
4910 /lvl1/ Regional Marketing Operations Manager
=>>>>>>>>>>>>>>>>>>>>>> 2127 /lvl2/ Regional Marketing Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4910"  where id = '2127'
4399 /lvl1/ Process Improvement Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 11201 /lvl2/ Process Improvement Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4399"  where id = '11201'
5680 /lvl1/ Senior Wordpress Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 12807 /lvl2/ SENIOR WORDPRESS FULL STACK DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR WORDPRESS FULL STACK DEVELOPER", title_clean   = "SENIOR WORDPRESS FULL STACK DEVELOPER", title_id  = "5680"  where id = '12807'
5682 /lvl1/ Sensory & Consumer Science Specialist
=>>>>>>>>>>>>>>>>>>>>>> 27 /lvl2/ Sensory & Consumer Science Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5682"  where id = '27'
1076 /lvl1/ Content Creators Cum Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 14909 /lvl2/ Content Creators cum Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Content Creators cum Graphic Designer", title_clean   = "Content Creators cum Graphic Designer", title_id  = "1076"  where id = '14909'
2870 /lvl1/ It Business Process Improvement Staff
=>>>>>>>>>>>>>>>>>>>>>> 5760 /lvl2/ IT Business Process Improvement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Process Improvement Staff", title_clean   = "IT Business Process Improvement Staff", title_id  = "2870"  where id = '5760'
2105 /lvl1/ Development Program Developer Account
2873 /lvl1/ It Client Infrastructure Support Lead
=>>>>>>>>>>>>>>>>>>>>>> 2535 /lvl2/ IT Client Infrastructure Support Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Client Infrastructure Support Lead", title_clean   = "IT Client Infrastructure Support Lead", title_id  = "2873"  where id = '2535'
2125 /lvl1/ Full Stack Developer Web & Mobile App
=>>>>>>>>>>>>>>>>>>>>>> 3844 /lvl2/ Full Stack Developer Web & Mobile App
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2125"  where id = '3844'
6733 /lvl1/ Tenant Leasing & Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6220 /lvl2/ Tenant Leasing & Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6733"  where id = '6220'
2896 /lvl1/ It Enterprise Data Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 7065 /lvl2/ IT Enterprise Data Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Enterprise Data Management Manager", title_clean   = "IT Enterprise Data Management Manager", title_id  = "2896"  where id = '7065'
1619 /lvl1/ Dynamics 365 Bc Functional Consultant
=>>>>>>>>>>>>>>>>>>>>>> 11012 /lvl2/ Dynamics 365 BC Functional Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Dynamics 365 BC Functional Consultant", title_clean   = "Dynamics 365 BC Functional Consultant", title_id  = "1619"  where id = '11012'
=>>>>>>>>>>>>>>>>>>>>>> 11045 /lvl2/ Dynamics 365 BC Functional Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Dynamics 365 BC Functional Consultant", title_clean   = "Dynamics 365 BC Functional Consultant", title_id  = "1619"  where id = '11045'
5203 /lvl1/ Sales Keliling / Lapangan / Canvasser
=>>>>>>>>>>>>>>>>>>>>>> 4476 /lvl2/ Sales Keliling / Lapangan / canvasser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Keliling / Lapangan / canvasser", title_clean   = "Sales Keliling / Lapangan / canvasser", title_id  = "5203"  where id = '4476'
4438 /lvl1/ Product Design & Development Engineer
4444 /lvl1/ Product Development Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 5578 /lvl2/ PRODUCT DEVELOPMENT ASSISTANT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT DEVELOPMENT ASSISTANT MANAGER", title_clean   = "PRODUCT DEVELOPMENT ASSISTANT MANAGER", title_id  = "4444"  where id = '5578'
93 /lvl1/ Accounting Budgeting Manager Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 7721 /lvl2/ Accounting Budgeting Manager Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "93"  where id = '7721'
3423 /lvl1/ Lost & Damage Claim Analyst Logistics
=>>>>>>>>>>>>>>>>>>>>>> 17180 /lvl2/ Lost & Damage Claim Analyst Logistics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3423"  where id = '17180'
1121 /lvl1/ Corporate Banking Relation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17103 /lvl2/ Corporate Banking Relation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1121"  where id = '17103'
4193 /lvl1/ Pengawas Lapangan Fiber Optic Project
=>>>>>>>>>>>>>>>>>>>>>> 17816 /lvl2/ Pengawas Lapangan Fiber Optic Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4193"  where id = '17816'
5729 /lvl1/ Shipping Agency Marketing & Operation
=>>>>>>>>>>>>>>>>>>>>>> 13610 /lvl2/ Shipping Agency Marketing & Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5729"  where id = '13610'
=>>>>>>>>>>>>>>>>>>>>>> 13624 /lvl2/ Shipping Agency Marketing & Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5729"  where id = '13624'
3683 /lvl1/ Marketing Director Personal Assistant
=>>>>>>>>>>>>>>>>>>>>>> 11971 /lvl2/ Marketing Director Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3683"  where id = '11971'
6247 /lvl1/ Supervisor Account Payable&Bookkeeper
=>>>>>>>>>>>>>>>>>>>>>> 15401 /lvl2/ Supervisor Account Payable&Bookkeeper
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6247"  where id = '15401'
3946 /lvl1/ National Bpkb Central Department Head
=>>>>>>>>>>>>>>>>>>>>>> 9260 /lvl2/ National BPKB Central Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "National BPKB Central Department Head", title_clean   = "National BPKB Central Department Head", title_id  = "3946"  where id = '9260'
3947 /lvl1/ National Data & Forecast Section Head
=>>>>>>>>>>>>>>>>>>>>>> 3379 /lvl2/ National Data & Forecast Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3947"  where id = '3379'
108 /lvl1/ Accounting Manager Freight Forwarding
=>>>>>>>>>>>>>>>>>>>>>> 2203 /lvl2/ Accounting Manager Freight Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "108"  where id = '2203'
1644 /lvl1/ Education Consultant For Study Abroad
=>>>>>>>>>>>>>>>>>>>>>> 8917 /lvl2/ Education Consultant for Study Abroad
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Education Consultant for Study Abroad", title_clean   = "Education Consultant for Study Abroad", title_id  = "1644"  where id = '8917'
5489 /lvl1/ Senior Consultant Front End Developer
5234 /lvl1/ Sales Marketing Citraland Banjarmasin
=>>>>>>>>>>>>>>>>>>>>>> 2556 /lvl2/ SALES MARKETING CITRALAND BANJARMASIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING CITRALAND BANJARMASIN", title_clean   = "SALES MARKETING CITRALAND BANJARMASIN", title_id  = "5234"  where id = '2556'
6004 /lvl1/ Staff Collection / Account Receivable
=>>>>>>>>>>>>>>>>>>>>>> 365 /lvl2/ Staff Collection / Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6004"  where id = '365'
=>>>>>>>>>>>>>>>>>>>>>> 410 /lvl2/ Staff Collection / Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6004"  where id = '410'
2682 /lvl1/ Incident Management Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1617 /lvl2/ Incident Management Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2682"  where id = '1617'
2180 /lvl1/ General Affairs & Vehicle Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 2602 /lvl2/ General Affairs & Vehicle Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2180"  where id = '2602'
2695 /lvl1/ Industrial Engineering Senior Manager

=>>>>>>>>>>>>>>>>>>>>>> 15198 /lvl2/ Industrial Engineering Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2695"  where id = '15198'
3721 /lvl1/ Marketing Manager of Sharia Insurance
=>>>>>>>>>>>>>>>>>>>>>> 6066 /lvl2/ Marketing Manager of Sharia Insurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3721"  where id = '6066'
3468 /lvl1/ Management Trainee Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 9813 /lvl2/ Management Trainee Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3468"  where id = '9813'
5516 /lvl1/ Senior Engineering Solutions Engineer
6285 /lvl1/ Supervisor Finance Account Receivable
4240 /lvl1/ Performance Management Junior Analyst
=>>>>>>>>>>>>>>>>>>>>>> 17449 /lvl2/ Performance Management Junior Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4240"  where id = '17449'
5521 /lvl1/ Senior Finance & Accounting Associate
=>>>>>>>>>>>>>>>>>>>>>> 8611 /lvl2/ Senior Finance & Accounting Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5521"  where id = '8611'
=>>>>>>>>>>>>>>>>>>>>>> 9816 /lvl2/ Senior Finance & Accounting Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5521"  where id = '9816'
5272 /lvl1/ Sales Planning & Logistics Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20348 /lvl2/ Sales Planning & Logistics Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5272"  where id = '20348'
1946 /lvl1/ Finance Account Receivable Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18658 /lvl2/ Finance Account Receivable Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1946"  where id = '18658'
3492 /lvl1/ Manager Design & Planning Engineering
=>>>>>>>>>>>>>>>>>>>>>> 4630 /lvl2/ Manager Design & Planning Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3492"  where id = '4630'
4009 /lvl1/ Online / Digital / Internet Marketing
2730 /lvl1/ Instrument Engineering Lead / Manager
6831 /lvl1/ Treasury Operation Controller Officer
=>>>>>>>>>>>>>>>>>>>>>> 631 /lvl2/ Treasury Operation Controller Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6831"  where id = '631'
6324 /lvl1/ Supervisor Market Research & Strategy
3255 /lvl1/ Konsultan Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 14385 /lvl2/ KONSULTAN Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KONSULTAN Human Resources Development", title_clean   = "KONSULTAN Human Resources Development", title_id  = "3255"  where id = '14385'
2489 /lvl1/ Human Resources Generalist Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17225 /lvl2/ Human Resources GENERALIST SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources GENERALIST SUPERVISOR", title_clean   = "Human Resources GENERALIST SUPERVISOR", title_id  = "2489"  where id = '17225'
=>>>>>>>>>>>>>>>>>>>>>> 18593 /lvl2/ Human Resources Generalist Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2489"  where id = '18593'
3519 /lvl1/ Manager Maintenance Machine & Utility
=>>>>>>>>>>>>>>>>>>>>>> 13052 /lvl2/ Manager Maintenance Machine & Utility
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3519"  where id = '13052'
5055 /lvl1/ Sales & Marketing GArment Accessories
=>>>>>>>>>>>>>>>>>>>>>> 20224 /lvl2/ Sales & Marketing Garment Accessories
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales & Marketing Garment Accessories", title_clean   = "Sales & Marketing Garment Accessories", title_id  = "5055"  where id = '20224'
6336 /lvl1/ Supervisor Outlet Boga Kitchen Serang
=>>>>>>>>>>>>>>>>>>>>>> 13170 /lvl2/ Supervisor Outlet Boga Kitchen Serang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6336"  where id = '13170'
6350 /lvl1/ Supervisor Produksi Pemasiran Spandek
982 /lvl1/ Collection / Account Receivable Staff
219 /lvl1/ Admin Media Sosial & Online Promotion
1756 /lvl1/ ERP Sales Marketing / Presales Senior
4316 /lvl1/ Plantation Operational Audit Agronomy
=>>>>>>>>>>>>>>>>>>>>>> 19836 /lvl2/ Plantation Operational Audit Agronomy
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4316"  where id = '19836'
738 /lvl1/ Business Consultant Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1837 /lvl2/ Business Consultant Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "738"  where id = '1837'
=>>>>>>>>>>>>>>>>>>>>>> 5141 /lvl2/ Business Consultant Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "738"  where id = '5141'
4579 /lvl1/ Project Management Finance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6919 /lvl2/ Project Management Finance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4579"  where id = '6919'
5092 /lvl1/ Sales Associate & Boutique Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15827 /lvl2/ Sales Associate & Boutique Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5092"  where id = '15827'
4581 /lvl1/ Project Management Officer Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3521 /lvl2/ Project Management Officer Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4581"  where id = '3521'
4838 /lvl1/ Research and Development Senior Staff
4839 /lvl1/ Research and Development Snack & Food
488 /lvl1/ Assistant Industrial Relation Manager
=>>>>>>>>>>>>>>>>>>>>>> 15261 /lvl2/ Assistant Industrial Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "488"  where id = '15261'
=>>>>>>>>>>>>>>>>>>>>>> 15278 /lvl2/ Assistant Industrial Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "488"  where id = '15278'
4072 /lvl1/ Operator Elektrik / Operator Mechanic
5352 /lvl1/ Sap Business One Technical Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6129 /lvl2/ SAP Business One Technical Consultant (Software Developer\u002FProgrammer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Business One Technical Consultant (Software Developer\u002FProgrammer)", title_clean   = "SAP Business One Technical Consultant (Software Developer\u002FProgrammer)", title_id  = "5352"  where id = '6129'
=>>>>>>>>>>>>>>>>>>>>>> 6141 /lvl2/ SAP Business One Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Business One Technical Consultant", title_clean   = "SAP Business One Technical Consultant", title_id  = "5352"  where id = '6141'
1514 /lvl1/ Digital Project Management Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2572 /lvl2/ Digital Project Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1514"  where id = '2572'
6644 /lvl1/ Teknisi Air Purifier & Water Purifier
=>>>>>>>>>>>>>>>>>>>>>> 3530 /lvl2/ Teknisi Air Purifier & Water Purifier
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6644"  where id = '3530'
1525 /lvl1/ Director of Land Acquisition & Permit
1014 /lvl1/ Compensation & Benefit Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 16430 /lvl2/ Compensation & Benefit Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1014"  where id = '16430'
2814 /lvl1/ Inventory Planning Control Supervisor
2303 /lvl1/ Guru Sekolah Dasar & Menengah Pertama
=>>>>>>>>>>>>>>>>>>>>>> 3411 /lvl2/ Guru Sekolah Dasar & Menengah Pertama
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2303"  where id = '3411'
6399 /lvl1/ Supervisor Technical Digital Printing
=>>>>>>>>>>>>>>>>>>>>>> 1502 /lvl2/ Supervisor Technical Digital Printing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6399"  where id = '1502'
5385 /lvl1/ Scrum Master / System Analyst Design
6926 /lvl1/ Waitress Waitress Server Barista Bar
2837 /lvl1/ It Application & Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 15157 /lvl2/ IT Application & Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application & Development Manager", title_clean   = "IT Application & Development Manager", title_id  = "2837"  where id = '15157'
=>>>>>>>>>>>>>>>>>>>>>> 15805 /lvl2/ IT Application & Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application & Development Manager", title_clean   = "IT Application & Development Manager", title_id  = "2837"  where id = '15805'
5143 /lvl1/ Sales Engineer / Marketing Executive

5657 /lvl1/ Senior Talent Acquisition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17250 /lvl2/ Senior Talent Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5657"  where id = '17250'
1306 /lvl1/ Customer Service Complain Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18655 /lvl2/ Customer Service Complain Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1306"  where id = '18655'
6172 /lvl1/ Staff Technical Support Elektromedik
=>>>>>>>>>>>>>>>>>>>>>> 16093 /lvl2/ Staff Technical Support Elektromedik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6172"  where id = '16093'
4126 /lvl1/ Outlet Manager Penempatan Pekalongan
=>>>>>>>>>>>>>>>>>>>>>> 9338 /lvl2/ Outlet Manager Penempatan Pekalongan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4126"  where id = '9338'
4898 /lvl1/ Regional Channel Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 1910 /lvl2/ Regional Channel Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4898"  where id = '1910'
549 /lvl1/ Assistant Technical Services Manager
=>>>>>>>>>>>>>>>>>>>>>> 4729 /lvl2/ Assistant Technical Services Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "549"  where id = '4729'
1063 /lvl1/ Content Creator & Social Media Staff
=>>>>>>>>>>>>>>>>>>>>>> 9044 /lvl2/ Content Creator & Social Media Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1063"  where id = '9044'
=>>>>>>>>>>>>>>>>>>>>>> 20198 /lvl2/ Content Creator & Social Media Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1063"  where id = '20198'
553 /lvl1/ Assistant To Vice President Director
=>>>>>>>>>>>>>>>>>>>>>> 2198 /lvl2/ ASSISTANT TO VICE PRESIDENT DIRECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT TO VICE PRESIDENT DIRECTOR", title_clean   = "ASSISTANT TO VICE PRESIDENT DIRECTOR", title_id  = "553"  where id = '2198'
2607 /lvl1/ Human Capital Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6042 /lvl2/ Human Capital Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2607"  where id = '6042'
1328 /lvl1/ Customer Success Team Lead Indonesia
=>>>>>>>>>>>>>>>>>>>>>> 13403 /lvl2/ Customer Success Team Lead Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1328"  where id = '13403'
=>>>>>>>>>>>>>>>>>>>>>> 13599 /lvl2/ Customer Success Team Lead Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1328"  where id = '13599'
49 /lvl1/ Account Receivable & Billing Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11271 /lvl2/ Account Receivable & Billing Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "49"  where id = '11271'
5939 /lvl1/ Staff Teknisi Listrik / Teknik Sipil
3636 /lvl1/ Marketing & User Acquisition Manager
=>>>>>>>>>>>>>>>>>>>>>> 10045 /lvl2/ Marketing & User Acquisition Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3636"  where id = '10045'
2101 /lvl1/ Freight Forwarding Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 14172 /lvl2/ Freight Forwarding Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2101"  where id = '14172'
=>>>>>>>>>>>>>>>>>>>>>> 14528 /lvl2/ Freight Forwarding Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2101"  where id = '14528'
58 /lvl1/ Accountant For Construction Business
=>>>>>>>>>>>>>>>>>>>>>> 5018 /lvl2/ ACCOUNTANT FOR CONSTRUCTION BUSINESS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTANT FOR CONSTRUCTION BUSINESS", title_clean   = "ACCOUNTANT FOR CONSTRUCTION BUSINESS", title_id  = "58"  where id = '5018'
4924 /lvl1/ Regulatory & Digital Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 3852 /lvl2/ Regulatory & Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4924"  where id = '3852'
5438 /lvl1/ Senior / Field Applications Engineer
1343 /lvl1/ Data Analyst & Monitoring Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13000 /lvl2/ Data Analyst & Monitoring Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1343"  where id = '13000'
6465 /lvl1/ System Integration Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 7924 /lvl2/ System Integration Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6465"  where id = '7924'
=>>>>>>>>>>>>>>>>>>>>>> 8240 /lvl2/ System Integration Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6465"  where id = '8240'
3141 /lvl1/ Junior Supervisor Database Operation
=>>>>>>>>>>>>>>>>>>>>>> 10851 /lvl2/ Junior Supervisor Database Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3141"  where id = '10851'
2118 /lvl1/ Frontliner Customer Service & Teller
6216 /lvl1/ Strategic Operation Senior Associate
=>>>>>>>>>>>>>>>>>>>>>> 2531 /lvl2/ Strategic Operation Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6216"  where id = '2531'
332 /lvl1/ After Sales Service / Field Engineer
4940 /lvl1/ Relationship Manager For Retail Loan
=>>>>>>>>>>>>>>>>>>>>>> 19633 /lvl2/ Relationship Manager for Retail Loan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Relationship Manager for Retail Loan", title_clean   = "Relationship Manager for Retail Loan", title_id  = "4940"  where id = '19633'
=>>>>>>>>>>>>>>>>>>>>>> 20486 /lvl2/ Relationship Manager for Retail Loan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Relationship Manager for Retail Loan", title_clean   = "Relationship Manager for Retail Loan", title_id  = "4940"  where id = '20486'
2381 /lvl1/ Head of Medical Services Development
=>>>>>>>>>>>>>>>>>>>>>> 3493 /lvl2/ Head of Medical Services Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2381"  where id = '3493'
6478 /lvl1/ Talent Acquisition Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 15532 /lvl2/ Talent Acquisition Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6478"  where id = '15532'
=>>>>>>>>>>>>>>>>>>>>>> 15853 /lvl2/ Talent Acquisition Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6478"  where id = '15853'
4431 /lvl1/ Product & Planning Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 18204 /lvl2/ Product & Planning Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4431"  where id = '18204'
850 /lvl1/ Cashier, Cook / Cook Helper, Steward
4178 /lvl1/ Pelaksana Listrik & Plumbing Outdoor
3680 /lvl1/ Marketing Development Bpm Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1393 /lvl2/ Marketing Development BPM Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing Development BPM Supervisor", title_clean   = "Marketing Development BPM Supervisor", title_id  = "3680"  where id = '1393'
4962 /lvl1/ Reporting Analysis Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 16483 /lvl2/ Reporting Analysis Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4962"  where id = '16483'
3173 /lvl1/ Kepala Bagian Analytical Development
=>>>>>>>>>>>>>>>>>>>>>> 2526 /lvl2/ KEPALA BAGIAN ANALYTICAL DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA BAGIAN ANALYTICAL DEVELOPMENT", title_clean   = "KEPALA BAGIAN ANALYTICAL DEVELOPMENT", title_id  = "3173"  where id = '2526'
3430 /lvl1/ Magang Architect / Interior Designer
1385 /lvl1/ Dealer Performance Senior Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16152 /lvl2/ Dealer Performance Senior Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1385"  where id = '16152'
874 /lvl1/ Channel Management Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 14851 /lvl2/ Channel Management Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "874"  where id = '14851'
3437 /lvl1/ Maintenance & Engineering Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10301 /lvl2/ Maintenance & Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3437"  where id = '10301'
3183 /lvl1/ Kepala Bagian Research & Development

=>>>>>>>>>>>>>>>>>>>>>> 8657 /lvl2/ KEPALA BAGIAN RESEARCH & DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA BAGIAN RESEARCH & DEVELOPMENT", title_clean   = "KEPALA BAGIAN RESEARCH & DEVELOPMENT", title_id  = "3183"  where id = '8657'
5488 /lvl1/ Senior Consultant Back End Developer
4977 /lvl1/ Residence Service Staff Binus Square
=>>>>>>>>>>>>>>>>>>>>>> 9015 /lvl2/ Residence Service Staff Binus Square
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4977"  where id = '9015'
4214 /lvl1/ People Development Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 5688 /lvl2/ People Development Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4214"  where id = '5688'
=>>>>>>>>>>>>>>>>>>>>>> 7243 /lvl2/ Training & People Development Assistant Manager (IMLI - Pasuruan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Training & -idex- (IMLI - Pasuruan)", title_clean   = "Training &  (IMLI - Pasuruan)", title_id  = "4214"  where id = '7243'
1143 /lvl1/ Corporate Legal & Compliance Manager
=>>>>>>>>>>>>>>>>>>>>>> 11895 /lvl2/ Corporate Legal & Compliance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1143"  where id = '11895'
1399 /lvl1/ Deputy Chief Human Resources Officer
=>>>>>>>>>>>>>>>>>>>>>> 15772 /lvl2/ Deputy Chief Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1399"  where id = '15772'
5239 /lvl1/ Sales Marketing Executive Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13036 /lvl2/ Sales Marketing Executive Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5239"  where id = '13036'
5508 /lvl1/ Senior Desainer Interior / Architect
=>>>>>>>>>>>>>>>>>>>>>> 11425 /lvl2/ Senior Desainer Interior / Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5508"  where id = '11425'
133 /lvl1/ Accounting, Tax & Finance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17466 /lvl2/ Accounting, Tax & Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "133"  where id = '17466'
1927 /lvl1/ Finance & Accounting General Manager
396 /lvl1/ Apu Ppt Monitoring & Reporting Staff
=>>>>>>>>>>>>>>>>>>>>>> 7050 /lvl2/ APU PPT Monitoring & Reporting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APU PPT Monitoring & Reporting Staff", title_clean   = "APU PPT Monitoring & Reporting Staff", title_id  = "396"  where id = '7050'
=>>>>>>>>>>>>>>>>>>>>>> 8525 /lvl2/ APU PPT Monitoring & Reporting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APU PPT Monitoring & Reporting Staff", title_clean   = "APU PPT Monitoring & Reporting Staff", title_id  = "396"  where id = '8525'
1165 /lvl1/ Corporate Training Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 12704 /lvl2/ Corporate Training Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1165"  where id = '12704'
6290 /lvl1/ Supervisor Finance, Accounting & Tax
5271 /lvl1/ Sales Planning & Logistic Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20478 /lvl2/ Sales Planning & Logistic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5271"  where id = '20478'
921 /lvl1/ Chinese Language & Di Zi Gui Teacher
412 /lvl1/ Asessment Engineer, Utilities / Kiln
4253 /lvl1/ Personal Assistant & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 3280 /lvl2/ Personal Assistant & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4253"  where id = '3280'
5533 /lvl1/ Senior Graphic Designer Web Designer
=>>>>>>>>>>>>>>>>>>>>>> 6471 /lvl2/ SENIOR GRAPHIC DESIGNER WEB DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR GRAPHIC DESIGNER WEB DESIGNER", title_clean   = "SENIOR GRAPHIC DESIGNER WEB DESIGNER", title_id  = "5533"  where id = '6471'
1438 /lvl1/ Desk Collection Outsource Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1068 /lvl2/ Desk Collection Outsource Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1438"  where id = '1068'
1952 /lvl1/ Finance Accounting Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 473 /lvl2/ Finance Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1952"  where id = '473'
=>>>>>>>>>>>>>>>>>>>>>> 12069 /lvl2/ Finance Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1952"  where id = '12069'
1953 /lvl1/ Finance Accounting Assistant Manager
1955 /lvl1/ Finance Accounting Mandarin Speaking
=>>>>>>>>>>>>>>>>>>>>>> 5295 /lvl2/ Finance Accounting Mandarin Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1955"  where id = '5295'
=>>>>>>>>>>>>>>>>>>>>>> 5508 /lvl2/ Manager Finance Accounting Mandarin Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager -idex-", title_clean   = "Manager ", title_id  = "1955"  where id = '5508'
1700 /lvl1/ Engineering & Maintenance Technician
=>>>>>>>>>>>>>>>>>>>>>> 2785 /lvl2/ ENGINEERING & MAINTENANCE TECHNICIAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEERING & MAINTENANCE TECHNICIAN", title_clean   = "ENGINEERING & MAINTENANCE TECHNICIAN", title_id  = "1700"  where id = '2785'
1450 /lvl1/ Development & Administration Support
=>>>>>>>>>>>>>>>>>>>>>> 3528 /lvl2/ Development & Administration Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1450"  where id = '3528'
=>>>>>>>>>>>>>>>>>>>>>> 4534 /lvl2/ Development & Administration Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1450"  where id = '4534'
3755 /lvl1/ Marketing Staff For Bachelor Program
=>>>>>>>>>>>>>>>>>>>>>> 5749 /lvl2/ Marketing Staff for Bachelor Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing Staff for Bachelor Program", title_clean   = "Marketing Staff for Bachelor Program", title_id  = "3755"  where id = '5749'
5040 /lvl1/ Sales & Business Development Manager
180 /lvl1/ Admin Executive Anodizing Department
=>>>>>>>>>>>>>>>>>>>>>> 251 /lvl2/ Admin Executive Anodizing Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "180"  where id = '251'
4021 /lvl1/ Online Wholesale Business Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17691 /lvl2/ Online Wholesale Business Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4021"  where id = '17691'
6328 /lvl1/ Supervisor Marketing Mobil Tangerang
=>>>>>>>>>>>>>>>>>>>>>> 10409 /lvl2/ Supervisor Marketing Mobil Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6328"  where id = '10409'
1979 /lvl1/ Finance Business Partner Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 9754 /lvl2/ Finance Business Partner Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1979"  where id = '9754'
2239 /lvl1/ Graphic Design & Videographer Intern
=>>>>>>>>>>>>>>>>>>>>>> 11003 /lvl2/ Graphic Design & Videographer Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2239"  where id = '11003'
=>>>>>>>>>>>>>>>>>>>>>> 11031 /lvl2/ Graphic Design & Videographer Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2239"  where id = '11031'
5823 /lvl1/ Software Tester Or Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 9320 /lvl2/ SOFTWARE TESTER OR QUALITY ASSURANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOFTWARE TESTER OR QUALITY ASSURANCE", title_clean   = "SOFTWARE TESTER OR QUALITY ASSURANCE", title_id  = "5823"  where id = '9320'
704 /lvl1/ Budget & Reporting Senior Specialist
2498 /lvl1/ Human Resources Manager / Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9050 /lvl2/ Human Resources Manager / Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2498"  where id = '9050'
6597 /lvl1/ Technical Sales Representative Staff
=>>>>>>>>>>>>>>>>>>>>>> 7164 /lvl2/ Technical Sales Representative Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6597"  where id = '7164'
=>>>>>>>>>>>>>>>>>>>>>> 11219 /lvl2/ Technical Sales Representative Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6597"  where id = '11219'
3527 /lvl1/ Manager Operasional Trucking Company

=>>>>>>>>>>>>>>>>>>>>>> 1485 /lvl2/ Manager Operasional Trucking Company
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3527"  where id = '1485'
2248 /lvl1/ Graphic Designer & Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 9439 /lvl2/ Graphic Designer & Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2248"  where id = '9439'
4809 /lvl1/ Quality Management System Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10400 /lvl2/ Quality Management System Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4809"  where id = '10400'
2506 /lvl1/ Human Resources Operation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17655 /lvl2/ Human Resources Operation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2506"  where id = '17655'
1488 /lvl1/ Digital Marketing & Event Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19505 /lvl2/ Digital Marketing & Event Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1488"  where id = '19505'
=>>>>>>>>>>>>>>>>>>>>>> 20367 /lvl2/ Digital Marketing & Event Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1488"  where id = '20367'
3795 /lvl1/ Mechanic Elektrikal & Kaki Kaki Truk
2006 /lvl1/ Finance, Accounting & Tax Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20050 /lvl2/ Finance, Accounting & Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2006"  where id = '20050'
4054 /lvl1/ Operational Excellence Division Head
=>>>>>>>>>>>>>>>>>>>>>> 18387 /lvl2/ OPERATIONAL EXCELLENCE DIVISION HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATIONAL EXCELLENCE DIVISION HEAD", title_clean   = "OPERATIONAL EXCELLENCE DIVISION HEAD", title_id  = "4054"  where id = '18387'
4573 /lvl1/ Project Legal Administration Officer
=>>>>>>>>>>>>>>>>>>>>>> 16960 /lvl2/ Project Legal Administration Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4573"  where id = '16960'
=>>>>>>>>>>>>>>>>>>>>>> 16977 /lvl2/ Project Legal Administration Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4573"  where id = '16977'
2014 /lvl1/ Financial & Network Planning Officer
=>>>>>>>>>>>>>>>>>>>>>> 5192 /lvl2/ Financial & Network Planning Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2014"  where id = '5192'
994 /lvl1/ Commercial Finance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1172 /lvl2/ Commercial Finance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "994"  where id = '1172'
4580 /lvl1/ Project Management Office Specialist
=>>>>>>>>>>>>>>>>>>>>>> 12083 /lvl2/ Project Management Office Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4580"  where id = '12083'
=>>>>>>>>>>>>>>>>>>>>>> 13674 /lvl2/ Project Management Office Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4580"  where id = '13674'
=>>>>>>>>>>>>>>>>>>>>>> 13698 /lvl2/ Project Management Office Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4580"  where id = '13698'
1253 /lvl1/ Chief Revenue Officer Administration
3813 /lvl1/ Mechanical / Piping Engineering Lead
486 /lvl1/ Assistant Human Resources Generalist
=>>>>>>>>>>>>>>>>>>>>>> 3848 /lvl2/ Assistant Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "486"  where id = '3848'
744 /lvl1/ Business Development / Intellingence
2536 /lvl1/ Human Resources Training Development
=>>>>>>>>>>>>>>>>>>>>>> 2289 /lvl2/ Human Resources TRAINING DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources TRAINING DEVELOPMENT", title_clean   = "Human Resources TRAINING DEVELOPMENT", title_id  = "2536"  where id = '2289'
746 /lvl1/ Business Development & Project Admin
=>>>>>>>>>>>>>>>>>>>>>> 19367 /lvl2/ Business Development & Project Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "746"  where id = '19367'
2026 /lvl1/ Financial Information System Analyst
=>>>>>>>>>>>>>>>>>>>>>> 479 /lvl2/ Financial Information System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2026"  where id = '479'
4846 /lvl1/ Raw Material Finished Good Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 730 /lvl2/ Raw Material Finished Good Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4846"  where id = '730'
4087 /lvl1/ Operator Safety Health & Environment
=>>>>>>>>>>>>>>>>>>>>>> 11585 /lvl2/ Operator Safety Health & Environment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4087"  where id = '11585'
4860 /lvl1/ Receptionist & Travel Administration
=>>>>>>>>>>>>>>>>>>>>>> 5703 /lvl2/ Receptionist & Travel Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4860"  where id = '5703'
4351 /lvl1/ Ppjk & Customs Compliance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2435 /lvl2/ PPJK & Customs Compliance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PPJK & Customs Compliance Supervisor", title_clean   = "PPJK & Customs Compliance Supervisor", title_id  = "4351"  where id = '2435'
3077 /lvl1/ Junior / Senior Front End Developer
5382 /lvl1/ Science Teachers For Primary School
=>>>>>>>>>>>>>>>>>>>>>> 5885 /lvl2/ Science Teachers for Primary School
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Science Teachers for Primary School", title_clean   = "Science Teachers for Primary School", title_id  = "5382"  where id = '5885'
5640 /lvl1/ Senior Staff Compensation & Benefit
=>>>>>>>>>>>>>>>>>>>>>> 18554 /lvl2/ Senior Staff Compensation & Benefit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5640"  where id = '18554'
1038 /lvl1/ Construction & Overseas Procurement
4114 /lvl1/ Organization Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6754 /lvl2/ Organization Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4114"  where id = '6754'
3859 /lvl1/ Membership Administrator Spesialist
=>>>>>>>>>>>>>>>>>>>>>> 3248 /lvl2/ Membership Administrator Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3859"  where id = '3248'
=>>>>>>>>>>>>>>>>>>>>>> 4142 /lvl2/ Membership Administrator Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3859"  where id = '4142'
788 /lvl1/ Business Planning & Reporting Staff
=>>>>>>>>>>>>>>>>>>>>>> 4233 /lvl2/ Business Planning & Reporting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "788"  where id = '4233'
4374 /lvl1/ Preschool & Primary English Teacher
=>>>>>>>>>>>>>>>>>>>>>> 20522 /lvl2/ PRESCHOOL & PRIMARY ENGLISH TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL & PRIMARY ENGLISH TEACHER", title_clean   = "PRESCHOOL & PRIMARY ENGLISH TEACHER", title_id  = "4374"  where id = '20522'
6678 /lvl1/ Teknisi Mechanic Mesin Cetak Offset
6424 /lvl1/ Supply Chain Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18850 /lvl2/ SUPPLY CHAIN DEVELOPMENT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPPLY CHAIN DEVELOPMENT SPECIALIST", title_clean   = "SUPPLY CHAIN DEVELOPMENT SPECIALIST", title_id  = "6424"  where id = '18850'
25 /lvl1/ Account Executive Corporate Banking
=>>>>>>>>>>>>>>>>>>>>>> 11441 /lvl2/ Account Executive Corporate Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "25"  where id = '11441'
2331 /lvl1/ Head Customs Brokerage & Compliance
4124 /lvl1/ Outgoing Quality Control Technician
=>>>>>>>>>>>>>>>>>>>>>> 16659 /lvl2/ Outgoing Quality Control Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4124"  where id = '16659'
=>>>>>>>>>>>>>>>>>>>>>> 16674 /lvl2/ Outgoing Quality Control Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4124"  where id = '16674'
4382 /lvl1/ Primary & Secondary English Teacher
=>>>>>>>>>>>>>>>>>>>>>> 20285 /lvl2/ Primary & Secondary English Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4382"  where id = '20285'
1311 /lvl1/ Customer Service Freight Forwarding

=>>>>>>>>>>>>>>>>>>>>>> 20364 /lvl2/ Customer Service Freight Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1311"  where id = '20364'
32 /lvl1/ Account Executive Payment Switching
=>>>>>>>>>>>>>>>>>>>>>> 6037 /lvl2/ Account Executive Payment Switching
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "32"  where id = '6037'
4128 /lvl1/ Overseas Sales & Document Operation
=>>>>>>>>>>>>>>>>>>>>>> 4508 /lvl2/ Overseas Sales & Document Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4128"  where id = '4508'
=>>>>>>>>>>>>>>>>>>>>>> 4527 /lvl2/ Overseas Sales & Document Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4128"  where id = '4527'
3618 /lvl1/ Marketing & Communication Executive
=>>>>>>>>>>>>>>>>>>>>>> 16343 /lvl2/ Marketing & Communication Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3618"  where id = '16343'
=>>>>>>>>>>>>>>>>>>>>>> 16358 /lvl2/ Marketing & Communication Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3618"  where id = '16358'
4642 /lvl1/ Public Relation & Event Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 4263 /lvl2/ Public Relation & Event Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4642"  where id = '4263'
4899 /lvl1/ Regional Channel Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 2312 /lvl2/ Regional Channel Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4899"  where id = '2312'
1831 /lvl1/ Export Import Compliance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16320 /lvl2/ Export Import Compliance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1831"  where id = '16320'
1065 /lvl1/ Content Creator & Tiktok Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18616 /lvl2/ Content Creator & Tiktok Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1065"  where id = '18616'
3628 /lvl1/ Marketing & Public Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 6819 /lvl2/ Marketing & Public Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3628"  where id = '6819'
=>>>>>>>>>>>>>>>>>>>>>> 7944 /lvl2/ Marketing & Public Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3628"  where id = '7944'
=>>>>>>>>>>>>>>>>>>>>>> 8259 /lvl2/ Marketing & Public Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3628"  where id = '8259'
562 /lvl1/ Associate Implementation Consultant
=>>>>>>>>>>>>>>>>>>>>>> 14706 /lvl2/ Associate Implementation Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "562"  where id = '14706'
=>>>>>>>>>>>>>>>>>>>>>> 15100 /lvl2/ Associate Implementation Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "562"  where id = '15100'
=>>>>>>>>>>>>>>>>>>>>>> 15747 /lvl2/ Associate Implementation Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "562"  where id = '15747'
=>>>>>>>>>>>>>>>>>>>>>> 15767 /lvl2/ Associate Implementation Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "562"  where id = '15767'
1075 /lvl1/ Content Creator Video Maker Officer
=>>>>>>>>>>>>>>>>>>>>>> 12658 /lvl2/ Content Creator Video Maker Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1075"  where id = '12658'
4661 /lvl1/ Purchasing Administrative Assistant
=>>>>>>>>>>>>>>>>>>>>>> 17302 /lvl2/ Purchasing Administrative Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4661"  where id = '17302'
6711 /lvl1/ Customer Service Marketing Property
=>>>>>>>>>>>>>>>>>>>>>> 3407 /lvl2/ Telemarketing / Customer Service Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Telemarketing / -idex-", title_clean   = "Telemarketing / ", title_id  = "6711"  where id = '3407'
6967 /lvl1/ Waste Water Treatment Plant Manager
=>>>>>>>>>>>>>>>>>>>>>> 16175 /lvl2/ WASTE WATER TREATMENT PLANT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WASTE WATER TREATMENT PLANT MANAGER", title_clean   = "WASTE WATER TREATMENT PLANT MANAGER", title_id  = "6967"  where id = '16175'
=>>>>>>>>>>>>>>>>>>>>>> 16191 /lvl2/ WASTE WATER TREATMENT PLANT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WASTE WATER TREATMENT PLANT MANAGER", title_clean   = "WASTE WATER TREATMENT PLANT MANAGER", title_id  = "6967"  where id = '16191'
2617 /lvl1/ Human Capital Services Section Head
=>>>>>>>>>>>>>>>>>>>>>> 11461 /lvl2/ Human Capital Services Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2617"  where id = '11461'
5433 /lvl1/ Seller Loyalty & Communication Lead
6973 /lvl1/ Web & Mobile Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13229 /lvl2/ Web & Mobile Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6973"  where id = '13229'
=>>>>>>>>>>>>>>>>>>>>>> 13244 /lvl2/ Web & Mobile Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6973"  where id = '13244'
2881 /lvl1/ It Data Center Operation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13252 /lvl2/ IT Data Center Operation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Data Center Operation Specialist", title_clean   = "IT Data Center Operation Specialist", title_id  = "2881"  where id = '13252'
2116 /lvl1/ Frontline Talent Acquisition Intern
=>>>>>>>>>>>>>>>>>>>>>> 17086 /lvl2/ Frontline Talent Acquisition Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2116"  where id = '17086'
5445 /lvl1/ Senior Account Receivable Executive
1871 /lvl1/ Factory Automation Service Engineer
=>>>>>>>>>>>>>>>>>>>>>> 14600 /lvl2/ Factory Automation Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1871"  where id = '14600'
=>>>>>>>>>>>>>>>>>>>>>> 14998 /lvl2/ Factory Automation Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1871"  where id = '14998'
7001 /lvl1/ Wellness Business Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 4369 /lvl2/ Wellness Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7001"  where id = '4369'
868 /lvl1/ Certificate Authority Administrator
=>>>>>>>>>>>>>>>>>>>>>> 17761 /lvl2/ Certificate Authority Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "868"  where id = '17761'
=>>>>>>>>>>>>>>>>>>>>>> 17781 /lvl2/ Certificate Authority Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "868"  where id = '17781'
4203 /lvl1/ Penjahit Sewing Sample Room GArment
=>>>>>>>>>>>>>>>>>>>>>> 2541 /lvl2/ PENJAHIT SEWING SAMPLE ROOM GARMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PENJAHIT SEWING SAMPLE ROOM GARMENT", title_clean   = "PENJAHIT SEWING SAMPLE ROOM GARMENT", title_id  = "4203"  where id = '2541'
5227 /lvl1/ Sales Marketing & Manager Marketing
=>>>>>>>>>>>>>>>>>>>>>> 6666 /lvl2/ Sales Marketing & Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5227"  where id = '6666'
5484 /lvl1/ Senior Campaign Strategy & Planning
=>>>>>>>>>>>>>>>>>>>>>> 13002 /lvl2/ Senior Campaign Strategy & Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5484"  where id = '13002'
2925 /lvl1/ It Infrastructure Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 15305 /lvl2/ IT Infrastructure Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Assistant Manager", title_clean   = "IT Infrastructure Assistant Manager", title_id  = "2925"  where id = '15305'
1134 /lvl1/ Corporate Digital Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 8922 /lvl2/ Corporate Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1134"  where id = '8922'
5486 /lvl1/ Senior Commercialization Specialist

=>>>>>>>>>>>>>>>>>>>>>> 6171 /lvl2/ Senior Commercialization Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5486"  where id = '6171'
111 /lvl1/ Accounting Officer Trucking Company
=>>>>>>>>>>>>>>>>>>>>>> 20227 /lvl2/ Accounting Officer Trucking Company
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "111"  where id = '20227'
4467 /lvl1/ Product Photographer & Videographer
=>>>>>>>>>>>>>>>>>>>>>> 13788 /lvl2/ Product Photographer & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4467"  where id = '13788'
6772 /lvl1/ Traceability & Verification Officer
=>>>>>>>>>>>>>>>>>>>>>> 17349 /lvl2/ Traceability & Verification Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6772"  where id = '17349'
1400 /lvl1/ Deputy Finance & Accounting Manager
=>>>>>>>>>>>>>>>>>>>>>> 10466 /lvl2/ Deputy Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1400"  where id = '10466'
1404 /lvl1/ Desain Grafis Marketplace Ecommerce
=>>>>>>>>>>>>>>>>>>>>>> 8858 /lvl2/ DESAIN GRAFIS Marketplace ECommerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DESAIN GRAFIS Marketplace ECommerce", title_clean   = "DESAIN GRAFIS Marketplace ECommerce", title_id  = "1404"  where id = '8858'
3196 /lvl1/ Kepala Divisi Marketing Rumah Sakit
=>>>>>>>>>>>>>>>>>>>>>> 18485 /lvl2/ Kepala Divisi Marketing Rumah Sakit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3196"  where id = '18485'
=>>>>>>>>>>>>>>>>>>>>>> 18499 /lvl2/ Kepala Divisi Marketing Rumah Sakit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3196"  where id = '18499'
3708 /lvl1/ Marketing Intelligence Section Head
=>>>>>>>>>>>>>>>>>>>>>> 7196 /lvl2/ Marketing Intelligence Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3708"  where id = '7196'
2429 /lvl1/ Host / Content Creator / Influencer
=>>>>>>>>>>>>>>>>>>>>>> 2349 /lvl2/ Host / Content Creator / Influencer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2429"  where id = '2349'
3710 /lvl1/ Marketing Kain Mattress / Springbed
5760 /lvl1/ Site Supervisor / Pengawas Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 11329 /lvl2/ Site Supervisor / Pengawas Lapangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5760"  where id = '11329'
2177 /lvl1/ General Affairs & Procurement Staff
=>>>>>>>>>>>>>>>>>>>>>> 1930 /lvl2/ General Affairs & Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2177"  where id = '1930'
1924 /lvl1/ Finance & Accounting Junior Manager
=>>>>>>>>>>>>>>>>>>>>>> 3172 /lvl2/ FINANCE & ACCOUNTING JUNIOR MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING JUNIOR MANAGER", title_clean   = "FINANCE & ACCOUNTING JUNIOR MANAGER", title_id  = "1924"  where id = '3172'
=>>>>>>>>>>>>>>>>>>>>>> 12332 /lvl2/ Finance & Accounting Junior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1924"  where id = '12332'
2948 /lvl1/ It Network & Infrastructure Officer
=>>>>>>>>>>>>>>>>>>>>>> 257 /lvl2/ IT Network & Infrastructure Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network & Infrastructure Officer", title_clean   = "IT Network & Infrastructure Officer", title_id  = "2948"  where id = '257'
5771 /lvl1/ Social Media & Communication Intern
=>>>>>>>>>>>>>>>>>>>>>> 11069 /lvl2/ Social Media & Communication Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5771"  where id = '11069'
2959 /lvl1/ It Pharmacy Manufacturing Developer
6287 /lvl1/ Supervisor Finance Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 12113 /lvl2/ Supervisor Finance Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6287"  where id = '12113'
2448 /lvl1/ Housekeeping Staff / Room Attendant
3472 /lvl1/ Management Trainee Store Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2480 /lvl2/ Management Trainee Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3472"  where id = '2480'
1937 /lvl1/ Finance & Administration Supervisor
2199 /lvl1/ General Manager Coconut Manufacture
=>>>>>>>>>>>>>>>>>>>>>> 3627 /lvl2/ GENERAL MANAGER COCONUT MANUFACTURE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GENERAL MANAGER COCONUT MANUFACTURE", title_clean   = "GENERAL MANAGER COCONUT MANUFACTURE", title_id  = "2199"  where id = '3627'
414 /lvl1/ Asistant Manager Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 15704 /lvl2/ Asistant Manager Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "414"  where id = '15704'
1950 /lvl1/ Finance Accounting & Tax Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15528 /lvl2/ Finance Accounting & Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1950"  where id = '15528'
2462 /lvl1/ Human Resources & Recruitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 19447 /lvl2/ Human Resources & Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2462"  where id = '19447'
4767 /lvl1/ Quality Assurance / Quality Control
4769 /lvl1/ Quality Assurance & Risk Management
=>>>>>>>>>>>>>>>>>>>>>> 1573 /lvl2/ Quality Assurance & Risk Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4769"  where id = '1573'
6305 /lvl1/ Supervisor Human Capital Department
=>>>>>>>>>>>>>>>>>>>>>> 6734 /lvl2/ Supervisor Human Capital Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6305"  where id = '6734'
2466 /lvl1/ Human Resources Administratif Staff
=>>>>>>>>>>>>>>>>>>>>>> 18012 /lvl2/ Human Resources Administratif Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2466"  where id = '18012'
6314 /lvl1/ Supervisor Kualifikasi Mesin & Alat
2733 /lvl1/ Instrumentation Service Engineering
=>>>>>>>>>>>>>>>>>>>>>> 10797 /lvl2/ Instrumentation Service Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2733"  where id = '10797'
3505 /lvl1/ Manager Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 10544 /lvl2/ MANAGER Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER Human Resources Development", title_clean   = "MANAGER Human Resources Development", title_id  = "3505"  where id = '10544'
=>>>>>>>>>>>>>>>>>>>>>> 10649 /lvl2/ Manager Human Resources Development (Penempatan Site)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Site)", title_clean   = " (Penempatan Site)", title_id  = "3505"  where id = '10649'
=>>>>>>>>>>>>>>>>>>>>>> 14605 /lvl2/ MANAGER Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER Human Resources Development", title_clean   = "MANAGER Human Resources Development", title_id  = "3505"  where id = '14605'
=>>>>>>>>>>>>>>>>>>>>>> 14984 /lvl2/ MANAGER Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER Human Resources Development", title_clean   = "MANAGER Human Resources Development", title_id  = "3505"  where id = '14984'
=>>>>>>>>>>>>>>>>>>>>>> 14996 /lvl2/ MANAGER Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER Human Resources Development", title_clean   = "MANAGER Human Resources Development", title_id  = "3505"  where id = '14996'
=>>>>>>>>>>>>>>>>>>>>>> 15289 /lvl2/ Manager Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3505"  where id = '15289'
5041 /lvl1/ Sales & Business Excellence Manager
=>>>>>>>>>>>>>>>>>>>>>> 10838 /lvl2/ Sales & Business Excellence Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5041"  where id = '10838'
3764 /lvl1/ Marketing Teller & Customer Service
1462 /lvl1/ Dies Correction Extrusion Aluminium
=>>>>>>>>>>>>>>>>>>>>>> 2998 /lvl2/ DIES CORRECTION EXTRUSION ALUMINIUM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIES CORRECTION EXTRUSION ALUMINIUM", title_clean   = "DIES CORRECTION EXTRUSION ALUMINIUM", title_id  = "1462"  where id = '2998'
2232 /lvl1/ Government Relations Senior Officer

=>>>>>>>>>>>>>>>>>>>>>> 8411 /lvl2/ Government Relations Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2232"  where id = '8411'
3512 /lvl1/ Manager IT & Digitalization Service
=>>>>>>>>>>>>>>>>>>>>>> 17676 /lvl2/ Manager IT & Digitalization Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3512"  where id = '17676'
5816 /lvl1/ Software Quality Assurance Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7901 /lvl2/ Software Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5816"  where id = '7901'
=>>>>>>>>>>>>>>>>>>>>>> 8200 /lvl2/ Software Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5816"  where id = '8200'
5565 /lvl1/ Senior Manager Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 15880 /lvl2/ Senior Manager Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5565"  where id = '15880'
2246 /lvl1/ Graphic Designer / Marketing Person
4807 /lvl1/ Quality Management System Iso Staff
6348 /lvl1/ Supervisor Produksi Coating Farmasi
=>>>>>>>>>>>>>>>>>>>>>> 3522 /lvl2/ Supervisor Produksi Coating Farmasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6348"  where id = '3522'
1491 /lvl1/ Digital Marketing & Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 5796 /lvl2/ Digital Marketing & Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1491"  where id = '5796'
=>>>>>>>>>>>>>>>>>>>>>> 11666 /lvl2/ Digital Marketing & Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1491"  where id = '11666'
1494 /lvl1/ Digital Marketing Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 14078 /lvl2/ Digital Marketing Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1494"  where id = '14078'
=>>>>>>>>>>>>>>>>>>>>>> 14431 /lvl2/ Digital Marketing Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1494"  where id = '14431'
2777 /lvl1/ International Communication Officer
=>>>>>>>>>>>>>>>>>>>>>> 12171 /lvl2/ International Communication Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2777"  where id = '12171'
4825 /lvl1/ Research and Development Formulator
2779 /lvl1/ International Franchise Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 1387 /lvl2/ International Franchise Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2779"  where id = '1387'
732 /lvl1/ Business Analyst Regulatory Banking
=>>>>>>>>>>>>>>>>>>>>>> 6908 /lvl2/ Business Analyst Regulatory Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "732"  where id = '6908'
5855 /lvl1/ Spb / Spg Barang Otomotif Full Time
=>>>>>>>>>>>>>>>>>>>>>> 12308 /lvl2/ SPB / SPG barang otomotif FULL TIME
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPB / SPG barang otomotif FULL TIME", title_clean   = "SPB / SPG barang otomotif FULL TIME", title_id  = "5855"  where id = '12308'
1504 /lvl1/ Digital Marketing Senior Specialist
=>>>>>>>>>>>>>>>>>>>>>> 15037 /lvl2/ Digital Marketing Senior Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1504"  where id = '15037'
=>>>>>>>>>>>>>>>>>>>>>> 15708 /lvl2/ Digital Marketing Senior Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1504"  where id = '15708'
2272 /lvl1/ Guru & Staff Sekolah Global Mandiri
2529 /lvl1/ Human Resources Services Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12259 /lvl2/ Human Resources Services Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2529"  where id = '12259'
4834 /lvl1/ Research and Development Operations
=>>>>>>>>>>>>>>>>>>>>>> 494 /lvl2/ Research and Development Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4834"  where id = '494'
3558 /lvl1/ Manajer Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 20062 /lvl2/ Manajer Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3558"  where id = '20062'
2025 /lvl1/ Financial Controller Senior Manager
=>>>>>>>>>>>>>>>>>>>>>> 4380 /lvl2/ Financial Controller Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2025"  where id = '4380'
4842 /lvl1/ Research and Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6544 /lvl2/ Research and Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4842"  where id = '6544'
=>>>>>>>>>>>>>>>>>>>>>> 8635 /lvl2/ Research and Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4842"  where id = '8635'
=>>>>>>>>>>>>>>>>>>>>>> 10674 /lvl2/ Research and Development SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Research and Development SUPERVISOR", title_clean   = "Research and Development SUPERVISOR", title_id  = "4842"  where id = '10674'
=>>>>>>>>>>>>>>>>>>>>>> 17053 /lvl2/ Research and Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4842"  where id = '17053'
=>>>>>>>>>>>>>>>>>>>>>> 17067 /lvl2/ Research and Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4842"  where id = '17067'
=>>>>>>>>>>>>>>>>>>>>>> 19596 /lvl2/ Research and Development SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Research and Development SUPERVISOR", title_clean   = "Research and Development SUPERVISOR", title_id  = "4842"  where id = '19596'
2033 /lvl1/ Financial Planning & Analysis Staff
=>>>>>>>>>>>>>>>>>>>>>> 1803 /lvl2/ FINANCIAL PLANNING & ANALYSIS STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL PLANNING & ANALYSIS STAFF", title_clean   = "FINANCIAL PLANNING & ANALYSIS STAFF", title_id  = "2033"  where id = '1803'
2805 /lvl1/ Inventory Control Associate Manager
=>>>>>>>>>>>>>>>>>>>>>> 1813 /lvl2/ Inventory Control Associate Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2805"  where id = '1813'
1270 /lvl1/ Customer App Requirement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5044 /lvl2/ CUSTOMER APP REQUIREMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER APP REQUIREMENT SUPERVISOR", title_clean   = "CUSTOMER APP REQUIREMENT SUPERVISOR", title_id  = "1270"  where id = '5044'
3574 /lvl1/ Mandarin Teacher For Primary School
=>>>>>>>>>>>>>>>>>>>>>> 9710 /lvl2/ Mandarin Teacher for Primary School
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mandarin Teacher for Primary School", title_clean   = "Mandarin Teacher for Primary School", title_id  = "3574"  where id = '9710'
506 /lvl1/ Assistant Manager Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 6283 /lvl2/ Assistant Manager Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant Manager Human ResourcesGA", title_clean   = "Assistant Manager Human ResourcesGA", title_id  = "506"  where id = '6283'
763 /lvl1/ Business Development Senior Manager
=>>>>>>>>>>>>>>>>>>>>>> 9163 /lvl2/ Business Development Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "763"  where id = '9163'
2555 /lvl1/ Human Resources Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 1801 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '1801'
=>>>>>>>>>>>>>>>>>>>>>> 2190 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '2190'
=>>>>>>>>>>>>>>>>>>>>>> 3155 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '3155'
=>>>>>>>>>>>>>>>>>>>>>> 5910 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '5910'
=>>>>>>>>>>>>>>>>>>>>>> 12615 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '12615'
=>>>>>>>>>>>>>>>>>>>>>> 14728 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '14728'
=>>>>>>>>>>>>>>>>>>>>>> 19554 /lvl2/ Human Resources Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2555"  where id = '19554'
764 /lvl1/ Business Development Senior Officer

=>>>>>>>>>>>>>>>>>>>>>> 5936 /lvl2/ Business Development Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "764"  where id = '5936'
2556 /lvl1/ Human Resources Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 10889 /lvl2/ Human Resources Development OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development OFFICER", title_clean   = "Human Resources Development OFFICER", title_id  = "2556"  where id = '10889'
=>>>>>>>>>>>>>>>>>>>>>> 13349 /lvl2/ Human Resources Development Officer (Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sumatera Selatan)", title_clean   = " (Sumatera Selatan)", title_id  = "2556"  where id = '13349'
=>>>>>>>>>>>>>>>>>>>>>> 13823 /lvl2/ Human Resources Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2556"  where id = '13823'
3841 /lvl1/ Media Social & Event Administrator
=>>>>>>>>>>>>>>>>>>>>>> 4716 /lvl2/ Media Social & Event Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3841"  where id = '4716'
515 /lvl1/ Assistant Manager Packaging Design
=>>>>>>>>>>>>>>>>>>>>>> 15321 /lvl2/ Assistant Manager Packaging Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "515"  where id = '15321'
6403 /lvl1/ Supervisor Tenant Relation Officer
3076 /lvl1/ Junior / Senior Back End Developer
6918 /lvl1/ Vp Marketing & Customer Experience
6664 /lvl1/ Teknisi Jaringan Internet Wireless
=>>>>>>>>>>>>>>>>>>>>>> 10339 /lvl2/ Teknisi Jaringan Internet Wireless
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6664"  where id = '10339'
=>>>>>>>>>>>>>>>>>>>>>> 10347 /lvl2/ Teknisi Jaringan Internet Wireless
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6664"  where id = '10347'
3338 /lvl1/ Learning Partner Region Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6520 /lvl2/ Learning Partner Region Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3338"  where id = '6520'
3595 /lvl1/ Market & Liquidity Risk Management
=>>>>>>>>>>>>>>>>>>>>>> 10736 /lvl2/ Market & Liquidity Risk Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3595"  where id = '10736'
4876 /lvl1/ Recruitment Consultant Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 7056 /lvl2/ Recruitment Consultant Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4876"  where id = '7056'
18 /lvl1/ Accident & Health Flow Underwriter
=>>>>>>>>>>>>>>>>>>>>>> 7369 /lvl2/ Accident & Health Flow Underwriter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "18"  where id = '7369'
6420 /lvl1/ Supply & Vendor Management Manager
5398 /lvl1/ Secretary / Personal Assistant Ceo
791 /lvl1/ Business Process & Sop Improvement
=>>>>>>>>>>>>>>>>>>>>>> 5405 /lvl2/ Business Process & SOP Improvement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business Process & SOP Improvement", title_clean   = "Business Process & SOP Improvement", title_id  = "791"  where id = '5405'
3351 /lvl1/ Legal & General Affairs Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14157 /lvl2/ Legal & General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3351"  where id = '14157'
=>>>>>>>>>>>>>>>>>>>>>> 14533 /lvl2/ Legal & General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3351"  where id = '14533'
792 /lvl1/ Business Process AssisstantManager
1304 /lvl1/ Customer Service Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 20133 /lvl2/ Customer Service Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1304"  where id = '20133'
3096 /lvl1/ Junior Consultant Accounting & Tax
6425 /lvl1/ Supply Chain Management Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1914 /lvl2/ Supply Chain Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6425"  where id = '1914'
=>>>>>>>>>>>>>>>>>>>>>> 2608 /lvl2/ Supply Chain Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6425"  where id = '2608'
2586 /lvl1/ Hse & Document Controll Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17686 /lvl2/ HSE & Document Controll Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE & Document Controll Supervisor", title_clean   = "HSE & Document Controll Supervisor", title_id  = "2586"  where id = '17686'
1310 /lvl1/ Customer Service Freight Forwarder
=>>>>>>>>>>>>>>>>>>>>>> 18295 /lvl2/ Customer Service Freight Forwarder
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1310"  where id = '18295'
5406 /lvl1/ Secretary To Board of Commissioner
=>>>>>>>>>>>>>>>>>>>>>> 49 /lvl2/ Secretary to Board of Commissioner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Board of Commissioner", title_clean   = "Secretary to Board of Commissioner", title_id  = "5406"  where id = '49'
545 /lvl1/ Assistant Software Tester Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19283 /lvl2/ Assistant Software Tester Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "545"  where id = '19283'
804 /lvl1/ Business Systems Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 5506 /lvl2/ BUSINESS SYSTEMS ASSISTANT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS SYSTEMS ASSISTANT MANAGER", title_clean   = "BUSINESS SYSTEMS ASSISTANT MANAGER", title_id  = "804"  where id = '5506'
1061 /lvl1/ Content Creator & Online Marketing
3622 /lvl1/ Marketing & General Administration
4903 /lvl1/ Regional General Affairs & IT Unit
=>>>>>>>>>>>>>>>>>>>>>> 563 /lvl2/ Regional General Affairs & IT Unit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4903"  where id = '563'
6955 /lvl1/ Warehouse Officer / Petugas Gudang
1325 /lvl1/ Customer Service / Sales Marketing
1582 /lvl1/ Drafter Mep & Sipil / Architecture
5168 /lvl1/ Sales Executive Freight Forwarding
=>>>>>>>>>>>>>>>>>>>>>> 2441 /lvl2/ Sales Executive Freight Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5168"  where id = '2441'
4657 /lvl1/ Purchasing / General Affairs Staff
1074 /lvl1/ Content Creator Tiktok / Instagram
=>>>>>>>>>>>>>>>>>>>>>> 9675 /lvl2/ Content Creator Tiktok / Instagram
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1074"  where id = '9675'
4914 /lvl1/ Regional Sales & Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 6350 /lvl2/ Regional Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4914"  where id = '6350'
=>>>>>>>>>>>>>>>>>>>>>> 14123 /lvl2/ REGIONAL SALES & MARKETING MANAGER (RSM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REGIONAL SALES & MARKETING MANAGER (RSM)", title_clean   = "REGIONAL SALES & MARKETING MANAGER (RSM)", title_id  = "4914"  where id = '14123'
3893 /lvl1/ Mill Assistant Pabrik Kelapa Sawit
=>>>>>>>>>>>>>>>>>>>>>> 3686 /lvl2/ Mill Assistant Pabrik Kelapa Sawit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3893"  where id = '3686'
6454 /lvl1/ System Administrator Rhel & Vmware
=>>>>>>>>>>>>>>>>>>>>>> 5453 /lvl2/ System Administrator RHEL & VMware
UPDATE jobstreet_raws_v2 SET  title_extraction  = "System Administrator RHEL & VMware", title_clean   = "System Administrator RHEL & VMware", title_id  = "6454"  where id = '5453'
4407 /lvl1/ Procurement & Logistics Specialist
3128 /lvl1/ Junior Officer Development Program
=>>>>>>>>>>>>>>>>>>>>>> 6986 /lvl2/ Junior Officer Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3128"  where id = '6986'
3147 /lvl1/ Junior Technical Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 9902 /lvl2/ Junior Technical Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3147"  where id = '9902'
=>>>>>>>>>>>>>>>>>>>>>> 10791 /lvl2/ Junior Technical Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3147"  where id = '10791'
4427 /lvl1/ Product & Channel Development Head

=>>>>>>>>>>>>>>>>>>>>>> 2023 /lvl2/ Product & Channel Development Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4427"  where id = '2023'
2380 /lvl1/ Head of Medical Community Clinical
=>>>>>>>>>>>>>>>>>>>>>> 16252 /lvl2/ Head of Medical Community Clinical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2380"  where id = '16252'
77 /lvl1/ Accounting & Tax Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 18645 /lvl2/ Accounting & Tax Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "77"  where id = '18645'
4429 /lvl1/ Product & Customer Service Support
=>>>>>>>>>>>>>>>>>>>>>> 17952 /lvl2/ Product & Customer Service Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4429"  where id = '17952'
3406 /lvl1/ Logistic Analyst Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 17293 /lvl2/ Logistic Analyst Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3406"  where id = '17293'
3151 /lvl1/ Junior Trainee SAP Abap Programmer
=>>>>>>>>>>>>>>>>>>>>>> 4817 /lvl2/ Junior Trainee SAP ABAP Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior Trainee SAP ABAP Programmer", title_clean   = "Junior Trainee SAP ABAP Programmer", title_id  = "3151"  where id = '4817'
3666 /lvl1/ Marketing Communication Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1061 /lvl2/ Marketing Communication Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3666"  where id = '1061'
=>>>>>>>>>>>>>>>>>>>>>> 18400 /lvl2/ MARKETING COMMUNICATION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION SPECIALIST", title_clean   = "MARKETING COMMUNICATION SPECIALIST", title_id  = "3666"  where id = '18400'
3667 /lvl1/ Marketing Communication Spesialist
=>>>>>>>>>>>>>>>>>>>>>> 16835 /lvl2/ Marketing Communication Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3667"  where id = '16835'
3669 /lvl1/ Marketing Communication Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6322 /lvl2/ Marketing Communication Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3669"  where id = '6322'
=>>>>>>>>>>>>>>>>>>>>>> 10733 /lvl2/ Marketing Communication Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3669"  where id = '10733'
=>>>>>>>>>>>>>>>>>>>>>> 13701 /lvl2/ Marketing Communication Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3669"  where id = '13701'
=>>>>>>>>>>>>>>>>>>>>>> 13713 /lvl2/ Marketing Communication Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3669"  where id = '13713'
=>>>>>>>>>>>>>>>>>>>>>> 18394 /lvl2/ MARKETING COMMUNICATION SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION SUPERVISOR", title_clean   = "MARKETING COMMUNICATION SUPERVISOR", title_id  = "3669"  where id = '18394'
3671 /lvl1/ Marketing Communications Executive
=>>>>>>>>>>>>>>>>>>>>>> 3538 /lvl2/ Marketing Communications Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3671"  where id = '3538'
856 /lvl1/ Catalogue & Manufacture Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12416 /lvl2/ Catalogue & Manufacture Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "856"  where id = '12416'
5466 /lvl1/ Senior Architect / Interior Design
=>>>>>>>>>>>>>>>>>>>>>> 7728 /lvl2/ SENIOR Architect / Interior Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR Architect / Interior Design", title_clean   = "SENIOR Architect / Interior Design", title_id  = "5466"  where id = '7728'
=>>>>>>>>>>>>>>>>>>>>>> 8045 /lvl2/ SENIOR Architect / Interior Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR Architect / Interior Design", title_clean   = "SENIOR Architect / Interior Design", title_id  = "5466"  where id = '8045'
6490 /lvl1/ Talent Development Program Officer
=>>>>>>>>>>>>>>>>>>>>>> 2229 /lvl2/ Talent Development Program Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6490"  where id = '2229'
5980 /lvl1/ Staff Administrasi Ar / Finance Ar
5469 /lvl1/ Senior Associate Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 15173 /lvl2/ Senior Associate Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Associate Human ResourcesGA", title_clean   = "Senior Associate Human ResourcesGA", title_id  = "5469"  where id = '15173'
3166 /lvl1/ Karyawan Shift Pabrik Minyak Sawit
=>>>>>>>>>>>>>>>>>>>>>> 19319 /lvl2/ Karyawan Shift Pabrik Minyak Sawit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3166"  where id = '19319'
5983 /lvl1/ Staff Administrasi Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 2503 /lvl2/ STAFF ADMINISTRASI Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI Human Resources", title_clean   = "STAFF ADMINISTRASI Human Resources", title_id  = "5983"  where id = '2503'
4449 /lvl1/ Product Development Senior Manager
=>>>>>>>>>>>>>>>>>>>>>> 9927 /lvl2/ Product Development Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4449"  where id = '9927'
1122 /lvl1/ Corporate Brand Management Analyst
=>>>>>>>>>>>>>>>>>>>>>> 837 /lvl2/ Corporate Brand Management Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1122"  where id = '837'
3428 /lvl1/ Machine Learning Solution Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2525 /lvl2/ Machine Learning Solution Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3428"  where id = '2525'
4197 /lvl1/ Pengawas Pembangunan Proyek Landed
=>>>>>>>>>>>>>>>>>>>>>> 18570 /lvl2/ Pengawas Pembangunan Proyek Landed
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4197"  where id = '18570'
5228 /lvl1/ Sales Marketing Admin Junior Staff
3949 /lvl1/ National Sales & Operation Manager
4461 /lvl1/ Product Marketing Network Security
=>>>>>>>>>>>>>>>>>>>>>> 1826 /lvl2/ Product Marketing Network Security
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4461"  where id = '1826'
5487 /lvl1/ Senior Consultant Accounting & Tax
624 /lvl1/ Batching Plant Supervisor Jelambar
=>>>>>>>>>>>>>>>>>>>>>> 7639 /lvl2/ Batching Plant Supervisor Jelambar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "624"  where id = '7639'
4208 /lvl1/ People & Culture Assistant Manager
6259 /lvl1/ Supervisor Budget, Tax & Reporting
5750 /lvl1/ Site Manager Coal & Mineral Mining
3449 /lvl1/ Maintenance Rotogravure Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7135 /lvl2/ Maintenance Rotogravure Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3449"  where id = '7135'
381 /lvl1/ App Operations Assistant Indonesia
=>>>>>>>>>>>>>>>>>>>>>> 15449 /lvl2/ APP Operations Assistant Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APP Operations Assistant Indonesia", title_clean   = "APP Operations Assistant Indonesia", title_id  = "381"  where id = '15449'
=>>>>>>>>>>>>>>>>>>>>>> 15467 /lvl2/ APP Operations Assistant Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APP Operations Assistant Indonesia", title_clean   = "APP Operations Assistant Indonesia", title_id  = "381"  where id = '15467'
1918 /lvl1/ Finance & Accounting & Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 5974 /lvl2/ Finance & Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1918"  where id = '5974'
2178 /lvl1/ General Affairs & Security Officer
=>>>>>>>>>>>>>>>>>>>>>> 3515 /lvl2/ General Affairs & Security Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2178"  where id = '3515'
4483 /lvl1/ Product Support Engineer Assistant
=>>>>>>>>>>>>>>>>>>>>>> 5326 /lvl2/ Product Support Engineer Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4483"  where id = '5326'
3204 /lvl1/ Kepala Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 18465 /lvl2/ Kepala Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3204"  where id = '18465'
4997 /lvl1/ Retail Site Acquisition Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 1804 /lvl2/ Retail Site Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4997"  where id = '1804'
5767 /lvl1/ Sme Business Development Executive
=>>>>>>>>>>>>>>>>>>>>>> 210 /lvl2/ SME Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SME Business Development Executive", title_clean   = "SME Business Development Executive", title_id  = "5767"  where id = '210'
1934 /lvl1/ Finance & Administration Executive
=>>>>>>>>>>>>>>>>>>>>>> 4208 /lvl2/ Finance & Administration Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1934"  where id = '4208'
=>>>>>>>>>>>>>>>>>>>>>> 5239 /lvl2/ Finance & Administration Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1934"  where id = '5239'
1679 /lvl1/ Emergency Response Team Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 796 /lvl2/ Emergency Response Team Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1679"  where id = '796'
2450 /lvl1/ Human Resources / Legal Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7952 /lvl2/ Human Resources / Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2450"  where id = '7952'
=>>>>>>>>>>>>>>>>>>>>>> 8267 /lvl2/ Human Resources / Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2450"  where id = '8267'
2196 /lvl1/ General Central Processing Officer
=>>>>>>>>>>>>>>>>>>>>>> 1322 /lvl2/ General Central Processing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2196"  where id = '1322'
2200 /lvl1/ General Manager Commercial Leasing
=>>>>>>>>>>>>>>>>>>>>>> 2500 /lvl2/ General Manager Commercial Leasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2200"  where id = '2500'
153 /lvl1/ Admin & Customer Service Executive
5529 /lvl1/ Senior Full Stack Mobile Developer
2970 /lvl1/ It Programmer Vb .Net & Sql Server
668 /lvl1/ Branch Manager Dana Pembiayaan M4W
=>>>>>>>>>>>>>>>>>>>>>> 6717 /lvl2/ Branch Manager Dana Pembiayaan M4W
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "668"  where id = '6717'
6815 /lvl1/ Transfer Pricing Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 5556 /lvl2/ Transfer Pricing Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6815"  where id = '5556'
4512 /lvl1/ Program Corporate Business Officer
=>>>>>>>>>>>>>>>>>>>>>> 5561 /lvl2/ Program Corporate Business Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4512"  where id = '5561'
5536 /lvl1/ Senior Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 20254 /lvl2/ Senior Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5536"  where id = '20254'
3490 /lvl1/ Manager Customer Service Apartment
=>>>>>>>>>>>>>>>>>>>>>> 10295 /lvl2/ Manager Customer Service Apartment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3490"  where id = '10295'
2983 /lvl1/ It Sales Officer & Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 5752 /lvl2/ IT SALES OFFICER & ACCOUNT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SALES OFFICER & ACCOUNT MANAGER", title_clean   = "IT SALES OFFICER & ACCOUNT MANAGER", title_id  = "2983"  where id = '5752'
1963 /lvl1/ Finance Accounts Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 2320 /lvl2/ Finance Accounts Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1963"  where id = '2320'
4523 /lvl1/ Programmer & Business Intelligence
692 /lvl1/ Brand, Content & Marketing Digital
694 /lvl1/ Branding & Social Media Strategist
=>>>>>>>>>>>>>>>>>>>>>> 4596 /lvl2/ Branding & Social Media strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Branding & Social Media strategist", title_clean   = "Branding & Social Media strategist", title_id  = "694"  where id = '4596'
4278 /lvl1/ Photographer & Videographer Editor
=>>>>>>>>>>>>>>>>>>>>>> 13818 /lvl2/ Photographer & Videographer Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4278"  where id = '13818'
=>>>>>>>>>>>>>>>>>>>>>> 13830 /lvl2/ Photographer & Videographer Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4278"  where id = '13830'
2487 /lvl1/ Human Resources Generalist Officer
=>>>>>>>>>>>>>>>>>>>>>> 214 /lvl2/ Human Resources Generalist Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2487"  where id = '214'
5564 /lvl1/ Senior Manager Customer Experience
=>>>>>>>>>>>>>>>>>>>>>> 1178 /lvl2/ Senior Manager Customer Experience
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5564"  where id = '1178'
960 /lvl1/ Cloud Business Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 6167 /lvl2/ Cloud Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "960"  where id = '6167'
4033 /lvl1/ Operation & Maintenance Technician
=>>>>>>>>>>>>>>>>>>>>>> 735 /lvl2/ Operation & Maintenance Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4033"  where id = '735'
1730 /lvl1/ Enterprise Risk Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 8645 /lvl2/ Enterprise Risk Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1730"  where id = '8645'
3523 /lvl1/ Manager Marketing Trucking Company
=>>>>>>>>>>>>>>>>>>>>>> 13414 /lvl2/ Manager Marketing Trucking Company
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3523"  where id = '13414'
710 /lvl1/ Budgeting & Event Admin Sect. Head
=>>>>>>>>>>>>>>>>>>>>>> 3617 /lvl2/ Budgeting & Event Admin Sect. Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "710"  where id = '3617'
3014 /lvl1/ It Staff Android Mobile Programmer
2247 /lvl1/ Graphic Designer & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 6156 /lvl2/ Graphic Designer & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2247"  where id = '6156'
1737 /lvl1/ Environment Health & Safety Intern
459 /lvl1/ Asset Management Senior Supervisor
4045 /lvl1/ Operation Project & System Support
=>>>>>>>>>>>>>>>>>>>>>> 6901 /lvl2/ Operation Project & System Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4045"  where id = '6901'
6349 /lvl1/ Supervisor Produksi Extruder Kerke
2512 /lvl1/ Human Resources Payroll Specialist
=>>>>>>>>>>>>>>>>>>>>>> 941 /lvl2/ Human Resources Payroll Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2512"  where id = '941'
4560 /lvl1/ Project Engineer Senior Spesialist
=>>>>>>>>>>>>>>>>>>>>>> 2001 /lvl2/ Project Engineer Senior Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4560"  where id = '2001'
1489 /lvl1/ Digital Marketing & Graphic Design
=>>>>>>>>>>>>>>>>>>>>>> 14617 /lvl2/ Digital Marketing & Graphic Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1489"  where id = '14617'
=>>>>>>>>>>>>>>>>>>>>>> 15009 /lvl2/ Digital Marketing & Graphic Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1489"  where id = '15009'
=>>>>>>>>>>>>>>>>>>>>>> 15686 /lvl2/ Digital Marketing & Graphic Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1489"  where id = '15686'
2514 /lvl1/ Human Resources People Development
=>>>>>>>>>>>>>>>>>>>>>> 17542 /lvl2/ Human Resources People Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2514"  where id = '17542'
=>>>>>>>>>>>>>>>>>>>>>> 18135 /lvl2/ Human Resources People Development u002F Training Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- u002F Training Officer", title_clean   = " u002F Training Officer", title_id  = "2514"  where id = '18135'
2515 /lvl1/ Human Resources People Development
5843 /lvl1/ Sourcing Import Fruit Section Head
=>>>>>>>>>>>>>>>>>>>>>> 5078 /lvl2/ Sourcing Import Fruit Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5843"  where id = '5078'
214 /lvl1/ Admin Marketing Online Marketplace

=>>>>>>>>>>>>>>>>>>>>>> 2773 /lvl2/ ADMIN MARKETING ONLINE MARKETPLACE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN MARKETING ONLINE MARKETPLACE", title_clean   = "ADMIN MARKETING ONLINE MARKETPLACE", title_id  = "214"  where id = '2773'
3286 /lvl1/ Land Acquisition Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 19970 /lvl2/ Land Acquisition Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3286"  where id = '19970'
4822 /lvl1/ Research and Development Education
=>>>>>>>>>>>>>>>>>>>>>> 1611 /lvl2/ Research and Development Education
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4822"  where id = '1611'
5590 /lvl1/ Senior Officer Product Development
=>>>>>>>>>>>>>>>>>>>>>> 3101 /lvl2/ Senior Officer Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5590"  where id = '3101'
729 /lvl1/ Business Analyst Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 10485 /lvl2/ Business Analyst Assistant Manager / Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- / Specialist", title_clean   = " / Specialist", title_id  = "729"  where id = '10485'
=>>>>>>>>>>>>>>>>>>>>>> 14245 /lvl2/ Business Analyst Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "729"  where id = '14245'
730 /lvl1/ Business Analyst Assistant Manager
3039 /lvl1/ It System Developer Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 4552 /lvl2/ IT System Developer Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Developer Senior Officer", title_clean   = "IT System Developer Senior Officer", title_id  = "3039"  where id = '4552'
4578 /lvl1/ Project Management Department Head
=>>>>>>>>>>>>>>>>>>>>>> 13712 /lvl2/ PROJECT MANAGEMENT DEPARTMENT HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT MANAGEMENT DEPARTMENT HEAD", title_clean   = "PROJECT MANAGEMENT DEPARTMENT HEAD", title_id  = "4578"  where id = '13712'
227 /lvl1/ Admin Online Shop & Live Streaming
4835 /lvl1/ Research and Development Packaging
=>>>>>>>>>>>>>>>>>>>>>> 639 /lvl2/ Research and Development Packaging
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4835"  where id = '639'
5605 /lvl1/ Senior Purchasing Food & Beverages
=>>>>>>>>>>>>>>>>>>>>>> 18997 /lvl2/ SENIOR PURCHASING FOOD & BEVERAGES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR PURCHASING FOOD & BEVERAGES", title_clean   = "SENIOR PURCHASING FOOD & BEVERAGES", title_id  = "5605"  where id = '18997'
3562 /lvl1/ Mandarin Assistant Operation Staff
=>>>>>>>>>>>>>>>>>>>>>> 9739 /lvl2/ MANDARIN ASSISTANT OPERATION STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN ASSISTANT OPERATION STAFF", title_clean   = "MANDARIN ASSISTANT OPERATION STAFF", title_id  = "3562"  where id = '9739'
4330 /lvl1/ Posisi Receptionist / Front Office
3819 /lvl1/ Mechanical & Electrical Technician
=>>>>>>>>>>>>>>>>>>>>>> 5104 /lvl2/ Mechanical & Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3819"  where id = '5104'
6380 /lvl1/ Supervisor Sales Houseware Plastic
=>>>>>>>>>>>>>>>>>>>>>> 1680 /lvl2/ SUPERVISOR SALES HOUSEWARE PLASTIC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR SALES HOUSEWARE PLASTIC", title_clean   = "SUPERVISOR SALES HOUSEWARE PLASTIC", title_id  = "6380"  where id = '1680'
=>>>>>>>>>>>>>>>>>>>>>> 2286 /lvl2/ SUPERVISOR SALES HOUSEWARE PLASTIC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR SALES HOUSEWARE PLASTIC", title_clean   = "SUPERVISOR SALES HOUSEWARE PLASTIC", title_id  = "6380"  where id = '2286'
494 /lvl1/ Assistant Manager Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 1811 /lvl2/ Assistant Manager Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "494"  where id = '1811'
=>>>>>>>>>>>>>>>>>>>>>> 17830 /lvl2/ Assistant Manager Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "494"  where id = '17830'
5870 /lvl1/ Sport Coaches & Assistants Coaches
5878 /lvl1/ Ssd Incentive System & Dev Officer
=>>>>>>>>>>>>>>>>>>>>>> 7492 /lvl2/ SSD Incentive System & Dev Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SSD Incentive System & Dev Officer", title_clean   = "SSD Incentive System & Dev Officer", title_id  = "5878"  where id = '7492'
6139 /lvl1/ Staff Purchasing GArment & Textile
=>>>>>>>>>>>>>>>>>>>>>> 255 /lvl2/ Staff Purchasing Garment & Textile
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Purchasing Garment & Textile", title_clean   = "Staff Purchasing Garment & Textile", title_id  = "6139"  where id = '255'
2561 /lvl1/ Human Resources Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 113 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '113'
=>>>>>>>>>>>>>>>>>>>>>> 183 /lvl2/ Human Resources Development staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development staff", title_clean   = "Human Resources Development staff", title_id  = "2561"  where id = '183'
=>>>>>>>>>>>>>>>>>>>>>> 282 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '282'
=>>>>>>>>>>>>>>>>>>>>>> 346 /lvl2/ Human Resources Development STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development STAFF", title_clean   = "Human Resources Development STAFF", title_id  = "2561"  where id = '346'
=>>>>>>>>>>>>>>>>>>>>>> 3462 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '3462'
=>>>>>>>>>>>>>>>>>>>>>> 6419 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '6419'
=>>>>>>>>>>>>>>>>>>>>>> 6602 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '6602'
=>>>>>>>>>>>>>>>>>>>>>> 6877 /lvl2/ Human Resources Development STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development STAFF", title_clean   = "Human Resources Development STAFF", title_id  = "2561"  where id = '6877'
=>>>>>>>>>>>>>>>>>>>>>> 10639 /lvl2/ Human Resources Development STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development STAFF", title_clean   = "Human Resources Development STAFF", title_id  = "2561"  where id = '10639'
=>>>>>>>>>>>>>>>>>>>>>> 12358 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '12358'
=>>>>>>>>>>>>>>>>>>>>>> 12409 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '12409'
=>>>>>>>>>>>>>>>>>>>>>> 12729 /lvl2/ Human Resources Development STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development STAFF", title_clean   = "Human Resources Development STAFF", title_id  = "2561"  where id = '12729'
=>>>>>>>>>>>>>>>>>>>>>> 12831 /lvl2/ Human Resources Development STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Development STAFF", title_clean   = "Human Resources Development STAFF", title_id  = "2561"  where id = '12831'
=>>>>>>>>>>>>>>>>>>>>>> 17120 /lvl2/ Human Resources Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2561"  where id = '17120'
3329 /lvl1/ Learning & Development Specialist
2818 /lvl1/ Investment Banker / M & A Adviser
3330 /lvl1/ Learning & Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1968 /lvl2/ Learning & Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3330"  where id = '1968'
=>>>>>>>>>>>>>>>>>>>>>> 9692 /lvl2/ Learning & Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3330"  where id = '9692'
=>>>>>>>>>>>>>>>>>>>>>> 13985 /lvl2/ Learning & Development Supervisor (Pharmacist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pharmacist)", title_clean   = " (Pharmacist)", title_id  = "3330"  where id = '13985'
=>>>>>>>>>>>>>>>>>>>>>> 14306 /lvl2/ Learning & Development Supervisor (Pharmacist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pharmacist)", title_clean   = " (Pharmacist)", title_id  = "3330"  where id = '14306'
=>>>>>>>>>>>>>>>>>>>>>> 15646 /lvl2/ Learning & Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3330"  where id = '15646'
=>>>>>>>>>>>>>>>>>>>>>> 18664 /lvl2/ Learning & Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3330"  where id = '18664'
3075 /lvl1/ Junior / Mid Full Stack Developer

=>>>>>>>>>>>>>>>>>>>>>> 9359 /lvl2/ Junior / Mid Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3075"  where id = '9359'
1285 /lvl1/ Customer Relation & Dealing Staff
=>>>>>>>>>>>>>>>>>>>>>> 1989 /lvl2/ Customer Relation & Dealing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1285"  where id = '1989'
5125 /lvl1/ Sales Counter Toko Emas & Berlian
=>>>>>>>>>>>>>>>>>>>>>> 6740 /lvl2/ Sales Counter Toko Emas & Berlian
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5125"  where id = '6740'
5126 /lvl1/ Sales Customer Relation Executive
=>>>>>>>>>>>>>>>>>>>>>> 8953 /lvl2/ SALES CUSTOMER RELATION EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES CUSTOMER RELATION EXECUTIVE", title_clean   = "SALES CUSTOMER RELATION EXECUTIVE", title_id  = "5126"  where id = '8953'
1035 /lvl1/ Consolidation & Reporting Manager
=>>>>>>>>>>>>>>>>>>>>>> 14163 /lvl2/ Consolidation & Reporting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1035"  where id = '14163'
=>>>>>>>>>>>>>>>>>>>>>> 14534 /lvl2/ Consolidation & Reporting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1035"  where id = '14534'
3851 /lvl1/ Medical Representative Singkawang
=>>>>>>>>>>>>>>>>>>>>>> 9898 /lvl2/ Medical Representative Singkawang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3851"  where id = '9898'
781 /lvl1/ Business Operation Administration
=>>>>>>>>>>>>>>>>>>>>>> 784 /lvl2/ Business Operation Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "781"  where id = '784'
3857 /lvl1/ Mekani Alat Berat & Truck Hauling
5138 /lvl1/ Sales Distributor Elektronik / IT
6162 /lvl1/ Staff Senior Bagian Expor / Impor
=>>>>>>>>>>>>>>>>>>>>>> 6243 /lvl2/ STAFF SENIOR BAGIAN EXPOR / IMPOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF SENIOR BAGIAN EXPOR / IMPOR", title_clean   = "STAFF SENIOR BAGIAN EXPOR / IMPOR", title_id  = "6162"  where id = '6243'
=>>>>>>>>>>>>>>>>>>>>>> 7398 /lvl2/ STAFF SENIOR BAGIAN EXPOR / IMPOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF SENIOR BAGIAN EXPOR / IMPOR", title_clean   = "STAFF SENIOR BAGIAN EXPOR / IMPOR", title_id  = "6162"  where id = '7398'
789 /lvl1/ Business Portfolio Analytics Head
=>>>>>>>>>>>>>>>>>>>>>> 2216 /lvl2/ Business Portfolio Analytics Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "789"  where id = '2216'
4377 /lvl1/ Preschool Level Teacher Assistant
=>>>>>>>>>>>>>>>>>>>>>> 2048 /lvl2/ Preschool Level Teacher Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4377"  where id = '2048'
26 /lvl1/ Account Executive Creative Agency
=>>>>>>>>>>>>>>>>>>>>>> 17845 /lvl2/ Account Executive Creative Agency GARAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GARAM", title_clean   = " GARAM", title_id  = "26"  where id = '17845'
4891 /lvl1/ Refrigerator & Freezer Production
=>>>>>>>>>>>>>>>>>>>>>> 14055 /lvl2/ Refrigerator & Freezer Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4891"  where id = '14055'
3869 /lvl1/ Merchandiser / Product Specialist
1054 /lvl1/ Content & Social Media Specialist
=>>>>>>>>>>>>>>>>>>>>>> 406 /lvl2/ Content & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1054"  where id = '406'
=>>>>>>>>>>>>>>>>>>>>>> 797 /lvl2/ Content & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1054"  where id = '797'
=>>>>>>>>>>>>>>>>>>>>>> 9950 /lvl2/ Content & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1054"  where id = '9950'
=>>>>>>>>>>>>>>>>>>>>>> 17898 /lvl2/ CONTENT & SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTENT & SOCIAL MEDIA SPECIALIST", title_clean   = "CONTENT & SOCIAL MEDIA SPECIALIST", title_id  = "1054"  where id = '17898'
=>>>>>>>>>>>>>>>>>>>>>> 17917 /lvl2/ CONTENT & SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTENT & SOCIAL MEDIA SPECIALIST", title_clean   = "CONTENT & SOCIAL MEDIA SPECIALIST", title_id  = "1054"  where id = '17917'
2335 /lvl1/ Head Finance & Finance Controller
=>>>>>>>>>>>>>>>>>>>>>> 11162 /lvl2/ HEAD FINANCE & FINANCE CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD FINANCE & FINANCE CONTROLLER", title_clean   = "HEAD FINANCE & FINANCE CONTROLLER", title_id  = "2335"  where id = '11162'
3104 /lvl1/ Junior Field Electronics Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12385 /lvl2/ Junior Field Electronics Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3104"  where id = '12385'
548 /lvl1/ Assistant Teacher / Administrator
3623 /lvl1/ Marketing & Growth Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 3833 /lvl2/ Marketing & Growth Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3623"  where id = '3833'
=>>>>>>>>>>>>>>>>>>>>>> 4846 /lvl2/ Marketing & Growth Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3623"  where id = '4846'
6695 /lvl1/ Teknisi Pemasangan Cctv & Telepon
=>>>>>>>>>>>>>>>>>>>>>> 20544 /lvl2/ Teknisi Pemasangan CCTV & Telepon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi Pemasangan CCTV & Telepon", title_clean   = "Teknisi Pemasangan CCTV & Telepon", title_id  = "6695"  where id = '20544'
809 /lvl1/ Butler / Banquet Personal Service
=>>>>>>>>>>>>>>>>>>>>>> 1232 /lvl2/ Butler / Banquet Personal Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "809"  where id = '1232'
3625 /lvl1/ Marketing & Management Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10190 /lvl2/ Marketing & Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3625"  where id = '10190'
6441 /lvl1/ Sustainability Compliance Officer
=>>>>>>>>>>>>>>>>>>>>>> 10888 /lvl2/ Sustainability Compliance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6441"  where id = '10888'
1578 /lvl1/ Drafter Landscape & Infrastruktur
=>>>>>>>>>>>>>>>>>>>>>> 4965 /lvl2/ Drafter Landscape & Infrastruktur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1578"  where id = '4965'
1834 /lvl1/ Export Import Logistic Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19610 /lvl2/ Export Import Logistic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1834"  where id = '19610'
5162 /lvl1/ Sales Executive Capital Equipment
=>>>>>>>>>>>>>>>>>>>>>> 6452 /lvl2/ Sales Executive Capital Equipment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5162"  where id = '6452'
3115 /lvl1/ Junior Java Spring Boot Developer
=>>>>>>>>>>>>>>>>>>>>>> 11406 /lvl2/ Junior Java Spring Boot Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3115"  where id = '11406'
3883 /lvl1/ Merchandising Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 9425 /lvl2/ Merchandising Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3883"  where id = '9425'
5421 /lvl1/ Security Operation Center Manager
=>>>>>>>>>>>>>>>>>>>>>> 12484 /lvl2/ Security Operation Center Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5421"  where id = '12484'
4142 /lvl1/ Partnership & Community Executive
3120 /lvl1/ Junior Linux System Administrator
=>>>>>>>>>>>>>>>>>>>>>> 3221 /lvl2/ Junior Linux System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3120"  where id = '3221'
4660 /lvl1/ Purchasing & Administrasi Project
=>>>>>>>>>>>>>>>>>>>>>> 2066 /lvl2/ Purchasing & Administrasi Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4660"  where id = '2066'
=>>>>>>>>>>>>>>>>>>>>>> 2763 /lvl2/ Purchasing & Administrasi Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4660"  where id = '2763'
2103 /lvl1/ French Speaking Travel Consultant

=>>>>>>>>>>>>>>>>>>>>>> 5070 /lvl2/ French speaking Travel Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "French speaking Travel Consultant", title_clean   = "French speaking Travel Consultant", title_id  = "2103"  where id = '5070'
830 /lvl1/ Capacity Design Planning Engineer
=>>>>>>>>>>>>>>>>>>>>>> 9269 /lvl2/ Capacity Design Planning Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "830"  where id = '9269'
64 /lvl1/ Accounting & Administration Staff
1090 /lvl1/ Continuous Improvement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1706 /lvl2/ Continuous Improvement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1090"  where id = '1706'
2629 /lvl1/ Human Resources Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 2495 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '2495'
=>>>>>>>>>>>>>>>>>>>>>> 7978 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '7978'
=>>>>>>>>>>>>>>>>>>>>>> 8273 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '8273'
=>>>>>>>>>>>>>>>>>>>>>> 12442 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '12442'
=>>>>>>>>>>>>>>>>>>>>>> 15763 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '15763'
=>>>>>>>>>>>>>>>>>>>>>> 17536 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '17536'
=>>>>>>>>>>>>>>>>>>>>>> 17554 /lvl2/ Human Resources Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2629"  where id = '17554'
2886 /lvl1/ It Database Administrator Officer
=>>>>>>>>>>>>>>>>>>>>>> 7388 /lvl2/ IT Database Administrator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Database Administrator Officer", title_clean   = "IT Database Administrator Officer", title_id  = "2886"  where id = '7388'
73 /lvl1/ Accounting & Reconciliation Staff
3401 /lvl1/ Localization Projects Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 2346 /lvl2/ Localization Projects Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3401"  where id = '2346'
5193 /lvl1/ Sales Gt Noo / New Opening Outlet
=>>>>>>>>>>>>>>>>>>>>>> 1572 /lvl2/ Sales GT NOO / New Opening Outlet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales GT NOO / New Opening Outlet", title_clean   = "Sales GT NOO / New Opening Outlet", title_id  = "5193"  where id = '1572'
1866 /lvl1/ Facebook Advertisement Specialist
4682 /lvl1/ Purchasing Service Center Officer
=>>>>>>>>>>>>>>>>>>>>>> 8801 /lvl2/ Purchasing Service Center Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4682"  where id = '8801'
4683 /lvl1/ Purchasing Spare Parts Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18213 /lvl2/ Purchasing Spare Parts Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4683"  where id = '18213'
=>>>>>>>>>>>>>>>>>>>>>> 18225 /lvl2/ Purchasing Spare Parts Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4683"  where id = '18225'
3661 /lvl1/ Marketing Communication Executive
=>>>>>>>>>>>>>>>>>>>>>> 416 /lvl2/ Marketing Communication Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3661"  where id = '416'
=>>>>>>>>>>>>>>>>>>>>>> 821 /lvl2/ Marketing Communication Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3661"  where id = '821'
=>>>>>>>>>>>>>>>>>>>>>> 840 /lvl2/ Marketing Communication Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3661"  where id = '840'
=>>>>>>>>>>>>>>>>>>>>>> 9382 /lvl2/ Marketing Communication Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3661"  where id = '9382'
=>>>>>>>>>>>>>>>>>>>>>> 17741 /lvl2/ MARKETING COMMUNICATION EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION EXECUTIVE", title_clean   = "MARKETING COMMUNICATION EXECUTIVE", title_id  = "3661"  where id = '17741'
78 /lvl1/ Accounting & Tax Consultant Staff
=>>>>>>>>>>>>>>>>>>>>>> 19922 /lvl2/ Accounting & Tax Consultant Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "78"  where id = '19922'
4942 /lvl1/ Relationship Manager Kc Pontianak
=>>>>>>>>>>>>>>>>>>>>>> 7268 /lvl2/ RELATIONSHIP MANAGER KC PONTIANAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RELATIONSHIP MANAGER KC PONTIANAK", title_clean   = "RELATIONSHIP MANAGER KC PONTIANAK", title_id  = "4942"  where id = '7268'
1108 /lvl1/ Coordinator Water Treatment Plant
=>>>>>>>>>>>>>>>>>>>>>> 13974 /lvl2/ COORDINATOR WATER TREATMENT PLANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COORDINATOR WATER TREATMENT PLANT", title_clean   = "COORDINATOR WATER TREATMENT PLANT", title_id  = "1108"  where id = '13974'
=>>>>>>>>>>>>>>>>>>>>>> 14284 /lvl2/ COORDINATOR WATER TREATMENT PLANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COORDINATOR WATER TREATMENT PLANT", title_clean   = "COORDINATOR WATER TREATMENT PLANT", title_id  = "1108"  where id = '14284'
=>>>>>>>>>>>>>>>>>>>>>> 14303 /lvl2/ COORDINATOR WATER TREATMENT PLANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COORDINATOR WATER TREATMENT PLANT", title_clean   = "COORDINATOR WATER TREATMENT PLANT", title_id  = "1108"  where id = '14303'
6484 /lvl1/ Talent Acquisition Senior Manager
=>>>>>>>>>>>>>>>>>>>>>> 2581 /lvl2/ Talent Acquisition Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6484"  where id = '2581'
3414 /lvl1/ Logistics & Inventory Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 7214 /lvl2/ Logistics & Inventory Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3414"  where id = '7214'
2903 /lvl1/ It Governance & Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 9545 /lvl2/ IT Governance & Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Governance & Quality Assurance", title_clean   = "IT Governance & Quality Assurance", title_id  = "2903"  where id = '9545'
5212 /lvl1/ Sales Manager Agency Partnerships
4445 /lvl1/ Product Development Design Leader
=>>>>>>>>>>>>>>>>>>>>>> 2292 /lvl2/ Product Development Design Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4445"  where id = '2292'
5217 /lvl1/ Sales Manager Food Service Horeca
=>>>>>>>>>>>>>>>>>>>>>> 14988 /lvl2/ Sales Manager Food Service HORECA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Manager Food Service HORECA", title_clean   = "Sales Manager Food Service HORECA", title_id  = "5217"  where id = '14988'
4963 /lvl1/ Research & Data Collection Intern
=>>>>>>>>>>>>>>>>>>>>>> 931 /lvl2/ Research & Data Collection Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4963"  where id = '931'
1641 /lvl1/ Edtech Software Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 15270 /lvl2/ EdTech Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EdTech Software Quality Assurance", title_clean   = "EdTech Software Quality Assurance", title_id  = "1641"  where id = '15270'
6764 /lvl1/ Toefl Ibt, Ielts, A Level Teacher
2157 /lvl1/ GA Supervisor Cleaning Specialist
6257 /lvl1/ Supervisor Analyst Support System
=>>>>>>>>>>>>>>>>>>>>>> 7682 /lvl2/ Supervisor Analyst Support System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6257"  where id = '7682'
2165 /lvl1/ GAming Live Streaming Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 14972 /lvl2/ Gaming Live Streaming Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Gaming Live Streaming Coordinator", title_clean   = "Gaming Live Streaming Coordinator", title_id  = "2165"  where id = '14972'
3190 /lvl1/ Kepala Bidang Pelayanan Pelanggan

=>>>>>>>>>>>>>>>>>>>>>> 15486 /lvl2/ Kepala Bidang Pelayanan Pelanggan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3190"  where id = '15486'
2679 /lvl1/ In Land Transport Department Head
1402 /lvl1/ Dermatology Marketing / Operation
1658 /lvl1/ Electrical Instrument Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 19222 /lvl2/ Electrical Instrument Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1658"  where id = '19222'
4474 /lvl1/ Product Specialist Alat Kesehatan
=>>>>>>>>>>>>>>>>>>>>>> 19101 /lvl2/ Product Specialist Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4474"  where id = '19101'
5500 /lvl1/ Senior Customer Service Executive
=>>>>>>>>>>>>>>>>>>>>>> 7797 /lvl2/ Senior Customer Service Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5500"  where id = '7797'
=>>>>>>>>>>>>>>>>>>>>>> 8121 /lvl2/ Senior Customer Service Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5500"  where id = '8121'
1661 /lvl1/ Electrical Maintenance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1540 /lvl2/ Electrical Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1661"  where id = '1540'
1663 /lvl1/ Electrical Mechanical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 8729 /lvl2/ ELECTRICAL MECHANICAL ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ELECTRICAL MECHANICAL ENGINEERING", title_clean   = "ELECTRICAL MECHANICAL ENGINEERING", title_id  = "1663"  where id = '8729'
3967 /lvl1/ New Product Sales Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 2020 /lvl2/ New Product Sales Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3967"  where id = '2020'
1920 /lvl1/ Finance & Accounting Assistant Gm
=>>>>>>>>>>>>>>>>>>>>>> 20383 /lvl2/ Finance & Accounting Assistant GM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance & Accounting Assistant GM", title_clean   = "Finance & Accounting Assistant GM", title_id  = "1920"  where id = '20383'
4740 /lvl1/ Qc Environment Monitoring Analyst
=>>>>>>>>>>>>>>>>>>>>>> 1466 /lvl2/ QC Environment Monitoring Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Environment Monitoring Analyst", title_clean   = "QC Environment Monitoring Analyst", title_id  = "4740"  where id = '1466'
3973 /lvl1/ Noc Officer / Helpdesk Monitoring
390 /lvl1/ Application Support Cum Developer
=>>>>>>>>>>>>>>>>>>>>>> 5788 /lvl2/ Application Support cum Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Application Support cum Developer", title_clean   = "Application Support cum Developer", title_id  = "390"  where id = '5788'
4486 /lvl1/ Production & Hard Coating Manager
=>>>>>>>>>>>>>>>>>>>>>> 2167 /lvl2/ Production & Hard Coating Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4486"  where id = '2167'
1928 /lvl1/ Finance & Accounting Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 5252 /lvl2/ Finance & Accounting Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1928"  where id = '5252'
2954 /lvl1/ It Network Support & Site Support
2187 /lvl1/ General Affairs Senior Specialist
=>>>>>>>>>>>>>>>>>>>>>> 12156 /lvl2/ General Affairs Senior Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2187"  where id = '12156'
6542 /lvl1/ Taxation & Finance Administration
=>>>>>>>>>>>>>>>>>>>>>> 378 /lvl2/ TAXATION & FINANCE ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAXATION & FINANCE ADMINISTRATION", title_clean   = "TAXATION & FINANCE ADMINISTRATION", title_id  = "6542"  where id = '378'
=>>>>>>>>>>>>>>>>>>>>>> 423 /lvl2/ TAXATION & FINANCE ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAXATION & FINANCE ADMINISTRATION", title_clean   = "TAXATION & FINANCE ADMINISTRATION", title_id  = "6542"  where id = '423'
6798 /lvl1/ Training & Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3489 /lvl2/ Training & Development Specialist (Retail)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Retail)", title_clean   = " (Retail)", title_id  = "6798"  where id = '3489'
=>>>>>>>>>>>>>>>>>>>>>> 16643 /lvl2/ Training & Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6798"  where id = '16643'
6799 /lvl1/ Training & Development Supervisor
6288 /lvl1/ Supervisor Finance Accounting Tax
=>>>>>>>>>>>>>>>>>>>>>> 18741 /lvl2/ Supervisor Finance Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6288"  where id = '18741'
913 /lvl1/ Chief Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 8792 /lvl2/ CHIEF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHIEF Human Resources Development", title_clean   = "CHIEF Human Resources Development", title_id  = "913"  where id = '8792'
4241 /lvl1/ Performance Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11566 /lvl2/ Performance Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4241"  where id = '11566'
=>>>>>>>>>>>>>>>>>>>>>> 17135 /lvl2/ Performance Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4241"  where id = '17135'
=>>>>>>>>>>>>>>>>>>>>>> 17667 /lvl2/ Human Resources - Performance Management Specialist (ID: 530035)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources - -idex- (ID: 530035)", title_clean   = "Human Resources -  (ID: 530035)", title_id  = "4241"  where id = '17667'
6289 /lvl1/ Supervisor Finance Tax Accounting
6801 /lvl1/ Training & Implementation Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6808 /lvl2/ Training & Implementation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6801"  where id = '6808'
=>>>>>>>>>>>>>>>>>>>>>> 7969 /lvl2/ Training & Implementation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6801"  where id = '7969'
=>>>>>>>>>>>>>>>>>>>>>> 8251 /lvl2/ Training & Implementation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6801"  where id = '8251'
6802 /lvl1/ Training & Recruitment Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18447 /lvl2/ Training & Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6802"  where id = '18447'
1171 /lvl1/ Cost Accounting Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8777 /lvl2/ Cost Accounting Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1171"  where id = '8777'
5523 /lvl1/ Senior Finance Accounting Officer
=>>>>>>>>>>>>>>>>>>>>>> 5881 /lvl2/ Senior Finance Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5523"  where id = '5881'
=>>>>>>>>>>>>>>>>>>>>>> 7003 /lvl2/ Senior Finance Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5523"  where id = '7003'
404 /lvl1/ Architect For Building Management
=>>>>>>>>>>>>>>>>>>>>>> 13822 /lvl2/ Architect for Building Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Architect for Building Management", title_clean   = "Architect for Building Management", title_id  = "404"  where id = '13822'
2452 /lvl1/ Human Resources & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 3106 /lvl2/ Human Resources & General Affairs Executive (Generalist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Executive (Generalist)", title_clean   = " Executive (Generalist)", title_id  = "2452"  where id = '3106'
=>>>>>>>>>>>>>>>>>>>>>> 3872 /lvl2/ Human Resources & General Affairs (Personnel Admin) Ujungberung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Personnel Admin) Ujungberung", title_clean   = " (Personnel Admin) Ujungberung", title_id  = "2452"  where id = '3872'
=>>>>>>>>>>>>>>>>>>>>>> 6267 /lvl2/ Human Resources & General Affairs (Intern)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Intern)", title_clean   = " (Intern)", title_id  = "2452"  where id = '6267'
=>>>>>>>>>>>>>>>>>>>>>> 7418 /lvl2/ Human Resources & General Affairs (Intern)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Intern)", title_clean   = " (Intern)", title_id  = "2452"  where id = '7418'
=>>>>>>>>>>>>>>>>>>>>>> 9066 /lvl2/ Human Resources & General Affairs (HRGA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (HRGA)", title_clean   = " (HRGA)", title_id  = "2452"  where id = '9066'
=>>>>>>>>>>>>>>>>>>>>>> 10652 /lvl2/ Human Resources & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2452"  where id = '10652'
=>>>>>>>>>>>>>>>>>>>>>> 16479 /lvl2/ Human Resources & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2452"  where id = '16479'
=>>>>>>>>>>>>>>>>>>>>>> 16734 /lvl2/ Chief Human Resources & General Affairs (Under Client)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Chief -idex- (Under Client)", title_clean   = "Chief  (Under Client)", title_id  = "2452"  where id = '16734'
=>>>>>>>>>>>>>>>>>>>>>> 17879 /lvl2/ SUPERVISOR Human Resources & General Affairs ( Perusahan Pertambangan )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR -idex- ( Perusahan Pertambangan )", title_clean   = "SUPERVISOR  ( Perusahan Pertambangan )", title_id  = "2452"  where id = '17879'
=>>>>>>>>>>>>>>>>>>>>>> 19200 /lvl2/ Human Resources & General Affairs Site Officer (Roster Schedule 10 minggu onsite u002F 18 hari off)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Site Officer (Roster Schedule 10 minggu onsite u002F 18 hari off)", title_clean   = " Site Officer (Roster Schedule 10 minggu onsite u002F 18 hari off)", title_id  = "2452"  where id = '19200'
1430 /lvl1/ Design Staff Pembutan Plat & Film

5786 /lvl1/ Social Media Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8117 /lvl2/ Social Media Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5786"  where id = '8117'
924 /lvl1/ Civil / Structure Design Engineer
5277 /lvl1/ Sales Project Engineer Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13358 /lvl2/ Sales Project Engineer Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5277"  where id = '13358'
2206 /lvl1/ General Manager Sales & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 979 /lvl2/ General Manager Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2206"  where id = '979'
5534 /lvl1/ Senior Human Resources Generalist
=>>>>>>>>>>>>>>>>>>>>>> 9475 /lvl2/ Senior Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5534"  where id = '9475'
=>>>>>>>>>>>>>>>>>>>>>> 9496 /lvl2/ Senior Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5534"  where id = '9496'
4001 /lvl1/ Officer Business Process & System
=>>>>>>>>>>>>>>>>>>>>>> 19268 /lvl2/ Officer Business Process & System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4001"  where id = '19268'
4771 /lvl1/ Quality Assurance Department Head
=>>>>>>>>>>>>>>>>>>>>>> 872 /lvl2/ Quality Assurance Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4771"  where id = '872'
4772 /lvl1/ Quality Assurance Desk Collection
=>>>>>>>>>>>>>>>>>>>>>> 1740 /lvl2/ Quality Assurance Desk Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4772"  where id = '1740'
6052 /lvl1/ Staff Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 1563 /lvl2/ STAFF Human Resources Development PERSONALIA & GENERALIST (NON RECRUITER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development PERSONALIA & GENERALIST (NON RECRUITER)", title_clean   = "STAFF Human Resources Development PERSONALIA & GENERALIST (NON RECRUITER)", title_id  = "6052"  where id = '1563'
=>>>>>>>>>>>>>>>>>>>>>> 2314 /lvl2/ Staff Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6052"  where id = '2314'
=>>>>>>>>>>>>>>>>>>>>>> 3532 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '3532'
=>>>>>>>>>>>>>>>>>>>>>> 4378 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '4378'
=>>>>>>>>>>>>>>>>>>>>>> 4988 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '4988'
=>>>>>>>>>>>>>>>>>>>>>> 5367 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '5367'
=>>>>>>>>>>>>>>>>>>>>>> 11150 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '11150'
=>>>>>>>>>>>>>>>>>>>>>> 11369 /lvl2/ Staff Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6052"  where id = '11369'
=>>>>>>>>>>>>>>>>>>>>>> 11645 /lvl2/ Staff Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6052"  where id = '11645'
=>>>>>>>>>>>>>>>>>>>>>> 12732 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '12732'
=>>>>>>>>>>>>>>>>>>>>>> 12823 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '12823'
=>>>>>>>>>>>>>>>>>>>>>> 12834 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '12834'
=>>>>>>>>>>>>>>>>>>>>>> 13542 /lvl2/ Staff Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6052"  where id = '13542'
=>>>>>>>>>>>>>>>>>>>>>> 16640 /lvl2/ Staff Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6052"  where id = '16640'
=>>>>>>>>>>>>>>>>>>>>>> 16648 /lvl2/ STAFF Human Resources Development ( PABRIK GARMENT BOGOR )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development ( PABRIK GARMENT BOGOR )", title_clean   = "STAFF Human Resources Development ( PABRIK GARMENT BOGOR )", title_id  = "6052"  where id = '16648'
=>>>>>>>>>>>>>>>>>>>>>> 17392 /lvl2/ STAFF Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Development", title_clean   = "STAFF Human Resources Development", title_id  = "6052"  where id = '17392'
=>>>>>>>>>>>>>>>>>>>>>> 19471 /lvl2/ STAFF Human Resources Developmentu002FGA (Penempatan di Kantor PT SUS Jakarta Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources Developmentu002FGA (Penempatan di Kantor PT SUS Jakarta Utara)", title_clean   = "STAFF Human Resources Developmentu002FGA (Penempatan di Kantor PT SUS Jakarta Utara)", title_id  = "6052"  where id = '19471'
=>>>>>>>>>>>>>>>>>>>>>> 19995 /lvl2/ Staff Human Resources DevelopmentGa Perusahaan Ekspor Impor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-Ga Perusahaan Ekspor Impor", title_clean   = "Ga Perusahaan Ekspor Impor", title_id  = "6052"  where id = '19995'
2469 /lvl1/ Human Resources Assistant Manager
4268 /lvl1/ Petugas Penyuluh Lapangan Poultry
=>>>>>>>>>>>>>>>>>>>>>> 17914 /lvl2/ PETUGAS PENYULUH LAPANGAN POULTRY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PETUGAS PENYULUH LAPANGAN POULTRY", title_clean   = "PETUGAS PENYULUH LAPANGAN POULTRY", title_id  = "4268"  where id = '17914'
6316 /lvl1/ Supervisor Leasing Casual Leasing
=>>>>>>>>>>>>>>>>>>>>>> 3075 /lvl2/ Supervisor Leasing Casual Leasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6316"  where id = '3075'
2736 /lvl1/ Insurance Corporate Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 13266 /lvl2/ Insurance Corporate Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2736"  where id = '13266'
=>>>>>>>>>>>>>>>>>>>>>> 13422 /lvl2/ Insurance Corporate Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2736"  where id = '13422'
5042 /lvl1/ Sales & Customer Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 14610 /lvl2/ SALES & CUSTOMER RELATION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & CUSTOMER RELATION OFFICER", title_clean   = "SALES & CUSTOMER RELATION OFFICER", title_id  = "5042"  where id = '14610'
=>>>>>>>>>>>>>>>>>>>>>> 15003 /lvl2/ SALES & CUSTOMER RELATION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & CUSTOMER RELATION OFFICER", title_clean   = "SALES & CUSTOMER RELATION OFFICER", title_id  = "5042"  where id = '15003'
=>>>>>>>>>>>>>>>>>>>>>> 15025 /lvl2/ SALES & CUSTOMER RELATION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & CUSTOMER RELATION OFFICER", title_clean   = "SALES & CUSTOMER RELATION OFFICER", title_id  = "5042"  where id = '15025'
5302 /lvl1/ Sales Specialist Pump & Equipment
=>>>>>>>>>>>>>>>>>>>>>> 16189 /lvl2/ SALES SPECIALIST PUMP & EQUIPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES SPECIALIST PUMP & EQUIPMENT", title_clean   = "SALES SPECIALIST PUMP & EQUIPMENT", title_id  = "5302"  where id = '16189'
2743 /lvl1/ Interior Design & Content Creator

=>>>>>>>>>>>>>>>>>>>>>> 3025 /lvl2/ INTERIOR DESIGN & CONTENT CREATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERIOR DESIGN & CONTENT CREATOR", title_clean   = "INTERIOR DESIGN & CONTENT CREATOR", title_id  = "2743"  where id = '3025'
5817 /lvl1/ Software Quality Assurance Tester
=>>>>>>>>>>>>>>>>>>>>>> 10106 /lvl2/ Software Quality Assurance Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5817"  where id = '10106'
6330 /lvl1/ Supervisor Mechanical Engineering
955 /lvl1/ Clinical Specialist Critical Care
=>>>>>>>>>>>>>>>>>>>>>> 14777 /lvl2/ Clinical Specialist Critical Care
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "955"  where id = '14777'
3775 /lvl1/ Master Data Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5954 /lvl2/ Master Data Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3775"  where id = '5954'
192 /lvl1/ Admin Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 3550 /lvl2/ Admin Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "192"  where id = '3550'
=>>>>>>>>>>>>>>>>>>>>>> 7074 /lvl2/ Admin Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "192"  where id = '7074'
=>>>>>>>>>>>>>>>>>>>>>> 8536 /lvl2/ Admin Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "192"  where id = '8536'
=>>>>>>>>>>>>>>>>>>>>>> 17040 /lvl2/ Admin Human Resources Development GA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GA", title_clean   = " GA", title_id  = "192"  where id = '17040'
=>>>>>>>>>>>>>>>>>>>>>> 18396 /lvl2/ Admin Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "192"  where id = '18396'
4034 /lvl1/ Operation & Other Risk Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19754 /lvl2/ Operation & Other Risk Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4034"  where id = '19754'
3525 /lvl1/ Manager Online Sales Aparrel Baju
=>>>>>>>>>>>>>>>>>>>>>> 5384 /lvl2/ Manager Online Sales Aparrel Baju
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3525"  where id = '5384'
4805 /lvl1/ Quality Management Representative
=>>>>>>>>>>>>>>>>>>>>>> 14827 /lvl2/ Quality Management Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4805"  where id = '14827'
6600 /lvl1/ Technical Service Admin Executive
=>>>>>>>>>>>>>>>>>>>>>> 6882 /lvl2/ Technical Service Admin Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6600"  where id = '6882'
2505 /lvl1/ Human Resources Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 12869 /lvl2/ Human Resources Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2505"  where id = '12869'
5577 /lvl1/ Senior Mechanical Design Engineer
=>>>>>>>>>>>>>>>>>>>>>> 10725 /lvl2/ Senior Mechanical Design Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5577"  where id = '10725'
5323 /lvl1/ Sales Taking Order & Sales Canvas
=>>>>>>>>>>>>>>>>>>>>>> 18723 /lvl2/ SALES TAKING ORDER & SALES CANVAS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES TAKING ORDER & SALES CANVAS", title_clean   = "SALES TAKING ORDER & SALES CANVAS", title_id  = "5323"  where id = '18723'
716 /lvl1/ Building & Maintenance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8422 /lvl2/ Building & Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "716"  where id = '8422'
5840 /lvl1/ Sosmed Specialist Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 19257 /lvl2/ SOSMED SPECIALIST CONTENT CREATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOSMED SPECIALIST CONTENT CREATOR", title_clean   = "SOSMED SPECIALIST CONTENT CREATOR", title_id  = "5840"  where id = '19257'
2004 /lvl1/ Finance, Accounting & Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 1821 /lvl2/ Finance, Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2004"  where id = '1821'
=>>>>>>>>>>>>>>>>>>>>>> 4581 /lvl2/ Finance, Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2004"  where id = '4581'
=>>>>>>>>>>>>>>>>>>>>>> 9228 /lvl2/ Finance, Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2004"  where id = '9228'
=>>>>>>>>>>>>>>>>>>>>>> 19500 /lvl2/ Finance, Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2004"  where id = '19500'
1493 /lvl1/ Digital Marketing Analyst Manager
=>>>>>>>>>>>>>>>>>>>>>> 3414 /lvl2/ Digital Marketing Analyst Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1493"  where id = '3414'
=>>>>>>>>>>>>>>>>>>>>>> 4347 /lvl2/ Digital Marketing Analyst Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1493"  where id = '4347'
4823 /lvl1/ Research and Development Engineer
3803 /lvl1/ Mechanic Mobil Tronton / Forklift
1245 /lvl1/ Crewing Recruitment & Development
=>>>>>>>>>>>>>>>>>>>>>> 11855 /lvl2/ Crewing Recruitment & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1245"  where id = '11855'
2013 /lvl1/ Financial & Accounting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18517 /lvl2/ Financial & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2013"  where id = '18517'
2526 /lvl1/ Human Resources Recruitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 10782 /lvl2/ Human Resources Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2526"  where id = '10782'
=>>>>>>>>>>>>>>>>>>>>>> 19401 /lvl2/ Human Resources Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2526"  where id = '19401'
=>>>>>>>>>>>>>>>>>>>>>> 20297 /lvl2/ Human Resources Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2526"  where id = '20297'
5856 /lvl1/ Special Education Program Teacher
=>>>>>>>>>>>>>>>>>>>>>> 6686 /lvl2/ Special Education Program Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5856"  where id = '6686'
=>>>>>>>>>>>>>>>>>>>>>> 7838 /lvl2/ Special Education Program Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5856"  where id = '7838'
=>>>>>>>>>>>>>>>>>>>>>> 8160 /lvl2/ Special Education Program Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5856"  where id = '8160'
5090 /lvl1/ Sales Assistant Manager / Manager
=>>>>>>>>>>>>>>>>>>>>>> 1817 /lvl2/ Sales Assistant Manager / Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5090"  where id = '1817'
6370 /lvl1/ Supervisor Recruitment & Training
=>>>>>>>>>>>>>>>>>>>>>> 277 /lvl2/ Supervisor Recruitment & Training
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6370"  where id = '277'
5860 /lvl1/ Specialist, Product Certification
=>>>>>>>>>>>>>>>>>>>>>> 14240 /lvl2/ Specialist, Product Certification
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5860"  where id = '14240'
997 /lvl1/ Commercial Services Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 13675 /lvl2/ Commercial Services Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "997"  where id = '13675'
1766 /lvl1/ Estimator Civil & Steel Structure
=>>>>>>>>>>>>>>>>>>>>>> 13332 /lvl2/ Estimator Civil & Steel Structure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1766"  where id = '13332'
4071 /lvl1/ Operator Desktop Digital Printing
=>>>>>>>>>>>>>>>>>>>>>> 19123 /lvl2/ Operator Desktop Digital Printing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4071"  where id = '19123'
5863 /lvl1/ Spesialis Pengembangan Organisasi
=>>>>>>>>>>>>>>>>>>>>>> 13406 /lvl2/ Spesialis Pengembangan Organisasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5863"  where id = '13406'
6887 /lvl1/ Vessel Operation & Logistic Staff

489 /lvl1/ Assistant Logistics Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 15543 /lvl2/ Assistant Logistics Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "489"  where id = '15543'
3817 /lvl1/ Mechanical & Electrical Estimator
=>>>>>>>>>>>>>>>>>>>>>> 6428 /lvl2/ Mechanical & Electrical Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3817"  where id = '6428'
1770 /lvl1/ Estimator Interior / Architecture
=>>>>>>>>>>>>>>>>>>>>>> 9047 /lvl2/ Estimator Interior / Architecture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1770"  where id = '9047'
5610 /lvl1/ Senior Quality Assurance Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11644 /lvl2/ Senior Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5610"  where id = '11644'
3565 /lvl1/ Mandarin Interpreter & Translator
751 /lvl1/ Business Development Ast. Manager
=>>>>>>>>>>>>>>>>>>>>>> 1268 /lvl2/ Business Development Ast. Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "751"  where id = '1268'
4847 /lvl1/ Raw Material Warehouse Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12135 /lvl2/ Raw Material Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4847"  where id = '12135'
=>>>>>>>>>>>>>>>>>>>>>> 12139 /lvl2/ Raw Material Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4847"  where id = '12139'
498 /lvl1/ Assistant Manager Cost Accounting
=>>>>>>>>>>>>>>>>>>>>>> 20540 /lvl2/ Assistant Manager Cost Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "498"  where id = '20540'
3826 /lvl1/ Mechanical Electrical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 8118 /lvl2/ Mechanical Electrical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3826"  where id = '8118'
243 /lvl1/ Admin Project & Marketing Project
=>>>>>>>>>>>>>>>>>>>>>> 19072 /lvl2/ Admin Project & Marketing Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "243"  where id = '19072'
6132 /lvl1/ Staff Produksi Interior Furniture
=>>>>>>>>>>>>>>>>>>>>>> 5089 /lvl2/ Staff Produksi Interior Furniture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6132"  where id = '5089'
5365 /lvl1/ Sap Hcm Successfactors Consultant
=>>>>>>>>>>>>>>>>>>>>>> 3621 /lvl2/ SAP HCM Successfactors Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP HCM Successfactors Consultant", title_clean   = "SAP HCM Successfactors Consultant", title_id  = "5365"  where id = '3621'
503 /lvl1/ Assistant Manager Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 1047 /lvl2/ ASSISTANT MANAGER Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER Human Resources", title_clean   = "ASSISTANT MANAGER Human Resources", title_id  = "503"  where id = '1047'
=>>>>>>>>>>>>>>>>>>>>>> 3630 /lvl2/ Assistant Manager Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "503"  where id = '3630'
1017 /lvl1/ Compensation & Benefit Supervisor
6906 /lvl1/ Videographer & Photographer Staff
=>>>>>>>>>>>>>>>>>>>>>> 10307 /lvl2/ Videographer & Photographer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6906"  where id = '10307'
1787 /lvl1/ Event Exhibition & Kol Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2315 /lvl2/ Event Exhibition & KOL Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Event Exhibition & KOL Supervisor", title_clean   = "Event Exhibition & KOL Supervisor", title_id  = "1787"  where id = '2315'
4859 /lvl1/ Receptionist & Telephone Operator
=>>>>>>>>>>>>>>>>>>>>>> 15983 /lvl2/ Receptionist & Telephone Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4859"  where id = '15983'
=>>>>>>>>>>>>>>>>>>>>>> 19254 /lvl2/ RECEPTIONIST & TELEPHONE OPERATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECEPTIONIST & TELEPHONE OPERATOR", title_clean   = "RECEPTIONIST & TELEPHONE OPERATOR", title_id  = "4859"  where id = '19254'
3068 /lvl1/ Javascrip Front End Web Developer
3580 /lvl1/ Mandarin Translator / Interpreter
4350 /lvl1/ Ppjk & Customs Compliance Manager
=>>>>>>>>>>>>>>>>>>>>>> 5842 /lvl2/ PPJK & Customs Compliance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PPJK & Customs Compliance Manager", title_clean   = "PPJK & Customs Compliance Manager", title_id  = "4350"  where id = '5842'
3587 /lvl1/ Manufacturing Project Management
=>>>>>>>>>>>>>>>>>>>>>> 13733 /lvl2/ MANUFACTURING PROJECT MANAGEMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANUFACTURING PROJECT MANAGEMENT", title_clean   = "MANUFACTURING PROJECT MANAGEMENT", title_id  = "3587"  where id = '13733'
4867 /lvl1/ Recruitment / Talent Acquisition
4868 /lvl1/ Recruitment & Assessment Officer
776 /lvl1/ Business Intelligence Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5882 /lvl2/ Business Intelligence Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "776"  where id = '5882'
1290 /lvl1/ Customer Relations Administrator
=>>>>>>>>>>>>>>>>>>>>>> 7 /lvl2/ Customer Relations Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1290"  where id = '7'
=>>>>>>>>>>>>>>>>>>>>>> 20 /lvl2/ Customer Relations Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1290"  where id = '20'
3850 /lvl1/ Medical Representative Pontianak
=>>>>>>>>>>>>>>>>>>>>>> 9731 /lvl2/ Medical Representative Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3850"  where id = '9731'
523 /lvl1/ Assistant Manager Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13566 /lvl2/ Assistant Manager Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "523"  where id = '13566'
=>>>>>>>>>>>>>>>>>>>>>> 13789 /lvl2/ Assistant Manager Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "523"  where id = '13789'
1294 /lvl1/ Customer Relationship Supervisor
4112 /lvl1/ Organization Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 1767 /lvl2/ Organization Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4112"  where id = '1767'
=>>>>>>>>>>>>>>>>>>>>>> 2416 /lvl2/ Organization Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4112"  where id = '2416'
4113 /lvl1/ Organization Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 9857 /lvl2/ Organization Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4113"  where id = '9857'
3858 /lvl1/ Membership Administrator Officer
=>>>>>>>>>>>>>>>>>>>>>> 17607 /lvl2/ Membership administrator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Membership administrator Officer", title_clean   = "Membership administrator Officer", title_id  = "3858"  where id = '17607'
=>>>>>>>>>>>>>>>>>>>>>> 17623 /lvl2/ Membership administrator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Membership administrator Officer", title_clean   = "Membership administrator Officer", title_id  = "3858"  where id = '17623'
1044 /lvl1/ Consultant Integration Developer
1301 /lvl1/ Customer Service & Documentation
2069 /lvl1/ Food & Beverage Purchasing Staff
=>>>>>>>>>>>>>>>>>>>>>> 17639 /lvl2/ Food & Beverage Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2069"  where id = '17639'
4373 /lvl1/ Preschool / Kindergarten Teacher
6934 /lvl1/ Warehouse & Inventory Controller
3610 /lvl1/ Marketing / Business Development
=>>>>>>>>>>>>>>>>>>>>>> 4824 /lvl2/ Marketing / Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3610"  where id = '4824'
2590 /lvl1/ Hse Facility Lead Shopee Express
=>>>>>>>>>>>>>>>>>>>>>> 10381 /lvl2/ HSE Facility Lead Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE Facility Lead Shopee Express", title_clean   = "HSE Facility Lead Shopee Express", title_id  = "2590"  where id = '10381'
=>>>>>>>>>>>>>>>>>>>>>> 11185 /lvl2/ HSE Facility Lead Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE Facility Lead Shopee Express", title_clean   = "HSE Facility Lead Shopee Express", title_id  = "2590"  where id = '11185'
4895 /lvl1/ Regional Assistant Sales Manager

1824 /lvl1/ Export / Import Customer Service
4896 /lvl1/ Regional Branch Logistic Manager
=>>>>>>>>>>>>>>>>>>>>>> 17078 /lvl2/ Regional Branch Logistic Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4896"  where id = '17078'
5154 /lvl1/ Sales Engineering Lift Eskalator
=>>>>>>>>>>>>>>>>>>>>>> 6416 /lvl2/ Sales Engineering Lift Eskalator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5154"  where id = '6416'
3112 /lvl1/ Junior IT Database Administrator
=>>>>>>>>>>>>>>>>>>>>>> 2764 /lvl2/ Junior IT Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3112"  where id = '2764'
5928 /lvl1/ Staff Qa / Qc Ipc / Qc Packaging
4905 /lvl1/ Regional Maintenance Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 7863 /lvl2/ Regional Maintenance Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4905"  where id = '7863'
=>>>>>>>>>>>>>>>>>>>>>> 8199 /lvl2/ Regional Maintenance Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4905"  where id = '8199'
812 /lvl1/ Buyer Financing Senior Associate
=>>>>>>>>>>>>>>>>>>>>>> 2669 /lvl2/ Buyer Financing Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "812"  where id = '2669'
6956 /lvl1/ Warehouse Officer Cum Translator
=>>>>>>>>>>>>>>>>>>>>>> 3072 /lvl2/ Warehouse Officer cum Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Warehouse Officer cum Translator", title_clean   = "Warehouse Officer cum Translator", title_id  = "6956"  where id = '3072'
5677 /lvl1/ Senior Web Application Developer
=>>>>>>>>>>>>>>>>>>>>>> 3607 /lvl2/ Senior Web Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5677"  where id = '3607'
1071 /lvl1/ Content Creator Property Talents
=>>>>>>>>>>>>>>>>>>>>>> 3888 /lvl2/ Content Creator Property Talents
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1071"  where id = '3888'
1327 /lvl1/ Customer Success Country Manager
=>>>>>>>>>>>>>>>>>>>>>> 15304 /lvl2/ Customer Success Country Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1327"  where id = '15304'
1329 /lvl1/ Customer Supply Chain Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18834 /lvl2/ Customer Supply Chain Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1329"  where id = '18834'
6449 /lvl1/ System & Procedure Administrator
=>>>>>>>>>>>>>>>>>>>>>> 5433 /lvl2/ System & Procedure Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6449"  where id = '5433'
6961 /lvl1/ Warehouse Supervisor & Logistics
564 /lvl1/ Associate IT Planning Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7795 /lvl2/ Associate IT Planning Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "564"  where id = '7795'
=>>>>>>>>>>>>>>>>>>>>>> 8114 /lvl2/ Associate IT Planning Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "564"  where id = '8114'
1589 /lvl1/ Drafter Research and Development
=>>>>>>>>>>>>>>>>>>>>>> 8728 /lvl2/ DRAFTER Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER Research and Development", title_clean   = "DRAFTER Research and Development", title_id  = "1589"  where id = '8728'
4405 /lvl1/ Procurement / Purchasing Officer
566 /lvl1/ Associate Recruitment Consultant
=>>>>>>>>>>>>>>>>>>>>>> 14031 /lvl2/ Associate Recruitment Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "566"  where id = '14031'
=>>>>>>>>>>>>>>>>>>>>>> 14367 /lvl2/ Associate Recruitment Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "566"  where id = '14367'
=>>>>>>>>>>>>>>>>>>>>>> 18258 /lvl2/ Associate Recruitment Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "566"  where id = '18258'
4406 /lvl1/ Procurement & Bd Department Head
=>>>>>>>>>>>>>>>>>>>>>> 7684 /lvl2/ PROCUREMENT & BD DEPARTMENT HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCUREMENT & BD DEPARTMENT HEAD", title_clean   = "PROCUREMENT & BD DEPARTMENT HEAD", title_id  = "4406"  where id = '7684'
823 /lvl1/ Call Center Kesehatan Masyarakat
=>>>>>>>>>>>>>>>>>>>>>> 10861 /lvl2/ Call Center Kesehatan Masyarakat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "823"  where id = '10861'
5176 /lvl1/ Sales Executive Training Program
=>>>>>>>>>>>>>>>>>>>>>> 2956 /lvl2/ Sales Executive Training Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5176"  where id = '2956'
6460 /lvl1/ System Engineer Managed Services
=>>>>>>>>>>>>>>>>>>>>>> 7681 /lvl2/ System Engineer Managed Services
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6460"  where id = '7681'
1085 /lvl1/ Content Writer & Creator Officer
1855 /lvl1/ Eyelash Extension / Nail Terapis
5441 /lvl1/ Senior Account Executive Digital
=>>>>>>>>>>>>>>>>>>>>>> 9399 /lvl2/ Senior Account Executive Digital
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5441"  where id = '9399'
6210 /lvl1/ Store Supervisor Subway Cikarang
=>>>>>>>>>>>>>>>>>>>>>> 18885 /lvl2/ Store Supervisor Subway Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6210"  where id = '18885'
2627 /lvl1/ Human Resources & Administration
=>>>>>>>>>>>>>>>>>>>>>> 12802 /lvl2/ Human Resources & Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2627"  where id = '12802'
324 /lvl1/ Advertising & Promotion Property
=>>>>>>>>>>>>>>>>>>>>>> 9061 /lvl2/ ADVERTISING & PROMOTION PROPERTY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADVERTISING & PROMOTION PROPERTY", title_clean   = "ADVERTISING & PROMOTION PROPERTY", title_id  = "324"  where id = '9061'
2628 /lvl1/ Human Resources & General Affair
=>>>>>>>>>>>>>>>>>>>>>> 18949 /lvl2/ Human Resources & General Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2628"  where id = '18949'
=>>>>>>>>>>>>>>>>>>>>>> 19875 /lvl2/ Human Resources & General Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2628"  where id = '19875'
4421 /lvl1/ Procurement Project Construction
=>>>>>>>>>>>>>>>>>>>>>> 16832 /lvl2/ Procurement Project Construction
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4421"  where id = '16832'
582 /lvl1/ Automation & Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 20011 /lvl2/ Automation & Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "582"  where id = '20011'
2630 /lvl1/ Human Resources Business Partner
=>>>>>>>>>>>>>>>>>>>>>> 1482 /lvl2/ Human Resources Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2630"  where id = '1482'
=>>>>>>>>>>>>>>>>>>>>>> 2064 /lvl2/ Human Resources Business Partner - Sr. Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sr. Officer", title_clean   = " - Sr. Officer", title_id  = "2630"  where id = '2064'
=>>>>>>>>>>>>>>>>>>>>>> 6203 /lvl2/ HRBP (Human Resources Business Partner)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRBP (-idex-)", title_clean   = "HRBP ()", title_id  = "2630"  where id = '6203'
=>>>>>>>>>>>>>>>>>>>>>> 8977 /lvl2/ Human Resources BUSINESS PARTNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources BUSINESS PARTNER", title_clean   = "Human Resources BUSINESS PARTNER", title_id  = "2630"  where id = '8977'
=>>>>>>>>>>>>>>>>>>>>>> 12552 /lvl2/ Human Resources Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2630"  where id = '12552'
=>>>>>>>>>>>>>>>>>>>>>> 12582 /lvl2/ Human Resources Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2630"  where id = '12582'
=>>>>>>>>>>>>>>>>>>>>>> 13744 /lvl2/ Human Resources Generalist u002F Human Resources Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Generalist u002F -idex-", title_clean   = "Human Resources Generalist u002F ", title_id  = "2630"  where id = '13744'
=>>>>>>>>>>>>>>>>>>>>>> 17517 /lvl2/ Human Resources Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2630"  where id = '17517'
=>>>>>>>>>>>>>>>>>>>>>> 17529 /lvl2/ Human Resources Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2630"  where id = '17529'
3400 /lvl1/ Local Store Marketing Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 7344 /lvl2/ Local Store Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3400"  where id = '7344'
2379 /lvl1/ Head of Marketing Marine & Cargo
5964 /lvl1/ Staff Admin Gudang & Procurement
=>>>>>>>>>>>>>>>>>>>>>> 168 /lvl2/ Staff Admin Gudang & Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5964"  where id = '168'
1357 /lvl1/ Data Center Operation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3357 /lvl2/ Data Center Operation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1357"  where id = '3357'
=>>>>>>>>>>>>>>>>>>>>>> 4288 /lvl2/ Data Center Operation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1357"  where id = '4288'
1613 /lvl1/ Dutch Speaking Travel Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5060 /lvl2/ Dutch speaking Travel Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Dutch speaking Travel Consultant", title_clean   = "Dutch speaking Travel Consultant", title_id  = "1613"  where id = '5060'
2638 /lvl1/ Human Resources Senior Executive
335 /lvl1/ Agency Marketing Support Manager
=>>>>>>>>>>>>>>>>>>>>>> 8687 /lvl2/ AGENCY MARKETING SUPPORT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AGENCY MARKETING SUPPORT MANAGER", title_clean   = "AGENCY MARKETING SUPPORT MANAGER", title_id  = "335"  where id = '8687'
847 /lvl1/ Cashier For Distribution Company
=>>>>>>>>>>>>>>>>>>>>>> 19387 /lvl2/ Cashier for Distribution Company
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cashier for Distribution Company", title_clean   = "Cashier for Distribution Company", title_id  = "847"  where id = '19387'
4687 /lvl1/ Purchasing Staff Plant Citeureup
=>>>>>>>>>>>>>>>>>>>>>> 18565 /lvl2/ Purchasing Staff Plant Citeureup
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4687"  where id = '18565'
4947 /lvl1/ Relationship Manajer Dana & Jasa
=>>>>>>>>>>>>>>>>>>>>>> 8763 /lvl2/ Relationship Manajer Dana & Jasa
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4947"  where id = '8763'
3924 /lvl1/ Modern Trade Independent Manager
=>>>>>>>>>>>>>>>>>>>>>> 15150 /lvl2/ Modern Trade Independent Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3924"  where id = '15150'
4182 /lvl1/ Penerjemah / Translator Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 6337 /lvl2/ Penerjemah / Translator Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4182"  where id = '6337'
4951 /lvl1/ Reminder Desk Collection Fintech
=>>>>>>>>>>>>>>>>>>>>>> 13897 /lvl2/ Reminder Desk Collection Fintech
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4951"  where id = '13897'
3929 /lvl1/ Molding Injection Engineer Staff
=>>>>>>>>>>>>>>>>>>>>>> 13964 /lvl2/ Molding Injection Engineer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3929"  where id = '13964'
5211 /lvl1/ Sales Manager / Marketing Leader
4956 /lvl1/ Reporter Nextren Penempatan Solo
=>>>>>>>>>>>>>>>>>>>>>> 11014 /lvl2/ Reporter Nextren Penempatan Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4956"  where id = '11014'
=>>>>>>>>>>>>>>>>>>>>>> 11047 /lvl2/ Reporter Nextren Penempatan Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4956"  where id = '11047'
6752 /lvl1/ Ticketing Staff English Speaking
=>>>>>>>>>>>>>>>>>>>>>> 886 /lvl2/ Ticketing Staff English Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6752"  where id = '886'
3169 /lvl1/ Kasir & Pramuniaga Berpengalaman
=>>>>>>>>>>>>>>>>>>>>>> 16781 /lvl2/ Kasir & Pramuniaga Berpengalaman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3169"  where id = '16781'
3681 /lvl1/ Marketing Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7842 /lvl2/ Marketing Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3681"  where id = '7842'
=>>>>>>>>>>>>>>>>>>>>>> 9331 /lvl2/ Marketing Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3681"  where id = '9331'
3172 /lvl1/ Kepala Accounting & Administrasi
6756 /lvl1/ Tiktok Content Creator & Talents
=>>>>>>>>>>>>>>>>>>>>>> 15296 /lvl2/ TIKTOK CONTENT CREATOR & TALENTS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TIKTOK CONTENT CREATOR & TALENTS", title_clean   = "TIKTOK CONTENT CREATOR & TALENTS", title_id  = "6756"  where id = '15296'
1900 /lvl1/ Field Quality & Warranty Manager
=>>>>>>>>>>>>>>>>>>>>>> 18857 /lvl2/ Field Quality & Warranty Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1900"  where id = '18857'
1133 /lvl1/ Corporate Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9159 /lvl2/ Corporate Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1133"  where id = '9159'
4462 /lvl1/ Product Marketing Representative
=>>>>>>>>>>>>>>>>>>>>>> 1489 /lvl2/ Product Marketing Representative (Cloud)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cloud)", title_clean   = " (Cloud)", title_id  = "4462"  where id = '1489'
=>>>>>>>>>>>>>>>>>>>>>> 10636 /lvl2/ Product Marketing Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4462"  where id = '10636'
1391 /lvl1/ Demand Planner Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1866 /lvl2/ Demand Planner Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1391"  where id = '1866'
880 /lvl1/ Character Designer / Illustrator
4210 /lvl1/ People & Organisation Consultant
=>>>>>>>>>>>>>>>>>>>>>> 4839 /lvl2/ PEOPLE & ORGANISATION CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PEOPLE & ORGANISATION CONSULTANT", title_clean   = "PEOPLE & ORGANISATION CONSULTANT", title_id  = "4210"  where id = '4839'
1140 /lvl1/ Corporate Internal Audit Manager
=>>>>>>>>>>>>>>>>>>>>>> 13070 /lvl2/ Corporate Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1140"  where id = '13070'
4215 /lvl1/ People Development Asstn Manager
=>>>>>>>>>>>>>>>>>>>>>> 654 /lvl2/ People Development Asstn Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4215"  where id = '654'
4984 /lvl1/ Retail & Wholesale Sales Manager
1913 /lvl1/ Finance / Accounting / Tax Staff
2169 /lvl1/ General Accounting & Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 12949 /lvl2/ General Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2169"  where id = '12949'
634 /lvl1/ Bi Data Visualization Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4072 /lvl2/ BI Data Visualization Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BI Data Visualization Specialist", title_clean   = "BI Data Visualization Specialist", title_id  = "634"  where id = '4072'
5754 /lvl1/ Site Project & Project Architect
=>>>>>>>>>>>>>>>>>>>>>> 19460 /lvl2/ Site Project & Project Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5754"  where id = '19460'
1915 /lvl1/ Finance / Supply Chain Executive
5499 /lvl1/ Senior Customer Care Data Center
=>>>>>>>>>>>>>>>>>>>>>> 14695 /lvl2/ Senior Customer Care Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5499"  where id = '14695'
=>>>>>>>>>>>>>>>>>>>>>> 15095 /lvl2/ Senior Customer Care Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5499"  where id = '15095'
1664 /lvl1/ Electrical Panel Technician Lead
=>>>>>>>>>>>>>>>>>>>>>> 17476 /lvl2/ Electrical Panel Technician Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1664"  where id = '17476'
897 /lvl1/ Chemical Engineering Part Leader
=>>>>>>>>>>>>>>>>>>>>>> 14722 /lvl2/ Chemical Engineering Part Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "897"  where id = '14722'
1922 /lvl1/ Finance & Accounting Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 19473 /lvl2/ FINANCE & ACCOUNTING COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING COORDINATOR", title_clean   = "FINANCE & ACCOUNTING COORDINATOR", title_id  = "1922"  where id = '19473'
2434 /lvl1/ Host Live Streaming Social Media

=>>>>>>>>>>>>>>>>>>>>>> 9738 /lvl2/ Host live streaming social media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Host live streaming social media", title_clean   = "Host live streaming social media", title_id  = "2434"  where id = '9738'
=>>>>>>>>>>>>>>>>>>>>>> 9753 /lvl2/ Host live streaming social media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Host live streaming social media", title_clean   = "Host live streaming social media", title_id  = "2434"  where id = '9753'
5506 /lvl1/ Senior Database Engineer Manager
=>>>>>>>>>>>>>>>>>>>>>> 6846 /lvl2/ Senior Database Engineer Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5506"  where id = '6846'
3459 /lvl1/ Management Accounting Consultant
=>>>>>>>>>>>>>>>>>>>>>> 9002 /lvl2/ Management Accounting Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3459"  where id = '9002'
6790 /lvl1/ Trainer Organization Development
=>>>>>>>>>>>>>>>>>>>>>> 1728 /lvl2/ Trainer Organization Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6790"  where id = '1728'
649 /lvl1/ Startup Accelerator Section Head
=>>>>>>>>>>>>>>>>>>>>>> 3771 /lvl2/ BINUS Startup Accelerator Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BINUS -idex-", title_clean   = "BINUS ", title_id  = "649"  where id = '3771'
3213 /lvl1/ Kepala Produksi Sawmill / Grader
=>>>>>>>>>>>>>>>>>>>>>> 11816 /lvl2/ KEPALA PRODUKSI SAWMILL / GRADER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA PRODUKSI SAWMILL / GRADER", title_clean   = "KEPALA PRODUKSI SAWMILL / GRADER", title_id  = "3213"  where id = '11816'
1935 /lvl1/ Finance & Administration Manager
=>>>>>>>>>>>>>>>>>>>>>> 19385 /lvl2/ Finance & Administration Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1935"  where id = '19385'
1936 /lvl1/ Finance & Administration Officer
=>>>>>>>>>>>>>>>>>>>>>> 19809 /lvl2/ Finance & Administration Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1936"  where id = '19809'
5776 /lvl1/ Social Media Admin & Reservation
=>>>>>>>>>>>>>>>>>>>>>> 6567 /lvl2/ Social Media Admin & Reservation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5776"  where id = '6567'
6800 /lvl1/ Training & Documentation Support
=>>>>>>>>>>>>>>>>>>>>>> 18634 /lvl2/ TRAINING & DOCUMENTATION SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAINING & DOCUMENTATION SUPPORT", title_clean   = "TRAINING & DOCUMENTATION SUPPORT", title_id  = "6800"  where id = '18634'
5777 /lvl1/ Social Media Business Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19432 /lvl2/ Social Media Business Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5777"  where id = '19432'
4244 /lvl1/ Performance Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10981 /lvl2/ Livestream Performance Marketing Specialist (Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Livestream -idex- (Mandarin)", title_clean   = "Livestream  (Mandarin)", title_id  = "4244"  where id = '10981'
=>>>>>>>>>>>>>>>>>>>>>> 19807 /lvl2/ Performance Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4244"  where id = '19807'
3223 /lvl1/ Kepala Toko / Pic Fashion & Baby
1948 /lvl1/ Finance Accounting & Tax Manager
926 /lvl1/ Civil & Steel Structure Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19799 /lvl2/ Civil & Steel Structure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "926"  where id = '19799'
3742 /lvl1/ Marketing Representative Officer
=>>>>>>>>>>>>>>>>>>>>>> 3219 /lvl2/ Marketing Representative Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3742"  where id = '3219'
160 /lvl1/ Admin Account Receivable Officer
=>>>>>>>>>>>>>>>>>>>>>> 11453 /lvl2/ Admin Account Receivable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "160"  where id = '11453'
672 /lvl1/ Branch Support & Compliance Head
=>>>>>>>>>>>>>>>>>>>>>> 9548 /lvl2/ Branch Support & Compliance Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "672"  where id = '9548'
4770 /lvl1/ Quality Assurance Contact Center
=>>>>>>>>>>>>>>>>>>>>>> 14601 /lvl2/ Quality Assurance Contact Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4770"  where id = '14601'
=>>>>>>>>>>>>>>>>>>>>>> 14990 /lvl2/ Quality Assurance Contact Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4770"  where id = '14990'
6050 /lvl1/ Staff Human Resources Generalist
=>>>>>>>>>>>>>>>>>>>>>> 17519 /lvl2/ STAFF Human Resources GENERALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources GENERALIST", title_clean   = "STAFF Human Resources GENERALIST", title_id  = "6050"  where id = '17519'
=>>>>>>>>>>>>>>>>>>>>>> 17531 /lvl2/ STAFF Human Resources GENERALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human Resources GENERALIST", title_clean   = "STAFF Human Resources GENERALIST", title_id  = "6050"  where id = '17531'
=>>>>>>>>>>>>>>>>>>>>>> 19313 /lvl2/ Staff Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6050"  where id = '19313'
3235 /lvl1/ Key Account Manager Modern Trade
=>>>>>>>>>>>>>>>>>>>>>> 10016 /lvl2/ Key Account Manager Modern Trade
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3235"  where id = '10016'
2982 /lvl1/ It Sales Field / Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 5455 /lvl2/ IT Sales Field / Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Sales Field / Sales Executive", title_clean   = "IT Sales Field / Sales Executive", title_id  = "2982"  where id = '5455'
2471 /lvl1/ Human Resources Business Partner
1704 /lvl1/ Engineering Civil Section Leader
=>>>>>>>>>>>>>>>>>>>>>> 17919 /lvl2/ Engineering Civil Section Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1704"  where id = '17919'
3241 /lvl1/ Kindergarten Teacher / Assistant
5545 /lvl1/ Senior IT Database Administrator
=>>>>>>>>>>>>>>>>>>>>>> 12049 /lvl2/ Senior IT Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5545"  where id = '12049'
6569 /lvl1/ Technical & Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 17618 /lvl2/ Technical & Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6569"  where id = '17618'
1453 /lvl1/ Development Security & Operation
5038 /lvl1/ Sales / Marketing Representative
=>>>>>>>>>>>>>>>>>>>>>> 3978 /lvl2/ Sales / Marketing Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5038"  where id = '3978'
4531 /lvl1/ Programmer Microsoft Dynamics Ax
=>>>>>>>>>>>>>>>>>>>>>> 6661 /lvl2/ Programmer Microsoft Dynamics AX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Programmer Microsoft Dynamics AX", title_clean   = "Programmer Microsoft Dynamics AX", title_id  = "4531"  where id = '6661'
2488 /lvl1/ Human Resources Generalist Staff
=>>>>>>>>>>>>>>>>>>>>>> 125 /lvl2/ Human Resources Generalist Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2488"  where id = '125'
441 /lvl1/ Asisten Quality Control Agronomi
=>>>>>>>>>>>>>>>>>>>>>> 15981 /lvl2/ ASISTEN QUALITY CONTROL AGRONOMI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN QUALITY CONTROL AGRONOMI", title_clean   = "ASISTEN QUALITY CONTROL AGRONOMI", title_id  = "441"  where id = '15981'
2490 /lvl1/ Human Resources Helpdesk Officer
=>>>>>>>>>>>>>>>>>>>>>> 18425 /lvl2/ Human Resources Helpdesk Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2490"  where id = '18425'
1469 /lvl1/ Digital Advertisement Specialist
2238 /lvl1/ Graphic Design & Content Creator
5822 /lvl1/ Software Tester For Ios Platform
=>>>>>>>>>>>>>>>>>>>>>> 13374 /lvl2/ Software Tester for IOS Platform
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Software Tester for IOS Platform", title_clean   = "Software Tester for IOS Platform", title_id  = "5822"  where id = '13374'
=>>>>>>>>>>>>>>>>>>>>>> 13593 /lvl2/ Software Tester for IOS Platform
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Software Tester for IOS Platform", title_clean   = "Software Tester for IOS Platform", title_id  = "5822"  where id = '13593'
191 /lvl1/ Admin Human Resources Generalist

=>>>>>>>>>>>>>>>>>>>>>> 14833 /lvl2/ Admin Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "191"  where id = '14833'
2752 /lvl1/ Internal Audit Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 16106 /lvl2/ Internal Audit Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2752"  where id = '16106'
1731 /lvl1/ Enterprise Risk Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 17483 /lvl2/ Enterprise Risk Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1731"  where id = '17483'
454 /lvl1/ Assessment & Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 11075 /lvl2/ Assessment & Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "454"  where id = '11075'
3271 /lvl1/ Koordinator Perawat Perinatologi
=>>>>>>>>>>>>>>>>>>>>>> 7913 /lvl2/ Koordinator Perawat Perinatologi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3271"  where id = '7913'
=>>>>>>>>>>>>>>>>>>>>>> 8237 /lvl2/ Koordinator Perawat Perinatologi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3271"  where id = '8237'
3018 /lvl1/ It Supervisor Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 6168 /lvl2/ IT Supervisor Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Supervisor Software Developer", title_clean   = "IT Supervisor Software Developer", title_id  = "3018"  where id = '6168'
4300 /lvl1/ Planned Maintenance System Staff
=>>>>>>>>>>>>>>>>>>>>>> 18716 /lvl2/ Planned Maintenance System Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4300"  where id = '18716'
4813 /lvl1/ Quality Tester / Market Feedback
974 /lvl1/ Coach Field Education Consultant
=>>>>>>>>>>>>>>>>>>>>>> 4054 /lvl2/ Coach Field Education Consultant Kisaran
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Kisaran", title_clean   = " Kisaran", title_id  = "974"  where id = '4054'
=>>>>>>>>>>>>>>>>>>>>>> 6608 /lvl2/ Coach Field Education Consultant Sorong
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sorong", title_clean   = " Sorong", title_id  = "974"  where id = '6608'
=>>>>>>>>>>>>>>>>>>>>>> 6742 /lvl2/ Coach Field Education Consultant Flores
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Flores", title_clean   = " Flores", title_id  = "974"  where id = '6742'
=>>>>>>>>>>>>>>>>>>>>>> 7640 /lvl2/ Coach Field Education Consultant Garut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Garut", title_clean   = " Garut", title_id  = "974"  where id = '7640'
=>>>>>>>>>>>>>>>>>>>>>> 7680 /lvl2/ Coach Field Education Consultant Ciamis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Ciamis", title_clean   = " Ciamis", title_id  = "974"  where id = '7680'
=>>>>>>>>>>>>>>>>>>>>>> 14444 /lvl2/ Coach Field Education Consultant Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Medan", title_clean   = " Medan", title_id  = "974"  where id = '14444'
=>>>>>>>>>>>>>>>>>>>>>> 14820 /lvl2/ Coach Field Education Consultant Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Medan", title_clean   = " Medan", title_id  = "974"  where id = '14820'
1231 /lvl1/ Credit Operational Telemarketing
=>>>>>>>>>>>>>>>>>>>>>> 15118 /lvl2/ Credit Operational Telemarketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1231"  where id = '15118'
3025 /lvl1/ It Support Hardware & Networking
=>>>>>>>>>>>>>>>>>>>>>> 7495 /lvl2/ IT Support Hardware & Networking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Hardware & Networking", title_clean   = "IT Support Hardware & Networking", title_id  = "3025"  where id = '7495'
6097 /lvl1/ Staff Marketing & Administration
=>>>>>>>>>>>>>>>>>>>>>> 12207 /lvl2/ STAFF MARKETING & ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MARKETING & ADMINISTRATION", title_clean   = "STAFF MARKETING & ADMINISTRATION", title_id  = "6097"  where id = '12207'
1234 /lvl1/ Credit Quality Review Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4424 /lvl2/ Credit Quality Review Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1234"  where id = '4424'
3538 /lvl1/ Manager Research and Development
6611 /lvl1/ Technical Support Engineer Admin
=>>>>>>>>>>>>>>>>>>>>>> 10031 /lvl2/ TECHNICAL SUPPORT ENGINEER ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPPORT ENGINEER ADMIN", title_clean   = "TECHNICAL SUPPORT ENGINEER ADMIN", title_id  = "6611"  where id = '10031'
1751 /lvl1/ ERP Consultant / ERP Implementer
2519 /lvl1/ Human Resources Recruiter Intern
=>>>>>>>>>>>>>>>>>>>>>> 16801 /lvl2/ Human Resources Recruiter Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2519"  where id = '16801'
=>>>>>>>>>>>>>>>>>>>>>> 16817 /lvl2/ Human Resources Recruiter Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2519"  where id = '16817'
2008 /lvl1/ Finance, Accounting, Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 12950 /lvl2/ FINANCE, ACCOUNTING, TAX MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE, ACCOUNTING, TAX MANAGER", title_clean   = "FINANCE, ACCOUNTING, TAX MANAGER", title_id  = "2008"  where id = '12950'
=>>>>>>>>>>>>>>>>>>>>>> 14050 /lvl2/ FINANCE, ACCOUNTING, TAX MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE, ACCOUNTING, TAX MANAGER", title_clean   = "FINANCE, ACCOUNTING, TAX MANAGER", title_id  = "2008"  where id = '14050'
2009 /lvl1/ Finance, Accounting, Tax Officer
=>>>>>>>>>>>>>>>>>>>>>> 20211 /lvl2/ Finance, Accounting, Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2009"  where id = '20211'
2010 /lvl1/ Finance, Accounting& Tax Manager
478 /lvl1/ Assistant Communications Manager
=>>>>>>>>>>>>>>>>>>>>>> 191 /lvl2/ Assistant Communications Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "478"  where id = '191'
6879 /lvl1/ Validation Transaction Associate
=>>>>>>>>>>>>>>>>>>>>>> 10886 /lvl2/ Validation Transaction Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6879"  where id = '10886'
4832 /lvl1/ Research and Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 2840 /lvl2/ Research and Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4832"  where id = '2840'
=>>>>>>>>>>>>>>>>>>>>>> 11922 /lvl2/ Research and Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4832"  where id = '11922'
=>>>>>>>>>>>>>>>>>>>>>> 12978 /lvl2/ Research and Development Manager (Food & Beverages Product)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Food & Beverages Product)", title_clean   = " (Food & Beverages Product)", title_id  = "4832"  where id = '12978'
5344 /lvl1/ Sample Developer & Pattern Maker
=>>>>>>>>>>>>>>>>>>>>>> 2336 /lvl2/ Sample Developer & Pattern Maker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5344"  where id = '2336'
=>>>>>>>>>>>>>>>>>>>>>> 4574 /lvl2/ Sample Developer & Pattern Maker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5344"  where id = '4574'
4326 /lvl1/ Policy Management Junior Analyst
=>>>>>>>>>>>>>>>>>>>>>> 20278 /lvl2/ Policy Management Junior Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4326"  where id = '20278'
487 /lvl1/ Assistant Human Resource Manager
=>>>>>>>>>>>>>>>>>>>>>> 16992 /lvl2/ Assistant Human Resource Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "487"  where id = '16992'
3816 /lvl1/ Mechanical & Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3019 /lvl2/ Mechanical & Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3816"  where id = '3019'
=>>>>>>>>>>>>>>>>>>>>>> 9865 /lvl2/ Mechanical & Electrical Engineer - BSD (MEBSD-BSD-PSS11)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - BSD (MEBSD-BSD-PSS11)", title_clean   = " - BSD (MEBSD-BSD-PSS11)", title_id  = "3816"  where id = '9865'
2795 /lvl1/ Intern Project Management Office

=>>>>>>>>>>>>>>>>>>>>>> 11906 /lvl2/ Intern Project Management Office
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2795"  where id = '11906'
4591 /lvl1/ Project Manager Sipil / Interior
=>>>>>>>>>>>>>>>>>>>>>> 4147 /lvl2/ Project Manager Sipil / Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4591"  where id = '4147'
4592 /lvl1/ Project Manager System Pendingin
=>>>>>>>>>>>>>>>>>>>>>> 6545 /lvl2/ Project Manager System Pendingin PT. PACIFIC REFUTO SYSTEM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- PT. PACIFIC REFUTO SYSTEM", title_clean   = " PT. PACIFIC REFUTO SYSTEM", title_id  = "4592"  where id = '6545'
3829 /lvl1/ Mechanical Electrical Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3469 /lvl2/ Mechanical Electrical Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3829"  where id = '3469'
2807 /lvl1/ Inventory Control Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 14930 /lvl2/ INVENTORY CONTROL SENIOR OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INVENTORY CONTROL SENIOR OFFICER", title_clean   = "INVENTORY CONTROL SENIOR OFFICER", title_id  = "2807"  where id = '14930'
508 /lvl1/ Assistant Manager Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 19220 /lvl2/ Assistant Manager Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "508"  where id = '19220'
3326 /lvl1/ Learning & Development Executive
3072 /lvl1/ Jewelry Social Media Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10049 /lvl2/ Jewelry Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3072"  where id = '10049'
6144 /lvl1/ Staff Quality Control Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 12262 /lvl2/ Staff Quality Control Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6144"  where id = '12262'
=>>>>>>>>>>>>>>>>>>>>>> 13335 /lvl2/ Staff Quality Control Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6144"  where id = '13335'
769 /lvl1/ Business Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6091 /lvl2/ Business Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "769"  where id = '6091'
=>>>>>>>>>>>>>>>>>>>>>> 13892 /lvl2/ Business Development Supervisor Semarang Pekalongan Purwokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Semarang Pekalongan Purwokerto", title_clean   = " Semarang Pekalongan Purwokerto", title_id  = "769"  where id = '13892'
=>>>>>>>>>>>>>>>>>>>>>> 13908 /lvl2/ Business Development Supervisor Semarang Pekalongan Purwokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Semarang Pekalongan Purwokerto", title_clean   = " Semarang Pekalongan Purwokerto", title_id  = "769"  where id = '13908'
5889 /lvl1/ Staff Administrasi Ekspor Impor
5 /lvl1/ .Net Revenue Management Analyst
3334 /lvl1/ Learning Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3259 /lvl2/ Learning Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3334"  where id = '3259'
3592 /lvl1/ Marine Technical Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 12137 /lvl2/ Marine Technical Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3592"  where id = '12137'
=>>>>>>>>>>>>>>>>>>>>>> 12141 /lvl2/ Marine Technical Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3592"  where id = '12141'
777 /lvl1/ Business Intelligence Developer
=>>>>>>>>>>>>>>>>>>>>>> 11616 /lvl2/ Business Intelligence Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "777"  where id = '11616'
=>>>>>>>>>>>>>>>>>>>>>> 14231 /lvl2/ Business Intelligence Developer E-Commerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- E-Commerce", title_clean   = " E-Commerce", title_id  = "777"  where id = '14231'
3849 /lvl1/ Medical Representative Denpasar
=>>>>>>>>>>>>>>>>>>>>>> 9997 /lvl2/ Medical Representative Denpasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3849"  where id = '9997'
1297 /lvl1/ Customer Satisfaction Executive
=>>>>>>>>>>>>>>>>>>>>>> 6305 /lvl2/ Customer Satisfaction Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1297"  where id = '6305'
=>>>>>>>>>>>>>>>>>>>>>> 7473 /lvl2/ Customer Satisfaction Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1297"  where id = '7473'
6931 /lvl1/ Warehouse & Delivery Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3587 /lvl2/ Warehouse & Delivery Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6931"  where id = '3587'
4116 /lvl1/ Organizational Develoment Staff
=>>>>>>>>>>>>>>>>>>>>>> 4244 /lvl2/ Organizational Develoment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4116"  where id = '4244'
6165 /lvl1/ Staff Specialis Web Application
=>>>>>>>>>>>>>>>>>>>>>> 5336 /lvl2/ Staff Specialis Web Application
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6165"  where id = '5336'
2840 /lvl1/ It Application Development Head
=>>>>>>>>>>>>>>>>>>>>>> 5889 /lvl2/ IT Application Development Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Development Head", title_clean   = "IT Application Development Head", title_id  = "2840"  where id = '5889'
5144 /lvl1/ Sales Engineer / Representative
6936 /lvl1/ Warehouse & Logistic Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2689 /lvl2/ Warehouse & Logistic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6936"  where id = '2689'
=>>>>>>>>>>>>>>>>>>>>>> 10917 /lvl2/ WAREHOUSE & LOGISTIC SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE & LOGISTIC SUPERVISOR", title_clean   = "WAREHOUSE & LOGISTIC SUPERVISOR", title_id  = "6936"  where id = '10917'
=>>>>>>>>>>>>>>>>>>>>>> 14257 /lvl2/ Warehouse & Logistic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6936"  where id = '14257'
281 /lvl1/ Administrasi & Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 12941 /lvl2/ ADMINISTRASI & CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI & CUSTOMER SERVICE", title_clean   = "ADMINISTRASI & CUSTOMER SERVICE", title_id  = "281"  where id = '12941'
2843 /lvl1/ It Application Service Delivery
=>>>>>>>>>>>>>>>>>>>>>> 14694 /lvl2/ IT Application Service Delivery
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Service Delivery", title_clean   = "IT Application Service Delivery", title_id  = "2843"  where id = '14694'
=>>>>>>>>>>>>>>>>>>>>>> 15094 /lvl2/ IT Application Service Delivery
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Service Delivery", title_clean   = "IT Application Service Delivery", title_id  = "2843"  where id = '15094'
5403 /lvl1/ Secretary For Japanese Director
=>>>>>>>>>>>>>>>>>>>>>> 629 /lvl2/ Secretary for Japanese Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary for Japanese Director", title_clean   = "Secretary for Japanese Director", title_id  = "5403"  where id = '629'
5660 /lvl1/ Senior Tax & Accounting Officer
5409 /lvl1/ Secretary To President Director
=>>>>>>>>>>>>>>>>>>>>>> 34 /lvl2/ Secretary to President Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to President Director", title_clean   = "Secretary to President Director", title_id  = "5409"  where id = '34'
=>>>>>>>>>>>>>>>>>>>>>> 13089 /lvl2/ Secretary to President Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to President Director", title_clean   = "Secretary to President Director", title_id  = "5409"  where id = '13089'
34 /lvl1/ Account Manager & Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 18764 /lvl2/ Account Manager & Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "34"  where id = '18764'
1830 /lvl1/ Export Import Assistant Manager
6183 /lvl1/ Staff Wiring & Qc Panel Listrik
3880 /lvl1/ Merchandising Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 9171 /lvl2/ Merchandising Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3880"  where id = '9171'
1833 /lvl1/ Export Import Logistic Delivery

2093 /lvl1/ Freelance Document Verification
=>>>>>>>>>>>>>>>>>>>>>> 1535 /lvl2/ Freelance Document Verification
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2093"  where id = '1535'
2350 /lvl1/ Head of Digital Corporate Legal
=>>>>>>>>>>>>>>>>>>>>>> 10595 /lvl2/ Head of Digital Corporate Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2350"  where id = '10595'
1840 /lvl1/ Export Marketing Vice President
=>>>>>>>>>>>>>>>>>>>>>> 1223 /lvl2/ Export Marketing Vice President
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1840"  where id = '1223'
2608 /lvl1/ Human Capital Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 582 /lvl2/ Human Capital Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2608"  where id = '582'
=>>>>>>>>>>>>>>>>>>>>>> 15874 /lvl2/ Human Capital Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2608"  where id = '15874'
3632 /lvl1/ Marketing & Sales Export Import
=>>>>>>>>>>>>>>>>>>>>>> 7846 /lvl2/ Marketing & Sales Export Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3632"  where id = '7846'
=>>>>>>>>>>>>>>>>>>>>>> 8163 /lvl2/ Marketing & Sales Export Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3632"  where id = '8163'
2867 /lvl1/ It Business Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 3827 /lvl2/ IT Business Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Development Officer", title_clean   = "IT Business Development Officer", title_id  = "2867"  where id = '3827'
5427 /lvl1/ Sekretaris / Personal Assistant
53 /lvl1/ Account Receivable Section Head
=>>>>>>>>>>>>>>>>>>>>>> 13337 /lvl2/ Account Receivable Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "53"  where id = '13337'
4150 /lvl1/ Parts Sales Domestic Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11073 /lvl2/ Parts Sales Domestic Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4150"  where id = '11073'
4663 /lvl1/ Purchasing Assistant Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5510 /lvl2/ Purchasing Assistant Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4663"  where id = '5510'
2104 /lvl1/ Business Data Technical Analyst
=>>>>>>>>>>>>>>>>>>>>>> 20165 /lvl2/ Fresh Graduate Business Data Technical Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh Graduate -idex-", title_clean   = "Fresh Graduate ", title_id  = "2104"  where id = '20165'
2364 /lvl1/ Head of Human Resources & Admin
=>>>>>>>>>>>>>>>>>>>>>> 18335 /lvl2/ Head of Human Resources & Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2364"  where id = '18335'
6461 /lvl1/ System Implementator Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6118 /lvl2/ System Implementator Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6461"  where id = '6118'
62 /lvl1/ Accounting / Finance Supervisor
1342 /lvl1/ Data Analyst & Document Control
2366 /lvl1/ Head of Human Resources Manager
=>>>>>>>>>>>>>>>>>>>>>> 3953 /lvl2/ Head of Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2366"  where id = '3953'
3391 /lvl1/ Live Stream Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 8960 /lvl2/ Live Stream Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3391"  where id = '8960'
1862 /lvl1/ Fa Planning & Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 17951 /lvl2/ FA Planning & Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FA Planning & Operation Manager", title_clean   = "FA Planning & Operation Manager", title_id  = "1862"  where id = '17951'
71 /lvl1/ Accounting & Finance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18085 /lvl2/ Accounting & Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "71"  where id = '18085'
=>>>>>>>>>>>>>>>>>>>>>> 19328 /lvl2/ Accounting & Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "71"  where id = '19328'
2632 /lvl1/ Human Resources Department Head
=>>>>>>>>>>>>>>>>>>>>>> 17265 /lvl2/ Human Resources Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2632"  where id = '17265'
2377 /lvl1/ Head of Marketing Communication
=>>>>>>>>>>>>>>>>>>>>>> 2147 /lvl2/ Head of Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2377"  where id = '2147'
=>>>>>>>>>>>>>>>>>>>>>> 5642 /lvl2/ Head of Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2377"  where id = '5642'
4937 /lvl1/ Rekan Jasa Pinhome Home Service
=>>>>>>>>>>>>>>>>>>>>>> 18326 /lvl2/ Rekan Jasa Pinhome Home Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4937"  where id = '18326'
330 /lvl1/ After Sales & Technical Support
=>>>>>>>>>>>>>>>>>>>>>> 20312 /lvl2/ After Sales & Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "330"  where id = '20312'
6476 /lvl1/ Talent Acquisition & Assessment
=>>>>>>>>>>>>>>>>>>>>>> 237 /lvl2/ Talent Acquisition & Assessment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6476"  where id = '237'
589 /lvl1/ Azure / Aws Developer Associate
5453 /lvl1/ Senior Accounting & Tax Officer
=>>>>>>>>>>>>>>>>>>>>>> 13872 /lvl2/ Senior Accounting & Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5453"  where id = '13872'
5710 /lvl1/ Service Engineer Medical Device
2127 /lvl1/ Full Stack Javascript Developer
=>>>>>>>>>>>>>>>>>>>>>> 9565 /lvl2/ Full Stack JavaScript Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full Stack JavaScript Developer", title_clean   = "Full Stack JavaScript Developer", title_id  = "2127"  where id = '9565'
3663 /lvl1/ Marketing Communication Manager
=>>>>>>>>>>>>>>>>>>>>>> 2460 /lvl2/ MARKETING COMMUNICATION MANAGER (MAL CIPUTRA TANGERANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION MANAGER (MAL CIPUTRA TANGERANG)", title_clean   = "MARKETING COMMUNICATION MANAGER (MAL CIPUTRA TANGERANG)", title_id  = "3663"  where id = '2460'
=>>>>>>>>>>>>>>>>>>>>>> 2590 /lvl2/ MARKETING COMMUNICATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION MANAGER", title_clean   = "MARKETING COMMUNICATION MANAGER", title_id  = "3663"  where id = '2590'
=>>>>>>>>>>>>>>>>>>>>>> 10388 /lvl2/ Marketing Communication Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3663"  where id = '10388'
=>>>>>>>>>>>>>>>>>>>>>> 14202 /lvl2/ Sales and Marketing Communication Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3663"  where id = '14202'
3664 /lvl1/ Marketing Communication Officer
=>>>>>>>>>>>>>>>>>>>>>> 350 /lvl2/ Marketing Communication Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3664"  where id = '350'
=>>>>>>>>>>>>>>>>>>>>>> 6600 /lvl2/ Marketing Communication Officer (Temporary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Temporary)", title_clean   = " (Temporary)", title_id  = "3664"  where id = '6600'
=>>>>>>>>>>>>>>>>>>>>>> 15002 /lvl2/ Marketing Communication Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3664"  where id = '15002'
=>>>>>>>>>>>>>>>>>>>>>> 17129 /lvl2/ Marketing Communication Officer (Bali)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali)", title_clean   = " (Bali)", title_id  = "3664"  where id = '17129'
3413 /lvl1/ Logistic Warehouse Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 17340 /lvl2/ Logistic Warehouse Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3413"  where id = '17340'
342 /lvl1/ Ahli Bubut / Tukang Bubut Mesin
6230 /lvl1/ Structure & Finishing Inspector
=>>>>>>>>>>>>>>>>>>>>>> 19771 /lvl2/ Structure & Finishing Inspector
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6230"  where id = '19771'
=>>>>>>>>>>>>>>>>>>>>>> 20599 /lvl2/ Structure & Finishing Inspector
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6230"  where id = '20599'
5976 /lvl1/ Staff Administrasi / Sekretaris

860 /lvl1/ Cdp / Demi / Commis Hot Kitchen
=>>>>>>>>>>>>>>>>>>>>>> 12605 /lvl2/ CDP / DEMI / COMMIS HOT KITCHEN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CDP / DEMI / COMMIS HOT KITCHEN", title_clean   = "CDP / DEMI / COMMIS HOT KITCHEN", title_id  = "860"  where id = '12605'
2397 /lvl1/ Head of Sales Power Quality Ups
2909 /lvl1/ It Hardware / Software Engineer
2400 /lvl1/ Head of Store Development Group
=>>>>>>>>>>>>>>>>>>>>>> 5269 /lvl2/ Head of Store Development Group
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2400"  where id = '5269'
6245 /lvl1/ Supervisor / Pengawas Depot Air
=>>>>>>>>>>>>>>>>>>>>>> 8473 /lvl2/ Supervisor / Pengawas Depot Air
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6245"  where id = '8473'
1127 /lvl1/ Corporate Communication Manager
=>>>>>>>>>>>>>>>>>>>>>> 14914 /lvl2/ Corporate Communication Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1127"  where id = '14914'
=>>>>>>>>>>>>>>>>>>>>>> 18156 /lvl2/ Corporate Communication Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1127"  where id = '18156'
2664 /lvl1/ Implementation & Function Staff
5994 /lvl1/ Staff Audit Finance& Accounting
=>>>>>>>>>>>>>>>>>>>>>> 19499 /lvl2/ Staff Audit Finance& Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5994"  where id = '19499'
2667 /lvl1/ Implementator & Sosialisasi Emr
6253 /lvl1/ Supervisor Accounting Gl Plasma
=>>>>>>>>>>>>>>>>>>>>>> 9818 /lvl2/ Supervisor Accounting GL Plasma
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Accounting GL Plasma", title_clean   = "Supervisor Accounting GL Plasma", title_id  = "6253"  where id = '9818'
3439 /lvl1/ Maintenance & Fasility Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7540 /lvl2/ Maintenance & Fasility Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3439"  where id = '7540'
4207 /lvl1/ Penyelia Laboraorium Lingkungan
=>>>>>>>>>>>>>>>>>>>>>> 9567 /lvl2/ Penyelia Laboraorium Lingkungan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4207"  where id = '9567'
113 /lvl1/ Accounting Reporting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 997 /lvl2/ Accounting Reporting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "113"  where id = '997'
2417 /lvl1/ Healthcare Senior Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 14473 /lvl2/ Healthcare Senior Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2417"  where id = '14473'
3442 /lvl1/ Maintenance Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 287 /lvl2/ Maintenance Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3442"  where id = '287'
2675 /lvl1/ Import Purchasing Customs Admin
=>>>>>>>>>>>>>>>>>>>>>> 278 /lvl2/ IMPORT PURCHASING CUSTOMS ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IMPORT PURCHASING CUSTOMS ADMIN", title_clean   = "IMPORT PURCHASING CUSTOMS ADMIN", title_id  = "2675"  where id = '278'
629 /lvl1/ Beauty Online Community Officer
=>>>>>>>>>>>>>>>>>>>>>> 4367 /lvl2/ Beauty Online Community Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "629"  where id = '4367'
6261 /lvl1/ Supervisor Business Development
=>>>>>>>>>>>>>>>>>>>>>> 3879 /lvl2/ Supervisor Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6261"  where id = '3879'
=>>>>>>>>>>>>>>>>>>>>>> 6481 /lvl2/ Supervisor Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6261"  where id = '6481'
=>>>>>>>>>>>>>>>>>>>>>> 15726 /lvl2/ Sales Supervisor Business Development (Area Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales -idex- (Area Jabodetabek)", title_clean   = "Sales  (Area Jabodetabek)", title_id  = "6261"  where id = '15726'
2935 /lvl1/ It Infrastructure Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 2085 /lvl2/ IT Infrastructure Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Support Staff", title_clean   = "IT Infrastructure Support Staff", title_id  = "2935"  where id = '2085'
6009 /lvl1/ Staff Customer Service Admin Do
=>>>>>>>>>>>>>>>>>>>>>> 17649 /lvl2/ Staff Customer Service Admin DO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Customer Service Admin DO", title_clean   = "Staff Customer Service Admin DO", title_id  = "6009"  where id = '17649'
122 /lvl1/ Accounting Staff Fresh Graduate
=>>>>>>>>>>>>>>>>>>>>>> 134 /lvl2/ Accounting Staff Fresh Graduate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "122"  where id = '134'
3194 /lvl1/ Kepala Divisi Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 12253 /lvl2/ KEPALA DIVISI Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA DIVISI Human ResourcesGA", title_clean   = "KEPALA DIVISI Human ResourcesGA", title_id  = "3194"  where id = '12253'
2685 /lvl1/ Independence & Conflict Manager
=>>>>>>>>>>>>>>>>>>>>>> 2945 /lvl2/ Independence & Conflict Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2685"  where id = '2945'
5245 /lvl1/ Sales Marketing Rental Otomotif
=>>>>>>>>>>>>>>>>>>>>>> 2295 /lvl2/ Sales Marketing Rental Otomotif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5245"  where id = '2295'
5249 /lvl1/ Sales Merchandiser Modern Trade
=>>>>>>>>>>>>>>>>>>>>>> 19151 /lvl2/ Sales Merchandiser Modern Trade
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5249"  where id = '19151'
=>>>>>>>>>>>>>>>>>>>>>> 19632 /lvl2/ Sales Merchandiser Modern Trade (Palembang Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang Branch)", title_clean   = " (Palembang Branch)", title_id  = "5249"  where id = '19632'
=>>>>>>>>>>>>>>>>>>>>>> 19750 /lvl2/ Sales Merchandiser Modern Trade (Pekanbaru Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pekanbaru Branch)", title_clean   = " (Pekanbaru Branch)", title_id  = "5249"  where id = '19750'
=>>>>>>>>>>>>>>>>>>>>>> 20473 /lvl2/ Sales Merchandiser Modern Trade (Cirebon Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cirebon Branch)", title_clean   = " (Cirebon Branch)", title_id  = "5249"  where id = '20473'
=>>>>>>>>>>>>>>>>>>>>>> 20527 /lvl2/ Sales Merchandiser Modern Trade (Semarang Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang Branch)", title_clean   = " (Semarang Branch)", title_id  = "5249"  where id = '20527'
5761 /lvl1/ Site Supervisor / Site Engineer
131 /lvl1/ Accounting, Costing & Inventory
=>>>>>>>>>>>>>>>>>>>>>> 6606 /lvl2/ Accounting, Costing & Inventory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "131"  where id = '6606'
=>>>>>>>>>>>>>>>>>>>>>> 7781 /lvl2/ Accounting, Costing & Inventory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "131"  where id = '7781'
=>>>>>>>>>>>>>>>>>>>>>> 8099 /lvl2/ Accounting, Costing & Inventory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "131"  where id = '8099'
132 /lvl1/ Accounting, Finance & Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 18976 /lvl2/ Accounting, Finance & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "132"  where id = '18976'
4228 /lvl1/ Perawat Bedah Mayapada Hospital
=>>>>>>>>>>>>>>>>>>>>>> 11174 /lvl2/ PERAWAT BEDAH MAYAPADA HOSPITAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERAWAT BEDAH MAYAPADA HOSPITAL", title_clean   = "PERAWAT BEDAH MAYAPADA HOSPITAL", title_id  = "4228"  where id = '11174'
1413 /lvl1/ Design & Manufacturing Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4210 /lvl2/ Design & Manufacturing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1413"  where id = '4210'
2949 /lvl1/ It Network & Security Executive
1418 /lvl1/ Design Grafis Fotografer Editor
=>>>>>>>>>>>>>>>>>>>>>> 15974 /lvl2/ Design Grafis Fotografer Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1418"  where id = '15974'
1930 /lvl1/ Finance & Accounting Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 1464 /lvl2/ Finance & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1930"  where id = '1464'
=>>>>>>>>>>>>>>>>>>>>>> 1730 /lvl2/ Finance & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1930"  where id = '1730'
=>>>>>>>>>>>>>>>>>>>>>> 1888 /lvl2/ Finance & Accounting Supervisor (For Surya Citra Media Subsidiary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (For Surya Citra Media Subsidiary)", title_clean   = " (For Surya Citra Media Subsidiary)", title_id  = "1930"  where id = '1888'
=>>>>>>>>>>>>>>>>>>>>>> 4146 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR -PALEMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR -PALEMBANG", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR -PALEMBANG", title_id  = "1930"  where id = '4146'
=>>>>>>>>>>>>>>>>>>>>>> 4402 /lvl2/ Finance & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1930"  where id = '4402'
=>>>>>>>>>>>>>>>>>>>>>> 4473 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR - JAMBI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR - JAMBI", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR - JAMBI", title_id  = "1930"  where id = '4473'
=>>>>>>>>>>>>>>>>>>>>>> 4688 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR - SURABAYA BARAT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR - SURABAYA BARAT", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR - SURABAYA BARAT", title_id  = "1930"  where id = '4688'
=>>>>>>>>>>>>>>>>>>>>>> 5814 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR - SURABAYA BARAT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR - SURABAYA BARAT", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR - SURABAYA BARAT", title_id  = "1930"  where id = '5814'
=>>>>>>>>>>>>>>>>>>>>>> 7400 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR (KONAWE UTARA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR (KONAWE UTARA)", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR (KONAWE UTARA)", title_id  = "1930"  where id = '7400'
=>>>>>>>>>>>>>>>>>>>>>> 8517 /lvl2/ Finance & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1930"  where id = '8517'
=>>>>>>>>>>>>>>>>>>>>>> 8556 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR (KUTAI TIMUR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR (KUTAI TIMUR)", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR (KUTAI TIMUR)", title_id  = "1930"  where id = '8556'
=>>>>>>>>>>>>>>>>>>>>>> 8690 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR - PURWAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR - PURWAKARTA", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR - PURWAKARTA", title_id  = "1930"  where id = '8690'
=>>>>>>>>>>>>>>>>>>>>>> 11300 /lvl2/ Finance & Accounting Supervisor - Lippo Plaza Aceh
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Plaza Aceh", title_clean   = " - Lippo Plaza Aceh", title_id  = "1930"  where id = '11300'
=>>>>>>>>>>>>>>>>>>>>>> 15367 /lvl2/ FINANCE & ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SUPERVISOR", title_clean   = "FINANCE & ACCOUNTING SUPERVISOR", title_id  = "1930"  where id = '15367'
=>>>>>>>>>>>>>>>>>>>>>> 19547 /lvl2/ Finance & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1930"  where id = '19547'
2699 /lvl1/ Industrial Relation Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 13118 /lvl2/ Industrial Relation Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2699"  where id = '13118'
3724 /lvl1/ Marketing Merchandising Officer
=>>>>>>>>>>>>>>>>>>>>>> 12334 /lvl2/ Marketing Merchandising Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3724"  where id = '12334'
6284 /lvl1/ Supervisor Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 18169 /lvl2/ Supervisor Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6284"  where id = '18169'
=>>>>>>>>>>>>>>>>>>>>>> 19590 /lvl2/ Supervisor Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6284"  where id = '19590'
5261 /lvl1/ Sales Officer Mobile Channeling
=>>>>>>>>>>>>>>>>>>>>>> 9246 /lvl2/ Sales Officer Mobile Channeling
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5261"  where id = '9246'
5519 /lvl1/ Senior Executive Aml Monitoring
2705 /lvl1/ Industrial Relations Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17800 /lvl2/ Industrial Relations Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2705"  where id = '17800'
6545 /lvl1/ Teacher Assistant Lower Primary
=>>>>>>>>>>>>>>>>>>>>>> 15623 /lvl2/ Teacher Assistant Lower Primary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6545"  where id = '15623'
4754 /lvl1/ Qc Starting Material Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9575 /lvl2/ QC Starting Material Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Starting Material Supervisor", title_clean   = "QC Starting Material Supervisor", title_id  = "4754"  where id = '9575'
5012 /lvl1/ Risk Management Department Head
=>>>>>>>>>>>>>>>>>>>>>> 14665 /lvl2/ Risk Management Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5012"  where id = '14665'
5780 /lvl1/ Social Media Content Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17872 /lvl2/ Social Media Content Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5780"  where id = '17872'
6549 /lvl1/ Teaching Assistant Mechatronics
=>>>>>>>>>>>>>>>>>>>>>> 3253 /lvl2/ Teaching Assistant Mechatronics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6549"  where id = '3253'
5526 /lvl1/ Senior Front End GAme Developer
=>>>>>>>>>>>>>>>>>>>>>> 5869 /lvl2/ SENIOR Front End Game Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR Front End Game Developer", title_clean   = "SENIOR Front End Game Developer", title_id  = "5526"  where id = '5869'
925 /lvl1/ Civil & Construction Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13410 /lvl2/ Civil & Construction Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "925"  where id = '13410'
2461 /lvl1/ Human Resources & Legal Manager
=>>>>>>>>>>>>>>>>>>>>>> 3226 /lvl2/ Human Resources & Legal Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2461"  where id = '3226'
=>>>>>>>>>>>>>>>>>>>>>> 3249 /lvl2/ Human Resources & Legal Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2461"  where id = '3249'
4255 /lvl1/ Personal Assistant For Director
=>>>>>>>>>>>>>>>>>>>>>> 1106 /lvl2/ Personal Assistant for Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant for Director", title_clean   = "Personal Assistant for Director", title_id  = "4255"  where id = '1106'
674 /lvl1/ Brand Acquisition & Kol Manager
2978 /lvl1/ It Quality Assurance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3040 /lvl2/ IT Quality Assurance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance Specialist", title_clean   = "IT Quality Assurance Specialist", title_id  = "2978"  where id = '3040'
6821 /lvl1/ Translator Mandarin Site Mining
=>>>>>>>>>>>>>>>>>>>>>> 9557 /lvl2/ Translator Mandarin Site Mining
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6821"  where id = '9557'
937 /lvl1/ Claim Junior Manager For Treaty
=>>>>>>>>>>>>>>>>>>>>>> 3174 /lvl2/ CLAIM JUNIOR MANAGER FOR TREATY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CLAIM JUNIOR MANAGER FOR TREATY", title_clean   = "CLAIM JUNIOR MANAGER FOR TREATY", title_id  = "937"  where id = '3174'
4777 /lvl1/ Quality Assurance Payment Staff
=>>>>>>>>>>>>>>>>>>>>>> 1181 /lvl2/ Quality Assurance Payment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4777"  where id = '1181'
5291 /lvl1/ Sales Representative Alat Berat

=>>>>>>>>>>>>>>>>>>>>>> 17974 /lvl2/ SALES REPRESENTATIVE ALAT BERAT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE ALAT BERAT", title_clean   = "SALES REPRESENTATIVE ALAT BERAT", title_id  = "5291"  where id = '17974'
2990 /lvl1/ It Security Escalation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7131 /lvl2/ IT Security Escalation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Escalation Engineer", title_clean   = "IT Security Escalation Engineer", title_id  = "2990"  where id = '7131'
688 /lvl1/ Brand Marketing Strategist Lead
=>>>>>>>>>>>>>>>>>>>>>> 14917 /lvl2/ Brand Marketing Strategist Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "688"  where id = '14917'
6836 /lvl1/ Tukang Potong & Tekuk Plat Baja
2999 /lvl1/ It Senior Application Developer
=>>>>>>>>>>>>>>>>>>>>>> 7232 /lvl2/ IT Senior Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Senior Application Developer", title_clean   = "IT Senior Application Developer", title_id  = "2999"  where id = '7232'
184 /lvl1/ Admin Finance, Accounting & Tax
1466 /lvl1/ Digital & Operational Marketing
=>>>>>>>>>>>>>>>>>>>>>> 20265 /lvl2/ Digital & Operational Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1466"  where id = '20265'
3263 /lvl1/ Koordinator Administrasi Retail
=>>>>>>>>>>>>>>>>>>>>>> 18744 /lvl2/ Koordinator Administrasi Retail
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3263"  where id = '18744'
2496 /lvl1/ Human Resources Learning Intern
=>>>>>>>>>>>>>>>>>>>>>> 11992 /lvl2/ Human Resources Learning Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2496"  where id = '11992'
=>>>>>>>>>>>>>>>>>>>>>> 12008 /lvl2/ Human Resources Learning Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2496"  where id = '12008'
1729 /lvl1/ Enterprise Planning Engineering
=>>>>>>>>>>>>>>>>>>>>>> 3369 /lvl2/ Enterprise Planning Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1729"  where id = '3369'
1476 /lvl1/ Digital Campaign Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 5500 /lvl2/ Digital Campaign Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1476"  where id = '5500'
6598 /lvl1/ Technical Sales Representatives
=>>>>>>>>>>>>>>>>>>>>>> 3442 /lvl2/ Technical Sales Representatives
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6598"  where id = '3442'
712 /lvl1/ Budgeting & Forecasting Manager
=>>>>>>>>>>>>>>>>>>>>>> 2887 /lvl2/ Budgeting & Forecasting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "712"  where id = '2887'
4808 /lvl1/ Quality Management System Staff
=>>>>>>>>>>>>>>>>>>>>>> 3779 /lvl2/ QUALITY MANAGEMENT SYSTEM STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY MANAGEMENT SYSTEM STAFF", title_clean   = "QUALITY MANAGEMENT SYSTEM STAFF", title_id  = "4808"  where id = '3779'
4553 /lvl1/ Project Coordinator Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 15018 /lvl2/ Project Coordinator Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4553"  where id = '15018'
2507 /lvl1/ Human Resources Operation Staff
=>>>>>>>>>>>>>>>>>>>>>> 12734 /lvl2/ Human Resources Operation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2507"  where id = '12734'
=>>>>>>>>>>>>>>>>>>>>>> 12825 /lvl2/ Human Resources Operation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2507"  where id = '12825'
5837 /lvl1/ Sosial Media Content Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19744 /lvl2/ Sosial Media Content Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5837"  where id = '19744'
2766 /lvl1/ Internal Auditor Vice President
=>>>>>>>>>>>>>>>>>>>>>> 19376 /lvl2/ Internal Auditor Vice President
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2766"  where id = '19376'
720 /lvl1/ Building Maintenance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11477 /lvl2/ BUILDING MAINTENANCE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUILDING MAINTENANCE SUPERVISOR", title_clean   = "BUILDING MAINTENANCE SUPERVISOR", title_id  = "720"  where id = '11477'
=>>>>>>>>>>>>>>>>>>>>>> 12375 /lvl2/ BUILDING MAINTENANCE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUILDING MAINTENANCE SUPERVISOR", title_clean   = "BUILDING MAINTENANCE SUPERVISOR", title_id  = "720"  where id = '12375'
6864 /lvl1/ Utility & Environmental Manager
=>>>>>>>>>>>>>>>>>>>>>> 10937 /lvl2/ Utility & Environmental Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6864"  where id = '10937'
=>>>>>>>>>>>>>>>>>>>>>> 10966 /lvl2/ Utility & Environmental Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6864"  where id = '10966'
2771 /lvl1/ Internal Sales & Administration
=>>>>>>>>>>>>>>>>>>>>>> 4234 /lvl2/ Internal Sales & Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2771"  where id = '4234'
1492 /lvl1/ Digital Marketing Administrator
=>>>>>>>>>>>>>>>>>>>>>> 9048 /lvl2/ DIGITAL MARKETING ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING ADMINISTRATOR", title_clean   = "DIGITAL MARKETING ADMINISTRATOR", title_id  = "1492"  where id = '9048'
2005 /lvl1/ Finance, Accounting & Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 4020 /lvl2/ Finance, Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2005"  where id = '4020'
=>>>>>>>>>>>>>>>>>>>>>> 6477 /lvl2/ Finance, Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2005"  where id = '6477'
=>>>>>>>>>>>>>>>>>>>>>> 7626 /lvl2/ Finance, Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2005"  where id = '7626'
2517 /lvl1/ Human Resources Personnel Staff
=>>>>>>>>>>>>>>>>>>>>>> 6764 /lvl2/ Human Resources Personnel Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2517"  where id = '6764'
3798 /lvl1/ Mechanic Kendaraan & Alat Berat
1496 /lvl1/ Digital Marketing Communication
=>>>>>>>>>>>>>>>>>>>>>> 17051 /lvl2/ Digital Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1496"  where id = '17051'
5336 /lvl1/ Salesforce Technical Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5805 /lvl2/ Salesforce Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5336"  where id = '5805'
6619 /lvl1/ Technician For Lab Calibrations
=>>>>>>>>>>>>>>>>>>>>>> 12329 /lvl2/ Technician For Lab Calibrations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6619"  where id = '12329'
=>>>>>>>>>>>>>>>>>>>>>> 12348 /lvl2/ Technician For Lab Calibrations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6619"  where id = '12348'
4061 /lvl1/ Operations Controller & Project
=>>>>>>>>>>>>>>>>>>>>>> 19294 /lvl2/ Operations Controller & Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4061"  where id = '19294'
2274 /lvl1/ Guru Bahasa Indonesia Preschool
=>>>>>>>>>>>>>>>>>>>>>> 943 /lvl2/ Guru Bahasa Indonesia Preschool
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2274"  where id = '943'
1254 /lvl1/ Chief Revenue Officer Executive
2791 /lvl1/ Intern For Account & Admin Dept
=>>>>>>>>>>>>>>>>>>>>>> 11474 /lvl2/ Intern FOR ACCOUNT & ADMIN DEPT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern FOR ACCOUNT & ADMIN DEPT", title_clean   = "Intern FOR ACCOUNT & ADMIN DEPT", title_id  = "2791"  where id = '11474'
5611 /lvl1/ Senior Quality Assurance Tester
=>>>>>>>>>>>>>>>>>>>>>> 10875 /lvl2/ Senior Quality Assurance Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5611"  where id = '10875'
1516 /lvl1/ Digital Promotion & Partnership
=>>>>>>>>>>>>>>>>>>>>>> 11375 /lvl2/ Digital Promotion & Partnership
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1516"  where id = '11375'
2284 /lvl1/ Guru Desain Grafis & Multimedia

6895 /lvl1/ Video Editor & Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 15986 /lvl2/ Video Editor & Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6895"  where id = '15986'
752 /lvl1/ Business Development Consultant
=>>>>>>>>>>>>>>>>>>>>>> 4319 /lvl2/ Sales Consultant (Business Development Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Consultant (-idex-)", title_clean   = "Sales Consultant ()", title_id  = "752"  where id = '4319'
=>>>>>>>>>>>>>>>>>>>>>> 10235 /lvl2/ Sales Consultant (Business Development Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Consultant (-idex-)", title_clean   = "Sales Consultant ()", title_id  = "752"  where id = '10235'
=>>>>>>>>>>>>>>>>>>>>>> 10543 /lvl2/ Business Development Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "752"  where id = '10543'
=>>>>>>>>>>>>>>>>>>>>>> 16064 /lvl2/ Business Development Consultant (IT Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT Sales)", title_clean   = " (IT Sales)", title_id  = "752"  where id = '16064'
754 /lvl1/ Business Development Executives
=>>>>>>>>>>>>>>>>>>>>>> 9322 /lvl2/ Business Development Executives
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "754"  where id = '9322'
2546 /lvl1/ Human Resources Development &GA
=>>>>>>>>>>>>>>>>>>>>>> 6245 /lvl2/ Human Resources Development &GA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2546"  where id = '6245'
4083 /lvl1/ Operator Mesin Bobst & Ghuwhang
6387 /lvl1/ Supervisor Source & Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 17767 /lvl2/ Supervisor Source & Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6387"  where id = '17767'
3060 /lvl1/ Japanese Translator Interpreter
=>>>>>>>>>>>>>>>>>>>>>> 7000 /lvl2/ Japanese Translator Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3060"  where id = '7000'
1269 /lvl1/ Customer Acquisition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11792 /lvl2/ Customer Acquisition Specialist (Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jabodetabek)", title_clean   = " (Jabodetabek)", title_id  = "1269"  where id = '11792'
=>>>>>>>>>>>>>>>>>>>>>> 13821 /lvl2/ Customer Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1269"  where id = '13821'
1272 /lvl1/ Customer Care Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 3678 /lvl2/ Customer Care Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1272"  where id = '3678'
6392 /lvl1/ Supervisor Struktur Engineering
=>>>>>>>>>>>>>>>>>>>>>> 7408 /lvl2/ Supervisor Struktur Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6392"  where id = '7408'
250 /lvl1/ Admin Registrasi Produk & Impor
=>>>>>>>>>>>>>>>>>>>>>> 10768 /lvl2/ ADMIN REGISTRASI PRODUK & IMPOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN REGISTRASI PRODUK & IMPOR", title_clean   = "ADMIN REGISTRASI PRODUK & IMPOR", title_id  = "250"  where id = '10768'
2042 /lvl1/ Fire System Maintenance Manager
=>>>>>>>>>>>>>>>>>>>>>> 11133 /lvl2/ Fire system maintenance manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fire system maintenance manager", title_clean   = "Fire system maintenance manager", title_id  = "2042"  where id = '11133'
1276 /lvl1/ Customer Communications Manager
=>>>>>>>>>>>>>>>>>>>>>> 4060 /lvl2/ Customer Communications Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1276"  where id = '4060'
1021 /lvl1/ Compensatiton & Benefit Officer
=>>>>>>>>>>>>>>>>>>>>>> 17714 /lvl2/ Compensatiton & Benefit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1021"  where id = '17714'
=>>>>>>>>>>>>>>>>>>>>>> 17731 /lvl2/ Compensatiton & Benefit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1021"  where id = '17731'
1534 /lvl1/ Document & Administration Staff
=>>>>>>>>>>>>>>>>>>>>>> 11813 /lvl2/ Document & Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1534"  where id = '11813'
767 /lvl1/ Business Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8995 /lvl2/ Business Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "767"  where id = '8995'
=>>>>>>>>>>>>>>>>>>>>>> 10784 /lvl2/ Business Development Specialist (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaking)", title_clean   = " (Mandarin Speaking)", title_id  = "767"  where id = '10784'
=>>>>>>>>>>>>>>>>>>>>>> 18889 /lvl2/ Jr. Business Development Specialists
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Jr. -idex-s", title_clean   = "Jr. s", title_id  = "767"  where id = '18889'
3328 /lvl1/ Learning & Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 4320 /lvl2/ Learning & Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3328"  where id = '4320'
=>>>>>>>>>>>>>>>>>>>>>> 9483 /lvl2/ Learning & Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3328"  where id = '9483'
6145 /lvl1/ Staff Research and Development
5122 /lvl1/ Sales Counter Automotif Roda 4
=>>>>>>>>>>>>>>>>>>>>>> 15388 /lvl2/ Sales Counter Automotif Roda 4
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5122"  where id = '15388'
771 /lvl1/ Business Excellence Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4478 /lvl2/ Business Excellence Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "771"  where id = '4478'
1283 /lvl1/ Customer Order Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 2432 /lvl2/ Customer Order Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1283"  where id = '2432'
1796 /lvl1/ Executive Administrative Staff
=>>>>>>>>>>>>>>>>>>>>>> 18235 /lvl2/ Executive Administrative Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1796"  where id = '18235'
3336 /lvl1/ Learning Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 12487 /lvl2/ Learning Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3336"  where id = '12487'
4873 /lvl1/ Recruitment & Training Officer
778 /lvl1/ Business Intelligence Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6939 /lvl2/ Business Intelligence Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "778"  where id = '6939'
=>>>>>>>>>>>>>>>>>>>>>> 13092 /lvl2/ Business Intelligence Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "778"  where id = '13092'
6410 /lvl1/ Supervisor Visual Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 13334 /lvl2/ Supervisor Visual Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6410"  where id = '13334'
267 /lvl1/ Admin Staff Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 10475 /lvl2/ Admin Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "267"  where id = '10475'
5388 /lvl1/ Sea Freight Traffic Controller
=>>>>>>>>>>>>>>>>>>>>>> 19595 /lvl2/ Sea Freight Traffic Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5388"  where id = '19595'
6413 /lvl1/ Supervisor Warehouse Sparepart
=>>>>>>>>>>>>>>>>>>>>>> 13307 /lvl2/ SUPERVISOR WAREHOUSE SPAREPART
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR WAREHOUSE SPAREPART", title_clean   = "SUPERVISOR WAREHOUSE SPAREPART", title_id  = "6413"  where id = '13307'
=>>>>>>>>>>>>>>>>>>>>>> 14954 /lvl2/ Supervisor Warehouse Sparepart
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6413"  where id = '14954'
4115 /lvl1/ Organization Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 14227 /lvl2/ Organization Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4115"  where id = '14227'
5397 /lvl1/ Secretary / Personal Assistant
6423 /lvl1/ Supply Chain Assistant Manager

=>>>>>>>>>>>>>>>>>>>>>> 6790 /lvl2/ Supply Chain Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6423"  where id = '6790'
=>>>>>>>>>>>>>>>>>>>>>> 8245 /lvl2/ Supply Chain Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6423"  where id = '8245'
24 /lvl1/ Account Executive Audio Visual
=>>>>>>>>>>>>>>>>>>>>>> 6977 /lvl2/ Account Executive Audio Visual
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "24"  where id = '6977'
3866 /lvl1/ Merchandise Planning Executive
=>>>>>>>>>>>>>>>>>>>>>> 9776 /lvl2/ Merchandise Planning Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3866"  where id = '9776'
541 /lvl1/ Assistant Sales Corporate Staf
=>>>>>>>>>>>>>>>>>>>>>> 1926 /lvl2/ Assistant Sales Corporate Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-ff", title_clean   = "ff", title_id  = "541"  where id = '1926'
4638 /lvl1/ Pruventure Development Program
=>>>>>>>>>>>>>>>>>>>>>> 4875 /lvl2/ PRUVENTURE DEVELOPMENT PROGRAM (PDP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRUVENTURE DEVELOPMENT PROGRAM (PDP)", title_clean   = "PRUVENTURE DEVELOPMENT PROGRAM (PDP)", title_id  = "4638"  where id = '4875'
=>>>>>>>>>>>>>>>>>>>>>> 6090 /lvl2/ PRUVENTURE DEVELOPMENT PROGRAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRUVENTURE DEVELOPMENT PROGRAM", title_clean   = "PRUVENTURE DEVELOPMENT PROGRAM", title_id  = "4638"  where id = '6090'
=>>>>>>>>>>>>>>>>>>>>>> 8735 /lvl2/ PRUVENTURE DEVELOPMENT PROGRAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRUVENTURE DEVELOPMENT PROGRAM", title_clean   = "PRUVENTURE DEVELOPMENT PROGRAM", title_id  = "4638"  where id = '8735'
=>>>>>>>>>>>>>>>>>>>>>> 19064 /lvl2/ PRUVENTURE DEVELOPMENT PROGRAM (PDP) MRT GROUP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRUVENTURE DEVELOPMENT PROGRAM (PDP) MRT GROUP", title_clean   = "PRUVENTURE DEVELOPMENT PROGRAM (PDP) MRT GROUP", title_id  = "4638"  where id = '19064'
5918 /lvl1/ Staff Penerimaan & Pengeluaran
2079 /lvl1/ Foreman Mechanical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 12164 /lvl2/ Foreman Mechanical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2079"  where id = '12164'
2851 /lvl1/ It Asset Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8982 /lvl2/ IT Asset Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Asset Management Specialist", title_clean   = "IT Asset Management Specialist", title_id  = "2851"  where id = '8982'
3619 /lvl1/ Marketing & Communication Team
4643 /lvl1/ Public Relation & Social Media
=>>>>>>>>>>>>>>>>>>>>>> 19183 /lvl2/ Public Relation & Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4643"  where id = '19183'
6435 /lvl1/ Surveyor & Estimator Container
=>>>>>>>>>>>>>>>>>>>>>> 17692 /lvl2/ Surveyor & Estimator Container
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6435"  where id = '17692'
3621 /lvl1/ Marketing & Digital Advertiser
=>>>>>>>>>>>>>>>>>>>>>> 4990 /lvl2/ Marketing & Digital Advertiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3621"  where id = '4990'
6182 /lvl1/ Staff Warehouse / Staff Gudang
1064 /lvl1/ Content Creator & Social Media
=>>>>>>>>>>>>>>>>>>>>>> 928 /lvl2/ Content Creator & Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1064"  where id = '928'
1066 /lvl1/ Content Creator & Video Editor
=>>>>>>>>>>>>>>>>>>>>>> 9466 /lvl2/ Content Creator & Video Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1066"  where id = '9466'
4138 /lvl1/ Partner Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8771 /lvl2/ Partner Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4138"  where id = '8771'
1067 /lvl1/ Content Creator & Videographer
=>>>>>>>>>>>>>>>>>>>>>> 14135 /lvl2/ Content Creator & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1067"  where id = '14135'
=>>>>>>>>>>>>>>>>>>>>>> 19117 /lvl2/ Content Creator & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1067"  where id = '19117'
2603 /lvl1/ Human Capital & General Affair
=>>>>>>>>>>>>>>>>>>>>>> 7043 /lvl2/ Human Capital & General Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2603"  where id = '7043'
6187 /lvl1/ Stock & Forecasting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12609 /lvl2/ Stock & Forecasting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6187"  where id = '12609'
=>>>>>>>>>>>>>>>>>>>>>> 13559 /lvl2/ Stock & Forecasting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6187"  where id = '13559'
=>>>>>>>>>>>>>>>>>>>>>> 13804 /lvl2/ Stock & Forecasting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6187"  where id = '13804'
1068 /lvl1/ Content Creator Administration
=>>>>>>>>>>>>>>>>>>>>>> 667 /lvl2/ Content Creator Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1068"  where id = '667'
3116 /lvl1/ Junior Key Account Manager B2B
=>>>>>>>>>>>>>>>>>>>>>> 20553 /lvl2/ Junior Key Account Manager B2B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3116"  where id = '20553'
2863 /lvl1/ It Business Analyst Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16046 /lvl2/ IT Business Analyst Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Analyst Specialist", title_clean   = "IT Business Analyst Specialist", title_id  = "2863"  where id = '16046'
3888 /lvl1/ Microfinancing Account Officer
=>>>>>>>>>>>>>>>>>>>>>> 10173 /lvl2/ Microfinancing Account Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3888"  where id = '10173'
4658 /lvl1/ Purchasing / Procurement Staff
308 /lvl1/ Administration & Finance Staff
=>>>>>>>>>>>>>>>>>>>>>> 16404 /lvl2/ ADMINISTRATION & FINANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRATION & FINANCE STAFF", title_clean   = "ADMINISTRATION & FINANCE STAFF", title_id  = "308"  where id = '16404'
3384 /lvl1/ Licensing Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 8561 /lvl2/ Licensing Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3384"  where id = '8561'
3640 /lvl1/ Marketing Administration Staff
2874 /lvl1/ It Client Service Specialist I
=>>>>>>>>>>>>>>>>>>>>>> 15300 /lvl2/ IT CLIENT SERVICE SPECIALIST I
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT CLIENT SERVICE SPECIALIST I", title_clean   = "IT CLIENT SERVICE SPECIALIST I", title_id  = "2874"  where id = '15300'
1851 /lvl1/ External Relation Section Head
=>>>>>>>>>>>>>>>>>>>>>> 9502 /lvl2/ External Relation Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1851"  where id = '9502'
4411 /lvl1/ Procurement Buyer Senior Staff
5437 /lvl1/ Senior .Net Analyst Programmer
=>>>>>>>>>>>>>>>>>>>>>> 10912 /lvl2/ Senior .NET Analyst Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior .NET Analyst Programmer", title_clean   = "Senior .NET Analyst Programmer", title_id  = "5437"  where id = '10912'
2623 /lvl1/ Human Resource General Manager
=>>>>>>>>>>>>>>>>>>>>>> 8364 /lvl2/ Human Resource General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2623"  where id = '8364'
=>>>>>>>>>>>>>>>>>>>>>> 8400 /lvl2/ Human Resource General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2623"  where id = '8400'
1088 /lvl1/ Continuous Improvement Manager
=>>>>>>>>>>>>>>>>>>>>>> 11579 /lvl2/ Continuous Improvement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1088"  where id = '11579'
=>>>>>>>>>>>>>>>>>>>>>> 19227 /lvl2/ Continuous Improvement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1088"  where id = '19227'
833 /lvl1/ Capital Market & Bank Relation

=>>>>>>>>>>>>>>>>>>>>>> 18535 /lvl2/ Capital Market & Bank Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "833"  where id = '18535'
=>>>>>>>>>>>>>>>>>>>>>> 18553 /lvl2/ Capital Market & Bank Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "833"  where id = '18553'
1089 /lvl1/ Continuous Improvement Officer
=>>>>>>>>>>>>>>>>>>>>>> 15998 /lvl2/ Continuous Improvement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1089"  where id = '15998'
=>>>>>>>>>>>>>>>>>>>>>> 16010 /lvl2/ Continuous Improvement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1089"  where id = '16010'
5953 /lvl1/ Staff Accounting Finance & Tax
6977 /lvl1/ Web Developer & Seo Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10920 /lvl2/ Web Developer & SEO Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Web Developer & SEO Specialist", title_clean   = "Web Developer & SEO Specialist", title_id  = "6977"  where id = '10920'
834 /lvl1/ Capital Market & Legal Officer
=>>>>>>>>>>>>>>>>>>>>>> 14627 /lvl2/ CAPITAL MARKET & LEGAL OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CAPITAL MARKET & LEGAL OFFICER", title_clean   = "CAPITAL MARKET & LEGAL OFFICER", title_id  = "834"  where id = '14627'
1346 /lvl1/ Data Analyst Associate Manager
=>>>>>>>>>>>>>>>>>>>>>> 20123 /lvl2/ DATA ANALYST ASSOCIATE MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DATA ANALYST ASSOCIATE MANAGER", title_clean   = "DATA ANALYST ASSOCIATE MANAGER", title_id  = "1346"  where id = '20123'
3908 /lvl1/ Mobile Android & Ios Developer
=>>>>>>>>>>>>>>>>>>>>>> 11253 /lvl2/ Mobile Android & iOS Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile Android & iOS Developer", title_clean   = "Mobile Android & iOS Developer", title_id  = "3908"  where id = '11253'
4676 /lvl1/ Purchasing Material Konstruksi
=>>>>>>>>>>>>>>>>>>>>>> 18906 /lvl2/ Purchasing Material Konstruksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4676"  where id = '18906'
4932 /lvl1/ Regulatory Officer Ro Kemenkes
=>>>>>>>>>>>>>>>>>>>>>> 17005 /lvl2/ Regulatory Officer RO Kemenkes
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Regulatory Officer RO Kemenkes", title_clean   = "Regulatory Officer RO Kemenkes", title_id  = "4932"  where id = '17005'
=>>>>>>>>>>>>>>>>>>>>>> 17022 /lvl2/ Regulatory Officer RO Kemenkes
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Regulatory Officer RO Kemenkes", title_clean   = "Regulatory Officer RO Kemenkes", title_id  = "4932"  where id = '17022'
5444 /lvl1/ Senior Account Officer Lending
=>>>>>>>>>>>>>>>>>>>>>> 10818 /lvl2/ Senior Account Officer Lending
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5444"  where id = '10818'
=>>>>>>>>>>>>>>>>>>>>>> 10854 /lvl2/ Senior Account Officer Lending
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5444"  where id = '10854'
5956 /lvl1/ Staff Accounting Tax & Finance
=>>>>>>>>>>>>>>>>>>>>>> 17422 /lvl2/ Staff Accounting Tax & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5956"  where id = '17422'
=>>>>>>>>>>>>>>>>>>>>>> 17435 /lvl2/ Staff Accounting Tax & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5956"  where id = '17435'
=>>>>>>>>>>>>>>>>>>>>>> 18468 /lvl2/ Staff Accounting Tax & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5956"  where id = '18468'
5960 /lvl1/ Staff Accounting Tax & Finance
2122 /lvl1/ Fulfillment Center Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 13621 /lvl2/ Fulfillment Center Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2122"  where id = '13621'
2890 /lvl1/ It Development / IT Programmer
75 /lvl1/ Accounting & Reporting Manager
=>>>>>>>>>>>>>>>>>>>>>> 14091 /lvl2/ Accounting & Reporting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "75"  where id = '14091'
1868 /lvl1/ Facility & Maintenance Manager
=>>>>>>>>>>>>>>>>>>>>>> 19433 /lvl2/ Facility & Maintenance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1868"  where id = '19433'
=>>>>>>>>>>>>>>>>>>>>>> 19463 /lvl2/ Facility & Maintenance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1868"  where id = '19463'
6989 /lvl1/ Website Design & Administrator
=>>>>>>>>>>>>>>>>>>>>>> 8865 /lvl2/ WEBSITE DESIGN & ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WEBSITE DESIGN & ADMINISTRATOR", title_clean   = "WEBSITE DESIGN & ADMINISTRATOR", title_id  = "6989"  where id = '8865'
3662 /lvl1/ Marketing Communication Intern
=>>>>>>>>>>>>>>>>>>>>>> 3518 /lvl2/ Marketing Communication Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3662"  where id = '3518'
591 /lvl1/ B2B Senior Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 4012 /lvl2/ B2B Senior Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "591"  where id = '4012'
6223 /lvl1/ Strategic Remuneration Manager
=>>>>>>>>>>>>>>>>>>>>>> 4863 /lvl2/ Strategic Remuneration Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6223"  where id = '4863'
2642 /lvl1/ Hvac Application Site Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13702 /lvl2/ HVAC Application Site Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HVAC Application Site Engineer", title_clean   = "HVAC Application Site Engineer", title_id  = "2642"  where id = '13702'
=>>>>>>>>>>>>>>>>>>>>>> 13714 /lvl2/ HVAC Application Site Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HVAC Application Site Engineer", title_clean   = "HVAC Application Site Engineer", title_id  = "2642"  where id = '13714'
6739 /lvl1/ Tenant Relation Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 19141 /lvl2/ Tenant Relation Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6739"  where id = '19141'
600 /lvl1/ Back End Web Developer Officer
=>>>>>>>>>>>>>>>>>>>>>> 12105 /lvl2/ Back End Web Developer Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "600"  where id = '12105'
89 /lvl1/ Accounting Asset & Tax Officer
3419 /lvl1/ Logistics Operations Executive
=>>>>>>>>>>>>>>>>>>>>>> 232 /lvl2/ Logistics Operations Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3419"  where id = '232'
4189 /lvl1/ Pengawas Konstruksi & Bangunan
2658 /lvl1/ Iff Business Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 16361 /lvl2/ IFF Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IFF Business Development Staff", title_clean   = "IFF Business Development Staff", title_id  = "2658"  where id = '16361'
2403 /lvl1/ Head of Unit Talent Management
=>>>>>>>>>>>>>>>>>>>>>> 12051 /lvl2/ Head of Unit Talent Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2403"  where id = '12051'
4965 /lvl1/ Research & Development Manager
2662 /lvl1/ Illustrator & Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 11390 /lvl2/ Illustrator & Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2662"  where id = '11390'
359 /lvl1/ Analytical Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 9170 /lvl2/ Analytical Development Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "359"  where id = '9170'
1640 /lvl1/ Edtech Software Developer Lead
=>>>>>>>>>>>>>>>>>>>>>> 15239 /lvl2/ EdTech Software Developer Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EdTech Software Developer Lead", title_clean   = "EdTech Software Developer Lead", title_id  = "1640"  where id = '15239'
4456 /lvl1/ Product Manager Infrastructure
=>>>>>>>>>>>>>>>>>>>>>> 2137 /lvl2/ Product Manager Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4456"  where id = '2137'
873 /lvl1/ Channel Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1589 /lvl2/ Channel Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "873"  where id = '1589'
2922 /lvl1/ It Infrastrcuture Section Head

=>>>>>>>>>>>>>>>>>>>>>> 6526 /lvl2/ IT Infrastrcuture Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastrcuture Section Head", title_clean   = "IT Infrastrcuture Section Head", title_id  = "2922"  where id = '6526'
=>>>>>>>>>>>>>>>>>>>>>> 7692 /lvl2/ IT Infrastrcuture Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastrcuture Section Head", title_clean   = "IT Infrastrcuture Section Head", title_id  = "2922"  where id = '7692'
1643 /lvl1/ Education Consultant Assistant
=>>>>>>>>>>>>>>>>>>>>>> 9572 /lvl2/ Education Consultant Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1643"  where id = '9572'
3438 /lvl1/ Maintenance & Facility Officer
=>>>>>>>>>>>>>>>>>>>>>> 18564 /lvl2/ Maintenance & Facility Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3438"  where id = '18564'
6510 /lvl1/ Tax Accounting & Finance Staff
=>>>>>>>>>>>>>>>>>>>>>> 17401 /lvl2/ Tax Accounting & Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6510"  where id = '17401'
4976 /lvl1/ Residence Housekeeping Manager
=>>>>>>>>>>>>>>>>>>>>>> 787 /lvl2/ Residence Housekeeping Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4976"  where id = '787'
5232 /lvl1/ Sales Marketing Bahan Bangunan
=>>>>>>>>>>>>>>>>>>>>>> 4509 /lvl2/ Sales Marketing Bahan Bangunan Sibolga
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sibolga", title_clean   = " Sibolga", title_id  = "5232"  where id = '4509'
626 /lvl1/ Beautician / Massage Therapist
4979 /lvl1/ Restaurant Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 7362 /lvl2/ Restaurant Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4979"  where id = '7362'
6003 /lvl1/ Staff Business Development Kki
=>>>>>>>>>>>>>>>>>>>>>> 12835 /lvl2/ Staff Business Development KKI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Business Development KKI", title_clean   = "Staff Business Development KKI", title_id  = "6003"  where id = '12835'
5748 /lvl1/ Site Human Resourcesod Manager
=>>>>>>>>>>>>>>>>>>>>>> 19543 /lvl2/ Site Human ResourcesOD Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Site Human ResourcesOD Manager", title_clean   = "Site Human ResourcesOD Manager", title_id  = "5748"  where id = '19543'
6260 /lvl1/ Supervisor Building Management
3701 /lvl1/ Marketing Freight & Forwarding
=>>>>>>>>>>>>>>>>>>>>>> 3472 /lvl2/ Marketing Freight & Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3701"  where id = '3472'
3195 /lvl1/ Kepala Divisi Manajemen Risiko
=>>>>>>>>>>>>>>>>>>>>>> 14618 /lvl2/ Kepala Divisi Manajemen Risiko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3195"  where id = '14618'
=>>>>>>>>>>>>>>>>>>>>>> 15010 /lvl2/ Kepala Divisi Manajemen Risiko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3195"  where id = '15010'
1148 /lvl1/ Corporate Management Executive
=>>>>>>>>>>>>>>>>>>>>>> 15591 /lvl2/ Corporate Management Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1148"  where id = '15591'
3964 /lvl1/ New Product Control Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 530 /lvl2/ New Product Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3964"  where id = '530'
1919 /lvl1/ Finance & Accounting Assistant
=>>>>>>>>>>>>>>>>>>>>>> 8765 /lvl2/ FINANCE & ACCOUNTING ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING ASSISTANT", title_clean   = "FINANCE & ACCOUNTING ASSISTANT", title_id  = "1919"  where id = '8765'
6272 /lvl1/ Supervisor Development Apparel
=>>>>>>>>>>>>>>>>>>>>>> 12808 /lvl2/ Supervisor Development Apparel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6272"  where id = '12808'
1923 /lvl1/ Finance & Accounting Executive
=>>>>>>>>>>>>>>>>>>>>>> 18456 /lvl2/ Finance & Accounting Executive (Padang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Padang)", title_clean   = " (Padang)", title_id  = "1923"  where id = '18456'
2182 /lvl1/ General Affairs Logistic Staff
=>>>>>>>>>>>>>>>>>>>>>> 9713 /lvl2/ General Affairs Logistic Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2182"  where id = '9713'
391 /lvl1/ Application Support Specialist
=>>>>>>>>>>>>>>>>>>>>>> 12446 /lvl2/ Application support Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Application support Specialist", title_clean   = "Application support Specialist", title_id  = "391"  where id = '12446'
903 /lvl1/ Chicken Slaughterhouse Manager
=>>>>>>>>>>>>>>>>>>>>>> 11590 /lvl2/ Chicken Slaughterhouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "903"  where id = '11590'
3207 /lvl1/ Kepala Mechanic Mesin Industri
2697 /lvl1/ Industrial Pump Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8957 /lvl2/ Industrial Pump Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2697"  where id = '8957'
1931 /lvl1/ Finance & Accounting Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 13961 /lvl2/ Finance & Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1931"  where id = '13961'
5772 /lvl1/ Social Media & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 15075 /lvl2/ Social Media & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5772"  where id = '15075'
=>>>>>>>>>>>>>>>>>>>>>> 17723 /lvl2/ Social Media & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5772"  where id = '17723'
653 /lvl1/ Biotechnology Training Program
=>>>>>>>>>>>>>>>>>>>>>> 11051 /lvl2/ Biotechnology Training Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "653"  where id = '11051'
4237 /lvl1/ Performance & Org. Dev Analyst
=>>>>>>>>>>>>>>>>>>>>>> 12932 /lvl2/ Performance & Org. Dev Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4237"  where id = '12932'
5517 /lvl1/ Senior Environmental Scientist
=>>>>>>>>>>>>>>>>>>>>>> 14094 /lvl2/ Senior Environmental Scientist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5517"  where id = '14094'
5773 /lvl1/ Social Media & Content Manager
=>>>>>>>>>>>>>>>>>>>>>> 18812 /lvl2/ Social Media & Content Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5773"  where id = '18812'
2702 /lvl1/ Industrial Relation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1427 /lvl2/ Industrial Relation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2702"  where id = '1427'
=>>>>>>>>>>>>>>>>>>>>>> 15310 /lvl2/ Industrial Relation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2702"  where id = '15310'
4239 /lvl1/ Performance Management Analyst
=>>>>>>>>>>>>>>>>>>>>>> 14508 /lvl2/ Performance Management Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4239"  where id = '14508'
=>>>>>>>>>>>>>>>>>>>>>> 14885 /lvl2/ Performance Management Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4239"  where id = '14885'
=>>>>>>>>>>>>>>>>>>>>>> 20496 /lvl2/ Performance Management Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4239"  where id = '20496'
1680 /lvl1/ Employee Communication Officer
=>>>>>>>>>>>>>>>>>>>>>> 5860 /lvl2/ Employee Communication Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1680"  where id = '5860'
6032 /lvl1/ Staff Finance & Accounting Tax
=>>>>>>>>>>>>>>>>>>>>>> 18297 /lvl2/ Staff Finance & Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6032"  where id = '18297'
6036 /lvl1/ Staff Finance & Tax Accounting
=>>>>>>>>>>>>>>>>>>>>>> 6430 /lvl2/ Staff Finance & Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6036"  where id = '6430'
3734 /lvl1/ Marketing Packaging Carton Box

=>>>>>>>>>>>>>>>>>>>>>> 4341 /lvl2/ Marketing PACKAGING CARTON BOX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing PACKAGING CARTON BOX", title_clean   = "Marketing PACKAGING CARTON BOX", title_id  = "3734"  where id = '4341'
6038 /lvl1/ Staff Finance Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 11155 /lvl2/ Staff Finance Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6038"  where id = '11155'
1689 /lvl1/ Engineer & Maintenance Foreman
3225 /lvl1/ Kepala Unit Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 5899 /lvl2/ Kepala Unit Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3225"  where id = '5899'
5785 /lvl1/ Social Media Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 5946 /lvl2/ Social Media Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5785"  where id = '5946'
3995 /lvl1/ Office Housekeeping Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5638 /lvl2/ Office Housekeeping Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3995"  where id = '5638'
4252 /lvl1/ Personal Assistant / Secretary
1949 /lvl1/ Finance Accounting & Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 11156 /lvl2/ Finance Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1949"  where id = '11156'
1951 /lvl1/ Finance Accounting Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 12573 /lvl2/ FINANCE ACCOUNTING ADMIN STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING ADMIN STAFF", title_clean   = "FINANCE ACCOUNTING ADMIN STAFF", title_id  = "1951"  where id = '12573'
3232 /lvl1/ Key Account Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 10646 /lvl2/ Key Account Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3232"  where id = '10646'
4257 /lvl1/ Personal Assistant To Director
=>>>>>>>>>>>>>>>>>>>>>> 950 /lvl2/ Personal Assistant to Director (Jawa Tengah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director (Jawa Tengah)", title_clean   = "Personal Assistant to Director (Jawa Tengah)", title_id  = "4257"  where id = '950'
=>>>>>>>>>>>>>>>>>>>>>> 5654 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '5654'
=>>>>>>>>>>>>>>>>>>>>>> 6756 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '6756'
=>>>>>>>>>>>>>>>>>>>>>> 7244 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '7244'
=>>>>>>>>>>>>>>>>>>>>>> 10175 /lvl2/ PERSONAL ASSISTANT TO DIRECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT TO DIRECTOR", title_clean   = "PERSONAL ASSISTANT TO DIRECTOR", title_id  = "4257"  where id = '10175'
=>>>>>>>>>>>>>>>>>>>>>> 11196 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '11196'
=>>>>>>>>>>>>>>>>>>>>>> 15776 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '15776'
=>>>>>>>>>>>>>>>>>>>>>> 15794 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '15794'
=>>>>>>>>>>>>>>>>>>>>>> 17904 /lvl2/ Personal Assistant to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Director", title_clean   = "Personal Assistant to Director", title_id  = "4257"  where id = '17904'
3746 /lvl1/ Marketing Sales Shipyard Steel
5539 /lvl1/ Senior Human Resources Manager
=>>>>>>>>>>>>>>>>>>>>>> 4593 /lvl2/ Senior Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5539"  where id = '4593'
5540 /lvl1/ Senior Infrastructure Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7316 /lvl2/ Senior Infrastructure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5540"  where id = '7316'
=>>>>>>>>>>>>>>>>>>>>>> 8724 /lvl2/ Senior Infrastructure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5540"  where id = '8724'
2726 /lvl1/ Instructor Operator & Mechanic
1959 /lvl1/ Finance Accounting Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 12428 /lvl2/ Finance Accounting Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1959"  where id = '12428'
=>>>>>>>>>>>>>>>>>>>>>> 14310 /lvl2/ Finance Accounting Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1959"  where id = '14310'
=>>>>>>>>>>>>>>>>>>>>>> 14327 /lvl2/ Finance Accounting Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1959"  where id = '14327'
=>>>>>>>>>>>>>>>>>>>>>> 15307 /lvl2/ Finance Accounting Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1959"  where id = '15307'
=>>>>>>>>>>>>>>>>>>>>>> 15326 /lvl2/ Finance Accounting Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1959"  where id = '15326'
6567 /lvl1/ Technical / Service Supervisor
1960 /lvl1/ Finance Accounting Tax Officer
=>>>>>>>>>>>>>>>>>>>>>> 4721 /lvl2/ Finance Accounting Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1960"  where id = '4721'
5805 /lvl1/ Software Engineer / Programmer
1713 /lvl1/ Engineering Solutions Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3277 /lvl2/ Sr. Engineering Solutions Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex-", title_clean   = "Sr. ", title_id  = "1713"  where id = '3277'
=>>>>>>>>>>>>>>>>>>>>>> 3285 /lvl2/ Engineering Solutions Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1713"  where id = '3285'
435 /lvl1/ Asisten Manajer Editorial Buku
=>>>>>>>>>>>>>>>>>>>>>> 14067 /lvl2/ Asisten Manajer Editorial Buku
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "435"  where id = '14067'
=>>>>>>>>>>>>>>>>>>>>>> 14409 /lvl2/ Asisten Manajer Editorial Buku
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "435"  where id = '14409'
=>>>>>>>>>>>>>>>>>>>>>> 14427 /lvl2/ Asisten Manajer Editorial Buku
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "435"  where id = '14427'
3763 /lvl1/ Marketing Support Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 19215 /lvl2/ Marketing Support Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3763"  where id = '19215'
4787 /lvl1/ Quality Control Chemical Staff
=>>>>>>>>>>>>>>>>>>>>>> 11951 /lvl2/ QUALITY CONTROL CHEMICAL STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY CONTROL CHEMICAL STAFF", title_clean   = "QUALITY CONTROL CHEMICAL STAFF", title_id  = "4787"  where id = '11951'
6582 /lvl1/ Technical GArment Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 18547 /lvl2/ Technical Garment Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical Garment Senior Staff", title_clean   = "Technical Garment Senior Staff", title_id  = "6582"  where id = '18547'
3514 /lvl1/ Manager Karaoke & Manager Club
=>>>>>>>>>>>>>>>>>>>>>> 10378 /lvl2/ Manager Karaoke & Manager Club
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3514"  where id = '10378'
5050 /lvl1/ Sales & Marketing Cold Storage
=>>>>>>>>>>>>>>>>>>>>>> 19193 /lvl2/ Sales & Marketing Cold Storage
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5050"  where id = '19193'
5818 /lvl1/ Software Quality Engineer Lead
=>>>>>>>>>>>>>>>>>>>>>> 10941 /lvl2/ Software Quality Engineer Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5818"  where id = '10941'
=>>>>>>>>>>>>>>>>>>>>>> 10969 /lvl2/ Software Quality Engineer Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5818"  where id = '10969'
2747 /lvl1/ Interior Project Sales Manager

=>>>>>>>>>>>>>>>>>>>>>> 19240 /lvl2/ Interior Project Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2747"  where id = '19240'
3261 /lvl1/ Koordinator Access & Transport
=>>>>>>>>>>>>>>>>>>>>>> 17851 /lvl2/ Koordinator Access & Transport
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3261"  where id = '17851'
3517 /lvl1/ Manager Learning & Development
=>>>>>>>>>>>>>>>>>>>>>> 6934 /lvl2/ Manager Learning & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3517"  where id = '6934'
3774 /lvl1/ Master Data Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 9445 /lvl2/ Master Data Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3774"  where id = '9445'
4032 /lvl1/ Operation & Deployment Manager
=>>>>>>>>>>>>>>>>>>>>>> 4635 /lvl2/ Operation & Deployment Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4032"  where id = '4635'
1986 /lvl1/ Finance Institution Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14482 /lvl2/ Finance Institution Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1986"  where id = '14482'
2754 /lvl1/ Internal Audit Department Head
=>>>>>>>>>>>>>>>>>>>>>> 5933 /lvl2/ Internal Audit Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2754"  where id = '5933'
4802 /lvl1/ Quality Improvement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19817 /lvl2/ Quality Improvement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4802"  where id = '19817'
4036 /lvl1/ Operation Assistant Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17477 /lvl2/ OPERATION ASSISTANT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION ASSISTANT SUPERVISOR", title_clean   = "OPERATION ASSISTANT SUPERVISOR", title_id  = "4036"  where id = '17477'
4038 /lvl1/ Operation Engineer Power Plant
=>>>>>>>>>>>>>>>>>>>>>> 2770 /lvl2/ Operation Engineer Power Plant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4038"  where id = '2770'
5065 /lvl1/ Sales & Promotion Section Head
=>>>>>>>>>>>>>>>>>>>>>> 1876 /lvl2/ Sales & Promotion Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5065"  where id = '1876'
=>>>>>>>>>>>>>>>>>>>>>> 2551 /lvl2/ Sales & Promotion Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5065"  where id = '2551'
=>>>>>>>>>>>>>>>>>>>>>> 10604 /lvl2/ Sales & Promotion Section Head (S&PSH-BSD-COMM BSD12) - project Akasa Apartment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (S&PSH-BSD-COMM BSD12) - project Akasa Apartment", title_clean   = " (S&PSH-BSD-COMM BSD12) - project Akasa Apartment", title_id  = "5065"  where id = '10604'
=>>>>>>>>>>>>>>>>>>>>>> 11532 /lvl2/ Sales & Promotion Section Head (S&PSH-BSD-COMM12) - project Upper West
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (S&PSH-BSD-COMM12) - project Upper West", title_clean   = " (S&PSH-BSD-COMM12) - project Upper West", title_id  = "5065"  where id = '11532'
=>>>>>>>>>>>>>>>>>>>>>> 11559 /lvl2/ Sales & Promotion Section Head (S&PSH-BSD-COMM12) - project Upper West
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (S&PSH-BSD-COMM12) - project Upper West", title_clean   = " (S&PSH-BSD-COMM12) - project Upper West", title_id  = "5065"  where id = '11559'
1994 /lvl1/ Finance Reporting Section Head
=>>>>>>>>>>>>>>>>>>>>>> 3451 /lvl2/ Finance Reporting Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1994"  where id = '3451'
5835 /lvl1/ Sosial Media & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 19915 /lvl2/ Sosial Media & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5835"  where id = '19915'
3276 /lvl1/ Kordinator Workshop & Traction
465 /lvl1/ Assistant Manager of Polyester
6609 /lvl1/ Technical Support Electromedic
=>>>>>>>>>>>>>>>>>>>>>> 1805 /lvl2/ Technical Support Electromedic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6609"  where id = '1805'
4562 /lvl1/ Project Engineering Supervisor
723 /lvl1/ Building Project & Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 3794 /lvl2/ Building Project & Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "723"  where id = '3794'
3539 /lvl1/ Manager Research & Development
=>>>>>>>>>>>>>>>>>>>>>> 4949 /lvl2/ Manager Research & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3539"  where id = '4949'
6099 /lvl1/ Staff Marketing & Social Media
=>>>>>>>>>>>>>>>>>>>>>> 18487 /lvl2/ STAFF MARKETING & SOCIAL MEDIA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MARKETING & SOCIAL MEDIA", title_clean   = "STAFF MARKETING & SOCIAL MEDIA", title_id  = "6099"  where id = '18487'
=>>>>>>>>>>>>>>>>>>>>>> 18501 /lvl2/ STAFF MARKETING & SOCIAL MEDIA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MARKETING & SOCIAL MEDIA", title_clean   = "STAFF MARKETING & SOCIAL MEDIA", title_id  = "6099"  where id = '18501'
725 /lvl1/ Business & Investment Analysis
4311 /lvl1/ Plant & Maintenance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17456 /lvl2/ Plant & Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4311"  where id = '17456'
2776 /lvl1/ International Business Manager
=>>>>>>>>>>>>>>>>>>>>>> 2073 /lvl2/ International Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2776"  where id = '2073'
2011 /lvl1/ Finance, Accounting& Tax Staff
2270 /lvl1/ Guidance & Counselling Teacher
=>>>>>>>>>>>>>>>>>>>>>> 10279 /lvl2/ Guidance & Counselling Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2270"  where id = '10279'
6878 /lvl1/ Validasi Qualification Analyst
=>>>>>>>>>>>>>>>>>>>>>> 980 /lvl2/ Validasi Qualification Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6878"  where id = '980'
483 /lvl1/ Assistant Financial Controller
=>>>>>>>>>>>>>>>>>>>>>> 19939 /lvl2/ Assistant Financial Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "483"  where id = '19939'
5859 /lvl1/ Specialist Contract Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 398 /lvl2/ Specialist Contract Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5859"  where id = '398'
=>>>>>>>>>>>>>>>>>>>>>> 411 /lvl2/ Specialist Contract Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5859"  where id = '411'
6372 /lvl1/ Supervisor Restaurant / Outlet
1509 /lvl1/ Digital Media Planning Manager
=>>>>>>>>>>>>>>>>>>>>>> 2419 /lvl2/ Digital Media Planning Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1509"  where id = '2419'
1765 /lvl1/ Estimator Business Development
=>>>>>>>>>>>>>>>>>>>>>> 19293 /lvl2/ Estimator Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1765"  where id = '19293'
2533 /lvl1/ Human Resources Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 324 /lvl2/ Human Resources Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2533"  where id = '324'
=>>>>>>>>>>>>>>>>>>>>>> 686 /lvl2/ Human Resources SuperIntendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources SuperIntendent", title_clean   = "Human Resources SuperIntendent", title_id  = "2533"  where id = '686'
=>>>>>>>>>>>>>>>>>>>>>> 705 /lvl2/ Human Resources SuperIntendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources SuperIntendent", title_clean   = "Human Resources SuperIntendent", title_id  = "2533"  where id = '705'
=>>>>>>>>>>>>>>>>>>>>>> 9152 /lvl2/ Human Resources Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2533"  where id = '9152'
=>>>>>>>>>>>>>>>>>>>>>> 11370 /lvl2/ Human Resources Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2533"  where id = '11370'
6629 /lvl1/ Technology Development Program

=>>>>>>>>>>>>>>>>>>>>>> 14049 /lvl2/ Technology Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6629"  where id = '14049'
6886 /lvl1/ Vessel Monitoring Group Leader
=>>>>>>>>>>>>>>>>>>>>>> 10998 /lvl2/ Vessel Monitoring Group Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6886"  where id = '10998'
=>>>>>>>>>>>>>>>>>>>>>> 11042 /lvl2/ Vessel Monitoring Group Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6886"  where id = '11042'
2023 /lvl1/ Financial Controller Assistant
=>>>>>>>>>>>>>>>>>>>>>> 1439 /lvl2/ Financial Controller Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2023"  where id = '1439'
4841 /lvl1/ Research and Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 4416 /lvl2/ Research and Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4841"  where id = '4416'
=>>>>>>>>>>>>>>>>>>>>>> 5342 /lvl2/ Research and Development Staff (Jam, Custard, Spread) PRODUCT DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jam, Custard, Spread) PRODUCT DEVELOPMENT", title_clean   = " (Jam, Custard, Spread) PRODUCT DEVELOPMENT", title_id  = "4841"  where id = '5342'
=>>>>>>>>>>>>>>>>>>>>>> 16617 /lvl2/ Research and Development Staff (Research and Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Research and Development)", title_clean   = " (Research and Development)", title_id  = "4841"  where id = '16617'
=>>>>>>>>>>>>>>>>>>>>>> 16631 /lvl2/ Research and Development Staff (Research and Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Research and Development)", title_clean   = " (Research and Development)", title_id  = "4841"  where id = '16631'
=>>>>>>>>>>>>>>>>>>>>>> 19147 /lvl2/ Research and Development Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-f", title_clean   = "f", title_id  = "4841"  where id = '19147'
5097 /lvl1/ Sales Bahan Bangunan Luar Kota
=>>>>>>>>>>>>>>>>>>>>>> 7338 /lvl2/ Sales Bahan Bangunan Luar Kota
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5097"  where id = '7338'
=>>>>>>>>>>>>>>>>>>>>>> 8800 /lvl2/ Sales Bahan Bangunan Luar Kota
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5097"  where id = '8800'
1517 /lvl1/ Digital Proposition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6271 /lvl2/ Digital Proposition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1517"  where id = '6271'
6893 /lvl1/ Video Editor & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 7870 /lvl2/ Video Editor & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6893"  where id = '7870'
=>>>>>>>>>>>>>>>>>>>>>> 8182 /lvl2/ Video Editor & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6893"  where id = '8182'
750 /lvl1/ Business Development Associate
=>>>>>>>>>>>>>>>>>>>>>> 5930 /lvl2/ Business Development Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "750"  where id = '5930'
=>>>>>>>>>>>>>>>>>>>>>> 8475 /lvl2/ Partnership \u002F Business Development Associate (Telecommunication)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Partnership \u002F -idex- (Telecommunication)", title_clean   = "Partnership \u002F  (Telecommunication)", title_id  = "750"  where id = '8475'
1262 /lvl1/ Culture & Engagement Associate
=>>>>>>>>>>>>>>>>>>>>>> 20600 /lvl2/ Culture & Engagement Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1262"  where id = '20600'
3311 /lvl1/ Lead Sustainability Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19136 /lvl2/ Lead Sustainability Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3311"  where id = '19136'
5359 /lvl1/ Sap Fico Functional Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6376 /lvl2/ SAP FICO Functional Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP FICO Functional Consultant", title_clean   = "SAP FICO Functional Consultant", title_id  = "5359"  where id = '6376'
753 /lvl1/ Business Development Executive
=>>>>>>>>>>>>>>>>>>>>>> 986 /lvl2/ Business Development Executive (Bandung, Manado, Jogja, Surabaya, Balikpapan, Semarang, dan Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung, Manado, Jogja, Surabaya, Balikpapan, Semarang, dan Jakarta)", title_clean   = " (Bandung, Manado, Jogja, Surabaya, Balikpapan, Semarang, dan Jakarta)", title_id  = "753"  where id = '986'
=>>>>>>>>>>>>>>>>>>>>>> 1751 /lvl2/ Manager Business Development Executive (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager -idex- (Bandung)", title_clean   = "Manager  (Bandung)", title_id  = "753"  where id = '1751'
=>>>>>>>>>>>>>>>>>>>>>> 1972 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '1972'
=>>>>>>>>>>>>>>>>>>>>>> 2008 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '2008'
=>>>>>>>>>>>>>>>>>>>>>> 2057 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '2057'
=>>>>>>>>>>>>>>>>>>>>>> 3060 /lvl2/ Business Development Executive – Floor Coating (Trading & Project)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Floor Coating (Trading & Project)", title_clean   = " – Floor Coating (Trading & Project)", title_id  = "753"  where id = '3060'
=>>>>>>>>>>>>>>>>>>>>>> 3566 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '3566'
=>>>>>>>>>>>>>>>>>>>>>> 4625 /lvl2/ Business Development Executive Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Makassar", title_clean   = " Makassar", title_id  = "753"  where id = '4625'
=>>>>>>>>>>>>>>>>>>>>>> 4819 /lvl2/ Business Development Executive Pontianak Singkawang Pangkalan Bun
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pontianak Singkawang Pangkalan Bun", title_clean   = " Pontianak Singkawang Pangkalan Bun", title_id  = "753"  where id = '4819'
=>>>>>>>>>>>>>>>>>>>>>> 5639 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '5639'
=>>>>>>>>>>>>>>>>>>>>>> 6906 /lvl2/ Business Development Executive (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang)", title_clean   = " (Semarang)", title_id  = "753"  where id = '6906'
=>>>>>>>>>>>>>>>>>>>>>> 8015 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '8015'
=>>>>>>>>>>>>>>>>>>>>>> 8329 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '8329'
=>>>>>>>>>>>>>>>>>>>>>> 8353 /lvl2/ Business Development Executive (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang)", title_clean   = " (Semarang)", title_id  = "753"  where id = '8353'
=>>>>>>>>>>>>>>>>>>>>>> 8744 /lvl2/ Business Development Executive (Marketing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marketing)", title_clean   = " (Marketing)", title_id  = "753"  where id = '8744'
=>>>>>>>>>>>>>>>>>>>>>> 10594 /lvl2/ Business Development Executive Semarang Purwokerto Pekalongan Purwodadi Salatiga Tegal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Semarang Purwokerto Pekalongan Purwodadi Salatiga Tegal", title_clean   = " Semarang Purwokerto Pekalongan Purwodadi Salatiga Tegal", title_id  = "753"  where id = '10594'
=>>>>>>>>>>>>>>>>>>>>>> 10769 /lvl2/ Business Development Executive Medan Tanah Karo Kabanjahe Binjai Langkat Pematang siantar Aceh Sabang Padang sidempuan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Medan Tanah Karo Kabanjahe Binjai Langkat Pematang siantar Aceh Sabang Padang sidempuan", title_clean   = " Medan Tanah Karo Kabanjahe Binjai Langkat Pematang siantar Aceh Sabang Padang sidempuan", title_id  = "753"  where id = '10769'
=>>>>>>>>>>>>>>>>>>>>>> 11314 /lvl2/ Business Development Executive (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan)", title_clean   = " (Medan)", title_id  = "753"  where id = '11314'
=>>>>>>>>>>>>>>>>>>>>>> 15266 /lvl2/ Business Development Executive (Wholesale)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Wholesale)", title_clean   = " (Wholesale)", title_id  = "753"  where id = '15266'
=>>>>>>>>>>>>>>>>>>>>>> 15381 /lvl2/ Business Development Executive (BDE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (BDE)", title_clean   = " (BDE)", title_id  = "753"  where id = '15381'
=>>>>>>>>>>>>>>>>>>>>>> 16573 /lvl2/ Business Development Executive Lubuklinggau Banyuasin Bandar Lampung Bengkulu Kotabumi Metro
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Lubuklinggau Banyuasin Bandar Lampung Bengkulu Kotabumi Metro", title_clean   = " Lubuklinggau Banyuasin Bandar Lampung Bengkulu Kotabumi Metro", title_id  = "753"  where id = '16573'
=>>>>>>>>>>>>>>>>>>>>>> 16592 /lvl2/ Business Development Executive Lubuklinggau Banyuasin Bandar Lampung Bengkulu Kotabumi Metro
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Lubuklinggau Banyuasin Bandar Lampung Bengkulu Kotabumi Metro", title_clean   = " Lubuklinggau Banyuasin Bandar Lampung Bengkulu Kotabumi Metro", title_id  = "753"  where id = '16592'
=>>>>>>>>>>>>>>>>>>>>>> 17956 /lvl2/ Business Development Executive Duri Dumai Pekanbaru Perawang Padang Payakumbuh Air Molek Tembilahan Batam Kepulauan Riau Tanjung Balai Karimun Bintan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Duri Dumai Pekanbaru Perawang Padang Payakumbuh Air Molek Tembilahan Batam Kepulauan Riau Tanjung Balai Karimun Bintan", title_clean   = " Duri Dumai Pekanbaru Perawang Padang Payakumbuh Air Molek Tembilahan Batam Kepulauan Riau Tanjung Balai Karimun Bintan", title_id  = "753"  where id = '17956'
=>>>>>>>>>>>>>>>>>>>>>> 18555 /lvl2/ Business Development Executive Jambi Palembang Baturaja Bangka Belitung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jambi Palembang Baturaja Bangka Belitung", title_clean   = " Jambi Palembang Baturaja Bangka Belitung", title_id  = "753"  where id = '18555'
=>>>>>>>>>>>>>>>>>>>>>> 19142 /lvl2/ Business Development Executive Tangerang Selatan Tangerang Kota Tangerang Kabupaten Rangkas Pandeglang Serang Cilegon Jakarta Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tangerang Selatan Tangerang Kota Tangerang Kabupaten Rangkas Pandeglang Serang Cilegon Jakarta Barat", title_clean   = " Tangerang Selatan Tangerang Kota Tangerang Kabupaten Rangkas Pandeglang Serang Cilegon Jakarta Barat", title_id  = "753"  where id = '19142'
=>>>>>>>>>>>>>>>>>>>>>> 19149 /lvl2/ Business Development Executive Depok Jakarta Selatan Bekasi Utara Jakarta Utara Jakarta Pusat Bogor Bekasi Selatan Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Depok Jakarta Selatan Bekasi Utara Jakarta Utara Jakarta Pusat Bogor Bekasi Selatan Jakarta Timur", title_clean   = " Depok Jakarta Selatan Bekasi Utara Jakarta Utara Jakarta Pusat Bogor Bekasi Selatan Jakarta Timur", title_id  = "753"  where id = '19149'
=>>>>>>>>>>>>>>>>>>>>>> 19486 /lvl2/ Business Development Executive Jambi Palembang Baturaja Bangka Belitung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jambi Palembang Baturaja Bangka Belitung", title_clean   = " Jambi Palembang Baturaja Bangka Belitung", title_id  = "753"  where id = '19486'
=>>>>>>>>>>>>>>>>>>>>>> 20074 /lvl2/ Business Development Executive Depok Jakarta Selatan Bekasi Utara Jakarta Utara Jakarta Pusat Bogor Bekasi Selatan Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Depok Jakarta Selatan Bekasi Utara Jakarta Utara Jakarta Pusat Bogor Bekasi Selatan Jakarta Timur", title_clean   = " Depok Jakarta Selatan Bekasi Utara Jakarta Utara Jakarta Pusat Bogor Bekasi Selatan Jakarta Timur", title_id  = "753"  where id = '20074'
=>>>>>>>>>>>>>>>>>>>>>> 20353 /lvl2/ Business Development Executive Bandung Barat Bandung Timur Cimahi Garut Sukabumi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung Barat Bandung Timur Cimahi Garut Sukabumi", title_clean   = " Bandung Barat Bandung Timur Cimahi Garut Sukabumi", title_id  = "753"  where id = '20353'
=>>>>>>>>>>>>>>>>>>>>>> 20422 /lvl2/ Business Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "753"  where id = '20422'
2801 /lvl1/ Inventory & Cost Control Staff

=>>>>>>>>>>>>>>>>>>>>>> 2872 /lvl2/ INVENTORY & COST CONTROL STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INVENTORY & COST CONTROL STAFF", title_clean   = "INVENTORY & COST CONTROL STAFF", title_id  = "2801"  where id = '2872'
3825 /lvl1/ Mechanical Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 18923 /lvl2/ Mechanical Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3825"  where id = '18923'
4081 /lvl1/ Operator Mechanical Electrical
=>>>>>>>>>>>>>>>>>>>>>> 7989 /lvl2/ Operator Mechanical Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4081"  where id = '7989'
=>>>>>>>>>>>>>>>>>>>>>> 8300 /lvl2/ Operator Mechanical Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4081"  where id = '8300'
3315 /lvl1/ Leader Elektrikal & Mechanical
3827 /lvl1/ Mechanical Electrical Plumbing
=>>>>>>>>>>>>>>>>>>>>>> 496 /lvl2/ Mechanical Electrical Plumbing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3827"  where id = '496'
=>>>>>>>>>>>>>>>>>>>>>> 519 /lvl2/ Mechanical Electrical Plumbing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3827"  where id = '519'
=>>>>>>>>>>>>>>>>>>>>>> 736 /lvl2/ Site Controller (Mechanical Electrical Plumbing) Property Developer Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Site Controller (-idex-) Property Developer Makassar", title_clean   = "Site Controller () Property Developer Makassar", title_id  = "3827"  where id = '736'
=>>>>>>>>>>>>>>>>>>>>>> 12220 /lvl2/ Mechanical Electrical Plumbing (MEP) SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MEP) SUPERVISOR", title_clean   = " (MEP) SUPERVISOR", title_id  = "3827"  where id = '12220'
1012 /lvl1/ Compensation & Benefit Analyst
=>>>>>>>>>>>>>>>>>>>>>> 1782 /lvl2/ Compensation & Benefit Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1012"  where id = '1782'
1013 /lvl1/ Compensation & Benefit Manager
=>>>>>>>>>>>>>>>>>>>>>> 19347 /lvl2/ Compensation & Benefit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1013"  where id = '19347'
=>>>>>>>>>>>>>>>>>>>>>> 20253 /lvl2/ Compensation & Benefit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1013"  where id = '20253'
2037 /lvl1/ Financial Planning & Reporting
3576 /lvl1/ Mandarin Teacher Primary Level
=>>>>>>>>>>>>>>>>>>>>>> 11420 /lvl2/ MANDARIN TEACHER PRIMARY LEVEL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TEACHER PRIMARY LEVEL", title_clean   = "MANDARIN TEACHER PRIMARY LEVEL", title_id  = "3576"  where id = '11420'
6138 /lvl1/ Staff Purchasing Export Import
4092 /lvl1/ Operator Water Treatment Plant
=>>>>>>>>>>>>>>>>>>>>>> 11552 /lvl2/ OPERATOR WATER TREATMENT PLANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR WATER TREATMENT PLANT", title_clean   = "OPERATOR WATER TREATMENT PLANT", title_id  = "4092"  where id = '11552'
5884 /lvl1/ Staff Admin Sales & Purchasing
4861 /lvl1/ Receptionist Marketing GAllery
=>>>>>>>>>>>>>>>>>>>>>> 20192 /lvl2/ Receptionist Marketing Gallery
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Receptionist Marketing Gallery", title_clean   = "Receptionist Marketing Gallery", title_id  = "4861"  where id = '20192'
1022 /lvl1/ Competency & Talent Management
=>>>>>>>>>>>>>>>>>>>>>> 8973 /lvl2/ Competency & Talent Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1022"  where id = '8973'
3327 /lvl1/ Learning & Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 14638 /lvl2/ Learning & Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3327"  where id = '14638'
2817 /lvl1/ Investment & Treasury Officer
=>>>>>>>>>>>>>>>>>>>>>> 8760 /lvl2/ Investment & Treasury Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2817"  where id = '8760'
3588 /lvl1/ Manufacturing Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 19656 /lvl2/ Manufacturing Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3588"  where id = '19656'
=>>>>>>>>>>>>>>>>>>>>>> 20509 /lvl2/ Manufacturing Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3588"  where id = '20509'
3589 /lvl1/ Manufacturing Trainee Program
=>>>>>>>>>>>>>>>>>>>>>> 10885 /lvl2/ Manufacturing Trainee Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3589"  where id = '10885'
6661 /lvl1/ Teknisi Informasi & Teknologi
775 /lvl1/ Business Intelligence Analyst
=>>>>>>>>>>>>>>>>>>>>>> 5896 /lvl2/ Business Intelligence Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "775"  where id = '5896'
=>>>>>>>>>>>>>>>>>>>>>> 7500 /lvl2/ Business Intelligence Analyst (Karawaci)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawaci)", title_clean   = " (Karawaci)", title_id  = "775"  where id = '7500'
5639 /lvl1/ Senior Staff Accounting & Tax
8 /lvl1/ 3D Artist / Modeling For GAme
6412 /lvl1/ Supervisor Warehouse / Gudang
=>>>>>>>>>>>>>>>>>>>>>> 9707 /lvl2/ Supervisor Warehouse / Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6412"  where id = '9707'
1293 /lvl1/ Customer Relationship Officer
=>>>>>>>>>>>>>>>>>>>>>> 1411 /lvl2/ Customer Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1293"  where id = '1411'
=>>>>>>>>>>>>>>>>>>>>>> 2060 /lvl2/ Customer Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1293"  where id = '2060'
6157 /lvl1/ Staff Sales Kitchen Equipment
=>>>>>>>>>>>>>>>>>>>>>> 13012 /lvl2/ Staff Sales Kitchen Equipment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6157"  where id = '13012'
4366 /lvl1/ Presales / Product Specialist
1296 /lvl1/ Customer Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 18774 /lvl2/ Customer Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1296"  where id = '18774'
2321 /lvl1/ Hcd & General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 19972 /lvl2/ HCD & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HCD & General Affairs Manager", title_clean   = "HCD & General Affairs Manager", title_id  = "2321"  where id = '19972'
5649 /lvl1/ Senior Supervisor Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 20470 /lvl2/ Senior Supervisor Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5649"  where id = '20470'
530 /lvl1/ Assistant Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 2601 /lvl2/ Assistant Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "530"  where id = '2601'
=>>>>>>>>>>>>>>>>>>>>>> 3288 /lvl2/ Assistant Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "530"  where id = '3288'
1042 /lvl1/ Consultant Back End Developer
1554 /lvl1/ Domestic Transportation Staff
=>>>>>>>>>>>>>>>>>>>>>> 18883 /lvl2/ Domestic Transportation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1554"  where id = '18883'
4882 /lvl1/ Recruitment Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13442 /lvl2/ Recruitment Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4882"  where id = '13442'
2067 /lvl1/ Food & Beverage Brand Manager
4372 /lvl1/ Presales Support / IT Support
1045 /lvl1/ Consultant Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 6829 /lvl2/ Consultant Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1045"  where id = '6829'
3093 /lvl1/ Junior Client Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 11436 /lvl2/ Junior Client Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3093"  where id = '11436'
1814 /lvl1/ Experiences Associate Auditor
=>>>>>>>>>>>>>>>>>>>>>> 14726 /lvl2/ Experiences Associate Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1814"  where id = '14726'
=>>>>>>>>>>>>>>>>>>>>>> 14747 /lvl2/ Experiences Associate Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1814"  where id = '14747'
5910 /lvl1/ Staff Keuangan & Administrasi

1303 /lvl1/ Customer Service Admin Online
=>>>>>>>>>>>>>>>>>>>>>> 10985 /lvl2/ Customer Service Admin Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1303"  where id = '10985'
2587 /lvl1/ Hse & General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 10036 /lvl2/ HSE & General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE & General Affairs Manager", title_clean   = "HSE & General Affairs Manager", title_id  = "2587"  where id = '10036'
6173 /lvl1/ Staff Teknik Perkebunan Sawit
=>>>>>>>>>>>>>>>>>>>>>> 367 /lvl2/ Staff Teknik Perkebunan Sawit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6173"  where id = '367'
2336 /lvl1/ Head Finance Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 14862 /lvl2/ Head Finance Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2336"  where id = '14862'
5923 /lvl1/ Staff Placement Asuransi Umum
3620 /lvl1/ Marketing & Customer Relation
=>>>>>>>>>>>>>>>>>>>>>> 848 /lvl2/ Marketing & Customer Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3620"  where id = '848'
=>>>>>>>>>>>>>>>>>>>>>> 2891 /lvl2/ Marketing & Customer Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3620"  where id = '2891'
3624 /lvl1/ Marketing & Management Intern
5160 /lvl1/ Sales Executive & Development
=>>>>>>>>>>>>>>>>>>>>>> 6768 /lvl2/ SALES EXECUTIVE & DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES EXECUTIVE & DEVELOPMENT", title_clean   = "SALES EXECUTIVE & DEVELOPMENT", title_id  = "5160"  where id = '6768'
=>>>>>>>>>>>>>>>>>>>>>> 7892 /lvl2/ SALES EXECUTIVE & DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES EXECUTIVE & DEVELOPMENT", title_clean   = "SALES EXECUTIVE & DEVELOPMENT", title_id  = "5160"  where id = '7892'
=>>>>>>>>>>>>>>>>>>>>>> 8212 /lvl2/ SALES EXECUTIVE & DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES EXECUTIVE & DEVELOPMENT", title_clean   = "SALES EXECUTIVE & DEVELOPMENT", title_id  = "5160"  where id = '8212'
5166 /lvl1/ Sales Executive For Apartment
=>>>>>>>>>>>>>>>>>>>>>> 13527 /lvl2/ Sales Executive for Apartment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Executive for Apartment", title_clean   = "Sales Executive for Apartment", title_id  = "5166"  where id = '13527'
6964 /lvl1/ Warehouse Training Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20456 /lvl2/ Warehouse Training Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6964"  where id = '20456'
55 /lvl1/ Account Receivable Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20264 /lvl2/ Account Receivable Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "55"  where id = '20264'
4919 /lvl1/ Regional Supply Chain Analyst
=>>>>>>>>>>>>>>>>>>>>>> 16933 /lvl2/ Regional Supply Chain Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4919"  where id = '16933'
=>>>>>>>>>>>>>>>>>>>>>> 16950 /lvl2/ Regional Supply Chain Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4919"  where id = '16950'
4920 /lvl1/ Regional Supply Chain Manager
=>>>>>>>>>>>>>>>>>>>>>> 501 /lvl2/ Regional Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4920"  where id = '501'
1849 /lvl1/ External Government Relations
=>>>>>>>>>>>>>>>>>>>>>> 7966 /lvl2/ External Government Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1849"  where id = '7966'
=>>>>>>>>>>>>>>>>>>>>>> 8279 /lvl2/ External Government Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1849"  where id = '8279'
570 /lvl1/ Audit & Certification Officer
=>>>>>>>>>>>>>>>>>>>>>> 1208 /lvl2/ Audit & Certification Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "570"  where id = '1208'
2362 /lvl1/ Head of Guidance & Counseling
6458 /lvl1/ System Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18587 /lvl2/ System Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6458"  where id = '18587'
5947 /lvl1/ Staff Accounting & Perpajakan
2109 /lvl1/ Front End & Back End Bootcamp
2621 /lvl1/ Human Resource Apprenticeship
=>>>>>>>>>>>>>>>>>>>>>> 16811 /lvl2/ Human Resource Apprenticeship
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2621"  where id = '16811'
4926 /lvl1/ Regulatory Affairs Specialist
=>>>>>>>>>>>>>>>>>>>>>> 14095 /lvl2/ Regulatory Affairs Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4926"  where id = '14095'
4927 /lvl1/ Regulatory Affairs Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1372 /lvl2/ Regulatory Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4927"  where id = '1372'
2368 /lvl1/ Head of Investment Operations
=>>>>>>>>>>>>>>>>>>>>>> 14925 /lvl2/ Head of Investment Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2368"  where id = '14925'
3648 /lvl1/ Marketing Associate Eksekutif
=>>>>>>>>>>>>>>>>>>>>>> 2163 /lvl2/ Marketing Associate Eksekutif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3648"  where id = '2163'
837 /lvl1/ Career Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15452 /lvl2/ Career Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "837"  where id = '15452'
5701 /lvl1/ Server Fine Dining Restaurant
=>>>>>>>>>>>>>>>>>>>>>> 18046 /lvl2/ SERVER FINE DINING RESTAURANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SERVER FINE DINING RESTAURANT", title_clean   = "SERVER FINE DINING RESTAURANT", title_id  = "5701"  where id = '18046'
4680 /lvl1/ Purchasing Raw Material Staff
=>>>>>>>>>>>>>>>>>>>>>> 9932 /lvl2/ Purchasing Raw Material Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4680"  where id = '9932'
6730 /lvl1/ Temporary Secretary For Sales
=>>>>>>>>>>>>>>>>>>>>>> 6736 /lvl2/ Temporary Secretary for Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Temporary Secretary for Sales", title_clean   = "Temporary Secretary for Sales", title_id  = "6730"  where id = '6736'
6219 /lvl1/ Strategic Partnership Manager
=>>>>>>>>>>>>>>>>>>>>>> 9519 /lvl2/ Strategic Partnership Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6219"  where id = '9519'
1356 /lvl1/ Data Center Operation Manager
4428 /lvl1/ Product & Customer Activation
=>>>>>>>>>>>>>>>>>>>>>> 6144 /lvl2/ Product & Customer Activation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4428"  where id = '6144'
3918 /lvl1/ Mobile GAme Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 5768 /lvl2/ Mobile Game Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile Game Marketing Manager", title_clean   = "Mobile Game Marketing Manager", title_id  = "3918"  where id = '5768'
1360 /lvl1/ Data Communication Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2231 /lvl2/ Data Communication Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1360"  where id = '2231'
82 /lvl1/ Accounting & Tax Senior Staff
3668 /lvl1/ Marketing Communication Staff
=>>>>>>>>>>>>>>>>>>>>>> 1037 /lvl2/ Marketing Communication Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3668"  where id = '1037'
=>>>>>>>>>>>>>>>>>>>>>> 5105 /lvl2/ Marketing Communication Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3668"  where id = '5105'
=>>>>>>>>>>>>>>>>>>>>>> 6187 /lvl2/ Marketing Communication Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3668"  where id = '6187'
=>>>>>>>>>>>>>>>>>>>>>> 12529 /lvl2/ Marketing Communication Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3668"  where id = '12529'
=>>>>>>>>>>>>>>>>>>>>>> 12547 /lvl2/ Marketing Communication Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3668"  where id = '12547'
6485 /lvl1/ Talent Acquisition Specialist

=>>>>>>>>>>>>>>>>>>>>>> 2009 /lvl2/ [FREELANCE] Talent Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "[FREELANCE] -idex-", title_clean   = "[FREELANCE] ", title_id  = "6485"  where id = '2009'
=>>>>>>>>>>>>>>>>>>>>>> 12688 /lvl2/ Talent Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6485"  where id = '12688'
=>>>>>>>>>>>>>>>>>>>>>> 13401 /lvl2/ Talent Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6485"  where id = '13401'
=>>>>>>>>>>>>>>>>>>>>>> 13615 /lvl2/ Talent Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6485"  where id = '13615'
854 /lvl1/ Casual Leasing Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 7045 /lvl2/ Casual Leasing Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "854"  where id = '7045'
1878 /lvl1/ Farm Stockman / Staff Kandang
6231 /lvl1/ Structure Inspection Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7599 /lvl2/ Structure Inspection Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6231"  where id = '7599'
6488 /lvl1/ Talent Acquisition Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9001 /lvl2/ Talent Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6488"  where id = '9001'
5977 /lvl1/ Staff Administrasi & Keuangan
=>>>>>>>>>>>>>>>>>>>>>> 10929 /lvl2/ Staff Administrasi & Keuangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5977"  where id = '10929'
5979 /lvl1/ Staff Administrasi Accounting
=>>>>>>>>>>>>>>>>>>>>>> 16374 /lvl2/ Staff Administrasi Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5979"  where id = '16374'
3676 /lvl1/ Marketing Data Center Officer
=>>>>>>>>>>>>>>>>>>>>>> 6254 /lvl2/ Marketing Data Center Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3676"  where id = '6254'
4958 /lvl1/ Reporting & Analytics Manager
=>>>>>>>>>>>>>>>>>>>>>> 10560 /lvl2/ Reporting & Analytics Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4958"  where id = '10560'
4447 /lvl1/ Product Development Executive
=>>>>>>>>>>>>>>>>>>>>>> 12804 /lvl2/ Product Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4447"  where id = '12804'
=>>>>>>>>>>>>>>>>>>>>>> 16372 /lvl2/ Product Development Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4447"  where id = '16372'
1378 /lvl1/ Data Visualization Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8467 /lvl2/ Data Visualization Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1378"  where id = '8467'
5730 /lvl1/ Shipping Cost Control Analyst
=>>>>>>>>>>>>>>>>>>>>>> 16725 /lvl2/ Shipping Cost Control Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5730"  where id = '16725'
=>>>>>>>>>>>>>>>>>>>>>> 16746 /lvl2/ Shipping Cost Control Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5730"  where id = '16746'
1123 /lvl1/ Corporate Business Strategist
=>>>>>>>>>>>>>>>>>>>>>> 13480 /lvl2/ CORPORATE BUSINESS STRATEGIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE BUSINESS STRATEGIST", title_clean   = "CORPORATE BUSINESS STRATEGIST", title_id  = "1123"  where id = '13480'
3940 /lvl1/ Mt Assistant Store Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19470 /lvl2/ MT Assistant Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MT Assistant Store Supervisor", title_clean   = "MT Assistant Store Supervisor", title_id  = "3940"  where id = '19470'
6500 /lvl1/ Tax & A / P Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 8629 /lvl2/ Tax & A / P Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6500"  where id = '8629'
869 /lvl1/ Certified Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 765 /lvl2/ Certified Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "869"  where id = '765'
4709 /lvl1/ Qa Automation Software Tester
=>>>>>>>>>>>>>>>>>>>>>> 13720 /lvl2/ QA Automation Software Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Automation Software Tester", title_clean   = "QA Automation Software Tester", title_id  = "4709"  where id = '13720'
6757 /lvl1/ Tiktok Content Creator Intern
=>>>>>>>>>>>>>>>>>>>>>> 4541 /lvl2/ Tiktok Content Creator Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6757"  where id = '4541'
102 /lvl1/ Accounting Finance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3505 /lvl2/ Accounting Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "102"  where id = '3505'
=>>>>>>>>>>>>>>>>>>>>>> 3523 /lvl2/ Accounting Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "102"  where id = '3523'
6246 /lvl1/ Supervisor & Staff Accounting
3175 /lvl1/ Kepala Bagian Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 7848 /lvl2/ KEPALA BAGIAN Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA BAGIAN Human Resources", title_clean   = "KEPALA BAGIAN Human Resources", title_id  = "3175"  where id = '7848'
5223 /lvl1/ Sales Manager Telecom Product
=>>>>>>>>>>>>>>>>>>>>>> 5222 /lvl2/ Sales Manager Telecom Product
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5223"  where id = '5222'
1131 /lvl1/ Corporate Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 15029 /lvl2/ Corporate Development Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1131"  where id = '15029'
3691 /lvl1/ Marketing Executive / Manager
4971 /lvl1/ Research Development Designer
=>>>>>>>>>>>>>>>>>>>>>> 2128 /lvl2/ RESEARCH DEVELOPMENT DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH DEVELOPMENT DESIGNER", title_clean   = "RESEARCH DEVELOPMENT DESIGNER", title_id  = "4971"  where id = '2128'
1132 /lvl1/ Corporate Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 5577 /lvl2/ Corporate Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1132"  where id = '5577'
1645 /lvl1/ Education Program Development
=>>>>>>>>>>>>>>>>>>>>>> 19359 /lvl2/ EDUCATION PROGRAM DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EDUCATION PROGRAM DEVELOPMENT", title_clean   = "EDUCATION PROGRAM DEVELOPMENT", title_id  = "1645"  where id = '19359'
2669 /lvl1/ Import / Export Trade Manager
6765 /lvl1/ Tool & Die Production Manager
=>>>>>>>>>>>>>>>>>>>>>> 4235 /lvl2/ Tool & Die Production Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6765"  where id = '4235'
3951 /lvl1/ Network & Uc Delivery Officer
=>>>>>>>>>>>>>>>>>>>>>> 7175 /lvl2/ Network & UC Delivery Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Network & UC Delivery Officer", title_clean   = "Network & UC Delivery Officer", title_id  = "3951"  where id = '7175'
3440 /lvl1/ Maintenance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 557 /lvl2/ Maintenance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3440"  where id = '557'
5233 /lvl1/ Sales Marketing Cake & Pastry
=>>>>>>>>>>>>>>>>>>>>>> 4243 /lvl2/ SALES MARKETING CAKE & PASTRY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING CAKE & PASTRY", title_clean   = "SALES MARKETING CAKE & PASTRY", title_id  = "5233"  where id = '4243'
6258 /lvl1/ Supervisor Asuransi Kendaraan
3956 /lvl1/ Network Management Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1349 /lvl2/ Network Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3956"  where id = '1349'
=>>>>>>>>>>>>>>>>>>>>>> 1365 /lvl2/ Network Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3956"  where id = '1365'
6776 /lvl1/ Trade Marketing Supervisor Mt
=>>>>>>>>>>>>>>>>>>>>>> 19651 /lvl2/ Trade Marketing Supervisor MT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trade Marketing Supervisor MT", title_clean   = "Trade Marketing Supervisor MT", title_id  = "6776"  where id = '19651'
4219 /lvl1/ People Development Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 3266 /lvl2/ People Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4219"  where id = '3266'
3965 /lvl1/ New Product Formulation Staff
=>>>>>>>>>>>>>>>>>>>>>> 6802 /lvl2/ New Product Formulation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3965"  where id = '6802'
3198 /lvl1/ Kepala Divisi Teknisi Listrik
=>>>>>>>>>>>>>>>>>>>>>> 12474 /lvl2/ Kepala Divisi Teknisi Listrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3198"  where id = '12474'
640 /lvl1/ Biller Acquisition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4727 /lvl2/ Biller Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "640"  where id = '4727'
5504 /lvl1/ Senior Database Administrator
=>>>>>>>>>>>>>>>>>>>>>> 7610 /lvl2/ Senior Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5504"  where id = '7610'
=>>>>>>>>>>>>>>>>>>>>>> 18016 /lvl2/ Senior Database Administrator (Oracle)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Oracle)", title_clean   = " (Oracle)", title_id  = "5504"  where id = '18016'
=>>>>>>>>>>>>>>>>>>>>>> 18030 /lvl2/ Senior Database Administrator (Oracle)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Oracle)", title_clean   = " (Oracle)", title_id  = "5504"  where id = '18030'
3714 /lvl1/ Marketing Kunci Pintu Digital
=>>>>>>>>>>>>>>>>>>>>>> 2898 /lvl2/ MARKETING KUNCI PINTU DIGITAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING KUNCI PINTU DIGITAL", title_clean   = "MARKETING KUNCI PINTU DIGITAL", title_id  = "3714"  where id = '2898'
5762 /lvl1/ Site Survey & Design Engineer
899 /lvl1/ Chemical Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 15280 /lvl2/ Chemical Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "899"  where id = '15280'
6789 /lvl1/ Trainer Operations Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9179 /lvl2/ Trainer Operations Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6789"  where id = '9179'
1671 /lvl1/ Electronics Research Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5812 /lvl2/ Electronics Research Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1671"  where id = '5812'
2186 /lvl1/ General Affairs Section Chief
=>>>>>>>>>>>>>>>>>>>>>> 16791 /lvl2/ General Affairs Section Chief
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2186"  where id = '16791'
1166 /lvl1/ Cosmetic Business Development
=>>>>>>>>>>>>>>>>>>>>>> 10996 /lvl2/ COSMETIC BUSINESS DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COSMETIC BUSINESS DEVELOPMENT", title_clean   = "COSMETIC BUSINESS DEVELOPMENT", title_id  = "1166"  where id = '10996'
4750 /lvl1/ Qc Process Control Monitoring
=>>>>>>>>>>>>>>>>>>>>>> 3250 /lvl2/ QC Process Control Monitoring
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Process Control Monitoring", title_clean   = "QC Process Control Monitoring", title_id  = "4750"  where id = '3250'
6286 /lvl1/ Supervisor Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 20351 /lvl2/ Supervisor Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6286"  where id = '20351'
2708 /lvl1/ Information System Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 16553 /lvl2/ Information System Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2708"  where id = '16553'
6548 /lvl1/ Teachers For School & Daycare
6804 /lvl1/ Training Associate Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6287 /lvl2/ Training Associate Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6804"  where id = '6287'
5013 /lvl1/ Risk Management Division Head
=>>>>>>>>>>>>>>>>>>>>>> 9796 /lvl2/ Risk Management Division Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5013"  where id = '9796'
2712 /lvl1/ Infrastructure Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6410 /lvl2/ Infrastructure Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2712"  where id = '6410'
=>>>>>>>>>>>>>>>>>>>>>> 7576 /lvl2/ Infrastructure Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2712"  where id = '7576'
6553 /lvl1/ Team Leader Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1474 /lvl2/ Team Leader Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6553"  where id = '1474'
=>>>>>>>>>>>>>>>>>>>>>> 2102 /lvl2/ Team Leader Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6553"  where id = '2102'
1692 /lvl1/ Engineer Facility Data Center
=>>>>>>>>>>>>>>>>>>>>>> 8488 /lvl2/ Engineer Facility Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1692"  where id = '8488'
6045 /lvl1/ Staff General Affairs Project
=>>>>>>>>>>>>>>>>>>>>>> 13517 /lvl2/ Staff General Affairs Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6045"  where id = '13517'
=>>>>>>>>>>>>>>>>>>>>>> 13531 /lvl2/ Staff General Affairs Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6045"  where id = '13531'
670 /lvl1/ Branch Recruitment Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7819 /lvl2/ Branch Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "670"  where id = '7819'
=>>>>>>>>>>>>>>>>>>>>>> 8135 /lvl2/ Branch Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "670"  where id = '8135'
3747 /lvl1/ Marketing Sales Steel Product
3748 /lvl1/ Marketing Sales Hotel & Event
1957 /lvl1/ Finance Accounting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10017 /lvl2/ Finance Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1957"  where id = '10017'
=>>>>>>>>>>>>>>>>>>>>>> 12462 /lvl2/ Finance Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1957"  where id = '12462'
=>>>>>>>>>>>>>>>>>>>>>> 12607 /lvl2/ Finance Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1957"  where id = '12607'
3237 /lvl1/ Key Account Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10099 /lvl2/ Key Account Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3237"  where id = '10099'
4006 /lvl1/ Offline Marketing Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 12727 /lvl2/ Offline Marketing Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4006"  where id = '12727'
=>>>>>>>>>>>>>>>>>>>>>> 12840 /lvl2/ Offline Marketing Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4006"  where id = '12840'
1703 /lvl1/ Engineering Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 8554 /lvl2/ Building Engineering Assistant Manager (Jakarta Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Building -idex- (Jakarta Utara)", title_clean   = "Building  (Jakarta Utara)", title_id  = "1703"  where id = '8554'
=>>>>>>>>>>>>>>>>>>>>>> 14506 /lvl2/ Engineering Assistant Manager.
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-.", title_clean   = ".", title_id  = "1703"  where id = '14506'
=>>>>>>>>>>>>>>>>>>>>>> 14884 /lvl2/ Engineering Assistant Manager.
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-.", title_clean   = ".", title_id  = "1703"  where id = '14884'
2472 /lvl1/ Human Resources Communication
=>>>>>>>>>>>>>>>>>>>>>> 14063 /lvl2/ Human Resources Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2472"  where id = '14063'
6570 /lvl1/ Technical Admin Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 4268 /lvl2/ Technical Admin Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6570"  where id = '4268'
5803 /lvl1/ Software Development Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15694 /lvl2/ Software Development Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5803"  where id = '15694'
1196 /lvl1/ Course Maintenance Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 12899 /lvl2/ COURSE MAINTENANCE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COURSE MAINTENANCE SUPERVISOR", title_clean   = "COURSE MAINTENANCE SUPERVISOR", title_id  = "1196"  where id = '12899'
942 /lvl1/ Cleaning & Hygiene Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8474 /lvl2/ Cleaning & Hygiene Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "942"  where id = '8474'
4784 /lvl1/ Quality Control / Teknisi Lab
6576 /lvl1/ Technical Concrete Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1218 /lvl2/ Technical Concrete Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6576"  where id = '1218'
1969 /lvl1/ Finance Administrator Officer
=>>>>>>>>>>>>>>>>>>>>>> 18058 /lvl2/ Finance Administrator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1969"  where id = '18058'
=>>>>>>>>>>>>>>>>>>>>>> 18074 /lvl2/ Finance Administrator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1969"  where id = '18074'
2994 /lvl1/ It Security Operation Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7240 /lvl2/ IT Security Operation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Operation Analyst", title_clean   = "IT Security Operation Analyst", title_id  = "2994"  where id = '7240'
5046 /lvl1/ Sales & Key Account Executive
185 /lvl1/ Admin Finish Goods & Delivery
6331 /lvl1/ Supervisor Mine Plan Engineer
=>>>>>>>>>>>>>>>>>>>>>> 14387 /lvl2/ Supervisor Mine Plan Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6331"  where id = '14387'
6589 /lvl1/ Technical Recruitment Manager
=>>>>>>>>>>>>>>>>>>>>>> 7117 /lvl2/ Technical Recruitment Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6589"  where id = '7117'
1214 /lvl1/ Creative Production Assistant
=>>>>>>>>>>>>>>>>>>>>>> 10310 /lvl2/ Creative Production Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1214"  where id = '10310'
3007 /lvl1/ It Software Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 14903 /lvl2/ IT Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Software Quality Assurance", title_clean   = "IT Software Quality Assurance", title_id  = "3007"  where id = '14903'
=>>>>>>>>>>>>>>>>>>>>>> 15587 /lvl2/ IT Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Software Quality Assurance", title_clean   = "IT Software Quality Assurance", title_id  = "3007"  where id = '15587'
5569 /lvl1/ Senior Manager Operations_Pud
=>>>>>>>>>>>>>>>>>>>>>> 18891 /lvl2/ Senior Manager Operations_PUD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Manager Operations_PUD", title_clean   = "Senior Manager Operations_PUD", title_id  = "5569"  where id = '18891'
1218 /lvl1/ Credit Admin Processing Staff
=>>>>>>>>>>>>>>>>>>>>>> 12341 /lvl2/ Credit Admin Processing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1218"  where id = '12341'
1219 /lvl1/ Credit Administration Officer
=>>>>>>>>>>>>>>>>>>>>>> 6143 /lvl2/ Credit Administration Officer (Samarinda)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Samarinda)", title_clean   = " (Samarinda)", title_id  = "1219"  where id = '6143'
=>>>>>>>>>>>>>>>>>>>>>> 15435 /lvl2/ Credit Administration Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1219"  where id = '15435'
966 /lvl1/ Cloud Infrastructure Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6387 /lvl2/ Cloud Infrastructure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "966"  where id = '6387'
1480 /lvl1/ Digital Content Creator Staff
=>>>>>>>>>>>>>>>>>>>>>> 4542 /lvl2/ Digital Content Creator Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1480"  where id = '4542'
2249 /lvl1/ Graphic Designer & IT Support
=>>>>>>>>>>>>>>>>>>>>>> 14670 /lvl2/ Graphic Designer & IT Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2249"  where id = '14670'
6601 /lvl1/ Technical Solution Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12238 /lvl2/ Technical Solution Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6601"  where id = '12238'
6091 /lvl1/ Staff Legal & General Affairs
=>>>>>>>>>>>>>>>>>>>>>> 8345 /lvl2/ Staff Legal & General Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6091"  where id = '8345'
6092 /lvl1/ Staff Legal Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 675 /lvl2/ Staff Legal Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Legal Human ResourcesGA", title_clean   = "Staff Legal Human ResourcesGA", title_id  = "6092"  where id = '675'
2253 /lvl1/ Graphic Designer Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 19365 /lvl2/ Graphic Designer Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2253"  where id = '19365'
6607 /lvl1/ Technical Support After Sales
=>>>>>>>>>>>>>>>>>>>>>> 3813 /lvl2/ TECHNICAL SUPPORT AFTER SALES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPPORT AFTER SALES", title_clean   = "TECHNICAL SUPPORT AFTER SALES", title_id  = "6607"  where id = '3813'
1490 /lvl1/ Digital Marketing & Promotion
=>>>>>>>>>>>>>>>>>>>>>> 7837 /lvl2/ Digital Marketing & Promotion
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1490"  where id = '7837'
=>>>>>>>>>>>>>>>>>>>>>> 8159 /lvl2/ Digital Marketing & Promotion
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1490"  where id = '8159'
6098 /lvl1/ Staff Marketing & Advertising
4052 /lvl1/ Operation Transport Unit Head
=>>>>>>>>>>>>>>>>>>>>>> 17897 /lvl2/ Operation Transport Unit Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4052"  where id = '17897'
=>>>>>>>>>>>>>>>>>>>>>> 17916 /lvl2/ Operation Transport Unit Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4052"  where id = '17916'
4820 /lvl1/ Research and Development Chef
6100 /lvl1/ Staff Marketing Communication
=>>>>>>>>>>>>>>>>>>>>>> 9076 /lvl2/ Staff Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6100"  where id = '9076'
3802 /lvl1/ Mechanic Mobil Honda Cikarang
2781 /lvl1/ International Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 19944 /lvl2/ International Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2781"  where id = '19944'
991 /lvl1/ Comben Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 783 /lvl2/ Comben Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "991"  where id = '783'
4575 /lvl1/ Project Management Accountant
=>>>>>>>>>>>>>>>>>>>>>> 5348 /lvl2/ Project Management Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4575"  where id = '5348'
4831 /lvl1/ Research and Development Lead
=>>>>>>>>>>>>>>>>>>>>>> 9505 /lvl2/ Research and Development Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4831"  where id = '9505'
736 /lvl1/ Business Compliance Executive
=>>>>>>>>>>>>>>>>>>>>>> 18682 /lvl2/ BUSINESS COMPLIANCE EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS COMPLIANCE EXECUTIVE", title_clean   = "BUSINESS COMPLIANCE EXECUTIVE", title_id  = "736"  where id = '18682'
2789 /lvl1/ Intern Content Module Creator
=>>>>>>>>>>>>>>>>>>>>>> 6040 /lvl2/ Intern Content Module Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2789"  where id = '6040'
742 /lvl1/ Business Coordination Analyst
=>>>>>>>>>>>>>>>>>>>>>> 20185 /lvl2/ Business Coordination Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "742"  where id = '20185'
4582 /lvl1/ Project Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10488 /lvl2/ Project Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4582"  where id = '10488'
3559 /lvl1/ Manajer Laboratorium & Studio
3815 /lvl1/ Mechanical & Civil Technician

=>>>>>>>>>>>>>>>>>>>>>> 7567 /lvl2/ Mechanical & Civil Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3815"  where id = '7567'
6120 /lvl1/ Staff Pengadaan / Procurement
490 /lvl1/ Assistant Maintenance Manager
=>>>>>>>>>>>>>>>>>>>>>> 16256 /lvl2/ ASSISTANT MAINTENANCE MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MAINTENANCE MANAGER", title_clean   = "ASSISTANT MAINTENANCE MANAGER", title_id  = "490"  where id = '16256'
6378 /lvl1/ Supervisor Sales Data Analyst
1003 /lvl1/ Community & Alliances Manager
=>>>>>>>>>>>>>>>>>>>>>> 9803 /lvl2/ Community & Alliances Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1003"  where id = '9803'
5099 /lvl1/ Sales Buku Tulis & Kertas Hvs
6123 /lvl1/ Staff Perpajakan & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 6460 /lvl2/ Staff Perpajakan & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6123"  where id = '6460'
3564 /lvl1/ Mandarin Human Resource Staff
=>>>>>>>>>>>>>>>>>>>>>> 8936 /lvl2/ Mandarin Human Resource Staff 中文人力资源专员
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- 中文人力资源专员", title_clean   = " 中文人力资源专员", title_id  = "3564"  where id = '8936'
4076 /lvl1/ Operator Forklift Reach Truck
=>>>>>>>>>>>>>>>>>>>>>> 14471 /lvl2/ Operator Forklift Reach Truck
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4076"  where id = '14471'
5869 /lvl1/ Sponsorship Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 15257 /lvl2/ Sponsorship Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5869"  where id = '15257'
2030 /lvl1/ Financial Planning & Analysis
=>>>>>>>>>>>>>>>>>>>>>> 7741 /lvl2/ Financial Planning & Analysis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2030"  where id = '7741'
=>>>>>>>>>>>>>>>>>>>>>> 8059 /lvl2/ Financial Planning & Analysis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2030"  where id = '8059'
=>>>>>>>>>>>>>>>>>>>>>> 20272 /lvl2/ Indonesia WeLab Digital Bank – Senior Manager, Financial Planning & Analysis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Indonesia WeLab Digital Bank – Senior Manager, -idex-", title_clean   = "Indonesia WeLab Digital Bank – Senior Manager, ", title_id  = "2030"  where id = '20272'
5614 /lvl1/ Senior Recruitment Consultant
=>>>>>>>>>>>>>>>>>>>>>> 15391 /lvl2/ Senior Recruitment Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5614"  where id = '15391'
=>>>>>>>>>>>>>>>>>>>>>> 19182 /lvl2/ Senior Recruitment Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5614"  where id = '19182'
6894 /lvl1/ Video Editor & Design Graphis
5615 /lvl1/ Senior Recruitment Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5829 /lvl2/ Senior Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5615"  where id = '5829'
4852 /lvl1/ React Native Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 7704 /lvl2/ REACT NATIVE MOBILE DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REACT NATIVE MOBILE DEVELOPER", title_clean   = "REACT NATIVE MOBILE DEVELOPER", title_id  = "4852"  where id = '7704'
2038 /lvl1/ Financial Planning Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1546 /lvl2/ Financial Planning Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2038"  where id = '1546'
5110 /lvl1/ Sales Coating Section Manager
=>>>>>>>>>>>>>>>>>>>>>> 13826 /lvl2/ Sales Coating Section Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5110"  where id = '13826'
5622 /lvl1/ Senior Researcher Electronics
=>>>>>>>>>>>>>>>>>>>>>> 3225 /lvl2/ Senior Researcher Electronics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5622"  where id = '3225'
3578 /lvl1/ Mandarin Technical Translator
=>>>>>>>>>>>>>>>>>>>>>> 7361 /lvl2/ Mandarin Technical Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3578"  where id = '7361'
2299 /lvl1/ Guru Preschool & Kindergarten
=>>>>>>>>>>>>>>>>>>>>>> 20183 /lvl2/ Guru Preschool & Kindergarten
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2299"  where id = '20183'
3836 /lvl1/ Mechatronics Service Engineer
=>>>>>>>>>>>>>>>>>>>>>> 14702 /lvl2/ Mechatronics Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3836"  where id = '14702'
=>>>>>>>>>>>>>>>>>>>>>> 15104 /lvl2/ Mechatronics Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3836"  where id = '15104'
766 /lvl1/ Business Development Software
=>>>>>>>>>>>>>>>>>>>>>> 9349 /lvl2/ Business Development Software
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "766"  where id = '9349'
5887 /lvl1/ Staff Administrasi & Keuangan
1025 /lvl1/ Compliance & Audit Executive
4353 /lvl1/ Pr & Digital Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 10800 /lvl2/ PR & Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PR & Digital Marketing Staff", title_clean   = "PR & Digital Marketing Staff", title_id  = "4353"  where id = '10800'
514 /lvl1/ Assistant Manager Operations
=>>>>>>>>>>>>>>>>>>>>>> 8477 /lvl2/ Assistant Manager Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "514"  where id = '8477'
4354 /lvl1/ Pr & Social Media Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9214 /lvl2/ PR & Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PR & Social Media Specialist", title_clean   = "PR & Social Media Specialist", title_id  = "4354"  where id = '9214'
4610 /lvl1/ Project Specifier Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9659 /lvl2/ Project Specifier Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4610"  where id = '9659'
6914 /lvl1/ Visual Comunication Designer
=>>>>>>>>>>>>>>>>>>>>>> 5180 /lvl2/ Visual Comunication Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6914"  where id = '5180'
3332 /lvl1/ Learning Designer Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18731 /lvl2/ Learning Designer Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3332"  where id = '18731'
773 /lvl1/ Business Improvement Process
=>>>>>>>>>>>>>>>>>>>>>> 10748 /lvl2/ Business Improvement Process
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "773"  where id = '10748'
2309 /lvl1/ Guru Teknologi Ilmu Komputer
=>>>>>>>>>>>>>>>>>>>>>> 20494 /lvl2/ Guru Teknologi Ilmu Komputer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2309"  where id = '20494'
6917 /lvl1/ Visual Merchandising Officer
=>>>>>>>>>>>>>>>>>>>>>> 13256 /lvl2/ VISUAL MERCHANDISING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "VISUAL MERCHANDISING OFFICER", title_clean   = "VISUAL MERCHANDISING OFFICER", title_id  = "6917"  where id = '13256'
3846 /lvl1/ Medical IT Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 1307 /lvl2/ Medical IT Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3846"  where id = '1307'
2823 /lvl1/ Investor Relation Sect. Head
=>>>>>>>>>>>>>>>>>>>>>> 10248 /lvl2/ Investor Relation Sect. Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2823"  where id = '10248'
2824 /lvl1/ Investor Relation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 611 /lvl2/ Investor Relation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2824"  where id = '611'
1289 /lvl1/ Customer Relation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4452 /lvl2/ Customer Relation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1289"  where id = '4452'
3082 /lvl1/ Junior Accounting Consultant
=>>>>>>>>>>>>>>>>>>>>>> 15529 /lvl2/ Junior Accounting Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3082"  where id = '15529'
524 /lvl1/ Assistant Manager Translator
3852 /lvl1/ Medical Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 1890 /lvl2/ MEDICAL SALES REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL SALES REPRESENTATIVE", title_clean   = "MEDICAL SALES REPRESENTATIVE", title_id  = "3852"  where id = '1890'
=>>>>>>>>>>>>>>>>>>>>>> 8664 /lvl2/ Medical Sales Representative  (Code: MSR - GEM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  (Code: MSR - GEM)", title_clean   = "  (Code: MSR - GEM)", title_id  = "3852"  where id = '8664'
782 /lvl1/ Business Operation Assistant

=>>>>>>>>>>>>>>>>>>>>>> 3909 /lvl2/ 业务助理 Business Operation Assistant (Location: Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "业务助理 -idex- (Location: Jakarta)", title_clean   = "业务助理  (Location: Jakarta)", title_id  = "782"  where id = '3909'
=>>>>>>>>>>>>>>>>>>>>>> 12199 /lvl2/ Business Operation Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "782"  where id = '12199'
=>>>>>>>>>>>>>>>>>>>>>> 12221 /lvl2/ Business Operation Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "782"  where id = '12221'
5648 /lvl1/ Senior Strategic Partnership
=>>>>>>>>>>>>>>>>>>>>>> 3384 /lvl2/ Senior Strategic Partnership
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5648"  where id = '3384'
1553 /lvl1/ Dokumen Pelaksanaan Anggaran
2066 /lvl1/ Focus Improvement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14319 /lvl2/ Focus Improvement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2066"  where id = '14319'
1299 /lvl1/ Coordinator Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 714 /lvl2/ Customer Service / Coordinator Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Customer Service / -idex-", title_clean   = "Customer Service / ", title_id  = "1299"  where id = '714'
6419 /lvl1/ Supply & Demand Section Head
4628 /lvl1/ Property Hospitality Manager
=>>>>>>>>>>>>>>>>>>>>>> 15384 /lvl2/ Property Hospitality Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4628"  where id = '15384'
277 /lvl1/ Admin Verification Telephone
=>>>>>>>>>>>>>>>>>>>>>> 10980 /lvl2/ Admin Verification Telephone
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "277"  where id = '10980'
2070 /lvl1/ Food & Beverage Service Team
=>>>>>>>>>>>>>>>>>>>>>> 8903 /lvl2/ Food & Beverage Service Team
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2070"  where id = '8903'
6935 /lvl1/ Warehouse & Logistic Manager
=>>>>>>>>>>>>>>>>>>>>>> 1253 /lvl2/ WAREHOUSE & LOGISTIC MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE & LOGISTIC MANAGER", title_clean   = "WAREHOUSE & LOGISTIC MANAGER", title_id  = "6935"  where id = '1253'
=>>>>>>>>>>>>>>>>>>>>>> 1266 /lvl2/ WAREHOUSE & LOGISTIC MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE & LOGISTIC MANAGER", title_clean   = "WAREHOUSE & LOGISTIC MANAGER", title_id  = "6935"  where id = '1266'
=>>>>>>>>>>>>>>>>>>>>>> 12020 /lvl2/ Warehouse & Logistic Manager (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "6935"  where id = '12020'
3609 /lvl1/ Marketing / Branding Manager
27 /lvl1/ Account Executive Enterprise
=>>>>>>>>>>>>>>>>>>>>>> 5002 /lvl2/ Account Executive Enterprise
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "27"  where id = '5002'
539 /lvl1/ Assistant Purchasing Manager
=>>>>>>>>>>>>>>>>>>>>>> 10090 /lvl2/ Assistant Purchasing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "539"  where id = '10090'
795 /lvl1/ Business Process Improvement
=>>>>>>>>>>>>>>>>>>>>>> 6972 /lvl2/ Business Process Improvement & RPA Consultant (Project Lead\u002FManager)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & RPA Consultant (Project Lead\u002FManager)", title_clean   = " & RPA Consultant (Project Lead\u002FManager)", title_id  = "795"  where id = '6972'
=>>>>>>>>>>>>>>>>>>>>>> 7307 /lvl2/ Business Process Improvement & RPA Consultant (Consultant or Senior Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & RPA Consultant (Consultant or Senior Consultant)", title_clean   = " & RPA Consultant (Consultant or Senior Consultant)", title_id  = "795"  where id = '7307'
=>>>>>>>>>>>>>>>>>>>>>> 12659 /lvl2/ Business Process Improvement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "795"  where id = '12659'
6171 /lvl1/ Staff Tax Accounting Finance
=>>>>>>>>>>>>>>>>>>>>>> 16887 /lvl2/ STAFF TAX ACCOUNTING FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF TAX ACCOUNTING FINANCE", title_clean   = "STAFF TAX ACCOUNTING FINANCE", title_id  = "6171"  where id = '16887'
1308 /lvl1/ Customer Service Emkl Ekspor
=>>>>>>>>>>>>>>>>>>>>>> 19078 /lvl2/ Customer Service EMKL Ekspor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Customer Service EMKL Ekspor", title_clean   = "Customer Service EMKL Ekspor", title_id  = "1308"  where id = '19078'
3612 /lvl1/ Marketing / Customer Service
285 /lvl1/ Administrasi Gudang Material
=>>>>>>>>>>>>>>>>>>>>>> 41 /lvl2/ ADMINISTRASI GUDANG MATERIAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI GUDANG MATERIAL", title_clean   = "ADMINISTRASI GUDANG MATERIAL", title_id  = "285"  where id = '41'
1309 /lvl1/ Customer Service Emkl Import
=>>>>>>>>>>>>>>>>>>>>>> 18579 /lvl2/ Customer Service EMKL Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Customer Service EMKL Import", title_clean   = "Customer Service EMKL Import", title_id  = "1309"  where id = '18579'
=>>>>>>>>>>>>>>>>>>>>>> 18596 /lvl2/ Customer Service EMKL Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Customer Service EMKL Import", title_clean   = "Customer Service EMKL Import", title_id  = "1309"  where id = '18596'
3357 /lvl1/ Legal Administration Officer
=>>>>>>>>>>>>>>>>>>>>>> 8930 /lvl2/ Legal Administration Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3357"  where id = '8930'
6430 /lvl1/ Support System Administrator
=>>>>>>>>>>>>>>>>>>>>>> 3265 /lvl2/ Support System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6430"  where id = '3265'
=>>>>>>>>>>>>>>>>>>>>>> 12738 /lvl2/ Support System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6430"  where id = '12738'
800 /lvl1/ Business Strategic Associate
=>>>>>>>>>>>>>>>>>>>>>> 1487 /lvl2/ Business Strategic Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "800"  where id = '1487'
3616 /lvl1/ Marketing & Branding Manager
=>>>>>>>>>>>>>>>>>>>>>> 981 /lvl2/ Marketing & Branding Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3616"  where id = '981'
6432 /lvl1/ Survey & Certification Staff
=>>>>>>>>>>>>>>>>>>>>>> 374 /lvl2/ Survey & Certification Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6432"  where id = '374'
=>>>>>>>>>>>>>>>>>>>>>> 412 /lvl2/ Survey & Certification Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6432"  where id = '412'
1313 /lvl1/ Customer Service Information
=>>>>>>>>>>>>>>>>>>>>>> 13205 /lvl2/ Customer Service Information
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1313"  where id = '13205'
=>>>>>>>>>>>>>>>>>>>>>> 13222 /lvl2/ Customer Service Information
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1313"  where id = '13222'
3107 /lvl1/ Junior Geotechnical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6946 /lvl2/ Junior Geotechnical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3107"  where id = '6946'
1316 /lvl1/ Customer Service Mancanegara
=>>>>>>>>>>>>>>>>>>>>>> 15604 /lvl2/ Customer Service Mancanegara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1316"  where id = '15604'
2340 /lvl1/ Head New Product Development
=>>>>>>>>>>>>>>>>>>>>>> 2104 /lvl2/ Head New Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2340"  where id = '2104'
552 /lvl1/ Assistant To Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 3651 /lvl2/ Assistant to Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant to Product Manager", title_clean   = "Assistant to Product Manager", title_id  = "552"  where id = '3651'
4904 /lvl1/ Regional Key Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 18472 /lvl2/ Regional Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4904"  where id = '18472'
43 /lvl1/ Account Payable Group Leader

4909 /lvl1/ Regional Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 1608 /lvl2/ Regional Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4909"  where id = '1608'
5165 /lvl1/ Sales Executive Food Service
=>>>>>>>>>>>>>>>>>>>>>> 8596 /lvl2/ Sales Executive Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5165"  where id = '8596'
=>>>>>>>>>>>>>>>>>>>>>> 13466 /lvl2/ Sales Executive Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5165"  where id = '13466'
=>>>>>>>>>>>>>>>>>>>>>> 13485 /lvl2/ Sales Executive Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5165"  where id = '13485'
559 /lvl1/ Associate / Senior Associate
5423 /lvl1/ Sedayu One Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 9590 /lvl2/ Sedayu One Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5423"  where id = '9590'
1072 /lvl1/ Content Creator Social Media
=>>>>>>>>>>>>>>>>>>>>>> 10734 /lvl2/ Content Creator Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1072"  where id = '10734'
=>>>>>>>>>>>>>>>>>>>>>> 13389 /lvl2/ Content Creator Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1072"  where id = '13389'
=>>>>>>>>>>>>>>>>>>>>>> 13588 /lvl2/ Content Creator Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1072"  where id = '13588'
2352 /lvl1/ Head of Economic Empowerment
=>>>>>>>>>>>>>>>>>>>>>> 7465 /lvl2/ Head of Economic Empowerment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2352"  where id = '7465'
3889 /lvl1/ Microsoft Power Bi Developer
=>>>>>>>>>>>>>>>>>>>>>> 5580 /lvl2/ Microsoft Power BI Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Microsoft Power BI Developer", title_clean   = "Microsoft Power BI Developer", title_id  = "3889"  where id = '5580'
2098 /lvl1/ Freelance Phone Verification
=>>>>>>>>>>>>>>>>>>>>>> 3207 /lvl2/ Freelance Phone Verification
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2098"  where id = '3207'
3890 /lvl1/ Mid Level Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 9797 /lvl2/ Mid Level Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3890"  where id = '9797'
3635 /lvl1/ Marketing & Sales Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20489 /lvl2/ Marketing & Sales Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3635"  where id = '20489'
5171 /lvl1/ Sales Executive Life Science
=>>>>>>>>>>>>>>>>>>>>>> 6070 /lvl2/ Sales Executive Life Science
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5171"  where id = '6070'
1333 /lvl1/ Customer Support Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 11328 /lvl2/ CUSTOMER SUPPORT TEAM LEADER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SUPPORT TEAM LEADER", title_clean   = "CUSTOMER SUPPORT TEAM LEADER", title_id  = "1333"  where id = '11328'
6197 /lvl1/ Store Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12982 /lvl2/ Store Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6197"  where id = '12982'
6453 /lvl1/ System Administrator Officer
=>>>>>>>>>>>>>>>>>>>>>> 5838 /lvl2/ System Administrator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6453"  where id = '5838'
2102 /lvl1/ Freight Forwarding Marketing
=>>>>>>>>>>>>>>>>>>>>>> 3924 /lvl2/ FREIGHT FORWARDING MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FREIGHT FORWARDING MARKETING", title_clean   = "FREIGHT FORWARDING MARKETING", title_id  = "2102"  where id = '3924'
2358 /lvl1/ Head of Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 5038 /lvl2/ Head of Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2358"  where id = '5038'
=>>>>>>>>>>>>>>>>>>>>>> 14127 /lvl2/ Head of Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2358"  where id = '14127'
4662 /lvl1/ Purchasing Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 10192 /lvl2/ PURCHASING ASSISTANT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING ASSISTANT MANAGER", title_clean   = "PURCHASING ASSISTANT MANAGER", title_id  = "4662"  where id = '10192'
1079 /lvl1/ Content Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2287 /lvl2/ Content Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1079"  where id = '2287'
=>>>>>>>>>>>>>>>>>>>>>> 15027 /lvl2/ Social Media and Content Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Social Media and -idex-", title_clean   = "Social Media and ", title_id  = "1079"  where id = '15027'
4921 /lvl1/ Regional Treasury Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13837 /lvl2/ Regional Treasury Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4921"  where id = '13837'
=>>>>>>>>>>>>>>>>>>>>>> 13852 /lvl2/ Regional Treasury Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4921"  where id = '13852'
6201 /lvl1/ Store Manager Coach Makassar
=>>>>>>>>>>>>>>>>>>>>>> 7762 /lvl2/ Store Manager Coach Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6201"  where id = '7762'
=>>>>>>>>>>>>>>>>>>>>>> 9255 /lvl2/ Assistant Store Manager Coach Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex-", title_clean   = "Assistant ", title_id  = "6201"  where id = '9255'
=>>>>>>>>>>>>>>>>>>>>>> 9262 /lvl2/ Store Manager Coach Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6201"  where id = '9262'
5948 /lvl1/ Staff Accounting & Staff Tax
6204 /lvl1/ Store Manager Retail Fashion
=>>>>>>>>>>>>>>>>>>>>>> 9196 /lvl2/ STORE MANAGER RETAIL FASHION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE MANAGER RETAIL FASHION", title_clean   = "STORE MANAGER RETAIL FASHION", title_id  = "6204"  where id = '9196'
2879 /lvl1/ It Data Architect Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2083 /lvl2/ IT Data Architect Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Data Architect Specialist", title_clean   = "IT Data Architect Specialist", title_id  = "2879"  where id = '2083'
832 /lvl1/ Capex Procurement Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5854 /lvl2/ Capex Procurement Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "832"  where id = '5854'
6209 /lvl1/ Store Supervisor Banjarmasin
=>>>>>>>>>>>>>>>>>>>>>> 11573 /lvl2/ Store Supervisor Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6209"  where id = '11573'
5698 /lvl1/ Server / Waitress / Waitress
2883 /lvl1/ It Data Scientist Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16303 /lvl2/ IT Data Scientist Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Data Scientist Specialist", title_clean   = "IT Data Scientist Specialist", title_id  = "2883"  where id = '16303'
3651 /lvl1/ Marketing Business Associate
=>>>>>>>>>>>>>>>>>>>>>> 1986 /lvl2/ Marketing Business Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3651"  where id = '1986'
68 /lvl1/ Accounting & Finance Manager
=>>>>>>>>>>>>>>>>>>>>>> 1904 /lvl2/ ACCOUNTING & FINANCE MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & FINANCE MANAGER", title_clean   = "ACCOUNTING & FINANCE MANAGER", title_id  = "68"  where id = '1904'
=>>>>>>>>>>>>>>>>>>>>>> 10207 /lvl2/ Accounting & Finance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "68"  where id = '10207'
=>>>>>>>>>>>>>>>>>>>>>> 19444 /lvl2/ Accounting & Finance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "68"  where id = '19444'
4164 /lvl1/ Payroll Assistant Consultant
=>>>>>>>>>>>>>>>>>>>>>> 794 /lvl2/ Payroll Assistant Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4164"  where id = '794'
=>>>>>>>>>>>>>>>>>>>>>> 1445 /lvl2/ Payroll Assistant Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4164"  where id = '1445'
69 /lvl1/ Accounting & Finance Officer

=>>>>>>>>>>>>>>>>>>>>>> 342 /lvl2/ ACCOUNTING & FINANCE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & FINANCE OFFICER", title_clean   = "ACCOUNTING & FINANCE OFFICER", title_id  = "69"  where id = '342'
6213 /lvl1/ Strategic Management Officer
=>>>>>>>>>>>>>>>>>>>>>> 17371 /lvl2/ Strategic Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6213"  where id = '17371'
3910 /lvl1/ Mobile Application Developer
=>>>>>>>>>>>>>>>>>>>>>> 10822 /lvl2/ Mobile Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3910"  where id = '10822'
=>>>>>>>>>>>>>>>>>>>>>> 11059 /lvl2/ Mobile Application Developer (Android and iOS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Android and iOS)", title_clean   = " (Android and iOS)", title_id  = "3910"  where id = '11059'
=>>>>>>>>>>>>>>>>>>>>>> 11754 /lvl2/ Mobile Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3910"  where id = '11754'
4941 /lvl1/ Relationship Manager Funding
=>>>>>>>>>>>>>>>>>>>>>> 15485 /lvl2/ Relationship Manager Funding (Cirebon & Cianjur)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cirebon & Cianjur)", title_clean   = " (Cirebon & Cianjur)", title_id  = "4941"  where id = '15485'
=>>>>>>>>>>>>>>>>>>>>>> 15972 /lvl2/ Relationship Manager Funding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4941"  where id = '15972'
5197 /lvl1/ Sales Industry / Engineering
=>>>>>>>>>>>>>>>>>>>>>> 4241 /lvl2/ Sales Industry / Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5197"  where id = '4241'
=>>>>>>>>>>>>>>>>>>>>>> 7219 /lvl2/ Sales Industry / Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5197"  where id = '7219'
4430 /lvl1/ Product & Packaging Designer
=>>>>>>>>>>>>>>>>>>>>>> 2324 /lvl2/ PRODUCT & PACKAGING DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT & PACKAGING DESIGNER", title_clean   = "PRODUCT & PACKAGING DESIGNER", title_id  = "4430"  where id = '2324'
4943 /lvl1/ Relationship Manager Lending
=>>>>>>>>>>>>>>>>>>>>>> 15348 /lvl2/ Relationship Manager Lending
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4943"  where id = '15348'
=>>>>>>>>>>>>>>>>>>>>>> 19699 /lvl2/ Relationship Manager Lending - SME&Commercial Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - SME&Commercial Banking", title_clean   = " - SME&Commercial Banking", title_id  = "4943"  where id = '19699'
6480 /lvl1/ Talent Acquisition Executive
=>>>>>>>>>>>>>>>>>>>>>> 284 /lvl2/ Talent Acquisition Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6480"  where id = '284'
6992 /lvl1/ Website Technical Consultant
=>>>>>>>>>>>>>>>>>>>>>> 13386 /lvl2/ Website Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6992"  where id = '13386'
=>>>>>>>>>>>>>>>>>>>>>> 13585 /lvl2/ Website Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6992"  where id = '13585'
=>>>>>>>>>>>>>>>>>>>>>> 13604 /lvl2/ Website Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6992"  where id = '13604'
2129 /lvl1/ Full Stack Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4714 /lvl2/ Full Stack Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2129"  where id = '4714'
2130 /lvl1/ Full Stack Website Developer
=>>>>>>>>>>>>>>>>>>>>>> 11033 /lvl2/ Full Stack Website Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2130"  where id = '11033'
2644 /lvl1/ Hydraulic Cylinder Technical
=>>>>>>>>>>>>>>>>>>>>>> 6493 /lvl2/ Hydraulic Cylinder Technical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2644"  where id = '6493'
597 /lvl1/ Back End Developer Unit Head
5461 /lvl1/ Senior Admin Marketing Lokal
=>>>>>>>>>>>>>>>>>>>>>> 13450 /lvl2/ Senior Admin Marketing Lokal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5461"  where id = '13450'
2135 /lvl1/ Fulltime Host Live Streaming
=>>>>>>>>>>>>>>>>>>>>>> 19035 /lvl2/ Fulltime Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2135"  where id = '19035'
5463 /lvl1/ Senior Administration Staff.
=>>>>>>>>>>>>>>>>>>>>>> 13168 /lvl2/ Senior Administration Staff.
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5463"  where id = '13168'
2904 /lvl1/ It Governance & Risk Manager
91 /lvl1/ Accounting Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1346 /lvl2/ Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "91"  where id = '1346'
=>>>>>>>>>>>>>>>>>>>>>> 1363 /lvl2/ Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "91"  where id = '1363'
=>>>>>>>>>>>>>>>>>>>>>> 14445 /lvl2/ Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "91"  where id = '14445'
=>>>>>>>>>>>>>>>>>>>>>> 14821 /lvl2/ Accounting Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "91"  where id = '14821'
=>>>>>>>>>>>>>>>>>>>>>> 19108 /lvl2/ Cost Accounting Assistant Manager (Purwakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cost -idex- (Purwakarta)", title_clean   = "Cost  (Purwakarta)", title_id  = "91"  where id = '19108'
6235 /lvl1/ Studio & Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 20206 /lvl2/ Studio & Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6235"  where id = '20206'
4957 /lvl1/ Reporter Properti Kompas.Com
=>>>>>>>>>>>>>>>>>>>>>> 16076 /lvl2/ Reporter Properti KOMPAS.com
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Reporter Properti KOMPAS.com", title_clean   = "Reporter Properti KOMPAS.com", title_id  = "4957"  where id = '16076'
4191 /lvl1/ Pengawas Lapangan / Bangunan
6495 /lvl1/ Talent Management Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6537 /lvl2/ Talent Management Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6495"  where id = '6537'
=>>>>>>>>>>>>>>>>>>>>>> 20508 /lvl2/ HRBP Supervisor (Talent Management Specialist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRBP Supervisor (-idex-)", title_clean   = "HRBP Supervisor ()", title_id  = "6495"  where id = '20508'
608 /lvl1/ Bancassurance Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 1953 /lvl2/ Bancassurance Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "608"  where id = '1953'
4192 /lvl1/ Pengawas Lapangan Alat Berat
=>>>>>>>>>>>>>>>>>>>>>> 10167 /lvl2/ Pengawas Lapangan Alat Berat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4192"  where id = '10167'
5728 /lvl1/ Ship Operation Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 150 /lvl2/ Ship Operation Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5728"  where id = '150'
6496 /lvl1/ Talent Management Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 864 /lvl2/ TALENT MANAGEMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TALENT MANAGEMENT SUPERVISOR", title_clean   = "TALENT MANAGEMENT SUPERVISOR", title_id  = "6496"  where id = '864'
=>>>>>>>>>>>>>>>>>>>>>> 4219 /lvl2/ Talent Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6496"  where id = '4219'
=>>>>>>>>>>>>>>>>>>>>>> 5395 /lvl2/ Talent Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6496"  where id = '5395'
2145 /lvl1/ Funding Relationship Manager
=>>>>>>>>>>>>>>>>>>>>>> 1553 /lvl2/ RETAIL FUNDING RELATIONSHIP MANAGER (MEDAN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RETAIL FUNDING RELATIONSHIP MANAGER (MEDAN)", title_clean   = "RETAIL FUNDING RELATIONSHIP MANAGER (MEDAN)", title_id  = "2145"  where id = '1553'
=>>>>>>>>>>>>>>>>>>>>>> 1998 /lvl2/ RETAIL FUNDING RELATIONSHIP MANAGER (BANDUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RETAIL FUNDING RELATIONSHIP MANAGER (BANDUNG)", title_clean   = "RETAIL FUNDING RELATIONSHIP MANAGER (BANDUNG)", title_id  = "2145"  where id = '1998'
=>>>>>>>>>>>>>>>>>>>>>> 2241 /lvl2/ RETAIL FUNDING RELATIONSHIP MANAGER (SURABAYA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RETAIL FUNDING RELATIONSHIP MANAGER (SURABAYA)", title_clean   = "RETAIL FUNDING RELATIONSHIP MANAGER (SURABAYA)", title_id  = "2145"  where id = '2241'
=>>>>>>>>>>>>>>>>>>>>>> 2373 /lvl2/ RETAIL FUNDING RELATIONSHIP MANAGER (JAWA TENGAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RETAIL FUNDING RELATIONSHIP MANAGER (JAWA TENGAH)", title_clean   = "RETAIL FUNDING RELATIONSHIP MANAGER (JAWA TENGAH)", title_id  = "2145"  where id = '2373'
=>>>>>>>>>>>>>>>>>>>>>> 2651 /lvl2/ Funding Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2145"  where id = '2651'
=>>>>>>>>>>>>>>>>>>>>>> 10568 /lvl2/ RETAIL FUNDING RELATIONSHIP MANAGER (JABODETABEK)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RETAIL FUNDING RELATIONSHIP MANAGER (JABODETABEK)", title_clean   = "RETAIL FUNDING RELATIONSHIP MANAGER (JABODETABEK)", title_id  = "2145"  where id = '10568'
3425 /lvl1/ M.E.I. Construction Engineer

=>>>>>>>>>>>>>>>>>>>>>> 2059 /lvl2/ M.E.I. Construction Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3425"  where id = '2059'
1890 /lvl1/ Field Collection Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 2634 /lvl2/ Field Collection Coordinator (Bandung Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung Area)", title_clean   = " (Bandung Area)", title_id  = "1890"  where id = '2634'
=>>>>>>>>>>>>>>>>>>>>>> 2687 /lvl2/ Field Collection Coordinator (Balikpapan Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Balikpapan Area)", title_clean   = " (Balikpapan Area)", title_id  = "1890"  where id = '2687'
=>>>>>>>>>>>>>>>>>>>>>> 2695 /lvl2/ Field Collection Coordinator (Kediri Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Kediri Area)", title_clean   = " (Kediri Area)", title_id  = "1890"  where id = '2695'
=>>>>>>>>>>>>>>>>>>>>>> 2778 /lvl2/ Field Collection Coordinator (Medan Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan Area)", title_clean   = " (Medan Area)", title_id  = "1890"  where id = '2778'
=>>>>>>>>>>>>>>>>>>>>>> 3175 /lvl2/ Field Collection Coordinator (Surabaya Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya Area)", title_clean   = " (Surabaya Area)", title_id  = "1890"  where id = '3175'
=>>>>>>>>>>>>>>>>>>>>>> 5242 /lvl2/ Field Collection Coordinator (Yogyakarta Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Yogyakarta Area)", title_clean   = " (Yogyakarta Area)", title_id  = "1890"  where id = '5242'
=>>>>>>>>>>>>>>>>>>>>>> 5632 /lvl2/ Field Collection Coordinator (Purwakarta Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Purwakarta Area)", title_clean   = " (Purwakarta Area)", title_id  = "1890"  where id = '5632'
5218 /lvl1/ Sales Manager Glass Division
=>>>>>>>>>>>>>>>>>>>>>> 16299 /lvl2/ Sales Manager Glass Division
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5218"  where id = '16299'
1892 /lvl1/ Field Collection Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 1868 /lvl2/ Field Collection Team Leader Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "1892"  where id = '1868'
=>>>>>>>>>>>>>>>>>>>>>> 1934 /lvl2/ Field Collection Team Leader Manado
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Manado", title_clean   = " Manado", title_id  = "1892"  where id = '1934'
=>>>>>>>>>>>>>>>>>>>>>> 5803 /lvl2/ Field Collection Team Leader (Area Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Jabodetabek)", title_clean   = " (Area Jabodetabek)", title_id  = "1892"  where id = '5803'
=>>>>>>>>>>>>>>>>>>>>>> 7845 /lvl2/ Field Collection Team Leader Pangkal Pinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pangkal Pinang", title_clean   = " Pangkal Pinang", title_id  = "1892"  where id = '7845'
=>>>>>>>>>>>>>>>>>>>>>> 8169 /lvl2/ Field Collection Team Leader Pangkal Pinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pangkal Pinang", title_clean   = " Pangkal Pinang", title_id  = "1892"  where id = '8169'
=>>>>>>>>>>>>>>>>>>>>>> 10072 /lvl2/ Field Collection Team Leader / Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- / Coordinator", title_clean   = " / Coordinator", title_id  = "1892"  where id = '10072'
=>>>>>>>>>>>>>>>>>>>>>> 13956 /lvl2/ Field Collection Team Leader (Palembang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang)", title_clean   = " (Palembang)", title_id  = "1892"  where id = '13956'
2405 /lvl1/ Head of Warehouse Operations
=>>>>>>>>>>>>>>>>>>>>>> 19483 /lvl2/ Head of Warehouse Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2405"  where id = '19483'
1126 /lvl1/ Corporate Communication Head
=>>>>>>>>>>>>>>>>>>>>>> 5769 /lvl2/ Corporate Communication Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1126"  where id = '5769'
=>>>>>>>>>>>>>>>>>>>>>> 17138 /lvl2/ Corporate Communication Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1126"  where id = '17138'
4455 /lvl1/ Product Manager / Purchasing
4967 /lvl1/ Research & Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 994 /lvl2/ Research & Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4967"  where id = '994'
=>>>>>>>>>>>>>>>>>>>>>> 11713 /lvl2/ Research & Development Staff (Cosmetics)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cosmetics)", title_clean   = " (Cosmetics)", title_id  = "4967"  where id = '11713'
=>>>>>>>>>>>>>>>>>>>>>> 13758 /lvl2/ Research & Development Staff (Research and Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Research and Development)", title_clean   = " (Research and Development)", title_id  = "4967"  where id = '13758'
=>>>>>>>>>>>>>>>>>>>>>> 17697 /lvl2/ RESEARCH & DEVELOPMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH & DEVELOPMENT STAFF", title_clean   = "RESEARCH & DEVELOPMENT STAFF", title_id  = "4967"  where id = '17697'
=>>>>>>>>>>>>>>>>>>>>>> 17707 /lvl2/ RESEARCH & DEVELOPMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH & DEVELOPMENT STAFF", title_clean   = "RESEARCH & DEVELOPMENT STAFF", title_id  = "4967"  where id = '17707'
1129 /lvl1/ Corporate Data Analyst Staff
=>>>>>>>>>>>>>>>>>>>>>> 10429 /lvl2/ Corporate Data Analyst Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1129"  where id = '10429'
875 /lvl1/ Channel Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4179 /lvl2/ Channel Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "875"  where id = '4179'
876 /lvl1/ Channel Operation Spesialist
=>>>>>>>>>>>>>>>>>>>>>> 3764 /lvl2/ Channel Operation Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "876"  where id = '3764'
2412 /lvl1/ Health Benefit Claim Manager
=>>>>>>>>>>>>>>>>>>>>>> 10677 /lvl2/ Health Benefit Claim Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2412"  where id = '10677'
=>>>>>>>>>>>>>>>>>>>>>> 10698 /lvl2/ Health Benefit Claim Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2412"  where id = '10698'
3948 /lvl1/ National Key Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 2328 /lvl2/ National Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3948"  where id = '2328'
6508 /lvl1/ Tax Accountant / Finance Tax
=>>>>>>>>>>>>>>>>>>>>>> 6509 /lvl2/ Tax Accountant / Finance Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6508"  where id = '6509'
5231 /lvl1/ Sales Marketing B2B Cikarang
=>>>>>>>>>>>>>>>>>>>>>> 16321 /lvl2/ Sales Marketing B2B Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5231"  where id = '16321'
=>>>>>>>>>>>>>>>>>>>>>> 16332 /lvl2/ Sales Marketing B2B Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5231"  where id = '16332'
3441 /lvl1/ Maintenance Control Engineer
=>>>>>>>>>>>>>>>>>>>>>> 135 /lvl2/ Maintenance Control engineer:
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Maintenance Control engineer:", title_clean   = "Maintenance Control engineer:", title_id  = "3441"  where id = '135'
1138 /lvl1/ Corporate Governance Officer
=>>>>>>>>>>>>>>>>>>>>>> 8908 /lvl2/ Corporate Governance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1138"  where id = '8908'
371 /lvl1/ Animator 2D & Motion Graphic
3955 /lvl1/ Network Engineer Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 14281 /lvl2/ NETWORK ENGINEER COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NETWORK ENGINEER COORDINATOR", title_clean   = "NETWORK ENGINEER COORDINATOR", title_id  = "3955"  where id = '14281'
2933 /lvl1/ It Infrastructure Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18942 /lvl2/ IT Infrastructure Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Specialist", title_clean   = "IT Infrastructure Specialist", title_id  = "2933"  where id = '18942'
118 /lvl1/ Accounting Senior Supervisor

2422 /lvl1/ Helper Engineer / Electrical
=>>>>>>>>>>>>>>>>>>>>>> 7174 /lvl2/ HELPER ENGINEER / ELECTRICAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HELPER ENGINEER / ELECTRICAL", title_clean   = "HELPER ENGINEER / ELECTRICAL", title_id  = "2422"  where id = '7174'
6007 /lvl1/ Staff Control Tower Logistik
=>>>>>>>>>>>>>>>>>>>>>> 5463 /lvl2/ STAFF CONTROL TOWER LOGISTIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF CONTROL TOWER LOGISTIK", title_clean   = "STAFF CONTROL TOWER LOGISTIK", title_id  = "6007"  where id = '5463'
121 /lvl1/ Accounting Staff & Tax Staff
1401 /lvl1/ Deputy Head of Manufacturing
=>>>>>>>>>>>>>>>>>>>>>> 15167 /lvl2/ Deputy Head of Manufacturing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1401"  where id = '15167'
378 /lvl1/ Apotek Partnership Associate
=>>>>>>>>>>>>>>>>>>>>>> 1073 /lvl2/ Apotek Partnership Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "378"  where id = '1073'
4475 /lvl1/ Product Specialist Endoscopy
=>>>>>>>>>>>>>>>>>>>>>> 4725 /lvl2/ PRODUCT SPECIALIST ENDOSCOPY JKT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT SPECIALIST ENDOSCOPY JKT", title_clean   = "PRODUCT SPECIALIST ENDOSCOPY JKT", title_id  = "4475"  where id = '4725'
1916 /lvl1/ Finance & Account Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18019 /lvl2/ Finance & Account Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1916"  where id = '18019'
4220 /lvl1/ People Engagement Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3983 /lvl2/ People Engagement Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4220"  where id = '3983'
2173 /lvl1/ General Administration Staff
=>>>>>>>>>>>>>>>>>>>>>> 12283 /lvl2/ General Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2173"  where id = '12283'
=>>>>>>>>>>>>>>>>>>>>>> 13352 /lvl2/ General Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2173"  where id = '13352'
=>>>>>>>>>>>>>>>>>>>>>> 15875 /lvl2/ General Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2173"  where id = '15875'
5501 /lvl1/ Senior Cx Project Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4485 /lvl2/ Senior CX Project Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior CX Project Specialist", title_clean   = "Senior CX Project Specialist", title_id  = "5501"  where id = '4485'
3966 /lvl1/ New Product Planning Officer
=>>>>>>>>>>>>>>>>>>>>>> 12993 /lvl2/ New Product Planning Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3966"  where id = '12993'
4734 /lvl1/ Qc Analyst For Finished Good
=>>>>>>>>>>>>>>>>>>>>>> 17124 /lvl2/ QC Analyst for Finished Good
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Analyst for Finished Good", title_clean   = "QC Analyst for Finished Good", title_id  = "4734"  where id = '17124'
=>>>>>>>>>>>>>>>>>>>>>> 17142 /lvl2/ QC Analyst for Finished Good
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Analyst for Finished Good", title_clean   = "QC Analyst for Finished Good", title_id  = "4734"  where id = '17142'
6270 /lvl1/ Supervisor Delivery Logistic
=>>>>>>>>>>>>>>>>>>>>>> 10990 /lvl2/ Supervisor Delivery Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6270"  where id = '10990'
2431 /lvl1/ Host / Talent Live Streaming
=>>>>>>>>>>>>>>>>>>>>>> 356 /lvl2/ Host / Talent Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2431"  where id = '356'
2176 /lvl1/ General Affairs & IT Support
6273 /lvl1/ Supervisor Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 4582 /lvl2/ Supervisor Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6273"  where id = '4582'
=>>>>>>>>>>>>>>>>>>>>>> 4671 /lvl2/ Supervisor Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6273"  where id = '4671'
=>>>>>>>>>>>>>>>>>>>>>> 13295 /lvl2/ Supervisor Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6273"  where id = '13295'
2690 /lvl1/ Industrial / Cost Controller
387 /lvl1/ Application Specialist Staff
=>>>>>>>>>>>>>>>>>>>>>> 19927 /lvl2/ Application Specialist Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "387"  where id = '19927'
1925 /lvl1/ Finance & Accounting Manager
=>>>>>>>>>>>>>>>>>>>>>> 2234 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '2234'
=>>>>>>>>>>>>>>>>>>>>>> 5664 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '5664'
=>>>>>>>>>>>>>>>>>>>>>> 7579 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '7579'
=>>>>>>>>>>>>>>>>>>>>>> 9772 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '9772'
=>>>>>>>>>>>>>>>>>>>>>> 10665 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '10665'
=>>>>>>>>>>>>>>>>>>>>>> 10821 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '10821'
=>>>>>>>>>>>>>>>>>>>>>> 11251 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '11251'
=>>>>>>>>>>>>>>>>>>>>>> 12430 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '12430'
=>>>>>>>>>>>>>>>>>>>>>> 12903 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '12903'
=>>>>>>>>>>>>>>>>>>>>>> 13185 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '13185'
=>>>>>>>>>>>>>>>>>>>>>> 13501 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '13501'
=>>>>>>>>>>>>>>>>>>>>>> 14141 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '14141'
=>>>>>>>>>>>>>>>>>>>>>> 14261 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '14261'
=>>>>>>>>>>>>>>>>>>>>>> 14278 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '14278'
=>>>>>>>>>>>>>>>>>>>>>> 14308 /lvl2/ Finance & Accounting Manager - Kediri Town Square
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kediri Town Square", title_clean   = " - Kediri Town Square", title_id  = "1925"  where id = '14308'
=>>>>>>>>>>>>>>>>>>>>>> 14325 /lvl2/ Finance & Accounting Manager - Kediri Town Square
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kediri Town Square", title_clean   = " - Kediri Town Square", title_id  = "1925"  where id = '14325'
=>>>>>>>>>>>>>>>>>>>>>> 14514 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '14514'
=>>>>>>>>>>>>>>>>>>>>>> 18148 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '18148'
=>>>>>>>>>>>>>>>>>>>>>> 18167 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '18167'
=>>>>>>>>>>>>>>>>>>>>>> 18752 /lvl2/ FINANCE & ACCOUNTING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING MANAGER", title_clean   = "FINANCE & ACCOUNTING MANAGER", title_id  = "1925"  where id = '18752'
=>>>>>>>>>>>>>>>>>>>>>> 19420 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '19420'
=>>>>>>>>>>>>>>>>>>>>>> 20323 /lvl2/ Finance & Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1925"  where id = '20323'
1926 /lvl1/ Finance & Accounting Officer

=>>>>>>>>>>>>>>>>>>>>>> 2326 /lvl2/ Finance & Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1926"  where id = '2326'
=>>>>>>>>>>>>>>>>>>>>>> 2558 /lvl2/ Finance & Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1926"  where id = '2558'
=>>>>>>>>>>>>>>>>>>>>>> 6597 /lvl2/ Finance & Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1926"  where id = '6597'
=>>>>>>>>>>>>>>>>>>>>>> 7151 /lvl2/ Finance & Accounting Officer (Bintaro dan Fatmawati)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bintaro dan Fatmawati)", title_clean   = " (Bintaro dan Fatmawati)", title_id  = "1926"  where id = '7151'
=>>>>>>>>>>>>>>>>>>>>>> 16605 /lvl2/ Finance & Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1926"  where id = '16605'
2951 /lvl1/ It Network Junior Supervisor
2696 /lvl1/ Industrial Engineering Staff
=>>>>>>>>>>>>>>>>>>>>>> 228 /lvl2/ Industrial Engineering Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2696"  where id = '228'
5000 /lvl1/ Revenue Assurance Spesialist
=>>>>>>>>>>>>>>>>>>>>>> 10332 /lvl2/ Revenue Assurance Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5000"  where id = '10332'
=>>>>>>>>>>>>>>>>>>>>>> 10363 /lvl2/ Revenue Assurance Spesialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5000"  where id = '10363'
4490 /lvl1/ Production Engineering Staff
=>>>>>>>>>>>>>>>>>>>>>> 17670 /lvl2/ Production Engineering Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4490"  where id = '17670'
1163 /lvl1/ Corporate Strategy Associate
=>>>>>>>>>>>>>>>>>>>>>> 10187 /lvl2/ Corporate Strategy Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1163"  where id = '10187'
3980 /lvl1/ Nutritionist General Manager
=>>>>>>>>>>>>>>>>>>>>>> 4373 /lvl2/ Nutritionist General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3980"  where id = '4373'
6797 /lvl1/ Training & Development Sales
=>>>>>>>>>>>>>>>>>>>>>> 6568 /lvl2/ TRAINING & DEVELOPMENT SALES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAINING & DEVELOPMENT SALES", title_clean   = "TRAINING & DEVELOPMENT SALES", title_id  = "6797"  where id = '6568'
142 /lvl1/ Acquiring Operation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5569 /lvl2/ Acquiring Operation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "142"  where id = '5569'
4496 /lvl1/ Production Operation Trainee
=>>>>>>>>>>>>>>>>>>>>>> 890 /lvl2/ Production Operation Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4496"  where id = '890'
3217 /lvl1/ Kepala Seksie Bahasa Inggris
=>>>>>>>>>>>>>>>>>>>>>> 16188 /lvl2/ Kepala Seksie Bahasa Inggris
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3217"  where id = '16188'
2194 /lvl1/ General Affairs Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 307 /lvl2/ General Affairs Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2194"  where id = '307'
=>>>>>>>>>>>>>>>>>>>>>> 327 /lvl2/ General Affairs Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2194"  where id = '327'
5779 /lvl1/ Social Media Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 662 /lvl2/ Social Media Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5779"  where id = '662'
=>>>>>>>>>>>>>>>>>>>>>> 6817 /lvl2/ Social Media Content Creator - GAME
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - GAME", title_clean   = " - GAME", title_id  = "5779"  where id = '6817'
=>>>>>>>>>>>>>>>>>>>>>> 9290 /lvl2/ SOCIAL MEDIA CONTENT CREATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA CONTENT CREATOR", title_clean   = "SOCIAL MEDIA CONTENT CREATOR", title_id  = "5779"  where id = '9290'
=>>>>>>>>>>>>>>>>>>>>>> 14479 /lvl2/ Social Media Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5779"  where id = '14479'
=>>>>>>>>>>>>>>>>>>>>>> 18729 /lvl2/ Social Media Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5779"  where id = '18729'
916 /lvl1/ Chief Mechanical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 14457 /lvl2/ Chief Mechanical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "916"  where id = '14457'
=>>>>>>>>>>>>>>>>>>>>>> 14854 /lvl2/ Chief Mechanical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "916"  where id = '14854'
1684 /lvl1/ Employee Relation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8607 /lvl2/ Employee Relation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1684"  where id = '8607'
5269 /lvl1/ Sales Performance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4189 /lvl2/ Sales Performance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5269"  where id = '4189'
1686 /lvl1/ Employer Branding Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3 /lvl2/ Employer Branding Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1686"  where id = '3'
=>>>>>>>>>>>>>>>>>>>>>> 16 /lvl2/ Employer Branding Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1686"  where id = '16'
=>>>>>>>>>>>>>>>>>>>>>> 7875 /lvl2/ Employer Branding Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1686"  where id = '7875'
=>>>>>>>>>>>>>>>>>>>>>> 8186 /lvl2/ Employer Branding Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1686"  where id = '8186'
6550 /lvl1/ Team Leader Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 7857 /lvl2/ Team Leader Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6550"  where id = '7857'
=>>>>>>>>>>>>>>>>>>>>>> 8173 /lvl2/ Team Leader Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6550"  where id = '8173'
=>>>>>>>>>>>>>>>>>>>>>> 9339 /lvl2/ Team Leader Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6550"  where id = '9339'
5015 /lvl1/ Risk Management Section Head
=>>>>>>>>>>>>>>>>>>>>>> 15723 /lvl2/ Risk Management Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5015"  where id = '15723'
6039 /lvl1/ Staff Finance Accounting Tax
=>>>>>>>>>>>>>>>>>>>>>> 15842 /lvl2/ Staff Finance Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6039"  where id = '15842'
1944 /lvl1/ Finance & Training Organizer
2713 /lvl1/ Injection Molding Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10063 /lvl2/ Injection Molding Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2713"  where id = '10063'
3483 /lvl1/ Manager Building Operational
=>>>>>>>>>>>>>>>>>>>>>> 17698 /lvl2/ Manager Building Operational
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3483"  where id = '17698'
=>>>>>>>>>>>>>>>>>>>>>> 17708 /lvl2/ Manager Building Operational
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3483"  where id = '17708'
6302 /lvl1/ Supervisor Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 14044 /lvl2/ Supervisor Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Human ResourcesGA", title_clean   = "Supervisor Human ResourcesGA", title_id  = "6302"  where id = '14044'
3743 /lvl1/ Marketing Research Executive
=>>>>>>>>>>>>>>>>>>>>>> 693 /lvl2/ Marketing Research Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3743"  where id = '693'
=>>>>>>>>>>>>>>>>>>>>>> 704 /lvl2/ Marketing Research Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3743"  where id = '704'
4511 /lvl1/ Professional Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 11368 /lvl2/ Professional Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4511"  where id = '11368'
2465 /lvl1/ Human Resources Admin Intern

=>>>>>>>>>>>>>>>>>>>>>> 9312 /lvl2/ Human Resources Admin Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2465"  where id = '9312'
4515 /lvl1/ Program Partnership Services
=>>>>>>>>>>>>>>>>>>>>>> 6185 /lvl2/ Program Partnership Services
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4515"  where id = '6185'
6307 /lvl1/ Supervisor Humas & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 12991 /lvl2/ Supervisor Humas & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6307"  where id = '12991'
=>>>>>>>>>>>>>>>>>>>>>> 13005 /lvl2/ Supervisor Humas & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6307"  where id = '13005'
4261 /lvl1/ Personal Executive Assistant
=>>>>>>>>>>>>>>>>>>>>>> 11879 /lvl2/ Personal Executive Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4261"  where id = '11879'
4264 /lvl1/ Personnel Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 14027 /lvl2/ Personnel Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4264"  where id = '14027'
=>>>>>>>>>>>>>>>>>>>>>> 14353 /lvl2/ Personnel Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4264"  where id = '14353'
1961 /lvl1/ Finance Accounting Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 4967 /lvl2/ Finance Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1961"  where id = '4967'
=>>>>>>>>>>>>>>>>>>>>>> 18146 /lvl2/ Finance Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1961"  where id = '18146'
=>>>>>>>>>>>>>>>>>>>>>> 18165 /lvl2/ Finance Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1961"  where id = '18165'
4780 /lvl1/ Quality Assurance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9822 /lvl2/ Quality Assurance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4780"  where id = '9822'
3501 /lvl1/ Manager Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 9555 /lvl2/ Manager Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3501"  where id = '9555'
3246 /lvl1/ Kitchen Helper / Cook Helper
5294 /lvl1/ Sales Representative Officer
=>>>>>>>>>>>>>>>>>>>>>> 20136 /lvl2/ SALES REPRESENTATIVE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE OFFICER", title_clean   = "SALES REPRESENTATIVE OFFICER", title_id  = "5294"  where id = '20136'
2735 /lvl1/ Insurance Agent Senior Agent
=>>>>>>>>>>>>>>>>>>>>>> 8356 /lvl2/ Insurance Agent Senior Agent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2735"  where id = '8356'
5808 /lvl1/ Software Engineering Manager
=>>>>>>>>>>>>>>>>>>>>>> 2821 /lvl2/ SOFTWARE ENGINEERING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOFTWARE ENGINEERING MANAGER", title_clean   = "SOFTWARE ENGINEERING MANAGER", title_id  = "5808"  where id = '2821'
2739 /lvl1/ Interior & Exhibition Design
=>>>>>>>>>>>>>>>>>>>>>> 10679 /lvl2/ Interior & Exhibition Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2739"  where id = '10679'
=>>>>>>>>>>>>>>>>>>>>>> 10707 /lvl2/ Interior & Exhibition Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2739"  where id = '10707'
693 /lvl1/ Branding & Promotion Manager
2231 /lvl1/ Government Relation & Permit
=>>>>>>>>>>>>>>>>>>>>>> 14073 /lvl2/ Government Relation & Permit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2231"  where id = '14073'
=>>>>>>>>>>>>>>>>>>>>>> 14395 /lvl2/ Government Relation & Permit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2231"  where id = '14395'
2233 /lvl1/ Graduate Development Program
=>>>>>>>>>>>>>>>>>>>>>> 7630 /lvl2/ Fresh Graduate Development Program_ Product Trainer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh -idex-_ Product Trainer", title_clean   = "Fresh _ Product Trainer", title_id  = "2233"  where id = '7630'
=>>>>>>>>>>>>>>>>>>>>>> 7793 /lvl2/ Graduate Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2233"  where id = '7793'
=>>>>>>>>>>>>>>>>>>>>>> 8112 /lvl2/ Graduate Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2233"  where id = '8112'
=>>>>>>>>>>>>>>>>>>>>>> 13040 /lvl2/ Fresh Graduate Development Program _ Developer Account
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh -idex- _ Developer Account", title_clean   = "Fresh  _ Developer Account", title_id  = "2233"  where id = '13040'
=>>>>>>>>>>>>>>>>>>>>>> 15971 /lvl2/ Fresh Graduate Development Program - Project Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh -idex- - Project Sales", title_clean   = "Fresh  - Project Sales", title_id  = "2233"  where id = '15971'
4281 /lvl1/ Php Developer & Data Analyst
3003 /lvl1/ It Service Recovery Engineer
=>>>>>>>>>>>>>>>>>>>>>> 18333 /lvl2/ IT Service Recovery Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Service Recovery Engineer", title_clean   = "IT Service Recovery Engineer", title_id  = "3003"  where id = '18333'
5307 /lvl1/ Sales Supervisor Distributor
=>>>>>>>>>>>>>>>>>>>>>> 13289 /lvl2/ Sales Supervisor Distributor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5307"  where id = '13289'
4542 /lvl1/ Project Administration Staff
=>>>>>>>>>>>>>>>>>>>>>> 16645 /lvl2/ Project Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4542"  where id = '16645'
1727 /lvl1/ Enterprise Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 694 /lvl2/ Enterprise Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1727"  where id = '694'
=>>>>>>>>>>>>>>>>>>>>>> 708 /lvl2/ Enterprise Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1727"  where id = '708'
4800 /lvl1/ Quality Improvement Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19826 /lvl2/ Quality Improvement Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4800"  where id = '19826'
1217 /lvl1/ Creator Partnerships Manager
=>>>>>>>>>>>>>>>>>>>>>> 2626 /lvl2/ Creator Partnerships Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1217"  where id = '2626'
5825 /lvl1/ Solution & Digital Marketing
5314 /lvl1/ Sales Support Administration
=>>>>>>>>>>>>>>>>>>>>>> 16745 /lvl2/ Sales Support Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5314"  where id = '16745'
6594 /lvl1/ Technical Sales Industry Cat
=>>>>>>>>>>>>>>>>>>>>>> 7323 /lvl2/ Technical Sales Industry Cat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6594"  where id = '7323'
3782 /lvl1/ Mathematic & Science Teacher
5062 /lvl1/ Sales & Marketing Pv Manager
=>>>>>>>>>>>>>>>>>>>>>> 9226 /lvl2/ SALES & MARKETING PV MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING PV MANAGER", title_clean   = "SALES & MARKETING PV MANAGER", title_id  = "5062"  where id = '9226'
5318 /lvl1/ Sales Support Representative
=>>>>>>>>>>>>>>>>>>>>>> 15339 /lvl2/ Sales Support Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5318"  where id = '15339'
5064 /lvl1/ Sales & Marketing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3726 /lvl2/ Sales & Marketing Supervisor (Channel: E-Commerce , Marketplace , Social Media , Website)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Channel: E-Commerce , Marketplace , Social Media , Website)", title_clean   = " (Channel: E-Commerce , Marketplace , Social Media , Website)", title_id  = "5064"  where id = '3726'
=>>>>>>>>>>>>>>>>>>>>>> 6955 /lvl2/ Sales & Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5064"  where id = '6955'
=>>>>>>>>>>>>>>>>>>>>>> 16642 /lvl2/ Sales & Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5064"  where id = '16642'
4042 /lvl1/ Operation Management Manager

=>>>>>>>>>>>>>>>>>>>>>> 15504 /lvl2/ Operation Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4042"  where id = '15504'
971 /lvl1/ Cluster Financial Controller
=>>>>>>>>>>>>>>>>>>>>>> 3272 /lvl2/ CLUSTER FINANCIAL CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CLUSTER FINANCIAL CONTROLLER", title_clean   = "CLUSTER FINANCIAL CONTROLLER", title_id  = "971"  where id = '3272'
2764 /lvl1/ Internal Auditor Operational
=>>>>>>>>>>>>>>>>>>>>>> 10312 /lvl2/ Internal Auditor Operational
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2764"  where id = '10312'
464 /lvl1/ Assistant Manager Accounting
=>>>>>>>>>>>>>>>>>>>>>> 2220 /lvl2/ Assistant Manager Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax", title_clean   = " and Tax", title_id  = "464"  where id = '2220'
4051 /lvl1/ Operation Trainer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3908 /lvl2/ Operation Trainer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4051"  where id = '3908'
468 /lvl1/ Assistant President Director
=>>>>>>>>>>>>>>>>>>>>>> 13710 /lvl2/ Assistant President Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "468"  where id = '13710'
6356 /lvl1/ Supervisor Purchasing Import
=>>>>>>>>>>>>>>>>>>>>>> 19361 /lvl2/ Supervisor Purchasing Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6356"  where id = '19361'
4565 /lvl1/ Project Financial Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9138 /lvl2/ Project Financial Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4565"  where id = '9138'
731 /lvl1/ Business Analyst Psak / Ifrs
=>>>>>>>>>>>>>>>>>>>>>> 2851 /lvl2/ Business Analyst PSAK / IFRS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business Analyst PSAK / IFRS", title_clean   = "Business Analyst PSAK / IFRS", title_id  = "731"  where id = '2851'
4060 /lvl1/ Operations Business Analystt
4318 /lvl1/ Plastic Injection Production
=>>>>>>>>>>>>>>>>>>>>>> 2279 /lvl2/ Plastic Injection Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4318"  where id = '2279'
6622 /lvl1/ Technician Senior Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18656 /lvl2/ Technician Senior Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6622"  where id = '18656'
4319 /lvl1/ Plastic Injection Technician
=>>>>>>>>>>>>>>>>>>>>>> 19119 /lvl2/ Plastic Injection Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4319"  where id = '19119'
2016 /lvl1/ Financial Accounting Manager
=>>>>>>>>>>>>>>>>>>>>>> 13240 /lvl2/ Financial Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2016"  where id = '13240'
2528 /lvl1/ Human Resources Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 6064 /lvl2/ Human Resources Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2528"  where id = '6064'
1505 /lvl1/ Digital Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3839 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '3839'
=>>>>>>>>>>>>>>>>>>>>>> 7936 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '7936'
=>>>>>>>>>>>>>>>>>>>>>> 8252 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '8252'
=>>>>>>>>>>>>>>>>>>>>>> 10216 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '10216'
=>>>>>>>>>>>>>>>>>>>>>> 11837 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '11837'
=>>>>>>>>>>>>>>>>>>>>>> 12678 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '12678'
=>>>>>>>>>>>>>>>>>>>>>> 12697 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '12697'
=>>>>>>>>>>>>>>>>>>>>>> 13802 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '13802'
=>>>>>>>>>>>>>>>>>>>>>> 14760 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '14760'
=>>>>>>>>>>>>>>>>>>>>>> 15357 /lvl2/ SOCIAL MEDIA  - DIGITAL MARKETING SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA  - DIGITAL MARKETING SPECIALIST", title_clean   = "SOCIAL MEDIA  - DIGITAL MARKETING SPECIALIST", title_id  = "1505"  where id = '15357'
=>>>>>>>>>>>>>>>>>>>>>> 15795 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '15795'
=>>>>>>>>>>>>>>>>>>>>>> 17133 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '17133'
=>>>>>>>>>>>>>>>>>>>>>> 17794 /lvl2/ Digital Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1505"  where id = '17794'
1507 /lvl1/ Digital Marketing Strategist
=>>>>>>>>>>>>>>>>>>>>>> 8036 /lvl2/ Digital Marketing Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1507"  where id = '8036'
=>>>>>>>>>>>>>>>>>>>>>> 8343 /lvl2/ DIGITAL MARKETING STRATEGIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING STRATEGIST", title_clean   = "DIGITAL MARKETING STRATEGIST", title_id  = "1507"  where id = '8343'
=>>>>>>>>>>>>>>>>>>>>>> 9193 /lvl2/ Digital Marketing Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1507"  where id = '9193'
1508 /lvl1/ Digital Marketing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2670 /lvl2/ Digital Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1508"  where id = '2670'
=>>>>>>>>>>>>>>>>>>>>>> 3056 /lvl2/ Digital Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1508"  where id = '3056'
=>>>>>>>>>>>>>>>>>>>>>> 6825 /lvl2/ DIGITAL MARKETING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING SUPERVISOR", title_clean   = "DIGITAL MARKETING SUPERVISOR", title_id  = "1508"  where id = '6825'
=>>>>>>>>>>>>>>>>>>>>>> 8292 /lvl2/ DIGITAL MARKETING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING SUPERVISOR", title_clean   = "DIGITAL MARKETING SUPERVISOR", title_id  = "1508"  where id = '8292'
=>>>>>>>>>>>>>>>>>>>>>> 9378 /lvl2/ Digital Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1508"  where id = '9378'
=>>>>>>>>>>>>>>>>>>>>>> 14686 /lvl2/ Digital Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1508"  where id = '14686'
=>>>>>>>>>>>>>>>>>>>>>> 19308 /lvl2/ Digital Marketing Supervisor - CS2
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - CS2", title_clean   = " - CS2", title_id  = "1508"  where id = '19308'
5348 /lvl1/ Sap Abap Tehnical Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6137 /lvl2/ SAP ABAP Tehnical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP ABAP Tehnical Consultant", title_clean   = "SAP ABAP Tehnical Consultant", title_id  = "5348"  where id = '6137'
3557 /lvl1/ Manajer Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 9984 /lvl2/ Manajer Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3557"  where id = '9984'
5862 /lvl1/ Spesialias Management Resiko
=>>>>>>>>>>>>>>>>>>>>>> 291 /lvl2/ Spesialias Management Resiko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5862"  where id = '291'
2279 /lvl1/ Guru Bidang Studi Matematika
=>>>>>>>>>>>>>>>>>>>>>> 4132 /lvl2/ GURU BIDANG STUDI MATEMATIKA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU BIDANG STUDI MATEMATIKA", title_clean   = "GURU BIDANG STUDI MATEMATIKA", title_id  = "2279"  where id = '4132'
4327 /lvl1/ Portacamp Sales Section Head

=>>>>>>>>>>>>>>>>>>>>>> 2637 /lvl2/ Portacamp Sales Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4327"  where id = '2637'
6375 /lvl1/ Supervisor Sales & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 20328 /lvl2/ Supervisor Sales & Marketing (Area Jawa Tengah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Jawa Tengah)", title_clean   = " (Area Jawa Tengah)", title_id  = "6375"  where id = '20328'
1258 /lvl1/ Customer Service Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 20435 /lvl2/ Customer Service Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1258"  where id = '20435'
748 /lvl1/ Business Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 16199 /lvl2/ Business Development Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "748"  where id = '16199'
3820 /lvl1/ Mechanical & Piping Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5973 /lvl2/ MECHANICAL & PIPING ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MECHANICAL & PIPING ENGINEER", title_clean   = "MECHANICAL & PIPING ENGINEER", title_id  = "3820"  where id = '5973'
4588 /lvl1/ Project Manager & Programmer
3823 /lvl1/ Mechanical Designer Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1657 /lvl2/ Mechanical Designer Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3823"  where id = '1657'
5105 /lvl1/ Sales Canvasing Karkas Puyuh
=>>>>>>>>>>>>>>>>>>>>>> 2438 /lvl2/ SALES CANVASING KARKAS PUYUH
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES CANVASING KARKAS PUYUH", title_clean   = "SALES CANVASING KARKAS PUYUH", title_id  = "5105"  where id = '2438'
1266 /lvl1/ Customer & Business Analystt
1011 /lvl1/ Company Promotion Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17785 /lvl2/ Company Promotion Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1011"  where id = '17785'
=>>>>>>>>>>>>>>>>>>>>>> 17802 /lvl2/ Company Promotion Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1011"  where id = '17802'
2035 /lvl1/ Financial Planning & Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6321 /lvl2/ Financial Planning & Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2035"  where id = '6321'
1268 /lvl1/ Customer Acquisition Manager
=>>>>>>>>>>>>>>>>>>>>>> 13173 /lvl2/ Customer Acquisition Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1268"  where id = '13173'
3573 /lvl1/ Mandarin Teacher For Primary
=>>>>>>>>>>>>>>>>>>>>>> 9745 /lvl2/ MANDARIN TEACHER FOR PRIMARY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TEACHER FOR PRIMARY", title_clean   = "MANDARIN TEACHER FOR PRIMARY", title_id  = "3573"  where id = '9745'
758 /lvl1/ Business Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 2173 /lvl2/ Channel Business Development Manager Modern Trade, General Trade, & Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Channel -idex- Modern Trade, General Trade, & Food Service", title_clean   = "Channel  Modern Trade, General Trade, & Food Service", title_id  = "758"  where id = '2173'
=>>>>>>>>>>>>>>>>>>>>>> 2410 /lvl2/ Sales and Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "758"  where id = '2410'
=>>>>>>>>>>>>>>>>>>>>>> 2415 /lvl2/ Business Development Manager - Education
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Education", title_clean   = " - Education", title_id  = "758"  where id = '2415'
=>>>>>>>>>>>>>>>>>>>>>> 2902 /lvl2/ Channel Business Development Manager Modern Trade, General Trade, & Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Channel -idex- Modern Trade, General Trade, & Food Service", title_clean   = "Channel  Modern Trade, General Trade, & Food Service", title_id  = "758"  where id = '2902'
=>>>>>>>>>>>>>>>>>>>>>> 5218 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '5218'
=>>>>>>>>>>>>>>>>>>>>>> 5541 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '5541'
=>>>>>>>>>>>>>>>>>>>>>> 6339 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '6339'
=>>>>>>>>>>>>>>>>>>>>>> 6489 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '6489'
=>>>>>>>>>>>>>>>>>>>>>> 6782 /lvl2/ Business Development Manager (ERP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ERP)", title_clean   = " (ERP)", title_id  = "758"  where id = '6782'
=>>>>>>>>>>>>>>>>>>>>>> 6975 /lvl2/ Business Development Manager (SUMEDANG, MALANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SUMEDANG, MALANG)", title_clean   = " (SUMEDANG, MALANG)", title_id  = "758"  where id = '6975'
=>>>>>>>>>>>>>>>>>>>>>> 8002 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '8002'
=>>>>>>>>>>>>>>>>>>>>>> 8317 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '8317'
=>>>>>>>>>>>>>>>>>>>>>> 8434 /lvl2/ Business Development Manager (SUMEDANG, MALANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SUMEDANG, MALANG)", title_clean   = " (SUMEDANG, MALANG)", title_id  = "758"  where id = '8434'
=>>>>>>>>>>>>>>>>>>>>>> 9235 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '9235'
=>>>>>>>>>>>>>>>>>>>>>> 9611 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '9611'
=>>>>>>>>>>>>>>>>>>>>>> 9795 /lvl2/ Business Development Manager (DEPOK, JAMBI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DEPOK, JAMBI)", title_clean   = " (DEPOK, JAMBI)", title_id  = "758"  where id = '9795'
=>>>>>>>>>>>>>>>>>>>>>> 10002 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '10002'
=>>>>>>>>>>>>>>>>>>>>>> 10159 /lvl2/ Business Development Manager - Commercial Partners
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Commercial Partners", title_clean   = " - Commercial Partners", title_id  = "758"  where id = '10159'
=>>>>>>>>>>>>>>>>>>>>>> 12472 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '12472'
=>>>>>>>>>>>>>>>>>>>>>> 13765 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '13765'
=>>>>>>>>>>>>>>>>>>>>>> 14832 /lvl2/ BUSINESS DEVELOPMENT MANAGER– Chemical Division
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT MANAGER– Chemical Division", title_clean   = "BUSINESS DEVELOPMENT MANAGER– Chemical Division", title_id  = "758"  where id = '14832'
=>>>>>>>>>>>>>>>>>>>>>> 15399 /lvl2/ Business Development Manager (Property)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Property)", title_clean   = " (Property)", title_id  = "758"  where id = '15399'
=>>>>>>>>>>>>>>>>>>>>>> 15538 /lvl2/ Business Development Manager (Product Planning)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Product Planning)", title_clean   = " (Product Planning)", title_id  = "758"  where id = '15538'
=>>>>>>>>>>>>>>>>>>>>>> 15973 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '15973'
=>>>>>>>>>>>>>>>>>>>>>> 16340 /lvl2/ Business Development Manager (BDM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (BDM)", title_clean   = " (BDM)", title_id  = "758"  where id = '16340'
=>>>>>>>>>>>>>>>>>>>>>> 16872 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '16872'
=>>>>>>>>>>>>>>>>>>>>>> 17106 /lvl2/ Business Development Manager (SUKABUMI, BEKASI, SEMARANG, PEMATANG SIANTAR, PEKANBARU)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SUKABUMI, BEKASI, SEMARANG, PEMATANG SIANTAR, PEKANBARU)", title_clean   = " (SUKABUMI, BEKASI, SEMARANG, PEMATANG SIANTAR, PEKANBARU)", title_id  = "758"  where id = '17106'
=>>>>>>>>>>>>>>>>>>>>>> 18677 /lvl2/ Business Development Manager  (Warehouse and Distribution)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  (Warehouse and Distribution)", title_clean   = "  (Warehouse and Distribution)", title_id  = "758"  where id = '18677'
=>>>>>>>>>>>>>>>>>>>>>> 20233 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '20233'
=>>>>>>>>>>>>>>>>>>>>>> 20479 /lvl2/ Business Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "758"  where id = '20479'
1782 /lvl1/ Event & Promotion Specialist

2806 /lvl1/ Inventory Control For Retail
=>>>>>>>>>>>>>>>>>>>>>> 1490 /lvl2/ Inventory Control For Retail
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2806"  where id = '1490'
1016 /lvl1/ Compensation & Benefit Staff
=>>>>>>>>>>>>>>>>>>>>>> 18821 /lvl2/ Compensation & Benefit Staff (SJA SMG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SJA SMG)", title_clean   = " (SJA SMG)", title_id  = "1016"  where id = '18821'
2040 /lvl1/ Finished Goods Qc Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13062 /lvl2/ Finished Goods QC Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finished Goods QC Supervisor", title_clean   = "Finished Goods QC Supervisor", title_id  = "2040"  where id = '13062'
=>>>>>>>>>>>>>>>>>>>>>> 13074 /lvl2/ Finished Goods QC Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finished Goods QC Supervisor", title_clean   = "Finished Goods QC Supervisor", title_id  = "2040"  where id = '13074'
761 /lvl1/ Business Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 1254 /lvl2/ Business Development Officer Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bali", title_clean   = " Bali", title_id  = "761"  where id = '1254'
=>>>>>>>>>>>>>>>>>>>>>> 2655 /lvl2/ Business Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "761"  where id = '2655'
=>>>>>>>>>>>>>>>>>>>>>> 5794 /lvl2/ BUSINESS DEVELOPMENT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT OFFICER", title_clean   = "BUSINESS DEVELOPMENT OFFICER", title_id  = "761"  where id = '5794'
=>>>>>>>>>>>>>>>>>>>>>> 7562 /lvl2/ Business Development Officer GRATYO® Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GRATYO® Makassar", title_clean   = " GRATYO® Makassar", title_id  = "761"  where id = '7562'
=>>>>>>>>>>>>>>>>>>>>>> 7748 /lvl2/ Business Development Officer (Staff) | Sales Support Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Staff) | Sales Support Analyst", title_clean   = " (Staff) | Sales Support Analyst", title_id  = "761"  where id = '7748'
=>>>>>>>>>>>>>>>>>>>>>> 7889 /lvl2/ Business Development Officer GRATYO® Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GRATYO® Medan", title_clean   = " GRATYO® Medan", title_id  = "761"  where id = '7889'
=>>>>>>>>>>>>>>>>>>>>>> 8570 /lvl2/ Business Development Officer GRATYO® Denpasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GRATYO® Denpasar", title_clean   = " GRATYO® Denpasar", title_id  = "761"  where id = '8570'
=>>>>>>>>>>>>>>>>>>>>>> 9033 /lvl2/ Business Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "761"  where id = '9033'
=>>>>>>>>>>>>>>>>>>>>>> 12663 /lvl2/ Business Development Officer Sukabumi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sukabumi", title_clean   = " Sukabumi", title_id  = "761"  where id = '12663'
=>>>>>>>>>>>>>>>>>>>>>> 12684 /lvl2/ Business Development Officer Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cirebon", title_clean   = " Cirebon", title_id  = "761"  where id = '12684'
=>>>>>>>>>>>>>>>>>>>>>> 13397 /lvl2/ Business Development Officer (Palembang & Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang & Medan)", title_clean   = " (Palembang & Medan)", title_id  = "761"  where id = '13397'
=>>>>>>>>>>>>>>>>>>>>>> 13607 /lvl2/ Business Development Officer (Palembang & Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang & Medan)", title_clean   = " (Palembang & Medan)", title_id  = "761"  where id = '13607'
=>>>>>>>>>>>>>>>>>>>>>> 13628 /lvl2/ Business Development Officer (Palembang & Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang & Medan)", title_clean   = " (Palembang & Medan)", title_id  = "761"  where id = '13628'
=>>>>>>>>>>>>>>>>>>>>>> 15187 /lvl2/ Business Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "761"  where id = '15187'
5114 /lvl1/ Sales Consultant / Marketing
6394 /lvl1/ Supervisor Talent Management
=>>>>>>>>>>>>>>>>>>>>>> 16326 /lvl2/ SUPERVISOR TALENT MANAGEMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR TALENT MANAGEMENT", title_clean   = "SUPERVISOR TALENT MANAGEMENT", title_id  = "6394"  where id = '16326'
4091 /lvl1/ Operator Utility Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 16924 /lvl2/ OPERATOR UTILITY MAINTENANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR UTILITY MAINTENANCE", title_clean   = "OPERATOR UTILITY MAINTENANCE", title_id  = "4091"  where id = '16924'
2812 /lvl1/ Inventory Operations Analyst
=>>>>>>>>>>>>>>>>>>>>>> 15837 /lvl2/ Inventory Operations Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2812"  where id = '15837'
5372 /lvl1/ Sap Sd Functional Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5568 /lvl2/ SAP SD Functional Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP SD Functional Consultant", title_clean   = "SAP SD Functional Consultant", title_id  = "5372"  where id = '5568'
2813 /lvl1/ Inventory Planner Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10676 /lvl2/ Inventory Planner Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2813"  where id = '10676'
=>>>>>>>>>>>>>>>>>>>>>> 10697 /lvl2/ Inventory Planner Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2813"  where id = '10697'
1280 /lvl1/ Customer Experience Manager
=>>>>>>>>>>>>>>>>>>>>>> 15752 /lvl2/ Customer Experience Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1280"  where id = '15752'
5632 /lvl1/ Senior Seo & Sem Specialist
5888 /lvl1/ Staff Administrasi Akademik
6913 /lvl1/ Visual Art & Design Teacher
=>>>>>>>>>>>>>>>>>>>>>> 9893 /lvl2/ Visual Art & Design Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6913"  where id = '9893'
5890 /lvl1/ Staff Administrasi Keuangan
4100 /lvl1/ Oracle Technical Consultant
=>>>>>>>>>>>>>>>>>>>>>> 11079 /lvl2/ Oracle Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4100"  where id = '11079'
6916 /lvl1/ Visual Merchandiser Officer
=>>>>>>>>>>>>>>>>>>>>>> 11912 /lvl2/ Visual Merchandiser Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6916"  where id = '11912'
=>>>>>>>>>>>>>>>>>>>>>> 19421 /lvl2/ Visual Merchandiser Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6916"  where id = '19421'
=>>>>>>>>>>>>>>>>>>>>>> 20325 /lvl2/ Visual Merchandiser Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6916"  where id = '20325'
1029 /lvl1/ Compliance Senior Associate
=>>>>>>>>>>>>>>>>>>>>>> 14210 /lvl2/ Compliance Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1029"  where id = '14210'
4869 /lvl1/ Recruitment & Od Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16908 /lvl2/ Recruitment & OD Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Recruitment & OD Specialist", title_clean   = "Recruitment & OD Specialist", title_id  = "4869"  where id = '16908'
774 /lvl1/ Business Inkjet Sales Staff
=>>>>>>>>>>>>>>>>>>>>>> 1052 /lvl2/ Business Inkjet Sales Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "774"  where id = '1052'
4103 /lvl1/ Order Processing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8505 /lvl2/ Order Processing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4103"  where id = '8505'
4104 /lvl1/ Order To Cash Administrator
=>>>>>>>>>>>>>>>>>>>>>> 18080 /lvl2/ Order To Cash Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4104"  where id = '18080'
=>>>>>>>>>>>>>>>>>>>>>> 18095 /lvl2/ Order To Cash Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4104"  where id = '18095'
3339 /lvl1/ Learning Partner Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16081 /lvl2/ Learning Partner Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3339"  where id = '16081'
2062 /lvl1/ Floor Supervisor Restaurant

=>>>>>>>>>>>>>>>>>>>>>> 12077 /lvl2/ Floor Supervisor Restaurant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2062"  where id = '12077'
529 /lvl1/ Assistant Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 18603 /lvl2/ ASSISTANT OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT OPERATION MANAGER", title_clean   = "ASSISTANT OPERATION MANAGER", title_id  = "529"  where id = '18603'
=>>>>>>>>>>>>>>>>>>>>>> 18619 /lvl2/ ASSISTANT OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT OPERATION MANAGER", title_clean   = "ASSISTANT OPERATION MANAGER", title_id  = "529"  where id = '18619'
3347 /lvl1/ Legal & Compliances Officer
=>>>>>>>>>>>>>>>>>>>>>> 9568 /lvl2/ Legal & Compliances Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3347"  where id = '9568'
2581 /lvl1/ HRis Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9381 /lvl2/ HRIS Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRIS Development Specialist", title_clean   = "HRIS Development Specialist", title_id  = "2581"  where id = '9381'
6933 /lvl1/ Warehouse & Fulfillment Ops
3606 /lvl1/ Market Researcher & Analyst
23 /lvl1/ Account Executive Associate
=>>>>>>>>>>>>>>>>>>>>>> 15987 /lvl2/ Account Executive Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "23"  where id = '15987'
4375 /lvl1/ Preschool Assistant Teacher
=>>>>>>>>>>>>>>>>>>>>>> 10423 /lvl2/ PRESCHOOL ASSISTANT TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL ASSISTANT TEACHER", title_clean   = "PRESCHOOL ASSISTANT TEACHER", title_id  = "4375"  where id = '10423'
4887 /lvl1/ Rectors Office Section Head
=>>>>>>>>>>>>>>>>>>>>>> 8516 /lvl2/ Rectors Office Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4887"  where id = '8516'
5911 /lvl1/ Staff Keuangan Penagihan Ar
=>>>>>>>>>>>>>>>>>>>>>> 15622 /lvl2/ Staff KEUANGAN PENAGIHAN AR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff KEUANGAN PENAGIHAN AR", title_clean   = "Staff KEUANGAN PENAGIHAN AR", title_id  = "5911"  where id = '15622'
2073 /lvl1/ Foreman / Senior Technician
797 /lvl1/ Business Process Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1097 /lvl2/ Business Process Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "797"  where id = '1097'
4894 /lvl1/ Regional Account Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13747 /lvl2/ Regional Account Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4894"  where id = '13747'
6942 /lvl1/ Warehouse Associate Manager
=>>>>>>>>>>>>>>>>>>>>>> 18493 /lvl2/ Warehouse Associate Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6942"  where id = '18493'
31 /lvl1/ Account Executive Marketing
=>>>>>>>>>>>>>>>>>>>>>> 9835 /lvl2/ ACCOUNT EXECUTIVE MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT EXECUTIVE MARKETING", title_clean   = "ACCOUNT EXECUTIVE MARKETING", title_id  = "31"  where id = '9835'
1055 /lvl1/ Content Acquisition Manager
=>>>>>>>>>>>>>>>>>>>>>> 3741 /lvl2/ Content Acquisition Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1055"  where id = '3741'
5153 /lvl1/ Sales Engineering Executive
=>>>>>>>>>>>>>>>>>>>>>> 9296 /lvl2/ Sales Engineering Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5153"  where id = '9296'
2338 /lvl1/ Head Logistic & Gudang Jadi
3106 /lvl1/ Junior Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 5757 /lvl2/ Junior Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3106"  where id = '5757'
=>>>>>>>>>>>>>>>>>>>>>> 5776 /lvl2/ Junior Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3106"  where id = '5776'
=>>>>>>>>>>>>>>>>>>>>>> 6914 /lvl2/ Junior Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3106"  where id = '6914'
=>>>>>>>>>>>>>>>>>>>>>> 8860 /lvl2/ Junior Full Stack Developer (Programmer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Programmer)", title_clean   = " (Programmer)", title_id  = "3106"  where id = '8860'
3364 /lvl1/ Legal Credit Administration
=>>>>>>>>>>>>>>>>>>>>>> 11793 /lvl2/ Legal Credit Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3364"  where id = '11793'
5925 /lvl1/ Staff Produksi & Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 18072 /lvl2/ Staff PRODUKSI & PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff PRODUKSI & PURCHASING", title_clean   = "Staff PRODUKSI & PURCHASING", title_id  = "5925"  where id = '18072'
6949 /lvl1/ Warehouse Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 20392 /lvl2/ Warehouse Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6949"  where id = '20392'
4391 /lvl1/ Principal Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12355 /lvl2/ Principal Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4391"  where id = '12355'
=>>>>>>>>>>>>>>>>>>>>>> 12370 /lvl2/ Principal Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4391"  where id = '12370'
808 /lvl1/ Butcher Oriental Restaurant
=>>>>>>>>>>>>>>>>>>>>>> 8346 /lvl2/ Butcher Oriental Restaurant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "808"  where id = '8346'
2089 /lvl1/ Freelance Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 9145 /lvl2/ Freelance Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2089"  where id = '9145'
1322 /lvl1/ Customer Service Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4101 /lvl2/ Customer Service Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1322"  where id = '4101'
=>>>>>>>>>>>>>>>>>>>>>> 11512 /lvl2/ Customer Service Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1322"  where id = '11512'
=>>>>>>>>>>>>>>>>>>>>>> 11541 /lvl2/ Customer Service Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1322"  where id = '11541'
=>>>>>>>>>>>>>>>>>>>>>> 15382 /lvl2/ Customer Service Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1322"  where id = '15382'
=>>>>>>>>>>>>>>>>>>>>>> 16724 /lvl2/ Customer Service Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1322"  where id = '16724'
3627 /lvl1/ Marketing & Public Relation
=>>>>>>>>>>>>>>>>>>>>>> 4043 /lvl2/ MARKETING & PUBLIC RELATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING & PUBLIC RELATION", title_clean   = "MARKETING & PUBLIC RELATION", title_id  = "3627"  where id = '4043'
1324 /lvl1/ Customer Service Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20105 /lvl2/ Customer Service Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1324"  where id = '20105'
4396 /lvl1/ Process Engineer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17075 /lvl2/ Process Engineer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4396"  where id = '17075'
4397 /lvl1/ Process Engineering Officer
=>>>>>>>>>>>>>>>>>>>>>> 12803 /lvl2/ Process Engineering Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4397"  where id = '12803'
2606 /lvl1/ Human Capital Data Analytic
=>>>>>>>>>>>>>>>>>>>>>> 11320 /lvl2/ Human Capital Data Analytic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2606"  where id = '11320'
3631 /lvl1/ Marketing & Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 10144 /lvl2/ Marketing & Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3631"  where id = '10144'
817 /lvl1/ C# Senior Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 10436 /lvl2/ C# Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "817"  where id = '10436'
2354 /lvl1/ Head of Engineering Section
=>>>>>>>>>>>>>>>>>>>>>> 18490 /lvl2/ Head of Engineering Section
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2354"  where id = '18490'
2868 /lvl1/ It Business Process Analyst

=>>>>>>>>>>>>>>>>>>>>>> 4754 /lvl2/ IT Business Process Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Process Analyst", title_clean   = "IT Business Process Analyst", title_id  = "2868"  where id = '4754'
3892 /lvl1/ Middle Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 7662 /lvl2/ Middle Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3892"  where id = '7662'
312 /lvl1/ Administration of Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1704 /lvl2/ Administration of Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "312"  where id = '1704'
568 /lvl1/ Assistant Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 3353 /lvl2/ Assistant Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "568"  where id = '3353'
2878 /lvl1/ It Data Analyst & Reporting
=>>>>>>>>>>>>>>>>>>>>>> 6949 /lvl2/ IT Data Analyst & Reporting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Data Analyst & Reporting", title_clean   = "IT Data Analyst & Reporting", title_id  = "2878"  where id = '6949'
3646 /lvl1/ Marketing Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 8914 /lvl2/ Pradana Digital Sales and Marketing Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Pradana Digital Sales and -idex-", title_clean   = "Pradana Digital Sales and ", title_id  = "3646"  where id = '8914'
=>>>>>>>>>>>>>>>>>>>>>> 9573 /lvl2/ Marketing Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3646"  where id = '9573'
1087 /lvl1/ Continuous Improvement Lead
=>>>>>>>>>>>>>>>>>>>>>> 12944 /lvl2/ Continuous Improvement Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1087"  where id = '12944'
=>>>>>>>>>>>>>>>>>>>>>> 12960 /lvl2/ Continuous Improvement Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1087"  where id = '12960'
4416 /lvl1/ Procurement General Manager
=>>>>>>>>>>>>>>>>>>>>>> 7432 /lvl2/ Procurement General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4416"  where id = '7432'
4418 /lvl1/ Procurement Logistic Intern
=>>>>>>>>>>>>>>>>>>>>>> 17379 /lvl2/ Procurement Logistic Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4418"  where id = '17379'
4674 /lvl1/ Purchasing Lokal Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6643 /lvl2/ Purchasing Lokal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4674"  where id = '6643'
5954 /lvl1/ Staff Accounting Or Finance
=>>>>>>>>>>>>>>>>>>>>>> 17328 /lvl2/ Staff Accounting or Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Accounting or Finance", title_clean   = "Staff Accounting or Finance", title_id  = "5954"  where id = '17328'
6466 /lvl1/ System Maintenance Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15526 /lvl2/ System Maintenance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6466"  where id = '15526'
4163 /lvl1/ Payroll & Recruitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 1861 /lvl2/ Payroll & Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4163"  where id = '1861'
6212 /lvl1/ Strategic Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1088 /lvl2/ Strategic Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6212"  where id = '1088'
2373 /lvl1/ Head of Learning Experience
=>>>>>>>>>>>>>>>>>>>>>> 5626 /lvl2/ Head of Learning Experience
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2373"  where id = '5626'
5957 /lvl1/ Staff Accounting Verifikasi
=>>>>>>>>>>>>>>>>>>>>>> 14142 /lvl2/ STAFF ACCOUNTING VERIFIKASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING VERIFIKASI", title_clean   = "STAFF ACCOUNTING VERIFIKASI", title_id  = "5957"  where id = '14142'
=>>>>>>>>>>>>>>>>>>>>>> 14515 /lvl2/ STAFF ACCOUNTING VERIFIKASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING VERIFIKASI", title_clean   = "STAFF ACCOUNTING VERIFIKASI", title_id  = "5957"  where id = '14515'
2631 /lvl1/ Human Resources Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 260 /lvl2/ Human Resources Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2631"  where id = '260'
=>>>>>>>>>>>>>>>>>>>>>> 4038 /lvl2/ Human Resources Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2631"  where id = '4038'
=>>>>>>>>>>>>>>>>>>>>>> 17722 /lvl2/ Human Resources Coordinator (IR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IR)", title_clean   = " (IR)", title_id  = "2631"  where id = '17722'
=>>>>>>>>>>>>>>>>>>>>>> 18823 /lvl2/ Human Resources Coordinator - Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Surabaya", title_clean   = " - Surabaya", title_id  = "2631"  where id = '18823'
5703 /lvl1/ Service & Support Engineers
6215 /lvl1/ Strategic Marketing Planner
=>>>>>>>>>>>>>>>>>>>>>> 1875 /lvl2/ Strategic Marketing Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6215"  where id = '1875'
=>>>>>>>>>>>>>>>>>>>>>> 15787 /lvl2/ Strategic Marketing Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6215"  where id = '15787'
2633 /lvl1/ Human Resources Development
=>>>>>>>>>>>>>>>>>>>>>> 898 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '898'
=>>>>>>>>>>>>>>>>>>>>>> 2111 /lvl2/ Accountant  /  Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accountant  /  -idex-", title_clean   = "Accountant  /  ", title_id  = "2633"  where id = '2111'
=>>>>>>>>>>>>>>>>>>>>>> 2246 /lvl2/ Human Resource Department (Human Resources Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resource Department (-idex-)", title_clean   = "Human Resource Department ()", title_id  = "2633"  where id = '2246'
=>>>>>>>>>>>>>>>>>>>>>> 3156 /lvl2/ Human Resources Development（Administrative officer）
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-（Administrative officer）", title_clean   = "（Administrative officer）", title_id  = "2633"  where id = '3156'
=>>>>>>>>>>>>>>>>>>>>>> 3247 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '3247'
=>>>>>>>>>>>>>>>>>>>>>> 3430 /lvl2/ Supervisor Compensation & Benefit (Human Resources Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Compensation & Benefit (-idex-)", title_clean   = "Supervisor Compensation & Benefit ()", title_id  = "2633"  where id = '3430'
=>>>>>>>>>>>>>>>>>>>>>> 4025 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '4025'
=>>>>>>>>>>>>>>>>>>>>>> 5124 /lvl2/ SPV Human Resources Development-Industrial Relationship
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex--Industrial Relationship", title_clean   = "SPV -Industrial Relationship", title_id  = "2633"  where id = '5124'
=>>>>>>>>>>>>>>>>>>>>>> 5380 /lvl2/ Lowongan Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lowongan -idex-", title_clean   = "Lowongan ", title_id  = "2633"  where id = '5380'
=>>>>>>>>>>>>>>>>>>>>>> 6483 /lvl2/ Lowongan Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lowongan -idex-", title_clean   = "Lowongan ", title_id  = "2633"  where id = '6483'
=>>>>>>>>>>>>>>>>>>>>>> 6557 /lvl2/ Human Resources Development ( Human Resource Development )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Human Resource Development )", title_clean   = " ( Human Resource Development )", title_id  = "2633"  where id = '6557'
=>>>>>>>>>>>>>>>>>>>>>> 7438 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '7438'
=>>>>>>>>>>>>>>>>>>>>>> 7477 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '7477'
=>>>>>>>>>>>>>>>>>>>>>> 7729 /lvl2/ Human Resources Development ( Human Resource Development )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Human Resource Development )", title_clean   = " ( Human Resource Development )", title_id  = "2633"  where id = '7729'
=>>>>>>>>>>>>>>>>>>>>>> 8046 /lvl2/ Human Resources Development ( Human Resource Development )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Human Resource Development )", title_clean   = " ( Human Resource Development )", title_id  = "2633"  where id = '8046'
=>>>>>>>>>>>>>>>>>>>>>> 10740 /lvl2/ Human Resources Development and General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and General Affairs Manager", title_clean   = " and General Affairs Manager", title_id  = "2633"  where id = '10740'
=>>>>>>>>>>>>>>>>>>>>>> 10751 /lvl2/ Intern (GAu002FHuman Resources Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern (GAu002F-idex-)", title_clean   = "Intern (GAu002F)", title_id  = "2633"  where id = '10751'
=>>>>>>>>>>>>>>>>>>>>>> 11248 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '11248'
=>>>>>>>>>>>>>>>>>>>>>> 11321 /lvl2/ Human Resources Development Learning and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Learning and Development", title_clean   = " Learning and Development", title_id  = "2633"  where id = '11321'
=>>>>>>>>>>>>>>>>>>>>>> 11738 /lvl2/ Human Resources Development  Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  Officer", title_clean   = "  Officer", title_id  = "2633"  where id = '11738'
=>>>>>>>>>>>>>>>>>>>>>> 12417 /lvl2/ Personalia  /  Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personalia  /  -idex-", title_clean   = "Personalia  /  ", title_id  = "2633"  where id = '12417'
=>>>>>>>>>>>>>>>>>>>>>> 12633 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '12633'
=>>>>>>>>>>>>>>>>>>>>>> 12998 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '12998'
=>>>>>>>>>>>>>>>>>>>>>> 13136 /lvl2/ Human Resources Development-GA STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--GA STAFF", title_clean   = "-GA STAFF", title_id  = "2633"  where id = '13136'
=>>>>>>>>>>>>>>>>>>>>>> 13146 /lvl2/ Human Resources Development-GA STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--GA STAFF", title_clean   = "-GA STAFF", title_id  = "2633"  where id = '13146'
=>>>>>>>>>>>>>>>>>>>>>> 14039 /lvl2/ Human Capital Management (Human Resources Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Capital Management (-idex-)", title_clean   = "Human Capital Management ()", title_id  = "2633"  where id = '14039'
=>>>>>>>>>>>>>>>>>>>>>> 14161 /lvl2/ Human Resources Development SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV", title_clean   = " SPV", title_id  = "2633"  where id = '14161'
=>>>>>>>>>>>>>>>>>>>>>> 14242 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '14242'
=>>>>>>>>>>>>>>>>>>>>>> 14362 /lvl2/ Human Capital Management (Human Resources Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Capital Management (-idex-)", title_clean   = "Human Capital Management ()", title_id  = "2633"  where id = '14362'
=>>>>>>>>>>>>>>>>>>>>>> 14470 /lvl2/ Human Resources Development Specialist - PT Lippo Malls Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Specialist - PT Lippo Malls Indonesia", title_clean   = " Specialist - PT Lippo Malls Indonesia", title_id  = "2633"  where id = '14470'
=>>>>>>>>>>>>>>>>>>>>>> 14526 /lvl2/ Human Resources Development SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV", title_clean   = " SPV", title_id  = "2633"  where id = '14526'
=>>>>>>>>>>>>>>>>>>>>>> 14541 /lvl2/ Human Resources Development SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV", title_clean   = " SPV", title_id  = "2633"  where id = '14541'
=>>>>>>>>>>>>>>>>>>>>>> 14612 /lvl2/ Human Resources Development (Recruitment)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Recruitment)", title_clean   = " (Recruitment)", title_id  = "2633"  where id = '14612'
=>>>>>>>>>>>>>>>>>>>>>> 14969 /lvl2/ Human Resources DevelopmentGA Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-GA Manager", title_clean   = "GA Manager", title_id  = "2633"  where id = '14969'
=>>>>>>>>>>>>>>>>>>>>>> 15005 /lvl2/ Human Resources Development (Recruitment)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Recruitment)", title_clean   = " (Recruitment)", title_id  = "2633"  where id = '15005'
=>>>>>>>>>>>>>>>>>>>>>> 15502 /lvl2/ Human Resource (Human Resources Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resource (-idex-)", title_clean   = "Human Resource ()", title_id  = "2633"  where id = '15502'
=>>>>>>>>>>>>>>>>>>>>>> 16590 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '16590'
=>>>>>>>>>>>>>>>>>>>>>> 16699 /lvl2/ Human Resources Development GA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GA", title_clean   = " GA", title_id  = "2633"  where id = '16699'
=>>>>>>>>>>>>>>>>>>>>>> 17059 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '17059'
=>>>>>>>>>>>>>>>>>>>>>> 17108 /lvl2/ Human Resources Development GAu002F Senior Admin Finance Tax EXIMu002F Spv operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GAu002F Senior Admin Finance Tax EXIMu002F Spv operation", title_clean   = " GAu002F Senior Admin Finance Tax EXIMu002F Spv operation", title_id  = "2633"  where id = '17108'
=>>>>>>>>>>>>>>>>>>>>>> 17116 /lvl2/ Human Resources Development GA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GA", title_clean   = " GA", title_id  = "2633"  where id = '17116'
=>>>>>>>>>>>>>>>>>>>>>> 17156 /lvl2/ General Affairu002F Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "General Affairu002F -idex-", title_clean   = "General Affairu002F ", title_id  = "2633"  where id = '17156'
=>>>>>>>>>>>>>>>>>>>>>> 17182 /lvl2/ Human Resources Developmentu002FPersonalia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-u002FPersonalia", title_clean   = "u002FPersonalia", title_id  = "2633"  where id = '17182'
=>>>>>>>>>>>>>>>>>>>>>> 17337 /lvl2/ Human Resources Development-Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Legal", title_clean   = "-Legal", title_id  = "2633"  where id = '17337'
=>>>>>>>>>>>>>>>>>>>>>> 17451 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '17451'
=>>>>>>>>>>>>>>>>>>>>>> 17479 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '17479'
=>>>>>>>>>>>>>>>>>>>>>> 18293 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '18293'
=>>>>>>>>>>>>>>>>>>>>>> 18322 /lvl2/ Human Resources Development GA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- GA", title_clean   = " GA", title_id  = "2633"  where id = '18322'
=>>>>>>>>>>>>>>>>>>>>>> 18377 /lvl2/ Human Resources Development SPV / SENIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV / SENIOR", title_clean   = " SPV / SENIOR", title_id  = "2633"  where id = '18377'
=>>>>>>>>>>>>>>>>>>>>>> 18601 /lvl2/ Human Resources Department ( Human Resources Development )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Department ( -idex- )", title_clean   = "Human Resources Department (  )", title_id  = "2633"  where id = '18601'
=>>>>>>>>>>>>>>>>>>>>>> 18617 /lvl2/ Human Resources Department ( Human Resources Development )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources Department ( -idex- )", title_clean   = "Human Resources Department (  )", title_id  = "2633"  where id = '18617'
=>>>>>>>>>>>>>>>>>>>>>> 19566 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '19566'
=>>>>>>>>>>>>>>>>>>>>>> 19589 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '19589'
=>>>>>>>>>>>>>>>>>>>>>> 20399 /lvl2/ Human Resources Development Spv
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Spv", title_clean   = " Spv", title_id  = "2633"  where id = '20399'
=>>>>>>>>>>>>>>>>>>>>>> 20441 /lvl2/ Human Resources Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2633"  where id = '20441'
5449 /lvl1/ Senior Accounting & Finance

=>>>>>>>>>>>>>>>>>>>>>> 4118 /lvl2/ SENIOR ACCOUNTING & FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR ACCOUNTING & FINANCE", title_clean   = "SENIOR ACCOUNTING & FINANCE", title_id  = "5449"  where id = '4118'
1354 /lvl1/ Data Center Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 2908 /lvl2/ Data Center Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1354"  where id = '2908'
4426 /lvl1/ Producer & Sme Data Officer
6474 /lvl1/ Talent Acceleration Program
=>>>>>>>>>>>>>>>>>>>>>> 13912 /lvl2/ Talent Acceleration Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6474"  where id = '13912'
3403 /lvl1/ Logistic & Purchasing Staff
=>>>>>>>>>>>>>>>>>>>>>> 17889 /lvl2/ Logistic & Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3403"  where id = '17889'
3404 /lvl1/ Logistic & System Executive
=>>>>>>>>>>>>>>>>>>>>>> 15060 /lvl2/ Logistic & System Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3404"  where id = '15060'
2382 /lvl1/ Head of Merchandising Fresh
=>>>>>>>>>>>>>>>>>>>>>> 11099 /lvl2/ Head of Merchandising Fresh
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2382"  where id = '11099'
=>>>>>>>>>>>>>>>>>>>>>> 11122 /lvl2/ Head of Merchandising Fresh
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2382"  where id = '11122'
4686 /lvl1/ Purchasing Staff Lokal Dept
5454 /lvl1/ Senior Accounting Executive
=>>>>>>>>>>>>>>>>>>>>>> 11663 /lvl2/ SENIOR ACCOUNTING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR ACCOUNTING EXECUTIVE", title_clean   = "SENIOR ACCOUNTING EXECUTIVE", title_id  = "5454"  where id = '11663'
3919 /lvl1/ Mobile GAme Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 7261 /lvl2/ MOBILE GAME Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MOBILE GAME Product Manager", title_clean   = "MOBILE GAME Product Manager", title_id  = "3919"  where id = '7261'
6991 /lvl1/ Website Front End Developer
6224 /lvl1/ Strategy & Development Head
=>>>>>>>>>>>>>>>>>>>>>> 9741 /lvl2/ Strategy & Development Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6224"  where id = '9741'
339 /lvl1/ Agricultural Technical Lead
=>>>>>>>>>>>>>>>>>>>>>> 922 /lvl2/ Agricultural Technical Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "339"  where id = '922'
1107 /lvl1/ Coordinator Tenant Relation
=>>>>>>>>>>>>>>>>>>>>>> 13682 /lvl2/ COORDINATOR TENANT RELATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COORDINATOR TENANT RELATION", title_clean   = "COORDINATOR TENANT RELATION", title_id  = "1107"  where id = '13682'
4435 /lvl1/ Product Application Officer
=>>>>>>>>>>>>>>>>>>>>>> 9074 /lvl2/ Product Application Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4435"  where id = '9074'
84 /lvl1/ Accounting & Tax Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5459 /lvl2/ ACCOUNTING & TAX SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX SUPERVISOR", title_clean   = "ACCOUNTING & TAX SUPERVISOR", title_id  = "84"  where id = '5459'
=>>>>>>>>>>>>>>>>>>>>>> 6356 /lvl2/ Accounting & Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "84"  where id = '6356'
=>>>>>>>>>>>>>>>>>>>>>> 6755 /lvl2/ ACCOUNTING & TAX SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX SUPERVISOR", title_clean   = "ACCOUNTING & TAX SUPERVISOR", title_id  = "84"  where id = '6755'
=>>>>>>>>>>>>>>>>>>>>>> 7420 /lvl2/ Accounting & Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "84"  where id = '7420'
=>>>>>>>>>>>>>>>>>>>>>> 8757 /lvl2/ Accounting & Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "84"  where id = '8757'
=>>>>>>>>>>>>>>>>>>>>>> 8863 /lvl2/ Accounting & Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "84"  where id = '8863'
6228 /lvl1/ Strategy Planning Executive
=>>>>>>>>>>>>>>>>>>>>>> 4752 /lvl2/ Strategy Planning Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6228"  where id = '4752'
6740 /lvl1/ Tenant Relation Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 13455 /lvl2/ Tenant Relation Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6740"  where id = '13455'
853 /lvl1/ Casual Leasing Section Head
=>>>>>>>>>>>>>>>>>>>>>> 10020 /lvl2/ Casual Leasing Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "853"  where id = '10020'
6744 /lvl1/ Tendering & Design Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7402 /lvl2/ Tendering & Design Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6744"  where id = '7402'
1369 /lvl1/ Data Reconciliation Officer
=>>>>>>>>>>>>>>>>>>>>>> 19372 /lvl2/ Data Reconciliation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1369"  where id = '19372'
4443 /lvl1/ Product Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 2883 /lvl2/ Product Development Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4443"  where id = '2883'
92 /lvl1/ Accounting Audit Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13042 /lvl2/ ACCOUNTING AUDIT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING AUDIT SUPERVISOR", title_clean   = "ACCOUNTING AUDIT SUPERVISOR", title_id  = "92"  where id = '13042'
6494 /lvl1/ Talent Management Executive
=>>>>>>>>>>>>>>>>>>>>>> 4632 /lvl2/ Talent Management Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6494"  where id = '4632'
4448 /lvl1/ Product Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 4941 /lvl2/ Product Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4448"  where id = '4941'
=>>>>>>>>>>>>>>>>>>>>>> 9846 /lvl2/ Product Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4448"  where id = '9846'
=>>>>>>>>>>>>>>>>>>>>>> 9999 /lvl2/ Product Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4448"  where id = '9999'
4960 /lvl1/ Reporting & Mis Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 11178 /lvl2/ Reporting & MIS Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Reporting & MIS Coordinator", title_clean   = "Reporting & MIS Coordinator", title_id  = "4960"  where id = '11178'
6240 /lvl1/ Supervisi Operasional Crane
=>>>>>>>>>>>>>>>>>>>>>> 8493 /lvl2/ Supervisi Operasional Crane
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6240"  where id = '8493'
7012 /lvl1/ Workshop Production Manager
=>>>>>>>>>>>>>>>>>>>>>> 19161 /lvl2/ WORKSHOP PRODUCTION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WORKSHOP PRODUCTION MANAGER", title_clean   = "WORKSHOP PRODUCTION MANAGER", title_id  = "7012"  where id = '19161'
3429 /lvl1/ Machine Learning Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7024 /lvl2/ Machine Learning Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3429"  where id = '7024'
5221 /lvl1/ Sales Manager Modern Market
=>>>>>>>>>>>>>>>>>>>>>> 16135 /lvl2/ Sales Manager Modern Market
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5221"  where id = '16135'
5477 /lvl1/ Senior Brand & Pr Executive
=>>>>>>>>>>>>>>>>>>>>>> 1911 /lvl2/ Senior Brand & PR Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Brand & PR Executive", title_clean   = "Senior Brand & PR Executive", title_id  = "5477"  where id = '1911'
4966 /lvl1/ Research & Development Staf
6502 /lvl1/ Tax & Accounting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6474 /lvl2/ Tax & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6502"  where id = '6474'
=>>>>>>>>>>>>>>>>>>>>>> 12399 /lvl2/ TAX & ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX & ACCOUNTING SUPERVISOR", title_clean   = "TAX & ACCOUNTING SUPERVISOR", title_id  = "6502"  where id = '12399'
=>>>>>>>>>>>>>>>>>>>>>> 20505 /lvl2/ Tax & Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6502"  where id = '20505'
6758 /lvl1/ Tiktok Operation Specialist

=>>>>>>>>>>>>>>>>>>>>>> 3450 /lvl2/ TIKTOK Operation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TIKTOK Operation Specialist", title_clean   = "TIKTOK Operation Specialist", title_id  = "6758"  where id = '3450'
=>>>>>>>>>>>>>>>>>>>>>> 5875 /lvl2/ TIKTOK OPERATION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TIKTOK OPERATION SPECIALIST", title_clean   = "TIKTOK OPERATION SPECIALIST", title_id  = "6758"  where id = '5875'
=>>>>>>>>>>>>>>>>>>>>>> 6959 /lvl2/ TIKTOK OPERATION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TIKTOK OPERATION SPECIALIST", title_clean   = "TIKTOK OPERATION SPECIALIST", title_id  = "6758"  where id = '6959'
3431 /lvl1/ Magang Posisi Logistik & IT
872 /lvl1/ Channel Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 17591 /lvl2/ Channel Development Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "872"  where id = '17591'
5481 /lvl1/ Senior Business Development
=>>>>>>>>>>>>>>>>>>>>>> 5281 /lvl2/ Senior Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5481"  where id = '5281'
=>>>>>>>>>>>>>>>>>>>>>> 14494 /lvl2/ Senior Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5481"  where id = '14494'
=>>>>>>>>>>>>>>>>>>>>>> 14869 /lvl2/ Senior Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5481"  where id = '14869'
6249 /lvl1/ Supervisor Accounting & Fin
=>>>>>>>>>>>>>>>>>>>>>> 19279 /lvl2/ Supervisor Accounting & Fin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6249"  where id = '19279'
6250 /lvl1/ Supervisor Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 3584 /lvl2/ Supervisor Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6250"  where id = '3584'
=>>>>>>>>>>>>>>>>>>>>>> 4595 /lvl2/ Supervisor Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6250"  where id = '4595'
=>>>>>>>>>>>>>>>>>>>>>> 19741 /lvl2/ Supervisor Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6250"  where id = '19741'
5740 /lvl1/ Site Acquisition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13158 /lvl2/ SITE ACQUISITION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE ACQUISITION SPECIALIST", title_clean   = "SITE ACQUISITION SPECIALIST", title_id  = "5740"  where id = '13158'
5741 /lvl1/ Site Acquisition Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3349 /lvl2/ Site Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5741"  where id = '3349'
=>>>>>>>>>>>>>>>>>>>>>> 3695 /lvl2/ Site Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5741"  where id = '3695'
=>>>>>>>>>>>>>>>>>>>>>> 13139 /lvl2/ Site Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5741"  where id = '13139'
=>>>>>>>>>>>>>>>>>>>>>> 13149 /lvl2/ Site Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5741"  where id = '13149'
3695 /lvl1/ Marketing Executive Solvent
2416 /lvl1/ Health Technical Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1882 /lvl2/ Health Technical Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2416"  where id = '1882'
3184 /lvl1/ Kepala Bagian Sales Project
=>>>>>>>>>>>>>>>>>>>>>> 12849 /lvl2/ Kepala Bagian Sales Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3184"  where id = '12849'
3696 /lvl1/ Marketing Executive Support
=>>>>>>>>>>>>>>>>>>>>>> 6100 /lvl2/ MARKETING EXECUTIVE SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE SUPPORT", title_clean   = "MARKETING EXECUTIVE SUPPORT", title_id  = "3696"  where id = '6100'
4464 /lvl1/ Product Operation Executive
=>>>>>>>>>>>>>>>>>>>>>> 826 /lvl2/ Product Operation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4464"  where id = '826'
=>>>>>>>>>>>>>>>>>>>>>> 845 /lvl2/ Product Operation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4464"  where id = '845'
116 /lvl1/ Accounting Senior Associate
=>>>>>>>>>>>>>>>>>>>>>> 1764 /lvl2/ Accounting Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "116"  where id = '1764'
4468 /lvl1/ Product Planning Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17737 /lvl2/ Product Planning Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4468"  where id = '17737'
=>>>>>>>>>>>>>>>>>>>>>> 17755 /lvl2/ Product Planning Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4468"  where id = '17755'
4469 /lvl1/ Product Planning Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3761 /lvl2/ Product Planning Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4469"  where id = '3761'
6264 /lvl1/ Supervisor Cleaning Service
=>>>>>>>>>>>>>>>>>>>>>> 13217 /lvl2/ Supervisor Cleaning Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6264"  where id = '13217'
4221 /lvl1/ People Management Associate
=>>>>>>>>>>>>>>>>>>>>>> 11236 /lvl2/ People Management Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4221"  where id = '11236'
4989 /lvl1/ Retail Merchandiser Manager
=>>>>>>>>>>>>>>>>>>>>>> 19307 /lvl2/ Retail Merchandiser Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4989"  where id = '19307'
638 /lvl1/ Bilingual Project Secretary
=>>>>>>>>>>>>>>>>>>>>>> 511 /lvl2/ Bilingual Project Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "638"  where id = '511'
6782 /lvl1/ Trainer & Technical Advisor
=>>>>>>>>>>>>>>>>>>>>>> 428 /lvl2/ Trainer & Technical Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6782"  where id = '428'
127 /lvl1/ Accounting Tax Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 16085 /lvl2/ Accounting Tax Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "127"  where id = '16085'
=>>>>>>>>>>>>>>>>>>>>>> 16103 /lvl2/ Accounting Tax Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "127"  where id = '16103'
385 /lvl1/ Application Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 7669 /lvl2/ Application Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "385"  where id = '7669'
6786 /lvl1/ Trainer Development Program
=>>>>>>>>>>>>>>>>>>>>>> 18171 /lvl2/ Trainer Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6786"  where id = '18171'
389 /lvl1/ Application Support Analyst
=>>>>>>>>>>>>>>>>>>>>>> 10258 /lvl2/ Application Support Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "389"  where id = '10258'
1158 /lvl1/ Corporate Secretary & Legal
=>>>>>>>>>>>>>>>>>>>>>> 3818 /lvl2/ Corporate Secretary & Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1158"  where id = '3818'
1160 /lvl1/ Corporate Secretary Manager
=>>>>>>>>>>>>>>>>>>>>>> 6501 /lvl2/ Corporate Secretary Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1160"  where id = '6501'
5768 /lvl1/ Sme Telecommunication Radio
=>>>>>>>>>>>>>>>>>>>>>> 1303 /lvl2/ SME Telecommunication Radio
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SME Telecommunication Radio", title_clean   = "SME Telecommunication Radio", title_id  = "5768"  where id = '1303'
=>>>>>>>>>>>>>>>>>>>>>> 1317 /lvl2/ SME Telecommunication Radio
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SME Telecommunication Radio", title_clean   = "SME Telecommunication Radio", title_id  = "5768"  where id = '1317'
393 /lvl1/ Application Systems Manager
=>>>>>>>>>>>>>>>>>>>>>> 19092 /lvl2/ APPLICATION SYSTEMS MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APPLICATION SYSTEMS MANAGER", title_clean   = "APPLICATION SYSTEMS MANAGER", title_id  = "393"  where id = '19092'
3722 /lvl1/ Marketing Material Building

=>>>>>>>>>>>>>>>>>>>>>> 3134 /lvl2/ MARKETING MATERIAL BUILDING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MATERIAL BUILDING", title_clean   = "MARKETING MATERIAL BUILDING", title_id  = "3722"  where id = '3134'
5259 /lvl1/ Sales Officer For B2B & B2C
2700 /lvl1/ Industrial Relation Manager
=>>>>>>>>>>>>>>>>>>>>>> 17358 /lvl2/ Industrial Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2700"  where id = '17358'
1681 /lvl1/ Employee Engagement Manager
=>>>>>>>>>>>>>>>>>>>>>> 14397 /lvl2/ Employee Engagement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1681"  where id = '14397'
914 /lvl1/ Chief Internal Audit & Jsox
=>>>>>>>>>>>>>>>>>>>>>> 9307 /lvl2/ Chief Internal Audit & JSOX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Chief Internal Audit & JSOX", title_clean   = "Chief Internal Audit & JSOX", title_id  = "914"  where id = '9307'
1938 /lvl1/ Finance & After Sales Admin
2964 /lvl1/ It Product Owner Specialist
=>>>>>>>>>>>>>>>>>>>>>> 12015 /lvl2/ IT Product Owner Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Product Owner Specialist", title_clean   = "IT Product Owner Specialist", title_id  = "2964"  where id = '12015'
4503 /lvl1/ Production Shift Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17316 /lvl2/ Production Shift Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4503"  where id = '17316'
5527 /lvl1/ Senior Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 9291 /lvl2/ Senior Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5527"  where id = '9291'
=>>>>>>>>>>>>>>>>>>>>>> 9911 /lvl2/ Senior Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5527"  where id = '9911'
=>>>>>>>>>>>>>>>>>>>>>> 15099 /lvl2/ Senior Full Stack Developer (Programmer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Programmer)", title_clean   = " (Programmer)", title_id  = "5527"  where id = '15099'
=>>>>>>>>>>>>>>>>>>>>>> 15561 /lvl2/ Senior Full Stack Developer (Programmer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Programmer)", title_clean   = " (Programmer)", title_id  = "5527"  where id = '15561'
4760 /lvl1/ Qlik Development Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11953 /lvl2/ Qlik Development Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4760"  where id = '11953'
6552 /lvl1/ Team Leader Desk Collection
=>>>>>>>>>>>>>>>>>>>>>> 19895 /lvl2/ Team Leader Desk Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6552"  where id = '19895'
2201 /lvl1/ General Manager Contruction
=>>>>>>>>>>>>>>>>>>>>>> 10245 /lvl2/ General Manager Contruction
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2201"  where id = '10245'
5530 /lvl1/ Senior Full Stack Developer
155 /lvl1/ Admin & Sales Counter Kudus
=>>>>>>>>>>>>>>>>>>>>>> 11278 /lvl2/ Admin & Sales Counter Kudus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "155"  where id = '11278'
2715 /lvl1/ Inside Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 8751 /lvl2/ Inside Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2715"  where id = '8751'
=>>>>>>>>>>>>>>>>>>>>>> 11860 /lvl2/ Inside Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2715"  where id = '11860'
413 /lvl1/ Assistant Manager Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 12730 /lvl2/ Assistant Manager Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "413"  where id = '12730'
=>>>>>>>>>>>>>>>>>>>>>> 12821 /lvl2/ Assistant Manager Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "413"  where id = '12821'
=>>>>>>>>>>>>>>>>>>>>>> 12832 /lvl2/ Assistant Manager Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "413"  where id = '12832'
2205 /lvl1/ General Manager Operational
=>>>>>>>>>>>>>>>>>>>>>> 20251 /lvl2/ General Manager Operational
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2205"  where id = '20251'
158 /lvl1/ Admin Account Auction Staff
927 /lvl1/ Civil & Structural Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12168 /lvl2/ Civil & Structural Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "927"  where id = '12168'
3744 /lvl1/ Marketing Research Planning
=>>>>>>>>>>>>>>>>>>>>>> 1954 /lvl2/ Marketing Research Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3744"  where id = '1954'
=>>>>>>>>>>>>>>>>>>>>>> 2635 /lvl2/ Marketing Research Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3744"  where id = '2635'
6816 /lvl1/ Translation Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 2650 /lvl2/ Translation Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6816"  where id = '2650'
6561 /lvl1/ Tech Recruitment Specialist
=>>>>>>>>>>>>>>>>>>>>>> 785 /lvl2/ Tech Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6561"  where id = '785'
5282 /lvl1/ Sales Promotion Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 9540 /lvl2/ Sales Promotion Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5282"  where id = '9540'
4003 /lvl1/ Officer Development Program
=>>>>>>>>>>>>>>>>>>>>>> 18763 /lvl2/ Officer Development Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4003"  where id = '18763'
4259 /lvl1/ Personal Assistant To Owner
=>>>>>>>>>>>>>>>>>>>>>> 13093 /lvl2/ Personal Assistant to Owner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to Owner", title_clean   = "Personal Assistant to Owner", title_id  = "4259"  where id = '13093'
676 /lvl1/ Brand Activation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6735 /lvl2/ BRAND ACTIVATION SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BRAND ACTIVATION SPECIALIST", title_clean   = "BRAND ACTIVATION SPECIALIST", title_id  = "676"  where id = '6735'
=>>>>>>>>>>>>>>>>>>>>>> 15298 /lvl2/ Brand Activation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "676"  where id = '15298'
1444 /lvl1/ Desk Collection Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 9275 /lvl2/ Desk Collection Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1444"  where id = '9275'
=>>>>>>>>>>>>>>>>>>>>>> 13491 /lvl2/ Shopeepaylater - Desk Collection Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopeepaylater - -idex-", title_clean   = "Shopeepaylater - ", title_id  = "1444"  where id = '13491'
=>>>>>>>>>>>>>>>>>>>>>> 18943 /lvl2/ Desk Collection Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1444"  where id = '18943'
678 /lvl1/ Brand Communication Analyst
=>>>>>>>>>>>>>>>>>>>>>> 1437 /lvl2/ Brand Communication Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "678"  where id = '1437'
4775 /lvl1/ Quality Assurance Inspector
=>>>>>>>>>>>>>>>>>>>>>> 4137 /lvl2/ QUALITY ASSURANCE INSPECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY ASSURANCE INSPECTOR", title_clean   = "QUALITY ASSURANCE INSPECTOR", title_id  = "4775"  where id = '4137'
5799 /lvl1/ Software Back End Developer
=>>>>>>>>>>>>>>>>>>>>>> 7671 /lvl2/ Software Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5799"  where id = '7671'
6823 /lvl1/ Transport & Cod Ops Analyst
=>>>>>>>>>>>>>>>>>>>>>> 17002 /lvl2/ Transport & COD Ops Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Transport & COD Ops Analyst", title_clean   = "Transport & COD Ops Analyst", title_id  = "6823"  where id = '17002'
=>>>>>>>>>>>>>>>>>>>>>> 17027 /lvl2/ Transport & COD Ops Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Transport & COD Ops Analyst", title_clean   = "Transport & COD Ops Analyst", title_id  = "6823"  where id = '17027'
5288 /lvl1/ Sales Recruitment Associate

=>>>>>>>>>>>>>>>>>>>>>> 17693 /lvl2/ Sales Recruitment Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5288"  where id = '17693'
=>>>>>>>>>>>>>>>>>>>>>> 17703 /lvl2/ Sales Recruitment Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5288"  where id = '17703'
5544 /lvl1/ Senior IT Business Analystt
6312 /lvl1/ Supervisor IT Infrastucture
=>>>>>>>>>>>>>>>>>>>>>> 18442 /lvl2/ Supervisor IT Infrastucture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6312"  where id = '18442'
6824 /lvl1/ Transport Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 13726 /lvl2/ Transport Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6824"  where id = '13726'
1962 /lvl1/ Finance Accounting Taxation
=>>>>>>>>>>>>>>>>>>>>>> 8947 /lvl2/ Finance Accounting Taxation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1962"  where id = '8947'
=>>>>>>>>>>>>>>>>>>>>>> 9806 /lvl2/ Finance Accounting Taxation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1962"  where id = '9806'
2218 /lvl1/ Gm Finance, Accounting, Tax
=>>>>>>>>>>>>>>>>>>>>>> 5565 /lvl2/ GM Finance, Accounting, Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GM Finance, Accounting, Tax", title_clean   = "GM Finance, Accounting, Tax", title_id  = "2218"  where id = '5565'
1707 /lvl1/ Engineering General Manager
=>>>>>>>>>>>>>>>>>>>>>> 1800 /lvl2/ Engineering General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1707"  where id = '1800'
2476 /lvl1/ Human Resources Coordinator
5292 /lvl1/ Sales Representative B2B IT
=>>>>>>>>>>>>>>>>>>>>>> 2901 /lvl2/ Sales Representative B2B IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5292"  where id = '2901'
3757 /lvl1/ Marketing Student Counselor
=>>>>>>>>>>>>>>>>>>>>>> 5641 /lvl2/ Marketing Student Counselor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3757"  where id = '5641'
5037 /lvl1/ Sales / Marketing Executive
1711 /lvl1/ Engineering Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 17937 /lvl2/ Engineering Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1711"  where id = '17937'
4271 /lvl1/ Pharmacy Process Supervisor
4783 /lvl1/ Quality Control / Assurance
4272 /lvl1/ Pharmacycy Store Supervisor
3762 /lvl1/ Marketing Support & Program
1204 /lvl1/ Creative Design Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 2459 /lvl2/ Creative Design Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1204"  where id = '2459'
2228 /lvl1/ Golang Development Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12263 /lvl2/ Golang Development Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2228"  where id = '12263'
4277 /lvl1/ Photographer & Videographer
=>>>>>>>>>>>>>>>>>>>>>> 1277 /lvl2/ Photographer & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4277"  where id = '1277'
=>>>>>>>>>>>>>>>>>>>>>> 1943 /lvl2/ Photographer & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4277"  where id = '1943'
=>>>>>>>>>>>>>>>>>>>>>> 6197 /lvl2/ Photographer & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4277"  where id = '6197'
=>>>>>>>>>>>>>>>>>>>>>> 8986 /lvl2/ Photographer & Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4277"  where id = '8986'
6583 /lvl1/ Technical Maintenance Staff
=>>>>>>>>>>>>>>>>>>>>>> 7940 /lvl2/ Technical Maintenance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6583"  where id = '7940'
=>>>>>>>>>>>>>>>>>>>>>> 8248 /lvl2/ Technical Maintenance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6583"  where id = '8248'
954 /lvl1/ Clinical Research Associate
=>>>>>>>>>>>>>>>>>>>>>> 15269 /lvl2/ Clinical Research Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "954"  where id = '15269'
6586 /lvl1/ Technical Proposal Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1559 /lvl2/ Technical Proposal Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6586"  where id = '1559'
1723 /lvl1/ English Teacher For Primary
=>>>>>>>>>>>>>>>>>>>>>> 9075 /lvl2/ ENGLISH TEACHER FOR PRIMARY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGLISH TEACHER FOR PRIMARY", title_clean   = "ENGLISH TEACHER FOR PRIMARY", title_id  = "1723"  where id = '9075'
5563 /lvl1/ Senior Manager Construction
=>>>>>>>>>>>>>>>>>>>>>> 14177 /lvl2/ SENIOR MANAGER CONSTRUCTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR MANAGER CONSTRUCTION", title_clean   = "SENIOR MANAGER CONSTRUCTION", title_id  = "5563"  where id = '14177'
=>>>>>>>>>>>>>>>>>>>>>> 14550 /lvl2/ SENIOR MANAGER CONSTRUCTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR MANAGER CONSTRUCTION", title_clean   = "SENIOR MANAGER CONSTRUCTION", title_id  = "5563"  where id = '14550'
2493 /lvl1/ Human Resources Koordinator
=>>>>>>>>>>>>>>>>>>>>>> 13761 /lvl2/ Human Resources Koordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2493"  where id = '13761'
4029 /lvl1/ Operasional Risk Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3041 /lvl2/ Operasional Risk Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4029"  where id = '3041'
6333 /lvl1/ Supervisor Network Engineer
=>>>>>>>>>>>>>>>>>>>>>> 188 /lvl2/ Supervisor Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6333"  where id = '188'
3262 /lvl1/ Koordinator Account Officer
=>>>>>>>>>>>>>>>>>>>>>> 1626 /lvl2/ Koordinator Account Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3262"  where id = '1626'
5054 /lvl1/ Sales & Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 4822 /lvl2/ SALES & MARKETING EXECUTIVE - BANJARMASIN (product : tyre)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING EXECUTIVE - BANJARMASIN (product : tyre)", title_clean   = "SALES & MARKETING EXECUTIVE - BANJARMASIN (product : tyre)", title_id  = "5054"  where id = '4822'
=>>>>>>>>>>>>>>>>>>>>>> 15205 /lvl2/ Sales & Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5054"  where id = '15205'
=>>>>>>>>>>>>>>>>>>>>>> 16165 /lvl2/ SALES & MARKETING EXECUTIVE - JAKARTA (product : tyre)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING EXECUTIVE - JAKARTA (product : tyre)", title_clean   = "SALES & MARKETING EXECUTIVE - JAKARTA (product : tyre)", title_id  = "5054"  where id = '16165'
=>>>>>>>>>>>>>>>>>>>>>> 16387 /lvl2/ Sales & Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5054"  where id = '16387'
1984 /lvl1/ Finance Institution Manager
=>>>>>>>>>>>>>>>>>>>>>> 15762 /lvl2/ Finance Institution Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1984"  where id = '15762'
5824 /lvl1/ Software Tester Qa Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8460 /lvl2/ Software Tester QA Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Software Tester QA Engineer", title_clean   = "Software Tester QA Engineer", title_id  = "5824"  where id = '8460'
1985 /lvl1/ Finance Institution Officer
=>>>>>>>>>>>>>>>>>>>>>> 14384 /lvl2/ Finance Institution Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1985"  where id = '14384'
4801 /lvl1/ Quality Improvement Manager
=>>>>>>>>>>>>>>>>>>>>>> 19037 /lvl2/ Quality Improvement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4801"  where id = '19037'
6337 /lvl1/ Supervisor Pelaksana Proyek
=>>>>>>>>>>>>>>>>>>>>>> 315 /lvl2/ SUPERVISOR PELAKSANA PROYEK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PELAKSANA PROYEK", title_clean   = "SUPERVISOR PELAKSANA PROYEK", title_id  = "6337"  where id = '315'
=>>>>>>>>>>>>>>>>>>>>>> 19044 /lvl2/ SUPERVISOR PELAKSANA PROYEK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PELAKSANA PROYEK", title_clean   = "SUPERVISOR PELAKSANA PROYEK", title_id  = "6337"  where id = '19044'
5827 /lvl1/ Solution Architect Software

=>>>>>>>>>>>>>>>>>>>>>> 7239 /lvl2/ Solution Architect Software
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5827"  where id = '7239'
3524 /lvl1/ Manager Merchandise Grocery
=>>>>>>>>>>>>>>>>>>>>>> 13162 /lvl2/ Manager Merchandise Grocery
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3524"  where id = '13162'
5060 /lvl1/ Sales & Marketing Pemasaran
6085 /lvl1/ Staff Keuangan & Accounting
2758 /lvl1/ Internal Audit Section Head
=>>>>>>>>>>>>>>>>>>>>>> 1192 /lvl2/ Internal Audit Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2758"  where id = '1192'
2759 /lvl1/ Internal Audit Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 12384 /lvl2/ INTERNAL AUDIT SENIOR STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERNAL AUDIT SENIOR STAFF", title_clean   = "INTERNAL AUDIT SENIOR STAFF", title_id  = "2759"  where id = '12384'
1226 /lvl1/ Credit Marketing Elektronik
=>>>>>>>>>>>>>>>>>>>>>> 11189 /lvl2/ Credit Marketing Elektronik CRO Tasikmalaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- CRO Tasikmalaya", title_clean   = " CRO Tasikmalaya", title_id  = "1226"  where id = '11189'
=>>>>>>>>>>>>>>>>>>>>>> 11490 /lvl2/ Credit Marketing Elektronik CRO Sumedang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- CRO Sumedang", title_clean   = " CRO Sumedang", title_id  = "1226"  where id = '11490'
5834 /lvl1/ Sopir Perusahaan Manufaktur
=>>>>>>>>>>>>>>>>>>>>>> 9873 /lvl2/ Sopir Perusahaan Manufaktur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5834"  where id = '9873'
2252 /lvl1/ Graphic Designer Illustator
=>>>>>>>>>>>>>>>>>>>>>> 19854 /lvl2/ GRAPHIC DESIGNER ILLUSTATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GRAPHIC DESIGNER ILLUSTATOR", title_clean   = "GRAPHIC DESIGNER ILLUSTATOR", title_id  = "2252"  where id = '19854'
3020 /lvl1/ It Support / System Manager
=>>>>>>>>>>>>>>>>>>>>>> 8754 /lvl2/ IT Support / system manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support / system manager", title_clean   = "IT Support / system manager", title_id  = "3020"  where id = '8754'
6861 /lvl1/ User Acquisition Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3700 /lvl2/ User Acquisition Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6861"  where id = '3700'
462 /lvl1/ Assistant Gudang & Logistik
719 /lvl1/ Building Maintenance School
=>>>>>>>>>>>>>>>>>>>>>> 8439 /lvl2/ Building Maintenance School
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "719"  where id = '8439'
2255 /lvl1/ Graphic Designer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12374 /lvl2/ Graphic Designer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2255"  where id = '12374'
5583 /lvl1/ Senior Merchandiser Manager
=>>>>>>>>>>>>>>>>>>>>>> 2878 /lvl2/ Senior Merchandiser Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5583"  where id = '2878'
6095 /lvl1/ Staff Maintenance Kendaraan
=>>>>>>>>>>>>>>>>>>>>>> 2436 /lvl2/ STAFF MAINTENANCE KENDARAAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MAINTENANCE KENDARAAN", title_clean   = "STAFF MAINTENANCE KENDARAAN", title_id  = "6095"  where id = '2436'
4305 /lvl1/ Planning & Scheduling Staff
=>>>>>>>>>>>>>>>>>>>>>> 1659 /lvl2/ Planning & Scheduling Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4305"  where id = '1659'
4561 /lvl1/ Project Engineer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1956 /lvl2/ Project Engineer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4561"  where id = '1956'
722 /lvl1/ Building Material Specifier
=>>>>>>>>>>>>>>>>>>>>>> 4154 /lvl2/ Building Material Specifier
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "722"  where id = '4154'
2258 /lvl1/ Grid Network Motion Graphic
=>>>>>>>>>>>>>>>>>>>>>> 10581 /lvl2/ Grid Network Motion Graphic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2258"  where id = '10581'
=>>>>>>>>>>>>>>>>>>>>>> 10613 /lvl2/ Grid Network Motion Graphic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2258"  where id = '10613'
1236 /lvl1/ Credit Scoring Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11090 /lvl2/ Credit Scoring Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1236"  where id = '11090'
1748 /lvl1/ ERP Accounting System Staff
=>>>>>>>>>>>>>>>>>>>>>> 13200 /lvl2/ ERP Accounting System Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1748"  where id = '13200'
6612 /lvl1/ Technical Support Flat Roof
=>>>>>>>>>>>>>>>>>>>>>> 8455 /lvl2/ Technical Support Flat Roof
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6612"  where id = '8455'
5334 /lvl1/ Salesforce Delivery Manager
=>>>>>>>>>>>>>>>>>>>>>> 3529 /lvl2/ Salesforce Delivery Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5334"  where id = '3529'
983 /lvl1/ Collection & Kasir Property
=>>>>>>>>>>>>>>>>>>>>>> 2478 /lvl2/ COLLECTION & KASIR PROPERTY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COLLECTION & KASIR PROPERTY", title_clean   = "COLLECTION & KASIR PROPERTY", title_id  = "983"  where id = '2478'
1495 /lvl1/ Digital Marketing Associate
=>>>>>>>>>>>>>>>>>>>>>> 12036 /lvl2/ Digital Marketing Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1495"  where id = '12036'
2520 /lvl1/ Human Resources Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 789 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '789'
=>>>>>>>>>>>>>>>>>>>>>> 1938 /lvl2/ Human Resources RECRUITMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources RECRUITMENT", title_clean   = "Human Resources RECRUITMENT", title_id  = "2520"  where id = '1938'
=>>>>>>>>>>>>>>>>>>>>>> 4890 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '4890'
=>>>>>>>>>>>>>>>>>>>>>> 5792 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '5792'
=>>>>>>>>>>>>>>>>>>>>>> 5969 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '5969'
=>>>>>>>>>>>>>>>>>>>>>> 6289 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '6289'
=>>>>>>>>>>>>>>>>>>>>>> 6897 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '6897'
=>>>>>>>>>>>>>>>>>>>>>> 7260 /lvl2/ Human Resources Recruitment (Position : Junior - SPV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Position : Junior - SPV)", title_clean   = " (Position : Junior - SPV)", title_id  = "2520"  where id = '7260'
=>>>>>>>>>>>>>>>>>>>>>> 7446 /lvl2/ Human Resources Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2520"  where id = '7446'
=>>>>>>>>>>>>>>>>>>>>>> 8699 /lvl2/ Human Resources Recruitment (Position : Junior - SPV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Position : Junior - SPV)", title_clean   = " (Position : Junior - SPV)", title_id  = "2520"  where id = '8699'
217 /lvl1/ Admin Material Control FTTH
=>>>>>>>>>>>>>>>>>>>>>> 16716 /lvl2/ Admin Material Control FTTH
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "217"  where id = '16716'
2265 /lvl1/ Growth Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4155 /lvl2/ Growth Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2265"  where id = '4155'
1498 /lvl1/ Digital Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 1720 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '1720'
=>>>>>>>>>>>>>>>>>>>>>> 4436 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '4436'
=>>>>>>>>>>>>>>>>>>>>>> 4798 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '4798'
=>>>>>>>>>>>>>>>>>>>>>> 8383 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '8383'
=>>>>>>>>>>>>>>>>>>>>>> 8396 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '8396'
=>>>>>>>>>>>>>>>>>>>>>> 11825 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '11825'
=>>>>>>>>>>>>>>>>>>>>>> 14386 /lvl2/ Digital Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1498"  where id = '14386'
6107 /lvl1/ Staff Monitoring Cctv & Gps

=>>>>>>>>>>>>>>>>>>>>>> 12169 /lvl2/ Staff Monitoring CCTV & GPS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Monitoring CCTV & GPS", title_clean   = "Staff Monitoring CCTV & GPS", title_id  = "6107"  where id = '12169'
477 /lvl1/ Assistant Chief Engineering
=>>>>>>>>>>>>>>>>>>>>>> 20257 /lvl2/ Assistant Chief Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "477"  where id = '20257'
734 /lvl1/ Business Analyst Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11933 /lvl2/ Business Analyst Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "734"  where id = '11933'
1246 /lvl1/ Crewing Recruitment Officer
=>>>>>>>>>>>>>>>>>>>>>> 776 /lvl2/ Crewing Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1246"  where id = '776'
739 /lvl1/ Business Consultant For Ict
=>>>>>>>>>>>>>>>>>>>>>> 12687 /lvl2/ BUSINESS CONSULTANT FOR ICT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS CONSULTANT FOR ICT", title_clean   = "BUSINESS CONSULTANT FOR ICT", title_id  = "739"  where id = '12687'
4067 /lvl1/ Operator Boiler Power Plant
=>>>>>>>>>>>>>>>>>>>>>> 4119 /lvl2/ Operator Boiler Power Plant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4067"  where id = '4119'
5604 /lvl1/ Senior Purchasing Executive
=>>>>>>>>>>>>>>>>>>>>>> 2120 /lvl2/ Senior Purchasing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5604"  where id = '2120'
2277 /lvl1/ Guru Bahasa Inggris Tk / Sd
1512 /lvl1/ Digital Performance Manager
=>>>>>>>>>>>>>>>>>>>>>> 12955 /lvl2/ DIGITAL PERFORMANCE MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL PERFORMANCE MANAGER", title_clean   = "DIGITAL PERFORMANCE MANAGER", title_id  = "1512"  where id = '12955'
6376 /lvl1/ Supervisor Sales & Sales To
4073 /lvl1/ Operator Exavator Bulldozer
2540 /lvl1/ Human Resources Development
2799 /lvl1/ Interpreter Bahasa Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 10760 /lvl2/ Interpreter bahasa Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Interpreter bahasa Mandarin", title_clean   = "Interpreter bahasa Mandarin", title_id  = "2799"  where id = '10760'
1008 /lvl1/ Community Senior Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1440 /lvl2/ Community Senior Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1008"  where id = '1440'
1264 /lvl1/ Custom Clearance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1518 /lvl2/ Custom Clearance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1264"  where id = '1518'
3056 /lvl1/ Japanese Personal Assistant
=>>>>>>>>>>>>>>>>>>>>>> 4739 /lvl2/ Japanese Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3056"  where id = '4739'
5104 /lvl1/ Sales Canvasing Di Lapangan
5617 /lvl1/ Senior Relationship Manager
=>>>>>>>>>>>>>>>>>>>>>> 17136 /lvl2/ Senior Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5617"  where id = '17136'
1522 /lvl1/ Direct Distribution Manager
=>>>>>>>>>>>>>>>>>>>>>> 13660 /lvl2/ Direct Distribution Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1522"  where id = '13660'
499 /lvl1/ Assistant Manager Ecommerce
=>>>>>>>>>>>>>>>>>>>>>> 1765 /lvl2/ ASSISTANT MANAGER ECOMMERCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER ECOMMERCE", title_clean   = "ASSISTANT MANAGER ECOMMERCE", title_id  = "499"  where id = '1765'
5619 /lvl1/ Senior Relationship Officer
=>>>>>>>>>>>>>>>>>>>>>> 6441 /lvl2/ Senior Relationship Officer (Funding) - Sorong
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Funding) - Sorong", title_clean   = " (Funding) - Sorong", title_id  = "5619"  where id = '6441'
=>>>>>>>>>>>>>>>>>>>>>> 7463 /lvl2/ Senior Relationship Officer (Syariah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Syariah)", title_clean   = " (Syariah)", title_id  = "5619"  where id = '7463'
=>>>>>>>>>>>>>>>>>>>>>> 7593 /lvl2/ Senior Relationship Officer (Funding) - Sorong
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Funding) - Sorong", title_clean   = " (Funding) - Sorong", title_id  = "5619"  where id = '7593'
=>>>>>>>>>>>>>>>>>>>>>> 17659 /lvl2/ Senior Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5619"  where id = '17659'
2292 /lvl1/ Guru Matematika & Kimia Sma
=>>>>>>>>>>>>>>>>>>>>>> 9650 /lvl2/ Guru Matematika & Kimia SMA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Matematika & Kimia SMA", title_clean   = "Guru Matematika & Kimia SMA", title_id  = "2292"  where id = '9650'
3572 /lvl1/ Mandarin Teacher Assistants
=>>>>>>>>>>>>>>>>>>>>>> 11118 /lvl2/ Mandarin Teacher Assistants
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3572"  where id = '11118'
=>>>>>>>>>>>>>>>>>>>>>> 11129 /lvl2/ Mandarin Teacher Assistants
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3572"  where id = '11129'
6902 /lvl1/ Videographer / Photographer
1783 /lvl1/ Event & Publicity Executive
=>>>>>>>>>>>>>>>>>>>>>> 14340 /lvl2/ Event & Publicity Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1783"  where id = '14340'
6903 /lvl1/ Videographer / Video Editor
6905 /lvl1/ Videographer & Photographer
=>>>>>>>>>>>>>>>>>>>>>> 11989 /lvl2/ Videographer & Photographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6905"  where id = '11989'
=>>>>>>>>>>>>>>>>>>>>>> 18040 /lvl2/ Videographer & Photographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6905"  where id = '18040'
762 /lvl1/ Business Development Rental
=>>>>>>>>>>>>>>>>>>>>>> 3640 /lvl2/ BUSINESS DEVELOPMENT RENTAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT RENTAL", title_clean   = "BUSINESS DEVELOPMENT RENTAL", title_id  = "762"  where id = '3640'
5115 /lvl1/ Sales Consultant Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16897 /lvl2/ Sales Consultant Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5115"  where id = '16897'
6140 /lvl1/ Staff Purchasing Konstruksi
=>>>>>>>>>>>>>>>>>>>>>> 13999 /lvl2/ STAFF PURCHASING KONSTRUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PURCHASING KONSTRUKSI", title_clean   = "STAFF PURCHASING KONSTRUKSI", title_id  = "6140"  where id = '13999'
5629 /lvl1/ Senior Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 1790 /lvl2/ SENIOR SALES REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SALES REPRESENTATIVE", title_clean   = "SENIOR SALES REPRESENTATIVE", title_id  = "5629"  where id = '1790'
6397 /lvl1/ Supervisor Tax & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 15624 /lvl2/ Supervisor Tax & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6397"  where id = '15624'
6909 /lvl1/ Videographer Senior Officer
=>>>>>>>>>>>>>>>>>>>>>> 4757 /lvl2/ Videographer Senior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6909"  where id = '4757'
3838 /lvl1/ Media Monitoring Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8725 /lvl2/ Media Monitoring Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3838"  where id = '8725'
511 /lvl1/ Assistant Manager Marketing
=>>>>>>>>>>>>>>>>>>>>>> 14783 /lvl2/ Assistant Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "511"  where id = '14783'
768 /lvl1/ Business Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 448 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '448'
=>>>>>>>>>>>>>>>>>>>>>> 1002 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '1002'
=>>>>>>>>>>>>>>>>>>>>>> 1025 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '1025'
=>>>>>>>>>>>>>>>>>>>>>> 8665 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '8665'
=>>>>>>>>>>>>>>>>>>>>>> 11768 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '11768'
=>>>>>>>>>>>>>>>>>>>>>> 17404 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '17404'
=>>>>>>>>>>>>>>>>>>>>>> 18153 /lvl2/ Business Development Staff - Reporting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Reporting", title_clean   = " - Reporting", title_id  = "768"  where id = '18153'
=>>>>>>>>>>>>>>>>>>>>>> 18920 /lvl2/ Business Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "768"  where id = '18920'
=>>>>>>>>>>>>>>>>>>>>>> 20417 /lvl2/ Business Development Staff (New Location & Renewal)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (New Location & Renewal)", title_clean   = " (New Location & Renewal)", title_id  = "768"  where id = '20417'
4352 /lvl1/ Ppu Pm Calibration Planner

=>>>>>>>>>>>>>>>>>>>>>> 8790 /lvl2/ PPU PM Calibration Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PPU PM Calibration Planner", title_clean   = "PPU PM Calibration Planner", title_id  = "4352"  where id = '8790'
6657 /lvl1/ Teknisi Generator / Genset
=>>>>>>>>>>>>>>>>>>>>>> 7168 /lvl2/ Teknisi Generator / Genset
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6657"  where id = '7168'
6660 /lvl1/ Teknisi Hvac Refrigeration
=>>>>>>>>>>>>>>>>>>>>>> 11774 /lvl2/ Teknisi HVAC Refrigeration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi HVAC Refrigeration", title_clean   = "Teknisi HVAC Refrigeration", title_id  = "6660"  where id = '11774'
517 /lvl1/ Assistant Manager Produksi
=>>>>>>>>>>>>>>>>>>>>>> 3814 /lvl2/ Assistant Manager Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "517"  where id = '3814'
5637 /lvl1/ Senior Staff / Staff Legal
3335 /lvl1/ Learning Management Intern
=>>>>>>>>>>>>>>>>>>>>>> 4827 /lvl2/ Learning Management Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3335"  where id = '4827'
3847 /lvl1/ Medical Record & Resepsion
=>>>>>>>>>>>>>>>>>>>>>> 3032 /lvl2/ MEDICAL RECORD & RESEPSION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL RECORD & RESEPSION", title_clean   = "MEDICAL RECORD & RESEPSION", title_id  = "3847"  where id = '3032'
5129 /lvl1/ Sales Dental Representatif
=>>>>>>>>>>>>>>>>>>>>>> 18851 /lvl2/ Sales Dental Representatif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5129"  where id = '18851'
2058 /lvl1/ Flexi Financial Consultant
=>>>>>>>>>>>>>>>>>>>>>> 9604 /lvl2/ Flexi Financial Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2058"  where id = '9604'
779 /lvl1/ Business Intelligence Lead
=>>>>>>>>>>>>>>>>>>>>>> 17093 /lvl2/ Business Intelligence Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "779"  where id = '17093'
3853 /lvl1/ Medical Scientific Liaison
=>>>>>>>>>>>>>>>>>>>>>> 4644 /lvl2/ Medical Scientific Liaison
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3853"  where id = '4644'
6670 /lvl1/ Teknisi Laboraturium Tanah
=>>>>>>>>>>>>>>>>>>>>>> 1971 /lvl2/ Teknisi Laboraturium Tanah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6670"  where id = '1971'
4367 /lvl1/ Presales & Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 16187 /lvl2/ Presales & Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4367"  where id = '16187'
3346 /lvl1/ Legal & Compliance Manager
=>>>>>>>>>>>>>>>>>>>>>> 17096 /lvl2/ Legal & Compliance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3346"  where id = '17096'
4626 /lvl1/ Property Customer Relation
=>>>>>>>>>>>>>>>>>>>>>> 19753 /lvl2/ Property Customer Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4626"  where id = '19753'
5394 /lvl1/ Secondary School Principal
=>>>>>>>>>>>>>>>>>>>>>> 3545 /lvl2/ Secondary School Principal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5394"  where id = '3545'
3603 /lvl1/ Market Research Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1521 /lvl2/ MARKET RESEARCH SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKET RESEARCH SPECIALIST", title_clean   = "MARKET RESEARCH SPECIALIST", title_id  = "3603"  where id = '1521'
=>>>>>>>>>>>>>>>>>>>>>> 20219 /lvl2/ Market Research Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3603"  where id = '20219'
5651 /lvl1/ Senior Supervisor Produksi
=>>>>>>>>>>>>>>>>>>>>>> 12053 /lvl2/ Senior Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5651"  where id = '12053'
533 /lvl1/ Assistant Order Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16793 /lvl2/ Assistant Order Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "533"  where id = '16793'
1813 /lvl1/ Experienced Java Developer
=>>>>>>>>>>>>>>>>>>>>>> 11116 /lvl2/ Experienced Java Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1813"  where id = '11116'
=>>>>>>>>>>>>>>>>>>>>>> 11135 /lvl2/ Experienced Java Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1813"  where id = '11135'
4117 /lvl1/ Organizational Development
=>>>>>>>>>>>>>>>>>>>>>> 17080 /lvl2/ Organizational Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4117"  where id = '17080'
=>>>>>>>>>>>>>>>>>>>>>> 17095 /lvl2/ Organizational Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4117"  where id = '17095'
=>>>>>>>>>>>>>>>>>>>>>> 19138 /lvl2/ Organizational Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4117"  where id = '19138'
1302 /lvl1/ Customer Service & Product
5912 /lvl1/ Staff Legal & Administrasi
1305 /lvl1/ Customer Service Associate
=>>>>>>>>>>>>>>>>>>>>>> 18020 /lvl2/ Customer Service Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1305"  where id = '18020'
1561 /lvl1/ Dosen Tetap Bisnis Digital
2329 /lvl1/ Head Chef Traditional Food
=>>>>>>>>>>>>>>>>>>>>>> 16109 /lvl2/ HEAD CHEF TRADITIONAL FOOD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD CHEF TRADITIONAL FOOD", title_clean   = "HEAD CHEF TRADITIONAL FOOD", title_id  = "2329"  where id = '16109'
=>>>>>>>>>>>>>>>>>>>>>> 16122 /lvl2/ HEAD CHEF TRADITIONAL FOOD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD CHEF TRADITIONAL FOOD", title_clean   = "HEAD CHEF TRADITIONAL FOOD", title_id  = "2329"  where id = '16122'
1307 /lvl1/ Customer Service Ecommerce
=>>>>>>>>>>>>>>>>>>>>>> 6023 /lvl2/ Customer Service Ecommerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1307"  where id = '6023'
1819 /lvl1/ Expert Mechanical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3517 /lvl2/ Expert Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1819"  where id = '3517'
1823 /lvl1/ Expert Mathematics Teacher
=>>>>>>>>>>>>>>>>>>>>>> 9958 /lvl2/ Expert Mathematics Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1823"  where id = '9958'
544 /lvl1/ Assistant Security Manager
=>>>>>>>>>>>>>>>>>>>>>> 15245 /lvl2/ ASSISTANT SECURITY MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT SECURITY MANAGER", title_clean   = "ASSISTANT SECURITY MANAGER", title_id  = "544"  where id = '15245'
1314 /lvl1/ Customer Service Insurance
=>>>>>>>>>>>>>>>>>>>>>> 20611 /lvl2/ Customer Service Insurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1314"  where id = '20611'
803 /lvl1/ Business Support Executive
=>>>>>>>>>>>>>>>>>>>>>> 20225 /lvl2/ Business Support Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "803"  where id = '20225'
6692 /lvl1/ Teknisi Notebook / Printer
4389 /lvl1/ Principal / Vice Principal
=>>>>>>>>>>>>>>>>>>>>>> 2449 /lvl2/ Principal / Vice Principal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4389"  where id = '2449'
4902 /lvl1/ Regional Financial Analyst
=>>>>>>>>>>>>>>>>>>>>>> 15083 /lvl2/ Regional Financial Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4902"  where id = '15083'
2855 /lvl1/ It Audit Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 19047 /lvl2/ IT Audit Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Audit Assistant Manager", title_clean   = "IT Audit Assistant Manager", title_id  = "2855"  where id = '19047'
4648 /lvl1/ Public Relation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11288 /lvl2/ Public Relation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4648"  where id = '11288'
6440 /lvl1/ Sushi Chef / Sushi Counter
6953 /lvl1/ Warehouse Material Auditor
=>>>>>>>>>>>>>>>>>>>>>> 3954 /lvl2/ Warehouse Material Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6953"  where id = '3954'
=>>>>>>>>>>>>>>>>>>>>>> 4986 /lvl2/ Warehouse Material Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6953"  where id = '4986'
2092 /lvl1/ Freelance Customer Service

=>>>>>>>>>>>>>>>>>>>>>> 2930 /lvl2/ Freelance Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2092"  where id = '2930'
45 /lvl1/ Account Payable Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10921 /lvl2/ Account Payable Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "45"  where id = '10921'
2862 /lvl1/ It Business Analyst Junior
=>>>>>>>>>>>>>>>>>>>>>> 14656 /lvl2/ IT BUSINESS ANALYST JUNIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT BUSINESS ANALYST JUNIOR", title_clean   = "IT BUSINESS ANALYST JUNIOR", title_id  = "2862"  where id = '14656'
=>>>>>>>>>>>>>>>>>>>>>> 14675 /lvl2/ IT BUSINESS ANALYST JUNIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT BUSINESS ANALYST JUNIOR", title_clean   = "IT BUSINESS ANALYST JUNIOR", title_id  = "2862"  where id = '14675'
47 /lvl1/ Account Payable Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7525 /lvl2/ Account Payable Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "47"  where id = '7525'
=>>>>>>>>>>>>>>>>>>>>>> 8580 /lvl2/ Account Payable Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "47"  where id = '8580'
=>>>>>>>>>>>>>>>>>>>>>> 17832 /lvl2/ Account Payable Supervisor - Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palembang", title_clean   = " - Palembang", title_id  = "47"  where id = '17832'
5167 /lvl1/ Sales Executive For Retail
=>>>>>>>>>>>>>>>>>>>>>> 3648 /lvl2/ Sales executive for retail
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales executive for retail", title_clean   = "Sales executive for retail", title_id  = "5167"  where id = '3648'
4400 /lvl1/ Process Improvement Intern
=>>>>>>>>>>>>>>>>>>>>>> 17652 /lvl2/ Process Improvement Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4400"  where id = '17652'
4401 /lvl1/ Process Improvement Leader
=>>>>>>>>>>>>>>>>>>>>>> 14911 /lvl2/ Process Improvement Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4401"  where id = '14911'
5681 /lvl1/ SeniorStaff Vendor Support
51 /lvl1/ Account Receivable Control
=>>>>>>>>>>>>>>>>>>>>>> 12907 /lvl2/ ACCOUNT RECEIVABLE CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT RECEIVABLE CONTROL", title_clean   = "ACCOUNT RECEIVABLE CONTROL", title_id  = "51"  where id = '12907'
1331 /lvl1/ Customer Support Executive
=>>>>>>>>>>>>>>>>>>>>>> 2424 /lvl2/ Customer Support Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1331"  where id = '2424'
4659 /lvl1/ Purchasing & Admin Project
=>>>>>>>>>>>>>>>>>>>>>> 141 /lvl2/ Purchasing & Admin Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4659"  where id = '141'
=>>>>>>>>>>>>>>>>>>>>>> 10884 /lvl2/ Purchasing & Admin Project (General Contractor - Private House)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (General Contractor - Private House)", title_clean   = " (General Contractor - Private House)", title_id  = "4659"  where id = '10884'
52 /lvl1/ Account Receivable Officer
=>>>>>>>>>>>>>>>>>>>>>> 5700 /lvl2/ Account Receivable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "52"  where id = '5700'
=>>>>>>>>>>>>>>>>>>>>>> 6814 /lvl2/ Account Receivable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "52"  where id = '6814'
=>>>>>>>>>>>>>>>>>>>>>> 9278 /lvl2/ Account Receivable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "52"  where id = '9278'
=>>>>>>>>>>>>>>>>>>>>>> 11859 /lvl2/ Account Receivable Officer (Sulawesi, Papua, Maluku)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sulawesi, Papua, Maluku)", title_clean   = " (Sulawesi, Papua, Maluku)", title_id  = "52"  where id = '11859'
=>>>>>>>>>>>>>>>>>>>>>> 15221 /lvl2/ Account Receivable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "52"  where id = '15221'
=>>>>>>>>>>>>>>>>>>>>>> 20330 /lvl2/ Account Receivable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "52"  where id = '20330'
6452 /lvl1/ System Administrator Linux
=>>>>>>>>>>>>>>>>>>>>>> 12586 /lvl2/ SYSTEM ADMINISTRATOR LINUX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SYSTEM ADMINISTRATOR LINUX", title_clean   = "SYSTEM ADMINISTRATOR LINUX", title_id  = "6452"  where id = '12586'
2871 /lvl1/ It Business System Analyst
=>>>>>>>>>>>>>>>>>>>>>> 2954 /lvl2/ IT Business System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business System Analyst", title_clean   = "IT Business System Analyst", title_id  = "2871"  where id = '2954'
5687 /lvl1/ Seo English Content Writer
=>>>>>>>>>>>>>>>>>>>>>> 4003 /lvl2/ SEO English Content Writer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEO English Content Writer", title_clean   = "SEO English Content Writer", title_id  = "5687"  where id = '4003'
5432 /lvl1/ Selection Sales Force Amgr
=>>>>>>>>>>>>>>>>>>>>>> 5733 /lvl2/ Selection Sales Force AMGR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Selection Sales Force AMGR", title_clean   = "Selection Sales Force AMGR", title_id  = "5432"  where id = '5733'
5946 /lvl1/ Staff Accounting & Finance
=>>>>>>>>>>>>>>>>>>>>>> 18182 /lvl2/ STAFF ACCOUNTING & FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING & FINANCE", title_clean   = "STAFF ACCOUNTING & FINANCE", title_id  = "5946"  where id = '18182'
5179 /lvl1/ Sales Export Staff Officer
=>>>>>>>>>>>>>>>>>>>>>> 11608 /lvl2/ Sales Export Staff Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5179"  where id = '11608'
=>>>>>>>>>>>>>>>>>>>>>> 11627 /lvl2/ Sales Export Staff Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5179"  where id = '11627'
3388 /lvl1/ Litigasi Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 12788 /lvl2/ Litigasi Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3388"  where id = '12788'
3900 /lvl1/ Mine Production Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17221 /lvl2/ Mine Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3900"  where id = '17221'
=>>>>>>>>>>>>>>>>>>>>>> 17239 /lvl2/ Mine Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3900"  where id = '17239'
1854 /lvl1/ External Reporting Officer
=>>>>>>>>>>>>>>>>>>>>>> 15460 /lvl2/ External Reporting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1854"  where id = '15460'
2622 /lvl1/ Human Resource Development
=>>>>>>>>>>>>>>>>>>>>>> 1426 /lvl2/ Human Resource Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2622"  where id = '1426'
=>>>>>>>>>>>>>>>>>>>>>> 2685 /lvl2/ Human Resource Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2622"  where id = '2685'
=>>>>>>>>>>>>>>>>>>>>>> 15066 /lvl2/ Human Resource Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2622"  where id = '15066'
5950 /lvl1/ Staff Accounting & Tax Tax
5439 /lvl1/ Senior 3D Fashion Designer
=>>>>>>>>>>>>>>>>>>>>>> 8816 /lvl2/ Senior 3D Fashion Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5439"  where id = '8816'
4672 /lvl1/ Purchasing Junior Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7116 /lvl2/ Purchasing Junior Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4672"  where id = '7116'
6464 /lvl1/ System Information Manager
=>>>>>>>>>>>>>>>>>>>>>> 18373 /lvl2/ System Information Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6464"  where id = '18373'
1345 /lvl1/ Data Analyst Administrator
=>>>>>>>>>>>>>>>>>>>>>> 33 /lvl2/ Data Analyst Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1345"  where id = '33'
4417 /lvl1/ Procurement Import Manager
=>>>>>>>>>>>>>>>>>>>>>> 2116 /lvl2/ Procurement Import Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4417"  where id = '2116'
2371 /lvl1/ Head of IT Loan Management

=>>>>>>>>>>>>>>>>>>>>>> 2283 /lvl2/ Head of IT Loan Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2371"  where id = '2283'
6979 /lvl1/ Web Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3583 /lvl2/ Web Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6979"  where id = '3583'
70 /lvl1/ Accounting & Finance Staff
=>>>>>>>>>>>>>>>>>>>>>> 3054 /lvl2/ Accounting & Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "70"  where id = '3054'
=>>>>>>>>>>>>>>>>>>>>>> 6005 /lvl2/ Accounting & Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "70"  where id = '6005'
=>>>>>>>>>>>>>>>>>>>>>> 10158 /lvl2/ Accounting & Finance Staff (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "70"  where id = '10158'
=>>>>>>>>>>>>>>>>>>>>>> 11596 /lvl2/ Accounting & Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "70"  where id = '11596'
=>>>>>>>>>>>>>>>>>>>>>> 13860 /lvl2/ Accounting & Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "70"  where id = '13860'
=>>>>>>>>>>>>>>>>>>>>>> 17822 /lvl2/ Accounting & Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "70"  where id = '17822'
6214 /lvl1/ Strategic Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 9868 /lvl2/ Strategic Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6214"  where id = '9868'
72 /lvl1/ Accounting & General Admin
=>>>>>>>>>>>>>>>>>>>>>> 11074 /lvl2/ Accounting & General Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "72"  where id = '11074'
6728 /lvl1/ Temporary Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 268 /lvl2/ Temporary Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6728"  where id = '268'
2121 /lvl1/ Fttx Planning Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 3874 /lvl2/ FTTX Planning Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FTTX Planning Senior Staff", title_clean   = "FTTX Planning Senior Staff", title_id  = "2121"  where id = '3874'
5706 /lvl1/ Service Advisor & Mechanic
1867 /lvl1/ Facilities Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 13311 /lvl2/ Facilities Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1867"  where id = '13311'
1100 /lvl1/ Cook Helper Dish Washer Dw
=>>>>>>>>>>>>>>>>>>>>>> 7286 /lvl2/ Cook Helper Dish Washer DW
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cook Helper Dish Washer DW", title_clean   = "Cook Helper Dish Washer DW", title_id  = "1100"  where id = '7286'
6477 /lvl1/ Talent Acquisition Analyst
=>>>>>>>>>>>>>>>>>>>>>> 20340 /lvl2/ TALENT ACQUISITION ANALYST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TALENT ACQUISITION ANALYST", title_clean   = "TALENT ACQUISITION ANALYST", title_id  = "6477"  where id = '20340'
334 /lvl1/ Agency Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 1879 /lvl2/ Agency Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "334"  where id = '1879'
4175 /lvl1/ Pelaksana Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 7103 /lvl2/ Pelaksana Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4175"  where id = '7103'
5456 /lvl1/ Senior Accounting Services
=>>>>>>>>>>>>>>>>>>>>>> 10276 /lvl2/ Senior Accounting Services
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5456"  where id = '10276'
5713 /lvl1/ Service Quality Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4102 /lvl2/ Service Quality Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5713"  where id = '4102'
2387 /lvl1/ Head of People Development
=>>>>>>>>>>>>>>>>>>>>>> 20228 /lvl2/ Head of People Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2387"  where id = '20228'
6483 /lvl1/ Talent Acquisition Manager
=>>>>>>>>>>>>>>>>>>>>>> 7628 /lvl2/ Talent Acquisition Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6483"  where id = '7628'
1364 /lvl1/ Data Governance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 825 /lvl2/ Data Governance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1364"  where id = '825'
=>>>>>>>>>>>>>>>>>>>>>> 844 /lvl2/ Data Governance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1364"  where id = '844'
2389 /lvl1/ Head of Procurement & Cost
3157 /lvl1/ Junior Creative Strategist
1366 /lvl1/ Data Management Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5202 /lvl2/ Data Management Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1366"  where id = '5202'
4183 /lvl1/ Penerjemah Bahasa Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 9240 /lvl2/ PENERJEMAH BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PENERJEMAH BAHASA MANDARIN", title_clean   = "PENERJEMAH BAHASA MANDARIN", title_id  = "4183"  where id = '9240'
=>>>>>>>>>>>>>>>>>>>>>> 11988 /lvl2/ PENERJEMAH BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PENERJEMAH BAHASA MANDARIN", title_clean   = "PENERJEMAH BAHASA MANDARIN", title_id  = "4183"  where id = '11988'
1880 /lvl1/ Fashion & Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 2964 /lvl2/ Fashion & Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1880"  where id = '2964'
5978 /lvl1/ Staff Administrasi & Stock
=>>>>>>>>>>>>>>>>>>>>>> 14221 /lvl2/ Staff Administrasi & Stock
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5978"  where id = '14221'
1116 /lvl1/ Corporate Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 15824 /lvl2/ CORPORATE ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE ACCOUNTING STAFF", title_clean   = "CORPORATE ACCOUNTING STAFF", title_id  = "1116"  where id = '15824'
2141 /lvl1/ Fund Operation Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 4604 /lvl2/ FUND OPERATION COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FUND OPERATION COORDINATOR", title_clean   = "FUND OPERATION COORDINATOR", title_id  = "2141"  where id = '4604'
5981 /lvl1/ Staff Administrasi Finance
=>>>>>>>>>>>>>>>>>>>>>> 2745 /lvl2/ Staff Administrasi Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5981"  where id = '2745'
6238 /lvl1/ Super Intendent Production
=>>>>>>>>>>>>>>>>>>>>>> 660 /lvl2/ Super Intendent Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6238"  where id = '660'
7006 /lvl1/ Wood Handling Plant Expert
=>>>>>>>>>>>>>>>>>>>>>> 2730 /lvl2/ Wood Handling Plant Expert
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7006"  where id = '2730'
4961 /lvl1/ Reporting & Mis Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4258 /lvl2/ Reporting & MIS Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Reporting & MIS Supervisor", title_clean   = "Reporting & MIS Supervisor", title_id  = "4961"  where id = '4258'
5474 /lvl1/ Senior Automation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 10582 /lvl2/ SENIOR AUTOMATION ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR AUTOMATION ENGINEER", title_clean   = "SENIOR AUTOMATION ENGINEER", title_id  = "5474"  where id = '10582'
=>>>>>>>>>>>>>>>>>>>>>> 10614 /lvl2/ SENIOR AUTOMATION ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR AUTOMATION ENGINEER", title_clean   = "SENIOR AUTOMATION ENGINEER", title_id  = "5474"  where id = '10614'
99 /lvl1/ Accounting Finance Officer
=>>>>>>>>>>>>>>>>>>>>>> 18208 /lvl2/ Accounting Finance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "99"  where id = '18208'
6760 /lvl1/ Tim Kreatif Fashion Design
=>>>>>>>>>>>>>>>>>>>>>> 14926 /lvl2/ TIM KREATIF FASHION DESIGN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TIM KREATIF FASHION DESIGN", title_clean   = "TIM KREATIF FASHION DESIGN", title_id  = "6760"  where id = '14926'
4713 /lvl1/ Qa Laboratory Section Head

=>>>>>>>>>>>>>>>>>>>>>> 19723 /lvl2/ QA Laboratory Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Laboratory Section Head", title_clean   = "QA Laboratory Section Head", title_id  = "4713"  where id = '19723'
7017 /lvl1/ Youtube Channel Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13357 /lvl2/ Youtube Channel Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7017"  where id = '13357'
3693 /lvl1/ Marketing Executive Export
=>>>>>>>>>>>>>>>>>>>>>> 209 /lvl2/ MARKETING EXECUTIVE EXPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE EXPORT", title_clean   = "MARKETING EXECUTIVE EXPORT", title_id  = "3693"  where id = '209'
2926 /lvl1/ It Infrastructure Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12453 /lvl2/ IT Infrastructure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Engineer", title_clean   = "IT Infrastructure Engineer", title_id  = "2926"  where id = '12453'
=>>>>>>>>>>>>>>>>>>>>>> 15510 /lvl2/ IT Infrastructure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Engineer", title_clean   = "IT Infrastructure Engineer", title_id  = "2926"  where id = '15510'
4718 /lvl1/ Qa Product Integrity Staff
=>>>>>>>>>>>>>>>>>>>>>> 7370 /lvl2/ QA PRODUCT INTEGRITY STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA PRODUCT INTEGRITY STAFF", title_clean   = "QA PRODUCT INTEGRITY STAFF", title_id  = "4718"  where id = '7370'
2415 /lvl1/ Health Security Enviroment
=>>>>>>>>>>>>>>>>>>>>>> 7652 /lvl2/ Health Security Enviroment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2415"  where id = '7652'
5999 /lvl1/ Staff Billing & Collection
=>>>>>>>>>>>>>>>>>>>>>> 10746 /lvl2/ Staff Billing & Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5999"  where id = '10746'
1649 /lvl1/ Electric Engineering Staff
=>>>>>>>>>>>>>>>>>>>>>> 16739 /lvl2/ ELECTRIC ENGINEERING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ELECTRIC ENGINEERING STAFF", title_clean   = "ELECTRIC ENGINEERING STAFF", title_id  = "1649"  where id = '16739'
1394 /lvl1/ Denim Garment Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 16052 /lvl2/ Denim Garment Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1394"  where id = '16052'
5747 /lvl1/ Site Engineer Teknik Sipil
=>>>>>>>>>>>>>>>>>>>>>> 14259 /lvl2/ Site Engineer Teknik Sipil
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5747"  where id = '14259'
=>>>>>>>>>>>>>>>>>>>>>> 14276 /lvl2/ Site Engineer Teknik Sipil
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5747"  where id = '14276'
1141 /lvl1/ Corporate Internal Auditor
=>>>>>>>>>>>>>>>>>>>>>> 712 /lvl2/ Corporate Internal Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1141"  where id = '712'
=>>>>>>>>>>>>>>>>>>>>>> 20076 /lvl2/ Corporate Internal Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1141"  where id = '20076'
4213 /lvl1/ People Development Analyst
=>>>>>>>>>>>>>>>>>>>>>> 396 /lvl2/ PEOPLE DEVELOPMENT ANALYST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PEOPLE DEVELOPMENT ANALYST", title_clean   = "PEOPLE DEVELOPMENT ANALYST", title_id  = "4213"  where id = '396'
2678 /lvl1/ Imported Groceries Product
=>>>>>>>>>>>>>>>>>>>>>> 5912 /lvl2/ Imported Groceries Product
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2678"  where id = '5912'
3958 /lvl1/ Network Operational Center
=>>>>>>>>>>>>>>>>>>>>>> 5086 /lvl2/ Network Operational Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3958"  where id = '5086'
=>>>>>>>>>>>>>>>>>>>>>> 6194 /lvl2/ Network Operational Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3958"  where id = '6194'
4470 /lvl1/ Product Quality Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15474 /lvl2/ Product Quality Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4470"  where id = '15474'
1911 /lvl1/ Finance / Accounting / Tax
4983 /lvl1/ Retail & Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 4466 /lvl2/ Retail & Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4983"  where id = '4466'
=>>>>>>>>>>>>>>>>>>>>>> 5502 /lvl2/ Retail & Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4983"  where id = '5502'
6775 /lvl1/ Trade Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9574 /lvl2/ Trade Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6775"  where id = '9574'
=>>>>>>>>>>>>>>>>>>>>>> 15195 /lvl2/ Trade Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6775"  where id = '15195'
2424 /lvl1/ Helper Operational Laundry
=>>>>>>>>>>>>>>>>>>>>>> 3784 /lvl2/ Helper Operational Laundry
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2424"  where id = '3784'
4216 /lvl1/ People Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 1722 /lvl2/ People Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4216"  where id = '1722'
4728 /lvl1/ Qa Tester & Analyst | Saas
=>>>>>>>>>>>>>>>>>>>>>> 6516 /lvl2/ QA Tester & Analyst | SaaS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Tester & Analyst | SaaS", title_clean   = "QA Tester & Analyst | SaaS", title_id  = "4728"  where id = '6516'
4217 /lvl1/ People Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 13875 /lvl2/ People Development Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4217"  where id = '13875'
6010 /lvl1/ Staff Database Ifgf Church
=>>>>>>>>>>>>>>>>>>>>>> 5729 /lvl2/ Staff Database IFGF Church
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Database IFGF Church", title_clean   = "Staff Database IFGF Church", title_id  = "6010"  where id = '5729'
1147 /lvl1/ Corporate Legal Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15090 /lvl2/ Corporate Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1147"  where id = '15090'
6267 /lvl1/ Supervisor Corporate Legal
2684 /lvl1/ Incoming Quality Cuptester
=>>>>>>>>>>>>>>>>>>>>>> 11812 /lvl2/ Incoming Quality Cuptester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2684"  where id = '11812'
4476 /lvl1/ Product Specialist Manager
=>>>>>>>>>>>>>>>>>>>>>> 4633 /lvl2/ Product Specialist Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4476"  where id = '4633'
6268 /lvl1/ Supervisor Cost Accounting
=>>>>>>>>>>>>>>>>>>>>>> 3694 /lvl2/ Supervisor Cost Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6268"  where id = '3694'
3453 /lvl1/ Maintenance Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 10118 /lvl2/ Maintenance Superintendent (Chemical Industry) - CIkarang Area (ID: 550808)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Chemical Industry) - CIkarang Area (ID: 550808)", title_clean   = " (Chemical Industry) - CIkarang Area (ID: 550808)", title_id  = "3453"  where id = '10118'
=>>>>>>>>>>>>>>>>>>>>>> 20384 /lvl2/ Maintenance Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3453"  where id = '20384'
4477 /lvl1/ Product Specialist Medical
=>>>>>>>>>>>>>>>>>>>>>> 13384 /lvl2/ Product Specialist Medical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4477"  where id = '13384'
=>>>>>>>>>>>>>>>>>>>>>> 13584 /lvl2/ Product Specialist Medical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4477"  where id = '13584'
=>>>>>>>>>>>>>>>>>>>>>> 13603 /lvl2/ Product Specialist Medical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4477"  where id = '13603'
4990 /lvl1/ Retail Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 18768 /lvl2/ Retail Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4990"  where id = '18768'
1151 /lvl1/ Corporate Planning Analyst
=>>>>>>>>>>>>>>>>>>>>>> 16988 /lvl2/ Corporate Planning Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1151"  where id = '16988'
2687 /lvl1/ Indo Material Control Lead

=>>>>>>>>>>>>>>>>>>>>>> 17932 /lvl2/ Indo Material Control Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2687"  where id = '17932'
4224 /lvl1/ People Services Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1992 /lvl2/ People Services Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4224"  where id = '1992'
=>>>>>>>>>>>>>>>>>>>>>> 18054 /lvl2/ People Services Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4224"  where id = '18054'
5248 /lvl1/ Sales Marketing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 16578 /lvl2/ SALES MARKETING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING SUPERVISOR", title_clean   = "SALES MARKETING SUPERVISOR", title_id  = "5248"  where id = '16578'
1411 /lvl1/ Design & Digital Executive
2435 /lvl1/ Host Live Streaming Tiktok
=>>>>>>>>>>>>>>>>>>>>>> 13215 /lvl2/ Host Live Streaming Tiktok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2435"  where id = '13215'
3715 /lvl1/ Marketing Lead Health Care
=>>>>>>>>>>>>>>>>>>>>>> 1496 /lvl2/ Marketing Lead Health Care
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3715"  where id = '1496'
6024 /lvl1/ Staff Engineering Industry
=>>>>>>>>>>>>>>>>>>>>>> 624 /lvl2/ STAFF ENGINEERING INDUSTRY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ENGINEERING INDUSTRY", title_clean   = "STAFF ENGINEERING INDUSTRY", title_id  = "6024"  where id = '624'
905 /lvl1/ Chief Accounting & Finance
=>>>>>>>>>>>>>>>>>>>>>> 11508 /lvl2/ CHIEF ACCOUNTING & FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHIEF ACCOUNTING & FINANCE", title_clean   = "CHIEF ACCOUNTING & FINANCE", title_id  = "905"  where id = '11508'
=>>>>>>>>>>>>>>>>>>>>>> 11537 /lvl2/ CHIEF ACCOUNTING & FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHIEF ACCOUNTING & FINANCE", title_clean   = "CHIEF ACCOUNTING & FINANCE", title_id  = "905"  where id = '11537'
1929 /lvl1/ Finance & Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 53 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '53'
=>>>>>>>>>>>>>>>>>>>>>> 155 /lvl2/ FINANCE & ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING STAFF", title_clean   = "FINANCE & ACCOUNTING STAFF", title_id  = "1929"  where id = '155'
=>>>>>>>>>>>>>>>>>>>>>> 603 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '603'
=>>>>>>>>>>>>>>>>>>>>>> 910 /lvl2/ Finance & Accounting Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-f", title_clean   = "f", title_id  = "1929"  where id = '910'
=>>>>>>>>>>>>>>>>>>>>>> 2307 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '2307'
=>>>>>>>>>>>>>>>>>>>>>> 2399 /lvl2/ FINANCE & ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING STAFF", title_clean   = "FINANCE & ACCOUNTING STAFF", title_id  = "1929"  where id = '2399'
=>>>>>>>>>>>>>>>>>>>>>> 6592 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '6592'
=>>>>>>>>>>>>>>>>>>>>>> 10945 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '10945'
=>>>>>>>>>>>>>>>>>>>>>> 10954 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '10954'
=>>>>>>>>>>>>>>>>>>>>>> 11657 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '11657'
=>>>>>>>>>>>>>>>>>>>>>> 11677 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '11677'
=>>>>>>>>>>>>>>>>>>>>>> 12528 /lvl2/ Finance & Accounting Stafff (Kasir & AR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-f (Kasir & AR)", title_clean   = "f (Kasir & AR)", title_id  = "1929"  where id = '12528'
=>>>>>>>>>>>>>>>>>>>>>> 12546 /lvl2/ Finance & Accounting Stafff (Kasir & AR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-f (Kasir & AR)", title_clean   = "f (Kasir & AR)", title_id  = "1929"  where id = '12546'
=>>>>>>>>>>>>>>>>>>>>>> 13041 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '13041'
=>>>>>>>>>>>>>>>>>>>>>> 16129 /lvl2/ FINANCE & ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING STAFF", title_clean   = "FINANCE & ACCOUNTING STAFF", title_id  = "1929"  where id = '16129'
=>>>>>>>>>>>>>>>>>>>>>> 16144 /lvl2/ FINANCE & ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING STAFF", title_clean   = "FINANCE & ACCOUNTING STAFF", title_id  = "1929"  where id = '16144'
=>>>>>>>>>>>>>>>>>>>>>> 16697 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '16697'
=>>>>>>>>>>>>>>>>>>>>>> 17169 /lvl2/ Finance & Accounting Staff (Account Receivable) - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Account Receivable) - Medan", title_clean   = " (Account Receivable) - Medan", title_id  = "1929"  where id = '17169'
=>>>>>>>>>>>>>>>>>>>>>> 17192 /lvl2/ Finance & Accounting Staff (Account Payable)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Account Payable)", title_clean   = " (Account Payable)", title_id  = "1929"  where id = '17192'
=>>>>>>>>>>>>>>>>>>>>>> 17252 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '17252'
=>>>>>>>>>>>>>>>>>>>>>> 17326 /lvl2/ Finance & Accounting Staff (Cashier)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cashier)", title_clean   = " (Cashier)", title_id  = "1929"  where id = '17326'
=>>>>>>>>>>>>>>>>>>>>>> 17570 /lvl2/ FINANCE & ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING STAFF", title_clean   = "FINANCE & ACCOUNTING STAFF", title_id  = "1929"  where id = '17570'
=>>>>>>>>>>>>>>>>>>>>>> 18039 /lvl2/ Finance & Accounting Staff (Account Payable)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Account Payable)", title_clean   = " (Account Payable)", title_id  = "1929"  where id = '18039'
=>>>>>>>>>>>>>>>>>>>>>> 19653 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '19653'
=>>>>>>>>>>>>>>>>>>>>>> 20507 /lvl2/ Finance & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1929"  where id = '20507'
3465 /lvl1/ Management Respresentative
=>>>>>>>>>>>>>>>>>>>>>> 19520 /lvl2/ Management Respresentative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3465"  where id = '19520'
5515 /lvl1/ Senior Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 9768 /lvl2/ Senior Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5515"  where id = '9768'
=>>>>>>>>>>>>>>>>>>>>>> 10758 /lvl2/ Senior Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5515"  where id = '10758'
=>>>>>>>>>>>>>>>>>>>>>> 14890 /lvl2/ Senior Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5515"  where id = '14890'
=>>>>>>>>>>>>>>>>>>>>>> 14908 /lvl2/ Senior Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5515"  where id = '14908'
2188 /lvl1/ General Affairs Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11831 /lvl2/ General Affairs Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2188"  where id = '11831'
1677 /lvl1/ Email Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9850 /lvl2/ Email Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1677"  where id = '9850'
2957 /lvl1/ It Operation Support Staff

=>>>>>>>>>>>>>>>>>>>>>> 18349 /lvl2/ IT Operation Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Operation Support Staff", title_clean   = "IT Operation Support Staff", title_id  = "2957"  where id = '18349'
3469 /lvl1/ Management Trainee Program
=>>>>>>>>>>>>>>>>>>>>>> 20311 /lvl2/ Management Trainee Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3469"  where id = '20311'
4493 /lvl1/ Production Line Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8679 /lvl2/ Production Line Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4493"  where id = '8679'
2190 /lvl1/ General Affairs Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 632 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '632'
=>>>>>>>>>>>>>>>>>>>>>> 6943 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '6943'
=>>>>>>>>>>>>>>>>>>>>>> 11106 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '11106'
=>>>>>>>>>>>>>>>>>>>>>> 11127 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '11127'
=>>>>>>>>>>>>>>>>>>>>>> 11597 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '11597'
=>>>>>>>>>>>>>>>>>>>>>> 11940 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '11940'
=>>>>>>>>>>>>>>>>>>>>>> 11959 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '11959'
=>>>>>>>>>>>>>>>>>>>>>> 13239 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '13239'
=>>>>>>>>>>>>>>>>>>>>>> 14098 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '14098'
=>>>>>>>>>>>>>>>>>>>>>> 16154 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '16154'
=>>>>>>>>>>>>>>>>>>>>>> 16170 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '16170'
=>>>>>>>>>>>>>>>>>>>>>> 17395 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '17395'
=>>>>>>>>>>>>>>>>>>>>>> 17413 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '17413'
=>>>>>>>>>>>>>>>>>>>>>> 18590 /lvl2/ General Affairs Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2190"  where id = '18590'
911 /lvl1/ Chief Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 4995 /lvl2/ Lowongan untuk posisi Manager  /  Chief Finance & Accounting  /  Departemen Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lowongan untuk posisi Manager  /  -idex-  /  Departemen Head", title_clean   = "Lowongan untuk posisi Manager  /    /  Departemen Head", title_id  = "911"  where id = '4995'
=>>>>>>>>>>>>>>>>>>>>>> 9230 /lvl2/ Chief Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "911"  where id = '9230'
=>>>>>>>>>>>>>>>>>>>>>> 15283 /lvl2/ Chief Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "911"  where id = '15283'
=>>>>>>>>>>>>>>>>>>>>>> 19724 /lvl2/ Chief Finance & Accounting (Under Client)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Under Client)", title_clean   = " (Under Client)", title_id  = "911"  where id = '19724'
6031 /lvl1/ Staff Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 534 /lvl2/ STAFF FINANCE & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE & ACCOUNTING", title_clean   = "STAFF FINANCE & ACCOUNTING", title_id  = "6031"  where id = '534'
=>>>>>>>>>>>>>>>>>>>>>> 6407 /lvl2/ Staff Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6031"  where id = '6407'
=>>>>>>>>>>>>>>>>>>>>>> 7587 /lvl2/ Staff Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6031"  where id = '7587'
=>>>>>>>>>>>>>>>>>>>>>> 11945 /lvl2/ STAFF FINANCE & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE & ACCOUNTING", title_clean   = "STAFF FINANCE & ACCOUNTING", title_id  = "6031"  where id = '11945'
=>>>>>>>>>>>>>>>>>>>>>> 13775 /lvl2/ STAFF FINANCE & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE & ACCOUNTING", title_clean   = "STAFF FINANCE & ACCOUNTING", title_id  = "6031"  where id = '13775'
=>>>>>>>>>>>>>>>>>>>>>> 17029 /lvl2/ Staff Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6031"  where id = '17029'
=>>>>>>>>>>>>>>>>>>>>>> 19802 /lvl2/ STAFF FINANCE & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE & ACCOUNTING", title_clean   = "STAFF FINANCE & ACCOUNTING", title_id  = "6031"  where id = '19802'
6033 /lvl1/ Staff Finance & Acoounting
=>>>>>>>>>>>>>>>>>>>>>> 510 /lvl2/ Staff Finance & Acoounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6033"  where id = '510'
3730 /lvl1/ Marketing Online / Offline
5266 /lvl1/ Sales Operations Executive
=>>>>>>>>>>>>>>>>>>>>>> 16937 /lvl2/ Sales Operations Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5266"  where id = '16937'
2195 /lvl1/ General Affairs Supervisor
1172 /lvl1/ Cost Accounting Specialist
=>>>>>>>>>>>>>>>>>>>>>> 16848 /lvl2/ Cost Accounting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1172"  where id = '16848'
=>>>>>>>>>>>>>>>>>>>>>> 16863 /lvl2/ Cost Accounting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1172"  where id = '16863'
3476 /lvl1/ Manager Accounting Finance
=>>>>>>>>>>>>>>>>>>>>>> 19712 /lvl2/ Manager Accounting Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3476"  where id = '19712'
=>>>>>>>>>>>>>>>>>>>>>> 20162 /lvl2/ Manager Accounting Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3476"  where id = '20162'
=>>>>>>>>>>>>>>>>>>>>>> 20370 /lvl2/ Manager Accounting Finance & Tax (English \u002F Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Tax (English \u002F Mandarin)", title_clean   = " & Tax (English \u002F Mandarin)", title_id  = "3476"  where id = '20370'
5525 /lvl1/ Senior Front End Developer
=>>>>>>>>>>>>>>>>>>>>>> 4324 /lvl2/ Senior Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5525"  where id = '4324'
=>>>>>>>>>>>>>>>>>>>>>> 7809 /lvl2/ Senior Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5525"  where id = '7809'
=>>>>>>>>>>>>>>>>>>>>>> 8104 /lvl2/ Senior Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5525"  where id = '8104'
=>>>>>>>>>>>>>>>>>>>>>> 9794 /lvl2/ Senior Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5525"  where id = '9794'
1174 /lvl1/ Cost Accounting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20365 /lvl2/ COST ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COST ACCOUNTING SUPERVISOR", title_clean   = "COST ACCOUNTING SUPERVISOR", title_id  = "1174"  where id = '20365'
6807 /lvl1/ Training Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 5120 /lvl2/ Training Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6807"  where id = '5120'
=>>>>>>>>>>>>>>>>>>>>>> 6682 /lvl2/ Training Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6807"  where id = '6682'
5528 /lvl1/ Senior Full Stack Engineer

=>>>>>>>>>>>>>>>>>>>>>> 13946 /lvl2/ Senior Full Stack Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5528"  where id = '13946'
1433 /lvl1/ Designer Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 672 /lvl2/ Designer Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1433"  where id = '672'
3481 /lvl1/ Manager Branding Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1407 /lvl2/ Manager Branding Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3481"  where id = '1407'
5017 /lvl1/ Risk Management Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8855 /lvl2/ Risk Management Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5017"  where id = '8855'
6297 /lvl1/ Supervisor Human Resources
5018 /lvl1/ Risk Mis Reporting Officer
=>>>>>>>>>>>>>>>>>>>>>> 17383 /lvl2/ Risk MIS Reporting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Risk MIS Reporting Officer", title_clean   = "Risk MIS Reporting Officer", title_id  = "5018"  where id = '17383'
4510 /lvl1/ Profesional Civil Engineer
=>>>>>>>>>>>>>>>>>>>>>> 17457 /lvl2/ Profesional Civil Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4510"  where id = '17457'
5022 /lvl1/ Rpa Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4982 /lvl2/ RPA Development Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RPA Development Specialist", title_clean   = "RPA Development Specialist", title_id  = "5022"  where id = '4982'
1439 /lvl1/ Desk Collection Qa Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6458 /lvl2/ Desk Collection QA Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Desk Collection QA Analyst", title_clean   = "Desk Collection QA Analyst", title_id  = "1439"  where id = '6458'
1441 /lvl1/ Desk Collection Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13766 /lvl2/ Desk Collection Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1441"  where id = '13766'
=>>>>>>>>>>>>>>>>>>>>>> 13783 /lvl2/ Desk Collection Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1441"  where id = '13783'
3489 /lvl1/ Manager Corporate Strategy
=>>>>>>>>>>>>>>>>>>>>>> 13249 /lvl2/ Manager Corporate Strategy
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3489"  where id = '13249'
1954 /lvl1/ Finance Accounting Manager
=>>>>>>>>>>>>>>>>>>>>>> 4585 /lvl2/ Finance Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1954"  where id = '4585'
=>>>>>>>>>>>>>>>>>>>>>> 15913 /lvl2/ Finance Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1954"  where id = '15913'
=>>>>>>>>>>>>>>>>>>>>>> 17440 /lvl2/ Finance Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1954"  where id = '17440'
=>>>>>>>>>>>>>>>>>>>>>> 17459 /lvl2/ Finance Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1954"  where id = '17459'
=>>>>>>>>>>>>>>>>>>>>>> 19767 /lvl2/ Finance Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1954"  where id = '19767'
1443 /lvl1/ Desk Collection Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8940 /lvl2/ Mandarin Desk Collection Supervisor (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mandarin -idex- (Yogyakarta)", title_clean   = "Mandarin  (Yogyakarta)", title_id  = "1443"  where id = '8940'
=>>>>>>>>>>>>>>>>>>>>>> 9896 /lvl2/ Desk Collection Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1443"  where id = '9896'
=>>>>>>>>>>>>>>>>>>>>>> 20012 /lvl2/ Desk Collection Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1443"  where id = '20012'
2979 /lvl1/ It Quality Assurance Staff
=>>>>>>>>>>>>>>>>>>>>>> 3047 /lvl2/ IT Quality Assurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance Staff", title_clean   = "IT Quality Assurance Staff", title_id  = "2979"  where id = '3047'
=>>>>>>>>>>>>>>>>>>>>>> 9783 /lvl2/ IT Quality Assurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance Staff", title_clean   = "IT Quality Assurance Staff", title_id  = "2979"  where id = '9783'
6819 /lvl1/ Translator Bahasa Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 10051 /lvl2/ TRANSLATOR BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRANSLATOR BAHASA MANDARIN", title_clean   = "TRANSLATOR BAHASA MANDARIN", title_id  = "6819"  where id = '10051'
=>>>>>>>>>>>>>>>>>>>>>> 10387 /lvl2/ TRANSLATOR BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRANSLATOR BAHASA MANDARIN", title_clean   = "TRANSLATOR BAHASA MANDARIN", title_id  = "6819"  where id = '10387'
4774 /lvl1/ Quality Assurance Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2249 /lvl2/ Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4774"  where id = '2249'
=>>>>>>>>>>>>>>>>>>>>>> 4035 /lvl2/ Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4774"  where id = '4035'
=>>>>>>>>>>>>>>>>>>>>>> 5145 /lvl2/ Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4774"  where id = '5145'
=>>>>>>>>>>>>>>>>>>>>>> 5221 /lvl2/ Quality Assurance Engineer - Code Review
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Code Review", title_clean   = " - Code Review", title_id  = "4774"  where id = '5221'
=>>>>>>>>>>>>>>>>>>>>>> 10420 /lvl2/ Quality Assurance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4774"  where id = '10420'
3751 /lvl1/ Marketing Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12245 /lvl2/ Marketing Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3751"  where id = '12245'
5800 /lvl1/ Software Business Analystt
4522 /lvl1/ Programmer / Web Developer
4778 /lvl1/ Quality Assurance Software
=>>>>>>>>>>>>>>>>>>>>>> 10232 /lvl2/ Quality Assurance Software
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4778"  where id = '10232'
427 /lvl1/ Asisten Kebun Kelapa Sawit
=>>>>>>>>>>>>>>>>>>>>>> 11166 /lvl2/ Asisten Kebun Kelapa Sawit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "427"  where id = '11166'
2219 /lvl1/ Gm Human Resources Holding
=>>>>>>>>>>>>>>>>>>>>>> 17594 /lvl2/ GM Human Resources Holding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GM Human Resources Holding", title_clean   = "GM Human Resources Holding", title_id  = "2219"  where id = '17594'
2475 /lvl1/ Human Resources Compliance
=>>>>>>>>>>>>>>>>>>>>>> 5267 /lvl2/ Human Resources Compliance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2475"  where id = '5267'
2987 /lvl1/ It Security & Risk Analyst
=>>>>>>>>>>>>>>>>>>>>>> 4790 /lvl2/ IT Security & Risk Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security & Risk Analyst", title_clean   = "IT Security & Risk Analyst", title_id  = "2987"  where id = '4790'
6827 /lvl1/ Transport Sourcing Manager
=>>>>>>>>>>>>>>>>>>>>>> 9722 /lvl2/ Transport Sourcing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6827"  where id = '9722'
1964 /lvl1/ Finance Accounts Executive
=>>>>>>>>>>>>>>>>>>>>>> 16996 /lvl2/ Finance Accounts Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1964"  where id = '16996'
3502 /lvl1/ Manager Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 9447 /lvl2/ Assistant Manager Finance Accounting (Subang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex- (Subang)", title_clean   = "Assistant  (Subang)", title_id  = "3502"  where id = '9447'
=>>>>>>>>>>>>>>>>>>>>>> 9784 /lvl2/ Assistant Manager Finance Accounting (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex- (Jakarta)", title_clean   = "Assistant  (Jakarta)", title_id  = "3502"  where id = '9784'
=>>>>>>>>>>>>>>>>>>>>>> 14148 /lvl2/ Senior Manager Finance Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- and Tax", title_clean   = "Senior  and Tax", title_id  = "3502"  where id = '14148'
6318 /lvl1/ Supervisor Legal Corporate

=>>>>>>>>>>>>>>>>>>>>>> 13721 /lvl2/ Supervisor Legal Corporate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6318"  where id = '13721'
2991 /lvl1/ It Security Infrastructure
=>>>>>>>>>>>>>>>>>>>>>> 3616 /lvl2/ IT Security Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Infrastructure", title_clean   = "IT Security Infrastructure", title_id  = "2991"  where id = '3616'
434 /lvl1/ Asisten Manager Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 14625 /lvl2/ Asisten Manager Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "434"  where id = '14625'
3250 /lvl1/ Kol & Community Specialist
2485 /lvl1/ Human Resources Generalist
=>>>>>>>>>>>>>>>>>>>>>> 3812 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '3812'
=>>>>>>>>>>>>>>>>>>>>>> 3955 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '3955'
=>>>>>>>>>>>>>>>>>>>>>> 3973 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '3973'
=>>>>>>>>>>>>>>>>>>>>>> 6500 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '6500'
=>>>>>>>>>>>>>>>>>>>>>> 6560 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '6560'
=>>>>>>>>>>>>>>>>>>>>>> 7387 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '7387'
=>>>>>>>>>>>>>>>>>>>>>> 7792 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '7792'
=>>>>>>>>>>>>>>>>>>>>>> 7834 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '7834'
=>>>>>>>>>>>>>>>>>>>>>> 8176 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '8176'
=>>>>>>>>>>>>>>>>>>>>>> 8976 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '8976'
=>>>>>>>>>>>>>>>>>>>>>> 11734 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '11734'
=>>>>>>>>>>>>>>>>>>>>>> 17018 /lvl2/ Human Resources Generalist SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV", title_clean   = " SPV", title_id  = "2485"  where id = '17018'
=>>>>>>>>>>>>>>>>>>>>>> 18130 /lvl2/ Human Resources Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2485"  where id = '18130'
5045 /lvl1/ Sales & Distribution Staff
=>>>>>>>>>>>>>>>>>>>>>> 18466 /lvl2/ Sales & Distribution Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5045"  where id = '18466'
5557 /lvl1/ Senior Key Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 11852 /lvl2/ Senior Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5557"  where id = '11852'
182 /lvl1/ Admin Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 2771 /lvl2/ Admin Finance & Accounting (Temporary Position for Maternity Replacement)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Temporary Position for Maternity Replacement)", title_clean   = " (Temporary Position for Maternity Replacement)", title_id  = "182"  where id = '2771'
=>>>>>>>>>>>>>>>>>>>>>> 3980 /lvl2/ ADMIN FINANCE & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN FINANCE & Accounting", title_clean   = "ADMIN FINANCE & Accounting", title_id  = "182"  where id = '3980'
=>>>>>>>>>>>>>>>>>>>>>> 4305 /lvl2/ ADMIN FINANCE & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN FINANCE & Accounting", title_clean   = "ADMIN FINANCE & Accounting", title_id  = "182"  where id = '4305'
1206 /lvl1/ Creative Design Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19353 /lvl2/ Creative Design Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1206"  where id = '19353'
2230 /lvl1/ Government Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 2457 /lvl2/ Government Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2230"  where id = '2457'
5814 /lvl1/ Software Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 2322 /lvl2/ Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5814"  where id = '2322'
=>>>>>>>>>>>>>>>>>>>>>> 2469 /lvl2/ Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5814"  where id = '2469'
=>>>>>>>>>>>>>>>>>>>>>> 2561 /lvl2/ Software Quality Assurance and Implementation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Implementation", title_clean   = " and Implementation", title_id  = "5814"  where id = '2561'
=>>>>>>>>>>>>>>>>>>>>>> 2574 /lvl2/ Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5814"  where id = '2574'
=>>>>>>>>>>>>>>>>>>>>>> 2837 /lvl2/ Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5814"  where id = '2837'
=>>>>>>>>>>>>>>>>>>>>>> 7374 /lvl2/ Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5814"  where id = '7374'
=>>>>>>>>>>>>>>>>>>>>>> 7644 /lvl2/ Senior Software Quality Assurance (QA) Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (QA) Engineer", title_clean   = "Senior  (QA) Engineer", title_id  = "5814"  where id = '7644'
=>>>>>>>>>>>>>>>>>>>>>> 7921 /lvl2/ Software Quality Assurance (Automation)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Automation)", title_clean   = " (Automation)", title_id  = "5814"  where id = '7921'
=>>>>>>>>>>>>>>>>>>>>>> 8218 /lvl2/ Software Quality Assurance (Automation)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Automation)", title_clean   = " (Automation)", title_id  = "5814"  where id = '8218'
=>>>>>>>>>>>>>>>>>>>>>> 8791 /lvl2/ Software Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5814"  where id = '8791'
=>>>>>>>>>>>>>>>>>>>>>> 10984 /lvl2/ Software Quality Assurance Analyst (Middle to Senior Level)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Analyst (Middle to Senior Level)", title_clean   = " Analyst (Middle to Senior Level)", title_id  = "5814"  where id = '10984'
=>>>>>>>>>>>>>>>>>>>>>> 11108 /lvl2/ Software Quality Assurance (Automation)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Automation)", title_clean   = " (Automation)", title_id  = "5814"  where id = '11108'
4535 /lvl1/ Programmer Ui / Ux Android
6072 /lvl1/ Staff IT Android Developer
=>>>>>>>>>>>>>>>>>>>>>> 7498 /lvl2/ STAFF IT ANDROID DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF IT ANDROID DEVELOPER", title_clean   = "STAFF IT ANDROID DEVELOPER", title_id  = "6072"  where id = '7498'
2745 /lvl1/ Interior Designer Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 11049 /lvl2/ Interior Designer Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2745"  where id = '11049'
4537 /lvl1/ Project / Process Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8945 /lvl2/ PROJECT / PROCESS ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT / PROCESS ENGINEER", title_clean   = "PROJECT / PROCESS ENGINEER", title_id  = "4537"  where id = '8945'
4794 /lvl1/ Quality Control Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1516 /lvl2/ Quality Control Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4794"  where id = '1516'
=>>>>>>>>>>>>>>>>>>>>>> 2146 /lvl2/ Quality Control Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4794"  where id = '2146'
4284 /lvl1/ Physical Education Teacher
=>>>>>>>>>>>>>>>>>>>>>> 13630 /lvl2/ Physical Education Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4284"  where id = '13630'
=>>>>>>>>>>>>>>>>>>>>>> 15181 /lvl2/ Physical Education Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4284"  where id = '15181'
=>>>>>>>>>>>>>>>>>>>>>> 15828 /lvl2/ Physical Education Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4284"  where id = '15828'
5052 /lvl1/ Sales & Marketing Computer

=>>>>>>>>>>>>>>>>>>>>>> 5290 /lvl2/ Sales & Marketing Computer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5052"  where id = '5290'
4797 /lvl1/ Quality Control Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1165 /lvl2/ Quality Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4797"  where id = '1165'
=>>>>>>>>>>>>>>>>>>>>>> 7328 /lvl2/ Quality Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4797"  where id = '7328'
959 /lvl1/ Cloud Business Development
=>>>>>>>>>>>>>>>>>>>>>> 9295 /lvl2/ Cloud Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "959"  where id = '9295'
5056 /lvl1/ Sales & Marketing Hospital
=>>>>>>>>>>>>>>>>>>>>>> 11809 /lvl2/ SALES & MARKETING HOSPITAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING HOSPITAL", title_clean   = "SALES & MARKETING HOSPITAL", title_id  = "5056"  where id = '11809'
6080 /lvl1/ Staff Kantor Konsultan Tax
963 /lvl1/ Cloud Development Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5504 /lvl2/ Cloud Development Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "963"  where id = '5504'
4804 /lvl1/ Quality Management Officer
=>>>>>>>>>>>>>>>>>>>>>> 1798 /lvl2/ Quality Management Officer (Marunda)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marunda)", title_clean   = " (Marunda)", title_id  = "4804"  where id = '1798'
=>>>>>>>>>>>>>>>>>>>>>> 6116 /lvl2/ Quality Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4804"  where id = '6116'
1733 /lvl1/ Enterprise Sales Unit Head
=>>>>>>>>>>>>>>>>>>>>>> 4198 /lvl2/ Enterprise Sales Unit Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1733"  where id = '4198'
4549 /lvl1/ Project Control Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7356 /lvl2/ Project Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4549"  where id = '7356'
5061 /lvl1/ Sales & Marketing Property
=>>>>>>>>>>>>>>>>>>>>>> 4586 /lvl2/ Sales & Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5061"  where id = '4586'
6599 /lvl1/ Technical Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5723 /lvl2/ Technical Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6599"  where id = '5723'
3784 /lvl1/ Mathematic Teacher Trainer
5576 /lvl1/ Senior Mechanic Alat Berat
458 /lvl1/ Asset Liquidity Management
=>>>>>>>>>>>>>>>>>>>>>> 652 /lvl2/ Asset Liquidity Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "458"  where id = '652'
5578 /lvl1/ Senior Mechanical Designer
=>>>>>>>>>>>>>>>>>>>>>> 15905 /lvl2/ Senior Mechanical Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5578"  where id = '15905'
3787 /lvl1/ Md Development Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 7714 /lvl2/ MD Development Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MD Development Coordinator", title_clean   = "MD Development Coordinator", title_id  = "3787"  where id = '7714'
5579 /lvl1/ Senior Mechanical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3703 /lvl2/ Senior Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5579"  where id = '3703'
1487 /lvl1/ Digital Marketing & Design
=>>>>>>>>>>>>>>>>>>>>>> 5537 /lvl2/ Digital Marketing & Design (Marcomm) Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marcomm) Manager", title_clean   = " (Marcomm) Manager", title_id  = "1487"  where id = '5537'
=>>>>>>>>>>>>>>>>>>>>>> 5998 /lvl2/ Digital Marketing & Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1487"  where id = '5998'
3535 /lvl1/ Manager Produksi Furniture
=>>>>>>>>>>>>>>>>>>>>>> 20604 /lvl2/ Manager Produksi Furniture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3535"  where id = '20604'
4304 /lvl1/ Planning & Monitoring Lead
=>>>>>>>>>>>>>>>>>>>>>> 19901 /lvl2/ Planning & Monitoring Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4304"  where id = '19901'
2001 /lvl1/ Finance Treasury Unit Head
=>>>>>>>>>>>>>>>>>>>>>> 9203 /lvl2/ Finance Treasury Unit Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2001"  where id = '9203'
3026 /lvl1/ It Support Innovation Team
=>>>>>>>>>>>>>>>>>>>>>> 11647 /lvl2/ IT Support Innovation Team
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Innovation Team", title_clean   = "IT Support Innovation Team", title_id  = "3026"  where id = '11647'
4306 /lvl1/ Planning Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1532 /lvl2/ Planning Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4306"  where id = '1532'
=>>>>>>>>>>>>>>>>>>>>>> 2186 /lvl2/ Planning Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4306"  where id = '2186'
6610 /lvl1/ Technical Support Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2251 /lvl2/ Technical Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6610"  where id = '2251'
=>>>>>>>>>>>>>>>>>>>>>> 3140 /lvl2/ IT Technical Support Engineer (Balikpapan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT -idex- (Balikpapan)", title_clean   = "IT  (Balikpapan)", title_id  = "6610"  where id = '3140'
=>>>>>>>>>>>>>>>>>>>>>> 4576 /lvl2/ TECHNICAL SUPPORT ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPPORT ENGINEER", title_clean   = "TECHNICAL SUPPORT ENGINEER", title_id  = "6610"  where id = '4576'
=>>>>>>>>>>>>>>>>>>>>>> 18283 /lvl2/ Technical Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6610"  where id = '18283'
=>>>>>>>>>>>>>>>>>>>>>> 19354 /lvl2/ TECHNICAL SUPPORT ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPPORT ENGINEER", title_clean   = "TECHNICAL SUPPORT ENGINEER", title_id  = "6610"  where id = '19354'
=>>>>>>>>>>>>>>>>>>>>>> 19928 /lvl2/ Technical Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6610"  where id = '19928'
=>>>>>>>>>>>>>>>>>>>>>> 19933 /lvl2/ Technical Support Engineer (Electrical)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Electrical)", title_clean   = " (Electrical)", title_id  = "6610"  where id = '19933'
2516 /lvl1/ Human Resources Personalia
=>>>>>>>>>>>>>>>>>>>>>> 4271 /lvl2/ Human Resources PERSONALIA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources PERSONALIA", title_clean   = "Human Resources PERSONALIA", title_id  = "2516"  where id = '4271'
3540 /lvl1/ Manager Retail Real Estate
=>>>>>>>>>>>>>>>>>>>>>> 15603 /lvl2/ Manager Retail Real Estate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3540"  where id = '15603'
3796 /lvl1/ Mechanic Engine & Ac Mobil
5077 /lvl1/ Sales Admin & Admin Import
=>>>>>>>>>>>>>>>>>>>>>> 1858 /lvl2/ Sales Admin & Admin Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5077"  where id = '1858'
470 /lvl1/ Assistant Admin Accounting
=>>>>>>>>>>>>>>>>>>>>>> 16511 /lvl2/ ASSISTANT ADMIN ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT ADMIN ACCOUNTING", title_clean   = "ASSISTANT ADMIN ACCOUNTING", title_id  = "470"  where id = '16511'
984 /lvl1/ Collection Admin & Support
=>>>>>>>>>>>>>>>>>>>>>> 16315 /lvl2/ Collection Admin & Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "984"  where id = '16315'
4312 /lvl1/ Plant & Production Trainer
474 /lvl1/ Assistant Business Manager
=>>>>>>>>>>>>>>>>>>>>>> 13047 /lvl2/ ASSISTANT BUSINESS MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT BUSINESS MANAGER", title_clean   = "ASSISTANT BUSINESS MANAGER", title_id  = "474"  where id = '13047'
475 /lvl1/ Assistant Category Manager
=>>>>>>>>>>>>>>>>>>>>>> 19834 /lvl2/ Assistant Category Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "475"  where id = '19834'
2780 /lvl1/ International Office Staff

=>>>>>>>>>>>>>>>>>>>>>> 4284 /lvl2/ International Office Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2780"  where id = '4284'
6364 /lvl1/ Supervisor Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 6990 /lvl2/ Supervisor Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6364"  where id = '6990'
=>>>>>>>>>>>>>>>>>>>>>> 8446 /lvl2/ Supervisor Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6364"  where id = '8446'
=>>>>>>>>>>>>>>>>>>>>>> 18696 /lvl2/ SUPERVISOR QUALITY CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR QUALITY CONTROL", title_clean   = "SUPERVISOR QUALITY CONTROL", title_id  = "6364"  where id = '18696'
6111 /lvl1/ Staff Operasional Keuangan
=>>>>>>>>>>>>>>>>>>>>>> 2388 /lvl2/ STAFF OPERASIONAL KEUANGAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF OPERASIONAL KEUANGAN", title_clean   = "STAFF OPERASIONAL KEUANGAN", title_id  = "6111"  where id = '2388'
5600 /lvl1/ Senior Programmer .Net, C#
=>>>>>>>>>>>>>>>>>>>>>> 9657 /lvl2/ Senior Programmer .Net, C#
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5600"  where id = '9657'
6624 /lvl1/ Technician Setting Machine
=>>>>>>>>>>>>>>>>>>>>>> 3105 /lvl2/ TECHNICIAN SETTING MACHINE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICIAN SETTING MACHINE", title_clean   = "TECHNICIAN SETTING MACHINE", title_id  = "6624"  where id = '3105'
4065 /lvl1/ Operations Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 12177 /lvl2/ Operations Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4065"  where id = '12177'
=>>>>>>>>>>>>>>>>>>>>>> 12211 /lvl2/ Operations Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4065"  where id = '12211'
4577 /lvl1/ Project Management Control
=>>>>>>>>>>>>>>>>>>>>>> 3243 /lvl2/ Project Management Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4577"  where id = '3243'
2530 /lvl1/ Human Resources Specialist
=>>>>>>>>>>>>>>>>>>>>>> 455 /lvl2/ Human Resources Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2530"  where id = '455'
=>>>>>>>>>>>>>>>>>>>>>> 4130 /lvl2/ Human Resources Specialist (Organization Development dan Human ResourcesIS Section Head)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Organization Development dan Human ResourcesIS Section Head)", title_clean   = " (Organization Development dan Human ResourcesIS Section Head)", title_id  = "2530"  where id = '4130'
=>>>>>>>>>>>>>>>>>>>>>> 6030 /lvl2/ Human Resources Specialist (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaking)", title_clean   = " (Mandarin Speaking)", title_id  = "2530"  where id = '6030'
6114 /lvl1/ Staff Operasional Produksi
=>>>>>>>>>>>>>>>>>>>>>> 10241 /lvl2/ Staff Operasional Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6114"  where id = '10241'
996 /lvl1/ Commercial Sales Financing
=>>>>>>>>>>>>>>>>>>>>>> 1477 /lvl2/ Commercial Sales Financing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "996"  where id = '1477'
=>>>>>>>>>>>>>>>>>>>>>> 2105 /lvl2/ Commercial Sales Financing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "996"  where id = '2105'
3300 /lvl1/ Lead Business Intelligence
2534 /lvl1/ Human Resources Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1220 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '1220'
=>>>>>>>>>>>>>>>>>>>>>> 1754 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '1754'
=>>>>>>>>>>>>>>>>>>>>>> 7322 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '7322'
=>>>>>>>>>>>>>>>>>>>>>> 7750 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '7750'
=>>>>>>>>>>>>>>>>>>>>>> 8067 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '8067'
=>>>>>>>>>>>>>>>>>>>>>> 20021 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '20021'
=>>>>>>>>>>>>>>>>>>>>>> 20459 /lvl2/ Human Resources Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2534"  where id = '20459'
3046 /lvl1/ It Technical Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 14779 /lvl2/ IT TECHNICAL SUPPORT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT TECHNICAL SUPPORT STAFF", title_clean   = "IT TECHNICAL SUPPORT STAFF", title_id  = "3046"  where id = '14779'
3814 /lvl1/ Mechanical / Site Engineer
1256 /lvl1/ Customer Service Live Chat
=>>>>>>>>>>>>>>>>>>>>>> 799 /lvl2/ Customer Service Live Chat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1256"  where id = '799'
6377 /lvl1/ Supervisor Sales Canvasing
=>>>>>>>>>>>>>>>>>>>>>> 4953 /lvl2/ SUPERVISOR SALES CANVASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR SALES CANVASING", title_clean   = "SUPERVISOR SALES CANVASING", title_id  = "6377"  where id = '4953'
6633 /lvl1/ Teknik Elektrik & Mechanic
3051 /lvl1/ It Web & Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 6844 /lvl2/ IT WEB & DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT WEB & DIGITAL MARKETING", title_clean   = "IT WEB & DIGITAL MARKETING", title_id  = "3051"  where id = '6844'
1773 /lvl1/ Estimator Project Interior
=>>>>>>>>>>>>>>>>>>>>>> 4374 /lvl2/ ESTIMATOR PROJECT INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTIMATOR PROJECT INTERIOR", title_clean   = "ESTIMATOR PROJECT INTERIOR", title_id  = "1773"  where id = '4374'
=>>>>>>>>>>>>>>>>>>>>>> 10260 /lvl2/ Estimator Project Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1773"  where id = '10260'
2797 /lvl1/ Intern Visual Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 10925 /lvl2/ Intern Visual Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2797"  where id = '10925'
3821 /lvl1/ Mechanical Design Engineer
=>>>>>>>>>>>>>>>>>>>>>> 9635 /lvl2/ Mechanical Design Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3821"  where id = '9635'
4077 /lvl1/ Operator Gudang Bahan Baku
=>>>>>>>>>>>>>>>>>>>>>> 393 /lvl2/ Operator Gudang Bahan Baku
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4077"  where id = '393'
=>>>>>>>>>>>>>>>>>>>>>> 3202 /lvl2/ Operator Gudang Bahan Baku
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4077"  where id = '3202'
6381 /lvl1/ Supervisor Sales Marketing
=>>>>>>>>>>>>>>>>>>>>>> 5789 /lvl2/ Supervisor Sales Marketing Taking Order (Tegal)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Taking Order (Tegal)", title_clean   = " Taking Order (Tegal)", title_id  = "6381"  where id = '5789'
=>>>>>>>>>>>>>>>>>>>>>> 6097 /lvl2/ SUPERVISOR SALES MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR SALES MARKETING", title_clean   = "SUPERVISOR SALES MARKETING", title_id  = "6381"  where id = '6097'
=>>>>>>>>>>>>>>>>>>>>>> 12916 /lvl2/ SUPERVISOR SALES MARKETING  (AREA TIMUR JAWA TENGAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR SALES MARKETING  (AREA TIMUR JAWA TENGAH)", title_clean   = "SUPERVISOR SALES MARKETING  (AREA TIMUR JAWA TENGAH)", title_id  = "6381"  where id = '12916'
=>>>>>>>>>>>>>>>>>>>>>> 12935 /lvl2/ SUPERVISOR SALES MARKETING  (AREA TIMUR JAWA TENGAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR SALES MARKETING  (AREA TIMUR JAWA TENGAH)", title_clean   = "SUPERVISOR SALES MARKETING  (AREA TIMUR JAWA TENGAH)", title_id  = "6381"  where id = '12935'
6382 /lvl1/ Supervisor Sales Retail 2W
=>>>>>>>>>>>>>>>>>>>>>> 20394 /lvl2/ Supervisor Sales Retail 2W
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6382"  where id = '20394'
3568 /lvl1/ Mandarin Preschool Teacher

=>>>>>>>>>>>>>>>>>>>>>> 9094 /lvl2/ Mandarin Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3568"  where id = '9094'
6128 /lvl1/ Staff Procurement & Driver
=>>>>>>>>>>>>>>>>>>>>>> 19264 /lvl2/ Staff Procurement & Driver
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6128"  where id = '19264'
6896 /lvl1/ Video Editor & Videografer
=>>>>>>>>>>>>>>>>>>>>>> 19071 /lvl2/ VIDEO EDITOR & VIDEOGRAFER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "VIDEO EDITOR & VIDEOGRAFER", title_clean   = "VIDEO EDITOR & VIDEOGRAFER", title_id  = "6896"  where id = '19071'
4596 /lvl1/ Project Operations Manager
=>>>>>>>>>>>>>>>>>>>>>> 20321 /lvl2/ Project Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4596"  where id = '20321'
4598 /lvl1/ Project Planner Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6135 /lvl2/ PROJECT PLANNER SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT PLANNER SUPERVISOR", title_clean   = "PROJECT PLANNER SUPERVISOR", title_id  = "4598"  where id = '6135'
6390 /lvl1/ Supervisor Store Samarinda
=>>>>>>>>>>>>>>>>>>>>>> 3990 /lvl2/ Supervisor Store Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6390"  where id = '3990'
2041 /lvl1/ Fire Alarm Design Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19839 /lvl2/ Fire Alarm Design Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2041"  where id = '19839'
3833 /lvl1/ Mechanical Static Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19725 /lvl2/ Mechanical Static Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3833"  where id = '19725'
=>>>>>>>>>>>>>>>>>>>>>> 20390 /lvl2/ Mechanical Static Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3833"  where id = '20390'
1530 /lvl1/ Distribution Business Head
=>>>>>>>>>>>>>>>>>>>>>> 19261 /lvl2/ Distribution Business Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1530"  where id = '19261'
4090 /lvl1/ Operator Telepon Perbankan
=>>>>>>>>>>>>>>>>>>>>>> 18191 /lvl2/ Operator Telepon Perbankan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4090"  where id = '18191'
=>>>>>>>>>>>>>>>>>>>>>> 18215 /lvl2/ Operator Telepon Perbankan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4090"  where id = '18215'
1020 /lvl1/ Compensation Benefit Staff
=>>>>>>>>>>>>>>>>>>>>>> 430 /lvl2/ Compensation Benefit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1020"  where id = '430'
4604 /lvl1/ Project Sales Section Head
=>>>>>>>>>>>>>>>>>>>>>> 4283 /lvl2/ Project Sales Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4604"  where id = '4283'
509 /lvl1/ Assistant Manager Logistic
=>>>>>>>>>>>>>>>>>>>>>> 2338 /lvl2/ Assistant Manager Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "509"  where id = '2338'
=>>>>>>>>>>>>>>>>>>>>>> 3066 /lvl2/ Assistant Manager Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "509"  where id = '3066'
5375 /lvl1/ Sap Successfactors Manager
=>>>>>>>>>>>>>>>>>>>>>> 4562 /lvl2/ SAP SuccessFactors Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP SuccessFactors Manager", title_clean   = "SAP SuccessFactors Manager", title_id  = "5375"  where id = '4562'
3840 /lvl1/ Media Relation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6840 /lvl2/ Media Relation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3840"  where id = '6840'
1281 /lvl1/ Customer Experience Staff
=>>>>>>>>>>>>>>>>>>>>>> 695 /lvl2/ CUSTOMER EXPERIENCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER EXPERIENCE STAFF", title_clean   = "CUSTOMER EXPERIENCE STAFF", title_id  = "1281"  where id = '695'
=>>>>>>>>>>>>>>>>>>>>>> 709 /lvl2/ CUSTOMER EXPERIENCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER EXPERIENCE STAFF", title_clean   = "CUSTOMER EXPERIENCE STAFF", title_id  = "1281"  where id = '709'
1282 /lvl1/ Customer First Management
=>>>>>>>>>>>>>>>>>>>>>> 8013 /lvl2/ Customer First Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1282"  where id = '8013'
=>>>>>>>>>>>>>>>>>>>>>> 8301 /lvl2/ Customer First Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1282"  where id = '8301'
5634 /lvl1/ Senior Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 12155 /lvl2/ Senior Software Developer ReactJS NetCore - 1 year Contract
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ReactJS NetCore - 1 year Contract", title_clean   = " ReactJS NetCore - 1 year Contract", title_id  = "5634"  where id = '12155'
=>>>>>>>>>>>>>>>>>>>>>> 17014 /lvl2/ Senior Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5634"  where id = '17014'
6402 /lvl1/ Supervisor Teknik Tambang
=>>>>>>>>>>>>>>>>>>>>>> 15456 /lvl2/ Supervisor Teknik Tambang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6402"  where id = '15456'
3331 /lvl1/ Learning Content Designer
=>>>>>>>>>>>>>>>>>>>>>> 3655 /lvl2/ Learning Content Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3331"  where id = '3655'
5379 /lvl1/ Science / Physics Teacher
=>>>>>>>>>>>>>>>>>>>>>> 3551 /lvl2/ Science / Physics Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5379"  where id = '3551'
3845 /lvl1/ Medical Device Technician
=>>>>>>>>>>>>>>>>>>>>>> 15240 /lvl2/ MEDICAL DEVICE TECHNICIAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL DEVICE TECHNICIAN", title_clean   = "MEDICAL DEVICE TECHNICIAN", title_id  = "3845"  where id = '15240'
518 /lvl1/ Assistant Manager Project
=>>>>>>>>>>>>>>>>>>>>>> 790 /lvl2/ Assistant Manager Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "518"  where id = '790'
2822 /lvl1/ Investor Relation Manager
=>>>>>>>>>>>>>>>>>>>>>> 15445 /lvl2/ Investor Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2822"  where id = '15445'
1287 /lvl1/ Customer Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 1373 /lvl2/ Customer Relation Officer - EF English First Tangerang (Tangerang City, Gading Serpong, BSD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - EF English First Tangerang (Tangerang City, Gading Serpong, BSD)", title_clean   = " - EF English First Tangerang (Tangerang City, Gading Serpong, BSD)", title_id  = "1287"  where id = '1373'
=>>>>>>>>>>>>>>>>>>>>>> 5739 /lvl2/ Customer Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1287"  where id = '5739'
=>>>>>>>>>>>>>>>>>>>>>> 8131 /lvl2/ Customer Relation Officer - EF English First Jakarta (Tanjung Duren, Puri Indah, Cengkareng, Tebet, Pluit)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - EF English First Jakarta (Tanjung Duren, Puri Indah, Cengkareng, Tebet, Pluit)", title_clean   = " - EF English First Jakarta (Tanjung Duren, Puri Indah, Cengkareng, Tebet, Pluit)", title_id  = "1287"  where id = '8131'
=>>>>>>>>>>>>>>>>>>>>>> 13125 /lvl2/ Customer Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1287"  where id = '13125'
=>>>>>>>>>>>>>>>>>>>>>> 16203 /lvl2/ Customer Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1287"  where id = '16203'
=>>>>>>>>>>>>>>>>>>>>>> 19275 /lvl2/ Customer Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1287"  where id = '19275'
2311 /lvl1/ Guru Tetap Matematika Sma
=>>>>>>>>>>>>>>>>>>>>>> 6838 /lvl2/ GURU TETAP MATEMATIKA SMA SINOTIF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU TETAP MATEMATIKA SMA SINOTIF", title_clean   = "GURU TETAP MATEMATIKA SMA SINOTIF", title_id  = "2311"  where id = '6838'
5387 /lvl1/ Sea Freight Billing Staff
=>>>>>>>>>>>>>>>>>>>>>> 18265 /lvl2/ Sea Freight Billing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5387"  where id = '18265'
2316 /lvl1/ Hairstylist / Hairdresser

=>>>>>>>>>>>>>>>>>>>>>> 9809 /lvl2/ Hairstylist / Hairdresser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2316"  where id = '9809'
3089 /lvl1/ Junior Auditor Consultant
=>>>>>>>>>>>>>>>>>>>>>> 12527 /lvl2/ Junior Auditor Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3089"  where id = '12527'
=>>>>>>>>>>>>>>>>>>>>>> 12545 /lvl2/ Junior Auditor Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3089"  where id = '12545'
786 /lvl1/ Business Planning / Buyer
3860 /lvl1/ Mep Construction Engineer
=>>>>>>>>>>>>>>>>>>>>>> 20514 /lvl2/ MEP Construction Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEP Construction Engineer", title_clean   = "MEP Construction Engineer", title_id  = "3860"  where id = '20514'
6677 /lvl1/ Teknisi Mechanic Hidrolik
2838 /lvl1/ It Application Consultant
=>>>>>>>>>>>>>>>>>>>>>> 9901 /lvl2/ IT Application Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Consultant", title_clean   = "IT Application Consultant", title_id  = "2838"  where id = '9901'
4886 /lvl1/ Recruitment Trainer Staff
=>>>>>>>>>>>>>>>>>>>>>> 18694 /lvl2/ Recruitment Trainer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4886"  where id = '18694'
1815 /lvl1/ Expert Advisor Programmer
=>>>>>>>>>>>>>>>>>>>>>> 10220 /lvl2/ EXPERT ADVISOR Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EXPERT ADVISOR Programmer", title_clean   = "EXPERT ADVISOR Programmer", title_id  = "1815"  where id = '10220'
280 /lvl1/ Administrasi & Accounting
2072 /lvl1/ Foodservice Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 1647 /lvl2/ Foodservice Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2072"  where id = '1647'
4376 /lvl1/ Preschool English Teacher
=>>>>>>>>>>>>>>>>>>>>>> 6101 /lvl2/ Preschool English Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4376"  where id = '6101'
537 /lvl1/ Assistant Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 14449 /lvl2/ Assistant Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "537"  where id = '14449'
=>>>>>>>>>>>>>>>>>>>>>> 14816 /lvl2/ Assistant Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "537"  where id = '14816'
=>>>>>>>>>>>>>>>>>>>>>> 16216 /lvl2/ Assistant Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "537"  where id = '16216'
538 /lvl1/ Assistant Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 3499 /lvl2/ Assistant Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "538"  where id = '3499'
4635 /lvl1/ Protein Chemistry Officer
=>>>>>>>>>>>>>>>>>>>>>> 9510 /lvl2/ Protein Chemistry Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4635"  where id = '9510'
4636 /lvl1/ Prototype & Test Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19863 /lvl2/ PROTOTYPE & TEST ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROTOTYPE & TEST ENGINEER", title_clean   = "PROTOTYPE & TEST ENGINEER", title_id  = "4636"  where id = '19863'
286 /lvl1/ Administrasi Gudang Pusat
=>>>>>>>>>>>>>>>>>>>>>> 10817 /lvl2/ Administrasi Gudang Pusat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "286"  where id = '10817'
5150 /lvl1/ Sales Engineer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14875 /lvl2/ Sales Engineer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5150"  where id = '14875'
3871 /lvl1/ Merchandiser Apparel Baju
=>>>>>>>>>>>>>>>>>>>>>> 942 /lvl2/ Merchandiser Apparel Baju
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3871"  where id = '942'
6175 /lvl1/ Staff Teknis Lantai Vinyl
=>>>>>>>>>>>>>>>>>>>>>> 11349 /lvl2/ Staff Teknis Lantai Vinyl
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6175"  where id = '11349'
1056 /lvl1/ Content Acquisitions Lead
=>>>>>>>>>>>>>>>>>>>>>> 9325 /lvl2/ Content Acquisitions Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1056"  where id = '9325'
6688 /lvl1/ Teknisi Molding Injection
=>>>>>>>>>>>>>>>>>>>>>> 19318 /lvl2/ Teknisi Molding Injection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6688"  where id = '19318'
801 /lvl1/ Business Strategy Manager
=>>>>>>>>>>>>>>>>>>>>>> 6333 /lvl2/ Business Strategy Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "801"  where id = '6333'
35 /lvl1/ Account Manager Cbn Cloud
=>>>>>>>>>>>>>>>>>>>>>> 4614 /lvl2/ Account Manager CBN Cloud
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Manager CBN Cloud", title_clean   = "Account Manager CBN Cloud", title_id  = "35"  where id = '4614'
1059 /lvl1/ Content Creator / Writter
36 /lvl1/ Account Manager Corporate
=>>>>>>>>>>>>>>>>>>>>>> 9122 /lvl2/ Staff Account Manager Corporate (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex- (Surabaya)", title_clean   = "Staff  (Surabaya)", title_id  = "36"  where id = '9122'
=>>>>>>>>>>>>>>>>>>>>>> 10191 /lvl2/ Account Manager Corporate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "36"  where id = '10191'
=>>>>>>>>>>>>>>>>>>>>>> 18945 /lvl2/ Account Manager Corporate Pekanbaru
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pekanbaru", title_clean   = " Pekanbaru", title_id  = "36"  where id = '18945'
4644 /lvl1/ Public Relation Executive
=>>>>>>>>>>>>>>>>>>>>>> 13132 /lvl2/ Public Relation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4644"  where id = '13132'
=>>>>>>>>>>>>>>>>>>>>>> 13152 /lvl2/ Public Relation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4644"  where id = '13152'
1317 /lvl1/ Customer Service Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 4698 /lvl2/ Customer Service Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1317"  where id = '4698'
=>>>>>>>>>>>>>>>>>>>>>> 11731 /lvl2/ Customer Service Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1317"  where id = '11731'
2342 /lvl1/ Head of Assessment Centre
=>>>>>>>>>>>>>>>>>>>>>> 6858 /lvl2/ Head of Assessment Centre
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2342"  where id = '6858'
1575 /lvl1/ Drafter Ict / Elektronika
=>>>>>>>>>>>>>>>>>>>>>> 9258 /lvl2/ Drafter ICT / Elektronika
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Drafter ICT / Elektronika", title_clean   = "Drafter ICT / Elektronika", title_id  = "1575"  where id = '9258'
2343 /lvl1/ Head of Business Analytic
=>>>>>>>>>>>>>>>>>>>>>> 8016 /lvl2/ Head of Business Analytic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2343"  where id = '8016'
=>>>>>>>>>>>>>>>>>>>>>> 9569 /lvl2/ Head of Business Analytic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2343"  where id = '9569'
6951 /lvl1/ Warehouse Logistics Staff
=>>>>>>>>>>>>>>>>>>>>>> 10666 /lvl2/ WAREHOUSE Logistics STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE Logistics STAFF", title_clean   = "WAREHOUSE Logistics STAFF", title_id  = "6951"  where id = '10666'
=>>>>>>>>>>>>>>>>>>>>>> 12350 /lvl2/ WAREHOUSE Logistics STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE Logistics STAFF", title_clean   = "WAREHOUSE Logistics STAFF", title_id  = "6951"  where id = '12350'
1321 /lvl1/ Customer Service Regional
=>>>>>>>>>>>>>>>>>>>>>> 533 /lvl2/ Customer Service Regional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1321"  where id = '533'
42 /lvl1/ Account Payable Associate
=>>>>>>>>>>>>>>>>>>>>>> 16847 /lvl2/ Account Payable Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "42"  where id = '16847'
=>>>>>>>>>>>>>>>>>>>>>> 16862 /lvl2/ Account Payable Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "42"  where id = '16862'
1579 /lvl1/ Drafter Lighting Designer

=>>>>>>>>>>>>>>>>>>>>>> 15829 /lvl2/ Drafter Lighting Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1579"  where id = '15829'
4907 /lvl1/ Regional Manager Sumatera
=>>>>>>>>>>>>>>>>>>>>>> 14399 /lvl2/ Regional Manager Sumatera
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4907"  where id = '14399'
5419 /lvl1/ Security Network Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5264 /lvl2/ Security network engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Security network engineer", title_clean   = "Security network engineer", title_id  = "5419"  where id = '5264'
557 /lvl1/ Assisten Manager Produksi
=>>>>>>>>>>>>>>>>>>>>>> 15244 /lvl2/ ASSISTEN MANAGER PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTEN MANAGER PRODUKSI", title_clean   = "ASSISTEN MANAGER PRODUKSI", title_id  = "557"  where id = '15244'
4911 /lvl1/ Regional People & Culture
=>>>>>>>>>>>>>>>>>>>>>> 734 /lvl2/ Regional People & Culture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4911"  where id = '734'
6191 /lvl1/ Storage & Backup Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1960 /lvl2/ STORAGE & BACKUP ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORAGE & BACKUP ENGINEER", title_clean   = "STORAGE & BACKUP ENGINEER", title_id  = "6191"  where id = '1960'
6448 /lvl1/ System & Network Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13846 /lvl2/ SYSTEM & NETWORK ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SYSTEM & NETWORK ENGINEER", title_clean   = "SYSTEM & NETWORK ENGINEER", title_id  = "6448"  where id = '13846'
2097 /lvl1/ Freelance Operation Sales
=>>>>>>>>>>>>>>>>>>>>>> 4696 /lvl2/ Freelance Operation Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2097"  where id = '4696'
3633 /lvl1/ Marketing & Sales Manager
4145 /lvl1/ Partnership Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 7923 /lvl2/ Partnership Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4145"  where id = '7923'
=>>>>>>>>>>>>>>>>>>>>>> 8239 /lvl2/ Partnership Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4145"  where id = '8239'
3634 /lvl1/ Marketing & Sales Officer
=>>>>>>>>>>>>>>>>>>>>>> 1841 /lvl2/ Marketing & Sales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3634"  where id = '1841'
5170 /lvl1/ Sales Executive IT Sistem
=>>>>>>>>>>>>>>>>>>>>>> 3692 /lvl2/ Sales Executive IT Sistem
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5170"  where id = '3692'
3891 /lvl1/ Middle Back End Developer
=>>>>>>>>>>>>>>>>>>>>>> 13900 /lvl2/ Middle Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3891"  where id = '13900'
3124 /lvl1/ Junior Mine Plan Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5623 /lvl2/ Junior Mine Plan Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3124"  where id = '5623'
=>>>>>>>>>>>>>>>>>>>>>> 6718 /lvl2/ Junior Mine Plan Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3124"  where id = '6718'
6196 /lvl1/ Store Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 7510 /lvl2/ Store Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6196"  where id = '7510'
309 /lvl1/ Administration Accounting
=>>>>>>>>>>>>>>>>>>>>>> 2389 /lvl2/ Administration Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "309"  where id = '2389'
=>>>>>>>>>>>>>>>>>>>>>> 4789 /lvl2/ Administration Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "309"  where id = '4789'
1335 /lvl1/ Cutting & Molding Manager
=>>>>>>>>>>>>>>>>>>>>>> 10399 /lvl2/ Cutting & Molding Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1335"  where id = '10399'
3896 /lvl1/ Mine Operation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9652 /lvl2/ Mine Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3896"  where id = '9652'
3641 /lvl1/ Marketing Alat Kedokteran
=>>>>>>>>>>>>>>>>>>>>>> 5871 /lvl2/ Marketing Alat Kedokteran
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3641"  where id = '5871'
1338 /lvl1/ Data & Investment Analyst
=>>>>>>>>>>>>>>>>>>>>>> 14111 /lvl2/ DATA & INVESTMENT ANALYST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DATA & INVESTMENT ANALYST", title_clean   = "DATA & INVESTMENT ANALYST", title_id  = "1338"  where id = '14111'
6202 /lvl1/ Store Manager Coffee Shop
=>>>>>>>>>>>>>>>>>>>>>> 19770 /lvl2/ STORE MANAGER COFFEE SHOP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE MANAGER COFFEE SHOP", title_clean   = "STORE MANAGER COFFEE SHOP", title_id  = "6202"  where id = '19770'
2108 /lvl1/ Front End / Web Developer
3644 /lvl1/ Marketing Analyst Officer
=>>>>>>>>>>>>>>>>>>>>>> 528 /lvl2/ Marketing Analyst Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3644"  where id = '528'
3133 /lvl1/ Junior Project Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19755 /lvl2/ Junior Project Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3133"  where id = '19755'
6206 /lvl1/ Store Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 3067 /lvl2/ Store Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6206"  where id = '3067'
576 /lvl1/ Audit Teknologi Informasi
=>>>>>>>>>>>>>>>>>>>>>> 884 /lvl2/ Audit Teknologi Informasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "576"  where id = '884'
65 /lvl1/ Accounting & Budget Staff
2625 /lvl1/ Human Resource Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2629 /lvl2/ Human Resource Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2625"  where id = '2629'
2370 /lvl1/ Head of IT Infrastructure
=>>>>>>>>>>>>>>>>>>>>>> 19998 /lvl2/ Head of IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2370"  where id = '19998'
2882 /lvl1/ It Data Center Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11428 /lvl2/ IT Data Center Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Data Center Supervisor", title_clean   = "IT Data Center Supervisor", title_id  = "2882"  where id = '11428'
4162 /lvl1/ Payroll & Personnel Staff
=>>>>>>>>>>>>>>>>>>>>>> 10323 /lvl2/ Payroll & Personnel Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4162"  where id = '10323'
67 /lvl1/ Accounting & Finance Head
=>>>>>>>>>>>>>>>>>>>>>> 1907 /lvl2/ Accounting & Finance Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "67"  where id = '1907'
3139 /lvl1/ Junior Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 2443 /lvl2/ Fresh Graduate Hiring - Junior Software Developer (React Js\u002FJava)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh Graduate Hiring - -idex- (React Js\u002FJava)", title_clean   = "Fresh Graduate Hiring -  (React Js\u002FJava)", title_id  = "3139"  where id = '2443'
=>>>>>>>>>>>>>>>>>>>>>> 8564 /lvl2/ Junior Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3139"  where id = '8564'
2884 /lvl1/ It Database Administrator
=>>>>>>>>>>>>>>>>>>>>>> 602 /lvl2/ IT Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Database Administrator", title_clean   = "IT Database Administrator", title_id  = "2884"  where id = '602'
=>>>>>>>>>>>>>>>>>>>>>> 6394 /lvl2/ IT Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Database Administrator", title_clean   = "IT Database Administrator", title_id  = "2884"  where id = '6394'
=>>>>>>>>>>>>>>>>>>>>>> 6583 /lvl2/ IT DATABASE ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT DATABASE ADMINISTRATOR", title_clean   = "IT DATABASE ADMINISTRATOR", title_id  = "2884"  where id = '6583'
=>>>>>>>>>>>>>>>>>>>>>> 7381 /lvl2/ IT Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Database Administrator", title_clean   = "IT Database Administrator", title_id  = "2884"  where id = '7381'
4165 /lvl1/ Payroll Assistant Manager

=>>>>>>>>>>>>>>>>>>>>>> 9716 /lvl2/ Payroll Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4165"  where id = '9716'
838 /lvl1/ Career Management Officer
=>>>>>>>>>>>>>>>>>>>>>> 1276 /lvl2/ Career Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "838"  where id = '1276'
5447 /lvl1/ Senior Accountant Analyst
=>>>>>>>>>>>>>>>>>>>>>> 16317 /lvl2/ Senior Accountant Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5447"  where id = '16317'
6983 /lvl1/ Web Programmer Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7740 /lvl2/ Web Programmer Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6983"  where id = '7740'
=>>>>>>>>>>>>>>>>>>>>>> 8058 /lvl2/ Web Programmer Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6983"  where id = '8058'
2634 /lvl1/ Human Resources Executive
=>>>>>>>>>>>>>>>>>>>>>> 996 /lvl2/ Human Resources Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2634"  where id = '996'
=>>>>>>>>>>>>>>>>>>>>>> 1869 /lvl2/ Human Resources Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2634"  where id = '1869'
=>>>>>>>>>>>>>>>>>>>>>> 5400 /lvl2/ Human Resources EXECUTIVE – FLUENT IN MANDARIN (BOTH ORAL AND WRITTEN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources EXECUTIVE – FLUENT IN MANDARIN (BOTH ORAL AND WRITTEN)", title_clean   = "Human Resources EXECUTIVE – FLUENT IN MANDARIN (BOTH ORAL AND WRITTEN)", title_id  = "2634"  where id = '5400'
=>>>>>>>>>>>>>>>>>>>>>> 17450 /lvl2/ Human Resources Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2634"  where id = '17450'
=>>>>>>>>>>>>>>>>>>>>>> 18695 /lvl2/ Human Resources Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2634"  where id = '18695'
=>>>>>>>>>>>>>>>>>>>>>> 19840 /lvl2/ Human Resources Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2634"  where id = '19840'
5450 /lvl1/ Senior Accounting & Staff
=>>>>>>>>>>>>>>>>>>>>>> 442 /lvl2/ Senior Accounting & Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5450"  where id = '442'
=>>>>>>>>>>>>>>>>>>>>>> 443 /lvl2/ Senior Accounting & Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5450"  where id = '443'
=>>>>>>>>>>>>>>>>>>>>>> 461 /lvl2/ Senior Accounting & Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5450"  where id = '461'
=>>>>>>>>>>>>>>>>>>>>>> 462 /lvl2/ Senior Accounting & Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5450"  where id = '462'
2123 /lvl1/ Full Stack .Net Developer
=>>>>>>>>>>>>>>>>>>>>>> 8980 /lvl2/ Full Stack .NET Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full Stack .NET Developer", title_clean   = "Full Stack .NET Developer", title_id  = "2123"  where id = '8980'
=>>>>>>>>>>>>>>>>>>>>>> 12579 /lvl2/ Full Stack .NET Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full Stack .NET Developer", title_clean   = "Full Stack .NET Developer", title_id  = "2123"  where id = '12579'
5707 /lvl1/ Service Crew / Frontliner
844 /lvl1/ Cashflow Planning Manager
=>>>>>>>>>>>>>>>>>>>>>> 10067 /lvl2/ Cashflow Planning Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "844"  where id = '10067'
2893 /lvl1/ It Development Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8916 /lvl2/ IT DEVELOPMENT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT DEVELOPMENT SPECIALIST", title_clean   = "IT DEVELOPMENT SPECIALIST", title_id  = "2893"  where id = '8916'
6734 /lvl1/ Tenant Leasing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20020 /lvl2/ Tenant Leasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6734"  where id = '20020'
5455 /lvl1/ Senior Accounting Manager
3152 /lvl1/ Junior Transport Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19342 /lvl2/ Junior Transport Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3152"  where id = '19342'
593 /lvl1/ Back End & Web Programmer
4689 /lvl1/ Purchasing Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 9455 /lvl2/ PURCHASING SUPERINTENDENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING SUPERINTENDENT", title_clean   = "PURCHASING SUPERINTENDENT", title_id  = "4689"  where id = '9455'
6481 /lvl1/ Talent Acquisition Intern
=>>>>>>>>>>>>>>>>>>>>>> 1418 /lvl2/ TALENT ACQUISITION INTERN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TALENT ACQUISITION INTERN", title_clean   = "TALENT ACQUISITION INTERN", title_id  = "6481"  where id = '1418'
6993 /lvl1/ Webtoon Korean Translator
=>>>>>>>>>>>>>>>>>>>>>> 7224 /lvl2/ Webtoon Korean Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6993"  where id = '7224'
3154 /lvl1/ Junior Accounting Officer
595 /lvl1/ Back End Developer Intern
=>>>>>>>>>>>>>>>>>>>>>> 3475 /lvl2/ Back End Developer Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "595"  where id = '3475'
2131 /lvl1/ Full Stack .Net Developer
5460 /lvl1/ Senior Accounts Executive
=>>>>>>>>>>>>>>>>>>>>>> 4242 /lvl2/ Senior Accounts Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5460"  where id = '4242'
2646 /lvl1/ Hydrology Senior Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3718 /lvl2/ Hydrology Senior Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2646"  where id = '3718'
2647 /lvl1/ Ib Curriculum Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 4066 /lvl2/ IB CURRICULUM COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IB CURRICULUM COORDINATOR", title_clean   = "IB CURRICULUM COORDINATOR", title_id  = "2647"  where id = '4066'
2648 /lvl1/ Ib Myp Mathematic Teacher
1625 /lvl1/ Ecommerce Channel Manager
=>>>>>>>>>>>>>>>>>>>>>> 20465 /lvl2/ Ecommerce Channel Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1625"  where id = '20465'
2649 /lvl1/ Ib Pricing Senior Analyst
=>>>>>>>>>>>>>>>>>>>>>> 8440 /lvl2/ IB Pricing Senior Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IB Pricing Senior Analyst", title_clean   = "IB Pricing Senior Analyst", title_id  = "2649"  where id = '8440'
2139 /lvl1/ Functional ERP Consultant
=>>>>>>>>>>>>>>>>>>>>>> 4597 /lvl2/ Functional ERP Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2139"  where id = '4597'
2907 /lvl1/ It Government Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 10764 /lvl2/ IT GOVERNMENT COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT GOVERNMENT COORDINATOR", title_clean   = "IT GOVERNMENT COORDINATOR", title_id  = "2907"  where id = '10764'
1117 /lvl1/ Corporate Affairs Officer
=>>>>>>>>>>>>>>>>>>>>>> 4304 /lvl2/ Corporate Affairs Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1117"  where id = '4304'
6493 /lvl1/ Talent Management Analyst
=>>>>>>>>>>>>>>>>>>>>>> 2836 /lvl2/ Talent Management Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6493"  where id = '2836'
1374 /lvl1/ Data Scientist Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7395 /lvl2/ Data Scientist Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1374"  where id = '7395'
3678 /lvl1/ Marketing Department Head
1119 /lvl1/ Corporate Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 20374 /lvl2/ CORPORATE AFFAIRS MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE AFFAIRS MANAGER", title_clean   = "CORPORATE AFFAIRS MANAGER", title_id  = "1119"  where id = '20374'
2655 /lvl1/ Ict Teacher For Secondary
=>>>>>>>>>>>>>>>>>>>>>> 14846 /lvl2/ ICT teacher for Secondary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ICT teacher for Secondary", title_clean   = "ICT teacher for Secondary", title_id  = "2655"  where id = '14846'
=>>>>>>>>>>>>>>>>>>>>>> 15563 /lvl2/ ICT teacher for Secondary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ICT teacher for Secondary", title_clean   = "ICT teacher for Secondary", title_id  = "2655"  where id = '15563'
3424 /lvl1/ Lower Primary Ict Teacher

=>>>>>>>>>>>>>>>>>>>>>> 6340 /lvl2/ Lower Primary ICT Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lower Primary ICT Teacher", title_clean   = "Lower Primary ICT Teacher", title_id  = "3424"  where id = '6340'
7009 /lvl1/ Working Permit Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6599 /lvl2/ Working Permit Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7009"  where id = '6599'
4194 /lvl1/ Pengawas Lapangan Project
=>>>>>>>>>>>>>>>>>>>>>> 14282 /lvl2/ Pengawas Lapangan Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4194"  where id = '14282'
4450 /lvl1/ Product Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 19260 /lvl2/ Product Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4450"  where id = '19260'
355 /lvl1/ Analis Laboratorium Kimia
=>>>>>>>>>>>>>>>>>>>>>> 19366 /lvl2/ Staff Analis Laboratorium Kimia (ESL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex- (ESL)", title_clean   = "Staff  (ESL)", title_id  = "355"  where id = '19366'
5475 /lvl1/ Senior Back End Developer
=>>>>>>>>>>>>>>>>>>>>>> 9273 /lvl2/ Senior Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5475"  where id = '9273'
2148 /lvl1/ Furniture Sales Marketing
=>>>>>>>>>>>>>>>>>>>>>> 5412 /lvl2/ Furniture Sales Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2148"  where id = '5412'
613 /lvl1/ Banking Partnership Staff
=>>>>>>>>>>>>>>>>>>>>>> 13640 /lvl2/ Banking Partnership Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "613"  where id = '13640'
1382 /lvl1/ Database Operator Officer
=>>>>>>>>>>>>>>>>>>>>>> 8685 /lvl2/ Database Operator Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1382"  where id = '8685'
3176 /lvl1/ Kepala Bagian Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 12988 /lvl2/ Kepala Bagian Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3176"  where id = '12988'
=>>>>>>>>>>>>>>>>>>>>>> 13007 /lvl2/ Kepala Bagian Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3176"  where id = '13007'
=>>>>>>>>>>>>>>>>>>>>>> 14118 /lvl2/ Kepala Bagian Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3176"  where id = '14118'
3944 /lvl1/ Multinational Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 16117 /lvl2/ Multinational Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3944"  where id = '16117'
105 /lvl1/ Accounting Junior Manager
=>>>>>>>>>>>>>>>>>>>>>> 6935 /lvl2/ Accounting Junior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "105"  where id = '6935'
=>>>>>>>>>>>>>>>>>>>>>> 8365 /lvl2/ Accounting Junior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "105"  where id = '8365'
=>>>>>>>>>>>>>>>>>>>>>> 8401 /lvl2/ Accounting Junior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "105"  where id = '8401'
362 /lvl1/ Android Developer For Edc
=>>>>>>>>>>>>>>>>>>>>>> 5129 /lvl2/ Android Developer for EDC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Android Developer for EDC", title_clean   = "Android Developer for EDC", title_id  = "362"  where id = '5129'
2666 /lvl1/ Implementator / Konsultan
363 /lvl1/ Android Developer Intern
=>>>>>>>>>>>>>>>>>>>>>> 17419 /lvl2/ Android Developer Intern Remote
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-Remote", title_clean   = "Remote", title_id  = "363"  where id = '17419'
4460 /lvl1/ Product Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 2236 /lvl2/ Product Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4460"  where id = '2236'
6252 /lvl1/ Supervisor Accounting B2C
2413 /lvl1/ Health Safety Environment
=>>>>>>>>>>>>>>>>>>>>>> 358 /lvl2/ Health Safety Environment (HSE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (HSE)", title_clean   = " (HSE)", title_id  = "2413"  where id = '358'
=>>>>>>>>>>>>>>>>>>>>>> 407 /lvl2/ Health Safety Environment (HSE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (HSE)", title_clean   = " (HSE)", title_id  = "2413"  where id = '407'
=>>>>>>>>>>>>>>>>>>>>>> 822 /lvl2/ HSE (Health Safety Environmental) Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE (-idex-al) Officer", title_clean   = "HSE (al) Officer", title_id  = "2413"  where id = '822'
=>>>>>>>>>>>>>>>>>>>>>> 841 /lvl2/ HSE (Health Safety Environmental) Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE (-idex-al) Officer", title_clean   = "HSE (al) Officer", title_id  = "2413"  where id = '841'
=>>>>>>>>>>>>>>>>>>>>>> 20574 /lvl2/ Health Safety Environment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2413"  where id = '20574'
5229 /lvl1/ Sales Marketing Associate
=>>>>>>>>>>>>>>>>>>>>>> 16526 /lvl2/ SALES MARKETING ASSOCIATE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING ASSOCIATE", title_clean   = "SALES MARKETING ASSOCIATE", title_id  = "5229"  where id = '16526'
=>>>>>>>>>>>>>>>>>>>>>> 16547 /lvl2/ SALES MARKETING ASSOCIATE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING ASSOCIATE", title_clean   = "SALES MARKETING ASSOCIATE", title_id  = "5229"  where id = '16547'
110 /lvl1/ Accounting Officer Leader
=>>>>>>>>>>>>>>>>>>>>>> 16379 /lvl2/ Accounting Officer Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "110"  where id = '16379'
2670 /lvl1/ Import & Export Executive
=>>>>>>>>>>>>>>>>>>>>>> 7572 /lvl2/ Import & Export Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2670"  where id = '7572'
=>>>>>>>>>>>>>>>>>>>>>> 9036 /lvl2/ Import & Export Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2670"  where id = '9036'
623 /lvl1/ Batch Refinery Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2070 /lvl2/ Batch Refinery Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "623"  where id = '2070'
879 /lvl1/ Channel Technical Manager
=>>>>>>>>>>>>>>>>>>>>>> 15481 /lvl2/ Channel Technical Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "879"  where id = '15481'
4465 /lvl1/ Product Operations Junior
=>>>>>>>>>>>>>>>>>>>>>> 3135 /lvl2/ Product Operations Junior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4465"  where id = '3135'
6001 /lvl1/ Staff Building Management
=>>>>>>>>>>>>>>>>>>>>>> 17467 /lvl2/ Staff Building Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6001"  where id = '17467'
6513 /lvl1/ Tax Accounting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2029 /lvl2/ Tax Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6513"  where id = '2029'
=>>>>>>>>>>>>>>>>>>>>>> 2712 /lvl2/ Tax Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6513"  where id = '2712'
=>>>>>>>>>>>>>>>>>>>>>> 14212 /lvl2/ TAX ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX ACCOUNTING SUPERVISOR", title_clean   = "TAX ACCOUNTING SUPERVISOR", title_id  = "6513"  where id = '14212'
=>>>>>>>>>>>>>>>>>>>>>> 14232 /lvl2/ TAX ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX ACCOUNTING SUPERVISOR", title_clean   = "TAX ACCOUNTING SUPERVISOR", title_id  = "6513"  where id = '14232'
6769 /lvl1/ Tour Operations Executive
=>>>>>>>>>>>>>>>>>>>>>> 2953 /lvl2/ Tour Operations Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6769"  where id = '2953'
3186 /lvl1/ Kepala Bagian Tu Akademik
=>>>>>>>>>>>>>>>>>>>>>> 14571 /lvl2/ Kepala Bagian TU Akademik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Kepala Bagian TU Akademik", title_clean   = "Kepala Bagian TU Akademik", title_id  = "3186"  where id = '14571'
1395 /lvl1/ Department Head Machinery
2163 /lvl1/ GAming Activity Execution
=>>>>>>>>>>>>>>>>>>>>>> 14941 /lvl2/ Gaming Activity Execution
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Gaming Activity Execution", title_clean   = "Gaming Activity Execution", title_id  = "2163"  where id = '14941'
2931 /lvl1/ It Infrastructure Manager

=>>>>>>>>>>>>>>>>>>>>>> 1196 /lvl2/ IT Infrastructure Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Manager", title_clean   = "IT Infrastructure Manager", title_id  = "2931"  where id = '1196'
117 /lvl1/ Accounting Senior Manager
=>>>>>>>>>>>>>>>>>>>>>> 5285 /lvl2/ Accounting Senior Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "117"  where id = '5285'
=>>>>>>>>>>>>>>>>>>>>>> 7293 /lvl2/ FINANCE & ACCOUNTING SENIOR MANAGER [MANDARIN SPEAKERS]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SENIOR MANAGER [MANDARIN SPEAKERS]", title_clean   = "FINANCE & ACCOUNTING SENIOR MANAGER [MANDARIN SPEAKERS]", title_id  = "117"  where id = '7293'
5237 /lvl1/ Sales Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 1769 /lvl2/ Sales Marketing Executive B2B (Location: Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- B2B (Location: Jakarta)", title_clean   = " B2B (Location: Jakarta)", title_id  = "5237"  where id = '1769'
=>>>>>>>>>>>>>>>>>>>>>> 3661 /lvl2/ Sales Marketing Executive and Senior Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Senior Marketing Executive", title_clean   = " and Senior Marketing Executive", title_id  = "5237"  where id = '3661'
=>>>>>>>>>>>>>>>>>>>>>> 4662 /lvl2/ Sales Marketing Executive and Senior Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Senior Marketing Executive", title_clean   = " and Senior Marketing Executive", title_id  = "5237"  where id = '4662'
=>>>>>>>>>>>>>>>>>>>>>> 6124 /lvl2/ Sales Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5237"  where id = '6124'
=>>>>>>>>>>>>>>>>>>>>>> 10783 /lvl2/ Sales Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5237"  where id = '10783'
=>>>>>>>>>>>>>>>>>>>>>> 10874 /lvl2/ Sales Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5237"  where id = '10874'
=>>>>>>>>>>>>>>>>>>>>>> 11962 /lvl2/ SALES MARKETING EXECUTIVE - SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING EXECUTIVE - SEMARANG", title_clean   = "SALES MARKETING EXECUTIVE - SEMARANG", title_id  = "5237"  where id = '11962'
=>>>>>>>>>>>>>>>>>>>>>> 17804 /lvl2/ Sales Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5237"  where id = '17804'
=>>>>>>>>>>>>>>>>>>>>>> 19441 /lvl2/ Sales Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5237"  where id = '19441'
=>>>>>>>>>>>>>>>>>>>>>> 20320 /lvl2/ Sales Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5237"  where id = '20320'
2680 /lvl1/ In Store Sales Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6732 /lvl2/ In Store Sales Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2680"  where id = '6732'
3960 /lvl1/ Network Security Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4910 /lvl2/ Network Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3960"  where id = '4910'
=>>>>>>>>>>>>>>>>>>>>>> 5635 /lvl2/ Network Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3960"  where id = '5635'
=>>>>>>>>>>>>>>>>>>>>>> 5709 /lvl2/ Network Security Engineer (Security Engineer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Security Engineer)", title_clean   = " (Security Engineer)", title_id  = "3960"  where id = '5709'
=>>>>>>>>>>>>>>>>>>>>>> 5807 /lvl2/ Network Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3960"  where id = '5807'
=>>>>>>>>>>>>>>>>>>>>>> 7148 /lvl2/ Network Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3960"  where id = '7148'
=>>>>>>>>>>>>>>>>>>>>>> 9218 /lvl2/ Network Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3960"  where id = '9218'
6008 /lvl1/ Staff Costing & Inventory
=>>>>>>>>>>>>>>>>>>>>>> 17834 /lvl2/ Staff Costing & Inventory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6008"  where id = '17834'
5753 /lvl1/ Site Operation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9104 /lvl2/ SITE OPERATION SPECIALIST FOR MATAHARI.COM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE OPERATION SPECIALIST FOR MATAHARI.COM", title_clean   = "SITE OPERATION SPECIALIST FOR MATAHARI.COM", title_id  = "5753"  where id = '9104'
6777 /lvl1/ Trade Promotion Marketing
=>>>>>>>>>>>>>>>>>>>>>> 13903 /lvl2/ Trade Promotion Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6777"  where id = '13903'
1914 /lvl1/ Finance / Admin Executive
4730 /lvl1/ QaQuality Control Manager
6266 /lvl1/ Supervisor Coach Makassar
=>>>>>>>>>>>>>>>>>>>>>> 9654 /lvl2/ Supervisor Coach Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6266"  where id = '9654'
2427 /lvl1/ Hospitality Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 12599 /lvl2/ Hospitality Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2427"  where id = '12599'
=>>>>>>>>>>>>>>>>>>>>>> 12620 /lvl2/ Hospitality Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2427"  where id = '12620'
2939 /lvl1/ It Java Developer Manager
=>>>>>>>>>>>>>>>>>>>>>> 12090 /lvl2/ IT Java Developer Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Java Developer Manager", title_clean   = "IT Java Developer Manager", title_id  = "2939"  where id = '12090'
5243 /lvl1/ Sales Marketing Perbankan
=>>>>>>>>>>>>>>>>>>>>>> 8939 /lvl2/ Sales Marketing Perbankan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5243"  where id = '8939'
6526 /lvl1/ Tax Litigation Associates
=>>>>>>>>>>>>>>>>>>>>>> 15755 /lvl2/ TAX LITIGATION ASSOCIATES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX LITIGATION ASSOCIATES", title_clean   = "TAX LITIGATION ASSOCIATES", title_id  = "6526"  where id = '15755'
4223 /lvl1/ People Partner Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18424 /lvl2/ People Partner Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4223"  where id = '18424'
129 /lvl1/ Accounting Tax Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2609 /lvl2/ Finance Accounting Tax Supervisor - (for EYE Indonesia)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance -idex- - (for EYE Indonesia)", title_clean   = "Finance  - (for EYE Indonesia)", title_id  = "129"  where id = '2609'
=>>>>>>>>>>>>>>>>>>>>>> 3315 /lvl2/ Finance Accounting Tax Supervisor - (for EYE Indonesia)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance -idex- - (for EYE Indonesia)", title_clean   = "Finance  - (for EYE Indonesia)", title_id  = "129"  where id = '3315'
=>>>>>>>>>>>>>>>>>>>>>> 17584 /lvl2/ Accounting Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "129"  where id = '17584'
=>>>>>>>>>>>>>>>>>>>>>> 17599 /lvl2/ Accounting Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "129"  where id = '17599'
=>>>>>>>>>>>>>>>>>>>>>> 19729 /lvl2/ FINANCE ACCOUNTING TAX SUPERVISOR (Penempatan: Trosobo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING TAX SUPERVISOR (Penempatan: Trosobo)", title_clean   = "FINANCE ACCOUNTING TAX SUPERVISOR (Penempatan: Trosobo)", title_id  = "129"  where id = '19729'
1153 /lvl1/ Corporate Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 6800 /lvl2/ Corporate Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1153"  where id = '6800'
=>>>>>>>>>>>>>>>>>>>>>> 19828 /lvl2/ Corporate Sales Executive - SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - SURABAYA", title_clean   = " - SURABAYA", title_id  = "1153"  where id = '19828'
1409 /lvl1/ Design / Drafter Interior
898 /lvl1/ Chemical Plant Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6494 /lvl2/ Chemical Plant Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "898"  where id = '6494'
3458 /lvl1/ Management & Data Analyst

=>>>>>>>>>>>>>>>>>>>>>> 15737 /lvl2/ Management & Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3458"  where id = '15737'
2179 /lvl1/ General Affairs & Teknisi
=>>>>>>>>>>>>>>>>>>>>>> 12731 /lvl2/ General Affairs & Teknisi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2179"  where id = '12731'
=>>>>>>>>>>>>>>>>>>>>>> 12822 /lvl2/ General Affairs & Teknisi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2179"  where id = '12822'
=>>>>>>>>>>>>>>>>>>>>>> 12833 /lvl2/ General Affairs & Teknisi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2179"  where id = '12833'
1668 /lvl1/ Electrician Floating Dock
=>>>>>>>>>>>>>>>>>>>>>> 15432 /lvl2/ Electrician Floating Dock
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1668"  where id = '15432'
4484 /lvl1/ Product Technical Analyst
=>>>>>>>>>>>>>>>>>>>>>> 10015 /lvl2/ Product Technical Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4484"  where id = '10015'
3206 /lvl1/ Kepala Marketing Era Jack
=>>>>>>>>>>>>>>>>>>>>>> 5146 /lvl2/ Kepala Marketing ERA JACK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Kepala Marketing ERA JACK", title_clean   = "Kepala Marketing ERA JACK", title_id  = "3206"  where id = '5146'
6534 /lvl1/ Tax Resolution Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1070 /lvl2/ Tax Resolution Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6534"  where id = '1070'
=>>>>>>>>>>>>>>>>>>>>>> 9900 /lvl2/ Tax Resolution Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6534"  where id = '9900'
=>>>>>>>>>>>>>>>>>>>>>> 18860 /lvl2/ Tax Resolution Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6534"  where id = '18860'
2952 /lvl1/ It Network Security Staff
=>>>>>>>>>>>>>>>>>>>>>> 5999 /lvl2/ IT Network Security Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Security Staff", title_clean   = "IT Network Security Staff", title_id  = "2952"  where id = '5999'
=>>>>>>>>>>>>>>>>>>>>>> 7177 /lvl2/ IT Network Security Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Security Staff", title_clean   = "IT Network Security Staff", title_id  = "2952"  where id = '7177'
3464 /lvl1/ Management Representative
=>>>>>>>>>>>>>>>>>>>>>> 3189 /lvl2/ Management Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3464"  where id = '3189'
=>>>>>>>>>>>>>>>>>>>>>> 5808 /lvl2/ MANAGEMENT REPRESENTATIVE (SURABAYA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT REPRESENTATIVE (SURABAYA)", title_clean   = "MANAGEMENT REPRESENTATIVE (SURABAYA)", title_id  = "3464"  where id = '5808'
=>>>>>>>>>>>>>>>>>>>>>> 18952 /lvl2/ Management Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3464"  where id = '18952'
1161 /lvl1/ Corporate Secretary Staff
=>>>>>>>>>>>>>>>>>>>>>> 752 /lvl2/ Corporate Secretary Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1161"  where id = '752'
=>>>>>>>>>>>>>>>>>>>>>> 9336 /lvl2/ CORPORATE SECRETARY STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE SECRETARY STAFF", title_clean   = "CORPORATE SECRETARY STAFF", title_id  = "1161"  where id = '9336'
=>>>>>>>>>>>>>>>>>>>>>> 17249 /lvl2/ Corporate Secretary Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1161"  where id = '17249'
=>>>>>>>>>>>>>>>>>>>>>> 20085 /lvl2/ Corporate Secretary Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1161"  where id = '20085'
5513 /lvl1/ Senior Digital Strategist
=>>>>>>>>>>>>>>>>>>>>>> 5467 /lvl2/ Senior Digital Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5513"  where id = '5467'
1933 /lvl1/ Finance & Admin Executive
=>>>>>>>>>>>>>>>>>>>>>> 6598 /lvl2/ Finance & Admin Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1933"  where id = '6598'
2701 /lvl1/ Industrial Relation Staff
=>>>>>>>>>>>>>>>>>>>>>> 9883 /lvl2/ INDUSTRIAL RELATION STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INDUSTRIAL RELATION STAFF", title_clean   = "INDUSTRIAL RELATION STAFF", title_id  = "2701"  where id = '9883'
1167 /lvl1/ Cosmetic Regulatory Staff
=>>>>>>>>>>>>>>>>>>>>>> 11851 /lvl2/ Cosmetic Regulatory Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1167"  where id = '11851'
1423 /lvl1/ Design Interior & Project
=>>>>>>>>>>>>>>>>>>>>>> 19585 /lvl2/ DESIGN INTERIOR & PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DESIGN INTERIOR & PROJECT", title_clean   = "DESIGN INTERIOR & PROJECT", title_id  = "1423"  where id = '19585'
5263 /lvl1/ Sales Online Market Place
=>>>>>>>>>>>>>>>>>>>>>> 9187 /lvl2/ Sales Online Market Place
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5263"  where id = '9187'
146 /lvl1/ Actuary Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 3355 /lvl2/ Actuary Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "146"  where id = '3355'
2706 /lvl1/ Industrialization Manager
=>>>>>>>>>>>>>>>>>>>>>> 13293 /lvl2/ Industrialization Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2706"  where id = '13293'
5522 /lvl1/ Senior Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 1499 /lvl2/ Senior Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5522"  where id = '1499'
=>>>>>>>>>>>>>>>>>>>>>> 3600 /lvl2/ Senior Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5522"  where id = '3600'
1683 /lvl1/ Employee Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 15478 /lvl2/ Employee Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1683"  where id = '15478'
2707 /lvl1/ Information Security Risk
=>>>>>>>>>>>>>>>>>>>>>> 19164 /lvl2/ Information Security Risk
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2707"  where id = '19164'
4499 /lvl1/ Production Planning Staff
=>>>>>>>>>>>>>>>>>>>>>> 4759 /lvl2/ Production Planning Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4499"  where id = '4759'
=>>>>>>>>>>>>>>>>>>>>>> 13443 /lvl2/ Production Planning Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4499"  where id = '13443'
1940 /lvl1/ Finance & Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 12717 /lvl2/ Finance & Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1940"  where id = '12717'
=>>>>>>>>>>>>>>>>>>>>>> 12829 /lvl2/ Finance & Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1940"  where id = '12829'
6292 /lvl1/ Supervisor General Affair
=>>>>>>>>>>>>>>>>>>>>>> 12876 /lvl2/ Supervisor General Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6292"  where id = '12876'
=>>>>>>>>>>>>>>>>>>>>>> 15443 /lvl2/ Supervisor General Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6292"  where id = '15443'
=>>>>>>>>>>>>>>>>>>>>>> 17374 /lvl2/ Supervisor General Affairs (General Affairs)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-s (General Affairs)", title_clean   = "s (General Affairs)", title_id  = "6292"  where id = '17374'
4502 /lvl1/ Production Senior Foreman
407 /lvl1/ Architect Desain Interior
=>>>>>>>>>>>>>>>>>>>>>> 4908 /lvl2/ Architect Desain Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "407"  where id = '4908'
1431 /lvl1/ Design Structure Engineer
=>>>>>>>>>>>>>>>>>>>>>> 16752 /lvl2/ Design Structure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1431"  where id = '16752'
=>>>>>>>>>>>>>>>>>>>>>> 16768 /lvl2/ Design Structure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1431"  where id = '16768'
1690 /lvl1/ Engineer Cocoa Technology

=>>>>>>>>>>>>>>>>>>>>>> 9280 /lvl2/ Engineer Cocoa Technology
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1690"  where id = '9280'
6042 /lvl1/ Staff Finance& Accounting
=>>>>>>>>>>>>>>>>>>>>>> 13945 /lvl2/ Staff Finance& Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6042"  where id = '13945'
5019 /lvl1/ Rm Procurement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4773 /lvl2/ RM Procurement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RM Procurement Supervisor", title_clean   = "RM Procurement Supervisor", title_id  = "5019"  where id = '4773'
3484 /lvl1/ Manager Business Advisory
=>>>>>>>>>>>>>>>>>>>>>> 5939 /lvl2/ Manager Business Advisory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3484"  where id = '5939'
1181 /lvl1/ Cost Reporting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13023 /lvl2/ Cost Reporting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1181"  where id = '13023'
6557 /lvl1/ Team Leader Telemarketing
=>>>>>>>>>>>>>>>>>>>>>> 19291 /lvl2/ TEAM LEADER TELEMARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEAM LEADER TELEMARKETING", title_clean   = "TEAM LEADER TELEMARKETING", title_id  = "6557"  where id = '19291'
2719 /lvl1/ Inspector Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 1444 /lvl2/ Inspector Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2719"  where id = '1444'
928 /lvl1/ Civil Construction Expert
=>>>>>>>>>>>>>>>>>>>>>> 3233 /lvl2/ Civil Construction Expert
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "928"  where id = '3233'
4256 /lvl1/ Personal Assistant To Ceo
=>>>>>>>>>>>>>>>>>>>>>> 2897 /lvl2/ Personal Assistant to CEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal Assistant to CEO", title_clean   = "Personal Assistant to CEO", title_id  = "4256"  where id = '2897'
=>>>>>>>>>>>>>>>>>>>>>> 12174 /lvl2/ PERSONAL ASSISTANT TO CEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT TO CEO", title_clean   = "PERSONAL ASSISTANT TO CEO", title_id  = "4256"  where id = '12174'
673 /lvl1/ Brand & Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 590 /lvl2/ BRAND & MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BRAND & MARKETING MANAGER", title_clean   = "BRAND & MARKETING MANAGER", title_id  = "673"  where id = '590'
=>>>>>>>>>>>>>>>>>>>>>> 18738 /lvl2/ Brand & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "673"  where id = '18738'
=>>>>>>>>>>>>>>>>>>>>>> 19966 /lvl2/ Brand & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "673"  where id = '19966'
2209 /lvl1/ General Virtual Assistant
=>>>>>>>>>>>>>>>>>>>>>> 11952 /lvl2/ General Virtual Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2209"  where id = '11952'
1186 /lvl1/ Costumer Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 19027 /lvl2/ Costumer Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1186"  where id = '19027'
=>>>>>>>>>>>>>>>>>>>>>> 19945 /lvl2/ Costumer Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1186"  where id = '19945'
2722 /lvl1/ Inspektor Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 492 /lvl2/ Inspektor Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2722"  where id = '492'
2468 /lvl1/ Human Resources Assistant
=>>>>>>>>>>>>>>>>>>>>>> 19479 /lvl2/ Human Resources Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2468"  where id = '19479'
=>>>>>>>>>>>>>>>>>>>>>> 20065 /lvl2/ Human Resources Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2468"  where id = '20065'
4516 /lvl1/ Program Permagangan Bakti
=>>>>>>>>>>>>>>>>>>>>>> 12377 /lvl2/ Program Permagangan Bakti
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4516"  where id = '12377'
=>>>>>>>>>>>>>>>>>>>>>> 12396 /lvl2/ Program Permagangan Bakti
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4516"  where id = '12396'
1445 /lvl1/ Detailing Respresentative
=>>>>>>>>>>>>>>>>>>>>>> 20368 /lvl2/ Detailing Respresentative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1445"  where id = '20368'
6309 /lvl1/ Supervisor Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 3780 /lvl2/ Supervisor Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6309"  where id = '3780'
=>>>>>>>>>>>>>>>>>>>>>> 6253 /lvl2/ Supervisor Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6309"  where id = '6253'
=>>>>>>>>>>>>>>>>>>>>>> 7426 /lvl2/ Supervisor Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6309"  where id = '7426'
=>>>>>>>>>>>>>>>>>>>>>> 15731 /lvl2/ Supervisor Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6309"  where id = '15731'
1702 /lvl1/ Engineering Administrator
=>>>>>>>>>>>>>>>>>>>>>> 2452 /lvl2/ Engineering Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1702"  where id = '2452'
2470 /lvl1/ Human Resources Associate
=>>>>>>>>>>>>>>>>>>>>>> 13841 /lvl2/ Human Resources Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2470"  where id = '13841'
=>>>>>>>>>>>>>>>>>>>>>> 20258 /lvl2/ Human Resources Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2470"  where id = '20258'
3494 /lvl1/ Manager Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 10863 /lvl2/ MANAGER DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER DIGITAL MARKETING", title_clean   = "MANAGER DIGITAL MARKETING", title_id  = "3494"  where id = '10863'
679 /lvl1/ Brand Development Manager
=>>>>>>>>>>>>>>>>>>>>>> 8328 /lvl2/ Brand Development Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "679"  where id = '8328'
2215 /lvl1/ Global Management Trainee
=>>>>>>>>>>>>>>>>>>>>>> 7497 /lvl2/ Global Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2215"  where id = '7497'
6311 /lvl1/ Supervisor IT Development
=>>>>>>>>>>>>>>>>>>>>>> 2017 /lvl2/ Supervisor IT Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6311"  where id = '2017'
680 /lvl1/ Brand Development Officer
=>>>>>>>>>>>>>>>>>>>>>> 13855 /lvl2/ BRAND DEVELOPMENT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BRAND DEVELOPMENT OFFICER", title_clean   = "BRAND DEVELOPMENT OFFICER", title_id  = "680"  where id = '13855'
3752 /lvl1/ Marketing Service Advisor
=>>>>>>>>>>>>>>>>>>>>>> 19576 /lvl2/ Marketing Service Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3752"  where id = '19576'
4776 /lvl1/ Quality Assurance Manager
=>>>>>>>>>>>>>>>>>>>>>> 5435 /lvl2/ Quality Assurance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4776"  where id = '5435'
=>>>>>>>>>>>>>>>>>>>>>> 15117 /lvl2/ Quality Assurance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4776"  where id = '15117'
5032 /lvl1/ Safety Staff / Supervisor
4267 /lvl1/ Petugas Penyuluh Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 12449 /lvl2/ PETUGAS PENYULUH LAPANGAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PETUGAS PENYULUH LAPANGAN", title_clean   = "PETUGAS PENYULUH LAPANGAN", title_id  = "4267"  where id = '12449'
=>>>>>>>>>>>>>>>>>>>>>> 12469 /lvl2/ PETUGAS PENYULUH LAPANGAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PETUGAS PENYULUH LAPANGAN", title_clean   = "PETUGAS PENYULUH LAPANGAN", title_id  = "4267"  where id = '12469'
=>>>>>>>>>>>>>>>>>>>>>> 16813 /lvl2/ Petugas Penyuluh Lapangan (PPL) Jombang - Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (PPL) Jombang - Jawa Timur", title_clean   = " (PPL) Jombang - Jawa Timur", title_id  = "4267"  where id = '16813'
686 /lvl1/ Brand Marketing Executive

=>>>>>>>>>>>>>>>>>>>>>> 15508 /lvl2/ Brand Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "686"  where id = '15508'
5550 /lvl1/ Senior IT Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 3738 /lvl2/ Senior IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5550"  where id = '3738'
=>>>>>>>>>>>>>>>>>>>>>> 10019 /lvl2/ Senior IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5550"  where id = '10019'
=>>>>>>>>>>>>>>>>>>>>>> 11179 /lvl2/ Senior IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5550"  where id = '11179'
6063 /lvl1/ Staff Industrial Relation
=>>>>>>>>>>>>>>>>>>>>>> 16054 /lvl2/ Staff Industrial Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6063"  where id = '16054'
2480 /lvl1/ Human Resources Executive
2225 /lvl1/ Gmp Compliance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 717 /lvl2/ GMP Compliance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GMP Compliance Supervisor", title_clean   = "GMP Compliance Supervisor", title_id  = "2225"  where id = '717'
4785 /lvl1/ Quality Control Analysist
=>>>>>>>>>>>>>>>>>>>>>> 13082 /lvl2/ Quality Control Analysist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4785"  where id = '13082'
6833 /lvl1/ Trucking Document Control
=>>>>>>>>>>>>>>>>>>>>>> 5647 /lvl2/ Trucking Document Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6833"  where id = '5647'
1715 /lvl1/ Engineering Superitendent
=>>>>>>>>>>>>>>>>>>>>>> 6380 /lvl2/ Engineering Superitendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1715"  where id = '6380'
2484 /lvl1/ Human Resources Generalis
=>>>>>>>>>>>>>>>>>>>>>> 1122 /lvl2/ Human Resources Generalis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2484"  where id = '1122'
=>>>>>>>>>>>>>>>>>>>>>> 10927 /lvl2/ Human Resources Generalis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2484"  where id = '10927'
3508 /lvl1/ Manager Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 8697 /lvl2/ Manager Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager Human ResourcesGA", title_clean   = "Manager Human ResourcesGA", title_id  = "3508"  where id = '8697'
=>>>>>>>>>>>>>>>>>>>>>> 11356 /lvl2/ Manager Human ResourcesGA-Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager Human ResourcesGA-Legal", title_clean   = "Manager Human ResourcesGA-Legal", title_id  = "3508"  where id = '11356'
4788 /lvl1/ Quality Control Inspector
=>>>>>>>>>>>>>>>>>>>>>> 11685 /lvl2/ QUALITY CONTROL INSPECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY CONTROL INSPECTOR", title_clean   = "QUALITY CONTROL INSPECTOR", title_id  = "4788"  where id = '11685'
5044 /lvl1/ Sales & Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 2433 /lvl2/ Sales & Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5044"  where id = '2433'
6327 /lvl1/ Supervisor Marketing Kain
=>>>>>>>>>>>>>>>>>>>>>> 8905 /lvl2/ Supervisor Marketing Kain
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6327"  where id = '8905'
440 /lvl1/ Asisten Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 7411 /lvl2/ ASISTEN QUALITY ASSURANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN QUALITY ASSURANCE", title_clean   = "ASISTEN QUALITY ASSURANCE", title_id  = "440"  where id = '7411'
=>>>>>>>>>>>>>>>>>>>>>> 8853 /lvl2/ ASISTEN QUALITY ASSURANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN QUALITY ASSURANCE", title_clean   = "ASISTEN QUALITY ASSURANCE", title_id  = "440"  where id = '8853'
1976 /lvl1/ Finance Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 3628 /lvl2/ Finance Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1976"  where id = '3628'
=>>>>>>>>>>>>>>>>>>>>>> 7754 /lvl2/ Finance Assistant Manager\u002FManager (Shipping)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002FManager (Shipping)", title_clean   = "\u002FManager (Shipping)", title_id  = "1976"  where id = '7754'
=>>>>>>>>>>>>>>>>>>>>>> 8102 /lvl2/ Finance Assistant Manager\u002FManager (Shipping)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002FManager (Shipping)", title_clean   = "\u002FManager (Shipping)", title_id  = "1976"  where id = '8102'
=>>>>>>>>>>>>>>>>>>>>>> 18732 /lvl2/ Finance Assistant Manager (Account Receivable)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Account Receivable)", title_clean   = " (Account Receivable)", title_id  = "1976"  where id = '18732'
6585 /lvl1/ Technical Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 8009 /lvl2/ Technical Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6585"  where id = '8009'
1210 /lvl1/ Creative Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 5375 /lvl2/ Creative Graphic Designer - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jakarta", title_clean   = " - Jakarta", title_id  = "1210"  where id = '5375'
=>>>>>>>>>>>>>>>>>>>>>> 19033 /lvl2/ Creative Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1210"  where id = '19033'
1468 /lvl1/ Digital Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 4987 /lvl2/ Digital Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1468"  where id = '4987'
=>>>>>>>>>>>>>>>>>>>>>> 10069 /lvl2/ Digital Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1468"  where id = '10069'
=>>>>>>>>>>>>>>>>>>>>>> 11482 /lvl2/ Digital Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1468"  where id = '11482'
5053 /lvl1/ Sales & Marketing Digital
=>>>>>>>>>>>>>>>>>>>>>> 3347 /lvl2/ Sales & Marketing Digital
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5053"  where id = '3347'
446 /lvl1/ Asisten Teknisi Pendingin
=>>>>>>>>>>>>>>>>>>>>>> 17244 /lvl2/ ASISTEN TEKNISI PENDINGIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN TEKNISI PENDINGIN", title_clean   = "ASISTEN TEKNISI PENDINGIN", title_id  = "446"  where id = '17244'
4798 /lvl1/ Quality Engineering Staff
=>>>>>>>>>>>>>>>>>>>>>> 15966 /lvl2/ QUALITY ENGINEERING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY ENGINEERING STAFF", title_clean   = "QUALITY ENGINEERING STAFF", title_id  = "4798"  where id = '15966'
5310 /lvl1/ Sales Supervisor Otomotif
=>>>>>>>>>>>>>>>>>>>>>> 6937 /lvl2/ Sales Supervisor Otomotif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5310"  where id = '6937'
1472 /lvl1/ Digital B2B Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 16907 /lvl2/ Digital B2B Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1472"  where id = '16907'
5568 /lvl1/ Senior Manager Operations
=>>>>>>>>>>>>>>>>>>>>>> 18365 /lvl2/ Senior Manager Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5568"  where id = '18365'
=>>>>>>>>>>>>>>>>>>>>>> 18382 /lvl2/ Senior Manager Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5568"  where id = '18382'
6592 /lvl1/ Technical Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 6239 /lvl2/ Technical Sales Executive  /  Senior Technical Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Senior -idex-", title_clean   = "  /  Senior ", title_id  = "6592"  where id = '6239'
=>>>>>>>>>>>>>>>>>>>>>> 10120 /lvl2/ TECHNICAL SALES EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SALES EXECUTIVE", title_clean   = "TECHNICAL SALES EXECUTIVE", title_id  = "6592"  where id = '10120'
=>>>>>>>>>>>>>>>>>>>>>> 13534 /lvl2/ Technical Sales Executive (TSE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TSE)", title_clean   = " (TSE)", title_id  = "6592"  where id = '13534'
1473 /lvl1/ Digital Booth Camp For IT
=>>>>>>>>>>>>>>>>>>>>>> 4942 /lvl2/ Digital Booth Camp for IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital Booth Camp for IT", title_clean   = "Digital Booth Camp for IT", title_id  = "1473"  where id = '4942'
5057 /lvl1/ Sales & Marketing Manager

=>>>>>>>>>>>>>>>>>>>>>> 3057 /lvl2/ SALES & MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING MANAGER", title_clean   = "SALES & MARKETING MANAGER", title_id  = "5057"  where id = '3057'
=>>>>>>>>>>>>>>>>>>>>>> 5708 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '5708'
=>>>>>>>>>>>>>>>>>>>>>> 6475 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '6475'
=>>>>>>>>>>>>>>>>>>>>>> 7534 /lvl2/ E-commerce Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "E-commerce -idex-", title_clean   = "E-commerce ", title_id  = "5057"  where id = '7534'
=>>>>>>>>>>>>>>>>>>>>>> 9289 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '9289'
=>>>>>>>>>>>>>>>>>>>>>> 9735 /lvl2/ Sales & Marketing Manager (Jkt -FinTech\u002Fpayment gateway\u002Fe-payment)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jkt -FinTech\u002Fpayment gateway\u002Fe-payment)", title_clean   = " (Jkt -FinTech\u002Fpayment gateway\u002Fe-payment)", title_id  = "5057"  where id = '9735'
=>>>>>>>>>>>>>>>>>>>>>> 9749 /lvl2/ Sales & Marketing Manager (Jkt -FinTech\u002Fpayment gateway\u002Fe-payment)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jkt -FinTech\u002Fpayment gateway\u002Fe-payment)", title_clean   = " (Jkt -FinTech\u002Fpayment gateway\u002Fe-payment)", title_id  = "5057"  where id = '9749'
=>>>>>>>>>>>>>>>>>>>>>> 10271 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '10271'
=>>>>>>>>>>>>>>>>>>>>>> 13699 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '13699'
=>>>>>>>>>>>>>>>>>>>>>> 13716 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '13716'
=>>>>>>>>>>>>>>>>>>>>>> 14790 /lvl2/ SALES & MARKETING MANAGER (PENEMPATAN MAGELANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING MANAGER (PENEMPATAN MAGELANG)", title_clean   = "SALES & MARKETING MANAGER (PENEMPATAN MAGELANG)", title_id  = "5057"  where id = '14790'
=>>>>>>>>>>>>>>>>>>>>>> 16090 /lvl2/ Sales & Marketing Manager (Bali - e-payment Industry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali - e-payment Industry)", title_clean   = " (Bali - e-payment Industry)", title_id  = "5057"  where id = '16090'
=>>>>>>>>>>>>>>>>>>>>>> 19395 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '19395'
=>>>>>>>>>>>>>>>>>>>>>> 20248 /lvl2/ Sales & Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5057"  where id = '20248'
1474 /lvl1/ Digital Business Analystt
707 /lvl1/ Budget Controller Officer
=>>>>>>>>>>>>>>>>>>>>>> 1185 /lvl2/ Budget Controller Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "707"  where id = '1185'
4803 /lvl1/ Quality Junior Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4067 /lvl2/ Quality Junior Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4803"  where id = '4067'
5059 /lvl1/ Sales & Marketing Officer
5315 /lvl1/ Sales Support Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 18111 /lvl2/ Sales Support Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5315"  where id = '18111'
3781 /lvl1/ Material Planning Analyst
=>>>>>>>>>>>>>>>>>>>>>> 9348 /lvl2/ Material Planning Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3781"  where id = '9348'
1990 /lvl1/ Finance Operation Officer
=>>>>>>>>>>>>>>>>>>>>>> 2951 /lvl2/ Finance Operation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1990"  where id = '2951'
4806 /lvl1/ Quality Management System
=>>>>>>>>>>>>>>>>>>>>>> 558 /lvl2/ Quality Management System (QMS) Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (QMS) Manager", title_clean   = " (QMS) Manager", title_id  = "4806"  where id = '558'
=>>>>>>>>>>>>>>>>>>>>>> 14264 /lvl2/ Quality Management System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4806"  where id = '14264'
=>>>>>>>>>>>>>>>>>>>>>> 16681 /lvl2/ Quality Management System (QMS) Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (QMS) Specialist", title_clean   = " (QMS) Specialist", title_id  = "4806"  where id = '16681'
=>>>>>>>>>>>>>>>>>>>>>> 17526 /lvl2/ QUALITY MANAGEMENT SYSTEM (QMS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY MANAGEMENT SYSTEM (QMS)", title_clean   = "QUALITY MANAGEMENT SYSTEM (QMS)", title_id  = "4806"  where id = '17526'
=>>>>>>>>>>>>>>>>>>>>>> 20261 /lvl2/ Quality Management System _ ISO Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- _ ISO Staff", title_clean   = " _ ISO Staff", title_id  = "4806"  where id = '20261'
2760 /lvl1/ Internal Audit Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17867 /lvl2/ Internal Audit Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2760"  where id = '17867'
1993 /lvl1/ Finance Reporting Analyst
=>>>>>>>>>>>>>>>>>>>>>> 17280 /lvl2/ Finance Reporting Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1993"  where id = '17280'
4041 /lvl1/ Operation Kitchen Manager
=>>>>>>>>>>>>>>>>>>>>>> 2200 /lvl2/ OPERATION KITCHEN MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION KITCHEN MANAGER", title_clean   = "OPERATION KITCHEN MANAGER", title_id  = "4041"  where id = '2200'
2762 /lvl1/ Internal Audit Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1645 /lvl2/ INTERNAL AUDIT SUPERVISOR (SMG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERNAL AUDIT SUPERVISOR (SMG)", title_clean   = "INTERNAL AUDIT SUPERVISOR (SMG)", title_id  = "2762"  where id = '1645'
=>>>>>>>>>>>>>>>>>>>>>> 2762 /lvl2/ Internal Audit Supervisor - Quality System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Quality System", title_clean   = " - Quality System", title_id  = "2762"  where id = '2762'
=>>>>>>>>>>>>>>>>>>>>>> 3878 /lvl2/ Internal Audit Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2762"  where id = '3878'
=>>>>>>>>>>>>>>>>>>>>>> 12706 /lvl2/ Internal Audit Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2762"  where id = '12706'
=>>>>>>>>>>>>>>>>>>>>>> 19418 /lvl2/ Internal Audit Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2762"  where id = '19418'
=>>>>>>>>>>>>>>>>>>>>>> 20402 /lvl2/ Internal Audit Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2762"  where id = '20402'
4811 /lvl1/ Quality Operational Staff
=>>>>>>>>>>>>>>>>>>>>>> 17150 /lvl2/ Quality Operational Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4811"  where id = '17150'
=>>>>>>>>>>>>>>>>>>>>>> 17164 /lvl2/ Quality Operational Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4811"  where id = '17164'
4044 /lvl1/ Operation Manager Blanket
=>>>>>>>>>>>>>>>>>>>>>> 19104 /lvl2/ Operation Manager Blanket
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4044"  where id = '19104'
4556 /lvl1/ Project Designer Interior
=>>>>>>>>>>>>>>>>>>>>>> 1895 /lvl2/ Project Designer Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4556"  where id = '1895'
461 /lvl1/ Asset Recovery Collection
=>>>>>>>>>>>>>>>>>>>>>> 1108 /lvl2/ Asset Recovery Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "461"  where id = '1108'
=>>>>>>>>>>>>>>>>>>>>>> 1131 /lvl2/ Asset Recovery Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "461"  where id = '1131'
4558 /lvl1/ Project Economist Analyst
=>>>>>>>>>>>>>>>>>>>>>> 12637 /lvl2/ Project Economist Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4558"  where id = '12637'
4047 /lvl1/ Operation Shipping Agency

=>>>>>>>>>>>>>>>>>>>>>> 8351 /lvl2/ Operation Shipping Agency
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4047"  where id = '8351'
4816 /lvl1/ Quantity Surveyor Manager
=>>>>>>>>>>>>>>>>>>>>>> 10324 /lvl2/ Quantity Surveyor Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4816"  where id = '10324'
724 /lvl1/ Business & Growth Manager
=>>>>>>>>>>>>>>>>>>>>>> 1569 /lvl2/ Business & Growth Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "724"  where id = '1569'
5332 /lvl1/ Sales Trainee Development
=>>>>>>>>>>>>>>>>>>>>>> 19728 /lvl2/ Sales Trainee Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5332"  where id = '19728'
3797 /lvl1/ Mechanic Forklift / Truck
726 /lvl1/ Business & System Analyst
=>>>>>>>>>>>>>>>>>>>>>> 12454 /lvl2/ BUSINESS & SYSTEM ANALYST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS & SYSTEM ANALYST", title_clean   = "BUSINESS & SYSTEM ANALYST", title_id  = "726"  where id = '12454'
5846 /lvl1/ Sourcing Planning Analyst
=>>>>>>>>>>>>>>>>>>>>>> 14198 /lvl2/ Sourcing Planning Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5846"  where id = '14198'
=>>>>>>>>>>>>>>>>>>>>>> 14565 /lvl2/ Sourcing Planning Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5846"  where id = '14565'
6614 /lvl1/ Technical Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 13097 /lvl2/ Technical Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6614"  where id = '13097'
=>>>>>>>>>>>>>>>>>>>>>> 17084 /lvl2/ Technical Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6614"  where id = '17084'
3543 /lvl1/ Manager Sales & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 16414 /lvl2/ MANAGER SALES & MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER SALES & MARKETING", title_clean   = "MANAGER SALES & MARKETING", title_id  = "3543"  where id = '16414'
3799 /lvl1/ Mechanic Kendaraan & Umum
1752 /lvl1/ ERP Functional Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5484 /lvl2/ ERP Functional Consultant SAP Business One ( SAP B1 )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SAP Business One ( SAP B1 )", title_clean   = " SAP Business One ( SAP B1 )", title_id  = "1752"  where id = '5484'
=>>>>>>>>>>>>>>>>>>>>>> 6193 /lvl2/ ERP Functional Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1752"  where id = '6193'
5592 /lvl1/ Senior Penetration Tester
=>>>>>>>>>>>>>>>>>>>>>> 2943 /lvl2/ Senior Penetration Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5592"  where id = '2943'
2266 /lvl1/ Growth Operations Manager
=>>>>>>>>>>>>>>>>>>>>>> 9704 /lvl2/ Growth Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2266"  where id = '9704'
3290 /lvl1/ Landscape Project Officer
=>>>>>>>>>>>>>>>>>>>>>> 934 /lvl2/ Landscape Project Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3290"  where id = '934'
5850 /lvl1/ Sous Chef ITalian Concept
3547 /lvl1/ Manager Strategic Account
2268 /lvl1/ Guest Relation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13834 /lvl2/ GUEST RELATION SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GUEST RELATION SUPERVISOR", title_clean   = "GUEST RELATION SUPERVISOR", title_id  = "2268"  where id = '13834'
5597 /lvl1/ Senior Product Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17893 /lvl2/ Senior Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5597"  where id = '17893'
=>>>>>>>>>>>>>>>>>>>>>> 18876 /lvl2/ Senior Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5597"  where id = '18876'
1502 /lvl1/ Digital Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 2014 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '2014'
=>>>>>>>>>>>>>>>>>>>>>> 2387 /lvl2/ Digital Marketing Manager (Getplus.id)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Getplus.id)", title_clean   = " (Getplus.id)", title_id  = "1502"  where id = '2387'
=>>>>>>>>>>>>>>>>>>>>>> 2420 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '2420'
=>>>>>>>>>>>>>>>>>>>>>> 2794 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '2794'
=>>>>>>>>>>>>>>>>>>>>>> 3335 /lvl2/ DIGITAL MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING MANAGER", title_clean   = "DIGITAL MARKETING MANAGER", title_id  = "1502"  where id = '3335'
=>>>>>>>>>>>>>>>>>>>>>> 3993 /lvl2/ DIGITAL MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING MANAGER", title_clean   = "DIGITAL MARKETING MANAGER", title_id  = "1502"  where id = '3993'
=>>>>>>>>>>>>>>>>>>>>>> 4329 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '4329'
=>>>>>>>>>>>>>>>>>>>>>> 5555 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '5555'
=>>>>>>>>>>>>>>>>>>>>>> 5714 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '5714'
=>>>>>>>>>>>>>>>>>>>>>> 6726 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '6726'
=>>>>>>>>>>>>>>>>>>>>>> 7877 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '7877'
=>>>>>>>>>>>>>>>>>>>>>> 8188 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '8188'
=>>>>>>>>>>>>>>>>>>>>>> 9272 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '9272'
=>>>>>>>>>>>>>>>>>>>>>> 17354 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '17354'
=>>>>>>>>>>>>>>>>>>>>>> 18274 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '18274'
=>>>>>>>>>>>>>>>>>>>>>> 18291 /lvl2/ Digital Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1502"  where id = '18291'
=>>>>>>>>>>>>>>>>>>>>>> 20294 /lvl2/ DIGITAL MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING MANAGER", title_clean   = "DIGITAL MARKETING MANAGER", title_id  = "1502"  where id = '20294'
1503 /lvl1/ Digital Marketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 3739 /lvl2/ DIGITAL MARKETING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING OFFICER", title_clean   = "DIGITAL MARKETING OFFICER", title_id  = "1503"  where id = '3739'
=>>>>>>>>>>>>>>>>>>>>>> 6029 /lvl2/ SEO Specialist (Digital Marketing Officer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEO Specialist (-idex-)", title_clean   = "SEO Specialist ()", title_id  = "1503"  where id = '6029'
5087 /lvl1/ Sales Air Minum / Minuman
=>>>>>>>>>>>>>>>>>>>>>> 9777 /lvl2/ Sales Air Minum / Minuman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5087"  where id = '9777'
5343 /lvl1/ Salesman Pump & Equipment
=>>>>>>>>>>>>>>>>>>>>>> 15409 /lvl2/ SALESMAN PUMP & EQUIPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALESMAN PUMP & EQUIPMENT", title_clean   = "SALESMAN PUMP & EQUIPMENT", title_id  = "5343"  where id = '15409'
224 /lvl1/ Admin Online & Staff Toko
=>>>>>>>>>>>>>>>>>>>>>> 2261 /lvl2/ Admin Online & Staff Toko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "224"  where id = '2261'
1760 /lvl1/ Estate Management Manager
=>>>>>>>>>>>>>>>>>>>>>> 9358 /lvl2/ ESTATE MANAGEMENT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTATE MANAGEMENT MANAGER", title_clean   = "ESTATE MANAGEMENT MANAGER", title_id  = "1760"  where id = '9358'
4320 /lvl1/ Platform Development Lead

=>>>>>>>>>>>>>>>>>>>>>> 6875 /lvl2/ Platform Development Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4320"  where id = '6875'
6880 /lvl1/ Vehicle Logistic Operator
=>>>>>>>>>>>>>>>>>>>>>> 6315 /lvl2/ Vehicle Logistic Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6880"  where id = '6315'
=>>>>>>>>>>>>>>>>>>>>>> 7460 /lvl2/ Vehicle Logistic Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6880"  where id = '7460'
2786 /lvl1/ Intern Back End Developer
=>>>>>>>>>>>>>>>>>>>>>> 7351 /lvl2/ Intern Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2786"  where id = '7351'
5602 /lvl1/ Senior Project Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13916 /lvl2/ Senior Project Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5602"  where id = '13916'
=>>>>>>>>>>>>>>>>>>>>>> 13933 /lvl2/ Senior Project Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5602"  where id = '13933'
6882 /lvl1/ Vendor Management Analyst
=>>>>>>>>>>>>>>>>>>>>>> 19069 /lvl2/ Vendor Management Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6882"  where id = '19069'
484 /lvl1/ Assistant General Manager
=>>>>>>>>>>>>>>>>>>>>>> 17315 /lvl2/ Assistant General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "484"  where id = '17315'
3303 /lvl1/ Lead Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 9802 /lvl2/ Lead Full stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lead Full stack Developer", title_clean   = "Lead Full stack Developer", title_id  = "3303"  where id = '9802'
3563 /lvl1/ Mandarin Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 3927 /lvl2/ Mandarin Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3563"  where id = '3927'
6379 /lvl1/ Supervisor Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5686 /lvl2/ Supervisor Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6379"  where id = '5686'
5100 /lvl1/ Sales Campaign Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13472 /lvl2/ Sales Campaign Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5100"  where id = '13472'
=>>>>>>>>>>>>>>>>>>>>>> 13484 /lvl2/ Sales Campaign Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5100"  where id = '13484'
1518 /lvl1/ Digital Sales & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 13647 /lvl2/ Digital Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1518"  where id = '13647'
1774 /lvl1/ Estimator Proyek Interior
=>>>>>>>>>>>>>>>>>>>>>> 19784 /lvl2/ Estimator Proyek Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1774"  where id = '19784'
6129 /lvl1/ Staff Product Development
=>>>>>>>>>>>>>>>>>>>>>> 10721 /lvl2/ Staff Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6129"  where id = '10721'
755 /lvl1/ Business Development Head
=>>>>>>>>>>>>>>>>>>>>>> 12550 /lvl2/ Business development head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business development head", title_clean   = "Business development head", title_id  = "755"  where id = '12550'
5875 /lvl1/ Sr Manager Infrastructure
=>>>>>>>>>>>>>>>>>>>>>> 4922 /lvl2/ Sr Manager Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5875"  where id = '4922'
501 /lvl1/ Assistant Manager Finance
=>>>>>>>>>>>>>>>>>>>>>> 1041 /lvl2/ Assistant Manager Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "501"  where id = '1041'
=>>>>>>>>>>>>>>>>>>>>>> 1080 /lvl2/ ASSISTANT MANAGER FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER FINANCE", title_clean   = "ASSISTANT MANAGER FINANCE", title_id  = "501"  where id = '1080'
2039 /lvl1/ Financial Risk Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3361 /lvl2/ Financial Risk Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2039"  where id = '3361'
3065 /lvl1/ Java Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 8492 /lvl2/ Java Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3065"  where id = '8492'
4089 /lvl1/ Operator Teknisi Produksi
=>>>>>>>>>>>>>>>>>>>>>> 18203 /lvl2/ Operator Teknisi Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4089"  where id = '18203'
6651 /lvl1/ Teknisi Elektronik Repair
=>>>>>>>>>>>>>>>>>>>>>> 18844 /lvl2/ TEKNISI ELEKTRONIK REPAIR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI ELEKTRONIK REPAIR", title_clean   = "TEKNISI ELEKTRONIK REPAIR", title_id  = "6651"  where id = '18844'
6908 /lvl1/ Videographer Photographer
=>>>>>>>>>>>>>>>>>>>>>> 15252 /lvl2/ Videographer Photographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6908"  where id = '15252'
6398 /lvl1/ Supervisor Tax Accounting
=>>>>>>>>>>>>>>>>>>>>>> 1771 /lvl2/ SUPERVISOR TAX ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR TAX ACCOUNTING", title_clean   = "SUPERVISOR TAX ACCOUNTING", title_id  = "6398"  where id = '1771'
=>>>>>>>>>>>>>>>>>>>>>> 17792 /lvl2/ SUPERVISOR TAX ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR TAX ACCOUNTING", title_clean   = "SUPERVISOR TAX ACCOUNTING", title_id  = "6398"  where id = '17792'
=>>>>>>>>>>>>>>>>>>>>>> 19815 /lvl2/ SUPERVISOR TAX ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR TAX ACCOUNTING", title_clean   = "SUPERVISOR TAX ACCOUNTING", title_id  = "6398"  where id = '19815'
=>>>>>>>>>>>>>>>>>>>>>> 19999 /lvl2/ SUPERVISOR TAX ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR TAX ACCOUNTING", title_clean   = "SUPERVISOR TAX ACCOUNTING", title_id  = "6398"  where id = '19999'
5119 /lvl1/ Sales Corporate Executive
=>>>>>>>>>>>>>>>>>>>>>> 4742 /lvl2/ Sales Corporate Executive - Jawa Tengah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jawa Tengah", title_clean   = " - Jawa Tengah", title_id  = "5119"  where id = '4742'
=>>>>>>>>>>>>>>>>>>>>>> 14451 /lvl2/ Sales Corporate Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5119"  where id = '14451'
=>>>>>>>>>>>>>>>>>>>>>> 14824 /lvl2/ Sales Corporate Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5119"  where id = '14824'
5376 /lvl1/ School Admission Officer
=>>>>>>>>>>>>>>>>>>>>>> 9837 /lvl2/ School Admission Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5376"  where id = '9837'
=>>>>>>>>>>>>>>>>>>>>>> 15811 /lvl2/ SCHOOL ADMISSION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SCHOOL ADMISSION OFFICER", title_clean   = "SCHOOL ADMISSION OFFICER", title_id  = "5376"  where id = '15811'
770 /lvl1/ Business English Teacher
=>>>>>>>>>>>>>>>>>>>>>> 5314 /lvl2/ Business English Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "770"  where id = '5314'
1795 /lvl1/ Executive Administrative
=>>>>>>>>>>>>>>>>>>>>>> 11569 /lvl2/ Executive Administrative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1795"  where id = '11569'
2819 /lvl1/ Investment Banking Staff
=>>>>>>>>>>>>>>>>>>>>>> 11929 /lvl2/ INVESTMENT BANKING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INVESTMENT BANKING STAFF", title_clean   = "INVESTMENT BANKING STAFF", title_id  = "2819"  where id = '11929'
3843 /lvl1/ Mediation & Conciliation
=>>>>>>>>>>>>>>>>>>>>>> 4105 /lvl2/ Mediation & Conciliation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3843"  where id = '4105'
5635 /lvl1/ Senior Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7698 /lvl2/ Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5635"  where id = '7698'
=>>>>>>>>>>>>>>>>>>>>>> 7856 /lvl2/ RnD Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RnD -idex-", title_clean   = "RnD ", title_id  = "5635"  where id = '7856'
=>>>>>>>>>>>>>>>>>>>>>> 8172 /lvl2/ RnD Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RnD -idex-", title_clean   = "RnD ", title_id  = "5635"  where id = '8172'
=>>>>>>>>>>>>>>>>>>>>>> 8892 /lvl2/ SENIOR SOFTWARE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SOFTWARE ENGINEER", title_clean   = "SENIOR SOFTWARE ENGINEER", title_id  = "5635"  where id = '8892'
=>>>>>>>>>>>>>>>>>>>>>> 9624 /lvl2/ Senior Software Engineer - Android Mobile
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Android Mobile", title_clean   = " - Android Mobile", title_id  = "5635"  where id = '9624'
=>>>>>>>>>>>>>>>>>>>>>> 9640 /lvl2/ Senior Software Engineer - Android Mobile
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Android Mobile", title_clean   = " - Android Mobile", title_id  = "5635"  where id = '9640'
=>>>>>>>>>>>>>>>>>>>>>> 9811 /lvl2/ Senior Software Engineer - Java
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Java", title_clean   = " - Java", title_id  = "5635"  where id = '9811'
=>>>>>>>>>>>>>>>>>>>>>> 10321 /lvl2/ Senior Software Engineer (GIDE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GIDE)", title_clean   = " (GIDE)", title_id  = "5635"  where id = '10321'
=>>>>>>>>>>>>>>>>>>>>>> 10353 /lvl2/ Senior Software Engineer (GIDE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GIDE)", title_clean   = " (GIDE)", title_id  = "5635"  where id = '10353'
=>>>>>>>>>>>>>>>>>>>>>> 11725 /lvl2/ Senior Software Engineer (Golang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Golang)", title_clean   = " (Golang)", title_id  = "5635"  where id = '11725'
=>>>>>>>>>>>>>>>>>>>>>> 13086 /lvl2/ Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5635"  where id = '13086'
=>>>>>>>>>>>>>>>>>>>>>> 13201 /lvl2/ Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5635"  where id = '13201'
=>>>>>>>>>>>>>>>>>>>>>> 17226 /lvl2/ Senior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5635"  where id = '17226'
6405 /lvl1/ Supervisor Toko Bangunan

3078 /lvl1/ Junior Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 15666 /lvl2/ Junior Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3078"  where id = '15666'
=>>>>>>>>>>>>>>>>>>>>>> 17876 /lvl2/ Junior Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3078"  where id = '17876'
=>>>>>>>>>>>>>>>>>>>>>> 17906 /lvl2/ Junior Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3078"  where id = '17906'
1031 /lvl1/ Compositor Motion Artist
=>>>>>>>>>>>>>>>>>>>>>> 9884 /lvl2/ Compositor Motion Artist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1031"  where id = '9884'
1033 /lvl1/ Computer Science Teacher
=>>>>>>>>>>>>>>>>>>>>>> 5542 /lvl2/ Computer Science Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1033"  where id = '5542'
6921 /lvl1/ Vulnerability Assessment
=>>>>>>>>>>>>>>>>>>>>>> 5816 /lvl2/ Vulnerability Assessment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6921"  where id = '5816'
1034 /lvl1/ Computer Vision Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15302 /lvl2/ Computer Vision Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1034"  where id = '15302'
1802 /lvl1/ Executive Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 1204 /lvl2/ Executive Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1802"  where id = '1204'
5643 /lvl1/ Senior Staff IT Helpdesk
=>>>>>>>>>>>>>>>>>>>>>> 17199 /lvl2/ SENIOR STAFF IT HELPDESK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR STAFF IT HELPDESK", title_clean   = "SENIOR STAFF IT HELPDESK", title_id  = "5643"  where id = '17199'
=>>>>>>>>>>>>>>>>>>>>>> 17217 /lvl2/ SENIOR STAFF IT HELPDESK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR STAFF IT HELPDESK", title_clean   = "SENIOR STAFF IT HELPDESK", title_id  = "5643"  where id = '17217'
6923 /lvl1/ Waitress Cashier Barista
12 /lvl1/ 3D Modeller Architecture
=>>>>>>>>>>>>>>>>>>>>>> 6823 /lvl2/ 3D Modeller Architecture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "12"  where id = '6823'
5132 /lvl1/ Sales Department Manager
=>>>>>>>>>>>>>>>>>>>>>> 7236 /lvl2/ Sales Department Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5132"  where id = '7236'
4109 /lvl1/ Organization Development
=>>>>>>>>>>>>>>>>>>>>>> 11050 /lvl2/ Organization Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4109"  where id = '11050'
1550 /lvl1/ Dokter Spesialis Jantung
=>>>>>>>>>>>>>>>>>>>>>> 11507 /lvl2/ DOKTER SPESIALIS JANTUNG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOKTER SPESIALIS JANTUNG", title_clean   = "DOKTER SPESIALIS JANTUNG", title_id  = "1550"  where id = '11507'
2318 /lvl1/ Hardware Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 12247 /lvl2/ Hardware Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2318"  where id = '12247'
5902 /lvl1/ Staff Follow Up Produksi
2319 /lvl1/ Hc & General Affairs F&B
=>>>>>>>>>>>>>>>>>>>>>> 4623 /lvl2/ HC & General Affairs F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HC & General Affairs F&B", title_clean   = "HC & General Affairs F&B", title_id  = "2319"  where id = '4623'
3599 /lvl1/ Market Insight Executive
=>>>>>>>>>>>>>>>>>>>>>> 4163 /lvl2/ Market Insight Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3599"  where id = '4163'
528 /lvl1/ Assistant Office Manager
=>>>>>>>>>>>>>>>>>>>>>> 873 /lvl2/ Assistant Office Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "528"  where id = '873'
784 /lvl1/ Business Partner Analyst
=>>>>>>>>>>>>>>>>>>>>>> 19675 /lvl2/ Business Partner Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "784"  where id = '19675'
2576 /lvl1/ HRga Superintendent Site
=>>>>>>>>>>>>>>>>>>>>>> 19803 /lvl2/ HRGA Superintendent Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRGA Superintendent Site", title_clean   = "HRGA Superintendent Site", title_id  = "2576"  where id = '19803'
4368 /lvl1/ Presales Audio Visual IT
=>>>>>>>>>>>>>>>>>>>>>> 10471 /lvl2/ Presales Audio Visual IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4368"  where id = '10471'
4880 /lvl1/ Recruitment Section Head
=>>>>>>>>>>>>>>>>>>>>>> 7333 /lvl2/ Recruitment Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4880"  where id = '7333'
4881 /lvl1/ Recruitment Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 7509 /lvl2/ Recruitment Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4881"  where id = '7509'
=>>>>>>>>>>>>>>>>>>>>>> 16235 /lvl2/ Recruitment Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4881"  where id = '16235'
3090 /lvl1/ Junior Back End Engineer
2323 /lvl1/ Head / Senior Multimedia
=>>>>>>>>>>>>>>>>>>>>>> 6913 /lvl2/ Head / Senior Multimedia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2323"  where id = '6913'
4627 /lvl1/ Property General Manager
=>>>>>>>>>>>>>>>>>>>>>> 2000 /lvl2/ Property General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4627"  where id = '2000'
3092 /lvl1/ Junior Business Analystt
6932 /lvl1/ Warehouse & Distribution
=>>>>>>>>>>>>>>>>>>>>>> 17888 /lvl2/ Warehouse & Distribution
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6932"  where id = '17888'
2325 /lvl1/ Head Admin & Operasional
=>>>>>>>>>>>>>>>>>>>>>> 15917 /lvl2/ Head Admin & Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2325"  where id = '15917'
3605 /lvl1/ Market Research Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 16407 /lvl2/ Market Research Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3605"  where id = '16407'
=>>>>>>>>>>>>>>>>>>>>>> 16423 /lvl2/ Market Research Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3605"  where id = '16423'
1047 /lvl1/ Consumer Insight Analyst
=>>>>>>>>>>>>>>>>>>>>>> 4493 /lvl2/ Consumer Insight Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1047"  where id = '4493'
2071 /lvl1/ Food & Beverages Manager
=>>>>>>>>>>>>>>>>>>>>>> 18566 /lvl2/ Food & Beverages Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2071"  where id = '18566'
2839 /lvl1/ It Application Developer
=>>>>>>>>>>>>>>>>>>>>>> 3613 /lvl2/ IT Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Developer", title_clean   = "IT Application Developer", title_id  = "2839"  where id = '3613'
=>>>>>>>>>>>>>>>>>>>>>> 4414 /lvl2/ IT Application Developer  (JS - IT APP DEV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Developer  (JS - IT APP DEV)", title_clean   = "IT Application Developer  (JS - IT APP DEV)", title_id  = "2839"  where id = '4414'
=>>>>>>>>>>>>>>>>>>>>>> 4621 /lvl2/ IT Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Developer", title_clean   = "IT Application Developer", title_id  = "2839"  where id = '4621'
=>>>>>>>>>>>>>>>>>>>>>> 10004 /lvl2/ IT Application Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Developer", title_clean   = "IT Application Developer", title_id  = "2839"  where id = '10004'
4631 /lvl1/ Property Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 3599 /lvl2/ Property Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4631"  where id = '3599'
=>>>>>>>>>>>>>>>>>>>>>> 3619 /lvl2/ Property Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4631"  where id = '3619'
3355 /lvl1/ Legal & Relation Manager
=>>>>>>>>>>>>>>>>>>>>>> 15652 /lvl2/ Legal & Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3355"  where id = '15652'
4123 /lvl1/ Outbound Sales Associate

=>>>>>>>>>>>>>>>>>>>>>> 8808 /lvl2/ Outbound Sales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4123"  where id = '8808'
1820 /lvl1/ Expert Chemistry Teacher
=>>>>>>>>>>>>>>>>>>>>>> 9959 /lvl2/ Expert Chemistry Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1820"  where id = '9959'
4127 /lvl1/ Outreach Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 7207 /lvl2/ Outreach Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4127"  where id = '7207'
6687 /lvl1/ Teknisi Micro Controller
=>>>>>>>>>>>>>>>>>>>>>> 12086 /lvl2/ Teknisi Micro Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6687"  where id = '12086'
3361 /lvl1/ Legal Compliance Officer
=>>>>>>>>>>>>>>>>>>>>>> 12901 /lvl2/ Legal Compliance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3361"  where id = '12901'
3363 /lvl1/ Legal Corporate & Permit
=>>>>>>>>>>>>>>>>>>>>>> 14668 /lvl2/ Legal Corporate & Permit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3363"  where id = '14668'
293 /lvl1/ Administrasi Operasional
=>>>>>>>>>>>>>>>>>>>>>> 14781 /lvl2/ Administrasi Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "293"  where id = '14781'
2341 /lvl1/ Head of Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 15929 /lvl2/ HEAD OF ACCOUNTING & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD OF ACCOUNTING & TAX", title_clean   = "HEAD OF ACCOUNTING & TAX", title_id  = "2341"  where id = '15929'
=>>>>>>>>>>>>>>>>>>>>>> 15945 /lvl2/ HEAD OF ACCOUNTING & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD OF ACCOUNTING & TAX", title_clean   = "HEAD OF ACCOUNTING & TAX", title_id  = "2341"  where id = '15945'
5157 /lvl1/ Sales Exclusive Pipa Pvc
=>>>>>>>>>>>>>>>>>>>>>> 19484 /lvl2/ Sales Exclusive PIPA PVC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Exclusive PIPA PVC", title_clean   = "Sales Exclusive PIPA PVC", title_id  = "5157"  where id = '19484'
1318 /lvl1/ Customer Service Officer
=>>>>>>>>>>>>>>>>>>>>>> 347 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '347'
=>>>>>>>>>>>>>>>>>>>>>> 719 /lvl2/ Export Documentation and Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Export Documentation and -idex-", title_clean   = "Export Documentation and ", title_id  = "1318"  where id = '719'
=>>>>>>>>>>>>>>>>>>>>>> 2028 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '2028'
=>>>>>>>>>>>>>>>>>>>>>> 4538 /lvl2/ CUSTOMER SERVICE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE OFFICER", title_clean   = "CUSTOMER SERVICE OFFICER", title_id  = "1318"  where id = '4538'
=>>>>>>>>>>>>>>>>>>>>>> 5586 /lvl2/ CUSTOMER SERVICE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE OFFICER", title_clean   = "CUSTOMER SERVICE OFFICER", title_id  = "1318"  where id = '5586'
=>>>>>>>>>>>>>>>>>>>>>> 6004 /lvl2/ Customer Service Officer (English Speaking) Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (English Speaking) Balikpapan", title_clean   = " (English Speaking) Balikpapan", title_id  = "1318"  where id = '6004'
=>>>>>>>>>>>>>>>>>>>>>> 11240 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '11240'
=>>>>>>>>>>>>>>>>>>>>>> 11359 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '11359'
=>>>>>>>>>>>>>>>>>>>>>> 11954 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '11954'
=>>>>>>>>>>>>>>>>>>>>>> 12112 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '12112'
=>>>>>>>>>>>>>>>>>>>>>> 13199 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '13199'
=>>>>>>>>>>>>>>>>>>>>>> 15779 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '15779'
=>>>>>>>>>>>>>>>>>>>>>> 15898 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '15898'
=>>>>>>>>>>>>>>>>>>>>>> 16164 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '16164'
=>>>>>>>>>>>>>>>>>>>>>> 18594 /lvl2/ Customer Service Officer (Catering)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Catering)", title_clean   = " (Catering)", title_id  = "1318"  where id = '18594'
=>>>>>>>>>>>>>>>>>>>>>> 19272 /lvl2/ CUSTOMER SERVICE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE OFFICER", title_clean   = "CUSTOMER SERVICE OFFICER", title_id  = "1318"  where id = '19272'
=>>>>>>>>>>>>>>>>>>>>>> 20581 /lvl2/ Customer Service Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1318"  where id = '20581'
2086 /lvl1/ Formulator Personal Care
=>>>>>>>>>>>>>>>>>>>>>> 13930 /lvl2/ Formulator Personal Care
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2086"  where id = '13930'
2598 /lvl1/ Hsse Operational Officer
=>>>>>>>>>>>>>>>>>>>>>> 2170 /lvl2/ HSSE OPERATIONAL OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSSE OPERATIONAL OFFICER", title_clean   = "HSSE OPERATIONAL OFFICER", title_id  = "2598"  where id = '2170'
3111 /lvl1/ Junior Interior Designer
=>>>>>>>>>>>>>>>>>>>>>> 5186 /lvl2/ Junior Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3111"  where id = '5186'
298 /lvl1/ Administrasi Rumah Sakit
=>>>>>>>>>>>>>>>>>>>>>> 104 /lvl2/ ADMINISTRASI RUMAH SAKIT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI RUMAH SAKIT", title_clean   = "ADMINISTRASI RUMAH SAKIT", title_id  = "298"  where id = '104'
4651 /lvl1/ Public Relations Manager
=>>>>>>>>>>>>>>>>>>>>>> 14486 /lvl2/ Public Relations Manager (Travel & Lifestyle PR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Travel & Lifestyle PR)", title_clean   = " (Travel & Lifestyle PR)", title_id  = "4651"  where id = '14486'
=>>>>>>>>>>>>>>>>>>>>>> 15480 /lvl2/ Public Relations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4651"  where id = '15480'
5163 /lvl1/ Sales Executive Catering
=>>>>>>>>>>>>>>>>>>>>>> 4309 /lvl2/ SALES EXECUTIVE CATERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES EXECUTIVE CATERING", title_clean   = "SALES EXECUTIVE CATERING", title_id  = "5163"  where id = '4309'
5675 /lvl1/ Senior Warehouse Officer
=>>>>>>>>>>>>>>>>>>>>>> 20168 /lvl2/ Senior Warehouse Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5675"  where id = '20168'
1836 /lvl1/ Export Import Specialist
1838 /lvl1/ Export Import Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12437 /lvl2/ Export Import Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1838"  where id = '12437'
=>>>>>>>>>>>>>>>>>>>>>> 13235 /lvl2/ Export Import Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1838"  where id = '13235'
5422 /lvl1/ Security System Engineer
=>>>>>>>>>>>>>>>>>>>>>> 14709 /lvl2/ SECURITY SYSTEM ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECURITY SYSTEM ENGINEER", title_clean   = "SECURITY SYSTEM ENGINEER", title_id  = "5422"  where id = '14709'
=>>>>>>>>>>>>>>>>>>>>>> 15112 /lvl2/ SECURITY SYSTEM ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECURITY SYSTEM ENGINEER", title_clean   = "SECURITY SYSTEM ENGINEER", title_id  = "5422"  where id = '15112'
=>>>>>>>>>>>>>>>>>>>>>> 15753 /lvl2/ SECURITY SYSTEM ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECURITY SYSTEM ENGINEER", title_clean   = "SECURITY SYSTEM ENGINEER", title_id  = "5422"  where id = '15753'
4912 /lvl1/ Regional Project Manager

=>>>>>>>>>>>>>>>>>>>>>> 13188 /lvl2/ REGIONAL PROJECT MANAGER (Telecommunication Company)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REGIONAL PROJECT MANAGER (Telecommunication Company)", title_clean   = "REGIONAL PROJECT MANAGER (Telecommunication Company)", title_id  = "4912"  where id = '13188'
=>>>>>>>>>>>>>>>>>>>>>> 16396 /lvl2/ Regional Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4912"  where id = '16396'
3121 /lvl1/ Junior Manager Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 19070 /lvl2/ Junior Manager Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3121"  where id = '19070'
50 /lvl1/ Account Receivable Admin
=>>>>>>>>>>>>>>>>>>>>>> 17425 /lvl2/ ACCOUNT RECEIVABLE ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT RECEIVABLE ADMIN", title_clean   = "ACCOUNT RECEIVABLE ADMIN", title_id  = "50"  where id = '17425'
=>>>>>>>>>>>>>>>>>>>>>> 18272 /lvl2/ Account Receivable Admin (Outsourced Contract)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Outsourced Contract)", title_clean   = " (Outsourced Contract)", title_id  = "50"  where id = '18272'
1586 /lvl1/ Drafter Project Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12129 /lvl2/ Drafter Project Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1586"  where id = '12129'
=>>>>>>>>>>>>>>>>>>>>>> 12150 /lvl2/ Drafter Project Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1586"  where id = '12150'
1587 /lvl1/ Drafter Project Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 7427 /lvl2/ Drafter Project Lapangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1587"  where id = '7427'
1843 /lvl1/ Export Sales Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 17386 /lvl2/ Export Sales Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1843"  where id = '17386'
2611 /lvl1/ Human Capital Generalist
=>>>>>>>>>>>>>>>>>>>>>> 7602 /lvl2/ Human Capital Generalist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2611"  where id = '7602'
4915 /lvl1/ Regional Sales Deputy Gm
=>>>>>>>>>>>>>>>>>>>>>> 2944 /lvl2/ Regional Sales Deputy GM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Regional Sales Deputy GM", title_clean   = "Regional Sales Deputy GM", title_id  = "4915"  where id = '2944'
1332 /lvl1/ Customer Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 937 /lvl2/ Customer Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1332"  where id = '937'
2100 /lvl1/ Freelance Sales Properti
=>>>>>>>>>>>>>>>>>>>>>> 3920 /lvl2/ Freelance Sales Properti
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2100"  where id = '3920'
4148 /lvl1/ Parts Direct Sales Admin
=>>>>>>>>>>>>>>>>>>>>>> 2215 /lvl2/ Parts Direct Sales Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4148"  where id = '2215'
4404 /lvl1/ Procurement / Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 6024 /lvl2/ Procurement / Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4404"  where id = '6024'
821 /lvl1/ Call Center & Collection
=>>>>>>>>>>>>>>>>>>>>>> 1625 /lvl2/ CALL CENTER & COLLECTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CALL CENTER & COLLECTION", title_clean   = "CALL CENTER & COLLECTION", title_id  = "821"  where id = '1625'
=>>>>>>>>>>>>>>>>>>>>>> 19628 /lvl2/ CALL CENTER & COLLECTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CALL CENTER & COLLECTION", title_clean   = "CALL CENTER & COLLECTION", title_id  = "821"  where id = '19628'
=>>>>>>>>>>>>>>>>>>>>>> 20481 /lvl2/ CALL CENTER & COLLECTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CALL CENTER & COLLECTION", title_clean   = "CALL CENTER & COLLECTION", title_id  = "821"  where id = '20481'
5173 /lvl1/ Sales Executive Printing
=>>>>>>>>>>>>>>>>>>>>>> 5182 /lvl2/ Sales Executive Printing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5173"  where id = '5182'
5685 /lvl1/ Seo & Youtube Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17613 /lvl2/ SEO & Youtube Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEO & Youtube Specialist", title_clean   = "SEO & Youtube Specialist", title_id  = "5685"  where id = '17613'
6965 /lvl1/ Warehouse Weight Checker
=>>>>>>>>>>>>>>>>>>>>>> 11418 /lvl2/ WAREHOUSE WEIGHT CHECKER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE WEIGHT CHECKER", title_clean   = "WAREHOUSE WEIGHT CHECKER", title_id  = "6965"  where id = '11418'
54 /lvl1/ Account Receivable Staff
=>>>>>>>>>>>>>>>>>>>>>> 3092 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '3092'
=>>>>>>>>>>>>>>>>>>>>>> 3516 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '3516'
=>>>>>>>>>>>>>>>>>>>>>> 10916 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '10916'
=>>>>>>>>>>>>>>>>>>>>>> 12893 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '12893'
=>>>>>>>>>>>>>>>>>>>>>> 13113 /lvl2/ Account Receivable Staff (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "54"  where id = '13113'
=>>>>>>>>>>>>>>>>>>>>>> 13743 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '13743'
=>>>>>>>>>>>>>>>>>>>>>> 13764 /lvl2/ Collection u002F Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Collection u002F -idex-", title_clean   = "Collection u002F ", title_id  = "54"  where id = '13764'
=>>>>>>>>>>>>>>>>>>>>>> 18835 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '18835'
=>>>>>>>>>>>>>>>>>>>>>> 18845 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '18845'
=>>>>>>>>>>>>>>>>>>>>>> 19693 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '19693'
=>>>>>>>>>>>>>>>>>>>>>> 20539 /lvl2/ Account Receivable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "54"  where id = '20539'
2614 /lvl1/ Human Capital Management
=>>>>>>>>>>>>>>>>>>>>>> 11832 /lvl2/ Human Capital Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2614"  where id = '11832'
3382 /lvl1/ License & Permit Officer
=>>>>>>>>>>>>>>>>>>>>>> 8448 /lvl2/ License & Permit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3382"  where id = '8448'
5174 /lvl1/ Sales Executive Property
=>>>>>>>>>>>>>>>>>>>>>> 14485 /lvl2/ Sales Executive Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5174"  where id = '14485'
=>>>>>>>>>>>>>>>>>>>>>> 15600 /lvl2/ Sales Executive Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5174"  where id = '15600'
=>>>>>>>>>>>>>>>>>>>>>> 16522 /lvl2/ Sales Executive Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5174"  where id = '16522'
1591 /lvl1/ Drafter Site Project Mep
=>>>>>>>>>>>>>>>>>>>>>> 6527 /lvl2/ Drafter Site Project MEP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Drafter Site Project MEP", title_clean   = "Drafter Site Project MEP", title_id  = "1591"  where id = '6527'
5943 /lvl1/ Staff Account Receivable
=>>>>>>>>>>>>>>>>>>>>>> 542 /lvl2/ STAFF ACCOUNT RECEIVABLE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNT RECEIVABLE", title_clean   = "STAFF ACCOUNT RECEIVABLE", title_id  = "5943"  where id = '542'
6968 /lvl1/ Water Sports / Lifeguard
=>>>>>>>>>>>>>>>>>>>>>> 5813 /lvl2/ Water Sports / Lifeguard
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6968"  where id = '5813'
1337 /lvl1/ Daily Worker Crew Cinema

=>>>>>>>>>>>>>>>>>>>>>> 14380 /lvl2/ DAILY WORKER CREW CINEMA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DAILY WORKER CREW CINEMA", title_clean   = "DAILY WORKER CREW CINEMA", title_id  = "1337"  where id = '14380'
=>>>>>>>>>>>>>>>>>>>>>> 14414 /lvl2/ DAILY WORKER CREW CINEMA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DAILY WORKER CREW CINEMA", title_clean   = "DAILY WORKER CREW CINEMA", title_id  = "1337"  where id = '14414'
314 /lvl1/ Administrative Assistant
=>>>>>>>>>>>>>>>>>>>>>> 7345 /lvl2/ Staff ADMIN (Administrative Assistant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ADMIN (-idex-)", title_clean   = "Staff ADMIN ()", title_id  = "314"  where id = '7345'
=>>>>>>>>>>>>>>>>>>>>>> 12178 /lvl2/ Administrative Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "314"  where id = '12178'
2618 /lvl1/ Human Capital Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15888 /lvl2/ Human Capital Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2618"  where id = '15888'
=>>>>>>>>>>>>>>>>>>>>>> 18710 /lvl2/ HUMAN CAPITAL SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HUMAN CAPITAL SUPERVISOR", title_clean   = "HUMAN CAPITAL SUPERVISOR", title_id  = "2618"  where id = '18710'
6714 /lvl1/ Telemarketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1592 /lvl2/ Telemarketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6714"  where id = '1592'
=>>>>>>>>>>>>>>>>>>>>>> 9576 /lvl2/ Telemarketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6714"  where id = '9576'
2875 /lvl1/ It Compliance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3157 /lvl2/ IT Compliance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Compliance Specialist", title_clean   = "IT Compliance Specialist", title_id  = "2875"  where id = '3157'
3899 /lvl1/ Mine Plan Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 5612 /lvl2/ Mine plan superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mine plan superintendent", title_clean   = "Mine plan superintendent", title_id  = "3899"  where id = '5612'
4667 /lvl1/ Purchasing Export Import
=>>>>>>>>>>>>>>>>>>>>>> 973 /lvl2/ PURCHASING EXPORT IMPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING EXPORT IMPORT", title_clean   = "PURCHASING EXPORT IMPORT", title_id  = "4667"  where id = '973'
3134 /lvl1/ Junior Quantity Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 8372 /lvl2/ JUNIOR QUANTITY SURVEYOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR QUANTITY SURVEYOR", title_clean   = "JUNIOR QUANTITY SURVEYOR", title_id  = "3134"  where id = '8372'
5182 /lvl1/ Sales Flexible Packaging
=>>>>>>>>>>>>>>>>>>>>>> 2593 /lvl2/ Sales Flexible Packaging
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5182"  where id = '2593'
6207 /lvl1/ Store Structure Designer
=>>>>>>>>>>>>>>>>>>>>>> 10127 /lvl2/ Store Structure Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6207"  where id = '10127'
=>>>>>>>>>>>>>>>>>>>>>> 10138 /lvl2/ Store Structure Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6207"  where id = '10138'
6463 /lvl1/ System Improvement Staff
=>>>>>>>>>>>>>>>>>>>>>> 10683 /lvl2/ SYSTEM IMPROVEMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SYSTEM IMPROVEMENT STAFF", title_clean   = "SYSTEM IMPROVEMENT STAFF", title_id  = "6463"  where id = '10683'
5440 /lvl1/ Senior Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 8811 /lvl2/ Senior Account Executive (Digital)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Digital)", title_clean   = " (Digital)", title_id  = "5440"  where id = '8811'
=>>>>>>>>>>>>>>>>>>>>>> 10023 /lvl2/ Senior Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5440"  where id = '10023'
=>>>>>>>>>>>>>>>>>>>>>> 15933 /lvl2/ Senior Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5440"  where id = '15933'
=>>>>>>>>>>>>>>>>>>>>>> 15949 /lvl2/ Senior Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5440"  where id = '15949'
5952 /lvl1/ Staff Accounting Finance
=>>>>>>>>>>>>>>>>>>>>>> 311 /lvl2/ STAFF ACCOUNTING FINANCE DAN PAJAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING FINANCE DAN PAJAK", title_clean   = "STAFF ACCOUNTING FINANCE DAN PAJAK", title_id  = "5952"  where id = '311'
=>>>>>>>>>>>>>>>>>>>>>> 5648 /lvl2/ STAFF ACCOUNTING FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING FINANCE", title_clean   = "STAFF ACCOUNTING FINANCE", title_id  = "5952"  where id = '5648'
1857 /lvl1/ F&B Accountant Assistant
=>>>>>>>>>>>>>>>>>>>>>> 847 /lvl2/ F&B Accountant Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1857"  where id = '847'
6467 /lvl1/ System Security Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6624 /lvl2/ System Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6467"  where id = '6624'
3140 /lvl1/ Junior Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3252 /lvl2/ Junior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3140"  where id = '3252'
=>>>>>>>>>>>>>>>>>>>>>> 8633 /lvl2/ Junior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3140"  where id = '8633'
=>>>>>>>>>>>>>>>>>>>>>> 9830 /lvl2/ Junior Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3140"  where id = '9830'
6724 /lvl1/ Telesales Representative
=>>>>>>>>>>>>>>>>>>>>>> 812 /lvl2/ TELESALES REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TELESALES REPRESENTATIVE", title_clean   = "TELESALES REPRESENTATIVE", title_id  = "6724"  where id = '812'
=>>>>>>>>>>>>>>>>>>>>>> 14808 /lvl2/ Telesales Representative (Overseas Calls)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Overseas Calls)", title_clean   = " (Overseas Calls)", title_id  = "6724"  where id = '14808'
=>>>>>>>>>>>>>>>>>>>>>> 15515 /lvl2/ Telesales Representative (Overseas Calls)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Overseas Calls)", title_clean   = " (Overseas Calls)", title_id  = "6724"  where id = '15515'
3909 /lvl1/ Mobile Android Developer
=>>>>>>>>>>>>>>>>>>>>>> 12677 /lvl2/ MOBILE ANDROID DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MOBILE ANDROID DEVELOPER", title_clean   = "MOBILE ANDROID DEVELOPER", title_id  = "3909"  where id = '12677'
=>>>>>>>>>>>>>>>>>>>>>> 12696 /lvl2/ MOBILE ANDROID DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MOBILE ANDROID DEVELOPER", title_clean   = "MOBILE ANDROID DEVELOPER", title_id  = "3909"  where id = '12696'
4422 /lvl1/ Procurement Section Head
=>>>>>>>>>>>>>>>>>>>>>> 15483 /lvl2/ Procurement Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4422"  where id = '15483'
3399 /lvl1/ Local Sourcing Associate
=>>>>>>>>>>>>>>>>>>>>>> 16708 /lvl2/ Local Sourcing Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3399"  where id = '16708'
6729 /lvl1/ Temporary Admin Logistic
=>>>>>>>>>>>>>>>>>>>>>> 6166 /lvl2/ Temporary Admin Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6729"  where id = '6166'
3914 /lvl1/ Mobile Developer Flutter
=>>>>>>>>>>>>>>>>>>>>>> 10553 /lvl2/ Mobile Developer Flutter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3914"  where id = '10553'
587 /lvl1/ Av Installation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3131 /lvl2/ AV Installation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AV Installation Engineer", title_clean   = "AV Installation Engineer", title_id  = "587"  where id = '3131'
1611 /lvl1/ Driver Truck Double Long
=>>>>>>>>>>>>>>>>>>>>>> 14280 /lvl2/ Driver Truck Double Long
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1611"  where id = '14280'
2892 /lvl1/ It Development Intenship
=>>>>>>>>>>>>>>>>>>>>>> 2272 /lvl2/ IT Development Intenship
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Development Intenship", title_clean   = "IT Development Intenship", title_id  = "2892"  where id = '2272'
=>>>>>>>>>>>>>>>>>>>>>> 3020 /lvl2/ IT Development Intenship
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Development Intenship", title_clean   = "IT Development Intenship", title_id  = "2892"  where id = '3020'
3148 /lvl1/ Junior Technical Support

=>>>>>>>>>>>>>>>>>>>>>> 18989 /lvl2/ Junior Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3148"  where id = '18989'
3916 /lvl1/ Mobile Flutter Developer
=>>>>>>>>>>>>>>>>>>>>>> 4094 /lvl2/ Mobile Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3916"  where id = '4094'
846 /lvl1/ Cashier & Treasury Staff
=>>>>>>>>>>>>>>>>>>>>>> 19396 /lvl2/ CASHIER & TREASURY STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CASHIER & TREASURY STAFF", title_clean   = "CASHIER & TREASURY STAFF", title_id  = "846"  where id = '19396'
80 /lvl1/ Accounting & Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 8767 /lvl2/ Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "80"  where id = '8767'
=>>>>>>>>>>>>>>>>>>>>>> 9628 /lvl2/ Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "80"  where id = '9628'
=>>>>>>>>>>>>>>>>>>>>>> 11946 /lvl2/ Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "80"  where id = '11946'
=>>>>>>>>>>>>>>>>>>>>>> 18005 /lvl2/ ACCOUNTING & TAX MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX MANAGER", title_clean   = "ACCOUNTING & TAX MANAGER", title_id  = "80"  where id = '18005'
=>>>>>>>>>>>>>>>>>>>>>> 19857 /lvl2/ Accounting & Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "80"  where id = '19857'
4944 /lvl1/ Relationship Manager Sme
=>>>>>>>>>>>>>>>>>>>>>> 4064 /lvl2/ Team Leader - Relationship Manager SME Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Team Leader - Relationship Manager SME Banking", title_clean   = "Team Leader - Relationship Manager SME Banking", title_id  = "4944"  where id = '4064'
=>>>>>>>>>>>>>>>>>>>>>> 12331 /lvl2/ Relationship Manager SME
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Relationship Manager SME", title_clean   = "Relationship Manager SME", title_id  = "4944"  where id = '12331'
81 /lvl1/ Accounting & Tax Officer
=>>>>>>>>>>>>>>>>>>>>>> 2474 /lvl2/ Accounting & Tax Officer (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan)", title_clean   = " (Medan)", title_id  = "81"  where id = '2474'
=>>>>>>>>>>>>>>>>>>>>>> 13226 /lvl2/ Accounting & Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "81"  where id = '13226'
=>>>>>>>>>>>>>>>>>>>>>> 16577 /lvl2/ Accounting & Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "81"  where id = '16577'
3153 /lvl1/ Junior Valuation Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11917 /lvl2/ Junior Valuation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3153"  where id = '11917'
=>>>>>>>>>>>>>>>>>>>>>> 11935 /lvl2/ Junior Valuation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3153"  where id = '11935'
2898 /lvl1/ It ERP Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 17514 /lvl2/ IT ERP Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT ERP Development Staff", title_clean   = "IT ERP Development Staff", title_id  = "2898"  where id = '17514'
851 /lvl1/ Casual Leasing Executive
=>>>>>>>>>>>>>>>>>>>>>> 19934 /lvl2/ Casual Leasing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "851"  where id = '19934'
596 /lvl1/ Back End Developer Staff
=>>>>>>>>>>>>>>>>>>>>>> 5006 /lvl2/ Back End Developer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "596"  where id = '5006'
4436 /lvl1/ Product Category Manager
=>>>>>>>>>>>>>>>>>>>>>> 15881 /lvl2/ Product Category Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4436"  where id = '15881'
4949 /lvl1/ Religion Studies Teacher
=>>>>>>>>>>>>>>>>>>>>>> 15797 /lvl2/ Religion Studies Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4949"  where id = '15797'
=>>>>>>>>>>>>>>>>>>>>>> 15813 /lvl2/ Religion Studies Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4949"  where id = '15813'
2134 /lvl1/ Full Stack Web Developer
=>>>>>>>>>>>>>>>>>>>>>> 9058 /lvl2/ Full Stack Web Developer (Java and Angular)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Java and Angular)", title_clean   = " (Java and Angular)", title_id  = "2134"  where id = '9058'
=>>>>>>>>>>>>>>>>>>>>>> 12655 /lvl2/ Full Stack Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2134"  where id = '12655'
=>>>>>>>>>>>>>>>>>>>>>> 12670 /lvl2/ Full Stack Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2134"  where id = '12670'
=>>>>>>>>>>>>>>>>>>>>>> 20132 /lvl2/ Full Stack Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2134"  where id = '20132'
3158 /lvl1/ Junior Project Executive
3670 /lvl1/ Marketing Communications
=>>>>>>>>>>>>>>>>>>>>>> 9879 /lvl2/ Marketing Communications
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3670"  where id = '9879'
4695 /lvl1/ Python Programmer Mentor
=>>>>>>>>>>>>>>>>>>>>>> 3776 /lvl2/ Remote Python Programmer Mentor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Remote -idex-", title_clean   = "Remote ", title_id  = "4695"  where id = '3776'
6487 /lvl1/ Talent Acquisition Staff
=>>>>>>>>>>>>>>>>>>>>>> 11826 /lvl2/ Talent Acquisition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6487"  where id = '11826'
=>>>>>>>>>>>>>>>>>>>>>> 12195 /lvl2/ Talent Acquisition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6487"  where id = '12195'
=>>>>>>>>>>>>>>>>>>>>>> 12481 /lvl2/ Talent Acquisition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6487"  where id = '12481'
=>>>>>>>>>>>>>>>>>>>>>> 17858 /lvl2/ Talent Acquisition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6487"  where id = '17858'
=>>>>>>>>>>>>>>>>>>>>>> 18811 /lvl2/ Talent Acquisition Staff (Contract)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Contract)", title_clean   = " (Contract)", title_id  = "6487"  where id = '18811'
=>>>>>>>>>>>>>>>>>>>>>> 20545 /lvl2/ Talent Acquisition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6487"  where id = '20545'
2392 /lvl1/ Head of Public Relations
=>>>>>>>>>>>>>>>>>>>>>> 1574 /lvl2/ Head of Public Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2392"  where id = '1574'
6232 /lvl1/ Student Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 11468 /lvl2/ Student Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6232"  where id = '11468'
2138 /lvl1/ Functional ERP Associate
=>>>>>>>>>>>>>>>>>>>>>> 18324 /lvl2/ Functional ERP Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2138"  where id = '18324'
2394 /lvl1/ Head of Quarry Operation
=>>>>>>>>>>>>>>>>>>>>>> 471 /lvl2/ Head of Quarry Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2394"  where id = '471'
4187 /lvl1/ Pengawas Interior Proyek
=>>>>>>>>>>>>>>>>>>>>>> 16178 /lvl2/ Pengawas Interior Proyek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4187"  where id = '16178'
=>>>>>>>>>>>>>>>>>>>>>> 16194 /lvl2/ Pengawas Interior Proyek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4187"  where id = '16194'
6747 /lvl1/ Test Automation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5607 /lvl2/ Test Automation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6747"  where id = '5607'
604 /lvl1/ Bahasa Indonesia Teacher
=>>>>>>>>>>>>>>>>>>>>>> 11639 /lvl2/ BAHASA INDONESIA TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BAHASA INDONESIA TEACHER", title_clean   = "BAHASA INDONESIA TEACHER", title_id  = "604"  where id = '11639'
=>>>>>>>>>>>>>>>>>>>>>> 18662 /lvl2/ Bahasa Indonesia Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "604"  where id = '18662'
3677 /lvl1/ Marketing Data Scientist

=>>>>>>>>>>>>>>>>>>>>>> 3049 /lvl2/ Marketing Data Scientist (Karawaci)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawaci)", title_clean   = " (Karawaci)", title_id  = "3677"  where id = '3049'
=>>>>>>>>>>>>>>>>>>>>>> 5161 /lvl2/ Marketing Data Scientist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3677"  where id = '5161'
3933 /lvl1/ Motion & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 12806 /lvl2/ Motion & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3933"  where id = '12806'
2398 /lvl1/ Head of School Secretary
=>>>>>>>>>>>>>>>>>>>>>> 3654 /lvl2/ Head of School Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2398"  where id = '3654'
=>>>>>>>>>>>>>>>>>>>>>> 4631 /lvl2/ Head of School Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2398"  where id = '4631'
5214 /lvl1/ Sales Manager Cargoshare
=>>>>>>>>>>>>>>>>>>>>>> 2036 /lvl2/ Sales Manager Cargoshare
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5214"  where id = '2036'
5215 /lvl1/ Sales Manager Dalam Kota
=>>>>>>>>>>>>>>>>>>>>>> 1897 /lvl2/ SALES MANAGER DALAM KOTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MANAGER DALAM KOTA", title_clean   = "SALES MANAGER DALAM KOTA", title_id  = "5215"  where id = '1897'
5216 /lvl1/ Sales Manager Electrical
=>>>>>>>>>>>>>>>>>>>>>> 19752 /lvl2/ SALES MANAGER ELECTRICAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MANAGER ELECTRICAL", title_clean   = "SALES MANAGER ELECTRICAL", title_id  = "5216"  where id = '19752'
6754 /lvl1/ Tiktok & Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 2448 /lvl2/ Tiktok & Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6754"  where id = '2448'
1891 /lvl1/ Field Collection Officer
=>>>>>>>>>>>>>>>>>>>>>> 1639 /lvl2/ Field Collection Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1891"  where id = '1639'
4195 /lvl1/ Pengawas Mixing Produksi
=>>>>>>>>>>>>>>>>>>>>>> 13369 /lvl2/ Pengawas Mixing Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4195"  where id = '13369'
4196 /lvl1/ Pengawas Pabrik / Gudang
=>>>>>>>>>>>>>>>>>>>>>> 1539 /lvl2/ Pengawas Pabrik / Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4196"  where id = '1539'
101 /lvl1/ Accounting Finance Staff
=>>>>>>>>>>>>>>>>>>>>>> 6038 /lvl2/ Accounting Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "101"  where id = '6038'
=>>>>>>>>>>>>>>>>>>>>>> 11785 /lvl2/ Accounting Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "101"  where id = '11785'
=>>>>>>>>>>>>>>>>>>>>>> 13294 /lvl2/ Accounting Finance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "101"  where id = '13294'
=>>>>>>>>>>>>>>>>>>>>>> 17896 /lvl2/ ACCOUNTING FINANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING FINANCE STAFF", title_clean   = "ACCOUNTING FINANCE STAFF", title_id  = "101"  where id = '17896'
=>>>>>>>>>>>>>>>>>>>>>> 17915 /lvl2/ ACCOUNTING FINANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING FINANCE STAFF", title_clean   = "ACCOUNTING FINANCE STAFF", title_id  = "101"  where id = '17915'
=>>>>>>>>>>>>>>>>>>>>>> 20022 /lvl2/ ACCOUNTING FINANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING FINANCE STAFF", title_clean   = "ACCOUNTING FINANCE STAFF", title_id  = "101"  where id = '20022'
3941 /lvl1/ Mt Restaurant Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10737 /lvl2/ MT Restaurant Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MT Restaurant Supervisor", title_clean   = "MT Restaurant Supervisor", title_id  = "3941"  where id = '10737'
5222 /lvl1/ Sales Manager Peripheral
=>>>>>>>>>>>>>>>>>>>>>> 5165 /lvl2/ Sales Manager Peripheral
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5222"  where id = '5165'
5478 /lvl1/ Senior Brand Development
=>>>>>>>>>>>>>>>>>>>>>> 4415 /lvl2/ Senior Brand Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5478"  where id = '4415'
1639 /lvl1/ Edtech Android Developer
=>>>>>>>>>>>>>>>>>>>>>> 9829 /lvl2/ EdTech Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EdTech Android Developer", title_clean   = "EdTech Android Developer", title_id  = "1639"  where id = '9829'
3688 /lvl1/ Marketing Event Promotor
=>>>>>>>>>>>>>>>>>>>>>> 12918 /lvl2/ Marketing Event Promotor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3688"  where id = '12918'
=>>>>>>>>>>>>>>>>>>>>>> 12937 /lvl2/ Marketing Event Promotor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3688"  where id = '12937'
6505 /lvl1/ Tax & Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 6558 /lvl2/ Tax & Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6505"  where id = '6558'
=>>>>>>>>>>>>>>>>>>>>>> 7730 /lvl2/ Tax & Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6505"  where id = '7730'
=>>>>>>>>>>>>>>>>>>>>>> 8038 /lvl2/ Tax & Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6505"  where id = '8038'
1130 /lvl1/ Corporate Dealer Partner
=>>>>>>>>>>>>>>>>>>>>>> 20300 /lvl2/ CORPORATE DEALER PARTNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE DEALER PARTNER", title_clean   = "CORPORATE DEALER PARTNER", title_id  = "1130"  where id = '20300'
5738 /lvl1/ Site & Quantity Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 7596 /lvl2/ SITE & QUANTITY SURVEYOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE & QUANTITY SURVEYOR", title_clean   = "SITE & QUANTITY SURVEYOR", title_id  = "5738"  where id = '7596'
365 /lvl1/ Android Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 5196 /lvl2/ Android Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "365"  where id = '5196'
2927 /lvl1/ It Infrastructure Intern
=>>>>>>>>>>>>>>>>>>>>>> 7871 /lvl2/ IT Infrastructure Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Intern", title_clean   = "IT Infrastructure Intern", title_id  = "2927"  where id = '7871'
=>>>>>>>>>>>>>>>>>>>>>> 8191 /lvl2/ IT Infrastructure Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Intern", title_clean   = "IT Infrastructure Intern", title_id  = "2927"  where id = '8191'
368 /lvl1/ Angular Support Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6021 /lvl2/ Angular Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "368"  where id = '6021'
2928 /lvl1/ It Infrastructure Junior
=>>>>>>>>>>>>>>>>>>>>>> 18496 /lvl2/ IT Infrastructure Junior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Junior", title_clean   = "IT Infrastructure Junior", title_id  = "2928"  where id = '18496'
5490 /lvl1/ Senior Consumer Research
=>>>>>>>>>>>>>>>>>>>>>> 2142 /lvl2/ Senior Consumer Research
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5490"  where id = '2142'
1139 /lvl1/ Corporate Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 477 /lvl2/ Corporate Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1139"  where id = '477'
2932 /lvl1/ It Infrastructure Senior
=>>>>>>>>>>>>>>>>>>>>>> 19690 /lvl2/ IT Infrastructure Senior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Senior", title_clean   = "IT Infrastructure Senior", title_id  = "2932"  where id = '19690'
3444 /lvl1/ Maintenance Group Leader
=>>>>>>>>>>>>>>>>>>>>>> 15021 /lvl2/ Maintenance Group Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3444"  where id = '15021'
3957 /lvl1/ Network Operation Center
=>>>>>>>>>>>>>>>>>>>>>> 8762 /lvl2/ Network Operation Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3957"  where id = '8762'
=>>>>>>>>>>>>>>>>>>>>>> 12078 /lvl2/ Network Operation Center (NOC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (NOC)", title_clean   = " (NOC)", title_id  = "3957"  where id = '12078'
5494 /lvl1/ Senior Corporate Analyst

=>>>>>>>>>>>>>>>>>>>>>> 5284 /lvl2/ Senior Corporate Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5494"  where id = '5284'
3703 /lvl1/ Marketing GArment / Kain
2170 /lvl1/ General Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 11872 /lvl2/ General Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2170"  where id = '11872'
2426 /lvl1/ Holiday Sales Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6274 /lvl2/ Holiday Sales Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2426"  where id = '6274'
4218 /lvl1/ People Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 655 /lvl2/ People Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4218"  where id = '655'
2683 /lvl1/ Incoming Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 18403 /lvl2/ Incoming Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2683"  where id = '18403'
3451 /lvl1/ Maintenance Section Head
=>>>>>>>>>>>>>>>>>>>>>> 1159 /lvl2/ Maintenance Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3451"  where id = '1159'
=>>>>>>>>>>>>>>>>>>>>>> 1830 /lvl2/ Maintenance Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3451"  where id = '1830'
=>>>>>>>>>>>>>>>>>>>>>> 16683 /lvl2/ Maintenance Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3451"  where id = '16683'
=>>>>>>>>>>>>>>>>>>>>>> 18789 /lvl2/ Maintenance Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3451"  where id = '18789'
=>>>>>>>>>>>>>>>>>>>>>> 18804 /lvl2/ Maintenance Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3451"  where id = '18804'
5755 /lvl1/ Site Project Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 7779 /lvl2/ SITE PROJECT COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE PROJECT COORDINATOR", title_clean   = "SITE PROJECT COORDINATOR", title_id  = "5755"  where id = '7779'
=>>>>>>>>>>>>>>>>>>>>>> 8094 /lvl2/ SITE PROJECT COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE PROJECT COORDINATOR", title_clean   = "SITE PROJECT COORDINATOR", title_id  = "5755"  where id = '8094'
4478 /lvl1/ Product Specialist Staff
=>>>>>>>>>>>>>>>>>>>>>> 12652 /lvl2/ Product Specialist Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4478"  where id = '12652'
=>>>>>>>>>>>>>>>>>>>>>> 12667 /lvl2/ Product Specialist Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4478"  where id = '12667'
3200 /lvl1/ Kepala Gudang & Logistik
=>>>>>>>>>>>>>>>>>>>>>> 15267 /lvl2/ Kepala Gudang & Logistik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3200"  where id = '15267'
5505 /lvl1/ Senior Database Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12239 /lvl2/ SENIOR Database Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR Database Engineer", title_clean   = "SENIOR Database Engineer", title_id  = "5505"  where id = '12239'
3202 /lvl1/ Kepala Gudang Untuk Agen
=>>>>>>>>>>>>>>>>>>>>>> 18968 /lvl2/ Kepala Gudang Untuk Agen
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3202"  where id = '18968'
4482 /lvl1/ Product Support Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8793 /lvl2/ Product Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4482"  where id = '8793'
3717 /lvl1/ Marketing Logistic Staff
=>>>>>>>>>>>>>>>>>>>>>> 12213 /lvl2/ Marketing Logistic Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3717"  where id = '12213'
4741 /lvl1/ Qc In Process Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12205 /lvl2/ QC in Process Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC in Process Supervisor", title_clean   = "QC in Process Supervisor", title_id  = "4741"  where id = '12205'
134 /lvl1/ Accounts & Tax Executive
=>>>>>>>>>>>>>>>>>>>>>> 19206 /lvl2/ Accounts & Tax Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "134"  where id = '19206'
1159 /lvl1/ Corporate Secretary Head
=>>>>>>>>>>>>>>>>>>>>>> 17204 /lvl2/ Corporate Secretary Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1159"  where id = '17204'
4744 /lvl1/ Qc Laboratory Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17237 /lvl2/ QC Laboratory Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Laboratory Supervisor", title_clean   = "QC Laboratory Supervisor", title_id  = "4744"  where id = '17237'
5512 /lvl1/ Senior Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 5587 /lvl2/ Senior Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5512"  where id = '5587'
5257 /lvl1/ Sales Network Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9968 /lvl2/ Sales Network Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5257"  where id = '9968'
6281 /lvl1/ Supervisor ERP Developer
1419 /lvl1/ Design Grafis Multimedia
=>>>>>>>>>>>>>>>>>>>>>> 14949 /lvl2/ Design Grafis Multimedia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1419"  where id = '14949'
2445 /lvl1/ House Keeping Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13959 /lvl2/ House keeping Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "House keeping Supervisor", title_clean   = "House keeping Supervisor", title_id  = "2445"  where id = '13959'
1425 /lvl1/ Design Marketing Promosi
=>>>>>>>>>>>>>>>>>>>>>> 10483 /lvl2/ Design Marketing Promosi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1425"  where id = '10483'
658 /lvl1/ Bo Transmission Engineer
=>>>>>>>>>>>>>>>>>>>>>> 359 /lvl2/ BO Transmission Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BO Transmission Engineer", title_clean   = "BO Transmission Engineer", title_id  = "658"  where id = '359'
=>>>>>>>>>>>>>>>>>>>>>> 408 /lvl2/ BO Transmission Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BO Transmission Engineer", title_clean   = "BO Transmission Engineer", title_id  = "658"  where id = '408'
1939 /lvl1/ Finance & General Affair
3219 /lvl1/ Kepala Teknik Mechanical
5524 /lvl1/ Senior Flutter Developer
=>>>>>>>>>>>>>>>>>>>>>> 10724 /lvl2/ SENIOR MOBILE DEVELOPER  /  SENIOR FLUTTER DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR MOBILE DEVELOPER  /  SENIOR FLUTTER DEVELOPER", title_clean   = "SENIOR MOBILE DEVELOPER  /  SENIOR FLUTTER DEVELOPER", title_id  = "5524"  where id = '10724'
1941 /lvl1/ Finance & Tax Accounting
=>>>>>>>>>>>>>>>>>>>>>> 11317 /lvl2/ Finance & Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1941"  where id = '11317'
6037 /lvl1/ Staff Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 194 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '194'
=>>>>>>>>>>>>>>>>>>>>>> 779 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '779'
=>>>>>>>>>>>>>>>>>>>>>> 6638 /lvl2/ STAFF FINANCE ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE ACCOUNTING", title_clean   = "STAFF FINANCE ACCOUNTING", title_id  = "6037"  where id = '6638'
=>>>>>>>>>>>>>>>>>>>>>> 10259 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '10259'
=>>>>>>>>>>>>>>>>>>>>>> 11158 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '11158'
=>>>>>>>>>>>>>>>>>>>>>> 13535 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '13535'
=>>>>>>>>>>>>>>>>>>>>>> 17650 /lvl2/ STAFF FINANCE ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE ACCOUNTING", title_clean   = "STAFF FINANCE ACCOUNTING", title_id  = "6037"  where id = '17650'
=>>>>>>>>>>>>>>>>>>>>>> 19109 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '19109'
=>>>>>>>>>>>>>>>>>>>>>> 19274 /lvl2/ STAFF FINANCE ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE ACCOUNTING", title_clean   = "STAFF FINANCE ACCOUNTING", title_id  = "6037"  where id = '19274'
=>>>>>>>>>>>>>>>>>>>>>> 20035 /lvl2/ Staff Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6037"  where id = '20035'
150 /lvl1/ Admin & Accounting Staff

=>>>>>>>>>>>>>>>>>>>>>> 16259 /lvl2/ Admin & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "150"  where id = '16259'
2710 /lvl1/ Infra Structure Engineer
=>>>>>>>>>>>>>>>>>>>>>> 974 /lvl2/ Infra Structure Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2710"  where id = '974'
6294 /lvl1/ Supervisor Gizi Katering
1943 /lvl1/ Finance & Tax Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18859 /lvl2/ FINANCE & TAX SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & TAX SUPERVISOR", title_clean   = "FINANCE & TAX SUPERVISOR", title_id  = "1943"  where id = '18859'
=>>>>>>>>>>>>>>>>>>>>>> 19788 /lvl2/ FINANCE & TAX SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & TAX SUPERVISOR", title_clean   = "FINANCE & TAX SUPERVISOR", title_id  = "1943"  where id = '19788'
2967 /lvl1/ It Programmer Mobile Web
=>>>>>>>>>>>>>>>>>>>>>> 7297 /lvl2/ IT Programmer Mobile Web
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Mobile Web", title_clean   = "IT Programmer Mobile Web", title_id  = "2967"  where id = '7297'
6040 /lvl1/ Staff Finance Acoounting
=>>>>>>>>>>>>>>>>>>>>>> 1 /lvl2/ Staff Finance Acoounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6040"  where id = '1'
=>>>>>>>>>>>>>>>>>>>>>> 14 /lvl2/ Staff Finance Acoounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6040"  where id = '14'
4249 /lvl1/ Personal Asisten Direksi
=>>>>>>>>>>>>>>>>>>>>>> 14377 /lvl2/ Personal Asisten Direksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4249"  where id = '14377'
922 /lvl1/ Chinese Mandarin Teacher
=>>>>>>>>>>>>>>>>>>>>>> 11577 /lvl2/ CHINESE MANDARIN TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHINESE MANDARIN TEACHER", title_clean   = "CHINESE MANDARIN TEACHER", title_id  = "922"  where id = '11577'
5020 /lvl1/ Robotic / Coding Teacher
=>>>>>>>>>>>>>>>>>>>>>> 2644 /lvl2/ Robotic / Coding Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5020"  where id = '2644'
3741 /lvl1/ Marketing Representative
=>>>>>>>>>>>>>>>>>>>>>> 4257 /lvl2/ Marketing Representative Area Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Jakarta", title_clean   = " Area Jakarta", title_id  = "3741"  where id = '4257'
=>>>>>>>>>>>>>>>>>>>>>> 5560 /lvl2/ Marketing Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3741"  where id = '5560'
=>>>>>>>>>>>>>>>>>>>>>> 17725 /lvl2/ Marketing Representative Area Jawa Tengah dan Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Jawa Tengah dan Yogyakarta", title_clean   = " Area Jawa Tengah dan Yogyakarta", title_id  = "3741"  where id = '17725'
159 /lvl1/ Admin Account Receivable
=>>>>>>>>>>>>>>>>>>>>>> 7359 /lvl2/ Admin Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "159"  where id = '7359'
5535 /lvl1/ Senior Human Resourcesbp
=>>>>>>>>>>>>>>>>>>>>>> 20144 /lvl2/ Senior Human ResourcesBP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Human ResourcesBP", title_clean   = "Senior Human ResourcesBP", title_id  = "5535"  where id = '20144'
5280 /lvl1/ Sales Project Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2337 /lvl2/ Sales Project Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5280"  where id = '2337'
=>>>>>>>>>>>>>>>>>>>>>> 4220 /lvl2/ Sales Project Supervisor (Eleganza)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Eleganza)", title_clean   = " (Eleganza)", title_id  = "5280"  where id = '4220'
930 /lvl1/ Civil Engineer & Geotech
5538 /lvl1/ Senior Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 20484 /lvl2/ Senior Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Human ResourcesGA", title_clean   = "Senior Human ResourcesGA", title_id  = "5538"  where id = '20484'
6051 /lvl1/ Staff Human Resources&GA
=>>>>>>>>>>>>>>>>>>>>>> 16429 /lvl2/ Staff Human Resources&GA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6051"  where id = '16429'
1956 /lvl1/ Finance Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 8 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '8'
=>>>>>>>>>>>>>>>>>>>>>> 21 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '21'
=>>>>>>>>>>>>>>>>>>>>>> 70 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '70'
=>>>>>>>>>>>>>>>>>>>>>> 162 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '162'
=>>>>>>>>>>>>>>>>>>>>>> 286 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '286'
=>>>>>>>>>>>>>>>>>>>>>> 3744 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '3744'
=>>>>>>>>>>>>>>>>>>>>>> 10906 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '10906'
=>>>>>>>>>>>>>>>>>>>>>> 11296 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '11296'
=>>>>>>>>>>>>>>>>>>>>>> 12711 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '12711'
=>>>>>>>>>>>>>>>>>>>>>> 13976 /lvl2/ FINANCE ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING STAFF", title_clean   = "FINANCE ACCOUNTING STAFF", title_id  = "1956"  where id = '13976'
=>>>>>>>>>>>>>>>>>>>>>> 14286 /lvl2/ FINANCE ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING STAFF", title_clean   = "FINANCE ACCOUNTING STAFF", title_id  = "1956"  where id = '14286'
=>>>>>>>>>>>>>>>>>>>>>> 14778 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '14778'
=>>>>>>>>>>>>>>>>>>>>>> 17562 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '17562'
=>>>>>>>>>>>>>>>>>>>>>> 17740 /lvl2/ FINANCE ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING STAFF", title_clean   = "FINANCE ACCOUNTING STAFF", title_id  = "1956"  where id = '17740'
=>>>>>>>>>>>>>>>>>>>>>> 18151 /lvl2/ Finance Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1956"  where id = '18151'
=>>>>>>>>>>>>>>>>>>>>>> 19170 /lvl2/ FINANCE ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING STAFF", title_clean   = "FINANCE ACCOUNTING STAFF", title_id  = "1956"  where id = '19170'
1701 /lvl1/ Engineering & Qc Manager
=>>>>>>>>>>>>>>>>>>>>>> 7864 /lvl2/ Engineering & QC Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Engineering & QC Manager", title_clean   = "Engineering & QC Manager", title_id  = "1701"  where id = '7864'
=>>>>>>>>>>>>>>>>>>>>>> 8177 /lvl2/ Engineering & QC Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Engineering & QC Manager", title_clean   = "Engineering & QC Manager", title_id  = "1701"  where id = '8177'
2981 /lvl1/ It Quality Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 16442 /lvl2/ IT QUALITY CONTROL STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT QUALITY CONTROL STAFF", title_clean   = "IT QUALITY CONTROL STAFF", title_id  = "2981"  where id = '16442'
6565 /lvl1/ Technic Field Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11383 /lvl2/ Technic Field Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6565"  where id = '11383'
2727 /lvl1/ Instruktur Bahasa Jepang
=>>>>>>>>>>>>>>>>>>>>>> 5037 /lvl2/ INSTRUKTUR BAHASA JEPANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INSTRUKTUR BAHASA JEPANG", title_clean   = "INSTRUKTUR BAHASA JEPANG", title_id  = "2727"  where id = '5037'
2988 /lvl1/ It Security Analyst Lead

=>>>>>>>>>>>>>>>>>>>>>> 4138 /lvl2/ IT Security Analyst Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Analyst Lead", title_clean   = "IT Security Analyst Lead", title_id  = "2988"  where id = '4138'
4012 /lvl1/ Online Jewellery Advisor
=>>>>>>>>>>>>>>>>>>>>>> 6292 /lvl2/ Online Jewellery Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4012"  where id = '6292'
6830 /lvl1/ Treasury Department Head
=>>>>>>>>>>>>>>>>>>>>>> 16250 /lvl2/ TREASURY DEPARTMENT HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TREASURY DEPARTMENT HEAD", title_clean   = "TREASURY DEPARTMENT HEAD", title_id  = "6830"  where id = '16250'
4015 /lvl1/ Online Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 4828 /lvl2/ Online Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4015"  where id = '4828'
1200 /lvl1/ Creative Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 1162 /lvl2/ Creative Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1200"  where id = '1162'
=>>>>>>>>>>>>>>>>>>>>>> 4173 /lvl2/ Creative Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1200"  where id = '4173'
=>>>>>>>>>>>>>>>>>>>>>> 8672 /lvl2/ Creative Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1200"  where id = '8672'
=>>>>>>>>>>>>>>>>>>>>>> 17344 /lvl2/ Creative Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1200"  where id = '17344'
=>>>>>>>>>>>>>>>>>>>>>> 17362 /lvl2/ Creative Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1200"  where id = '17362'
4016 /lvl1/ Online Marketplace Staff
=>>>>>>>>>>>>>>>>>>>>>> 1493 /lvl2/ Online Marketplace Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4016"  where id = '1493'
433 /lvl1/ Asisten Manager Produksi
=>>>>>>>>>>>>>>>>>>>>>> 5884 /lvl2/ ASISTEN MANAGER PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN MANAGER PRODUKSI", title_clean   = "ASISTEN MANAGER PRODUKSI", title_id  = "433"  where id = '5884'
1201 /lvl1/ Creative Content Manager
=>>>>>>>>>>>>>>>>>>>>>> 10798 /lvl2/ Creative Content Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1201"  where id = '10798'
5810 /lvl1/ Software Partner Manager
=>>>>>>>>>>>>>>>>>>>>>> 11411 /lvl2/ Software Partner Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5810"  where id = '11411'
6834 /lvl1/ Tukang / Ahli Perkebunan
5811 /lvl1/ Software Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 10160 /lvl2/ Software Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5811"  where id = '10160'
=>>>>>>>>>>>>>>>>>>>>>> 11903 /lvl2/ Software Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5811"  where id = '11903'
948 /lvl1/ Client Relations Officer
4276 /lvl1/ Photographer / Cameraman
5812 /lvl1/ Software Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 12848 /lvl2/ Software Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5812"  where id = '12848'
3253 /lvl1/ Komandan / Leader Outlet
=>>>>>>>>>>>>>>>>>>>>>> 6293 /lvl2/ Komandan / Leader Outlet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3253"  where id = '6293'
950 /lvl1/ Client Relations Manager
=>>>>>>>>>>>>>>>>>>>>>> 2318 /lvl2/ Client Relations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "950"  where id = '2318'
183 /lvl1/ Admin Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 4512 /lvl2/ Admin Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "183"  where id = '4512'
4791 /lvl1/ Quality Control Outgoing
=>>>>>>>>>>>>>>>>>>>>>> 17784 /lvl2/ Quality Control Outgoing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4791"  where id = '17784'
3001 /lvl1/ It Service Administrator
=>>>>>>>>>>>>>>>>>>>>>> 12495 /lvl2/ IT Service Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Service Administrator", title_clean   = "IT Service Administrator", title_id  = "3001"  where id = '12495'
1978 /lvl1/ Finance Business Partner
=>>>>>>>>>>>>>>>>>>>>>> 20563 /lvl2/ Finance Business Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1978"  where id = '20563'
4539 /lvl1/ Project Admin Apprentice
=>>>>>>>>>>>>>>>>>>>>>> 16618 /lvl2/ Project Admin Apprentice
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4539"  where id = '16618'
=>>>>>>>>>>>>>>>>>>>>>> 16632 /lvl2/ Project Admin Apprentice
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4539"  where id = '16632'
5308 /lvl1/ Sales Supervisor Gt & Mt
=>>>>>>>>>>>>>>>>>>>>>> 2729 /lvl2/ Sales Supervisor GT & MT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Supervisor GT & MT", title_clean   = "Sales Supervisor GT & MT", title_id  = "5308"  where id = '2729'
957 /lvl1/ Clinical Trial Assistant
=>>>>>>>>>>>>>>>>>>>>>> 9614 /lvl2/ Clinical Trial Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "957"  where id = '9614'
4541 /lvl1/ Project Admin Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17878 /lvl2/ Project Admin Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4541"  where id = '17878'
1983 /lvl1/ Finance Controller Staff
=>>>>>>>>>>>>>>>>>>>>>> 11905 /lvl2/ Finance Controller Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1983"  where id = '11905'
6591 /lvl1/ Technical Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7619 /lvl2/ Technical Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6591"  where id = '7619'
=>>>>>>>>>>>>>>>>>>>>>> 9090 /lvl2/ Technical Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6591"  where id = '9090'
3522 /lvl1/ Manager Marketing Online
=>>>>>>>>>>>>>>>>>>>>>> 3853 /lvl2/ Manager Marketing Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3522"  where id = '3853'
196 /lvl1/ Admin Internal Marketing
=>>>>>>>>>>>>>>>>>>>>>> 18632 /lvl2/ ADMIN INTERNAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN INTERNAL MARKETING", title_clean   = "ADMIN INTERNAL MARKETING", title_id  = "196"  where id = '18632'
=>>>>>>>>>>>>>>>>>>>>>> 19562 /lvl2/ ADMIN INTERNAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN INTERNAL MARKETING", title_clean   = "ADMIN INTERNAL MARKETING", title_id  = "196"  where id = '19562'
1732 /lvl1/ Enterprise Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 3417 /lvl2/ Enterprise Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1732"  where id = '3417'
5572 /lvl1/ Senior Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 664 /lvl2/ Senior Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5572"  where id = '664'
=>>>>>>>>>>>>>>>>>>>>>> 2942 /lvl2/ Senior Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5572"  where id = '2942'
=>>>>>>>>>>>>>>>>>>>>>> 13263 /lvl2/ Senior Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5572"  where id = '13263'
=>>>>>>>>>>>>>>>>>>>>>> 13447 /lvl2/ Senior Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5572"  where id = '13447'
453 /lvl1/ Assembly Shop Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3090 /lvl2/ Assembly Shop Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "453"  where id = '3090'
709 /lvl1/ Budgeting & Cost Control
=>>>>>>>>>>>>>>>>>>>>>> 19059 /lvl2/ Budgeting & Cost Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "709"  where id = '19059'
=>>>>>>>>>>>>>>>>>>>>>> 19081 /lvl2/ Budgeting & Cost Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "709"  where id = '19081'
5573 /lvl1/ Senior Marketing Officer

=>>>>>>>>>>>>>>>>>>>>>> 4735 /lvl2/ Senior Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5573"  where id = '4735'
1734 /lvl1/ Entrepreneurship Teacher
=>>>>>>>>>>>>>>>>>>>>>> 2090 /lvl2/ Entrepreneurship Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1734"  where id = '2090'
5574 /lvl1/ Senior Marketing Syariah
=>>>>>>>>>>>>>>>>>>>>>> 2895 /lvl2/ Senior Marketing Syariah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5574"  where id = '2895'
3272 /lvl1/ Koordinator Personel Bko
=>>>>>>>>>>>>>>>>>>>>>> 1182 /lvl2/ Koordinator personel BKO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator personel BKO", title_clean   = "Koordinator personel BKO", title_id  = "3272"  where id = '1182'
4297 /lvl1/ Pio Instalation Operator
=>>>>>>>>>>>>>>>>>>>>>> 10089 /lvl2/ PIO Instalation Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PIO Instalation Operator", title_clean   = "PIO Instalation Operator", title_id  = "4297"  where id = '10089'
6857 /lvl1/ Universal Banker Service
=>>>>>>>>>>>>>>>>>>>>>> 13112 /lvl2/ Universal Banker Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6857"  where id = '13112'
5066 /lvl1/ Sales & Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1175 /lvl2/ SALES & SALES SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & SALES SUPERVISOR", title_clean   = "SALES & SALES SUPERVISOR", title_id  = "5066"  where id = '1175'
1739 /lvl1/ Environment Section Head
=>>>>>>>>>>>>>>>>>>>>>> 13167 /lvl2/ Environment Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1739"  where id = '13167'
5067 /lvl1/ Sales & Showroom Manager
=>>>>>>>>>>>>>>>>>>>>>> 11797 /lvl2/ Sales & Showroom Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5067"  where id = '11797'
6603 /lvl1/ Technical Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 927 /lvl2/ TECHNICAL SUPERINTENDENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPERINTENDENT", title_clean   = "TECHNICAL SUPERINTENDENT", title_id  = "6603"  where id = '927'
=>>>>>>>>>>>>>>>>>>>>>> 12926 /lvl2/ Technical Superintendent (Shipping)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Shipping)", title_clean   = " (Shipping)", title_id  = "6603"  where id = '12926'
=>>>>>>>>>>>>>>>>>>>>>> 18087 /lvl2/ Technical Superintendent (MV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MV)", title_clean   = " (MV)", title_id  = "6603"  where id = '18087'
973 /lvl1/ Co Packer Representative
=>>>>>>>>>>>>>>>>>>>>>> 17329 /lvl2/ Co Packer Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "973"  where id = '17329'
1229 /lvl1/ Credit Marketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 613 /lvl2/ Credit Marketing Officer (CMO) Cilegon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Cilegon", title_clean   = " (CMO) Cilegon", title_id  = "1229"  where id = '613'
=>>>>>>>>>>>>>>>>>>>>>> 680 /lvl2/ CMO Car (Credit Marketing Officer) Area Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CMO Car (-idex-) Area Palembang", title_clean   = "CMO Car () Area Palembang", title_id  = "1229"  where id = '680'
=>>>>>>>>>>>>>>>>>>>>>> 1166 /lvl2/ Credit Marketing Officer (CMO) Malang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Malang", title_clean   = " (CMO) Malang", title_id  = "1229"  where id = '1166'
=>>>>>>>>>>>>>>>>>>>>>> 1348 /lvl2/ Credit Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1229"  where id = '1348'
=>>>>>>>>>>>>>>>>>>>>>> 1633 /lvl2/ Credit Marketing Officer (CMO) Cibubur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Cibubur", title_clean   = " (CMO) Cibubur", title_id  = "1229"  where id = '1633'
=>>>>>>>>>>>>>>>>>>>>>> 1768 /lvl2/ Fleet Credit Marketing Officer - Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fleet -idex- - Lampung", title_clean   = "Fleet  - Lampung", title_id  = "1229"  where id = '1768'
=>>>>>>>>>>>>>>>>>>>>>> 2016 /lvl2/ Credit Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1229"  where id = '2016'
=>>>>>>>>>>>>>>>>>>>>>> 2263 /lvl2/ Credit Marketing Officer (CMO) Cibubur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Cibubur", title_clean   = " (CMO) Cibubur", title_id  = "1229"  where id = '2263'
=>>>>>>>>>>>>>>>>>>>>>> 2746 /lvl2/ CMO Car (Credit Marketing Officer) Area Denpasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CMO Car (-idex-) Area Denpasar", title_clean   = "CMO Car () Area Denpasar", title_id  = "1229"  where id = '2746'
=>>>>>>>>>>>>>>>>>>>>>> 3275 /lvl2/ Credit Marketing Officer - Karawang & Purwakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawang & Purwakarta", title_clean   = " - Karawang & Purwakarta", title_id  = "1229"  where id = '3275'
=>>>>>>>>>>>>>>>>>>>>>> 3568 /lvl2/ Credit Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1229"  where id = '3568'
=>>>>>>>>>>>>>>>>>>>>>> 4308 /lvl2/ Credit Marketing Officer - Bandung & Cimahi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bandung & Cimahi", title_clean   = " - Bandung & Cimahi", title_id  = "1229"  where id = '4308'
=>>>>>>>>>>>>>>>>>>>>>> 4876 /lvl2/ Credit Marketing Officer (CMO) Sobat dan Carfin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Sobat dan Carfin", title_clean   = " (CMO) Sobat dan Carfin", title_id  = "1229"  where id = '4876'
=>>>>>>>>>>>>>>>>>>>>>> 5035 /lvl2/ Credit Marketing Officer (CMO) Jambi, Lampung dan Metro Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Jambi, Lampung dan Metro Lampung", title_clean   = " (CMO) Jambi, Lampung dan Metro Lampung", title_id  = "1229"  where id = '5035'
=>>>>>>>>>>>>>>>>>>>>>> 5381 /lvl2/ Credit Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1229"  where id = '5381'
=>>>>>>>>>>>>>>>>>>>>>> 5620 /lvl2/ CREDIT MARKETING OFFICER (SULAWESI BARAT - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (SULAWESI BARAT - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (SULAWESI BARAT - URGENT)", title_id  = "1229"  where id = '5620'
=>>>>>>>>>>>>>>>>>>>>>> 6375 /lvl2/ CREDIT MARKETING OFFICER (KALIMANTAN TIMUR - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (KALIMANTAN TIMUR - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (KALIMANTAN TIMUR - URGENT)", title_id  = "1229"  where id = '6375'
=>>>>>>>>>>>>>>>>>>>>>> 6657 /lvl2/ CREDIT MARKETING OFFICER (KALIMANTAN SELATAN - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (KALIMANTAN SELATAN - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (KALIMANTAN SELATAN - URGENT)", title_id  = "1229"  where id = '6657'
=>>>>>>>>>>>>>>>>>>>>>> 6950 /lvl2/ CREDIT MARKETING OFFICER (KALIMANTAN TENGAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (KALIMANTAN TENGAH)", title_clean   = "CREDIT MARKETING OFFICER (KALIMANTAN TENGAH)", title_id  = "1229"  where id = '6950'
=>>>>>>>>>>>>>>>>>>>>>> 8718 /lvl2/ CREDIT MARKETING OFFICER MOBIL - CILEGON
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - CILEGON", title_clean   = "CREDIT MARKETING OFFICER MOBIL - CILEGON", title_id  = "1229"  where id = '8718'
=>>>>>>>>>>>>>>>>>>>>>> 8909 /lvl2/ Credit Marketing Officer - Bandar Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bandar Lampung", title_clean   = " - Bandar Lampung", title_id  = "1229"  where id = '8909'
=>>>>>>>>>>>>>>>>>>>>>> 8961 /lvl2/ Credit Marketing Officer - Manado
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Manado", title_clean   = " - Manado", title_id  = "1229"  where id = '8961'
=>>>>>>>>>>>>>>>>>>>>>> 9000 /lvl2/ Credit Marketing Officer - Pangkal Pinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pangkal Pinang", title_clean   = " - Pangkal Pinang", title_id  = "1229"  where id = '9000'
=>>>>>>>>>>>>>>>>>>>>>> 9025 /lvl2/ Credit Marketing Officer - Bengkulu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bengkulu", title_clean   = " - Bengkulu", title_id  = "1229"  where id = '9025'
=>>>>>>>>>>>>>>>>>>>>>> 9030 /lvl2/ Credit Marketing Officer - Padang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Padang", title_clean   = " - Padang", title_id  = "1229"  where id = '9030'
=>>>>>>>>>>>>>>>>>>>>>> 9041 /lvl2/ Credit Marketing Officer - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Medan", title_clean   = " - Medan", title_id  = "1229"  where id = '9041'
=>>>>>>>>>>>>>>>>>>>>>> 9062 /lvl2/ Credit Marketing Officer - Gorontalo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Gorontalo", title_clean   = " - Gorontalo", title_id  = "1229"  where id = '9062'
=>>>>>>>>>>>>>>>>>>>>>> 9070 /lvl2/ Credit Marketing Officer - Jambi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jambi", title_clean   = " - Jambi", title_id  = "1229"  where id = '9070'
=>>>>>>>>>>>>>>>>>>>>>> 9085 /lvl2/ Credit Marketing Officer - Kupang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kupang", title_clean   = " - Kupang", title_id  = "1229"  where id = '9085'
=>>>>>>>>>>>>>>>>>>>>>> 9099 /lvl2/ Credit Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1229"  where id = '9099'
=>>>>>>>>>>>>>>>>>>>>>> 9133 /lvl2/ Credit Marketing Officer - Kedoya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kedoya", title_clean   = " - Kedoya", title_id  = "1229"  where id = '9133'
=>>>>>>>>>>>>>>>>>>>>>> 9189 /lvl2/ Credit Marketing Officer - Palu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palu", title_clean   = " - Palu", title_id  = "1229"  where id = '9189'
=>>>>>>>>>>>>>>>>>>>>>> 9191 /lvl2/ CREDIT MARKETING OFFICER MOBIL - BENGKULU
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - BENGKULU", title_clean   = "CREDIT MARKETING OFFICER MOBIL - BENGKULU", title_id  = "1229"  where id = '9191'
=>>>>>>>>>>>>>>>>>>>>>> 9232 /lvl2/ Credit Marketing Officer - Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palembang", title_clean   = " - Palembang", title_id  = "1229"  where id = '9232'
=>>>>>>>>>>>>>>>>>>>>>> 9239 /lvl2/ Credit Marketing Officer (CMO) Sobat dan Carfin Kediri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Sobat dan Carfin Kediri", title_clean   = " (CMO) Sobat dan Carfin Kediri", title_id  = "1229"  where id = '9239'
=>>>>>>>>>>>>>>>>>>>>>> 9261 /lvl2/ Credit Marketing Officer - Mataram
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Mataram", title_clean   = " - Mataram", title_id  = "1229"  where id = '9261'
=>>>>>>>>>>>>>>>>>>>>>> 9421 /lvl2/ Credit Marketing Officer - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Makassar", title_clean   = " - Makassar", title_id  = "1229"  where id = '9421'
=>>>>>>>>>>>>>>>>>>>>>> 9509 /lvl2/ Credit Marketing Officer - Barabai
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Barabai", title_clean   = " - Barabai", title_id  = "1229"  where id = '9509'
=>>>>>>>>>>>>>>>>>>>>>> 9561 /lvl2/ CREDIT MARKETING OFFICER MOBIL - BATAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - BATAM", title_clean   = "CREDIT MARKETING OFFICER MOBIL - BATAM", title_id  = "1229"  where id = '9561'
=>>>>>>>>>>>>>>>>>>>>>> 9580 /lvl2/ Credit Marketing Officer - Denpasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Denpasar", title_clean   = " - Denpasar", title_id  = "1229"  where id = '9580'
=>>>>>>>>>>>>>>>>>>>>>> 9594 /lvl2/ CREDIT MARKETING OFFICER MOBIL - JAMBI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - JAMBI", title_clean   = "CREDIT MARKETING OFFICER MOBIL - JAMBI", title_id  = "1229"  where id = '9594'
=>>>>>>>>>>>>>>>>>>>>>> 9660 /lvl2/ Credit Marketing Officer - Ternate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Ternate", title_clean   = " - Ternate", title_id  = "1229"  where id = '9660'
=>>>>>>>>>>>>>>>>>>>>>> 9677 /lvl2/ Credit Marketing Officer - Pare Pare
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pare Pare", title_clean   = " - Pare Pare", title_id  = "1229"  where id = '9677'
=>>>>>>>>>>>>>>>>>>>>>> 9682 /lvl2/ CREDIT MARKETING OFFICER MOBIL - LAMPUNG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - LAMPUNG", title_clean   = "CREDIT MARKETING OFFICER MOBIL - LAMPUNG", title_id  = "1229"  where id = '9682'
=>>>>>>>>>>>>>>>>>>>>>> 9726 /lvl2/ CREDIT MARKETING OFFICER MOBIL - BANJARMASIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - BANJARMASIN", title_clean   = "CREDIT MARKETING OFFICER MOBIL - BANJARMASIN", title_id  = "1229"  where id = '9726'
=>>>>>>>>>>>>>>>>>>>>>> 9744 /lvl2/ CREDIT MARKETING OFFICER MOBIL - PONTIANAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - PONTIANAK", title_clean   = "CREDIT MARKETING OFFICER MOBIL - PONTIANAK", title_id  = "1229"  where id = '9744'
=>>>>>>>>>>>>>>>>>>>>>> 9771 /lvl2/ CREDIT MARKETING OFFICER MOBIL - DENPASAR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - DENPASAR", title_clean   = "CREDIT MARKETING OFFICER MOBIL - DENPASAR", title_id  = "1229"  where id = '9771'
=>>>>>>>>>>>>>>>>>>>>>> 9792 /lvl2/ CREDIT MARKETING OFFICER MOBIL - SAMARINDA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - SAMARINDA", title_clean   = "CREDIT MARKETING OFFICER MOBIL - SAMARINDA", title_id  = "1229"  where id = '9792'
=>>>>>>>>>>>>>>>>>>>>>> 9899 /lvl2/ Credit Marketing Officer - Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Samarinda", title_clean   = " - Samarinda", title_id  = "1229"  where id = '9899'
=>>>>>>>>>>>>>>>>>>>>>> 9910 /lvl2/ Credit Marketing Officer - Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Banjarmasin", title_clean   = " - Banjarmasin", title_id  = "1229"  where id = '9910'
=>>>>>>>>>>>>>>>>>>>>>> 9920 /lvl2/ Credit Marketing Officer - Pekanbaru
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pekanbaru", title_clean   = " - Pekanbaru", title_id  = "1229"  where id = '9920'
=>>>>>>>>>>>>>>>>>>>>>> 9937 /lvl2/ Credit Marketing Officer - Kendari
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kendari", title_clean   = " - Kendari", title_id  = "1229"  where id = '9937'
=>>>>>>>>>>>>>>>>>>>>>> 9992 /lvl2/ Credit Marketing Officer - Sumedang & Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sumedang & Cirebon", title_clean   = " - Sumedang & Cirebon", title_id  = "1229"  where id = '9992'
=>>>>>>>>>>>>>>>>>>>>>> 10005 /lvl2/ Credit Marketing Officer - Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pontianak", title_clean   = " - Pontianak", title_id  = "1229"  where id = '10005'
=>>>>>>>>>>>>>>>>>>>>>> 10024 /lvl2/ Credit Marketing Officer - Sunter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sunter", title_clean   = " - Sunter", title_id  = "1229"  where id = '10024'
=>>>>>>>>>>>>>>>>>>>>>> 10050 /lvl2/ Credit Marketing Officer - Palangkaraya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palangkaraya", title_clean   = " - Palangkaraya", title_id  = "1229"  where id = '10050'
=>>>>>>>>>>>>>>>>>>>>>> 10166 /lvl2/ CREDIT MARKETING OFFICER MOBIL - PALEMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - PALEMBANG", title_clean   = "CREDIT MARKETING OFFICER MOBIL - PALEMBANG", title_id  = "1229"  where id = '10166'
=>>>>>>>>>>>>>>>>>>>>>> 10169 /lvl2/ Credit Marketing Officer (CMO) Bekasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Bekasi", title_clean   = " (CMO) Bekasi", title_id  = "1229"  where id = '10169'
=>>>>>>>>>>>>>>>>>>>>>> 10172 /lvl2/ CREDIT MARKETING OFFICER MOBIL - BALIKPAPAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - BALIKPAPAN", title_clean   = "CREDIT MARKETING OFFICER MOBIL - BALIKPAPAN", title_id  = "1229"  where id = '10172'
=>>>>>>>>>>>>>>>>>>>>>> 10182 /lvl2/ Credit Marketing Officer - Sampit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sampit", title_clean   = " - Sampit", title_id  = "1229"  where id = '10182'
=>>>>>>>>>>>>>>>>>>>>>> 10209 /lvl2/ CREDIT MARKETING OFFICER MOBIL - PEKANBARU
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - PEKANBARU", title_clean   = "CREDIT MARKETING OFFICER MOBIL - PEKANBARU", title_id  = "1229"  where id = '10209'
=>>>>>>>>>>>>>>>>>>>>>> 10230 /lvl2/ Credit Marketing Officer - Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tangerang", title_clean   = " - Tangerang", title_id  = "1229"  where id = '10230'
=>>>>>>>>>>>>>>>>>>>>>> 10234 /lvl2/ CREDIT MARKETING OFFICER MOBIL - KARAWANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - KARAWANG", title_clean   = "CREDIT MARKETING OFFICER MOBIL - KARAWANG", title_id  = "1229"  where id = '10234'
=>>>>>>>>>>>>>>>>>>>>>> 10239 /lvl2/ Credit Marketing Officer - Serang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Serang", title_clean   = " - Serang", title_id  = "1229"  where id = '10239'
=>>>>>>>>>>>>>>>>>>>>>> 10255 /lvl2/ Credit Marketing Officer (CMO) Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Samarinda", title_clean   = " (CMO) Samarinda", title_id  = "1229"  where id = '10255'
=>>>>>>>>>>>>>>>>>>>>>> 10278 /lvl2/ CREDIT MARKETING OFFICER MOBIL - KEDIRI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - KEDIRI", title_clean   = "CREDIT MARKETING OFFICER MOBIL - KEDIRI", title_id  = "1229"  where id = '10278'
=>>>>>>>>>>>>>>>>>>>>>> 10280 /lvl2/ Credit Marketing Officer - Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Batam", title_clean   = " - Batam", title_id  = "1229"  where id = '10280'
=>>>>>>>>>>>>>>>>>>>>>> 10335 /lvl2/ Credit Marketing Officer - Depok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Depok", title_clean   = " - Depok", title_id  = "1229"  where id = '10335'
=>>>>>>>>>>>>>>>>>>>>>> 10365 /lvl2/ Credit Marketing Officer - Depok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Depok", title_clean   = " - Depok", title_id  = "1229"  where id = '10365'
=>>>>>>>>>>>>>>>>>>>>>> 10377 /lvl2/ CREDIT MARKETING OFFICER MOBIL - SUKABUMI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - SUKABUMI", title_clean   = "CREDIT MARKETING OFFICER MOBIL - SUKABUMI", title_id  = "1229"  where id = '10377'
=>>>>>>>>>>>>>>>>>>>>>> 10389 /lvl2/ CREDIT MARKETING OFFICER MOBIL - CIREBON
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - CIREBON", title_clean   = "CREDIT MARKETING OFFICER MOBIL - CIREBON", title_id  = "1229"  where id = '10389'
=>>>>>>>>>>>>>>>>>>>>>> 10424 /lvl2/ CREDIT MARKETING OFFICER MOBIL - MALANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - MALANG", title_clean   = "CREDIT MARKETING OFFICER MOBIL - MALANG", title_id  = "1229"  where id = '10424'
=>>>>>>>>>>>>>>>>>>>>>> 10494 /lvl2/ Credit Marketing Officer - Kediri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kediri", title_clean   = " - Kediri", title_id  = "1229"  where id = '10494'
=>>>>>>>>>>>>>>>>>>>>>> 10497 /lvl2/ Credit Marketing Officer - Gresik

=>>>>>>>>>>>>>>>>>>>>>> 11264 /lvl2/ CREDIT MARKETING OFFICER MOBIL - SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - SURABAYA", title_clean   = "CREDIT MARKETING OFFICER MOBIL - SURABAYA", title_id  = "1229"  where id = '11264'
=>>>>>>>>>>>>>>>>>>>>>> 11267 /lvl2/ CREDIT MARKETING OFFICER MOBIL - BANDUNG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER MOBIL - BANDUNG", title_clean   = "CREDIT MARKETING OFFICER MOBIL - BANDUNG", title_id  = "1229"  where id = '11267'
=>>>>>>>>>>>>>>>>>>>>>> 11312 /lvl2/ Credit Marketing Officer Mobil (KMOB) Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mobil (KMOB) Pontianak", title_clean   = " Mobil (KMOB) Pontianak", title_id  = "1229"  where id = '11312'
=>>>>>>>>>>>>>>>>>>>>>> 13936 /lvl2/ Credit Marketing Officer (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "1229"  where id = '13936'
=>>>>>>>>>>>>>>>>>>>>>> 14721 /lvl2/ Credit Marketing Officer (CMO) Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Surabaya", title_clean   = " (CMO) Surabaya", title_id  = "1229"  where id = '14721'
=>>>>>>>>>>>>>>>>>>>>>> 15571 /lvl2/ Credit Marketing Officer (CMO-Used Car Only)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO-Used Car Only)", title_clean   = " (CMO-Used Car Only)", title_id  = "1229"  where id = '15571'
=>>>>>>>>>>>>>>>>>>>>>> 15689 /lvl2/ Credit Marketing Officer (Wilayah Cirebon & Bogor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Wilayah Cirebon & Bogor)", title_clean   = " (Wilayah Cirebon & Bogor)", title_id  = "1229"  where id = '15689'
=>>>>>>>>>>>>>>>>>>>>>> 16002 /lvl2/ CREDIT MARKETING OFFICER (CMO) MOBIL - MOTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (CMO) MOBIL - MOTOR", title_clean   = "CREDIT MARKETING OFFICER (CMO) MOBIL - MOTOR", title_id  = "1229"  where id = '16002'
=>>>>>>>>>>>>>>>>>>>>>> 16039 /lvl2/ Credit Marketing Officer (CMO) Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Tangerang", title_clean   = " (CMO) Tangerang", title_id  = "1229"  where id = '16039'
=>>>>>>>>>>>>>>>>>>>>>> 16060 /lvl2/ Credit Marketing Officer (CMO) Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Tangerang", title_clean   = " (CMO) Tangerang", title_id  = "1229"  where id = '16060'
=>>>>>>>>>>>>>>>>>>>>>> 16242 /lvl2/ Credit Marketing Officer Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "1229"  where id = '16242'
=>>>>>>>>>>>>>>>>>>>>>> 16257 /lvl2/ Credit Marketing Officer Karawang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Karawang", title_clean   = " Karawang", title_id  = "1229"  where id = '16257'
=>>>>>>>>>>>>>>>>>>>>>> 16384 /lvl2/ Credit Marketing Officer (Motor) - DKI Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Motor) - DKI Jakarta", title_clean   = " (Motor) - DKI Jakarta", title_id  = "1229"  where id = '16384'
=>>>>>>>>>>>>>>>>>>>>>> 16401 /lvl2/ Credit Marketing Officer (Motor) - DKI Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Motor) - DKI Jakarta", title_clean   = " (Motor) - DKI Jakarta", title_id  = "1229"  where id = '16401'
=>>>>>>>>>>>>>>>>>>>>>> 18986 /lvl2/ Credit Marketing Officer (CMO) Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Tangerang", title_clean   = " (CMO) Tangerang", title_id  = "1229"  where id = '18986'
=>>>>>>>>>>>>>>>>>>>>>> 19150 /lvl2/ Credit Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1229"  where id = '19150'
=>>>>>>>>>>>>>>>>>>>>>> 19306 /lvl2/ Credit Marketing Officer (CMO) Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Jakarta", title_clean   = " (CMO) Jakarta", title_id  = "1229"  where id = '19306'
=>>>>>>>>>>>>>>>>>>>>>> 19379 /lvl2/ CREDIT MARKETING OFFICER (AREA LAMPUNG - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (AREA LAMPUNG - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (AREA LAMPUNG - URGENT)", title_id  = "1229"  where id = '19379'
=>>>>>>>>>>>>>>>>>>>>>> 19553 /lvl2/ CREDIT MARKETING OFFICER (AREA ACEH - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (AREA ACEH - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (AREA ACEH - URGENT)", title_id  = "1229"  where id = '19553'
=>>>>>>>>>>>>>>>>>>>>>> 19749 /lvl2/ Credit Marketing Officer (CMO) Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Bandung", title_clean   = " (CMO) Bandung", title_id  = "1229"  where id = '19749'
=>>>>>>>>>>>>>>>>>>>>>> 20025 /lvl2/ CREDIT MARKETING OFFICER (SULAWESI SELATAN - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (SULAWESI SELATAN - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (SULAWESI SELATAN - URGENT)", title_id  = "1229"  where id = '20025'
=>>>>>>>>>>>>>>>>>>>>>> 20067 /lvl2/ CREDIT MARKETING OFFICER (SUMATERA UTARA - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (SUMATERA UTARA - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (SUMATERA UTARA - URGENT)", title_id  = "1229"  where id = '20067'
=>>>>>>>>>>>>>>>>>>>>>> 20094 /lvl2/ Credit Marketing Officer (CMO) Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CMO) Lampung", title_clean   = " (CMO) Lampung", title_id  = "1229"  where id = '20094'
=>>>>>>>>>>>>>>>>>>>>>> 20100 /lvl2/ CREDIT MARKETING OFFICER (SUMATERA UTARA - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (SUMATERA UTARA - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (SUMATERA UTARA - URGENT)", title_id  = "1229"  where id = '20100'
=>>>>>>>>>>>>>>>>>>>>>> 20140 /lvl2/ CREDIT MARKETING OFFICER (AREA JAMBI - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (AREA JAMBI - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (AREA JAMBI - URGENT)", title_id  = "1229"  where id = '20140'
=>>>>>>>>>>>>>>>>>>>>>> 20288 /lvl2/ CREDIT MARKETING OFFICER (AREA RIAU DARATAN - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (AREA RIAU DARATAN - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (AREA RIAU DARATAN - URGENT)", title_id  = "1229"  where id = '20288'
=>>>>>>>>>>>>>>>>>>>>>> 20385 /lvl2/ CREDIT MARKETING OFFICER (BENGKULU SUMSEL - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (BENGKULU SUMSEL - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (BENGKULU SUMSEL - URGENT)", title_id  = "1229"  where id = '20385'
=>>>>>>>>>>>>>>>>>>>>>> 20418 /lvl2/ CREDIT MARKETING OFFICER (NUSA TENGGARA BARAT - URGENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CREDIT MARKETING OFFICER (NUSA TENGGARA BARAT - URGENT)", title_clean   = "CREDIT MARKETING OFFICER (NUSA TENGGARA BARAT - URGENT)", title_id  = "1229"  where id = '20418'
5839 /lvl1/ Sosmed Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 9882 /lvl2/ SOSMED MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOSMED MARKETING MANAGER", title_clean   = "SOSMED MARKETING MANAGER", title_id  = "5839"  where id = '9882'
6352 /lvl1/ Supervisor Produksi Wwtp
=>>>>>>>>>>>>>>>>>>>>>> 1726 /lvl2/ Supervisor Produksi WWTP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Produksi WWTP", title_clean   = "Supervisor Produksi WWTP", title_id  = "6352"  where id = '1726'
1745 /lvl1/ Equipment Health Analyst
=>>>>>>>>>>>>>>>>>>>>>> 17629 /lvl2/ Equipment Health Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1745"  where id = '17629'
=>>>>>>>>>>>>>>>>>>>>>> 17648 /lvl2/ Equipment Health Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1745"  where id = '17648'
4818 /lvl1/ Research and Development
=>>>>>>>>>>>>>>>>>>>>>> 586 /lvl2/ Research and Development Application Specialist (Gummies & Frozen Food)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Application Specialist (Gummies & Frozen Food)", title_clean   = " Application Specialist (Gummies & Frozen Food)", title_id  = "4818"  where id = '586'
=>>>>>>>>>>>>>>>>>>>>>> 1089 /lvl2/ Supervisor Formulasi (Research and Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Formulasi (-idex-)", title_clean   = "Supervisor Formulasi ()", title_id  = "4818"  where id = '1089'
=>>>>>>>>>>>>>>>>>>>>>> 4599 /lvl2/ Research And Development ( RnD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Research And Development ( RnD)", title_clean   = "Research And Development ( RnD)", title_id  = "4818"  where id = '4599'
=>>>>>>>>>>>>>>>>>>>>>> 5015 /lvl2/ Research and Development Officer dan Apoteker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer dan Apoteker", title_clean   = " Officer dan Apoteker", title_id  = "4818"  where id = '5015'
=>>>>>>>>>>>>>>>>>>>>>> 6524 /lvl2/ Research and Development (RnD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (RnD)", title_clean   = " (RnD)", title_id  = "4818"  where id = '6524'
=>>>>>>>>>>>>>>>>>>>>>> 8577 /lvl2/ Research and Development Officer - Food & Beverage
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer - Food & Beverage", title_clean   = " Officer - Food & Beverage", title_id  = "4818"  where id = '8577'
=>>>>>>>>>>>>>>>>>>>>>> 9810 /lvl2/ Leader Research and Development (Research and Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Leader -idex- (-idex-)", title_clean   = "Leader  ()", title_id  = "4818"  where id = '9810'
=>>>>>>>>>>>>>>>>>>>>>> 12863 /lvl2/ Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4818"  where id = '12863'
=>>>>>>>>>>>>>>>>>>>>>> 16028 /lvl2/ Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4818"  where id = '16028'
=>>>>>>>>>>>>>>>>>>>>>> 17948 /lvl2/ Product Development ENGINEERu002F Research and Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Product Development ENGINEERu002F -idex-", title_clean   = "Product Development ENGINEERu002F ", title_id  = "4818"  where id = '17948'
6102 /lvl1/ Staff Marketing Services

=>>>>>>>>>>>>>>>>>>>>>> 17742 /lvl2/ STAFF MARKETING SERVICES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MARKETING SERVICES", title_clean   = "STAFF MARKETING SERVICES", title_id  = "6102"  where id = '17742'
2007 /lvl1/ Finance, Accounting, Tax
=>>>>>>>>>>>>>>>>>>>>>> 4719 /lvl2/ Finance, Accounting, Tax - Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Senior Staff", title_clean   = " - Senior Staff", title_id  = "2007"  where id = '4719'
4055 /lvl1/ Operational Import Staff
=>>>>>>>>>>>>>>>>>>>>>> 4747 /lvl2/ OPERATIONAL IMPORT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATIONAL IMPORT STAFF", title_clean   = "OPERATIONAL IMPORT STAFF", title_id  = "4055"  where id = '4747'
2264 /lvl1/ Growth Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 3608 /lvl2/ Growth Marketing Manager (Getplus.id)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Getplus.id)", title_clean   = " (Getplus.id)", title_id  = "2264"  where id = '3608'
=>>>>>>>>>>>>>>>>>>>>>> 19658 /lvl2/ Growth Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2264"  where id = '19658'
5081 /lvl1/ Sales Admin Online Staff
=>>>>>>>>>>>>>>>>>>>>>> 167 /lvl2/ Sales Admin Online Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5081"  where id = '167'
1500 /lvl1/ Digital Marketing Intern
=>>>>>>>>>>>>>>>>>>>>>> 14086 /lvl2/ Digital Marketing Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1500"  where id = '14086'
=>>>>>>>>>>>>>>>>>>>>>> 14405 /lvl2/ Digital Marketing Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1500"  where id = '14405'
=>>>>>>>>>>>>>>>>>>>>>> 14423 /lvl2/ Digital Marketing Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1500"  where id = '14423'
=>>>>>>>>>>>>>>>>>>>>>> 15564 /lvl2/ Digital Marketing Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1500"  where id = '15564'
4572 /lvl1/ Project Leader Skin Care
=>>>>>>>>>>>>>>>>>>>>>> 3917 /lvl2/ PROJECT LEADER SKIN CARE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT LEADER SKIN CARE", title_clean   = "PROJECT LEADER SKIN CARE", title_id  = "4572"  where id = '3917'
1501 /lvl1/ Digital Marketing Leader
=>>>>>>>>>>>>>>>>>>>>>> 10961 /lvl2/ Digital Marketing Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1501"  where id = '10961'
4576 /lvl1/ Project Management Admin
=>>>>>>>>>>>>>>>>>>>>>> 11697 /lvl2/ Project Management Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4576"  where id = '11697'
225 /lvl1/ Admin Online Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 281 /lvl2/ Admin Online Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "225"  where id = '281'
6881 /lvl1/ Vendor Acquisition Staff
=>>>>>>>>>>>>>>>>>>>>>> 17657 /lvl2/ Vendor Acquisition staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Vendor Acquisition staff", title_clean   = "Vendor Acquisition staff", title_id  = "6881"  where id = '17657'
1764 /lvl1/ Estimator / Engineer Mep
=>>>>>>>>>>>>>>>>>>>>>> 5319 /lvl2/ ESTIMATOR / ENGINEER MEP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTIMATOR / ENGINEER MEP", title_clean   = "ESTIMATOR / ENGINEER MEP", title_id  = "1764"  where id = '5319'
3812 /lvl1/ Mechanic Truk & Forklift
741 /lvl1/ Business Control Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11867 /lvl2/ Business Control Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "741"  where id = '11867'
1510 /lvl1/ Digital Media Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1865 /lvl2/ DIGITAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MEDIA SPECIALIST", title_clean   = "DIGITAL MEDIA SPECIALIST", title_id  = "1510"  where id = '1865'
=>>>>>>>>>>>>>>>>>>>>>> 17178 /lvl2/ Digital Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1510"  where id = '17178'
4583 /lvl1/ Project Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 16854 /lvl2/ Project Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4583"  where id = '16854'
1768 /lvl1/ Estimator Engineer Staff
=>>>>>>>>>>>>>>>>>>>>>> 5040 /lvl2/ Estimator Engineer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1768"  where id = '5040'
2024 /lvl1/ Financial Controller Ivi
2280 /lvl1/ Guru Bidang Studi Sd Smp
=>>>>>>>>>>>>>>>>>>>>>> 13835 /lvl2/ GURU BIDANG STUDI SD SMP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU BIDANG STUDI SD SMP", title_clean   = "GURU BIDANG STUDI SD SMP", title_id  = "2280"  where id = '13835'
=>>>>>>>>>>>>>>>>>>>>>> 13850 /lvl2/ GURU BIDANG STUDI SD SMP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU BIDANG STUDI SD SMP", title_clean   = "GURU BIDANG STUDI SD SMP", title_id  = "2280"  where id = '13850'
5096 /lvl1/ Sales Bahan Baku Makanan
=>>>>>>>>>>>>>>>>>>>>>> 5855 /lvl2/ Sales Bahan Baku Makanan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5096"  where id = '5855'
5609 /lvl1/ Senior Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 19383 /lvl2/ Senior Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5609"  where id = '19383'
1002 /lvl1/ Communication Specialist
=>>>>>>>>>>>>>>>>>>>>>> 14446 /lvl2/ Communication Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1002"  where id = '14446'
=>>>>>>>>>>>>>>>>>>>>>> 14822 /lvl2/ Communication Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1002"  where id = '14822'
4075 /lvl1/ Operator Forklift Manual
=>>>>>>>>>>>>>>>>>>>>>> 10143 /lvl2/ Operator Forklift Manual
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4075"  where id = '10143'
4843 /lvl1/ R2R Reporting Accounting
=>>>>>>>>>>>>>>>>>>>>>> 5316 /lvl2/ R2R Reporting Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4843"  where id = '5316'
5355 /lvl1/ Sap Co Senior Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6845 /lvl2/ SAP CO Senior Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP CO Senior Consultant", title_clean   = "SAP CO Senior Consultant", title_id  = "5355"  where id = '6845'
5612 /lvl1/ Senior Quantity Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 13637 /lvl2/ Senior Quantity Surveyor (Estimator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Estimator)", title_clean   = " (Estimator)", title_id  = "5612"  where id = '13637'
1261 /lvl1/ Chief Technology Officer
4589 /lvl1/ Project Manager Interior
=>>>>>>>>>>>>>>>>>>>>>> 9888 /lvl2/ PROJECT MANAGER INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT MANAGER INTERIOR", title_clean   = "PROJECT MANAGER INTERIOR", title_id  = "4589"  where id = '9888'
1519 /lvl1/ Digital Strategy Officer
=>>>>>>>>>>>>>>>>>>>>>> 3242 /lvl2/ DIGITAL STRATEGY OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL STRATEGY OFFICER", title_clean   = "DIGITAL STRATEGY OFFICER", title_id  = "1519"  where id = '3242'
3567 /lvl1/ Mandarin Operation Admin
=>>>>>>>>>>>>>>>>>>>>>> 4250 /lvl2/ Mandarin Operation Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3567"  where id = '4250'
=>>>>>>>>>>>>>>>>>>>>>> 5298 /lvl2/ Mandarin Operation Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3567"  where id = '5298'
6383 /lvl1/ Supervisor Service Batam
=>>>>>>>>>>>>>>>>>>>>>> 8000 /lvl2/ Supervisor Service Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6383"  where id = '8000'
=>>>>>>>>>>>>>>>>>>>>>> 8315 /lvl2/ Supervisor Service Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6383"  where id = '8315'
5616 /lvl1/ Senior Recruitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 19958 /lvl2/ Senior Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5616"  where id = '19958'
3057 /lvl1/ Japanese Speaker Officer
=>>>>>>>>>>>>>>>>>>>>>> 5185 /lvl2/ Japanese Speaker Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3057"  where id = '5185'
5364 /lvl1/ Sap Hana Fico Consultant

=>>>>>>>>>>>>>>>>>>>>>> 9647 /lvl2/ SAP HANA FICO Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP HANA FICO Consultant", title_clean   = "SAP HANA FICO Consultant", title_id  = "5364"  where id = '9647'
5876 /lvl1/ Sr Manager Mechanization
=>>>>>>>>>>>>>>>>>>>>>> 12011 /lvl2/ Sr Manager Mechanization
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5876"  where id = '12011'
2293 /lvl1/ Guru Matematika / Fisika
=>>>>>>>>>>>>>>>>>>>>>> 17865 /lvl2/ Guru Matematika / Fisika
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2293"  where id = '17865'
4597 /lvl1/ Project Plan & Estimator
=>>>>>>>>>>>>>>>>>>>>>> 6833 /lvl2/ Project Plan & Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4597"  where id = '6833'
3575 /lvl1/ Mandarin Teacher Primary
=>>>>>>>>>>>>>>>>>>>>>> 8373 /lvl2/ MANDARIN TEACHER PRIMARY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TEACHER PRIMARY", title_clean   = "MANDARIN TEACHER PRIMARY", title_id  = "3575"  where id = '8373'
5111 /lvl1/ Sales Commercial Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7830 /lvl2/ Sales Commercial Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5111"  where id = '7830'
=>>>>>>>>>>>>>>>>>>>>>> 8139 /lvl2/ Sales Commercial Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5111"  where id = '8139'
4856 /lvl1/ Receiving & Store Keeper
=>>>>>>>>>>>>>>>>>>>>>> 13865 /lvl2/ RECEIVING & STORE KEEPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECEIVING & STORE KEEPER", title_clean   = "RECEIVING & STORE KEEPER", title_id  = "4856"  where id = '13865'
=>>>>>>>>>>>>>>>>>>>>>> 13881 /lvl2/ RECEIVING & STORE KEEPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECEIVING & STORE KEEPER", title_clean   = "RECEIVING & STORE KEEPER", title_id  = "4856"  where id = '13881'
5112 /lvl1/ Sales Commercial Officer
=>>>>>>>>>>>>>>>>>>>>>> 2580 /lvl2/ Sales Commercial Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5112"  where id = '2580'
=>>>>>>>>>>>>>>>>>>>>>> 3287 /lvl2/ Sales Commercial Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5112"  where id = '3287'
5368 /lvl1/ Sap Mm Senior Consultant
=>>>>>>>>>>>>>>>>>>>>>> 7651 /lvl2/ SAP MM Senior Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP MM Senior Consultant", title_clean   = "SAP MM Senior Consultant", title_id  = "5368"  where id = '7651'
5369 /lvl1/ Sap Pp Senior Consultant
=>>>>>>>>>>>>>>>>>>>>>> 7657 /lvl2/ SAP PP Senior Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP PP Senior Consultant", title_clean   = "SAP PP Senior Consultant", title_id  = "5369"  where id = '7657'
5116 /lvl1/ Sales Contest Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5989 /lvl2/ Sales Contest Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5116"  where id = '5989'
3581 /lvl1/ Mandarin Translator & Pa
5373 /lvl1/ Sap Sd Funtional Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7029 /lvl2/ SAP SD Funtional Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP SD Funtional Analyst", title_clean   = "SAP SD Funtional Analyst", title_id  = "5373"  where id = '7029'
2048 /lvl1/ Fitness General Manager
=>>>>>>>>>>>>>>>>>>>>>> 15916 /lvl2/ Fitness General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2048"  where id = '15916'
=>>>>>>>>>>>>>>>>>>>>>> 15928 /lvl2/ Fitness General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2048"  where id = '15928'
4608 /lvl1/ Project Site Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10193 /lvl2/ Project Site Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4608"  where id = '10193'
6912 /lvl1/ Visual & Graphic Design
3842 /lvl1/ Media Sosial Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8988 /lvl2/ Media Sosial Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3842"  where id = '8988'
1540 /lvl1/ Documentation For Liner
=>>>>>>>>>>>>>>>>>>>>>> 1211 /lvl2/ Documentation for Liner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Documentation for Liner", title_clean   = "Documentation for Liner", title_id  = "1540"  where id = '1211'
3844 /lvl1/ Medical Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 2032 /lvl2/ Medical Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3844"  where id = '2032'
2053 /lvl1/ Fleet Advisor & Trainer
=>>>>>>>>>>>>>>>>>>>>>> 9923 /lvl2/ Fleet Advisor & Trainer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2053"  where id = '9923'
4613 /lvl1/ Promotion Administrator
=>>>>>>>>>>>>>>>>>>>>>> 18271 /lvl2/ Promotion Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4613"  where id = '18271'
5638 /lvl1/ Senior Staff Accounting
=>>>>>>>>>>>>>>>>>>>>>> 610 /lvl2/ Senior Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5638"  where id = '610'
=>>>>>>>>>>>>>>>>>>>>>> 3236 /lvl2/ Senior Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5638"  where id = '3236'
=>>>>>>>>>>>>>>>>>>>>>> 18678 /lvl2/ Senior Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5638"  where id = '18678'
1288 /lvl1/ Customer Relation Staff
=>>>>>>>>>>>>>>>>>>>>>> 18410 /lvl2/ Customer Relation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1288"  where id = '18410'
2057 /lvl1/ Flexi Financial Advisor
=>>>>>>>>>>>>>>>>>>>>>> 4957 /lvl2/ Flexi Financial Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2057"  where id = '4957'
1546 /lvl1/ Dokter Hewan Veterinary
3083 /lvl1/ Junior Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 17826 /lvl2/ Junior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3083"  where id = '17826'
=>>>>>>>>>>>>>>>>>>>>>> 18646 /lvl2/ JUNIOR ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR ACCOUNTING STAFF", title_clean   = "JUNIOR ACCOUNTING STAFF", title_id  = "3083"  where id = '18646'
=>>>>>>>>>>>>>>>>>>>>>> 18896 /lvl2/ Junior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3083"  where id = '18896'
269 /lvl1/ Admin Support Marketing
=>>>>>>>>>>>>>>>>>>>>>> 16531 /lvl2/ ADMIN SUPPORT MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN SUPPORT MARKETING", title_clean   = "ADMIN SUPPORT MARKETING", title_id  = "269"  where id = '16531'
6925 /lvl1/ Waitress Restoran & Bar
2830 /lvl1/ Ir & Litigation Manager
=>>>>>>>>>>>>>>>>>>>>>> 17870 /lvl2/ IR & Litigation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IR & Litigation Manager", title_clean   = "IR & Litigation Manager", title_id  = "2830"  where id = '17870'
3598 /lvl1/ Market Development Lead
=>>>>>>>>>>>>>>>>>>>>>> 10612 /lvl2/ Market Development Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3598"  where id = '10612'
=>>>>>>>>>>>>>>>>>>>>>> 10672 /lvl2/ Market Development Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3598"  where id = '10672'
=>>>>>>>>>>>>>>>>>>>>>> 13108 /lvl2/ Market Development Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3598"  where id = '13108'
=>>>>>>>>>>>>>>>>>>>>>> 13129 /lvl2/ Market Development Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3598"  where id = '13129'
3855 /lvl1/ Medical Store Attendant
=>>>>>>>>>>>>>>>>>>>>>> 3098 /lvl2/ Medical Store Attendant (DKI Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DKI Jakarta)", title_clean   = " (DKI Jakarta)", title_id  = "3855"  where id = '3098'
=>>>>>>>>>>>>>>>>>>>>>> 19979 /lvl2/ Medical Store Attendant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3855"  where id = '19979'
3600 /lvl1/ Market Research Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7350 /lvl2/ Market Research Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3600"  where id = '7350'
=>>>>>>>>>>>>>>>>>>>>>> 12264 /lvl2/ Market Research Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3600"  where id = '12264'
1041 /lvl1/ Construction Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 3346 /lvl2/ Construction Supervisor (Site Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Site Based)", title_clean   = " (Site Based)", title_id  = "1041"  where id = '3346'
=>>>>>>>>>>>>>>>>>>>>>> 5232 /lvl2/ Civil and Construction Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Civil and -idex-", title_clean   = "Civil and ", title_id  = "1041"  where id = '5232'
=>>>>>>>>>>>>>>>>>>>>>> 7660 /lvl2/ Construction Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1041"  where id = '7660'
3602 /lvl1/ Market Research Officer
=>>>>>>>>>>>>>>>>>>>>>> 19083 /lvl2/ Market Research Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3602"  where id = '19083'
4370 /lvl1/ Presales Hcm Consultant
=>>>>>>>>>>>>>>>>>>>>>> 16440 /lvl2/ Presales HCM Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Presales HCM Consultant", title_clean   = "Presales HCM Consultant", title_id  = "4370"  where id = '16440'
3094 /lvl1/ Junior Collection Field
=>>>>>>>>>>>>>>>>>>>>>> 5460 /lvl2/ Junior Collection Field Cabang Mojokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Mojokerto", title_clean   = " Cabang Mojokerto", title_id  = "3094"  where id = '5460'
=>>>>>>>>>>>>>>>>>>>>>> 9859 /lvl2/ Junior Collection Field
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3094"  where id = '9859'
5655 /lvl1/ Senior Systems Analysts
=>>>>>>>>>>>>>>>>>>>>>> 4514 /lvl2/ Senior Systems Analysts
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5655"  where id = '4514'
1816 /lvl1/ Expert Genesys Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12272 /lvl2/ Expert Genesys Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1816"  where id = '12272'
3352 /lvl1/ Legal & Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 20357 /lvl2/ Legal & Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3352"  where id = '20357'
282 /lvl1/ Administrasi & Logistik
=>>>>>>>>>>>>>>>>>>>>>> 16549 /lvl2/ ADMINISTRASI & LOGISTIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI & LOGISTIK", title_clean   = "ADMINISTRASI & LOGISTIK", title_id  = "282"  where id = '16549'
5659 /lvl1/ Senior Tax & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 16043 /lvl2/ SENIOR TAX & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR TAX & ACCOUNTING", title_clean   = "SENIOR TAX & ACCOUNTING", title_id  = "5659"  where id = '16043'
6683 /lvl1/ Teknisi Mesin Paper Bag
=>>>>>>>>>>>>>>>>>>>>>> 18287 /lvl2/ Teknisi Mesin Paper Bag
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6683"  where id = '18287'
6428 /lvl1/ Supply Chain Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3412 /lvl2/ Supply Chain Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6428"  where id = '3412'
=>>>>>>>>>>>>>>>>>>>>>> 5588 /lvl2/ Supply Chain Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6428"  where id = '5588'
6684 /lvl1/ Teknisi Mesin Pendingin
=>>>>>>>>>>>>>>>>>>>>>> 12576 /lvl2/ Teknisi Mesin Pendingin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6684"  where id = '12576'
=>>>>>>>>>>>>>>>>>>>>>> 15911 /lvl2/ Teknisi AC (HVAC) \u002F Teknisi Mesin Pendingin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi AC (HVAC) \u002F -idex-", title_clean   = "Teknisi AC (HVAC) \u002F ", title_id  = "6684"  where id = '15911'
542 /lvl1/ Assistant Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 1537 /lvl2/ ASSISTANT SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT SALES MANAGER", title_clean   = "ASSISTANT SALES MANAGER", title_id  = "542"  where id = '1537'
=>>>>>>>>>>>>>>>>>>>>>> 7006 /lvl2/ Assistant Sales Manager (Mandarin Speaker) Malang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker) Malang", title_clean   = " (Mandarin Speaker) Malang", title_id  = "542"  where id = '7006'
=>>>>>>>>>>>>>>>>>>>>>> 15341 /lvl2/ Assistant Sales Manager (Beauty & Personal Care)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Beauty & Personal Care)", title_clean   = " (Beauty & Personal Care)", title_id  = "542"  where id = '15341'
798 /lvl1/ Business Representative
=>>>>>>>>>>>>>>>>>>>>>> 495 /lvl2/ Business Representative Officer (JS - BRO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (JS - BRO)", title_clean   = " Officer (JS - BRO)", title_id  = "798"  where id = '495'
=>>>>>>>>>>>>>>>>>>>>>> 4087 /lvl2/ Business Representative (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "798"  where id = '4087'
=>>>>>>>>>>>>>>>>>>>>>> 9746 /lvl2/ Business Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "798"  where id = '9746'
=>>>>>>>>>>>>>>>>>>>>>> 10982 /lvl2/ Business Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "798"  where id = '10982'
=>>>>>>>>>>>>>>>>>>>>>> 12246 /lvl2/ Business Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "798"  where id = '12246'
3359 /lvl1/ Legal Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 995 /lvl2/ Legal Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3359"  where id = '995'
=>>>>>>>>>>>>>>>>>>>>>> 2592 /lvl2/ Legal Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3359"  where id = '2592'
=>>>>>>>>>>>>>>>>>>>>>> 8567 /lvl2/ Legal Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3359"  where id = '8567'
=>>>>>>>>>>>>>>>>>>>>>> 15586 /lvl2/ Legal Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3359"  where id = '15586'
1312 /lvl1/ Customer Service Import
=>>>>>>>>>>>>>>>>>>>>>> 16647 /lvl2/ Customer Service Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1312"  where id = '16647'
=>>>>>>>>>>>>>>>>>>>>>> 18159 /lvl2/ Admin Customer Service Importu002FExport Staff Surabaya (East Java)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin -idex-u002FExport Staff Surabaya (East Java)", title_clean   = "Admin u002FExport Staff Surabaya (East Java)", title_id  = "1312"  where id = '18159'
4384 /lvl1/ Primary School Educator
=>>>>>>>>>>>>>>>>>>>>>> 16087 /lvl2/ Primary School Educator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4384"  where id = '16087'
546 /lvl1/ Assistant Store Manager
=>>>>>>>>>>>>>>>>>>>>>> 114 /lvl2/ Assistant Store Manager ( Penempatan Area Surabaya )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Penempatan Area Surabaya )", title_clean   = " ( Penempatan Area Surabaya )", title_id  = "546"  where id = '114'
=>>>>>>>>>>>>>>>>>>>>>> 129 /lvl2/ Assistant Store Manager ( Penempatan Bali  )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Penempatan Bali  )", title_clean   = " ( Penempatan Bali  )", title_id  = "546"  where id = '129'
=>>>>>>>>>>>>>>>>>>>>>> 899 /lvl2/ Assistant Store Manager (ASM) Jambi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ASM) Jambi", title_clean   = " (ASM) Jambi", title_id  = "546"  where id = '899'
=>>>>>>>>>>>>>>>>>>>>>> 5992 /lvl2/ Assistant Store Manager for Jakarta Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Jakarta Area", title_clean   = " for Jakarta Area", title_id  = "546"  where id = '5992'
=>>>>>>>>>>>>>>>>>>>>>> 11426 /lvl2/ Assistant Store Manager for Surabaya  /  Medan  /  Yogyakarta Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Surabaya  /  Medan  /  Yogyakarta Area", title_clean   = " for Surabaya  /  Medan  /  Yogyakarta Area", title_id  = "546"  where id = '11426'
=>>>>>>>>>>>>>>>>>>>>>> 13663 /lvl2/ Assistant Store Manager Belanja Keramik (Blimbing - Malang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Belanja Keramik (Blimbing - Malang)", title_clean   = " Belanja Keramik (Blimbing - Malang)", title_id  = "546"  where id = '13663'
=>>>>>>>>>>>>>>>>>>>>>> 14436 /lvl2/ ASSISTANT STORE MANAGER - JAPANESE RESTAURANT BATAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT STORE MANAGER - JAPANESE RESTAURANT BATAM", title_clean   = "ASSISTANT STORE MANAGER - JAPANESE RESTAURANT BATAM", title_id  = "546"  where id = '14436'
=>>>>>>>>>>>>>>>>>>>>>> 18950 /lvl2/ Assistant Store Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "546"  where id = '18950'
=>>>>>>>>>>>>>>>>>>>>>> 20429 /lvl2/ Assistant Store Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "546"  where id = '20429'
5410 /lvl1/ Section Head Accounting

=>>>>>>>>>>>>>>>>>>>>>> 19415 /lvl2/ Section Head Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5410"  where id = '19415'
1827 /lvl1/ Export Document Foreman
=>>>>>>>>>>>>>>>>>>>>>> 10924 /lvl2/ Export Document Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1827"  where id = '10924'
3875 /lvl1/ Merchandiser Production
=>>>>>>>>>>>>>>>>>>>>>> 12509 /lvl2/ Merchandiser Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3875"  where id = '12509'
1828 /lvl1/ Export Document Officer
=>>>>>>>>>>>>>>>>>>>>>> 20120 /lvl2/ EXPORT DOCUMENT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EXPORT DOCUMENT OFFICER", title_clean   = "EXPORT DOCUMENT OFFICER", title_id  = "1828"  where id = '20120'
3108 /lvl1/ Junior Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 8369 /lvl2/ Junior Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3108"  where id = '8369'
3877 /lvl1/ Merchandiser Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6855 /lvl2/ Merchandiser Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3877"  where id = '6855'
=>>>>>>>>>>>>>>>>>>>>>> 13242 /lvl2/ Merchandiser Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3877"  where id = '13242'
6438 /lvl1/ Surveyor Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 17735 /lvl2/ Surveyor Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6438"  where id = '17735'
1319 /lvl1/ Customer Service Online
=>>>>>>>>>>>>>>>>>>>>>> 11925 /lvl2/ Customer Service Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1319"  where id = '11925'
=>>>>>>>>>>>>>>>>>>>>>> 15358 /lvl2/ Customer Service Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1319"  where id = '15358'
=>>>>>>>>>>>>>>>>>>>>>> 19821 /lvl2/ Customer Service Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1319"  where id = '19821'
4647 /lvl1/ Public Relation Manager
=>>>>>>>>>>>>>>>>>>>>>> 19462 /lvl2/ Public Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4647"  where id = '19462'
1832 /lvl1/ Export Import Executive
2856 /lvl1/ It Audit Junior Officer
=>>>>>>>>>>>>>>>>>>>>>> 5434 /lvl2/ IT Audit Junior Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Audit Junior Officer", title_clean   = "IT Audit Junior Officer", title_id  = "2856"  where id = '5434'
6184 /lvl1/ Standar Costing Analyst
=>>>>>>>>>>>>>>>>>>>>>> 12904 /lvl2/ Standar Costing Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6184"  where id = '12904'
41 /lvl1/ Account Payable Analyst
=>>>>>>>>>>>>>>>>>>>>>> 8756 /lvl2/ Account Payable Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "41"  where id = '8756'
297 /lvl1/ Administrasi Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 846 /lvl2/ ADMINISTRASI PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI PURCHASING", title_clean   = "ADMINISTRASI PURCHASING", title_id  = "297"  where id = '846'
3881 /lvl1/ Merchandising Associate
=>>>>>>>>>>>>>>>>>>>>>> 19569 /lvl2/ Merchandising Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3881"  where id = '19569'
=>>>>>>>>>>>>>>>>>>>>>> 20443 /lvl2/ Merchandising Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3881"  where id = '20443'
5673 /lvl1/ Senior Ui / Ux Designer
=>>>>>>>>>>>>>>>>>>>>>> 9918 /lvl2/ Senior UI / UX Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior UI / UX Designer", title_clean   = "Senior UI / UX Designer", title_id  = "5673"  where id = '9918'
6186 /lvl1/ Stevedoring Operational
=>>>>>>>>>>>>>>>>>>>>>> 1203 /lvl2/ Stevedoring Operational
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6186"  where id = '1203'
811 /lvl1/ Buyer Ecommerce Manager
44 /lvl1/ Account Payable Officer
=>>>>>>>>>>>>>>>>>>>>>> 608 /lvl2/ Account Payable Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "44"  where id = '608'
=>>>>>>>>>>>>>>>>>>>>>> 18304 /lvl2/ Account Payable Officer - Cibubur Junction
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cibubur Junction", title_clean   = " - Cibubur Junction", title_id  = "44"  where id = '18304'
300 /lvl1/ Administrasi Sekretaris
=>>>>>>>>>>>>>>>>>>>>>> 1818 /lvl2/ Administrasi Sekretaris
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "300"  where id = '1818'
556 /lvl1/ Assisten Manager Gudang
2348 /lvl1/ Head of Department Hcbp
=>>>>>>>>>>>>>>>>>>>>>> 8437 /lvl2/ HEAD OF DEPARTMENT HCBP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD OF DEPARTMENT HCBP", title_clean   = "HEAD OF DEPARTMENT HCBP", title_id  = "2348"  where id = '8437'
1069 /lvl1/ Content Creator Manager
=>>>>>>>>>>>>>>>>>>>>>> 5320 /lvl2/ Content Creator Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1069"  where id = '5320'
2605 /lvl1/ Human Capital Associate
=>>>>>>>>>>>>>>>>>>>>>> 19381 /lvl2/ Human Capital Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2605"  where id = '19381'
3887 /lvl1/ Micro Insurance Officer
=>>>>>>>>>>>>>>>>>>>>>> 15473 /lvl2/ Micro Insurance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3887"  where id = '15473'
816 /lvl1/ C# Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 10510 /lvl2/ C# Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "816"  where id = '10510'
561 /lvl1/ Associate Brand Manager
=>>>>>>>>>>>>>>>>>>>>>> 12336 /lvl2/ Associate Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "561"  where id = '12336'
=>>>>>>>>>>>>>>>>>>>>>> 12470 /lvl2/ Associate Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "561"  where id = '12470'
=>>>>>>>>>>>>>>>>>>>>>> 20387 /lvl2/ Associate Brand Manager [Herbal & OTC]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- [Herbal & OTC]", title_clean   = " [Herbal & OTC]", title_id  = "561"  where id = '20387'
2610 /lvl1/ Human Capital Executive
=>>>>>>>>>>>>>>>>>>>>>> 19678 /lvl2/ Human Capital Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2610"  where id = '19678'
2866 /lvl1/ It Business Development
=>>>>>>>>>>>>>>>>>>>>>> 6484 /lvl2/ IT Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Development", title_clean   = "IT Business Development", title_id  = "2866"  where id = '6484'
4402 /lvl1/ Process Safety Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15022 /lvl2/ Process Safety Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4402"  where id = '15022'
3125 /lvl1/ Junior Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 12800 /lvl2/ Junior Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3125"  where id = '12800'
=>>>>>>>>>>>>>>>>>>>>>> 12818 /lvl2/ Junior Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3125"  where id = '12818'
=>>>>>>>>>>>>>>>>>>>>>> 16275 /lvl2/ Junior Mobile Developer - iOS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - iOS", title_clean   = " - iOS", title_id  = "3125"  where id = '16275'
=>>>>>>>>>>>>>>>>>>>>>> 16289 /lvl2/ Junior Mobile Developer - iOS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - iOS", title_clean   = " - iOS", title_id  = "3125"  where id = '16289'
4149 /lvl1/ Parts Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 19588 /lvl2/ Parts Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4149"  where id = '19588'
=>>>>>>>>>>>>>>>>>>>>>> 20440 /lvl2/ Parts Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4149"  where id = '20440'
6712 /lvl1/ Telemarketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 9106 /lvl2/ Telemarketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6712"  where id = '9106'
825 /lvl1/ English Teacher Primary

=>>>>>>>>>>>>>>>>>>>>>> 3033 /lvl2/ Cambridge English Teacher Primary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cambridge -idex-", title_clean   = "Cambridge ", title_id  = "825"  where id = '3033'
6969 /lvl1/ Water Treatment Manager
=>>>>>>>>>>>>>>>>>>>>>> 3334 /lvl2/ Water Treatment Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6969"  where id = '3334'
1083 /lvl1/ Content Team Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8981 /lvl2/ Content Team Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1083"  where id = '8981'
6971 /lvl1/ Web & Android Developer
6716 /lvl1/ Telemedicine Associates
=>>>>>>>>>>>>>>>>>>>>>> 7070 /lvl2/ Telemedicine Associates
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6716"  where id = '7070'
=>>>>>>>>>>>>>>>>>>>>>> 8510 /lvl2/ Telemedicine Associates
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6716"  where id = '8510'
63 /lvl1/ Accounting / Perpajakan
=>>>>>>>>>>>>>>>>>>>>>> 2777 /lvl2/ Accounting / Perpajakan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "63"  where id = '2777'
2367 /lvl1/ Head of Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 2642 /lvl2/ Head of Human Resources (HR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (HR)", title_clean   = " (HR)", title_id  = "2367"  where id = '2642'
=>>>>>>>>>>>>>>>>>>>>>> 14109 /lvl2/ Head of Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2367"  where id = '14109'
4671 /lvl1/ Purchasing Import Staff
=>>>>>>>>>>>>>>>>>>>>>> 10442 /lvl2/ PURCHASING IMPORT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING IMPORT STAFF", title_clean   = "PURCHASING IMPORT STAFF", title_id  = "4671"  where id = '10442'
=>>>>>>>>>>>>>>>>>>>>>> 11700 /lvl2/ Purchasing Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4671"  where id = '11700'
=>>>>>>>>>>>>>>>>>>>>>> 13428 /lvl2/ Purchasing Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4671"  where id = '13428'
=>>>>>>>>>>>>>>>>>>>>>> 17368 /lvl2/ Purchasing Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4671"  where id = '17368'
=>>>>>>>>>>>>>>>>>>>>>> 17390 /lvl2/ Purchasing Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4671"  where id = '17390'
5951 /lvl1/ Staff Accounting Bekasi
=>>>>>>>>>>>>>>>>>>>>>> 10720 /lvl2/ Staff Accounting Bekasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5951"  where id = '10720'
320 /lvl1/ Administrator Pemasaran
=>>>>>>>>>>>>>>>>>>>>>> 17357 /lvl2/ Administrator Pemasaran
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "320"  where id = '17357'
2113 /lvl1/ Front End Web Developer
3393 /lvl1/ Livestream Host Manager
=>>>>>>>>>>>>>>>>>>>>>> 13400 /lvl2/ Livestream Host Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3393"  where id = '13400'
=>>>>>>>>>>>>>>>>>>>>>> 13614 /lvl2/ Livestream Host Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3393"  where id = '13614'
1348 /lvl1/ Data Analyst Production
=>>>>>>>>>>>>>>>>>>>>>> 18608 /lvl2/ Data Analyst Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1348"  where id = '18608'
=>>>>>>>>>>>>>>>>>>>>>> 19517 /lvl2/ Data Analyst Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1348"  where id = '19517'
1349 /lvl1/ Data Analyst Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17211 /lvl2/ Data Analyst Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1349"  where id = '17211'
3397 /lvl1/ Loan Operations Officer
=>>>>>>>>>>>>>>>>>>>>>> 1957 /lvl2/ Loan Operations Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3397"  where id = '1957'
=>>>>>>>>>>>>>>>>>>>>>> 6601 /lvl2/ TD, FX, and Loan Operations Officer - (22495582)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TD, FX, and -idex- - (22495582)", title_clean   = "TD, FX, and  - (22495582)", title_id  = "3397"  where id = '6601'
3653 /lvl1/ Marketing Cargo / Paket
=>>>>>>>>>>>>>>>>>>>>>> 1881 /lvl2/ MARKETING CARGO / PAKET
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING CARGO / PAKET", title_clean   = "MARKETING CARGO / PAKET", title_id  = "3653"  where id = '1881'
6981 /lvl1/ Web Front End Developer
=>>>>>>>>>>>>>>>>>>>>>> 7379 /lvl2/ Web Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6981"  where id = '7379'
1350 /lvl1/ Data Analyst Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18427 /lvl2/ DATA ANALYST SUPERVISOR- BIG DATA (E-COMMERCE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DATA ANALYST SUPERVISOR- BIG DATA (E-COMMERCE)", title_clean   = "DATA ANALYST SUPERVISOR- BIG DATA (E-COMMERCE)", title_id  = "1350"  where id = '18427'
=>>>>>>>>>>>>>>>>>>>>>> 20487 /lvl2/ Data Analyst Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1350"  where id = '20487'
3655 /lvl1/ Marketing Communication
=>>>>>>>>>>>>>>>>>>>>>> 958 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '958'
=>>>>>>>>>>>>>>>>>>>>>> 1221 /lvl2/ Marketing Communication (HISTORIA.id)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (HISTORIA.id)", title_clean   = " (HISTORIA.id)", title_id  = "3655"  where id = '1221'
=>>>>>>>>>>>>>>>>>>>>>> 1747 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '1747'
=>>>>>>>>>>>>>>>>>>>>>> 3017 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '3017'
=>>>>>>>>>>>>>>>>>>>>>> 3405 /lvl2/ Marketing Communication (Event \u002F Store Activities for branding purposes)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Event \u002F Store Activities for branding purposes)", title_clean   = " (Event \u002F Store Activities for branding purposes)", title_id  = "3655"  where id = '3405'
=>>>>>>>>>>>>>>>>>>>>>> 3486 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '3486'
=>>>>>>>>>>>>>>>>>>>>>> 5600 /lvl2/ MARKETING COMMUNICATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION", title_clean   = "MARKETING COMMUNICATION", title_id  = "3655"  where id = '5600'
=>>>>>>>>>>>>>>>>>>>>>> 5809 /lvl2/ Marketing Communication (Marcomm) - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marcomm) - Medan", title_clean   = " (Marcomm) - Medan", title_id  = "3655"  where id = '5809'
=>>>>>>>>>>>>>>>>>>>>>> 6228 /lvl2/ MARKETING COMMUNICATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION", title_clean   = "MARKETING COMMUNICATION", title_id  = "3655"  where id = '6228'
=>>>>>>>>>>>>>>>>>>>>>> 6815 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '6815'
=>>>>>>>>>>>>>>>>>>>>>> 6904 /lvl2/ Marketing Communication (Marcomm) - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marcomm) - Medan", title_clean   = " (Marcomm) - Medan", title_id  = "3655"  where id = '6904'
=>>>>>>>>>>>>>>>>>>>>>> 7645 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '7645'
=>>>>>>>>>>>>>>>>>>>>>> 9114 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '9114'
=>>>>>>>>>>>>>>>>>>>>>> 9864 /lvl2/ House Artist and Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "House Artist and -idex-", title_clean   = "House Artist and ", title_id  = "3655"  where id = '9864'
=>>>>>>>>>>>>>>>>>>>>>> 10759 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '10759'
=>>>>>>>>>>>>>>>>>>>>>> 12282 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '12282'
=>>>>>>>>>>>>>>>>>>>>>> 14699 /lvl2/ Marketing Communication - KOL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KOL", title_clean   = " - KOL", title_id  = "3655"  where id = '14699'
=>>>>>>>>>>>>>>>>>>>>>> 15109 /lvl2/ Marketing Communication - KOL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KOL", title_clean   = " - KOL", title_id  = "3655"  where id = '15109'
=>>>>>>>>>>>>>>>>>>>>>> 16833 /lvl2/ MARKETING COMMUNICATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION", title_clean   = "MARKETING COMMUNICATION", title_id  = "3655"  where id = '16833'
=>>>>>>>>>>>>>>>>>>>>>> 17126 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '17126'
=>>>>>>>>>>>>>>>>>>>>>> 17144 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '17144'
=>>>>>>>>>>>>>>>>>>>>>> 18416 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '18416'
=>>>>>>>>>>>>>>>>>>>>>> 18432 /lvl2/ Marketing Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3655"  where id = '18432'
=>>>>>>>>>>>>>>>>>>>>>> 18631 /lvl2/ MARKETING COMMUNICATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING COMMUNICATION", title_clean   = "MARKETING COMMUNICATION", title_id  = "3655"  where id = '18631'
=>>>>>>>>>>>>>>>>>>>>>> 18843 /lvl2/ Marketing Communication & Event Management Dept. Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Event Management Dept. Head", title_clean   = " & Event Management Dept. Head", title_id  = "3655"  where id = '18843'
=>>>>>>>>>>>>>>>>>>>>>> 19515 /lvl2/ Marketing Communication\u002F Strategic Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002F Strategic Planner", title_clean   = "\u002F Strategic Planner", title_id  = "3655"  where id = '19515'
4681 /lvl1/ Purchasing Section Head

=>>>>>>>>>>>>>>>>>>>>>> 17664 /lvl2/ Purchasing Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4681"  where id = '17664'
6985 /lvl1/ Webapp Developer Intern
=>>>>>>>>>>>>>>>>>>>>>> 6334 /lvl2/ WebApp Developer Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WebApp Developer Intern", title_clean   = "WebApp Developer Intern", title_id  = "6985"  where id = '6334'
5451 /lvl1/ Senior Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 1269 /lvl2/ Senior Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5451"  where id = '1269'
=>>>>>>>>>>>>>>>>>>>>>> 1850 /lvl2/ Senior Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5451"  where id = '1850'
=>>>>>>>>>>>>>>>>>>>>>> 2905 /lvl2/ Senior Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5451"  where id = '2905'
2636 /lvl1/ Human Resources Manager
=>>>>>>>>>>>>>>>>>>>>>> 2114 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '2114'
=>>>>>>>>>>>>>>>>>>>>>> 4128 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '4128'
=>>>>>>>>>>>>>>>>>>>>>> 5693 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '5693'
=>>>>>>>>>>>>>>>>>>>>>> 7227 /lvl2/ Human Resources Manager (PLACEMENT  BIAK - PAPUA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (PLACEMENT  BIAK - PAPUA)", title_clean   = " (PLACEMENT  BIAK - PAPUA)", title_id  = "2636"  where id = '7227'
=>>>>>>>>>>>>>>>>>>>>>> 8603 /lvl2/ REGIONAL Human Resources MANAGER (PENEMPATAN TANGERANG & SIDOARJO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REGIONAL Human Resources MANAGER (PENEMPATAN TANGERANG & SIDOARJO)", title_clean   = "REGIONAL Human Resources MANAGER (PENEMPATAN TANGERANG & SIDOARJO)", title_id  = "2636"  where id = '8603'
=>>>>>>>>>>>>>>>>>>>>>> 8683 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '8683'
=>>>>>>>>>>>>>>>>>>>>>> 9231 /lvl2/ Office Manager / Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Office Manager / -idex-", title_clean   = "Office Manager / ", title_id  = "2636"  where id = '9231'
=>>>>>>>>>>>>>>>>>>>>>> 10590 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '10590'
=>>>>>>>>>>>>>>>>>>>>>> 10656 /lvl2/ Human Resources Manager (Hospitality)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hospitality)", title_clean   = " (Hospitality)", title_id  = "2636"  where id = '10656'
=>>>>>>>>>>>>>>>>>>>>>> 11601 /lvl2/ Human Resources Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "2636"  where id = '11601'
=>>>>>>>>>>>>>>>>>>>>>> 12153 /lvl2/ Human Resources Manager - English u002F Mandarin Speaker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - English u002F Mandarin Speaker", title_clean   = " - English u002F Mandarin Speaker", title_id  = "2636"  where id = '12153'
=>>>>>>>>>>>>>>>>>>>>>> 13340 /lvl2/ Human Resources Manager (South Kalimantan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (South Kalimantan)", title_clean   = " (South Kalimantan)", title_id  = "2636"  where id = '13340'
=>>>>>>>>>>>>>>>>>>>>>> 14068 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '14068'
=>>>>>>>>>>>>>>>>>>>>>> 14410 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '14410'
=>>>>>>>>>>>>>>>>>>>>>> 14428 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '14428'
=>>>>>>>>>>>>>>>>>>>>>> 18234 /lvl2/ Human Resources Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2636"  where id = '18234'
=>>>>>>>>>>>>>>>>>>>>>> 19174 /lvl2/ Human Resources Manager (Karawang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawang)", title_clean   = " (Karawang)", title_id  = "2636"  where id = '19174'
=>>>>>>>>>>>>>>>>>>>>>> 19645 /lvl2/ Human Resources MANAGER – COMPENSATION & BENEFIT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources MANAGER – COMPENSATION & BENEFIT", title_clean   = "Human Resources MANAGER – COMPENSATION & BENEFIT", title_id  = "2636"  where id = '19645'
=>>>>>>>>>>>>>>>>>>>>>> 19709 /lvl2/ Human Resources MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources MANAGER", title_clean   = "Human Resources MANAGER", title_id  = "2636"  where id = '19709'
=>>>>>>>>>>>>>>>>>>>>>> 20462 /lvl2/ Human Resources MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources MANAGER", title_clean   = "Human Resources MANAGER", title_id  = "2636"  where id = '20462'
1101 /lvl1/ Cook Helper Hot Kitchen
=>>>>>>>>>>>>>>>>>>>>>> 7324 /lvl2/ Cook Helper Hot Kitchen
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1101"  where id = '7324'
=>>>>>>>>>>>>>>>>>>>>>> 8780 /lvl2/ Cook Helper Hot Kitchen
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1101"  where id = '8780'
79 /lvl1/ Accounting & Tax Leader
=>>>>>>>>>>>>>>>>>>>>>> 9686 /lvl2/ Accounting & Tax Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "79"  where id = '9686'
5967 /lvl1/ Staff Admin Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 16471 /lvl2/ Staff Admin MarketPlace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Admin MarketPlace", title_clean   = "Staff Admin MarketPlace", title_id  = "5967"  where id = '16471'
6736 /lvl1/ Tenant Relation Manager
=>>>>>>>>>>>>>>>>>>>>>> 15303 /lvl2/ Tenant Relation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6736"  where id = '15303'
5969 /lvl1/ Staff Admin Procurement
=>>>>>>>>>>>>>>>>>>>>>> 16200 /lvl2/ Staff Admin Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5969"  where id = '16200'
6737 /lvl1/ Tenant Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 4418 /lvl2/ TENANT RELATION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TENANT RELATION OFFICER", title_clean   = "TENANT RELATION OFFICER", title_id  = "6737"  where id = '4418'
=>>>>>>>>>>>>>>>>>>>>>> 6099 /lvl2/ SPV TENANT RELATION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV TENANT RELATION OFFICER", title_clean   = "SPV TENANT RELATION OFFICER", title_id  = "6737"  where id = '6099'
=>>>>>>>>>>>>>>>>>>>>>> 6260 /lvl2/ TENANT RELATION OFFICER  /  LEASING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TENANT RELATION OFFICER  /  LEASING OFFICER", title_clean   = "TENANT RELATION OFFICER  /  LEASING OFFICER", title_id  = "6737"  where id = '6260'
=>>>>>>>>>>>>>>>>>>>>>> 12673 /lvl2/ Tenant Relation Officer - Lippo Plaza Jember
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Plaza Jember", title_clean   = " - Lippo Plaza Jember", title_id  = "6737"  where id = '12673'
=>>>>>>>>>>>>>>>>>>>>>> 12690 /lvl2/ Tenant Relation Officer - Lippo Plaza Jember
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Plaza Jember", title_clean   = " - Lippo Plaza Jember", title_id  = "6737"  where id = '12690'
=>>>>>>>>>>>>>>>>>>>>>> 12781 /lvl2/ Tenant Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6737"  where id = '12781'
=>>>>>>>>>>>>>>>>>>>>>> 18227 /lvl2/ Tenant Relation Officer - Blu Plaza
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Blu Plaza", title_clean   = " - Blu Plaza", title_id  = "6737"  where id = '18227'
=>>>>>>>>>>>>>>>>>>>>>> 18247 /lvl2/ Tenant Relation Officer - Blu Plaza
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Blu Plaza", title_clean   = " - Blu Plaza", title_id  = "6737"  where id = '18247'
3922 /lvl1/ Mobile Solution Analyst

=>>>>>>>>>>>>>>>>>>>>>> 2753 /lvl2/ Mobile Solution Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3922"  where id = '2753'
5458 /lvl1/ Senior Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 793 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '793'
=>>>>>>>>>>>>>>>>>>>>>> 5149 /lvl2/ Senior Accounting staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Accounting staff", title_clean   = "Senior Accounting staff", title_id  = "5458"  where id = '5149'
=>>>>>>>>>>>>>>>>>>>>>> 7377 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '7377'
=>>>>>>>>>>>>>>>>>>>>>> 8648 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '8648'
=>>>>>>>>>>>>>>>>>>>>>> 12095 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '12095'
=>>>>>>>>>>>>>>>>>>>>>> 13958 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '13958'
=>>>>>>>>>>>>>>>>>>>>>> 17112 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '17112'
=>>>>>>>>>>>>>>>>>>>>>> 17743 /lvl2/ SENIOR ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR ACCOUNTING STAFF", title_clean   = "SENIOR ACCOUNTING STAFF", title_id  = "5458"  where id = '17743'
=>>>>>>>>>>>>>>>>>>>>>> 18999 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '18999'
=>>>>>>>>>>>>>>>>>>>>>> 19908 /lvl2/ Senior Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5458"  where id = '19908'
6482 /lvl1/ Talent Acquisition Lead
=>>>>>>>>>>>>>>>>>>>>>> 10853 /lvl2/ Talent Acquisition Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6482"  where id = '10853'
=>>>>>>>>>>>>>>>>>>>>>> 13375 /lvl2/ Talent Acquisition Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6482"  where id = '13375'
=>>>>>>>>>>>>>>>>>>>>>> 13582 /lvl2/ Talent Acquisition Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6482"  where id = '13582'
3155 /lvl1/ Junior Accounting Staff
1621 /lvl1/ Early Childhood Teacher
=>>>>>>>>>>>>>>>>>>>>>> 1235 /lvl2/ EARLY CHILDHOOD TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EARLY CHILDHOOD TEACHER", title_clean   = "EARLY CHILDHOOD TEACHER", title_id  = "1621"  where id = '1235'
87 /lvl1/ Accounting Administator
=>>>>>>>>>>>>>>>>>>>>>> 14794 /lvl2/ Accounting Administator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "87"  where id = '14794'
1112 /lvl1/ Copywriter Social Media
=>>>>>>>>>>>>>>>>>>>>>> 8688 /lvl2/ Copywriter Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1112"  where id = '8688'
3416 /lvl1/ Logistics Admin Officer
=>>>>>>>>>>>>>>>>>>>>>> 18255 /lvl2/ Logistics Admin Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3416"  where id = '18255'
3674 /lvl1/ Marketing Creative Lead
=>>>>>>>>>>>>>>>>>>>>>> 3636 /lvl2/ Marketing Creative Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3674"  where id = '3636'
347 /lvl1/ Ajudan Asisten Pimpinan
=>>>>>>>>>>>>>>>>>>>>>> 4359 /lvl2/ Ajudan Asisten Pimpinan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "347"  where id = '4359'
2142 /lvl1/ Fund Relation Executive
=>>>>>>>>>>>>>>>>>>>>>> 8832 /lvl2/ Fund Relation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2142"  where id = '8832'
5726 /lvl1/ Shift Leader Production
=>>>>>>>>>>>>>>>>>>>>>> 18323 /lvl2/ SHIFT LEADER PRODUCTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SHIFT LEADER PRODUCTION", title_clean   = "SHIFT LEADER PRODUCTION", title_id  = "5726"  where id = '18323'
3935 /lvl1/ Motion Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 3846 /lvl2/ Motion Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3935"  where id = '3846'
=>>>>>>>>>>>>>>>>>>>>>> 7799 /lvl2/ Motion Graphic Designer – Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Tangerang Selatan", title_clean   = " – Tangerang Selatan", title_id  = "3935"  where id = '7799'
=>>>>>>>>>>>>>>>>>>>>>> 8123 /lvl2/ Motion Graphic Designer – Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Tangerang Selatan", title_clean   = " – Tangerang Selatan", title_id  = "3935"  where id = '8123'
=>>>>>>>>>>>>>>>>>>>>>> 12581 /lvl2/ Motion Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3935"  where id = '12581'
=>>>>>>>>>>>>>>>>>>>>>> 20546 /lvl2/ Motion Graphic Designer - Freelance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Freelance", title_clean   = " - Freelance", title_id  = "3935"  where id = '20546'
865 /lvl1/ Central Data Management
=>>>>>>>>>>>>>>>>>>>>>> 9384 /lvl2/ Central Data Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "865"  where id = '9384'
4705 /lvl1/ Qa Administration Staff
=>>>>>>>>>>>>>>>>>>>>>> 7526 /lvl2/ QA Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Administration Staff", title_clean   = "QA Administration Staff", title_id  = "4705"  where id = '7526'
5473 /lvl1/ Senior Auto Electrician
=>>>>>>>>>>>>>>>>>>>>>> 18018 /lvl2/ Senior Auto Electrician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5473"  where id = '18018'
6497 /lvl1/ Talent Sourcing Officer
=>>>>>>>>>>>>>>>>>>>>>> 17953 /lvl2/ Talent Sourcing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6497"  where id = '17953'
100 /lvl1/ Accounting Finance Site
=>>>>>>>>>>>>>>>>>>>>>> 19407 /lvl2/ Accounting Finance Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "100"  where id = '19407'
1124 /lvl1/ Corporate Communication
=>>>>>>>>>>>>>>>>>>>>>> 3306 /lvl2/ Corporate Communication
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1124"  where id = '3306'
=>>>>>>>>>>>>>>>>>>>>>> 7516 /lvl2/ CORPORATE COMMUNICATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE COMMUNICATION", title_clean   = "CORPORATE COMMUNICATION", title_id  = "1124"  where id = '7516'
=>>>>>>>>>>>>>>>>>>>>>> 19550 /lvl2/ Corporate Communications Manager (e-commerce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-s Manager (e-commerce)", title_clean   = "s Manager (e-commerce)", title_id  = "1124"  where id = '19550'
=>>>>>>>>>>>>>>>>>>>>>> 20584 /lvl2/ Investor Relations & Corporate Communication Jr. Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Investor Relations & -idex- Jr. Specialist", title_clean   = "Investor Relations &  Jr. Specialist", title_id  = "1124"  where id = '20584'
4452 /lvl1/ Product Evaluator Staff
=>>>>>>>>>>>>>>>>>>>>>> 17712 /lvl2/ PRODUCT EVALUATOR STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT EVALUATOR STAFF", title_clean   = "PRODUCT EVALUATOR STAFF", title_id  = "4452"  where id = '17712'
=>>>>>>>>>>>>>>>>>>>>>> 17730 /lvl2/ PRODUCT EVALUATOR STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT EVALUATOR STAFF", title_clean   = "PRODUCT EVALUATOR STAFF", title_id  = "4452"  where id = '17730'
5220 /lvl1/ Sales Manager Logistics
=>>>>>>>>>>>>>>>>>>>>>> 13950 /lvl2/ Sales Manager Logistics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5220"  where id = '13950'
5733 /lvl1/ Showroom Management Dps
=>>>>>>>>>>>>>>>>>>>>>> 9103 /lvl2/ Showroom Management DPS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Showroom Management DPS", title_clean   = "Showroom Management DPS", title_id  = "5733"  where id = '9103'
870 /lvl1/ Channel Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 17393 /lvl2/ Channel Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "870"  where id = '17393'
2919 /lvl1/ It Implementor Sukabumi

=>>>>>>>>>>>>>>>>>>>>>> 2345 /lvl2/ IT Implementor Sukabumi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Implementor Sukabumi", title_clean   = "IT Implementor Sukabumi", title_id  = "2919"  where id = '2345'
360 /lvl1/ Android & Web Developer
1896 /lvl1/ Field Marketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 17577 /lvl2/ Field Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1896"  where id = '17577'
=>>>>>>>>>>>>>>>>>>>>>> 18494 /lvl2/ Field Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1896"  where id = '18494'
5736 /lvl1/ Sipil / Tukang Bangunan
617 /lvl1/ Barista / Cook / Server
2665 /lvl1/ Implementation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7185 /lvl2/ Implementation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2665"  where id = '7185'
3177 /lvl1/ Kepala Bagian Pemasaran
=>>>>>>>>>>>>>>>>>>>>>> 6763 /lvl2/ Kepala Bagian Pemasaran
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3177"  where id = '6763'
106 /lvl1/ Accounting Junior Staff
=>>>>>>>>>>>>>>>>>>>>>> 4985 /lvl2/ Accounting Junior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "106"  where id = '4985'
=>>>>>>>>>>>>>>>>>>>>>> 6076 /lvl2/ Accounting Junior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "106"  where id = '6076'
1898 /lvl1/ Field Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 12307 /lvl2/ Field Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1898"  where id = '12307'
7018 /lvl1/ Youtube Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 15830 /lvl2/ YOUTUBE Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "YOUTUBE Content Creator", title_clean   = "YOUTUBE Content Creator", title_id  = "7018"  where id = '15830'
1899 /lvl1/ Field Operation Support
=>>>>>>>>>>>>>>>>>>>>>> 911 /lvl2/ Field Operation Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1899"  where id = '911'
364 /lvl1/ Android Developer Staff
=>>>>>>>>>>>>>>>>>>>>>> 5312 /lvl2/ Android Developer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "364"  where id = '5312'
620 /lvl1/ Barista Waitress Coffee
1392 /lvl1/ Demand Planning Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7445 /lvl2/ Demand Planning Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1392"  where id = '7445'
6256 /lvl1/ Supervisor Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 11318 /lvl2/ Supervisor Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6256"  where id = '11318'
1137 /lvl1/ Corporate Finance Staff
=>>>>>>>>>>>>>>>>>>>>>> 15482 /lvl2/ CORPORATE FINANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CORPORATE FINANCE STAFF", title_clean   = "CORPORATE FINANCE STAFF", title_id  = "1137"  where id = '15482'
2161 /lvl1/ GAme Developer / Html 5
6002 /lvl1/ Staff Business Analystt
115 /lvl1/ Accounting Section Head
=>>>>>>>>>>>>>>>>>>>>>> 585 /lvl2/ Accounting Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "115"  where id = '585'
=>>>>>>>>>>>>>>>>>>>>>> 3316 /lvl2/ Accounting Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "115"  where id = '3316'
1651 /lvl1/ Electrical & Automation
=>>>>>>>>>>>>>>>>>>>>>> 17115 /lvl2/ Electrical & Automation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1651"  where id = '17115'
4211 /lvl1/ People Business Partner
=>>>>>>>>>>>>>>>>>>>>>> 2917 /lvl2/ People Business Partner | Human ResourcesBP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- | Human ResourcesBP", title_clean   = " | Human ResourcesBP", title_id  = "4211"  where id = '2917'
4724 /lvl1/ Qa System Admin Support
=>>>>>>>>>>>>>>>>>>>>>> 12631 /lvl2/ QA System Admin Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA System Admin Support", title_clean   = "QA System Admin Support", title_id  = "4724"  where id = '12631'
5492 /lvl1/ Senior Content Reviewer
=>>>>>>>>>>>>>>>>>>>>>> 10603 /lvl2/ Senior Content Reviewer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5492"  where id = '10603'
6005 /lvl1/ Staff Collector Sibolga
=>>>>>>>>>>>>>>>>>>>>>> 3031 /lvl2/ Staff Collector Sibolga
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6005"  where id = '3031'
=>>>>>>>>>>>>>>>>>>>>>> 3843 /lvl2/ Staff Collector Sibolga
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6005"  where id = '3843'
6773 /lvl1/ Trade Marketing Analyst
=>>>>>>>>>>>>>>>>>>>>>> 12185 /lvl2/ Trade Marketing Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6773"  where id = '12185'
2934 /lvl1/ It Infrastructure Staff
=>>>>>>>>>>>>>>>>>>>>>> 11815 /lvl2/ IT Infrastructure Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Staff", title_clean   = "IT Infrastructure Staff", title_id  = "2934"  where id = '11815'
6774 /lvl1/ Trade Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 2847 /lvl2/ Trade Marketing Manager [Food Product]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- [Food Product]", title_clean   = " [Food Product]", title_id  = "6774"  where id = '2847'
=>>>>>>>>>>>>>>>>>>>>>> 15124 /lvl2/ Trade Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6774"  where id = '15124'
631 /lvl1/ Beauty Sales Consultant
=>>>>>>>>>>>>>>>>>>>>>> 1787 /lvl2/ Beauty Sales Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "631"  where id = '1787'
1144 /lvl1/ Corporate Legal Manager
=>>>>>>>>>>>>>>>>>>>>>> 6535 /lvl2/ Corporate Legal Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1144"  where id = '6535'
=>>>>>>>>>>>>>>>>>>>>>> 7707 /lvl2/ Corporate Legal Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1144"  where id = '7707'
5240 /lvl1/ Sales Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 2356 /lvl2/ Sales Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5240"  where id = '2356'
=>>>>>>>>>>>>>>>>>>>>>> 5497 /lvl2/ Sales Marketing Manager (Metland Cyber City)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Metland Cyber City)", title_clean   = " (Metland Cyber City)", title_id  = "5240"  where id = '5497'
=>>>>>>>>>>>>>>>>>>>>>> 9069 /lvl2/ Sales Marketing Manager (Metland Hotel Bekasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Metland Hotel Bekasi)", title_clean   = " (Metland Hotel Bekasi)", title_id  = "5240"  where id = '9069'
=>>>>>>>>>>>>>>>>>>>>>> 14771 /lvl2/ Sales Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5240"  where id = '14771'
377 /lvl1/ Apical Engineer Trainee
=>>>>>>>>>>>>>>>>>>>>>> 11290 /lvl2/ Apical Engineer Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "377"  where id = '11290'
1145 /lvl1/ Corporate Legal Officer
=>>>>>>>>>>>>>>>>>>>>>> 1404 /lvl2/ Corporate Legal Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1145"  where id = '1404'
=>>>>>>>>>>>>>>>>>>>>>> 10375 /lvl2/ Corporate Legal Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1145"  where id = '10375'
=>>>>>>>>>>>>>>>>>>>>>> 13951 /lvl2/ Corporate Legal Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1145"  where id = '13951'
5241 /lvl1/ Sales Marketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 2647 /lvl2/ Sales Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5241"  where id = '2647'
=>>>>>>>>>>>>>>>>>>>>>> 2822 /lvl2/ Sales Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5241"  where id = '2822'
=>>>>>>>>>>>>>>>>>>>>>> 5270 /lvl2/ Sales Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5241"  where id = '5270'
=>>>>>>>>>>>>>>>>>>>>>> 5271 /lvl2/ Sales Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5241"  where id = '5271'
5756 /lvl1/ Site Project Specialist

=>>>>>>>>>>>>>>>>>>>>>> 7867 /lvl2/ SITE PROJECT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE PROJECT SPECIALIST", title_clean   = "SITE PROJECT SPECIALIST", title_id  = "5756"  where id = '7867'
=>>>>>>>>>>>>>>>>>>>>>> 8180 /lvl2/ SITE PROJECT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SITE PROJECT SPECIALIST", title_clean   = "SITE PROJECT SPECIALIST", title_id  = "5756"  where id = '8180'
5757 /lvl1/ Site Project Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 20609 /lvl2/ Site Project Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5757"  where id = '20609'
383 /lvl1/ Application Development
=>>>>>>>>>>>>>>>>>>>>>> 8613 /lvl2/ Application Development Officer - Full Stack
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer - Full Stack", title_clean   = " Officer - Full Stack", title_id  = "383"  where id = '8613'
=>>>>>>>>>>>>>>>>>>>>>> 8824 /lvl2/ Application Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "383"  where id = '8824'
=>>>>>>>>>>>>>>>>>>>>>> 9538 /lvl2/ Senior Programmer - Application Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Programmer - -idex-", title_clean   = "Senior Programmer - ", title_id  = "383"  where id = '9538'
=>>>>>>>>>>>>>>>>>>>>>> 10026 /lvl2/ Mobile Application Development - Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile -idex- - Flutter Developer", title_clean   = "Mobile  - Flutter Developer", title_id  = "383"  where id = '10026'
=>>>>>>>>>>>>>>>>>>>>>> 10508 /lvl2/ Application Development - C#
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - C#", title_clean   = " - C#", title_id  = "383"  where id = '10508'
4479 /lvl1/ Product Specifier Staff
=>>>>>>>>>>>>>>>>>>>>>> 1955 /lvl2/ Product Specifier Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4479"  where id = '1955'
6528 /lvl1/ Tax Mandarin Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14379 /lvl2/ TAX MANDARIN SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX MANDARIN SUPERVISOR", title_clean   = "TAX MANDARIN SUPERVISOR", title_id  = "6528"  where id = '14379'
=>>>>>>>>>>>>>>>>>>>>>> 14413 /lvl2/ TAX MANDARIN SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX MANDARIN SUPERVISOR", title_clean   = "TAX MANDARIN SUPERVISOR", title_id  = "6528"  where id = '14413'
1154 /lvl1/ Corporate Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 4805 /lvl2/ Corporate Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1154"  where id = '4805'
4995 /lvl1/ Retail Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2259 /lvl2/ Retail Sales Supervisor (Cikarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cikarang)", title_clean   = " (Cikarang)", title_id  = "4995"  where id = '2259'
=>>>>>>>>>>>>>>>>>>>>>> 8835 /lvl2/ Retail Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4995"  where id = '8835'
5763 /lvl1/ Sitech Business Manager
=>>>>>>>>>>>>>>>>>>>>>> 18057 /lvl2/ Sitech Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5763"  where id = '18057'
=>>>>>>>>>>>>>>>>>>>>>> 18073 /lvl2/ Sitech Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5763"  where id = '18073'
6531 /lvl1/ Tax Operation Executive
=>>>>>>>>>>>>>>>>>>>>>> 13206 /lvl2/ Tax Operation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6531"  where id = '13206'
=>>>>>>>>>>>>>>>>>>>>>> 13223 /lvl2/ Tax Operation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6531"  where id = '13223'
1412 /lvl1/ Design & Engineer Staff
=>>>>>>>>>>>>>>>>>>>>>> 12236 /lvl2/ DESIGN & ENGINEER STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DESIGN & ENGINEER STAFF", title_clean   = "DESIGN & ENGINEER STAFF", title_id  = "1412"  where id = '12236'
3716 /lvl1/ Marketing Local Partner
=>>>>>>>>>>>>>>>>>>>>>> 7688 /lvl2/ Marketing Local Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3716"  where id = '7688'
2183 /lvl1/ General Affairs Manager
=>>>>>>>>>>>>>>>>>>>>>> 9257 /lvl2/ Human Resources - General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources - -idex-", title_clean   = "Human Resources - ", title_id  = "2183"  where id = '9257'
=>>>>>>>>>>>>>>>>>>>>>> 12753 /lvl2/ General Affairs MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "General Affairs MANAGER", title_clean   = "General Affairs MANAGER", title_id  = "2183"  where id = '12753'
=>>>>>>>>>>>>>>>>>>>>>> 13281 /lvl2/ General Affairs Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "2183"  where id = '13281'
=>>>>>>>>>>>>>>>>>>>>>> 13459 /lvl2/ General Affairs Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "2183"  where id = '13459'
=>>>>>>>>>>>>>>>>>>>>>> 16447 /lvl2/ General Affairs Manager (Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin)", title_clean   = " (Mandarin)", title_id  = "2183"  where id = '16447'
=>>>>>>>>>>>>>>>>>>>>>> 18344 /lvl2/ General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2183"  where id = '18344'
=>>>>>>>>>>>>>>>>>>>>>> 18358 /lvl2/ General Affairs Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2183"  where id = '18358'
2185 /lvl1/ General Affairs Officer
=>>>>>>>>>>>>>>>>>>>>>> 6065 /lvl2/ General Affairs Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2185"  where id = '6065'
=>>>>>>>>>>>>>>>>>>>>>> 11492 /lvl2/ General Affairs Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2185"  where id = '11492'
=>>>>>>>>>>>>>>>>>>>>>> 16488 /lvl2/ General Affairs Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2185"  where id = '16488'
6794 /lvl1/ Trainer Training Center
=>>>>>>>>>>>>>>>>>>>>>> 11295 /lvl2/ Trainer Training Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6794"  where id = '11295'
1676 /lvl1/ Email Marketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 5257 /lvl2/ Email Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1676"  where id = '5257'
3212 /lvl1/ Kepala Produksi GArment
=>>>>>>>>>>>>>>>>>>>>>> 19079 /lvl2/ Kepala Produksi Garment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Kepala Produksi Garment", title_clean   = "Kepala Produksi Garment", title_id  = "3212"  where id = '19079'
3726 /lvl1/ Marketing Micro Finance
=>>>>>>>>>>>>>>>>>>>>>> 6381 /lvl2/ MARKETING MICRO FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MICRO FINANCE", title_clean   = "MARKETING MICRO FINANCE", title_id  = "3726"  where id = '6381'
=>>>>>>>>>>>>>>>>>>>>>> 7528 /lvl2/ MARKETING MICRO FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MICRO FINANCE", title_clean   = "MARKETING MICRO FINANCE", title_id  = "3726"  where id = '7528'
656 /lvl1/ Blow Molding Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12466 /lvl2/ Blow Molding Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "656"  where id = '12466'
912 /lvl1/ Chief Financial Officer
=>>>>>>>>>>>>>>>>>>>>>> 4712 /lvl2/ CHIEF FINANCIAL OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHIEF FINANCIAL OFFICER", title_clean   = "CHIEF FINANCIAL OFFICER", title_id  = "912"  where id = '4712'
=>>>>>>>>>>>>>>>>>>>>>> 5085 /lvl2/ Chief Financial Officer (CFO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CFO)", title_clean   = " (CFO)", title_id  = "912"  where id = '5085'
5008 /lvl1/ Risk Control Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4944 /lvl2/ Risk Control Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5008"  where id = '4944'
1169 /lvl1/ Cost Accounting Manager

=>>>>>>>>>>>>>>>>>>>>>> 13165 /lvl2/ Cost Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1169"  where id = '13165'
2193 /lvl1/ General Affairs Officer
2449 /lvl1/ Housekeeping Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19982 /lvl2/ HOUSEKEEPING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HOUSEKEEPING SUPERVISOR", title_clean   = "HOUSEKEEPING SUPERVISOR", title_id  = "2449"  where id = '19982'
4497 /lvl1/ Production Pharmacycist
5265 /lvl1/ Sales Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 1600 /lvl2/ SOM (Sales Operation Manager)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOM (-idex-)", title_clean   = "SOM ()", title_id  = "5265"  where id = '1600'
=>>>>>>>>>>>>>>>>>>>>>> 4273 /lvl2/ Sales Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5265"  where id = '4273'
=>>>>>>>>>>>>>>>>>>>>>> 10249 /lvl2/ Modern Trade Sales Operation Manager (Jabodetabek Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Modern Trade -idex- (Jabodetabek Area)", title_clean   = "Modern Trade  (Jabodetabek Area)", title_id  = "5265"  where id = '10249'
1170 /lvl1/ Cost Accounting Officer
=>>>>>>>>>>>>>>>>>>>>>> 336 /lvl2/ Cost Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1170"  where id = '336'
=>>>>>>>>>>>>>>>>>>>>>> 16047 /lvl2/ COST ACCOUNTING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COST ACCOUNTING OFFICER", title_clean   = "COST ACCOUNTING OFFICER", title_id  = "1170"  where id = '16047'
3986 /lvl1/ It Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 5671 /lvl2/ Odoo Developer  /  IT Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Odoo Developer  /  IT Full Stack Developer", title_clean   = "Odoo Developer  /  IT Full Stack Developer", title_id  = "3986"  where id = '5671'
6291 /lvl1/ Supervisor Food Service
=>>>>>>>>>>>>>>>>>>>>>> 7093 /lvl2/ Supervisor Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6291"  where id = '7093'
1428 /lvl1/ Design Produk Furniture
=>>>>>>>>>>>>>>>>>>>>>> 1781 /lvl2/ Design Produk Furniture
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1428"  where id = '1781'
917 /lvl1/ Chief of Administration
=>>>>>>>>>>>>>>>>>>>>>> 18957 /lvl2/ Chief of Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "917"  where id = '18957'
4501 /lvl1/ Production Section Head
=>>>>>>>>>>>>>>>>>>>>>> 11443 /lvl2/ Production Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4501"  where id = '11443'
5014 /lvl1/ Risk Management Officer
=>>>>>>>>>>>>>>>>>>>>>> 1552 /lvl2/ Risk Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5014"  where id = '1552'
=>>>>>>>>>>>>>>>>>>>>>> 11339 /lvl2/ Risk Management Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5014"  where id = '11339'
6806 /lvl1/ Training Cordinator F&B
=>>>>>>>>>>>>>>>>>>>>>> 14268 /lvl2/ TRAINING CORDINATOR F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAINING CORDINATOR F&B", title_clean   = "TRAINING CORDINATOR F&B", title_id  = "6806"  where id = '14268'
663 /lvl1/ Branch Admin Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15145 /lvl2/ Branch Admin Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "663"  where id = '15145'
6551 /lvl1/ Team Leader Data Center
=>>>>>>>>>>>>>>>>>>>>>> 11465 /lvl2/ Team Leader Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6551"  where id = '11465'
408 /lvl1/ Art & Graphics Designer
=>>>>>>>>>>>>>>>>>>>>>> 1465 /lvl2/ Art & Graphics Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "408"  where id = '1465'
6296 /lvl1/ Supervisor Housekeeping
=>>>>>>>>>>>>>>>>>>>>>> 9346 /lvl2/ Supervisor Housekeeping
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6296"  where id = '9346'
1177 /lvl1/ Cost Control Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3015 /lvl2/ Cost Control Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1177"  where id = '3015'
666 /lvl1/ Branch Head Banjarmasin
=>>>>>>>>>>>>>>>>>>>>>> 11964 /lvl2/ Branch Head Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "666"  where id = '11964'
=>>>>>>>>>>>>>>>>>>>>>> 11985 /lvl2/ Branch Head Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "666"  where id = '11985'
4506 /lvl1/ Production Support Lead
=>>>>>>>>>>>>>>>>>>>>>> 7583 /lvl2/ Production Support Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4506"  where id = '7583'
6554 /lvl1/ Team Leader Engineering
=>>>>>>>>>>>>>>>>>>>>>> 17709 /lvl2/ Team Leader Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6554"  where id = '17709'
1179 /lvl1/ Cost Control Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3793 /lvl2/ Cost Control Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1179"  where id = '3793'
5532 /lvl1/ Senior Geotech Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7727 /lvl2/ Senior Geotech Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5532"  where id = '7727'
=>>>>>>>>>>>>>>>>>>>>>> 9200 /lvl2/ Senior Geotech Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5532"  where id = '9200'
5788 /lvl1/ Social Media Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '2'
=>>>>>>>>>>>>>>>>>>>>>> 15 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '15'
=>>>>>>>>>>>>>>>>>>>>>> 687 /lvl2/ Social Media Specialist (TIKTOK Shop)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TIKTOK Shop)", title_clean   = " (TIKTOK Shop)", title_id  = "5788"  where id = '687'
=>>>>>>>>>>>>>>>>>>>>>> 706 /lvl2/ Social Media Specialist (TIKTOK Shop)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TIKTOK Shop)", title_clean   = " (TIKTOK Shop)", title_id  = "5788"  where id = '706'
=>>>>>>>>>>>>>>>>>>>>>> 1593 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '1593'
=>>>>>>>>>>>>>>>>>>>>>> 2185 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '2185'
=>>>>>>>>>>>>>>>>>>>>>> 2487 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '2487'
=>>>>>>>>>>>>>>>>>>>>>> 3147 /lvl2/ Social Media Specialist - Kompas.com Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kompas.com Solo", title_clean   = " - Kompas.com Solo", title_id  = "5788"  where id = '3147'
=>>>>>>>>>>>>>>>>>>>>>> 3458 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '3458'
=>>>>>>>>>>>>>>>>>>>>>> 3682 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '3682'
=>>>>>>>>>>>>>>>>>>>>>> 3749 /lvl2/ Social Media Specialist  /   Social Media Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /   Social Media Strategist", title_clean   = "  /   Social Media Strategist", title_id  = "5788"  where id = '3749'
=>>>>>>>>>>>>>>>>>>>>>> 4963 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '4963'
=>>>>>>>>>>>>>>>>>>>>>> 5383 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '5383'
=>>>>>>>>>>>>>>>>>>>>>> 6479 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '6479'
=>>>>>>>>>>>>>>>>>>>>>> 6486 /lvl2/ SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA SPECIALIST", title_clean   = "SOCIAL MEDIA SPECIALIST", title_id  = "5788"  where id = '6486'
=>>>>>>>>>>>>>>>>>>>>>> 7317 /lvl2/ Social Media Specialist For IFGF Church
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- For IFGF Church", title_clean   = " For IFGF Church", title_id  = "5788"  where id = '7317'
=>>>>>>>>>>>>>>>>>>>>>> 7407 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '7407'
=>>>>>>>>>>>>>>>>>>>>>> 7547 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '7547'
=>>>>>>>>>>>>>>>>>>>>>> 7659 /lvl2/ SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA SPECIALIST", title_clean   = "SOCIAL MEDIA SPECIALIST", title_id  = "5788"  where id = '7659'
=>>>>>>>>>>>>>>>>>>>>>> 9363 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '9363'
=>>>>>>>>>>>>>>>>>>>>>> 9461 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '9461'
=>>>>>>>>>>>>>>>>>>>>>> 9761 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '9761'
=>>>>>>>>>>>>>>>>>>>>>> 10327 /lvl2/ SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA SPECIALIST", title_clean   = "SOCIAL MEDIA SPECIALIST", title_id  = "5788"  where id = '10327'
=>>>>>>>>>>>>>>>>>>>>>> 10681 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '10681'
=>>>>>>>>>>>>>>>>>>>>>> 11168 /lvl2/ SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA SPECIALIST", title_clean   = "SOCIAL MEDIA SPECIALIST", title_id  = "5788"  where id = '11168'
=>>>>>>>>>>>>>>>>>>>>>> 11281 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '11281'
=>>>>>>>>>>>>>>>>>>>>>> 12197 /lvl2/ SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA SPECIALIST", title_clean   = "SOCIAL MEDIA SPECIALIST", title_id  = "5788"  where id = '12197'
=>>>>>>>>>>>>>>>>>>>>>> 12542 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '12542'
=>>>>>>>>>>>>>>>>>>>>>> 12571 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '12571'
=>>>>>>>>>>>>>>>>>>>>>> 12739 /lvl2/ SOCIAL MEDIA SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA SPECIALIST", title_clean   = "SOCIAL MEDIA SPECIALIST", title_id  = "5788"  where id = '12739'
=>>>>>>>>>>>>>>>>>>>>>> 13417 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '13417'
=>>>>>>>>>>>>>>>>>>>>>> 13847 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '13847'
=>>>>>>>>>>>>>>>>>>>>>> 13965 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '13965'
=>>>>>>>>>>>>>>>>>>>>>> 14139 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '14139'
=>>>>>>>>>>>>>>>>>>>>>> 14154 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '14154'
=>>>>>>>>>>>>>>>>>>>>>> 14577 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '14577'
=>>>>>>>>>>>>>>>>>>>>>> 15081 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '15081'
=>>>>>>>>>>>>>>>>>>>>>> 15098 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '15098'
=>>>>>>>>>>>>>>>>>>>>>> 15344 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '15344'
=>>>>>>>>>>>>>>>>>>>>>> 15932 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '15932'
=>>>>>>>>>>>>>>>>>>>>>> 15948 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '15948'
=>>>>>>>>>>>>>>>>>>>>>> 17710 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '17710'
=>>>>>>>>>>>>>>>>>>>>>> 18455 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '18455'
=>>>>>>>>>>>>>>>>>>>>>> 18673 /lvl2/ Social Media Specialist \u002F Senior Copywriting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Senior Copywriting", title_clean   = " \u002F Senior Copywriting", title_id  = "5788"  where id = '18673'
=>>>>>>>>>>>>>>>>>>>>>> 18688 /lvl2/ Social Media Specialist \u002F Senior Copywriting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Senior Copywriting", title_clean   = " \u002F Senior Copywriting", title_id  = "5788"  where id = '18688'
=>>>>>>>>>>>>>>>>>>>>>> 19042 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '19042'
=>>>>>>>>>>>>>>>>>>>>>> 19045 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '19045'
=>>>>>>>>>>>>>>>>>>>>>> 20215 /lvl2/ Social Media Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5788"  where id = '20215'
=>>>>>>>>>>>>>>>>>>>>>> 20341 /lvl2/ Social Media Specialist (instagram)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (instagram)", title_clean   = " (instagram)", title_id  = "5788"  where id = '20341'
1437 /lvl1/ Desk Collection Manager

=>>>>>>>>>>>>>>>>>>>>>> 10333 /lvl2/ Desk Collection Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1437"  where id = '10333'
=>>>>>>>>>>>>>>>>>>>>>> 10362 /lvl2/ Desk Collection Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1437"  where id = '10362'
=>>>>>>>>>>>>>>>>>>>>>> 14115 /lvl2/ Desk Collection Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1437"  where id = '14115'
3998 /lvl1/ Human Resources Manager
5278 /lvl1/ Sales Project Executive
=>>>>>>>>>>>>>>>>>>>>>> 4425 /lvl2/ SALES PROJECT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES PROJECT EXECUTIVE", title_clean   = "SALES PROJECT EXECUTIVE", title_id  = "5278"  where id = '4425'
=>>>>>>>>>>>>>>>>>>>>>> 6268 /lvl2/ Sales Project Executive (Office Furniture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Office Furniture)", title_clean   = " (Office Furniture)", title_id  = "5278"  where id = '6268'
=>>>>>>>>>>>>>>>>>>>>>> 15421 /lvl2/ SALES PROJECT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES PROJECT EXECUTIVE", title_clean   = "SALES PROJECT EXECUTIVE", title_id  = "5278"  where id = '15421'
5023 /lvl1/ Ruby Back End Developer
5024 /lvl1/ Ruby On Rails Developer
=>>>>>>>>>>>>>>>>>>>>>> 4299 /lvl2/ Ruby on Rails Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Ruby on Rails Developer", title_clean   = "Ruby on Rails Developer", title_id  = "5024"  where id = '4299'
=>>>>>>>>>>>>>>>>>>>>>> 7329 /lvl2/ Ruby on Rails Developer (Senior \u002F Mid Level)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Ruby on Rails Developer (Senior \u002F Mid Level)", title_clean   = "Ruby on Rails Developer (Senior \u002F Mid Level)", title_id  = "5024"  where id = '7329'
=>>>>>>>>>>>>>>>>>>>>>> 9848 /lvl2/ Ruby on Rails Developers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Ruby on Rails Developers", title_clean   = "Ruby on Rails Developers", title_id  = "5024"  where id = '9848'
4513 /lvl1/ Program Iot Engineering
=>>>>>>>>>>>>>>>>>>>>>> 2633 /lvl2/ Program IOT Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Program IOT Engineering", title_clean   = "Program IOT Engineering", title_id  = "4513"  where id = '2633'
5793 /lvl1/ Social Media Strategist
=>>>>>>>>>>>>>>>>>>>>>> 1896 /lvl2/ Social Media Strategist - Kompas.com Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kompas.com Solo", title_clean   = " - Kompas.com Solo", title_id  = "5793"  where id = '1896'
=>>>>>>>>>>>>>>>>>>>>>> 3664 /lvl2/ Social Media Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5793"  where id = '3664'
=>>>>>>>>>>>>>>>>>>>>>> 6586 /lvl2/ Social Media Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5793"  where id = '6586'
=>>>>>>>>>>>>>>>>>>>>>> 14011 /lvl2/ Social Media Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5793"  where id = '14011'
1187 /lvl1/ Costumer Service Online
=>>>>>>>>>>>>>>>>>>>>>> 14143 /lvl2/ Costumer Service Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1187"  where id = '14143'
=>>>>>>>>>>>>>>>>>>>>>> 14518 /lvl2/ Costumer Service Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1187"  where id = '14518'
4004 /lvl1/ Officer Plant Scheduler
=>>>>>>>>>>>>>>>>>>>>>> 4042 /lvl2/ Officer Plant Scheduler
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4004"  where id = '4042'
2213 /lvl1/ German Language Teacher
=>>>>>>>>>>>>>>>>>>>>>> 8511 /lvl2/ German Language Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2213"  where id = '8511'
3493 /lvl1/ Manager Digital Content
3749 /lvl1/ Marketing Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 4555 /lvl2/ Marketing Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3749"  where id = '4555'
=>>>>>>>>>>>>>>>>>>>>>> 7885 /lvl2/ Marketing Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3749"  where id = '7885'
=>>>>>>>>>>>>>>>>>>>>>> 8205 /lvl2/ Marketing Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3749"  where id = '8205'
=>>>>>>>>>>>>>>>>>>>>>> 18426 /lvl2/ Marketing Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3749"  where id = '18426'
3750 /lvl1/ Marketing Sales Project
=>>>>>>>>>>>>>>>>>>>>>> 12432 /lvl2/ Marketing Sales Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3750"  where id = '12432'
3496 /lvl1/ Manager Divisi Domestik
=>>>>>>>>>>>>>>>>>>>>>> 13341 /lvl2/ Manager Divisi Domestik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3496"  where id = '13341'
1705 /lvl1/ Engineering Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 5457 /lvl2/ ENGINEERING COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEERING COORDINATOR", title_clean   = "ENGINEERING COORDINATOR", title_id  = "1705"  where id = '5457'
4265 /lvl1/ Personnel Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 9608 /lvl2/ Personnel Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4265"  where id = '9608'
6058 /lvl1/ Staff Human Resourcesga
=>>>>>>>>>>>>>>>>>>>>>> 364 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '364'
=>>>>>>>>>>>>>>>>>>>>>> 404 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '404'
=>>>>>>>>>>>>>>>>>>>>>> 2031 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '2031'
=>>>>>>>>>>>>>>>>>>>>>> 2152 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '2152'
=>>>>>>>>>>>>>>>>>>>>>> 2885 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '2885'
=>>>>>>>>>>>>>>>>>>>>>> 6627 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '6627'
=>>>>>>>>>>>>>>>>>>>>>> 11362 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '11362'
=>>>>>>>>>>>>>>>>>>>>>> 13189 /lvl2/ Staff Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesGA", title_clean   = "Staff Human ResourcesGA", title_id  = "6058"  where id = '13189'
=>>>>>>>>>>>>>>>>>>>>>> 18439 /lvl2/ STAFF Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF Human ResourcesGA", title_clean   = "STAFF Human ResourcesGA", title_id  = "6058"  where id = '18439'
4779 /lvl1/ Quality Assurance Staff
=>>>>>>>>>>>>>>>>>>>>>> 5451 /lvl2/ Quality Assurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4779"  where id = '5451'
=>>>>>>>>>>>>>>>>>>>>>> 6575 /lvl2/ Quality Assurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4779"  where id = '6575'
=>>>>>>>>>>>>>>>>>>>>>> 18325 /lvl2/ Quality Assurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4779"  where id = '18325'
=>>>>>>>>>>>>>>>>>>>>>> 18422 /lvl2/ Quality Assurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4779"  where id = '18422'
6059 /lvl1/ Staff Human Resourcesis
=>>>>>>>>>>>>>>>>>>>>>> 11948 /lvl2/ Staff Human ResourcesIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Human ResourcesIS", title_clean   = "Staff Human ResourcesIS", title_id  = "6059"  where id = '11948'
6571 /lvl1/ Technical Agent Support

=>>>>>>>>>>>>>>>>>>>>>> 18909 /lvl2/ Technical Agent Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6571"  where id = '18909'
4524 /lvl1/ Programmer Aplikasi Crm
=>>>>>>>>>>>>>>>>>>>>>> 4833 /lvl2/ Programmer Aplikasi CRM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Programmer Aplikasi CRM", title_clean   = "Programmer Aplikasi CRM", title_id  = "4524"  where id = '4833'
685 /lvl1/ Brand Marketing Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6518 /lvl2/ Brand Marketing Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "685"  where id = '6518'
687 /lvl1/ Brand Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 5480 /lvl2/ Brand Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "687"  where id = '5480'
=>>>>>>>>>>>>>>>>>>>>>> 20458 /lvl2/ Brand Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "687"  where id = '20458'
1455 /lvl1/ Device Testing Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4355 /lvl2/ Device Testing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1455"  where id = '4355'
4528 /lvl1/ Programmer Golang & Pwa
=>>>>>>>>>>>>>>>>>>>>>> 5971 /lvl2/ PROGRAMMER GOLANG & PWA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROGRAMMER GOLANG & PWA", title_clean   = "PROGRAMMER GOLANG & PWA", title_id  = "4528"  where id = '5971'
689 /lvl1/ Brand Promotion Manager
=>>>>>>>>>>>>>>>>>>>>>> 1598 /lvl2/ Brand Promotion Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "689"  where id = '1598'
4786 /lvl1/ Quality Control Analyst
=>>>>>>>>>>>>>>>>>>>>>> 4249 /lvl2/ Quality Control Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4786"  where id = '4249'
=>>>>>>>>>>>>>>>>>>>>>> 4313 /lvl2/ Quality Control Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4786"  where id = '4313'
=>>>>>>>>>>>>>>>>>>>>>> 5365 /lvl2/ Quality Control Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4786"  where id = '5365'
=>>>>>>>>>>>>>>>>>>>>>> 17614 /lvl2/ Quality Control Analyst Semarang (Bakery Manufacture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Semarang (Bakery Manufacture)", title_clean   = " Semarang (Bakery Manufacture)", title_id  = "4786"  where id = '17614'
6066 /lvl1/ Staff Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 5488 /lvl2/ Staff Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6066"  where id = '5488'
1971 /lvl1/ Finance Analyst Manager
=>>>>>>>>>>>>>>>>>>>>>> 13225 /lvl2/ Finance Analyst Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1971"  where id = '13225'
=>>>>>>>>>>>>>>>>>>>>>> 13248 /lvl2/ Finance Analyst Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1971"  where id = '13248'
3509 /lvl1/ Manager Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 20561 /lvl2/ Manager Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3509"  where id = '20561'
4789 /lvl1/ Quality Control Manager
=>>>>>>>>>>>>>>>>>>>>>> 12864 /lvl2/ Quality Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4789"  where id = '12864'
=>>>>>>>>>>>>>>>>>>>>>> 12881 /lvl2/ Quality Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4789"  where id = '12881'
=>>>>>>>>>>>>>>>>>>>>>> 14580 /lvl2/ Quality Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4789"  where id = '14580'
3254 /lvl1/ Konsultan Analyst Staff
=>>>>>>>>>>>>>>>>>>>>>> 1743 /lvl2/ Konsultan Analyst Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3254"  where id = '1743'
4022 /lvl1/ Opening Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 1614 /lvl2/ Opening Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4022"  where id = '1614'
4790 /lvl1/ Quality Control Officer
=>>>>>>>>>>>>>>>>>>>>>> 84 /lvl2/ Quality Control Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4790"  where id = '84'
=>>>>>>>>>>>>>>>>>>>>>> 4377 /lvl2/ IT Quality Control Officer (JS - IT QCO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT -idex- (JS - IT QCO)", title_clean   = "IT  (JS - IT QCO)", title_id  = "4790"  where id = '4377'
=>>>>>>>>>>>>>>>>>>>>>> 13863 /lvl2/ QUALITY CONTROL OFFICER (EBA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY CONTROL OFFICER (EBA)", title_clean   = "QUALITY CONTROL OFFICER (EBA)", title_id  = "4790"  where id = '13863'
=>>>>>>>>>>>>>>>>>>>>>> 13878 /lvl2/ QUALITY CONTROL OFFICER (EBA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY CONTROL OFFICER (EBA)", title_clean   = "QUALITY CONTROL OFFICER (EBA)", title_id  = "4790"  where id = '13878'
=>>>>>>>>>>>>>>>>>>>>>> 16397 /lvl2/ Quality Control Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4790"  where id = '16397'
4792 /lvl1/ Quality Control Project
=>>>>>>>>>>>>>>>>>>>>>> 289 /lvl2/ Quality Control Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4792"  where id = '289'
2746 /lvl1/ Interior Designer Staff
=>>>>>>>>>>>>>>>>>>>>>> 15218 /lvl2/ Interior Designer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2746"  where id = '15218'
=>>>>>>>>>>>>>>>>>>>>>> 18105 /lvl2/ Interior Designer Staff (ID: 549881)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ID: 549881)", title_clean   = " (ID: 549881)", title_id  = "2746"  where id = '18105'
3515 /lvl1/ Manager Kebun Aquaponik
=>>>>>>>>>>>>>>>>>>>>>> 7956 /lvl2/ MANAGER KEBUN AQUAPONIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER KEBUN AQUAPONIK", title_clean   = "MANAGER KEBUN AQUAPONIK", title_id  = "3515"  where id = '7956'
=>>>>>>>>>>>>>>>>>>>>>> 8271 /lvl2/ MANAGER KEBUN AQUAPONIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER KEBUN AQUAPONIK", title_clean   = "MANAGER KEBUN AQUAPONIK", title_id  = "3515"  where id = '8271'
=>>>>>>>>>>>>>>>>>>>>>> 9499 /lvl2/ MANAGER KEBUN AQUAPONIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER KEBUN AQUAPONIK", title_clean   = "MANAGER KEBUN AQUAPONIK", title_id  = "3515"  where id = '9499'
4027 /lvl1/ Operasional Manager F&B
=>>>>>>>>>>>>>>>>>>>>>> 16405 /lvl2/ OPERASIONAL MANAGER F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERASIONAL MANAGER F&B", title_clean   = "OPERASIONAL MANAGER F&B", title_id  = "4027"  where id = '16405'
3772 /lvl1/ Mass Talent Acquisition
=>>>>>>>>>>>>>>>>>>>>>> 20121 /lvl2/ Mass Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3772"  where id = '20121'
4540 /lvl1/ Project Admin Assistant
=>>>>>>>>>>>>>>>>>>>>>> 17300 /lvl2/ PROJECT ADMIN ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT ADMIN ASSISTANT", title_clean   = "PROJECT ADMIN ASSISTANT", title_id  = "4540"  where id = '17300'
4799 /lvl1/ Quality General Manager
=>>>>>>>>>>>>>>>>>>>>>> 7191 /lvl2/ Quality General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4799"  where id = '7191'
5567 /lvl1/ Senior Manager Keuangan
6079 /lvl1/ Staff Jurnal Accounting
=>>>>>>>>>>>>>>>>>>>>>> 10111 /lvl2/ Staff Jurnal Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6079"  where id = '10111'
2497 /lvl1/ Human Resources Manager
4548 /lvl1/ Project Control Manager
=>>>>>>>>>>>>>>>>>>>>>> 3309 /lvl2/ Project Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4548"  where id = '3309'
=>>>>>>>>>>>>>>>>>>>>>> 9409 /lvl2/ Project Control Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4548"  where id = '9409'
5317 /lvl1/ Sales Support Executive
=>>>>>>>>>>>>>>>>>>>>>> 1213 /lvl2/ Sales Support Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5317"  where id = '1213'
=>>>>>>>>>>>>>>>>>>>>>> 4724 /lvl2/ Sales Support Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5317"  where id = '4724'
=>>>>>>>>>>>>>>>>>>>>>> 19732 /lvl2/ SALES SUPPORT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES SUPPORT EXECUTIVE", title_clean   = "SALES SUPPORT EXECUTIVE", title_id  = "5317"  where id = '19732'
6853 /lvl1/ Underwriting Specialist

=>>>>>>>>>>>>>>>>>>>>>> 1838 /lvl2/ Underwriting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6853"  where id = '1838'
2502 /lvl1/ Human Resources Officer
=>>>>>>>>>>>>>>>>>>>>>> 4615 /lvl2/ Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2502"  where id = '4615'
=>>>>>>>>>>>>>>>>>>>>>> 5986 /lvl2/ Human Resources Officer /  Snr. Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- /  Snr. -idex-", title_clean   = " /  Snr. ", title_id  = "2502"  where id = '5986'
=>>>>>>>>>>>>>>>>>>>>>> 10076 /lvl2/ Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2502"  where id = '10076'
=>>>>>>>>>>>>>>>>>>>>>> 11836 /lvl2/ Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2502"  where id = '11836'
=>>>>>>>>>>>>>>>>>>>>>> 13032 /lvl2/ Human Resources Officer (recruitment Specialist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (recruitment Specialist)", title_clean   = " (recruitment Specialist)", title_id  = "2502"  where id = '13032'
=>>>>>>>>>>>>>>>>>>>>>> 13109 /lvl2/ Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2502"  where id = '13109'
=>>>>>>>>>>>>>>>>>>>>>> 13130 /lvl2/ Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2502"  where id = '13130'
=>>>>>>>>>>>>>>>>>>>>>> 17497 /lvl2/ Human Resources Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2502"  where id = '17497'
=>>>>>>>>>>>>>>>>>>>>>> 18128 /lvl2/ Human Resources Officer - Karawaci
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawaci", title_clean   = " - Karawaci", title_id  = "2502"  where id = '18128'
=>>>>>>>>>>>>>>>>>>>>>> 18142 /lvl2/ Human Resources Officer - Karawaci
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawaci", title_clean   = " - Karawaci", title_id  = "2502"  where id = '18142'
199 /lvl1/ Admin Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 549 /lvl2/ Admin Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "199"  where id = '549'
1479 /lvl1/ Digital Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 9077 /lvl2/ Digital Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1479"  where id = '9077'
=>>>>>>>>>>>>>>>>>>>>>> 15630 /lvl2/ Digital Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1479"  where id = '15630'
3015 /lvl1/ It Stradev / Programmer
5063 /lvl1/ Sales & Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 4218 /lvl2/ Sales & Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5063"  where id = '4218'
=>>>>>>>>>>>>>>>>>>>>>> 5394 /lvl2/ Sales & Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5063"  where id = '5394'
=>>>>>>>>>>>>>>>>>>>>>> 11740 /lvl2/ Sales & Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5063"  where id = '11740'
=>>>>>>>>>>>>>>>>>>>>>> 13058 /lvl2/ Sales & Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5063"  where id = '13058'
=>>>>>>>>>>>>>>>>>>>>>> 13853 /lvl2/ Sales & Marketing Staff - Domestik (Produk Kopi, Penempatan : Legoku002FCakung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Domestik (Produk Kopi, Penempatan : Legoku002FCakung)", title_clean   = " - Domestik (Produk Kopi, Penempatan : Legoku002FCakung)", title_id  = "5063"  where id = '13853'
4040 /lvl1/ Operation Handling Emkl
=>>>>>>>>>>>>>>>>>>>>>> 3295 /lvl2/ OPERATION HANDLING EMKL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION HANDLING EMKL", title_clean   = "OPERATION HANDLING EMKL", title_id  = "4040"  where id = '3295'
6089 /lvl1/ Staff Laundry & Packing
6860 /lvl1/ User Acquisition Intern
=>>>>>>>>>>>>>>>>>>>>>> 19631 /lvl2/ User Acquisition Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6860"  where id = '19631'
=>>>>>>>>>>>>>>>>>>>>>> 20460 /lvl2/ User Acquisition Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6860"  where id = '20460'
2765 /lvl1/ Internal Auditor Senior
=>>>>>>>>>>>>>>>>>>>>>> 1746 /lvl2/ Internal Auditor Senior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2765"  where id = '1746'
=>>>>>>>>>>>>>>>>>>>>>> 18858 /lvl2/ Internal Auditor Senior Officer (Compliance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (Compliance)", title_clean   = " Officer (Compliance)", title_id  = "2765"  where id = '18858'
5069 /lvl1/ Sales & Venture Planner
=>>>>>>>>>>>>>>>>>>>>>> 9619 /lvl2/ Sales & Venture Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5069"  where id = '9619'
3022 /lvl1/ It Support & Multimedia
=>>>>>>>>>>>>>>>>>>>>>> 11973 /lvl2/ IT support & Multimedia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT support & Multimedia", title_clean   = "IT support & Multimedia", title_id  = "3022"  where id = '11973'
2511 /lvl1/ Human Resources Payroll
=>>>>>>>>>>>>>>>>>>>>>> 11259 /lvl2/ Human Resources Payroll (North Jakarta Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (North Jakarta Based)", title_clean   = " (North Jakarta Based)", title_id  = "2511"  where id = '11259'
=>>>>>>>>>>>>>>>>>>>>>> 13203 /lvl2/ Human Resources Payroll , Compensation , & Benefit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- , Compensation , & Benefit", title_clean   = " , Compensation , & Benefit", title_id  = "2511"  where id = '13203'
=>>>>>>>>>>>>>>>>>>>>>> 13221 /lvl2/ Human Resources Payroll , Compensation , & Benefit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- , Compensation , & Benefit", title_clean   = " , Compensation , & Benefit", title_id  = "2511"  where id = '13221'
=>>>>>>>>>>>>>>>>>>>>>> 13769 /lvl2/ Human Resources PAYROLL OFFICER (Al-Azhar Summarecon Bekasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources PAYROLL OFFICER (Al-Azhar Summarecon Bekasi)", title_clean   = "Human Resources PAYROLL OFFICER (Al-Azhar Summarecon Bekasi)", title_id  = "2511"  where id = '13769'
=>>>>>>>>>>>>>>>>>>>>>> 13786 /lvl2/ Human Resources PAYROLL OFFICER (Al-Azhar Summarecon Bekasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources PAYROLL OFFICER (Al-Azhar Summarecon Bekasi)", title_clean   = "Human Resources PAYROLL OFFICER (Al-Azhar Summarecon Bekasi)", title_id  = "2511"  where id = '13786'
=>>>>>>>>>>>>>>>>>>>>>> 18116 /lvl2/ Human Resources Payroll
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2511"  where id = '18116'
3536 /lvl1/ Manager Produksi GArmen
=>>>>>>>>>>>>>>>>>>>>>> 13915 /lvl2/ Manager Produksi Garmen
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager Produksi Garmen", title_clean   = "Manager Produksi Garmen", title_id  = "3536"  where id = '13915'
5072 /lvl1/ Sales Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 2232 /lvl2/ Sales Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5072"  where id = '2232'
=>>>>>>>>>>>>>>>>>>>>>> 6683 /lvl2/ Sales Account Executive ( Background Media Or Advertising Agency )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Background Media Or Advertising Agency )", title_clean   = " ( Background Media Or Advertising Agency )", title_id  = "5072"  where id = '6683'
=>>>>>>>>>>>>>>>>>>>>>> 10762 /lvl2/ Enterprise Sales Account Executive Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Enterprise -idex- Bali", title_clean   = "Enterprise  Bali", title_id  = "5072"  where id = '10762'
=>>>>>>>>>>>>>>>>>>>>>> 14922 /lvl2/ SALES ACCOUNT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ACCOUNT EXECUTIVE", title_clean   = "SALES ACCOUNT EXECUTIVE", title_id  = "5072"  where id = '14922'
=>>>>>>>>>>>>>>>>>>>>>> 20468 /lvl2/ Sales Account Executive (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "5072"  where id = '20468'
4817 /lvl1/ Quantity Surveyor Staff

=>>>>>>>>>>>>>>>>>>>>>> 5406 /lvl2/ Quantity Surveyor Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4817"  where id = '5406'
=>>>>>>>>>>>>>>>>>>>>>> 12500 /lvl2/ Quantity Surveyor Staff (Landed)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Landed)", title_clean   = " (Landed)", title_id  = "4817"  where id = '12500'
5585 /lvl1/ Senior Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 5945 /lvl2/ Senior Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5585"  where id = '5945'
=>>>>>>>>>>>>>>>>>>>>>> 10626 /lvl2/ Senior Mobile Developer (Hybrid)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hybrid)", title_clean   = " (Hybrid)", title_id  = "5585"  where id = '10626'
=>>>>>>>>>>>>>>>>>>>>>> 15596 /lvl2/ SENIOR MOBILE DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR MOBILE DEVELOPER", title_clean   = "SENIOR MOBILE DEVELOPER", title_id  = "5585"  where id = '15596'
2770 /lvl1/ Internal Relation Staff
=>>>>>>>>>>>>>>>>>>>>>> 275 /lvl2/ Internal Relation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2770"  where id = '275'
5330 /lvl1/ Sales To Bahan Bangunan
=>>>>>>>>>>>>>>>>>>>>>> 11386 /lvl2/ SALES TO BAHAN BANGUNAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES TO BAHAN BANGUNAN", title_clean   = "SALES TO BAHAN BANGUNAN", title_id  = "5330"  where id = '11386'
5588 /lvl1/ Senior Network Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2196 /lvl2/ Senior Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5588"  where id = '2196'
=>>>>>>>>>>>>>>>>>>>>>> 2914 /lvl2/ Senior Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5588"  where id = '2914'
=>>>>>>>>>>>>>>>>>>>>>> 4131 /lvl2/ Senior Network Engineer (Remote)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Remote)", title_clean   = " (Remote)", title_id  = "5588"  where id = '4131'
=>>>>>>>>>>>>>>>>>>>>>> 10293 /lvl2/ Senior Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5588"  where id = '10293'
469 /lvl1/ Assistant Product Owner
=>>>>>>>>>>>>>>>>>>>>>> 9721 /lvl2/ Assistant Product Owner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "469"  where id = '9721'
1749 /lvl1/ ERP Business Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6804 /lvl2/ ERP Business Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1749"  where id = '6804'
2261 /lvl1/ Group Leader Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 10742 /lvl2/ Group Leader Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2261"  where id = '10742'
3541 /lvl1/ Manager Risk Management
=>>>>>>>>>>>>>>>>>>>>>> 1796 /lvl2/ Manager Risk Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3541"  where id = '1796'
=>>>>>>>>>>>>>>>>>>>>>> 14828 /lvl2/ Asst. Manager Risk Management & Compliance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Asst. -idex- & Compliance", title_clean   = "Asst.  & Compliance", title_id  = "3541"  where id = '14828'
215 /lvl1/ Admin Marketing Support
=>>>>>>>>>>>>>>>>>>>>>> 4658 /lvl2/ Admin Marketing Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "215"  where id = '4658'
=>>>>>>>>>>>>>>>>>>>>>> 4676 /lvl2/ Admin Marketing Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "215"  where id = '4676'
=>>>>>>>>>>>>>>>>>>>>>> 5900 /lvl2/ Admin Marketing Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "215"  where id = '5900'
5591 /lvl1/ Senior Pelaksana Proyek
=>>>>>>>>>>>>>>>>>>>>>> 946 /lvl2/ Senior Pelaksana Proyek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5591"  where id = '946'
3032 /lvl1/ It Support SAP Logistic
=>>>>>>>>>>>>>>>>>>>>>> 5680 /lvl2/ IT Support SAP Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support SAP Logistic", title_clean   = "IT Support SAP Logistic", title_id  = "3032"  where id = '5680'
5080 /lvl1/ Sales Admin Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 19323 /lvl2/ Sales Admin MarketPlace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Admin MarketPlace", title_clean   = "Sales Admin MarketPlace", title_id  = "5080"  where id = '19323'
473 /lvl1/ Assistant Brand Manager
=>>>>>>>>>>>>>>>>>>>>>> 1514 /lvl2/ Assistant Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "473"  where id = '1514'
=>>>>>>>>>>>>>>>>>>>>>> 13202 /lvl2/ Assistant Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "473"  where id = '13202'
=>>>>>>>>>>>>>>>>>>>>>> 15179 /lvl2/ Assistant Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "473"  where id = '15179'
=>>>>>>>>>>>>>>>>>>>>>> 17798 /lvl2/ Assistant Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "473"  where id = '17798'
=>>>>>>>>>>>>>>>>>>>>>> 17965 /lvl2/ ASSISTANT BRAND MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT BRAND MANAGER", title_clean   = "ASSISTANT BRAND MANAGER", title_id  = "473"  where id = '17965'
5593 /lvl1/ Senior People Operation
=>>>>>>>>>>>>>>>>>>>>>> 13260 /lvl2/ Senior People Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5593"  where id = '13260'
=>>>>>>>>>>>>>>>>>>>>>> 13444 /lvl2/ Senior People Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5593"  where id = '13444'
=>>>>>>>>>>>>>>>>>>>>>> 13463 /lvl2/ Senior People Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5593"  where id = '13463'
3037 /lvl1/ It System Administrator
=>>>>>>>>>>>>>>>>>>>>>> 1051 /lvl2/ IT System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Administrator", title_clean   = "IT System Administrator", title_id  = "3037"  where id = '1051'
=>>>>>>>>>>>>>>>>>>>>>> 7247 /lvl2/ IT System Administrator (Mining)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Administrator (Mining)", title_clean   = "IT System Administrator (Mining)", title_id  = "3037"  where id = '7247'
=>>>>>>>>>>>>>>>>>>>>>> 8671 /lvl2/ IT System Administrator (Mining)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Administrator (Mining)", title_clean   = "IT System Administrator (Mining)", title_id  = "3037"  where id = '8671'
3550 /lvl1/ Manager Teknik / Traksi
=>>>>>>>>>>>>>>>>>>>>>> 1760 /lvl2/ Manager Teknik / Traksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3550"  where id = '1760'
=>>>>>>>>>>>>>>>>>>>>>> 2417 /lvl2/ Manager Teknik / Traksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3550"  where id = '2417'
6623 /lvl1/ Technician Service Staf
=>>>>>>>>>>>>>>>>>>>>>> 20607 /lvl2/ Technician Service Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-ff", title_clean   = "ff", title_id  = "6623"  where id = '20607'
3808 /lvl1/ Mechanic Pool Kendaraan
1761 /lvl1/ Estate Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 2512 /lvl2/ Estate Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1761"  where id = '2512'
5345 /lvl1/ Sampling Document Staff
=>>>>>>>>>>>>>>>>>>>>>> 16318 /lvl2/ Sampling Document Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5345"  where id = '16318'
1506 /lvl1/ Digital Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 1557 /lvl2/ Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1506"  where id = '1557'
=>>>>>>>>>>>>>>>>>>>>>> 1594 /lvl2/ DIGITAL MARKETING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING STAFF", title_clean   = "DIGITAL MARKETING STAFF", title_id  = "1506"  where id = '1594'
=>>>>>>>>>>>>>>>>>>>>>> 4265 /lvl2/ Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1506"  where id = '4265'
=>>>>>>>>>>>>>>>>>>>>>> 6060 /lvl2/ Digital Marketing Staff for FB / IG / Tiktok Ads
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for FB / IG / Tiktok Ads", title_clean   = " for FB / IG / Tiktok Ads", title_id  = "1506"  where id = '6060'
=>>>>>>>>>>>>>>>>>>>>>> 6700 /lvl2/ Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1506"  where id = '6700'
=>>>>>>>>>>>>>>>>>>>>>> 8594 /lvl2/ Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1506"  where id = '8594'
=>>>>>>>>>>>>>>>>>>>>>> 8873 /lvl2/ Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1506"  where id = '8873'
=>>>>>>>>>>>>>>>>>>>>>> 11499 /lvl2/ Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1506"  where id = '11499'
=>>>>>>>>>>>>>>>>>>>>>> 15499 /lvl2/ Digital Marketing Staff (2)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (2)", title_clean   = " (2)", title_id  = "1506"  where id = '15499'
=>>>>>>>>>>>>>>>>>>>>>> 19025 /lvl2/ Electronic Imaging - Digital Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Electronic Imaging - -idex-", title_clean   = "Electronic Imaging - ", title_id  = "1506"  where id = '19025'
2787 /lvl1/ Intern Business Process

=>>>>>>>>>>>>>>>>>>>>>> 3512 /lvl2/ Intern Business Process
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2787"  where id = '3512'
=>>>>>>>>>>>>>>>>>>>>>> 4482 /lvl2/ Intern Business Process
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2787"  where id = '4482'
6883 /lvl1/ Vendor Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 12915 /lvl2/ Vendor Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6883"  where id = '12915'
2276 /lvl1/ Guru Bahasa Inggris Smp
=>>>>>>>>>>>>>>>>>>>>>> 7248 /lvl2/ Guru Bahasa Inggris SMP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Bahasa Inggris SMP", title_clean   = "Guru Bahasa Inggris SMP", title_id  = "2276"  where id = '7248'
5093 /lvl1/ Sales Associate Partner
=>>>>>>>>>>>>>>>>>>>>>> 13546 /lvl2/ Sales Associate Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5093"  where id = '13546'
5861 /lvl1/ Specification Executive
=>>>>>>>>>>>>>>>>>>>>>> 3787 /lvl2/ Specification Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5861"  where id = '3787'
6373 /lvl1/ Supervisor Restoran F&B
=>>>>>>>>>>>>>>>>>>>>>> 1951 /lvl2/ Supervisor Restoran F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6373"  where id = '1951'
5606 /lvl1/ Senior Purchasing Staff
=>>>>>>>>>>>>>>>>>>>>>> 8674 /lvl2/ Senior Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5606"  where id = '8674'
6630 /lvl1/ Technology Section Head
=>>>>>>>>>>>>>>>>>>>>>> 3714 /lvl2/ Technology Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6630"  where id = '3714'
231 /lvl1/ Admin Operational Staff
=>>>>>>>>>>>>>>>>>>>>>> 15924 /lvl2/ ADMIN OPERATIONAL STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN OPERATIONAL STAFF", title_clean   = "ADMIN OPERATIONAL STAFF", title_id  = "231"  where id = '15924'
5607 /lvl1/ Senior Qa / Qc Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8549 /lvl2/ Senior QA / QC Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior QA / QC Engineer", title_clean   = "Senior QA / QC Engineer", title_id  = "5607"  where id = '8549'
2792 /lvl1/ Intern Graphic Designer
=>>>>>>>>>>>>>>>>>>>>>> 9250 /lvl2/ Intern Graphic Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2792"  where id = '9250'
1513 /lvl1/ Digital Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 7529 /lvl2/ Digital Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1513"  where id = '7529'
=>>>>>>>>>>>>>>>>>>>>>> 15545 /lvl2/ Digital Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1513"  where id = '15545'
5098 /lvl1/ Sales Beauty Consultant
=>>>>>>>>>>>>>>>>>>>>>> 11835 /lvl2/ Sales Beauty Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5098"  where id = '11835'
1006 /lvl1/ Community Event Manager
=>>>>>>>>>>>>>>>>>>>>>> 9546 /lvl2/ Community Event Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1006"  where id = '9546'
=>>>>>>>>>>>>>>>>>>>>>> 10538 /lvl2/ Community Event Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1006"  where id = '10538'
1263 /lvl1/ Custom Clearance Import
=>>>>>>>>>>>>>>>>>>>>>> 1630 /lvl2/ Custom Clearance Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1263"  where id = '1630'
4335 /lvl1/ Powerbuilder Programmer
=>>>>>>>>>>>>>>>>>>>>>> 5833 /lvl2/ PowerBuilder Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PowerBuilder Programmer", title_clean   = "PowerBuilder Programmer", title_id  = "4335"  where id = '5833'
1520 /lvl1/ Digital Systems Officer
=>>>>>>>>>>>>>>>>>>>>>> 9591 /lvl2/ Digital Systems Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1520"  where id = '9591'
6130 /lvl1/ Staff Production System
=>>>>>>>>>>>>>>>>>>>>>> 1064 /lvl2/ Staff Production System
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6130"  where id = '1064'
6898 /lvl1/ Video Editor Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5982 /lvl2/ Video Editor Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6898"  where id = '5982'
4595 /lvl1/ Project Officer Syariah
=>>>>>>>>>>>>>>>>>>>>>> 19340 /lvl2/ Project Officer Syariah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4595"  where id = '19340'
1524 /lvl1/ Direct Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19301 /lvl2/ Direct Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1524"  where id = '19301'
4853 /lvl1/ React Native Programmer
=>>>>>>>>>>>>>>>>>>>>>> 6614 /lvl2/ React Native Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4853"  where id = '6614'
=>>>>>>>>>>>>>>>>>>>>>> 8450 /lvl2/ React Native Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4853"  where id = '8450'
5621 /lvl1/ Senior Research Analyst
=>>>>>>>>>>>>>>>>>>>>>> 5738 /lvl2/ Senior Research Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5621"  where id = '5738'
3062 /lvl1/ Java Back End Developer
2808 /lvl1/ Inventory Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 3864 /lvl2/ Inventory Control Staff (Pontianak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pontianak Branch)", title_clean   = " (Pontianak Branch)", title_id  = "2808"  where id = '3864'
=>>>>>>>>>>>>>>>>>>>>>> 16973 /lvl2/ Inventory Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2808"  where id = '16973'
=>>>>>>>>>>>>>>>>>>>>>> 18099 /lvl2/ Inventory Control Staff (Jakarta u002F Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta u002F Tangerang)", title_clean   = " (Jakarta u002F Tangerang)", title_id  = "2808"  where id = '18099'
4602 /lvl1/ Project Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 4061 /lvl2/ PROJECT SALES EXECUTIVE  /  Staff SALES UNTUK PROYEK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SALES EXECUTIVE  /  Staff SALES UNTUK PROYEK", title_clean   = "PROJECT SALES EXECUTIVE  /  Staff SALES UNTUK PROYEK", title_id  = "4602"  where id = '4061'
=>>>>>>>>>>>>>>>>>>>>>> 6383 /lvl2/ PROJECT SALES EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SALES EXECUTIVE", title_clean   = "PROJECT SALES EXECUTIVE", title_id  = "4602"  where id = '6383'
=>>>>>>>>>>>>>>>>>>>>>> 7703 /lvl2/ PROJECT SALES EXECUTIVE (DENPASAR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SALES EXECUTIVE (DENPASAR)", title_clean   = "PROJECT SALES EXECUTIVE (DENPASAR)", title_id  = "4602"  where id = '7703'
=>>>>>>>>>>>>>>>>>>>>>> 8037 /lvl2/ PROJECT SALES EXECUTIVE (DENPASAR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SALES EXECUTIVE (DENPASAR)", title_clean   = "PROJECT SALES EXECUTIVE (DENPASAR)", title_id  = "4602"  where id = '8037'
=>>>>>>>>>>>>>>>>>>>>>> 18539 /lvl2/ PROJECT SALES EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SALES EXECUTIVE", title_clean   = "PROJECT SALES EXECUTIVE", title_id  = "4602"  where id = '18539'
1531 /lvl1/ Distribution Specialist
=>>>>>>>>>>>>>>>>>>>>>> 17980 /lvl2/ Distribution Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1531"  where id = '17980'
253 /lvl1/ Admin Sales & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 12235 /lvl2/ Admin Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "253"  where id = '12235'
5118 /lvl1/ Sales Coordinator Staff
=>>>>>>>>>>>>>>>>>>>>>> 19727 /lvl2/ SALES COORDINATOR STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES COORDINATOR STAFF", title_clean   = "SALES COORDINATOR STAFF", title_id  = "5118"  where id = '19727'
1536 /lvl1/ Document Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 11502 /lvl2/ Document Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1536"  where id = '11502'
3586 /lvl1/ Manufacturing Engineer

=>>>>>>>>>>>>>>>>>>>>>> 17838 /lvl2/ Manufacturing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3586"  where id = '17838'
3079 /lvl1/ Junior Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 3798 /lvl2/ JUNIOR ACCOUNT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR ACCOUNT MANAGER", title_clean   = "JUNIOR ACCOUNT MANAGER", title_id  = "3079"  where id = '3798'
4871 /lvl1/ Recruitment & Training
3848 /lvl1/ Medical Representative
=>>>>>>>>>>>>>>>>>>>>>> 1451 /lvl2/ MEDICAL REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL REPRESENTATIVE", title_clean   = "MEDICAL REPRESENTATIVE", title_id  = "3848"  where id = '1451'
=>>>>>>>>>>>>>>>>>>>>>> 1632 /lvl2/ Medical Representative (Code: Medrep - TRF)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Code: Medrep - TRF)", title_clean   = " (Code: Medrep - TRF)", title_id  = "3848"  where id = '1632'
=>>>>>>>>>>>>>>>>>>>>>> 1816 /lvl2/ Medical Representative (Sales & Marketing Farmasi) Sumatera
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales & Marketing Farmasi) Sumatera", title_clean   = " (Sales & Marketing Farmasi) Sumatera", title_id  = "3848"  where id = '1816'
=>>>>>>>>>>>>>>>>>>>>>> 3422 /lvl2/ Medical Representative (Sales & Marketing Farmasi) Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales & Marketing Farmasi) Jawa Timur", title_clean   = " (Sales & Marketing Farmasi) Jawa Timur", title_id  = "3848"  where id = '3422'
=>>>>>>>>>>>>>>>>>>>>>> 3432 /lvl2/ Medical Representative (Sales & Marketing Farmasi) Jawa Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales & Marketing Farmasi) Jawa Barat", title_clean   = " (Sales & Marketing Farmasi) Jawa Barat", title_id  = "3848"  where id = '3432'
=>>>>>>>>>>>>>>>>>>>>>> 3647 /lvl2/ Medical Representative (Sales & Marketing Farmasi) Jawa Tengah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales & Marketing Farmasi) Jawa Tengah", title_clean   = " (Sales & Marketing Farmasi) Jawa Tengah", title_id  = "3848"  where id = '3647'
=>>>>>>>>>>>>>>>>>>>>>> 3789 /lvl2/ Medical Representative (Sales & Marketing Farmasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales & Marketing Farmasi)", title_clean   = " (Sales & Marketing Farmasi)", title_id  = "3848"  where id = '3789'
=>>>>>>>>>>>>>>>>>>>>>> 4184 /lvl2/ Medical Representative (Laboratory) - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Laboratory) - Makassar", title_clean   = " (Laboratory) - Makassar", title_id  = "3848"  where id = '4184'
=>>>>>>>>>>>>>>>>>>>>>> 7001 /lvl2/ Medical Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3848"  where id = '7001'
=>>>>>>>>>>>>>>>>>>>>>> 8520 /lvl2/ Medical Representative (Area Manado, Ambon & Palopo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Manado, Ambon & Palopo)", title_clean   = " (Area Manado, Ambon & Palopo)", title_id  = "3848"  where id = '8520'
=>>>>>>>>>>>>>>>>>>>>>> 8803 /lvl2/ Medical Representative Pekanbaru
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pekanbaru", title_clean   = " Pekanbaru", title_id  = "3848"  where id = '8803'
=>>>>>>>>>>>>>>>>>>>>>> 9253 /lvl2/ Medical Representative Padang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Padang", title_clean   = " Padang", title_id  = "3848"  where id = '9253'
=>>>>>>>>>>>>>>>>>>>>>> 9854 /lvl2/ Medical Representative (Sales & Marketing Farmasi) - Jabodetabek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales & Marketing Farmasi) - Jabodetabek", title_clean   = " (Sales & Marketing Farmasi) - Jabodetabek", title_id  = "3848"  where id = '9854'
=>>>>>>>>>>>>>>>>>>>>>> 9885 /lvl2/ Medical Representative (Malang,Yogya,Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Malang,Yogya,Surabaya)", title_clean   = " (Malang,Yogya,Surabaya)", title_id  = "3848"  where id = '9885'
=>>>>>>>>>>>>>>>>>>>>>> 10177 /lvl2/ Medical Representative Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Medan", title_clean   = " Medan", title_id  = "3848"  where id = '10177'
=>>>>>>>>>>>>>>>>>>>>>> 10282 /lvl2/ MEDICAL REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL REPRESENTATIVE", title_clean   = "MEDICAL REPRESENTATIVE", title_id  = "3848"  where id = '10282'
=>>>>>>>>>>>>>>>>>>>>>> 10314 /lvl2/ Medical Representative Jambi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jambi", title_clean   = " Jambi", title_id  = "3848"  where id = '10314'
=>>>>>>>>>>>>>>>>>>>>>> 10430 /lvl2/ Medical Representative Malang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Malang", title_clean   = " Malang", title_id  = "3848"  where id = '10430'
=>>>>>>>>>>>>>>>>>>>>>> 11899 /lvl2/ MEDICAL REPRESENTATIVE (BOJONEGORO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL REPRESENTATIVE (BOJONEGORO)", title_clean   = "MEDICAL REPRESENTATIVE (BOJONEGORO)", title_id  = "3848"  where id = '11899'
=>>>>>>>>>>>>>>>>>>>>>> 12085 /lvl2/ Walk in Interview Medical Representative Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Walk in Interview -idex- Semarang", title_clean   = "Walk in Interview  Semarang", title_id  = "3848"  where id = '12085'
=>>>>>>>>>>>>>>>>>>>>>> 17385 /lvl2/ Sales Specialist (Medical Representative)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Specialist (-idex-)", title_clean   = "Sales Specialist ()", title_id  = "3848"  where id = '17385'
=>>>>>>>>>>>>>>>>>>>>>> 18115 /lvl2/ Medical Representative (Product Specialist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Product Specialist)", title_clean   = " (Product Specialist)", title_id  = "3848"  where id = '18115'
=>>>>>>>>>>>>>>>>>>>>>> 18585 /lvl2/ Professional Medical Representative (Beberapa Kota)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- (Beberapa Kota)", title_clean   = "Professional  (Beberapa Kota)", title_id  = "3848"  where id = '18585'
=>>>>>>>>>>>>>>>>>>>>>> 19661 /lvl2/ Walk in Interview Medical Representative Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Walk in Interview -idex- Jakarta", title_clean   = "Walk in Interview  Jakarta", title_id  = "3848"  where id = '19661'
=>>>>>>>>>>>>>>>>>>>>>> 19677 /lvl2/ Walk in Interview Medical Representative Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Walk in Interview -idex- Yogyakarta", title_clean   = "Walk in Interview  Yogyakarta", title_id  = "3848"  where id = '19677'
=>>>>>>>>>>>>>>>>>>>>>> 20109 /lvl2/ MEDICAL REPRESENTATIVE (SURABAYA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEDICAL REPRESENTATIVE (SURABAYA)", title_clean   = "MEDICAL REPRESENTATIVE (SURABAYA)", title_id  = "3848"  where id = '20109'
=>>>>>>>>>>>>>>>>>>>>>> 20331 /lvl2/ Walk in Interview Medical Representative Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Walk in Interview -idex- Jakarta", title_clean   = "Walk in Interview  Jakarta", title_id  = "3848"  where id = '20331'
=>>>>>>>>>>>>>>>>>>>>>> 20372 /lvl2/ Walk in Interview Medical Representative Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Walk in Interview -idex- Yogyakarta", title_clean   = "Walk in Interview  Yogyakarta", title_id  = "3848"  where id = '20372'
2826 /lvl1/ Ios & Kotlin Developer
4362 /lvl1/ Pre Sales Section Head
=>>>>>>>>>>>>>>>>>>>>>> 7249 /lvl2/ Pre Sales Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4362"  where id = '7249'
4875 /lvl1/ Recruitment Consultant
=>>>>>>>>>>>>>>>>>>>>>> 3982 /lvl2/ Recruitment Consultant (Sales Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales Consultant)", title_clean   = " (Sales Consultant)", title_id  = "4875"  where id = '3982'
=>>>>>>>>>>>>>>>>>>>>>> 5001 /lvl2/ Recruitment Consultant (Sales Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales Consultant)", title_clean   = " (Sales Consultant)", title_id  = "4875"  where id = '5001'
=>>>>>>>>>>>>>>>>>>>>>> 5216 /lvl2/ Recruitment consultant-Mandarin speaker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Recruitment consultant-Mandarin speaker", title_clean   = "Recruitment consultant-Mandarin speaker", title_id  = "4875"  where id = '5216'
=>>>>>>>>>>>>>>>>>>>>>> 5518 /lvl2/ RECRUITMENT CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT CONSULTANT", title_clean   = "RECRUITMENT CONSULTANT", title_id  = "4875"  where id = '5518'
=>>>>>>>>>>>>>>>>>>>>>> 6098 /lvl2/ Executive Recruitment Consultant  /  Talent acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Executive -idex-  /  Talent acquisition", title_clean   = "Executive   /  Talent acquisition", title_id  = "4875"  where id = '6098'
=>>>>>>>>>>>>>>>>>>>>>> 14795 /lvl2/ Recruitment Consultant (Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales)", title_clean   = " (Sales)", title_id  = "4875"  where id = '14795'
4621 /lvl1/ Proof of Delivery Lead

=>>>>>>>>>>>>>>>>>>>>>> 14250 /lvl2/ Proof of Delivery Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4621"  where id = '14250'
526 /lvl1/ Assistant Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 6242 /lvl2/ Assistant merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant merchandiser", title_clean   = "Assistant merchandiser", title_id  = "526"  where id = '6242'
1551 /lvl1/ Dokter Spesialis Kulit
=>>>>>>>>>>>>>>>>>>>>>> 3899 /lvl2/ Dokter Spesialis Kulit Aesthetic Dermatologist Dermatovenerologist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Aesthetic Dermatologist Dermatovenerologist", title_clean   = " Aesthetic Dermatologist Dermatovenerologist", title_id  = "1551"  where id = '3899'
5392 /lvl1/ Secondary Math Teacher
=>>>>>>>>>>>>>>>>>>>>>> 5169 /lvl2/ Secondary Math Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5392"  where id = '5169'
2065 /lvl1/ Fo Project Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 6155 /lvl2/ FO Project Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FO Project Coordinator", title_clean   = "FO Project Coordinator", title_id  = "2065"  where id = '6155'
3345 /lvl1/ Legal & Comdev Officer
5906 /lvl1/ Staff IT Administrator
=>>>>>>>>>>>>>>>>>>>>>> 5606 /lvl2/ Staff IT ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff IT ADMINISTRATOR", title_clean   = "Staff IT ADMINISTRATOR", title_id  = "5906"  where id = '5606'
19 /lvl1/ Account / Sales Leader
=>>>>>>>>>>>>>>>>>>>>>> 6045 /lvl2/ Account / Sales Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "19"  where id = '6045'
4883 /lvl1/ Recruitment Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1060 /lvl2/ Recruitment Specialist Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jakarta", title_clean   = " Jakarta", title_id  = "4883"  where id = '1060'
=>>>>>>>>>>>>>>>>>>>>>> 1622 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '1622'
=>>>>>>>>>>>>>>>>>>>>>> 2131 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '2131'
=>>>>>>>>>>>>>>>>>>>>>> 2856 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '2856'
=>>>>>>>>>>>>>>>>>>>>>> 4788 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '4788'
=>>>>>>>>>>>>>>>>>>>>>> 5155 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '5155'
=>>>>>>>>>>>>>>>>>>>>>> 7789 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '7789'
=>>>>>>>>>>>>>>>>>>>>>> 8109 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '8109'
=>>>>>>>>>>>>>>>>>>>>>> 8994 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '8994'
=>>>>>>>>>>>>>>>>>>>>>> 11686 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '11686'
=>>>>>>>>>>>>>>>>>>>>>> 11818 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '11818'
=>>>>>>>>>>>>>>>>>>>>>> 12896 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '12896'
=>>>>>>>>>>>>>>>>>>>>>> 13269 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '13269'
=>>>>>>>>>>>>>>>>>>>>>> 13478 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '13478'
=>>>>>>>>>>>>>>>>>>>>>> 13894 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '13894'
=>>>>>>>>>>>>>>>>>>>>>> 13910 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '13910'
=>>>>>>>>>>>>>>>>>>>>>> 14904 /lvl2/ Recruitment Specialist (with Travelling Requirement)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (with Travelling Requirement)", title_clean   = " (with Travelling Requirement)", title_id  = "4883"  where id = '14904'
=>>>>>>>>>>>>>>>>>>>>>> 16729 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '16729'
=>>>>>>>>>>>>>>>>>>>>>> 17621 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '17621'
=>>>>>>>>>>>>>>>>>>>>>> 17986 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '17986'
=>>>>>>>>>>>>>>>>>>>>>> 18767 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '18767'
=>>>>>>>>>>>>>>>>>>>>>> 19683 /lvl2/ Recruitment Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4883"  where id = '19683'
4885 /lvl1/ Recruitment Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2815 /lvl2/ Recruitment Supervisor (english\u002Fmandarin speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (english\u002Fmandarin speaker)", title_clean   = " (english\u002Fmandarin speaker)", title_id  = "4885"  where id = '2815'
=>>>>>>>>>>>>>>>>>>>>>> 3434 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '3434'
=>>>>>>>>>>>>>>>>>>>>>> 3854 /lvl2/ RECRUITMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT SUPERVISOR", title_clean   = "RECRUITMENT SUPERVISOR", title_id  = "4885"  where id = '3854'
=>>>>>>>>>>>>>>>>>>>>>> 4400 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '4400'
=>>>>>>>>>>>>>>>>>>>>>> 6214 /lvl2/ Recruitment supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Recruitment supervisor", title_clean   = "Recruitment supervisor", title_id  = "4885"  where id = '6214'
=>>>>>>>>>>>>>>>>>>>>>> 7485 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '7485'
=>>>>>>>>>>>>>>>>>>>>>> 7996 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '7996'
=>>>>>>>>>>>>>>>>>>>>>> 8307 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '8307'
=>>>>>>>>>>>>>>>>>>>>>> 8964 /lvl2/ Recruitment Supervisor (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "4885"  where id = '8964'
=>>>>>>>>>>>>>>>>>>>>>> 9528 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '9528'
=>>>>>>>>>>>>>>>>>>>>>> 10403 /lvl2/ Recruitment Supervisor (Jawa Tengah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jawa Tengah)", title_clean   = " (Jawa Tengah)", title_id  = "4885"  where id = '10403'
=>>>>>>>>>>>>>>>>>>>>>> 17718 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '17718'
=>>>>>>>>>>>>>>>>>>>>>> 19448 /lvl2/ Recruitment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4885"  where id = '19448'
3350 /lvl1/ Legal & Corsec Officer
=>>>>>>>>>>>>>>>>>>>>>> 14692 /lvl2/ Legal & Corsec Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3350"  where id = '14692'
=>>>>>>>>>>>>>>>>>>>>>> 15092 /lvl2/ Legal & Corsec Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3350"  where id = '15092'
5654 /lvl1/ Senior System Engineer

=>>>>>>>>>>>>>>>>>>>>>> 2228 /lvl2/ Senior System Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5654"  where id = '2228'
=>>>>>>>>>>>>>>>>>>>>>> 3406 /lvl2/ Senior System Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5654"  where id = '3406'
=>>>>>>>>>>>>>>>>>>>>>> 10267 /lvl2/ Senior System Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5654"  where id = '10267'
1560 /lvl1/ Dosen Tetap Pariwisata
=>>>>>>>>>>>>>>>>>>>>>> 19909 /lvl2/ DOSEN TETAP PARIWISATA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOSEN TETAP PARIWISATA", title_clean   = "DOSEN TETAP PARIWISATA", title_id  = "1560"  where id = '19909'
4632 /lvl1/ Property Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 4399 /lvl2/ Property Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4632"  where id = '4399'
1817 /lvl1/ Expert In Power System
=>>>>>>>>>>>>>>>>>>>>>> 19073 /lvl2/ Expert in Power system
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Expert in Power system", title_clean   = "Expert in Power system", title_id  = "1817"  where id = '19073'
1562 /lvl1/ Dplk Operational Staff
=>>>>>>>>>>>>>>>>>>>>>> 4762 /lvl2/ DPLK Operational Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DPLK Operational Staff", title_clean   = "DPLK Operational Staff", title_id  = "1562"  where id = '4762'
1818 /lvl1/ Expert Market Research
=>>>>>>>>>>>>>>>>>>>>>> 6593 /lvl2/ Expert Market Research
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1818"  where id = '6593'
2842 /lvl1/ It Application Officer
=>>>>>>>>>>>>>>>>>>>>>> 10880 /lvl2/ IT Application Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Officer", title_clean   = "IT Application Officer", title_id  = "2842"  where id = '10880'
5402 /lvl1/ Secretary For Director
=>>>>>>>>>>>>>>>>>>>>>> 5931 /lvl2/ SECRETARY FOR DIRECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECRETARY FOR DIRECTOR", title_clean   = "SECRETARY FOR DIRECTOR", title_id  = "5402"  where id = '5931'
6682 /lvl1/ Teknisi Mesin Industri
=>>>>>>>>>>>>>>>>>>>>>> 1463 /lvl2/ TEKNISI MESIN INDUSTRI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI MESIN INDUSTRI", title_clean   = "TEKNISI MESIN INDUSTRI", title_id  = "6682"  where id = '1463'
3867 /lvl1/ Merchandise Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3483 /lvl2/ Merchandise Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3867"  where id = '3483'
1821 /lvl1/ Expert English Teacher
=>>>>>>>>>>>>>>>>>>>>>> 10326 /lvl2/ Expert English Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1821"  where id = '10326'
2333 /lvl1/ Head Digital Marketing
=>>>>>>>>>>>>>>>>>>>>>> 16670 /lvl2/ Head Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2333"  where id = '16670'
6685 /lvl1/ Teknisi Mesin Printing
=>>>>>>>>>>>>>>>>>>>>>> 14968 /lvl2/ Teknisi Mesin Printing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6685"  where id = '14968'
1822 /lvl1/ Expert History Teacher
=>>>>>>>>>>>>>>>>>>>>>> 10040 /lvl2/ Expert History Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1822"  where id = '10040'
2846 /lvl1/ It Application Support
=>>>>>>>>>>>>>>>>>>>>>> 4326 /lvl2/ IT Application Support  /  Software Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Support  /  Software Technical Support", title_clean   = "IT Application Support  /  Software Technical Support", title_id  = "2846"  where id = '4326'
=>>>>>>>>>>>>>>>>>>>>>> 8623 /lvl2/ IT Application Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Support", title_clean   = "IT Application Support", title_id  = "2846"  where id = '8623'
=>>>>>>>>>>>>>>>>>>>>>> 13227 /lvl2/ IT Application Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Support", title_clean   = "IT Application Support", title_id  = "2846"  where id = '13227'
=>>>>>>>>>>>>>>>>>>>>>> 16166 /lvl2/ IT Application Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Support", title_clean   = "IT Application Support", title_id  = "2846"  where id = '16166'
=>>>>>>>>>>>>>>>>>>>>>> 17925 /lvl2/ IT APPLICATION SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT APPLICATION SUPPORT", title_clean   = "IT APPLICATION SUPPORT", title_id  = "2846"  where id = '17925'
6686 /lvl1/ Teknisi Mesin Produksi
=>>>>>>>>>>>>>>>>>>>>>> 14074 /lvl2/ Teknisi Mesin Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6686"  where id = '14074'
=>>>>>>>>>>>>>>>>>>>>>> 14439 /lvl2/ Teknisi Mesin Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6686"  where id = '14439'
2591 /lvl1/ Hse K3 Bangunan Gedung
=>>>>>>>>>>>>>>>>>>>>>> 18280 /lvl2/ HSE K3 Bangunan Gedung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE K3 Bangunan Gedung", title_clean   = "HSE K3 Bangunan Gedung", title_id  = "2591"  where id = '18280'
3872 /lvl1/ Merchandiser Executive
=>>>>>>>>>>>>>>>>>>>>>> 17545 /lvl2/ MERCHANDISER EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MERCHANDISER EXECUTIVE", title_clean   = "MERCHANDISER EXECUTIVE", title_id  = "3872"  where id = '17545'
6178 /lvl1/ Staff Tooling Grinding
=>>>>>>>>>>>>>>>>>>>>>> 19539 /lvl2/ Staff Tooling Grinding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6178"  where id = '19539'
292 /lvl1/ Administrasi Marketing
=>>>>>>>>>>>>>>>>>>>>>> 225 /lvl2/ Administrasi Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "292"  where id = '225'
6948 /lvl1/ Warehouse Indoor Staff
=>>>>>>>>>>>>>>>>>>>>>> 16588 /lvl2/ Warehouse Indoor Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6948"  where id = '16588'
2085 /lvl1/ Formulation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10785 /lvl2/ Formulation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2085"  where id = '10785'
4645 /lvl1/ Public Relation Expert
=>>>>>>>>>>>>>>>>>>>>>> 17763 /lvl2/ Public Relation Expert
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4645"  where id = '17763'
294 /lvl1/ Administrasi Penjualan
=>>>>>>>>>>>>>>>>>>>>>> 2021 /lvl2/ ADMINISTRASI PENJUALAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI PENJUALAN", title_clean   = "ADMINISTRASI PENJUALAN", title_id  = "294"  where id = '2021'
=>>>>>>>>>>>>>>>>>>>>>> 4737 /lvl2/ Administrasi Penjualan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "294"  where id = '4737'
=>>>>>>>>>>>>>>>>>>>>>> 10498 /lvl2/ ADMINISTRASI PENJUALAN ONLINE (MARKETPLACE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI PENJUALAN ONLINE (MARKETPLACE)", title_clean   = "ADMINISTRASI PENJUALAN ONLINE (MARKETPLACE)", title_id  = "294"  where id = '10498'
2854 /lvl1/ It Audit / IT Security
4646 /lvl1/ Public Relation Intern
=>>>>>>>>>>>>>>>>>>>>>> 12233 /lvl2/ Public Relation Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4646"  where id = '12233'
2599 /lvl1/ Hts Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 8851 /lvl2/ HTS Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HTS Software Developer", title_clean   = "HTS Software Developer", title_id  = "2599"  where id = '8851'
5927 /lvl1/ Staff Purchasing Impor
=>>>>>>>>>>>>>>>>>>>>>> 19634 /lvl2/ Staff PURCHASING IMPOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff PURCHASING IMPOR", title_clean   = "Staff PURCHASING IMPOR", title_id  = "5927"  where id = '19634'
1320 /lvl1/ Customer Service Order
=>>>>>>>>>>>>>>>>>>>>>> 961 /lvl2/ Customer Service Order
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1320"  where id = '961'
3114 /lvl1/ Junior Java Programmer
=>>>>>>>>>>>>>>>>>>>>>> 3746 /lvl2/ Junior Java Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3114"  where id = '3746'
4394 /lvl1/ Pro Switching Engineer

=>>>>>>>>>>>>>>>>>>>>>> 8848 /lvl2/ Pro Switching Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4394"  where id = '8848'
6442 /lvl1/ Sustainability Manager
=>>>>>>>>>>>>>>>>>>>>>> 4111 /lvl2/ Sustainability Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6442"  where id = '4111'
1323 /lvl1/ Customer Service Staff
=>>>>>>>>>>>>>>>>>>>>>> 440 /lvl2/ Customer Service Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1323"  where id = '440'
=>>>>>>>>>>>>>>>>>>>>>> 560 /lvl2/ CUSTOMER SERVICE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE STAFF", title_clean   = "CUSTOMER SERVICE STAFF", title_id  = "1323"  where id = '560'
=>>>>>>>>>>>>>>>>>>>>>> 9188 /lvl2/ Customer Service Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1323"  where id = '9188'
=>>>>>>>>>>>>>>>>>>>>>> 11080 /lvl2/ Customer Service Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1323"  where id = '11080'
=>>>>>>>>>>>>>>>>>>>>>> 17503 /lvl2/ Customer Service Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1323"  where id = '17503'
=>>>>>>>>>>>>>>>>>>>>>> 18884 /lvl2/ Customer Service Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1323"  where id = '18884'
=>>>>>>>>>>>>>>>>>>>>>> 19688 /lvl2/ Customer Service Staff English Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- English Speaking", title_clean   = " English Speaking", title_id  = "1323"  where id = '19688'
2859 /lvl1/ It Automation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13691 /lvl2/ IT Automation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Automation Engineer", title_clean   = "IT Automation Engineer", title_id  = "2859"  where id = '13691'
6443 /lvl1/ Sustainability Officer
=>>>>>>>>>>>>>>>>>>>>>> 19049 /lvl2/ Sustainability Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6443"  where id = '19049'
1839 /lvl1/ Export Manager Farmasi
=>>>>>>>>>>>>>>>>>>>>>> 1413 /lvl2/ Export Manager Farmasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1839"  where id = '1413'
3376 /lvl1/ Legal Specialist Batam
=>>>>>>>>>>>>>>>>>>>>>> 16006 /lvl2/ Legal Specialist Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3376"  where id = '16006'
6704 /lvl1/ Teknisi Service Center
=>>>>>>>>>>>>>>>>>>>>>> 8710 /lvl2/ Teknisi Service Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6704"  where id = '8710'
1073 /lvl1/ Content Creator Tiktok
=>>>>>>>>>>>>>>>>>>>>>> 2094 /lvl2/ Content Creator TikTok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Content Creator TikTok", title_clean   = "Content Creator TikTok", title_id  = "1073"  where id = '2094'
2609 /lvl1/ Human Capital Div Head
=>>>>>>>>>>>>>>>>>>>>>> 18069 /lvl2/ HUMAN CAPITAL DIV HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HUMAN CAPITAL DIV HEAD", title_clean   = "HUMAN CAPITAL DIV HEAD", title_id  = "2609"  where id = '18069'
2865 /lvl1/ It Business Consultant
=>>>>>>>>>>>>>>>>>>>>>> 19356 /lvl2/ IT Business Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Consultant", title_clean   = "IT Business Consultant", title_id  = "2865"  where id = '19356'
3122 /lvl1/ Junior Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 5624 /lvl2/ Junior Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3122"  where id = '5624'
4146 /lvl1/ Partnership Specialist
=>>>>>>>>>>>>>>>>>>>>>> 1867 /lvl2/ Partnership Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4146"  where id = '1867'
=>>>>>>>>>>>>>>>>>>>>>> 3511 /lvl2/ PARTNERSHIP SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PARTNERSHIP SPECIALIST", title_clean   = "PARTNERSHIP SPECIALIST", title_id  = "4146"  where id = '3511'
=>>>>>>>>>>>>>>>>>>>>>> 6961 /lvl2/ Partnership Specialist - Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Banking", title_clean   = " - Banking", title_id  = "4146"  where id = '6961'
=>>>>>>>>>>>>>>>>>>>>>> 10739 /lvl2/ Partnership Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4146"  where id = '10739'
4916 /lvl1/ Regional Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 4526 /lvl2/ Regional Sales Manager - West Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - West Area", title_clean   = " - West Area", title_id  = "4916"  where id = '4526'
=>>>>>>>>>>>>>>>>>>>>>> 4927 /lvl2/ Regional Sales Manager - Central Java
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Central Java", title_clean   = " - Central Java", title_id  = "4916"  where id = '4927'
=>>>>>>>>>>>>>>>>>>>>>> 6006 /lvl2/ Regional Sales Manager - Central Java
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Central Java", title_clean   = " - Central Java", title_id  = "4916"  where id = '6006'
=>>>>>>>>>>>>>>>>>>>>>> 7156 /lvl2/ Regional Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4916"  where id = '7156'
=>>>>>>>>>>>>>>>>>>>>>> 12215 /lvl2/ Regional Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4916"  where id = '12215'
=>>>>>>>>>>>>>>>>>>>>>> 12748 /lvl2/ Regional Sales Manager (Base : Bali)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Base : Bali)", title_clean   = " (Base : Bali)", title_id  = "4916"  where id = '12748'
=>>>>>>>>>>>>>>>>>>>>>> 14460 /lvl2/ Regional Sales Manager - Sulawesi Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sulawesi Selatan", title_clean   = " - Sulawesi Selatan", title_id  = "4916"  where id = '14460'
=>>>>>>>>>>>>>>>>>>>>>> 14715 /lvl2/ REGIONAL SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REGIONAL SALES MANAGER", title_clean   = "REGIONAL SALES MANAGER", title_id  = "4916"  where id = '14715'
=>>>>>>>>>>>>>>>>>>>>>> 14830 /lvl2/ Regional Sales Manager - Sulawesi Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sulawesi Selatan", title_clean   = " - Sulawesi Selatan", title_id  = "4916"  where id = '14830'
=>>>>>>>>>>>>>>>>>>>>>> 16600 /lvl2/ Regional Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4916"  where id = '16600'
=>>>>>>>>>>>>>>>>>>>>>> 17346 /lvl2/ Regional Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4916"  where id = '17346'
=>>>>>>>>>>>>>>>>>>>>>> 18375 /lvl2/ Regional Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4916"  where id = '18375'
3381 /lvl1/ Li Maintenance Manager
=>>>>>>>>>>>>>>>>>>>>>> 20497 /lvl2/ LI Maintenance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LI Maintenance Manager", title_clean   = "LI Maintenance Manager", title_id  = "3381"  where id = '20497'
4918 /lvl1/ Regional Sales Project
=>>>>>>>>>>>>>>>>>>>>>> 1684 /lvl2/ Regional Sales Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4918"  where id = '1684'
1847 /lvl1/ External Audit Manager
=>>>>>>>>>>>>>>>>>>>>>> 14248 /lvl2/ External Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1847"  where id = '14248'
5175 /lvl1/ Sales Executive Retail
=>>>>>>>>>>>>>>>>>>>>>> 10221 /lvl2/ Sales Executive Retail
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5175"  where id = '10221'
824 /lvl1/ Call Center Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9669 /lvl2/ Call center Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Call center Supervisor", title_clean   = "Call center Supervisor", title_id  = "824"  where id = '9669'
4665 /lvl1/ Purchasing Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 16241 /lvl2/ Purchasing Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4665"  where id = '16241'
3130 /lvl1/ Junior Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 1900 /lvl2/ JUNIOR PRODUCT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR PRODUCT MANAGER", title_clean   = "JUNIOR PRODUCT MANAGER", title_id  = "3130"  where id = '1900'
=>>>>>>>>>>>>>>>>>>>>>> 7331 /lvl2/ JUNIOR PRODUCT MANAGER (Divisi Consumer Health Care)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR PRODUCT MANAGER (Divisi Consumer Health Care)", title_clean   = "JUNIOR PRODUCT MANAGER (Divisi Consumer Health Care)", title_id  = "3130"  where id = '7331'
4922 /lvl1/ Registration Assistant

=>>>>>>>>>>>>>>>>>>>>>> 19167 /lvl2/ Registration Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4922"  where id = '19167'
=>>>>>>>>>>>>>>>>>>>>>> 20064 /lvl2/ Registration Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4922"  where id = '20064'
6970 /lvl1/ Web / Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 11841 /lvl2/ Web / Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6970"  where id = '11841'
=>>>>>>>>>>>>>>>>>>>>>> 11864 /lvl2/ Web / Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6970"  where id = '11864'
827 /lvl1/ Campaign Data Analytic
=>>>>>>>>>>>>>>>>>>>>>> 8504 /lvl2/ Campaign Data Analytic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "827"  where id = '8504'
316 /lvl1/ Administrative Manager
=>>>>>>>>>>>>>>>>>>>>>> 18343 /lvl2/ Administrative Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "316"  where id = '18343'
=>>>>>>>>>>>>>>>>>>>>>> 18357 /lvl2/ Administrative Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "316"  where id = '18357'
3132 /lvl1/ Junior Project Handler
=>>>>>>>>>>>>>>>>>>>>>> 6385 /lvl2/ Junior Project Handler
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3132"  where id = '6385'
4412 /lvl1/ Procurement Compliance
=>>>>>>>>>>>>>>>>>>>>>> 14477 /lvl2/ Procurement Compliance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4412"  where id = '14477'
5436 /lvl1/ Senior ..Net Developer
317 /lvl1/ Administrative Officer
=>>>>>>>>>>>>>>>>>>>>>> 16902 /lvl2/ Data Support Administrative Officer (Alam Sutera)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Data Support -idex- (Alam Sutera)", title_clean   = "Data Support  (Alam Sutera)", title_id  = "317"  where id = '16902'
=>>>>>>>>>>>>>>>>>>>>>> 18379 /lvl2/ Administrative Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "317"  where id = '18379'
1597 /lvl1/ Driver / Staff Custody
5181 /lvl1/ Sales Fleet Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4566 /lvl2/ Sales Fleet Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5181"  where id = '4566'
5949 /lvl1/ Staff Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 1388 /lvl2/ Staff Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5949"  where id = '1388'
=>>>>>>>>>>>>>>>>>>>>>> 2451 /lvl2/ STAFF ACCOUNTING & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING & TAX", title_clean   = "STAFF ACCOUNTING & TAX", title_id  = "5949"  where id = '2451'
=>>>>>>>>>>>>>>>>>>>>>> 11621 /lvl2/ Staff Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5949"  where id = '11621'
=>>>>>>>>>>>>>>>>>>>>>> 13325 /lvl2/ Staff Accounting & Tax Pajak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pajak", title_clean   = " Pajak", title_id  = "5949"  where id = '13325'
=>>>>>>>>>>>>>>>>>>>>>> 13345 /lvl2/ Staff Accounting & Tax Pajak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pajak", title_clean   = " Pajak", title_id  = "5949"  where id = '13345'
=>>>>>>>>>>>>>>>>>>>>>> 17835 /lvl2/ Staff Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5949"  where id = '17835'
6205 /lvl1/ Store Operation Intern
=>>>>>>>>>>>>>>>>>>>>>> 16586 /lvl2/ Store Operation Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6205"  where id = '16586'
319 /lvl1/ Administrator Contract
=>>>>>>>>>>>>>>>>>>>>>> 16245 /lvl2/ Administrator Contract
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "319"  where id = '16245'
=>>>>>>>>>>>>>>>>>>>>>> 18521 /lvl2/ Administrator Contract - Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bandung", title_clean   = " - Bandung", title_id  = "319"  where id = '18521'
3137 /lvl1/ Junior Sales Executive
3905 /lvl1/ Mitra Cleaning Service
=>>>>>>>>>>>>>>>>>>>>>> 18654 /lvl2/ MITRA CLEANING SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MITRA CLEANING SERVICE", title_clean   = "MITRA CLEANING SERVICE", title_id  = "3905"  where id = '18654'
4673 /lvl1/ Purchasing Lokal Staff
=>>>>>>>>>>>>>>>>>>>>>> 12782 /lvl2/ Purchasing Lokal Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4673"  where id = '12782'
322 /lvl1/ Admissions & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 18238 /lvl2/ Admissions & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "322"  where id = '18238'
3906 /lvl1/ Mitra Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 5404 /lvl2/ Mitra Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3906"  where id = '5404'
=>>>>>>>>>>>>>>>>>>>>>> 6505 /lvl2/ Mitra Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3906"  where id = '6505'
5442 /lvl1/ Senior Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 4356 /lvl2/ Business Development - Senior Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business Development - -idex-", title_clean   = "Business Development - ", title_id  = "5442"  where id = '4356'
=>>>>>>>>>>>>>>>>>>>>>> 13657 /lvl2/ Senior Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5442"  where id = '13657'
=>>>>>>>>>>>>>>>>>>>>>> 13671 /lvl2/ Senior Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5442"  where id = '13671'
=>>>>>>>>>>>>>>>>>>>>>> 16071 /lvl2/ Senior Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5442"  where id = '16071'
5443 /lvl1/ Senior Account Officer
=>>>>>>>>>>>>>>>>>>>>>> 2007 /lvl2/ Senior Account Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5443"  where id = '2007'
4423 /lvl1/ Procurement Specialist
=>>>>>>>>>>>>>>>>>>>>>> 14701 /lvl2/ Procurement Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4423"  where id = '14701'
=>>>>>>>>>>>>>>>>>>>>>> 15122 /lvl2/ Procurement Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4423"  where id = '15122'
4935 /lvl1/ Reinsurance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 13470 /lvl2/ Reinsurance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4935"  where id = '13470'
=>>>>>>>>>>>>>>>>>>>>>> 13482 /lvl2/ Reinsurance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4935"  where id = '13482'
1352 /lvl1/ Data Analytics Manager
=>>>>>>>>>>>>>>>>>>>>>> 6652 /lvl2/ Data Analytics Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1352"  where id = '6652'
=>>>>>>>>>>>>>>>>>>>>>> 9238 /lvl2/ Data Analytics Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1352"  where id = '9238'
5704 /lvl1/ Service Administration
=>>>>>>>>>>>>>>>>>>>>>> 749 /lvl2/ Service Administration ( Pontianak )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Pontianak )", title_clean   = " ( Pontianak )", title_id  = "5704"  where id = '749'
=>>>>>>>>>>>>>>>>>>>>>> 1375 /lvl2/ Service Administration ( Pontianak )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Pontianak )", title_clean   = " ( Pontianak )", title_id  = "5704"  where id = '1375'
=>>>>>>>>>>>>>>>>>>>>>> 16941 /lvl2/ Service Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5704"  where id = '16941'
4425 /lvl1/ Procurement Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8588 /lvl2/ Procurement Supervisor - Indirect Material (Marketing Services)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Indirect Material (Marketing Services)", title_clean   = " - Indirect Material (Marketing Services)", title_id  = "4425"  where id = '8588'
=>>>>>>>>>>>>>>>>>>>>>> 9789 /lvl2/ Procurement Supervisor - Indirect Material (Marketing Services)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Indirect Material (Marketing Services)", title_clean   = " - Indirect Material (Marketing Services)", title_id  = "4425"  where id = '9789'
=>>>>>>>>>>>>>>>>>>>>>> 19921 /lvl2/ Procurement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4425"  where id = '19921'
=>>>>>>>>>>>>>>>>>>>>>> 20092 /lvl2/ Procurement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4425"  where id = '20092'
=>>>>>>>>>>>>>>>>>>>>>> 20277 /lvl2/ Procurement Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4425"  where id = '20277'
=>>>>>>>>>>>>>>>>>>>>>> 20446 /lvl2/ PROCUREMENT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCUREMENT SUPERVISOR", title_clean   = "PROCUREMENT SUPERVISOR", title_id  = "4425"  where id = '20446'
842 /lvl1/ Carscass Sales Gt / Mt

=>>>>>>>>>>>>>>>>>>>>>> 1548 /lvl2/ Carscass Sales GT / MT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Carscass Sales GT / MT", title_clean   = "Carscass Sales GT / MT", title_id  = "842"  where id = '1548'
2635 /lvl1/ Human Resources Intern
=>>>>>>>>>>>>>>>>>>>>>> 4274 /lvl2/ Human Resources Intern (JS - Human Resources INT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - Human Resources INT)", title_clean   = " (JS - Human Resources INT)", title_id  = "2635"  where id = '4274'
=>>>>>>>>>>>>>>>>>>>>>> 5804 /lvl2/ Human Resources Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2635"  where id = '5804'
=>>>>>>>>>>>>>>>>>>>>>> 18852 /lvl2/ Human Resources Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2635"  where id = '18852'
=>>>>>>>>>>>>>>>>>>>>>> 19012 /lvl2/ Human Resources Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2635"  where id = '19012'
=>>>>>>>>>>>>>>>>>>>>>> 19403 /lvl2/ Human Resources Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2635"  where id = '19403'
5968 /lvl1/ Staff Admin Perpajakan
=>>>>>>>>>>>>>>>>>>>>>> 3637 /lvl2/ Staff Admin Perpajakan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5968"  where id = '3637'
2385 /lvl1/ Head of Online Channel
=>>>>>>>>>>>>>>>>>>>>>> 3310 /lvl2/ Head of Online Channel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2385"  where id = '3310'
5457 /lvl1/ Senior Accounting Staf
83 /lvl1/ Accounting & Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 627 /lvl2/ ACCOUNTING & TAX STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX STAFF", title_clean   = "ACCOUNTING & TAX STAFF", title_id  = "83"  where id = '627'
=>>>>>>>>>>>>>>>>>>>>>> 11433 /lvl2/ Accounting & Tax Staff - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jakarta", title_clean   = " - Jakarta", title_id  = "83"  where id = '11433'
=>>>>>>>>>>>>>>>>>>>>>> 12724 /lvl2/ ACCOUNTING & TAX STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX STAFF", title_clean   = "ACCOUNTING & TAX STAFF", title_id  = "83"  where id = '12724'
=>>>>>>>>>>>>>>>>>>>>>> 12842 /lvl2/ ACCOUNTING & TAX STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX STAFF", title_clean   = "ACCOUNTING & TAX STAFF", title_id  = "83"  where id = '12842'
=>>>>>>>>>>>>>>>>>>>>>> 12858 /lvl2/ ACCOUNTING & TAX STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX STAFF", title_clean   = "ACCOUNTING & TAX STAFF", title_id  = "83"  where id = '12858'
=>>>>>>>>>>>>>>>>>>>>>> 14182 /lvl2/ Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "83"  where id = '14182'
=>>>>>>>>>>>>>>>>>>>>>> 14545 /lvl2/ Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "83"  where id = '14545'
=>>>>>>>>>>>>>>>>>>>>>> 16928 /lvl2/ Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "83"  where id = '16928'
=>>>>>>>>>>>>>>>>>>>>>> 16971 /lvl2/ Accounting & Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "83"  where id = '16971'
852 /lvl1/ Casual Leasing Officer
=>>>>>>>>>>>>>>>>>>>>>> 868 /lvl2/ Casual Leasing Officer - Lippo Mall Kemang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Mall Kemang", title_clean   = " - Lippo Mall Kemang", title_id  = "852"  where id = '868'
=>>>>>>>>>>>>>>>>>>>>>> 18698 /lvl2/ Casual Leasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "852"  where id = '18698'
2901 /lvl1/ It Front End Developer
3926 /lvl1/ Mold Maintenance Staff
=>>>>>>>>>>>>>>>>>>>>>> 11456 /lvl2/ Mold Maintenance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3926"  where id = '11456'
5206 /lvl1/ Sales Learning Partner
=>>>>>>>>>>>>>>>>>>>>>> 3146 /lvl2/ Sales Learning Partner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5206"  where id = '3146'
346 /lvl1/ Airport Office Manager
=>>>>>>>>>>>>>>>>>>>>>> 10547 /lvl2/ Airport Office Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "346"  where id = '10547'
4186 /lvl1/ Pengawas Infrastruktur
=>>>>>>>>>>>>>>>>>>>>>> 6180 /lvl2/ Pengawas Infrastruktur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4186"  where id = '6180'
4954 /lvl1/ Repair Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 9209 /lvl2/ REPAIR SUPPORT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REPAIR SUPPORT OFFICER", title_clean   = "REPAIR SUPPORT OFFICER", title_id  = "4954"  where id = '9209'
3675 /lvl1/ Marketing Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 4294 /lvl2/ Marketing Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3675"  where id = '4294'
1884 /lvl1/ Fashion Designer Staff
=>>>>>>>>>>>>>>>>>>>>>> 16712 /lvl2/ Fashion Designer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1884"  where id = '16712'
3932 /lvl1/ Montir Kendaraan Truck
=>>>>>>>>>>>>>>>>>>>>>> 19442 /lvl2/ Montir Kendaraan Truck
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3932"  where id = '19442'
2399 /lvl1/ Head of Store / Clinic
2911 /lvl1/ It Hardware & Software
=>>>>>>>>>>>>>>>>>>>>>> 12337 /lvl2/ IT Hardware & Software
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Hardware & Software", title_clean   = "IT Hardware & Software", title_id  = "2911"  where id = '12337'
5727 /lvl1/ Ship Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 7742 /lvl2/ SHIP OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SHIP OPERATION MANAGER", title_clean   = "SHIP OPERATION MANAGER", title_id  = "5727"  where id = '7742'
=>>>>>>>>>>>>>>>>>>>>>> 8050 /lvl2/ SHIP OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SHIP OPERATION MANAGER", title_clean   = "SHIP OPERATION MANAGER", title_id  = "5727"  where id = '8050'
3938 /lvl1/ Motion Graphics Editor
=>>>>>>>>>>>>>>>>>>>>>> 2661 /lvl2/ Motion Graphics Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3938"  where id = '2661'
1379 /lvl1/ Database Administrator
=>>>>>>>>>>>>>>>>>>>>>> 1458 /lvl2/ DBA (Database Administrator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DBA (-idex-)", title_clean   = "DBA ()", title_id  = "1379"  where id = '1458'
=>>>>>>>>>>>>>>>>>>>>>> 2290 /lvl2/ Database Administrator (Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tangerang)", title_clean   = " (Tangerang)", title_id  = "1379"  where id = '2290'
=>>>>>>>>>>>>>>>>>>>>>> 5661 /lvl2/ Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1379"  where id = '5661'
=>>>>>>>>>>>>>>>>>>>>>> 11388 /lvl2/ Database Administrator (Information Technology)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Information Technology)", title_clean   = " (Information Technology)", title_id  = "1379"  where id = '11388'
=>>>>>>>>>>>>>>>>>>>>>> 11467 /lvl2/ Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1379"  where id = '11467'
=>>>>>>>>>>>>>>>>>>>>>> 13010 /lvl2/ Database Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1379"  where id = '13010'
=>>>>>>>>>>>>>>>>>>>>>> 17341 /lvl2/ Database Administrator (DBA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DBA)", title_clean   = " (DBA)", title_id  = "1379"  where id = '17341'
6755 /lvl1/ Tiktok Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 5726 /lvl2/ TIKTOK Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TIKTOK Content Creator", title_clean   = "TIKTOK Content Creator", title_id  = "6755"  where id = '5726'
=>>>>>>>>>>>>>>>>>>>>>> 14307 /lvl2/ Tiktok Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6755"  where id = '14307'
=>>>>>>>>>>>>>>>>>>>>>> 14324 /lvl2/ Tiktok Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6755"  where id = '14324'
=>>>>>>>>>>>>>>>>>>>>>> 18334 /lvl2/ Tiktok Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6755"  where id = '18334'
612 /lvl1/ Banking Academy For IT

=>>>>>>>>>>>>>>>>>>>>>> 15967 /lvl2/ BANKING ACADEMY FOR IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BANKING ACADEMY FOR IT", title_clean   = "BANKING ACADEMY FOR IT", title_id  = "612"  where id = '15967'
4708 /lvl1/ Qa Automation Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4097 /lvl2/ QA Automation Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Automation Engineer", title_clean   = "QA Automation Engineer", title_id  = "4708"  where id = '4097'
4964 /lvl1/ Research & Development
6501 /lvl1/ Tax & Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 11828 /lvl2/ TAX & ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX & ACCOUNTING STAFF", title_clean   = "TAX & ACCOUNTING STAFF", title_id  = "6501"  where id = '11828'
=>>>>>>>>>>>>>>>>>>>>>> 15625 /lvl2/ Tax & Accounting Staff (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang)", title_clean   = " (Semarang)", title_id  = "6501"  where id = '15625'
=>>>>>>>>>>>>>>>>>>>>>> 16921 /lvl2/ Tax & Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6501"  where id = '16921'
614 /lvl1/ Bar Bending Scheduller
=>>>>>>>>>>>>>>>>>>>>>> 17234 /lvl2/ Bar Bending Scheduller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "614"  where id = '17234'
5479 /lvl1/ Senior Brand Executive
=>>>>>>>>>>>>>>>>>>>>>> 2091 /lvl2/ Senior Brand Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5479"  where id = '2091'
6504 /lvl1/ Tax & Compliance Staff
=>>>>>>>>>>>>>>>>>>>>>> 4894 /lvl2/ Tax & Compliance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6504"  where id = '4894'
6762 /lvl1/ Tire Marketing Manager
=>>>>>>>>>>>>>>>>>>>>>> 10149 /lvl2/ Tire Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6762"  where id = '10149'
5739 /lvl1/ Site Acquisition Admin
=>>>>>>>>>>>>>>>>>>>>>> 18157 /lvl2/ Site Acquisition Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5739"  where id = '18157'
3950 /lvl1/ National Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 9116 /lvl2/ National Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3950"  where id = '9116'
=>>>>>>>>>>>>>>>>>>>>>> 14490 /lvl2/ NATIONAL SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NATIONAL SALES MANAGER", title_clean   = "NATIONAL SALES MANAGER", title_id  = "3950"  where id = '14490'
=>>>>>>>>>>>>>>>>>>>>>> 14843 /lvl2/ NATIONAL SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NATIONAL SALES MANAGER", title_clean   = "NATIONAL SALES MANAGER", title_id  = "3950"  where id = '14843'
=>>>>>>>>>>>>>>>>>>>>>> 14864 /lvl2/ NATIONAL SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NATIONAL SALES MANAGER", title_clean   = "NATIONAL SALES MANAGER", title_id  = "3950"  where id = '14864'
=>>>>>>>>>>>>>>>>>>>>>> 15663 /lvl2/ National Sales Manager (Trading - Food & Pharmaceutical Ingredients)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Trading - Food & Pharmaceutical Ingredients)", title_clean   = " (Trading - Food & Pharmaceutical Ingredients)", title_id  = "3950"  where id = '15663'
6254 /lvl1/ Supervisor Acquisition
=>>>>>>>>>>>>>>>>>>>>>> 6856 /lvl2/ Supervisor Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6254"  where id = '6856'
=>>>>>>>>>>>>>>>>>>>>>> 8001 /lvl2/ Supervisor Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6254"  where id = '8001'
=>>>>>>>>>>>>>>>>>>>>>> 8316 /lvl2/ Supervisor Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6254"  where id = '8316'
2159 /lvl1/ GAme Artist & Animator
6511 /lvl1/ Tax Accounting Officer
=>>>>>>>>>>>>>>>>>>>>>> 25 /lvl2/ TAX ACCOUNTING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX ACCOUNTING OFFICER", title_clean   = "TAX ACCOUNTING OFFICER", title_id  = "6511"  where id = '25'
1904 /lvl1/ Field Sales Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6531 /lvl2/ Field Sales Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1904"  where id = '6531'
1905 /lvl1/ Field Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2169 /lvl2/ Field Sales Supervisor (Pamekasan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pamekasan)", title_clean   = " (Pamekasan)", title_id  = "1905"  where id = '2169'
=>>>>>>>>>>>>>>>>>>>>>> 9156 /lvl2/ Field Sales Supervisor (Merauke)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Merauke)", title_clean   = " (Merauke)", title_id  = "1905"  where id = '9156'
=>>>>>>>>>>>>>>>>>>>>>> 19467 /lvl2/ Field Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1905"  where id = '19467'
=>>>>>>>>>>>>>>>>>>>>>> 20556 /lvl2/ Field Sales Supervisor Sanofi (Samarinda and Makassar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sanofi (Samarinda and Makassar)", title_clean   = " Sanofi (Samarinda and Makassar)", title_id  = "1905"  where id = '20556'
2929 /lvl1/ It Infrastructure Lead
=>>>>>>>>>>>>>>>>>>>>>> 17665 /lvl2/ IT Infrastructure Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Lead", title_clean   = "IT Infrastructure Lead", title_id  = "2929"  where id = '17665'
4209 /lvl1/ People & Od Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9109 /lvl2/ People & OD Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "People & OD Supervisor", title_clean   = "People & OD Supervisor", title_id  = "4209"  where id = '9109'
1906 /lvl1/ Field Service Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15979 /lvl2/ Field Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1906"  where id = '15979'
6770 /lvl1/ Tour Travel Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5079 /lvl2/ Tour Travel Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6770"  where id = '5079'
5235 /lvl1/ Sales Marketing Dental
=>>>>>>>>>>>>>>>>>>>>>> 7806 /lvl2/ SALES MARKETING DENTAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING DENTAL", title_clean   = "SALES MARKETING DENTAL", title_id  = "5235"  where id = '7806'
=>>>>>>>>>>>>>>>>>>>>>> 8128 /lvl2/ SALES MARKETING DENTAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING DENTAL", title_clean   = "SALES MARKETING DENTAL", title_id  = "5235"  where id = '8128'
5491 /lvl1/ Senior Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 3470 /lvl2/ Senior Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5491"  where id = '3470'
5236 /lvl1/ Sales Marketing Design
=>>>>>>>>>>>>>>>>>>>>>> 5379 /lvl2/ Sales Marketing Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5236"  where id = '5379'
630 /lvl1/ Beauty Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 5051 /lvl2/ Beauty Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "630"  where id = '5051'
4726 /lvl1/ Qa System Pharmacycist
6518 /lvl1/ Tax Compliance Officer
=>>>>>>>>>>>>>>>>>>>>>> 16688 /lvl2/ Tax Compliance Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6518"  where id = '16688'
1655 /lvl1/ Electrical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 5677 /lvl2/ Teknisi Kelistrikan  /  Electrical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi Kelistrikan  /  -idex-", title_clean   = "Teknisi Kelistrikan  /  ", title_id  = "1655"  where id = '5677'
=>>>>>>>>>>>>>>>>>>>>>> 17511 /lvl2/ Electrical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1655"  where id = '17511'
=>>>>>>>>>>>>>>>>>>>>>> 17532 /lvl2/ Electrical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1655"  where id = '17532'
5495 /lvl1/ Senior Corporate Legal
=>>>>>>>>>>>>>>>>>>>>>> 20127 /lvl2/ Senior Corporate Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5495"  where id = '20127'
5752 /lvl1/ Site Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 17811 /lvl2/ Site Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5752"  where id = '17811'
5242 /lvl1/ Sales Marketing Online

=>>>>>>>>>>>>>>>>>>>>>> 7851 /lvl2/ Sales Marketing Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5242"  where id = '7851'
=>>>>>>>>>>>>>>>>>>>>>> 8165 /lvl2/ Sales Marketing Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5242"  where id = '8165'
3707 /lvl1/ Marketing Intelligence
=>>>>>>>>>>>>>>>>>>>>>> 8579 /lvl2/ Marketing Intelligence
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3707"  where id = '8579'
1660 /lvl1/ Electrical Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 6957 /lvl2/ Electrical Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1660"  where id = '6957'
2172 /lvl1/ General Administration
=>>>>>>>>>>>>>>>>>>>>>> 2557 /lvl2/ General Administration & Collection Staff - Semarang - Jawa Tengah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Collection Staff - Semarang - Jawa Tengah", title_clean   = " & Collection Staff - Semarang - Jawa Tengah", title_id  = "2172"  where id = '2557'
=>>>>>>>>>>>>>>>>>>>>>> 12530 /lvl2/ MARKETING AND GENERAL ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING AND GENERAL ADMINISTRATION", title_clean   = "MARKETING AND GENERAL ADMINISTRATION", title_id  = "2172"  where id = '12530'
=>>>>>>>>>>>>>>>>>>>>>> 12548 /lvl2/ MARKETING AND GENERAL ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING AND GENERAL ADMINISTRATION", title_clean   = "MARKETING AND GENERAL ADMINISTRATION", title_id  = "2172"  where id = '12548'
=>>>>>>>>>>>>>>>>>>>>>> 17082 /lvl2/ General Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2172"  where id = '17082'
5244 /lvl1/ Sales Marketing Realty
=>>>>>>>>>>>>>>>>>>>>>> 5187 /lvl2/ Sales Marketing Realty
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5244"  where id = '5187'
125 /lvl1/ Accounting Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 14120 /lvl2/ Accounting Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "125"  where id = '14120'
3197 /lvl1/ Kepala Divisi Produksi
=>>>>>>>>>>>>>>>>>>>>>> 3215 /lvl2/ KEPALA DIVISI PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA DIVISI PRODUKSI", title_clean   = "KEPALA DIVISI PRODUKSI", title_id  = "3197"  where id = '3215'
=>>>>>>>>>>>>>>>>>>>>>> 18629 /lvl2/ Kepala Divisi Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3197"  where id = '18629'
382 /lvl1/ Application Consultant
=>>>>>>>>>>>>>>>>>>>>>> 7136 /lvl2/ Application Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "382"  where id = '7136'
=>>>>>>>>>>>>>>>>>>>>>> 10402 /lvl2/ Application Consultant - Banking Business
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Banking Business", title_clean   = " - Banking Business", title_id  = "382"  where id = '10402'
=>>>>>>>>>>>>>>>>>>>>>> 14342 /lvl2/ Functional Consultant \u002F Application Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Functional Consultant \u002F -idex-", title_clean   = "Functional Consultant \u002F ", title_id  = "382"  where id = '14342'
2430 /lvl1/ Host / Content Planner
3454 /lvl1/ Maintenance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 380 /lvl2/ Network Maintenance Supervisor (WTP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Network -idex- (WTP)", title_clean   = "Network  (WTP)", title_id  = "3454"  where id = '380'
=>>>>>>>>>>>>>>>>>>>>>> 699 /lvl2/ Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3454"  where id = '699'
=>>>>>>>>>>>>>>>>>>>>>> 1005 /lvl2/ Maintenance Supervisor (Comissary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Comissary)", title_clean   = " (Comissary)", title_id  = "3454"  where id = '1005'
=>>>>>>>>>>>>>>>>>>>>>> 1017 /lvl2/ Maintenance Supervisor (Comissary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Comissary)", title_clean   = " (Comissary)", title_id  = "3454"  where id = '1017'
=>>>>>>>>>>>>>>>>>>>>>> 3836 /lvl2/ Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3454"  where id = '3836'
=>>>>>>>>>>>>>>>>>>>>>> 7646 /lvl2/ Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3454"  where id = '7646'
=>>>>>>>>>>>>>>>>>>>>>> 9091 /lvl2/ Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3454"  where id = '9091'
=>>>>>>>>>>>>>>>>>>>>>> 11615 /lvl2/ Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3454"  where id = '11615'
=>>>>>>>>>>>>>>>>>>>>>> 12198 /lvl2/ MAINTENANCE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MAINTENANCE SUPERVISOR", title_clean   = "MAINTENANCE SUPERVISOR", title_id  = "3454"  where id = '12198'
=>>>>>>>>>>>>>>>>>>>>>> 16215 /lvl2/ Maintenance Supervisor Electrical Mechanical (Shift)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Electrical Mechanical (Shift)", title_clean   = " Electrical Mechanical (Shift)", title_id  = "3454"  where id = '16215'
=>>>>>>>>>>>>>>>>>>>>>> 18184 /lvl2/ Maintenance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3454"  where id = '18184'
4222 /lvl1/ People Operation Staff
=>>>>>>>>>>>>>>>>>>>>>> 11371 /lvl2/ People Operation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4222"  where id = '11371'
5246 /lvl1/ Sales Marketing Retail
=>>>>>>>>>>>>>>>>>>>>>> 5275 /lvl2/ Sales Marketing Retail
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5246"  where id = '5275'
6014 /lvl1/ Staff Digital Printing
=>>>>>>>>>>>>>>>>>>>>>> 11580 /lvl2/ Staff Digital Printing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6014"  where id = '11580'
3456 /lvl1/ Maintenance Technician
=>>>>>>>>>>>>>>>>>>>>>> 3445 /lvl2/ Maintenance Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3456"  where id = '3445'
=>>>>>>>>>>>>>>>>>>>>>> 4136 /lvl2/ Maintenance Technician (Telecommunication) - Surakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Telecommunication) - Surakarta", title_clean   = " (Telecommunication) - Surakarta", title_id  = "3456"  where id = '4136'
=>>>>>>>>>>>>>>>>>>>>>> 10829 /lvl2/ Maintenance Technician (Telecommunication) Banjarmasin-Banjarbaru
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Telecommunication) Banjarmasin-Banjarbaru", title_clean   = " (Telecommunication) Banjarmasin-Banjarbaru", title_id  = "3456"  where id = '10829'
=>>>>>>>>>>>>>>>>>>>>>> 11600 /lvl2/ Maintenance Technician - Optics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Optics", title_clean   = " - Optics", title_id  = "3456"  where id = '11600'
4992 /lvl1/ Retail Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 16555 /lvl2/ Retail Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4992"  where id = '16555'
4993 /lvl1/ Retail Sales Associate
=>>>>>>>>>>>>>>>>>>>>>> 17520 /lvl2/ Retail Sales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4993"  where id = '17520'
386 /lvl1/ Application Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2589 /lvl2/ IT Application Specialist and Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT -idex- and Technical Support", title_clean   = "IT  and Technical Support", title_id  = "386"  where id = '2589'
=>>>>>>>>>>>>>>>>>>>>>> 15877 /lvl2/ Application Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "386"  where id = '15877'
=>>>>>>>>>>>>>>>>>>>>>> 19564 /lvl2/ Application Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "386"  where id = '19564'
2694 /lvl1/ Industrial Engineering
=>>>>>>>>>>>>>>>>>>>>>> 11529 /lvl2/ Industrial Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2694"  where id = '11529'
=>>>>>>>>>>>>>>>>>>>>>> 11557 /lvl2/ Industrial Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2694"  where id = '11557'
=>>>>>>>>>>>>>>>>>>>>>> 12482 /lvl2/ Industrial Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2694"  where id = '12482'
5511 /lvl1/ Senior Devops Engineer

=>>>>>>>>>>>>>>>>>>>>>> 8458 /lvl2/ Senior Devops Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5511"  where id = '8458'
=>>>>>>>>>>>>>>>>>>>>>> 10847 /lvl2/ Senior DevOps Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior DevOps Engineer", title_clean   = "Senior DevOps Engineer", title_id  = "5511"  where id = '10847'
3720 /lvl1/ Marketing Manager ITel
=>>>>>>>>>>>>>>>>>>>>>> 2527 /lvl2/ Marketing Manager ITEL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing Manager ITEL", title_clean   = "Marketing Manager ITEL", title_id  = "3720"  where id = '2527'
6280 /lvl1/ Supervisor Environment
=>>>>>>>>>>>>>>>>>>>>>> 10976 /lvl2/ Supervisor Environment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6280"  where id = '10976'
4489 /lvl1/ Production Engineering
=>>>>>>>>>>>>>>>>>>>>>> 7373 /lvl2/ Production Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4489"  where id = '7373'
=>>>>>>>>>>>>>>>>>>>>>> 12989 /lvl2/ PRODUCTION ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION ENGINEERING", title_clean   = "PRODUCTION ENGINEERING", title_id  = "4489"  where id = '12989'
=>>>>>>>>>>>>>>>>>>>>>> 13004 /lvl2/ PRODUCTION ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION ENGINEERING", title_clean   = "PRODUCTION ENGINEERING", title_id  = "4489"  where id = '13004'
=>>>>>>>>>>>>>>>>>>>>>> 17494 /lvl2/ PRODUCTION ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION ENGINEERING", title_clean   = "PRODUCTION ENGINEERING", title_id  = "4489"  where id = '17494'
6795 /lvl1/ Training & Development
=>>>>>>>>>>>>>>>>>>>>>> 17101 /lvl2/ Training & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6795"  where id = '17101'
=>>>>>>>>>>>>>>>>>>>>>> 17119 /lvl2/ Training & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6795"  where id = '17119'
1932 /lvl1/ Finance & Acct Manager
=>>>>>>>>>>>>>>>>>>>>>> 10308 /lvl2/ Finance & Acct Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1932"  where id = '10308'
2958 /lvl1/ It Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 12028 /lvl2/ IT OPERATIONAL MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT OPERATIONAL MANAGER", title_clean   = "IT OPERATIONAL MANAGER", title_id  = "2958"  where id = '12028'
4238 /lvl1/ Performance Management
=>>>>>>>>>>>>>>>>>>>>>> 7364 /lvl2/ Performance Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4238"  where id = '7364'
=>>>>>>>>>>>>>>>>>>>>>> 19862 /lvl2/ Performance Management Coordinator (KPI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Coordinator (KPI)", title_clean   = " Coordinator (KPI)", title_id  = "4238"  where id = '19862'
143 /lvl1/ Acquisition Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 468 /lvl2/ Acquisition Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "143"  where id = '468'
405 /lvl1/ Architectureal Drafter
=>>>>>>>>>>>>>>>>>>>>>> 12041 /lvl2/ Architectureal Drafter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "405"  where id = '12041'
3477 /lvl1/ Manager Accounting Tax
=>>>>>>>>>>>>>>>>>>>>>> 19965 /lvl2/ Manager Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3477"  where id = '19965'
4245 /lvl1/ Performance Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3083 /lvl2/ Performance Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4245"  where id = '3083'
5781 /lvl1/ Social Media Executive
=>>>>>>>>>>>>>>>>>>>>>> 3939 /lvl2/ Social Media Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5781"  where id = '3939'
5270 /lvl1/ Sales Person Dana Jasa
=>>>>>>>>>>>>>>>>>>>>>> 10986 /lvl2/ Sales Person Dana Jasa
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5270"  where id = '10986'
5784 /lvl1/ Social Media Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1120 /lvl2/ Digital Marketing - Social Media Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital Marketing - -idex-", title_clean   = "Digital Marketing - ", title_id  = "5784"  where id = '1120'
=>>>>>>>>>>>>>>>>>>>>>> 1135 /lvl2/ Digital Marketing - Social Media Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital Marketing - -idex-", title_clean   = "Digital Marketing - ", title_id  = "5784"  where id = '1135'
=>>>>>>>>>>>>>>>>>>>>>> 4053 /lvl2/ Social Media Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5784"  where id = '4053'
=>>>>>>>>>>>>>>>>>>>>>> 6184 /lvl2/ Social Media Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5784"  where id = '6184'
=>>>>>>>>>>>>>>>>>>>>>> 8003 /lvl2/ SOCIAL MEDIA MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA MARKETING", title_clean   = "SOCIAL MEDIA MARKETING", title_id  = "5784"  where id = '8003'
=>>>>>>>>>>>>>>>>>>>>>> 8318 /lvl2/ SOCIAL MEDIA MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA MARKETING", title_clean   = "SOCIAL MEDIA MARKETING", title_id  = "5784"  where id = '8318'
=>>>>>>>>>>>>>>>>>>>>>> 10562 /lvl2/ SOCIAL MEDIA MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA MARKETING", title_clean   = "SOCIAL MEDIA MARKETING", title_id  = "5784"  where id = '10562'
=>>>>>>>>>>>>>>>>>>>>>> 11224 /lvl2/ Social Media Marketing Deputy Manager (Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Deputy Manager (Mandarin)", title_clean   = " Deputy Manager (Mandarin)", title_id  = "5784"  where id = '11224'
=>>>>>>>>>>>>>>>>>>>>>> 14105 /lvl2/ E-COMMERCE & SOCIAL MEDIA MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "E-COMMERCE & SOCIAL MEDIA MARKETING", title_clean   = "E-COMMERCE & SOCIAL MEDIA MARKETING", title_id  = "5784"  where id = '14105'
=>>>>>>>>>>>>>>>>>>>>>> 17924 /lvl2/ CONTENT CREATOR \u002F SOCIAL MEDIA MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTENT CREATOR \u002F SOCIAL MEDIA MARKETING", title_clean   = "CONTENT CREATOR \u002F SOCIAL MEDIA MARKETING", title_id  = "5784"  where id = '17924'
=>>>>>>>>>>>>>>>>>>>>>> 19642 /lvl2/ SOCIAL MEDIA MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA MARKETING", title_clean   = "SOCIAL MEDIA MARKETING", title_id  = "5784"  where id = '19642'
3226 /lvl1/ Kepala Unit Sdm & Umum
5531 /lvl1/ Senior GAme Programmer
=>>>>>>>>>>>>>>>>>>>>>> 5835 /lvl2/ Senior Game Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Game Programmer", title_clean   = "Senior Game Programmer", title_id  = "5531"  where id = '5835'
3740 /lvl1/ Marketing Rental Admin
=>>>>>>>>>>>>>>>>>>>>>> 12979 /lvl2/ Marketing Rental Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3740"  where id = '12979'
3996 /lvl1/ Office Leasing Manager
=>>>>>>>>>>>>>>>>>>>>>> 5571 /lvl2/ Office Leasing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3996"  where id = '5571'
669 /lvl1/ Branch Operation Staff
=>>>>>>>>>>>>>>>>>>>>>> 10901 /lvl2/ Branch Operation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "669"  where id = '10901'
3485 /lvl1/ Manager Chemical Plant
=>>>>>>>>>>>>>>>>>>>>>> 2824 /lvl2/ Manager Chemical Plant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3485"  where id = '2824'
4766 /lvl1/ Quality Assurance / Qa
5279 /lvl1/ Sales Project Interior
=>>>>>>>>>>>>>>>>>>>>>> 10752 /lvl2/ Sales Project Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5279"  where id = '10752'
=>>>>>>>>>>>>>>>>>>>>>> 19370 /lvl2/ Sales Project Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5279"  where id = '19370'
2720 /lvl1/ Inspector Teknik Sipil
=>>>>>>>>>>>>>>>>>>>>>> 13048 /lvl2/ Inspector Teknik Sipil
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2720"  where id = '13048'
5794 /lvl1/ Social Project Manager

=>>>>>>>>>>>>>>>>>>>>>> 18350 /lvl2/ Social Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5794"  where id = '18350'
6562 /lvl1/ Tech Recruitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 19793 /lvl2/ Tech Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6562"  where id = '19793'
5795 /lvl1/ Social Studies Teacher
=>>>>>>>>>>>>>>>>>>>>>> 3184 /lvl2/ Social Studies Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5795"  where id = '3184'
=>>>>>>>>>>>>>>>>>>>>>> 4071 /lvl2/ Social Studies Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5795"  where id = '4071'
677 /lvl1/ Brand Activation Staff
=>>>>>>>>>>>>>>>>>>>>>> 9379 /lvl2/ Brand Activation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "677"  where id = '9379'
1958 /lvl1/ Finance Accounting Tax
=>>>>>>>>>>>>>>>>>>>>>> 17299 /lvl2/ SPV Finance Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex-", title_clean   = "SPV ", title_id  = "1958"  where id = '17299'
=>>>>>>>>>>>>>>>>>>>>>> 18568 /lvl2/ Finance Accounting Tax (FAT) Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (FAT) Supervisor", title_clean   = " (FAT) Supervisor", title_id  = "1958"  where id = '18568'
=>>>>>>>>>>>>>>>>>>>>>> 18873 /lvl2/ Finance Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1958"  where id = '18873'
=>>>>>>>>>>>>>>>>>>>>>> 19820 /lvl2/ Finance Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1958"  where id = '19820'
3238 /lvl1/ Key Account Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19349 /lvl2/ Key Account Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3238"  where id = '19349'
3239 /lvl1/ Key Account Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9838 /lvl2/ Key Account Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3239"  where id = '9838'
=>>>>>>>>>>>>>>>>>>>>>> 14014 /lvl2/ Key Account Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3239"  where id = '14014'
=>>>>>>>>>>>>>>>>>>>>>> 15500 /lvl2/ Key Account Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3239"  where id = '15500'
=>>>>>>>>>>>>>>>>>>>>>> 18032 /lvl2/ Key Account Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3239"  where id = '18032'
=>>>>>>>>>>>>>>>>>>>>>> 18799 /lvl2/ KEY ACCOUNT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEY ACCOUNT SUPERVISOR", title_clean   = "KEY ACCOUNT SUPERVISOR", title_id  = "3239"  where id = '18799'
=>>>>>>>>>>>>>>>>>>>>>> 19710 /lvl2/ KEY ACCOUNT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEY ACCOUNT SUPERVISOR", title_clean   = "KEY ACCOUNT SUPERVISOR", title_id  = "3239"  where id = '19710'
1449 /lvl1/ Developer / Consultant
=>>>>>>>>>>>>>>>>>>>>>> 9034 /lvl2/ DEVELOPER / CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DEVELOPER / CONSULTANT", title_clean   = "DEVELOPER / CONSULTANT", title_id  = "1449"  where id = '9034'
6826 /lvl1/ Transport Section Head
=>>>>>>>>>>>>>>>>>>>>>> 5041 /lvl2/ Transport Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6826"  where id = '5041'
171 /lvl1/ Admin Cum Receptionist
=>>>>>>>>>>>>>>>>>>>>>> 19334 /lvl2/ Admin Cum Receptionist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "171"  where id = '19334'
1452 /lvl1/ Development Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 17701 /lvl2/ Development Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1452"  where id = '17701'
4525 /lvl1/ Programmer Asp..Net C#
6574 /lvl1/ Technical Architecture
=>>>>>>>>>>>>>>>>>>>>>> 9586 /lvl2/ Technical Architecturee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-e", title_clean   = "e", title_id  = "6574"  where id = '9586'
1199 /lvl1/ Creative & Design Lead
1967 /lvl1/ Finance Administration
=>>>>>>>>>>>>>>>>>>>>>> 151 /lvl2/ Finance Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1967"  where id = '151'
=>>>>>>>>>>>>>>>>>>>>>> 12408 /lvl2/ Finance Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1967"  where id = '12408'
=>>>>>>>>>>>>>>>>>>>>>> 20267 /lvl2/ Finance Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1967"  where id = '20267'
944 /lvl1/ Cleaning Service Depok
=>>>>>>>>>>>>>>>>>>>>>> 15922 /lvl2/ Cleaning Service Depok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "944"  where id = '15922'
5296 /lvl1/ Sales Retail & Project
=>>>>>>>>>>>>>>>>>>>>>> 5142 /lvl2/ SALES RETAIL & PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES RETAIL & PROJECT", title_clean   = "SALES RETAIL & PROJECT", title_id  = "5296"  where id = '5142'
945 /lvl1/ Cleaning Service Staff
=>>>>>>>>>>>>>>>>>>>>>> 16512 /lvl2/ Cleaning Service Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "945"  where id = '16512'
4017 /lvl1/ Online Sales Marketing
=>>>>>>>>>>>>>>>>>>>>>> 9385 /lvl2/ Online Sales Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4017"  where id = '9385'
6065 /lvl1/ Staff Internal Auditor
=>>>>>>>>>>>>>>>>>>>>>> 18474 /lvl2/ STAFF INTERNAL AUDITOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF INTERNAL AUDITOR", title_clean   = "STAFF INTERNAL AUDITOR", title_id  = "6065"  where id = '18474'
5554 /lvl1/ Senior Java Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6379 /lvl2/ SENIOR JAVA CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR JAVA CONSULTANT", title_clean   = "SENIOR JAVA CONSULTANT", title_id  = "5554"  where id = '6379'
6322 /lvl1/ Supervisor Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 12181 /lvl2/ SUPERVISOR MAINTENANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR MAINTENANCE", title_clean   = "SUPERVISOR MAINTENANCE", title_id  = "6322"  where id = '12181'
=>>>>>>>>>>>>>>>>>>>>>> 17628 /lvl2/ Supervisor Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6322"  where id = '17628'
=>>>>>>>>>>>>>>>>>>>>>> 17647 /lvl2/ Supervisor Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6322"  where id = '17647'
=>>>>>>>>>>>>>>>>>>>>>> 17673 /lvl2/ Supervisor Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6322"  where id = '17673'
=>>>>>>>>>>>>>>>>>>>>>> 17688 /lvl2/ Supervisor Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6322"  where id = '17688'
2995 /lvl1/ It Security Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3631 /lvl2/ IT Security Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Specialist", title_clean   = "IT Security Specialist", title_id  = "2995"  where id = '3631'
=>>>>>>>>>>>>>>>>>>>>>> 11671 /lvl2/ IT SECURITY SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SECURITY SPECIALIST", title_clean   = "IT SECURITY SPECIALIST", title_id  = "2995"  where id = '11671'
=>>>>>>>>>>>>>>>>>>>>>> 13208 /lvl2/ IT Security Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Specialist", title_clean   = "IT Security Specialist", title_id  = "2995"  where id = '13208'
1716 /lvl1/ Engineering Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 444 /lvl2/ Civil Engineering Supervisor (Palm Oil Mill)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Civil -idex- (Palm Oil Mill)", title_clean   = "Civil  (Palm Oil Mill)", title_id  = "1716"  where id = '444'
=>>>>>>>>>>>>>>>>>>>>>> 463 /lvl2/ Civil Engineering Supervisor (Palm Oil Mill)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Civil -idex- (Palm Oil Mill)", title_clean   = "Civil  (Palm Oil Mill)", title_id  = "1716"  where id = '463'
=>>>>>>>>>>>>>>>>>>>>>> 659 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '659'
=>>>>>>>>>>>>>>>>>>>>>> 5093 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '5093'
=>>>>>>>>>>>>>>>>>>>>>> 5152 /lvl2/ Engineering Supervisor (Metland Cileungsi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Metland Cileungsi)", title_clean   = " (Metland Cileungsi)", title_id  = "1716"  where id = '5152'
=>>>>>>>>>>>>>>>>>>>>>> 6270 /lvl2/ Engineering Supervisor (Metland Cileungsi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Metland Cileungsi)", title_clean   = " (Metland Cileungsi)", title_id  = "1716"  where id = '6270'

=>>>>>>>>>>>>>>>>>>>>>> 6678 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '6678'
=>>>>>>>>>>>>>>>>>>>>>> 6789 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '6789'
=>>>>>>>>>>>>>>>>>>>>>> 7820 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '7820'
=>>>>>>>>>>>>>>>>>>>>>> 8143 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '8143'
=>>>>>>>>>>>>>>>>>>>>>> 14273 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '14273'
=>>>>>>>>>>>>>>>>>>>>>> 17993 /lvl2/ ENGINEERING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEERING SUPERVISOR", title_clean   = "ENGINEERING SUPERVISOR", title_id  = "1716"  where id = '17993'
=>>>>>>>>>>>>>>>>>>>>>> 18035 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '18035'
=>>>>>>>>>>>>>>>>>>>>>> 18722 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '18722'
=>>>>>>>>>>>>>>>>>>>>>> 20377 /lvl2/ Engineering Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1716"  where id = '20377'
4020 /lvl1/ Online Trading Manager
=>>>>>>>>>>>>>>>>>>>>>> 17813 /lvl2/ Online Trading Manager (E-Commerce Division)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (E-Commerce Division)", title_clean   = " (E-Commerce Division)", title_id  = "4020"  where id = '17813'
=>>>>>>>>>>>>>>>>>>>>>> 20389 /lvl2/ Online Trading Manager \u002F Category Trading Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Category Trading Manager", title_clean   = " \u002F Category Trading Manager", title_id  = "4020"  where id = '20389'
5556 /lvl1/ Senior Java Programmer
=>>>>>>>>>>>>>>>>>>>>>> 8968 /lvl2/ SENIOR JAVA PROGRAMMER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR JAVA PROGRAMMER", title_clean   = "SENIOR JAVA PROGRAMMER", title_id  = "5556"  where id = '8968'
1205 /lvl1/ Creative Design Intern
=>>>>>>>>>>>>>>>>>>>>>> 8546 /lvl2/ Creative Design Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1205"  where id = '8546'
1717 /lvl1/ Engineering Technician
=>>>>>>>>>>>>>>>>>>>>>> 437 /lvl2/ Engineering Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1717"  where id = '437'
2997 /lvl1/ It Security Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6893 /lvl2/ IT Security Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Supervisor", title_clean   = "IT Security Supervisor", title_id  = "2997"  where id = '6893'
1718 /lvl1/ English Content Editor
=>>>>>>>>>>>>>>>>>>>>>> 13509 /lvl2/ English Content Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1718"  where id = '13509'
3510 /lvl1/ Manager Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 17039 /lvl2/ Manager Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3510"  where id = '17039'
1719 /lvl1/ English Content Writer
=>>>>>>>>>>>>>>>>>>>>>> 11450 /lvl2/ English Content Writer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1719"  where id = '11450'
1208 /lvl1/ Creative Designer Vcbl
=>>>>>>>>>>>>>>>>>>>>>> 8942 /lvl2/ Creative Designer VCBL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Creative Designer VCBL", title_clean   = "Creative Designer VCBL", title_id  = "1208"  where id = '8942'
=>>>>>>>>>>>>>>>>>>>>>> 10093 /lvl2/ Creative Designer VCBL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Creative Designer VCBL", title_clean   = "Creative Designer VCBL", title_id  = "1208"  where id = '10093'
698 /lvl1/ Brewing Superintendent
=>>>>>>>>>>>>>>>>>>>>>> 13338 /lvl2/ Brewing Superintendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "698"  where id = '13338'
6074 /lvl1/ Staff IT ERP Technical
=>>>>>>>>>>>>>>>>>>>>>> 7991 /lvl2/ STAFF IT ERP TECHNICAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF IT ERP TECHNICAL", title_clean   = "STAFF IT ERP TECHNICAL", title_id  = "6074"  where id = '7991'
=>>>>>>>>>>>>>>>>>>>>>> 8304 /lvl2/ STAFF IT ERP TECHNICAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF IT ERP TECHNICAL", title_clean   = "STAFF IT ERP TECHNICAL", title_id  = "6074"  where id = '8304'
3771 /lvl1/ Marketplace Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11876 /lvl2/ Marketplace Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3771"  where id = '11876'
=>>>>>>>>>>>>>>>>>>>>>> 12867 /lvl2/ Marketplace Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3771"  where id = '12867'
=>>>>>>>>>>>>>>>>>>>>>> 12884 /lvl2/ Marketplace Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3771"  where id = '12884'
5819 /lvl1/ Software Sales Officer
=>>>>>>>>>>>>>>>>>>>>>> 3733 /lvl2/ Software Sales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5819"  where id = '3733'
2236 /lvl1/ Grains Trading Officer
=>>>>>>>>>>>>>>>>>>>>>> 14956 /lvl2/ Grains Trading Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2236"  where id = '14956'
=>>>>>>>>>>>>>>>>>>>>>> 15645 /lvl2/ Grains Trading Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2236"  where id = '15645'
2492 /lvl1/ Human Resources Intern
5820 /lvl1/ Software Test Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2235 /lvl2/ Software Test Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5820"  where id = '2235'
=>>>>>>>>>>>>>>>>>>>>>> 9673 /lvl2/ Software Test Engineer (QA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (QA)", title_clean   = " (QA)", title_id  = "5820"  where id = '9673'
=>>>>>>>>>>>>>>>>>>>>>> 10845 /lvl2/ Software Test Engineer (Automation and Manual)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Automation and Manual)", title_clean   = " (Automation and Manual)", title_id  = "5820"  where id = '10845'
2494 /lvl1/ Human Resources Leader
=>>>>>>>>>>>>>>>>>>>>>> 11402 /lvl2/ Human Resources Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2494"  where id = '11402'
3006 /lvl1/ It Software Programmer
=>>>>>>>>>>>>>>>>>>>>>> 6669 /lvl2/ IT Software Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Software Programmer", title_clean   = "IT Software Programmer", title_id  = "3006"  where id = '6669'
6334 /lvl1/ Supervisor Operasional
=>>>>>>>>>>>>>>>>>>>>>> 8638 /lvl2/ Supervisor Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6334"  where id = '8638'
=>>>>>>>>>>>>>>>>>>>>>> 15322 /lvl2/ Supervisor Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6334"  where id = '15322'
=>>>>>>>>>>>>>>>>>>>>>> 19437 /lvl2/ Supervisor Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6334"  where id = '19437'
1215 /lvl1/ Creative Promo Officer
=>>>>>>>>>>>>>>>>>>>>>> 13061 /lvl2/ Creative Promo Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1215"  where id = '13061'
=>>>>>>>>>>>>>>>>>>>>>> 13073 /lvl2/ Creative Promo Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1215"  where id = '13073'
3265 /lvl1/ Koordinator IT Support
=>>>>>>>>>>>>>>>>>>>>>> 19650 /lvl2/ Koordinator IT Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3265"  where id = '19650'
4290 /lvl1/ Pic Accounting Finance
=>>>>>>>>>>>>>>>>>>>>>> 12013 /lvl2/ PIC Accounting Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PIC Accounting Finance", title_clean   = "PIC Accounting Finance", title_id  = "4290"  where id = '12013'
2243 /lvl1/ Graphic Design Officer

=>>>>>>>>>>>>>>>>>>>>>> 20524 /lvl2/ Graphic Design Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2243"  where id = '20524'
2756 /lvl1/ Internal Audit Manager
=>>>>>>>>>>>>>>>>>>>>>> 2988 /lvl2/ Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2756"  where id = '2988'
=>>>>>>>>>>>>>>>>>>>>>> 7199 /lvl2/ Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2756"  where id = '7199'
=>>>>>>>>>>>>>>>>>>>>>> 8654 /lvl2/ Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2756"  where id = '8654'
=>>>>>>>>>>>>>>>>>>>>>> 10598 /lvl2/ Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2756"  where id = '10598'
=>>>>>>>>>>>>>>>>>>>>>> 12740 /lvl2/ Internal Audit Manager (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "2756"  where id = '12740'
=>>>>>>>>>>>>>>>>>>>>>> 16018 /lvl2/ Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2756"  where id = '16018'
=>>>>>>>>>>>>>>>>>>>>>> 16031 /lvl2/ Internal Audit Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2756"  where id = '16031'
5316 /lvl1/ Sales Support Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4826 /lvl2/ Sales Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5316"  where id = '4826'
1221 /lvl1/ Credit Analyst Officer
=>>>>>>>>>>>>>>>>>>>>>> 9023 /lvl2/ Credit Analyst Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1221"  where id = '9023'
2757 /lvl1/ Internal Audit Officer
=>>>>>>>>>>>>>>>>>>>>>> 1164 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '1164'
=>>>>>>>>>>>>>>>>>>>>>> 2985 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '2985'
=>>>>>>>>>>>>>>>>>>>>>> 6921 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '6921'
=>>>>>>>>>>>>>>>>>>>>>> 11845 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '11845'
=>>>>>>>>>>>>>>>>>>>>>> 11862 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '11862'
=>>>>>>>>>>>>>>>>>>>>>> 12710 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '12710'
=>>>>>>>>>>>>>>>>>>>>>> 14204 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '14204'
=>>>>>>>>>>>>>>>>>>>>>> 14403 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '14403'
=>>>>>>>>>>>>>>>>>>>>>> 18077 /lvl2/ Internal Audit Officer (Palu)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palu)", title_clean   = " (Palu)", title_id  = "2757"  where id = '18077'
=>>>>>>>>>>>>>>>>>>>>>> 18192 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '18192'
=>>>>>>>>>>>>>>>>>>>>>> 18216 /lvl2/ Internal Audit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2757"  where id = '18216'
=>>>>>>>>>>>>>>>>>>>>>> 19679 /lvl2/ Internal Audit Officer (Manufacture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Manufacture)", title_clean   = " (Manufacture)", title_id  = "2757"  where id = '19679'
4293 /lvl1/ Pic Project Exhibition
=>>>>>>>>>>>>>>>>>>>>>> 6341 /lvl2/ PIC PROJECT EXHIBITION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PIC PROJECT EXHIBITION", title_clean   = "PIC PROJECT EXHIBITION", title_id  = "4293"  where id = '6341'
5829 /lvl1/ Solution Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 6158 /lvl2/ Solution Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5829"  where id = '6158'
1224 /lvl1/ Credit Corporate Staff
=>>>>>>>>>>>>>>>>>>>>>> 20090 /lvl2/ Credit Corporate Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1224"  where id = '20090'
3016 /lvl1/ It Strategy Consulting
=>>>>>>>>>>>>>>>>>>>>>> 4442 /lvl2/ IT Strategy Consulting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Strategy Consulting", title_clean   = "IT Strategy Consulting", title_id  = "3016"  where id = '4442'
6344 /lvl1/ Supervisor Procurement
=>>>>>>>>>>>>>>>>>>>>>> 12532 /lvl2/ Supervisor Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6344"  where id = '12532'
1738 /lvl1/ Environment Management
=>>>>>>>>>>>>>>>>>>>>>> 19212 /lvl2/ Environment Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1738"  where id = '19212'
=>>>>>>>>>>>>>>>>>>>>>> 20124 /lvl2/ Environment Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1738"  where id = '20124'
3274 /lvl1/ Koordinator Pustakawan
=>>>>>>>>>>>>>>>>>>>>>> 4935 /lvl2/ Koordinator Pustakawan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3274"  where id = '4935'
=>>>>>>>>>>>>>>>>>>>>>> 6058 /lvl2/ Koordinator Pustakawan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3274"  where id = '6058'
4298 /lvl1/ Pio Warehouse Operator
=>>>>>>>>>>>>>>>>>>>>>> 9514 /lvl2/ PIO Warehouse Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PIO Warehouse Operator", title_clean   = "PIO Warehouse Operator", title_id  = "4298"  where id = '9514'
1227 /lvl1/ Credit Marketing Mobil
=>>>>>>>>>>>>>>>>>>>>>> 6247 /lvl2/ Credit Marketing MOBIL Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Credit Marketing MOBIL Cirebon", title_clean   = "Credit Marketing MOBIL Cirebon", title_id  = "1227"  where id = '6247'
=>>>>>>>>>>>>>>>>>>>>>> 6642 /lvl2/ Credit Marketing Mobil Cimahi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cimahi", title_clean   = " Cimahi", title_id  = "1227"  where id = '6642'
=>>>>>>>>>>>>>>>>>>>>>> 9821 /lvl2/ Credit Marketing Mobil Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Solo", title_clean   = " Solo", title_id  = "1227"  where id = '9821'
=>>>>>>>>>>>>>>>>>>>>>> 10319 /lvl2/ Credit Marketing Mobil Sukabumi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sukabumi", title_clean   = " Sukabumi", title_id  = "1227"  where id = '10319'
=>>>>>>>>>>>>>>>>>>>>>> 10607 /lvl2/ Credit Marketing Mobil Tasikmalaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tasikmalaya", title_clean   = " Tasikmalaya", title_id  = "1227"  where id = '10607'
=>>>>>>>>>>>>>>>>>>>>>> 13398 /lvl2/ Credit Marketing Mobil Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "1227"  where id = '13398'
=>>>>>>>>>>>>>>>>>>>>>> 13608 /lvl2/ Credit Marketing Mobil Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "1227"  where id = '13608'
460 /lvl1/ Asset Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 290 /lvl2/ Asset Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "460"  where id = '290'
=>>>>>>>>>>>>>>>>>>>>>> 11783 /lvl2/ Asset Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "460"  where id = '11783'
1228 /lvl1/ Credit Marketing Motor
=>>>>>>>>>>>>>>>>>>>>>> 7230 /lvl2/ Credit Marketing Motor Cimahi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cimahi", title_clean   = " Cimahi", title_id  = "1228"  where id = '7230'
=>>>>>>>>>>>>>>>>>>>>>> 7527 /lvl2/ Credit Marketing Motor Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "1228"  where id = '7527'
=>>>>>>>>>>>>>>>>>>>>>> 9964 /lvl2/ Credit Marketing Motor Sukabumi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sukabumi", title_clean   = " Sukabumi", title_id  = "1228"  where id = '9964'
=>>>>>>>>>>>>>>>>>>>>>> 11979 /lvl2/ Credit Marketing Motor Tasikmalaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tasikmalaya", title_clean   = " Tasikmalaya", title_id  = "1228"  where id = '11979'
1741 /lvl1/ Environmental Engineer

=>>>>>>>>>>>>>>>>>>>>>> 18599 /lvl2/ Environmental Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1741"  where id = '18599'
2254 /lvl1/ Graphic Designer Staff
=>>>>>>>>>>>>>>>>>>>>>> 10718 /lvl2/ Graphic Designer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2254"  where id = '10718'
=>>>>>>>>>>>>>>>>>>>>>> 15912 /lvl2/ Graphic Designer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2254"  where id = '15912'
=>>>>>>>>>>>>>>>>>>>>>> 18848 /lvl2/ Graphic Designer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2254"  where id = '18848'
5838 /lvl1/ Sosial Media Spesialis
=>>>>>>>>>>>>>>>>>>>>>> 4336 /lvl2/ Sosial Media Spesialis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5838"  where id = '4336'
6862 /lvl1/ User Acquisition Staff
=>>>>>>>>>>>>>>>>>>>>>> 14765 /lvl2/ User Acquisition Staff - Remote
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Remote", title_clean   = " - Remote", title_id  = "6862"  where id = '14765'
=>>>>>>>>>>>>>>>>>>>>>> 15323 /lvl2/ User Acquisition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6862"  where id = '15323'
463 /lvl1/ Assistant Leader Store
2767 /lvl1/ Internal Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 2497 /lvl2/ Internal Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2767"  where id = '2497'
=>>>>>>>>>>>>>>>>>>>>>> 18714 /lvl2/ Internal Control Staff - CS2
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - CS2", title_clean   = " - CS2", title_id  = "2767"  where id = '18714'
4815 /lvl1/ Quantity Surveyor / Qs
=>>>>>>>>>>>>>>>>>>>>>> 11395 /lvl2/ Quantity Surveyor / QS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Quantity Surveyor / QS", title_clean   = "Quantity Surveyor / QS", title_id  = "4815"  where id = '11395'
979 /lvl1/ Coffee Shop Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 6722 /lvl2/ Coffee Shop Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "979"  where id = '6722'
4053 /lvl1/ Operational Accounting
=>>>>>>>>>>>>>>>>>>>>>> 7647 /lvl2/ Operational Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4053"  where id = '7647'
6613 /lvl1/ Technical Support Lead
=>>>>>>>>>>>>>>>>>>>>>> 13561 /lvl2/ Technical Support Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6613"  where id = '13561'
=>>>>>>>>>>>>>>>>>>>>>> 13806 /lvl2/ Technical Support Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6613"  where id = '13806'
3031 /lvl1/ It Support SAP Finance
=>>>>>>>>>>>>>>>>>>>>>> 8612 /lvl2/ IT Support SAP Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support SAP Finance", title_clean   = "IT Support SAP Finance", title_id  = "3031"  where id = '8612'
3544 /lvl1/ Manager Sales Property
=>>>>>>>>>>>>>>>>>>>>>> 9804 /lvl2/ MANAGER SALES PROPERTY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER SALES PROPERTY", title_clean   = "MANAGER SALES PROPERTY", title_id  = "3544"  where id = '9804'
6104 /lvl1/ Staff Material Control
=>>>>>>>>>>>>>>>>>>>>>> 18477 /lvl2/ STAFF MATERIAL CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MATERIAL CONTROL", title_clean   = "STAFF MATERIAL CONTROL", title_id  = "6104"  where id = '18477'
=>>>>>>>>>>>>>>>>>>>>>> 19423 /lvl2/ STAFF MATERIAL CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MATERIAL CONTROL", title_clean   = "STAFF MATERIAL CONTROL", title_id  = "6104"  where id = '19423'
6616 /lvl1/ Technical Trainer Hvac
=>>>>>>>>>>>>>>>>>>>>>> 3424 /lvl2/ Technical Trainer HVAC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical Trainer HVAC", title_clean   = "Technical Trainer HVAC", title_id  = "6616"  where id = '3424'
1499 /lvl1/ Digital Marketing Head
=>>>>>>>>>>>>>>>>>>>>>> 13678 /lvl2/ Digital Marketing Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1499"  where id = '13678'
=>>>>>>>>>>>>>>>>>>>>>> 13694 /lvl2/ Digital Marketing Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1499"  where id = '13694'
2267 /lvl1/ Guest Relation Officer
=>>>>>>>>>>>>>>>>>>>>>> 3676 /lvl2/ Guest Relation Officer (GRO) - Customer Service (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GRO) - Customer Service (Surabaya)", title_clean   = " (GRO) - Customer Service (Surabaya)", title_id  = "2267"  where id = '3676'
=>>>>>>>>>>>>>>>>>>>>>> 13737 /lvl2/ Guest Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2267"  where id = '13737'
=>>>>>>>>>>>>>>>>>>>>>> 14007 /lvl2/ Guest Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2267"  where id = '14007'
=>>>>>>>>>>>>>>>>>>>>>> 14800 /lvl2/ Guest Relation Officer (GRO) - Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GRO) - Customer Service", title_clean   = " (GRO) - Customer Service", title_id  = "2267"  where id = '14800'
=>>>>>>>>>>>>>>>>>>>>>> 15120 /lvl2/ GUEST RELATION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GUEST RELATION OFFICER", title_clean   = "GUEST RELATION OFFICER", title_id  = "2267"  where id = '15120'
=>>>>>>>>>>>>>>>>>>>>>> 16015 /lvl2/ Guest Relation Officer (Penempatan Tasikmalaya\u002FCirebon\u002FSamarinda)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Tasikmalaya\u002FCirebon\u002FSamarinda)", title_clean   = " (Penempatan Tasikmalaya\u002FCirebon\u002FSamarinda)", title_id  = "2267"  where id = '16015'
=>>>>>>>>>>>>>>>>>>>>>> 16115 /lvl2/ Guest Relation Officer (GRO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GRO)", title_clean   = " (GRO)", title_id  = "2267"  where id = '16115'
=>>>>>>>>>>>>>>>>>>>>>> 19258 /lvl2/ Guest Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2267"  where id = '19258'
=>>>>>>>>>>>>>>>>>>>>>> 19938 /lvl2/ Guest Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2267"  where id = '19938'
=>>>>>>>>>>>>>>>>>>>>>> 20152 /lvl2/ Guest Relation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2267"  where id = '20152'
4059 /lvl1/ Operational Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17724 /lvl2/ Production & Operational Supervisor (F&B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production & -idex- (F&B)", title_clean   = "Production &  (F&B)", title_id  = "4059"  where id = '17724'
=>>>>>>>>>>>>>>>>>>>>>> 18769 /lvl2/ Operational Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4059"  where id = '18769'
733 /lvl1/ Business Analyst Staff
=>>>>>>>>>>>>>>>>>>>>>> 11119 /lvl2/ Business Analyst Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "733"  where id = '11119'
=>>>>>>>>>>>>>>>>>>>>>> 11130 /lvl2/ Business Analyst Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "733"  where id = '11130'
989 /lvl1/ Color Matching Officer
=>>>>>>>>>>>>>>>>>>>>>> 18571 /lvl2/ Color Matching Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "989"  where id = '18571'
3551 /lvl1/ Manager Training Fleet
=>>>>>>>>>>>>>>>>>>>>>> 9944 /lvl2/ Manager Training Fleet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3551"  where id = '9944'
5601 /lvl1/ Senior Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 7623 /lvl2/ Senior Project Manager (IT Banking Industry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT Banking Industry)", title_clean   = " (IT Banking Industry)", title_id  = "5601"  where id = '7623'
=>>>>>>>>>>>>>>>>>>>>>> 8523 /lvl2/ Senior Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5601"  where id = '8523'
6369 /lvl1/ Supervisor Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 9863 /lvl2/ SUPERVISOR RECRUITMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR RECRUITMENT", title_clean   = "SUPERVISOR RECRUITMENT", title_id  = "6369"  where id = '9863'
3299 /lvl1/ Lead Back End Engineer

=>>>>>>>>>>>>>>>>>>>>>> 5265 /lvl2/ Lead Back End Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3299"  where id = '5265'
3811 /lvl1/ Mechanic Truck Trailer
6884 /lvl1/ Vendor Qa Senior Staff
6885 /lvl1/ Vessel Insurance Staff
=>>>>>>>>>>>>>>>>>>>>>> 12745 /lvl2/ Vessel Insurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6885"  where id = '12745'
3304 /lvl1/ Lead Generation Intern
=>>>>>>>>>>>>>>>>>>>>>> 19224 /lvl2/ Lead Generation Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3304"  where id = '19224'
1001 /lvl1/ Commis Pastry / Bakery
1257 /lvl1/ Customer Service Staff
4585 /lvl1/ Deputy Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 9177 /lvl2/ Project Manager / Deputy Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Project Manager / -idex-", title_clean   = "Project Manager / ", title_id  = "4585"  where id = '9177'
2282 /lvl1/ Guru Biologi Full Time
=>>>>>>>>>>>>>>>>>>>>>> 2749 /lvl2/ Guru Biologi Full Time
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2282"  where id = '2749'
3307 /lvl1/ Lead of Mine Operation
=>>>>>>>>>>>>>>>>>>>>>> 4275 /lvl2/ Lead of Mine Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3307"  where id = '4275'
=>>>>>>>>>>>>>>>>>>>>>> 5345 /lvl2/ Lead of Mine Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3307"  where id = '5345'
3052 /lvl1/ It Web Developer Staff
=>>>>>>>>>>>>>>>>>>>>>> 1976 /lvl2/ IT Web developer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Web developer Staff", title_clean   = "IT Web developer Staff", title_id  = "3052"  where id = '1976'
3310 /lvl1/ Lead Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5178 /lvl2/ LEAD SOFTWARE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEAD SOFTWARE ENGINEER", title_clean   = "LEAD SOFTWARE ENGINEER", title_id  = "3310"  where id = '5178'
=>>>>>>>>>>>>>>>>>>>>>> 9022 /lvl2/ Lead Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3310"  where id = '9022'
3058 /lvl1/ Japanese Speaker Staff
=>>>>>>>>>>>>>>>>>>>>>> 10811 /lvl2/ Japanese Speaker Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3058"  where id = '10811'
5362 /lvl1/ Sap Functional Support
=>>>>>>>>>>>>>>>>>>>>>> 14040 /lvl2/ SAP Functional Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Functional Support", title_clean   = "SAP Functional Support", title_id  = "5362"  where id = '14040'
5874 /lvl1/ Sr Full Stack Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11668 /lvl2/ Sr Full Stack Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5874"  where id = '11668'
4851 /lvl1/ React Native Developer
=>>>>>>>>>>>>>>>>>>>>>> 4996 /lvl2/ REACT NATIVE DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REACT NATIVE DEVELOPER", title_clean   = "REACT NATIVE DEVELOPER", title_id  = "4851"  where id = '4996'
=>>>>>>>>>>>>>>>>>>>>>> 9236 /lvl2/ React Native Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4851"  where id = '9236'
=>>>>>>>>>>>>>>>>>>>>>> 10122 /lvl2/ React Native Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4851"  where id = '10122'
=>>>>>>>>>>>>>>>>>>>>>> 10132 /lvl2/ React Native Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4851"  where id = '10132'
=>>>>>>>>>>>>>>>>>>>>>> 16113 /lvl2/ React Native Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4851"  where id = '16113'
5363 /lvl1/ Sap Functional Wm / Mm
6388 /lvl1/ Supervisor Steel Admin
=>>>>>>>>>>>>>>>>>>>>>> 576 /lvl2/ Supervisor Steel Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6388"  where id = '576'
6645 /lvl1/ Teknisi Alat Kesehatan
=>>>>>>>>>>>>>>>>>>>>>> 9107 /lvl2/ Teknisi Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6645"  where id = '9107'
=>>>>>>>>>>>>>>>>>>>>>> 19040 /lvl2/ Teknisi Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6645"  where id = '19040'
=>>>>>>>>>>>>>>>>>>>>>> 20421 /lvl2/ Teknisi Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6645"  where id = '20421'
1526 /lvl1/ Director of Operations
=>>>>>>>>>>>>>>>>>>>>>> 4423 /lvl2/ Director of Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1526"  where id = '4423'
3832 /lvl1/ Mechanical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 478 /lvl2/ Mechanical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3832"  where id = '478'
=>>>>>>>>>>>>>>>>>>>>>> 2715 /lvl2/ Mechanical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3832"  where id = '2715'
=>>>>>>>>>>>>>>>>>>>>>> 12360 /lvl2/ MECHANICAL ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MECHANICAL ENGINEERING", title_clean   = "MECHANICAL ENGINEERING", title_id  = "3832"  where id = '12360'
=>>>>>>>>>>>>>>>>>>>>>> 15537 /lvl2/ Procurement (Mechanical Engineering)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Procurement (-idex-)", title_clean   = "Procurement ()", title_id  = "3832"  where id = '15537'
=>>>>>>>>>>>>>>>>>>>>>> 18369 /lvl2/ Supervisor  Mechanical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor  -idex-", title_clean   = "Supervisor  ", title_id  = "3832"  where id = '18369'
=>>>>>>>>>>>>>>>>>>>>>> 18582 /lvl2/ Mechanical Engineering (Estimator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Estimator)", title_clean   = " (Estimator)", title_id  = "3832"  where id = '18582'
5880 /lvl1/ Staff Accounting & Tax
249 /lvl1/ Admin Purchasing Staff
=>>>>>>>>>>>>>>>>>>>>>> 12290 /lvl2/ Admin Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "249"  where id = '12290'
3321 /lvl1/ Leader Quality Control
=>>>>>>>>>>>>>>>>>>>>>> 698 /lvl2/ Leader Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3321"  where id = '698'
4601 /lvl1/ Project Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5836 /lvl2/ Project Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4601"  where id = '5836'
5626 /lvl1/ Senior Sales Engineers
=>>>>>>>>>>>>>>>>>>>>>> 1827 /lvl2/ SENIOR SALES ENGINEERS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SALES ENGINEERS", title_clean   = "SENIOR SALES ENGINEERS", title_id  = "5626"  where id = '1827'
3835 /lvl1/ Mechatronics Engineers
=>>>>>>>>>>>>>>>>>>>>>> 8807 /lvl2/ Mechatronics Engineers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3835"  where id = '8807'
5627 /lvl1/ Senior Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 4584 /lvl2/ Senior Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5627"  where id = '4584'
=>>>>>>>>>>>>>>>>>>>>>> 5317 /lvl2/ SENIOR SALES EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SALES EXECUTIVE", title_clean   = "SENIOR SALES EXECUTIVE", title_id  = "5627"  where id = '5317'
=>>>>>>>>>>>>>>>>>>>>>> 6506 /lvl2/ Senior Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5627"  where id = '6506'
=>>>>>>>>>>>>>>>>>>>>>> 8495 /lvl2/ SENIOR SALES EXECUTIVE (B2B, HORECA, KITCHEN EQUIPMENT, Distributor F&B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SALES EXECUTIVE (B2B, HORECA, KITCHEN EQUIPMENT, Distributor F&B)", title_clean   = "SENIOR SALES EXECUTIVE (B2B, HORECA, KITCHEN EQUIPMENT, Distributor F&B)", title_id  = "5627"  where id = '8495'
6652 /lvl1/ Teknisi Fip Commonrail
=>>>>>>>>>>>>>>>>>>>>>> 8820 /lvl2/ TEKNISI FIP COMMONRAIL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI FIP COMMONRAIL", title_clean   = "TEKNISI FIP COMMONRAIL", title_id  = "6652"  where id = '8820'
3325 /lvl1/ Learning & Development
=>>>>>>>>>>>>>>>>>>>>>> 370 /lvl2/ Learning & Development Staff (Penempatan NTT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Staff (Penempatan NTT)", title_clean   = " Staff (Penempatan NTT)", title_id  = "3325"  where id = '370'
=>>>>>>>>>>>>>>>>>>>>>> 1512 /lvl2/ Learning & Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3325"  where id = '1512'
=>>>>>>>>>>>>>>>>>>>>>> 17298 /lvl2/ Learning & Development Staff (Barista Trainer For Sumatra Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Staff (Barista Trainer For Sumatra Area)", title_clean   = " Staff (Barista Trainer For Sumatra Area)", title_id  = "3325"  where id = '17298'
=>>>>>>>>>>>>>>>>>>>>>> 17314 /lvl2/ Learning & Development Staff (Barista Trainer For Sumatra Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Staff (Barista Trainer For Sumatra Area)", title_clean   = " Staff (Barista Trainer For Sumatra Area)", title_id  = "3325"  where id = '17314'
1024 /lvl1/ Compliance / Qa Staff

=>>>>>>>>>>>>>>>>>>>>>> 5888 /lvl2/ Compliance / QA Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Compliance / QA Staff", title_clean   = "Compliance / QA Staff", title_id  = "1024"  where id = '5888'
1792 /lvl1/ Event Project Officer
=>>>>>>>>>>>>>>>>>>>>>> 20476 /lvl2/ Event Project Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1792"  where id = '20476'
5120 /lvl1/ Sales Corporate Staff
=>>>>>>>>>>>>>>>>>>>>>> 11061 /lvl2/ SALES CORPORATE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES CORPORATE STAFF", title_clean   = "SALES CORPORATE STAFF", title_id  = "5120"  where id = '11061'
6400 /lvl1/ Supervisor Technician
=>>>>>>>>>>>>>>>>>>>>>> 20557 /lvl2/ Supervisor Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6400"  where id = '20557'
6656 /lvl1/ Teknisi Gedung Pabrik
=>>>>>>>>>>>>>>>>>>>>>> 12405 /lvl2/ Teknisi Gedung Pabrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6656"  where id = '12405'
3074 /lvl1/ Junior .Net Developer
=>>>>>>>>>>>>>>>>>>>>>> 8428 /lvl2/ Junior .NET Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior .NET Developer", title_clean   = "Junior .NET Developer", title_id  = "3074"  where id = '8428'
=>>>>>>>>>>>>>>>>>>>>>> 15673 /lvl2/ Junior .Net Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3074"  where id = '15673'
5636 /lvl1/ Senior Staff Logistik
=>>>>>>>>>>>>>>>>>>>>>> 851 /lvl2/ SENIOR Staff LOGISTIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR Staff LOGISTIK", title_clean   = "SENIOR Staff LOGISTIK", title_id  = "5636"  where id = '851'
2821 /lvl1/ Investment Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 10225 /lvl2/ Investment Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2821"  where id = '10225'
5893 /lvl1/ Staff Bidang Logistik
=>>>>>>>>>>>>>>>>>>>>>> 1947 /lvl2/ Staff BIDANG LOGISTIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff BIDANG LOGISTIK", title_clean   = "Staff BIDANG LOGISTIK", title_id  = "5893"  where id = '1947'
1030 /lvl1/ Compliance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15683 /lvl2/ Compliance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1030"  where id = '15683'
4360 /lvl1/ Pre Sales Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 4006 /lvl2/ Pre Sales Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4360"  where id = '4006'
6153 /lvl1/ Staff Revenue Control
=>>>>>>>>>>>>>>>>>>>>>> 10572 /lvl2/ Staff Revenue Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6153"  where id = '10572'
4106 /lvl1/ Organics Farm Manager
5130 /lvl1/ Sales Department Head
1291 /lvl1/ Customer Relationship
=>>>>>>>>>>>>>>>>>>>>>> 5007 /lvl2/ Sales & Customer Relationship Executive – Full Time
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales & -idex- Executive – Full Time", title_clean   = "Sales &  Executive – Full Time", title_id  = "1291"  where id = '5007'
=>>>>>>>>>>>>>>>>>>>>>> 10692 /lvl2/ Customer Relationship Management (Customer Relationship Management Expert)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Management (-idex- Management Expert)", title_clean   = " Management ( Management Expert)", title_id  = "1291"  where id = '10692'
=>>>>>>>>>>>>>>>>>>>>>> 10715 /lvl2/ Customer Relationship Management (Customer Relationship Management Expert)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Management (-idex- Management Expert)", title_clean   = " Management ( Management Expert)", title_id  = "1291"  where id = '10715'
=>>>>>>>>>>>>>>>>>>>>>> 12888 /lvl2/ Customer Relationship Management (CRM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Management (CRM)", title_clean   = " Management (CRM)", title_id  = "1291"  where id = '12888'
=>>>>>>>>>>>>>>>>>>>>>> 13778 /lvl2/ Customer Relationship
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1291"  where id = '13778'
=>>>>>>>>>>>>>>>>>>>>>> 17819 /lvl2/ Customer Relationship Spv
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Spv", title_clean   = " Spv", title_id  = "1291"  where id = '17819'
1803 /lvl1/ Executive Pastry Chef
=>>>>>>>>>>>>>>>>>>>>>> 4708 /lvl2/ EXECUTIVE PASTRY CHEF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EXECUTIVE PASTRY CHEF", title_clean   = "EXECUTIVE PASTRY CHEF", title_id  = "1803"  where id = '4708'
2828 /lvl1/ Ios Developer Intern
=>>>>>>>>>>>>>>>>>>>>>> 15313 /lvl2/ IOS Developer Intern Remote
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IOS Developer Intern Remote", title_clean   = "IOS Developer Intern Remote", title_id  = "2828"  where id = '15313'
=>>>>>>>>>>>>>>>>>>>>>> 15887 /lvl2/ IOS Developer Intern Remote
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IOS Developer Intern Remote", title_clean   = "IOS Developer Intern Remote", title_id  = "2828"  where id = '15887'
5133 /lvl1/ Sales Design Interior
=>>>>>>>>>>>>>>>>>>>>>> 2800 /lvl2/ Sales Design Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5133"  where id = '2800'
5903 /lvl1/ Staff General Affairs
16 /lvl1/ Academics Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 15734 /lvl2/ Academics Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "16"  where id = '15734'
6160 /lvl1/ Staff Sales&Marketing
=>>>>>>>>>>>>>>>>>>>>>> 13144 /lvl2/ Staff Sales&Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6160"  where id = '13144'
3604 /lvl1/ Market Research Staff
=>>>>>>>>>>>>>>>>>>>>>> 2484 /lvl2/ Market Research Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3604"  where id = '2484'
5396 /lvl1/ Secretary / Assistant
5653 /lvl1/ Senior System Analyst
=>>>>>>>>>>>>>>>>>>>>>> 9812 /lvl2/ Senior System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5653"  where id = '9812'
534 /lvl1/ Assistant Pastry Chef
=>>>>>>>>>>>>>>>>>>>>>> 10128 /lvl2/ Assistant Pastry Chef
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "534"  where id = '10128'
=>>>>>>>>>>>>>>>>>>>>>> 10139 /lvl2/ Assistant Pastry Chef
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "534"  where id = '10139'
=>>>>>>>>>>>>>>>>>>>>>> 10995 /lvl2/ Assistant Pastry Chef
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "534"  where id = '10995'
4630 /lvl1/ Property Rental Agent
=>>>>>>>>>>>>>>>>>>>>>> 17194 /lvl2/ Property Rental Agent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4630"  where id = '17194'
6169 /lvl1/ Staff Tax & Budgeting
2330 /lvl1/ Head Cleaning Service
=>>>>>>>>>>>>>>>>>>>>>> 16338 /lvl2/ Head Cleaning Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2330"  where id = '16338'
5914 /lvl1/ Staff Logistik Jakbar
=>>>>>>>>>>>>>>>>>>>>>> 16409 /lvl2/ Staff LOGISTIK JAKBAR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff LOGISTIK JAKBAR", title_clean   = "Staff LOGISTIK JAKBAR", title_id  = "5914"  where id = '16409'
=>>>>>>>>>>>>>>>>>>>>>> 16425 /lvl2/ Staff LOGISTIK JAKBAR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff LOGISTIK JAKBAR", title_clean   = "Staff LOGISTIK JAKBAR", title_id  = "5914"  where id = '16425'
4379 /lvl1/ Pricing & Procurement
6939 /lvl1/ Warehouse Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 19469 /lvl2/ Warehouse Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6939"  where id = '19469'
28 /lvl1/ Account Executive ERP
=>>>>>>>>>>>>>>>>>>>>>> 10148 /lvl2/ Account Executive ERP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "28"  where id = '10148'
3100 /lvl1/ Junior Data Scientist
=>>>>>>>>>>>>>>>>>>>>>> 6543 /lvl2/ Junior Data Scientist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3100"  where id = '6543'
5661 /lvl1/ Senior Tax Accountant
=>>>>>>>>>>>>>>>>>>>>>> 9616 /lvl2/ Senior Tax Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5661"  where id = '9616'
=>>>>>>>>>>>>>>>>>>>>>> 14401 /lvl2/ Senior Tax Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5661"  where id = '14401'
5662 /lvl1/ Senior Tax Accounting

=>>>>>>>>>>>>>>>>>>>>>> 3294 /lvl2/ Senior Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5662"  where id = '3294'
6174 /lvl1/ Staff Teknik Produksi
=>>>>>>>>>>>>>>>>>>>>>> 16822 /lvl2/ Staff Teknik Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6174"  where id = '16822'
5919 /lvl1/ Staff Penjualan Event
5408 /lvl1/ Secretary To Director
=>>>>>>>>>>>>>>>>>>>>>> 6256 /lvl2/ Secretary To Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5408"  where id = '6256'
=>>>>>>>>>>>>>>>>>>>>>> 11591 /lvl2/ Secretary to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director", title_clean   = "Secretary to Director", title_id  = "5408"  where id = '11591'
=>>>>>>>>>>>>>>>>>>>>>> 12518 /lvl2/ Secretary to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director", title_clean   = "Secretary to Director", title_id  = "5408"  where id = '12518'
=>>>>>>>>>>>>>>>>>>>>>> 13090 /lvl2/ Secretary to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director", title_clean   = "Secretary to Director", title_id  = "5408"  where id = '13090'
=>>>>>>>>>>>>>>>>>>>>>> 13550 /lvl2/ Secretary to Director (JS - SEC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director (JS - SEC)", title_clean   = "Secretary to Director (JS - SEC)", title_id  = "5408"  where id = '13550'
=>>>>>>>>>>>>>>>>>>>>>> 13801 /lvl2/ Secretary to Director (JS - SEC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director (JS - SEC)", title_clean   = "Secretary to Director (JS - SEC)", title_id  = "5408"  where id = '13801'
=>>>>>>>>>>>>>>>>>>>>>> 14475 /lvl2/ Secretary To Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5408"  where id = '14475'
=>>>>>>>>>>>>>>>>>>>>>> 19440 /lvl2/ Secretary to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director", title_clean   = "Secretary to Director", title_id  = "5408"  where id = '19440'
=>>>>>>>>>>>>>>>>>>>>>> 20319 /lvl2/ Secretary to Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to Director", title_clean   = "Secretary to Director", title_id  = "5408"  where id = '20319'
5664 /lvl1/ Senior Tax Consultant
=>>>>>>>>>>>>>>>>>>>>>> 8828 /lvl2/ Senior Tax Consultant (Compliance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Compliance)", title_clean   = " (Compliance)", title_id  = "5664"  where id = '8828'
=>>>>>>>>>>>>>>>>>>>>>> 9684 /lvl2/ Senior Tax Consultant - Compliance Division
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Compliance Division", title_clean   = " - Compliance Division", title_id  = "5664"  where id = '9684'
=>>>>>>>>>>>>>>>>>>>>>> 10355 /lvl2/ Senior Tax Consultant (Bali based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali based)", title_clean   = " (Bali based)", title_id  = "5664"  where id = '10355'
=>>>>>>>>>>>>>>>>>>>>>> 10554 /lvl2/ Senior Tax Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5664"  where id = '10554'
=>>>>>>>>>>>>>>>>>>>>>> 14220 /lvl2/ Senior Tax Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5664"  where id = '14220'
1825 /lvl1/ Export & Import Staff
290 /lvl1/ Administrasi Keuangan
=>>>>>>>>>>>>>>>>>>>>>> 3217 /lvl2/ Stafff Administrasi Keuangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Stafff -idex-", title_clean   = "Stafff ", title_id  = "290"  where id = '3217'
=>>>>>>>>>>>>>>>>>>>>>> 12289 /lvl2/ Administrasi Keuangan (Operasional)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Operasional)", title_clean   = " (Operasional)", title_id  = "290"  where id = '12289'
=>>>>>>>>>>>>>>>>>>>>>> 17351 /lvl2/ Administrasi Keuangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "290"  where id = '17351'
=>>>>>>>>>>>>>>>>>>>>>> 17959 /lvl2/ Administrasi Keuangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "290"  where id = '17959'
2850 /lvl1/ It Architect Security
=>>>>>>>>>>>>>>>>>>>>>> 9550 /lvl2/ IT Architect Security
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Architect Security", title_clean   = "IT Architect Security", title_id  = "2850"  where id = '9550'
547 /lvl1/ Assistant Tax Manager
=>>>>>>>>>>>>>>>>>>>>>> 3979 /lvl2/ ASSISTANT TAX MANAGER  - TRANSFER PRICING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT TAX MANAGER  - TRANSFER PRICING", title_clean   = "ASSISTANT TAX MANAGER  - TRANSFER PRICING", title_id  = "547"  where id = '3979'
=>>>>>>>>>>>>>>>>>>>>>> 5962 /lvl2/ Assistant Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "547"  where id = '5962'
1315 /lvl1/ Customer Service Lead
=>>>>>>>>>>>>>>>>>>>>>> 10495 /lvl2/ Customer Service Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1315"  where id = '10495'
2852 /lvl1/ It Assistant Director
=>>>>>>>>>>>>>>>>>>>>>> 12044 /lvl2/ IT Assistant Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Assistant Director", title_clean   = "IT Assistant Director", title_id  = "2852"  where id = '12044'
3110 /lvl1/ Junior Hydrogeologist
=>>>>>>>>>>>>>>>>>>>>>> 7341 /lvl2/ Junior Hydrogeologist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3110"  where id = '7341'
295 /lvl1/ Administrasi Produksi
=>>>>>>>>>>>>>>>>>>>>>> 42 /lvl2/ Administrasi Produksi Pabrik Plastik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pabrik Plastik", title_clean   = " Pabrik Plastik", title_id  = "295"  where id = '42'
5671 /lvl1/ Senior Tester Manager
=>>>>>>>>>>>>>>>>>>>>>> 2640 /lvl2/ Senior Tester Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5671"  where id = '2640'
2088 /lvl1/ Franchise Development
=>>>>>>>>>>>>>>>>>>>>>> 5652 /lvl2/ Franchise Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2088"  where id = '5652'
2345 /lvl1/ Head of Control Tower
=>>>>>>>>>>>>>>>>>>>>>> 10115 /lvl2/ Head of Control Tower
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2345"  where id = '10115'
3113 /lvl1/ Junior Java Developer
=>>>>>>>>>>>>>>>>>>>>>> 7376 /lvl2/ Junior Java Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3113"  where id = '7376'
4649 /lvl1/ Public Relation Staff
=>>>>>>>>>>>>>>>>>>>>>> 16138 /lvl2/ Public Relation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4649"  where id = '16138'
=>>>>>>>>>>>>>>>>>>>>>> 17382 /lvl2/ Public Relation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4649"  where id = '17382'
1835 /lvl1/ Export Import Officer
=>>>>>>>>>>>>>>>>>>>>>> 4500 /lvl2/ Export Import Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1835"  where id = '4500'
2091 /lvl1/ Freelance Copywriting
=>>>>>>>>>>>>>>>>>>>>>> 1158 /lvl2/ Freelance Copywriting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2091"  where id = '1158'
4908 /lvl1/ Regional Manager West
=>>>>>>>>>>>>>>>>>>>>>> 853 /lvl2/ Regional Manager West
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4908"  where id = '853'
5676 /lvl1/ Senior Water Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13995 /lvl2/ Senior Water Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5676"  where id = '13995'
2349 /lvl1/ Head of Digital & Crm
=>>>>>>>>>>>>>>>>>>>>>> 20550 /lvl2/ Head of Digital & CRM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Head of Digital & CRM", title_clean   = "Head of Digital & CRM", title_id  = "2349"  where id = '20550'
3885 /lvl1/ Merchandising Manager
=>>>>>>>>>>>>>>>>>>>>>> 6217 /lvl2/ Merchandising Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3885"  where id = '6217'
=>>>>>>>>>>>>>>>>>>>>>> 6664 /lvl2/ Merchandising Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3885"  where id = '6664'
=>>>>>>>>>>>>>>>>>>>>>> 8363 /lvl2/ Merchandising Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3885"  where id = '8363'
=>>>>>>>>>>>>>>>>>>>>>> 13516 /lvl2/ Merchandising Manager - Beauty
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Beauty", title_clean   = " - Beauty", title_id  = "3885"  where id = '13516'
46 /lvl1/ Account Payable Staff

=>>>>>>>>>>>>>>>>>>>>>> 6017 /lvl2/ ACCOUNT PAYABLE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT PAYABLE STAFF", title_clean   = "ACCOUNT PAYABLE STAFF", title_id  = "46"  where id = '6017'
=>>>>>>>>>>>>>>>>>>>>>> 7180 /lvl2/ ACCOUNT PAYABLE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT PAYABLE STAFF", title_clean   = "ACCOUNT PAYABLE STAFF", title_id  = "46"  where id = '7180'
=>>>>>>>>>>>>>>>>>>>>>> 12288 /lvl2/ Account Payable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "46"  where id = '12288'
=>>>>>>>>>>>>>>>>>>>>>> 13424 /lvl2/ Account Payable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "46"  where id = '13424'
=>>>>>>>>>>>>>>>>>>>>>> 13941 /lvl2/ Account Payable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "46"  where id = '13941'
=>>>>>>>>>>>>>>>>>>>>>> 13955 /lvl2/ Account Payable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "46"  where id = '13955'
=>>>>>>>>>>>>>>>>>>>>>> 19286 /lvl2/ Account Payable Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "46"  where id = '19286'
815 /lvl1/ C# Back End Developer
5679 /lvl1/ Senior Web Programmer
=>>>>>>>>>>>>>>>>>>>>>> 5209 /lvl2/ Senior Web Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5679"  where id = '5209'
=>>>>>>>>>>>>>>>>>>>>>> 6296 /lvl2/ Senior Web Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5679"  where id = '6296'
4144 /lvl1/ Partnership Executive
=>>>>>>>>>>>>>>>>>>>>>> 924 /lvl2/ Partnership Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4144"  where id = '924'
5936 /lvl1/ Staff Sales Marketing
5169 /lvl1/ Sales Executive Hotel
=>>>>>>>>>>>>>>>>>>>>>> 4181 /lvl2/ SALES EXECUTIVE HOTEL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES EXECUTIVE HOTEL", title_clean   = "SALES EXECUTIVE HOTEL", title_id  = "5169"  where id = '4181'
4147 /lvl1/ Parts Admin Assistant
=>>>>>>>>>>>>>>>>>>>>>> 18511 /lvl2/ Parts Admin Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4147"  where id = '18511'
4917 /lvl1/ Regional Sales Person
=>>>>>>>>>>>>>>>>>>>>>> 18753 /lvl2/ Regional Sales Person
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4917"  where id = '18753'
3126 /lvl1/ Junior Odoo Developer
=>>>>>>>>>>>>>>>>>>>>>> 5301 /lvl2/ Junior Odoo Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3126"  where id = '5301'
5942 /lvl1/ Staff Account Payable
=>>>>>>>>>>>>>>>>>>>>>> 12025 /lvl2/ STAFF ACCOUNT PAYABLE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNT PAYABLE", title_clean   = "STAFF ACCOUNT PAYABLE", title_id  = "5942"  where id = '12025'
=>>>>>>>>>>>>>>>>>>>>>> 12163 /lvl2/ Staff Account Payable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5942"  where id = '12163'
311 /lvl1/ Administration Intern
=>>>>>>>>>>>>>>>>>>>>>> 233 /lvl2/ Sales & Marketing  Administration Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales & Marketing  -idex-", title_clean   = "Sales & Marketing  ", title_id  = "311"  where id = '233'
=>>>>>>>>>>>>>>>>>>>>>> 11273 /lvl2/ Administration Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "311"  where id = '11273'
=>>>>>>>>>>>>>>>>>>>>>> 12744 /lvl2/ Administration Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "311"  where id = '12744'
2359 /lvl1/ Head of Finance & Tax
=>>>>>>>>>>>>>>>>>>>>>> 19936 /lvl2/ Head of Finance & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2359"  where id = '19936'
2615 /lvl1/ Human Capital Manager
=>>>>>>>>>>>>>>>>>>>>>> 11943 /lvl2/ Human Capital Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2615"  where id = '11943'
=>>>>>>>>>>>>>>>>>>>>>> 14069 /lvl2/ Human Capital Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2615"  where id = '14069'
=>>>>>>>>>>>>>>>>>>>>>> 14390 /lvl2/ Human Capital Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2615"  where id = '14390'
=>>>>>>>>>>>>>>>>>>>>>> 14429 /lvl2/ Human Capital Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2615"  where id = '14429'
3639 /lvl1/ Marketing Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 6743 /lvl2/ Marketing Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3639"  where id = '6743'
2616 /lvl1/ Human Capital Officer
=>>>>>>>>>>>>>>>>>>>>>> 231 /lvl2/ Human Capital Officer (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "2616"  where id = '231'
=>>>>>>>>>>>>>>>>>>>>>> 17282 /lvl2/ Human Capital Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2616"  where id = '17282'
2872 /lvl1/ It Business Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 17950 /lvl2/ IT Business Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Business Warehouse", title_clean   = "IT Business Warehouse", title_id  = "2872"  where id = '17950'
4409 /lvl1/ Procurement Assistant
=>>>>>>>>>>>>>>>>>>>>>> 5831 /lvl2/ PROCUREMENT ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCUREMENT ASSISTANT", title_clean   = "PROCUREMENT ASSISTANT", title_id  = "4409"  where id = '5831'
=>>>>>>>>>>>>>>>>>>>>>> 6968 /lvl2/ PROCUREMENT ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCUREMENT ASSISTANT", title_clean   = "PROCUREMENT ASSISTANT", title_id  = "4409"  where id = '6968'
=>>>>>>>>>>>>>>>>>>>>>> 13845 /lvl2/ Procurement Assistant Manager - SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Manager - SURABAYA", title_clean   = " Manager - SURABAYA", title_id  = "4409"  where id = '13845'
6713 /lvl1/ Telemarketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 11152 /lvl2/ Telemarketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6713"  where id = '11152'
=>>>>>>>>>>>>>>>>>>>>>> 11963 /lvl2/ TELEMARKETING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TELEMARKETING OFFICER", title_clean   = "TELEMARKETING OFFICER", title_id  = "6713"  where id = '11963'
=>>>>>>>>>>>>>>>>>>>>>> 14088 /lvl2/ Telemarketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6713"  where id = '14088'
=>>>>>>>>>>>>>>>>>>>>>> 18284 /lvl2/ Telemarketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6713"  where id = '18284'
=>>>>>>>>>>>>>>>>>>>>>> 19896 /lvl2/ Telemarketing Officer  - Alam Sutera, Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  - Alam Sutera, Tangerang Selatan", title_clean   = "  - Alam Sutera, Tangerang Selatan", title_id  = "6713"  where id = '19896'
59 /lvl1/ Accountant Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18661 /lvl2/ Accountant Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "59"  where id = '18661'
2363 /lvl1/ Head of Ho & Branches
4414 /lvl1/ Procurement Executive
=>>>>>>>>>>>>>>>>>>>>>> 13528 /lvl2/ Procurement Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4414"  where id = '13528'
5183 /lvl1/ Sales Food & Beverage
=>>>>>>>>>>>>>>>>>>>>>> 11438 /lvl2/ Sales Food & Beverage
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5183"  where id = '11438'
2624 /lvl1/ Human Resource Intern
=>>>>>>>>>>>>>>>>>>>>>> 6300 /lvl2/ Human Resource Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2624"  where id = '6300'
=>>>>>>>>>>>>>>>>>>>>>> 12062 /lvl2/ Human Resource Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2624"  where id = '12062'
3136 /lvl1/ Junior Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11750 /lvl2/ Junior Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3136"  where id = '11750'
4160 /lvl1/ Payment Expense Staff

=>>>>>>>>>>>>>>>>>>>>>> 6971 /lvl2/ Payment Expense Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4160"  where id = '6971'
321 /lvl1/ Admission Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 2881 /lvl2/ Admission Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "321"  where id = '2881'
3649 /lvl1/ Marketing Back Office
=>>>>>>>>>>>>>>>>>>>>>> 8662 /lvl2/ Marketing Back Office
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3649"  where id = '8662'
1858 /lvl1/ F&B Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 14599 /lvl2/ F&B Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1858"  where id = '14599'
=>>>>>>>>>>>>>>>>>>>>>> 14997 /lvl2/ F&B Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1858"  where id = '14997'
5186 /lvl1/ Sales Force Exclusive
=>>>>>>>>>>>>>>>>>>>>>> 19265 /lvl2/ Sales Force Exclusive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5186"  where id = '19265'
=>>>>>>>>>>>>>>>>>>>>>> 20175 /lvl2/ Sales Force Exclusive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5186"  where id = '20175'
6469 /lvl1/ T&M Time Keeper Staff
=>>>>>>>>>>>>>>>>>>>>>> 18707 /lvl2/ T&M Time Keeper Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6469"  where id = '18707'
6725 /lvl1/ Telesales Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 15541 /lvl2/ Telesales Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6725"  where id = '15541'
=>>>>>>>>>>>>>>>>>>>>>> 15559 /lvl2/ Telesales Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6725"  where id = '15559'
3654 /lvl1/ Marketing Co Branding
=>>>>>>>>>>>>>>>>>>>>>> 9612 /lvl2/ Marketing Co Branding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3654"  where id = '9612'
4934 /lvl1/ Regulatory Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18229 /lvl2/ Regulatory Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4934"  where id = '18229'
5958 /lvl1/ Staff Accouting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 3999 /lvl2/ STAFF ACCOUTING & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUTING & TAX", title_clean   = "STAFF ACCOUTING & TAX", title_id  = "5958"  where id = '3999'
1351 /lvl1/ Data Analytics Intern
=>>>>>>>>>>>>>>>>>>>>>> 5382 /lvl2/ Data Analytics Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1351"  where id = '5382'
3911 /lvl1/ Mobile Apps Developer
=>>>>>>>>>>>>>>>>>>>>>> 8348 /lvl2/ Mobile Apps Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3911"  where id = '8348'
=>>>>>>>>>>>>>>>>>>>>>> 9395 /lvl2/ Mobile Apps Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3911"  where id = '9395'
=>>>>>>>>>>>>>>>>>>>>>> 10281 /lvl2/ Mobile Apps Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3911"  where id = '10281'
=>>>>>>>>>>>>>>>>>>>>>> 10518 /lvl2/ Mobile Apps Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3911"  where id = '10518'
584 /lvl1/ Automation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13027 /lvl2/ Automation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "584"  where id = '13027'
840 /lvl1/ Cargo Sales Executive
=>>>>>>>>>>>>>>>>>>>>>> 5276 /lvl2/ Cargo Sales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "840"  where id = '5276'
6984 /lvl1/ Web Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 5056 /lvl2/ Web Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6984"  where id = '5056'
3145 /lvl1/ Junior Tax Accounting
=>>>>>>>>>>>>>>>>>>>>>> 20029 /lvl2/ Junior Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3145"  where id = '20029'
3913 /lvl1/ Mobile Developer Apps
=>>>>>>>>>>>>>>>>>>>>>> 11530 /lvl2/ Mobile Developer Apps
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3913"  where id = '11530'
=>>>>>>>>>>>>>>>>>>>>>> 11548 /lvl2/ Mobile Developer Apps
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3913"  where id = '11548'
6217 /lvl1/ Strategic Ops Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11245 /lvl2/ Strategic Ops Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6217"  where id = '11245'
6473 /lvl1/ Talent & Admin Online
=>>>>>>>>>>>>>>>>>>>>>> 2176 /lvl2/ Talent & Admin Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6473"  where id = '2176'
3146 /lvl1/ Junior Tax Consultant
=>>>>>>>>>>>>>>>>>>>>>> 3284 /lvl2/ JUNIOR TAX CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR TAX CONSULTANT", title_clean   = "JUNIOR TAX CONSULTANT", title_id  = "3146"  where id = '3284'
=>>>>>>>>>>>>>>>>>>>>>> 3363 /lvl2/ Junior Tax Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3146"  where id = '3363'
=>>>>>>>>>>>>>>>>>>>>>> 11060 /lvl2/ Junior Tax Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3146"  where id = '11060'
=>>>>>>>>>>>>>>>>>>>>>> 16229 /lvl2/ Junior Tax Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3146"  where id = '16229'
=>>>>>>>>>>>>>>>>>>>>>> 19689 /lvl2/ Junior Tax Consultant (Bali based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali based)", title_clean   = " (Bali based)", title_id  = "3146"  where id = '19689'
=>>>>>>>>>>>>>>>>>>>>>> 19707 /lvl2/ Junior Tax Consultant (Bali based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali based)", title_clean   = " (Bali based)", title_id  = "3146"  where id = '19707'
3402 /lvl1/ Logistic & Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 618 /lvl2/ Logistic & Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3402"  where id = '618'
6218 /lvl1/ Strategic Partnership
=>>>>>>>>>>>>>>>>>>>>>> 2607 /lvl2/ Strategic Partnership
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6218"  where id = '2607'
3915 /lvl1/ Mobile Developer Lead
=>>>>>>>>>>>>>>>>>>>>>> 7627 /lvl2/ Mobile Developer Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3915"  where id = '7627'
3917 /lvl1/ Mobile GAme Developer
=>>>>>>>>>>>>>>>>>>>>>> 12560 /lvl2/ MOBILE GAME DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MOBILE GAME DEVELOPER", title_clean   = "MOBILE GAME DEVELOPER", title_id  = "3917"  where id = '12560'
5965 /lvl1/ Staff Admin Inventori
=>>>>>>>>>>>>>>>>>>>>>> 5029 /lvl2/ STAFF ADMIN INVENTORI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMIN INVENTORI", title_clean   = "STAFF ADMIN INVENTORI", title_id  = "5965"  where id = '5029'
=>>>>>>>>>>>>>>>>>>>>>> 6102 /lvl2/ STAFF ADMIN INVENTORI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMIN INVENTORI", title_clean   = "STAFF ADMIN INVENTORI", title_id  = "5965"  where id = '6102'
5966 /lvl1/ Staff Admin Marketing
=>>>>>>>>>>>>>>>>>>>>>> 16970 /lvl2/ Staff Admin Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5966"  where id = '16970'
2383 /lvl1/ Head of Mine Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2703 /lvl2/ Head of Mine Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2383"  where id = '2703'
2639 /lvl1/ Human Resources Staff
=>>>>>>>>>>>>>>>>>>>>>> 523 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '523'
=>>>>>>>>>>>>>>>>>>>>>> 536 /lvl2/ Human Resources Staff (NTT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (NTT)", title_clean   = " (NTT)", title_id  = "2639"  where id = '536'
=>>>>>>>>>>>>>>>>>>>>>> 541 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '541'
=>>>>>>>>>>>>>>>>>>>>>> 1642 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '1642'
=>>>>>>>>>>>>>>>>>>>>>> 2260 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '2260'
=>>>>>>>>>>>>>>>>>>>>>> 2705 /lvl2/ Human Resources Staff (Penempatan di P. Obi, Maluku Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan di P. Obi, Maluku Utara)", title_clean   = " (Penempatan di P. Obi, Maluku Utara)", title_id  = "2639"  where id = '2705'
=>>>>>>>>>>>>>>>>>>>>>> 3385 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '3385'
=>>>>>>>>>>>>>>>>>>>>>> 10382 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '10382'
=>>>>>>>>>>>>>>>>>>>>>> 10501 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '10501'
=>>>>>>>>>>>>>>>>>>>>>> 11297 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '11297'
=>>>>>>>>>>>>>>>>>>>>>> 12921 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '12921'
=>>>>>>>>>>>>>>>>>>>>>> 13278 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '13278'
=>>>>>>>>>>>>>>>>>>>>>> 13427 /lvl2/ Administration ( Legal Staff & Human Resources Staff)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Administration ( Legal Staff & -idex-)", title_clean   = "Administration ( Legal Staff & )", title_id  = "2639"  where id = '13427'
=>>>>>>>>>>>>>>>>>>>>>> 13454 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '13454'
=>>>>>>>>>>>>>>>>>>>>>> 14089 /lvl2/ Human Resources STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources STAFF", title_clean   = "Human Resources STAFF", title_id  = "2639"  where id = '14089'
=>>>>>>>>>>>>>>>>>>>>>> 14181 /lvl2/ Human Resources Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-f", title_clean   = "f", title_id  = "2639"  where id = '14181'
=>>>>>>>>>>>>>>>>>>>>>> 14260 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '14260'
=>>>>>>>>>>>>>>>>>>>>>> 14277 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '14277'
=>>>>>>>>>>>>>>>>>>>>>> 14544 /lvl2/ Human Resources Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-f", title_clean   = "f", title_id  = "2639"  where id = '14544'
=>>>>>>>>>>>>>>>>>>>>>> 16253 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '16253'
=>>>>>>>>>>>>>>>>>>>>>> 16920 /lvl2/ HUMAN RESOURCES STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HUMAN RESOURCES STAFF", title_clean   = "HUMAN RESOURCES STAFF", title_id  = "2639"  where id = '16920'
=>>>>>>>>>>>>>>>>>>>>>> 17713 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '17713'
=>>>>>>>>>>>>>>>>>>>>>> 17732 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '17732'
=>>>>>>>>>>>>>>>>>>>>>> 18866 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '18866'
=>>>>>>>>>>>>>>>>>>>>>> 19511 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '19511'
=>>>>>>>>>>>>>>>>>>>>>> 19812 /lvl2/ Human Resources Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2639"  where id = '19812'
336 /lvl1/ Agent Desk Collection

=>>>>>>>>>>>>>>>>>>>>>> 14611 /lvl2/ Agent Desk Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "336"  where id = '14611'
=>>>>>>>>>>>>>>>>>>>>>> 15004 /lvl2/ Agent Desk Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "336"  where id = '15004'
=>>>>>>>>>>>>>>>>>>>>>> 15026 /lvl2/ Agent Desk Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "336"  where id = '15026'
1104 /lvl1/ Coordinator Expansion
=>>>>>>>>>>>>>>>>>>>>>> 1713 /lvl2/ Coordinator Expansion
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1104"  where id = '1713'
2128 /lvl1/ Full Stack Programmer
=>>>>>>>>>>>>>>>>>>>>>> 4649 /lvl2/ Full Stack Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2128"  where id = '4649'
=>>>>>>>>>>>>>>>>>>>>>> 9549 /lvl2/ Full Stack Programmer (Web Developer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Web Developer)", title_clean   = " (Web Developer)", title_id  = "2128"  where id = '9549'
=>>>>>>>>>>>>>>>>>>>>>> 9718 /lvl2/ Full stack programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full stack programmer", title_clean   = "Full stack programmer", title_id  = "2128"  where id = '9718'
1618 /lvl1/ Dynamic 365 Developer
=>>>>>>>>>>>>>>>>>>>>>> 7405 /lvl2/ Dynamic 365 Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1618"  where id = '7405'
4690 /lvl1/ Purchasing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3476 /lvl2/ Import Procurement  /  Purchasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Import Procurement  /  -idex-", title_clean   = "Import Procurement  /  ", title_id  = "4690"  where id = '3476'
=>>>>>>>>>>>>>>>>>>>>>> 6049 /lvl2/ Purchasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4690"  where id = '6049'
=>>>>>>>>>>>>>>>>>>>>>> 8379 /lvl2/ PURCHASING SUPERVISOR (Raw Material & Packaging Material)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING SUPERVISOR (Raw Material & Packaging Material)", title_clean   = "PURCHASING SUPERVISOR (Raw Material & Packaging Material)", title_id  = "4690"  where id = '8379'
=>>>>>>>>>>>>>>>>>>>>>> 8392 /lvl2/ PURCHASING SUPERVISOR (Raw Material & Packaging Material)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING SUPERVISOR (Raw Material & Packaging Material)", title_clean   = "PURCHASING SUPERVISOR (Raw Material & Packaging Material)", title_id  = "4690"  where id = '8392'
=>>>>>>>>>>>>>>>>>>>>>> 8902 /lvl2/ Purchasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4690"  where id = '8902'
=>>>>>>>>>>>>>>>>>>>>>> 17546 /lvl2/ Purchasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4690"  where id = '17546'
=>>>>>>>>>>>>>>>>>>>>>> 19842 /lvl2/ SALES & PURCHASING SUPERVISOR (For Automotive Manufacture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & PURCHASING SUPERVISOR (For Automotive Manufacture)", title_clean   = "SALES & PURCHASING SUPERVISOR (For Automotive Manufacture)", title_id  = "4690"  where id = '19842'
=>>>>>>>>>>>>>>>>>>>>>> 19873 /lvl2/ Purchasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4690"  where id = '19873'
5459 /lvl1/ Senior Accounting Tax
=>>>>>>>>>>>>>>>>>>>>>> 14274 /lvl2/ Senior Accounting Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5459"  where id = '14274'
5972 /lvl1/ Staff Admin Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 431 /lvl2/ Staff Admin Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5972"  where id = '431'
2133 /lvl1/ Full Stack Programmer
5974 /lvl1/ Staff Admininstration
=>>>>>>>>>>>>>>>>>>>>>> 17751 /lvl2/ STAFF ADMININSTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMININSTRATION", title_clean   = "STAFF ADMININSTRATION", title_id  = "5974"  where id = '17751'
1113 /lvl1/ Copywriter Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20018 /lvl2/ Copywriter Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1113"  where id = '20018'
3673 /lvl1/ Marketing Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 3553 /lvl2/ Marketing Coordinator EF English First Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- EF English First Tangerang", title_clean   = " EF English First Tangerang", title_id  = "3673"  where id = '3553'
=>>>>>>>>>>>>>>>>>>>>>> 4567 /lvl2/ Marketing Coordinator (EF Palembang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (EF Palembang)", title_clean   = " (EF Palembang)", title_id  = "3673"  where id = '4567'
=>>>>>>>>>>>>>>>>>>>>>> 7089 /lvl2/ Marketing Coordinator (EF Pontianak)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (EF Pontianak)", title_clean   = " (EF Pontianak)", title_id  = "3673"  where id = '7089'
=>>>>>>>>>>>>>>>>>>>>>> 20327 /lvl2/ Marketing Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3673"  where id = '20327'
5465 /lvl1/ Senior Architect / 3D
2650 /lvl1/ Ict Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 17445 /lvl2/ ICT Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ICT Account Executive", title_clean   = "ICT Account Executive", title_id  = "2650"  where id = '17445'
4701 /lvl1/ Qa / Regulatory Staff
7005 /lvl1/ Wireless O&M Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5107 /lvl2/ Wireless O&M Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7005"  where id = '5107'
95 /lvl1/ Accounting Consultant
=>>>>>>>>>>>>>>>>>>>>>> 17564 /lvl2/ Accounting Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "95"  where id = '17564'
607 /lvl1/ Bancassurance Advisor
=>>>>>>>>>>>>>>>>>>>>>> 1421 /lvl2/ Bancassurance Advisor Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Kalimantan", title_clean   = " Kalimantan", title_id  = "607"  where id = '1421'
=>>>>>>>>>>>>>>>>>>>>>> 6967 /lvl2/ Bancassurance Advisor Sumatera
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sumatera", title_clean   = " Sumatera", title_id  = "607"  where id = '6967'
=>>>>>>>>>>>>>>>>>>>>>> 6979 /lvl2/ Bancassurance Advisor Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jawa Timur", title_clean   = " Jawa Timur", title_id  = "607"  where id = '6979'
=>>>>>>>>>>>>>>>>>>>>>> 8431 /lvl2/ Bancassurance Advisor Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jawa Timur", title_clean   = " Jawa Timur", title_id  = "607"  where id = '8431'
2656 /lvl1/ Ict Teacher Secondary
=>>>>>>>>>>>>>>>>>>>>>> 6377 /lvl2/ ICT TEACHER SECONDARY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ICT TEACHER SECONDARY", title_clean   = "ICT TEACHER SECONDARY", title_id  = "2656"  where id = '6377'
3168 /lvl1/ Kasir & Admin Finance
=>>>>>>>>>>>>>>>>>>>>>> 16218 /lvl2/ Kasir & Admin Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3168"  where id = '16218'
2402 /lvl1/ Head of Tour Division
=>>>>>>>>>>>>>>>>>>>>>> 1820 /lvl2/ HEAD OF TOUR DIVISION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD OF TOUR DIVISION", title_clean   = "HEAD OF TOUR DIVISION", title_id  = "2402"  where id = '1820'
6244 /lvl1/ Supervisor / Head Bar
=>>>>>>>>>>>>>>>>>>>>>> 12475 /lvl2/ Supervisor / Head Bar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6244"  where id = '12475'
=>>>>>>>>>>>>>>>>>>>>>> 12511 /lvl2/ Supervisor / Head Bar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6244"  where id = '12511'
1638 /lvl1/ Edp Junior Specialist
2150 /lvl1/ GA Maintainance Staff
=>>>>>>>>>>>>>>>>>>>>>> 19719 /lvl2/ GA Maintainance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2150"  where id = '19719'
3686 /lvl1/ Marketing Engineering
=>>>>>>>>>>>>>>>>>>>>>> 2010 /lvl2/ MARKETING ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING ENGINEERING", title_clean   = "MARKETING ENGINEERING", title_id  = "3686"  where id = '2010'
=>>>>>>>>>>>>>>>>>>>>>> 17601 /lvl2/ Marketing Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3686"  where id = '17601'
5990 /lvl1/ Staff Analyst Officer

=>>>>>>>>>>>>>>>>>>>>>> 13898 /lvl2/ Staff Analyst Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5990"  where id = '13898'
6248 /lvl1/ Supervisor Accounting
=>>>>>>>>>>>>>>>>>>>>>> 858 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '858'
=>>>>>>>>>>>>>>>>>>>>>> 3263 /lvl2/ SUPERVISOR ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR ACCOUNTING", title_clean   = "SUPERVISOR ACCOUNTING", title_id  = "6248"  where id = '3263'
=>>>>>>>>>>>>>>>>>>>>>> 4467 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '4467'
=>>>>>>>>>>>>>>>>>>>>>> 6942 /lvl2/ Supervisor Accounting dan Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- dan Tax", title_clean   = " dan Tax", title_id  = "6248"  where id = '6942'
=>>>>>>>>>>>>>>>>>>>>>> 11820 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '11820'
=>>>>>>>>>>>>>>>>>>>>>> 13361 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '13361'
=>>>>>>>>>>>>>>>>>>>>>> 13577 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '13577'
=>>>>>>>>>>>>>>>>>>>>>> 18675 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '18675'
=>>>>>>>>>>>>>>>>>>>>>> 18903 /lvl2/ Supervisor Accounting dan Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- dan Tax", title_clean   = " dan Tax", title_id  = "6248"  where id = '18903'
=>>>>>>>>>>>>>>>>>>>>>> 20307 /lvl2/ Supervisor Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6248"  where id = '20307'
2153 /lvl1/ GA Renovation Officer
=>>>>>>>>>>>>>>>>>>>>>> 12786 /lvl2/ GA Renovation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2153"  where id = '12786'
2921 /lvl1/ It Infra & Networking
=>>>>>>>>>>>>>>>>>>>>>> 131 /lvl2/ IT Infra & Networking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infra & Networking", title_clean   = "IT Infra & Networking", title_id  = "2921"  where id = '131'
3689 /lvl1/ Marketing Event Staff
=>>>>>>>>>>>>>>>>>>>>>> 663 /lvl2/ Marketing Event Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3689"  where id = '663'
=>>>>>>>>>>>>>>>>>>>>>> 16473 /lvl2/ Marketing Event Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3689"  where id = '16473'
4457 /lvl1/ Product Manager Telco
=>>>>>>>>>>>>>>>>>>>>>> 2625 /lvl2/ Product Manager Telco
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4457"  where id = '2625'
3435 /lvl1/ Magento Web Developer
=>>>>>>>>>>>>>>>>>>>>>> 7676 /lvl2/ Magento Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3435"  where id = '7676'
4459 /lvl1/ Product Marketing C&I
2668 /lvl1/ Implementor Akuntansi
=>>>>>>>>>>>>>>>>>>>>>> 13368 /lvl2/ Implementor Akuntansi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2668"  where id = '13368'
1901 /lvl1/ Field Recruiter Staff
=>>>>>>>>>>>>>>>>>>>>>> 40 /lvl2/ Field Recruiter Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1901"  where id = '40'
3181 /lvl1/ Kepala Bagian Qc & Qa
5485 /lvl1/ Senior Cloud Presales
=>>>>>>>>>>>>>>>>>>>>>> 3834 /lvl2/ Senior Cloud Presales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5485"  where id = '3834'
1902 /lvl1/ Field Sales Associate
=>>>>>>>>>>>>>>>>>>>>>> 13839 /lvl2/ Field Sales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1902"  where id = '13839'
4206 /lvl1/ Penulis Naskah Berita
=>>>>>>>>>>>>>>>>>>>>>> 18540 /lvl2/ Penulis Naskah Berita
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4206"  where id = '18540'
5742 /lvl1/ Site Analyst & Tenant
3952 /lvl1/ Network Administrator
=>>>>>>>>>>>>>>>>>>>>>> 819 /lvl2/ Network Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3952"  where id = '819'
=>>>>>>>>>>>>>>>>>>>>>> 1686 /lvl2/ Network Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3952"  where id = '1686'
=>>>>>>>>>>>>>>>>>>>>>> 2476 /lvl2/ Senior Network Administrator (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (Surabaya)", title_clean   = "Senior  (Surabaya)", title_id  = "3952"  where id = '2476'
=>>>>>>>>>>>>>>>>>>>>>> 4640 /lvl2/ Network Administrator (Fluent English)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Fluent English)", title_clean   = " (Fluent English)", title_id  = "3952"  where id = '4640'
=>>>>>>>>>>>>>>>>>>>>>> 13213 /lvl2/ Network Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3952"  where id = '13213'
2164 /lvl1/ GAming Event Planning
=>>>>>>>>>>>>>>>>>>>>>> 15131 /lvl2/ Gaming Event Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Gaming Event Planning", title_clean   = "Gaming Event Planning", title_id  = "2164"  where id = '15131'
4980 /lvl1/ Restaurant Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15301 /lvl2/ Restaurant Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4980"  where id = '15301'
6517 /lvl1/ Tax Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1210 /lvl2/ Tax Assistant Manager (TAM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TAM)", title_clean   = " (TAM)", title_id  = "6517"  where id = '1210'
=>>>>>>>>>>>>>>>>>>>>>> 1603 /lvl2/ Tax Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6517"  where id = '1603'
2166 /lvl1/ GArdener & Landscaper
=>>>>>>>>>>>>>>>>>>>>>> 11 /lvl2/ Gardener & Landscaper
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Gardener & Landscaper", title_clean   = "Gardener & Landscaper", title_id  = "2166"  where id = '11'
119 /lvl1/ Accounting Specialist
=>>>>>>>>>>>>>>>>>>>>>> 552 /lvl2/ Accounting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "119"  where id = '552'
=>>>>>>>>>>>>>>>>>>>>>> 566 /lvl2/ Accounting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "119"  where id = '566'
=>>>>>>>>>>>>>>>>>>>>>> 8880 /lvl2/ Accounting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "119"  where id = '8880'
=>>>>>>>>>>>>>>>>>>>>>> 11218 /lvl2/ Accounting Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "119"  where id = '11218'
=>>>>>>>>>>>>>>>>>>>>>> 12521 /lvl2/ Accounting Specialist (Building Management)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Building Management)", title_clean   = " (Building Management)", title_id  = "119"  where id = '12521'
375 /lvl1/ Anti-fraud Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18015 /lvl2/ Anti-fraud Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "375"  where id = '18015'
=>>>>>>>>>>>>>>>>>>>>>> 18029 /lvl2/ Anti-fraud Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "375"  where id = '18029'
3704 /lvl1/ Marketing Geosintetik
=>>>>>>>>>>>>>>>>>>>>>> 5234 /lvl2/ Marketing Geosintetik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3704"  where id = '5234'
4472 /lvl1/ Product Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 2347 /lvl2/ Baby Product Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Baby -idex-", title_clean   = "Baby ", title_id  = "4472"  where id = '2347'
=>>>>>>>>>>>>>>>>>>>>>> 6559 /lvl2/ Product Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4472"  where id = '6559'
=>>>>>>>>>>>>>>>>>>>>>> 17565 /lvl2/ Product Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4472"  where id = '17565'
2681 /lvl1/ Inbound Call Operator

=>>>>>>>>>>>>>>>>>>>>>> 6532 /lvl2/ Inbound Call Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2681"  where id = '6532'
=>>>>>>>>>>>>>>>>>>>>>> 6534 /lvl2/ Inbound Call Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2681"  where id = '6534'
5497 /lvl1/ Senior Credit Analyst
=>>>>>>>>>>>>>>>>>>>>>> 10722 /lvl2/ Senior Credit Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5497"  where id = '10722'
1146 /lvl1/ Corporate Legal Staff
=>>>>>>>>>>>>>>>>>>>>>> 20038 /lvl2/ Corporate Legal Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1146"  where id = '20038'
5498 /lvl1/ Senior Csr Consultant
=>>>>>>>>>>>>>>>>>>>>>> 20102 /lvl2/ Senior CSR Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior CSR Consultant", title_clean   = "Senior CSR Consultant", title_id  = "5498"  where id = '20102'
123 /lvl1/ Accounting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 36 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '36'
=>>>>>>>>>>>>>>>>>>>>>> 678 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '678'
=>>>>>>>>>>>>>>>>>>>>>> 703 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '703'
=>>>>>>>>>>>>>>>>>>>>>> 771 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '771'
=>>>>>>>>>>>>>>>>>>>>>> 1144 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '1144'
=>>>>>>>>>>>>>>>>>>>>>> 1226 /lvl2/ Finance and Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "123"  where id = '1226'
=>>>>>>>>>>>>>>>>>>>>>> 3201 /lvl2/ Tax and Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tax and -idex-", title_clean   = "Tax and ", title_id  = "123"  where id = '3201'
=>>>>>>>>>>>>>>>>>>>>>> 3756 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '3756'
=>>>>>>>>>>>>>>>>>>>>>> 3806 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '3806'
=>>>>>>>>>>>>>>>>>>>>>> 5351 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '5351'
=>>>>>>>>>>>>>>>>>>>>>> 6436 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '6436'
=>>>>>>>>>>>>>>>>>>>>>> 6581 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '6581'
=>>>>>>>>>>>>>>>>>>>>>> 6649 /lvl2/ Accounting Supervisor MEDAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- MEDAN", title_clean   = " MEDAN", title_id  = "123"  where id = '6649'
=>>>>>>>>>>>>>>>>>>>>>> 7401 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '7401'
=>>>>>>>>>>>>>>>>>>>>>> 7833 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '7833'
=>>>>>>>>>>>>>>>>>>>>>> 8138 /lvl2/ Accounting Supervisor MEDAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- MEDAN", title_clean   = " MEDAN", title_id  = "123"  where id = '8138'
=>>>>>>>>>>>>>>>>>>>>>> 8142 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '8142'
=>>>>>>>>>>>>>>>>>>>>>> 9318 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '9318'
=>>>>>>>>>>>>>>>>>>>>>> 9541 /lvl2/ ACCOUNTING SUPERVISOR (CGL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR (CGL)", title_clean   = "ACCOUNTING SUPERVISOR (CGL)", title_id  = "123"  where id = '9541'
=>>>>>>>>>>>>>>>>>>>>>> 10340 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '10340'
=>>>>>>>>>>>>>>>>>>>>>> 10348 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '10348'
=>>>>>>>>>>>>>>>>>>>>>> 11593 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '11593'
=>>>>>>>>>>>>>>>>>>>>>> 12237 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '12237'
=>>>>>>>>>>>>>>>>>>>>>> 12426 /lvl2/ Accounting Supervisor (002)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (002)", title_clean   = " (002)", title_id  = "123"  where id = '12426'
=>>>>>>>>>>>>>>>>>>>>>> 12460 /lvl2/ Accounting Supervisor (002)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (002)", title_clean   = " (002)", title_id  = "123"  where id = '12460'
=>>>>>>>>>>>>>>>>>>>>>> 12478 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '12478'
=>>>>>>>>>>>>>>>>>>>>>> 12757 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '12757'
=>>>>>>>>>>>>>>>>>>>>>> 12778 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '12778'
=>>>>>>>>>>>>>>>>>>>>>> 12890 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '12890'
=>>>>>>>>>>>>>>>>>>>>>> 12911 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '12911'
=>>>>>>>>>>>>>>>>>>>>>> 13258 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '13258'
=>>>>>>>>>>>>>>>>>>>>>> 13435 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '13435'
=>>>>>>>>>>>>>>>>>>>>>> 14291 /lvl2/ Finance and Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "123"  where id = '14291'
=>>>>>>>>>>>>>>>>>>>>>> 14732 /lvl2/ Accounting Supervisor (Makassar & Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Makassar & Jakarta)", title_clean   = " (Makassar & Jakarta)", title_id  = "123"  where id = '14732'
=>>>>>>>>>>>>>>>>>>>>>> 14915 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '14915'
=>>>>>>>>>>>>>>>>>>>>>> 15086 /lvl2/ Accounting Supervisor ( Finance )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Finance )", title_clean   = " ( Finance )", title_id  = "123"  where id = '15086'
=>>>>>>>>>>>>>>>>>>>>>> 15682 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '15682'
=>>>>>>>>>>>>>>>>>>>>>> 17464 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '17464'
=>>>>>>>>>>>>>>>>>>>>>> 17465 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '17465'
=>>>>>>>>>>>>>>>>>>>>>> 17485 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '17485'
=>>>>>>>>>>>>>>>>>>>>>> 17486 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '17486'
=>>>>>>>>>>>>>>>>>>>>>> 17576 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '17576'
=>>>>>>>>>>>>>>>>>>>>>> 17588 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '17588'
=>>>>>>>>>>>>>>>>>>>>>> 18112 /lvl2/ Accounting Supervisor - CS2
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - CS2", title_clean   = " - CS2", title_id  = "123"  where id = '18112'
=>>>>>>>>>>>>>>>>>>>>>> 18305 /lvl2/ Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "123"  where id = '18305'
=>>>>>>>>>>>>>>>>>>>>>> 18855 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '18855'
=>>>>>>>>>>>>>>>>>>>>>> 18870 /lvl2/ ACCOUNTING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING SUPERVISOR", title_clean   = "ACCOUNTING SUPERVISOR", title_id  = "123"  where id = '18870'
=>>>>>>>>>>>>>>>>>>>>>> 20590 /lvl2/ Tax and Accounting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tax and -idex-", title_clean   = "Tax and ", title_id  = "123"  where id = '20590'
380 /lvl1/ Apoteker Telemedicine

=>>>>>>>>>>>>>>>>>>>>>> 5827 /lvl2/ Apoteker Telemedicine
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "380"  where id = '5827'
6780 /lvl1/ Trainer / Facilitator
126 /lvl1/ Accounting Tax Senior
=>>>>>>>>>>>>>>>>>>>>>> 10374 /lvl2/ Accounting Tax Senior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "126"  where id = '10374'
4991 /lvl1/ Retail Outlet Officer
=>>>>>>>>>>>>>>>>>>>>>> 8593 /lvl2/ Retail Outlet Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4991"  where id = '8593'
5247 /lvl1/ Sales Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 4099 /lvl2/ Sales Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5247"  where id = '4099'
=>>>>>>>>>>>>>>>>>>>>>> 11806 /lvl2/ SALES MARKETING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MARKETING STAFF", title_clean   = "SALES MARKETING STAFF", title_id  = "5247"  where id = '11806'
=>>>>>>>>>>>>>>>>>>>>>> 20413 /lvl2/ Sales Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5247"  where id = '20413'
4480 /lvl1/ Product Spesialist IT
=>>>>>>>>>>>>>>>>>>>>>> 3597 /lvl2/ Product Spesialist IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4480"  where id = '3597'
1665 /lvl1/ Electrical Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11652 /lvl2/ ELECTRICAL SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ELECTRICAL SUPERVISOR", title_clean   = "ELECTRICAL SUPERVISOR", title_id  = "1665"  where id = '11652'
=>>>>>>>>>>>>>>>>>>>>>> 12905 /lvl2/ Electrical Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1665"  where id = '12905'
=>>>>>>>>>>>>>>>>>>>>>> 13166 /lvl2/ Electrical Supervisor - PT NPS Serang Banten
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PT NPS Serang Banten", title_clean   = " - PT NPS Serang Banten", title_id  = "1665"  where id = '13166'
=>>>>>>>>>>>>>>>>>>>>>> 14136 /lvl2/ Electrical Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1665"  where id = '14136'
=>>>>>>>>>>>>>>>>>>>>>> 14516 /lvl2/ Electrical Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1665"  where id = '14516'
=>>>>>>>>>>>>>>>>>>>>>> 16021 /lvl2/ Electrical Supervisor (Balaraja - Banten)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Balaraja - Banten)", title_clean   = " (Balaraja - Banten)", title_id  = "1665"  where id = '16021'
=>>>>>>>>>>>>>>>>>>>>>> 17777 /lvl2/ Electrical Supervisor (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "1665"  where id = '17777'
2945 /lvl1/ It Mis / Pis Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1712 /lvl2/ IT MIS / PIS Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT MIS / PIS Engineer", title_clean   = "IT MIS / PIS Engineer", title_id  = "2945"  where id = '1712'
6017 /lvl1/ Staff Dokumentasi Iso
=>>>>>>>>>>>>>>>>>>>>>> 16665 /lvl2/ STAFF DOKUMENTASI ISO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF DOKUMENTASI ISO", title_clean   = "STAFF DOKUMENTASI ISO", title_id  = "6017"  where id = '16665'
1410 /lvl1/ Design / Videographer
=>>>>>>>>>>>>>>>>>>>>>> 5675 /lvl2/ Design / Videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1410"  where id = '5675'
1666 /lvl1/ Electrical Technician
=>>>>>>>>>>>>>>>>>>>>>> 6578 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '6578'
=>>>>>>>>>>>>>>>>>>>>>> 7749 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '7749'
=>>>>>>>>>>>>>>>>>>>>>> 8066 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '8066'
=>>>>>>>>>>>>>>>>>>>>>> 13327 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '13327'
=>>>>>>>>>>>>>>>>>>>>>> 16268 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '16268'
=>>>>>>>>>>>>>>>>>>>>>> 17958 /lvl2/ Electrical Technician \u002F Teknisi Elektrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Teknisi Elektrik", title_clean   = " \u002F Teknisi Elektrik", title_id  = "1666"  where id = '17958'
=>>>>>>>>>>>>>>>>>>>>>> 18578 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '18578'
=>>>>>>>>>>>>>>>>>>>>>> 18595 /lvl2/ Electrical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1666"  where id = '18595'
6532 /lvl1/ Tax Operation Officer
=>>>>>>>>>>>>>>>>>>>>>> 4117 /lvl2/ Tax Operation Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6532"  where id = '4117'
3461 /lvl1/ Management Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5824 /lvl2/ Management Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3461"  where id = '5824'
5509 /lvl1/ Senior DevOps Manager
=>>>>>>>>>>>>>>>>>>>>>> 4487 /lvl2/ Senior DevOps Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5509"  where id = '4487'
1414 /lvl1/ Design & Video Editor
=>>>>>>>>>>>>>>>>>>>>>> 8847 /lvl2/ Design & Video Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1414"  where id = '8847'
5766 /lvl1/ Sme Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 592 /lvl2/ SME Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SME Account Executive", title_clean   = "SME Account Executive", title_id  = "5766"  where id = '592'
2439 /lvl1/ Hotel General Manager
=>>>>>>>>>>>>>>>>>>>>>> 10464 /lvl2/ Hotel General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2439"  where id = '10464'
3463 /lvl1/ Management Pool Staff
=>>>>>>>>>>>>>>>>>>>>>> 16788 /lvl2/ Management Pool Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3463"  where id = '16788'
4231 /lvl1/ Perawat Kamar Operasi
=>>>>>>>>>>>>>>>>>>>>>> 16814 /lvl2/ Perawat Kamar Operasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4231"  where id = '16814'
2953 /lvl1/ It Network Specialist
=>>>>>>>>>>>>>>>>>>>>>> 19344 /lvl2/ IT Network Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Specialist", title_clean   = "IT Network Specialist", title_id  = "2953"  where id = '19344'
=>>>>>>>>>>>>>>>>>>>>>> 20247 /lvl2/ IT Network Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Specialist", title_clean   = "IT Network Specialist", title_id  = "2953"  where id = '20247'
3210 /lvl1/ Kepala Pool Kendaraan
=>>>>>>>>>>>>>>>>>>>>>> 2761 /lvl2/ Kepala Pool Kendaraan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3210"  where id = '2761'
5002 /lvl1/ Revu Sales Executives
=>>>>>>>>>>>>>>>>>>>>>> 6584 /lvl2/ REVU Sales Executives
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REVU Sales Executives", title_clean   = "REVU Sales Executives", title_id  = "5002"  where id = '6584'
139 /lvl1/ Accouting & Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 4078 /lvl2/ ACCOUTING & TAX STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUTING & TAX STAFF", title_clean   = "ACCOUTING & TAX STAFF", title_id  = "139"  where id = '4078'
6027 /lvl1/ Staff Export & Import
2189 /lvl1/ General Affairs Staff
=>>>>>>>>>>>>>>>>>>>>>> 74 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '74'
=>>>>>>>>>>>>>>>>>>>>>> 143 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '143'
=>>>>>>>>>>>>>>>>>>>>>> 280 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '280'
=>>>>>>>>>>>>>>>>>>>>>> 7208 /lvl2/ Purchasing  /  General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Purchasing  /  -idex-", title_clean   = "Purchasing  /  ", title_id  = "2189"  where id = '7208'
=>>>>>>>>>>>>>>>>>>>>>> 8651 /lvl2/ Purchasing  /  General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Purchasing  /  -idex-", title_clean   = "Purchasing  /  ", title_id  = "2189"  where id = '8651'
=>>>>>>>>>>>>>>>>>>>>>> 11258 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '11258'
=>>>>>>>>>>>>>>>>>>>>>> 12204 /lvl2/ General Affairs Staff (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "2189"  where id = '12204'
=>>>>>>>>>>>>>>>>>>>>>> 13433 /lvl2/ General Affairs Staff (GA Staff)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GA Staff)", title_clean   = " (GA Staff)", title_id  = "2189"  where id = '13433'
=>>>>>>>>>>>>>>>>>>>>>> 15920 /lvl2/ General Affairs Staff (GA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (GA)", title_clean   = " (GA)", title_id  = "2189"  where id = '15920'
=>>>>>>>>>>>>>>>>>>>>>> 16238 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '16238'
=>>>>>>>>>>>>>>>>>>>>>> 17015 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '17015'
=>>>>>>>>>>>>>>>>>>>>>> 18320 /lvl2/ General Affairs Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2189"  where id = '18320'
=>>>>>>>>>>>>>>>>>>>>>> 18604 /lvl2/ General Affairs Staff - Makassar (CS2)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Makassar (CS2)", title_clean   = " - Makassar (CS2)", title_id  = "2189"  where id = '18604'
6029 /lvl1/ Staff Factory Support

=>>>>>>>>>>>>>>>>>>>>>> 13502 /lvl2/ Staff Factory Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6029"  where id = '13502'
5006 /lvl1/ Risk Analytic Manager
=>>>>>>>>>>>>>>>>>>>>>> 11462 /lvl2/ Risk Analytic Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5006"  where id = '11462'
=>>>>>>>>>>>>>>>>>>>>>> 14906 /lvl2/ Operation & Branch\u002FNon Operation & Product Operational Risk Analytic Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operation & Branch\u002FNon Operation & Product Operational -idex-", title_clean   = "Operation & Branch\u002FNon Operation & Product Operational ", title_id  = "5006"  where id = '14906'
144 /lvl1/ Activation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9049 /lvl2/ Activation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "144"  where id = '9049'
1424 /lvl1/ Design Interior Staff
=>>>>>>>>>>>>>>>>>>>>>> 4202 /lvl2/ Design Interior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1424"  where id = '4202'
2192 /lvl1/ General Affairs Admin
=>>>>>>>>>>>>>>>>>>>>>> 1247 /lvl2/ General Affairs Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2192"  where id = '1247'
=>>>>>>>>>>>>>>>>>>>>>> 1256 /lvl2/ General Affairs Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2192"  where id = '1256'
5778 /lvl1/ Social Media Campaign
=>>>>>>>>>>>>>>>>>>>>>> 7536 /lvl2/ SOCIAL MEDIA CAMPAIGN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA CAMPAIGN", title_clean   = "SOCIAL MEDIA CAMPAIGN", title_id  = "5778"  where id = '7536'
2963 /lvl1/ It Product Operations
=>>>>>>>>>>>>>>>>>>>>>> 6776 /lvl2/ IT Product Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Product Operations", title_clean   = "IT Product Operations", title_id  = "2963"  where id = '6776'
4243 /lvl1/ Performance Marketing
=>>>>>>>>>>>>>>>>>>>>>> 8795 /lvl2/ Performance Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4243"  where id = '8795'
=>>>>>>>>>>>>>>>>>>>>>> 11857 /lvl2/ Livestream Performance Marketing Deputy Manager (Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Livestream -idex- Deputy Manager (Mandarin)", title_clean   = "Livestream  Deputy Manager (Mandarin)", title_id  = "4243"  where id = '11857'
1173 /lvl1/ Cost Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 2308 /lvl2/ Cost Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1173"  where id = '2308'
=>>>>>>>>>>>>>>>>>>>>>> 14218 /lvl2/ COST ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COST ACCOUNTING STAFF", title_clean   = "COST ACCOUNTING STAFF", title_id  = "1173"  where id = '14218'
3221 /lvl1/ Kepala Teknik Tambang
=>>>>>>>>>>>>>>>>>>>>>> 189 /lvl2/ Kepala Teknik Tambang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3221"  where id = '189'
=>>>>>>>>>>>>>>>>>>>>>> 6688 /lvl2/ KEPALA TEKNIK TAMBANG (KTT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA TEKNIK TAMBANG (KTT)", title_clean   = "KEPALA TEKNIK TAMBANG (KTT)", title_id  = "3221"  where id = '6688'
=>>>>>>>>>>>>>>>>>>>>>> 9563 /lvl2/ Wakil KTT (Kepala Teknik Tambang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Wakil KTT (-idex-)", title_clean   = "Wakil KTT ()", title_id  = "3221"  where id = '9563'
=>>>>>>>>>>>>>>>>>>>>>> 11442 /lvl2/ Kepala Teknik Tambang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3221"  where id = '11442'
1942 /lvl1/ Finance & Tax Officer
2968 /lvl1/ It Programmer Officer
=>>>>>>>>>>>>>>>>>>>>>> 7766 /lvl2/ IT Programmer Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Officer", title_clean   = "IT Programmer Officer", title_id  = "2968"  where id = '7766'
=>>>>>>>>>>>>>>>>>>>>>> 8083 /lvl2/ IT Programmer Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Officer", title_clean   = "IT Programmer Officer", title_id  = "2968"  where id = '8083'
=>>>>>>>>>>>>>>>>>>>>>> 9242 /lvl2/ IT Programmer Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Officer", title_clean   = "IT Programmer Officer", title_id  = "2968"  where id = '9242'
=>>>>>>>>>>>>>>>>>>>>>> 11041 /lvl2/ IT Programmer Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Officer", title_clean   = "IT Programmer Officer", title_id  = "2968"  where id = '11041'
5016 /lvl1/ Risk Management Staff
=>>>>>>>>>>>>>>>>>>>>>> 546 /lvl2/ Risk Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5016"  where id = '546'
=>>>>>>>>>>>>>>>>>>>>>> 7014 /lvl2/ RISK MANAGEMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RISK MANAGEMENT STAFF", title_clean   = "RISK MANAGEMENT STAFF", title_id  = "5016"  where id = '7014'
=>>>>>>>>>>>>>>>>>>>>>> 12189 /lvl2/ Risk Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5016"  where id = '12189'
=>>>>>>>>>>>>>>>>>>>>>> 12749 /lvl2/ Risk Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5016"  where id = '12749'
=>>>>>>>>>>>>>>>>>>>>>> 12765 /lvl2/ Risk Management Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5016"  where id = '12765'
4505 /lvl1/ Production Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 831 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '831'
=>>>>>>>>>>>>>>>>>>>>>> 1398 /lvl2/ Production Supervisor (Home Appliances Products)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Home Appliances Products)", title_clean   = " (Home Appliances Products)", title_id  = "4505"  where id = '1398'
=>>>>>>>>>>>>>>>>>>>>>> 1809 /lvl2/ Production Supervisor (Furniture - Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Furniture - Semarang)", title_clean   = " (Furniture - Semarang)", title_id  = "4505"  where id = '1809'
=>>>>>>>>>>>>>>>>>>>>>> 2620 /lvl2/ Production Supervisor (Multiple Location)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Multiple Location)", title_clean   = " (Multiple Location)", title_id  = "4505"  where id = '2620'
=>>>>>>>>>>>>>>>>>>>>>> 4679 /lvl2/ Production Supervisor (Coal Mining)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Coal Mining)", title_clean   = " (Coal Mining)", title_id  = "4505"  where id = '4679'
=>>>>>>>>>>>>>>>>>>>>>> 7138 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '7138'
=>>>>>>>>>>>>>>>>>>>>>> 7686 /lvl2/ PRODUCTION SUPERVISOR (CGL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION SUPERVISOR (CGL)", title_clean   = "PRODUCTION SUPERVISOR (CGL)", title_id  = "4505"  where id = '7686'
=>>>>>>>>>>>>>>>>>>>>>> 9287 /lvl2/ Social Media Production Supervisor (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Social Media -idex- (Mandarin Speaking)", title_clean   = "Social Media  (Mandarin Speaking)", title_id  = "4505"  where id = '9287'
=>>>>>>>>>>>>>>>>>>>>>> 11311 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '11311'
=>>>>>>>>>>>>>>>>>>>>>> 13107 /lvl2/ PRODUCTION SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION SUPERVISOR", title_clean   = "PRODUCTION SUPERVISOR", title_id  = "4505"  where id = '13107'
=>>>>>>>>>>>>>>>>>>>>>> 13128 /lvl2/ PRODUCTION SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION SUPERVISOR", title_clean   = "PRODUCTION SUPERVISOR", title_id  = "4505"  where id = '13128'
=>>>>>>>>>>>>>>>>>>>>>> 13272 /lvl2/ Production Supervisor for Metal Furniture - Lamongan (ID:550557)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Metal Furniture - Lamongan (ID:550557)", title_clean   = " for Metal Furniture - Lamongan (ID:550557)", title_id  = "4505"  where id = '13272'
=>>>>>>>>>>>>>>>>>>>>>> 13473 /lvl2/ Production Supervisor for Metal Furniture - Lamongan (ID:550557)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Metal Furniture - Lamongan (ID:550557)", title_clean   = " for Metal Furniture - Lamongan (ID:550557)", title_id  = "4505"  where id = '13473'
=>>>>>>>>>>>>>>>>>>>>>> 13488 /lvl2/ Production Supervisor for Metal Furniture - Lamongan (ID:550557)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Metal Furniture - Lamongan (ID:550557)", title_clean   = " for Metal Furniture - Lamongan (ID:550557)", title_id  = "4505"  where id = '13488'
=>>>>>>>>>>>>>>>>>>>>>> 13639 /lvl2/ Production Supervisor (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang)", title_clean   = " (Semarang)", title_id  = "4505"  where id = '13639'
=>>>>>>>>>>>>>>>>>>>>>> 13938 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '13938'
=>>>>>>>>>>>>>>>>>>>>>> 13952 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '13952'
=>>>>>>>>>>>>>>>>>>>>>> 13983 /lvl2/ Production Supervisor (Cisarua)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cisarua)", title_clean   = " (Cisarua)", title_id  = "4505"  where id = '13983'
=>>>>>>>>>>>>>>>>>>>>>> 14129 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '14129'
=>>>>>>>>>>>>>>>>>>>>>> 14318 /lvl2/ Production Supervisor (Cisarua)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cisarua)", title_clean   = " (Cisarua)", title_id  = "4505"  where id = '14318'
=>>>>>>>>>>>>>>>>>>>>>> 14769 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '14769'
=>>>>>>>>>>>>>>>>>>>>>> 16027 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '16027'
=>>>>>>>>>>>>>>>>>>>>>> 17566 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '17566'
=>>>>>>>>>>>>>>>>>>>>>> 18788 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '18788'
=>>>>>>>>>>>>>>>>>>>>>> 19485 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '19485'
=>>>>>>>>>>>>>>>>>>>>>> 20344 /lvl2/ Production Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4505"  where id = '20344'
3482 /lvl1/ Manager Budidaya Ikan

=>>>>>>>>>>>>>>>>>>>>>> 2658 /lvl2/ MANAGER BUDIDAYA IKAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER BUDIDAYA IKAN", title_clean   = "MANAGER BUDIDAYA IKAN", title_id  = "3482"  where id = '2658'
6812 /lvl1/ Training Section Head
=>>>>>>>>>>>>>>>>>>>>>> 13544 /lvl2/ Training Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6812"  where id = '13544'
1693 /lvl1/ Engineer Geotechnical
=>>>>>>>>>>>>>>>>>>>>>> 13987 /lvl2/ Engineer Geotechnical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1693"  where id = '13987'
=>>>>>>>>>>>>>>>>>>>>>> 14314 /lvl2/ Engineer Geotechnical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1693"  where id = '14314'
3230 /lvl1/ Key Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 1920 /lvl2/ Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3230"  where id = '1920'
=>>>>>>>>>>>>>>>>>>>>>> 3862 /lvl2/ Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3230"  where id = '3862'
=>>>>>>>>>>>>>>>>>>>>>> 4222 /lvl2/ Key Account Executive (KAE-HJ)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (KAE-HJ)", title_clean   = " (KAE-HJ)", title_id  = "3230"  where id = '4222'
=>>>>>>>>>>>>>>>>>>>>>> 5891 /lvl2/ Key Account Executive (Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales)", title_clean   = " (Sales)", title_id  = "3230"  where id = '5891'
=>>>>>>>>>>>>>>>>>>>>>> 7028 /lvl2/ KEY ACCOUNT EXECUTIVE (KAE – JS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEY ACCOUNT EXECUTIVE (KAE – JS)", title_clean   = "KEY ACCOUNT EXECUTIVE (KAE – JS)", title_id  = "3230"  where id = '7028'
=>>>>>>>>>>>>>>>>>>>>>> 7570 /lvl2/ Key Account Executive -  PT Kalbe Blackmores Nutrition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- -  PT Kalbe Blackmores Nutrition", title_clean   = " -  PT Kalbe Blackmores Nutrition", title_id  = "3230"  where id = '7570'
=>>>>>>>>>>>>>>>>>>>>>> 7575 /lvl2/ Key Account Executive Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jakarta", title_clean   = " Jakarta", title_id  = "3230"  where id = '7575'
=>>>>>>>>>>>>>>>>>>>>>> 8590 /lvl2/ Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3230"  where id = '8590'
=>>>>>>>>>>>>>>>>>>>>>> 9038 /lvl2/ Key Account Executive Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jakarta", title_clean   = " Jakarta", title_id  = "3230"  where id = '9038'
=>>>>>>>>>>>>>>>>>>>>>> 14433 /lvl2/ Modern Trade - Key Account Executive (KAE) Manado
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Modern Trade - -idex- (KAE) Manado", title_clean   = "Modern Trade -  (KAE) Manado", title_id  = "3230"  where id = '14433'
=>>>>>>>>>>>>>>>>>>>>>> 14958 /lvl2/ Sales and Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3230"  where id = '14958'
=>>>>>>>>>>>>>>>>>>>>>> 15228 /lvl2/ Key Account Executive (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Yogyakarta)", title_clean   = " (Yogyakarta)", title_id  = "3230"  where id = '15228'
=>>>>>>>>>>>>>>>>>>>>>> 15656 /lvl2/ Sales and Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3230"  where id = '15656'
=>>>>>>>>>>>>>>>>>>>>>> 19673 /lvl2/ Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3230"  where id = '19673'
=>>>>>>>>>>>>>>>>>>>>>> 20519 /lvl2/ Key Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3230"  where id = '20519'
6558 /lvl1/ Team Leader Telesales
=>>>>>>>>>>>>>>>>>>>>>> 4328 /lvl2/ Team Leader Telesales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6558"  where id = '4328'
=>>>>>>>>>>>>>>>>>>>>>> 8592 /lvl2/ Team Leader Telesales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6558"  where id = '8592'
=>>>>>>>>>>>>>>>>>>>>>> 9790 /lvl2/ Team Leader Telesales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6558"  where id = '9790'
2464 /lvl1/ Human Resources Admin
=>>>>>>>>>>>>>>>>>>>>>> 3241 /lvl2/ Human Resources ADMIN (Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources ADMIN (Mandarin)", title_clean   = "Human Resources ADMIN (Mandarin)", title_id  = "2464"  where id = '3241'
=>>>>>>>>>>>>>>>>>>>>>> 3643 /lvl2/ Human Resources Administration (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-istration (Jakarta)", title_clean   = "istration (Jakarta)", title_id  = "2464"  where id = '3643'
=>>>>>>>>>>>>>>>>>>>>>> 6448 /lvl2/ Human Resources Admin (HRIS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (HRIS)", title_clean   = " (HRIS)", title_id  = "2464"  where id = '6448'
=>>>>>>>>>>>>>>>>>>>>>> 9769 /lvl2/ Human Resources Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2464"  where id = '9769'
=>>>>>>>>>>>>>>>>>>>>>> 10174 /lvl2/ Human Resources Administration (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-istration (Yogyakarta)", title_clean   = "istration (Yogyakarta)", title_id  = "2464"  where id = '10174'
=>>>>>>>>>>>>>>>>>>>>>> 10579 /lvl2/ Human Resources Administration (Solo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-istration (Solo)", title_clean   = "istration (Solo)", title_id  = "2464"  where id = '10579'
=>>>>>>>>>>>>>>>>>>>>>> 10600 /lvl2/ Human Resources Administration (Solo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-istration (Solo)", title_clean   = "istration (Solo)", title_id  = "2464"  where id = '10600'
=>>>>>>>>>>>>>>>>>>>>>> 18659 /lvl2/ Human Resources ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources ADMIN", title_clean   = "Human Resources ADMIN", title_id  = "2464"  where id = '18659'
=>>>>>>>>>>>>>>>>>>>>>> 19326 /lvl2/ Human Resources Admin (3 Months Contract Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (3 Months Contract Based)", title_clean   = " (3 Months Contract Based)", title_id  = "2464"  where id = '19326'
6048 /lvl1/ Staff Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 16899 /lvl2/ Staff Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6048"  where id = '16899'
1442 /lvl1/ Desk Collection Staff
=>>>>>>>>>>>>>>>>>>>>>> 809 /lvl2/ Desk Collection Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1442"  where id = '809'
=>>>>>>>>>>>>>>>>>>>>>> 7929 /lvl2/ Desk Collection Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1442"  where id = '7929'
=>>>>>>>>>>>>>>>>>>>>>> 20560 /lvl2/ Desk Collection Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1442"  where id = '20560'
5026 /lvl1/ Safety Building Staff
=>>>>>>>>>>>>>>>>>>>>>> 298 /lvl2/ Safety Building Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5026"  where id = '298'
165 /lvl1/ Admin Bahasa Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 14187 /lvl2/ ADMIN BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN BAHASA MANDARIN", title_clean   = "ADMIN BAHASA MANDARIN", title_id  = "165"  where id = '14187'
=>>>>>>>>>>>>>>>>>>>>>> 14560 /lvl2/ ADMIN BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN BAHASA MANDARIN", title_clean   = "ADMIN BAHASA MANDARIN", title_id  = "165"  where id = '14560'
166 /lvl1/ Admin Brand Marketing
=>>>>>>>>>>>>>>>>>>>>>> 17418 /lvl2/ Admin Brand Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "166"  where id = '17418'
1190 /lvl1/ Counter Sales Support
=>>>>>>>>>>>>>>>>>>>>>> 9667 /lvl2/ Counter Sales Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1190"  where id = '9667'
5542 /lvl1/ Senior Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 1519 /lvl2/ Senior Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5542"  where id = '1519'
=>>>>>>>>>>>>>>>>>>>>>> 7515 /lvl2/ Senior Internal Audit - Karawaci
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawaci", title_clean   = " - Karawaci", title_id  = "5542"  where id = '7515'
=>>>>>>>>>>>>>>>>>>>>>> 9004 /lvl2/ Senior Internal Audit - Karawaci
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawaci", title_clean   = " - Karawaci", title_id  = "5542"  where id = '9004'
2216 /lvl1/ Global Pmo Consultant

=>>>>>>>>>>>>>>>>>>>>>> 6610 /lvl2/ Global PMO Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Global PMO Consultant", title_clean   = "Global PMO Consultant", title_id  = "2216"  where id = '6610'
1706 /lvl1/ Engineering Executive
=>>>>>>>>>>>>>>>>>>>>>> 17222 /lvl2/ Engineering Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1706"  where id = '17222'
=>>>>>>>>>>>>>>>>>>>>>> 17240 /lvl2/ Engineering Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1706"  where id = '17240'
2732 /lvl1/ Instrument Technician
=>>>>>>>>>>>>>>>>>>>>>> 18542 /lvl2/ Instrument Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2732"  where id = '18542'
1968 /lvl1/ Finance Administrator
=>>>>>>>>>>>>>>>>>>>>>> 7121 /lvl2/ Finance Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1968"  where id = '7121'
=>>>>>>>>>>>>>>>>>>>>>> 12225 /lvl2/ Finance Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1968"  where id = '12225'
2993 /lvl1/ It Security Operation
=>>>>>>>>>>>>>>>>>>>>>> 2708 /lvl2/ IT Security Operation Staff (Under Contract Outsourcing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Operation Staff (Under Contract Outsourcing)", title_clean   = "IT Security Operation Staff (Under Contract Outsourcing)", title_id  = "2993"  where id = '2708'
=>>>>>>>>>>>>>>>>>>>>>> 9355 /lvl2/ IT Security Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Operation", title_clean   = "IT Security Operation", title_id  = "2993"  where id = '9355'
691 /lvl1/ Brand Specialist Fmcg
=>>>>>>>>>>>>>>>>>>>>>> 13523 /lvl2/ Brand Specialist FMCG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Brand Specialist FMCG", title_clean   = "Brand Specialist FMCG", title_id  = "691"  where id = '13523'
5555 /lvl1/ Senior Java Developer
=>>>>>>>>>>>>>>>>>>>>>> 13098 /lvl2/ Senior Java Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5555"  where id = '13098'
6067 /lvl1/ Staff Invoice Control
=>>>>>>>>>>>>>>>>>>>>>> 16637 /lvl2/ STAFF INVOICE CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF INVOICE CONTROL", title_clean   = "STAFF INVOICE CONTROL", title_id  = "6067"  where id = '16637'
=>>>>>>>>>>>>>>>>>>>>>> 16651 /lvl2/ STAFF INVOICE CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF INVOICE CONTROL", title_clean   = "STAFF INVOICE CONTROL", title_id  = "6067"  where id = '16651'
6579 /lvl1/ Technical Engineering
=>>>>>>>>>>>>>>>>>>>>>> 12231 /lvl2/ Technical Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6579"  where id = '12231'
436 /lvl1/ Asisten Manajer Hukum
=>>>>>>>>>>>>>>>>>>>>>> 19277 /lvl2/ Asisten Manajer Hukum
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "436"  where id = '19277'
4532 /lvl1/ Programmer Specialist
=>>>>>>>>>>>>>>>>>>>>>> 9693 /lvl2/ Programmer Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4532"  where id = '9693'
5300 /lvl1/ Sales Sparepart Motor
=>>>>>>>>>>>>>>>>>>>>>> 12427 /lvl2/ SALES SPAREPART MOTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES SPAREPART MOTOR", title_clean   = "SALES SPAREPART MOTOR", title_id  = "5300"  where id = '12427'
4534 /lvl1/ Programmer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2038 /lvl2/ Programmer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4534"  where id = '2038'
=>>>>>>>>>>>>>>>>>>>>>> 12650 /lvl2/ Programmer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4534"  where id = '12650'
=>>>>>>>>>>>>>>>>>>>>>> 12665 /lvl2/ Programmer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4534"  where id = '12665'
6070 /lvl1/ Staff IT / Programmer
5049 /lvl1/ Sales & Marketing B2B
=>>>>>>>>>>>>>>>>>>>>>> 2757 /lvl2/ Sales & Marketing B2B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5049"  where id = '2757'
5305 /lvl1/ Sales Staff Marketing
=>>>>>>>>>>>>>>>>>>>>>> 17636 /lvl2/ Sales Staff Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5305"  where id = '17636'
442 /lvl1/ Asisten Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 15172 /lvl2/ ASISTEN SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN SALES MANAGER", title_clean   = "ASISTEN SALES MANAGER", title_id  = "442"  where id = '15172'
3002 /lvl1/ It Service Management
=>>>>>>>>>>>>>>>>>>>>>> 9905 /lvl2/ IT Service Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Service Management", title_clean   = "IT Service Management", title_id  = "3002"  where id = '9905'
3258 /lvl1/ Konten Kreator Medsos
=>>>>>>>>>>>>>>>>>>>>>> 19256 /lvl2/ Konten Kreator Medsos
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3258"  where id = '19256'
3004 /lvl1/ It Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 5159 /lvl2/ IT Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Software Developer", title_clean   = "IT Software Developer", title_id  = "3004"  where id = '5159'
=>>>>>>>>>>>>>>>>>>>>>> 10696 /lvl2/ IT Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Software Developer", title_clean   = "IT Software Developer", title_id  = "3004"  where id = '10696'
4028 /lvl1/ Operasional Mesin Bor
=>>>>>>>>>>>>>>>>>>>>>> 6793 /lvl2/ Operasional Mesin Bor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4028"  where id = '6793'
4796 /lvl1/ Quality Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 1507 /lvl2/ Quality Control Staff - Mojokerto Factory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Mojokerto Factory", title_clean   = " - Mojokerto Factory", title_id  = "4796"  where id = '1507'
=>>>>>>>>>>>>>>>>>>>>>> 2475 /lvl2/ Quality Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4796"  where id = '2475'
=>>>>>>>>>>>>>>>>>>>>>> 3773 /lvl2/ Quality Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4796"  where id = '3773'
=>>>>>>>>>>>>>>>>>>>>>> 4085 /lvl2/ Quality Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4796"  where id = '4085'
=>>>>>>>>>>>>>>>>>>>>>> 11346 /lvl2/ Quality Control Staff (Fintech)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Fintech)", title_clean   = " (Fintech)", title_id  = "4796"  where id = '11346'
=>>>>>>>>>>>>>>>>>>>>>> 12461 /lvl2/ Quality Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4796"  where id = '12461'
=>>>>>>>>>>>>>>>>>>>>>> 13186 /lvl2/ Quality Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4796"  where id = '13186'
=>>>>>>>>>>>>>>>>>>>>>> 15349 /lvl2/ Quality Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4796"  where id = '15349'
=>>>>>>>>>>>>>>>>>>>>>> 17205 /lvl2/ Quality Control Staff - Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Semarang", title_clean   = " - Semarang", title_id  = "4796"  where id = '17205'
6332 /lvl1/ Supervisor Moldsetter
=>>>>>>>>>>>>>>>>>>>>>> 7822 /lvl2/ Supervisor Moldsetter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6332"  where id = '7822'
189 /lvl1/ Admin Head Accounting
=>>>>>>>>>>>>>>>>>>>>>> 13194 /lvl2/ Admin Head Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "189"  where id = '13194'
701 /lvl1/ Broker Relation Staff
=>>>>>>>>>>>>>>>>>>>>>> 1288 /lvl2/ Broker Relation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "701"  where id = '1288'
190 /lvl1/ Admin Human Resources
=>>>>>>>>>>>>>>>>>>>>>> 242 /lvl2/ Admin Human Resources (Penempatan: Palembang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan: Palembang)", title_clean   = " (Penempatan: Palembang)", title_id  = "190"  where id = '242'
=>>>>>>>>>>>>>>>>>>>>>> 16877 /lvl2/ Admin Human Resources
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "190"  where id = '16877'
4543 /lvl1/ Project Administrator

=>>>>>>>>>>>>>>>>>>>>>> 5368 /lvl2/ Project Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4543"  where id = '5368'
5311 /lvl1/ Sales Supervisor Palu
=>>>>>>>>>>>>>>>>>>>>>> 804 /lvl2/ Sales Supervisor Palu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5311"  where id = '804'
1216 /lvl1/ Creative Social Media
=>>>>>>>>>>>>>>>>>>>>>> 1267 /lvl2/ Creative Social Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1216"  where id = '1267'
449 /lvl1/ Assistant Manager Hse
=>>>>>>>>>>>>>>>>>>>>>> 9960 /lvl2/ Assistant Manager HSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant Manager HSE", title_clean   = "Assistant Manager HSE", title_id  = "449"  where id = '9960'
2241 /lvl1/ Graphic Design Intern
=>>>>>>>>>>>>>>>>>>>>>> 4556 /lvl2/ Graphic design Intern (Placement : Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Graphic design Intern (Placement : Yogyakarta)", title_clean   = "Graphic design Intern (Placement : Yogyakarta)", title_id  = "2241"  where id = '4556'
=>>>>>>>>>>>>>>>>>>>>>> 6699 /lvl2/ Graphic Design Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2241"  where id = '6699'
=>>>>>>>>>>>>>>>>>>>>>> 16355 /lvl2/ Graphic Design Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2241"  where id = '16355'
3521 /lvl1/ Manager Marketing B2B
=>>>>>>>>>>>>>>>>>>>>>> 1729 /lvl2/ MANAGER MARKETING B2B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER MARKETING B2B", title_clean   = "MANAGER MARKETING B2B", title_id  = "3521"  where id = '1729'
6081 /lvl1/ Staff Kas Masuk Kudus
=>>>>>>>>>>>>>>>>>>>>>> 7873 /lvl2/ Staff Kas Masuk Kudus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6081"  where id = '7873'
=>>>>>>>>>>>>>>>>>>>>>> 8193 /lvl2/ Staff Kas Masuk Kudus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6081"  where id = '8193'
450 /lvl1/ Assistant Manager Pga
=>>>>>>>>>>>>>>>>>>>>>> 368 /lvl2/ Assistant Manager PGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant Manager PGA", title_clean   = "Assistant Manager PGA", title_id  = "450"  where id = '368'
3267 /lvl1/ Koordinator Kurikulum
=>>>>>>>>>>>>>>>>>>>>>> 13659 /lvl2/ Koordinator Kurikulum
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3267"  where id = '13659'
=>>>>>>>>>>>>>>>>>>>>>> 13673 /lvl2/ Koordinator Kurikulum
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3267"  where id = '13673'
3269 /lvl1/ Koordinator Marketing
=>>>>>>>>>>>>>>>>>>>>>> 12242 /lvl2/ Koordinator Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3269"  where id = '12242'
6346 /lvl1/ Supervisor Production
=>>>>>>>>>>>>>>>>>>>>>> 13665 /lvl2/ Supervisor Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6346"  where id = '13665'
1995 /lvl1/ Finance Section Chief
=>>>>>>>>>>>>>>>>>>>>>> 7685 /lvl2/ Finance Section Chief
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1995"  where id = '7685'
4555 /lvl1/ Project Delivery Lead
=>>>>>>>>>>>>>>>>>>>>>> 11515 /lvl2/ Project Delivery Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4555"  where id = '11515'
=>>>>>>>>>>>>>>>>>>>>>> 11545 /lvl2/ Project Delivery Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4555"  where id = '11545'
6859 /lvl1/ Unreal GAme Developer
=>>>>>>>>>>>>>>>>>>>>>> 4547 /lvl2/ Unreal Game Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Unreal Game Developer", title_clean   = "Unreal Game Developer", title_id  = "6859"  where id = '4547'
5073 /lvl1/ Sales Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 2394 /lvl2/ SALES ACCOUNT MANAGER (SURABAYA PLACEMENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ACCOUNT MANAGER (SURABAYA PLACEMENT)", title_clean   = "SALES ACCOUNT MANAGER (SURABAYA PLACEMENT)", title_id  = "5073"  where id = '2394'
=>>>>>>>>>>>>>>>>>>>>>> 4358 /lvl2/ SALES ACCOUNT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ACCOUNT MANAGER", title_clean   = "SALES ACCOUNT MANAGER", title_id  = "5073"  where id = '4358'
=>>>>>>>>>>>>>>>>>>>>>> 11299 /lvl2/ Sales Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5073"  where id = '11299'
=>>>>>>>>>>>>>>>>>>>>>> 14797 /lvl2/ Sales Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5073"  where id = '14797'
=>>>>>>>>>>>>>>>>>>>>>> 14812 /lvl2/ Sales Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5073"  where id = '14812'
=>>>>>>>>>>>>>>>>>>>>>> 15516 /lvl2/ Sales Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5073"  where id = '15516'
=>>>>>>>>>>>>>>>>>>>>>> 20396 /lvl2/ Sales Account Manager (ERP) - Based in Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ERP) - Based in Indonesia", title_clean   = " (ERP) - Based in Indonesia", title_id  = "5073"  where id = '20396'
467 /lvl1/ Assistant To Director
6355 /lvl1/ Supervisor Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 691 /lvl2/ Supervisor Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6355"  where id = '691'
=>>>>>>>>>>>>>>>>>>>>>> 701 /lvl2/ Supervisor Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6355"  where id = '701'
=>>>>>>>>>>>>>>>>>>>>>> 3838 /lvl2/ Supervisor Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6355"  where id = '3838'
=>>>>>>>>>>>>>>>>>>>>>> 12643 /lvl2/ SUPERVISOR PURCHASING (FOOD MANUFACTURE) -PFI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PURCHASING (FOOD MANUFACTURE) -PFI", title_clean   = "SUPERVISOR PURCHASING (FOOD MANUFACTURE) -PFI", title_id  = "6355"  where id = '12643'
=>>>>>>>>>>>>>>>>>>>>>> 13191 /lvl2/ SUPERVISOR PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PURCHASING", title_clean   = "SUPERVISOR PURCHASING", title_id  = "6355"  where id = '13191'
=>>>>>>>>>>>>>>>>>>>>>> 13503 /lvl2/ Supervisor Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6355"  where id = '13503'
=>>>>>>>>>>>>>>>>>>>>>> 15374 /lvl2/ Assistant Manager \u002F Supervisor Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant Manager \u002F -idex-", title_clean   = "Assistant Manager \u002F ", title_id  = "6355"  where id = '15374'
2260 /lvl1/ Group Accounting Head
=>>>>>>>>>>>>>>>>>>>>>> 19455 /lvl2/ Group Accounting Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2260"  where id = '19455'
4564 /lvl1/ Project Finance Admin
=>>>>>>>>>>>>>>>>>>>>>> 10044 /lvl2/ Project Finance Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4564"  where id = '10044'
3033 /lvl1/ It Support Specialist
=>>>>>>>>>>>>>>>>>>>>>> 15869 /lvl2/ IT Support Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Specialist", title_clean   = "IT Support Specialist", title_id  = "3033"  where id = '15869'
=>>>>>>>>>>>>>>>>>>>>>> 15885 /lvl2/ IT Support Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Specialist", title_clean   = "IT Support Specialist", title_id  = "3033"  where id = '15885'
3035 /lvl1/ It Support Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 5162 /lvl2/ IT SUPPORT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SUPPORT SUPERVISOR", title_clean   = "IT SUPPORT SUPERVISOR", title_id  = "3035"  where id = '5162'
5851 /lvl1/ Spa Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 2886 /lvl2/ Spa Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5851"  where id = '2886'
2269 /lvl1/ Guest Service Officer
=>>>>>>>>>>>>>>>>>>>>>> 696 /lvl2/ GUEST SERVICE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GUEST SERVICE OFFICER", title_clean   = "GUEST SERVICE OFFICER", title_id  = "2269"  where id = '696'
=>>>>>>>>>>>>>>>>>>>>>> 710 /lvl2/ GUEST SERVICE OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GUEST SERVICE OFFICER", title_clean   = "GUEST SERVICE OFFICER", title_id  = "2269"  where id = '710'
6621 /lvl1/ Technician Mechanical

=>>>>>>>>>>>>>>>>>>>>>> 14117 /lvl2/ TECHNICIAN MECHANICAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICIAN MECHANICAL", title_clean   = "TECHNICIAN MECHANICAL", title_id  = "6621"  where id = '14117'
223 /lvl1/ Admin Online & Retail
=>>>>>>>>>>>>>>>>>>>>>> 17771 /lvl2/ ADMIN ONLINE & RETAIL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN ONLINE & RETAIL", title_clean   = "ADMIN ONLINE & RETAIL", title_id  = "223"  where id = '17771'
2784 /lvl1/ Intern Administration
=>>>>>>>>>>>>>>>>>>>>>> 4683 /lvl2/ Intern Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2784"  where id = '4683'
2273 /lvl1/ Guru Bahasa Indonesia
=>>>>>>>>>>>>>>>>>>>>>> 15019 /lvl2/ Guru Bahasa Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2273"  where id = '15019'
3041 /lvl1/ It System Integration
=>>>>>>>>>>>>>>>>>>>>>> 15023 /lvl2/ IT System Integration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Integration", title_clean   = "IT System Integration", title_id  = "3041"  where id = '15023'
3297 /lvl1/ Lead Apparel Designer
=>>>>>>>>>>>>>>>>>>>>>> 6721 /lvl2/ Lead Apparel Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3297"  where id = '6721'
6371 /lvl1/ Supervisor Restaurant
=>>>>>>>>>>>>>>>>>>>>>> 8840 /lvl2/ Supervisor Restaurant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6371"  where id = '8840'
=>>>>>>>>>>>>>>>>>>>>>> 17995 /lvl2/ Area Supervisor Restaurant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex-", title_clean   = "Area ", title_id  = "6371"  where id = '17995'
2532 /lvl1/ Human Resources Staff
230 /lvl1/ Admin Operation Staff
=>>>>>>>>>>>>>>>>>>>>>> 16978 /lvl2/ Admin Operation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "230"  where id = '16978'
=>>>>>>>>>>>>>>>>>>>>>> 19764 /lvl2/ Admin Operation Staff (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "230"  where id = '19764'
3306 /lvl1/ Lead Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 5864 /lvl2/ Lead Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3306"  where id = '5864'
6890 /lvl1/ Video Content Creator
=>>>>>>>>>>>>>>>>>>>>>> 6810 /lvl2/ Video Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6890"  where id = '6810'
=>>>>>>>>>>>>>>>>>>>>>> 7954 /lvl2/ Video Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6890"  where id = '7954'
=>>>>>>>>>>>>>>>>>>>>>> 8269 /lvl2/ Video Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6890"  where id = '8269'
=>>>>>>>>>>>>>>>>>>>>>> 17581 /lvl2/ Video Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6890"  where id = '17581'
=>>>>>>>>>>>>>>>>>>>>>> 18518 /lvl2/ Video Content Creator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6890"  where id = '18518'
4587 /lvl1/ Project Manager / Ktt
3308 /lvl1/ Lead of Wear Material
=>>>>>>>>>>>>>>>>>>>>>> 4475 /lvl2/ Lead of Wear Material
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3308"  where id = '4475'
1005 /lvl1/ Community Development
=>>>>>>>>>>>>>>>>>>>>>> 5591 /lvl2/ Community Development Enrichment Program Section Head (TFI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Enrichment Program Section Head (TFI)", title_clean   = " Enrichment Program Section Head (TFI)", title_id  = "1005"  where id = '5591'
=>>>>>>>>>>>>>>>>>>>>>> 18478 /lvl2/ Community Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1005"  where id = '18478'
6638 /lvl1/ Teknisi / Montir Truk
=>>>>>>>>>>>>>>>>>>>>>> 8547 /lvl2/ Teknisi / Montir Truk
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6638"  where id = '8547'
3312 /lvl1/ Lead Testing Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7605 /lvl2/ Lead Testing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3312"  where id = '7605'
3824 /lvl1/ Mechanical Electrical
=>>>>>>>>>>>>>>>>>>>>>> 4073 /lvl2/ Project Manager (Mechanical Electrical)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Project Manager (-idex-)", title_clean   = "Project Manager ()", title_id  = "3824"  where id = '4073'
=>>>>>>>>>>>>>>>>>>>>>> 10317 /lvl2/ Mechanical Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3824"  where id = '10317'
=>>>>>>>>>>>>>>>>>>>>>> 16705 /lvl2/ Mechanical Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3824"  where id = '16705'
=>>>>>>>>>>>>>>>>>>>>>> 16717 /lvl2/ Mechanical Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3824"  where id = '16717'
6643 /lvl1/ Teknisi Ac Genset Mep
=>>>>>>>>>>>>>>>>>>>>>> 2560 /lvl2/ Teknisi AC Genset MEP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi AC Genset MEP", title_clean   = "Teknisi AC Genset MEP", title_id  = "6643"  where id = '2560'
3830 /lvl1/ Mechanical Elektrikal
6135 /lvl1/ Staff Public Relation
=>>>>>>>>>>>>>>>>>>>>>> 11779 /lvl2/ Staff Public Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6135"  where id = '11779'
6391 /lvl1/ Supervisor Store Solo
=>>>>>>>>>>>>>>>>>>>>>> 5646 /lvl2/ Supervisor Store Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6391"  where id = '5646'
1784 /lvl1/ Event & Sales Officer
=>>>>>>>>>>>>>>>>>>>>>> 18399 /lvl2/ Event & Sales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1784"  where id = '18399'
6136 /lvl1/ Staff Purchase Import
=>>>>>>>>>>>>>>>>>>>>>> 18134 /lvl2/ Staff Purchase Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6136"  where id = '18134'
6904 /lvl1/ Videographer & Editor
=>>>>>>>>>>>>>>>>>>>>>> 15760 /lvl2/ Videographer & Editor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6904"  where id = '15760'
1273 /lvl1/ Customer Care Manager
=>>>>>>>>>>>>>>>>>>>>>> 17185 /lvl2/ Customer Care Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1273"  where id = '17185'
1529 /lvl1/ Dispatcher Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3211 /lvl2/ Dispatcher Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1529"  where id = '3211'
5625 /lvl1/ Senior Sales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8935 /lvl2/ Senior Sales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5625"  where id = '8935'
=>>>>>>>>>>>>>>>>>>>>>> 14000 /lvl2/ SENIOR SALES ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SALES ENGINEER", title_clean   = "SENIOR SALES ENGINEER", title_id  = "5625"  where id = '14000'
1274 /lvl1/ Customer Care Officer
=>>>>>>>>>>>>>>>>>>>>>> 936 /lvl2/ Customer Care Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1274"  where id = '936'
=>>>>>>>>>>>>>>>>>>>>>> 11660 /lvl2/ Customer Care Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1274"  where id = '11660'
=>>>>>>>>>>>>>>>>>>>>>> 17100 /lvl2/ Customer Care Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1274"  where id = '17100'
=>>>>>>>>>>>>>>>>>>>>>> 17118 /lvl2/ Customer Care Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1274"  where id = '17118'
=>>>>>>>>>>>>>>>>>>>>>> 20279 /lvl2/ Customer Care Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1274"  where id = '20279'
3834 /lvl1/ Mechanical Technician
=>>>>>>>>>>>>>>>>>>>>>> 7066 /lvl2/ Mechanical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3834"  where id = '7066'
=>>>>>>>>>>>>>>>>>>>>>> 8518 /lvl2/ Mechanical Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3834"  where id = '8518'
=>>>>>>>>>>>>>>>>>>>>>> 18960 /lvl2/ Mechanical Technician (POWER PLANT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (POWER PLANT)", title_clean   = " (POWER PLANT)", title_id  = "3834"  where id = '18960'
254 /lvl1/ Admin Sales Marketing

=>>>>>>>>>>>>>>>>>>>>>> 2230 /lvl2/ ADMIN SALES MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN SALES MARKETING", title_clean   = "ADMIN SALES MARKETING", title_id  = "254"  where id = '2230'
1790 /lvl1/ Event Marketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 6199 /lvl2/ Event Marketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1790"  where id = '6199'
4606 /lvl1/ Project Site Engineer
=>>>>>>>>>>>>>>>>>>>>>> 18620 /lvl2/ Project Site Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4606"  where id = '18620'
2816 /lvl1/ Inventory Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 945 /lvl2/ Inventory Supervisor - Sports Retailer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sports Retailer", title_clean   = " - Sports Retailer", title_id  = "2816"  where id = '945'
=>>>>>>>>>>>>>>>>>>>>>> 5113 /lvl2/ Inventory Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2816"  where id = '5113'
=>>>>>>>>>>>>>>>>>>>>>> 6206 /lvl2/ Inventory Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2816"  where id = '6206'
4355 /lvl1/ Pr Senior Specialist
772 /lvl1/ Business Improvement
=>>>>>>>>>>>>>>>>>>>>>> 10238 /lvl2/ BUSINESS IMPROVEMENT EXECUTIVE (SUKABUMI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS IMPROVEMENT EXECUTIVE (SUKABUMI)", title_clean   = "BUSINESS IMPROVEMENT EXECUTIVE (SUKABUMI)", title_id  = "772"  where id = '10238'
=>>>>>>>>>>>>>>>>>>>>>> 13612 /lvl2/ Business Improvement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "772"  where id = '13612'
=>>>>>>>>>>>>>>>>>>>>>> 13626 /lvl2/ Business Improvement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "772"  where id = '13626'
3333 /lvl1/ Learning Development
=>>>>>>>>>>>>>>>>>>>>>> 7278 /lvl2/ Curriculum & Modul Design (Learning Development & Culture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Curriculum & Modul Design (-idex- & Culture)", title_clean   = "Curriculum & Modul Design ( & Culture)", title_id  = "3333"  where id = '7278'
=>>>>>>>>>>>>>>>>>>>>>> 12254 /lvl2/ LEARNING DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEARNING DEVELOPMENT", title_clean   = "LEARNING DEVELOPMENT", title_id  = "3333"  where id = '12254'
=>>>>>>>>>>>>>>>>>>>>>> 13313 /lvl2/ LEARNING DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEARNING DEVELOPMENT", title_clean   = "LEARNING DEVELOPMENT", title_id  = "3333"  where id = '13313'
519 /lvl1/ Assistant Manager Qa
=>>>>>>>>>>>>>>>>>>>>>> 15397 /lvl2/ Assistant Manager QA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant Manager QA", title_clean   = "Assistant Manager QA", title_id  = "519"  where id = '15397'
2567 /lvl1/ HRga & Legal Manager
=>>>>>>>>>>>>>>>>>>>>>> 3577 /lvl2/ HRGA & LEGAL MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRGA & LEGAL MANAGER", title_clean   = "HRGA & LEGAL MANAGER", title_id  = "2567"  where id = '3577'
4359 /lvl1/ Pre Sales Consultant
=>>>>>>>>>>>>>>>>>>>>>> 10184 /lvl2/ Pre Sales Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4359"  where id = '10184'
5896 /lvl1/ Staff Delivery Order
6408 /lvl1/ Supervisor Utilities
=>>>>>>>>>>>>>>>>>>>>>> 8952 /lvl2/ Supervisor Utilities
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6408"  where id = '8952'
1545 /lvl1/ Dokter Hewan Praktek
=>>>>>>>>>>>>>>>>>>>>>> 8524 /lvl2/ Dokter Hewan Praktek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1545"  where id = '8524'
4105 /lvl1/ Ordering Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 14766 /lvl2/ Ordering Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4105"  where id = '14766'
2570 /lvl1/ HRga Department Head
=>>>>>>>>>>>>>>>>>>>>>> 14935 /lvl2/ HRGA Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRGA Department Head", title_clean   = "HRGA Department Head", title_id  = "2570"  where id = '14935'
4618 /lvl1/ Promotion Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1577 /lvl2/ AREA SALES PROMOTION SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA SALES PROMOTION SUPERVISOR", title_clean   = "AREA SALES PROMOTION SUPERVISOR", title_id  = "4618"  where id = '1577'
=>>>>>>>>>>>>>>>>>>>>>> 2418 /lvl2/ AREA SALES PROMOTION SUPERVISOR (ASPS) - PT Kalbe Blackmores Nutrition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA SALES PROMOTION SUPERVISOR (ASPS) - PT Kalbe Blackmores Nutrition", title_clean   = "AREA SALES PROMOTION SUPERVISOR (ASPS) - PT Kalbe Blackmores Nutrition", title_id  = "4618"  where id = '2418'
=>>>>>>>>>>>>>>>>>>>>>> 5360 /lvl2/ SALES & PROMOTION SUPERVISOR (SULAWESI SELATAN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & PROMOTION SUPERVISOR (SULAWESI SELATAN)", title_clean   = "SALES & PROMOTION SUPERVISOR (SULAWESI SELATAN)", title_id  = "4618"  where id = '5360'
=>>>>>>>>>>>>>>>>>>>>>> 7910 /lvl2/ Area Sales & Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area Sales & -idex-", title_clean   = "Area Sales & ", title_id  = "4618"  where id = '7910'
=>>>>>>>>>>>>>>>>>>>>>> 9415 /lvl2/ Area Sales Promotion Supervisor (Balikpapan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area Sales -idex- (Balikpapan)", title_clean   = "Area Sales  (Balikpapan)", title_id  = "4618"  where id = '9415'
=>>>>>>>>>>>>>>>>>>>>>> 10077 /lvl2/ Area Sales Promotion Supervisor (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area Sales -idex- (Medan)", title_clean   = "Area Sales  (Medan)", title_id  = "4618"  where id = '10077'
=>>>>>>>>>>>>>>>>>>>>>> 12771 /lvl2/ Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4618"  where id = '12771'
=>>>>>>>>>>>>>>>>>>>>>> 12805 /lvl2/ Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4618"  where id = '12805'
=>>>>>>>>>>>>>>>>>>>>>> 12920 /lvl2/ Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4618"  where id = '12920'
=>>>>>>>>>>>>>>>>>>>>>> 14796 /lvl2/ Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4618"  where id = '14796'
=>>>>>>>>>>>>>>>>>>>>>> 14811 /lvl2/ Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4618"  where id = '14811'
=>>>>>>>>>>>>>>>>>>>>>> 16350 /lvl2/ Sales Team Area and Promotion Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Team Area and -idex-", title_clean   = "Sales Team Area and ", title_id  = "4618"  where id = '16350'
11 /lvl1/ 3D Designer Interior
=>>>>>>>>>>>>>>>>>>>>>> 15703 /lvl2/ 3D Designer Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "11"  where id = '15703'
=>>>>>>>>>>>>>>>>>>>>>> 15720 /lvl2/ 3D Designer Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "11"  where id = '15720'
4363 /lvl1/ Pre Sales Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12990 /lvl2/ Pre Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4363"  where id = '12990'
=>>>>>>>>>>>>>>>>>>>>>> 13006 /lvl2/ Pre Sales Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4363"  where id = '13006'
6411 /lvl1/ Supervisor Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 556 /lvl2/ Supervisor Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6411"  where id = '556'
=>>>>>>>>>>>>>>>>>>>>>> 9903 /lvl2/ SUPERVISOR WAREHOUSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR WAREHOUSE", title_clean   = "SUPERVISOR WAREHOUSE", title_id  = "6411"  where id = '9903'
=>>>>>>>>>>>>>>>>>>>>>> 10772 /lvl2/ SUPERVISOR WAREHOUSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR WAREHOUSE", title_clean   = "SUPERVISOR WAREHOUSE", title_id  = "6411"  where id = '10772'
=>>>>>>>>>>>>>>>>>>>>>> 11459 /lvl2/ Supervisor Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6411"  where id = '11459'
=>>>>>>>>>>>>>>>>>>>>>> 11908 /lvl2/ SUPERVISOR WAREHOUSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR WAREHOUSE", title_clean   = "SUPERVISOR WAREHOUSE", title_id  = "6411"  where id = '11908'
5389 /lvl1/ Sea Sales Data Entry

=>>>>>>>>>>>>>>>>>>>>>> 11065 /lvl2/ SEA SALES DATA ENTRY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEA SALES DATA ENTRY", title_clean   = "SEA SALES DATA ENTRY", title_id  = "5389"  where id = '11065'
5390 /lvl1/ Seafood Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 19696 /lvl2/ Seafood Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5390"  where id = '19696'
5646 /lvl1/ Senior Staff Payroll
=>>>>>>>>>>>>>>>>>>>>>> 20096 /lvl2/ Senior Staff Payroll
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5646"  where id = '20096'
1039 /lvl1/ Construction Foreman
=>>>>>>>>>>>>>>>>>>>>>> 2514 /lvl2/ Construction Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1039"  where id = '2514'
1040 /lvl1/ Construction Manager
=>>>>>>>>>>>>>>>>>>>>>> 7967 /lvl2/ Construction Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1040"  where id = '7967'
=>>>>>>>>>>>>>>>>>>>>>> 7972 /lvl2/ Construction Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1040"  where id = '7972'
=>>>>>>>>>>>>>>>>>>>>>> 8272 /lvl2/ Construction Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1040"  where id = '8272'
=>>>>>>>>>>>>>>>>>>>>>> 8285 /lvl2/ Construction Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1040"  where id = '8285'
=>>>>>>>>>>>>>>>>>>>>>> 19705 /lvl2/ Construction Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1040"  where id = '19705'
5905 /lvl1/ Staff Internal Audit
=>>>>>>>>>>>>>>>>>>>>>> 6679 /lvl2/ STAFF INTERNAL AUDIT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF INTERNAL AUDIT", title_clean   = "STAFF INTERNAL AUDIT", title_id  = "5905"  where id = '6679'
=>>>>>>>>>>>>>>>>>>>>>> 12123 /lvl2/ Staff Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5905"  where id = '12123'
=>>>>>>>>>>>>>>>>>>>>>> 16706 /lvl2/ STAFF INTERNAL AUDIT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF INTERNAL AUDIT", title_clean   = "STAFF INTERNAL AUDIT", title_id  = "5905"  where id = '16706'
=>>>>>>>>>>>>>>>>>>>>>> 16718 /lvl2/ STAFF INTERNAL AUDIT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF INTERNAL AUDIT", title_clean   = "STAFF INTERNAL AUDIT", title_id  = "5905"  where id = '16718'
=>>>>>>>>>>>>>>>>>>>>>> 18079 /lvl2/ Staff Internal Audit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5905"  where id = '18079'
3091 /lvl1/ Junior Brand Manager
=>>>>>>>>>>>>>>>>>>>>>> 14331 /lvl2/ Junior Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3091"  where id = '14331'
=>>>>>>>>>>>>>>>>>>>>>> 14351 /lvl2/ Junior Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3091"  where id = '14351'
=>>>>>>>>>>>>>>>>>>>>>> 14658 /lvl2/ Junior Brand Manager (Food Product)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Food Product)", title_clean   = " (Food Product)", title_id  = "3091"  where id = '14658'
1050 /lvl1/ Contact Center Staff
=>>>>>>>>>>>>>>>>>>>>>> 1116 /lvl2/ Contact Center Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1050"  where id = '1116'
=>>>>>>>>>>>>>>>>>>>>>> 1127 /lvl2/ Contact Center Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1050"  where id = '1127'
4122 /lvl1/ Outbound Call Center
=>>>>>>>>>>>>>>>>>>>>>> 9118 /lvl2/ OUTBOUND CALL CENTER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OUTBOUND CALL CENTER", title_clean   = "OUTBOUND CALL CENTER", title_id  = "4122"  where id = '9118'
6170 /lvl1/ Staff Tax Accounting
=>>>>>>>>>>>>>>>>>>>>>> 2622 /lvl2/ Staff Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6170"  where id = '2622'
=>>>>>>>>>>>>>>>>>>>>>> 9724 /lvl2/ STAFF TAX ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF TAX ACCOUNTING", title_clean   = "STAFF TAX ACCOUNTING", title_id  = "6170"  where id = '9724'
=>>>>>>>>>>>>>>>>>>>>>> 16886 /lvl2/ Staff Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6170"  where id = '16886'
=>>>>>>>>>>>>>>>>>>>>>> 17246 /lvl2/ Staff Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6170"  where id = '17246'
=>>>>>>>>>>>>>>>>>>>>>> 17262 /lvl2/ Staff Tax Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6170"  where id = '17262'
=>>>>>>>>>>>>>>>>>>>>>> 18704 /lvl2/ STAFF TAX ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF TAX ACCOUNTING", title_clean   = "STAFF TAX ACCOUNTING", title_id  = "6170"  where id = '18704'
6426 /lvl1/ Supply Chain Manager
=>>>>>>>>>>>>>>>>>>>>>> 2043 /lvl2/ Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6426"  where id = '2043'
=>>>>>>>>>>>>>>>>>>>>>> 2301 /lvl2/ Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6426"  where id = '2301'
=>>>>>>>>>>>>>>>>>>>>>> 2728 /lvl2/ Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6426"  where id = '2728'
=>>>>>>>>>>>>>>>>>>>>>> 8948 /lvl2/ Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6426"  where id = '8948'
=>>>>>>>>>>>>>>>>>>>>>> 18346 /lvl2/ Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6426"  where id = '18346'
=>>>>>>>>>>>>>>>>>>>>>> 20471 /lvl2/ Supply Chain Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6426"  where id = '20471'
3099 /lvl1/ Junior Data Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5321 /lvl2/ Junior Data Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3099"  where id = '5321'
6427 /lvl1/ Supply Chain Officer
=>>>>>>>>>>>>>>>>>>>>>> 12780 /lvl2/ Supply Chain Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6427"  where id = '12780'
2076 /lvl1/ Foreman Coal Getting
=>>>>>>>>>>>>>>>>>>>>>> 8137 /lvl2/ Foreman Coal Getting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2076"  where id = '8137'
2077 /lvl1/ Foreman Gudang Bumbu
=>>>>>>>>>>>>>>>>>>>>>> 17516 /lvl2/ Foreman Gudang Bumbu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2077"  where id = '17516'
=>>>>>>>>>>>>>>>>>>>>>> 17528 /lvl2/ Foreman Gudang Bumbu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2077"  where id = '17528'
2845 /lvl1/ It Application Staff
=>>>>>>>>>>>>>>>>>>>>>> 12260 /lvl2/ IT Application Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Application Staff", title_clean   = "IT Application Staff", title_id  = "2845"  where id = '12260'
5663 /lvl1/ Senior Tax Associate
=>>>>>>>>>>>>>>>>>>>>>> 10555 /lvl2/ Senior Tax Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5663"  where id = '10555'
3105 /lvl1/ Junior Front End Dev
6689 /lvl1/ Teknisi Motor Tempel
=>>>>>>>>>>>>>>>>>>>>>> 14784 /lvl2/ Teknisi Motor Tempel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6689"  where id = '14784'
3874 /lvl1/ Merchandiser Planner
=>>>>>>>>>>>>>>>>>>>>>> 6639 /lvl2/ Merchandiser Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3874"  where id = '6639'
291 /lvl1/ Administrasi Kontrak
=>>>>>>>>>>>>>>>>>>>>>> 15921 /lvl2/ Administrasi Kontrak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "291"  where id = '15921'
5668 /lvl1/ Senior Telemarketing
=>>>>>>>>>>>>>>>>>>>>>> 15364 /lvl2/ Senior Telemarketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5668"  where id = '15364'
6436 /lvl1/ Surveyor Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 614 /lvl2/ Surveyor Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6436"  where id = '614'
805 /lvl1/ Business Tax Trainee

=>>>>>>>>>>>>>>>>>>>>>> 20231 /lvl2/ Business Tax Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "805"  where id = '20231'
2853 /lvl1/ It Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 7942 /lvl2/ IT Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Assistant Manager", title_clean   = "IT Assistant Manager", title_id  = "2853"  where id = '7942'
=>>>>>>>>>>>>>>>>>>>>>> 8258 /lvl2/ IT Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Assistant Manager", title_clean   = "IT Assistant Manager", title_id  = "2853"  where id = '8258'
=>>>>>>>>>>>>>>>>>>>>>> 14712 /lvl2/ IT Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Assistant Manager", title_clean   = "IT Assistant Manager", title_id  = "2853"  where id = '14712'
=>>>>>>>>>>>>>>>>>>>>>> 19095 /lvl2/ IT Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Assistant Manager", title_clean   = "IT Assistant Manager", title_id  = "2853"  where id = '19095'
806 /lvl1/ Bussines Development
=>>>>>>>>>>>>>>>>>>>>>> 7349 /lvl2/ BUSSINES DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSSINES DEVELOPMENT", title_clean   = "BUSSINES DEVELOPMENT", title_id  = "806"  where id = '7349'
5415 /lvl1/ Security Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 16930 /lvl2/ Security Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5415"  where id = '16930'
=>>>>>>>>>>>>>>>>>>>>>> 16954 /lvl2/ Security Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5415"  where id = '16954'
6696 /lvl1/ Teknisi Pemeliharaan
=>>>>>>>>>>>>>>>>>>>>>> 18875 /lvl2/ Teknisi Pemeliharaan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6696"  where id = '18875'
2090 /lvl1/ Freelance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 17442 /lvl2/ Freelance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2090"  where id = '17442'
=>>>>>>>>>>>>>>>>>>>>>> 17458 /lvl2/ Freelance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2090"  where id = '17458'
5418 /lvl1/ Security Head Office
=>>>>>>>>>>>>>>>>>>>>>> 20043 /lvl2/ Security Head Office
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5418"  where id = '20043'
3371 /lvl1/ Legal Permit Officer
=>>>>>>>>>>>>>>>>>>>>>> 9007 /lvl2/ Legal Permit Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3371"  where id = '9007'
6699 /lvl1/ Teknisi Pest Control
=>>>>>>>>>>>>>>>>>>>>>> 583 /lvl2/ Teknisi Pest Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6699"  where id = '583'
2860 /lvl1/ It Business Analystt
2094 /lvl1/ Freelance Instructor
=>>>>>>>>>>>>>>>>>>>>>> 1173 /lvl2/ Freelance Instructor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2094"  where id = '1173'
3886 /lvl1/ Merchant Acquisition
=>>>>>>>>>>>>>>>>>>>>>> 3488 /lvl2/ Merchant Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3886"  where id = '3488'
=>>>>>>>>>>>>>>>>>>>>>> 12070 /lvl2/ Merchant Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3886"  where id = '12070'
=>>>>>>>>>>>>>>>>>>>>>> 15070 /lvl2/ Merchant Acquisition ShopeePay (Cilacap)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ShopeePay (Cilacap)", title_clean   = " ShopeePay (Cilacap)", title_id  = "3886"  where id = '15070'
=>>>>>>>>>>>>>>>>>>>>>> 15943 /lvl2/ Merchant Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3886"  where id = '15943'
=>>>>>>>>>>>>>>>>>>>>>> 16371 /lvl2/ Merchant Acquisition ShopeePay (Karawang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ShopeePay (Karawang)", title_clean   = " ShopeePay (Karawang)", title_id  = "3886"  where id = '16371'
=>>>>>>>>>>>>>>>>>>>>>> 16443 /lvl2/ Merchant Acquisition ShopeePay (Cirebon)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ShopeePay (Cirebon)", title_clean   = " ShopeePay (Cirebon)", title_id  = "3886"  where id = '16443'
=>>>>>>>>>>>>>>>>>>>>>> 16495 /lvl2/ Merchant Acquisition ShopeePay (Indramayu)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ShopeePay (Indramayu)", title_clean   = " ShopeePay (Indramayu)", title_id  = "3886"  where id = '16495'
=>>>>>>>>>>>>>>>>>>>>>> 16502 /lvl2/ Merchant Acquisition ShopeePay (Tasikmalaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ShopeePay (Tasikmalaya)", title_clean   = " ShopeePay (Tasikmalaya)", title_id  = "3886"  where id = '16502'
=>>>>>>>>>>>>>>>>>>>>>> 19912 /lvl2/ Merchant Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3886"  where id = '19912'
5678 /lvl1/ Senior Web Developer
=>>>>>>>>>>>>>>>>>>>>>> 6003 /lvl2/ Senior Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5678"  where id = '6003'
=>>>>>>>>>>>>>>>>>>>>>> 11518 /lvl2/ Senior Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5678"  where id = '11518'
=>>>>>>>>>>>>>>>>>>>>>> 11543 /lvl2/ Senior Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5678"  where id = '11543'
6190 /lvl1/ Stock Opname Officer
=>>>>>>>>>>>>>>>>>>>>>> 18757 /lvl2/ Stock Opname Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6190"  where id = '18757'
303 /lvl1/ Administrasi Support
=>>>>>>>>>>>>>>>>>>>>>> 16037 /lvl2/ Administrasi Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "303"  where id = '16037'
=>>>>>>>>>>>>>>>>>>>>>> 16058 /lvl2/ Administrasi Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "303"  where id = '16058'
=>>>>>>>>>>>>>>>>>>>>>> 16962 /lvl2/ Administrasi Support Marketing (LED)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Marketing (LED)", title_clean   = " Marketing (LED)", title_id  = "303"  where id = '16962'
2095 /lvl1/ Freelance IT Support
=>>>>>>>>>>>>>>>>>>>>>> 883 /lvl2/ Freelance IT Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2095"  where id = '883'
3119 /lvl1/ Junior Legal Officer
=>>>>>>>>>>>>>>>>>>>>>> 17335 /lvl2/ Junior Legal Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3119"  where id = '17335'
2096 /lvl1/ Freelance Mitrakerja
=>>>>>>>>>>>>>>>>>>>>>> 1607 /lvl2/ Freelance Mitrakerja
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2096"  where id = '1607'
=>>>>>>>>>>>>>>>>>>>>>> 1637 /lvl2/ Freelance Mitrakerja
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2096"  where id = '1637'
=>>>>>>>>>>>>>>>>>>>>>> 9723 /lvl2/ Freelance Mitrakerja
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2096"  where id = '9723'
6960 /lvl1/ Warehouse Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 731 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '731'
=>>>>>>>>>>>>>>>>>>>>>> 1072 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '1072'
=>>>>>>>>>>>>>>>>>>>>>> 1183 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '1183'
=>>>>>>>>>>>>>>>>>>>>>> 3151 /lvl2/ Warehouse Supervisor - MANDARIN Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - MANDARIN Speaking", title_clean   = " - MANDARIN Speaking", title_id  = "6960"  where id = '3151'
=>>>>>>>>>>>>>>>>>>>>>> 4149 /lvl2/ Warehouse Supervisor (Surabaya Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya Area)", title_clean   = " (Surabaya Area)", title_id  = "6960"  where id = '4149'
=>>>>>>>>>>>>>>>>>>>>>> 4554 /lvl2/ WAREHOUSE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE SUPERVISOR", title_clean   = "WAREHOUSE SUPERVISOR", title_id  = "6960"  where id = '4554'
=>>>>>>>>>>>>>>>>>>>>>> 5230 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '5230'
=>>>>>>>>>>>>>>>>>>>>>> 5530 /lvl2/ WAREHOUSE SUPERVISOR (SPV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE SUPERVISOR (SPV)", title_clean   = "WAREHOUSE SUPERVISOR (SPV)", title_id  = "6960"  where id = '5530'
=>>>>>>>>>>>>>>>>>>>>>> 6660 /lvl2/ WAREHOUSE SUPERVISOR (SPV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE SUPERVISOR (SPV)", title_clean   = "WAREHOUSE SUPERVISOR (SPV)", title_id  = "6960"  where id = '6660'
=>>>>>>>>>>>>>>>>>>>>>> 8381 /lvl2/ Warehouse Supervisor Cabang Gresik (DWSG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Gresik (DWSG)", title_clean   = " Cabang Gresik (DWSG)", title_id  = "6960"  where id = '8381'
=>>>>>>>>>>>>>>>>>>>>>> 8394 /lvl2/ Warehouse Supervisor Cabang Gresik (DWSG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Gresik (DWSG)", title_clean   = " Cabang Gresik (DWSG)", title_id  = "6960"  where id = '8394'
=>>>>>>>>>>>>>>>>>>>>>> 10411 /lvl2/ Warehouse Supervisor (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang)", title_clean   = " (Semarang)", title_id  = "6960"  where id = '10411'
=>>>>>>>>>>>>>>>>>>>>>> 10548 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '10548'
=>>>>>>>>>>>>>>>>>>>>>> 10806 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '10806'
=>>>>>>>>>>>>>>>>>>>>>> 11092 /lvl2/ Warehouse Supervisor (Denpasar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Denpasar)", title_clean   = " (Denpasar)", title_id  = "6960"  where id = '11092'
=>>>>>>>>>>>>>>>>>>>>>> 12066 /lvl2/ Warehouse Supervisor (Penempatan Makassar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Makassar)", title_clean   = " (Penempatan Makassar)", title_id  = "6960"  where id = '12066'
=>>>>>>>>>>>>>>>>>>>>>> 12097 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '12097'
=>>>>>>>>>>>>>>>>>>>>>> 13372 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '13372'
=>>>>>>>>>>>>>>>>>>>>>> 13591 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '13591'
=>>>>>>>>>>>>>>>>>>>>>> 13813 /lvl2/ Warehouse Supervisor&Logistics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-&Logistics", title_clean   = "&Logistics", title_id  = "6960"  where id = '13813'
=>>>>>>>>>>>>>>>>>>>>>> 13832 /lvl2/ Warehouse Supervisor&Logistics
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-&Logistics", title_clean   = "&Logistics", title_id  = "6960"  where id = '13832'
=>>>>>>>>>>>>>>>>>>>>>> 14689 /lvl2/ WAREHOUSE SUPERVISOR POWER DISTRIBUTION AND RENEWABLE ENERGY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE SUPERVISOR POWER DISTRIBUTION AND RENEWABLE ENERGY", title_clean   = "WAREHOUSE SUPERVISOR POWER DISTRIBUTION AND RENEWABLE ENERGY", title_id  = "6960"  where id = '14689'
=>>>>>>>>>>>>>>>>>>>>>> 16693 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '16693'
=>>>>>>>>>>>>>>>>>>>>>> 17622 /lvl2/ Warehouse Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6960"  where id = '17622'
=>>>>>>>>>>>>>>>>>>>>>> 19422 /lvl2/ WAREHOUSE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE SUPERVISOR", title_clean   = "WAREHOUSE SUPERVISOR", title_id  = "6960"  where id = '19422'
=>>>>>>>>>>>>>>>>>>>>>> 19758 /lvl2/ WAREHOUSE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE SUPERVISOR", title_clean   = "WAREHOUSE SUPERVISOR", title_id  = "6960"  where id = '19758'
=>>>>>>>>>>>>>>>>>>>>>> 20129 /lvl2/ IT Warehouse Supervisor (IT Infrastructure)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT -idex- (IT Infrastructure)", title_clean   = "IT  (IT Infrastructure)", title_id  = "6960"  where id = '20129'
305 /lvl1/ Administrasi Teknisi

=>>>>>>>>>>>>>>>>>>>>>> 13268 /lvl2/ Administrasi Teknisi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "305"  where id = '13268'
=>>>>>>>>>>>>>>>>>>>>>> 13477 /lvl2/ Administrasi Teknisi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "305"  where id = '13477'
6450 /lvl1/ System Administrator
=>>>>>>>>>>>>>>>>>>>>>> 1109 /lvl2/ System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6450"  where id = '1109'
=>>>>>>>>>>>>>>>>>>>>>> 1132 /lvl2/ System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6450"  where id = '1132'
=>>>>>>>>>>>>>>>>>>>>>> 1940 /lvl2/ System Administrator (Trendmicro Deep Securityu002F TMDS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Trendmicro Deep Securityu002F TMDS)", title_clean   = " (Trendmicro Deep Securityu002F TMDS)", title_id  = "6450"  where id = '1940'
=>>>>>>>>>>>>>>>>>>>>>> 3755 /lvl2/ System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6450"  where id = '3755'
=>>>>>>>>>>>>>>>>>>>>>> 4697 /lvl2/ System Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6450"  where id = '4697'
=>>>>>>>>>>>>>>>>>>>>>> 5305 /lvl2/ System Administrator Leader (Trend Micro Deep Security)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Leader (Trend Micro Deep Security)", title_clean   = " Leader (Trend Micro Deep Security)", title_id  = "6450"  where id = '5305'
=>>>>>>>>>>>>>>>>>>>>>> 7643 /lvl2/ System Administrator (IT Network)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT Network)", title_clean   = " (IT Network)", title_id  = "6450"  where id = '7643'
=>>>>>>>>>>>>>>>>>>>>>> 16852 /lvl2/ System Administrator u002F IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- u002F IT Infrastructure", title_clean   = " u002F IT Infrastructure", title_id  = "6450"  where id = '16852'
=>>>>>>>>>>>>>>>>>>>>>> 17091 /lvl2/ System administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "System administrator", title_clean   = "System administrator", title_id  = "6450"  where id = '17091'
563 /lvl1/ Associate IT Auditor
=>>>>>>>>>>>>>>>>>>>>>> 5825 /lvl2/ Associate IT Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "563"  where id = '5825'
6963 /lvl1/ Warehouse Technician
=>>>>>>>>>>>>>>>>>>>>>> 12984 /lvl2/ Warehouse Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6963"  where id = '12984'
1844 /lvl1/ Export Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 15125 /lvl2/ Export Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1844"  where id = '15125'
5684 /lvl1/ Seo & Sem Specialist
=>>>>>>>>>>>>>>>>>>>>>> 7057 /lvl2/ SEO & SEM Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEO & SEM Specialist", title_clean   = "SEO & SEM Specialist", title_id  = "5684"  where id = '7057'
2613 /lvl1/ Human Capital Intern
=>>>>>>>>>>>>>>>>>>>>>> 109 /lvl2/ Human Capital Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2613"  where id = '109'
3637 /lvl1/ Marketing Activation
=>>>>>>>>>>>>>>>>>>>>>> 5961 /lvl2/ Marketing Activation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3637"  where id = '5961'
6709 /lvl1/ Telehandler Operator
=>>>>>>>>>>>>>>>>>>>>>> 12184 /lvl2/ Telehandler Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6709"  where id = '12184'
4664 /lvl1/ Purchasing Associate
=>>>>>>>>>>>>>>>>>>>>>> 11762 /lvl2/ Purchasing Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4664"  where id = '11762'
57 /lvl1/ Accountant Executive
=>>>>>>>>>>>>>>>>>>>>>> 7068 /lvl2/ Accountant Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "57"  where id = '7068'
313 /lvl1/ Administration Staff
=>>>>>>>>>>>>>>>>>>>>>> 64 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '64'
=>>>>>>>>>>>>>>>>>>>>>> 128 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '128'
=>>>>>>>>>>>>>>>>>>>>>> 153 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '153'
=>>>>>>>>>>>>>>>>>>>>>> 193 /lvl2/ Administration Staff ( Tata Usaha ) Elementary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Tata Usaha ) Elementary", title_clean   = " ( Tata Usaha ) Elementary", title_id  = "313"  where id = '193'
=>>>>>>>>>>>>>>>>>>>>>> 211 /lvl2/ Administration Staff (JS - ADM) Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Balikpapan", title_clean   = " (JS - ADM) Balikpapan", title_id  = "313"  where id = '211'
=>>>>>>>>>>>>>>>>>>>>>> 304 /lvl2/ AR Administration Staff - Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AR -idex- - Cikarang", title_clean   = "AR  - Cikarang", title_id  = "313"  where id = '304'
=>>>>>>>>>>>>>>>>>>>>>> 876 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '876'
=>>>>>>>>>>>>>>>>>>>>>> 893 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '893'
=>>>>>>>>>>>>>>>>>>>>>> 1504 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '1504'
=>>>>>>>>>>>>>>>>>>>>>> 1980 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '1980'
=>>>>>>>>>>>>>>>>>>>>>> 2040 /lvl2/ Collection Administration Staff (Pontinak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Collection -idex- (Pontinak Branch)", title_clean   = "Collection  (Pontinak Branch)", title_id  = "313"  where id = '2040'
=>>>>>>>>>>>>>>>>>>>>>> 3919 /lvl2/ Administration Staff (JS - ADM) Banjar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Banjar", title_clean   = " (JS - ADM) Banjar", title_id  = "313"  where id = '3919'
=>>>>>>>>>>>>>>>>>>>>>> 4647 /lvl2/ Transport  and Distribution Administration Staff (Pontianak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Transport  and Distribution -idex- (Pontianak Branch)", title_clean   = "Transport  and Distribution  (Pontianak Branch)", title_id  = "313"  where id = '4647'
=>>>>>>>>>>>>>>>>>>>>>> 4705 /lvl2/ Administration Staff (JS - ADM) Purwokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Purwokerto", title_clean   = " (JS - ADM) Purwokerto", title_id  = "313"  where id = '4705'
=>>>>>>>>>>>>>>>>>>>>>> 4770 /lvl2/ Administration Staff (JS - ADM) - Banyuwangi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) - Banyuwangi", title_clean   = " (JS - ADM) - Banyuwangi", title_id  = "313"  where id = '4770'
=>>>>>>>>>>>>>>>>>>>>>> 5043 /lvl2/ Warehouse Administration Staff (Pontianak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Warehouse -idex- (Pontianak Branch)", title_clean   = "Warehouse  (Pontianak Branch)", title_id  = "313"  where id = '5043'
=>>>>>>>>>>>>>>>>>>>>>> 5048 /lvl2/ Payment Administration Staff (JS - PAS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Payment -idex- (JS - PAS)", title_clean   = "Payment  (JS - PAS)", title_id  = "313"  where id = '5048'
=>>>>>>>>>>>>>>>>>>>>>> 5172 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '5172'
=>>>>>>>>>>>>>>>>>>>>>> 5940 /lvl2/ Administration Staff (JS - ADM) Duri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Duri", title_clean   = " (JS - ADM) Duri", title_id  = "313"  where id = '5940'
=>>>>>>>>>>>>>>>>>>>>>> 5980 /lvl2/ Sales Administration Staff (PIK 2)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales -idex- (PIK 2)", title_clean   = "Sales  (PIK 2)", title_id  = "313"  where id = '5980'
=>>>>>>>>>>>>>>>>>>>>>> 7081 /lvl2/ Administration Staff (JS - ADM) Duri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Duri", title_clean   = " (JS - ADM) Duri", title_id  = "313"  where id = '7081'
=>>>>>>>>>>>>>>>>>>>>>> 7315 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '7315'
=>>>>>>>>>>>>>>>>>>>>>> 7666 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '7666'
=>>>>>>>>>>>>>>>>>>>>>> 7772 /lvl2/ Legal Administration Staff - (Land Acquisition Specialist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Legal -idex- - (Land Acquisition Specialist)", title_clean   = "Legal  - (Land Acquisition Specialist)", title_id  = "313"  where id = '7772'
=>>>>>>>>>>>>>>>>>>>>>> 8096 /lvl2/ Legal Administration Staff - (Land Acquisition Specialist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Legal -idex- - (Land Acquisition Specialist)", title_clean   = "Legal  - (Land Acquisition Specialist)", title_id  = "313"  where id = '8096'
=>>>>>>>>>>>>>>>>>>>>>> 8937 /lvl2/ Administration Staff for Palembang Branch
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Palembang Branch", title_clean   = " for Palembang Branch", title_id  = "313"  where id = '8937'
=>>>>>>>>>>>>>>>>>>>>>> 9136 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '9136'
=>>>>>>>>>>>>>>>>>>>>>> 9952 /lvl2/ Administration Staff for Padang Branch
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Padang Branch", title_clean   = " for Padang Branch", title_id  = "313"  where id = '9952'
=>>>>>>>>>>>>>>>>>>>>>> 10092 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '10092'
=>>>>>>>>>>>>>>>>>>>>>> 10150 /lvl2/ Administration Staff - policy processing (Location: Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - policy processing (Location: Medan)", title_clean   = " - policy processing (Location: Medan)", title_id  = "313"  where id = '10150'
=>>>>>>>>>>>>>>>>>>>>>> 10261 /lvl2/ Administration Staff (JS - ADM) Cilegon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Cilegon", title_clean   = " (JS - ADM) Cilegon", title_id  = "313"  where id = '10261'
=>>>>>>>>>>>>>>>>>>>>>> 10266 /lvl2/ Administration Staff (JS - ADM) Cempaka Mas
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Cempaka Mas", title_clean   = " (JS - ADM) Cempaka Mas", title_id  = "313"  where id = '10266'
=>>>>>>>>>>>>>>>>>>>>>> 10836 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '10836'
=>>>>>>>>>>>>>>>>>>>>>> 10858 /lvl2/ Administration Staff (JS - ADM) - Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) - Cikarang", title_clean   = " (JS - ADM) - Cikarang", title_id  = "313"  where id = '10858'
=>>>>>>>>>>>>>>>>>>>>>> 11157 /lvl2/ Administration Staff (JS - ADM) Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Bogor", title_clean   = " (JS - ADM) Bogor", title_id  = "313"  where id = '11157'
=>>>>>>>>>>>>>>>>>>>>>> 11246 /lvl2/ Administration Staff (Placement at Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Placement at Surabaya)", title_clean   = " (Placement at Surabaya)", title_id  = "313"  where id = '11246'
=>>>>>>>>>>>>>>>>>>>>>> 11247 /lvl2/ Administration Staff (Placement at Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Placement at Surabaya)", title_clean   = " (Placement at Surabaya)", title_id  = "313"  where id = '11247'
=>>>>>>>>>>>>>>>>>>>>>> 11263 /lvl2/ Administration Staff (JS - ADM) Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Batam", title_clean   = " (JS - ADM) Batam", title_id  = "313"  where id = '11263'
=>>>>>>>>>>>>>>>>>>>>>> 11341 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '11341'
=>>>>>>>>>>>>>>>>>>>>>> 11642 /lvl2/ Administration Staff for Banjarmasin Branch
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Banjarmasin Branch", title_clean   = " for Banjarmasin Branch", title_id  = "313"  where id = '11642'
=>>>>>>>>>>>>>>>>>>>>>> 11804 /lvl2/ Administration Staff (JS - ADM) Mojokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Mojokerto", title_clean   = " (JS - ADM) Mojokerto", title_id  = "313"  where id = '11804'
=>>>>>>>>>>>>>>>>>>>>>> 12103 /lvl2/ Administration Staff (JS - ADM) Probolinggo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Probolinggo", title_clean   = " (JS - ADM) Probolinggo", title_id  = "313"  where id = '12103'
=>>>>>>>>>>>>>>>>>>>>>> 12492 /lvl2/ Administration Staff (JS - ADM) Depok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Depok", title_clean   = " (JS - ADM) Depok", title_id  = "313"  where id = '12492'
=>>>>>>>>>>>>>>>>>>>>>> 13255 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '13255'
=>>>>>>>>>>>>>>>>>>>>>> 14763 /lvl2/ Administration Staff (Englishu002FKorean Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Englishu002FKorean Speaker)", title_clean   = " (Englishu002FKorean Speaker)", title_id  = "313"  where id = '14763'
=>>>>>>>>>>>>>>>>>>>>>> 16161 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '16161'
=>>>>>>>>>>>>>>>>>>>>>> 16297 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '16297'
=>>>>>>>>>>>>>>>>>>>>>> 16695 /lvl2/ GENERAL SERVICES ADMINISTRATION STAFF (Secretary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GENERAL SERVICES ADMINISTRATION STAFF (Secretary)", title_clean   = "GENERAL SERVICES ADMINISTRATION STAFF (Secretary)", title_id  = "313"  where id = '16695'
=>>>>>>>>>>>>>>>>>>>>>> 16798 /lvl2/ MARKETING  ADMINISTRATION STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING  ADMINISTRATION STAFF", title_clean   = "MARKETING  ADMINISTRATION STAFF", title_id  = "313"  where id = '16798'
=>>>>>>>>>>>>>>>>>>>>>> 16981 /lvl2/ Accounting and Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting and -idex-", title_clean   = "Accounting and ", title_id  = "313"  where id = '16981'
=>>>>>>>>>>>>>>>>>>>>>> 17028 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '17028'
=>>>>>>>>>>>>>>>>>>>>>> 18450 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '18450'
=>>>>>>>>>>>>>>>>>>>>>> 19393 /lvl2/ Administration Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "313"  where id = '19393'
=>>>>>>>>>>>>>>>>>>>>>> 19805 /lvl2/ Administration Staff (JS - ADM) Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ADM) Makassar", title_clean   = " (JS - ADM) Makassar", title_id  = "313"  where id = '19805'
5434 /lvl1/ Sem & Seo Specialist

=>>>>>>>>>>>>>>>>>>>>>> 5373 /lvl2/ SEM & SEO Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEM & SEO Specialist", title_clean   = "SEM & SEO Specialist", title_id  = "5434"  where id = '5373'
4668 /lvl1/ Purchasing Furniture
=>>>>>>>>>>>>>>>>>>>>>> 1194 /lvl2/ PURCHASING FURNITURE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING FURNITURE", title_clean   = "PURCHASING FURNITURE", title_id  = "4668"  where id = '1194'
6972 /lvl1/ Web & Api Programmer
=>>>>>>>>>>>>>>>>>>>>>> 11829 /lvl2/ WEB & API PROGRAMMER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WEB & API PROGRAMMER", title_clean   = "WEB & API PROGRAMMER", title_id  = "6972"  where id = '11829'
4413 /lvl1/ Procurement Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12045 /lvl2/ Procurement Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4413"  where id = '12045'
6719 /lvl1/ Telesales Consultant
=>>>>>>>>>>>>>>>>>>>>>> 5481 /lvl2/ Telesales Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6719"  where id = '5481'
2112 /lvl1/ Front End Programmer
=>>>>>>>>>>>>>>>>>>>>>> 2995 /lvl2/ Front End Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2112"  where id = '2995'
=>>>>>>>>>>>>>>>>>>>>>> 3800 /lvl2/ Front End Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2112"  where id = '3800'
5696 /lvl1/ Server / Staff Floor
4929 /lvl1/ Regulatory Executive
=>>>>>>>>>>>>>>>>>>>>>> 19881 /lvl2/ Regulatory Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4929"  where id = '19881'
66 /lvl1/ Accounting & Finance
=>>>>>>>>>>>>>>>>>>>>>> 3482 /lvl2/ Intern - Accounting & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern - -idex-", title_clean   = "Intern - ", title_id  = "66"  where id = '3482'
=>>>>>>>>>>>>>>>>>>>>>> 5637 /lvl2/ Accounting & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "66"  where id = '5637'
=>>>>>>>>>>>>>>>>>>>>>> 5878 /lvl2/ Accounting & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "66"  where id = '5878'
=>>>>>>>>>>>>>>>>>>>>>> 6999 /lvl2/ Accounting & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "66"  where id = '6999'
=>>>>>>>>>>>>>>>>>>>>>> 7794 /lvl2/ Accounting & finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting & finance", title_clean   = "Accounting & finance", title_id  = "66"  where id = '7794'
=>>>>>>>>>>>>>>>>>>>>>> 8113 /lvl2/ Accounting & finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting & finance", title_clean   = "Accounting & finance", title_id  = "66"  where id = '8113'
=>>>>>>>>>>>>>>>>>>>>>> 17699 /lvl2/ Accounting & Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "66"  where id = '17699'
6978 /lvl1/ Web Developer Intern
=>>>>>>>>>>>>>>>>>>>>>> 7533 /lvl2/ Web Developer Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6978"  where id = '7533'
1347 /lvl1/ Data Analyst Officer
=>>>>>>>>>>>>>>>>>>>>>> 17960 /lvl2/ Data Analyst Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1347"  where id = '17960'
2115 /lvl1/ Front Office / Admin
3907 /lvl1/ Mitra Expert Solubis
=>>>>>>>>>>>>>>>>>>>>>> 3380 /lvl2/ Mitra Expert Solubis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3907"  where id = '3380'
5955 /lvl1/ Staff Accounting Tax
1605 /lvl1/ Driver Mobil Pribadi
=>>>>>>>>>>>>>>>>>>>>>> 3931 /lvl2/ Driver Mobil Pribadi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1605"  where id = '3931'
=>>>>>>>>>>>>>>>>>>>>>> 3951 /lvl2/ Driver Mobil Pribadi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1605"  where id = '3951'
3398 /lvl1/ Local Maklon Manager
=>>>>>>>>>>>>>>>>>>>>>> 5850 /lvl2/ LOCAL MAKLON MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LOCAL MAKLON MANAGER", title_clean   = "LOCAL MAKLON MANAGER", title_id  = "3398"  where id = '5850'
2120 /lvl1/ FTTH Site Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 2928 /lvl2/ FTTH Site Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2120"  where id = '2928'
2888 /lvl1/ It Developer Manager
=>>>>>>>>>>>>>>>>>>>>>> 11703 /lvl2/ IT DEVELOPER MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT DEVELOPER MANAGER", title_clean   = "IT DEVELOPER MANAGER", title_id  = "2888"  where id = '11703'
1098 /lvl1/ Cook For Hot Kitchen
=>>>>>>>>>>>>>>>>>>>>>> 15925 /lvl2/ COOK For Hot Kitchen
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COOK For Hot Kitchen", title_clean   = "COOK For Hot Kitchen", title_id  = "1098"  where id = '15925'
4939 /lvl1/ Relationship Manager
=>>>>>>>>>>>>>>>>>>>>>> 2248 /lvl2/ Relationship Manager Multifinance (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Multifinance (Jakarta)", title_clean   = " Multifinance (Jakarta)", title_id  = "4939"  where id = '2248'
=>>>>>>>>>>>>>>>>>>>>>> 2446 /lvl2/ Relationship Manager Batam (Retail Banking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Batam (Retail Banking)", title_clean   = " Batam (Retail Banking)", title_id  = "4939"  where id = '2446'
=>>>>>>>>>>>>>>>>>>>>>> 2978 /lvl2/ EMERGING BUSINESS RELATIONSHIP MANAGER  (MEDAN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EMERGING BUSINESS RELATIONSHIP MANAGER  (MEDAN)", title_clean   = "EMERGING BUSINESS RELATIONSHIP MANAGER  (MEDAN)", title_id  = "4939"  where id = '2978'
=>>>>>>>>>>>>>>>>>>>>>> 3164 /lvl2/ Relationship Manager Batam (Retail Banking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Batam (Retail Banking)", title_clean   = " Batam (Retail Banking)", title_id  = "4939"  where id = '3164'
=>>>>>>>>>>>>>>>>>>>>>> 3244 /lvl2/ Relationship Manager KC Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- KC Balikpapan", title_clean   = " KC Balikpapan", title_id  = "4939"  where id = '3244'
=>>>>>>>>>>>>>>>>>>>>>> 3480 /lvl2/ EMERGING BUSINESS RELATIONSHIP MANAGER (BANDUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EMERGING BUSINESS RELATIONSHIP MANAGER (BANDUNG)", title_clean   = "EMERGING BUSINESS RELATIONSHIP MANAGER (BANDUNG)", title_id  = "4939"  where id = '3480'
=>>>>>>>>>>>>>>>>>>>>>> 3709 /lvl2/ Relationship Manager (Overseas Education Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Overseas Education Consultant)", title_clean   = " (Overseas Education Consultant)", title_id  = "4939"  where id = '3709'
=>>>>>>>>>>>>>>>>>>>>>> 3724 /lvl2/ EMERGING BUSINESS RELATIONSHIP MANAGER (JAWA TENGAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EMERGING BUSINESS RELATIONSHIP MANAGER (JAWA TENGAH)", title_clean   = "EMERGING BUSINESS RELATIONSHIP MANAGER (JAWA TENGAH)", title_id  = "4939"  where id = '3724'
=>>>>>>>>>>>>>>>>>>>>>> 4133 /lvl2/ Personal Relationship Manager (PRM) Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal -idex- (PRM) Surabaya", title_clean   = "Personal  (PRM) Surabaya", title_id  = "4939"  where id = '4133'
=>>>>>>>>>>>>>>>>>>>>>> 4460 /lvl2/ EMERGING BUSINESS RELATIONSHIP MANAGER (BANDUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EMERGING BUSINESS RELATIONSHIP MANAGER (BANDUNG)", title_clean   = "EMERGING BUSINESS RELATIONSHIP MANAGER (BANDUNG)", title_id  = "4939"  where id = '4460'
=>>>>>>>>>>>>>>>>>>>>>> 4750 /lvl2/ EMERGING BUSINESS RELATIONSHIP MANAGER (SURABAYA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EMERGING BUSINESS RELATIONSHIP MANAGER (SURABAYA)", title_clean   = "EMERGING BUSINESS RELATIONSHIP MANAGER (SURABAYA)", title_id  = "4939"  where id = '4750'
=>>>>>>>>>>>>>>>>>>>>>> 4970 /lvl2/ Relationship Manager (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "4939"  where id = '4970'
=>>>>>>>>>>>>>>>>>>>>>> 5414 /lvl2/ Relationship Manager (Funding) - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Funding) - Makassar", title_clean   = " (Funding) - Makassar", title_id  = "4939"  where id = '5414'
=>>>>>>>>>>>>>>>>>>>>>> 5625 /lvl2/ Relationship Manager Priority (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Priority (Surabaya)", title_clean   = " Priority (Surabaya)", title_id  = "4939"  where id = '5625'
=>>>>>>>>>>>>>>>>>>>>>> 5922 /lvl2/ Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4939"  where id = '5922'
=>>>>>>>>>>>>>>>>>>>>>> 6752 /lvl2/ Relationship Manager Priority (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Priority (Surabaya)", title_clean   = " Priority (Surabaya)", title_id  = "4939"  where id = '6752'
=>>>>>>>>>>>>>>>>>>>>>> 9298 /lvl2/ Relationship Manager (Syariah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Syariah)", title_clean   = " (Syariah)", title_id  = "4939"  where id = '9298'
=>>>>>>>>>>>>>>>>>>>>>> 11814 /lvl2/ Relationship Manager - Corporate Banking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Corporate Banking", title_clean   = " - Corporate Banking", title_id  = "4939"  where id = '11814'
=>>>>>>>>>>>>>>>>>>>>>> 11827 /lvl2/ EMERGING BUSINESS RELATIONSHIP MANAGER (JABODETABEK)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EMERGING BUSINESS RELATIONSHIP MANAGER (JABODETABEK)", title_clean   = "EMERGING BUSINESS RELATIONSHIP MANAGER (JABODETABEK)", title_id  = "4939"  where id = '11827'
=>>>>>>>>>>>>>>>>>>>>>> 12111 /lvl2/ SME Relationship Manager (Lending)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SME -idex- (Lending)", title_clean   = "SME  (Lending)", title_id  = "4939"  where id = '12111'
=>>>>>>>>>>>>>>>>>>>>>> 13363 /lvl2/ Preferred Relationship Manager (Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Preferred -idex- (Jabodetabek)", title_clean   = "Preferred  (Jabodetabek)", title_id  = "4939"  where id = '13363'
=>>>>>>>>>>>>>>>>>>>>>> 14173 /lvl2/ Relationship Manager (Funding)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Funding)", title_clean   = " (Funding)", title_id  = "4939"  where id = '14173'
=>>>>>>>>>>>>>>>>>>>>>> 14495 /lvl2/ Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4939"  where id = '14495'
=>>>>>>>>>>>>>>>>>>>>>> 14623 /lvl2/ Preferred Relationship Manager (Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Preferred -idex- (Jabodetabek)", title_clean   = "Preferred  (Jabodetabek)", title_id  = "4939"  where id = '14623'
=>>>>>>>>>>>>>>>>>>>>>> 14938 /lvl2/ Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4939"  where id = '14938'
=>>>>>>>>>>>>>>>>>>>>>> 15130 /lvl2/ Relationship Manager Mortgage (KPR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mortgage (KPR)", title_clean   = " Mortgage (KPR)", title_id  = "4939"  where id = '15130'
=>>>>>>>>>>>>>>>>>>>>>> 16514 /lvl2/ Relationship Manager (Hunter) SME
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hunter) SME", title_clean   = " (Hunter) SME", title_id  = "4939"  where id = '16514'
=>>>>>>>>>>>>>>>>>>>>>> 18276 /lvl2/ COMMERCIAL BANKING RELATIONSHIP MANAGER (JABODETABEK)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COMMERCIAL BANKING RELATIONSHIP MANAGER (JABODETABEK)", title_clean   = "COMMERCIAL BANKING RELATIONSHIP MANAGER (JABODETABEK)", title_id  = "4939"  where id = '18276'
=>>>>>>>>>>>>>>>>>>>>>> 19022 /lvl2/ Relationship Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4939"  where id = '19022'
=>>>>>>>>>>>>>>>>>>>>>> 19163 /lvl2/ Relationship Manager Priority (Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Priority (Jabodetabek)", title_clean   = " Priority (Jabodetabek)", title_id  = "4939"  where id = '19163'
=>>>>>>>>>>>>>>>>>>>>>> 19916 /lvl2/ Relationship Manager - Commercial (Multiple Branches)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Commercial (Multiple Branches)", title_clean   = " - Commercial (Multiple Branches)", title_id  = "4939"  where id = '19916'
=>>>>>>>>>>>>>>>>>>>>>> 20077 /lvl2/ Business Relationship Manager Area Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business -idex- Area Palembang", title_clean   = "Business  Area Palembang", title_id  = "4939"  where id = '20077'
6987 /lvl1/ Webmethods Developer

=>>>>>>>>>>>>>>>>>>>>>> 7897 /lvl2/ Webmethods Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6987"  where id = '7897'
=>>>>>>>>>>>>>>>>>>>>>> 8214 /lvl2/ Webmethods Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6987"  where id = '8214'
588 /lvl1/ Avp Account Director
=>>>>>>>>>>>>>>>>>>>>>> 20059 /lvl2/ AVP Account Director SC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AVP Account Director SC", title_clean   = "AVP Account Director SC", title_id  = "588"  where id = '20059'
2124 /lvl1/ Full Stack Developer
=>>>>>>>>>>>>>>>>>>>>>> 3001 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '3001'
=>>>>>>>>>>>>>>>>>>>>>> 3471 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '3471'
=>>>>>>>>>>>>>>>>>>>>>> 4281 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '4281'
=>>>>>>>>>>>>>>>>>>>>>> 4636 /lvl2/ FULL STACK DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FULL STACK DEVELOPER", title_clean   = "FULL STACK DEVELOPER", title_id  = "2124"  where id = '4636'
=>>>>>>>>>>>>>>>>>>>>>> 4812 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '4812'
=>>>>>>>>>>>>>>>>>>>>>> 4980 /lvl2/ Full Stack Developer (Onsite)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Onsite)", title_clean   = " (Onsite)", title_id  = "2124"  where id = '4980'
=>>>>>>>>>>>>>>>>>>>>>> 5049 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '5049'
=>>>>>>>>>>>>>>>>>>>>>> 5254 /lvl2/ Full stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full stack Developer", title_clean   = "Full stack Developer", title_id  = "2124"  where id = '5254'
=>>>>>>>>>>>>>>>>>>>>>> 5610 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '5610'
=>>>>>>>>>>>>>>>>>>>>>> 5861 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '5861'
=>>>>>>>>>>>>>>>>>>>>>> 6213 /lvl2/ Full stack Developer (React)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full stack Developer (React)", title_clean   = "Full stack Developer (React)", title_id  = "2124"  where id = '6213'
=>>>>>>>>>>>>>>>>>>>>>> 6223 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '6223'
=>>>>>>>>>>>>>>>>>>>>>> 6472 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '6472'
=>>>>>>>>>>>>>>>>>>>>>> 6850 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '6850'
=>>>>>>>>>>>>>>>>>>>>>> 7016 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '7016'
=>>>>>>>>>>>>>>>>>>>>>> 7270 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '7270'
=>>>>>>>>>>>>>>>>>>>>>> 7406 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '7406'
=>>>>>>>>>>>>>>>>>>>>>> 7437 /lvl2/ Full Stack Developer (Laravel&NodeJS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Laravel&NodeJS)", title_clean   = " (Laravel&NodeJS)", title_id  = "2124"  where id = '7437'
=>>>>>>>>>>>>>>>>>>>>>> 7898 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '7898'
=>>>>>>>>>>>>>>>>>>>>>> 8215 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '8215'
=>>>>>>>>>>>>>>>>>>>>>> 8233 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '8233'
=>>>>>>>>>>>>>>>>>>>>>> 8528 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '8528'
=>>>>>>>>>>>>>>>>>>>>>> 8602 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '8602'
=>>>>>>>>>>>>>>>>>>>>>> 8649 /lvl2/ Sr. Full Stack Developer (SYDNEY Team)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex- (SYDNEY Team)", title_clean   = "Sr.  (SYDNEY Team)", title_id  = "2124"  where id = '8649'
=>>>>>>>>>>>>>>>>>>>>>> 8659 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '8659'
=>>>>>>>>>>>>>>>>>>>>>> 8877 /lvl2/ Full Stack Developer ( Software Engineer )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Software Engineer )", title_clean   = " ( Software Engineer )", title_id  = "2124"  where id = '8877'
=>>>>>>>>>>>>>>>>>>>>>> 9068 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '9068'
=>>>>>>>>>>>>>>>>>>>>>> 9460 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '9460'
=>>>>>>>>>>>>>>>>>>>>>> 9729 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '9729'
=>>>>>>>>>>>>>>>>>>>>>> 10198 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '10198'
=>>>>>>>>>>>>>>>>>>>>>> 10412 /lvl2/ Full Stack Developer- IT Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-- IT Development", title_clean   = "- IT Development", title_id  = "2124"  where id = '10412'
=>>>>>>>>>>>>>>>>>>>>>> 10417 /lvl2/ FULL STACK DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FULL STACK DEVELOPER", title_clean   = "FULL STACK DEVELOPER", title_id  = "2124"  where id = '10417'
=>>>>>>>>>>>>>>>>>>>>>> 10573 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '10573'
=>>>>>>>>>>>>>>>>>>>>>> 11089 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '11089'
=>>>>>>>>>>>>>>>>>>>>>> 11516 /lvl2/ Full Stack Developer (Angular & Java)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Angular & Java)", title_clean   = " (Angular & Java)", title_id  = "2124"  where id = '11516'
=>>>>>>>>>>>>>>>>>>>>>> 11708 /lvl2/ Full Stack DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full Stack DEVELOPER", title_clean   = "Full Stack DEVELOPER", title_id  = "2124"  where id = '11708'
=>>>>>>>>>>>>>>>>>>>>>> 11747 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '11747'
=>>>>>>>>>>>>>>>>>>>>>> 11790 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '11790'
=>>>>>>>>>>>>>>>>>>>>>> 12292 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '12292'
=>>>>>>>>>>>>>>>>>>>>>> 13111 /lvl2/ PROGRAMMER (Full Stack DEVELOPER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROGRAMMER (Full Stack DEVELOPER)", title_clean   = "PROGRAMMER (Full Stack DEVELOPER)", title_id  = "2124"  where id = '13111'
=>>>>>>>>>>>>>>>>>>>>>> 13405 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '13405'
=>>>>>>>>>>>>>>>>>>>>>> 13601 /lvl2/ Full Stack Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2124"  where id = '13601'
=>>>>>>>>>>>>>>>>>>>>>> 15177 /lvl2/ Full Stack Developer E-Commerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- E-Commerce", title_clean   = " E-Commerce", title_id  = "2124"  where id = '15177'
=>>>>>>>>>>>>>>>>>>>>>> 15810 /lvl2/ Full Stack Developer E-Commerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- E-Commerce", title_clean   = " E-Commerce", title_id  = "2124"  where id = '15810'
=>>>>>>>>>>>>>>>>>>>>>> 16544 /lvl2/ Full Stack Developer (JavaScript \u002F Node JS \u002F React \u002F MongoDB)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JavaScript \u002F Node JS \u002F React \u002F MongoDB)", title_clean   = " (JavaScript \u002F Node JS \u002F React \u002F MongoDB)", title_id  = "2124"  where id = '16544'
=>>>>>>>>>>>>>>>>>>>>>> 18813 /lvl2/ Full Stack Developer [Archify]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- [Archify]", title_clean   = " [Archify]", title_id  = "2124"  where id = '18813'
333 /lvl1/ Aftersales Promotion

=>>>>>>>>>>>>>>>>>>>>>> 12451 /lvl2/ AFTERSALES PROMOTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AFTERSALES PROMOTION", title_clean   = "AFTERSALES PROMOTION", title_id  = "333"  where id = '12451'
1614 /lvl1/ Dw Engineering Hotel
=>>>>>>>>>>>>>>>>>>>>>> 1978 /lvl2/ DW Engineering Hotel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DW Engineering Hotel", title_clean   = "DW Engineering Hotel", title_id  = "1614"  where id = '1978'
3407 /lvl1/ Logistic Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 6393 /lvl2/ Logistic Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3407"  where id = '6393'
3920 /lvl1/ Mobile Ios Developer
=>>>>>>>>>>>>>>>>>>>>>> 14269 /lvl2/ Mobile iOS Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile iOS Developer", title_clean   = "Mobile iOS Developer", title_id  = "3920"  where id = '14269'
5712 /lvl1/ Service Part Planner
=>>>>>>>>>>>>>>>>>>>>>> 4608 /lvl2/ Service Part Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5712"  where id = '4608'
338 /lvl1/ Agricultural Advisor
=>>>>>>>>>>>>>>>>>>>>>> 322 /lvl2/ Agricultural Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "338"  where id = '322'
5714 /lvl1/ Settlement Associate
=>>>>>>>>>>>>>>>>>>>>>> 10086 /lvl2/ Settlement Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5714"  where id = '10086'
5970 /lvl1/ Staff Admin Produksi
=>>>>>>>>>>>>>>>>>>>>>> 3721 /lvl2/ STAFF ADMIN PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMIN PRODUKSI", title_clean   = "STAFF ADMIN PRODUKSI", title_id  = "5970"  where id = '3721'
=>>>>>>>>>>>>>>>>>>>>>> 4704 /lvl2/ STAFF ADMIN PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMIN PRODUKSI", title_clean   = "STAFF ADMIN PRODUKSI", title_id  = "5970"  where id = '4704'
=>>>>>>>>>>>>>>>>>>>>>> 7122 /lvl2/ Staff Admin Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5970"  where id = '7122'
=>>>>>>>>>>>>>>>>>>>>>> 8571 /lvl2/ Staff Admin Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5970"  where id = '8571'
5971 /lvl1/ Staff Admin Trucking
=>>>>>>>>>>>>>>>>>>>>>> 16494 /lvl2/ Staff Admin Trucking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5971"  where id = '16494'
340 /lvl1/ Agriculture Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13351 /lvl2/ Agriculture Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "340"  where id = '13351'
2132 /lvl1/ Full Stack Developer
3412 /lvl1/ Logistic Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 13453 /lvl2/ Last Mile Logistic Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Last Mile -idex-", title_clean   = "Last Mile ", title_id  = "3412"  where id = '13453'
4948 /lvl1/ Relationship Officer
=>>>>>>>>>>>>>>>>>>>>>> 856 /lvl2/ Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4948"  where id = '856'
=>>>>>>>>>>>>>>>>>>>>>> 1121 /lvl2/ Relationship Officer - Penempatan Tangerang (Serpong)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Tangerang (Serpong)", title_clean   = " - Penempatan Tangerang (Serpong)", title_id  = "4948"  where id = '1121'
=>>>>>>>>>>>>>>>>>>>>>> 1786 /lvl2/ Relationship Officer - Penempatan Tangerang (Serpong)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Tangerang (Serpong)", title_clean   = " - Penempatan Tangerang (Serpong)", title_id  = "4948"  where id = '1786'
=>>>>>>>>>>>>>>>>>>>>>> 2548 /lvl2/ Relationship Officer - Penempatan Sampit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Sampit", title_clean   = " - Penempatan Sampit", title_id  = "4948"  where id = '2548'
=>>>>>>>>>>>>>>>>>>>>>> 3506 /lvl2/ Relationship Officer - Penempatan Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Jakarta Timur", title_clean   = " - Penempatan Jakarta Timur", title_id  = "4948"  where id = '3506'
=>>>>>>>>>>>>>>>>>>>>>> 3649 /lvl2/ Relationship Officer - Penempatan Jakarta Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Jakarta Utara", title_clean   = " - Penempatan Jakarta Utara", title_id  = "4948"  where id = '3649'
=>>>>>>>>>>>>>>>>>>>>>> 4016 /lvl2/ Relationship Officer - Penempatan Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Pontianak", title_clean   = " - Penempatan Pontianak", title_id  = "4948"  where id = '4016'
=>>>>>>>>>>>>>>>>>>>>>> 4089 /lvl2/ Relationship Officer - Penempatan Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Banjarmasin", title_clean   = " - Penempatan Banjarmasin", title_id  = "4948"  where id = '4089'
=>>>>>>>>>>>>>>>>>>>>>> 4503 /lvl2/ Relationship Officer - Penempatan Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Jakarta Timur", title_clean   = " - Penempatan Jakarta Timur", title_id  = "4948"  where id = '4503'
=>>>>>>>>>>>>>>>>>>>>>> 4642 /lvl2/ Relationship Officer - Penempatan Jakarta Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Jakarta Utara", title_clean   = " - Penempatan Jakarta Utara", title_id  = "4948"  where id = '4642'
=>>>>>>>>>>>>>>>>>>>>>> 5039 /lvl2/ Relationship Officer - Penempatan Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Pontianak", title_clean   = " - Penempatan Pontianak", title_id  = "4948"  where id = '5039'
=>>>>>>>>>>>>>>>>>>>>>> 5094 /lvl2/ Relationship Officer - Penempatan Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Banjarmasin", title_clean   = " - Penempatan Banjarmasin", title_id  = "4948"  where id = '5094'
=>>>>>>>>>>>>>>>>>>>>>> 5438 /lvl2/ Relationship Officer BCA Finance - Penempatan Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Cirebon", title_clean   = " BCA Finance - Penempatan Cirebon", title_id  = "4948"  where id = '5438'
=>>>>>>>>>>>>>>>>>>>>>> 5593 /lvl2/ Relationship Officer - Penempatan Magelang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Magelang", title_clean   = " - Penempatan Magelang", title_id  = "4948"  where id = '5593'
=>>>>>>>>>>>>>>>>>>>>>> 6364 /lvl2/ Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4948"  where id = '6364'
=>>>>>>>>>>>>>>>>>>>>>> 6674 /lvl2/ Relationship Officer BCA Finance - Penempatan Gresik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Gresik", title_clean   = " BCA Finance - Penempatan Gresik", title_id  = "4948"  where id = '6674'
=>>>>>>>>>>>>>>>>>>>>>> 8837 /lvl2/ RELATIONSHIP OFFICER  (MARKETING ALAT BERAT) - SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RELATIONSHIP OFFICER  (MARKETING ALAT BERAT) - SURABAYA", title_clean   = "RELATIONSHIP OFFICER  (MARKETING ALAT BERAT) - SURABAYA", title_id  = "4948"  where id = '8837'
=>>>>>>>>>>>>>>>>>>>>>> 12107 /lvl2/ Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4948"  where id = '12107'
=>>>>>>>>>>>>>>>>>>>>>> 12315 /lvl2/ RELATIONSHIP OFFICER (MARKETING ALAT BERAT) - JAMBI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RELATIONSHIP OFFICER (MARKETING ALAT BERAT) - JAMBI", title_clean   = "RELATIONSHIP OFFICER (MARKETING ALAT BERAT) - JAMBI", title_id  = "4948"  where id = '12315'
=>>>>>>>>>>>>>>>>>>>>>> 12380 /lvl2/ Relationship Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4948"  where id = '12380'
=>>>>>>>>>>>>>>>>>>>>>> 12494 /lvl2/ Relationship Officer BCA Finance - Penempatan Tuban
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Tuban", title_clean   = " BCA Finance - Penempatan Tuban", title_id  = "4948"  where id = '12494'
=>>>>>>>>>>>>>>>>>>>>>> 12891 /lvl2/ Relationship Officer BCA Finance - Penempatan Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Surabaya", title_clean   = " BCA Finance - Penempatan Surabaya", title_id  = "4948"  where id = '12891'
=>>>>>>>>>>>>>>>>>>>>>> 12912 /lvl2/ Relationship Officer BCA Finance - Penempatan Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Surabaya", title_clean   = " BCA Finance - Penempatan Surabaya", title_id  = "4948"  where id = '12912'
=>>>>>>>>>>>>>>>>>>>>>> 13046 /lvl2/ Staff Relationship Officer dan Staff Kas
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex- dan Staff Kas", title_clean   = "Staff  dan Staff Kas", title_id  = "4948"  where id = '13046'
=>>>>>>>>>>>>>>>>>>>>>> 13530 /lvl2/ Relationship Officer Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jakarta", title_clean   = " Jakarta", title_id  = "4948"  where id = '13530'
=>>>>>>>>>>>>>>>>>>>>>> 13886 /lvl2/ Consumer Relationship Officer - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Consumer -idex- - Kalimantan", title_clean   = "Consumer  - Kalimantan", title_id  = "4948"  where id = '13886'
=>>>>>>>>>>>>>>>>>>>>>> 13911 /lvl2/ Consumer Relationship Officer - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Consumer -idex- - Kalimantan", title_clean   = "Consumer  - Kalimantan", title_id  = "4948"  where id = '13911'
=>>>>>>>>>>>>>>>>>>>>>> 15036 /lvl2/ Legal Relationship Officer (Permit)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Legal -idex- (Permit)", title_clean   = "Legal  (Permit)", title_id  = "4948"  where id = '15036'
=>>>>>>>>>>>>>>>>>>>>>> 15281 /lvl2/ Business Relationship Officer - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business -idex- - Kalimantan", title_clean   = "Business  - Kalimantan", title_id  = "4948"  where id = '15281'
=>>>>>>>>>>>>>>>>>>>>>> 16720 /lvl2/ Bancassurance Relationship Officer Area JAWA TIMUR&BALI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Bancassurance -idex- Area JAWA TIMUR&BALI", title_clean   = "Bancassurance  Area JAWA TIMUR&BALI", title_id  = "4948"  where id = '16720'
=>>>>>>>>>>>>>>>>>>>>>> 16762 /lvl2/ Relationship Officer BCA Finance - Penempatan Jember
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Jember", title_clean   = " BCA Finance - Penempatan Jember", title_id  = "4948"  where id = '16762'
=>>>>>>>>>>>>>>>>>>>>>> 18531 /lvl2/ Relationship Officer - Penempatan Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Solo", title_clean   = " - Penempatan Solo", title_id  = "4948"  where id = '18531'
=>>>>>>>>>>>>>>>>>>>>>> 18548 /lvl2/ Relationship Officer - Penempatan Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Solo", title_clean   = " - Penempatan Solo", title_id  = "4948"  where id = '18548'
=>>>>>>>>>>>>>>>>>>>>>> 18840 /lvl2/ LEGAL AND INDUSTRIAL RELATIONSHIP OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEGAL AND INDUSTRIAL RELATIONSHIP OFFICER", title_clean   = "LEGAL AND INDUSTRIAL RELATIONSHIP OFFICER", title_id  = "4948"  where id = '18840'
=>>>>>>>>>>>>>>>>>>>>>> 19789 /lvl2/ Relationship Officer BCA Finance - Penempatan Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- BCA Finance - Penempatan Bandung", title_clean   = " BCA Finance - Penempatan Bandung", title_id  = "4948"  where id = '19789'
2645 /lvl1/ Hydraulic Technician

=>>>>>>>>>>>>>>>>>>>>>> 16421 /lvl2/ Hydraulic Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2645"  where id = '16421'
3925 /lvl1/ Modern Trade Manager
=>>>>>>>>>>>>>>>>>>>>>> 5534 /lvl2/ Modern Trade Manager (DMTM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DMTM)", title_clean   = " (DMTM)", title_id  = "3925"  where id = '5534'
=>>>>>>>>>>>>>>>>>>>>>> 8632 /lvl2/ Modern Trade Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3925"  where id = '8632'
=>>>>>>>>>>>>>>>>>>>>>> 17661 /lvl2/ Area Modern Trade Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex-", title_clean   = "Area ", title_id  = "3925"  where id = '17661'
4437 /lvl1/ Product Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 1870 /lvl2/ Product Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4437"  where id = '1870'
1622 /lvl1/ Early Years Educator
=>>>>>>>>>>>>>>>>>>>>>> 6317 /lvl2/ Early Years Educator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1622"  where id = '6317'
5718 /lvl1/ Sharepoint Developer
=>>>>>>>>>>>>>>>>>>>>>> 9610 /lvl2/ SharePoint Developers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SharePoint Developers", title_clean   = "SharePoint Developers", title_id  = "5718"  where id = '9610'
599 /lvl1/ Back End Engineering
855 /lvl1/ Casualty Underwriter
=>>>>>>>>>>>>>>>>>>>>>> 10873 /lvl2/ Casualty Underwriter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "855"  where id = '10873'
1111 /lvl1/ Copywriter Freelance
=>>>>>>>>>>>>>>>>>>>>>> 19398 /lvl2/ Copywriter Freelance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1111"  where id = '19398'
3672 /lvl1/ Marketing Consultant
=>>>>>>>>>>>>>>>>>>>>>> 8677 /lvl2/ Marketing Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3672"  where id = '8677'
5208 /lvl1/ Sales Makanan Olahan
=>>>>>>>>>>>>>>>>>>>>>> 6480 /lvl2/ SALES MAKANAN OLAHAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MAKANAN OLAHAN", title_clean   = "SALES MAKANAN OLAHAN", title_id  = "5208"  where id = '6480'
5720 /lvl1/ Sharia Sales Advisor
=>>>>>>>>>>>>>>>>>>>>>> 10651 /lvl2/ SHARIA SALES ADVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SHARIA SALES ADVISOR", title_clean   = "SHARIA SALES ADVISOR", title_id  = "5720"  where id = '10651'
90 /lvl1/ Accounting Assistant
=>>>>>>>>>>>>>>>>>>>>>> 3323 /lvl2/ AKUNTAN (Accounting Assistant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AKUNTAN (-idex-)", title_clean   = "AKUNTAN ()", title_id  = "90"  where id = '3323'
=>>>>>>>>>>>>>>>>>>>>>> 4045 /lvl2/ Accounting Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "90"  where id = '4045'
=>>>>>>>>>>>>>>>>>>>>>> 19791 /lvl2/ ACCOUNTING ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING ASSISTANT", title_clean   = "ACCOUNTING ASSISTANT", title_id  = "90"  where id = '19791'
1114 /lvl1/ Corporate Accounting
=>>>>>>>>>>>>>>>>>>>>>> 16542 /lvl2/ Corporate Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1114"  where id = '16542'
1370 /lvl1/ Data Science Analyst
=>>>>>>>>>>>>>>>>>>>>>> 3093 /lvl2/ Data Science Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1370"  where id = '3093'
603 /lvl1/ Bahasa Indonesia Csr
=>>>>>>>>>>>>>>>>>>>>>> 7384 /lvl2/ BAHASA INDONESIA CSR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BAHASA INDONESIA CSR", title_clean   = "BAHASA INDONESIA CSR", title_id  = "603"  where id = '7384'
1371 /lvl1/ Data Science Manager
=>>>>>>>>>>>>>>>>>>>>>> 8391 /lvl2/ Data Science Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1371"  where id = '8391'
3163 /lvl1/ Kalibrasi Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11633 /lvl2/ Kalibrasi Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3163"  where id = '11633'
1372 /lvl1/ Data Science Officer
=>>>>>>>>>>>>>>>>>>>>>> 2904 /lvl2/ Data Science Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1372"  where id = '2904'
3420 /lvl1/ Logistics Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2510 /lvl2/ Logistics Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3420"  where id = '2510'
=>>>>>>>>>>>>>>>>>>>>>> 12018 /lvl2/ Procurement and Logistics Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Procurement and -idex-", title_clean   = "Procurement and ", title_id  = "3420"  where id = '12018'
=>>>>>>>>>>>>>>>>>>>>>> 17788 /lvl2/ Logistics Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3420"  where id = '17788'
1373 /lvl1/ Data Science Support
=>>>>>>>>>>>>>>>>>>>>>> 10624 /lvl2/ Data Science Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1373"  where id = '10624'
96 /lvl1/ Accounting Executive
=>>>>>>>>>>>>>>>>>>>>>> 8360 /lvl2/ Accounting Executive Mandarin Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mandarin Speaking", title_clean   = " Mandarin Speaking", title_id  = "96"  where id = '8360'
=>>>>>>>>>>>>>>>>>>>>>> 15248 /lvl2/ Finance and Accounting Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "96"  where id = '15248'
=>>>>>>>>>>>>>>>>>>>>>> 16738 /lvl2/ Accounting Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "96"  where id = '16738'
2913 /lvl1/ It Help Desk Support
=>>>>>>>>>>>>>>>>>>>>>> 18270 /lvl2/ IT HELP DESK SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT HELP DESK SUPPORT", title_clean   = "IT HELP DESK SUPPORT", title_id  = "2913"  where id = '18270'
866 /lvl1/ Central Kitchen Head
=>>>>>>>>>>>>>>>>>>>>>> 3400 /lvl2/ Central Kitchen Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "866"  where id = '3400'
2916 /lvl1/ It Helpdesk Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15777 /lvl2/ IT Helpdesk Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Helpdesk Engineer", title_clean   = "IT Helpdesk Engineer", title_id  = "2916"  where id = '15777'
4710 /lvl1/ Qa Automation Tester
=>>>>>>>>>>>>>>>>>>>>>> 19111 /lvl2/ QA Automation Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Automation Tester", title_clean   = "QA Automation Tester", title_id  = "4710"  where id = '19111'
5735 /lvl1/ Showroom Sales Staff
=>>>>>>>>>>>>>>>>>>>>>> 16186 /lvl2/ Showroom Sales Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5735"  where id = '16186'
104 /lvl1/ Accounting Inventory
=>>>>>>>>>>>>>>>>>>>>>> 8417 /lvl2/ Accounting Inventory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "104"  where id = '8417'
2152 /lvl1/ GA Operational Staff
=>>>>>>>>>>>>>>>>>>>>>> 17475 /lvl2/ GA Operational Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2152"  where id = '17475'
3432 /lvl1/ Magang Project Staff
=>>>>>>>>>>>>>>>>>>>>>> 466 /lvl2/ Magang Project Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3432"  where id = '466'
5480 /lvl1/ Senior Brand Manager
=>>>>>>>>>>>>>>>>>>>>>> 6623 /lvl2/ Senior Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5480"  where id = '6623'
=>>>>>>>>>>>>>>>>>>>>>> 12130 /lvl2/ Senior Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5480"  where id = '12130'
=>>>>>>>>>>>>>>>>>>>>>> 12157 /lvl2/ Senior Brand Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5480"  where id = '12157'
4969 /lvl1/ Research Development
=>>>>>>>>>>>>>>>>>>>>>> 12681 /lvl2/ RESEARCH DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH DEVELOPMENT", title_clean   = "RESEARCH DEVELOPMENT", title_id  = "4969"  where id = '12681'
=>>>>>>>>>>>>>>>>>>>>>> 12700 /lvl2/ RESEARCH DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESEARCH DEVELOPMENT", title_clean   = "RESEARCH DEVELOPMENT", title_id  = "4969"  where id = '12700'
1642 /lvl1/ Education Consultant

=>>>>>>>>>>>>>>>>>>>>>> 2468 /lvl2/ Education Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1642"  where id = '2468'
=>>>>>>>>>>>>>>>>>>>>>> 3895 /lvl2/ Education Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1642"  where id = '3895'
=>>>>>>>>>>>>>>>>>>>>>> 4607 /lvl2/ Overseas Study Education Consultant (Sales) - Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Overseas Study -idex- (Sales) - Surabaya", title_clean   = "Overseas Study  (Sales) - Surabaya", title_id  = "1642"  where id = '4607'
=>>>>>>>>>>>>>>>>>>>>>> 4682 /lvl2/ Education Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1642"  where id = '4682'
=>>>>>>>>>>>>>>>>>>>>>> 5366 /lvl2/ Field Education Consultant (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura", title_clean   = "Field  (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura", title_id  = "1642"  where id = '5366'
=>>>>>>>>>>>>>>>>>>>>>> 5857 /lvl2/ Sales Executive (Education Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Executive (-idex-)", title_clean   = "Sales Executive ()", title_id  = "1642"  where id = '5857'
=>>>>>>>>>>>>>>>>>>>>>> 6521 /lvl2/ Field Education Consultant (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura", title_clean   = "Field  (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura", title_id  = "1642"  where id = '6521'
=>>>>>>>>>>>>>>>>>>>>>> 7069 /lvl2/ Field Education Consultant (Field Sales) - Penempatan Sumatera, Riau
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Field Sales) - Penempatan Sumatera, Riau", title_clean   = "Field  (Field Sales) - Penempatan Sumatera, Riau", title_id  = "1642"  where id = '7069'
=>>>>>>>>>>>>>>>>>>>>>> 7998 /lvl2/ Field Education Consultant (Sales Division)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Sales Division)", title_clean   = "Field  (Sales Division)", title_id  = "1642"  where id = '7998'
=>>>>>>>>>>>>>>>>>>>>>> 8277 /lvl2/ Field Education Consultant (Sales Division)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Sales Division)", title_clean   = "Field  (Sales Division)", title_id  = "1642"  where id = '8277'
=>>>>>>>>>>>>>>>>>>>>>> 8796 /lvl2/ Field Education Consultant (Field Sales) - Penempatan Jawa Timur, Bali, Nusa Tenggara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Field Sales) - Penempatan Jawa Timur, Bali, Nusa Tenggara", title_clean   = "Field  (Field Sales) - Penempatan Jawa Timur, Bali, Nusa Tenggara", title_id  = "1642"  where id = '8796'
=>>>>>>>>>>>>>>>>>>>>>> 9019 /lvl2/ Field Education Consultant English Academy - Penempatan Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- English Academy - Penempatan Jakarta Timur", title_clean   = "Field  English Academy - Penempatan Jakarta Timur", title_id  = "1642"  where id = '9019'
=>>>>>>>>>>>>>>>>>>>>>> 9132 /lvl2/ Field Education Consultant (Field Sales) - Penempatan Jawa Tengah & Jawa Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Field Sales) - Penempatan Jawa Tengah & Jawa Barat", title_clean   = "Field  (Field Sales) - Penempatan Jawa Tengah & Jawa Barat", title_id  = "1642"  where id = '9132'
=>>>>>>>>>>>>>>>>>>>>>> 9244 /lvl2/ Field Education Consultant (Field Sales) - Penempatan Jabodetabek, Cikarang, Bandung Raya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Field Sales) - Penempatan Jabodetabek, Cikarang, Bandung Raya", title_clean   = "Field  (Field Sales) - Penempatan Jabodetabek, Cikarang, Bandung Raya", title_id  = "1642"  where id = '9244'
=>>>>>>>>>>>>>>>>>>>>>> 20112 /lvl2/ Master Teacher Education Consultant (Siswa)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Master Teacher -idex- (Siswa)", title_clean   = "Master Teacher  (Siswa)", title_id  = "1642"  where id = '20112'
5995 /lvl1/ Staff Audit Internal
=>>>>>>>>>>>>>>>>>>>>>> 5076 /lvl2/ Staff Audit Internal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5995"  where id = '5076'
4463 /lvl1/ Product Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 14100 /lvl2/ Product Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4463"  where id = '14100'
6512 /lvl1/ Tax Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 329 /lvl2/ TAX ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX ACCOUNTING STAFF", title_clean   = "TAX ACCOUNTING STAFF", title_id  = "6512"  where id = '329'
1393 /lvl1/ Denim Fashion Design
=>>>>>>>>>>>>>>>>>>>>>> 1284 /lvl2/ Denim Fashion Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1393"  where id = '1284'
3185 /lvl1/ Kepala Bagian Teknik
883 /lvl1/ Checker Stock Barang
=>>>>>>>>>>>>>>>>>>>>>> 18606 /lvl2/ Checker Stock Barang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "883"  where id = '18606'
3443 /lvl1/ Maintenance Engineer
=>>>>>>>>>>>>>>>>>>>>>> 400 /lvl2/ Well Integrity  /  Valve Maintenance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Well Integrity  /  Valve -idex-", title_clean   = "Well Integrity  /  Valve ", title_id  = "3443"  where id = '400'
=>>>>>>>>>>>>>>>>>>>>>> 815 /lvl2/ Well Integrity  /  Valve Maintenance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Well Integrity  /  Valve -idex-", title_clean   = "Well Integrity  /  Valve ", title_id  = "3443"  where id = '815'
=>>>>>>>>>>>>>>>>>>>>>> 951 /lvl2/ MAINTENANCE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MAINTENANCE ENGINEER", title_clean   = "MAINTENANCE ENGINEER", title_id  = "3443"  where id = '951'
=>>>>>>>>>>>>>>>>>>>>>> 966 /lvl2/ MAINTENANCE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MAINTENANCE ENGINEER", title_clean   = "MAINTENANCE ENGINEER", title_id  = "3443"  where id = '966'
=>>>>>>>>>>>>>>>>>>>>>> 2255 /lvl2/ Store operation and maintenance engineer (门店运维工程师) - English Speaker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Store operation and maintenance engineer (门店运维工程师) - English Speaker", title_clean   = "Store operation and maintenance engineer (门店运维工程师) - English Speaker", title_id  = "3443"  where id = '2255'
=>>>>>>>>>>>>>>>>>>>>>> 3658 /lvl2/ Maintenance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3443"  where id = '3658'
=>>>>>>>>>>>>>>>>>>>>>> 7118 /lvl2/ Maintenance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3443"  where id = '7118'
=>>>>>>>>>>>>>>>>>>>>>> 19178 /lvl2/ Maintenance Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3443"  where id = '19178'
3699 /lvl1/ Marketing For Mining
=>>>>>>>>>>>>>>>>>>>>>> 15057 /lvl2/ MARKETING FOR MINING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING FOR MINING", title_clean   = "MARKETING FOR MINING", title_id  = "3699"  where id = '15057'
372 /lvl1/ Annual Report Writer
=>>>>>>>>>>>>>>>>>>>>>> 7696 /lvl2/ ANNUAL REPORT WRITER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ANNUAL REPORT WRITER", title_clean   = "ANNUAL REPORT WRITER", title_id  = "372"  where id = '7696'
628 /lvl1/ Beauty Brand Manager
=>>>>>>>>>>>>>>>>>>>>>> 17347 /lvl2/ BEAUTY BRAND MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BEAUTY BRAND MANAGER", title_clean   = "BEAUTY BRAND MANAGER", title_id  = "628"  where id = '17347'
1910 /lvl1/ Finance / Accounting
6006 /lvl1/ Staff Content Writer
=>>>>>>>>>>>>>>>>>>>>>> 4804 /lvl2/ Staff Content Writer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6006"  where id = '4804'
1657 /lvl1/ Electrical Inspector
=>>>>>>>>>>>>>>>>>>>>>> 11086 /lvl2/ Electrical Inspector
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1657"  where id = '11086'
4729 /lvl1/ Qa Tester Automation

=>>>>>>>>>>>>>>>>>>>>>> 2180 /lvl2/ QA Tester Automation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Tester Automation", title_clean   = "QA Tester Automation", title_id  = "4729"  where id = '2180'
4731 /lvl1/ Qc / Qa Section Head
=>>>>>>>>>>>>>>>>>>>>>> 677 /lvl2/ QC / QA Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC / QA Section Head", title_clean   = "QC / QA Section Head", title_id  = "4731"  where id = '677'
=>>>>>>>>>>>>>>>>>>>>>> 725 /lvl2/ QC / QA Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC / QA Section Head", title_clean   = "QC / QA Section Head", title_id  = "4731"  where id = '725'
6012 /lvl1/ Staff Design Graphic
=>>>>>>>>>>>>>>>>>>>>>> 17482 /lvl2/ STAFF DESIGN GRAPHIC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF DESIGN GRAPHIC", title_clean   = "STAFF DESIGN GRAPHIC", title_id  = "6012"  where id = '17482'
1917 /lvl1/ Finance & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 250 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '250'
=>>>>>>>>>>>>>>>>>>>>>> 447 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '447'
=>>>>>>>>>>>>>>>>>>>>>> 8387 /lvl2/ Staff Head Office (SPV Human ResourcesGA, Admin, Finance & Accounting)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Head Office (SPV Human ResourcesGA, Admin, -idex-)", title_clean   = "Staff Head Office (SPV Human ResourcesGA, Admin, )", title_id  = "1917"  where id = '8387'
=>>>>>>>>>>>>>>>>>>>>>> 11707 /lvl2/ FINANCE & ACCOUNTING JOB SITE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING JOB SITE", title_clean   = "FINANCE & ACCOUNTING JOB SITE", title_id  = "1917"  where id = '11707'
=>>>>>>>>>>>>>>>>>>>>>> 12392 /lvl2/ Finance & Accounting (To be located at Temanggung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (To be located at Temanggung)", title_clean   = " (To be located at Temanggung)", title_id  = "1917"  where id = '12392'
=>>>>>>>>>>>>>>>>>>>>>> 13083 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '13083'
=>>>>>>>>>>>>>>>>>>>>>> 13100 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '13100'
=>>>>>>>>>>>>>>>>>>>>>> 14108 /lvl2/ SPV Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex-", title_clean   = "SPV ", title_id  = "1917"  where id = '14108'
=>>>>>>>>>>>>>>>>>>>>>> 14434 /lvl2/ Staff FA (Finance & Accounting)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff FA (-idex-)", title_clean   = "Staff FA ()", title_id  = "1917"  where id = '14434'
=>>>>>>>>>>>>>>>>>>>>>> 16309 /lvl2/ Finance & Accounting Sr. Manager \u002F General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sr. Manager \u002F General Manager", title_clean   = " Sr. Manager \u002F General Manager", title_id  = "1917"  where id = '16309'
=>>>>>>>>>>>>>>>>>>>>>> 16890 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '16890'
=>>>>>>>>>>>>>>>>>>>>>> 16905 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '16905'
=>>>>>>>>>>>>>>>>>>>>>> 17213 /lvl2/ CLERK - FINANCE & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CLERK - FINANCE & ACCOUNTING", title_clean   = "CLERK - FINANCE & ACCOUNTING", title_id  = "1917"  where id = '17213'
=>>>>>>>>>>>>>>>>>>>>>> 17840 /lvl2/ MANAGEMENT TRAINEE (MT) - FINANCE & ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE (MT) - FINANCE & ACCOUNTING", title_clean   = "MANAGEMENT TRAINEE (MT) - FINANCE & ACCOUNTING", title_id  = "1917"  where id = '17840'
=>>>>>>>>>>>>>>>>>>>>>> 19303 /lvl2/ FINANCE & ACCOUNTING SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SPV", title_clean   = "FINANCE & ACCOUNTING SPV", title_id  = "1917"  where id = '19303'
=>>>>>>>>>>>>>>>>>>>>>> 19552 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '19552'
=>>>>>>>>>>>>>>>>>>>>>> 20194 /lvl2/ SPV Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex-", title_clean   = "SPV ", title_id  = "1917"  where id = '20194'
=>>>>>>>>>>>>>>>>>>>>>> 20287 /lvl2/ Finance & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1917"  where id = '20287'
=>>>>>>>>>>>>>>>>>>>>>> 20430 /lvl2/ FINANCE & ACCOUNTING SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE & ACCOUNTING SPV", title_clean   = "FINANCE & ACCOUNTING SPV", title_id  = "1917"  where id = '20430'
5503 /lvl1/ Senior Data Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4511 /lvl2/ Senior Data Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5503"  where id = '4511'
6783 /lvl1/ Trainer Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 13376 /lvl2/ Trainer Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6783"  where id = '13376'
=>>>>>>>>>>>>>>>>>>>>>> 13583 /lvl2/ Trainer Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6783"  where id = '13583'
128 /lvl1/ Accounting Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 337 /lvl2/ Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "128"  where id = '337'
=>>>>>>>>>>>>>>>>>>>>>> 1357 /lvl2/ Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "128"  where id = '1357'
=>>>>>>>>>>>>>>>>>>>>>> 1368 /lvl2/ Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "128"  where id = '1368'
=>>>>>>>>>>>>>>>>>>>>>> 19094 /lvl2/ Accounting Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "128"  where id = '19094'
=>>>>>>>>>>>>>>>>>>>>>> 19718 /lvl2/ ACCOUNTING TAX STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING TAX STAFF", title_clean   = "ACCOUNTING TAX STAFF", title_id  = "128"  where id = '19718'
384 /lvl1/ Application Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2199 /lvl2/ APPLICATION ENGINEER (AE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APPLICATION ENGINEER (AE)", title_clean   = "APPLICATION ENGINEER (AE)", title_id  = "384"  where id = '2199'
=>>>>>>>>>>>>>>>>>>>>>> 7140 /lvl2/ Application Engineering (Programing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-ing (Programing)", title_clean   = "ing (Programing)", title_id  = "384"  where id = '7140'
=>>>>>>>>>>>>>>>>>>>>>> 8424 /lvl2/ Application Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "384"  where id = '8424'
=>>>>>>>>>>>>>>>>>>>>>> 14097 /lvl2/ Application Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "384"  where id = '14097'
=>>>>>>>>>>>>>>>>>>>>>> 17430 /lvl2/ APPLICATION ENGINEER - JAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APPLICATION ENGINEER - JAKARTA", title_clean   = "APPLICATION ENGINEER - JAKARTA", title_id  = "384"  where id = '17430'
3201 /lvl1/ Kepala Gudang Benang
=>>>>>>>>>>>>>>>>>>>>>> 3260 /lvl2/ Kepala Gudang Benang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3201"  where id = '3260'
6530 /lvl1/ Tax Officer Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 8447 /lvl2/ TAX OFFICER MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TAX OFFICER MANDARIN", title_clean   = "TAX OFFICER MANDARIN", title_id  = "6530"  where id = '8447'
5507 /lvl1/ Senior Desain Grafis
=>>>>>>>>>>>>>>>>>>>>>> 16339 /lvl2/ Senior Desain Grafis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5507"  where id = '16339'
3460 /lvl1/ Management Associate
=>>>>>>>>>>>>>>>>>>>>>> 17255 /lvl2/ Management Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3460"  where id = '17255'
6788 /lvl1/ Trainer Mill Officer
=>>>>>>>>>>>>>>>>>>>>>> 3747 /lvl2/ Trainer Mill Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6788"  where id = '3747'
2181 /lvl1/ General Affairs Lead

=>>>>>>>>>>>>>>>>>>>>>> 9165 /lvl2/ General Affairs Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2181"  where id = '9165'
3205 /lvl1/ Kepala Infrastruktur
=>>>>>>>>>>>>>>>>>>>>>> 11694 /lvl2/ Asisten Kepala Infrastruktur (RO Sumut)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Asisten -idex- (RO Sumut)", title_clean   = "Asisten  (RO Sumut)", title_id  = "3205"  where id = '11694'
=>>>>>>>>>>>>>>>>>>>>>> 14774 /lvl2/ Kepala Infrastruktur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3205"  where id = '14774'
6277 /lvl1/ Supervisor Ecommerce
=>>>>>>>>>>>>>>>>>>>>>> 13739 /lvl2/ Supervisor Ecommerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6277"  where id = '13739'
=>>>>>>>>>>>>>>>>>>>>>> 14001 /lvl2/ Supervisor Ecommerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6277"  where id = '14001'
1670 /lvl1/ Electronics Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4462 /lvl2/ Electronics Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1670"  where id = '4462'
4742 /lvl1/ Qc Inspector Dimensi
=>>>>>>>>>>>>>>>>>>>>>> 4517 /lvl2/ QC Inspector Dimensi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Inspector Dimensi", title_clean   = "QC Inspector Dimensi", title_id  = "4742"  where id = '4517'
5769 /lvl1/ Smt Project Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13028 /lvl2/ SMT Project Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SMT Project Engineer", title_clean   = "SMT Project Engineer", title_id  = "5769"  where id = '13028'
3978 /lvl1/ Nursery Section Head
=>>>>>>>>>>>>>>>>>>>>>> 1074 /lvl2/ Nursery Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3978"  where id = '1074'
5004 /lvl1/ Risk & Fraud Manager
5260 /lvl1/ Sales Officer Mobile
=>>>>>>>>>>>>>>>>>>>>>> 7511 /lvl2/ Sales Officer Mobile
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5260"  where id = '7511'
655 /lvl1/ Blockchain Developer
=>>>>>>>>>>>>>>>>>>>>>> 17030 /lvl2/ Blockchain Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "655"  where id = '17030'
2447 /lvl1/ Housekeeping Manager
=>>>>>>>>>>>>>>>>>>>>>> 1043 /lvl2/ Housekeeping Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2447"  where id = '1043'
2703 /lvl1/ Industrial Relations
=>>>>>>>>>>>>>>>>>>>>>> 8552 /lvl2/ Industrial Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2703"  where id = '8552'
=>>>>>>>>>>>>>>>>>>>>>> 10305 /lvl2/ Industrial Relations Officer (ISP - Gresik)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (ISP - Gresik)", title_clean   = " Officer (ISP - Gresik)", title_id  = "2703"  where id = '10305'
=>>>>>>>>>>>>>>>>>>>>>> 14056 /lvl2/ Industrial Relations Manager, Heavy Industry
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Manager, Heavy Industry", title_clean   = " Manager, Heavy Industry", title_id  = "2703"  where id = '14056'
4753 /lvl1/ Qc Staff & Qc Inline
=>>>>>>>>>>>>>>>>>>>>>> 12115 /lvl2/ QC Staff & QC inline
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Staff & QC inline", title_clean   = "QC Staff & QC inline", title_id  = "4753"  where id = '12115'
=>>>>>>>>>>>>>>>>>>>>>> 12143 /lvl2/ QC Staff & QC inline
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Staff & QC inline", title_clean   = "QC Staff & QC inline", title_id  = "4753"  where id = '12143'
3474 /lvl1/ Manager / Supervisor
3731 /lvl1/ Marketing Oprasional
=>>>>>>>>>>>>>>>>>>>>>> 9651 /lvl2/ Marketing Oprasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3731"  where id = '9651'
4500 /lvl1/ Production Scheduler
=>>>>>>>>>>>>>>>>>>>>>> 4393 /lvl2/ Production Scheduler
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4500"  where id = '4393'
2197 /lvl1/ General Ledger Staff
=>>>>>>>>>>>>>>>>>>>>>> 434 /lvl2/ Accounting General Ledger Staff (DKI Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting -idex- (DKI Jakarta)", title_clean   = "Accounting  (DKI Jakarta)", title_id  = "2197"  where id = '434'
=>>>>>>>>>>>>>>>>>>>>>> 16485 /lvl2/ General Ledger Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2197"  where id = '16485'
4757 /lvl1/ Qhse Department Head
=>>>>>>>>>>>>>>>>>>>>>> 5589 /lvl2/ QHSE Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QHSE Department Head", title_clean   = "QHSE Department Head", title_id  = "4757"  where id = '5589'
=>>>>>>>>>>>>>>>>>>>>>> 13565 /lvl2/ QHSE Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QHSE Department Head", title_clean   = "QHSE Department Head", title_id  = "4757"  where id = '13565'
=>>>>>>>>>>>>>>>>>>>>>> 13787 /lvl2/ QHSE Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QHSE Department Head", title_clean   = "QHSE Department Head", title_id  = "4757"  where id = '13787'
6805 /lvl1/ Training Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 6219 /lvl2/ Training Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6805"  where id = '6219'
918 /lvl1/ Chief of Engineering
=>>>>>>>>>>>>>>>>>>>>>> 20554 /lvl2/ Chief of Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "918"  where id = '20554'
5783 /lvl1/ Social Media Manager
=>>>>>>>>>>>>>>>>>>>>>> 10766 /lvl2/ SOCIAL MEDIA MANAGER - Studio Kuskus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA MANAGER - Studio Kuskus", title_clean   = "SOCIAL MEDIA MANAGER - Studio Kuskus", title_id  = "5783"  where id = '10766'
=>>>>>>>>>>>>>>>>>>>>>> 13729 /lvl2/ Social Media Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5783"  where id = '13729'
=>>>>>>>>>>>>>>>>>>>>>> 17104 /lvl2/ Graphic Designer and Social Media Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Graphic Designer and -idex-", title_clean   = "Graphic Designer and ", title_id  = "5783"  where id = '17104'
=>>>>>>>>>>>>>>>>>>>>>> 18735 /lvl2/ Social Media Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5783"  where id = '18735'
3992 /lvl1/ Office Administrator
=>>>>>>>>>>>>>>>>>>>>>> 9800 /lvl2/ Office Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3992"  where id = '9800'
6809 /lvl1/ Training Facilitator
=>>>>>>>>>>>>>>>>>>>>>> 12010 /lvl2/ Training Facilitator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6809"  where id = '12010'
1434 /lvl1/ Designer Illustrator
=>>>>>>>>>>>>>>>>>>>>>> 12774 /lvl2/ Designer Illustrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1434"  where id = '12774'
=>>>>>>>>>>>>>>>>>>>>>> 12790 /lvl2/ Designer Illustrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1434"  where id = '12790'
5787 /lvl1/ Social Media Officer
=>>>>>>>>>>>>>>>>>>>>>> 587 /lvl2/ Social Media Officer (Area Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Yogyakarta)", title_clean   = " (Area Yogyakarta)", title_id  = "5787"  where id = '587'
=>>>>>>>>>>>>>>>>>>>>>> 8956 /lvl2/ Social Media Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5787"  where id = '8956'
=>>>>>>>>>>>>>>>>>>>>>> 9390 /lvl2/ Digital Marketing  /  Social Media Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital Marketing  /  -idex-", title_clean   = "Digital Marketing  /  ", title_id  = "5787"  where id = '9390'
=>>>>>>>>>>>>>>>>>>>>>> 11718 /lvl2/ Social Media Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5787"  where id = '11718'
=>>>>>>>>>>>>>>>>>>>>>> 14228 /lvl2/ Social Media Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5787"  where id = '14228'
=>>>>>>>>>>>>>>>>>>>>>> 18083 /lvl2/ Social Media Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5787"  where id = '18083'
=>>>>>>>>>>>>>>>>>>>>>> 18097 /lvl2/ Social Media Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5787"  where id = '18097'
6044 /lvl1/ Staff General Affair

=>>>>>>>>>>>>>>>>>>>>>> 11649 /lvl2/ Staff General Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6044"  where id = '11649'
1695 /lvl1/ Engineer Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 514 /lvl2/ ENGINEER MAINTENANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEER MAINTENANCE", title_clean   = "ENGINEER MAINTENANCE", title_id  = "1695"  where id = '514'
2977 /lvl1/ It Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 3237 /lvl2/ IT Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance", title_clean   = "IT Quality Assurance", title_id  = "2977"  where id = '3237'
=>>>>>>>>>>>>>>>>>>>>>> 6609 /lvl2/ IT Quality Assurance (Software Tester)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance (Software Tester)", title_clean   = "IT Quality Assurance (Software Tester)", title_id  = "2977"  where id = '6609'
=>>>>>>>>>>>>>>>>>>>>>> 8884 /lvl2/ IT Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance", title_clean   = "IT Quality Assurance", title_id  = "2977"  where id = '8884'
=>>>>>>>>>>>>>>>>>>>>>> 12498 /lvl2/ Mid IT Quality Assurance (Software Tester)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mid IT Quality Assurance (Software Tester)", title_clean   = "Mid IT Quality Assurance (Software Tester)", title_id  = "2977"  where id = '12498'
=>>>>>>>>>>>>>>>>>>>>>> 18123 /lvl2/ IT Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance", title_clean   = "IT Quality Assurance", title_id  = "2977"  where id = '18123'
=>>>>>>>>>>>>>>>>>>>>>> 18140 /lvl2/ IT Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Quality Assurance", title_clean   = "IT Quality Assurance", title_id  = "2977"  where id = '18140'
3491 /lvl1/ Manager Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 19267 /lvl2/ Manager Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3491"  where id = '19267'
1189 /lvl1/ Counter Sales Person
=>>>>>>>>>>>>>>>>>>>>>> 1055 /lvl2/ Counter Sales Person
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1189"  where id = '1055'
4518 /lvl1/ Programmer Checklist
=>>>>>>>>>>>>>>>>>>>>>> 5080 /lvl2/ Programmer Checklist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4518"  where id = '5080'
5030 /lvl1/ Safety Officer / Hse
=>>>>>>>>>>>>>>>>>>>>>> 3427 /lvl2/ SAFETY OFFICER / HSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAFETY OFFICER / HSE", title_clean   = "SAFETY OFFICER / HSE", title_id  = "5030"  where id = '3427'
5543 /lvl1/ Senior Ios Developer
=>>>>>>>>>>>>>>>>>>>>>> 11226 /lvl2/ Senior IOS Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior IOS Developer", title_clean   = "Senior IOS Developer", title_id  = "5543"  where id = '11226'
=>>>>>>>>>>>>>>>>>>>>>> 12059 /lvl2/ Senior IOS Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior IOS Developer", title_clean   = "Senior IOS Developer", title_id  = "5543"  where id = '12059'
=>>>>>>>>>>>>>>>>>>>>>> 12074 /lvl2/ Senior IOS Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior IOS Developer", title_clean   = "Senior IOS Developer", title_id  = "5543"  where id = '12074'
1448 /lvl1/ Developer .Net & Php
=>>>>>>>>>>>>>>>>>>>>>> 6280 /lvl2/ Developer .NET & PHP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Developer .NET & PHP", title_clean   = "Developer .NET & PHP", title_id  = "1448"  where id = '6280'
3240 /lvl1/ Kindergarten Teacher
=>>>>>>>>>>>>>>>>>>>>>> 5030 /lvl2/ Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3240"  where id = '5030'
=>>>>>>>>>>>>>>>>>>>>>> 5128 /lvl2/ Kindergarten Teacher  /  Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Assistant", title_clean   = "  /  Assistant", title_id  = "3240"  where id = '5128'
=>>>>>>>>>>>>>>>>>>>>>> 5175 /lvl2/ Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3240"  where id = '5175'
=>>>>>>>>>>>>>>>>>>>>>> 9730 /lvl2/ Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3240"  where id = '9730'
=>>>>>>>>>>>>>>>>>>>>>> 10394 /lvl2/ KINDERGARTEN TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KINDERGARTEN TEACHER", title_clean   = "KINDERGARTEN TEACHER", title_id  = "3240"  where id = '10394'
=>>>>>>>>>>>>>>>>>>>>>> 11325 /lvl2/ Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3240"  where id = '11325'
=>>>>>>>>>>>>>>>>>>>>>> 13940 /lvl2/ Preschool\u002F Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Preschool\u002F -idex-", title_clean   = "Preschool\u002F ", title_id  = "3240"  where id = '13940'
=>>>>>>>>>>>>>>>>>>>>>> 13954 /lvl2/ Preschool\u002F Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Preschool\u002F -idex-", title_clean   = "Preschool\u002F ", title_id  = "3240"  where id = '13954'
=>>>>>>>>>>>>>>>>>>>>>> 15893 /lvl2/ PRESCHOOL \u002F KINDERGARTEN TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL \u002F KINDERGARTEN TEACHER", title_clean   = "PRESCHOOL \u002F KINDERGARTEN TEACHER", title_id  = "3240"  where id = '15893'
=>>>>>>>>>>>>>>>>>>>>>> 19404 /lvl2/ Kindergarten Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3240"  where id = '19404'
3753 /lvl1/ Marketing Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2692 /lvl2/ Marketing Specialist ( Merchandiser )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Merchandiser )", title_clean   = " ( Merchandiser )", title_id  = "3753"  where id = '2692'
=>>>>>>>>>>>>>>>>>>>>>> 4728 /lvl2/ Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3753"  where id = '4728'
=>>>>>>>>>>>>>>>>>>>>>> 5672 /lvl2/ Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3753"  where id = '5672'
=>>>>>>>>>>>>>>>>>>>>>> 8881 /lvl2/ Marketing Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3753"  where id = '8881'
=>>>>>>>>>>>>>>>>>>>>>> 16121 /lvl2/ Marketing Specialist (Temporary job for 2~6 months)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Temporary job for 2~6 months)", title_clean   = " (Temporary job for 2~6 months)", title_id  = "3753"  where id = '16121'
938 /lvl1/ Claim Marine Officer
=>>>>>>>>>>>>>>>>>>>>>> 11324 /lvl2/ Claim Marine Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "938"  where id = '11324'
5290 /lvl1/ Sales Representative
=>>>>>>>>>>>>>>>>>>>>>> 1038 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '1038'
=>>>>>>>>>>>>>>>>>>>>>> 1137 /lvl2/ Sales Representative [Tangerang]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- [Tangerang]", title_clean   = " [Tangerang]", title_id  = "5290"  where id = '1137'
=>>>>>>>>>>>>>>>>>>>>>> 1651 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '1651'
=>>>>>>>>>>>>>>>>>>>>>> 1699 /lvl2/ Sales Representative (Pondok Ungu)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pondok Ungu)", title_clean   = " (Pondok Ungu)", title_id  = "5290"  where id = '1699'
=>>>>>>>>>>>>>>>>>>>>>> 2042 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '2042'
=>>>>>>>>>>>>>>>>>>>>>> 2271 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '2271'
=>>>>>>>>>>>>>>>>>>>>>> 3362 /lvl2/ Retail Sales Representative (Ketapang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- (Ketapang)", title_clean   = "Retail  (Ketapang)", title_id  = "5290"  where id = '3362'
=>>>>>>>>>>>>>>>>>>>>>> 3796 /lvl2/ Distributor Sales Representative Industrial Lubricant (DSR IL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Distributor -idex- Industrial Lubricant (DSR IL)", title_clean   = "Distributor  Industrial Lubricant (DSR IL)", title_id  = "5290"  where id = '3796'
=>>>>>>>>>>>>>>>>>>>>>> 3992 /lvl2/ Sales Representative [Semarang]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- [Semarang]", title_clean   = " [Semarang]", title_id  = "5290"  where id = '3992'
=>>>>>>>>>>>>>>>>>>>>>> 4525 /lvl2/ Professional Sales Representative (Kalimantan Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- (Kalimantan Based)", title_clean   = "Professional  (Kalimantan Based)", title_id  = "5290"  where id = '4525'
=>>>>>>>>>>>>>>>>>>>>>> 4694 /lvl2/ SALES REPRESENTATIVE - BANGKA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE - BANGKA", title_clean   = "SALES REPRESENTATIVE - BANGKA", title_id  = "5290"  where id = '4694'
=>>>>>>>>>>>>>>>>>>>>>> 4717 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '4717'
=>>>>>>>>>>>>>>>>>>>>>> 5255 /lvl2/ Sales Representative - Interior & Bahan Bangunan (Sukabumi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Interior & Bahan Bangunan (Sukabumi)", title_clean   = " - Interior & Bahan Bangunan (Sukabumi)", title_id  = "5290"  where id = '5255'
=>>>>>>>>>>>>>>>>>>>>>> 5388 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '5388'
=>>>>>>>>>>>>>>>>>>>>>> 5491 /lvl2/ Account Manager (Sales Representative) - Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Manager (-idex-) - Bali", title_clean   = "Account Manager () - Bali", title_id  = "5290"  where id = '5491'
=>>>>>>>>>>>>>>>>>>>>>> 6275 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '6275'
=>>>>>>>>>>>>>>>>>>>>>> 6370 /lvl2/ Sales Representative - Interior & Bahan Bangunan (Sukabumi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Interior & Bahan Bangunan (Sukabumi)", title_clean   = " - Interior & Bahan Bangunan (Sukabumi)", title_id  = "5290"  where id = '6370'
=>>>>>>>>>>>>>>>>>>>>>> 6803 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '6803'
=>>>>>>>>>>>>>>>>>>>>>> 7434 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '7434'
=>>>>>>>>>>>>>>>>>>>>>> 7531 /lvl2/ Pharma Sales Representative (Denpasar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Pharma -idex- (Denpasar)", title_clean   = "Pharma  (Denpasar)", title_id  = "5290"  where id = '7531'
=>>>>>>>>>>>>>>>>>>>>>> 7541 /lvl2/ SALES REPRESENTATIVE (SR - JS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE (SR - JS)", title_clean   = "SALES REPRESENTATIVE (SR - JS)", title_id  = "5290"  where id = '7541'
=>>>>>>>>>>>>>>>>>>>>>> 8535 /lvl2/ Sales Representative - Palopo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palopo", title_clean   = " - Palopo", title_id  = "5290"  where id = '8535'
=>>>>>>>>>>>>>>>>>>>>>> 8578 /lvl2/ Sales Representative (Batam)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Batam)", title_clean   = " (Batam)", title_id  = "5290"  where id = '8578'
=>>>>>>>>>>>>>>>>>>>>>> 9021 /lvl2/ SALES REPRESENTATIVE (SR - JS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE (SR - JS)", title_clean   = "SALES REPRESENTATIVE (SR - JS)", title_id  = "5290"  where id = '9021'
=>>>>>>>>>>>>>>>>>>>>>> 9266 /lvl2/ Project Area Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Project Area -idex-", title_clean   = "Project Area ", title_id  = "5290"  where id = '9266'
=>>>>>>>>>>>>>>>>>>>>>> 9352 /lvl2/ Sales Representative (Area  Manado & Ambon)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area  Manado & Ambon)", title_clean   = " (Area  Manado & Ambon)", title_id  = "5290"  where id = '9352'
=>>>>>>>>>>>>>>>>>>>>>> 9887 /lvl2/ Area Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex-", title_clean   = "Area ", title_id  = "5290"  where id = '9887'
=>>>>>>>>>>>>>>>>>>>>>> 10519 /lvl2/ Sales Representative (Probolinggo, Tulungagung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Probolinggo, Tulungagung)", title_clean   = " (Probolinggo, Tulungagung)", title_id  = "5290"  where id = '10519'
=>>>>>>>>>>>>>>>>>>>>>> 10546 /lvl2/ Sales Representative (Sukabumi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sukabumi)", title_clean   = " (Sukabumi)", title_id  = "5290"  where id = '10546'
=>>>>>>>>>>>>>>>>>>>>>> 10693 /lvl2/ SALES REPRESENTATIVE (HONDA TEBET)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE (HONDA TEBET)", title_clean   = "SALES REPRESENTATIVE (HONDA TEBET)", title_id  = "5290"  where id = '10693'
=>>>>>>>>>>>>>>>>>>>>>> 10699 /lvl2/ SALES REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE", title_clean   = "SALES REPRESENTATIVE", title_id  = "5290"  where id = '10699'
=>>>>>>>>>>>>>>>>>>>>>> 10716 /lvl2/ SALES REPRESENTATIVE (HONDA TEBET)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE (HONDA TEBET)", title_clean   = "SALES REPRESENTATIVE (HONDA TEBET)", title_id  = "5290"  where id = '10716'
=>>>>>>>>>>>>>>>>>>>>>> 10727 /lvl2/ SALES REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE", title_clean   = "SALES REPRESENTATIVE", title_id  = "5290"  where id = '10727'
=>>>>>>>>>>>>>>>>>>>>>> 10928 /lvl2/ SALES REPRESENTATIVE (HONDA MEGAH CINERE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE (HONDA MEGAH CINERE)", title_clean   = "SALES REPRESENTATIVE (HONDA MEGAH CINERE)", title_id  = "5290"  where id = '10928'
=>>>>>>>>>>>>>>>>>>>>>> 11289 /lvl2/ Account Manager (Sales Representative) - MAKASSAR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Manager (-idex-) - MAKASSAR", title_clean   = "Account Manager () - MAKASSAR", title_id  = "5290"  where id = '11289'
=>>>>>>>>>>>>>>>>>>>>>> 11699 /lvl2/ Sales Representative - Interior & Bahan Bangunan (Palangkaraya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Interior & Bahan Bangunan (Palangkaraya)", title_clean   = " - Interior & Bahan Bangunan (Palangkaraya)", title_id  = "5290"  where id = '11699'
=>>>>>>>>>>>>>>>>>>>>>> 12917 /lvl2/ Technical Sales Representative (Additive Division)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical -idex- (Additive Division)", title_clean   = "Technical  (Additive Division)", title_id  = "5290"  where id = '12917'
=>>>>>>>>>>>>>>>>>>>>>> 12936 /lvl2/ Technical Sales Representative (Additive Division)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical -idex- (Additive Division)", title_clean   = "Technical  (Additive Division)", title_id  = "5290"  where id = '12936'
=>>>>>>>>>>>>>>>>>>>>>> 13751 /lvl2/ SALES REPRESENTATIVE - PEKANBARU
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE - PEKANBARU", title_clean   = "SALES REPRESENTATIVE - PEKANBARU", title_id  = "5290"  where id = '13751'
=>>>>>>>>>>>>>>>>>>>>>> 14607 /lvl2/ Sales Representative (Area Indonesia Barat)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Indonesia Barat)", title_clean   = " (Area Indonesia Barat)", title_id  = "5290"  where id = '14607'
=>>>>>>>>>>>>>>>>>>>>>> 14641 /lvl2/ Account Manager (Sales Representative) - PALEMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Manager (-idex-) - PALEMBANG", title_clean   = "Account Manager () - PALEMBANG", title_id  = "5290"  where id = '14641'
=>>>>>>>>>>>>>>>>>>>>>> 14850 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '14850'
=>>>>>>>>>>>>>>>>>>>>>> 14886 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '14886'
=>>>>>>>>>>>>>>>>>>>>>> 15006 /lvl2/ Sales Representative (Area Indonesia Barat)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Indonesia Barat)", title_clean   = " (Area Indonesia Barat)", title_id  = "5290"  where id = '15006'
=>>>>>>>>>>>>>>>>>>>>>> 15087 /lvl2/ SALES REPRESENTATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIVE", title_clean   = "SALES REPRESENTATIVE", title_id  = "5290"  where id = '15087'
=>>>>>>>>>>>>>>>>>>>>>> 15316 /lvl2/ Sales Representative (Jakarta Utara - Bekasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta Utara - Bekasi)", title_clean   = " (Jakarta Utara - Bekasi)", title_id  = "5290"  where id = '15316'
=>>>>>>>>>>>>>>>>>>>>>> 15365 /lvl2/ Sales Representative (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "5290"  where id = '15365'
=>>>>>>>>>>>>>>>>>>>>>> 15383 /lvl2/ Account Manager (Sales Representative) - PALEMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Manager (-idex-) - PALEMBANG", title_clean   = "Account Manager () - PALEMBANG", title_id  = "5290"  where id = '15383'
=>>>>>>>>>>>>>>>>>>>>>> 15431 /lvl2/ Account Officer (Sales Representative)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Account Officer (-idex-)", title_clean   = "Account Officer ()", title_id  = "5290"  where id = '15431'
=>>>>>>>>>>>>>>>>>>>>>> 15553 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '15553'
=>>>>>>>>>>>>>>>>>>>>>> 16298 /lvl2/ Sales Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5290"  where id = '16298'
=>>>>>>>>>>>>>>>>>>>>>> 17163 /lvl2/ Sales Representative (SaaS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SaaS)", title_clean   = " (SaaS)", title_id  = "5290"  where id = '17163'
=>>>>>>>>>>>>>>>>>>>>>> 18339 /lvl2/ Sales Representative (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "5290"  where id = '18339'
=>>>>>>>>>>>>>>>>>>>>>> 18361 /lvl2/ Sales Representative (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "5290"  where id = '18361'
=>>>>>>>>>>>>>>>>>>>>>> 18446 /lvl2/ Sales Representative (Jakarta Selatan - Jakarta Timur - Depok - Bogor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta Selatan - Jakarta Timur - Depok - Bogor)", title_clean   = " (Jakarta Selatan - Jakarta Timur - Depok - Bogor)", title_id  = "5290"  where id = '18446'
=>>>>>>>>>>>>>>>>>>>>>> 20284 /lvl2/ Sales Representative (West Java area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (West Java area)", title_clean   = " (West Java area)", title_id  = "5290"  where id = '20284'
5802 /lvl1/ Software Development

=>>>>>>>>>>>>>>>>>>>>>> 10292 /lvl2/ Software Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5802"  where id = '10292'
6315 /lvl1/ Supervisor Landscape
=>>>>>>>>>>>>>>>>>>>>>> 11392 /lvl2/ Supervisor Landscape
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6315"  where id = '11392'
3756 /lvl1/ Marketing Strategist
=>>>>>>>>>>>>>>>>>>>>>> 6222 /lvl2/ Marketing Strategist  / Koordinator  Klinik Kecantikan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  / Koordinator  Klinik Kecantikan", title_clean   = "  / Koordinator  Klinik Kecantikan", title_id  = "3756"  where id = '6222'
=>>>>>>>>>>>>>>>>>>>>>> 10272 /lvl2/ Head of Marketing Strategist (Digital and Customer Relation management)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Head of -idex- (Digital and Customer Relation management)", title_clean   = "Head of  (Digital and Customer Relation management)", title_id  = "3756"  where id = '10272'
2989 /lvl1/ It Security Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15782 /lvl2/ IT Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Engineer", title_clean   = "IT Security Engineer", title_id  = "2989"  where id = '15782'
5549 /lvl1/ Senior IT Programmer
=>>>>>>>>>>>>>>>>>>>>>> 4937 /lvl2/ Senior IT Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5549"  where id = '4937'
3758 /lvl1/ Marketing Sub Leader
=>>>>>>>>>>>>>>>>>>>>>> 18178 /lvl2/ Marketing Sub Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3758"  where id = '18178'
3759 /lvl1/ Marketing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1294 /lvl2/ MARKETING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPERVISOR", title_clean   = "MARKETING SUPERVISOR", title_id  = "3759"  where id = '1294'
=>>>>>>>>>>>>>>>>>>>>>> 1313 /lvl2/ MARKETING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPERVISOR", title_clean   = "MARKETING SUPERVISOR", title_id  = "3759"  where id = '1313'
=>>>>>>>>>>>>>>>>>>>>>> 2160 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '2160'
=>>>>>>>>>>>>>>>>>>>>>> 2842 /lvl2/ Marketing Supervisor  /  Senior Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Senior Executive", title_clean   = "  /  Senior Executive", title_id  = "3759"  where id = '2842'
=>>>>>>>>>>>>>>>>>>>>>> 7392 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '7392'
=>>>>>>>>>>>>>>>>>>>>>> 8821 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '8821'
=>>>>>>>>>>>>>>>>>>>>>> 9184 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '9184'
=>>>>>>>>>>>>>>>>>>>>>> 9583 /lvl2/ Marketing Supervisor Elektronik (BRO) - Pare-Pare
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik (BRO) - Pare-Pare", title_clean   = " Elektronik (BRO) - Pare-Pare", title_id  = "3759"  where id = '9583'
=>>>>>>>>>>>>>>>>>>>>>> 10110 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '10110'
=>>>>>>>>>>>>>>>>>>>>>> 10586 /lvl2/ MARKETING SUPERVISOR HEALTH CARE INSTRUMENT MEDAN (MKT SPV HCI-MDN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPERVISOR HEALTH CARE INSTRUMENT MEDAN (MKT SPV HCI-MDN)", title_clean   = "MARKETING SUPERVISOR HEALTH CARE INSTRUMENT MEDAN (MKT SPV HCI-MDN)", title_id  = "3759"  where id = '10586'
=>>>>>>>>>>>>>>>>>>>>>> 12602 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '12602'
=>>>>>>>>>>>>>>>>>>>>>> 14710 /lvl2/ Marketing Supervisor - Sumatera Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sumatera Selatan", title_clean   = " - Sumatera Selatan", title_id  = "3759"  where id = '14710'
=>>>>>>>>>>>>>>>>>>>>>> 15113 /lvl2/ Marketing Supervisor - Sumatera Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sumatera Selatan", title_clean   = " - Sumatera Selatan", title_id  = "3759"  where id = '15113'
=>>>>>>>>>>>>>>>>>>>>>> 15186 /lvl2/ Trade Marketing Supervisor - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trade -idex- - Kalimantan", title_clean   = "Trade  - Kalimantan", title_id  = "3759"  where id = '15186'
=>>>>>>>>>>>>>>>>>>>>>> 15915 /lvl2/ Corporate Marketing Supervisor (General Insurance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Corporate -idex- (General Insurance)", title_clean   = "Corporate  (General Insurance)", title_id  = "3759"  where id = '15915'
=>>>>>>>>>>>>>>>>>>>>>> 15927 /lvl2/ Corporate Marketing Supervisor (General Insurance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Corporate -idex- (General Insurance)", title_clean   = "Corporate  (General Insurance)", title_id  = "3759"  where id = '15927'
=>>>>>>>>>>>>>>>>>>>>>> 16159 /lvl2/ MARKETING SUPERVISOR PERUMAHAN ( DEVELOPER )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPERVISOR PERUMAHAN ( DEVELOPER )", title_clean   = "MARKETING SUPERVISOR PERUMAHAN ( DEVELOPER )", title_id  = "3759"  where id = '16159'
=>>>>>>>>>>>>>>>>>>>>>> 18002 /lvl2/ Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3759"  where id = '18002'
=>>>>>>>>>>>>>>>>>>>>>> 20369 /lvl2/ Sales and Marketing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3759"  where id = '20369'
3760 /lvl1/ Marketing Supervisor
6064 /lvl1/ Staff Internal Audit
5297 /lvl1/ Sales Retail Manager
=>>>>>>>>>>>>>>>>>>>>>> 13944 /lvl2/ Sales Retail Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5297"  where id = '13944'
6577 /lvl1/ Technical Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6134 /lvl2/ Full Stack Technical Consultant PHP Bootcamp (Yogyakarta Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full Stack -idex- PHP Bootcamp (Yogyakarta Area)", title_clean   = "Full Stack  PHP Bootcamp (Yogyakarta Area)", title_id  = "6577"  where id = '6134'
=>>>>>>>>>>>>>>>>>>>>>> 6612 /lvl2/ Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6577"  where id = '6612'
=>>>>>>>>>>>>>>>>>>>>>> 7052 /lvl2/ Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6577"  where id = '7052'
=>>>>>>>>>>>>>>>>>>>>>> 7574 /lvl2/ Technical Consultant (Specifier)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Specifier)", title_clean   = " (Specifier)", title_id  = "6577"  where id = '7574'
=>>>>>>>>>>>>>>>>>>>>>> 7853 /lvl2/ Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6577"  where id = '7853'
=>>>>>>>>>>>>>>>>>>>>>> 8164 /lvl2/ Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6577"  where id = '8164'
=>>>>>>>>>>>>>>>>>>>>>> 9308 /lvl2/ IT Presales (Presales Technical Consultant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Presales (Presales -idex-)", title_clean   = "IT Presales (Presales )", title_id  = "6577"  where id = '9308'
=>>>>>>>>>>>>>>>>>>>>>> 9334 /lvl2/ Programmer u002F Technical Consultant SAP Business One ( SAP B1 )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Programmer u002F -idex- SAP Business One ( SAP B1 )", title_clean   = "Programmer u002F  SAP Business One ( SAP B1 )", title_id  = "6577"  where id = '9334'
=>>>>>>>>>>>>>>>>>>>>>> 10812 /lvl2/ Technical Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6577"  where id = '10812'
=>>>>>>>>>>>>>>>>>>>>>> 20000 /lvl2/ Technical Consultant (IT Infrastructure)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT Infrastructure)", title_clean   = " (IT Infrastructure)", title_id  = "6577"  where id = '20000'
2738 /lvl1/ Integration Engineer
=>>>>>>>>>>>>>>>>>>>>>> 9760 /lvl2/ Integration Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2738"  where id = '9760'
4018 /lvl1/ Online Sales Officer

=>>>>>>>>>>>>>>>>>>>>>> 16111 /lvl2/ Online Sales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4018"  where id = '16111'
=>>>>>>>>>>>>>>>>>>>>>> 16124 /lvl2/ Online Sales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4018"  where id = '16124'
4274 /lvl1/ Photografer / Editor
5813 /lvl1/ Software Qa Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2827 /lvl2/ Software QA Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Software QA Engineer", title_clean   = "Software QA Engineer", title_id  = "5813"  where id = '2827'
6325 /lvl1/ Supervisor Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1794 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '1794'
=>>>>>>>>>>>>>>>>>>>>>> 3507 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '3507'
=>>>>>>>>>>>>>>>>>>>>>> 4314 /lvl2/ Supervisor Marketing Mobil Area Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mobil Area Jakarta Timur", title_clean   = " Mobil Area Jakarta Timur", title_id  = "6325"  where id = '4314'
=>>>>>>>>>>>>>>>>>>>>>> 4387 /lvl2/ Supervisor Marketing Mobil Area Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mobil Area Cirebon", title_clean   = " Mobil Area Cirebon", title_id  = "6325"  where id = '4387'
=>>>>>>>>>>>>>>>>>>>>>> 4396 /lvl2/ Supervisor Marketing Elektronik Wilayah Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik Wilayah Solo", title_clean   = " Elektronik Wilayah Solo", title_id  = "6325"  where id = '4396'
=>>>>>>>>>>>>>>>>>>>>>> 4772 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '4772'
=>>>>>>>>>>>>>>>>>>>>>> 5754 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '5754'
=>>>>>>>>>>>>>>>>>>>>>> 6025 /lvl2/ Supervisor Marketing (JAKARTA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JAKARTA)", title_clean   = " (JAKARTA)", title_id  = "6325"  where id = '6025'
=>>>>>>>>>>>>>>>>>>>>>> 6640 /lvl2/ Supervisor Marketing Elektronik (BRO) Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik (BRO) Samarinda", title_clean   = " Elektronik (BRO) Samarinda", title_id  = "6325"  where id = '6640'
=>>>>>>>>>>>>>>>>>>>>>> 7197 /lvl2/ Supervisor Marketing Motor Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Motor Jakarta", title_clean   = " Motor Jakarta", title_id  = "6325"  where id = '7197'
=>>>>>>>>>>>>>>>>>>>>>> 8825 /lvl2/ Supervisor Marketing Elektronik (BRO) Garut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik (BRO) Garut", title_clean   = " Elektronik (BRO) Garut", title_id  = "6325"  where id = '8825'
=>>>>>>>>>>>>>>>>>>>>>> 9173 /lvl2/ Supervisor Marketing for Trucking & Bus Leasing -Jakarta-
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Trucking & Bus Leasing -Jakarta-", title_clean   = " for Trucking & Bus Leasing -Jakarta-", title_id  = "6325"  where id = '9173'
=>>>>>>>>>>>>>>>>>>>>>> 9180 /lvl2/ Supervisor Marketing (Indoor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Indoor)", title_clean   = " (Indoor)", title_id  = "6325"  where id = '9180'
=>>>>>>>>>>>>>>>>>>>>>> 9367 /lvl2/ Supervisor Marketing Farmasi (Madiun & Jember)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Farmasi (Madiun & Jember)", title_clean   = " Farmasi (Madiun & Jember)", title_id  = "6325"  where id = '9367'
=>>>>>>>>>>>>>>>>>>>>>> 10027 /lvl2/ Supervisor Marketing Elektronik (Banjarmasin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik (Banjarmasin)", title_clean   = " Elektronik (Banjarmasin)", title_id  = "6325"  where id = '10027'
=>>>>>>>>>>>>>>>>>>>>>> 10146 /lvl2/ Supervisor Marketing Elektronik (Banjarbaru)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik (Banjarbaru)", title_clean   = " Elektronik (Banjarbaru)", title_id  = "6325"  where id = '10146'
=>>>>>>>>>>>>>>>>>>>>>> 10373 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '10373'
=>>>>>>>>>>>>>>>>>>>>>> 12554 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '12554'
=>>>>>>>>>>>>>>>>>>>>>> 12584 /lvl2/ Supervisor Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6325"  where id = '12584'
=>>>>>>>>>>>>>>>>>>>>>> 13037 /lvl2/ Supervisor Marketing Elektronik (Pontianak)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Elektronik (Pontianak)", title_clean   = " Elektronik (Pontianak)", title_id  = "6325"  where id = '13037'
=>>>>>>>>>>>>>>>>>>>>>> 17828 /lvl2/ Supervisor Marketing ( spv motor pembiayaan )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( spv motor pembiayaan )", title_clean   = " ( spv motor pembiayaan )", title_id  = "6325"  where id = '17828'
=>>>>>>>>>>>>>>>>>>>>>> 17849 /lvl2/ Supervisor Marketing ( spv motor pembiayaan )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( spv motor pembiayaan )", title_clean   = " ( spv motor pembiayaan )", title_id  = "6325"  where id = '17849'
=>>>>>>>>>>>>>>>>>>>>>> 19201 /lvl2/ Supervisor Marketing Mobil Area Jakarta Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mobil Area Jakarta Utara", title_clean   = " Mobil Area Jakarta Utara", title_id  = "6325"  where id = '19201'
6838 /lvl1/ Tyre Department Head
=>>>>>>>>>>>>>>>>>>>>>> 11169 /lvl2/ Tyre Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6838"  where id = '11169'
1464 /lvl1/ Digital & Media Lead
5560 /lvl1/ Senior Legal Manager
=>>>>>>>>>>>>>>>>>>>>>> 16925 /lvl2/ Senior Legal Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5560"  where id = '16925'
4025 /lvl1/ Operasional Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 12981 /lvl2/ Staff Operasional Lapangan Eximu002FPPJKu002FEMKL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex- Eximu002FPPJKu002FEMKL", title_clean   = "Staff  Eximu002FPPJKu002FEMKL", title_id  = "4025"  where id = '12981'
=>>>>>>>>>>>>>>>>>>>>>> 14396 /lvl2/ OPERASIONAL LAPANGAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERASIONAL LAPANGAN", title_clean   = "OPERASIONAL LAPANGAN", title_id  = "4025"  where id = '14396'
5561 /lvl1/ Senior Legal Officer
=>>>>>>>>>>>>>>>>>>>>>> 5996 /lvl2/ Senior Legal Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5561"  where id = '5996'
6073 /lvl1/ Staff IT Development
=>>>>>>>>>>>>>>>>>>>>>> 16097 /lvl2/ STAFF IT DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF IT DEVELOPMENT", title_clean   = "STAFF IT DEVELOPMENT", title_id  = "6073"  where id = '16097'
2234 /lvl1/ Grafic Desain Intern
=>>>>>>>>>>>>>>>>>>>>>> 10060 /lvl2/ Grafic desain intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Grafic desain intern", title_clean   = "Grafic desain intern", title_id  = "2234"  where id = '10060'
3770 /lvl1/ Marketplace Operator
=>>>>>>>>>>>>>>>>>>>>>> 5802 /lvl2/ MARKETPLACE OPERATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETPLACE OPERATOR", title_clean   = "MARKETPLACE OPERATOR", title_id  = "3770"  where id = '5802'
4795 /lvl1/ Quality Control Staf
=>>>>>>>>>>>>>>>>>>>>>> 1215 /lvl2/ QUALITY CONTROL STAF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY CONTROL STAF", title_clean   = "QUALITY CONTROL STAF", title_id  = "4795"  where id = '1215'
188 /lvl1/ Admin Gudang Farmasi
=>>>>>>>>>>>>>>>>>>>>>> 16349 /lvl2/ ADMIN GUDANG FARMASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN GUDANG FARMASI", title_clean   = "ADMIN GUDANG FARMASI", title_id  = "188"  where id = '16349'
444 /lvl1/ Asisten Surveyor Gis
=>>>>>>>>>>>>>>>>>>>>>> 17605 /lvl2/ Asisten Surveyor GIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Asisten Surveyor GIS", title_clean   = "Asisten Surveyor GIS", title_id  = "444"  where id = '17605'
445 /lvl1/ Asisten Teknik Kebun

=>>>>>>>>>>>>>>>>>>>>>> 2868 /lvl2/ Asisten Teknik Kebun
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "445"  where id = '2868'
3005 /lvl1/ It Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 2845 /lvl2/ IT Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Software Engineer", title_clean   = "IT Software Engineer", title_id  = "3005"  where id = '2845'
=>>>>>>>>>>>>>>>>>>>>>> 6716 /lvl2/ IT SOFTWARE ENGINEER (JAKARTA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SOFTWARE ENGINEER (JAKARTA)", title_clean   = "IT SOFTWARE ENGINEER (JAKARTA)", title_id  = "3005"  where id = '6716'
2750 /lvl1/ Internal Audit & Tax
=>>>>>>>>>>>>>>>>>>>>>> 9544 /lvl2/ Internal Audit & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2750"  where id = '9544'
2751 /lvl1/ Internal Audit Admin
=>>>>>>>>>>>>>>>>>>>>>> 8719 /lvl2/ Internal Audit Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2751"  where id = '8719'
=>>>>>>>>>>>>>>>>>>>>>> 11176 /lvl2/ Internal Audit Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2751"  where id = '11176'
706 /lvl1/ Budget Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 8702 /lvl2/ Budget Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "706"  where id = '8702'
=>>>>>>>>>>>>>>>>>>>>>> 9599 /lvl2/ Budget Control Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "706"  where id = '9599'
6338 /lvl1/ Supervisor Penjualan
=>>>>>>>>>>>>>>>>>>>>>> 4135 /lvl2/ Supervisor Penjualan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6338"  where id = '4135'
=>>>>>>>>>>>>>>>>>>>>>> 15807 /lvl2/ Supervisor Penjualan Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "6338"  where id = '15807'
6851 /lvl1/ Underwriting Officer
=>>>>>>>>>>>>>>>>>>>>>> 17610 /lvl2/ Underwriting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6851"  where id = '17610'
2244 /lvl1/ Graphic Design Staff
=>>>>>>>>>>>>>>>>>>>>>> 10537 /lvl2/ Graphic Design Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2244"  where id = '10537'
=>>>>>>>>>>>>>>>>>>>>>> 13043 /lvl2/ Graphic Design Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2244"  where id = '13043'
=>>>>>>>>>>>>>>>>>>>>>> 20236 /lvl2/ GRAPHIC DESIGN STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GRAPHIC DESIGN STAFF", title_clean   = "GRAPHIC DESIGN STAFF", title_id  = "2244"  where id = '20236'
3268 /lvl1/ Koordinator Logistik
=>>>>>>>>>>>>>>>>>>>>>> 2799 /lvl2/ Koordinator Logistik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3268"  where id = '2799'
1735 /lvl1/ Environment Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15136 /lvl2/ Environment Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1735"  where id = '15136'
4296 /lvl1/ Pimpinan Unit Bisnis
=>>>>>>>>>>>>>>>>>>>>>> 1138 /lvl2/ Pimpinan Unit Bisnis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4296"  where id = '1138'
2761 /lvl1/ Internal Audit Staff
=>>>>>>>>>>>>>>>>>>>>>> 102 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '102'
=>>>>>>>>>>>>>>>>>>>>>> 515 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '515'
=>>>>>>>>>>>>>>>>>>>>>> 539 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '539'
=>>>>>>>>>>>>>>>>>>>>>> 609 /lvl2/ INTERNAL AUDIT STAFF (SMG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERNAL AUDIT STAFF (SMG)", title_clean   = "INTERNAL AUDIT STAFF (SMG)", title_id  = "2761"  where id = '609'
=>>>>>>>>>>>>>>>>>>>>>> 653 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '653'
=>>>>>>>>>>>>>>>>>>>>>> 3484 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '3484'
=>>>>>>>>>>>>>>>>>>>>>> 6759 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '6759'
=>>>>>>>>>>>>>>>>>>>>>> 7410 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '7410'
=>>>>>>>>>>>>>>>>>>>>>> 7431 /lvl2/ Internal Audit Staff (DIAS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DIAS)", title_clean   = " (DIAS)", title_id  = "2761"  where id = '7431'
=>>>>>>>>>>>>>>>>>>>>>> 7764 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '7764'
=>>>>>>>>>>>>>>>>>>>>>> 8082 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '8082'
=>>>>>>>>>>>>>>>>>>>>>> 10663 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '10663'
=>>>>>>>>>>>>>>>>>>>>>> 11382 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '11382'
=>>>>>>>>>>>>>>>>>>>>>> 11978 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '11978'
=>>>>>>>>>>>>>>>>>>>>>> 12043 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '12043'
=>>>>>>>>>>>>>>>>>>>>>> 12653 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '12653'
=>>>>>>>>>>>>>>>>>>>>>> 12668 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '12668'
=>>>>>>>>>>>>>>>>>>>>>> 14041 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '14041'
=>>>>>>>>>>>>>>>>>>>>>> 16334 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '16334'
=>>>>>>>>>>>>>>>>>>>>>> 17151 /lvl2/ Internal Audit Staff (Branch Audit)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Branch Audit)", title_clean   = " (Branch Audit)", title_id  = "2761"  where id = '17151'
=>>>>>>>>>>>>>>>>>>>>>> 17165 /lvl2/ Internal Audit Staff (Branch Audit)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Branch Audit)", title_clean   = " (Branch Audit)", title_id  = "2761"  where id = '17165'
=>>>>>>>>>>>>>>>>>>>>>> 17446 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '17446'
=>>>>>>>>>>>>>>>>>>>>>> 18370 /lvl2/ Internal Audit Staff (CFIAT - Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CFIAT - Surabaya)", title_clean   = " (CFIAT - Surabaya)", title_id  = "2761"  where id = '18370'
=>>>>>>>>>>>>>>>>>>>>>> 19458 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '19458'
=>>>>>>>>>>>>>>>>>>>>>> 20412 /lvl2/ Internal Audit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2761"  where id = '20412'
3785 /lvl1/ Math Science Teacher
=>>>>>>>>>>>>>>>>>>>>>> 5464 /lvl2/ Math Science Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3785"  where id = '5464'
5321 /lvl1/ Sales System Officer
=>>>>>>>>>>>>>>>>>>>>>> 10569 /lvl2/ Sales System Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5321"  where id = '10569'
970 /lvl1/ Club Service Manager
=>>>>>>>>>>>>>>>>>>>>>> 3638 /lvl2/ Club Service Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "970"  where id = '3638'
1482 /lvl1/ Digital Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7811 /lvl2/ Digital Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1482"  where id = '7811'
=>>>>>>>>>>>>>>>>>>>>>> 8148 /lvl2/ Digital Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1482"  where id = '8148'
4554 /lvl1/ Project Cost Control

=>>>>>>>>>>>>>>>>>>>>>> 6915 /lvl2/ PROJECT COST CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT COST CONTROL", title_clean   = "PROJECT COST CONTROL", title_id  = "4554"  where id = '6915'
6858 /lvl1/ University Counselor
=>>>>>>>>>>>>>>>>>>>>>> 13489 /lvl2/ University Counselor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6858"  where id = '13489'
715 /lvl1/ Budgeting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11974 /lvl2/ Budgeting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "715"  where id = '11974'
1996 /lvl1/ Finance Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 5644 /lvl2/ Finance Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1996"  where id = '5644'
=>>>>>>>>>>>>>>>>>>>>>> 14989 /lvl2/ Finance Senior Staff (AP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AP)", title_clean   = " (AP)", title_id  = "1996"  where id = '14989'
=>>>>>>>>>>>>>>>>>>>>>> 19322 /lvl2/ Finance Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1996"  where id = '19322'
4812 /lvl1/ Quality System Staff
=>>>>>>>>>>>>>>>>>>>>>> 1750 /lvl2/ Quality System Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4812"  where id = '1750'
1743 /lvl1/ Environtmental Staff
=>>>>>>>>>>>>>>>>>>>>>> 12660 /lvl2/ Environtmental Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1743"  where id = '12660'
3023 /lvl1/ It Support & Network
=>>>>>>>>>>>>>>>>>>>>>> 316 /lvl2/ IT Support & Network
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support & Network", title_clean   = "IT Support & Network", title_id  = "3023"  where id = '316'
208 /lvl1/ Admin Live Streaming
=>>>>>>>>>>>>>>>>>>>>>> 18841 /lvl2/ Admin Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "208"  where id = '18841'
3280 /lvl1/ Krani / Staff Gudang
=>>>>>>>>>>>>>>>>>>>>>> 46 /lvl2/ KRANI / STAFF GUDANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KRANI / STAFF GUDANG", title_clean   = "KRANI / STAFF GUDANG", title_id  = "3280"  where id = '46'
4048 /lvl1/ Operation Specialist
=>>>>>>>>>>>>>>>>>>>>>> 14263 /lvl2/ Operation Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4048"  where id = '14263'
5329 /lvl1/ Sales To & Canvasing
=>>>>>>>>>>>>>>>>>>>>>> 5513 /lvl2/ SALES TO & CANVASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES TO & CANVASING", title_clean   = "SALES TO & CANVASING", title_id  = "5329"  where id = '5513'
4050 /lvl1/ Operation Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 823 /lvl2/ Middle Mile Admin Operation Supervisor - Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Middle Mile Admin -idex- - Shopee Express", title_clean   = "Middle Mile Admin  - Shopee Express", title_id  = "4050"  where id = '823'
=>>>>>>>>>>>>>>>>>>>>>> 842 /lvl2/ Middle Mile Admin Operation Supervisor - Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Middle Mile Admin -idex- - Shopee Express", title_clean   = "Middle Mile Admin  - Shopee Express", title_id  = "4050"  where id = '842'
=>>>>>>>>>>>>>>>>>>>>>> 1036 /lvl2/ Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4050"  where id = '1036'
=>>>>>>>>>>>>>>>>>>>>>> 1281 /lvl2/ Middle Mile Land Operation Supervisor - Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Middle Mile Land -idex- - Shopee Express", title_clean   = "Middle Mile Land  - Shopee Express", title_id  = "4050"  where id = '1281'
=>>>>>>>>>>>>>>>>>>>>>> 1455 /lvl2/ Middle Mile Air\u002FSea Operation Supervisor - Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Middle Mile Air\u002FSea -idex- - Shopee Express", title_clean   = "Middle Mile Air\u002FSea  - Shopee Express", title_id  = "4050"  where id = '1455'
=>>>>>>>>>>>>>>>>>>>>>> 1671 /lvl2/ Middle Mile Fleet and Pool Operation Supervisor - Shopee Express
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Middle Mile Fleet and Pool -idex- - Shopee Express", title_clean   = "Middle Mile Fleet and Pool  - Shopee Express", title_id  = "4050"  where id = '1671'
=>>>>>>>>>>>>>>>>>>>>>> 2375 /lvl2/ Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4050"  where id = '2375'
=>>>>>>>>>>>>>>>>>>>>>> 7860 /lvl2/ Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4050"  where id = '7860'
=>>>>>>>>>>>>>>>>>>>>>> 8196 /lvl2/ Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4050"  where id = '8196'
=>>>>>>>>>>>>>>>>>>>>>> 10802 /lvl2/ Streaming Operation Supervisor (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Streaming -idex- (Mandarin Speaker)", title_clean   = "Streaming  (Mandarin Speaker)", title_id  = "4050"  where id = '10802'
=>>>>>>>>>>>>>>>>>>>>>> 11360 /lvl2/ E-Commerce Operation Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "E-Commerce -idex-", title_clean   = "E-Commerce ", title_id  = "4050"  where id = '11360'
=>>>>>>>>>>>>>>>>>>>>>> 17410 /lvl2/ Operation Supervisor - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Medan", title_clean   = " - Medan", title_id  = "4050"  where id = '17410'
=>>>>>>>>>>>>>>>>>>>>>> 19568 /lvl2/ Human Resources Operation Supervisor (Penempatan Area Kebun Kalbar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources -idex- (Penempatan Area Kebun Kalbar)", title_clean   = "Human Resources  (Penempatan Area Kebun Kalbar)", title_id  = "4050"  where id = '19568'
211 /lvl1/ Admin Mandarin Staff
=>>>>>>>>>>>>>>>>>>>>>> 3968 /lvl2/ Admin Mandarin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "211"  where id = '3968'
5587 /lvl1/ Senior Network Admin
=>>>>>>>>>>>>>>>>>>>>>> 7691 /lvl2/ Senior Network Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5587"  where id = '7691'
3284 /lvl1/ Laboratory Assistant
=>>>>>>>>>>>>>>>>>>>>>> 7348 /lvl2/ Laboratory Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3284"  where id = '7348'
5335 /lvl1/ Salesforce Developer
=>>>>>>>>>>>>>>>>>>>>>> 8783 /lvl2/ Salesforce Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5335"  where id = '8783'
6360 /lvl1/ Supervisor Qa Outlet
985 /lvl1/ Collection Associate
=>>>>>>>>>>>>>>>>>>>>>> 2332 /lvl2/ Collection Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "985"  where id = '2332'
3801 /lvl1/ Mechanic Mesin Truck
5338 /lvl1/ Salesman & Salesgirl
=>>>>>>>>>>>>>>>>>>>>>> 5021 /lvl2/ Salesman & Salesgirl
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5338"  where id = '5021'
5594 /lvl1/ Senior Php Developer
=>>>>>>>>>>>>>>>>>>>>>> 11494 /lvl2/ Senior PHP Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior PHP Developer", title_clean   = "Senior PHP Developer", title_id  = "5594"  where id = '11494'
6874 /lvl1/ Ux Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 5228 /lvl2/ UX Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UX Quality Assurance", title_clean   = "UX Quality Assurance", title_id  = "6874"  where id = '5228'
5083 /lvl1/ Sales Administration
=>>>>>>>>>>>>>>>>>>>>>> 181 /lvl2/ SALES ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ADMINISTRATION", title_clean   = "SALES ADMINISTRATION", title_id  = "5083"  where id = '181'
=>>>>>>>>>>>>>>>>>>>>>> 1179 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '1179'
=>>>>>>>>>>>>>>>>>>>>>> 4494 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '4494'
=>>>>>>>>>>>>>>>>>>>>>> 10056 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '10056'
=>>>>>>>>>>>>>>>>>>>>>> 11947 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '11947'
=>>>>>>>>>>>>>>>>>>>>>> 13816 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '13816'
=>>>>>>>>>>>>>>>>>>>>>> 13828 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '13828'
=>>>>>>>>>>>>>>>>>>>>>> 13833 /lvl2/ Sales Administration ( Bandung )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Bandung )", title_clean   = " ( Bandung )", title_id  = "5083"  where id = '13833'
=>>>>>>>>>>>>>>>>>>>>>> 19769 /lvl2/ Sales Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5083"  where id = '19769'
3292 /lvl1/ Landscape Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 15030 /lvl2/ Landscape Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3292"  where id = '15030'
6876 /lvl1/ Ux Researcher Senior
=>>>>>>>>>>>>>>>>>>>>>> 6294 /lvl2/ UX Researcher Senior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UX Researcher Senior", title_clean   = "UX Researcher Senior", title_id  = "6876"  where id = '6294'
5854 /lvl1/ Sparepart Specialist
=>>>>>>>>>>>>>>>>>>>>>> 475 /lvl2/ Sparepart Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5854"  where id = '475'
479 /lvl1/ Assistant Controller
=>>>>>>>>>>>>>>>>>>>>>> 3358 /lvl2/ Assistant Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "479"  where id = '3358'
2015 /lvl1/ Financial Accounting
=>>>>>>>>>>>>>>>>>>>>>> 18965 /lvl2/ Financial Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2015"  where id = '18965'
5088 /lvl1/ Sales Alat Kesehatan
=>>>>>>>>>>>>>>>>>>>>>> 3455 /lvl2/ Sales Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5088"  where id = '3455'
=>>>>>>>>>>>>>>>>>>>>>> 5605 /lvl2/ Sales Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5088"  where id = '5605'
=>>>>>>>>>>>>>>>>>>>>>> 10773 /lvl2/ Sales Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5088"  where id = '10773'
=>>>>>>>>>>>>>>>>>>>>>> 15393 /lvl2/ Sales Alat Kesehatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5088"  where id = '15393'
993 /lvl1/ Commercial Executive
=>>>>>>>>>>>>>>>>>>>>>> 12878 /lvl2/ COMMERCIAL EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COMMERCIAL EXECUTIVE", title_clean   = "COMMERCIAL EXECUTIVE", title_id  = "993"  where id = '12878'
=>>>>>>>>>>>>>>>>>>>>>> 14755 /lvl2/ Field Commercial Executive (Jabodetabek Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- (Jabodetabek Based)", title_clean   = "Field  (Jabodetabek Based)", title_id  = "993"  where id = '14755'
=>>>>>>>>>>>>>>>>>>>>>> 15465 /lvl2/ Commercial Executive (Supervisory)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Supervisory)", title_clean   = " (Supervisory)", title_id  = "993"  where id = '15465'
3553 /lvl1/ Manajemen Konstruksi
=>>>>>>>>>>>>>>>>>>>>>> 14472 /lvl2/ Manajemen Konstruksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3553"  where id = '14472'
4321 /lvl1/ Plc / Robot Engineer
2531 /lvl1/ Human Resources Staf
485 /lvl1/ Assistant Head Store
=>>>>>>>>>>>>>>>>>>>>>> 15073 /lvl2/ Assistant Head Store
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "485"  where id = '15073'
2021 /lvl1/ Financial Consultant
=>>>>>>>>>>>>>>>>>>>>>> 1424 /lvl2/ Financial Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2021"  where id = '1424'
=>>>>>>>>>>>>>>>>>>>>>> 5260 /lvl2/ Financial Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2021"  where id = '5260'
=>>>>>>>>>>>>>>>>>>>>>> 10123 /lvl2/ Professional Financial Consultant Area Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Jakarta Timur", title_clean   = "Professional  Area Jakarta Timur", title_id  = "2021"  where id = '10123'
=>>>>>>>>>>>>>>>>>>>>>> 10133 /lvl2/ Professional Financial Consultant Area Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Jakarta Timur", title_clean   = "Professional  Area Jakarta Timur", title_id  = "2021"  where id = '10133'
=>>>>>>>>>>>>>>>>>>>>>> 10443 /lvl2/ Professional Financial Consultant Area Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Bali", title_clean   = "Professional  Area Bali", title_id  = "2021"  where id = '10443'
=>>>>>>>>>>>>>>>>>>>>>> 10499 /lvl2/ Professional Financial Consultant Area Jakarta Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Jakarta Utara", title_clean   = "Professional  Area Jakarta Utara", title_id  = "2021"  where id = '10499'
=>>>>>>>>>>>>>>>>>>>>>> 10517 /lvl2/ Professional Financial Consultant Area Jakarta Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Jakarta Barat", title_clean   = "Professional  Area Jakarta Barat", title_id  = "2021"  where id = '10517'
=>>>>>>>>>>>>>>>>>>>>>> 11213 /lvl2/ Professional Financial Consultant Area Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Banjarmasin", title_clean   = "Professional  Area Banjarmasin", title_id  = "2021"  where id = '11213'
=>>>>>>>>>>>>>>>>>>>>>> 11323 /lvl2/ Professional Financial Consultant Area Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Pontianak", title_clean   = "Professional  Area Pontianak", title_id  = "2021"  where id = '11323'
=>>>>>>>>>>>>>>>>>>>>>> 11358 /lvl2/ Professional Financial Consultant Area Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Surabaya", title_clean   = "Professional  Area Surabaya", title_id  = "2021"  where id = '11358'
=>>>>>>>>>>>>>>>>>>>>>> 14804 /lvl2/ Professional Financial Consultant Area Manado
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Manado", title_clean   = "Professional  Area Manado", title_id  = "2021"  where id = '14804'
=>>>>>>>>>>>>>>>>>>>>>> 14905 /lvl2/ Professional Financial Consultant Area Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Makassar", title_clean   = "Professional  Area Makassar", title_id  = "2021"  where id = '14905'
=>>>>>>>>>>>>>>>>>>>>>> 15658 /lvl2/ Professional Financial Consultant Area Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Bogor", title_clean   = "Professional  Area Bogor", title_id  = "2021"  where id = '15658'
=>>>>>>>>>>>>>>>>>>>>>> 15674 /lvl2/ Professional Financial Consultant Area Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Bogor", title_clean   = "Professional  Area Bogor", title_id  = "2021"  where id = '15674'
=>>>>>>>>>>>>>>>>>>>>>> 19491 /lvl2/ Professional Financial Consultant Area Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Professional -idex- Area Lampung", title_clean   = "Professional  Area Lampung", title_id  = "2021"  where id = '19491'
3045 /lvl1/ It Technical Support
=>>>>>>>>>>>>>>>>>>>>>> 14767 /lvl2/ IT TECHNICAL SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT TECHNICAL SUPPORT", title_clean   = "IT TECHNICAL SUPPORT", title_id  = "3045"  where id = '14767'
=>>>>>>>>>>>>>>>>>>>>>> 15395 /lvl2/ IT Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Technical Support", title_clean   = "IT Technical Support", title_id  = "3045"  where id = '15395'
=>>>>>>>>>>>>>>>>>>>>>> 17839 /lvl2/ IT TECHNICAL SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT TECHNICAL SUPPORT", title_clean   = "IT TECHNICAL SUPPORT", title_id  = "3045"  where id = '17839'
=>>>>>>>>>>>>>>>>>>>>>> 18836 /lvl2/ IT Technical Support (Kalimantan Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Technical Support (Kalimantan Selatan)", title_clean   = "IT Technical Support (Kalimantan Selatan)", title_id  = "3045"  where id = '18836'
=>>>>>>>>>>>>>>>>>>>>>> 18846 /lvl2/ IT Technical Support (Kalimantan Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Technical Support (Kalimantan Selatan)", title_clean   = "IT Technical Support (Kalimantan Selatan)", title_id  = "3045"  where id = '18846'
2022 /lvl1/ Financial Controller
=>>>>>>>>>>>>>>>>>>>>>> 481 /lvl2/ Financial Controller (Jambi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jambi)", title_clean   = " (Jambi)", title_id  = "2022"  where id = '481'
=>>>>>>>>>>>>>>>>>>>>>> 792 /lvl2/ Financial Controller (Labuan Bajo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Labuan Bajo)", title_clean   = " (Labuan Bajo)", title_id  = "2022"  where id = '792'
=>>>>>>>>>>>>>>>>>>>>>> 9387 /lvl2/ Financial Controller (Coal Mining)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Coal Mining)", title_clean   = " (Coal Mining)", title_id  = "2022"  where id = '9387'
=>>>>>>>>>>>>>>>>>>>>>> 9396 /lvl2/ Financial Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2022"  where id = '9396'
=>>>>>>>>>>>>>>>>>>>>>> 11307 /lvl2/ Financial Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2022"  where id = '11307'
=>>>>>>>>>>>>>>>>>>>>>> 13504 /lvl2/ Financial Controller – IVI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – IVI", title_clean   = " – IVI", title_id  = "2022"  where id = '13504'
=>>>>>>>>>>>>>>>>>>>>>> 14116 /lvl2/ Financial Controller - PT Lippo Malls Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PT Lippo Malls Indonesia", title_clean   = " - PT Lippo Malls Indonesia", title_id  = "2022"  where id = '14116'
=>>>>>>>>>>>>>>>>>>>>>> 14241 /lvl2/ Financial Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2022"  where id = '14241'
=>>>>>>>>>>>>>>>>>>>>>> 15144 /lvl2/ FINANCIAL CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL CONTROLLER", title_clean   = "FINANCIAL CONTROLLER", title_id  = "2022"  where id = '15144'
=>>>>>>>>>>>>>>>>>>>>>> 18867 /lvl2/ Financial Controller (Mataram)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mataram)", title_clean   = " (Mataram)", title_id  = "2022"  where id = '18867'
=>>>>>>>>>>>>>>>>>>>>>> 20480 /lvl2/ Financial Controller ( Hospitality )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Hospitality )", title_clean   = " ( Hospitality )", title_id  = "2022"  where id = '20480'
2278 /lvl1/ Guru Bahasa Mandarin

=>>>>>>>>>>>>>>>>>>>>>> 12194 /lvl2/ GURU BAHASA MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU BAHASA MANDARIN", title_clean   = "GURU BAHASA MANDARIN", title_id  = "2278"  where id = '12194'
=>>>>>>>>>>>>>>>>>>>>>> 16892 /lvl2/ Guru Bahasa Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2278"  where id = '16892'
3302 /lvl1/ Lead Devops Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6760 /lvl2/ Lead DevOps Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lead DevOps Engineer", title_clean   = "Lead DevOps Engineer", title_id  = "3302"  where id = '6760'
4070 /lvl1/ Operator Data Center
=>>>>>>>>>>>>>>>>>>>>>> 263 /lvl2/ Operator Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4070"  where id = '263'
743 /lvl1/ Business Development
=>>>>>>>>>>>>>>>>>>>>>> 810 /lvl2/ Business Development Admin (Secretary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Admin (Secretary)", title_clean   = " Admin (Secretary)", title_id  = "743"  where id = '810'
=>>>>>>>>>>>>>>>>>>>>>> 879 /lvl2/ Business Development (Aceh, Cirebon, Lampung, Samarinda, Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Aceh, Cirebon, Lampung, Samarinda, Yogyakarta)", title_clean   = " (Aceh, Cirebon, Lampung, Samarinda, Yogyakarta)", title_id  = "743"  where id = '879'
=>>>>>>>>>>>>>>>>>>>>>> 959 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '959'
=>>>>>>>>>>>>>>>>>>>>>> 990 /lvl2/ Business Development - Segment Food & Beverages
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Segment Food & Beverages", title_clean   = " - Segment Food & Beverages", title_id  = "743"  where id = '990'
=>>>>>>>>>>>>>>>>>>>>>> 998 /lvl2/ Retail Business Development - Tegal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- - Tegal", title_clean   = "Retail  - Tegal", title_id  = "743"  where id = '998'
=>>>>>>>>>>>>>>>>>>>>>> 1449 /lvl2/ Retail Business Development - Kuningan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- - Kuningan", title_clean   = "Retail  - Kuningan", title_id  = "743"  where id = '1449'
=>>>>>>>>>>>>>>>>>>>>>> 1860 /lvl2/ Staff Marketing & Business Development Area Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Marketing & -idex- Area Surabaya", title_clean   = "Staff Marketing &  Area Surabaya", title_id  = "743"  where id = '1860'
=>>>>>>>>>>>>>>>>>>>>>> 1977 /lvl2/ Business Development and Investment Analyst (financial company)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Investment Analyst (financial company)", title_clean   = " and Investment Analyst (financial company)", title_id  = "743"  where id = '1977'
=>>>>>>>>>>>>>>>>>>>>>> 2041 /lvl2/ Retail Business Development - Jabodetabek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- - Jabodetabek", title_clean   = "Retail  - Jabodetabek", title_id  = "743"  where id = '2041'
=>>>>>>>>>>>>>>>>>>>>>> 2089 /lvl2/ Business Development  /  Sales  /  Canvasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Sales  /  Canvasing", title_clean   = "  /  Sales  /  Canvasing", title_id  = "743"  where id = '2089'
=>>>>>>>>>>>>>>>>>>>>>> 2168 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '2168'
=>>>>>>>>>>>>>>>>>>>>>> 2222 /lvl2/ Business Development Lead - Makassar Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Lead - Makassar Area", title_clean   = " Lead - Makassar Area", title_id  = "743"  where id = '2222'
=>>>>>>>>>>>>>>>>>>>>>> 2381 /lvl2/ Business Development (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "743"  where id = '2381'
=>>>>>>>>>>>>>>>>>>>>>> 2414 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '2414'
=>>>>>>>>>>>>>>>>>>>>>> 2678 /lvl2/ Business Development (International Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (International Development)", title_clean   = " (International Development)", title_id  = "743"  where id = '2678'
=>>>>>>>>>>>>>>>>>>>>>> 2814 /lvl2/ Business Development ( Senior Associate )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Senior Associate )", title_clean   = " ( Senior Associate )", title_id  = "743"  where id = '2814'
=>>>>>>>>>>>>>>>>>>>>>> 3859 /lvl2/ Business Development - Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Supervisor", title_clean   = " - Supervisor", title_id  = "743"  where id = '3859'
=>>>>>>>>>>>>>>>>>>>>>> 3892 /lvl2/ Business Development Lead - Medan Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Lead - Medan Area", title_clean   = " Lead - Medan Area", title_id  = "743"  where id = '3892'
=>>>>>>>>>>>>>>>>>>>>>> 4033 /lvl2/ Business Development (Digital Agency)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Digital Agency)", title_clean   = " (Digital Agency)", title_id  = "743"  where id = '4033'
=>>>>>>>>>>>>>>>>>>>>>> 4170 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '4170'
=>>>>>>>>>>>>>>>>>>>>>> 4204 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '4204'
=>>>>>>>>>>>>>>>>>>>>>> 4247 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '4247'
=>>>>>>>>>>>>>>>>>>>>>> 4492 /lvl2/ Business Development (Telesales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Telesales)", title_clean   = " (Telesales)", title_id  = "743"  where id = '4492'
=>>>>>>>>>>>>>>>>>>>>>> 4540 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '4540'
=>>>>>>>>>>>>>>>>>>>>>> 4787 /lvl2/ Marketing Executive - Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing Executive - -idex-", title_clean   = "Marketing Executive - ", title_id  = "743"  where id = '4787'
=>>>>>>>>>>>>>>>>>>>>>> 5258 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '5258'
=>>>>>>>>>>>>>>>>>>>>>> 5306 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '5306'
=>>>>>>>>>>>>>>>>>>>>>> 6181 /lvl2/ Business Development (Sumatera Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sumatera Area)", title_clean   = " (Sumatera Area)", title_id  = "743"  where id = '6181'
=>>>>>>>>>>>>>>>>>>>>>> 7025 /lvl2/ Business Development (for Indonesia Entertainment Group)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (for Indonesia Entertainment Group)", title_clean   = " (for Indonesia Entertainment Group)", title_id  = "743"  where id = '7025'
=>>>>>>>>>>>>>>>>>>>>>> 7563 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '7563'
=>>>>>>>>>>>>>>>>>>>>>> 8539 /lvl2/ Business Development (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "743"  where id = '8539'
=>>>>>>>>>>>>>>>>>>>>>> 8919 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '8919'
=>>>>>>>>>>>>>>>>>>>>>> 8921 /lvl2/ Business Development CitraRaya Group
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- CitraRaya Group", title_clean   = " CitraRaya Group", title_id  = "743"  where id = '8921'
=>>>>>>>>>>>>>>>>>>>>>> 8971 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '8971'
=>>>>>>>>>>>>>>>>>>>>>> 9740 /lvl2/ MARKETING & BUSINESS DEVELOPMENT (BRAND TEH 63)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING & BUSINESS DEVELOPMENT (BRAND TEH 63)", title_clean   = "MARKETING & BUSINESS DEVELOPMENT (BRAND TEH 63)", title_id  = "743"  where id = '9740'
=>>>>>>>>>>>>>>>>>>>>>> 9826 /lvl2/ Business Development - Seller Acquisition (Contract)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Seller Acquisition (Contract)", title_clean   = " - Seller Acquisition (Contract)", title_id  = "743"  where id = '9826'
=>>>>>>>>>>>>>>>>>>>>>> 9941 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '9941'
=>>>>>>>>>>>>>>>>>>>>>> 9972 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '9972'
=>>>>>>>>>>>>>>>>>>>>>> 10081 /lvl2/ Marketing (Business Development)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing (-idex-)", title_clean   = "Marketing ()", title_id  = "743"  where id = '10081'
=>>>>>>>>>>>>>>>>>>>>>> 10558 /lvl2/ Head of Business Development (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Head of -idex- (Mandarin Speaker)", title_clean   = "Head of  (Mandarin Speaker)", title_id  = "743"  where id = '10558'
=>>>>>>>>>>>>>>>>>>>>>> 10877 /lvl2/ BUSINESS DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT", title_clean   = "BUSINESS DEVELOPMENT", title_id  = "743"  where id = '10877'
=>>>>>>>>>>>>>>>>>>>>>> 10881 /lvl2/ Business Development - Logistic SaaS - Kargo Nexus for Shippers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Logistic SaaS - Kargo Nexus for Shippers", title_clean   = " - Logistic SaaS - Kargo Nexus for Shippers", title_id  = "743"  where id = '10881'
=>>>>>>>>>>>>>>>>>>>>>> 11006 /lvl2/ Business Development - Logistic SaaS - Kargo Nexus for Transporter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Logistic SaaS - Kargo Nexus for Transporter", title_clean   = " - Logistic SaaS - Kargo Nexus for Transporter", title_id  = "743"  where id = '11006'
=>>>>>>>>>>>>>>>>>>>>>> 11614 /lvl2/ Business Development - Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Assistant Manager", title_clean   = " - Assistant Manager", title_id  = "743"  where id = '11614'
=>>>>>>>>>>>>>>>>>>>>>> 11778 /lvl2/ Business Development - Seller Acquisition Based in Pekalongan (Contract)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Seller Acquisition Based in Pekalongan (Contract)", title_clean   = " - Seller Acquisition Based in Pekalongan (Contract)", title_id  = "743"  where id = '11778'
=>>>>>>>>>>>>>>>>>>>>>> 12201 /lvl2/ Area Business Development - Aceh & Sumatera Utara (Deli Serdang, Tapanuli, Labuhan Batu)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- - Aceh & Sumatera Utara (Deli Serdang, Tapanuli, Labuhan Batu)", title_clean   = "Area  - Aceh & Sumatera Utara (Deli Serdang, Tapanuli, Labuhan Batu)", title_id  = "743"  where id = '12201'
=>>>>>>>>>>>>>>>>>>>>>> 12218 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '12218'
=>>>>>>>>>>>>>>>>>>>>>> 12333 /lvl2/ Business Development - KOL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KOL", title_clean   = " - KOL", title_id  = "743"  where id = '12333'
=>>>>>>>>>>>>>>>>>>>>>> 12402 /lvl2/ Business Development SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV", title_clean   = " SPV", title_id  = "743"  where id = '12402'
=>>>>>>>>>>>>>>>>>>>>>> 12414 /lvl2/ Business Development SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- SPV", title_clean   = " SPV", title_id  = "743"  where id = '12414'
=>>>>>>>>>>>>>>>>>>>>>> 12589 /lvl2/ Head of Marketing and Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Head of Marketing and -idex-", title_clean   = "Head of Marketing and ", title_id  = "743"  where id = '12589'
=>>>>>>>>>>>>>>>>>>>>>> 12814 /lvl2/ Retail Business Development - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- - Yogyakarta", title_clean   = "Retail  - Yogyakarta", title_id  = "743"  where id = '12814'
=>>>>>>>>>>>>>>>>>>>>>> 13172 /lvl2/ Area Business development - Jawa Timur (Banyuwangi, Bondowoso, Ponorogo, Jember, Geresik, Pamengkasan) & Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area Business development - Jawa Timur (Banyuwangi, Bondowoso, Ponorogo, Jember, Geresik, Pamengkasan) & Bali", title_clean   = "Area Business development - Jawa Timur (Banyuwangi, Bondowoso, Ponorogo, Jember, Geresik, Pamengkasan) & Bali", title_id  = "743"  where id = '13172'
=>>>>>>>>>>>>>>>>>>>>>> 13418 /lvl2/ Business Development - KOL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KOL", title_clean   = " - KOL", title_id  = "743"  where id = '13418'
=>>>>>>>>>>>>>>>>>>>>>> 13680 /lvl2/ Business Development - Food
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Food", title_clean   = " - Food", title_id  = "743"  where id = '13680'
=>>>>>>>>>>>>>>>>>>>>>> 13696 /lvl2/ Business Development - Food
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Food", title_clean   = " - Food", title_id  = "743"  where id = '13696'
=>>>>>>>>>>>>>>>>>>>>>> 13943 /lvl2/ BUSINESS DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT", title_clean   = "BUSINESS DEVELOPMENT", title_id  = "743"  where id = '13943'
=>>>>>>>>>>>>>>>>>>>>>> 14474 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '14474'
=>>>>>>>>>>>>>>>>>>>>>> 14593 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '14593'
=>>>>>>>>>>>>>>>>>>>>>> 14622 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '14622'
=>>>>>>>>>>>>>>>>>>>>>> 15068 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '15068'
=>>>>>>>>>>>>>>>>>>>>>> 15577 /lvl2/ BUSINESS DEVELOPMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUSINESS DEVELOPMENT", title_clean   = "BUSINESS DEVELOPMENT", title_id  = "743"  where id = '15577'
=>>>>>>>>>>>>>>>>>>>>>> 15936 /lvl2/ Business Development ( Associate )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Associate )", title_clean   = " ( Associate )", title_id  = "743"  where id = '15936'
=>>>>>>>>>>>>>>>>>>>>>> 16500 /lvl2/ Marketing \u002F Business Development Education
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing \u002F -idex- Education", title_clean   = "Marketing \u002F  Education", title_id  = "743"  where id = '16500'
=>>>>>>>>>>>>>>>>>>>>>> 16519 /lvl2/ Marketing \u002F Business Development Education
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing \u002F -idex- Education", title_clean   = "Marketing \u002F  Education", title_id  = "743"  where id = '16519'
=>>>>>>>>>>>>>>>>>>>>>> 16534 /lvl2/ Marketing \u002F Business Development (b to b)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing \u002F -idex- (b to b)", title_clean   = "Marketing \u002F  (b to b)", title_id  = "743"  where id = '16534'
=>>>>>>>>>>>>>>>>>>>>>> 16629 /lvl2/ Business Development (Aceh & Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Aceh & Medan)", title_clean   = " (Aceh & Medan)", title_id  = "743"  where id = '16629'
=>>>>>>>>>>>>>>>>>>>>>> 18006 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '18006'
=>>>>>>>>>>>>>>>>>>>>>> 18048 /lvl2/ Retail Business Development - Mojokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- - Mojokerto", title_clean   = "Retail  - Mojokerto", title_id  = "743"  where id = '18048'
=>>>>>>>>>>>>>>>>>>>>>> 18078 /lvl2/ Business Development - Seller Acquisition Based in Semarang (Contract)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Seller Acquisition Based in Semarang (Contract)", title_clean   = " - Seller Acquisition Based in Semarang (Contract)", title_id  = "743"  where id = '18078'
=>>>>>>>>>>>>>>>>>>>>>> 18125 /lvl2/ Business Development\u002F Intellingence
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002F Intellingence", title_clean   = "\u002F Intellingence", title_id  = "743"  where id = '18125'
=>>>>>>>>>>>>>>>>>>>>>> 18137 /lvl2/ Business Development\u002F Intellingence
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002F Intellingence", title_clean   = "\u002F Intellingence", title_id  = "743"  where id = '18137'
=>>>>>>>>>>>>>>>>>>>>>> 18261 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '18261'
=>>>>>>>>>>>>>>>>>>>>>> 18711 /lvl2/ Retail Business Development - Pasuruan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Retail -idex- - Pasuruan", title_clean   = "Retail  - Pasuruan", title_id  = "743"  where id = '18711'
=>>>>>>>>>>>>>>>>>>>>>> 19087 /lvl2/ Business Development\u002F Intellingence
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002F Intellingence", title_clean   = "\u002F Intellingence", title_id  = "743"  where id = '19087'
=>>>>>>>>>>>>>>>>>>>>>> 19116 /lvl2/ Business Development\u002F Intellingence
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002F Intellingence", title_clean   = "\u002F Intellingence", title_id  = "743"  where id = '19116'
=>>>>>>>>>>>>>>>>>>>>>> 19382 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '19382'
=>>>>>>>>>>>>>>>>>>>>>> 19810 /lvl2/ MARKETING BUSINESS DEVELOPMENT (PENEMPATAN : BANDUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING BUSINESS DEVELOPMENT (PENEMPATAN : BANDUNG)", title_clean   = "MARKETING BUSINESS DEVELOPMENT (PENEMPATAN : BANDUNG)", title_id  = "743"  where id = '19810'

=>>>>>>>>>>>>>>>>>>>>>> 20188 /lvl2/ Business Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "743"  where id = '20188'
1767 /lvl1/ Estimator Civil Baja
=>>>>>>>>>>>>>>>>>>>>>> 14186 /lvl2/ ESTIMATOR CIVIL BAJA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTIMATOR CIVIL BAJA", title_clean   = "ESTIMATOR CIVIL BAJA", title_id  = "1767"  where id = '14186'
=>>>>>>>>>>>>>>>>>>>>>> 14557 /lvl2/ ESTIMATOR CIVIL BAJA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTIMATOR CIVIL BAJA", title_clean   = "ESTIMATOR CIVIL BAJA", title_id  = "1767"  where id = '14557'
5095 /lvl1/ Sales B2B Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14010 /lvl2/ Sales B2B Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5095"  where id = '14010'
5351 /lvl1/ Sap Basis Specialist
=>>>>>>>>>>>>>>>>>>>>>> 3933 /lvl2/ SAP Basis Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Basis Specialist", title_clean   = "SAP Basis Specialist", title_id  = "5351"  where id = '3933'
3050 /lvl1/ It Vendor Management
=>>>>>>>>>>>>>>>>>>>>>> 15790 /lvl2/ IT Vendor Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Vendor Management", title_clean   = "IT Vendor Management", title_id  = "3050"  where id = '15790'
2287 /lvl1/ Guru Kelas Bilingual
=>>>>>>>>>>>>>>>>>>>>>> 8802 /lvl2/ GURU KELAS BILINGUAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU KELAS BILINGUAL", title_clean   = "GURU KELAS BILINGUAL", title_id  = "2287"  where id = '8802'
=>>>>>>>>>>>>>>>>>>>>>> 10000 /lvl2/ GURU KELAS BILINGUAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU KELAS BILINGUAL", title_clean   = "GURU KELAS BILINGUAL", title_id  = "2287"  where id = '10000'
3055 /lvl1/ Japanese Interpreter
=>>>>>>>>>>>>>>>>>>>>>> 5393 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '5393'
=>>>>>>>>>>>>>>>>>>>>>> 7826 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '7826'
=>>>>>>>>>>>>>>>>>>>>>> 10608 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '10608'
=>>>>>>>>>>>>>>>>>>>>>> 14974 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '14974'
=>>>>>>>>>>>>>>>>>>>>>> 15923 /lvl2/ JAPANESE INTERPRETER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JAPANESE INTERPRETER", title_clean   = "JAPANESE INTERPRETER", title_id  = "3055"  where id = '15923'
=>>>>>>>>>>>>>>>>>>>>>> 18839 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '18839'
=>>>>>>>>>>>>>>>>>>>>>> 19796 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '19796'
=>>>>>>>>>>>>>>>>>>>>>> 19822 /lvl2/ Japanese Interpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3055"  where id = '19822'
4079 /lvl1/ Operator Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 18862 /lvl2/ Operator Maintenance Electrical (Cileungsi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Electrical (Cileungsi)", title_clean   = " Electrical (Cileungsi)", title_id  = "4079"  where id = '18862'
=>>>>>>>>>>>>>>>>>>>>>> 19792 /lvl2/ Operator Maintenance Electrical (Cileungsi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Electrical (Cileungsi)", title_clean   = " Electrical (Cileungsi)", title_id  = "4079"  where id = '19792'
=>>>>>>>>>>>>>>>>>>>>>> 20376 /lvl2/ OPERATOR MAINTENANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR MAINTENANCE", title_clean   = "OPERATOR MAINTENANCE", title_id  = "4079"  where id = '20376'
1776 /lvl1/ Estimator Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17273 /lvl2/ Estimator Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1776"  where id = '17273'
=>>>>>>>>>>>>>>>>>>>>>> 17578 /lvl2/ ESTIMATOR SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTIMATOR SUPERVISOR", title_clean   = "ESTIMATOR SUPERVISOR", title_id  = "1776"  where id = '17578'
4850 /lvl1/ React Nativ Engineer
=>>>>>>>>>>>>>>>>>>>>>> 8478 /lvl2/ React Nativ Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4850"  where id = '8478'
6386 /lvl1/ Supervisor Sortation
=>>>>>>>>>>>>>>>>>>>>>> 15312 /lvl2/ Supervisor Sortation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6386"  where id = '15312'
1527 /lvl1/ Direktur Operasional
=>>>>>>>>>>>>>>>>>>>>>> 4918 /lvl2/ DIREKTUR OPERASIONAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIREKTUR OPERASIONAL", title_clean   = "DIREKTUR OPERASIONAL", title_id  = "1527"  where id = '4918'
2809 /lvl1/ Inventory Controller
=>>>>>>>>>>>>>>>>>>>>>> 547 /lvl2/ Inventory Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2809"  where id = '547'
=>>>>>>>>>>>>>>>>>>>>>> 874 /lvl2/ Inventory Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2809"  where id = '874'
=>>>>>>>>>>>>>>>>>>>>>> 11890 /lvl2/ INVENTORY CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INVENTORY CONTROLLER", title_clean   = "INVENTORY CONTROLLER", title_id  = "2809"  where id = '11890'
=>>>>>>>>>>>>>>>>>>>>>> 17602 /lvl2/ Warehouse dan Inventory Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Warehouse dan -idex-", title_clean   = "Warehouse dan ", title_id  = "2809"  where id = '17602'
=>>>>>>>>>>>>>>>>>>>>>> 18110 /lvl2/ Inventory Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2809"  where id = '18110'
5881 /lvl1/ Staff Accounting Tax
6649 /lvl1/ Teknisi Elektromedik
=>>>>>>>>>>>>>>>>>>>>>> 18366 /lvl2/ Teknisi Elektromedik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6649"  where id = '18366'
=>>>>>>>>>>>>>>>>>>>>>> 18383 /lvl2/ Teknisi Elektromedik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6649"  where id = '18383'
6650 /lvl1/ Teknisi Elektromedis
=>>>>>>>>>>>>>>>>>>>>>> 2652 /lvl2/ Teknisi Elektromedis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6650"  where id = '2652'
=>>>>>>>>>>>>>>>>>>>>>> 5259 /lvl2/ Teknisi Elektromedis (Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tangerang)", title_clean   = " (Tangerang)", title_id  = "6650"  where id = '5259'
6907 /lvl1/ Videographer Officer
=>>>>>>>>>>>>>>>>>>>>>> 20187 /lvl2/ Videographer Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6907"  where id = '20187'
5628 /lvl1/ Senior Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 6165 /lvl2/ Senior Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5628"  where id = '6165'
=>>>>>>>>>>>>>>>>>>>>>> 16023 /lvl2/ Senior Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5628"  where id = '16023'
1277 /lvl1/ Customer Credit Head
=>>>>>>>>>>>>>>>>>>>>>> 10820 /lvl2/ Customer Credit Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1277"  where id = '10820'
3069 /lvl1/ Javascript Developer
=>>>>>>>>>>>>>>>>>>>>>> 9011 /lvl2/ Javascript Developer (Full Stack)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Full Stack)", title_clean   = " (Full Stack)", title_id  = "3069"  where id = '9011'
=>>>>>>>>>>>>>>>>>>>>>> 12561 /lvl2/ Javascript Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3069"  where id = '12561'
4607 /lvl1/ Project Site Officer
=>>>>>>>>>>>>>>>>>>>>>> 16940 /lvl2/ Project Site Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4607"  where id = '16940'
256 /lvl1/ Admin Sales Support
=>>>>>>>>>>>>>>>>>>>>>> 197 /lvl2/ Admin Sales Support (Temporary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Temporary)", title_clean   = " (Temporary)", title_id  = "256"  where id = '197'
=>>>>>>>>>>>>>>>>>>>>>> 3801 /lvl2/ Admin Sales Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "256"  where id = '3801'
=>>>>>>>>>>>>>>>>>>>>>> 12379 /lvl2/ Admin Sales Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "256"  where id = '12379'
=>>>>>>>>>>>>>>>>>>>>>> 12398 /lvl2/ Admin Sales Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "256"  where id = '12398'
=>>>>>>>>>>>>>>>>>>>>>> 16527 /lvl2/ Admin Sales Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "256"  where id = '16527'
1 /lvl1/ .Net Core Developer

=>>>>>>>>>>>>>>>>>>>>>> 10262 /lvl2/ .NET CORE Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = ".NET CORE Developer", title_clean   = ".NET CORE Developer", title_id  = "1"  where id = '10262'
3073 /lvl1/ Job Control Officer
=>>>>>>>>>>>>>>>>>>>>>> 15748 /lvl2/ JOB CONTROL OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JOB CONTROL OFFICER", title_clean   = "JOB CONTROL OFFICER", title_id  = "3073"  where id = '15748'
=>>>>>>>>>>>>>>>>>>>>>> 15768 /lvl2/ JOB CONTROL OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JOB CONTROL OFFICER", title_clean   = "JOB CONTROL OFFICER", title_id  = "3073"  where id = '15768'
1538 /lvl1/ Document Controller
=>>>>>>>>>>>>>>>>>>>>>> 3167 /lvl2/ Document Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1538"  where id = '3167'
=>>>>>>>>>>>>>>>>>>>>>> 3803 /lvl2/ Document Controller Lippo Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Lippo Cikarang", title_clean   = " Lippo Cikarang", title_id  = "1538"  where id = '3803'
=>>>>>>>>>>>>>>>>>>>>>> 6809 /lvl2/ Document Controller - Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Finance", title_clean   = " - Finance", title_id  = "1538"  where id = '6809'
=>>>>>>>>>>>>>>>>>>>>>> 10944 /lvl2/ QSHE MANAGEMENT SYSTEM &  DOCUMENT CONTROLLER STAFF-JAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QSHE MANAGEMENT SYSTEM &  DOCUMENT CONTROLLER STAFF-JAKARTA", title_clean   = "QSHE MANAGEMENT SYSTEM &  DOCUMENT CONTROLLER STAFF-JAKARTA", title_id  = "1538"  where id = '10944'
=>>>>>>>>>>>>>>>>>>>>>> 10953 /lvl2/ QSHE MANAGEMENT SYSTEM &  DOCUMENT CONTROLLER STAFF-JAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QSHE MANAGEMENT SYSTEM &  DOCUMENT CONTROLLER STAFF-JAKARTA", title_clean   = "QSHE MANAGEMENT SYSTEM &  DOCUMENT CONTROLLER STAFF-JAKARTA", title_id  = "1538"  where id = '10953'
=>>>>>>>>>>>>>>>>>>>>>> 18448 /lvl2/ Document Controller - Bogor\u002FDenpasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bogor\u002FDenpasar", title_clean   = " - Bogor\u002FDenpasar", title_id  = "1538"  where id = '18448'
=>>>>>>>>>>>>>>>>>>>>>> 18727 /lvl2/ Document Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1538"  where id = '18727'
=>>>>>>>>>>>>>>>>>>>>>> 19177 /lvl2/ Drafter and Document Controller - West Java
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Drafter and -idex- - West Java", title_clean   = "Drafter and  - West Java", title_id  = "1538"  where id = '19177'
1027 /lvl1/ Compliance Advisory
=>>>>>>>>>>>>>>>>>>>>>> 1443 /lvl2/ Compliance Advisory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1027"  where id = '1443'
2307 /lvl1/ Guru Smk Multimedia
=>>>>>>>>>>>>>>>>>>>>>> 9175 /lvl2/ Guru SMK MULTIMEDIA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru SMK MULTIMEDIA", title_clean   = "Guru SMK MULTIMEDIA", title_id  = "2307"  where id = '9175'
5123 /lvl1/ Sales Counter Mobil
=>>>>>>>>>>>>>>>>>>>>>> 4603 /lvl2/ Sales Counter Mobil
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5123"  where id = '4603'
6915 /lvl1/ Visual Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 4656 /lvl2/ Showroom Designer (Visual Merchandiser)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Showroom Designer (-idex-)", title_clean   = "Showroom Designer ()", title_id  = "6915"  where id = '4656'
=>>>>>>>>>>>>>>>>>>>>>> 6872 /lvl2/ Visual Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6915"  where id = '6872'
=>>>>>>>>>>>>>>>>>>>>>> 9335 /lvl2/ Visual Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6915"  where id = '9335'
=>>>>>>>>>>>>>>>>>>>>>> 9855 /lvl2/ Visual Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6915"  where id = '9855'
=>>>>>>>>>>>>>>>>>>>>>> 13803 /lvl2/ VISUAL MERCHANDISER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "VISUAL MERCHANDISER", title_clean   = "VISUAL MERCHANDISER", title_id  = "6915"  where id = '13803'
=>>>>>>>>>>>>>>>>>>>>>> 15757 /lvl2/ Visual Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6915"  where id = '15757'
6404 /lvl1/ Supervisor Terminal
1797 /lvl1/ Executive Assistant
=>>>>>>>>>>>>>>>>>>>>>> 5231 /lvl2/ Executive Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1797"  where id = '5231'
=>>>>>>>>>>>>>>>>>>>>>> 5256 /lvl2/ Executive Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1797"  where id = '5256'
=>>>>>>>>>>>>>>>>>>>>>> 6028 /lvl2/ Executive Assistant and Administrative Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Administrative Controller", title_clean   = " and Administrative Controller", title_id  = "1797"  where id = '6028'
=>>>>>>>>>>>>>>>>>>>>>> 12614 /lvl2/ HP Executive Assistant (Account Officer) Surabaya Raya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HP -idex- (Account Officer) Surabaya Raya", title_clean   = "HP  (Account Officer) Surabaya Raya", title_id  = "1797"  where id = '12614'
=>>>>>>>>>>>>>>>>>>>>>> 13370 /lvl2/ Executive Assistant to COO (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- to COO (Mandarin Speaking)", title_clean   = " to COO (Mandarin Speaking)", title_id  = "1797"  where id = '13370'
=>>>>>>>>>>>>>>>>>>>>>> 13594 /lvl2/ Executive Assistant to COO (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- to COO (Mandarin Speaking)", title_clean   = " to COO (Mandarin Speaking)", title_id  = "1797"  where id = '13594'
=>>>>>>>>>>>>>>>>>>>>>> 17929 /lvl2/ Executive Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1797"  where id = '17929'
6406 /lvl1/ Supervisor Trucking
=>>>>>>>>>>>>>>>>>>>>>> 17884 /lvl2/ Supervisor Trucking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6406"  where id = '17884'
4615 /lvl1/ Promotion Executive
=>>>>>>>>>>>>>>>>>>>>>> 3672 /lvl2/ Promotion Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4615"  where id = '3672'
5895 /lvl1/ Staff Customer Care
5128 /lvl1/ Sales Data Analytic
=>>>>>>>>>>>>>>>>>>>>>> 15135 /lvl2/ SALES DATA ANALYTIC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES DATA ANALYTIC", title_clean   = "SALES DATA ANALYTIC", title_id  = "5128"  where id = '15135'
5897 /lvl1/ Staff Desain Grafis
=>>>>>>>>>>>>>>>>>>>>>> 11670 /lvl2/ Staff DESAIN GRAFIS & VISUAL (GRAPHIC & VISUAL DESIGN) - Furniture Store JAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff DESAIN GRAFIS & VISUAL (GRAPHIC & VISUAL DESIGN) - Furniture Store JAKARTA", title_clean   = "Staff DESAIN GRAFIS & VISUAL (GRAPHIC & VISUAL DESIGN) - Furniture Store JAKARTA", title_id  = "5897"  where id = '11670'
2061 /lvl1/ Floor Manager Dumai
=>>>>>>>>>>>>>>>>>>>>>> 19002 /lvl2/ FLOOR MANAGER DUMAI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FLOOR MANAGER DUMAI", title_clean   = "FLOOR MANAGER DUMAI", title_id  = "2061"  where id = '19002'
270 /lvl1/ Admin Support Sipil
=>>>>>>>>>>>>>>>>>>>>>> 16761 /lvl2/ Admin Support Sipil
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "270"  where id = '16761'
1806 /lvl1/ Executive Secretary
=>>>>>>>>>>>>>>>>>>>>>> 1581 /lvl2/ Executive Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1806"  where id = '1581'
=>>>>>>>>>>>>>>>>>>>>>> 19698 /lvl2/ Executive Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1806"  where id = '19698'
4878 /lvl1/ Recruitment Manager
=>>>>>>>>>>>>>>>>>>>>>> 6208 /lvl2/ Recruitment Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4878"  where id = '6208'
=>>>>>>>>>>>>>>>>>>>>>> 7963 /lvl2/ RECRUITMENT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT MANAGER", title_clean   = "RECRUITMENT MANAGER", title_id  = "4878"  where id = '7963'
2063 /lvl1/ Fluidcon Technician
=>>>>>>>>>>>>>>>>>>>>>> 17970 /lvl2/ Fluidcon Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2063"  where id = '17970'
2575 /lvl1/ HRga Superintendent

=>>>>>>>>>>>>>>>>>>>>>> 14962 /lvl2/ HRGA SUPERINTENDENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRGA SUPERINTENDENT", title_clean   = "HRGA SUPERINTENDENT", title_id  = "2575"  where id = '14962'
4879 /lvl1/ Recruitment Officer
=>>>>>>>>>>>>>>>>>>>>>> 202 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '202'
=>>>>>>>>>>>>>>>>>>>>>> 2615 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '2615'
=>>>>>>>>>>>>>>>>>>>>>> 4103 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '4103'
=>>>>>>>>>>>>>>>>>>>>>> 4143 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '4143'
=>>>>>>>>>>>>>>>>>>>>>> 4211 /lvl2/ Recruitment Officer (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "4879"  where id = '4211'
=>>>>>>>>>>>>>>>>>>>>>> 4972 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '4972'
=>>>>>>>>>>>>>>>>>>>>>> 5034 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '5034'
=>>>>>>>>>>>>>>>>>>>>>> 5112 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '5112'
=>>>>>>>>>>>>>>>>>>>>>> 6080 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '6080'
=>>>>>>>>>>>>>>>>>>>>>> 7827 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '7827'
=>>>>>>>>>>>>>>>>>>>>>> 8145 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '8145'
=>>>>>>>>>>>>>>>>>>>>>> 11272 /lvl2/ RECRUITMENT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT OFFICER", title_clean   = "RECRUITMENT OFFICER", title_id  = "4879"  where id = '11272'
=>>>>>>>>>>>>>>>>>>>>>> 11819 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '11819'
=>>>>>>>>>>>>>>>>>>>>>> 12746 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '12746'
=>>>>>>>>>>>>>>>>>>>>>> 13870 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '13870'
=>>>>>>>>>>>>>>>>>>>>>> 14589 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '14589'
=>>>>>>>>>>>>>>>>>>>>>> 16661 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '16661'
=>>>>>>>>>>>>>>>>>>>>>> 16676 /lvl2/ Recruitment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4879"  where id = '16676'
=>>>>>>>>>>>>>>>>>>>>>> 19735 /lvl2/ RECRUITMENT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT OFFICER", title_clean   = "RECRUITMENT OFFICER", title_id  = "4879"  where id = '19735'
=>>>>>>>>>>>>>>>>>>>>>> 19761 /lvl2/ RECRUITMENT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT OFFICER", title_clean   = "RECRUITMENT OFFICER", title_id  = "4879"  where id = '19761'
6159 /lvl1/ Staff Sales Project
=>>>>>>>>>>>>>>>>>>>>>> 1082 /lvl2/ STAFF SALES PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF SALES PROJECT", title_clean   = "STAFF SALES PROJECT", title_id  = "6159"  where id = '1082'
6927 /lvl1/ Wakil Kepala Gudang
=>>>>>>>>>>>>>>>>>>>>>> 3704 /lvl2/ WAKIL KEPALA GUDANG - SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAKIL KEPALA GUDANG - SURABAYA", title_clean   = "WAKIL KEPALA GUDANG - SURABAYA", title_id  = "6927"  where id = '3704'
=>>>>>>>>>>>>>>>>>>>>>> 4713 /lvl2/ WAKIL KEPALA GUDANG - SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAKIL KEPALA GUDANG - SURABAYA", title_clean   = "WAKIL KEPALA GUDANG - SURABAYA", title_id  = "6927"  where id = '4713'
=>>>>>>>>>>>>>>>>>>>>>> 15232 /lvl2/ WAKIL KEPALA GUDANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAKIL KEPALA GUDANG", title_clean   = "WAKIL KEPALA GUDANG", title_id  = "6927"  where id = '15232'
=>>>>>>>>>>>>>>>>>>>>>> 17438 /lvl2/ Wakil Kepala Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6927"  where id = '17438'
6928 /lvl1/ Wakil Kepala Teknik
=>>>>>>>>>>>>>>>>>>>>>> 1057 /lvl2/ Wakil Kepala Teknik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6928"  where id = '1057'
273 /lvl1/ Admin Telemarketing
=>>>>>>>>>>>>>>>>>>>>>> 17695 /lvl2/ Admin Telemarketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "273"  where id = '17695'
=>>>>>>>>>>>>>>>>>>>>>> 17705 /lvl2/ Admin Telemarketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "273"  where id = '17705'
1809 /lvl1/ Expansion Executive
=>>>>>>>>>>>>>>>>>>>>>> 2617 /lvl2/ Expansion Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1809"  where id = '2617'
4625 /lvl1/ Property Consultant
=>>>>>>>>>>>>>>>>>>>>>> 1249 /lvl2/ Property Consultant (Tangerang Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tangerang Area)", title_clean   = " (Tangerang Area)", title_id  = "4625"  where id = '1249'
=>>>>>>>>>>>>>>>>>>>>>> 1258 /lvl2/ Property Consultant (Tangerang Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tangerang Area)", title_clean   = " (Tangerang Area)", title_id  = "4625"  where id = '1258'
=>>>>>>>>>>>>>>>>>>>>>> 1889 /lvl2/ Property Consultant (Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales)", title_clean   = " (Sales)", title_id  = "4625"  where id = '1889'
=>>>>>>>>>>>>>>>>>>>>>> 10533 /lvl2/ Property Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4625"  where id = '10533'
=>>>>>>>>>>>>>>>>>>>>>> 10551 /lvl2/ Property Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4625"  where id = '10551'
5393 /lvl1/ Secondary Principal
=>>>>>>>>>>>>>>>>>>>>>> 3610 /lvl2/ SECONDARY PRINCIPAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECONDARY PRINCIPAL", title_clean   = "SECONDARY PRINCIPAL", title_id  = "5393"  where id = '3610'
6674 /lvl1/ Teknisi Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 2027 /lvl2/ Teknisi Maintenance (Telekomunikasi) - TASIKMALAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Telekomunikasi) - TASIKMALAYA", title_clean   = " (Telekomunikasi) - TASIKMALAYA", title_id  = "6674"  where id = '2027'
=>>>>>>>>>>>>>>>>>>>>>> 2717 /lvl2/ Teknisi Maintenance (Telekomunikasi) - TASIKMALAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Telekomunikasi) - TASIKMALAYA", title_clean   = " (Telekomunikasi) - TASIKMALAYA", title_id  = "6674"  where id = '2717'
=>>>>>>>>>>>>>>>>>>>>>> 8420 /lvl2/ Teknisi Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6674"  where id = '8420'
=>>>>>>>>>>>>>>>>>>>>>> 9643 /lvl2/ Teknisi Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6674"  where id = '9643'
=>>>>>>>>>>>>>>>>>>>>>> 13011 /lvl2/ TEKNISI MAINTENANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI MAINTENANCE", title_clean   = "TEKNISI MAINTENANCE", title_id  = "6674"  where id = '13011'
=>>>>>>>>>>>>>>>>>>>>>> 13267 /lvl2/ Teknisi Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6674"  where id = '13267'
=>>>>>>>>>>>>>>>>>>>>>> 13441 /lvl2/ Teknisi Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6674"  where id = '13441'
=>>>>>>>>>>>>>>>>>>>>>> 17188 /lvl2/ Teknisi Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6674"  where id = '17188'
5907 /lvl1/ Staff IT Programmer

=>>>>>>>>>>>>>>>>>>>>>> 7597 /lvl2/ Staff IT Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5907"  where id = '7597'
=>>>>>>>>>>>>>>>>>>>>>> 17752 /lvl2/ STAFF IT Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF IT Programmer", title_clean   = "STAFF IT Programmer", title_id  = "5907"  where id = '17752'
5652 /lvl1/ Senior System Admin
=>>>>>>>>>>>>>>>>>>>>>> 7106 /lvl2/ Senior System Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5652"  where id = '7106'
3861 /lvl1/ Mep Design Engineer
=>>>>>>>>>>>>>>>>>>>>>> 17310 /lvl2/ MEP Design Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEP Design Engineer", title_clean   = "MEP Design Engineer", title_id  = "3861"  where id = '17310'
2841 /lvl1/ It Application Lead
=>>>>>>>>>>>>>>>>>>>>>> 19577 /lvl2/ IT APPLICATION LEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT APPLICATION LEAD", title_clean   = "IT APPLICATION LEAD", title_id  = "2841"  where id = '19577'
3865 /lvl1/ Merchandise Planner
=>>>>>>>>>>>>>>>>>>>>>> 14776 /lvl2/ Merchandise Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3865"  where id = '14776'
284 /lvl1/ Administrasi Gudang
=>>>>>>>>>>>>>>>>>>>>>> 11204 /lvl2/ ADMINISTRASI GUDANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI GUDANG", title_clean   = "ADMINISTRASI GUDANG", title_id  = "284"  where id = '11204'
=>>>>>>>>>>>>>>>>>>>>>> 18341 /lvl2/ Administrasi Gudang Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Surabaya", title_clean   = " Surabaya", title_id  = "284"  where id = '18341'
=>>>>>>>>>>>>>>>>>>>>>> 18355 /lvl2/ Administrasi Gudang Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Surabaya", title_clean   = " Surabaya", title_id  = "284"  where id = '18355'
1564 /lvl1/ Drafter & Estimator
=>>>>>>>>>>>>>>>>>>>>>> 960 /lvl2/ DRAFTER & ESTIMATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER & ESTIMATOR", title_clean   = "DRAFTER & ESTIMATOR", title_id  = "1564"  where id = '960'
=>>>>>>>>>>>>>>>>>>>>>> 7732 /lvl2/ DRAFTER & ESTIMATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER & ESTIMATOR", title_clean   = "DRAFTER & ESTIMATOR", title_id  = "1564"  where id = '7732'
=>>>>>>>>>>>>>>>>>>>>>> 8040 /lvl2/ DRAFTER & ESTIMATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER & ESTIMATOR", title_clean   = "DRAFTER & ESTIMATOR", title_id  = "1564"  where id = '8040'
2332 /lvl1/ Head Dc / Warehouse
2078 /lvl1/ Foreman Maintenance
=>>>>>>>>>>>>>>>>>>>>>> 554 /lvl2/ Foreman Maintenance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2078"  where id = '554'
=>>>>>>>>>>>>>>>>>>>>>> 17307 /lvl2/ FOREMAN MAINTENANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FOREMAN MAINTENANCE", title_clean   = "FOREMAN MAINTENANCE", title_id  = "2078"  where id = '17307'
3102 /lvl1/ Junior Editor Video
=>>>>>>>>>>>>>>>>>>>>>> 14878 /lvl2/ JUNIOR EDITOR VIDEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR EDITOR VIDEO", title_clean   = "JUNIOR EDITOR VIDEO", title_id  = "3102"  where id = '14878'
6431 /lvl1/ Suppy Chain Officer
=>>>>>>>>>>>>>>>>>>>>>> 7960 /lvl2/ Suppy Chain Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6431"  where id = '7960'
=>>>>>>>>>>>>>>>>>>>>>> 8275 /lvl2/ Suppy Chain Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6431"  where id = '8275'
6176 /lvl1/ Staff Toko Komputer
=>>>>>>>>>>>>>>>>>>>>>> 11220 /lvl2/ Staff Toko Komputer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6176"  where id = '11220'
289 /lvl1/ Administrasi Kantor
=>>>>>>>>>>>>>>>>>>>>>> 2313 /lvl2/ Administrasi Kantor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "289"  where id = '2313'
=>>>>>>>>>>>>>>>>>>>>>> 15519 /lvl2/ Administrasi Kantor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "289"  where id = '15519'
1569 /lvl1/ Drafter Engineering
=>>>>>>>>>>>>>>>>>>>>>> 17099 /lvl2/ Drafter Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1569"  where id = '17099'
=>>>>>>>>>>>>>>>>>>>>>> 17117 /lvl2/ Drafter Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1569"  where id = '17117'
4129 /lvl1/ Pabx & Cctv Officer
=>>>>>>>>>>>>>>>>>>>>>> 19454 /lvl2/ PABX & CCTV OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PABX & CCTV OFFICER", title_clean   = "PABX & CCTV OFFICER", title_id  = "4129"  where id = '19454'
6433 /lvl1/ Survey Section Head
=>>>>>>>>>>>>>>>>>>>>>> 18530 /lvl2/ Survey Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6433"  where id = '18530'
6945 /lvl1/ Warehouse Executive
=>>>>>>>>>>>>>>>>>>>>>> 19923 /lvl2/ Warehouse Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6945"  where id = '19923'
4130 /lvl1/ Packaging Assistant
=>>>>>>>>>>>>>>>>>>>>>> 15320 /lvl2/ Packaging Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4130"  where id = '15320'
4131 /lvl1/ Painting Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19106 /lvl2/ Painting Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4131"  where id = '19106'
2084 /lvl1/ Formalities Officer
=>>>>>>>>>>>>>>>>>>>>>> 7537 /lvl2/ Formalities Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2084"  where id = '7537'
6693 /lvl1/ Teknisi Operasional
=>>>>>>>>>>>>>>>>>>>>>> 17111 /lvl2/ Teknisi Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6693"  where id = '17111'
6439 /lvl1/ Surveyor Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18100 /lvl2/ Surveyor Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6439"  where id = '18100'
296 /lvl1/ Administrasi Proyek
2601 /lvl1/ Hubungan Industrial
=>>>>>>>>>>>>>>>>>>>>>> 13355 /lvl2/ Hubungan Industrial
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2601"  where id = '13355'
5161 /lvl1/ Sales Executive B2B
=>>>>>>>>>>>>>>>>>>>>>> 1483 /lvl2/ Sales Executive B2B (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "5161"  where id = '1483'
=>>>>>>>>>>>>>>>>>>>>>> 4866 /lvl2/ Sales Executive B2B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5161"  where id = '4866'
=>>>>>>>>>>>>>>>>>>>>>> 6018 /lvl2/ Sales Executive B2B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5161"  where id = '6018'
3882 /lvl1/ Merchandising Buyer
=>>>>>>>>>>>>>>>>>>>>>> 1327 /lvl2/ Merchandising Buyer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3882"  where id = '1327'
4139 /lvl1/ Partner Integration
=>>>>>>>>>>>>>>>>>>>>>> 9985 /lvl2/ Partner Integration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4139"  where id = '9985'
1837 /lvl1/ Export Import Staff
=>>>>>>>>>>>>>>>>>>>>>> 2767 /lvl2/ EXPORT IMPORT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EXPORT IMPORT STAFF", title_clean   = "EXPORT IMPORT STAFF", title_id  = "1837"  where id = '2767'
=>>>>>>>>>>>>>>>>>>>>>> 3592 /lvl2/ EXPORT IMPORT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EXPORT IMPORT STAFF", title_clean   = "EXPORT IMPORT STAFF", title_id  = "1837"  where id = '3592'
=>>>>>>>>>>>>>>>>>>>>>> 6163 /lvl2/ Export Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1837"  where id = '6163'
=>>>>>>>>>>>>>>>>>>>>>> 15147 /lvl2/ Export Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1837"  where id = '15147'
=>>>>>>>>>>>>>>>>>>>>>> 16987 /lvl2/ Export Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1837"  where id = '16987'
=>>>>>>>>>>>>>>>>>>>>>> 20485 /lvl2/ Export Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1837"  where id = '20485'
4653 /lvl1/ Purchase Specialist

=>>>>>>>>>>>>>>>>>>>>>> 385 /lvl2/ Purchase Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4653"  where id = '385'
=>>>>>>>>>>>>>>>>>>>>>> 417 /lvl2/ Purchase Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4653"  where id = '417'
304 /lvl1/ Administrasi Teknik
=>>>>>>>>>>>>>>>>>>>>>> 5117 /lvl2/ Administrasi Teknik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "304"  where id = '5117'
=>>>>>>>>>>>>>>>>>>>>>> 6227 /lvl2/ Administrasi Teknik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "304"  where id = '6227'
2353 /lvl1/ Head of Engineering
=>>>>>>>>>>>>>>>>>>>>>> 4185 /lvl2/ Head of Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2353"  where id = '4185'
2099 /lvl1/ Freelance Recruiter
=>>>>>>>>>>>>>>>>>>>>>> 18611 /lvl2/ Freelance Recruiter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2099"  where id = '18611'
1588 /lvl1/ Drafter Project Mep
=>>>>>>>>>>>>>>>>>>>>>> 1167 /lvl2/ Drafter Project MEP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Drafter Project MEP", title_clean   = "Drafter Project MEP", title_id  = "1588"  where id = '1167'
2356 /lvl1/ Head of Field Sales
=>>>>>>>>>>>>>>>>>>>>>> 14697 /lvl2/ Head of Field Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2356"  where id = '14697'
=>>>>>>>>>>>>>>>>>>>>>> 15097 /lvl2/ Head of Field Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2356"  where id = '15097'
5172 /lvl1/ Sales Executive Oem
=>>>>>>>>>>>>>>>>>>>>>> 11880 /lvl2/ Sales Executive OEM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Executive OEM", title_clean   = "Sales Executive OEM", title_id  = "5172"  where id = '11880'
5429 /lvl1/ Sekretaris Direktur
=>>>>>>>>>>>>>>>>>>>>>> 12363 /lvl2/ Sekretaris Direktur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5429"  where id = '12363'
=>>>>>>>>>>>>>>>>>>>>>> 19636 /lvl2/ Sekretaris Direktur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5429"  where id = '19636'
310 /lvl1/ Administration Head
=>>>>>>>>>>>>>>>>>>>>>> 2079 /lvl2/ Administration Head (ADH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ADH)", title_clean   = " (ADH)", title_id  = "310"  where id = '2079'
=>>>>>>>>>>>>>>>>>>>>>> 3562 /lvl2/ ADMINISTRATION HEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRATION HEAD", title_clean   = "ADMINISTRATION HEAD", title_id  = "310"  where id = '3562'
=>>>>>>>>>>>>>>>>>>>>>> 4960 /lvl2/ Administration Head (Karawang, Pontianak, Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawang, Pontianak, Jakarta)", title_clean   = " (Karawang, Pontianak, Jakarta)", title_id  = "310"  where id = '4960'
=>>>>>>>>>>>>>>>>>>>>>> 9892 /lvl2/ Administration Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "310"  where id = '9892'
1590 /lvl1/ Drafter Refrigerasi
=>>>>>>>>>>>>>>>>>>>>>> 1001 /lvl2/ DRAFTER REFRIGERASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER REFRIGERASI", title_clean   = "DRAFTER REFRIGERASI", title_id  = "1590"  where id = '1001'
=>>>>>>>>>>>>>>>>>>>>>> 1023 /lvl2/ DRAFTER REFRIGERASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER REFRIGERASI", title_clean   = "DRAFTER REFRIGERASI", title_id  = "1590"  where id = '1023'
3127 /lvl1/ Junior Office Admin
=>>>>>>>>>>>>>>>>>>>>>> 15204 /lvl2/ Junior Office Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3127"  where id = '15204'
1081 /lvl1/ Content Strategiest
=>>>>>>>>>>>>>>>>>>>>>> 11451 /lvl2/ Content Strategiest
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1081"  where id = '11451'
4666 /lvl1/ Purchasing Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11630 /lvl2/ Purchasing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4666"  where id = '11630'
6203 /lvl1/ Store Manager Papua
=>>>>>>>>>>>>>>>>>>>>>> 470 /lvl2/ Store Manager Papua
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6203"  where id = '470'
6715 /lvl1/ Telemarketing Staff
=>>>>>>>>>>>>>>>>>>>>>> 11578 /lvl2/ Telemarketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6715"  where id = '11578'
=>>>>>>>>>>>>>>>>>>>>>> 12175 /lvl2/ Telemarketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6715"  where id = '12175'
=>>>>>>>>>>>>>>>>>>>>>> 12209 /lvl2/ Telemarketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6715"  where id = '12209'
=>>>>>>>>>>>>>>>>>>>>>> 15599 /lvl2/ Telemarketing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6715"  where id = '15599'
3645 /lvl1/ Marketing Assistant
=>>>>>>>>>>>>>>>>>>>>>> 3582 /lvl2/ MARKETING ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING ASSISTANT", title_clean   = "MARKETING ASSISTANT", title_id  = "3645"  where id = '3582'
=>>>>>>>>>>>>>>>>>>>>>> 5901 /lvl2/ Marketing Assistant (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "3645"  where id = '5901'
2110 /lvl1/ Front End Developer
=>>>>>>>>>>>>>>>>>>>>>> 3921 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '3921'
=>>>>>>>>>>>>>>>>>>>>>> 4371 /lvl2/ Front End Developer - PT Lippo Malls Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PT Lippo Malls Indonesia", title_clean   = " - PT Lippo Malls Indonesia", title_id  = "2110"  where id = '4371'
=>>>>>>>>>>>>>>>>>>>>>> 4624 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '4624'
=>>>>>>>>>>>>>>>>>>>>>> 4958 /lvl2/ Front End Developer (Project Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Project Based)", title_clean   = " (Project Based)", title_id  = "2110"  where id = '4958'
=>>>>>>>>>>>>>>>>>>>>>> 5019 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '5019'
=>>>>>>>>>>>>>>>>>>>>>> 5928 /lvl2/ FRONT END DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FRONT END DEVELOPER", title_clean   = "FRONT END DEVELOPER", title_id  = "2110"  where id = '5928'
=>>>>>>>>>>>>>>>>>>>>>> 6464 /lvl2/ Front end Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Front end Developer", title_clean   = "Front end Developer", title_id  = "2110"  where id = '6464'
=>>>>>>>>>>>>>>>>>>>>>> 7801 /lvl2/ Mobile Front End Developer (Flutter)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile -idex- (Flutter)", title_clean   = "Mobile  (Flutter)", title_id  = "2110"  where id = '7801'
=>>>>>>>>>>>>>>>>>>>>>> 8384 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '8384'
=>>>>>>>>>>>>>>>>>>>>>> 8397 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '8397'
=>>>>>>>>>>>>>>>>>>>>>> 8451 /lvl2/ Front end developer (Web dan Mobile)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Front end developer (Web dan Mobile)", title_clean   = "Front end developer (Web dan Mobile)", title_id  = "2110"  where id = '8451'
=>>>>>>>>>>>>>>>>>>>>>> 8900 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '8900'
=>>>>>>>>>>>>>>>>>>>>>> 9913 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '9913'
=>>>>>>>>>>>>>>>>>>>>>> 10033 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '10033'
=>>>>>>>>>>>>>>>>>>>>>> 10075 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '10075'
=>>>>>>>>>>>>>>>>>>>>>> 10787 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '10787'
=>>>>>>>>>>>>>>>>>>>>>> 12293 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '12293'
=>>>>>>>>>>>>>>>>>>>>>> 12898 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '12898'
=>>>>>>>>>>>>>>>>>>>>>> 13285 /lvl2/ Front End Developer (Angular 8+)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Angular 8+)", title_clean   = " (Angular 8+)", title_id  = "2110"  where id = '13285'
=>>>>>>>>>>>>>>>>>>>>>> 14792 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '14792'
=>>>>>>>>>>>>>>>>>>>>>> 15522 /lvl2/ Front End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2110"  where id = '15522'
=>>>>>>>>>>>>>>>>>>>>>> 15820 /lvl2/ FRONT END DEVELOPER - Fresh Graduates are Welcome
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FRONT END DEVELOPER - Fresh Graduates are Welcome", title_clean   = "FRONT END DEVELOPER - Fresh Graduates are Welcome", title_id  = "2110"  where id = '15820'
=>>>>>>>>>>>>>>>>>>>>>> 16248 /lvl2/ React JS web and Mobile app Front end Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "React JS web and Mobile app Front end Developer", title_clean   = "React JS web and Mobile app Front end Developer", title_id  = "2110"  where id = '16248'
=>>>>>>>>>>>>>>>>>>>>>> 16270 /lvl2/ React JS web and Mobile app Front end Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "React JS web and Mobile app Front end Developer", title_clean   = "React JS web and Mobile app Front end Developer", title_id  = "2110"  where id = '16270'
=>>>>>>>>>>>>>>>>>>>>>> 16360 /lvl2/ Senior Consultant – Front End Developer – ID
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Consultant – -idex- – ID", title_clean   = "Senior Consultant –  – ID", title_id  = "2110"  where id = '16360'
=>>>>>>>>>>>>>>>>>>>>>> 18746 /lvl2/ Front End Developer IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- IT", title_clean   = " IT", title_id  = "2110"  where id = '18746'
6718 /lvl1/ Telesales Associate

=>>>>>>>>>>>>>>>>>>>>>> 1090 /lvl2/ Telesales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6718"  where id = '1090'
=>>>>>>>>>>>>>>>>>>>>>> 10839 /lvl2/ Telesales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6718"  where id = '10839'
=>>>>>>>>>>>>>>>>>>>>>> 17193 /lvl2/ Telesales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6718"  where id = '17193'
3647 /lvl1/ Marketing Associate
=>>>>>>>>>>>>>>>>>>>>>> 9602 /lvl2/ Marketing Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3647"  where id = '9602'
=>>>>>>>>>>>>>>>>>>>>>> 13329 /lvl2/ Marketing Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3647"  where id = '13329'
=>>>>>>>>>>>>>>>>>>>>>> 14756 /lvl2/ Marketing Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3647"  where id = '14756'
6720 /lvl1/ Telesales Executive
=>>>>>>>>>>>>>>>>>>>>>> 9841 /lvl2/ Telesales Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6720"  where id = '9841'
4419 /lvl1/ Procurement Manager
=>>>>>>>>>>>>>>>>>>>>>> 2506 /lvl2/ Procurement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4419"  where id = '2506'
=>>>>>>>>>>>>>>>>>>>>>> 3820 /lvl2/ Procurement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4419"  where id = '3820'
=>>>>>>>>>>>>>>>>>>>>>> 9153 /lvl2/ PROCUREMENT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCUREMENT MANAGER", title_clean   = "PROCUREMENT MANAGER", title_id  = "4419"  where id = '9153'
=>>>>>>>>>>>>>>>>>>>>>> 14046 /lvl2/ Procurement Manager (Central Kitchen)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Central Kitchen)", title_clean   = " (Central Kitchen)", title_id  = "4419"  where id = '14046'
=>>>>>>>>>>>>>>>>>>>>>> 15044 /lvl2/ Procurement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4419"  where id = '15044'
=>>>>>>>>>>>>>>>>>>>>>> 15223 /lvl2/ Procurement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4419"  where id = '15223'
=>>>>>>>>>>>>>>>>>>>>>> 19232 /lvl2/ Procurement Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4419"  where id = '19232'
5187 /lvl1/ Sales Force Motoris
=>>>>>>>>>>>>>>>>>>>>>> 7289 /lvl2/ SALES FORCE MOTORIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES FORCE MOTORIS", title_clean   = "SALES FORCE MOTORIS", title_id  = "5187"  where id = '7289'
=>>>>>>>>>>>>>>>>>>>>>> 8737 /lvl2/ SALES FORCE MOTORIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES FORCE MOTORIS", title_clean   = "SALES FORCE MOTORIS", title_id  = "5187"  where id = '8737'
6211 /lvl1/ Strategic Assistant
=>>>>>>>>>>>>>>>>>>>>>> 20202 /lvl2/ Strategic Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6211"  where id = '20202'
580 /lvl1/ Auditor Sistem Mutu
=>>>>>>>>>>>>>>>>>>>>>> 938 /lvl2/ Auditor Sistem Mutu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "580"  where id = '938'
836 /lvl1/ Card & Loan Officer
=>>>>>>>>>>>>>>>>>>>>>> 6438 /lvl2/ Card & Loan Officer Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Banjarmasin", title_clean   = " Banjarmasin", title_id  = "836"  where id = '6438'
1604 /lvl1/ Driver Logistik Fnb
=>>>>>>>>>>>>>>>>>>>>>> 4660 /lvl2/ Driver Logistik FnB
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Driver Logistik FnB", title_clean   = "Driver Logistik FnB", title_id  = "1604"  where id = '4660'
4420 /lvl1/ Procurement Officer
=>>>>>>>>>>>>>>>>>>>>>> 780 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '780'
=>>>>>>>>>>>>>>>>>>>>>> 1015 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '1015'
=>>>>>>>>>>>>>>>>>>>>>> 2534 /lvl2/ Procurement Officer (Buyer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Buyer)", title_clean   = " (Buyer)", title_id  = "4420"  where id = '2534'
=>>>>>>>>>>>>>>>>>>>>>> 7937 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '7937'
=>>>>>>>>>>>>>>>>>>>>>> 8253 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '8253'
=>>>>>>>>>>>>>>>>>>>>>> 13016 /lvl2/ Procurement Officer (Export-Import)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Export-Import)", title_clean   = " (Export-Import)", title_id  = "4420"  where id = '13016'
=>>>>>>>>>>>>>>>>>>>>>> 13195 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '13195'
=>>>>>>>>>>>>>>>>>>>>>> 13763 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '13763'
=>>>>>>>>>>>>>>>>>>>>>> 14643 /lvl2/ Procurement Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4420"  where id = '14643'
4679 /lvl1/ Purchasing Ofificer
=>>>>>>>>>>>>>>>>>>>>>> 914 /lvl2/ Purchasing Ofificer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4679"  where id = '914'
841 /lvl1/ Cargo Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 5799 /lvl2/ Cargo Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "841"  where id = '5799'
5962 /lvl1/ Staff Admin Finance
=>>>>>>>>>>>>>>>>>>>>>> 5003 /lvl2/ Staff Admin Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5962"  where id = '5003'
331 /lvl1/ After Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 3757 /lvl2/ AFTER SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AFTER SALES MANAGER", title_clean   = "AFTER SALES MANAGER", title_id  = "331"  where id = '3757'
=>>>>>>>>>>>>>>>>>>>>>> 15796 /lvl2/ After Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "331"  where id = '15796'
1355 /lvl1/ Data Center Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11286 /lvl2/ Data Center Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1355"  where id = '11286'
1869 /lvl1/ Facility Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17007 /lvl2/ Facility Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1869"  where id = '17007'
=>>>>>>>>>>>>>>>>>>>>>> 17024 /lvl2/ Facility Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1869"  where id = '17024'
590 /lvl1/ B2B Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 12094 /lvl2/ B2B Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "590"  where id = '12094'
=>>>>>>>>>>>>>>>>>>>>>> 12908 /lvl2/ B2B Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "590"  where id = '12908'
1870 /lvl1/ Facility Technician
=>>>>>>>>>>>>>>>>>>>>>> 20244 /lvl2/ Facility Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1870"  where id = '20244'
2126 /lvl1/ Full Stack Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6384 /lvl2/ Full Stack Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2126"  where id = '6384'
=>>>>>>>>>>>>>>>>>>>>>> 6605 /lvl2/ Full Stack Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2126"  where id = '6605'
=>>>>>>>>>>>>>>>>>>>>>> 7538 /lvl2/ Full Stack Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2126"  where id = '7538'
=>>>>>>>>>>>>>>>>>>>>>> 12996 /lvl2/ Pelatihan Full Stack Engineer (Fresh Graduated)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Pelatihan -idex- (Fresh Graduated)", title_clean   = "Pelatihan  (Fresh Graduated)", title_id  = "2126"  where id = '12996'
1106 /lvl1/ Coordinator Project
=>>>>>>>>>>>>>>>>>>>>>> 5397 /lvl2/ Coordinator Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1106"  where id = '5397'
6994 /lvl1/ Webtoon Line Artist

=>>>>>>>>>>>>>>>>>>>>>> 16016 /lvl2/ Webtoon Line Artist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6994"  where id = '16016'
3411 /lvl1/ Logistic Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 236 /lvl2/ Branch Logistic Supervisor (Makassar Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Branch -idex- (Makassar Branch)", title_clean   = "Branch  (Makassar Branch)", title_id  = "3411"  where id = '236'
=>>>>>>>>>>>>>>>>>>>>>> 569 /lvl2/ Logistic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3411"  where id = '569'
=>>>>>>>>>>>>>>>>>>>>>> 4877 /lvl2/ Branch Logistic Supervisor (Pontianak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Branch -idex- (Pontianak Branch)", title_clean   = "Branch  (Pontianak Branch)", title_id  = "3411"  where id = '4877'
=>>>>>>>>>>>>>>>>>>>>>> 7559 /lvl2/ Logistic Supervisor (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "3411"  where id = '7559'
=>>>>>>>>>>>>>>>>>>>>>> 8626 /lvl2/ Logistic Supervisor - Riau
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Riau", title_clean   = " - Riau", title_id  = "3411"  where id = '8626'
=>>>>>>>>>>>>>>>>>>>>>> 11078 /lvl2/ Logistic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3411"  where id = '11078'
=>>>>>>>>>>>>>>>>>>>>>> 11638 /lvl2/ Logistic Supervisor (Penempatan P. Obi, Maluku Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan P. Obi, Maluku Utara)", title_clean   = " (Penempatan P. Obi, Maluku Utara)", title_id  = "3411"  where id = '11638'
2388 /lvl1/ Head of Procurement
=>>>>>>>>>>>>>>>>>>>>>> 573 /lvl2/ Head of Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2388"  where id = '573'
=>>>>>>>>>>>>>>>>>>>>>> 9962 /lvl2/ Head of Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2388"  where id = '9962'
=>>>>>>>>>>>>>>>>>>>>>> 18569 /lvl2/ Head of Procurement and Cost
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Cost", title_clean   = " and Cost", title_id  = "2388"  where id = '18569'
5973 /lvl1/ Staff Admininstrasi
=>>>>>>>>>>>>>>>>>>>>>> 115 /lvl2/ Staff Admininstrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5973"  where id = '115'
1110 /lvl1/ Copywriter Creative
=>>>>>>>>>>>>>>>>>>>>>> 6847 /lvl2/ Copywriter Creative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1110"  where id = '6847'
5462 /lvl1/ Senior Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 11410 /lvl2/ Staff Senior Administrasi dan Keuangan (Ciamis)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex- dan Keuangan (Ciamis)", title_clean   = "Staff  dan Keuangan (Ciamis)", title_id  = "5462"  where id = '11410'
=>>>>>>>>>>>>>>>>>>>>>> 14171 /lvl2/ Senior Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5462"  where id = '14171'
=>>>>>>>>>>>>>>>>>>>>>> 14522 /lvl2/ Senior Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5462"  where id = '14522'
1623 /lvl1/ Early Years Teacher
=>>>>>>>>>>>>>>>>>>>>>> 19146 /lvl2/ EARLY YEARS TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EARLY YEARS TEACHER", title_clean   = "EARLY YEARS TEACHER", title_id  = "1623"  where id = '19146'
4439 /lvl1/ Product Design Lead
=>>>>>>>>>>>>>>>>>>>>>> 2873 /lvl2/ Product Design Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4439"  where id = '2873'
3160 /lvl1/ Ka Pabrik Ka Gudang
4441 /lvl1/ Product Development
=>>>>>>>>>>>>>>>>>>>>>> 2826 /lvl2/ Product Development - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jakarta", title_clean   = " - Jakarta", title_id  = "4441"  where id = '2826'
=>>>>>>>>>>>>>>>>>>>>>> 6889 /lvl2/ Business and Product Development (Secondate)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Business and -idex- (Secondate)", title_clean   = "Business and  (Secondate)", title_id  = "4441"  where id = '6889'
=>>>>>>>>>>>>>>>>>>>>>> 8861 /lvl2/ Product Development - PVC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PVC", title_clean   = " - PVC", title_id  = "4441"  where id = '8861'
=>>>>>>>>>>>>>>>>>>>>>> 9223 /lvl2/ Drafter Furniture – Product Development Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Drafter Furniture – -idex- Engineering", title_clean   = "Drafter Furniture –  Engineering", title_id  = "4441"  where id = '9223'
=>>>>>>>>>>>>>>>>>>>>>> 9521 /lvl2/ Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4441"  where id = '9521'
=>>>>>>>>>>>>>>>>>>>>>> 9979 /lvl2/ Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4441"  where id = '9979'
=>>>>>>>>>>>>>>>>>>>>>> 10102 /lvl2/ New Product Development (NPD) Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "New -idex- (NPD) Engineer", title_clean   = "New  (NPD) Engineer", title_id  = "4441"  where id = '10102'
=>>>>>>>>>>>>>>>>>>>>>> 11510 /lvl2/ Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4441"  where id = '11510'
=>>>>>>>>>>>>>>>>>>>>>> 11539 /lvl2/ Product Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4441"  where id = '11539'
=>>>>>>>>>>>>>>>>>>>>>> 17297 /lvl2/ New Product Development (NPD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "New -idex- (NPD)", title_clean   = "New  (NPD)", title_id  = "4441"  where id = '17297'
=>>>>>>>>>>>>>>>>>>>>>> 17313 /lvl2/ New Product Development (NPD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "New -idex- (NPD)", title_clean   = "New  (NPD)", title_id  = "4441"  where id = '17313'
=>>>>>>>>>>>>>>>>>>>>>> 19098 /lvl2/ Product Development (Export)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Export)", title_clean   = " (Export)", title_id  = "4441"  where id = '19098'
=>>>>>>>>>>>>>>>>>>>>>> 19262 /lvl2/ Product Development (Hair & Fragrance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hair & Fragrance)", title_clean   = " (Hair & Fragrance)", title_id  = "4441"  where id = '19262'
2906 /lvl1/ It Governance Staff
=>>>>>>>>>>>>>>>>>>>>>> 7549 /lvl2/ IT Governance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Governance Staff", title_clean   = "IT Governance Staff", title_id  = "2906"  where id = '7549'
=>>>>>>>>>>>>>>>>>>>>>> 10659 /lvl2/ IT GOVERNANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT GOVERNANCE STAFF", title_clean   = "IT GOVERNANCE STAFF", title_id  = "2906"  where id = '10659'
=>>>>>>>>>>>>>>>>>>>>>> 11838 /lvl2/ IT Governance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Governance Staff", title_clean   = "IT Governance Staff", title_id  = "2906"  where id = '11838'
6234 /lvl1/ Students Counsellor
=>>>>>>>>>>>>>>>>>>>>>> 3735 /lvl2/ Students Counsellor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6234"  where id = '3735'
7002 /lvl1/ Wellness Programmer
=>>>>>>>>>>>>>>>>>>>>>> 6335 /lvl2/ Wellness Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7002"  where id = '6335'
5723 /lvl1/ She Country Manager
=>>>>>>>>>>>>>>>>>>>>>> 2922 /lvl2/ SHE Country Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SHE Country Manager", title_clean   = "SHE Country Manager", title_id  = "5723"  where id = '2922'
3422 /lvl1/ Logistik Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12721 /lvl2/ Logistik Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3422"  where id = '12721'
=>>>>>>>>>>>>>>>>>>>>>> 12850 /lvl2/ Logistik Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3422"  where id = '12850'
=>>>>>>>>>>>>>>>>>>>>>> 17245 /lvl2/ LOGISTIK SUPERVISOR - SUNTER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LOGISTIK SUPERVISOR - SUNTER", title_clean   = "LOGISTIK SUPERVISOR - SUNTER", title_id  = "3422"  where id = '17245'
=>>>>>>>>>>>>>>>>>>>>>> 17261 /lvl2/ LOGISTIK SUPERVISOR - SUNTER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LOGISTIK SUPERVISOR - SUNTER", title_clean   = "LOGISTIK SUPERVISOR - SUNTER", title_id  = "3422"  where id = '17261'
=>>>>>>>>>>>>>>>>>>>>>> 18838 /lvl2/ Logistik Supervisor - Berau
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Berau", title_clean   = " - Berau", title_id  = "3422"  where id = '18838'
6239 /lvl1/ Superitendent Legal

=>>>>>>>>>>>>>>>>>>>>>> 1697 /lvl2/ Superitendent Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6239"  where id = '1697'
7007 /lvl1/ Wordpress Developer
=>>>>>>>>>>>>>>>>>>>>>> 16105 /lvl2/ WordPress Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WordPress Developer", title_clean   = "WordPress Developer", title_id  = "7007"  where id = '16105'
4704 /lvl1/ Qa & Training Staff
=>>>>>>>>>>>>>>>>>>>>>> 12023 /lvl2/ QA & Training Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA & Training Staff", title_clean   = "QA & Training Staff", title_id  = "4704"  where id = '12023'
609 /lvl1/ Bancassurance Staff
=>>>>>>>>>>>>>>>>>>>>>> 3088 /lvl2/ Bancassurance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "609"  where id = '3088'
354 /lvl1/ Analis Laboratorium
=>>>>>>>>>>>>>>>>>>>>>> 1397 /lvl2/ Analis Laboratorium Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Surabaya", title_clean   = " Surabaya", title_id  = "354"  where id = '1397'
=>>>>>>>>>>>>>>>>>>>>>> 5410 /lvl2/ Analis Laboratorium (Denpasar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Denpasar)", title_clean   = " (Denpasar)", title_id  = "354"  where id = '5410'
=>>>>>>>>>>>>>>>>>>>>>> 6281 /lvl2/ ANALIS LABORATORIUM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ANALIS LABORATORIUM", title_clean   = "ANALIS LABORATORIUM", title_id  = "354"  where id = '6281'
=>>>>>>>>>>>>>>>>>>>>>> 7447 /lvl2/ ANALIS LABORATORIUM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ANALIS LABORATORIUM", title_clean   = "ANALIS LABORATORIUM", title_id  = "354"  where id = '7447'
=>>>>>>>>>>>>>>>>>>>>>> 14053 /lvl2/ Analis Laboratorium
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "354"  where id = '14053'
=>>>>>>>>>>>>>>>>>>>>>> 14407 /lvl2/ Analis Laboratorium
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "354"  where id = '14407'
=>>>>>>>>>>>>>>>>>>>>>> 14425 /lvl2/ Analis Laboratorium
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "354"  where id = '14425'
5986 /lvl1/ Staff Administrator
=>>>>>>>>>>>>>>>>>>>>>> 383 /lvl2/ STAFF ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRATOR", title_clean   = "STAFF ADMINISTRATOR", title_id  = "5986"  where id = '383'
=>>>>>>>>>>>>>>>>>>>>>> 17590 /lvl2/ STAFF ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRATOR", title_clean   = "STAFF ADMINISTRATOR", title_id  = "5986"  where id = '17590'
=>>>>>>>>>>>>>>>>>>>>>> 18481 /lvl2/ STAFF ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRATOR", title_clean   = "STAFF ADMINISTRATOR", title_id  = "5986"  where id = '18481'
5732 /lvl1/ Shopkeeper / Driver
5988 /lvl1/ Staff Akuntansi Tax
7013 /lvl1/ Workshop Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 17992 /lvl2/ Workshop Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7013"  where id = '17992'
3433 /lvl1/ Magang Receptionist
=>>>>>>>>>>>>>>>>>>>>>> 12222 /lvl2/ Magang Receptionist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3433"  where id = '12222'
3690 /lvl1/ Marketing Executive
=>>>>>>>>>>>>>>>>>>>>>> 1174 /lvl2/ Sales And Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales And -idex-", title_clean   = "Sales And ", title_id  = "3690"  where id = '1174'
=>>>>>>>>>>>>>>>>>>>>>> 1374 /lvl2/ Marketing Executive (Medical Specialist)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medical Specialist)", title_clean   = " (Medical Specialist)", title_id  = "3690"  where id = '1374'
=>>>>>>>>>>>>>>>>>>>>>> 1828 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '1828'
=>>>>>>>>>>>>>>>>>>>>>> 1848 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '1848'
=>>>>>>>>>>>>>>>>>>>>>> 2118 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '2118'
=>>>>>>>>>>>>>>>>>>>>>> 2240 /lvl2/ Marketing Executive (Tool Manufacturer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tool Manufacturer)", title_clean   = " (Tool Manufacturer)", title_id  = "3690"  where id = '2240'
=>>>>>>>>>>>>>>>>>>>>>> 2507 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '2507'
=>>>>>>>>>>>>>>>>>>>>>> 2533 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '2533'
=>>>>>>>>>>>>>>>>>>>>>> 2621 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '2621'
=>>>>>>>>>>>>>>>>>>>>>> 2792 /lvl2/ Marketing Executive – Polymer Polyethylene (PE) and Polypropylene (PP) Beads
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Polymer Polyethylene (PE) and Polypropylene (PP) Beads", title_clean   = " – Polymer Polyethylene (PE) and Polypropylene (PP) Beads", title_id  = "3690"  where id = '2792'
=>>>>>>>>>>>>>>>>>>>>>> 3062 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '3062'
=>>>>>>>>>>>>>>>>>>>>>> 3271 /lvl2/ Marketing Executive (For Mineral Metal & Petrochem)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (For Mineral Metal & Petrochem)", title_clean   = " (For Mineral Metal & Petrochem)", title_id  = "3690"  where id = '3271'
=>>>>>>>>>>>>>>>>>>>>>> 3745 /lvl2/ Marketing Executive Partnership (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Partnership (Medan)", title_clean   = " Partnership (Medan)", title_id  = "3690"  where id = '3745'
=>>>>>>>>>>>>>>>>>>>>>> 4175 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '4175'
=>>>>>>>>>>>>>>>>>>>>>> 4445 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '4445'
=>>>>>>>>>>>>>>>>>>>>>> 4616 /lvl2/ Marketing Executive (Balikpapan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Balikpapan)", title_clean   = " (Balikpapan)", title_id  = "3690"  where id = '4616'
=>>>>>>>>>>>>>>>>>>>>>> 4848 /lvl2/ MARKETING EXECUTIVE (ME JAKARTA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE (ME JAKARTA)", title_clean   = "MARKETING EXECUTIVE (ME JAKARTA)", title_id  = "3690"  where id = '4848'
=>>>>>>>>>>>>>>>>>>>>>> 4911 /lvl2/ MARKETING EXECUTIVE AREA SULAWESI (ME-SULAWESI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE AREA SULAWESI (ME-SULAWESI)", title_clean   = "MARKETING EXECUTIVE AREA SULAWESI (ME-SULAWESI)", title_id  = "3690"  where id = '4911'
=>>>>>>>>>>>>>>>>>>>>>> 5170 /lvl2/ MARKETING EXECUTIVE AREA JAWA TIMUR (ME-JATIM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE AREA JAWA TIMUR (ME-JATIM)", title_clean   = "MARKETING EXECUTIVE AREA JAWA TIMUR (ME-JATIM)", title_id  = "3690"  where id = '5170'
=>>>>>>>>>>>>>>>>>>>>>> 5681 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '5681'
=>>>>>>>>>>>>>>>>>>>>>> 5821 /lvl2/ SALES ENGINEER  /  MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ENGINEER  /  MARKETING EXECUTIVE", title_clean   = "SALES ENGINEER  /  MARKETING EXECUTIVE", title_id  = "3690"  where id = '5821'
=>>>>>>>>>>>>>>>>>>>>>> 6072 /lvl2/ Product Marketing Executive (Non Decorative Paint)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Product -idex- (Non Decorative Paint)", title_clean   = "Product  (Non Decorative Paint)", title_id  = "3690"  where id = '6072'
=>>>>>>>>>>>>>>>>>>>>>> 6615 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '6615'
=>>>>>>>>>>>>>>>>>>>>>> 7355 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '7355'
=>>>>>>>>>>>>>>>>>>>>>> 7705 /lvl2/ Marketing Executive - Event & Promotion
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Event & Promotion", title_clean   = " - Event & Promotion", title_id  = "3690"  where id = '7705'
=>>>>>>>>>>>>>>>>>>>>>> 7783 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '7783'
=>>>>>>>>>>>>>>>>>>>>>> 7800 /lvl2/ Marketing Executive - Placement in Surabaya (East Java)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Placement in Surabaya (East Java)", title_clean   = " - Placement in Surabaya (East Java)", title_id  = "3690"  where id = '7800'
=>>>>>>>>>>>>>>>>>>>>>> 7814 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '7814'
=>>>>>>>>>>>>>>>>>>>>>> 8077 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '8077'
=>>>>>>>>>>>>>>>>>>>>>> 8152 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '8152'
=>>>>>>>>>>>>>>>>>>>>>> 8405 /lvl2/ Marketing Executive  /  Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Manager", title_clean   = "  /  Manager", title_id  = "3690"  where id = '8405'
=>>>>>>>>>>>>>>>>>>>>>> 9281 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '9281'
=>>>>>>>>>>>>>>>>>>>>>> 9414 /lvl2/ Marketing Executive (Direct Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Direct Sales)", title_clean   = " (Direct Sales)", title_id  = "3690"  where id = '9414'
=>>>>>>>>>>>>>>>>>>>>>> 9547 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '9547'
=>>>>>>>>>>>>>>>>>>>>>> 9688 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '9688'
=>>>>>>>>>>>>>>>>>>>>>> 9820 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '9820'
=>>>>>>>>>>>>>>>>>>>>>> 11173 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '11173'
=>>>>>>>>>>>>>>>>>>>>>> 11623 /lvl2/ MARKETING EXECUTIVE AREA SUMATERA BAGIAN UTARA  (ME-SUMBAGUT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE AREA SUMATERA BAGIAN UTARA  (ME-SUMBAGUT)", title_clean   = "MARKETING EXECUTIVE AREA SUMATERA BAGIAN UTARA  (ME-SUMBAGUT)", title_id  = "3690"  where id = '11623'
=>>>>>>>>>>>>>>>>>>>>>> 11891 /lvl2/ Trade Marketing Executive - PT Kalbe Blackmores Nutrition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trade -idex- - PT Kalbe Blackmores Nutrition", title_clean   = "Trade  - PT Kalbe Blackmores Nutrition", title_id  = "3690"  where id = '11891'
=>>>>>>>>>>>>>>>>>>>>>> 12039 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '12039'
=>>>>>>>>>>>>>>>>>>>>>> 12311 /lvl2/ Marketing Executive - F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - F&B", title_clean   = " - F&B", title_id  = "3690"  where id = '12311'
=>>>>>>>>>>>>>>>>>>>>>> 12843 /lvl2/ Marketing Executive – Solvent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Solvent", title_clean   = " – Solvent", title_id  = "3690"  where id = '12843'
=>>>>>>>>>>>>>>>>>>>>>> 12844 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '12844'
=>>>>>>>>>>>>>>>>>>>>>> 12859 /lvl2/ Marketing Executive – Solvent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Solvent", title_clean   = " – Solvent", title_id  = "3690"  where id = '12859'
=>>>>>>>>>>>>>>>>>>>>>> 12860 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '12860'
=>>>>>>>>>>>>>>>>>>>>>> 13001 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '13001'
=>>>>>>>>>>>>>>>>>>>>>> 13515 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '13515'
=>>>>>>>>>>>>>>>>>>>>>> 13942 /lvl2/ MARKETING EXECUTIVE (DENPASAR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE (DENPASAR)", title_clean   = "MARKETING EXECUTIVE (DENPASAR)", title_id  = "3690"  where id = '13942'
=>>>>>>>>>>>>>>>>>>>>>> 14176 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '14176'
=>>>>>>>>>>>>>>>>>>>>>> 14476 /lvl2/ Marketing Executive Partnership (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Partnership (Yogyakarta)", title_clean   = " Partnership (Yogyakarta)", title_id  = "3690"  where id = '14476'
=>>>>>>>>>>>>>>>>>>>>>> 14504 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '14504'
=>>>>>>>>>>>>>>>>>>>>>> 14556 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '14556'
=>>>>>>>>>>>>>>>>>>>>>> 14719 /lvl2/ SALES \u002F MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES \u002F MARKETING EXECUTIVE", title_clean   = "SALES \u002F MARKETING EXECUTIVE", title_id  = "3690"  where id = '14719'
=>>>>>>>>>>>>>>>>>>>>>> 14877 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '14877'
=>>>>>>>>>>>>>>>>>>>>>> 14979 /lvl2/ Marketing Executive (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "3690"  where id = '14979'
=>>>>>>>>>>>>>>>>>>>>>> 15346 /lvl2/ Senior Marketing Executive (B2B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (B2B)", title_clean   = "Senior  (B2B)", title_id  = "3690"  where id = '15346'
=>>>>>>>>>>>>>>>>>>>>>> 15575 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '15575'
=>>>>>>>>>>>>>>>>>>>>>> 15619 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '15619'
=>>>>>>>>>>>>>>>>>>>>>> 15803 /lvl2/ Sales and Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3690"  where id = '15803'
=>>>>>>>>>>>>>>>>>>>>>> 16066 /lvl2/ Marketing Executive (Cirebon)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cirebon)", title_clean   = " (Cirebon)", title_id  = "3690"  where id = '16066'
=>>>>>>>>>>>>>>>>>>>>>> 18650 /lvl2/ STAFF MARKETING EXECUTIVE EMKLu002FLOGISTIK DAN EXIM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF MARKETING EXECUTIVE EMKLu002FLOGISTIK DAN EXIM", title_clean   = "STAFF MARKETING EXECUTIVE EMKLu002FLOGISTIK DAN EXIM", title_id  = "3690"  where id = '18650'
=>>>>>>>>>>>>>>>>>>>>>> 18938 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '18938'
=>>>>>>>>>>>>>>>>>>>>>> 18975 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '18975'
=>>>>>>>>>>>>>>>>>>>>>> 19187 /lvl2/ MARKETING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING EXECUTIVE", title_clean   = "MARKETING EXECUTIVE", title_id  = "3690"  where id = '19187'
=>>>>>>>>>>>>>>>>>>>>>> 19960 /lvl2/ Marketing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3690"  where id = '19960'
=>>>>>>>>>>>>>>>>>>>>>> 20097 /lvl2/ Corporate Marketing Executive - Jasa Konsultan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Corporate -idex- - Jasa Konsultan", title_clean   = "Corporate  - Jasa Konsultan", title_id  = "3690"  where id = '20097'
1389 /lvl1/ Delivery Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 19949 /lvl2/ Delivery Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1389"  where id = '19949'
4717 /lvl1/ Qa Order Processing
=>>>>>>>>>>>>>>>>>>>>>> 9065 /lvl2/ QA Order Processing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA Order Processing", title_clean   = "QA Order Processing", title_id  = "4717"  where id = '9065'
5230 /lvl1/ Sales Marketing B2B
=>>>>>>>>>>>>>>>>>>>>>> 6607 /lvl2/ Sales Marketing B2B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5230"  where id = '6607'
=>>>>>>>>>>>>>>>>>>>>>> 19416 /lvl2/ Sales Marketing B2B (Building Material Industry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Building Material Industry)", title_clean   = " (Building Material Industry)", title_id  = "5230"  where id = '19416'
6766 /lvl1/ Tools Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 5976 /lvl2/ TOOLS SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TOOLS SALES MANAGER", title_clean   = "TOOLS SALES MANAGER", title_id  = "6766"  where id = '5976'
=>>>>>>>>>>>>>>>>>>>>>> 7152 /lvl2/ TOOLS SALES MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TOOLS SALES MANAGER", title_clean   = "TOOLS SALES MANAGER", title_id  = "6766"  where id = '7152'
2162 /lvl1/ GAme Player Support
=>>>>>>>>>>>>>>>>>>>>>> 17017 /lvl2/ Game Player Support - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Game Player Support - Yogyakarta", title_clean   = "Game Player Support - Yogyakarta", title_id  = "2162"  where id = '17017'
=>>>>>>>>>>>>>>>>>>>>>> 20414 /lvl2/ Game Player Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Game Player Support", title_clean   = "Game Player Support", title_id  = "2162"  where id = '20414'
1396 /lvl1/ Department Head Tax
3700 /lvl1/ Marketing Franchise
=>>>>>>>>>>>>>>>>>>>>>> 13968 /lvl2/ Marketing Franchise
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3700"  where id = '13968'
3189 /lvl1/ Kepala Bidang Medis
=>>>>>>>>>>>>>>>>>>>>>> 10942 /lvl2/ Kepala Bidang Medis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3189"  where id = '10942'
=>>>>>>>>>>>>>>>>>>>>>> 10970 /lvl2/ Kepala Bidang Medis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3189"  where id = '10970'
4981 /lvl1/ Restaurant Waitress
=>>>>>>>>>>>>>>>>>>>>>> 12506 /lvl2/ Restaurant Waitress
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4981"  where id = '12506'
1398 /lvl1/ Deployment Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4753 /lvl2/ Deployment Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1398"  where id = '4753'
=>>>>>>>>>>>>>>>>>>>>>> 9160 /lvl2/ Senior Deployment Engineer (Microsoft Solution)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (Microsoft Solution)", title_clean   = "Senior  (Microsoft Solution)", title_id  = "1398"  where id = '9160'
1654 /lvl1/ Electrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5876 /lvl2/ Electrical Engineer (Spv. Level)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Spv. Level)", title_clean   = " (Spv. Level)", title_id  = "1654"  where id = '5876'
=>>>>>>>>>>>>>>>>>>>>>> 6089 /lvl2/ Electrical Engineer Assistant (Asisten Teknisi) - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Assistant (Asisten Teknisi) - Medan", title_clean   = " Assistant (Asisten Teknisi) - Medan", title_id  = "1654"  where id = '6089'
=>>>>>>>>>>>>>>>>>>>>>> 7269 /lvl2/ Electrical Engineer Assistant (Asisten Teknisi) - Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Assistant (Asisten Teknisi) - Medan", title_clean   = " Assistant (Asisten Teknisi) - Medan", title_id  = "1654"  where id = '7269'
=>>>>>>>>>>>>>>>>>>>>>> 8709 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '8709'
=>>>>>>>>>>>>>>>>>>>>>> 10439 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '10439'
=>>>>>>>>>>>>>>>>>>>>>> 10911 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '10911'
=>>>>>>>>>>>>>>>>>>>>>> 12058 /lvl2/ ELECTRICAL ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ELECTRICAL ENGINEER", title_clean   = "ELECTRICAL ENGINEER", title_id  = "1654"  where id = '12058'
=>>>>>>>>>>>>>>>>>>>>>> 12534 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '12534'
=>>>>>>>>>>>>>>>>>>>>>> 14009 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '14009'
=>>>>>>>>>>>>>>>>>>>>>> 15670 /lvl2/ ELECTRICAL ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ELECTRICAL ENGINEER", title_clean   = "ELECTRICAL ENGINEER", title_id  = "1654"  where id = '15670'
=>>>>>>>>>>>>>>>>>>>>>> 16098 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '16098'
=>>>>>>>>>>>>>>>>>>>>>> 17157 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '17157'
=>>>>>>>>>>>>>>>>>>>>>> 20217 /lvl2/ Electrical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1654"  where id = '20217'
=>>>>>>>>>>>>>>>>>>>>>> 20542 /lvl2/ Teknisi Elektro (Electrical Engineer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi Elektro (-idex-)", title_clean   = "Teknisi Elektro ()", title_id  = "1654"  where id = '20542'
3446 /lvl1/ Maintenance Manager
=>>>>>>>>>>>>>>>>>>>>>> 1973 /lvl2/ Maintenance manager (offset)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Maintenance manager (offset)", title_clean   = "Maintenance manager (offset)", title_id  = "3446"  where id = '1973'
=>>>>>>>>>>>>>>>>>>>>>> 3490 /lvl2/ Maintenance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3446"  where id = '3490'
=>>>>>>>>>>>>>>>>>>>>>> 4489 /lvl2/ Maintenance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3446"  where id = '4489'
=>>>>>>>>>>>>>>>>>>>>>> 10615 /lvl2/ Maintenance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3446"  where id = '10615'
6263 /lvl1/ Supervisor Chemical
=>>>>>>>>>>>>>>>>>>>>>> 10695 /lvl2/ Supervisor Chemical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6263"  where id = '10695'
=>>>>>>>>>>>>>>>>>>>>>> 10717 /lvl2/ Supervisor Chemical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6263"  where id = '10717'
3448 /lvl1/ Maintenance Planner
=>>>>>>>>>>>>>>>>>>>>>> 9836 /lvl2/ Maintenance Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3448"  where id = '9836'
=>>>>>>>>>>>>>>>>>>>>>> 17107 /lvl2/ Maintenance Planner (Karawang 2022)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawang 2022)", title_clean   = " (Karawang 2022)", title_id  = "3448"  where id = '17107'
6520 /lvl1/ Tax Department Head
=>>>>>>>>>>>>>>>>>>>>>> 11744 /lvl2/ Accounting Finance and Tax Department Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting Finance and -idex-", title_clean   = "Accounting Finance and ", title_id  = "6520"  where id = '11744'
6011 /lvl1/ Staff Desain Produk
=>>>>>>>>>>>>>>>>>>>>>> 3534 /lvl2/ Staff Desain Produk
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6011"  where id = '3534'
6013 /lvl1/ Staff Design Produk
=>>>>>>>>>>>>>>>>>>>>>> 18880 /lvl2/ Staff Design Produk
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6013"  where id = '18880'
6269 /lvl1/ Supervisor Creative
1150 /lvl1/ Corporate Marketing
=>>>>>>>>>>>>>>>>>>>>>> 3447 /lvl2/ Corporate Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1150"  where id = '3447'
=>>>>>>>>>>>>>>>>>>>>>> 18832 /lvl2/ Corporate Marketing (Area Palembang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Palembang)", title_clean   = " (Area Palembang)", title_id  = "1150"  where id = '18832'
=>>>>>>>>>>>>>>>>>>>>>> 19534 /lvl2/ Corporate Marketing (Area Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Bandung)", title_clean   = " (Area Bandung)", title_id  = "1150"  where id = '19534'
5502 /lvl1/ Senior Data Analyst

=>>>>>>>>>>>>>>>>>>>>>> 2342 /lvl2/ Senior Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5502"  where id = '2342'
=>>>>>>>>>>>>>>>>>>>>>> 10644 /lvl2/ Senior Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5502"  where id = '10644'
=>>>>>>>>>>>>>>>>>>>>>> 14258 /lvl2/ Senior Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5502"  where id = '14258'
2432 /lvl1/ Host Live Streaming
=>>>>>>>>>>>>>>>>>>>>>> 1488 /lvl2/ Host Live Streaming (E-Commerce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (E-Commerce)", title_clean   = " (E-Commerce)", title_id  = "2432"  where id = '1488'
=>>>>>>>>>>>>>>>>>>>>>> 2573 /lvl2/ Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2432"  where id = '2573'
=>>>>>>>>>>>>>>>>>>>>>> 2906 /lvl2/ Host Live Streaming  /  Streamer Tiktok dan Instragram Live
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Streamer Tiktok dan Instragram Live", title_clean   = "  /  Streamer Tiktok dan Instragram Live", title_id  = "2432"  where id = '2906'
=>>>>>>>>>>>>>>>>>>>>>> 3903 /lvl2/ HOST LIVE STREAMING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HOST LIVE STREAMING", title_clean   = "HOST LIVE STREAMING", title_id  = "2432"  where id = '3903'
=>>>>>>>>>>>>>>>>>>>>>> 4516 /lvl2/ Host Live Streaming (Hair Care Products)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hair Care Products)", title_clean   = " (Hair Care Products)", title_id  = "2432"  where id = '4516'
=>>>>>>>>>>>>>>>>>>>>>> 5583 /lvl2/ Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2432"  where id = '5583'
=>>>>>>>>>>>>>>>>>>>>>> 5598 /lvl2/ HOST LIVE STREAMING ( Jakarta Utara )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HOST LIVE STREAMING ( Jakarta Utara )", title_clean   = "HOST LIVE STREAMING ( Jakarta Utara )", title_id  = "2432"  where id = '5598'
=>>>>>>>>>>>>>>>>>>>>>> 6277 /lvl2/ Host Live Streaming E-Commerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- E-Commerce", title_clean   = " E-Commerce", title_id  = "2432"  where id = '6277'
=>>>>>>>>>>>>>>>>>>>>>> 6709 /lvl2/ Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2432"  where id = '6709'
=>>>>>>>>>>>>>>>>>>>>>> 7733 /lvl2/ Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2432"  where id = '7733'
=>>>>>>>>>>>>>>>>>>>>>> 8047 /lvl2/ Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2432"  where id = '8047'
=>>>>>>>>>>>>>>>>>>>>>> 11330 /lvl2/ Host Live Streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2432"  where id = '11330'
=>>>>>>>>>>>>>>>>>>>>>> 11784 /lvl2/ HOST LIVE STREAMING E-COMMERCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HOST LIVE STREAMING E-COMMERCE", title_clean   = "HOST LIVE STREAMING E-COMMERCE", title_id  = "2432"  where id = '11784'
4736 /lvl1/ Qc Chemical Analyst
=>>>>>>>>>>>>>>>>>>>>>> 19897 /lvl2/ QC Chemical Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Chemical Analyst", title_clean   = "QC Chemical Analyst", title_id  = "4736"  where id = '19897'
3457 /lvl1/ Maintenance Utility
=>>>>>>>>>>>>>>>>>>>>>> 17203 /lvl2/ MAINTENANCE UTILITY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MAINTENANCE UTILITY", title_clean   = "MAINTENANCE UTILITY", title_id  = "3457"  where id = '17203'
6785 /lvl1/ Trainer Development
=>>>>>>>>>>>>>>>>>>>>>> 4019 /lvl2/ Trainer development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trainer development", title_clean   = "Trainer development", title_id  = "6785"  where id = '4019'
2946 /lvl1/ It Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 11669 /lvl2/ IT MOBILE DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT MOBILE DEVELOPER", title_clean   = "IT MOBILE DEVELOPER", title_id  = "2946"  where id = '11669'
388 /lvl1/ Application Support
=>>>>>>>>>>>>>>>>>>>>>> 9067 /lvl2/ Application Support Engineer (Apache Tomcat, NginX, Weblogic)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Engineer (Apache Tomcat, NginX, Weblogic)", title_clean   = " Engineer (Apache Tomcat, NginX, Weblogic)", title_id  = "388"  where id = '9067'
=>>>>>>>>>>>>>>>>>>>>>> 14787 /lvl2/ Application Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "388"  where id = '14787'
=>>>>>>>>>>>>>>>>>>>>>> 15148 /lvl2/ Application Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "388"  where id = '15148'
1156 /lvl1/ Corporate Secretary
=>>>>>>>>>>>>>>>>>>>>>> 683 /lvl2/ Corporate Secretary - to Country Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - to Country Manager", title_clean   = " - to Country Manager", title_id  = "1156"  where id = '683'
=>>>>>>>>>>>>>>>>>>>>>> 3367 /lvl2/ Corporate Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1156"  where id = '3367'
=>>>>>>>>>>>>>>>>>>>>>> 4315 /lvl2/ Corporate Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1156"  where id = '4315'
=>>>>>>>>>>>>>>>>>>>>>> 4687 /lvl2/ Manager Corporate Secretary, Legal and Compliance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager -idex-, Legal and Compliance", title_clean   = "Manager , Legal and Compliance", title_id  = "1156"  where id = '4687'
=>>>>>>>>>>>>>>>>>>>>>> 8010 /lvl2/ Corporate Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1156"  where id = '8010'
=>>>>>>>>>>>>>>>>>>>>>> 13104 /lvl2/ Corporate Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1156"  where id = '13104'
=>>>>>>>>>>>>>>>>>>>>>> 17131 /lvl2/ Corporate Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1156"  where id = '17131'
=>>>>>>>>>>>>>>>>>>>>>> 20161 /lvl2/ Corporate Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1156"  where id = '20161'
2692 /lvl1/ Industrial Designer
=>>>>>>>>>>>>>>>>>>>>>> 2192 /lvl2/ Industrial Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2692"  where id = '2192'
1669 /lvl1/ Electro Engineering
=>>>>>>>>>>>>>>>>>>>>>> 17600 /lvl2/ Electro Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1669"  where id = '17600'
2693 /lvl1/ Industrial Engineer
=>>>>>>>>>>>>>>>>>>>>>> 180 /lvl2/ Industrial Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2693"  where id = '180'
6021 /lvl1/ Staff Elektro Medis
=>>>>>>>>>>>>>>>>>>>>>> 2639 /lvl2/ Staff Elektro Medis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6021"  where id = '2639'
2950 /lvl1/ It Network Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4745 /lvl2/ IT Network Engineer - Cisco
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Engineer - Cisco", title_clean   = "IT Network Engineer - Cisco", title_id  = "2950"  where id = '4745'
=>>>>>>>>>>>>>>>>>>>>>> 7202 /lvl2/ IT Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Engineer", title_clean   = "IT Network Engineer", title_id  = "2950"  where id = '7202'
=>>>>>>>>>>>>>>>>>>>>>> 9933 /lvl2/ IT NETWORK ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT NETWORK ENGINEER", title_clean   = "IT NETWORK ENGINEER", title_id  = "2950"  where id = '9933'
=>>>>>>>>>>>>>>>>>>>>>> 14101 /lvl2/ IT Network Engineer (Voice)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Network Engineer (Voice)", title_clean   = "IT Network Engineer (Voice)", title_id  = "2950"  where id = '14101'
=>>>>>>>>>>>>>>>>>>>>>> 18150 /lvl2/ SeaBank - IT Network Engineer (Solo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SeaBank - IT Network Engineer (Solo)", title_clean   = "SeaBank - IT Network Engineer (Solo)", title_id  = "2950"  where id = '18150'
4230 /lvl1/ Perawat Kamar Bedah
=>>>>>>>>>>>>>>>>>>>>>> 11364 /lvl2/ Perawat Kamar Bedah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4230"  where id = '11364'
=>>>>>>>>>>>>>>>>>>>>>> 11635 /lvl2/ Perawat Kamar Bedah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4230"  where id = '11635'
6278 /lvl1/ Supervisor Engineer

=>>>>>>>>>>>>>>>>>>>>>> 5720 /lvl2/ Supervisor Engineer Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bogor", title_clean   = " Bogor", title_id  = "6278"  where id = '5720'
=>>>>>>>>>>>>>>>>>>>>>> 6349 /lvl2/ Supervisor Engineer - Refrigerator (Pontianak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Refrigerator (Pontianak Branch)", title_clean   = " - Refrigerator (Pontianak Branch)", title_id  = "6278"  where id = '6349'
=>>>>>>>>>>>>>>>>>>>>>> 7488 /lvl2/ Supervisor Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6278"  where id = '7488'
=>>>>>>>>>>>>>>>>>>>>>> 10025 /lvl2/ Supervisor Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6278"  where id = '10025'
=>>>>>>>>>>>>>>>>>>>>>> 10898 /lvl2/ Supervisor Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6278"  where id = '10898'
=>>>>>>>>>>>>>>>>>>>>>> 14633 /lvl2/ SENIOR Supervisor Engineer ( SS-ENG )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR -idex- ( SS-ENG )", title_clean   = "SENIOR  ( SS-ENG )", title_id  = "6278"  where id = '14633'
=>>>>>>>>>>>>>>>>>>>>>> 14647 /lvl2/ SENIOR Supervisor Engineer ( SS-ENG )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR -idex- ( SS-ENG )", title_clean   = "SENIOR  ( SS-ENG )", title_id  = "6278"  where id = '14647'
=>>>>>>>>>>>>>>>>>>>>>> 15226 /lvl2/ Supervisor Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6278"  where id = '15226'
=>>>>>>>>>>>>>>>>>>>>>> 17883 /lvl2/ SUPERVISOR ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR ENGINEER", title_clean   = "SUPERVISOR ENGINEER", title_id  = "6278"  where id = '17883'
6279 /lvl1/ Supervisor Engineer
1672 /lvl1/ Elektrical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6123 /lvl2/ ELEKTRICAL ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ELEKTRICAL ENGINEER", title_clean   = "ELEKTRICAL ENGINEER", title_id  = "1672"  where id = '6123'
4488 /lvl1/ Production Engineer
=>>>>>>>>>>>>>>>>>>>>>> 578 /lvl2/ Production Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4488"  where id = '578'
=>>>>>>>>>>>>>>>>>>>>>> 1040 /lvl2/ Production Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4488"  where id = '1040'
=>>>>>>>>>>>>>>>>>>>>>> 6828 /lvl2/ Production Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4488"  where id = '6828'
=>>>>>>>>>>>>>>>>>>>>>> 13560 /lvl2/ Production Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4488"  where id = '13560'
=>>>>>>>>>>>>>>>>>>>>>> 13805 /lvl2/ Production Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4488"  where id = '13805'
2698 /lvl1/ Industrial Relation
=>>>>>>>>>>>>>>>>>>>>>> 839 /lvl2/ Industrial Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2698"  where id = '839'
=>>>>>>>>>>>>>>>>>>>>>> 17580 /lvl2/ Industrial Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2698"  where id = '17580'
140 /lvl1/ Accreditation Staff
=>>>>>>>>>>>>>>>>>>>>>> 2740 /lvl2/ Accreditation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "140"  where id = '2740'
652 /lvl1/ Biomedical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 328 /lvl2/ Biomedical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "652"  where id = '328'
1164 /lvl1/ Corporate Ticketing
=>>>>>>>>>>>>>>>>>>>>>> 17032 /lvl2/ Corporate Ticketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1164"  where id = '17032'
=>>>>>>>>>>>>>>>>>>>>>> 17047 /lvl2/ Corporate Ticketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1164"  where id = '17047'
6028 /lvl1/ Staff Export Import
=>>>>>>>>>>>>>>>>>>>>>> 6536 /lvl2/ Staff Export Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6028"  where id = '6536'
=>>>>>>>>>>>>>>>>>>>>>> 8018 /lvl2/ Staff Export Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6028"  where id = '8018'
=>>>>>>>>>>>>>>>>>>>>>> 8331 /lvl2/ Staff Export Import
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6028"  where id = '8331'
=>>>>>>>>>>>>>>>>>>>>>> 12837 /lvl2/ STAFF EXPORT IMPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF EXPORT IMPORT", title_clean   = "STAFF EXPORT IMPORT", title_id  = "6028"  where id = '12837'
=>>>>>>>>>>>>>>>>>>>>>> 18248 /lvl2/ STAFF EXPORT IMPORT PENEMPATAN SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF EXPORT IMPORT PENEMPATAN SEMARANG", title_clean   = "STAFF EXPORT IMPORT PENEMPATAN SEMARANG", title_id  = "6028"  where id = '18248'
=>>>>>>>>>>>>>>>>>>>>>> 20016 /lvl2/ STAFF EXPORT IMPORT PENEMPATAN SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF EXPORT IMPORT PENEMPATAN SURABAYA", title_clean   = "STAFF EXPORT IMPORT PENEMPATAN SURABAYA", title_id  = "6028"  where id = '20016'
3473 /lvl1/ Management Training
=>>>>>>>>>>>>>>>>>>>>>> 18612 /lvl2/ Fresh Graduate Management Training Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh Graduate -idex- Program", title_clean   = "Fresh Graduate  Program", title_id  = "3473"  where id = '18612'
=>>>>>>>>>>>>>>>>>>>>>> 19099 /lvl2/ Management Training
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3473"  where id = '19099'
4242 /lvl1/ Performance Manager
=>>>>>>>>>>>>>>>>>>>>>> 20199 /lvl2/ Performance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4242"  where id = '20199'
3987 /lvl1/ Odoo ERP Consultant
=>>>>>>>>>>>>>>>>>>>>>> 9720 /lvl2/ ODOO ERP CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ODOO ERP CONSULTANT", title_clean   = "ODOO ERP CONSULTANT", title_id  = "3987"  where id = '9720'
6035 /lvl1/ Staff Finance & Tax
=>>>>>>>>>>>>>>>>>>>>>> 3966 /lvl2/ STAFF FINANCE & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF FINANCE & TAX", title_clean   = "STAFF FINANCE & TAX", title_id  = "6035"  where id = '3966'
660 /lvl1/ Bonded Zone Officer
=>>>>>>>>>>>>>>>>>>>>>> 16646 /lvl2/ Bonded Zone Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "660"  where id = '16646'
4756 /lvl1/ Qhse Branch Kendari
=>>>>>>>>>>>>>>>>>>>>>> 733 /lvl2/ QHSE Branch Kendari
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QHSE Branch Kendari", title_clean   = "QHSE Branch Kendari", title_id  = "4756"  where id = '733'
3733 /lvl1/ Marketing Packaging
=>>>>>>>>>>>>>>>>>>>>>> 12477 /lvl2/ Marketing Packaging
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3733"  where id = '12477'
=>>>>>>>>>>>>>>>>>>>>>> 12513 /lvl2/ Marketing Packaging
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3733"  where id = '12513'
5782 /lvl1/ Social Media Intern
=>>>>>>>>>>>>>>>>>>>>>> 7210 /lvl2/ Social Media Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5782"  where id = '7210'
920 /lvl1/ Chief Site Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7257 /lvl2/ Chief Site Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "920"  where id = '7257'
3224 /lvl1/ Kepala Toko Textile
=>>>>>>>>>>>>>>>>>>>>>> 18717 /lvl2/ Kepala Toko Textile
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3224"  where id = '18717'
2969 /lvl1/ It Programmer Staff
=>>>>>>>>>>>>>>>>>>>>>> 4797 /lvl2/ IT Programmer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Staff", title_clean   = "IT Programmer Staff", title_id  = "2969"  where id = '4797'
=>>>>>>>>>>>>>>>>>>>>>> 6332 /lvl2/ IT Programmer Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Programmer Staff", title_clean   = "IT Programmer Staff", title_id  = "2969"  where id = '6332'
3737 /lvl1/ Marketing Promotion
=>>>>>>>>>>>>>>>>>>>>>> 17748 /lvl2/ MARKETING PROMOTION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING PROMOTION", title_clean   = "MARKETING PROMOTION", title_id  = "3737"  where id = '17748'
6555 /lvl1/ Team Leader Funding

=>>>>>>>>>>>>>>>>>>>>>> 4100 /lvl2/ Team Leader Funding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6555"  where id = '4100'
6813 /lvl1/ Training Specialist
=>>>>>>>>>>>>>>>>>>>>>> 11586 /lvl2/ Training Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6813"  where id = '11586'
=>>>>>>>>>>>>>>>>>>>>>> 17569 /lvl2/ Training Specialist (CRM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CRM)", title_clean   = " (CRM)", title_id  = "6813"  where id = '17569'
6814 /lvl1/ Training Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 11794 /lvl2/ Training Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6814"  where id = '11794'
=>>>>>>>>>>>>>>>>>>>>>> 18052 /lvl2/ Training Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6814"  where id = '18052'
=>>>>>>>>>>>>>>>>>>>>>> 18679 /lvl2/ Training Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6814"  where id = '18679'
415 /lvl1/ Asistant Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4523 /lvl2/ Asistant Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "415"  where id = '4523'
3234 /lvl1/ Key Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 2479 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '2479'
=>>>>>>>>>>>>>>>>>>>>>> 4323 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '4323'
=>>>>>>>>>>>>>>>>>>>>>> 6482 /lvl2/ Online-store key account manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Online-store key account manager", title_clean   = "Online-store key account manager", title_id  = "3234"  where id = '6482'
=>>>>>>>>>>>>>>>>>>>>>> 9981 /lvl2/ KEY ACCOUNT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEY ACCOUNT MANAGER", title_clean   = "KEY ACCOUNT MANAGER", title_id  = "3234"  where id = '9981'
=>>>>>>>>>>>>>>>>>>>>>> 10493 /lvl2/ Provider Sales Key Account Manager - Jakarta Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Provider Sales -idex- - Jakarta Area", title_clean   = "Provider Sales  - Jakarta Area", title_id  = "3234"  where id = '10493'
=>>>>>>>>>>>>>>>>>>>>>> 10559 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '10559'
=>>>>>>>>>>>>>>>>>>>>>> 13367 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '13367'
=>>>>>>>>>>>>>>>>>>>>>> 13580 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '13580'
=>>>>>>>>>>>>>>>>>>>>>> 15420 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '15420'
=>>>>>>>>>>>>>>>>>>>>>> 16084 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '16084'
=>>>>>>>>>>>>>>>>>>>>>> 16102 /lvl2/ Key Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3234"  where id = '16102'
2723 /lvl1/ Institutional Sales
=>>>>>>>>>>>>>>>>>>>>>> 5673 /lvl2/ Institutional Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2723"  where id = '5673'
=>>>>>>>>>>>>>>>>>>>>>> 6791 /lvl2/ Institutional Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2723"  where id = '6791'
3236 /lvl1/ Key Account Officer
=>>>>>>>>>>>>>>>>>>>>>> 1382 /lvl2/ Key Account Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3236"  where id = '1382'
6308 /lvl1/ Supervisor Interior
=>>>>>>>>>>>>>>>>>>>>>> 4887 /lvl2/ SUPERVISOR INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR INTERIOR", title_clean   = "SUPERVISOR INTERIOR", title_id  = "6308"  where id = '4887'
=>>>>>>>>>>>>>>>>>>>>>> 9162 /lvl2/ SUPERVISOR INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR INTERIOR", title_clean   = "SUPERVISOR INTERIOR", title_id  = "6308"  where id = '9162'
=>>>>>>>>>>>>>>>>>>>>>> 10299 /lvl2/ PROJECT SUPERVISOR INTERIOR – FIT OUT (For Interior Project Retail & Office)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SUPERVISOR INTERIOR – FIT OUT (For Interior Project Retail & Office)", title_clean   = "PROJECT SUPERVISOR INTERIOR – FIT OUT (For Interior Project Retail & Office)", title_id  = "6308"  where id = '10299'
6820 /lvl1/ Translator Mandarin
=>>>>>>>>>>>>>>>>>>>>>> 7200 /lvl2/ ADMIN General Affairs (TRANSLATOR MANDARIN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN General Affairs (TRANSLATOR MANDARIN)", title_clean   = "ADMIN General Affairs (TRANSLATOR MANDARIN)", title_id  = "6820"  where id = '7200'
=>>>>>>>>>>>>>>>>>>>>>> 7718 /lvl2/ TRANSLATOR MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRANSLATOR MANDARIN", title_clean   = "TRANSLATOR MANDARIN", title_id  = "6820"  where id = '7718'
=>>>>>>>>>>>>>>>>>>>>>> 8030 /lvl2/ TRANSLATOR MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRANSLATOR MANDARIN", title_clean   = "TRANSLATOR MANDARIN", title_id  = "6820"  where id = '8030'
=>>>>>>>>>>>>>>>>>>>>>> 13259 /lvl2/ Translator Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6820"  where id = '13259'
=>>>>>>>>>>>>>>>>>>>>>> 13462 /lvl2/ Translator Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6820"  where id = '13462'
=>>>>>>>>>>>>>>>>>>>>>> 14081 /lvl2/ TRANSLATOR MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRANSLATOR MANDARIN", title_clean   = "TRANSLATOR MANDARIN", title_id  = "6820"  where id = '14081'
=>>>>>>>>>>>>>>>>>>>>>> 14438 /lvl2/ TRANSLATOR MANDARIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRANSLATOR MANDARIN", title_clean   = "TRANSLATOR MANDARIN", title_id  = "6820"  where id = '14438'
=>>>>>>>>>>>>>>>>>>>>>> 15956 /lvl2/ Translator Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6820"  where id = '15956'
=>>>>>>>>>>>>>>>>>>>>>> 15970 /lvl2/ Translator Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6820"  where id = '15970'
5031 /lvl1/ Safety Officer & 5R
=>>>>>>>>>>>>>>>>>>>>>> 6918 /lvl2/ SAFETY OFFICER & 5R
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAFETY OFFICER & 5R", title_clean   = "SAFETY OFFICER & 5R", title_id  = "5031"  where id = '6918'
=>>>>>>>>>>>>>>>>>>>>>> 8367 /lvl2/ SAFETY OFFICER & 5R
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAFETY OFFICER & 5R", title_clean   = "SAFETY OFFICER & 5R", title_id  = "5031"  where id = '8367'
2984 /lvl1/ It Sales Specialist
=>>>>>>>>>>>>>>>>>>>>>> 10250 /lvl2/ IT Sales Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Sales Specialist", title_clean   = "IT Sales Specialist", title_id  = "2984"  where id = '10250'
2729 /lvl1/ Instrument Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3203 /lvl2/ INSTRUMENT ENGINEER POWER PLANT ( IE )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INSTRUMENT ENGINEER POWER PLANT ( IE )", title_clean   = "INSTRUMENT ENGINEER POWER PLANT ( IE )", title_id  = "2729"  where id = '3203'
=>>>>>>>>>>>>>>>>>>>>>> 5879 /lvl2/ Instrument Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2729"  where id = '5879'
=>>>>>>>>>>>>>>>>>>>>>> 12889 /lvl2/ Instrument Engineering Lead\u002FManager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-ing Lead\u002FManager", title_clean   = "ing Lead\u002FManager", title_id  = "2729"  where id = '12889'
5289 /lvl1/ Sales Representatif
=>>>>>>>>>>>>>>>>>>>>>> 4829 /lvl2/ SALES REPRESENTATIF (SR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIF (SR)", title_clean   = "SALES REPRESENTATIF (SR)", title_id  = "5289"  where id = '4829'
=>>>>>>>>>>>>>>>>>>>>>> 14948 /lvl2/ Sales Representatif (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "5289"  where id = '14948'
=>>>>>>>>>>>>>>>>>>>>>> 15771 /lvl2/ SALES REPRESENTATIF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES REPRESENTATIF", title_clean   = "SALES REPRESENTATIF", title_id  = "5289"  where id = '15771'
426 /lvl1/ Asisten Kebun Karet

=>>>>>>>>>>>>>>>>>>>>>> 12106 /lvl2/ Asisten Kebun Karet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "426"  where id = '12106'
3498 /lvl1/ Manager Engineering
=>>>>>>>>>>>>>>>>>>>>>> 7421 /lvl2/ Manager Engineering / Utility
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- / Utility", title_clean   = " / Utility", title_id  = "3498"  where id = '7421'
5546 /lvl1/ Senior IT Developer
=>>>>>>>>>>>>>>>>>>>>>> 11997 /lvl2/ Senior IT Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5546"  where id = '11997'
3243 /lvl1/ Kitchen Crew / Cook
5547 /lvl1/ Senior IT Devsecops
=>>>>>>>>>>>>>>>>>>>>>> 8591 /lvl2/ Senior IT DevSecOps
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior IT DevSecOps", title_clean   = "Senior IT DevSecOps", title_id  = "5547"  where id = '8591'
1708 /lvl1/ Engineering Listrik
=>>>>>>>>>>>>>>>>>>>>>> 1013 /lvl2/ Engineering Listrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1708"  where id = '1013'
1709 /lvl1/ Engineering Manager
=>>>>>>>>>>>>>>>>>>>>>> 1234 /lvl2/ Engineering Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1709"  where id = '1234'
=>>>>>>>>>>>>>>>>>>>>>> 7922 /lvl2/ Engineering Manager (Civil)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil)", title_clean   = " (Civil)", title_id  = "1709"  where id = '7922'
=>>>>>>>>>>>>>>>>>>>>>> 8219 /lvl2/ Engineering Manager (Civil)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil)", title_clean   = " (Civil)", title_id  = "1709"  where id = '8219'
=>>>>>>>>>>>>>>>>>>>>>> 9311 /lvl2/ Engineering Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1709"  where id = '9311'
=>>>>>>>>>>>>>>>>>>>>>> 10087 /lvl2/ Engineering Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1709"  where id = '10087'
=>>>>>>>>>>>>>>>>>>>>>> 12563 /lvl2/ Engineering Manager for NPD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for NPD", title_clean   = " for NPD", title_id  = "1709"  where id = '12563'
=>>>>>>>>>>>>>>>>>>>>>> 12967 /lvl2/ Engineering Manager (Metland Cikarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Metland Cikarang)", title_clean   = " (Metland Cikarang)", title_id  = "1709"  where id = '12967'
=>>>>>>>>>>>>>>>>>>>>>> 12987 /lvl2/ Engineering Manager (Metland Cikarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Metland Cikarang)", title_clean   = " (Metland Cikarang)", title_id  = "1709"  where id = '12987'
=>>>>>>>>>>>>>>>>>>>>>> 13619 /lvl2/ Engineering Manager for NPD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for NPD", title_clean   = " for NPD", title_id  = "1709"  where id = '13619'
=>>>>>>>>>>>>>>>>>>>>>> 13973 /lvl2/ Engineering Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1709"  where id = '13973'
=>>>>>>>>>>>>>>>>>>>>>> 14301 /lvl2/ Engineering Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1709"  where id = '14301'
=>>>>>>>>>>>>>>>>>>>>>> 18513 /lvl2/ ENGINEERING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEERING MANAGER", title_clean   = "ENGINEERING MANAGER", title_id  = "1709"  where id = '18513'
=>>>>>>>>>>>>>>>>>>>>>> 20493 /lvl2/ ENGINEERING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEERING MANAGER", title_clean   = "ENGINEERING MANAGER", title_id  = "1709"  where id = '20493'
6573 /lvl1/ Technical Architect
=>>>>>>>>>>>>>>>>>>>>>> 6355 /lvl2/ Technical Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6573"  where id = '6355'
1710 /lvl1/ Engineering Officer
=>>>>>>>>>>>>>>>>>>>>>> 16444 /lvl2/ Engineering Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1710"  where id = '16444'
1966 /lvl1/ Finance Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 9770 /lvl2/ Finance Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1966"  where id = '9770'
=>>>>>>>>>>>>>>>>>>>>>> 16301 /lvl2/ Finance Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1966"  where id = '16301'
2992 /lvl1/ It Security Officer
=>>>>>>>>>>>>>>>>>>>>>> 1425 /lvl2/ IT Security Officer (penempatan Kalimantan Tengah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Officer (penempatan Kalimantan Tengah)", title_clean   = "IT Security Officer (penempatan Kalimantan Tengah)", title_id  = "2992"  where id = '1425'
=>>>>>>>>>>>>>>>>>>>>>> 2011 /lvl2/ IT Security Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Officer", title_clean   = "IT Security Officer", title_id  = "2992"  where id = '2011'
6320 /lvl1/ Supervisor Logistic
=>>>>>>>>>>>>>>>>>>>>>> 18818 /lvl2/ Supervisor Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6320"  where id = '18818'
177 /lvl1/ Admin Divisi Market
=>>>>>>>>>>>>>>>>>>>>>> 9388 /lvl2/ Admin Divisi Market
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "177"  where id = '9388'
1202 /lvl1/ Creative Copywriter
=>>>>>>>>>>>>>>>>>>>>>> 17212 /lvl2/ Creative Copywriter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1202"  where id = '17212'
6580 /lvl1/ Technical Executive
=>>>>>>>>>>>>>>>>>>>>>> 2742 /lvl2/ TECHNICAL EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL EXECUTIVE", title_clean   = "TECHNICAL EXECUTIVE", title_id  = "6580"  where id = '2742'
3767 /lvl1/ Marketing Umc Staff
=>>>>>>>>>>>>>>>>>>>>>> 9201 /lvl2/ Marketing UMC Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing UMC Staff", title_clean   = "Marketing UMC Staff", title_id  = "3767"  where id = '9201'
4279 /lvl1/ Photography Manager
=>>>>>>>>>>>>>>>>>>>>>> 5411 /lvl2/ Photography Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4279"  where id = '5411'
696 /lvl1/ Branding Strategist
=>>>>>>>>>>>>>>>>>>>>>> 4638 /lvl2/ Branding Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "696"  where id = '4638'
1977 /lvl1/ Finance Bagian Sewa
=>>>>>>>>>>>>>>>>>>>>>> 1423 /lvl2/ Finance Bagian Sewa
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1977"  where id = '1423'
6329 /lvl1/ Supervisor Mechanic
4026 /lvl1/ Operasional Manager
=>>>>>>>>>>>>>>>>>>>>>> 3972 /lvl2/ Operasional Manager ( Agency Company )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Agency Company )", title_clean   = " ( Agency Company )", title_id  = "4026"  where id = '3972'
=>>>>>>>>>>>>>>>>>>>>>> 6761 /lvl2/ Operasional Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4026"  where id = '6761'
=>>>>>>>>>>>>>>>>>>>>>> 20333 /lvl2/ Operasional Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4026"  where id = '20333'
6075 /lvl1/ Staff IT Programmer
2748 /lvl1/ Intern Videographer
=>>>>>>>>>>>>>>>>>>>>>> 20051 /lvl2/ Intern videographer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern videographer", title_clean   = "Intern videographer", title_id  = "2748"  where id = '20051'
6076 /lvl1/ Staff IT Programmer
6588 /lvl1/ Technical Recruiter
=>>>>>>>>>>>>>>>>>>>>>> 2302 /lvl2/ Technical Recruiter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6588"  where id = '2302'
=>>>>>>>>>>>>>>>>>>>>>> 11976 /lvl2/ Technical Recruiter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6588"  where id = '11976'
1471 /lvl1/ Digital Advertising
=>>>>>>>>>>>>>>>>>>>>>> 7589 /lvl2/ Digital Advertising
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1471"  where id = '7589'
=>>>>>>>>>>>>>>>>>>>>>> 9039 /lvl2/ Digital Advertising
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1471"  where id = '9039'
3008 /lvl1/ It Solution Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11938 /lvl2/ IT Solution Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Solution Analyst", title_clean   = "IT Solution Analyst", title_id  = "3008"  where id = '11938'
=>>>>>>>>>>>>>>>>>>>>>> 11957 /lvl2/ IT Solution Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Solution Analyst", title_clean   = "IT Solution Analyst", title_id  = "3008"  where id = '11957'
3777 /lvl1/ Material Controller

=>>>>>>>>>>>>>>>>>>>>>> 18145 /lvl2/ Material Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3777"  where id = '18145'
=>>>>>>>>>>>>>>>>>>>>>> 18164 /lvl2/ Material Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3777"  where id = '18164'
5313 /lvl1/ Sales Support Admin
=>>>>>>>>>>>>>>>>>>>>>> 19250 /lvl2/ SALES SUPPORT ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES SUPPORT ADMIN", title_clean   = "SALES SUPPORT ADMIN", title_id  = "5313"  where id = '19250'
2242 /lvl1/ Graphic Design Lead
=>>>>>>>>>>>>>>>>>>>>>> 5059 /lvl2/ Graphic Design Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2242"  where id = '5059'
451 /lvl1/ Asp .Net Programmer
3779 /lvl1/ Material Management
=>>>>>>>>>>>>>>>>>>>>>> 110 /lvl2/ Material Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3779"  where id = '110'
6084 /lvl1/ Staff Keuangan / Ar
3270 /lvl1/ Koordinator Pameran
=>>>>>>>>>>>>>>>>>>>>>> 6773 /lvl2/ Koordinator Pameran
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3270"  where id = '6773'
3526 /lvl1/ Manager Operasional
=>>>>>>>>>>>>>>>>>>>>>> 838 /lvl2/ Manager Operasional (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "3526"  where id = '838'
=>>>>>>>>>>>>>>>>>>>>>> 1004 /lvl2/ Manager Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3526"  where id = '1004'
=>>>>>>>>>>>>>>>>>>>>>> 1016 /lvl2/ Manager Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3526"  where id = '1016'
=>>>>>>>>>>>>>>>>>>>>>> 1237 /lvl2/ Store Manager  /  Manager Operasional Toko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Store Manager  /  -idex- Toko", title_clean   = "Store Manager  /   Toko", title_id  = "3526"  where id = '1237'
=>>>>>>>>>>>>>>>>>>>>>> 3139 /lvl2/ Manager Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3526"  where id = '3139'
=>>>>>>>>>>>>>>>>>>>>>> 3716 /lvl2/ MANAGER OPERASIONAL PRODUKSI POWER PLANT ( PM )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER OPERASIONAL PRODUKSI POWER PLANT ( PM )", title_clean   = "MANAGER OPERASIONAL PRODUKSI POWER PLANT ( PM )", title_id  = "3526"  where id = '3716'
=>>>>>>>>>>>>>>>>>>>>>> 3837 /lvl2/ General Manager Operasional (kode : GMO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "General -idex- (kode : GMO)", title_clean   = "General  (kode : GMO)", title_id  = "3526"  where id = '3837'
=>>>>>>>>>>>>>>>>>>>>>> 5341 /lvl2/ Manager Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3526"  where id = '5341'
=>>>>>>>>>>>>>>>>>>>>>> 6078 /lvl2/ Manager Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3526"  where id = '6078'
5830 /lvl1/ Solutions Architect
=>>>>>>>>>>>>>>>>>>>>>> 16296 /lvl2/ Solutions Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5830"  where id = '16296'
=>>>>>>>>>>>>>>>>>>>>>> 16316 /lvl2/ Solutions Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5830"  where id = '16316'
967 /lvl1/ Cloud Sales Officer
=>>>>>>>>>>>>>>>>>>>>>> 2542 /lvl2/ Cloud Sales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "967"  where id = '2542'
4039 /lvl1/ Operation Executive
=>>>>>>>>>>>>>>>>>>>>>> 16711 /lvl2/ Operation Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4039"  where id = '16711'
4551 /lvl1/ Project Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 1152 /lvl2/ Project Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4551"  where id = '1152'
=>>>>>>>>>>>>>>>>>>>>>> 1229 /lvl2/ Project Coordinator (Boiler \u002F Diesel \u002F Gas Engine \u002F Turbine)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Boiler \u002F Diesel \u002F Gas Engine \u002F Turbine)", title_clean   = " (Boiler \u002F Diesel \u002F Gas Engine \u002F Turbine)", title_id  = "4551"  where id = '1229'
=>>>>>>>>>>>>>>>>>>>>>> 1682 /lvl2/ Project Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4551"  where id = '1682'
=>>>>>>>>>>>>>>>>>>>>>> 5118 /lvl2/ SACME Project Coordinator  /  Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SACME -idex-  /  Project Manager", title_clean   = "SACME   /  Project Manager", title_id  = "4551"  where id = '5118'
=>>>>>>>>>>>>>>>>>>>>>> 5473 /lvl2/ Project Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4551"  where id = '5473'
=>>>>>>>>>>>>>>>>>>>>>> 6890 /lvl2/ Project Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4551"  where id = '6890'
=>>>>>>>>>>>>>>>>>>>>>> 12391 /lvl2/ Project Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4551"  where id = '12391'
=>>>>>>>>>>>>>>>>>>>>>> 14609 /lvl2/ PROJECT COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT COORDINATOR", title_clean   = "PROJECT COORDINATOR", title_id  = "4551"  where id = '14609'
=>>>>>>>>>>>>>>>>>>>>>> 15024 /lvl2/ PROJECT COORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT COORDINATOR", title_clean   = "PROJECT COORDINATOR", title_id  = "4551"  where id = '15024'
=>>>>>>>>>>>>>>>>>>>>>> 15620 /lvl2/ Project Coordinator (Code: PC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Code: PC)", title_clean   = " (Code: PC)", title_id  = "4551"  where id = '15620'
=>>>>>>>>>>>>>>>>>>>>>> 20255 /lvl2/ PROJECT COORDINATOR (ENGINEERING)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT COORDINATOR (ENGINEERING)", title_clean   = "PROJECT COORDINATOR (ENGINEERING)", title_id  = "4551"  where id = '20255'
5319 /lvl1/ Sales Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 18275 /lvl2/ Sales Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5319"  where id = '18275'
1736 /lvl1/ Environment Foreman
=>>>>>>>>>>>>>>>>>>>>>> 8658 /lvl2/ Environment Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1736"  where id = '8658'
3528 /lvl1/ Manager Operational
=>>>>>>>>>>>>>>>>>>>>>> 2423 /lvl2/ Manager Operational
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3528"  where id = '2423'
=>>>>>>>>>>>>>>>>>>>>>> 2916 /lvl2/ Manager Operational Unit power Plant  (Boiler - Steam Turbine - Generator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Unit power Plant  (Boiler - Steam Turbine - Generator)", title_clean   = " Unit power Plant  (Boiler - Steam Turbine - Generator)", title_id  = "3528"  where id = '2916'
=>>>>>>>>>>>>>>>>>>>>>> 6230 /lvl2/ MANAGER OPERATIONAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER OPERATIONAL", title_clean   = "MANAGER OPERATIONAL", title_id  = "3528"  where id = '6230'
=>>>>>>>>>>>>>>>>>>>>>> 7380 /lvl2/ MANAGER OPERATIONAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER OPERATIONAL", title_clean   = "MANAGER OPERATIONAL", title_id  = "3528"  where id = '7380'
6856 /lvl1/ Unity GAme Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11016 /lvl2/ Unity Game Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Unity Game Engineer", title_clean   = "Unity Game Engineer", title_id  = "6856"  where id = '11016'
=>>>>>>>>>>>>>>>>>>>>>> 11023 /lvl2/ Unity Game Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Unity Game Engineer", title_clean   = "Unity Game Engineer", title_id  = "6856"  where id = '11023'
201 /lvl1/ Admin Invoice Staff
=>>>>>>>>>>>>>>>>>>>>>> 14054 /lvl2/ Admin invoice staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin invoice staff", title_clean   = "Admin invoice staff", title_id  = "201"  where id = '14054'
969 /lvl1/ Cloud Technical Sme
=>>>>>>>>>>>>>>>>>>>>>> 9782 /lvl2/ Cloud Technical SME
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cloud Technical SME", title_clean   = "Cloud Technical SME", title_id  = "969"  where id = '9782'
6347 /lvl1/ Supervisor Produksi

=>>>>>>>>>>>>>>>>>>>>>> 688 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '688'
=>>>>>>>>>>>>>>>>>>>>>> 707 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '707'
=>>>>>>>>>>>>>>>>>>>>>> 1095 /lvl2/ SUPERVISOR PRODUKSI (JAWA TENGAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PRODUKSI (JAWA TENGAH)", title_clean   = "SUPERVISOR PRODUKSI (JAWA TENGAH)", title_id  = "6347"  where id = '1095'
=>>>>>>>>>>>>>>>>>>>>>> 1328 /lvl2/ SUPERVISOR PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PRODUKSI", title_clean   = "SUPERVISOR PRODUKSI", title_id  = "6347"  where id = '1328'
=>>>>>>>>>>>>>>>>>>>>>> 1438 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '1438'
=>>>>>>>>>>>>>>>>>>>>>> 3039 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '3039'
=>>>>>>>>>>>>>>>>>>>>>> 4948 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '4948'
=>>>>>>>>>>>>>>>>>>>>>> 6822 /lvl2/ Koordinator Produksi /  Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator Produksi /  -idex-", title_clean   = "Koordinator Produksi /  ", title_id  = "6347"  where id = '6822'
=>>>>>>>>>>>>>>>>>>>>>> 7459 /lvl2/ Foreman  /  Supervisor Produksi Biscuit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Foreman  /  -idex- Biscuit", title_clean   = "Foreman  /   Biscuit", title_id  = "6347"  where id = '7459'
=>>>>>>>>>>>>>>>>>>>>>> 8572 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '8572'
=>>>>>>>>>>>>>>>>>>>>>> 9282 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '9282'
=>>>>>>>>>>>>>>>>>>>>>> 9702 /lvl2/ SUPERVISOR PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PRODUKSI", title_clean   = "SUPERVISOR PRODUKSI", title_id  = "6347"  where id = '9702'
=>>>>>>>>>>>>>>>>>>>>>> 12795 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '12795'
=>>>>>>>>>>>>>>>>>>>>>> 13250 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '13250'
=>>>>>>>>>>>>>>>>>>>>>> 15127 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '15127'
=>>>>>>>>>>>>>>>>>>>>>> 15149 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '15149'
=>>>>>>>>>>>>>>>>>>>>>> 16062 /lvl2/ Supervisor Produksi - Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Semarang", title_clean   = " - Semarang", title_id  = "6347"  where id = '16062'
=>>>>>>>>>>>>>>>>>>>>>> 16079 /lvl2/ Supervisor Produksi - Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Semarang", title_clean   = " - Semarang", title_id  = "6347"  where id = '16079'
=>>>>>>>>>>>>>>>>>>>>>> 17073 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '17073'
=>>>>>>>>>>>>>>>>>>>>>> 18534 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '18534'
=>>>>>>>>>>>>>>>>>>>>>> 18552 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '18552'
=>>>>>>>>>>>>>>>>>>>>>> 19010 /lvl2/ Supervisor Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6347"  where id = '19010'
=>>>>>>>>>>>>>>>>>>>>>> 19509 /lvl2/ SUPERVISOR PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR PRODUKSI", title_clean   = "SUPERVISOR PRODUKSI", title_id  = "6347"  where id = '19509'
=>>>>>>>>>>>>>>>>>>>>>> 19655 /lvl2/ Supervisor Produksi (Bakery\u002FPastry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bakery\u002FPastry)", title_clean   = " (Bakery\u002FPastry)", title_id  = "6347"  where id = '19655'
3532 /lvl1/ Manager Power Plant
=>>>>>>>>>>>>>>>>>>>>>> 19417 /lvl2/ Manager Power Plant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3532"  where id = '19417'
5581 /lvl1/ Senior Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 2403 /lvl2/ Senior Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5581"  where id = '2403'
=>>>>>>>>>>>>>>>>>>>>>> 5579 /lvl2/ SENIOR MERCHANDISER ( GARMENT-TANGERANG )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR MERCHANDISER ( GARMENT-TANGERANG )", title_clean   = "SENIOR MERCHANDISER ( GARMENT-TANGERANG )", title_id  = "5581"  where id = '5579'
=>>>>>>>>>>>>>>>>>>>>>> 10502 /lvl2/ Senior Merchandiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5581"  where id = '10502'
=>>>>>>>>>>>>>>>>>>>>>> 19648 /lvl2/ Senior Merchandiser \u002F Follow Up Garment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Follow Up Garment", title_clean   = " \u002F Follow Up Garment", title_id  = "5581"  where id = '19648'
975 /lvl1/ Coach Full Stack Js
=>>>>>>>>>>>>>>>>>>>>>> 9664 /lvl2/ Coach Full Stack JS Coding.ID
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Coach Full Stack JS Coding.ID", title_clean   = "Coach Full Stack JS Coding.ID", title_id  = "975"  where id = '9664'
2000 /lvl1/ Finance Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 18856 /lvl2/ FINANCE TEAM LEADER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE TEAM LEADER", title_clean   = "FINANCE TEAM LEADER", title_id  = "2000"  where id = '18856'
2768 /lvl1/ Internal Controller
=>>>>>>>>>>>>>>>>>>>>>> 16741 /lvl2/ INTERNAL CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERNAL CONTROLLER", title_clean   = "INTERNAL CONTROLLER", title_id  = "2768"  where id = '16741'
3024 /lvl1/ It Support Engineer
=>>>>>>>>>>>>>>>>>>>>>> 13347 /lvl2/ IT Support Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Engineer", title_clean   = "IT Support Engineer", title_id  = "3024"  where id = '13347'
3793 /lvl1/ Mechanic Alat Berat
=>>>>>>>>>>>>>>>>>>>>>> 12126 /lvl2/ Mechanic Alat Berat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3793"  where id = '12126'
=>>>>>>>>>>>>>>>>>>>>>> 12158 /lvl2/ Mechanic Alat Berat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3793"  where id = '12158'
=>>>>>>>>>>>>>>>>>>>>>> 13207 /lvl2/ Mechanic Alat Berat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3793"  where id = '13207'
=>>>>>>>>>>>>>>>>>>>>>> 13224 /lvl2/ Mechanic Alat Berat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3793"  where id = '13224'
3285 /lvl1/ Land & Permit Staff
3030 /lvl1/ It Support Regional
=>>>>>>>>>>>>>>>>>>>>>> 14038 /lvl2/ IT Support Regional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Regional", title_clean   = "IT Support Regional", title_id  = "3030"  where id = '14038'
=>>>>>>>>>>>>>>>>>>>>>> 14361 /lvl2/ IT Support Regional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Regional", title_clean   = "IT Support Regional", title_id  = "3030"  where id = '14361'
3287 /lvl1/ Land Surveyor Staff
=>>>>>>>>>>>>>>>>>>>>>> 6424 /lvl2/ Land Surveyor Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3287"  where id = '6424'
4056 /lvl1/ Operational Manager
=>>>>>>>>>>>>>>>>>>>>>> 2175 /lvl2/ Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4056"  where id = '2175'
=>>>>>>>>>>>>>>>>>>>>>> 6561 /lvl2/ Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4056"  where id = '6561'
=>>>>>>>>>>>>>>>>>>>>>> 14247 /lvl2/ Operational Manager (Property Business-Mall)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Property Business-Mall)", title_clean   = " (Property Business-Mall)", title_id  = "4056"  where id = '14247'
=>>>>>>>>>>>>>>>>>>>>>> 15688 /lvl2/ Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4056"  where id = '15688'
=>>>>>>>>>>>>>>>>>>>>>> 16045 /lvl2/ Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4056"  where id = '16045'
=>>>>>>>>>>>>>>>>>>>>>> 17097 /lvl2/ Operational Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4056"  where id = '17097'
3289 /lvl1/ Landscape Architect

=>>>>>>>>>>>>>>>>>>>>>> 4851 /lvl2/ Landscape Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3289"  where id = '4851'
4057 /lvl1/ Operational Officer
=>>>>>>>>>>>>>>>>>>>>>> 8041 /lvl2/ Operational Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4057"  where id = '8041'
=>>>>>>>>>>>>>>>>>>>>>> 8073 /lvl2/ Operational Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4057"  where id = '8073'
=>>>>>>>>>>>>>>>>>>>>>> 17179 /lvl2/ COO (Chief Operational Officer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COO (Chief -idex-)", title_clean   = "COO (Chief )", title_id  = "4057"  where id = '17179'
4569 /lvl1/ Project Koordinator
=>>>>>>>>>>>>>>>>>>>>>> 1513 /lvl2/ PROJECT KOORDINATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT KOORDINATOR", title_clean   = "PROJECT KOORDINATOR", title_id  = "4569"  where id = '1513'
1754 /lvl1/ ERP Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 3737 /lvl2/ ERP Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1754"  where id = '3737'
=>>>>>>>>>>>>>>>>>>>>>> 3847 /lvl2/ ERP Project Manager (Bali Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali Area)", title_clean   = " (Bali Area)", title_id  = "1754"  where id = '3847'
=>>>>>>>>>>>>>>>>>>>>>> 12679 /lvl2/ ERP Project Manager (Medan Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan Area)", title_clean   = " (Medan Area)", title_id  = "1754"  where id = '12679'
=>>>>>>>>>>>>>>>>>>>>>> 12698 /lvl2/ ERP Project Manager (Medan Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan Area)", title_clean   = " (Medan Area)", title_id  = "1754"  where id = '12698'
5084 /lvl1/ Sales Administrator
=>>>>>>>>>>>>>>>>>>>>>> 171 /lvl2/ Sales Administrator (DS SINTANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DS SINTANG)", title_clean   = " (DS SINTANG)", title_id  = "5084"  where id = '171'
=>>>>>>>>>>>>>>>>>>>>>> 258 /lvl2/ Sales Administrator (DS Bekasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DS Bekasi)", title_clean   = " (DS Bekasi)", title_id  = "5084"  where id = '258'
=>>>>>>>>>>>>>>>>>>>>>> 1778 /lvl2/ Sales Administrator (DS Kendari)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DS Kendari)", title_clean   = " (DS Kendari)", title_id  = "5084"  where id = '1778'
=>>>>>>>>>>>>>>>>>>>>>> 4881 /lvl2/ Sales Administrator (DS Padang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DS Padang)", title_clean   = " (DS Padang)", title_id  = "5084"  where id = '4881'
=>>>>>>>>>>>>>>>>>>>>>> 5953 /lvl2/ Sales Administrator (DS Padang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (DS Padang)", title_clean   = " (DS Padang)", title_id  = "5084"  where id = '5953'
=>>>>>>>>>>>>>>>>>>>>>> 11487 /lvl2/ Sales Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5084"  where id = '11487'
=>>>>>>>>>>>>>>>>>>>>>> 12301 /lvl2/ Sales Administrator (MOS BANDUNG 3)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MOS BANDUNG 3)", title_clean   = " (MOS BANDUNG 3)", title_id  = "5084"  where id = '12301'
=>>>>>>>>>>>>>>>>>>>>>> 12320 /lvl2/ Sales Administrator (MOS BANDUNG 3)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MOS BANDUNG 3)", title_clean   = " (MOS BANDUNG 3)", title_id  = "5084"  where id = '12320'
=>>>>>>>>>>>>>>>>>>>>>> 12407 /lvl2/ SALES ADMINISTRATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ADMINISTRATOR", title_clean   = "SALES ADMINISTRATOR", title_id  = "5084"  where id = '12407'
=>>>>>>>>>>>>>>>>>>>>>> 12846 /lvl2/ Sales Administrator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5084"  where id = '12846'
5340 /lvl1/ Salesman Distribusi
=>>>>>>>>>>>>>>>>>>>>>> 14738 /lvl2/ Salesman Distribusi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5340"  where id = '14738'
221 /lvl1/ Admin Mine Engineer
=>>>>>>>>>>>>>>>>>>>>>> 17687 /lvl2/ ADMIN MINE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN MINE ENGINEER", title_clean   = "ADMIN MINE ENGINEER", title_id  = "221"  where id = '17687'
737 /lvl1/ Business Consultant
=>>>>>>>>>>>>>>>>>>>>>> 12030 /lvl2/ Business Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "737"  where id = '12030'
=>>>>>>>>>>>>>>>>>>>>>> 14696 /lvl2/ Business Consultant | Tunas BMW
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- | Tunas BMW", title_clean   = " | Tunas BMW", title_id  = "737"  where id = '14696'
=>>>>>>>>>>>>>>>>>>>>>> 15096 /lvl2/ Business Consultant | Tunas BMW
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- | Tunas BMW", title_clean   = " | Tunas BMW", title_id  = "737"  where id = '15096'
3809 /lvl1/ Mechanic Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 18898 /lvl2/ Mechanic Supervisor (Tegal)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tegal)", title_clean   = " (Tegal)", title_id  = "3809"  where id = '18898'
=>>>>>>>>>>>>>>>>>>>>>> 18918 /lvl2/ Mechanic Supervisor (Tegal)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tegal)", title_clean   = " (Tegal)", title_id  = "3809"  where id = '18918'
2018 /lvl1/ Financial Analysist
=>>>>>>>>>>>>>>>>>>>>>> 13844 /lvl2/ FINANCIAL ANALYSIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ANALYSIST", title_clean   = "FINANCIAL ANALYSIST", title_id  = "2018"  where id = '13844'
5346 /lvl1/ Sap Abap Consultant
=>>>>>>>>>>>>>>>>>>>>>> 4256 /lvl2/ SAP ABAP Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP ABAP Consultant", title_clean   = "SAP ABAP Consultant", title_id  = "5346"  where id = '4256'
=>>>>>>>>>>>>>>>>>>>>>> 10578 /lvl2/ SAP ABAP CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP ABAP CONSULTANT", title_clean   = "SAP ABAP CONSULTANT", title_id  = "5346"  where id = '10578'
=>>>>>>>>>>>>>>>>>>>>>> 10599 /lvl2/ SAP ABAP CONSULTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP ABAP CONSULTANT", title_clean   = "SAP ABAP CONSULTANT", title_id  = "5346"  where id = '10599'
2275 /lvl1/ Guru Bahasa Inggris
=>>>>>>>>>>>>>>>>>>>>>> 5114 /lvl2/ English Teacher ( Guru Bahasa Inggris )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "English Teacher ( -idex- )", title_clean   = "English Teacher (  )", title_id  = "2275"  where id = '5114'
=>>>>>>>>>>>>>>>>>>>>>> 14435 /lvl2/ Guru Bahasa Inggris TK \u002F SD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- TK \u002F SD", title_clean   = " TK \u002F SD", title_id  = "2275"  where id = '14435'
=>>>>>>>>>>>>>>>>>>>>>> 15643 /lvl2/ Guru Multimedia (1); Guru Matematika\u002FKimia\u002FFisika\u002FIPA (2); Guru Bahasa Inggris + Seni Budaya (3) {PENEMPATAN DI KOTA BATAM}
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Multimedia (1); Guru Matematika\u002FKimia\u002FFisika\u002FIPA (2); -idex- + Seni Budaya (3) {PENEMPATAN DI KOTA BATAM}", title_clean   = "Guru Multimedia (1); Guru Matematika\u002FKimia\u002FFisika\u002FIPA (2);  + Seni Budaya (3) {PENEMPATAN DI KOTA BATAM}", title_id  = "2275"  where id = '15643'
=>>>>>>>>>>>>>>>>>>>>>> 16869 /lvl2/ Guru Bahasa Inggris
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2275"  where id = '16869'
=>>>>>>>>>>>>>>>>>>>>>> 16882 /lvl2/ Guru Bahasa Inggris
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2275"  where id = '16882'
5347 /lvl1/ Sap Abap Programmer
=>>>>>>>>>>>>>>>>>>>>>> 5177 /lvl2/ SAP ABAP PROGRAMMER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP ABAP PROGRAMMER", title_clean   = "SAP ABAP PROGRAMMER", title_id  = "5347"  where id = '5177'
3044 /lvl1/ It Teacher For Kids
=>>>>>>>>>>>>>>>>>>>>>> 11291 /lvl2/ IT Teacher for kids
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Teacher for kids", title_clean   = "IT Teacher for kids", title_id  = "3044"  where id = '11291'
6116 /lvl1/ Staff Outlet Zensei
=>>>>>>>>>>>>>>>>>>>>>> 11197 /lvl2/ Staff Outlet ZENSEI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Outlet ZENSEI", title_clean   = "Staff Outlet ZENSEI", title_id  = "6116"  where id = '11197'
2790 /lvl1/ Intern Export Sales

=>>>>>>>>>>>>>>>>>>>>>> 19346 /lvl2/ Intern Export Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2790"  where id = '19346'
3560 /lvl1/ Manajer Operasional
=>>>>>>>>>>>>>>>>>>>>>> 13204 /lvl2/ Manajer Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3560"  where id = '13204'
=>>>>>>>>>>>>>>>>>>>>>> 13220 /lvl2/ Manajer Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3560"  where id = '13220'
6634 /lvl1/ Teknik Elektromedik
=>>>>>>>>>>>>>>>>>>>>>> 13064 /lvl2/ TEKNIK ELEKTROMEDIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNIK ELEKTROMEDIK", title_clean   = "TEKNIK ELEKTROMEDIK", title_id  = "6634"  where id = '13064'
=>>>>>>>>>>>>>>>>>>>>>> 13076 /lvl2/ TEKNIK ELEKTROMEDIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNIK ELEKTROMEDIK", title_clean   = "TEKNIK ELEKTROMEDIK", title_id  = "6634"  where id = '13076'
1004 /lvl1/ Community Associate
=>>>>>>>>>>>>>>>>>>>>>> 1623 /lvl2/ Community Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1004"  where id = '1623'
2796 /lvl1/ Intern Receptionist
=>>>>>>>>>>>>>>>>>>>>>> 11618 /lvl2/ Intern Receptionist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2796"  where id = '11618'
3054 /lvl1/ Japanese Intepreter
=>>>>>>>>>>>>>>>>>>>>>> 4951 /lvl2/ Japanese Intepreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3054"  where id = '4951'
3822 /lvl1/ Mechanical Designer
=>>>>>>>>>>>>>>>>>>>>>> 17776 /lvl2/ MECHANICAL DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MECHANICAL DESIGNER", title_clean   = "MECHANICAL DESIGNER", title_id  = "3822"  where id = '17776'
5361 /lvl1/ Sap Functional Fico
=>>>>>>>>>>>>>>>>>>>>>> 2979 /lvl2/ SAP Functional Fico
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Functional Fico", title_clean   = "SAP Functional Fico", title_id  = "5361"  where id = '2979'
=>>>>>>>>>>>>>>>>>>>>>> 5329 /lvl2/ SAP Functional FICO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Functional FICO", title_clean   = "SAP Functional FICO", title_id  = "5361"  where id = '5329'
=>>>>>>>>>>>>>>>>>>>>>> 7372 /lvl2/ SAP Functional FICO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Functional FICO", title_clean   = "SAP Functional FICO", title_id  = "5361"  where id = '7372'
=>>>>>>>>>>>>>>>>>>>>>> 8768 /lvl2/ SAP Functional FICO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Functional FICO", title_clean   = "SAP Functional FICO", title_id  = "5361"  where id = '8768'
=>>>>>>>>>>>>>>>>>>>>>> 8786 /lvl2/ SAP Functional FICO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP Functional FICO", title_clean   = "SAP Functional FICO", title_id  = "5361"  where id = '8786'
6897 /lvl1/ Video Editor Intern
=>>>>>>>>>>>>>>>>>>>>>> 12002 /lvl2/ Video Editor Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6897"  where id = '12002'
3059 /lvl1/ Japanese Translator
=>>>>>>>>>>>>>>>>>>>>>> 1963 /lvl2/ Japanese Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3059"  where id = '1963'
=>>>>>>>>>>>>>>>>>>>>>> 6911 /lvl2/ Japanese Translator (Temporary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Temporary)", title_clean   = " (Temporary)", title_id  = "3059"  where id = '6911'
3317 /lvl1/ Leader Gudang Lapak
=>>>>>>>>>>>>>>>>>>>>>> 600 /lvl2/ Koordinator & Leader Gudang Lapak /  Collection Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator & -idex- /  Collection Center", title_clean   = "Koordinator &  /  Collection Center", title_id  = "3317"  where id = '600'
=>>>>>>>>>>>>>>>>>>>>>> 10926 /lvl2/ Leader Gudang Lapak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3317"  where id = '10926'
6133 /lvl1/ Staff Promosi Event
=>>>>>>>>>>>>>>>>>>>>>> 7743 /lvl2/ Staff Promosi Event
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6133"  where id = '7743'
=>>>>>>>>>>>>>>>>>>>>>> 8061 /lvl2/ Staff Promosi Event
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6133"  where id = '8061'
2295 /lvl1/ Guru Matematika Sma
=>>>>>>>>>>>>>>>>>>>>>> 6427 /lvl2/ Guru Matematika SMA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Matematika SMA", title_clean   = "Guru Matematika SMA", title_id  = "2295"  where id = '6427'
=>>>>>>>>>>>>>>>>>>>>>> 6728 /lvl2/ Guru Matematika SMA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Matematika SMA", title_clean   = "Guru Matematika SMA", title_id  = "2295"  where id = '6728'
3831 /lvl1/ Mechanical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11658 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '11658'
=>>>>>>>>>>>>>>>>>>>>>> 11975 /lvl2/ MECHANICAL ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MECHANICAL ENGINEER", title_clean   = "MECHANICAL ENGINEER", title_id  = "3831"  where id = '11975'
=>>>>>>>>>>>>>>>>>>>>>> 13513 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '13513'
=>>>>>>>>>>>>>>>>>>>>>> 15299 /lvl2/ Electrical\u002FMechanical Engineer for Loss Adjuster (Palembang Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Electrical\u002F-idex- for Loss Adjuster (Palembang Based)", title_clean   = "Electrical\u002F for Loss Adjuster (Palembang Based)", title_id  = "3831"  where id = '15299'
=>>>>>>>>>>>>>>>>>>>>>> 15398 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '15398'
=>>>>>>>>>>>>>>>>>>>>>> 15639 /lvl2/ MECHANICAL ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MECHANICAL ENGINEER", title_clean   = "MECHANICAL ENGINEER", title_id  = "3831"  where id = '15639'
=>>>>>>>>>>>>>>>>>>>>>> 17074 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '17074'
=>>>>>>>>>>>>>>>>>>>>>> 17230 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '17230'
=>>>>>>>>>>>>>>>>>>>>>> 17810 /lvl2/ Mechanical Engineer\u002FMekanik Alat Berat--Makassar\u002FKendari\u002FMorowali\u002F
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002FMekanik Alat Berat--Makassar\u002FKendari\u002FMorowali\u002F", title_clean   = "\u002FMekanik Alat Berat--Makassar\u002FKendari\u002FMorowali\u002F", title_id  = "3831"  where id = '17810'
=>>>>>>>>>>>>>>>>>>>>>> 20007 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '20007'
=>>>>>>>>>>>>>>>>>>>>>> 20131 /lvl2/ Mechanical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3831"  where id = '20131'
1275 /lvl1/ Customer Care Staff
=>>>>>>>>>>>>>>>>>>>>>> 13774 /lvl2/ Customer Care Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1275"  where id = '13774'
=>>>>>>>>>>>>>>>>>>>>>> 17902 /lvl2/ Customer Care Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1275"  where id = '17902'
3579 /lvl1/ Mandarin Translator
=>>>>>>>>>>>>>>>>>>>>>> 3159 /lvl2/ MANDARIN TRANSLATOR (Admin Penerjemah Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR (Admin Penerjemah Mandarin)", title_clean   = "MANDARIN TRANSLATOR (Admin Penerjemah Mandarin)", title_id  = "3579"  where id = '3159'
=>>>>>>>>>>>>>>>>>>>>>> 4639 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '4639'
=>>>>>>>>>>>>>>>>>>>>>> 5972 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '5972'
=>>>>>>>>>>>>>>>>>>>>>> 6035 /lvl2/ Mandarin Translator - Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Site", title_clean   = " - Site", title_id  = "3579"  where id = '6035'
=>>>>>>>>>>>>>>>>>>>>>> 6962 /lvl2/ Mandarin Translator 翻译员
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- 翻译员", title_clean   = " 翻译员", title_id  = "3579"  where id = '6962'
=>>>>>>>>>>>>>>>>>>>>>> 6970 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '6970'
=>>>>>>>>>>>>>>>>>>>>>> 7011 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '7011'
=>>>>>>>>>>>>>>>>>>>>>> 7085 /lvl2/ Mandarin Translator (Site Translator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Site Translator)", title_clean   = " (Site Translator)", title_id  = "3579"  where id = '7085'
=>>>>>>>>>>>>>>>>>>>>>> 7132 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '7132'
=>>>>>>>>>>>>>>>>>>>>>> 7256 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '7256'
=>>>>>>>>>>>>>>>>>>>>>> 8429 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '8429'
=>>>>>>>>>>>>>>>>>>>>>> 9691 /lvl2/ 现场翻译（ Site Mandarin Translator )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "现场翻译（ Site -idex- )", title_clean   = "现场翻译（ Site  )", title_id  = "3579"  where id = '9691'
=>>>>>>>>>>>>>>>>>>>>>> 9695 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '9695'
=>>>>>>>>>>>>>>>>>>>>>> 10247 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '10247'
=>>>>>>>>>>>>>>>>>>>>>> 10463 /lvl2/ Site Mandarin Translator (Penerjemah Bilingual - Bahasa Mandarin dan Bahasa Indonesia)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Site -idex- (Penerjemah Bilingual - Bahasa Mandarin dan Bahasa Indonesia)", title_clean   = "Site  (Penerjemah Bilingual - Bahasa Mandarin dan Bahasa Indonesia)", title_id  = "3579"  where id = '10463'
=>>>>>>>>>>>>>>>>>>>>>> 10589 /lvl2/ Mandarin Translator (Site)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Site)", title_clean   = " (Site)", title_id  = "3579"  where id = '10589'
=>>>>>>>>>>>>>>>>>>>>>> 10627 /lvl2/ Mandarin Translator (Pulau Obi, Maluku Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pulau Obi, Maluku Utara)", title_clean   = " (Pulau Obi, Maluku Utara)", title_id  = "3579"  where id = '10627'
=>>>>>>>>>>>>>>>>>>>>>> 10852 /lvl2/ Mandarin Translator and PA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and PA", title_clean   = " and PA", title_id  = "3579"  where id = '10852'
=>>>>>>>>>>>>>>>>>>>>>> 11525 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '11525'
=>>>>>>>>>>>>>>>>>>>>>> 11549 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '11549'
=>>>>>>>>>>>>>>>>>>>>>> 11575 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '11575'
=>>>>>>>>>>>>>>>>>>>>>> 11748 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '11748'
=>>>>>>>>>>>>>>>>>>>>>> 11993 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '11993'
=>>>>>>>>>>>>>>>>>>>>>> 12423 /lvl2/ Mandarin Translator - Bahasa Indonesia (Open for part-time)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bahasa Indonesia (Open for part-time)", title_clean   = " - Bahasa Indonesia (Open for part-time)", title_id  = "3579"  where id = '12423'
=>>>>>>>>>>>>>>>>>>>>>> 13669 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '13669'
=>>>>>>>>>>>>>>>>>>>>>> 14667 /lvl2/ MANDARIN TRANSLATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TRANSLATOR", title_clean   = "MANDARIN TRANSLATOR", title_id  = "3579"  where id = '14667'
=>>>>>>>>>>>>>>>>>>>>>> 15088 /lvl2/ Mandarin Translator (Penempatan Pulau Obi, Maluku Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Pulau Obi, Maluku Utara)", title_clean   = " (Penempatan Pulau Obi, Maluku Utara)", title_id  = "3579"  where id = '15088'
=>>>>>>>>>>>>>>>>>>>>>> 15721 /lvl2/ Mandarin Translator (Penempatan Pulau Obi, Maluku Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Pulau Obi, Maluku Utara)", title_clean   = " (Penempatan Pulau Obi, Maluku Utara)", title_id  = "3579"  where id = '15721'
=>>>>>>>>>>>>>>>>>>>>>> 16363 /lvl2/ Mandarin Translatoru002FInterpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-u002FInterpreter", title_clean   = "u002FInterpreter", title_id  = "3579"  where id = '16363'
=>>>>>>>>>>>>>>>>>>>>>> 16390 /lvl2/ Mandarin Translatoru002FInterpreter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-u002FInterpreter", title_clean   = "u002FInterpreter", title_id  = "3579"  where id = '16390'
=>>>>>>>>>>>>>>>>>>>>>> 17625 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '17625'
=>>>>>>>>>>>>>>>>>>>>>> 18787 /lvl2/ Mandarin Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3579"  where id = '18787'
2301 /lvl1/ Guru Sd / Smp / Sma

=>>>>>>>>>>>>>>>>>>>>>> 9368 /lvl2/ GURU SD / SMP / SMA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GURU SD / SMP / SMA", title_clean   = "GURU SD / SMP / SMA", title_id  = "2301"  where id = '9368'
4093 /lvl1/ Operator Wwtp & Wtp
1278 /lvl1/ Customer Deal Maker
=>>>>>>>>>>>>>>>>>>>>>> 4165 /lvl2/ Customer Deal Maker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1278"  where id = '4165'
6910 /lvl1/ Videographer Tiktok
=>>>>>>>>>>>>>>>>>>>>>> 14681 /lvl2/ Videographer Tiktok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6910"  where id = '14681'
1279 /lvl1/ Customer Experience
=>>>>>>>>>>>>>>>>>>>>>> 2360 /lvl2/ Customer Experience Officer (CXO\u002FCS) - Probolinggo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (CXO\u002FCS) - Probolinggo", title_clean   = " Officer (CXO\u002FCS) - Probolinggo", title_id  = "1279"  where id = '2360'
=>>>>>>>>>>>>>>>>>>>>>> 3068 /lvl2/ Customer Experience Officer (Jakarta Barat & Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (Jakarta Barat & Tangerang)", title_clean   = " Officer (Jakarta Barat & Tangerang)", title_id  = "1279"  where id = '3068'
=>>>>>>>>>>>>>>>>>>>>>> 10405 /lvl2/ VP Marketing and Customer Experience
UPDATE jobstreet_raws_v2 SET  title_extraction  = "VP Marketing and -idex-", title_clean   = "VP Marketing and ", title_id  = "1279"  where id = '10405'
=>>>>>>>>>>>>>>>>>>>>>> 12587 /lvl2/ Administrative Intern (Broker Support & Customer Experience Intern)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Administrative Intern (Broker Support & -idex- Intern)", title_clean   = "Administrative Intern (Broker Support &  Intern)", title_id  = "1279"  where id = '12587'
=>>>>>>>>>>>>>>>>>>>>>> 13348 /lvl2/ Customer Experience Officer (CXO) - Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (CXO) - Surabaya", title_clean   = " Officer (CXO) - Surabaya", title_id  = "1279"  where id = '13348'
=>>>>>>>>>>>>>>>>>>>>>> 20056 /lvl2/ Customer Experience
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1279"  where id = '20056'
4611 /lvl1/ Project Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 3270 /lvl2/ Project Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4611"  where id = '3270'
=>>>>>>>>>>>>>>>>>>>>>> 6591 /lvl2/ Project Supervisor (Civil and interior).
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil and interior).", title_clean   = " (Civil and interior).", title_id  = "4611"  where id = '6591'
=>>>>>>>>>>>>>>>>>>>>>> 7087 /lvl2/ Project Supervisor ( SPV)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( SPV)", title_clean   = " ( SPV)", title_id  = "4611"  where id = '7087'
=>>>>>>>>>>>>>>>>>>>>>> 7760 /lvl2/ Project Supervisor (Civil and interior).
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil and interior).", title_clean   = " (Civil and interior).", title_id  = "4611"  where id = '7760'
=>>>>>>>>>>>>>>>>>>>>>> 8054 /lvl2/ Project Supervisor (Civil and interior).
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil and interior).", title_clean   = " (Civil and interior).", title_id  = "4611"  where id = '8054'
=>>>>>>>>>>>>>>>>>>>>>> 18043 /lvl2/ Project Supervisor (Civil, Construction, Interior)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil, Construction, Interior)", title_clean   = " (Civil, Construction, Interior)", title_id  = "4611"  where id = '18043'
=>>>>>>>>>>>>>>>>>>>>>> 19977 /lvl2/ PROJECT SUPERVISOR (SIPIL + INTERIOR + ELECTRICAL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT SUPERVISOR (SIPIL + INTERIOR + ELECTRICAL)", title_clean   = "PROJECT SUPERVISOR (SIPIL + INTERIOR + ELECTRICAL)", title_id  = "4611"  where id = '19977'
=>>>>>>>>>>>>>>>>>>>>>> 20030 /lvl2/ Project Supervisor Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jawa Timur", title_clean   = " Jawa Timur", title_id  = "4611"  where id = '20030'
=>>>>>>>>>>>>>>>>>>>>>> 20433 /lvl2/ Project Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4611"  where id = '20433'
1028 /lvl1/ Compliance Manager
=>>>>>>>>>>>>>>>>>>>>>> 15033 /lvl2/ Compliance Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1028"  where id = '15033'
2820 /lvl1/ Investment Officer
=>>>>>>>>>>>>>>>>>>>>>> 7428 /lvl2/ Investment Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2820"  where id = '7428'
5124 /lvl1/ Sales Counter Toko
=>>>>>>>>>>>>>>>>>>>>>> 16763 /lvl2/ Sales Counter Toko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5124"  where id = '16763'
4101 /lvl1/ Order & Expediting
=>>>>>>>>>>>>>>>>>>>>>> 15612 /lvl2/ ORDER & EXPEDITING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ORDER & EXPEDITING", title_clean   = "ORDER & EXPEDITING", title_id  = "4101"  where id = '15612'
=>>>>>>>>>>>>>>>>>>>>>> 15628 /lvl2/ ORDER & EXPEDITING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ORDER & EXPEDITING", title_clean   = "ORDER & EXPEDITING", title_id  = "4101"  where id = '15628'
262 /lvl1/ Admin Sosial Media
=>>>>>>>>>>>>>>>>>>>>>> 15333 /lvl2/ Admin Sosial Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "262"  where id = '15333'
=>>>>>>>>>>>>>>>>>>>>>> 17522 /lvl2/ Admin Sosial Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "262"  where id = '17522'
3590 /lvl1/ Marine Claim Staff
=>>>>>>>>>>>>>>>>>>>>>> 18624 /lvl2/ Marine Claim Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3590"  where id = '18624'
=>>>>>>>>>>>>>>>>>>>>>> 18642 /lvl2/ Marine Claim Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3590"  where id = '18642'
5127 /lvl1/ Sales Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 3588 /lvl2/ Sales Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5127"  where id = '3588'
=>>>>>>>>>>>>>>>>>>>>>> 12324 /lvl2/ Spv Sales Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Spv -idex-", title_clean   = "Spv ", title_id  = "5127"  where id = '12324'
6663 /lvl1/ Teknisi Instrument
=>>>>>>>>>>>>>>>>>>>>>> 18003 /lvl2/ TEKNISI INSTRUMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI INSTRUMENT", title_clean   = "TEKNISI INSTRUMENT", title_id  = "6663"  where id = '18003'
1800 /lvl1/ Executive Director
=>>>>>>>>>>>>>>>>>>>>>> 9146 /lvl2/ EXECUTIVE DIRECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EXECUTIVE DIRECTOR", title_clean   = "EXECUTIVE DIRECTOR", title_id  = "1800"  where id = '9146'
6409 /lvl1/ Supervisor Utility
=>>>>>>>>>>>>>>>>>>>>>> 15962 /lvl2/ Supervisor Utility
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6409"  where id = '15962'
4877 /lvl1/ Recruitment Intern
=>>>>>>>>>>>>>>>>>>>>>> 2093 /lvl2/ Recruitment Intern - Dumai
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Dumai", title_clean   = " - Dumai", title_id  = "4877"  where id = '2093'
=>>>>>>>>>>>>>>>>>>>>>> 2266 /lvl2/ Recruitment Intern - Duri Bengkalis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Duri Bengkalis", title_clean   = " - Duri Bengkalis", title_id  = "4877"  where id = '2266'
=>>>>>>>>>>>>>>>>>>>>>> 11183 /lvl2/ Shopee Express - Recruitment Intern (Tegal)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - -idex- (Tegal)", title_clean   = "Shopee Express -  (Tegal)", title_id  = "4877"  where id = '11183'
=>>>>>>>>>>>>>>>>>>>>>> 11688 /lvl2/ Shopee Express - Recruitment Intern (Solo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - -idex- (Solo)", title_clean   = "Shopee Express -  (Solo)", title_id  = "4877"  where id = '11688'
=>>>>>>>>>>>>>>>>>>>>>> 12114 /lvl2/ Recruitment Intern - Pekanbaru
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pekanbaru", title_clean   = " - Pekanbaru", title_id  = "4877"  where id = '12114'
=>>>>>>>>>>>>>>>>>>>>>> 13655 /lvl2/ Recruitment Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4877"  where id = '13655'
=>>>>>>>>>>>>>>>>>>>>>> 15534 /lvl2/ Shopee Express - Recruitment Intern (Makassar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - -idex- (Makassar)", title_clean   = "Shopee Express -  (Makassar)", title_id  = "4877"  where id = '15534'
=>>>>>>>>>>>>>>>>>>>>>> 16134 /lvl2/ RECRUITMENT Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT Intern", title_clean   = "RECRUITMENT Intern", title_id  = "4877"  where id = '16134'
=>>>>>>>>>>>>>>>>>>>>>> 16261 /lvl2/ Shopee Express - Recruitment Intern (Gresik)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - -idex- (Gresik)", title_clean   = "Shopee Express -  (Gresik)", title_id  = "4877"  where id = '16261'
=>>>>>>>>>>>>>>>>>>>>>> 16263 /lvl2/ Shopee Express - Recruitment Intern (Sidoarjo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - -idex- (Sidoarjo)", title_clean   = "Shopee Express -  (Sidoarjo)", title_id  = "4877"  where id = '16263'
=>>>>>>>>>>>>>>>>>>>>>> 18546 /lvl2/ Recruitment Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4877"  where id = '18546'
5645 /lvl1/ Senior Staff Legal

=>>>>>>>>>>>>>>>>>>>>>> 9391 /lvl2/ Senior Staff Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5645"  where id = '9391'
3342 /lvl1/ Leasing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 1481 /lvl2/ Leasing Supervisor (Mal Ciputra Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mal Ciputra Tangerang)", title_clean   = " (Mal Ciputra Tangerang)", title_id  = "3342"  where id = '1481'
=>>>>>>>>>>>>>>>>>>>>>> 2798 /lvl2/ Leasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3342"  where id = '2798'
=>>>>>>>>>>>>>>>>>>>>>> 4775 /lvl2/ Leasing Supervisor - Gajah Mada Plaza
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Gajah Mada Plaza", title_clean   = " - Gajah Mada Plaza", title_id  = "3342"  where id = '4775'
=>>>>>>>>>>>>>>>>>>>>>> 11727 /lvl2/ Leasing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3342"  where id = '11727'
=>>>>>>>>>>>>>>>>>>>>>> 13300 /lvl2/ LEASING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEASING SUPERVISOR", title_clean   = "LEASING SUPERVISOR", title_id  = "3342"  where id = '13300'
=>>>>>>>>>>>>>>>>>>>>>> 13318 /lvl2/ LEASING SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEASING SUPERVISOR", title_clean   = "LEASING SUPERVISOR", title_id  = "3342"  where id = '13318'
6158 /lvl1/ Staff Sales Online
=>>>>>>>>>>>>>>>>>>>>>> 17452 /lvl2/ Staff Sales Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6158"  where id = '17452'
5647 /lvl1/ Senior Staff Sales
=>>>>>>>>>>>>>>>>>>>>>> 16459 /lvl2/ Senior Staff Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5647"  where id = '16459'
=>>>>>>>>>>>>>>>>>>>>>> 16476 /lvl2/ Senior Staff Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5647"  where id = '16476'
3856 /lvl1/ Medical Technology
=>>>>>>>>>>>>>>>>>>>>>> 9839 /lvl2/ Medical Technology
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3856"  where id = '9839'
2577 /lvl1/ HRga Superitendent
=>>>>>>>>>>>>>>>>>>>>>> 7621 /lvl2/ HRGA Superitendent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRGA Superitendent", title_clean   = "HRGA Superitendent", title_id  = "2577"  where id = '7621'
2834 /lvl1/ It Account Manager
=>>>>>>>>>>>>>>>>>>>>>> 6125 /lvl2/ IT Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Account Manager", title_clean   = "IT Account Manager", title_id  = "2834"  where id = '6125'
=>>>>>>>>>>>>>>>>>>>>>> 10882 /lvl2/ Senior IT Account Manager (Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior IT Account Manager (Sales)", title_clean   = "Senior IT Account Manager (Sales)", title_id  = "2834"  where id = '10882'
=>>>>>>>>>>>>>>>>>>>>>> 11355 /lvl2/ IT Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Account Manager", title_clean   = "IT Account Manager", title_id  = "2834"  where id = '11355'
=>>>>>>>>>>>>>>>>>>>>>> 11942 /lvl2/ IT account manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT account manager", title_clean   = "IT account manager", title_id  = "2834"  where id = '11942'
=>>>>>>>>>>>>>>>>>>>>>> 13815 /lvl2/ IT Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Account Manager", title_clean   = "IT Account Manager", title_id  = "2834"  where id = '13815'
=>>>>>>>>>>>>>>>>>>>>>> 13827 /lvl2/ IT Account Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Account Manager", title_clean   = "IT Account Manager", title_id  = "2834"  where id = '13827'
531 /lvl1/ Assistant Operator
=>>>>>>>>>>>>>>>>>>>>>> 4883 /lvl2/ Assistant Operator  /  Helper
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Helper", title_clean   = "  /  Helper", title_id  = "531"  where id = '4883'
=>>>>>>>>>>>>>>>>>>>>>> 17473 /lvl2/ Assistant Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "531"  where id = '17473'
6422 /lvl1/ Supply Chain Admin
=>>>>>>>>>>>>>>>>>>>>>> 73 /lvl2/ Supply Chain Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6422"  where id = '73'
535 /lvl1/ Assistant Producer
=>>>>>>>>>>>>>>>>>>>>>> 12424 /lvl2/ Assistant Producer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "535"  where id = '12424'
6167 /lvl1/ Staff Stock Keeper
=>>>>>>>>>>>>>>>>>>>>>> 1612 /lvl2/ Staff Stock Keeper
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6167"  where id = '1612'
4121 /lvl1/ Oss Tools Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11656 /lvl2/ OSS Tools Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OSS Tools Engineer", title_clean   = "OSS Tools Engineer", title_id  = "4121"  where id = '11656'
=>>>>>>>>>>>>>>>>>>>>>> 11676 /lvl2/ OSS Tools Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OSS Tools Engineer", title_clean   = "OSS Tools Engineer", title_id  = "4121"  where id = '11676'
5401 /lvl1/ Secretary Director
=>>>>>>>>>>>>>>>>>>>>>> 6985 /lvl2/ SECRETARY DIRECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECRETARY DIRECTOR", title_clean   = "SECRETARY DIRECTOR", title_id  = "5401"  where id = '6985'
=>>>>>>>>>>>>>>>>>>>>>> 7217 /lvl2/ Secretary Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5401"  where id = '7217'
1052 /lvl1/ Container Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 11398 /lvl2/ CONTAINER SURVEYOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTAINER SURVEYOR", title_clean   = "CONTAINER SURVEYOR", title_id  = "1052"  where id = '11398'
1567 /lvl1/ Drafter Electrical
=>>>>>>>>>>>>>>>>>>>>>> 15255 /lvl2/ Drafter Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1567"  where id = '15255'
1568 /lvl1/ Drafter Elektronik
=>>>>>>>>>>>>>>>>>>>>>> 18124 /lvl2/ Drafter Elektronik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1568"  where id = '18124'
=>>>>>>>>>>>>>>>>>>>>>> 18141 /lvl2/ Drafter Elektronik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1568"  where id = '18141'
5665 /lvl1/ Senior Tax Manager
5921 /lvl1/ Staff Perpustakaan
=>>>>>>>>>>>>>>>>>>>>>> 13039 /lvl2/ Staff PERPUSTAKAAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff PERPUSTAKAAN", title_clean   = "Staff PERPUSTAKAAN", title_id  = "5921"  where id = '13039'
=>>>>>>>>>>>>>>>>>>>>>> 13054 /lvl2/ Staff PERPUSTAKAAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff PERPUSTAKAAN", title_clean   = "Staff PERPUSTAKAAN", title_id  = "5921"  where id = '13054'
5666 /lvl1/ Senior Tax Officer
=>>>>>>>>>>>>>>>>>>>>>> 4461 /lvl2/ Senior Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5666"  where id = '4461'
=>>>>>>>>>>>>>>>>>>>>>> 5727 /lvl2/ Senior Tax Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5666"  where id = '5727'
5411 /lvl1/ Section Head Fleet
=>>>>>>>>>>>>>>>>>>>>>> 7310 /lvl2/ Section Head Fleet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5411"  where id = '7310'
3876 /lvl1/ Merchandiser Staff
=>>>>>>>>>>>>>>>>>>>>>> 11874 /lvl2/ Merchandiser Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3876"  where id = '11874'
6180 /lvl1/ Staff Underwriting
=>>>>>>>>>>>>>>>>>>>>>> 333 /lvl2/ Staff Underwriting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6180"  where id = '333'
3878 /lvl1/ Merchandiser Sushi
=>>>>>>>>>>>>>>>>>>>>>> 6233 /lvl2/ Merchandiser Sushi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3878"  where id = '6233'
5674 /lvl1/ Senior Ux Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7413 /lvl2/ Senior UX Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior UX Engineer", title_clean   = "Senior UX Engineer", title_id  = "5674"  where id = '7413'
299 /lvl1/ Administrasi Sales
=>>>>>>>>>>>>>>>>>>>>>> 5293 /lvl2/ Administrasi Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "299"  where id = '5293'
=>>>>>>>>>>>>>>>>>>>>>> 8616 /lvl2/ Administrasi Sales Support (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Support (Mandarin Speaker)", title_clean   = " Support (Mandarin Speaker)", title_id  = "299"  where id = '8616'
=>>>>>>>>>>>>>>>>>>>>>> 11112 /lvl2/ Administrasi Sales (SAP Business One)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SAP Business One)", title_clean   = " (SAP Business One)", title_id  = "299"  where id = '11112'
=>>>>>>>>>>>>>>>>>>>>>> 11146 /lvl2/ Administrasi Sales (SAP Business One)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SAP Business One)", title_clean   = " (SAP Business One)", title_id  = "299"  where id = '11146'
=>>>>>>>>>>>>>>>>>>>>>> 16824 /lvl2/ STAFF ADMINISTRASI SALES (BANDUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI SALES (BANDUNG)", title_clean   = "STAFF ADMINISTRASI SALES (BANDUNG)", title_id  = "299"  where id = '16824'
=>>>>>>>>>>>>>>>>>>>>>> 16838 /lvl2/ STAFF ADMINISTRASI SALES (BANDUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI SALES (BANDUNG)", title_clean   = "STAFF ADMINISTRASI SALES (BANDUNG)", title_id  = "299"  where id = '16838'
1580 /lvl1/ Drafter Mechanical

=>>>>>>>>>>>>>>>>>>>>>> 5122 /lvl2/ Drafter Mechanical (Machine Designer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Machine Designer)", title_clean   = " (Machine Designer)", title_id  = "1580"  where id = '5122'
3372 /lvl1/ Legal Permit Staff
=>>>>>>>>>>>>>>>>>>>>>> 12801 /lvl2/ Legal Permit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3372"  where id = '12801'
=>>>>>>>>>>>>>>>>>>>>>> 14170 /lvl2/ Legal Permit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3372"  where id = '14170'
=>>>>>>>>>>>>>>>>>>>>>> 14521 /lvl2/ Legal Permit Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3372"  where id = '14521'
6188 /lvl1/ Stock Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 11008 /lvl2/ Stock Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6188"  where id = '11008'
301 /lvl1/ Administrasi Staff
=>>>>>>>>>>>>>>>>>>>>>> 90 /lvl2/ Administrasi Staff Jogjakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jogjakarta", title_clean   = " Jogjakarta", title_id  = "301"  where id = '90'
=>>>>>>>>>>>>>>>>>>>>>> 112 /lvl2/ Administrasi Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "301"  where id = '112'
=>>>>>>>>>>>>>>>>>>>>>> 12635 /lvl2/ Administrasi Staff (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "301"  where id = '12635'
=>>>>>>>>>>>>>>>>>>>>>> 16456 /lvl2/ Administrasi Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "301"  where id = '16456'
=>>>>>>>>>>>>>>>>>>>>>> 17441 /lvl2/ Administrasi Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "301"  where id = '17441'
=>>>>>>>>>>>>>>>>>>>>>> 17460 /lvl2/ Administrasi Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "301"  where id = '17460'
=>>>>>>>>>>>>>>>>>>>>>> 17769 /lvl2/ Administrasi Staff (Magang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Magang)", title_clean   = " (Magang)", title_id  = "301"  where id = '17769'
6701 /lvl1/ Teknisi Restaurant
=>>>>>>>>>>>>>>>>>>>>>> 20345 /lvl2/ Teknisi Restaurant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6701"  where id = '20345'
6957 /lvl1/ Warehouse Operator
=>>>>>>>>>>>>>>>>>>>>>> 6725 /lvl2/ Warehouse Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6957"  where id = '6725'
=>>>>>>>>>>>>>>>>>>>>>> 16508 /lvl2/ Warehouse Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6957"  where id = '16508'
302 /lvl1/ Administrasi Stock
=>>>>>>>>>>>>>>>>>>>>>> 19971 /lvl2/ ADMINISTRASI STOCK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI STOCK", title_clean   = "ADMINISTRASI STOCK", title_id  = "302"  where id = '19971'
558 /lvl1/ Associate / Lawyer
3374 /lvl1/ Legal Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 977 /lvl2/ Legal Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3374"  where id = '977'
=>>>>>>>>>>>>>>>>>>>>>> 1667 /lvl2/ Legal Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3374"  where id = '1667'
=>>>>>>>>>>>>>>>>>>>>>> 8419 /lvl2/ Legal Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3374"  where id = '8419'
4398 /lvl1/ Process Excellence
=>>>>>>>>>>>>>>>>>>>>>> 18560 /lvl2/ Process Excellence
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4398"  where id = '18560'
48 /lvl1/ Account Receivable
=>>>>>>>>>>>>>>>>>>>>>> 149 /lvl2/ Account Receivable (AR) Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AR) Staff", title_clean   = " (AR) Staff", title_id  = "48"  where id = '149'
=>>>>>>>>>>>>>>>>>>>>>> 174 /lvl2/ ACCOUNT RECEIVABLE (RMO MEDAN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT RECEIVABLE (RMO MEDAN)", title_clean   = "ACCOUNT RECEIVABLE (RMO MEDAN)", title_id  = "48"  where id = '174'
=>>>>>>>>>>>>>>>>>>>>>> 489 /lvl2/ SPV Finance Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV Finance -idex-", title_clean   = "SPV Finance ", title_id  = "48"  where id = '489'
=>>>>>>>>>>>>>>>>>>>>>> 889 /lvl2/ Account Receivable (AR) Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AR) Supervisor", title_clean   = " (AR) Supervisor", title_id  = "48"  where id = '889'
=>>>>>>>>>>>>>>>>>>>>>> 2339 /lvl2/ Sr. Account Receivable Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex- Executive", title_clean   = "Sr.  Executive", title_id  = "48"  where id = '2339'
=>>>>>>>>>>>>>>>>>>>>>> 3370 /lvl2/ Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "48"  where id = '3370'
=>>>>>>>>>>>>>>>>>>>>>> 3574 /lvl2/ Account Receivable Specialist - PT Lippo Malls Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Specialist - PT Lippo Malls Indonesia", title_clean   = " Specialist - PT Lippo Malls Indonesia", title_id  = "48"  where id = '3574'
=>>>>>>>>>>>>>>>>>>>>>> 4992 /lvl2/ Cashier - English\u002FMandarin Speaker - (Account Payable\u002FAccount Receivable)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cashier - English\u002FMandarin Speaker - (Account Payable\u002F-idex-)", title_clean   = "Cashier - English\u002FMandarin Speaker - (Account Payable\u002F)", title_id  = "48"  where id = '4992'
=>>>>>>>>>>>>>>>>>>>>>> 5353 /lvl2/ Accounting (Account receivable)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting (Account receivable)", title_clean   = "Accounting (Account receivable)", title_id  = "48"  where id = '5353'
=>>>>>>>>>>>>>>>>>>>>>> 8731 /lvl2/ Account Receivable Head (Purwokerto,Cilacap,Banyumas)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Head (Purwokerto,Cilacap,Banyumas)", title_clean   = " Head (Purwokerto,Cilacap,Banyumas)", title_id  = "48"  where id = '8731'
=>>>>>>>>>>>>>>>>>>>>>> 11817 /lvl2/ Account Receivable Specialist - Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Specialist - Indonesia", title_clean   = " Specialist - Indonesia", title_id  = "48"  where id = '11817'
=>>>>>>>>>>>>>>>>>>>>>> 14480 /lvl2/ Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "48"  where id = '14480'
=>>>>>>>>>>>>>>>>>>>>>> 14986 /lvl2/ Account Receivable
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "48"  where id = '14986'
=>>>>>>>>>>>>>>>>>>>>>> 15040 /lvl2/ Account Receivable (Jakarta Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta Based)", title_clean   = " (Jakarta Based)", title_id  = "48"  where id = '15040'
=>>>>>>>>>>>>>>>>>>>>>> 17227 /lvl2/ Account Receivable (AR) Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AR) Staff", title_clean   = " (AR) Staff", title_id  = "48"  where id = '17227'
=>>>>>>>>>>>>>>>>>>>>>> 17990 /lvl2/ ACCOUNT RECEIVABLE (AR STAFF) - URGENT!
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT RECEIVABLE (AR STAFF) - URGENT!", title_clean   = "ACCOUNT RECEIVABLE (AR STAFF) - URGENT!", title_id  = "48"  where id = '17990'
5937 /lvl1/ Staff Senior Riset
6705 /lvl1/ Teknisi Smartphone
=>>>>>>>>>>>>>>>>>>>>>> 9585 /lvl2/ Teknisi Smartphone (Seluruh Pulau Jawa)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Seluruh Pulau Jawa)", title_clean   = " (Seluruh Pulau Jawa)", title_id  = "6705"  where id = '9585'
=>>>>>>>>>>>>>>>>>>>>>> 15914 /lvl2/ Teknisi Smartphone
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6705"  where id = '15914'
=>>>>>>>>>>>>>>>>>>>>>> 15926 /lvl2/ Teknisi Smartphone
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6705"  where id = '15926'
5426 /lvl1/ Sekretaris / Admin
3123 /lvl1/ Junior Media Buyer
=>>>>>>>>>>>>>>>>>>>>>> 19007 /lvl2/ Junior Media Buyer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3123"  where id = '19007'
5428 /lvl1/ Sekretaris Direksi

=>>>>>>>>>>>>>>>>>>>>>> 2779 /lvl2/ Sekretaris Direksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5428"  where id = '2779'
=>>>>>>>>>>>>>>>>>>>>>> 14456 /lvl2/ Sekretaris Direksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5428"  where id = '14456'
=>>>>>>>>>>>>>>>>>>>>>> 14742 /lvl2/ SEKRETARIS DIREKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEKRETARIS DIREKSI", title_clean   = "SEKRETARIS DIREKSI", title_id  = "5428"  where id = '14742'
=>>>>>>>>>>>>>>>>>>>>>> 14853 /lvl2/ Sekretaris Direksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5428"  where id = '14853'
=>>>>>>>>>>>>>>>>>>>>>> 16911 /lvl2/ Sekretaris Direksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5428"  where id = '16911'
5686 /lvl1/ Seo Content Writer
=>>>>>>>>>>>>>>>>>>>>>> 16342 /lvl2/ SEO Content Writer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEO Content Writer", title_clean   = "SEO Content Writer", title_id  = "5686"  where id = '16342'
=>>>>>>>>>>>>>>>>>>>>>> 16357 /lvl2/ SEO Content Writer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SEO Content Writer", title_clean   = "SEO Content Writer", title_id  = "5686"  where id = '16357'
1593 /lvl1/ Drafter Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15644 /lvl2/ Drafter Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1593"  where id = '15644'
3129 /lvl1/ Junior Plan & Spec
=>>>>>>>>>>>>>>>>>>>>>> 3948 /lvl2/ JUNIOR PLAN & SPEC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR PLAN & SPEC", title_clean   = "JUNIOR PLAN & SPEC", title_id  = "3129"  where id = '3948'
1082 /lvl1/ Content Strategist
=>>>>>>>>>>>>>>>>>>>>>> 2172 /lvl2/ CONTENT STRATEGIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTENT STRATEGIST", title_clean   = "CONTENT STRATEGIST", title_id  = "1082"  where id = '2172'
=>>>>>>>>>>>>>>>>>>>>>> 6347 /lvl2/ Content Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1082"  where id = '6347'
=>>>>>>>>>>>>>>>>>>>>>> 7494 /lvl2/ Content Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1082"  where id = '7494'
=>>>>>>>>>>>>>>>>>>>>>> 13218 /lvl2/ Content Strategist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1082"  where id = '13218'
=>>>>>>>>>>>>>>>>>>>>>> 16509 /lvl2/ CONTENT STRATEGIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTENT STRATEGIST", title_clean   = "CONTENT STRATEGIST", title_id  = "1082"  where id = '16509'
3898 /lvl1/ Mine Plan Engineer
=>>>>>>>>>>>>>>>>>>>>>> 14034 /lvl2/ Mine Plan Engineer (Mining - Kalimantan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mining - Kalimantan)", title_clean   = " (Mining - Kalimantan)", title_id  = "3898"  where id = '14034'
=>>>>>>>>>>>>>>>>>>>>>> 14355 /lvl2/ Mine Plan Engineer (Mining - Kalimantan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mining - Kalimantan)", title_clean   = " (Mining - Kalimantan)", title_id  = "3898"  where id = '14355'
=>>>>>>>>>>>>>>>>>>>>>> 14370 /lvl2/ Mine Plan Engineer (Mining - Kalimantan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mining - Kalimantan)", title_clean   = " (Mining - Kalimantan)", title_id  = "3898"  where id = '14370'
=>>>>>>>>>>>>>>>>>>>>>> 16277 /lvl2/ Mine Plan Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3898"  where id = '16277'
=>>>>>>>>>>>>>>>>>>>>>> 16291 /lvl2/ Mine Plan Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3898"  where id = '16291'
571 /lvl1/ Audit & Inspection
1853 /lvl1/ External Relations
=>>>>>>>>>>>>>>>>>>>>>> 3544 /lvl2/ External Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1853"  where id = '3544'
=>>>>>>>>>>>>>>>>>>>>>> 9632 /lvl2/ External Relations (Ast.Mgr\u002FMgr)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Ast.Mgr\u002FMgr)", title_clean   = " (Ast.Mgr\u002FMgr)", title_id  = "1853"  where id = '9632'
6462 /lvl1/ System Implementor
=>>>>>>>>>>>>>>>>>>>>>> 16173 /lvl2/ SYSTEM IMPLEMENTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SYSTEM IMPLEMENTOR", title_clean   = "SYSTEM IMPLEMENTOR", title_id  = "6462"  where id = '16173'
1599 /lvl1/ Driver Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 94 /lvl2/ Land Driver Coordinator Shopee Express (Bali)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Land -idex- Shopee Express (Bali)", title_clean   = "Land  Shopee Express (Bali)", title_id  = "1599"  where id = '94'
=>>>>>>>>>>>>>>>>>>>>>> 10525 /lvl2/ Land Driver Coordinator Shopee Express (Pontianak)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Land -idex- Shopee Express (Pontianak)", title_clean   = "Land  Shopee Express (Pontianak)", title_id  = "1599"  where id = '10525'
=>>>>>>>>>>>>>>>>>>>>>> 11767 /lvl2/ Land Driver Coordinator Shopee Express (Pekanbaru)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Land -idex- Shopee Express (Pekanbaru)", title_clean   = "Land  Shopee Express (Pekanbaru)", title_id  = "1599"  where id = '11767'
=>>>>>>>>>>>>>>>>>>>>>> 14132 /lvl2/ Driver Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1599"  where id = '14132'
=>>>>>>>>>>>>>>>>>>>>>> 15350 /lvl2/ Land Driver Coordinator Shopee Express (Jambi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Land -idex- Shopee Express (Jambi)", title_clean   = "Land  Shopee Express (Jambi)", title_id  = "1599"  where id = '15350'
=>>>>>>>>>>>>>>>>>>>>>> 16484 /lvl2/ Land Driver Coordinator Shopee Express (Mataram)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Land -idex- Shopee Express (Mataram)", title_clean   = "Land  Shopee Express (Mataram)", title_id  = "1599"  where id = '16484'
2111 /lvl1/ Front End Engineer
=>>>>>>>>>>>>>>>>>>>>>> 15165 /lvl2/ Front End Engineer ( ReactJs) Fresh graduates are welcome
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( ReactJs) Fresh graduates are welcome", title_clean   = " ( ReactJs) Fresh graduates are welcome", title_id  = "2111"  where id = '15165'
3903 /lvl1/ Mining Engineering
=>>>>>>>>>>>>>>>>>>>>>> 13723 /lvl2/ Mining Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3903"  where id = '13723'
4415 /lvl1/ Procurement Expert
=>>>>>>>>>>>>>>>>>>>>>> 4783 /lvl2/ Procurement Expert
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4415"  where id = '4783'
4928 /lvl1/ Regulatory Affairs
=>>>>>>>>>>>>>>>>>>>>>> 2148 /lvl2/ Senior Regulatory Affairs (BALI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (BALI)", title_clean   = "Senior  (BALI)", title_id  = "4928"  where id = '2148'
=>>>>>>>>>>>>>>>>>>>>>> 3154 /lvl2/ Regulatory Affairs Officer (KALBE Group)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (KALBE Group)", title_clean   = " Officer (KALBE Group)", title_id  = "4928"  where id = '3154'
=>>>>>>>>>>>>>>>>>>>>>> 6588 /lvl2/ Regulatory Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4928"  where id = '6588'
=>>>>>>>>>>>>>>>>>>>>>> 8071 /lvl2/ Regulatory Affairs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4928"  where id = '8071'
=>>>>>>>>>>>>>>>>>>>>>> 14156 /lvl2/ Regulatory Affairs (Obat & Herbal - Farmasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Obat & Herbal - Farmasi)", title_clean   = " (Obat & Herbal - Farmasi)", title_id  = "4928"  where id = '14156'
=>>>>>>>>>>>>>>>>>>>>>> 14532 /lvl2/ Regulatory Affairs (Obat & Herbal - Farmasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Obat & Herbal - Farmasi)", title_clean   = " (Obat & Herbal - Farmasi)", title_id  = "4928"  where id = '14532'
5184 /lvl1/ Sales Food Service
=>>>>>>>>>>>>>>>>>>>>>> 6698 /lvl2/ SALES FOOD SERVICE \u002F HORECA - SOLO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES FOOD SERVICE \u002F HORECA - SOLO", title_clean   = "SALES FOOD SERVICE \u002F HORECA - SOLO", title_id  = "5184"  where id = '6698'
=>>>>>>>>>>>>>>>>>>>>>> 7895 /lvl2/ Sales Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5184"  where id = '7895'
=>>>>>>>>>>>>>>>>>>>>>> 8209 /lvl2/ Sales Food Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5184"  where id = '8209'
4930 /lvl1/ Regulatory Manager

=>>>>>>>>>>>>>>>>>>>>>> 19609 /lvl2/ Regulatory Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4930"  where id = '19609'
579 /lvl1/ Auditor Retail F&B
=>>>>>>>>>>>>>>>>>>>>>> 19608 /lvl2/ Auditor Retail F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "579"  where id = '19608'
4675 /lvl1/ Purchasing Manager
=>>>>>>>>>>>>>>>>>>>>>> 1399 /lvl2/ Purchasing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4675"  where id = '1399'
=>>>>>>>>>>>>>>>>>>>>>> 4366 /lvl2/ Purchasing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4675"  where id = '4366'
=>>>>>>>>>>>>>>>>>>>>>> 9989 /lvl2/ PURCHASING MANAGER (PENEMPATAN AREA MAGELANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING MANAGER (PENEMPATAN AREA MAGELANG)", title_clean   = "PURCHASING MANAGER (PENEMPATAN AREA MAGELANG)", title_id  = "4675"  where id = '9989'
=>>>>>>>>>>>>>>>>>>>>>> 10564 /lvl2/ Purchasing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4675"  where id = '10564'
=>>>>>>>>>>>>>>>>>>>>>> 19185 /lvl2/ Interior Purchasing Manager (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Interior -idex- (Surabaya)", title_clean   = "Interior  (Surabaya)", title_id  = "4675"  where id = '19185'
=>>>>>>>>>>>>>>>>>>>>>> 20434 /lvl2/ Purchasing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4675"  where id = '20434'
4931 /lvl1/ Regulatory Officer
=>>>>>>>>>>>>>>>>>>>>>> 30 /lvl2/ Regulatory Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4931"  where id = '30'
=>>>>>>>>>>>>>>>>>>>>>> 581 /lvl2/ Regulatory Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4931"  where id = '581'
=>>>>>>>>>>>>>>>>>>>>>> 6731 /lvl2/ Regulatory Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4931"  where id = '6731'
326 /lvl1/ Advisory Associate
=>>>>>>>>>>>>>>>>>>>>>> 9429 /lvl2/ Advisory Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "326"  where id = '9429'
1094 /lvl1/ Controller Auditor
=>>>>>>>>>>>>>>>>>>>>>> 14012 /lvl2/ CONTROLLER AUDITOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CONTROLLER AUDITOR", title_clean   = "CONTROLLER AUDITOR", title_id  = "1094"  where id = '14012'
1606 /lvl1/ Driver Operasional
=>>>>>>>>>>>>>>>>>>>>>> 14693 /lvl2/ Driver Operasional \u002F Supir Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Supir Operasional", title_clean   = " \u002F Supir Operasional", title_id  = "1606"  where id = '14693'
=>>>>>>>>>>>>>>>>>>>>>> 15093 /lvl2/ Driver Operasional \u002F Supir Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Supir Operasional", title_clean   = " \u002F Supir Operasional", title_id  = "1606"  where id = '15093'
=>>>>>>>>>>>>>>>>>>>>>> 18925 /lvl2/ Driver Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1606"  where id = '18925'
=>>>>>>>>>>>>>>>>>>>>>> 19630 /lvl2/ Driver Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1606"  where id = '19630'
4678 /lvl1/ Purchasing Officer
=>>>>>>>>>>>>>>>>>>>>>> 2054 /lvl2/ PURCHASING OFFICER - SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING OFFICER - SEMARANG", title_clean   = "PURCHASING OFFICER - SEMARANG", title_id  = "4678"  where id = '2054'
=>>>>>>>>>>>>>>>>>>>>>> 2750 /lvl2/ PURCHASING OFFICER - SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING OFFICER - SEMARANG", title_clean   = "PURCHASING OFFICER - SEMARANG", title_id  = "4678"  where id = '2750'
=>>>>>>>>>>>>>>>>>>>>>> 2867 /lvl2/ Purchasing Officer - Lippo Plaza Jogja
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Plaza Jogja", title_clean   = " - Lippo Plaza Jogja", title_id  = "4678"  where id = '2867'
=>>>>>>>>>>>>>>>>>>>>>> 3193 /lvl2/ Procurement  /  Purchasing officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Procurement  /  Purchasing officer", title_clean   = "Procurement  /  Purchasing officer", title_id  = "4678"  where id = '3193'
=>>>>>>>>>>>>>>>>>>>>>> 3650 /lvl2/ Purchasing Officer - Lippo Plaza Jogja
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Plaza Jogja", title_clean   = " - Lippo Plaza Jogja", title_id  = "4678"  where id = '3650'
=>>>>>>>>>>>>>>>>>>>>>> 4842 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '4842'
=>>>>>>>>>>>>>>>>>>>>>> 9410 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '9410'
=>>>>>>>>>>>>>>>>>>>>>> 11384 /lvl2/ Purchasing Officer - Lippo Mall Puri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Mall Puri", title_clean   = " - Lippo Mall Puri", title_id  = "4678"  where id = '11384'
=>>>>>>>>>>>>>>>>>>>>>> 11840 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '11840'
=>>>>>>>>>>>>>>>>>>>>>> 12433 /lvl2/ PURCHASING OFFICER (EBA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING OFFICER (EBA)", title_clean   = "PURCHASING OFFICER (EBA)", title_id  = "4678"  where id = '12433'
=>>>>>>>>>>>>>>>>>>>>>> 16730 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '16730'
=>>>>>>>>>>>>>>>>>>>>>> 18651 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '18651'
=>>>>>>>>>>>>>>>>>>>>>> 19601 /lvl2/ Field Purchasing Officer - Fresh Produce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- - Fresh Produce", title_clean   = "Field  - Fresh Produce", title_id  = "4678"  where id = '19601'
=>>>>>>>>>>>>>>>>>>>>>> 19603 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '19603'
=>>>>>>>>>>>>>>>>>>>>>> 20083 /lvl2/ Purchasing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4678"  where id = '20083'
1096 /lvl1/ Cook & Cook Helper
=>>>>>>>>>>>>>>>>>>>>>> 18260 /lvl2/ Cook & Cook Helper
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1096"  where id = '18260'
4168 /lvl1/ Payroll Specialist
=>>>>>>>>>>>>>>>>>>>>>> 537 /lvl2/ Payroll Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4168"  where id = '537'
=>>>>>>>>>>>>>>>>>>>>>> 2341 /lvl2/ Payroll Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4168"  where id = '2341'
=>>>>>>>>>>>>>>>>>>>>>> 3063 /lvl2/ Payroll Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4168"  where id = '3063'
=>>>>>>>>>>>>>>>>>>>>>> 3629 /lvl2/ Payroll Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4168"  where id = '3629'
=>>>>>>>>>>>>>>>>>>>>>> 13022 /lvl2/ Payroll Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4168"  where id = '13022'
1097 /lvl1/ Cook Chef Japanese
=>>>>>>>>>>>>>>>>>>>>>> 11865 /lvl2/ Cook Chef Japanese
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1097"  where id = '11865'
4170 /lvl1/ Payroll Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 16990 /lvl2/ Payroll Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4170"  where id = '16990'
=>>>>>>>>>>>>>>>>>>>>>> 18464 /lvl2/ Payroll Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4170"  where id = '18464'
5963 /lvl1/ Staff Admin Gudang
=>>>>>>>>>>>>>>>>>>>>>> 17892 /lvl2/ Staff Admin Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5963"  where id = '17892'
6475 /lvl1/ Talent Acquisition
=>>>>>>>>>>>>>>>>>>>>>> 159 /lvl2/ Sr. Talent Acquisition & Employer Branding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex- & Employer Branding", title_clean   = "Sr.  & Employer Branding", title_id  = "6475"  where id = '159'
=>>>>>>>>>>>>>>>>>>>>>> 903 /lvl2/ Talent Acquisition Ops - Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Ops - Intern", title_clean   = " Ops - Intern", title_id  = "6475"  where id = '903'
=>>>>>>>>>>>>>>>>>>>>>> 1982 /lvl2/ Talent Acquisition Sourcer (Contract) - E-Commerce APAC - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sourcer (Contract) - E-Commerce APAC - Jakarta", title_clean   = " Sourcer (Contract) - E-Commerce APAC - Jakarta", title_id  = "6475"  where id = '1982'
=>>>>>>>>>>>>>>>>>>>>>> 3279 /lvl2/ Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6475"  where id = '3279'
=>>>>>>>>>>>>>>>>>>>>>> 3788 /lvl2/ Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6475"  where id = '3788'
=>>>>>>>>>>>>>>>>>>>>>> 4157 /lvl2/ Talent Acquisitions and Employer Branding Associate Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-s and Employer Branding Associate Manager", title_clean   = "s and Employer Branding Associate Manager", title_id  = "6475"  where id = '4157'
=>>>>>>>>>>>>>>>>>>>>>> 9532 /lvl2/ Talent Acquisition (Recruiter)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Recruiter)", title_clean   = " (Recruiter)", title_id  = "6475"  where id = '9532'
=>>>>>>>>>>>>>>>>>>>>>> 11309 /lvl2/ Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6475"  where id = '11309'
=>>>>>>>>>>>>>>>>>>>>>> 12777 /lvl2/ Head of Talent Acquisition - SEA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Head of -idex- - SEA", title_clean   = "Head of  - SEA", title_id  = "6475"  where id = '12777'
=>>>>>>>>>>>>>>>>>>>>>> 12929 /lvl2/ Talent Acquisitions (Tech Recruiter)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-s (Tech Recruiter)", title_clean   = "s (Tech Recruiter)", title_id  = "6475"  where id = '12929'
=>>>>>>>>>>>>>>>>>>>>>> 16830 /lvl2/ Recruitment\u002F Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Recruitment\u002F -idex-", title_clean   = "Recruitment\u002F ", title_id  = "6475"  where id = '16830'
=>>>>>>>>>>>>>>>>>>>>>> 17469 /lvl2/ TALENT ACQUISITION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TALENT ACQUISITION", title_clean   = "TALENT ACQUISITION", title_id  = "6475"  where id = '17469'
=>>>>>>>>>>>>>>>>>>>>>> 19461 /lvl2/ Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6475"  where id = '19461'
=>>>>>>>>>>>>>>>>>>>>>> 19532 /lvl2/ Tech - Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tech - -idex-", title_clean   = "Tech - ", title_id  = "6475"  where id = '19532'
=>>>>>>>>>>>>>>>>>>>>>> 19571 /lvl2/ Talent Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6475"  where id = '19571'
5708 /lvl1/ Service Desk Staff

=>>>>>>>>>>>>>>>>>>>>>> 12438 /lvl2/ Service Desk Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5708"  where id = '12438'
6732 /lvl1/ Tenant Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 8211 /lvl2/ Tenant Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6732"  where id = '8211'
4176 /lvl1/ Pelaksana Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 12877 /lvl2/ Pelaksana Lapangan (Supervisor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Supervisor)", title_clean   = " (Supervisor)", title_id  = "4176"  where id = '12877'
=>>>>>>>>>>>>>>>>>>>>>> 18175 /lvl2/ PELAKSANA LAPANGAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PELAKSANA LAPANGAN", title_clean   = "PELAKSANA LAPANGAN", title_id  = "4176"  where id = '18175'
=>>>>>>>>>>>>>>>>>>>>>> 19560 /lvl2/ Pelaksana Lapangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4176"  where id = '19560'
2641 /lvl1/ Hunter / Marketing
594 /lvl1/ Back End Developer
=>>>>>>>>>>>>>>>>>>>>>> 3254 /lvl2/ Back End Developer (Golang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Golang)", title_clean   = " (Golang)", title_id  = "594"  where id = '3254'
=>>>>>>>>>>>>>>>>>>>>>> 3728 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '3728'
=>>>>>>>>>>>>>>>>>>>>>> 4394 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '4394'
=>>>>>>>>>>>>>>>>>>>>>> 4813 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '4813'
=>>>>>>>>>>>>>>>>>>>>>> 4909 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '4909'
=>>>>>>>>>>>>>>>>>>>>>> 5140 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '5140'
=>>>>>>>>>>>>>>>>>>>>>> 5439 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '5439'
=>>>>>>>>>>>>>>>>>>>>>> 5487 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '5487'
=>>>>>>>>>>>>>>>>>>>>>> 5539 /lvl2/ Back End Developer (KINCIR.com)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (KINCIR.com)", title_clean   = " (KINCIR.com)", title_id  = "594"  where id = '5539'
=>>>>>>>>>>>>>>>>>>>>>> 5713 /lvl2/ Back End Developer (Project Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Project Based)", title_clean   = " (Project Based)", title_id  = "594"  where id = '5713'
=>>>>>>>>>>>>>>>>>>>>>> 6215 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '6215'
=>>>>>>>>>>>>>>>>>>>>>> 6794 /lvl2/ Back End Developer - Lippo Malls Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lippo Malls Indonesia", title_clean   = " - Lippo Malls Indonesia", title_id  = "594"  where id = '6794'
=>>>>>>>>>>>>>>>>>>>>>> 6801 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '6801'
=>>>>>>>>>>>>>>>>>>>>>> 6860 /lvl2/ Back End Developer (Golang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Golang)", title_clean   = " (Golang)", title_id  = "594"  where id = '6860'
=>>>>>>>>>>>>>>>>>>>>>> 6900 /lvl2/ Back End Developer (for Getplus)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (for Getplus)", title_clean   = " (for Getplus)", title_id  = "594"  where id = '6900'
=>>>>>>>>>>>>>>>>>>>>>> 8352 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '8352'
=>>>>>>>>>>>>>>>>>>>>>> 9024 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '9024'
=>>>>>>>>>>>>>>>>>>>>>> 9079 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '9079'
=>>>>>>>>>>>>>>>>>>>>>> 10448 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '10448'
=>>>>>>>>>>>>>>>>>>>>>> 11159 /lvl2/ Back End Developer - KG Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KG Media", title_clean   = " - KG Media", title_id  = "594"  where id = '11159'
=>>>>>>>>>>>>>>>>>>>>>> 11662 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '11662'
=>>>>>>>>>>>>>>>>>>>>>> 12862 /lvl2/ Back End Developer (Java Spring Boot)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Java Spring Boot)", title_clean   = " (Java Spring Boot)", title_id  = "594"  where id = '12862'
=>>>>>>>>>>>>>>>>>>>>>> 12886 /lvl2/ Back End Developer (Java Spring Boot)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Java Spring Boot)", title_clean   = " (Java Spring Boot)", title_id  = "594"  where id = '12886'
=>>>>>>>>>>>>>>>>>>>>>> 17421 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '17421'
=>>>>>>>>>>>>>>>>>>>>>> 17434 /lvl2/ Back End Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "594"  where id = '17434'
6995 /lvl1/ Webtoon Typesetter
=>>>>>>>>>>>>>>>>>>>>>> 5297 /lvl2/ Webtoon Typesetter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6995"  where id = '5297'
6229 /lvl1/ Structural Drafter
=>>>>>>>>>>>>>>>>>>>>>> 948 /lvl2/ Structural Drafter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6229"  where id = '948'
=>>>>>>>>>>>>>>>>>>>>>> 10450 /lvl2/ Structural Drafter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6229"  where id = '10450'
2902 /lvl1/ It General Manager
=>>>>>>>>>>>>>>>>>>>>>> 1344 /lvl2/ IT General Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT General Manager", title_clean   = "IT General Manager", title_id  = "2902"  where id = '1344'
5975 /lvl1/ Staff Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 52 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '52'
=>>>>>>>>>>>>>>>>>>>>>> 60 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '60'
=>>>>>>>>>>>>>>>>>>>>>> 65 /lvl2/ STAFF ADMINISTRASI  /  SEKRETARIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI  /  SEKRETARIS", title_clean   = "STAFF ADMINISTRASI  /  SEKRETARIS", title_id  = "5975"  where id = '65'
=>>>>>>>>>>>>>>>>>>>>>> 67 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '67'
=>>>>>>>>>>>>>>>>>>>>>> 138 /lvl2/ Staff Administrasi AR  /  Finance AR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- AR  /  Finance AR", title_clean   = " AR  /  Finance AR", title_id  = "5975"  where id = '138'
=>>>>>>>>>>>>>>>>>>>>>> 1571 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '1571'
=>>>>>>>>>>>>>>>>>>>>>> 2823 /lvl2/ STAFF ADMINISTRASI (SURABAYA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI (SURABAYA)", title_clean   = "STAFF ADMINISTRASI (SURABAYA)", title_id  = "5975"  where id = '2823'
=>>>>>>>>>>>>>>>>>>>>>> 3183 /lvl2/ STAFF ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI", title_clean   = "STAFF ADMINISTRASI", title_id  = "5975"  where id = '3183'
=>>>>>>>>>>>>>>>>>>>>>> 3589 /lvl2/ STAFF ADMINISTRASI (SURABAYA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI (SURABAYA)", title_clean   = "STAFF ADMINISTRASI (SURABAYA)", title_id  = "5975"  where id = '3589'
=>>>>>>>>>>>>>>>>>>>>>> 4069 /lvl2/ STAFF ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI", title_clean   = "STAFF ADMINISTRASI", title_id  = "5975"  where id = '4069'
=>>>>>>>>>>>>>>>>>>>>>> 4857 /lvl2/ STAFF ADMINISTRASI LEGAL HUMAS KEBUN (Penempatan Padang Lawas SUMUT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI LEGAL HUMAS KEBUN (Penempatan Padang Lawas SUMUT)", title_clean   = "STAFF ADMINISTRASI LEGAL HUMAS KEBUN (Penempatan Padang Lawas SUMUT)", title_id  = "5975"  where id = '4857'
=>>>>>>>>>>>>>>>>>>>>>> 7736 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '7736'
=>>>>>>>>>>>>>>>>>>>>>> 8011 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '8011'
=>>>>>>>>>>>>>>>>>>>>>> 8052 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '8052'
=>>>>>>>>>>>>>>>>>>>>>> 9202 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '9202'
=>>>>>>>>>>>>>>>>>>>>>> 9324 /lvl2/ Staff Administrasi - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Yogyakarta", title_clean   = " - Yogyakarta", title_id  = "5975"  where id = '9324'
=>>>>>>>>>>>>>>>>>>>>>> 9641 /lvl2/ Staff Administrasi (Depok)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Depok)", title_clean   = " (Depok)", title_id  = "5975"  where id = '9641'
=>>>>>>>>>>>>>>>>>>>>>> 9986 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '9986'
=>>>>>>>>>>>>>>>>>>>>>> 10306 /lvl2/ STAFF ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI", title_clean   = "STAFF ADMINISTRASI", title_id  = "5975"  where id = '10306'
=>>>>>>>>>>>>>>>>>>>>>> 10521 /lvl2/ STAFF ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI", title_clean   = "STAFF ADMINISTRASI", title_id  = "5975"  where id = '10521'
=>>>>>>>>>>>>>>>>>>>>>> 14591 /lvl2/ Staff ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ADMINISTRASI", title_clean   = "Staff ADMINISTRASI", title_id  = "5975"  where id = '14591'
=>>>>>>>>>>>>>>>>>>>>>> 14616 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '14616'
=>>>>>>>>>>>>>>>>>>>>>> 15008 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '15008'
=>>>>>>>>>>>>>>>>>>>>>> 15931 /lvl2/ Staff Administrasi - Medan Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Medan Barat", title_clean   = " - Medan Barat", title_id  = "5975"  where id = '15931'
=>>>>>>>>>>>>>>>>>>>>>> 15947 /lvl2/ Staff Administrasi - Medan Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Medan Barat", title_clean   = " - Medan Barat", title_id  = "5975"  where id = '15947'
=>>>>>>>>>>>>>>>>>>>>>> 16070 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '16070'
=>>>>>>>>>>>>>>>>>>>>>> 17232 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '17232'
=>>>>>>>>>>>>>>>>>>>>>> 17303 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '17303'
=>>>>>>>>>>>>>>>>>>>>>> 17332 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '17332'
=>>>>>>>>>>>>>>>>>>>>>> 17616 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '17616'
=>>>>>>>>>>>>>>>>>>>>>> 17619 /lvl2/ STAFF ADMINISTRASI DEBITUR KASIR (Replacement Maternity Leave)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ADMINISTRASI DEBITUR KASIR (Replacement Maternity Leave)", title_clean   = "STAFF ADMINISTRASI DEBITUR KASIR (Replacement Maternity Leave)", title_id  = "5975"  where id = '17619'
=>>>>>>>>>>>>>>>>>>>>>> 17635 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '17635'
=>>>>>>>>>>>>>>>>>>>>>> 19843 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '19843'
=>>>>>>>>>>>>>>>>>>>>>> 20208 /lvl2/ Staff Administrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5975"  where id = '20208'
88 /lvl1/ Accounting Analyst

=>>>>>>>>>>>>>>>>>>>>>> 4391 /lvl2/ Accounting Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "88"  where id = '4391'
=>>>>>>>>>>>>>>>>>>>>>> 7216 /lvl2/ Accounting Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "88"  where id = '7216'
344 /lvl1/ Ahli K3 Konstruksi
=>>>>>>>>>>>>>>>>>>>>>> 8012 /lvl2/ AHLI K3 KONSTRUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AHLI K3 KONSTRUKSI", title_clean   = "AHLI K3 KONSTRUKSI", title_id  = "344"  where id = '8012'
2136 /lvl1/ Functional Analyst
=>>>>>>>>>>>>>>>>>>>>>> 11930 /lvl2/ Functional Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2136"  where id = '11930'
4184 /lvl1/ Penetration Tester
=>>>>>>>>>>>>>>>>>>>>>> 4873 /lvl2/ Penetration Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4184"  where id = '4873'
857 /lvl1/ Category Executive
=>>>>>>>>>>>>>>>>>>>>>> 7995 /lvl2/ Category Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "857"  where id = '7995'
5721 /lvl1/ She Administration
=>>>>>>>>>>>>>>>>>>>>>> 11882 /lvl2/ SHE ADMINISTRATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SHE ADMINISTRATION", title_clean   = "SHE ADMINISTRATION", title_id  = "5721"  where id = '11882'
3930 /lvl1/ Molding Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2049 /lvl2/ Molding Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3930"  where id = '2049'
4699 /lvl1/ Qa / Qc Supervisor
348 /lvl1/ Akademik & Program
1375 /lvl1/ Data Support Staff
=>>>>>>>>>>>>>>>>>>>>>> 10918 /lvl2/ Data Support Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1375"  where id = '10918'
3679 /lvl1/ Marketing Designer
=>>>>>>>>>>>>>>>>>>>>>> 4027 /lvl2/ Marketing Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3679"  where id = '4027'
7008 /lvl1/ Wordpress Engineer
=>>>>>>>>>>>>>>>>>>>>>> 9954 /lvl2/ Wordpress Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7008"  where id = '9954'
97 /lvl1/ Accounting Finance
=>>>>>>>>>>>>>>>>>>>>>> 11304 /lvl2/ Chief Accounting Finance (CAF)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Chief -idex- (CAF)", title_clean   = "Chief  (CAF)", title_id  = "97"  where id = '11304'
=>>>>>>>>>>>>>>>>>>>>>> 19827 /lvl2/ Accounting Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "97"  where id = '19827'
=>>>>>>>>>>>>>>>>>>>>>> 20290 /lvl2/ ACCOUNTING FINANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING FINANCE", title_clean   = "ACCOUNTING FINANCE", title_id  = "97"  where id = '20290'
1377 /lvl1/ Data Visualization
=>>>>>>>>>>>>>>>>>>>>>> 11015 /lvl2/ Data Visualization
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1377"  where id = '11015'
=>>>>>>>>>>>>>>>>>>>>>> 11022 /lvl2/ Data Visualization
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1377"  where id = '11022'
1634 /lvl1/ Editor Photography
=>>>>>>>>>>>>>>>>>>>>>> 9432 /lvl2/ Editor Photography
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1634"  where id = '9432'
3682 /lvl1/ Marketing Director
=>>>>>>>>>>>>>>>>>>>>>> 20108 /lvl2/ Marketing Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3682"  where id = '20108'
5219 /lvl1/ Sales Manager Java
=>>>>>>>>>>>>>>>>>>>>>> 5095 /lvl2/ Sales Manager Java
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5219"  where id = '5095'
5731 /lvl1/ Shipping Executive
=>>>>>>>>>>>>>>>>>>>>>> 11739 /lvl2/ Shipping Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5731"  where id = '11739'
1380 /lvl1/ Database Developer
=>>>>>>>>>>>>>>>>>>>>>> 7378 /lvl2/ Database Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1380"  where id = '7378'
357 /lvl1/ Analyst Collection
=>>>>>>>>>>>>>>>>>>>>>> 9698 /lvl2/ Analyst Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "357"  where id = '9698'
1637 /lvl1/ Editorial Designer
=>>>>>>>>>>>>>>>>>>>>>> 5136 /lvl2/ Editorial Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1637"  where id = '5136'
2917 /lvl1/ It Helpdesk Senior
=>>>>>>>>>>>>>>>>>>>>>> 19814 /lvl2/ IT Helpdesk Senior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Helpdesk Senior", title_clean   = "IT Helpdesk Senior", title_id  = "2917"  where id = '19814'
3685 /lvl1/ Marketing Engineer
=>>>>>>>>>>>>>>>>>>>>>> 5153 /lvl2/ Marketing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3685"  where id = '5153'
=>>>>>>>>>>>>>>>>>>>>>> 5432 /lvl2/ Marketing Engineer (Yogyakarta, Cilacap)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Yogyakarta, Cilacap)", title_clean   = " (Yogyakarta, Cilacap)", title_id  = "3685"  where id = '5432'
=>>>>>>>>>>>>>>>>>>>>>> 9914 /lvl2/ Marketing Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3685"  where id = '9914'
=>>>>>>>>>>>>>>>>>>>>>> 15735 /lvl2/ Marketing Engineer (Banyuwangi, Jember, Madiun, Malang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Banyuwangi, Jember, Madiun, Malang)", title_clean   = " (Banyuwangi, Jember, Madiun, Malang)", title_id  = "3685"  where id = '15735'
3942 /lvl1/ Mt Sales Associate
=>>>>>>>>>>>>>>>>>>>>>> 5238 /lvl2/ MT Sales Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MT Sales Associate", title_clean   = "MT Sales Associate", title_id  = "3942"  where id = '5238'
3434 /lvl1/ Magang Resepsionis
=>>>>>>>>>>>>>>>>>>>>>> 2352 /lvl2/ Magang Resepsionis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3434"  where id = '2352'
107 /lvl1/ Accounting Manager
=>>>>>>>>>>>>>>>>>>>>>> 1511 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '1511'
=>>>>>>>>>>>>>>>>>>>>>> 1932 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '1932'
=>>>>>>>>>>>>>>>>>>>>>> 2141 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '2141'
=>>>>>>>>>>>>>>>>>>>>>> 6084 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '6084'
=>>>>>>>>>>>>>>>>>>>>>> 6613 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '6613'
=>>>>>>>>>>>>>>>>>>>>>> 9126 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '9126'
=>>>>>>>>>>>>>>>>>>>>>> 9562 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '9562'
=>>>>>>>>>>>>>>>>>>>>>> 10195 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '10195'
=>>>>>>>>>>>>>>>>>>>>>> 10359 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '10359'
=>>>>>>>>>>>>>>>>>>>>>> 13365 /lvl2/ Finance and Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "107"  where id = '13365'
=>>>>>>>>>>>>>>>>>>>>>> 13656 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '13656'
=>>>>>>>>>>>>>>>>>>>>>> 15103 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '15103'
=>>>>>>>>>>>>>>>>>>>>>> 15685 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '15685'
=>>>>>>>>>>>>>>>>>>>>>> 18117 /lvl2/ Finance and Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "107"  where id = '18117'
=>>>>>>>>>>>>>>>>>>>>>> 18202 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '18202'
=>>>>>>>>>>>>>>>>>>>>>> 18667 /lvl2/ Finance and Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "107"  where id = '18667'
=>>>>>>>>>>>>>>>>>>>>>> 18750 /lvl2/ Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "107"  where id = '18750'
=>>>>>>>>>>>>>>>>>>>>>> 18783 /lvl2/ Senior  Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior  -idex-", title_clean   = "Senior  ", title_id  = "107"  where id = '18783'
=>>>>>>>>>>>>>>>>>>>>>> 18820 /lvl2/ Accounting Manager - Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cikarang", title_clean   = " - Cikarang", title_id  = "107"  where id = '18820'
=>>>>>>>>>>>>>>>>>>>>>> 19786 /lvl2/ Accounting Manager (Palm Oil - Sulawesi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palm Oil - Sulawesi)", title_clean   = " (Palm Oil - Sulawesi)", title_id  = "107"  where id = '19786'
=>>>>>>>>>>>>>>>>>>>>>> 20302 /lvl2/ Finance and Accounting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "107"  where id = '20302'
1387 /lvl1/ Delivery Assistant

=>>>>>>>>>>>>>>>>>>>>>> 9924 /lvl2/ Delivery Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1387"  where id = '9924'
109 /lvl1/ Accounting Officer
=>>>>>>>>>>>>>>>>>>>>>> 78 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '78'
=>>>>>>>>>>>>>>>>>>>>>> 2051 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '2051'
=>>>>>>>>>>>>>>>>>>>>>> 2291 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '2291'
=>>>>>>>>>>>>>>>>>>>>>> 2653 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '2653'
=>>>>>>>>>>>>>>>>>>>>>> 2907 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '2907'
=>>>>>>>>>>>>>>>>>>>>>> 2939 /lvl2/ ACCOUNTING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING OFFICER", title_clean   = "ACCOUNTING OFFICER", title_id  = "109"  where id = '2939'
=>>>>>>>>>>>>>>>>>>>>>> 3038 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '3038'
=>>>>>>>>>>>>>>>>>>>>>> 3967 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '3967'
=>>>>>>>>>>>>>>>>>>>>>> 5357 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '5357'
=>>>>>>>>>>>>>>>>>>>>>> 5422 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '5422'
=>>>>>>>>>>>>>>>>>>>>>> 6550 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '6550'
=>>>>>>>>>>>>>>>>>>>>>> 6555 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '6555'
=>>>>>>>>>>>>>>>>>>>>>> 6633 /lvl2/ Jr. Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Jr. -idex-", title_clean   = "Jr. ", title_id  = "109"  where id = '6633'
=>>>>>>>>>>>>>>>>>>>>>> 6785 /lvl2/ Accounting Officer (Asset Management)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Asset Management)", title_clean   = " (Asset Management)", title_id  = "109"  where id = '6785'
=>>>>>>>>>>>>>>>>>>>>>> 7724 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '7724'
=>>>>>>>>>>>>>>>>>>>>>> 8048 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '8048'
=>>>>>>>>>>>>>>>>>>>>>> 9333 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '9333'
=>>>>>>>>>>>>>>>>>>>>>> 11399 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '11399'
=>>>>>>>>>>>>>>>>>>>>>> 11664 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '11664'
=>>>>>>>>>>>>>>>>>>>>>> 12508 /lvl2/ Accounting Officer (temporary contract based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (temporary contract based)", title_clean   = " (temporary contract based)", title_id  = "109"  where id = '12508'
=>>>>>>>>>>>>>>>>>>>>>> 14155 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '14155'
=>>>>>>>>>>>>>>>>>>>>>> 14531 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '14531'
=>>>>>>>>>>>>>>>>>>>>>> 15241 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '15241'
=>>>>>>>>>>>>>>>>>>>>>> 16974 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '16974'
=>>>>>>>>>>>>>>>>>>>>>> 17586 /lvl2/ Accounting Officer (JS - ACC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - ACC)", title_clean   = " (JS - ACC)", title_id  = "109"  where id = '17586'
=>>>>>>>>>>>>>>>>>>>>>> 17765 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '17765'
=>>>>>>>>>>>>>>>>>>>>>> 18093 /lvl2/ Accounting Officer ( Jr.\u002FSr.)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Jr.\u002FSr.)", title_clean   = " ( Jr.\u002FSr.)", title_id  = "109"  where id = '18093'
=>>>>>>>>>>>>>>>>>>>>>> 18207 /lvl2/ Senior Tax and Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Tax and -idex-", title_clean   = "Senior Tax and ", title_id  = "109"  where id = '18207'
=>>>>>>>>>>>>>>>>>>>>>> 19023 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '19023'
=>>>>>>>>>>>>>>>>>>>>>> 19242 /lvl2/ Accounting Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "109"  where id = '19242'
4205 /lvl1/ Pension Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4174 /lvl2/ Pension Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4205"  where id = '4174'
4973 /lvl1/ Research Executive
=>>>>>>>>>>>>>>>>>>>>>> 1505 /lvl2/ Research Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4973"  where id = '1505'
366 /lvl1/ Android Programmer
=>>>>>>>>>>>>>>>>>>>>>> 11007 /lvl2/ Android Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "366"  where id = '11007'
878 /lvl1/ Channel Specialist
=>>>>>>>>>>>>>>>>>>>>>> 13275 /lvl2/ Channel Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "878"  where id = '13275'
=>>>>>>>>>>>>>>>>>>>>>> 13519 /lvl2/ Channel Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "878"  where id = '13519'
5998 /lvl1/ Staff Bahasa Korea
=>>>>>>>>>>>>>>>>>>>>>> 3807 /lvl2/ Staff Bahasa Korea
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5998"  where id = '3807'
1903 /lvl1/ Field Sales Leader
=>>>>>>>>>>>>>>>>>>>>>> 5948 /lvl2/ Field Sales Leader Tulungagung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tulungagung", title_clean   = " Tulungagung", title_id  = "1903"  where id = '5948'
=>>>>>>>>>>>>>>>>>>>>>> 7092 /lvl2/ Field Sales Leader Tulungagung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tulungagung", title_clean   = " Tulungagung", title_id  = "1903"  where id = '7092'
2671 /lvl1/ Import Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 17305 /lvl2/ Import Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2671"  where id = '17305'
112 /lvl1/ Accounting Project
=>>>>>>>>>>>>>>>>>>>>>> 526 /lvl2/ Accounting Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "112"  where id = '526'
4978 /lvl1/ Restaurant Manager
=>>>>>>>>>>>>>>>>>>>>>> 4906 /lvl2/ RESTAURANT MANAGER (AMO CAFE RACER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESTAURANT MANAGER (AMO CAFE RACER)", title_clean   = "RESTAURANT MANAGER (AMO CAFE RACER)", title_id  = "4978"  where id = '4906'
=>>>>>>>>>>>>>>>>>>>>>> 5964 /lvl2/ RESTAURANT MANAGER (AMO CAFE RACER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RESTAURANT MANAGER (AMO CAFE RACER)", title_clean   = "RESTAURANT MANAGER (AMO CAFE RACER)", title_id  = "4978"  where id = '5964'
=>>>>>>>>>>>>>>>>>>>>>> 14621 /lvl2/ Restaurant Manager Subway (Cikarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Subway (Cikarang)", title_clean   = " Subway (Cikarang)", title_id  = "4978"  where id = '14621'
=>>>>>>>>>>>>>>>>>>>>>> 15013 /lvl2/ Restaurant Manager Subway (Cikarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Subway (Cikarang)", title_clean   = " Subway (Cikarang)", title_id  = "4978"  where id = '15013'
=>>>>>>>>>>>>>>>>>>>>>> 15848 /lvl2/ Restaurant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4978"  where id = '15848'
=>>>>>>>>>>>>>>>>>>>>>> 15890 /lvl2/ Restaurant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4978"  where id = '15890'
=>>>>>>>>>>>>>>>>>>>>>> 16633 /lvl2/ Restaurant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4978"  where id = '16633'
=>>>>>>>>>>>>>>>>>>>>>> 16654 /lvl2/ Restaurant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4978"  where id = '16654'
=>>>>>>>>>>>>>>>>>>>>>> 18414 /lvl2/ Restaurant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4978"  where id = '18414'
=>>>>>>>>>>>>>>>>>>>>>> 18430 /lvl2/ Restaurant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4978"  where id = '18430'
=>>>>>>>>>>>>>>>>>>>>>> 20301 /lvl2/ Restaurant Manager Subway Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Subway Bandung", title_clean   = " Subway Bandung", title_id  = "4978"  where id = '20301'
3187 /lvl1/ Kepala Bagian Umum

=>>>>>>>>>>>>>>>>>>>>>> 7919 /lvl2/ Kepala Bagian Umum
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3187"  where id = '7919'
=>>>>>>>>>>>>>>>>>>>>>> 8238 /lvl2/ Kepala Bagian Umum
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3187"  where id = '8238'
6515 /lvl1/ Tax Administration
=>>>>>>>>>>>>>>>>>>>>>> 11900 /lvl2/ Tax Administration
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6515"  where id = '11900'
6771 /lvl1/ Tower O&M Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4809 /lvl2/ Tower O&M Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6771"  where id = '4809'
4212 /lvl1/ People Development
=>>>>>>>>>>>>>>>>>>>>>> 647 /lvl2/ People Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4212"  where id = '647'
=>>>>>>>>>>>>>>>>>>>>>> 12091 /lvl2/ Human Resources - People Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Resources - -idex-", title_clean   = "Human Resources - ", title_id  = "4212"  where id = '12091'
=>>>>>>>>>>>>>>>>>>>>>> 14180 /lvl2/ People Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4212"  where id = '14180'
=>>>>>>>>>>>>>>>>>>>>>> 14553 /lvl2/ People Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4212"  where id = '14553'
373 /lvl1/ Anti-fraud Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6848 /lvl2/ Anti-fraud ANALYST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Anti-fraud ANALYST", title_clean   = "Anti-fraud ANALYST", title_id  = "373"  where id = '6848'
885 /lvl1/ Chef / Senior Cook
1397 /lvl1/ Department Manager
=>>>>>>>>>>>>>>>>>>>>>> 19273 /lvl2/ Department Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1397"  where id = '19273'
2421 /lvl1/ Helper Cook, Baker
=>>>>>>>>>>>>>>>>>>>>>> 9032 /lvl2/ Helper Cook, Baker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2421"  where id = '9032'
3445 /lvl1/ Maintenance Leader
=>>>>>>>>>>>>>>>>>>>>>> 14967 /lvl2/ Maintenance Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3445"  where id = '14967'
2167 /lvl1/ General Accountant
=>>>>>>>>>>>>>>>>>>>>>> 18567 /lvl2/ General Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2167"  where id = '18567'
1656 /lvl1/ Electrical Foreman
=>>>>>>>>>>>>>>>>>>>>>> 17944 /lvl2/ Electrical Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1656"  where id = '17944'
=>>>>>>>>>>>>>>>>>>>>>> 17961 /lvl2/ Electrical Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1656"  where id = '17961'
2168 /lvl1/ General Accounting
=>>>>>>>>>>>>>>>>>>>>>> 11928 /lvl2/ General Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2168"  where id = '11928'
2425 /lvl1/ Hirer Segment Lead
=>>>>>>>>>>>>>>>>>>>>>> 248 /lvl2/ Hirer Segment Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2425"  where id = '248'
=>>>>>>>>>>>>>>>>>>>>>> 1083 /lvl2/ Hirer Segment Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2425"  where id = '1083'
4473 /lvl1/ Product Specialist
=>>>>>>>>>>>>>>>>>>>>>> 2101 /lvl2/ Eppendorf Territory Manager (Product Specialist) - Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Eppendorf Territory Manager (-idex-) - Surabaya", title_clean   = "Eppendorf Territory Manager () - Surabaya", title_id  = "4473"  where id = '2101'
=>>>>>>>>>>>>>>>>>>>>>> 2758 /lvl2/ Trainer Product (Product Specialist) - Roxy, Jakarta Pusat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trainer Product (-idex-) - Roxy, Jakarta Pusat", title_clean   = "Trainer Product () - Roxy, Jakarta Pusat", title_id  = "4473"  where id = '2758'
=>>>>>>>>>>>>>>>>>>>>>> 3387 /lvl2/ Merchandiser  /  Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Merchandiser  /  -idex-", title_clean   = "Merchandiser  /  ", title_id  = "4473"  where id = '3387'
=>>>>>>>>>>>>>>>>>>>>>> 3593 /lvl2/ Trainer Product (Product Specialist) - Roxy, Jakarta Pusat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trainer Product (-idex-) - Roxy, Jakarta Pusat", title_clean   = "Trainer Product () - Roxy, Jakarta Pusat", title_id  = "4473"  where id = '3593'
=>>>>>>>>>>>>>>>>>>>>>> 3770 /lvl2/ Presales  /  Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Presales  /  -idex-", title_clean   = "Presales  /  ", title_id  = "4473"  where id = '3770'
=>>>>>>>>>>>>>>>>>>>>>> 3869 /lvl2/ Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4473"  where id = '3869'
=>>>>>>>>>>>>>>>>>>>>>> 4267 /lvl2/ Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4473"  where id = '4267'
=>>>>>>>>>>>>>>>>>>>>>> 4349 /lvl2/ Merchandiser  /  Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Merchandiser  /  -idex-", title_clean   = "Merchandiser  /  ", title_id  = "4473"  where id = '4349'
=>>>>>>>>>>>>>>>>>>>>>> 4412 /lvl2/ Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4473"  where id = '4412'
=>>>>>>>>>>>>>>>>>>>>>> 7478 /lvl2/ Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4473"  where id = '7478'
=>>>>>>>>>>>>>>>>>>>>>> 10328 /lvl2/ Product Specialist (Yogyakarta Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Yogyakarta Based)", title_clean   = " (Yogyakarta Based)", title_id  = "4473"  where id = '10328'
=>>>>>>>>>>>>>>>>>>>>>> 11843 /lvl2/ PRODUCT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT SPECIALIST", title_clean   = "PRODUCT SPECIALIST", title_id  = "4473"  where id = '11843'
=>>>>>>>>>>>>>>>>>>>>>> 12319 /lvl2/ Product Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4473"  where id = '12319'
=>>>>>>>>>>>>>>>>>>>>>> 12585 /lvl2/ Product Specialist (Trainer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Trainer)", title_clean   = " (Trainer)", title_id  = "4473"  where id = '12585'
=>>>>>>>>>>>>>>>>>>>>>> 12773 /lvl2/ Product Specialist - Oncology
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Oncology", title_clean   = " - Oncology", title_id  = "4473"  where id = '12773'
=>>>>>>>>>>>>>>>>>>>>>> 12789 /lvl2/ Product Specialist - Oncology
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Oncology", title_clean   = " - Oncology", title_id  = "4473"  where id = '12789'
=>>>>>>>>>>>>>>>>>>>>>> 14441 /lvl2/ Product Specialist (AW Meter - Water Activity Meter)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AW Meter - Water Activity Meter)", title_clean   = " (AW Meter - Water Activity Meter)", title_id  = "4473"  where id = '14441'
=>>>>>>>>>>>>>>>>>>>>>> 14455 /lvl2/ Product Specialist (Bioquel Life Sciences)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bioquel Life Sciences)", title_clean   = " (Bioquel Life Sciences)", title_id  = "4473"  where id = '14455'
=>>>>>>>>>>>>>>>>>>>>>> 14604 /lvl2/ Product Specialist (Semarang Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang Based)", title_clean   = " (Semarang Based)", title_id  = "4473"  where id = '14604'
=>>>>>>>>>>>>>>>>>>>>>> 14806 /lvl2/ Product Specialist (Bioquel Life Sciences)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bioquel Life Sciences)", title_clean   = " (Bioquel Life Sciences)", title_id  = "4473"  where id = '14806'
=>>>>>>>>>>>>>>>>>>>>>> 14982 /lvl2/ Product Specialist (Semarang Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang Based)", title_clean   = " (Semarang Based)", title_id  = "4473"  where id = '14982'
=>>>>>>>>>>>>>>>>>>>>>> 14994 /lvl2/ Product Specialist (Semarang Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang Based)", title_clean   = " (Semarang Based)", title_id  = "4473"  where id = '14994'
=>>>>>>>>>>>>>>>>>>>>>> 16831 /lvl2/ Product Specialist (Fisiotherapy)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Fisiotherapy)", title_clean   = " (Fisiotherapy)", title_id  = "4473"  where id = '16831'
=>>>>>>>>>>>>>>>>>>>>>> 19090 /lvl2/ PRODUCT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT SPECIALIST", title_clean   = "PRODUCT SPECIALIST", title_id  = "4473"  where id = '19090'
=>>>>>>>>>>>>>>>>>>>>>> 19233 /lvl2/ Product Specialist Marketing \u002F Sales Alkes - Sumatera & Jawa
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Marketing \u002F Sales Alkes - Sumatera & Jawa", title_clean   = " Marketing \u002F Sales Alkes - Sumatera & Jawa", title_id  = "4473"  where id = '19233'
=>>>>>>>>>>>>>>>>>>>>>> 20019 /lvl2/ PRODUCT SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT SPECIALIST", title_clean   = "PRODUCT SPECIALIST", title_id  = "4473"  where id = '20019'
3962 /lvl1/ Networks Assurance

=>>>>>>>>>>>>>>>>>>>>>> 5692 /lvl2/ Networks Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3962"  where id = '5692'
1662 /lvl1/ Electrical Manager
=>>>>>>>>>>>>>>>>>>>>>> 14707 /lvl2/ Electrical Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1662"  where id = '14707'
=>>>>>>>>>>>>>>>>>>>>>> 15101 /lvl2/ Electrical Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1662"  where id = '15101'
=>>>>>>>>>>>>>>>>>>>>>> 15653 /lvl2/ Electrical Manager (Polyester)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Polyester)", title_clean   = " (Polyester)", title_id  = "1662"  where id = '15653'
2686 /lvl1/ Independence Staff
=>>>>>>>>>>>>>>>>>>>>>> 16784 /lvl2/ Independence Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2686"  where id = '16784'
642 /lvl1/ Billing Collection
=>>>>>>>>>>>>>>>>>>>>>> 4088 /lvl2/ Billing Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "642"  where id = '4088'
4994 /lvl1/ Retail Sales Staff
=>>>>>>>>>>>>>>>>>>>>>> 11631 /lvl2/ Retail Sales Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4994"  where id = '11631'
3971 /lvl1/ Noc Deputy Manager
=>>>>>>>>>>>>>>>>>>>>>> 18413 /lvl2/ NOC Deputy Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NOC Deputy Manager", title_clean   = "NOC Deputy Manager", title_id  = "3971"  where id = '18413'
=>>>>>>>>>>>>>>>>>>>>>> 18429 /lvl2/ NOC Deputy Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NOC Deputy Manager", title_clean   = "NOC Deputy Manager", title_id  = "3971"  where id = '18429'
5251 /lvl1/ Sales Mesin Diesel
=>>>>>>>>>>>>>>>>>>>>>> 3893 /lvl2/ Sales Mesin Diesel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5251"  where id = '3893'
5764 /lvl1/ Sitecore Developer
=>>>>>>>>>>>>>>>>>>>>>> 8747 /lvl2/ Sitecore Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5764"  where id = '8747'
5253 /lvl1/ Sales Modern Trade
=>>>>>>>>>>>>>>>>>>>>>> 567 /lvl2/ Supervisor Sales Modern Trade (Padang Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor -idex- (Padang Branch)", title_clean   = "Supervisor  (Padang Branch)", title_id  = "5253"  where id = '567'
=>>>>>>>>>>>>>>>>>>>>>> 817 /lvl2/ Supervisor Sales Modern Trade (Medan Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor -idex- (Medan Branch)", title_clean   = "Supervisor  (Medan Branch)", title_id  = "5253"  where id = '817'
=>>>>>>>>>>>>>>>>>>>>>> 833 /lvl2/ Sales Modern Trade Cabang Malang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Malang", title_clean   = " Cabang Malang", title_id  = "5253"  where id = '833'
=>>>>>>>>>>>>>>>>>>>>>> 953 /lvl2/ Supervisor Sales Modern Trade (Balikpapan Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor -idex- (Balikpapan Branch)", title_clean   = "Supervisor  (Balikpapan Branch)", title_id  = "5253"  where id = '953'
=>>>>>>>>>>>>>>>>>>>>>> 968 /lvl2/ Supervisor Sales Modern Trade (Balikpapan Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor -idex- (Balikpapan Branch)", title_clean   = "Supervisor  (Balikpapan Branch)", title_id  = "5253"  where id = '968'
=>>>>>>>>>>>>>>>>>>>>>> 3777 /lvl2/ Sales Modern Trade
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5253"  where id = '3777'
=>>>>>>>>>>>>>>>>>>>>>> 5695 /lvl2/ SALES MODERN TRADE FOOD - CJ INDONESIA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES MODERN TRADE FOOD - CJ INDONESIA", title_clean   = "SALES MODERN TRADE FOOD - CJ INDONESIA", title_id  = "5253"  where id = '5695'
=>>>>>>>>>>>>>>>>>>>>>> 12480 /lvl2/ Sales Modern Trade ( MT )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( MT )", title_clean   = " ( MT )", title_id  = "5253"  where id = '12480'
3718 /lvl1/ Marketing Logistik
=>>>>>>>>>>>>>>>>>>>>>> 918 /lvl2/ MARKETING LOGISTIK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING LOGISTIK", title_clean   = "MARKETING LOGISTIK", title_id  = "3718"  where id = '918'
1415 /lvl1/ Design 3D Interior
=>>>>>>>>>>>>>>>>>>>>>> 5759 /lvl2/ DESIGN 3D INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DESIGN 3D INTERIOR", title_clean   = "DESIGN 3D INTERIOR", title_id  = "1415"  where id = '5759'
3975 /lvl1/ Node Js Programmer
136 /lvl1/ Accounts Assistant
=>>>>>>>>>>>>>>>>>>>>>> 390 /lvl2/ Accounts Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "136"  where id = '390'
4232 /lvl1/ Perawat Kecantikan
=>>>>>>>>>>>>>>>>>>>>>> 9861 /lvl2/ PERAWAT KECANTIKAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERAWAT KECANTIKAN", title_clean   = "PERAWAT KECANTIKAN", title_id  = "4232"  where id = '9861'
137 /lvl1/ Accounts Executive
=>>>>>>>>>>>>>>>>>>>>>> 2532 /lvl2/ Accounts Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "137"  where id = '2532'
6793 /lvl1/ Trainer Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19680 /lvl2/ Trainer Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6793"  where id = '19680'
1675 /lvl1/ Elementary Teacher
=>>>>>>>>>>>>>>>>>>>>>> 12628 /lvl2/ Elementary Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1675"  where id = '12628'
3467 /lvl1/ Management Trainee
=>>>>>>>>>>>>>>>>>>>>>> 921 /lvl2/ MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE", title_clean   = "MANAGEMENT TRAINEE", title_id  = "3467"  where id = '921'
=>>>>>>>>>>>>>>>>>>>>>> 965 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '965'
=>>>>>>>>>>>>>>>>>>>>>> 1472 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '1472'
=>>>>>>>>>>>>>>>>>>>>>> 1536 /lvl2/ Management Trainee (MT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MT)", title_clean   = " (MT)", title_id  = "3467"  where id = '1536'
=>>>>>>>>>>>>>>>>>>>>>> 1698 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '1698'
=>>>>>>>>>>>>>>>>>>>>>> 3401 /lvl2/ MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE", title_clean   = "MANAGEMENT TRAINEE", title_id  = "3467"  where id = '3401'
=>>>>>>>>>>>>>>>>>>>>>> 3563 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '3563'
=>>>>>>>>>>>>>>>>>>>>>> 3942 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '3942'
=>>>>>>>>>>>>>>>>>>>>>> 4023 /lvl2/ Management Trainee (Penempatan Jawa Tengah)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Penempatan Jawa Tengah)", title_clean   = " (Penempatan Jawa Tengah)", title_id  = "3467"  where id = '4023'
=>>>>>>>>>>>>>>>>>>>>>> 4216 /lvl2/ Management Trainee (MT) - Sales Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MT) - Sales Marketing", title_clean   = " (MT) - Sales Marketing", title_id  = "3467"  where id = '4216'
=>>>>>>>>>>>>>>>>>>>>>> 4899 /lvl2/ Translation Project Management Trainee (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Translation Project -idex- (Yogyakarta)", title_clean   = "Translation Project  (Yogyakarta)", title_id  = "3467"  where id = '4899'
=>>>>>>>>>>>>>>>>>>>>>> 5921 /lvl2/ MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE", title_clean   = "MANAGEMENT TRAINEE", title_id  = "3467"  where id = '5921'
=>>>>>>>>>>>>>>>>>>>>>> 6648 /lvl2/ Management Trainee (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "3467"  where id = '6648'
=>>>>>>>>>>>>>>>>>>>>>> 6978 /lvl2/ Management Trainee (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "3467"  where id = '6978'
=>>>>>>>>>>>>>>>>>>>>>> 7241 /lvl2/ MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE", title_clean   = "MANAGEMENT TRAINEE", title_id  = "3467"  where id = '7241'
=>>>>>>>>>>>>>>>>>>>>>> 8738 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '8738'
=>>>>>>>>>>>>>>>>>>>>>> 8784 /lvl2/ MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE", title_clean   = "MANAGEMENT TRAINEE", title_id  = "3467"  where id = '8784'
=>>>>>>>>>>>>>>>>>>>>>> 8979 /lvl2/ Management Trainee (Programing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Programing)", title_clean   = " (Programing)", title_id  = "3467"  where id = '8979'
=>>>>>>>>>>>>>>>>>>>>>> 9943 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '9943'
=>>>>>>>>>>>>>>>>>>>>>> 9990 /lvl2/ Management Trainee-Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Quality Control", title_clean   = "-Quality Control", title_id  = "3467"  where id = '9990'
=>>>>>>>>>>>>>>>>>>>>>> 11018 /lvl2/ Management Trainee - Land Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Land Surveyor", title_clean   = " - Land Surveyor", title_id  = "3467"  where id = '11018'
=>>>>>>>>>>>>>>>>>>>>>> 11198 /lvl2/ Management Trainee - Human Capital
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Human Capital", title_clean   = " - Human Capital", title_id  = "3467"  where id = '11198'
=>>>>>>>>>>>>>>>>>>>>>> 11887 /lvl2/ Management Trainee IT - Technical Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- IT - Technical Analyst", title_clean   = " IT - Technical Analyst", title_id  = "3467"  where id = '11887'
=>>>>>>>>>>>>>>>>>>>>>> 12357 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '12357'
=>>>>>>>>>>>>>>>>>>>>>> 12439 /lvl2/ Management Trainee (MT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MT)", title_clean   = " (MT)", title_id  = "3467"  where id = '12439'
=>>>>>>>>>>>>>>>>>>>>>> 12914 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '12914'
=>>>>>>>>>>>>>>>>>>>>>> 13537 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '13537'
=>>>>>>>>>>>>>>>>>>>>>> 13759 /lvl2/ Management Trainee - Legal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Legal", title_clean   = " - Legal", title_id  = "3467"  where id = '13759'
=>>>>>>>>>>>>>>>>>>>>>> 15215 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '15215'
=>>>>>>>>>>>>>>>>>>>>>> 15233 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '15233'
=>>>>>>>>>>>>>>>>>>>>>> 16171 /lvl2/ Management trainee (shoe manufacturing-based in Cambodia)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Management trainee (shoe manufacturing-based in Cambodia)", title_clean   = "Management trainee (shoe manufacturing-based in Cambodia)", title_id  = "3467"  where id = '16171'
=>>>>>>>>>>>>>>>>>>>>>> 16195 /lvl2/ Management trainee (shoe manufacturing-based in Cambodia)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Management trainee (shoe manufacturing-based in Cambodia)", title_clean   = "Management trainee (shoe manufacturing-based in Cambodia)", title_id  = "3467"  where id = '16195'
=>>>>>>>>>>>>>>>>>>>>>> 16575 /lvl2/ Management Trainee - Operational Batch VI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Operational Batch VI", title_clean   = " - Operational Batch VI", title_id  = "3467"  where id = '16575'
=>>>>>>>>>>>>>>>>>>>>>> 17257 /lvl2/ Sales Marketing Program MT (Management Trainee)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Marketing Program MT (-idex-)", title_clean   = "Sales Marketing Program MT ()", title_id  = "3467"  where id = '17257'
=>>>>>>>>>>>>>>>>>>>>>> 17453 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '17453'
=>>>>>>>>>>>>>>>>>>>>>> 17857 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '17857'
=>>>>>>>>>>>>>>>>>>>>>> 17913 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '17913'
=>>>>>>>>>>>>>>>>>>>>>> 18380 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '18380'
=>>>>>>>>>>>>>>>>>>>>>> 18638 /lvl2/ Management Trainee
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3467"  where id = '18638'
=>>>>>>>>>>>>>>>>>>>>>> 18861 /lvl2/ Management Trainee Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jawa Timur", title_clean   = " Jawa Timur", title_id  = "3467"  where id = '18861'
=>>>>>>>>>>>>>>>>>>>>>> 19282 /lvl2/ Management Trainee Kalimantan Sulawesi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Kalimantan Sulawesi", title_clean   = " Kalimantan Sulawesi", title_id  = "3467"  where id = '19282'
=>>>>>>>>>>>>>>>>>>>>>> 19320 /lvl2/ Management Trainee (MT) - Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MT) - Jawa Timur", title_clean   = " (MT) - Jawa Timur", title_id  = "3467"  where id = '19320'
=>>>>>>>>>>>>>>>>>>>>>> 19333 /lvl2/ Management Trainee Jawa Tengah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jawa Tengah", title_clean   = " Jawa Tengah", title_id  = "3467"  where id = '19333'
=>>>>>>>>>>>>>>>>>>>>>> 19783 /lvl2/ Management Trainee Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Jawa Timur", title_clean   = " Jawa Timur", title_id  = "3467"  where id = '19783'
=>>>>>>>>>>>>>>>>>>>>>> 19819 /lvl2/ MANAGEMENT TRAINEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGEMENT TRAINEE", title_clean   = "MANAGEMENT TRAINEE", title_id  = "3467"  where id = '19819'
=>>>>>>>>>>>>>>>>>>>>>> 20229 /lvl2/ Management Trainee (MT) - Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MT) - Jawa Timur", title_clean   = " (MT) - Jawa Timur", title_id  = "3467"  where id = '20229'
4491 /lvl1/ Production Foreman

=>>>>>>>>>>>>>>>>>>>>>> 4820 /lvl2/ Production Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4491"  where id = '4820'
=>>>>>>>>>>>>>>>>>>>>>> 13413 /lvl2/ Production Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4491"  where id = '13413'
6283 /lvl1/ Supervisor Finance
=>>>>>>>>>>>>>>>>>>>>>> 744 /lvl2/ Supervisor Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6283"  where id = '744'
=>>>>>>>>>>>>>>>>>>>>>> 757 /lvl2/ Supervisor Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6283"  where id = '757'
=>>>>>>>>>>>>>>>>>>>>>> 4342 /lvl2/ Supervisor Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6283"  where id = '4342'
=>>>>>>>>>>>>>>>>>>>>>> 5685 /lvl2/ Supervisor Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6283"  where id = '5685'
=>>>>>>>>>>>>>>>>>>>>>> 8454 /lvl2/ Supervisor Finance and Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Accounting", title_clean   = " and Accounting", title_id  = "6283"  where id = '8454'
=>>>>>>>>>>>>>>>>>>>>>> 11503 /lvl2/ Supervisor Finance (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "6283"  where id = '11503'
=>>>>>>>>>>>>>>>>>>>>>> 12676 /lvl2/ Koordinator  /  Supervisor Finance, Accounting dan Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Koordinator  /  -idex-, Accounting dan Tax", title_clean   = "Koordinator  /  , Accounting dan Tax", title_id  = "6283"  where id = '12676'
=>>>>>>>>>>>>>>>>>>>>>> 13257 /lvl2/ Supervisor Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6283"  where id = '13257'
=>>>>>>>>>>>>>>>>>>>>>> 13551 /lvl2/ Supervisor Finance Cabang Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Semarang", title_clean   = " Cabang Semarang", title_id  = "6283"  where id = '13551'
=>>>>>>>>>>>>>>>>>>>>>> 13779 /lvl2/ Supervisor Finance Cabang Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Semarang", title_clean   = " Cabang Semarang", title_id  = "6283"  where id = '13779'
=>>>>>>>>>>>>>>>>>>>>>> 14849 /lvl2/ Supervisor Finance (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "6283"  where id = '14849'
=>>>>>>>>>>>>>>>>>>>>>> 17933 /lvl2/ SUPERVISOR FINANCE & INVENTORY_ TANGERANG (KRONJO-JATIUWUNG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR FINANCE & INVENTORY_ TANGERANG (KRONJO-JATIUWUNG)", title_clean   = "SUPERVISOR FINANCE & INVENTORY_ TANGERANG (KRONJO-JATIUWUNG)", title_id  = "6283"  where id = '17933'
=>>>>>>>>>>>>>>>>>>>>>> 19973 /lvl2/ Supervisor Finance and Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Accounting", title_clean   = " and Accounting", title_id  = "6283"  where id = '19973'
6539 /lvl1/ Tax Staff Property
=>>>>>>>>>>>>>>>>>>>>>> 17218 /lvl2/ Tax Staff Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6539"  where id = '17218'
397 /lvl1/ Apu Ppt Specialist
=>>>>>>>>>>>>>>>>>>>>>> 4411 /lvl2/ APU PPT Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "APU PPT Specialist", title_clean   = "APU PPT Specialist", title_id  = "397"  where id = '4411'
3981 /lvl1/ Nutritionist Staff
=>>>>>>>>>>>>>>>>>>>>>> 264 /lvl2/ Nutritionist Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3981"  where id = '264'
2446 /lvl1/ Housekeeping Hotel
=>>>>>>>>>>>>>>>>>>>>>> 1105 /lvl2/ Housekeeping Hotel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2446"  where id = '1105'
4494 /lvl1/ Production Manager
=>>>>>>>>>>>>>>>>>>>>>> 1994 /lvl2/ Production Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4494"  where id = '1994'
=>>>>>>>>>>>>>>>>>>>>>> 14323 /lvl2/ PRODUCTION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCTION MANAGER", title_clean   = "PRODUCTION MANAGER", title_id  = "4494"  where id = '14323'
=>>>>>>>>>>>>>>>>>>>>>> 18262 /lvl2/ Production Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4494"  where id = '18262'
=>>>>>>>>>>>>>>>>>>>>>> 18391 /lvl2/ Production Manager - Furniture\u002FWood
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Furniture\u002FWood", title_clean   = " - Furniture\u002FWood", title_id  = "4494"  where id = '18391'
=>>>>>>>>>>>>>>>>>>>>>> 18409 /lvl2/ Production Manager - Furniture\u002FWood
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Furniture\u002FWood", title_clean   = " - Furniture\u002FWood", title_id  = "4494"  where id = '18409'
=>>>>>>>>>>>>>>>>>>>>>> 19952 /lvl2/ Production Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4494"  where id = '19952'
4495 /lvl1/ Production Officer
=>>>>>>>>>>>>>>>>>>>>>> 896 /lvl2/ Production Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4495"  where id = '896'
5775 /lvl1/ Social Media Admin
=>>>>>>>>>>>>>>>>>>>>>> 562 /lvl2/ Social Media Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5775"  where id = '562'
=>>>>>>>>>>>>>>>>>>>>>> 2540 /lvl2/ Social Media Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5775"  where id = '2540'
=>>>>>>>>>>>>>>>>>>>>>> 11257 /lvl2/ SOCIAL MEDIA ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA ADMIN", title_clean   = "SOCIAL MEDIA ADMIN", title_id  = "5775"  where id = '11257'
=>>>>>>>>>>>>>>>>>>>>>> 18158 /lvl2/ Social Media Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5775"  where id = '18158'
=>>>>>>>>>>>>>>>>>>>>>> 19904 /lvl2/ SOCIAL MEDIA ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA ADMIN", title_clean   = "SOCIAL MEDIA ADMIN", title_id  = "5775"  where id = '19904'
=>>>>>>>>>>>>>>>>>>>>>> 20182 /lvl2/ Social Media Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5775"  where id = '20182'
401 /lvl1/ Ar Follow Up Staff
=>>>>>>>>>>>>>>>>>>>>>> 10876 /lvl2/ AR FOLLOW UP STAFF (Pontianak)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AR FOLLOW UP STAFF (Pontianak)", title_clean   = "AR FOLLOW UP STAFF (Pontianak)", title_id  = "401"  where id = '10876'
=>>>>>>>>>>>>>>>>>>>>>> 18721 /lvl2/ AR Follow Up Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AR Follow Up Staff", title_clean   = "AR Follow Up Staff", title_id  = "401"  where id = '18721'
=>>>>>>>>>>>>>>>>>>>>>> 19644 /lvl2/ AR Follow Up Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AR Follow Up Staff", title_clean   = "AR Follow Up Staff", title_id  = "401"  where id = '19644'
2962 /lvl1/ It Product Manager
=>>>>>>>>>>>>>>>>>>>>>> 1649 /lvl2/ IT Product Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Product Manager", title_clean   = "IT Product Manager", title_id  = "2962"  where id = '1649'
4498 /lvl1/ Production Planner
=>>>>>>>>>>>>>>>>>>>>>> 18747 /lvl2/ Production Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4498"  where id = '18747'
659 /lvl1/ Boilerman Operator
=>>>>>>>>>>>>>>>>>>>>>> 17114 /lvl2/ Boilerman Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "659"  where id = '17114'
3475 /lvl1/ Manager Accounting
=>>>>>>>>>>>>>>>>>>>>>> 1352 /lvl2/ ASST. MANAGER ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASST. MANAGER ACCOUNTING", title_clean   = "ASST. MANAGER ACCOUNTING", title_id  = "3475"  where id = '1352'
=>>>>>>>>>>>>>>>>>>>>>> 1361 /lvl2/ ASST. MANAGER ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASST. MANAGER ACCOUNTING", title_clean   = "ASST. MANAGER ACCOUNTING", title_id  = "3475"  where id = '1361'
=>>>>>>>>>>>>>>>>>>>>>> 2110 /lvl2/ Supervisor  /  Asisten Manager Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor  /  Asisten -idex-", title_clean   = "Supervisor  /  Asisten ", title_id  = "3475"  where id = '2110'
=>>>>>>>>>>>>>>>>>>>>>> 2813 /lvl2/ Supervisor  /  Asisten Manager Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor  /  Asisten -idex-", title_clean   = "Supervisor  /  Asisten ", title_id  = "3475"  where id = '2813'
=>>>>>>>>>>>>>>>>>>>>>> 9874 /lvl2/ MANAGER ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER ACCOUNTING", title_clean   = "MANAGER ACCOUNTING", title_id  = "3475"  where id = '9874'
=>>>>>>>>>>>>>>>>>>>>>> 15184 /lvl2/ Manager Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3475"  where id = '15184'
=>>>>>>>>>>>>>>>>>>>>>> 15217 /lvl2/ MANAGER ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER ACCOUNTING", title_clean   = "MANAGER ACCOUNTING", title_id  = "3475"  where id = '15217'
=>>>>>>>>>>>>>>>>>>>>>> 15692 /lvl2/ MANAGER ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER ACCOUNTING", title_clean   = "MANAGER ACCOUNTING", title_id  = "3475"  where id = '15692'
5268 /lvl1/ Sales Pakan Ternak

=>>>>>>>>>>>>>>>>>>>>>> 18067 /lvl2/ Sales Pakan Ternak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5268"  where id = '18067'
6293 /lvl1/ Supervisor Geology
=>>>>>>>>>>>>>>>>>>>>>> 11344 /lvl2/ Supervisor Geology
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6293"  where id = '11344'
4246 /lvl1/ Perishable Support
=>>>>>>>>>>>>>>>>>>>>>> 5550 /lvl2/ Perishable Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4246"  where id = '5550'
=>>>>>>>>>>>>>>>>>>>>>> 6681 /lvl2/ Perishable Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4246"  where id = '6681'
151 /lvl1/ Admin & Accounting
=>>>>>>>>>>>>>>>>>>>>>> 18031 /lvl2/ Admin & Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "151"  where id = '18031'
4247 /lvl1/ Personal Assistant
=>>>>>>>>>>>>>>>>>>>>>> 24 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '24'
=>>>>>>>>>>>>>>>>>>>>>> 372 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '372'
=>>>>>>>>>>>>>>>>>>>>>> 427 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '427'
=>>>>>>>>>>>>>>>>>>>>>> 775 /lvl2/ Personal Assistant  /  Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Secretary", title_clean   = "  /  Secretary", title_id  = "4247"  where id = '775'
=>>>>>>>>>>>>>>>>>>>>>> 912 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '912'
=>>>>>>>>>>>>>>>>>>>>>> 1634 /lvl2/ Personal Assistant \u002F Secretary - Placement in Nabire\u002FPAPUA Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Secretary - Placement in Nabire\u002FPAPUA Site", title_clean   = " \u002F Secretary - Placement in Nabire\u002FPAPUA Site", title_id  = "4247"  where id = '1634'
=>>>>>>>>>>>>>>>>>>>>>> 2676 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '2676'
=>>>>>>>>>>>>>>>>>>>>>> 2903 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '2903'
=>>>>>>>>>>>>>>>>>>>>>> 4786 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '4786'
=>>>>>>>>>>>>>>>>>>>>>> 5028 /lvl2/ Personal Assistant (Mandarin speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin speaker)", title_clean   = " (Mandarin speaker)", title_id  = "4247"  where id = '5028'
=>>>>>>>>>>>>>>>>>>>>>> 7098 /lvl2/ Personal Assistant to Managing Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- to Managing Director", title_clean   = " to Managing Director", title_id  = "4247"  where id = '7098'
=>>>>>>>>>>>>>>>>>>>>>> 7252 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '7252'
=>>>>>>>>>>>>>>>>>>>>>> 7517 /lvl2/ Personal assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Personal assistant", title_clean   = "Personal assistant", title_id  = "4247"  where id = '7517'
=>>>>>>>>>>>>>>>>>>>>>> 7683 /lvl2/ PERSONAL Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL Assistant", title_clean   = "PERSONAL Assistant", title_id  = "4247"  where id = '7683'
=>>>>>>>>>>>>>>>>>>>>>> 9752 /lvl2/ Personal Assistant \u002F Secretary - Placement in East Kalimantan Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Secretary - Placement in East Kalimantan Site", title_clean   = " \u002F Secretary - Placement in East Kalimantan Site", title_id  = "4247"  where id = '9752'
=>>>>>>>>>>>>>>>>>>>>>> 10680 /lvl2/ Personal Assistant \u002F Secretary - Placement in East Kalimantan Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Secretary - Placement in East Kalimantan Site", title_clean   = " \u002F Secretary - Placement in East Kalimantan Site", title_id  = "4247"  where id = '10680'
=>>>>>>>>>>>>>>>>>>>>>> 10708 /lvl2/ Personal Assistant \u002F Secretary - Placement in East Kalimantan Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Secretary - Placement in East Kalimantan Site", title_clean   = " \u002F Secretary - Placement in East Kalimantan Site", title_id  = "4247"  where id = '10708'
=>>>>>>>>>>>>>>>>>>>>>> 11361 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '11361'
=>>>>>>>>>>>>>>>>>>>>>> 11475 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '11475'
=>>>>>>>>>>>>>>>>>>>>>> 11617 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '11617'
=>>>>>>>>>>>>>>>>>>>>>> 12390 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '12390'
=>>>>>>>>>>>>>>>>>>>>>> 12931 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '12931'
=>>>>>>>>>>>>>>>>>>>>>> 13812 /lvl2/ PERSONAL ASSISTANT DIREKSI (wajib pengalaman personal assistant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT DIREKSI (wajib pengalaman personal assistant)", title_clean   = "PERSONAL ASSISTANT DIREKSI (wajib pengalaman personal assistant)", title_id  = "4247"  where id = '13812'
=>>>>>>>>>>>>>>>>>>>>>> 13831 /lvl2/ PERSONAL ASSISTANT DIREKSI (wajib pengalaman personal assistant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT DIREKSI (wajib pengalaman personal assistant)", title_clean   = "PERSONAL ASSISTANT DIREKSI (wajib pengalaman personal assistant)", title_id  = "4247"  where id = '13831'
=>>>>>>>>>>>>>>>>>>>>>> 15055 /lvl2/ PERSONAL ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT", title_clean   = "PERSONAL ASSISTANT", title_id  = "4247"  where id = '15055'
=>>>>>>>>>>>>>>>>>>>>>> 16272 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '16272'
=>>>>>>>>>>>>>>>>>>>>>> 16915 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '16915'
=>>>>>>>>>>>>>>>>>>>>>> 16955 /lvl2/ Personal Assistant\u002FSecretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-\u002FSecretary", title_clean   = "\u002FSecretary", title_id  = "4247"  where id = '16955'
=>>>>>>>>>>>>>>>>>>>>>> 17808 /lvl2/ Sekretaris \u002F Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sekretaris \u002F -idex-", title_clean   = "Sekretaris \u002F ", title_id  = "4247"  where id = '17808'
=>>>>>>>>>>>>>>>>>>>>>> 17824 /lvl2/ Sekretaris \u002F Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sekretaris \u002F -idex-", title_clean   = "Sekretaris \u002F ", title_id  = "4247"  where id = '17824'
=>>>>>>>>>>>>>>>>>>>>>> 18174 /lvl2/ PERSONAL ASSISTANT (PA) FOR FINANCE DIRECTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT (PA) FOR FINANCE DIRECTOR", title_clean   = "PERSONAL ASSISTANT (PA) FOR FINANCE DIRECTOR", title_id  = "4247"  where id = '18174'
=>>>>>>>>>>>>>>>>>>>>>> 18209 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '18209'
=>>>>>>>>>>>>>>>>>>>>>> 18288 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '18288'
=>>>>>>>>>>>>>>>>>>>>>> 18418 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '18418'
=>>>>>>>>>>>>>>>>>>>>>> 18907 /lvl2/ PERSONAL ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASSISTANT", title_clean   = "PERSONAL ASSISTANT", title_id  = "4247"  where id = '18907'
=>>>>>>>>>>>>>>>>>>>>>> 19048 /lvl2/ Secretary\u002FPersonal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary\u002F-idex-", title_clean   = "Secretary\u002F", title_id  = "4247"  where id = '19048'
=>>>>>>>>>>>>>>>>>>>>>> 19158 /lvl2/ Secretary\u002FPersonal Assistant CEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary\u002F-idex- CEO", title_clean   = "Secretary\u002F CEO", title_id  = "4247"  where id = '19158'
=>>>>>>>>>>>>>>>>>>>>>> 19288 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '19288'
=>>>>>>>>>>>>>>>>>>>>>> 19961 /lvl2/ Secretary\u002FPersonal Assistant CEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary\u002F-idex- CEO", title_clean   = "Secretary\u002F CEO", title_id  = "4247"  where id = '19961'
=>>>>>>>>>>>>>>>>>>>>>> 20250 /lvl2/ Personal Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4247"  where id = '20250'
=>>>>>>>>>>>>>>>>>>>>>> 20262 /lvl2/ Sekertaris \u002F Personal Assistant (IRR - Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sekertaris \u002F -idex- (IRR - Surabaya)", title_clean   = "Sekertaris \u002F  (IRR - Surabaya)", title_id  = "4247"  where id = '20262'
6808 /lvl1/ Training Executive

=>>>>>>>>>>>>>>>>>>>>>> 1000 /lvl2/ Training Executive (TE - JS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TE - JS)", title_clean   = " (TE - JS)", title_id  = "6808"  where id = '1000'
=>>>>>>>>>>>>>>>>>>>>>> 1022 /lvl2/ Training Executive (TE - JS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TE - JS)", title_clean   = " (TE - JS)", title_id  = "6808"  where id = '1022'
=>>>>>>>>>>>>>>>>>>>>>> 1748 /lvl2/ Training Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6808"  where id = '1748'
1178 /lvl1/ Cost Control Staff
=>>>>>>>>>>>>>>>>>>>>>> 17997 /lvl2/ COST CONTROL STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "COST CONTROL STAFF", title_clean   = "COST CONTROL STAFF", title_id  = "1178"  where id = '17997'
3738 /lvl1/ Marketing Property
=>>>>>>>>>>>>>>>>>>>>>> 4368 /lvl2/ Marketing Property (Perumahan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Perumahan)", title_clean   = " (Perumahan)", title_id  = "3738"  where id = '4368'
=>>>>>>>>>>>>>>>>>>>>>> 5690 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '5690'
=>>>>>>>>>>>>>>>>>>>>>> 6787 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '6787'
=>>>>>>>>>>>>>>>>>>>>>> 7031 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '7031'
=>>>>>>>>>>>>>>>>>>>>>> 7163 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '7163'
=>>>>>>>>>>>>>>>>>>>>>> 7847 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '7847'
=>>>>>>>>>>>>>>>>>>>>>> 9277 /lvl2/ Marketing Property (Tegal)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tegal)", title_clean   = " (Tegal)", title_id  = "3738"  where id = '9277'
=>>>>>>>>>>>>>>>>>>>>>> 9380 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '9380'
=>>>>>>>>>>>>>>>>>>>>>> 9759 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '9759'
=>>>>>>>>>>>>>>>>>>>>>> 12088 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '12088'
=>>>>>>>>>>>>>>>>>>>>>> 12266 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '12266'
=>>>>>>>>>>>>>>>>>>>>>> 13324 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '13324'
=>>>>>>>>>>>>>>>>>>>>>> 13344 /lvl2/ Marketing Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3738"  where id = '13344'
923 /lvl1/ Ci Department Head
1691 /lvl1/ Engineer Estimator
=>>>>>>>>>>>>>>>>>>>>>> 11348 /lvl2/ Engineer Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1691"  where id = '11348'
1947 /lvl1/ Finance Accounting
=>>>>>>>>>>>>>>>>>>>>>> 2276 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '2276'
=>>>>>>>>>>>>>>>>>>>>>> 2370 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '2370'
=>>>>>>>>>>>>>>>>>>>>>> 4044 /lvl2/ Finance Accounting and Tax Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax Supervisor", title_clean   = " and Tax Supervisor", title_id  = "1947"  where id = '4044'
=>>>>>>>>>>>>>>>>>>>>>> 4357 /lvl2/ Finance Accounting and Tax SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax SPV", title_clean   = " and Tax SPV", title_id  = "1947"  where id = '4357'
=>>>>>>>>>>>>>>>>>>>>>> 4959 /lvl2/ SPV Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex-", title_clean   = "SPV ", title_id  = "1947"  where id = '4959'
=>>>>>>>>>>>>>>>>>>>>>> 7584 /lvl2/ Finance Accounting Asst. Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Asst. Manager", title_clean   = " Asst. Manager", title_id  = "1947"  where id = '7584'
=>>>>>>>>>>>>>>>>>>>>>> 13055 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '13055'
=>>>>>>>>>>>>>>>>>>>>>> 13079 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '13079'
=>>>>>>>>>>>>>>>>>>>>>> 16846 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '16846'
=>>>>>>>>>>>>>>>>>>>>>> 16861 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '16861'
=>>>>>>>>>>>>>>>>>>>>>> 17264 /lvl2/ Finance Accounting (Supervisor Development Program)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Supervisor Development Program)", title_clean   = " (Supervisor Development Program)", title_id  = "1947"  where id = '17264'
=>>>>>>>>>>>>>>>>>>>>>> 17366 /lvl2/ FINANCE ACCOUNTING - TAX OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE ACCOUNTING - TAX OFFICER", title_clean   = "FINANCE ACCOUNTING - TAX OFFICER", title_id  = "1947"  where id = '17366'
=>>>>>>>>>>>>>>>>>>>>>> 18013 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '18013'
=>>>>>>>>>>>>>>>>>>>>>> 18027 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '18027'
=>>>>>>>>>>>>>>>>>>>>>> 18188 /lvl2/ Finance Accounting and Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax Staff", title_clean   = " and Tax Staff", title_id  = "1947"  where id = '18188'
=>>>>>>>>>>>>>>>>>>>>>> 18623 /lvl2/ Finance Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1947"  where id = '18623'
=>>>>>>>>>>>>>>>>>>>>>> 19501 /lvl2/ Finance Accounting Department Head (Bogor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Department Head (Bogor)", title_clean   = " Department Head (Bogor)", title_id  = "1947"  where id = '19501'
=>>>>>>>>>>>>>>>>>>>>>> 20450 /lvl2/ Finance Accounting and Tax Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax Manager", title_clean   = " and Tax Manager", title_id  = "1947"  where id = '20450'
3739 /lvl1/ Marketing Relation
=>>>>>>>>>>>>>>>>>>>>>> 9942 /lvl2/ Marketing Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3739"  where id = '9942'
4251 /lvl1/ Personal Assistant
156 /lvl1/ Admin & Sekretaris
=>>>>>>>>>>>>>>>>>>>>>> 12312 /lvl2/ Admin & Sekretaris
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "156"  where id = '12312'
2973 /lvl1/ It Project Manager
=>>>>>>>>>>>>>>>>>>>>>> 1855 /lvl2/ IT PROJECT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT PROJECT MANAGER", title_clean   = "IT PROJECT MANAGER", title_id  = "2973"  where id = '1855'
=>>>>>>>>>>>>>>>>>>>>>> 2055 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '2055'
=>>>>>>>>>>>>>>>>>>>>>> 2505 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '2505'
=>>>>>>>>>>>>>>>>>>>>>> 5505 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '5505'
=>>>>>>>>>>>>>>>>>>>>>> 5766 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '5766'
=>>>>>>>>>>>>>>>>>>>>>> 6853 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '6853'
=>>>>>>>>>>>>>>>>>>>>>> 9117 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '9117'
=>>>>>>>>>>>>>>>>>>>>>> 10987 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '10987'
=>>>>>>>>>>>>>>>>>>>>>> 11017 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '11017'
=>>>>>>>>>>>>>>>>>>>>>> 11024 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '11024'
=>>>>>>>>>>>>>>>>>>>>>> 11026 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '11026'
=>>>>>>>>>>>>>>>>>>>>>> 13320 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '13320'
=>>>>>>>>>>>>>>>>>>>>>> 19622 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '19622'
=>>>>>>>>>>>>>>>>>>>>>> 19775 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '19775'
=>>>>>>>>>>>>>>>>>>>>>> 20424 /lvl2/ IT Project Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Manager", title_clean   = "IT Project Manager", title_id  = "2973"  where id = '20424'
1694 /lvl1/ Engineer Geoteknik

=>>>>>>>>>>>>>>>>>>>>>> 11367 /lvl2/ Engineer Geoteknik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1694"  where id = '11367'
2974 /lvl1/ It Project Officer
=>>>>>>>>>>>>>>>>>>>>>> 1705 /lvl2/ IT Project Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Project Officer", title_clean   = "IT Project Officer", title_id  = "2974"  where id = '1705'
3487 /lvl1/ Manager Controller
=>>>>>>>>>>>>>>>>>>>>>> 5429 /lvl2/ MANAGER CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER CONTROLLER", title_clean   = "MANAGER CONTROLLER", title_id  = "3487"  where id = '5429'
416 /lvl1/ Asisten Accounting
=>>>>>>>>>>>>>>>>>>>>>> 19169 /lvl2/ Asisten Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "416"  where id = '19169'
=>>>>>>>>>>>>>>>>>>>>>> 20071 /lvl2/ Asisten Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "416"  where id = '20071'
1696 /lvl1/ Engineer Mine Plan
=>>>>>>>>>>>>>>>>>>>>>> 15069 /lvl2/ Engineer Mine Plan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1696"  where id = '15069'
5792 /lvl1/ Social Media Staff
=>>>>>>>>>>>>>>>>>>>>>> 9071 /lvl2/ Social Media Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5792"  where id = '9071'
=>>>>>>>>>>>>>>>>>>>>>> 18024 /lvl2/ SOCIAL MEDIA STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOCIAL MEDIA STAFF", title_clean   = "SOCIAL MEDIA STAFF", title_id  = "5792"  where id = '18024'
=>>>>>>>>>>>>>>>>>>>>>> 18371 /lvl2/ Social Media Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5792"  where id = '18371'
=>>>>>>>>>>>>>>>>>>>>>> 20032 /lvl2/ Social Media Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5792"  where id = '20032'
1185 /lvl1/ Costing Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 29 /lvl2/ Costing Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1185"  where id = '29'
4002 /lvl1/ Officer Design Mep
=>>>>>>>>>>>>>>>>>>>>>> 19068 /lvl2/ Officer Design MEP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Officer Design MEP", title_clean   = "Officer Design MEP", title_id  = "4002"  where id = '19068'
2214 /lvl1/ Gis & Survey Staff
=>>>>>>>>>>>>>>>>>>>>>> 11313 /lvl2/ GIS & Survey Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GIS & Survey Staff", title_clean   = "GIS & Survey Staff", title_id  = "2214"  where id = '11313'
5286 /lvl1/ Sales Pvc Compound
=>>>>>>>>>>>>>>>>>>>>>> 7102 /lvl2/ Sales PVC Compound
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales PVC Compound", title_clean   = "Sales PVC Compound", title_id  = "5286"  where id = '7102'
5798 /lvl1/ Software Architect
=>>>>>>>>>>>>>>>>>>>>>> 5280 /lvl2/ Software Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5798"  where id = '5280'
=>>>>>>>>>>>>>>>>>>>>>> 10667 /lvl2/ Software Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5798"  where id = '10667'
5801 /lvl1/ Software Developer
=>>>>>>>>>>>>>>>>>>>>>> 4095 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '4095'
=>>>>>>>>>>>>>>>>>>>>>> 4178 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '4178'
=>>>>>>>>>>>>>>>>>>>>>> 4480 /lvl2/ Technical Lead - Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical Lead - -idex-", title_clean   = "Technical Lead - ", title_id  = "5801"  where id = '4480'
=>>>>>>>>>>>>>>>>>>>>>> 5618 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '5618'
=>>>>>>>>>>>>>>>>>>>>>> 5929 /lvl2/ Jr Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Jr -idex-", title_clean   = "Jr ", title_id  = "5801"  where id = '5929'
=>>>>>>>>>>>>>>>>>>>>>> 6114 /lvl2/ SOFTWARE DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOFTWARE DEVELOPER", title_clean   = "SOFTWARE DEVELOPER", title_id  = "5801"  where id = '6114'
=>>>>>>>>>>>>>>>>>>>>>> 6738 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '6738'
=>>>>>>>>>>>>>>>>>>>>>> 7464 /lvl2/ Web Programmer (Software Developer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Web Programmer (-idex-)", title_clean   = "Web Programmer ()", title_id  = "5801"  where id = '7464'
=>>>>>>>>>>>>>>>>>>>>>> 8646 /lvl2/ Programmer (.NET) \u002F Software Developer - Hybrid Working
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Programmer (.NET) \u002F -idex- - Hybrid Working", title_clean   = "Programmer (.NET) \u002F  - Hybrid Working", title_id  = "5801"  where id = '8646'
=>>>>>>>>>>>>>>>>>>>>>> 8682 /lvl2/ Software Developer (esp. in Golang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (esp. in Golang)", title_clean   = " (esp. in Golang)", title_id  = "5801"  where id = '8682'
=>>>>>>>>>>>>>>>>>>>>>> 8713 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '8713'
=>>>>>>>>>>>>>>>>>>>>>> 8889 /lvl2/ Web Programmer (Software Developer) Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Web Programmer (-idex-) Solo", title_clean   = "Web Programmer () Solo", title_id  = "5801"  where id = '8889'
=>>>>>>>>>>>>>>>>>>>>>> 10101 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '10101'
=>>>>>>>>>>>>>>>>>>>>>> 10145 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '10145'
=>>>>>>>>>>>>>>>>>>>>>> 10322 /lvl2/ Software Developer (Contract Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Contract Based)", title_clean   = " (Contract Based)", title_id  = "5801"  where id = '10322'
=>>>>>>>>>>>>>>>>>>>>>> 11643 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '11643'
=>>>>>>>>>>>>>>>>>>>>>> 12575 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '12575'
=>>>>>>>>>>>>>>>>>>>>>> 12593 /lvl2/ Software Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5801"  where id = '12593'
6313 /lvl1/ Supervisor Kitchen
1194 /lvl1/ Country Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18922 /lvl2/ Country Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1194"  where id = '18922'
2731 /lvl1/ Instrument Officer
=>>>>>>>>>>>>>>>>>>>>>> 17634 /lvl2/ Instrument Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2731"  where id = '17634'
5548 /lvl1/ Senior IT Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7664 /lvl2/ Senior IT Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5548"  where id = '7664'
=>>>>>>>>>>>>>>>>>>>>>> 9134 /lvl2/ Senior IT Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5548"  where id = '9134'
4781 /lvl1/ Quality Compliance
=>>>>>>>>>>>>>>>>>>>>>> 17866 /lvl2/ Staff Quality Compliance (QA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex- (QA)", title_clean   = "Staff  (QA)", title_id  = "4781"  where id = '17866'
=>>>>>>>>>>>>>>>>>>>>>> 19171 /lvl2/ Quality Compliance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4781"  where id = '19171'
174 /lvl1/ Admin Data Analyst
=>>>>>>>>>>>>>>>>>>>>>> 16328 /lvl2/ Admin Data Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "174"  where id = '16328'
2222 /lvl1/ Gm Operasional F&B
=>>>>>>>>>>>>>>>>>>>>>> 2250 /lvl2/ GM Operasional F&B
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GM Operasional F&B", title_clean   = "GM Operasional F&B", title_id  = "2222"  where id = '2250'
5551 /lvl1/ Senior IT Security
=>>>>>>>>>>>>>>>>>>>>>> 4993 /lvl2/ Senior IT Security
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5551"  where id = '4993'
6319 /lvl1/ Supervisor Library

3249 /lvl1/ Kitchen Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9345 /lvl2/ Kitchen Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3249"  where id = '9345'
946 /lvl1/ Client Acquisition
=>>>>>>>>>>>>>>>>>>>>>> 5109 /lvl2/ Client Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "946"  where id = '5109'
=>>>>>>>>>>>>>>>>>>>>>> 13314 /lvl2/ Client Acquisition
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "946"  where id = '13314'
5298 /lvl1/ Sales Senior Staff
=>>>>>>>>>>>>>>>>>>>>>> 1119 /lvl2/ Sales Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5298"  where id = '1119'
=>>>>>>>>>>>>>>>>>>>>>> 1130 /lvl2/ Sales Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5298"  where id = '1130'
6578 /lvl1/ Technical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3350 /lvl2/ IPRAN Technical Engineer (Telecommunication Company)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IPRAN -idex- (Telecommunication Company)", title_clean   = "IPRAN  (Telecommunication Company)", title_id  = "6578"  where id = '3350'
=>>>>>>>>>>>>>>>>>>>>>> 3994 /lvl2/ Geotechnical Engineer (Junior \u002F Senior)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Geotechnical Engineer (Junior \u002F Senior)", title_clean   = "Geotechnical Engineer (Junior \u002F Senior)", title_id  = "6578"  where id = '3994'
=>>>>>>>>>>>>>>>>>>>>>> 5364 /lvl2/ Technical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6578"  where id = '5364'
=>>>>>>>>>>>>>>>>>>>>>> 8501 /lvl2/ Technical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6578"  where id = '8501'
=>>>>>>>>>>>>>>>>>>>>>> 13209 /lvl2/ Technical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6578"  where id = '13209'
=>>>>>>>>>>>>>>>>>>>>>> 14751 /lvl2/ Technical Engineer-Pre sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Pre sales", title_clean   = "-Pre sales", title_id  = "6578"  where id = '14751'
=>>>>>>>>>>>>>>>>>>>>>> 14768 /lvl2/ Technical Engineer-Pre sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Pre sales", title_clean   = "-Pre sales", title_id  = "6578"  where id = '14768'
=>>>>>>>>>>>>>>>>>>>>>> 15487 /lvl2/ Technical Engineer-Pre sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Pre sales", title_clean   = "-Pre sales", title_id  = "6578"  where id = '15487'
=>>>>>>>>>>>>>>>>>>>>>> 16935 /lvl2/ Technical Engineer (Salesforce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Salesforce)", title_clean   = " (Salesforce)", title_id  = "6578"  where id = '16935'
=>>>>>>>>>>>>>>>>>>>>>> 16952 /lvl2/ Technical Engineer (Salesforce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Salesforce)", title_clean   = " (Salesforce)", title_id  = "6578"  where id = '16952'
=>>>>>>>>>>>>>>>>>>>>>> 17775 /lvl2/ Technical Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6578"  where id = '17775'
1460 /lvl1/ Manager Personalia
=>>>>>>>>>>>>>>>>>>>>>> 10168 /lvl2/ Dibutuhkan Manager Personalia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Dibutuhkan -idex-", title_clean   = "Dibutuhkan ", title_id  = "1460"  where id = '10168'
2740 /lvl1/ Interior Decorator
=>>>>>>>>>>>>>>>>>>>>>> 19406 /lvl2/ Interior Decorator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2740"  where id = '19406'
2229 /lvl1/ Goverment Relation
=>>>>>>>>>>>>>>>>>>>>>> 878 /lvl2/ Goverment Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2229"  where id = '878'
=>>>>>>>>>>>>>>>>>>>>>> 895 /lvl2/ Goverment Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2229"  where id = '895'
1974 /lvl1/ Finance Ar Officer
=>>>>>>>>>>>>>>>>>>>>>> 20213 /lvl2/ Finance AR Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance AR Officer", title_clean   = "Finance AR Officer", title_id  = "1974"  where id = '20213'
2998 /lvl1/ It Security Tester
=>>>>>>>>>>>>>>>>>>>>>> 9216 /lvl2/ IT Security Tester
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Tester", title_clean   = "IT Security Tester", title_id  = "2998"  where id = '9216'
3766 /lvl1/ Marketing Trucking
=>>>>>>>>>>>>>>>>>>>>>> 4889 /lvl2/ Marketing Trucking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3766"  where id = '4889'
6839 /lvl1/ Tyre Sales Tbr&Otr
=>>>>>>>>>>>>>>>>>>>>>> 6140 /lvl2/ Tyre Sales TBR&OTR（bahasa mandarin）
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tyre Sales TBR&OTR（bahasa mandarin）", title_clean   = "Tyre Sales TBR&OTR（bahasa mandarin）", title_id  = "6839"  where id = '6140'
1720 /lvl1/ English Instructor
=>>>>>>>>>>>>>>>>>>>>>> 4231 /lvl2/ English Instructor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1720"  where id = '4231'
4024 /lvl1/ Operasional Gudang
=>>>>>>>>>>>>>>>>>>>>>> 12751 /lvl2/ Operasional Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4024"  where id = '12751'
=>>>>>>>>>>>>>>>>>>>>>> 12767 /lvl2/ Operasional Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4024"  where id = '12767'
3257 /lvl1/ Konsultan Property
=>>>>>>>>>>>>>>>>>>>>>> 13562 /lvl2/ KONSULTAN PROPERTY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KONSULTAN PROPERTY", title_clean   = "KONSULTAN PROPERTY", title_id  = "3257"  where id = '13562'
=>>>>>>>>>>>>>>>>>>>>>> 13807 /lvl2/ KONSULTAN PROPERTY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KONSULTAN PROPERTY", title_clean   = "KONSULTAN PROPERTY", title_id  = "3257"  where id = '13807'
5562 /lvl1/ Senior Legal Staff
=>>>>>>>>>>>>>>>>>>>>>> 6827 /lvl2/ SENIOR LEGAL STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR LEGAL STAFF", title_clean   = "SENIOR LEGAL STAFF", title_id  = "5562"  where id = '6827'
699 /lvl1/ Brewing Technician
=>>>>>>>>>>>>>>>>>>>>>> 7275 /lvl2/ Brewing Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "699"  where id = '7275'
1725 /lvl1/ English Translator
=>>>>>>>>>>>>>>>>>>>>>> 2537 /lvl2/ English Translator (Contract, Kelapa Gading, Jakarta Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Contract, Kelapa Gading, Jakarta Utara)", title_clean   = " (Contract, Kelapa Gading, Jakarta Utara)", title_id  = "1725"  where id = '2537'
=>>>>>>>>>>>>>>>>>>>>>> 3228 /lvl2/ English Translator (Contract, Kelapa Gading, Jakarta Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Contract, Kelapa Gading, Jakarta Utara)", title_clean   = " (Contract, Kelapa Gading, Jakarta Utara)", title_id  = "1725"  where id = '3228'
=>>>>>>>>>>>>>>>>>>>>>> 14603 /lvl2/ English Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1725"  where id = '14603'
=>>>>>>>>>>>>>>>>>>>>>> 14992 /lvl2/ English Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1725"  where id = '14992'
1981 /lvl1/ Finance Collection
=>>>>>>>>>>>>>>>>>>>>>> 14448 /lvl2/ Finance Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1981"  where id = '14448'
=>>>>>>>>>>>>>>>>>>>>>> 14815 /lvl2/ Finance Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1981"  where id = '14815'
=>>>>>>>>>>>>>>>>>>>>>> 18071 /lvl2/ Finance Collection Staff Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Staff Surabaya", title_clean   = " Staff Surabaya", title_id  = "1981"  where id = '18071'
1470 /lvl1/ Digital Advertiser
=>>>>>>>>>>>>>>>>>>>>>> 3554 /lvl2/ Digital Advertiser - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jakarta", title_clean   = " - Jakarta", title_id  = "1470"  where id = '3554'
=>>>>>>>>>>>>>>>>>>>>>> 3748 /lvl2/ Digital Advertiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1470"  where id = '3748'
1982 /lvl1/ Finance Controller
=>>>>>>>>>>>>>>>>>>>>>> 689 /lvl2/ FINANCE CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE CONTROLLER", title_clean   = "FINANCE CONTROLLER", title_id  = "1982"  where id = '689'
=>>>>>>>>>>>>>>>>>>>>>> 723 /lvl2/ FINANCE CONTROLLER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE CONTROLLER", title_clean   = "FINANCE CONTROLLER", title_id  = "1982"  where id = '723'
=>>>>>>>>>>>>>>>>>>>>>> 9080 /lvl2/ Finance Controller (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "1982"  where id = '9080'
6846 /lvl1/ Ui / Ux Specialist

703 /lvl1/ Budget & Reporting
=>>>>>>>>>>>>>>>>>>>>>> 6147 /lvl2/ Budget & Reporting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "703"  where id = '6147'
2753 /lvl1/ Internal Audit BPR
=>>>>>>>>>>>>>>>>>>>>>> 4807 /lvl2/ Internal Audit BPR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2753"  where id = '4807'
4545 /lvl1/ Project Consultant
=>>>>>>>>>>>>>>>>>>>>>> 1350 /lvl2/ Project Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4545"  where id = '1350'
=>>>>>>>>>>>>>>>>>>>>>> 1383 /lvl2/ Project Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4545"  where id = '1383'
5570 /lvl1/ Senior Manager Pmo
5826 /lvl1/ Solution Architect
=>>>>>>>>>>>>>>>>>>>>>> 2711 /lvl2/ Solution Architect (IT Banking Industry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT Banking Industry)", title_clean   = " (IT Banking Industry)", title_id  = "5826"  where id = '2711'
=>>>>>>>>>>>>>>>>>>>>>> 3398 /lvl2/ Cloud Solution Architect (Fresh Graduate)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cloud -idex- (Fresh Graduate)", title_clean   = "Cloud  (Fresh Graduate)", title_id  = "5826"  where id = '3398'
=>>>>>>>>>>>>>>>>>>>>>> 4221 /lvl2/ Solution Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5826"  where id = '4221'
=>>>>>>>>>>>>>>>>>>>>>> 5633 /lvl2/ Solution Architect (Microsoft Azure & Microsoft 365)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Microsoft Azure & Microsoft 365)", title_clean   = " (Microsoft Azure & Microsoft 365)", title_id  = "5826"  where id = '5633'
=>>>>>>>>>>>>>>>>>>>>>> 5785 /lvl2/ SE Account Service Provider (Solution Architect)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SE Account Service Provider (-idex-)", title_clean   = "SE Account Service Provider ()", title_id  = "5826"  where id = '5785'
=>>>>>>>>>>>>>>>>>>>>>> 7887 /lvl2/ Solution Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5826"  where id = '7887'
=>>>>>>>>>>>>>>>>>>>>>> 7896 /lvl2/ Solution Architect (Microsoft Azure & Microsoft 365)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Microsoft Azure & Microsoft 365)", title_clean   = " (Microsoft Azure & Microsoft 365)", title_id  = "5826"  where id = '7896'
=>>>>>>>>>>>>>>>>>>>>>> 8213 /lvl2/ Solution Architect (Microsoft Azure & Microsoft 365)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Microsoft Azure & Microsoft 365)", title_clean   = " (Microsoft Azure & Microsoft 365)", title_id  = "5826"  where id = '8213'
=>>>>>>>>>>>>>>>>>>>>>> 8670 /lvl2/ IT Solution Architect (Presales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT -idex- (Presales)", title_clean   = "IT  (Presales)", title_id  = "5826"  where id = '8670'
=>>>>>>>>>>>>>>>>>>>>>> 19521 /lvl2/ IT Infrastructure and Cloud Solution Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure and Cloud -idex-", title_clean   = "IT Infrastructure and Cloud ", title_id  = "5826"  where id = '19521'
195 /lvl1/ Admin Import Staff
=>>>>>>>>>>>>>>>>>>>>>> 3395 /lvl2/ Admin Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "195"  where id = '3395'
=>>>>>>>>>>>>>>>>>>>>>> 4327 /lvl2/ Admin Import Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "195"  where id = '4327'
4037 /lvl1/ Operation Director
=>>>>>>>>>>>>>>>>>>>>>> 5665 /lvl2/ Operation Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4037"  where id = '5665'
1222 /lvl1/ Credit Analyst Sme
=>>>>>>>>>>>>>>>>>>>>>> 9523 /lvl2/ Credit Analyst SME
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Credit Analyst SME", title_clean   = "Credit Analyst SME", title_id  = "1222"  where id = '9523'
4550 /lvl1/ Project Controller
=>>>>>>>>>>>>>>>>>>>>>> 1171 /lvl2/ Project Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4550"  where id = '1171'
=>>>>>>>>>>>>>>>>>>>>>> 1636 /lvl2/ Project Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4550"  where id = '1636'
=>>>>>>>>>>>>>>>>>>>>>> 3103 /lvl2/ Project Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4550"  where id = '3103'
=>>>>>>>>>>>>>>>>>>>>>> 17256 /lvl2/ Project Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4550"  where id = '17256'
6854 /lvl1/ Underwriting Staff
=>>>>>>>>>>>>>>>>>>>>>> 7565 /lvl2/ Underwriting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6854"  where id = '7565'
455 /lvl1/ Assessment Manager
=>>>>>>>>>>>>>>>>>>>>>> 1993 /lvl2/ Assessment Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "455"  where id = '1993'
1991 /lvl1/ Finance Operations
=>>>>>>>>>>>>>>>>>>>>>> 19942 /lvl2/ Finance Operations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1991"  where id = '19942'
3783 /lvl1/ Mathematic Teacher
=>>>>>>>>>>>>>>>>>>>>>> 4457 /lvl2/ Junior High School Level Mathematic Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior High School Level -idex-", title_clean   = "Junior High School Level ", title_id  = "3783"  where id = '4457'
=>>>>>>>>>>>>>>>>>>>>>> 10126 /lvl2/ MATHEMATIC TEACHERS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MATHEMATIC TEACHERS", title_clean   = "MATHEMATIC TEACHERS", title_id  = "3783"  where id = '10126'
=>>>>>>>>>>>>>>>>>>>>>> 10137 /lvl2/ MATHEMATIC TEACHERS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MATHEMATIC TEACHERS", title_clean   = "MATHEMATIC TEACHERS", title_id  = "3783"  where id = '10137'
4295 /lvl1/ Pilates Instructor
=>>>>>>>>>>>>>>>>>>>>>> 6634 /lvl2/ Pilates Instructor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4295"  where id = '6634'
6088 /lvl1/ Staff Laboratorium
=>>>>>>>>>>>>>>>>>>>>>> 19351 /lvl2/ Staff Laboratorium
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6088"  where id = '19351'
1481 /lvl1/ Digital Copywriter
=>>>>>>>>>>>>>>>>>>>>>> 19029 /lvl2/ Digital Copywriter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1481"  where id = '19029'
5322 /lvl1/ Sales Taking Order
=>>>>>>>>>>>>>>>>>>>>>> 5795 /lvl2/ Sales Taking Order
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5322"  where id = '5795'
=>>>>>>>>>>>>>>>>>>>>>> 7939 /lvl2/ Sales Taking Order
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5322"  where id = '7939'
=>>>>>>>>>>>>>>>>>>>>>> 8255 /lvl2/ Sales Taking Order
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5322"  where id = '8255'
=>>>>>>>>>>>>>>>>>>>>>> 9453 /lvl2/ Sales Taking Order (CSA, divisi P&G)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CSA, divisi P&G)", title_clean   = " (CSA, divisi P&G)", title_id  = "5322"  where id = '9453'
=>>>>>>>>>>>>>>>>>>>>>> 15123 /lvl2/ Sales Taking Order
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5322"  where id = '15123'
=>>>>>>>>>>>>>>>>>>>>>> 19438 /lvl2/ Sales Taking Order
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5322"  where id = '19438'
=>>>>>>>>>>>>>>>>>>>>>> 20299 /lvl2/ Sales Taking Order (Bogor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bogor)", title_clean   = " (Bogor)", title_id  = "5322"  where id = '20299'
1483 /lvl1/ Digital Engagement
=>>>>>>>>>>>>>>>>>>>>>> 2829 /lvl2/ DIGITAL ENGAGEMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL ENGAGEMENT", title_clean   = "DIGITAL ENGAGEMENT", title_id  = "1483"  where id = '2829'
5580 /lvl1/ Senior Mep Manager
=>>>>>>>>>>>>>>>>>>>>>> 2564 /lvl2/ Senior MEP Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior MEP Manager", title_clean   = "Senior MEP Manager", title_id  = "5580"  where id = '2564'
5836 /lvl1/ Sosial Media Admin
=>>>>>>>>>>>>>>>>>>>>>> 15866 /lvl2/ Sosial Media Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5836"  where id = '15866'
=>>>>>>>>>>>>>>>>>>>>>> 15882 /lvl2/ Sosial Media Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5836"  where id = '15882'
717 /lvl1/ Building Architect

=>>>>>>>>>>>>>>>>>>>>>> 3573 /lvl2/ Building Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "717"  where id = '3573'
1998 /lvl1/ Finance Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 433 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '433'
=>>>>>>>>>>>>>>>>>>>>>> 4062 /lvl2/ Accounting /  Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting /  -idex-", title_clean   = "Accounting /  ", title_id  = "1998"  where id = '4062'
=>>>>>>>>>>>>>>>>>>>>>> 6992 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '6992'
=>>>>>>>>>>>>>>>>>>>>>> 8452 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '8452'
=>>>>>>>>>>>>>>>>>>>>>> 10164 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '10164'
=>>>>>>>>>>>>>>>>>>>>>> 10955 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '10955'
=>>>>>>>>>>>>>>>>>>>>>> 11171 /lvl2/ Finance Supervisor (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "1998"  where id = '11171'
=>>>>>>>>>>>>>>>>>>>>>> 11471 /lvl2/ FINANCE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE SUPERVISOR", title_clean   = "FINANCE SUPERVISOR", title_id  = "1998"  where id = '11471'
=>>>>>>>>>>>>>>>>>>>>>> 11765 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '11765'
=>>>>>>>>>>>>>>>>>>>>>> 11781 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '11781'
=>>>>>>>>>>>>>>>>>>>>>> 13677 /lvl2/ Finance Supervisor - Tangerang (CS2)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tangerang (CS2)", title_clean   = " - Tangerang (CS2)", title_id  = "1998"  where id = '13677'
=>>>>>>>>>>>>>>>>>>>>>> 13693 /lvl2/ Finance Supervisor - Tangerang (CS2)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tangerang (CS2)", title_clean   = " - Tangerang (CS2)", title_id  = "1998"  where id = '13693'
=>>>>>>>>>>>>>>>>>>>>>> 14028 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '14028'
=>>>>>>>>>>>>>>>>>>>>>> 14354 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '14354'
=>>>>>>>>>>>>>>>>>>>>>> 15318 /lvl2/ Accounting and Finance Supervisor\u002FCoordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting and -idex-\u002FCoordinator", title_clean   = "Accounting and \u002FCoordinator", title_id  = "1998"  where id = '15318'
=>>>>>>>>>>>>>>>>>>>>>> 18084 /lvl2/ Accounting&Finance Supervisor\u002F 财务主管
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting&-idex-\u002F 财务主管", title_clean   = "Accounting&\u002F 财务主管", title_id  = "1998"  where id = '18084'
=>>>>>>>>>>>>>>>>>>>>>> 19612 /lvl2/ Finance Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1998"  where id = '19612'
3790 /lvl1/ Teknisi Alat Berat
=>>>>>>>>>>>>>>>>>>>>>> 2481 /lvl2/ Mekanik  /  Teknisi Alat Berat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mekanik  /  -idex-", title_clean   = "Mekanik  /  ", title_id  = "3790"  where id = '2481'
4046 /lvl1/ Operation Shifting
=>>>>>>>>>>>>>>>>>>>>>> 20171 /lvl2/ Operation Shifting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4046"  where id = '20171'
4302 /lvl1/ Planner & Mechanic
1744 /lvl1/ Equipment Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19134 /lvl2/ Equipment Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1744"  where id = '19134'
3537 /lvl1/ Manager Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 1872 /lvl2/ ASISTANT MANAGER PURCHASING INTERNASIONAL ( TANGERANG )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTANT MANAGER PURCHASING INTERNASIONAL ( TANGERANG )", title_clean   = "ASISTANT MANAGER PURCHASING INTERNASIONAL ( TANGERANG )", title_id  = "3537"  where id = '1872'
=>>>>>>>>>>>>>>>>>>>>>> 2538 /lvl2/ ASISTANT MANAGER PURCHASING INTERNASIONAL ( TANGERANG )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTANT MANAGER PURCHASING INTERNASIONAL ( TANGERANG )", title_clean   = "ASISTANT MANAGER PURCHASING INTERNASIONAL ( TANGERANG )", title_id  = "3537"  where id = '2538'
=>>>>>>>>>>>>>>>>>>>>>> 5054 /lvl2/ Manager Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3537"  where id = '5054'
=>>>>>>>>>>>>>>>>>>>>>> 6525 /lvl2/ Manager Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3537"  where id = '6525'
=>>>>>>>>>>>>>>>>>>>>>> 19594 /lvl2/ MANAGER PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER PURCHASING", title_clean   = "MANAGER PURCHASING", title_id  = "3537"  where id = '19594'
=>>>>>>>>>>>>>>>>>>>>>> 19829 /lvl2/ Manager Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3537"  where id = '19829'
6353 /lvl1/ Supervisor Project
=>>>>>>>>>>>>>>>>>>>>>> 1170 /lvl2/ Supervisor Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6353"  where id = '1170'
=>>>>>>>>>>>>>>>>>>>>>> 1321 /lvl2/ Supervisor Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6353"  where id = '1321'
=>>>>>>>>>>>>>>>>>>>>>> 12648 /lvl2/ Supervisor Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6353"  where id = '12648'
=>>>>>>>>>>>>>>>>>>>>>> 12671 /lvl2/ Supervisor Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6353"  where id = '12671'
=>>>>>>>>>>>>>>>>>>>>>> 14626 /lvl2/ Supervisor Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6353"  where id = '14626'
3794 /lvl1/ Mechanic Ban Motor
5842 /lvl1/ Sourcing Executive
=>>>>>>>>>>>>>>>>>>>>>> 5575 /lvl2/ SOURCING EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOURCING EXECUTIVE", title_clean   = "SOURCING EXECUTIVE", title_id  = "5842"  where id = '5575'
3283 /lvl1/ Laboratory Analyst
=>>>>>>>>>>>>>>>>>>>>>> 7735 /lvl2/ Laboratory Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3283"  where id = '7735'
=>>>>>>>>>>>>>>>>>>>>>> 8051 /lvl2/ Laboratory Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3283"  where id = '8051'
=>>>>>>>>>>>>>>>>>>>>>> 17254 /lvl2/ Laboratory Analyst (Outsource)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Outsource)", title_clean   = " (Outsource)", title_id  = "3283"  where id = '17254'
3029 /lvl1/ It Support Officer
=>>>>>>>>>>>>>>>>>>>>>> 795 /lvl2/ IT Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Officer", title_clean   = "IT Support Officer", title_id  = "3029"  where id = '795'
=>>>>>>>>>>>>>>>>>>>>>> 6191 /lvl2/ IT Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Officer", title_clean   = "IT Support Officer", title_id  = "3029"  where id = '6191'
=>>>>>>>>>>>>>>>>>>>>>> 12651 /lvl2/ IT Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Officer", title_clean   = "IT Support Officer", title_id  = "3029"  where id = '12651'
=>>>>>>>>>>>>>>>>>>>>>> 12666 /lvl2/ IT Support Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Officer", title_clean   = "IT Support Officer", title_id  = "3029"  where id = '12666'
6869 /lvl1/ Utility Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 12798 /lvl2/ UTILITY SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UTILITY SUPERVISOR", title_clean   = "UTILITY SUPERVISOR", title_id  = "6869"  where id = '12798'
=>>>>>>>>>>>>>>>>>>>>>> 12816 /lvl2/ UTILITY SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UTILITY SUPERVISOR", title_clean   = "UTILITY SUPERVISOR", title_id  = "6869"  where id = '12816'
=>>>>>>>>>>>>>>>>>>>>>> 19797 /lvl2/ Utility Supervisor (Khusus Pabrik Gula)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Khusus Pabrik Gula)", title_clean   = " (Khusus Pabrik Gula)", title_id  = "6869"  where id = '19797'
5078 /lvl1/ Sales Admin Export

=>>>>>>>>>>>>>>>>>>>>>> 1814 /lvl2/ Sales Admin Export
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5078"  where id = '1814'
5079 /lvl1/ Sales Admin Intern
=>>>>>>>>>>>>>>>>>>>>>> 435 /lvl2/ Sales Admin Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5079"  where id = '435'
=>>>>>>>>>>>>>>>>>>>>>> 13416 /lvl2/ Sales Admin Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5079"  where id = '13416'
6361 /lvl1/ Supervisor Qc & Qa
=>>>>>>>>>>>>>>>>>>>>>> 1556 /lvl2/ Supervisor QC & QA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor QC & QA", title_clean   = "Supervisor QC & QA", title_id  = "6361"  where id = '1556'
218 /lvl1/ Admin Media Online
=>>>>>>>>>>>>>>>>>>>>>> 16254 /lvl2/ Admin Media Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "218"  where id = '16254'
986 /lvl1/ Collection Manager
=>>>>>>>>>>>>>>>>>>>>>> 16094 /lvl2/ Collection Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "986"  where id = '16094'
=>>>>>>>>>>>>>>>>>>>>>> 16682 /lvl2/ Cluster Collection Manager - DKI Jakarta & Jawa Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cluster -idex- - DKI Jakarta & Jawa Barat", title_clean   = "Cluster  - DKI Jakarta & Jawa Barat", title_id  = "986"  where id = '16682'
=>>>>>>>>>>>>>>>>>>>>>> 18706 /lvl2/ Cluster Collection Manager - Sulawesi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cluster -idex- - Sulawesi", title_clean   = "Cluster  - Sulawesi", title_id  = "986"  where id = '18706'
=>>>>>>>>>>>>>>>>>>>>>> 19428 /lvl2/ Cluster Collection Manager - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cluster -idex- - Kalimantan", title_clean   = "Cluster  - Kalimantan", title_id  = "986"  where id = '19428'
=>>>>>>>>>>>>>>>>>>>>>> 20310 /lvl2/ Cluster Collection Manager - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Cluster -idex- - Kalimantan", title_clean   = "Cluster  - Kalimantan", title_id  = "986"  where id = '20310'
987 /lvl1/ Collection Officer
=>>>>>>>>>>>>>>>>>>>>>> 1946 /lvl2/ Collection Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "987"  where id = '1946'
5595 /lvl1/ Senior Pmo Manager
=>>>>>>>>>>>>>>>>>>>>>> 13328 /lvl2/ Senior PMO Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior PMO Manager", title_clean   = "Senior PMO Manager", title_id  = "5595"  where id = '13328'
6363 /lvl1/ Supervisor Quality
=>>>>>>>>>>>>>>>>>>>>>> 13571 /lvl2/ Supervisor Quality
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6363"  where id = '13571'
=>>>>>>>>>>>>>>>>>>>>>> 13770 /lvl2/ Supervisor Quality
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6363"  where id = '13770'
220 /lvl1/ Admin Merchandiser
=>>>>>>>>>>>>>>>>>>>>>> 56 /lvl2/ ADMIN MERCHANDISER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN MERCHANDISER", title_clean   = "ADMIN MERCHANDISER", title_id  = "220"  where id = '56'
3036 /lvl1/ It Swift Operation
=>>>>>>>>>>>>>>>>>>>>>> 9373 /lvl2/ IT SWIFT Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SWIFT Operation", title_clean   = "IT SWIFT Operation", title_id  = "3036"  where id = '9373'
3805 /lvl1/ Mechanic Oli Mobil
4574 /lvl1/ Project Management
=>>>>>>>>>>>>>>>>>>>>>> 1042 /lvl2/ Project Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4574"  where id = '1042'
=>>>>>>>>>>>>>>>>>>>>>> 2918 /lvl2/ Project Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4574"  where id = '2918'
=>>>>>>>>>>>>>>>>>>>>>> 3129 /lvl2/ STORE DEVELOPMENT EXECUTIVE – PROJECT MANAGEMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE DEVELOPMENT EXECUTIVE – PROJECT MANAGEMENT", title_clean   = "STORE DEVELOPMENT EXECUTIVE – PROJECT MANAGEMENT", title_id  = "4574"  where id = '3129'
=>>>>>>>>>>>>>>>>>>>>>> 3520 /lvl2/ Sales Assistant for Project Management
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Assistant for -idex-", title_clean   = "Sales Assistant for ", title_id  = "4574"  where id = '3520'
=>>>>>>>>>>>>>>>>>>>>>> 3778 /lvl2/ Project Management Officer (e-commerce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Officer (e-commerce)", title_clean   = " Officer (e-commerce)", title_id  = "4574"  where id = '3778'
=>>>>>>>>>>>>>>>>>>>>>> 13234 /lvl2/ PROJECT MANAGEMENT OFFICE (REGION)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT MANAGEMENT OFFICE (REGION)", title_clean   = "PROJECT MANAGEMENT OFFICE (REGION)", title_id  = "4574"  where id = '13234'
1759 /lvl1/ Esport Development
=>>>>>>>>>>>>>>>>>>>>>> 4160 /lvl2/ Esport Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1759"  where id = '4160'
4063 /lvl1/ Operations Manager
=>>>>>>>>>>>>>>>>>>>>>> 2529 /lvl2/ Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4063"  where id = '2529'
=>>>>>>>>>>>>>>>>>>>>>> 4903 /lvl2/ AREA OPERATIONS MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA OPERATIONS MANAGER", title_clean   = "AREA OPERATIONS MANAGER", title_id  = "4063"  where id = '4903'
=>>>>>>>>>>>>>>>>>>>>>> 9353 /lvl2/ IELTS Operations Manager - Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IELTS -idex- - Indonesia", title_clean   = "IELTS  - Indonesia", title_id  = "4063"  where id = '9353'
=>>>>>>>>>>>>>>>>>>>>>> 12279 /lvl2/ Branch Operations Manager (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Branch -idex- (Surabaya)", title_clean   = "Branch  (Surabaya)", title_id  = "4063"  where id = '12279'
=>>>>>>>>>>>>>>>>>>>>>> 14222 /lvl2/ Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4063"  where id = '14222'
=>>>>>>>>>>>>>>>>>>>>>> 17006 /lvl2/ Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4063"  where id = '17006'
=>>>>>>>>>>>>>>>>>>>>>> 17023 /lvl2/ Operations Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4063"  where id = '17023'
=>>>>>>>>>>>>>>>>>>>>>> 19297 /lvl2/ Operations Manager (Custom Clearance) - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Custom Clearance) - Jakarta", title_clean   = " (Custom Clearance) - Jakarta", title_id  = "4063"  where id = '19297'
=>>>>>>>>>>>>>>>>>>>>>> 19436 /lvl2/ Farm Operations Manager (West Java)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Farm -idex- (West Java)", title_clean   = "Farm  (West Java)", title_id  = "4063"  where id = '19436'
=>>>>>>>>>>>>>>>>>>>>>> 20066 /lvl2/ Operations Manager (Custom Clearance) - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Custom Clearance) - Jakarta", title_clean   = " (Custom Clearance) - Jakarta", title_id  = "4063"  where id = '20066'
3040 /lvl1/ It System Engineer
=>>>>>>>>>>>>>>>>>>>>>> 11788 /lvl2/ IT SYSTEM ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SYSTEM ENGINEER", title_clean   = "IT SYSTEM ENGINEER", title_id  = "3040"  where id = '11788'
=>>>>>>>>>>>>>>>>>>>>>> 13752 /lvl2/ IT System Engineer - Linux
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Engineer - Linux", title_clean   = "IT System Engineer - Linux", title_id  = "3040"  where id = '13752'
=>>>>>>>>>>>>>>>>>>>>>> 14940 /lvl2/ IT System Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Engineer", title_clean   = "IT System Engineer", title_id  = "3040"  where id = '14940'
=>>>>>>>>>>>>>>>>>>>>>> 18904 /lvl2/ IT System Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Engineer", title_clean   = "IT System Engineer", title_id  = "3040"  where id = '18904'
3552 /lvl1/ Manager Unit GAdai
=>>>>>>>>>>>>>>>>>>>>>> 6564 /lvl2/ Manager Unit Gadai
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager Unit Gadai", title_clean   = "Manager Unit Gadai", title_id  = "3552"  where id = '6564'
6625 /lvl1/ Technician Trainer
=>>>>>>>>>>>>>>>>>>>>>> 7661 /lvl2/ Technician Trainer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6625"  where id = '7661'
482 /lvl1/ Assistant Director

=>>>>>>>>>>>>>>>>>>>>>> 4291 /lvl2/ Assistant Director (Legal Affairs)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Legal Affairs)", title_clean   = " (Legal Affairs)", title_id  = "482"  where id = '4291'
=>>>>>>>>>>>>>>>>>>>>>> 4865 /lvl2/ Assistant Director (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaking)", title_clean   = " (Mandarin Speaking)", title_id  = "482"  where id = '4865'
=>>>>>>>>>>>>>>>>>>>>>> 18036 /lvl2/ Assistant Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "482"  where id = '18036'
228 /lvl1/ Admin Online Store
=>>>>>>>>>>>>>>>>>>>>>> 16131 /lvl2/ ADMIN ONLINE STORE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN ONLINE STORE", title_clean   = "ADMIN ONLINE STORE", title_id  = "228"  where id = '16131'
=>>>>>>>>>>>>>>>>>>>>>> 16146 /lvl2/ ADMIN ONLINE STORE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN ONLINE STORE", title_clean   = "ADMIN ONLINE STORE", title_id  = "228"  where id = '16146'
3301 /lvl1/ Lead C++ Developer
=>>>>>>>>>>>>>>>>>>>>>> 12629 /lvl2/ Lead C++ Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3301"  where id = '12629'
5608 /lvl1/ Senior Qa Engineer
=>>>>>>>>>>>>>>>>>>>>>> 9149 /lvl2/ Senior QA Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior QA Engineer", title_clean   = "Senior QA Engineer", title_id  = "5608"  where id = '9149'
1769 /lvl1/ Estimator Interior
=>>>>>>>>>>>>>>>>>>>>>> 11493 /lvl2/ ESTIMATOR INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ESTIMATOR INTERIOR", title_clean   = "ESTIMATOR INTERIOR", title_id  = "1769"  where id = '11493'
=>>>>>>>>>>>>>>>>>>>>>> 15091 /lvl2/ Estimator Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1769"  where id = '15091'
2029 /lvl1/ Financial Planning
=>>>>>>>>>>>>>>>>>>>>>> 2704 /lvl2/ Financial Planning and Reporting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Reporting", title_clean   = " and Reporting", title_id  = "2029"  where id = '2704'
=>>>>>>>>>>>>>>>>>>>>>> 3754 /lvl2/ Financial Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2029"  where id = '3754'
=>>>>>>>>>>>>>>>>>>>>>> 11769 /lvl2/ Financial Planning and Analysis Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Analysis Supervisor", title_clean   = " and Analysis Supervisor", title_id  = "2029"  where id = '11769'
5613 /lvl1/ Senior Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 802 /lvl2/ SENIOR RECRUITMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR RECRUITMENT", title_clean   = "SENIOR RECRUITMENT", title_id  = "5613"  where id = '802'
4334 /lvl1/ Power O&M Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4446 /lvl2/ Power O&M Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4334"  where id = '4446'
4590 /lvl1/ Project Manager IT
=>>>>>>>>>>>>>>>>>>>>>> 4591 /lvl2/ Project Manager IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4590"  where id = '4591'
4848 /lvl1/ React js Developer
=>>>>>>>>>>>>>>>>>>>>>> 12064 /lvl2/ React JS Developer Penempatan Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "React JS Developer Penempatan Yogyakarta", title_clean   = "React JS Developer Penempatan Yogyakarta", title_id  = "4848"  where id = '12064'
=>>>>>>>>>>>>>>>>>>>>>> 12093 /lvl2/ React Js Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "React Js Developer", title_clean   = "React Js Developer", title_id  = "4848"  where id = '12093'
6899 /lvl1/ Video Editor Staff
=>>>>>>>>>>>>>>>>>>>>>> 18556 /lvl2/ Video Editor Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6899"  where id = '18556'
=>>>>>>>>>>>>>>>>>>>>>> 18574 /lvl2/ Video Editor Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6899"  where id = '18574'
244 /lvl1/ Admin Project Site
=>>>>>>>>>>>>>>>>>>>>>> 11091 /lvl2/ Admin Project Site
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "244"  where id = '11091'
1780 /lvl1/ Etl Ssis Developer
=>>>>>>>>>>>>>>>>>>>>>> 16287 /lvl2/ ETL SSIS Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ETL SSIS Developer", title_clean   = "ETL SSIS Developer", title_id  = "1780"  where id = '16287'
3316 /lvl1/ Leader Engineering
=>>>>>>>>>>>>>>>>>>>>>> 499 /lvl2/ Leader Engineering (MGold Bekasi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MGold Bekasi)", title_clean   = " (MGold Bekasi)", title_id  = "3316"  where id = '499'
=>>>>>>>>>>>>>>>>>>>>>> 14252 /lvl2/ Leader Engineering Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bogor", title_clean   = " Bogor", title_id  = "3316"  where id = '14252'
=>>>>>>>>>>>>>>>>>>>>>> 16778 /lvl2/ Leader Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3316"  where id = '16778'
=>>>>>>>>>>>>>>>>>>>>>> 16808 /lvl2/ Leader Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3316"  where id = '16808'
2294 /lvl1/ Guru Matematika Sd
=>>>>>>>>>>>>>>>>>>>>>> 9621 /lvl2/ Guru Matematika SD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Matematika SD", title_clean   = "Guru Matematika SD", title_id  = "2294"  where id = '9621'
=>>>>>>>>>>>>>>>>>>>>>> 9636 /lvl2/ Guru Matematika SD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Matematika SD", title_clean   = "Guru Matematika SD", title_id  = "2294"  where id = '9636'
3067 /lvl1/ Java Web Developer
=>>>>>>>>>>>>>>>>>>>>>> 12313 /lvl2/ Java Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3067"  where id = '12313'
6395 /lvl1/ Supervisor Tambang
=>>>>>>>>>>>>>>>>>>>>>> 7641 /lvl2/ SUPERVISOR TAMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR TAMBANG", title_clean   = "SUPERVISOR TAMBANG", title_id  = "6395"  where id = '7641'
1532 /lvl1/ Distribution Staff
=>>>>>>>>>>>>>>>>>>>>>> 4495 /lvl2/ Distribution Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1532"  where id = '4495'
=>>>>>>>>>>>>>>>>>>>>>> 5563 /lvl2/ Distribution Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1532"  where id = '5563'
5885 /lvl1/ Staff Admin Tender
2302 /lvl1/ Guru Sekolah Dasar
=>>>>>>>>>>>>>>>>>>>>>> 8998 /lvl2/ Guru Sekolah Dasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2302"  where id = '8998'
4094 /lvl1/ Opersional Manajer
=>>>>>>>>>>>>>>>>>>>>>> 215 /lvl2/ Opersional Manajer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4094"  where id = '215'
=>>>>>>>>>>>>>>>>>>>>>> 245 /lvl2/ Opersional Manajer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4094"  where id = '245'
4862 /lvl1/ Receptionist Staff
=>>>>>>>>>>>>>>>>>>>>>> 1473 /lvl2/ Receptionist Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4862"  where id = '1473'
5630 /lvl1/ Senior Sales Staff
=>>>>>>>>>>>>>>>>>>>>>> 5330 /lvl2/ SENIOR SALES STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR SALES STAFF", title_clean   = "SENIOR SALES STAFF", title_id  = "5630"  where id = '5330'
5886 /lvl1/ Staff Administrasi
255 /lvl1/ Admin Sales Online
=>>>>>>>>>>>>>>>>>>>>>> 12755 /lvl2/ Admin Sales Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "255"  where id = '12755'
4609 /lvl1/ Project Specifier
=>>>>>>>>>>>>>>>>>>>>>> 788 /lvl2/ Project Specifier
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4609"  where id = '788'
6401 /lvl1/ Supervisor Teknik
=>>>>>>>>>>>>>>>>>>>>>> 11265 /lvl2/ Supervisor Teknik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6401"  where id = '11265'
=>>>>>>>>>>>>>>>>>>>>>> 17083 /lvl2/ Supervisor Teknik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6401"  where id = '17083'
2051 /lvl1/ Fitter Cpvc / Pvc
=>>>>>>>>>>>>>>>>>>>>>> 7221 /lvl2/ Fitter CPVC / PVC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fitter CPVC / PVC", title_clean   = "Fitter CPVC / PVC", title_id  = "2051"  where id = '7221'
6659 /lvl1/ Teknisi Handphone

=>>>>>>>>>>>>>>>>>>>>>> 2486 /lvl2/ Teknisi Handphone KARAWACI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- KARAWACI", title_clean   = " KARAWACI", title_id  = "6659"  where id = '2486'
=>>>>>>>>>>>>>>>>>>>>>> 2516 /lvl2/ Teknisi Handphone LOMBOK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- LOMBOK", title_clean   = " LOMBOK", title_id  = "6659"  where id = '2516'
=>>>>>>>>>>>>>>>>>>>>>> 2677 /lvl2/ Teknisi Handphone DAAN MOGOT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- DAAN MOGOT", title_clean   = " DAAN MOGOT", title_id  = "6659"  where id = '2677'
=>>>>>>>>>>>>>>>>>>>>>> 3396 /lvl2/ Teknisi Handphone DAAN MOGOT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- DAAN MOGOT", title_clean   = " DAAN MOGOT", title_id  = "6659"  where id = '3396'
=>>>>>>>>>>>>>>>>>>>>>> 17887 /lvl2/ Teknisi Handphone
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6659"  where id = '17887'
=>>>>>>>>>>>>>>>>>>>>>> 18899 /lvl2/ Teknisi Handphone
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6659"  where id = '18899'
=>>>>>>>>>>>>>>>>>>>>>> 18919 /lvl2/ Teknisi Handphone
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6659"  where id = '18919'
1284 /lvl1/ Customer Relation
=>>>>>>>>>>>>>>>>>>>>>> 2018 /lvl2/ CUSTOMER RELATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER RELATION", title_clean   = "CUSTOMER RELATION", title_id  = "1284"  where id = '2018'
=>>>>>>>>>>>>>>>>>>>>>> 8666 /lvl2/ Customer Relation Marketing Media (CRM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Marketing Media (CRM)", title_clean   = " Marketing Media (CRM)", title_id  = "1284"  where id = '8666'
=>>>>>>>>>>>>>>>>>>>>>> 8878 /lvl2/ Customer Relation Service (CRS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Service (CRS)", title_clean   = " Service (CRS)", title_id  = "1284"  where id = '8878'
=>>>>>>>>>>>>>>>>>>>>>> 9183 /lvl2/ CUSTOMER RELATION EXECUTIVE (Based in Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER RELATION EXECUTIVE (Based in Jakarta)", title_clean   = "CUSTOMER RELATION EXECUTIVE (Based in Jakarta)", title_id  = "1284"  where id = '9183'
=>>>>>>>>>>>>>>>>>>>>>> 9755 /lvl2/ Customer Relation and Loyalty Management Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Loyalty Management Manager", title_clean   = " and Loyalty Management Manager", title_id  = "1284"  where id = '9755'
=>>>>>>>>>>>>>>>>>>>>>> 14657 /lvl2/ Customer Relation Coordinator (Placement at Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Coordinator (Placement at Surabaya)", title_clean   = " Coordinator (Placement at Surabaya)", title_id  = "1284"  where id = '14657'
=>>>>>>>>>>>>>>>>>>>>>> 15311 /lvl2/ Customer Relation (Junior Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Junior Sales)", title_clean   = " (Junior Sales)", title_id  = "1284"  where id = '15311'
=>>>>>>>>>>>>>>>>>>>>>> 16099 /lvl2/ CUSTOMER RELATION
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER RELATION", title_clean   = "CUSTOMER RELATION", title_id  = "1284"  where id = '16099'
=>>>>>>>>>>>>>>>>>>>>>> 20339 /lvl2/ Customer Relation (CRC) - Jakarta Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CRC) - Jakarta Timur", title_clean   = " (CRC) - Jakarta Timur", title_id  = "1284"  where id = '20339'
2308 /lvl1/ Guru Smk Otomotif
=>>>>>>>>>>>>>>>>>>>>>> 10997 /lvl2/ Guru SMK Otomotif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru SMK Otomotif", title_clean   = "Guru SMK Otomotif", title_id  = "2308"  where id = '10997'
=>>>>>>>>>>>>>>>>>>>>>> 11025 /lvl2/ Guru SMK Otomotif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru SMK Otomotif", title_clean   = "Guru SMK Otomotif", title_id  = "2308"  where id = '11025'
6148 /lvl1/ Staff Recruitment
=>>>>>>>>>>>>>>>>>>>>>> 87 /lvl2/ Staff Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6148"  where id = '87'
=>>>>>>>>>>>>>>>>>>>>>> 1010 /lvl2/ Staff Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6148"  where id = '1010'
=>>>>>>>>>>>>>>>>>>>>>> 1027 /lvl2/ Staff Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6148"  where id = '1027'
=>>>>>>>>>>>>>>>>>>>>>> 4691 /lvl2/ STAFF RECRUITMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF RECRUITMENT", title_clean   = "STAFF RECRUITMENT", title_id  = "6148"  where id = '4691'
=>>>>>>>>>>>>>>>>>>>>>> 12812 /lvl2/ STAFF RECRUITMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF RECRUITMENT", title_clean   = "STAFF RECRUITMENT", title_id  = "6148"  where id = '12812'
=>>>>>>>>>>>>>>>>>>>>>> 16794 /lvl2/ Staff Recruitment
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6148"  where id = '16794'
4614 /lvl1/ Promotion Analyst
=>>>>>>>>>>>>>>>>>>>>>> 4774 /lvl2/ Promotion Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4614"  where id = '4774'
6662 /lvl1/ Teknisi Injection
=>>>>>>>>>>>>>>>>>>>>>> 12601 /lvl2/ Teknisi Injection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6662"  where id = '12601'
1032 /lvl1/ Compounder Powder
=>>>>>>>>>>>>>>>>>>>>>> 20358 /lvl2/ Compounder Powder
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1032"  where id = '20358'
3080 /lvl1/ Junior Accountant
=>>>>>>>>>>>>>>>>>>>>>> 12406 /lvl2/ Bookkeeper\u002FJunior Accountant (urgent)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Bookkeeper\u002F-idex- (urgent)", title_clean   = "Bookkeeper\u002F (urgent)", title_id  = "3080"  where id = '12406'
=>>>>>>>>>>>>>>>>>>>>>> 14070 /lvl2/ Junior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3080"  where id = '14070'
=>>>>>>>>>>>>>>>>>>>>>> 14391 /lvl2/ Junior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3080"  where id = '14391'
3081 /lvl1/ Junior Accounting
=>>>>>>>>>>>>>>>>>>>>>> 13068 /lvl2/ Junior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3081"  where id = '13068'
=>>>>>>>>>>>>>>>>>>>>>> 17523 /lvl2/ Junior accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior accounting", title_clean   = "Junior accounting", title_id  = "3081"  where id = '17523'
=>>>>>>>>>>>>>>>>>>>>>> 19217 /lvl2/ JUNIOR ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR ACCOUNTING", title_clean   = "JUNIOR ACCOUNTING", title_id  = "3081"  where id = '19217'
=>>>>>>>>>>>>>>>>>>>>>> 19704 /lvl2/ Junior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3081"  where id = '19704'
4361 /lvl1/ Pre Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 3345 /lvl2/ Pre Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4361"  where id = '3345'
4617 /lvl1/ Promotion Officer
=>>>>>>>>>>>>>>>>>>>>>> 2280 /lvl2/ Promotion Officer (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "4617"  where id = '2280'
=>>>>>>>>>>>>>>>>>>>>>> 3929 /lvl2/ Advertising & Promotion Officer - Mega Town Square Palangkaraya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Advertising & -idex- - Mega Town Square Palangkaraya", title_clean   = "Advertising &  - Mega Town Square Palangkaraya", title_id  = "4617"  where id = '3929'
=>>>>>>>>>>>>>>>>>>>>>> 12640 /lvl2/ Promotion Officer (Video Creator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Video Creator)", title_clean   = " (Video Creator)", title_id  = "4617"  where id = '12640'
=>>>>>>>>>>>>>>>>>>>>>> 13536 /lvl2/ PROMOTION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROMOTION OFFICER", title_clean   = "PROMOTION OFFICER", title_id  = "4617"  where id = '13536'
=>>>>>>>>>>>>>>>>>>>>>> 16551 /lvl2/ REGIONAL SALES PROMOTION OFFICER (RSPO) BATAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REGIONAL SALES PROMOTION OFFICER (RSPO) BATAM", title_clean   = "REGIONAL SALES PROMOTION OFFICER (RSPO) BATAM", title_id  = "4617"  where id = '16551'
=>>>>>>>>>>>>>>>>>>>>>> 16569 /lvl2/ REGIONAL SALES PROMOTION OFFICER (RSPO) BATAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "REGIONAL SALES PROMOTION OFFICER (RSPO) BATAM", title_clean   = "REGIONAL SALES PROMOTION OFFICER (RSPO) BATAM", title_id  = "4617"  where id = '16569'
=>>>>>>>>>>>>>>>>>>>>>> 18626 /lvl2/ AREA SALES PROMOTION OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA SALES PROMOTION OFFICER", title_clean   = "AREA SALES PROMOTION OFFICER", title_id  = "4617"  where id = '18626'
4874 /lvl1/ Recruitment Admin

=>>>>>>>>>>>>>>>>>>>>>> 17016 /lvl2/ RECRUITMENT ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT ADMIN", title_clean   = "RECRUITMENT ADMIN", title_id  = "4874"  where id = '17016'
6666 /lvl1/ Teknisi Kalibrasi
=>>>>>>>>>>>>>>>>>>>>>> 5514 /lvl2/ Teknisi Kalibrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6666"  where id = '5514'
1548 /lvl1/ Dokter Kecantikan
=>>>>>>>>>>>>>>>>>>>>>> 5924 /lvl2/ Dokter Kecantikan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1548"  where id = '5924'
=>>>>>>>>>>>>>>>>>>>>>> 6237 /lvl2/ DOKTER KECANTIKAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOKTER KECANTIKAN", title_clean   = "DOKTER KECANTIKAN", title_id  = "1548"  where id = '6237'
=>>>>>>>>>>>>>>>>>>>>>> 6272 /lvl2/ Dokter Kecantikan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1548"  where id = '6272'
=>>>>>>>>>>>>>>>>>>>>>> 7084 /lvl2/ Dokter Kecantikan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1548"  where id = '7084'
3084 /lvl1/ Junior Advertiser
=>>>>>>>>>>>>>>>>>>>>>> 3567 /lvl2/ Junior Advertiser
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3084"  where id = '3567'
3340 /lvl1/ Leasing Executive
=>>>>>>>>>>>>>>>>>>>>>> 6714 /lvl2/ Leasing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3340"  where id = '6714'
=>>>>>>>>>>>>>>>>>>>>>> 11310 /lvl2/ Leasing Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3340"  where id = '11310'
1295 /lvl1/ Customer Research
=>>>>>>>>>>>>>>>>>>>>>> 1059 /lvl2/ Customer Research
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1295"  where id = '1059'
5135 /lvl1/ Sales Development
=>>>>>>>>>>>>>>>>>>>>>> 3438 /lvl2/ Area Sales Development Supervisor (Cirebon)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- Supervisor (Cirebon)", title_clean   = "Area  Supervisor (Cirebon)", title_id  = "5135"  where id = '3438'
=>>>>>>>>>>>>>>>>>>>>>> 9366 /lvl2/ Sales Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5135"  where id = '9366'
=>>>>>>>>>>>>>>>>>>>>>> 13848 /lvl2/ SALES DEVELOPMENT OFFICER (Depok)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES DEVELOPMENT OFFICER (Depok)", title_clean   = "SALES DEVELOPMENT OFFICER (Depok)", title_id  = "5135"  where id = '13848'
=>>>>>>>>>>>>>>>>>>>>>> 18520 /lvl2/ Marketing and Sales Development Program - Batch II
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing and -idex- Program - Batch II", title_clean   = "Marketing and  Program - Batch II", title_id  = "5135"  where id = '18520'
=>>>>>>>>>>>>>>>>>>>>>> 19481 /lvl2/ Marketing and Sales Development Program - Batch II
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing and -idex- Program - Batch II", title_clean   = "Marketing and  Program - Batch II", title_id  = "5135"  where id = '19481'
1808 /lvl1/ Expansion Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6119 /lvl2/ Expansion Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1808"  where id = '6119'
2064 /lvl1/ Flutter Developer
=>>>>>>>>>>>>>>>>>>>>>> 4916 /lvl2/ Sr. Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex-", title_clean   = "Sr. ", title_id  = "2064"  where id = '4916'
=>>>>>>>>>>>>>>>>>>>>>> 7238 /lvl2/ Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2064"  where id = '7238'
=>>>>>>>>>>>>>>>>>>>>>> 7404 /lvl2/ Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2064"  where id = '7404'
=>>>>>>>>>>>>>>>>>>>>>> 11724 /lvl2/ Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2064"  where id = '11724'
=>>>>>>>>>>>>>>>>>>>>>> 13106 /lvl2/ Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2064"  where id = '13106'
=>>>>>>>>>>>>>>>>>>>>>> 13127 /lvl2/ Flutter Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2064"  where id = '13127'
4369 /lvl1/ Presales Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1892 /lvl2/ Presales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4369"  where id = '1892'
=>>>>>>>>>>>>>>>>>>>>>> 3688 /lvl2/ Presales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4369"  where id = '3688'
=>>>>>>>>>>>>>>>>>>>>>> 4818 /lvl2/ Presales Engineer (Maintenance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Maintenance)", title_clean   = " (Maintenance)", title_id  = "4369"  where id = '4818'
=>>>>>>>>>>>>>>>>>>>>>> 6487 /lvl2/ Presales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4369"  where id = '6487'
=>>>>>>>>>>>>>>>>>>>>>> 7162 /lvl2/ Presales Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4369"  where id = '7162'
=>>>>>>>>>>>>>>>>>>>>>> 10479 /lvl2/ Presales Engineer (Cisco)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cisco)", title_clean   = " (Cisco)", title_id  = "4369"  where id = '10479'
1810 /lvl1/ Expansion Manager
=>>>>>>>>>>>>>>>>>>>>>> 16867 /lvl2/ Expansion Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1810"  where id = '16867'
=>>>>>>>>>>>>>>>>>>>>>> 16880 /lvl2/ Expansion Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1810"  where id = '16880'
1811 /lvl1/ Expeditor Officer
=>>>>>>>>>>>>>>>>>>>>>> 7568 /lvl2/ Expeditor Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1811"  where id = '7568'
20 /lvl1/ Account Assistant
=>>>>>>>>>>>>>>>>>>>>>> 1690 /lvl2/ Account Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "20"  where id = '1690'
4884 /lvl1/ Recruitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 10 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '10'
=>>>>>>>>>>>>>>>>>>>>>> 23 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '23'
=>>>>>>>>>>>>>>>>>>>>>> 3957 /lvl2/ Recruitment Staff (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya)", title_clean   = " (Surabaya)", title_id  = "4884"  where id = '3957'
=>>>>>>>>>>>>>>>>>>>>>> 4761 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '4761'
=>>>>>>>>>>>>>>>>>>>>>> 10795 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '10795'
=>>>>>>>>>>>>>>>>>>>>>> 10860 /lvl2/ Recruitment Staff (Solo & Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Solo & Medan)", title_clean   = " (Solo & Medan)", title_id  = "4884"  where id = '10860'
=>>>>>>>>>>>>>>>>>>>>>> 11193 /lvl2/ Recruitment Staff - Penempatan Jakarta Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Jakarta Selatan", title_clean   = " - Penempatan Jakarta Selatan", title_id  = "4884"  where id = '11193'
=>>>>>>>>>>>>>>>>>>>>>> 11326 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '11326'
=>>>>>>>>>>>>>>>>>>>>>> 11497 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '11497'
=>>>>>>>>>>>>>>>>>>>>>> 12401 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '12401'
=>>>>>>>>>>>>>>>>>>>>>> 12413 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '12413'
=>>>>>>>>>>>>>>>>>>>>>> 12632 /lvl2/ Recruitment Staff - Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palembang", title_clean   = " - Palembang", title_id  = "4884"  where id = '12632'
=>>>>>>>>>>>>>>>>>>>>>> 14642 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '14642'
=>>>>>>>>>>>>>>>>>>>>>> 16183 /lvl2/ RECRUITMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT STAFF", title_clean   = "RECRUITMENT STAFF", title_id  = "4884"  where id = '16183'
=>>>>>>>>>>>>>>>>>>>>>> 16223 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '16223'
=>>>>>>>>>>>>>>>>>>>>>> 16859 /lvl2/ RECRUITMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RECRUITMENT STAFF", title_clean   = "RECRUITMENT STAFF", title_id  = "4884"  where id = '16859'
=>>>>>>>>>>>>>>>>>>>>>> 17113 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '17113'
=>>>>>>>>>>>>>>>>>>>>>> 17596 /lvl2/ Recruitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4884"  where id = '17596'
1557 /lvl1/ Dosen Fisioterapi

=>>>>>>>>>>>>>>>>>>>>>> 10113 /lvl2/ DOSEN FISIOTERAPI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOSEN FISIOTERAPI", title_clean   = "DOSEN FISIOTERAPI", title_id  = "1557"  where id = '10113'
22 /lvl1/ Account Executive
=>>>>>>>>>>>>>>>>>>>>>> 120 /lvl2/ Account Executive - Shopee Express (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Shopee Express (Yogyakarta)", title_clean   = " - Shopee Express (Yogyakarta)", title_id  = "22"  where id = '120'
=>>>>>>>>>>>>>>>>>>>>>> 226 /lvl2/ Account Executive - Shopee Express (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Shopee Express (Surabaya)", title_clean   = " - Shopee Express (Surabaya)", title_id  = "22"  where id = '226'
=>>>>>>>>>>>>>>>>>>>>>> 449 /lvl2/ Account Executive - Shopee Express (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Shopee Express (Bandung)", title_clean   = " - Shopee Express (Bandung)", title_id  = "22"  where id = '449'
=>>>>>>>>>>>>>>>>>>>>>> 1141 /lvl2/ Account Executive for Pharma Ingredients Business
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Pharma Ingredients Business", title_clean   = " for Pharma Ingredients Business", title_id  = "22"  where id = '1141'
=>>>>>>>>>>>>>>>>>>>>>> 1212 /lvl2/ Account Executive  Aceh, Pekanbaru, Padang, Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  Aceh, Pekanbaru, Padang, Lampung", title_clean   = "  Aceh, Pekanbaru, Padang, Lampung", title_id  = "22"  where id = '1212'
=>>>>>>>>>>>>>>>>>>>>>> 1356 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '1356'
=>>>>>>>>>>>>>>>>>>>>>> 1367 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '1367'
=>>>>>>>>>>>>>>>>>>>>>> 1523 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '1523'
=>>>>>>>>>>>>>>>>>>>>>> 1776 /lvl2/ Account Executive (B2B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (B2B)", title_clean   = " (B2B)", title_id  = "22"  where id = '1776'
=>>>>>>>>>>>>>>>>>>>>>> 1777 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '1777'
=>>>>>>>>>>>>>>>>>>>>>> 1810 /lvl2/ Account Executive E-commerce & Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- E-commerce & Marketplace", title_clean   = " E-commerce & Marketplace", title_id  = "22"  where id = '1810'
=>>>>>>>>>>>>>>>>>>>>>> 1836 /lvl2/ Account Executive (CCTV\u002FSurveillance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CCTV\u002FSurveillance)", title_clean   = " (CCTV\u002FSurveillance)", title_id  = "22"  where id = '1836'
=>>>>>>>>>>>>>>>>>>>>>> 1995 /lvl2/ Account Executive - Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sales", title_clean   = " - Sales", title_id  = "22"  where id = '1995'
=>>>>>>>>>>>>>>>>>>>>>> 2121 /lvl2/ Account Executive (SAC Indonesia)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (SAC Indonesia)", title_clean   = " (SAC Indonesia)", title_id  = "22"  where id = '2121'
=>>>>>>>>>>>>>>>>>>>>>> 2431 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '2431'
=>>>>>>>>>>>>>>>>>>>>>> 3048 /lvl2/ Account Executive (Calibration)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Calibration)", title_clean   = " (Calibration)", title_id  = "22"  where id = '3048'
=>>>>>>>>>>>>>>>>>>>>>> 3085 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '3085'
=>>>>>>>>>>>>>>>>>>>>>> 4079 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '4079'
=>>>>>>>>>>>>>>>>>>>>>> 4187 /lvl2/ Account Executive Internet Service Provider (AE-ISP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Internet Service Provider (AE-ISP)", title_clean   = " Internet Service Provider (AE-ISP)", title_id  = "22"  where id = '4187'
=>>>>>>>>>>>>>>>>>>>>>> 4389 /lvl2/ Account Executive - BSA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - BSA", title_clean   = " - BSA", title_id  = "22"  where id = '4389'
=>>>>>>>>>>>>>>>>>>>>>> 4432 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '4432'
=>>>>>>>>>>>>>>>>>>>>>> 4545 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '4545'
=>>>>>>>>>>>>>>>>>>>>>> 4594 /lvl2/ Account Executive (AE-AES)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AE-AES)", title_clean   = " (AE-AES)", title_id  = "22"  where id = '4594'
=>>>>>>>>>>>>>>>>>>>>>> 4854 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '4854'
=>>>>>>>>>>>>>>>>>>>>>> 5061 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '5061'
=>>>>>>>>>>>>>>>>>>>>>> 5441 /lvl2/ ACCOUNT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT EXECUTIVE", title_clean   = "ACCOUNT EXECUTIVE", title_id  = "22"  where id = '5441'
=>>>>>>>>>>>>>>>>>>>>>> 5476 /lvl2/ Account Executive (Sales B2B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales B2B)", title_clean   = " (Sales B2B)", title_id  = "22"  where id = '5476'
=>>>>>>>>>>>>>>>>>>>>>> 5482 /lvl2/ ACCOUNT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT EXECUTIVE", title_clean   = "ACCOUNT EXECUTIVE", title_id  = "22"  where id = '5482'
=>>>>>>>>>>>>>>>>>>>>>> 5490 /lvl2/ Sales Acquisition  /  Account Executive Payment Gateway
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Acquisition  /  -idex- Payment Gateway", title_clean   = "Sales Acquisition  /   Payment Gateway", title_id  = "22"  where id = '5490'
=>>>>>>>>>>>>>>>>>>>>>> 5512 /lvl2/ Account Executive - Shopee Express (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Shopee Express (Jakarta)", title_clean   = " - Shopee Express (Jakarta)", title_id  = "22"  where id = '5512'
=>>>>>>>>>>>>>>>>>>>>>> 5653 /lvl2/ SR. ACCOUNT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SR. ACCOUNT EXECUTIVE", title_clean   = "SR. ACCOUNT EXECUTIVE", title_id  = "22"  where id = '5653'
=>>>>>>>>>>>>>>>>>>>>>> 6007 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '6007'
=>>>>>>>>>>>>>>>>>>>>>> 7017 /lvl2/ Technical Sales - Account Executive - Veterinary Representative
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical Sales - -idex- - Veterinary Representative", title_clean   = "Technical Sales -  - Veterinary Representative", title_id  = "22"  where id = '7017'
=>>>>>>>>>>>>>>>>>>>>>> 7266 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '7266'
=>>>>>>>>>>>>>>>>>>>>>> 7535 /lvl2/ ACCOUNT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT EXECUTIVE", title_clean   = "ACCOUNT EXECUTIVE", title_id  = "22"  where id = '7535'
=>>>>>>>>>>>>>>>>>>>>>> 8408 /lvl2/ Account Executive-Hybrid Working
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Hybrid Working", title_clean   = "-Hybrid Working", title_id  = "22"  where id = '8408'
=>>>>>>>>>>>>>>>>>>>>>> 8913 /lvl2/ Sales Executive  /  Account Executive Freight Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales Executive  /  -idex- Freight Forwarding", title_clean   = "Sales Executive  /   Freight Forwarding", title_id  = "22"  where id = '8913'
=>>>>>>>>>>>>>>>>>>>>>> 9703 /lvl2/ HORECA Account Executive (Jabodetabek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HORECA -idex- (Jabodetabek)", title_clean   = "HORECA  (Jabodetabek)", title_id  = "22"  where id = '9703'
=>>>>>>>>>>>>>>>>>>>>>> 10059 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '10059'
=>>>>>>>>>>>>>>>>>>>>>> 10107 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '10107'
=>>>>>>>>>>>>>>>>>>>>>> 10162 /lvl2/ Account Executive (Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sales)", title_clean   = " (Sales)", title_id  = "22"  where id = '10162'
=>>>>>>>>>>>>>>>>>>>>>> 10196 /lvl2/ ACCOUNT EXECUTIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNT EXECUTIVE", title_clean   = "ACCOUNT EXECUTIVE", title_id  = "22"  where id = '10196'
=>>>>>>>>>>>>>>>>>>>>>> 10371 /lvl2/ Hygiene Account Executive (HAE) Yogyakarta dan Pasuruan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Hygiene -idex- (HAE) Yogyakarta dan Pasuruan", title_clean   = "Hygiene  (HAE) Yogyakarta dan Pasuruan", title_id  = "22"  where id = '10371'
=>>>>>>>>>>>>>>>>>>>>>> 10616 /lvl2/ Sales (Account Executive) Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales (-idex-) Jakarta", title_clean   = "Sales () Jakarta", title_id  = "22"  where id = '10616'
=>>>>>>>>>>>>>>>>>>>>>> 11844 /lvl2/ Accountant \u002F Account Executive (Client Facing Outsourcing) - Work in Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accountant \u002F -idex- (Client Facing Outsourcing) - Work in Jakarta", title_clean   = "Accountant \u002F  (Client Facing Outsourcing) - Work in Jakarta", title_id  = "22"  where id = '11844'
=>>>>>>>>>>>>>>>>>>>>>> 11861 /lvl2/ Accountant \u002F Account Executive (Client Facing Outsourcing) - Work in Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accountant \u002F -idex- (Client Facing Outsourcing) - Work in Jakarta", title_clean   = "Accountant \u002F  (Client Facing Outsourcing) - Work in Jakarta", title_id  = "22"  where id = '11861'
=>>>>>>>>>>>>>>>>>>>>>> 11980 /lvl2/ Account Executive (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "22"  where id = '11980'
=>>>>>>>>>>>>>>>>>>>>>> 12000 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '12000'
=>>>>>>>>>>>>>>>>>>>>>> 13067 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '13067'
=>>>>>>>>>>>>>>>>>>>>>> 13288 /lvl2/ Sales (Account Executive) Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales (-idex-) Palembang", title_clean   = "Sales () Palembang", title_id  = "22"  where id = '13288'
=>>>>>>>>>>>>>>>>>>>>>> 13390 /lvl2/ Account Executive ( Fresh Graduate )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Fresh Graduate )", title_clean   = " ( Fresh Graduate )", title_id  = "22"  where id = '13390'
=>>>>>>>>>>>>>>>>>>>>>> 13589 /lvl2/ Account Executive ( Fresh Graduate )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Fresh Graduate )", title_clean   = " ( Fresh Graduate )", title_id  = "22"  where id = '13589'
=>>>>>>>>>>>>>>>>>>>>>> 13842 /lvl2/ Dealer Account Executive (DAX) Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Dealer -idex- (DAX) Banjarmasin", title_clean   = "Dealer  (DAX) Banjarmasin", title_id  = "22"  where id = '13842'
=>>>>>>>>>>>>>>>>>>>>>> 13901 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '13901'
=>>>>>>>>>>>>>>>>>>>>>> 13935 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '13935'
=>>>>>>>>>>>>>>>>>>>>>> 14464 /lvl2/ Account Executive ( Sales )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Sales )", title_clean   = " ( Sales )", title_id  = "22"  where id = '14464'
=>>>>>>>>>>>>>>>>>>>>>> 14818 /lvl2/ Account Executive ( Sales )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Sales )", title_clean   = " ( Sales )", title_id  = "22"  where id = '14818'
=>>>>>>>>>>>>>>>>>>>>>> 14838 /lvl2/ Account Executive ( Sales )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Sales )", title_clean   = " ( Sales )", title_id  = "22"  where id = '14838'
=>>>>>>>>>>>>>>>>>>>>>> 14894 /lvl2/ Account Executive - Telesales - Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Telesales - Sales", title_clean   = " - Telesales - Sales", title_id  = "22"  where id = '14894'
=>>>>>>>>>>>>>>>>>>>>>> 15457 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '15457'
=>>>>>>>>>>>>>>>>>>>>>> 15677 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '15677'
=>>>>>>>>>>>>>>>>>>>>>> 15695 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '15695'
=>>>>>>>>>>>>>>>>>>>>>> 15952 /lvl2/ Account Executive (ID: 522133)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (ID: 522133)", title_clean   = " (ID: 522133)", title_id  = "22"  where id = '15952'
=>>>>>>>>>>>>>>>>>>>>>> 16056 /lvl2/ Account Executive (Palembang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang)", title_clean   = " (Palembang)", title_id  = "22"  where id = '16056'
=>>>>>>>>>>>>>>>>>>>>>> 16804 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '16804'
=>>>>>>>>>>>>>>>>>>>>>> 16820 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '16820'
=>>>>>>>>>>>>>>>>>>>>>> 17127 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '17127'
=>>>>>>>>>>>>>>>>>>>>>> 17145 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '17145'
=>>>>>>>>>>>>>>>>>>>>>> 17175 /lvl2/ Account Executive (IT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT)", title_clean   = " (IT)", title_id  = "22"  where id = '17175'
=>>>>>>>>>>>>>>>>>>>>>> 17283 /lvl2/ Account Executive - Marketspace Kompas Digital Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Marketspace Kompas Digital Media", title_clean   = " - Marketspace Kompas Digital Media", title_id  = "22"  where id = '17283'
=>>>>>>>>>>>>>>>>>>>>>> 17472 /lvl2/ Account Executive (Staff Penjualan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Staff Penjualan)", title_clean   = " (Staff Penjualan)", title_id  = "22"  where id = '17472'
=>>>>>>>>>>>>>>>>>>>>>> 17778 /lvl2/ Account Executive (Jakarta,Surabaya,Bandung,Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta,Surabaya,Bandung,Semarang)", title_clean   = " (Jakarta,Surabaya,Bandung,Semarang)", title_id  = "22"  where id = '17778'
=>>>>>>>>>>>>>>>>>>>>>> 17797 /lvl2/ Account Executive (Marketing Bidang Outsourcing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marketing Bidang Outsourcing)", title_clean   = " (Marketing Bidang Outsourcing)", title_id  = "22"  where id = '17797'
=>>>>>>>>>>>>>>>>>>>>>> 17909 /lvl2/ Account Executive-Bulk
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Bulk", title_clean   = "-Bulk", title_id  = "22"  where id = '17909'
=>>>>>>>>>>>>>>>>>>>>>> 19152 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '19152'
=>>>>>>>>>>>>>>>>>>>>>> 19259 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '19259'
=>>>>>>>>>>>>>>>>>>>>>> 20107 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '20107'
=>>>>>>>>>>>>>>>>>>>>>> 20453 /lvl2/ Account Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "22"  where id = '20453'
1558 /lvl1/ Dosen Keperawatan

=>>>>>>>>>>>>>>>>>>>>>> 4932 /lvl2/ DOSEN KEPERAWATAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOSEN KEPERAWATAN", title_clean   = "DOSEN KEPERAWATAN", title_id  = "1558"  where id = '4932'
3095 /lvl1/ Junior Consultant
=>>>>>>>>>>>>>>>>>>>>>> 1567 /lvl2/ Junior Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3095"  where id = '1567'
=>>>>>>>>>>>>>>>>>>>>>> 2864 /lvl2/ Junior Consultant for ACT Consulting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for ACT Consulting", title_clean   = " for ACT Consulting", title_id  = "3095"  where id = '2864'
=>>>>>>>>>>>>>>>>>>>>>> 3071 /lvl2/ Junior Consultant Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Surabaya", title_clean   = " Surabaya", title_id  = "3095"  where id = '3071'
=>>>>>>>>>>>>>>>>>>>>>> 7004 /lvl2/ Junior Consultant - Transfer Pricing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Transfer Pricing", title_clean   = " - Transfer Pricing", title_id  = "3095"  where id = '7004'
=>>>>>>>>>>>>>>>>>>>>>> 7012 /lvl2/ Junior Consultant - Corporate Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Corporate Tax", title_clean   = " - Corporate Tax", title_id  = "3095"  where id = '7012'
=>>>>>>>>>>>>>>>>>>>>>> 8456 /lvl2/ Junior Consultant - Transfer Pricing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Transfer Pricing", title_clean   = " - Transfer Pricing", title_id  = "3095"  where id = '8456'
=>>>>>>>>>>>>>>>>>>>>>> 8479 /lvl2/ Junior Consultant - Corporate Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Corporate Tax", title_clean   = " - Corporate Tax", title_id  = "3095"  where id = '8479'
=>>>>>>>>>>>>>>>>>>>>>> 15492 /lvl2/ JUNIOR CONSULTANT ACCOUNTING AND TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR CONSULTANT ACCOUNTING AND TAX", title_clean   = "JUNIOR CONSULTANT ACCOUNTING AND TAX", title_id  = "3095"  where id = '15492'
=>>>>>>>>>>>>>>>>>>>>>> 20314 /lvl2/ Junior Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3095"  where id = '20314'
1048 /lvl1/ Consumer Research
=>>>>>>>>>>>>>>>>>>>>>> 14492 /lvl2/ Consumer Research
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1048"  where id = '14492'
=>>>>>>>>>>>>>>>>>>>>>> 14845 /lvl2/ Consumer Research
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1048"  where id = '14845'
4120 /lvl1/ Osp Site Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19880 /lvl2/ OSP Site Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OSP Site Engineer", title_clean   = "OSP Site Engineer", title_id  = "4120"  where id = '19880'
3097 /lvl1/ Junior Controller
=>>>>>>>>>>>>>>>>>>>>>> 5091 /lvl2/ Junior Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3097"  where id = '5091'
=>>>>>>>>>>>>>>>>>>>>>> 6179 /lvl2/ Junior Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3097"  where id = '6179'
4378 /lvl1/ Preschool Teacher
=>>>>>>>>>>>>>>>>>>>>>> 1337 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '1337'
=>>>>>>>>>>>>>>>>>>>>>> 1791 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '1791'
=>>>>>>>>>>>>>>>>>>>>>> 2056 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '2056'
=>>>>>>>>>>>>>>>>>>>>>> 3452 /lvl2/ PRESCHOOL TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL TEACHER", title_clean   = "PRESCHOOL TEACHER", title_id  = "4378"  where id = '3452'
=>>>>>>>>>>>>>>>>>>>>>> 4434 /lvl2/ PRESCHOOL TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL TEACHER", title_clean   = "PRESCHOOL TEACHER", title_id  = "4378"  where id = '4434'
=>>>>>>>>>>>>>>>>>>>>>> 5778 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '5778'
=>>>>>>>>>>>>>>>>>>>>>> 7912 /lvl2/ PRESCHOOL TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL TEACHER", title_clean   = "PRESCHOOL TEACHER", title_id  = "4378"  where id = '7912'
=>>>>>>>>>>>>>>>>>>>>>> 8236 /lvl2/ PRESCHOOL TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL TEACHER", title_clean   = "PRESCHOOL TEACHER", title_id  = "4378"  where id = '8236'
=>>>>>>>>>>>>>>>>>>>>>> 9501 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '9501'
=>>>>>>>>>>>>>>>>>>>>>> 18023 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '18023'
=>>>>>>>>>>>>>>>>>>>>>> 19014 /lvl2/ Preschool Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4378"  where id = '19014'
=>>>>>>>>>>>>>>>>>>>>>> 20009 /lvl2/ PRESCHOOL TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRESCHOOL TEACHER", title_clean   = "PRESCHOOL TEACHER", title_id  = "4378"  where id = '20009'
6940 /lvl1/ Warehouse Analyst
=>>>>>>>>>>>>>>>>>>>>>> 221 /lvl2/ Warehouse Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6940"  where id = '221'
5405 /lvl1/ Secretary Project
=>>>>>>>>>>>>>>>>>>>>>> 11687 /lvl2/ SECRETARY PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECRETARY PROJECT", title_clean   = "SECRETARY PROJECT", title_id  = "5405"  where id = '11687'
3615 /lvl1/ Marketing / Sales
=>>>>>>>>>>>>>>>>>>>>>> 5744 /lvl2/ Marketing / Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3615"  where id = '5744'
6943 /lvl1/ Warehouse Checker
=>>>>>>>>>>>>>>>>>>>>>> 17279 /lvl2/ Warehouse Checker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6943"  where id = '17279'
4640 /lvl1/ Psikolog Industri
=>>>>>>>>>>>>>>>>>>>>>> 1297 /lvl2/ Psikolog Industri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4640"  where id = '1297'
=>>>>>>>>>>>>>>>>>>>>>> 1333 /lvl2/ Psikolog Industri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4640"  where id = '1333'
5152 /lvl1/ Sales Engineering
=>>>>>>>>>>>>>>>>>>>>>> 3467 /lvl2/ Sales (Sales Engineering)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales (-idex-)", title_clean   = "Sales ()", title_id  = "5152"  where id = '3467'
=>>>>>>>>>>>>>>>>>>>>>> 5025 /lvl2/ SALES ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ENGINEERING", title_clean   = "SALES ENGINEERING", title_id  = "5152"  where id = '5025'
=>>>>>>>>>>>>>>>>>>>>>> 6402 /lvl2/ Sales Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5152"  where id = '6402'
=>>>>>>>>>>>>>>>>>>>>>> 8827 /lvl2/ SALES ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ENGINEERING", title_clean   = "SALES ENGINEERING", title_id  = "5152"  where id = '8827'
=>>>>>>>>>>>>>>>>>>>>>> 8987 /lvl2/ SALES ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ENGINEERING", title_clean   = "SALES ENGINEERING", title_id  = "5152"  where id = '8987'
=>>>>>>>>>>>>>>>>>>>>>> 9006 /lvl2/ SALES ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ENGINEERING", title_clean   = "SALES ENGINEERING", title_id  = "5152"  where id = '9006'
=>>>>>>>>>>>>>>>>>>>>>> 13193 /lvl2/ Sales Engineering (Multiple Location)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Multiple Location)", title_clean   = " (Multiple Location)", title_id  = "5152"  where id = '13193'
=>>>>>>>>>>>>>>>>>>>>>> 13216 /lvl2/ Sales Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5152"  where id = '13216'
1570 /lvl1/ Drafter Estimator
=>>>>>>>>>>>>>>>>>>>>>> 17644 /lvl2/ Drafter Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1570"  where id = '17644'
6946 /lvl1/ Warehouse Foreman
=>>>>>>>>>>>>>>>>>>>>>> 224 /lvl2/ Warehouse Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6946"  where id = '224'
=>>>>>>>>>>>>>>>>>>>>>> 16497 /lvl2/ Warehouse Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6946"  where id = '16497'
=>>>>>>>>>>>>>>>>>>>>>> 18195 /lvl2/ Warehouse Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6946"  where id = '18195'
=>>>>>>>>>>>>>>>>>>>>>> 18219 /lvl2/ Warehouse Foreman
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6946"  where id = '18219'
1572 /lvl1/ Drafter Furniture

=>>>>>>>>>>>>>>>>>>>>>> 15284 /lvl2/ DRAFTER FURNITURE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER FURNITURE", title_clean   = "DRAFTER FURNITURE", title_id  = "1572"  where id = '15284'
=>>>>>>>>>>>>>>>>>>>>>> 18503 /lvl2/ Drafter Furniture (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Semarang)", title_clean   = " (Semarang)", title_id  = "1572"  where id = '18503'
5924 /lvl1/ Staff Procurement
=>>>>>>>>>>>>>>>>>>>>>> 12735 /lvl2/ Staff Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5924"  where id = '12735'
=>>>>>>>>>>>>>>>>>>>>>> 12826 /lvl2/ Staff Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5924"  where id = '12826'
=>>>>>>>>>>>>>>>>>>>>>> 14112 /lvl2/ STAFF PROCUREMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PROCUREMENT", title_clean   = "STAFF PROCUREMENT", title_id  = "5924"  where id = '14112'
=>>>>>>>>>>>>>>>>>>>>>> 16602 /lvl2/ Staff Procurement ALKES (Alat Kesehatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ALKES (Alat Kesehatan)", title_clean   = " ALKES (Alat Kesehatan)", title_id  = "5924"  where id = '16602'
4390 /lvl1/ Principal Manager
=>>>>>>>>>>>>>>>>>>>>>> 15209 /lvl2/ Principal Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4390"  where id = '15209'
4136 /lvl1/ Part Time Teacher
=>>>>>>>>>>>>>>>>>>>>>> 13914 /lvl2/ Part Time Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4136"  where id = '13914'
5416 /lvl1/ Security Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1050 /lvl2/ Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5416"  where id = '1050'
=>>>>>>>>>>>>>>>>>>>>>> 6345 /lvl2/ Security Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5416"  where id = '6345'
=>>>>>>>>>>>>>>>>>>>>>> 6799 /lvl2/ Security Engineer - Red Team
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Red Team", title_clean   = " - Red Team", title_id  = "5416"  where id = '6799'
=>>>>>>>>>>>>>>>>>>>>>> 9397 /lvl2/ ICT Security Engineer (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ICT -idex- (Jakarta)", title_clean   = "ICT  (Jakarta)", title_id  = "5416"  where id = '9397'
6952 /lvl1/ Warehouse Manager
=>>>>>>>>>>>>>>>>>>>>>> 1412 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '1412'
=>>>>>>>>>>>>>>>>>>>>>> 5904 /lvl2/ Warehouse Manager - Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Lampung", title_clean   = " - Lampung", title_id  = "6952"  where id = '5904'
=>>>>>>>>>>>>>>>>>>>>>> 6117 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '6117'
=>>>>>>>>>>>>>>>>>>>>>> 7277 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '7277'
=>>>>>>>>>>>>>>>>>>>>>> 7658 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '7658'
=>>>>>>>>>>>>>>>>>>>>>> 8680 /lvl2/ WAREHOUSE MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WAREHOUSE MANAGER", title_clean   = "WAREHOUSE MANAGER", title_id  = "6952"  where id = '8680'
=>>>>>>>>>>>>>>>>>>>>>> 9108 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '9108'
=>>>>>>>>>>>>>>>>>>>>>> 16625 /lvl2/ Warehouse Manager (Fluent in Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Fluent in Mandarin)", title_clean   = " (Fluent in Mandarin)", title_id  = "6952"  where id = '16625'
=>>>>>>>>>>>>>>>>>>>>>> 18538 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '18538'
=>>>>>>>>>>>>>>>>>>>>>> 19468 /lvl2/ Warehouse Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6952"  where id = '19468'
1577 /lvl1/ Drafter Kontruksi
=>>>>>>>>>>>>>>>>>>>>>> 2502 /lvl2/ Drafter Kontruksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1577"  where id = '2502'
6698 /lvl1/ Teknisi Pendingin
=>>>>>>>>>>>>>>>>>>>>>> 6463 /lvl2/ Teknisi pendingin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi pendingin", title_clean   = "Teknisi pendingin", title_id  = "6698"  where id = '6463'
=>>>>>>>>>>>>>>>>>>>>>> 19848 /lvl2/ Teknisi Pendingin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6698"  where id = '19848'
6954 /lvl1/ Warehouse Officer
=>>>>>>>>>>>>>>>>>>>>>> 12642 /lvl2/ Warehouse Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6954"  where id = '12642'
=>>>>>>>>>>>>>>>>>>>>>> 16207 /lvl2/ Warehouse Officer \u002F Petugas Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Petugas Gudang", title_clean   = " \u002F Petugas Gudang", title_id  = "6954"  where id = '16207'
3630 /lvl1/ Marketing & Sales
=>>>>>>>>>>>>>>>>>>>>>> 5966 /lvl2/ MARKETING & SALES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING & SALES", title_clean   = "MARKETING & SALES", title_id  = "3630"  where id = '5966'
=>>>>>>>>>>>>>>>>>>>>>> 6176 /lvl2/ BUY & SELLING STAFF  (Marketing & Sales)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "BUY & SELLING STAFF  (-idex-)", title_clean   = "BUY & SELLING STAFF  ()", title_id  = "3630"  where id = '6176'
=>>>>>>>>>>>>>>>>>>>>>> 10263 /lvl2/ MARKETING & SALES SUPPORT MANAGER (E-COMMERCE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING & SALES SUPPORT MANAGER (E-COMMERCE)", title_clean   = "MARKETING & SALES SUPPORT MANAGER (E-COMMERCE)", title_id  = "3630"  where id = '10263'
=>>>>>>>>>>>>>>>>>>>>>> 11588 /lvl2/ General Manager Marketing & Sales (Industrial Estate)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "General Manager -idex- (Industrial Estate)", title_clean   = "General Manager  (Industrial Estate)", title_id  = "3630"  where id = '11588'
=>>>>>>>>>>>>>>>>>>>>>> 11902 /lvl2/ Staff Marketing & Sales_Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff -idex-_Jakarta", title_clean   = "Staff _Jakarta", title_id  = "3630"  where id = '11902'
1583 /lvl1/ Drafter Pib / Peb
2351 /lvl1/ Head of Ecommerce
=>>>>>>>>>>>>>>>>>>>>>> 18384 /lvl2/ Head of Ecommerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2351"  where id = '18384'
5935 /lvl1/ Staff Sales Admin
6193 /lvl1/ Store Crew Bekasi
=>>>>>>>>>>>>>>>>>>>>>> 11996 /lvl2/ Store Crew Bekasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6193"  where id = '11996'
306 /lvl1/ Administrasi Umum
=>>>>>>>>>>>>>>>>>>>>>> 7532 /lvl2/ ADMINISTRASI UMUM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI UMUM", title_clean   = "ADMINISTRASI UMUM", title_id  = "306"  where id = '7532'
=>>>>>>>>>>>>>>>>>>>>>> 9009 /lvl2/ ADMINISTRASI UMUM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMINISTRASI UMUM", title_clean   = "ADMINISTRASI UMUM", title_id  = "306"  where id = '9009'
822 /lvl1/ Call Center Agent
=>>>>>>>>>>>>>>>>>>>>>> 9141 /lvl2/ Call Center Agent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "822"  where id = '9141'
=>>>>>>>>>>>>>>>>>>>>>> 9831 /lvl2/ Call Center Agent Outbound (Collection) - Semarang Placement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Outbound (Collection) - Semarang Placement", title_clean   = " Outbound (Collection) - Semarang Placement", title_id  = "822"  where id = '9831'
=>>>>>>>>>>>>>>>>>>>>>> 18239 /lvl2/ Call Center Agent - Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Semarang", title_clean   = " - Semarang", title_id  = "822"  where id = '18239'
=>>>>>>>>>>>>>>>>>>>>>> 18263 /lvl2/ Call Center Agent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "822"  where id = '18263'
=>>>>>>>>>>>>>>>>>>>>>> 19209 /lvl2/ TECHNICAL SUPPORT \u002F HELPDESK AGENT \u002F CALL CENTER AGENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPPORT \u002F HELPDESK AGENT \u002F CALL CENTER AGENT", title_clean   = "TECHNICAL SUPPORT \u002F HELPDESK AGENT \u002F CALL CENTER AGENT", title_id  = "822"  where id = '19209'
1846 /lvl1/ Export Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 12957 /lvl2/ Export Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1846"  where id = '12957'
5431 /lvl1/ Sekretaris Pabrik
=>>>>>>>>>>>>>>>>>>>>>> 17560 /lvl2/ Sekretaris Pabrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5431"  where id = '17560'
=>>>>>>>>>>>>>>>>>>>>>> 18459 /lvl2/ Sekretaris Pabrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5431"  where id = '18459'
=>>>>>>>>>>>>>>>>>>>>>> 18480 /lvl2/ Sekretaris Pabrik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5431"  where id = '18480'
4408 /lvl1/ Procurement Admin
=>>>>>>>>>>>>>>>>>>>>>> 16909 /lvl2/ Procurement Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4408"  where id = '16909'
=>>>>>>>>>>>>>>>>>>>>>> 16929 /lvl2/ Procurement Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4408"  where id = '16929'
4410 /lvl1/ Procurement Buyer
=>>>>>>>>>>>>>>>>>>>>>> 302 /lvl2/ Procurement Buyer Sr. Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sr. Staff", title_clean   = " Sr. Staff", title_id  = "4410"  where id = '302'
=>>>>>>>>>>>>>>>>>>>>>> 835 /lvl2/ Procurement Buyer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4410"  where id = '835'
=>>>>>>>>>>>>>>>>>>>>>> 6928 /lvl2/ Procurement Buyer (spare parts)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (spare parts)", title_clean   = " (spare parts)", title_id  = "4410"  where id = '6928'
1339 /lvl1/ Data Admin Intern
=>>>>>>>>>>>>>>>>>>>>>> 2841 /lvl2/ Data Admin Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1339"  where id = '2841'
3131 /lvl1/ Junior Programmer
=>>>>>>>>>>>>>>>>>>>>>> 4251 /lvl2/ Junior Programmer (Java)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Java)", title_clean   = " (Java)", title_id  = "3131"  where id = '4251'
=>>>>>>>>>>>>>>>>>>>>>> 4782 /lvl2/ IT Junior Programmer and Business Process
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT -idex- and Business Process", title_clean   = "IT  and Business Process", title_id  = "3131"  where id = '4782'
=>>>>>>>>>>>>>>>>>>>>>> 5440 /lvl2/ Junior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3131"  where id = '5440'
=>>>>>>>>>>>>>>>>>>>>>> 9456 /lvl2/ WFH - Junior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WFH - -idex-", title_clean   = "WFH - ", title_id  = "3131"  where id = '9456'
=>>>>>>>>>>>>>>>>>>>>>> 15292 /lvl2/ JUNIOR PROGRAMMER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR PROGRAMMER", title_clean   = "JUNIOR PROGRAMMER", title_id  = "3131"  where id = '15292'
=>>>>>>>>>>>>>>>>>>>>>> 18854 /lvl2/ Junior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3131"  where id = '18854'
3643 /lvl1/ Marketing Analyst
=>>>>>>>>>>>>>>>>>>>>>> 13251 /lvl2/ E-Commerce Marketing Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "E-Commerce -idex-", title_clean   = "E-Commerce ", title_id  = "3643"  where id = '13251'
=>>>>>>>>>>>>>>>>>>>>>> 15309 /lvl2/ Marketing Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3643"  where id = '15309'
4156 /lvl1/ Pastry Instructor
=>>>>>>>>>>>>>>>>>>>>>> 14251 /lvl2/ PASTRY INSTRUCTOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PASTRY INSTRUCTOR", title_clean   = "PASTRY INSTRUCTOR", title_id  = "4156"  where id = '14251'
4925 /lvl1/ Regulatory Affair
=>>>>>>>>>>>>>>>>>>>>>> 1155 /lvl2/ Regulatory Affair
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4925"  where id = '1155'
4670 /lvl1/ Purchasing Import
=>>>>>>>>>>>>>>>>>>>>>> 12104 /lvl2/ PURCHASING IMPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING IMPORT", title_clean   = "PURCHASING IMPORT", title_id  = "4670"  where id = '12104'
=>>>>>>>>>>>>>>>>>>>>>> 15440 /lvl2/ PURCHASING IMPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING IMPORT", title_clean   = "PURCHASING IMPORT", title_id  = "4670"  where id = '15440'
6974 /lvl1/ Web Administrator
=>>>>>>>>>>>>>>>>>>>>>> 1008 /lvl2/ WEB Administrator / ADMIN ONLINE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WEB Administrator / ADMIN ONLINE", title_clean   = "WEB Administrator / ADMIN ONLINE", title_id  = "6974"  where id = '1008'
=>>>>>>>>>>>>>>>>>>>>>> 1020 /lvl2/ WEB Administrator / ADMIN ONLINE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WEB Administrator / ADMIN ONLINE", title_clean   = "WEB Administrator / ADMIN ONLINE", title_id  = "6974"  where id = '1020'
=>>>>>>>>>>>>>>>>>>>>>> 17930 /lvl2/ Web Administrator \u002F Admin Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Admin Online", title_clean   = " \u002F Admin Online", title_id  = "6974"  where id = '17930'
3135 /lvl1/ Junior Researcher
=>>>>>>>>>>>>>>>>>>>>>> 16766 /lvl2/ JUNIOR RESEARCHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR RESEARCHER", title_clean   = "JUNIOR RESEARCHER", title_id  = "3135"  where id = '16766'
1856 /lvl1/ F&A Division Head
=>>>>>>>>>>>>>>>>>>>>>> 1092 /lvl2/ F&A Division Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1856"  where id = '1092'
6722 /lvl1/ Telesales Manager
=>>>>>>>>>>>>>>>>>>>>>> 1903 /lvl2/ Telesales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6722"  where id = '1903'
=>>>>>>>>>>>>>>>>>>>>>> 14868 /lvl2/ Telesales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6722"  where id = '14868'
=>>>>>>>>>>>>>>>>>>>>>> 18303 /lvl2/ Telesales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6722"  where id = '18303'
6723 /lvl1/ Telesales Officer
=>>>>>>>>>>>>>>>>>>>>>> 4882 /lvl2/ Telesales Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6723"  where id = '4882'
=>>>>>>>>>>>>>>>>>>>>>> 7018 /lvl2/ TELESALES OFFICER ( JAKARTA PUSAT - JAKARTA SELATAN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TELESALES OFFICER ( JAKARTA PUSAT - JAKARTA SELATAN)", title_clean   = "TELESALES OFFICER ( JAKARTA PUSAT - JAKARTA SELATAN)", title_id  = "6723"  where id = '7018'
4166 /lvl1/ Payroll Executive
=>>>>>>>>>>>>>>>>>>>>>> 19410 /lvl2/ Payroll Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4166"  where id = '19410'
=>>>>>>>>>>>>>>>>>>>>>> 20313 /lvl2/ Payroll Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4166"  where id = '20313'
5446 /lvl1/ Senior Accountant
=>>>>>>>>>>>>>>>>>>>>>> 1336 /lvl2/ SENIOR ACCOUNTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR ACCOUNTANT", title_clean   = "SENIOR ACCOUNTANT", title_id  = "5446"  where id = '1336'
=>>>>>>>>>>>>>>>>>>>>>> 1824 /lvl2/ Senior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5446"  where id = '1824'
=>>>>>>>>>>>>>>>>>>>>>> 13980 /lvl2/ Senior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5446"  where id = '13980'
=>>>>>>>>>>>>>>>>>>>>>> 13984 /lvl2/ Senior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5446"  where id = '13984'
=>>>>>>>>>>>>>>>>>>>>>> 14315 /lvl2/ Senior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5446"  where id = '14315'
=>>>>>>>>>>>>>>>>>>>>>> 15189 /lvl2/ Senior Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5446"  where id = '15189'
1607 /lvl1/ Driver Perusahaan
=>>>>>>>>>>>>>>>>>>>>>> 17424 /lvl2/ Driver Perusahaan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1607"  where id = '17424'
=>>>>>>>>>>>>>>>>>>>>>> 17437 /lvl2/ Driver Perusahaan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1607"  where id = '17437'
2375 /lvl1/ Head of Marketing
=>>>>>>>>>>>>>>>>>>>>>> 9369 /lvl2/ HEAD of MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HEAD of MARKETING", title_clean   = "HEAD of MARKETING", title_id  = "2375"  where id = '9369'
=>>>>>>>>>>>>>>>>>>>>>> 18786 /lvl2/ Head of Marketing Marine and Cargo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Marine and Cargo", title_clean   = " Marine and Cargo", title_id  = "2375"  where id = '18786'
4424 /lvl1/ Procurement Staff

=>>>>>>>>>>>>>>>>>>>>>> 750 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '750'
=>>>>>>>>>>>>>>>>>>>>>> 814 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '814'
=>>>>>>>>>>>>>>>>>>>>>> 4966 /lvl2/ Procurement Staff (Raw Material)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Raw Material)", title_clean   = " (Raw Material)", title_id  = "4424"  where id = '4966'
=>>>>>>>>>>>>>>>>>>>>>> 5179 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '5179'
=>>>>>>>>>>>>>>>>>>>>>> 6965 /lvl2/ PURCHASING  /  PROCUREMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING  /  PROCUREMENT STAFF", title_clean   = "PURCHASING  /  PROCUREMENT STAFF", title_id  = "4424"  where id = '6965'
=>>>>>>>>>>>>>>>>>>>>>> 7054 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '7054'
=>>>>>>>>>>>>>>>>>>>>>> 7512 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '7512'
=>>>>>>>>>>>>>>>>>>>>>> 7746 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '7746'
=>>>>>>>>>>>>>>>>>>>>>> 8064 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '8064'
=>>>>>>>>>>>>>>>>>>>>>> 9705 /lvl2/ Procurement Staff (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "4424"  where id = '9705'
=>>>>>>>>>>>>>>>>>>>>>> 9785 /lvl2/ Purchasing  /  Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Purchasing  /  -idex-", title_clean   = "Purchasing  /  ", title_id  = "4424"  where id = '9785'
=>>>>>>>>>>>>>>>>>>>>>> 10283 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '10283'
=>>>>>>>>>>>>>>>>>>>>>> 11653 /lvl2/ Procurement Staff (Purchasing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Purchasing)", title_clean   = " (Purchasing)", title_id  = "4424"  where id = '11653'
=>>>>>>>>>>>>>>>>>>>>>> 12327 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '12327'
=>>>>>>>>>>>>>>>>>>>>>> 12346 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '12346'
=>>>>>>>>>>>>>>>>>>>>>> 16464 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '16464'
=>>>>>>>>>>>>>>>>>>>>>> 16760 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '16760'
=>>>>>>>>>>>>>>>>>>>>>> 17010 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '17010'
=>>>>>>>>>>>>>>>>>>>>>> 17426 /lvl2/ Procurement Staff (Parts Supply)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Parts Supply)", title_clean   = " (Parts Supply)", title_id  = "4424"  where id = '17426'
=>>>>>>>>>>>>>>>>>>>>>> 18068 /lvl2/ PROCUREMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCUREMENT STAFF", title_clean   = "PROCUREMENT STAFF", title_id  = "4424"  where id = '18068'
=>>>>>>>>>>>>>>>>>>>>>> 18819 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '18819'
=>>>>>>>>>>>>>>>>>>>>>> 19188 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '19188'
=>>>>>>>>>>>>>>>>>>>>>> 19884 /lvl2/ Procurement Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4424"  where id = '19884'
5448 /lvl1/ Senior Accounting
=>>>>>>>>>>>>>>>>>>>>>> 4686 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '4686'
=>>>>>>>>>>>>>>>>>>>>>> 8566 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '8566'
=>>>>>>>>>>>>>>>>>>>>>> 9503 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '9503'
=>>>>>>>>>>>>>>>>>>>>>> 9930 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '9930'
=>>>>>>>>>>>>>>>>>>>>>> 10116 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '10116'
=>>>>>>>>>>>>>>>>>>>>>> 17715 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '17715'
=>>>>>>>>>>>>>>>>>>>>>> 17733 /lvl2/ Senior Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5448"  where id = '17733'
329 /lvl1/ Aesthetics Dokter
4938 /lvl1/ Relationship Head
=>>>>>>>>>>>>>>>>>>>>>> 12799 /lvl2/ Relationship Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4938"  where id = '12799'
=>>>>>>>>>>>>>>>>>>>>>> 12817 /lvl2/ Relationship Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4938"  where id = '12817'
6220 /lvl1/ Strategic Planner
=>>>>>>>>>>>>>>>>>>>>>> 4413 /lvl2/ Senior Strategic Planner ( Research )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- ( Research )", title_clean   = "Senior  ( Research )", title_id  = "6220"  where id = '4413'
=>>>>>>>>>>>>>>>>>>>>>> 5553 /lvl2/ Senior Strategic Planner ( Research )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- ( Research )", title_clean   = "Senior  ( Research )", title_id  = "6220"  where id = '5553'
=>>>>>>>>>>>>>>>>>>>>>> 8334 /lvl2/ Strategic Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6220"  where id = '8334'
=>>>>>>>>>>>>>>>>>>>>>> 13121 /lvl2/ Strategic Planner
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6220"  where id = '13121'
=>>>>>>>>>>>>>>>>>>>>>> 14437 /lvl2/ Strategic Planner Manager\u002FGrowth Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Manager\u002FGrowth Manager", title_clean   = " Manager\u002FGrowth Manager", title_id  = "6220"  where id = '14437'
1358 /lvl1/ Data Center Sales
=>>>>>>>>>>>>>>>>>>>>>> 6922 /lvl2/ Data Center Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1358"  where id = '6922'
6990 /lvl1/ Website Developer
=>>>>>>>>>>>>>>>>>>>>>> 20053 /lvl2/ Website Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6990"  where id = '20053'
2386 /lvl1/ Head of Operation
=>>>>>>>>>>>>>>>>>>>>>> 17750 /lvl2/ Head of Operation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2386"  where id = '17750'
1363 /lvl1/ Data Entry Intern
=>>>>>>>>>>>>>>>>>>>>>> 1078 /lvl2/ Data Entry Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1363"  where id = '1078'
2643 /lvl1/ Hvacr Engineering
=>>>>>>>>>>>>>>>>>>>>>> 14629 /lvl2/ HVACR Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HVACR Engineering", title_clean   = "HVACR Engineering", title_id  = "2643"  where id = '14629'
6227 /lvl1/ Strategy Planning
=>>>>>>>>>>>>>>>>>>>>>> 7609 /lvl2/ Strategy Planning
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6227"  where id = '7609'
598 /lvl1/ Back End Engineer
=>>>>>>>>>>>>>>>>>>>>>> 7382 /lvl2/ Back End Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "598"  where id = '7382'
6998 /lvl1/ Welder Cpvc / Pvc
=>>>>>>>>>>>>>>>>>>>>>> 7312 /lvl2/ WELDER CPVC / PVC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WELDER CPVC / PVC", title_clean   = "WELDER CPVC / PVC", title_id  = "6998"  where id = '7312'
6743 /lvl1/ Tender Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 19213 /lvl2/ Tender Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6743"  where id = '19213'
6999 /lvl1/ Welding Inspector

=>>>>>>>>>>>>>>>>>>>>>> 599 /lvl2/ Welding Inspector
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6999"  where id = '599'
=>>>>>>>>>>>>>>>>>>>>>> 11706 /lvl2/ DICARI WELDING INSPECTOR (WI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DICARI WELDING INSPECTOR (WI)", title_clean   = "DICARI WELDING INSPECTOR (WI)", title_id  = "6999"  where id = '11706'
3418 /lvl1/ Logistics Manager
=>>>>>>>>>>>>>>>>>>>>>> 15234 /lvl2/ Logistics MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Logistics MANAGER", title_clean   = "Logistics MANAGER", title_id  = "3418"  where id = '15234'
7003 /lvl1/ Whatsapp Operator
=>>>>>>>>>>>>>>>>>>>>>> 6371 /lvl2/ Whatsapp Operator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7003"  where id = '6371'
6236 /lvl1/ Studio Beautician
=>>>>>>>>>>>>>>>>>>>>>> 9217 /lvl2/ STUDIO BEAUTICIAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STUDIO BEAUTICIAN", title_clean   = "STUDIO BEAUTICIAN", title_id  = "6236"  where id = '9217'
1629 /lvl1/ Economics Teacher
=>>>>>>>>>>>>>>>>>>>>>> 4081 /lvl2/ Economics Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1629"  where id = '4081'
6749 /lvl1/ Test Lead Manager
=>>>>>>>>>>>>>>>>>>>>>> 7672 /lvl2/ Test Lead Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6749"  where id = '7672'
4190 /lvl1/ Pengawas Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 661 /lvl2/ Housing Inspector (Pengawas Lapangan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Housing Inspector (-idex-)", title_clean   = "Housing Inspector ()", title_id  = "4190"  where id = '661'
=>>>>>>>>>>>>>>>>>>>>>> 3936 /lvl2/ PENGAWAS LAPANGAN (SIPIL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PENGAWAS LAPANGAN (SIPIL)", title_clean   = "PENGAWAS LAPANGAN (SIPIL)", title_id  = "4190"  where id = '3936'
=>>>>>>>>>>>>>>>>>>>>>> 12216 /lvl2/ Pengawas Lapangan  /  Bangunan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Bangunan", title_clean   = "  /  Bangunan", title_id  = "4190"  where id = '12216'
=>>>>>>>>>>>>>>>>>>>>>> 12760 /lvl2/ PENGAWAS LAPANGAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PENGAWAS LAPANGAN", title_clean   = "PENGAWAS LAPANGAN", title_id  = "4190"  where id = '12760'
=>>>>>>>>>>>>>>>>>>>>>> 14961 /lvl2/ Pengawas Lapangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4190"  where id = '14961'
=>>>>>>>>>>>>>>>>>>>>>> 16559 /lvl2/ Pengawas Lapangan (Infrastruktur Telekomunikasi) - Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Infrastruktur Telekomunikasi) - Tangerang", title_clean   = " (Infrastruktur Telekomunikasi) - Tangerang", title_id  = "4190"  where id = '16559'
1887 /lvl1/ Field Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 11217 /lvl2/ Field Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1887"  where id = '11217'
2143 /lvl1/ Funding Marketing
=>>>>>>>>>>>>>>>>>>>>>> 2618 /lvl2/ Funding Marketing Pekanbaru
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pekanbaru", title_clean   = " Pekanbaru", title_id  = "2143"  where id = '2618'
=>>>>>>>>>>>>>>>>>>>>>> 13819 /lvl2/ Funding Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2143"  where id = '13819'
353 /lvl1/ Analis Kredit BPR
=>>>>>>>>>>>>>>>>>>>>>> 4239 /lvl2/ Analis Kredit BPR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "353"  where id = '4239'
6241 /lvl1/ Supervisior Sales
=>>>>>>>>>>>>>>>>>>>>>> 15454 /lvl2/ Supervisior sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisior sales", title_clean   = "Supervisior sales", title_id  = "6241"  where id = '15454'
2147 /lvl1/ Furniture Drafter
=>>>>>>>>>>>>>>>>>>>>>> 9433 /lvl2/ Furniture Drafter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2147"  where id = '9433'
=>>>>>>>>>>>>>>>>>>>>>> 17236 /lvl2/ Furniture Drafter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2147"  where id = '17236'
2915 /lvl1/ It Helpdesk Admin
=>>>>>>>>>>>>>>>>>>>>>> 17306 /lvl2/ IT Helpdesk Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Helpdesk Admin", title_clean   = "IT Helpdesk Admin", title_id  = "2915"  where id = '17306'
2404 /lvl1/ Head of Warehouse
=>>>>>>>>>>>>>>>>>>>>>> 1410 /lvl2/ Head of Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2404"  where id = '1410'
=>>>>>>>>>>>>>>>>>>>>>> 7285 /lvl2/ Head of Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2404"  where id = '7285'
=>>>>>>>>>>>>>>>>>>>>>> 18879 /lvl2/ Head of Warehouse (Sumatera & West Borneo)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sumatera & West Borneo)", title_clean   = " (Sumatera & West Borneo)", title_id  = "2404"  where id = '18879'
=>>>>>>>>>>>>>>>>>>>>>> 20243 /lvl2/ Head of Warehouse
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2404"  where id = '20243'
1381 /lvl1/ Database Engineer
=>>>>>>>>>>>>>>>>>>>>>> 4531 /lvl2/ Database Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1381"  where id = '4531'
=>>>>>>>>>>>>>>>>>>>>>> 5873 /lvl2/ Database Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1381"  where id = '5873'
=>>>>>>>>>>>>>>>>>>>>>> 12110 /lvl2/ Database Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1381"  where id = '12110'
1893 /lvl1/ Field Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 7471 /lvl2/ Field Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1893"  where id = '7471'
=>>>>>>>>>>>>>>>>>>>>>> 16855 /lvl2/ Field Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1893"  where id = '16855'
4453 /lvl1/ Product Executive
=>>>>>>>>>>>>>>>>>>>>>> 4153 /lvl2/ Product Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4453"  where id = '4153'
=>>>>>>>>>>>>>>>>>>>>>> 8643 /lvl2/ Product Executive (Pharmaceutical Raw Material)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pharmaceutical Raw Material)", title_clean   = " (Pharmaceutical Raw Material)", title_id  = "4453"  where id = '8643'
=>>>>>>>>>>>>>>>>>>>>>> 10808 /lvl2/ Product Executive (Medical Devices & Pharmacy)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medical Devices & Pharmacy)", title_clean   = " (Medical Devices & Pharmacy)", title_id  = "4453"  where id = '10808'
2918 /lvl1/ It Helpdesk Staff
=>>>>>>>>>>>>>>>>>>>>>> 1961 /lvl2/ IT HelpDesk Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT HelpDesk Staff", title_clean   = "IT HelpDesk Staff", title_id  = "2918"  where id = '1961'
=>>>>>>>>>>>>>>>>>>>>>> 4082 /lvl2/ IT HELPDESK STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT HELPDESK STAFF", title_clean   = "IT HELPDESK STAFF", title_id  = "2918"  where id = '4082'
=>>>>>>>>>>>>>>>>>>>>>> 12488 /lvl2/ IT Helpdesk Staff (Temporary)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Helpdesk Staff (Temporary)", title_clean   = "IT Helpdesk Staff (Temporary)", title_id  = "2918"  where id = '12488'
4198 /lvl1/ Pengawas Produksi
=>>>>>>>>>>>>>>>>>>>>>> 18404 /lvl2/ Pengawas Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4198"  where id = '18404'
=>>>>>>>>>>>>>>>>>>>>>> 19377 /lvl2/ Pengawas Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4198"  where id = '19377'
6759 /lvl1/ Tiktok Specialist
=>>>>>>>>>>>>>>>>>>>>>> 20552 /lvl2/ Tiktok Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6759"  where id = '20552'
361 /lvl1/ Android Developer
=>>>>>>>>>>>>>>>>>>>>>> 4144 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '4144'
=>>>>>>>>>>>>>>>>>>>>>> 4348 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '4348'
=>>>>>>>>>>>>>>>>>>>>>> 6488 /lvl2/ ANDROID DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ANDROID DEVELOPER", title_clean   = "ANDROID DEVELOPER", title_id  = "361"  where id = '6488'
=>>>>>>>>>>>>>>>>>>>>>> 6662 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '6662'
=>>>>>>>>>>>>>>>>>>>>>> 6741 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '6741'
=>>>>>>>>>>>>>>>>>>>>>> 7107 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '7107'
=>>>>>>>>>>>>>>>>>>>>>> 7521 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '7521'
=>>>>>>>>>>>>>>>>>>>>>> 8149 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '8149'
=>>>>>>>>>>>>>>>>>>>>>> 9533 /lvl2/ Web and Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Web and -idex-", title_clean   = "Web and ", title_id  = "361"  where id = '9533'
=>>>>>>>>>>>>>>>>>>>>>> 9889 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '9889'
=>>>>>>>>>>>>>>>>>>>>>> 10451 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '10451'
=>>>>>>>>>>>>>>>>>>>>>> 10535 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '10535'
=>>>>>>>>>>>>>>>>>>>>>> 12042 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '12042'
=>>>>>>>>>>>>>>>>>>>>>> 12154 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '12154'
=>>>>>>>>>>>>>>>>>>>>>> 12435 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '12435'
=>>>>>>>>>>>>>>>>>>>>>> 16460 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '16460'
=>>>>>>>>>>>>>>>>>>>>>> 16477 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '16477'
=>>>>>>>>>>>>>>>>>>>>>> 16554 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '16554'
=>>>>>>>>>>>>>>>>>>>>>> 16845 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '16845'
=>>>>>>>>>>>>>>>>>>>>>> 16860 /lvl2/ Android Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "361"  where id = '16860'
5737 /lvl1/ Sistem & Prosedur

4202 /lvl1/ Penjahit / Tailor
=>>>>>>>>>>>>>>>>>>>>>> 4563 /lvl2/ PENJAHIT / TAILOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PENJAHIT / TAILOR", title_clean   = "PENJAHIT / TAILOR", title_id  = "4202"  where id = '4563'
4458 /lvl1/ Product Marketing
=>>>>>>>>>>>>>>>>>>>>>> 14558 /lvl2/ Product Marketing (MEDICAL EQUIPMENT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (MEDICAL EQUIPMENT)", title_clean   = " (MEDICAL EQUIPMENT)", title_id  = "4458"  where id = '14558'
=>>>>>>>>>>>>>>>>>>>>>> 15264 /lvl2/ Spv Product Marketing Development
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Spv -idex- Development", title_clean   = "Spv  Development", title_id  = "4458"  where id = '15264'
=>>>>>>>>>>>>>>>>>>>>>> 16496 /lvl2/ PRODUCT MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT MARKETING", title_clean   = "PRODUCT MARKETING", title_id  = "4458"  where id = '16496'
=>>>>>>>>>>>>>>>>>>>>>> 18902 /lvl2/ Product Marketing - ICT\u002FCloud\u002FSDWan\u002FMobility Product
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - ICT\u002FCloud\u002FSDWan\u002FMobility Product", title_clean   = " - ICT\u002FCloud\u002FSDWan\u002FMobility Product", title_id  = "4458"  where id = '18902'
=>>>>>>>>>>>>>>>>>>>>>> 19757 /lvl2/ PRODUCT MARKETING – C&I
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT MARKETING – C&I", title_clean   = "PRODUCT MARKETING – C&I", title_id  = "4458"  where id = '19757'
=>>>>>>>>>>>>>>>>>>>>>> 20585 /lvl2/ PRODUCT MARKETING – C&I
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT MARKETING – C&I", title_clean   = "PRODUCT MARKETING – C&I", title_id  = "4458"  where id = '20585'
6506 /lvl1/ Tax & Fixed Asset
2923 /lvl1/ It Infrastructure
=>>>>>>>>>>>>>>>>>>>>>> 3822 /lvl2/ Engineering Software dan IT Infrastructure Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Engineering Software dan IT Infrastructure Support", title_clean   = "Engineering Software dan IT Infrastructure Support", title_id  = "2923"  where id = '3822'
=>>>>>>>>>>>>>>>>>>>>>> 6096 /lvl2/ IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure", title_clean   = "IT Infrastructure", title_id  = "2923"  where id = '6096'
=>>>>>>>>>>>>>>>>>>>>>> 6485 /lvl2/ IT Infrastructure Ops (Jogja)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure Ops (Jogja)", title_clean   = "IT Infrastructure Ops (Jogja)", title_id  = "2923"  where id = '6485'
=>>>>>>>>>>>>>>>>>>>>>> 11869 /lvl2/ IT INFRASTRUCTURE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT INFRASTRUCTURE", title_clean   = "IT INFRASTRUCTURE", title_id  = "2923"  where id = '11869'
=>>>>>>>>>>>>>>>>>>>>>> 12794 /lvl2/ IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure", title_clean   = "IT Infrastructure", title_id  = "2923"  where id = '12794'
=>>>>>>>>>>>>>>>>>>>>>> 13404 /lvl2/ IT Infrastructure (System) Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure (System) Specialist", title_clean   = "IT Infrastructure (System) Specialist", title_id  = "2923"  where id = '13404'
=>>>>>>>>>>>>>>>>>>>>>> 13521 /lvl2/ IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure", title_clean   = "IT Infrastructure", title_id  = "2923"  where id = '13521'
=>>>>>>>>>>>>>>>>>>>>>> 13600 /lvl2/ IT Infrastructure (System) Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure (System) Specialist", title_clean   = "IT Infrastructure (System) Specialist", title_id  = "2923"  where id = '13600'
=>>>>>>>>>>>>>>>>>>>>>> 15041 /lvl2/ IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure", title_clean   = "IT Infrastructure", title_id  = "2923"  where id = '15041'
=>>>>>>>>>>>>>>>>>>>>>> 15048 /lvl2/ IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure", title_clean   = "IT Infrastructure", title_id  = "2923"  where id = '15048'
=>>>>>>>>>>>>>>>>>>>>>> 19582 /lvl2/ IT Officer (IT Infrastructure)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Officer (IT Infrastructure)", title_clean   = "IT Officer (IT Infrastructure)", title_id  = "2923"  where id = '19582'
=>>>>>>>>>>>>>>>>>>>>>> 20069 /lvl2/ IT Infrastructure
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Infrastructure", title_clean   = "IT Infrastructure", title_id  = "2923"  where id = '20069'
1388 /lvl1/ Delivery Logistic
=>>>>>>>>>>>>>>>>>>>>>> 7288 /lvl2/ Delivery Logistic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1388"  where id = '7288'
367 /lvl1/ Angular Developer
=>>>>>>>>>>>>>>>>>>>>>> 4199 /lvl2/ Front-End Angular Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Front-End -idex-", title_clean   = "Front-End ", title_id  = "367"  where id = '4199'
=>>>>>>>>>>>>>>>>>>>>>> 7325 /lvl2/ Angular Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "367"  where id = '7325'
=>>>>>>>>>>>>>>>>>>>>>> 10022 /lvl2/ Angular Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "367"  where id = '10022'
=>>>>>>>>>>>>>>>>>>>>>> 10788 /lvl2/ .NET - Angular Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = ".NET - -idex-", title_clean   = ".NET - ", title_id  = "367"  where id = '10788'
1135 /lvl1/ Corporate Finance
=>>>>>>>>>>>>>>>>>>>>>> 18000 /lvl2/ Corporate Finance & Strategy (Intern)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Strategy (Intern)", title_clean   = " & Strategy (Intern)", title_id  = "1135"  where id = '18000'
=>>>>>>>>>>>>>>>>>>>>>> 18210 /lvl2/ Corporate Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1135"  where id = '18210'
=>>>>>>>>>>>>>>>>>>>>>> 18353 /lvl2/ Manager - Corporate Finance & Internal Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager - -idex- & Internal Accounting", title_clean   = "Manager -  & Internal Accounting", title_id  = "1135"  where id = '18353'
=>>>>>>>>>>>>>>>>>>>>>> 19270 /lvl2/ Manager - Corporate Finance & Internal Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager - -idex- & Internal Accounting", title_clean   = "Manager -  & Internal Accounting", title_id  = "1135"  where id = '19270'
1648 /lvl1/ Classroom Teacher
=>>>>>>>>>>>>>>>>>>>>>> 2365 /lvl2/ ECY Classroom Teacher BINUS SCHOOL Serpong
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ECY -idex- BINUS SCHOOL Serpong", title_clean   = "ECY  BINUS SCHOOL Serpong", title_id  = "1648"  where id = '2365'
=>>>>>>>>>>>>>>>>>>>>>> 15476 /lvl2/ EL Classroom Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "EL -idex-", title_clean   = "EL ", title_id  = "1648"  where id = '15476'
2677 /lvl1/ Import Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 7859 /lvl2/ Import Supervisor (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaking)", title_clean   = " (Mandarin Speaking)", title_id  = "2677"  where id = '7859'
=>>>>>>>>>>>>>>>>>>>>>> 8189 /lvl2/ Import Supervisor (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaking)", title_clean   = " (Mandarin Speaking)", title_id  = "2677"  where id = '8189'
=>>>>>>>>>>>>>>>>>>>>>> 14775 /lvl2/ IMPORT SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IMPORT SUPERVISOR", title_clean   = "IMPORT SUPERVISOR", title_id  = "2677"  where id = '14775'
4725 /lvl1/ Qa System Officer
=>>>>>>>>>>>>>>>>>>>>>> 11981 /lvl2/ QA System Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA System Officer", title_clean   = "QA System Officer", title_id  = "4725"  where id = '11981'
3702 /lvl1/ Marketing Funding
=>>>>>>>>>>>>>>>>>>>>>> 6202 /lvl2/ Marketing Funding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3702"  where id = '6202'
=>>>>>>>>>>>>>>>>>>>>>> 15453 /lvl2/ MARKETING FUNDING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING FUNDING", title_clean   = "MARKETING FUNDING", title_id  = "3702"  where id = '15453'
6265 /lvl1/ Supervisor Clinic
=>>>>>>>>>>>>>>>>>>>>>> 6085 /lvl2/ Supervisor Clinic ( JAKARTA )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( JAKARTA )", title_clean   = " ( JAKARTA )", title_id  = "6265"  where id = '6085'
=>>>>>>>>>>>>>>>>>>>>>> 12638 /lvl2/ Supervisor Clinic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6265"  where id = '12638'
2938 /lvl1/ It Java Developer

=>>>>>>>>>>>>>>>>>>>>>> 4213 /lvl2/ IT JAVA Developer \u002F Programmer (YOGYAKARTA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT JAVA Developer \u002F Programmer (YOGYAKARTA)", title_clean   = "IT JAVA Developer \u002F Programmer (YOGYAKARTA)", title_id  = "2938"  where id = '4213'
=>>>>>>>>>>>>>>>>>>>>>> 5181 /lvl2/ IT Java Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Java Developer", title_clean   = "IT Java Developer", title_id  = "2938"  where id = '5181'
=>>>>>>>>>>>>>>>>>>>>>> 8676 /lvl2/ IT Java Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Java Developer", title_clean   = "IT Java Developer", title_id  = "2938"  where id = '8676'
3450 /lvl1/ Maintenance Sales
=>>>>>>>>>>>>>>>>>>>>>> 12764 /lvl2/ Maintenance Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3450"  where id = '12764'
=>>>>>>>>>>>>>>>>>>>>>> 16201 /lvl2/ Maintenance Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3450"  where id = '16201'
=>>>>>>>>>>>>>>>>>>>>>> 16219 /lvl2/ Maintenance Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3450"  where id = '16219'
6522 /lvl1/ Tax Dispute Staff
=>>>>>>>>>>>>>>>>>>>>>> 545 /lvl2/ Tax Dispute Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6522"  where id = '545'
1659 /lvl1/ Electrical Leader
=>>>>>>>>>>>>>>>>>>>>>> 16620 /lvl2/ Electrical Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1659"  where id = '16620'
3452 /lvl1/ Maintenance Staff
=>>>>>>>>>>>>>>>>>>>>>> 51 /lvl2/ Warehouse Maintenance Staff (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Warehouse -idex- (Medan)", title_clean   = "Warehouse  (Medan)", title_id  = "3452"  where id = '51'
=>>>>>>>>>>>>>>>>>>>>>> 2391 /lvl2/ Maintenance Staff - Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Balikpapan", title_clean   = " - Balikpapan", title_id  = "3452"  where id = '2391'
=>>>>>>>>>>>>>>>>>>>>>> 5771 /lvl2/ Maintenance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3452"  where id = '5771'
=>>>>>>>>>>>>>>>>>>>>>> 6192 /lvl2/ Maintenance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3452"  where id = '6192'
=>>>>>>>>>>>>>>>>>>>>>> 14226 /lvl2/ Maintenance Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3452"  where id = '14226'
=>>>>>>>>>>>>>>>>>>>>>> 15991 /lvl2/ Injection Molding Maintenance Staff Mandarin Speaker - Manufacturing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Injection Molding -idex- Mandarin Speaker - Manufacturing", title_clean   = "Injection Molding  Mandarin Speaker - Manufacturing", title_id  = "3452"  where id = '15991'
=>>>>>>>>>>>>>>>>>>>>>> 17739 /lvl2/ Irrigation Electricalu002FMaintenance Staff (Penempatan NTT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Irrigation Electricalu002F-idex- (Penempatan NTT)", title_clean   = "Irrigation Electricalu002F (Penempatan NTT)", title_id  = "3452"  where id = '17739'
=>>>>>>>>>>>>>>>>>>>>>> 17938 /lvl2/ MAINTENANCE STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MAINTENANCE STAFF", title_clean   = "MAINTENANCE STAFF", title_id  = "3452"  where id = '17938'
=>>>>>>>>>>>>>>>>>>>>>> 18726 /lvl2/ Irrigation Electricalu002FMaintenance Staff (Penempatan NTT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Irrigation Electricalu002F-idex- (Penempatan NTT)", title_clean   = "Irrigation Electricalu002F (Penempatan NTT)", title_id  = "3452"  where id = '18726'
895 /lvl1/ Chemical Engineer
=>>>>>>>>>>>>>>>>>>>>>> 19575 /lvl2/ Chemical Engineer (Polymerization Process)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Polymerization Process)", title_clean   = " (Polymerization Process)", title_id  = "895"  where id = '19575'
=>>>>>>>>>>>>>>>>>>>>>> 20534 /lvl2/ CHEMICAL ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHEMICAL ENGINEER", title_clean   = "CHEMICAL ENGINEER", title_id  = "895"  where id = '20534'
6784 /lvl1/ Trainer Automotif
=>>>>>>>>>>>>>>>>>>>>>> 955 /lvl2/ TRAINER AUTOMOTIF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAINER AUTOMOTIF", title_clean   = "TRAINER AUTOMOTIF", title_id  = "6784"  where id = '955'
=>>>>>>>>>>>>>>>>>>>>>> 970 /lvl2/ TRAINER AUTOMOTIF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAINER AUTOMOTIF", title_clean   = "TRAINER AUTOMOTIF", title_id  = "6784"  where id = '970'
3970 /lvl1/ Noc & Data Center
=>>>>>>>>>>>>>>>>>>>>>> 12352 /lvl2/ NOC & Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NOC & Data Center", title_clean   = "NOC & Data Center", title_id  = "3970"  where id = '12352'
=>>>>>>>>>>>>>>>>>>>>>> 12367 /lvl2/ NOC & Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NOC & Data Center", title_clean   = "NOC & Data Center", title_id  = "3970"  where id = '12367'
3203 /lvl1/ Kepala Gudang Wip
=>>>>>>>>>>>>>>>>>>>>>> 13031 /lvl2/ KEPALA GUDANG WIP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA GUDANG WIP", title_clean   = "KEPALA GUDANG WIP", title_id  = "3203"  where id = '13031'
=>>>>>>>>>>>>>>>>>>>>>> 14121 /lvl2/ KEPALA GUDANG WIP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA GUDANG WIP", title_clean   = "KEPALA GUDANG WIP", title_id  = "3203"  where id = '14121'
902 /lvl1/ Chemistry Teacher
=>>>>>>>>>>>>>>>>>>>>>> 3560 /lvl2/ CHEMISTRY TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHEMISTRY TEACHER", title_clean   = "CHEMISTRY TEACHER", title_id  = "902"  where id = '3560'
=>>>>>>>>>>>>>>>>>>>>>> 4504 /lvl2/ CHEMISTRY TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CHEMISTRY TEACHER", title_clean   = "CHEMISTRY TEACHER", title_id  = "902"  where id = '4504'
=>>>>>>>>>>>>>>>>>>>>>> 7386 /lvl2/ A Level  /  IGCSE Chemistry Teacher  /  Tutor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "A Level  /  IGCSE -idex-  /  Tutor", title_clean   = "A Level  /  IGCSE   /  Tutor", title_id  = "902"  where id = '7386'
=>>>>>>>>>>>>>>>>>>>>>> 9444 /lvl2/ IGCSE / A / AS Level Chemistry Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IGCSE / A / AS Level -idex-", title_clean   = "IGCSE / A / AS Level ", title_id  = "902"  where id = '9444'
=>>>>>>>>>>>>>>>>>>>>>> 10408 /lvl2/ SAMPOERNA ACADEMY - SECONDARY - CHEMISTRY TEACHER - AY 22\u002F23
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAMPOERNA ACADEMY - SECONDARY - CHEMISTRY TEACHER - AY 22\u002F23", title_clean   = "SAMPOERNA ACADEMY - SECONDARY - CHEMISTRY TEACHER - AY 22\u002F23", title_id  = "902"  where id = '10408'
=>>>>>>>>>>>>>>>>>>>>>> 11308 /lvl2/ Chemistry Teacher
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "902"  where id = '11308'
4998 /lvl1/ Retail Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 561 /lvl2/ Retail Supervisor (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta)", title_clean   = " (Jakarta)", title_id  = "4998"  where id = '561'
=>>>>>>>>>>>>>>>>>>>>>> 2606 /lvl2/ Retail Supervisor (Bali)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bali)", title_clean   = " (Bali)", title_id  = "4998"  where id = '2606'
=>>>>>>>>>>>>>>>>>>>>>> 11175 /lvl2/ Retail Supervisor (Nabire)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Nabire)", title_clean   = " (Nabire)", title_id  = "4998"  where id = '11175'
=>>>>>>>>>>>>>>>>>>>>>> 11228 /lvl2/ Retail Supervisor (Balikpapan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Balikpapan)", title_clean   = " (Balikpapan)", title_id  = "4998"  where id = '11228'
=>>>>>>>>>>>>>>>>>>>>>> 14215 /lvl2/ Retail Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4998"  where id = '14215'
=>>>>>>>>>>>>>>>>>>>>>> 14235 /lvl2/ Retail Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4998"  where id = '14235'
=>>>>>>>>>>>>>>>>>>>>>> 20031 /lvl2/ Retail Supervisor Kalimantan Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Kalimantan Barat", title_clean   = " Kalimantan Barat", title_id  = "4998"  where id = '20031'
=>>>>>>>>>>>>>>>>>>>>>> 20079 /lvl2/ Sales Retail Supervisor (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales -idex- (Medan)", title_clean   = "Sales  (Medan)", title_id  = "4998"  where id = '20079'
3719 /lvl1/ Marketing Manager

=>>>>>>>>>>>>>>>>>>>>>> 1524 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '1524'
=>>>>>>>>>>>>>>>>>>>>>> 1834 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '1834'
=>>>>>>>>>>>>>>>>>>>>>> 1878 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '1878'
=>>>>>>>>>>>>>>>>>>>>>> 2278 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '2278'
=>>>>>>>>>>>>>>>>>>>>>> 2368 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '2368'
=>>>>>>>>>>>>>>>>>>>>>> 2690 /lvl2/ Marketing Manager Revo Coffee Id
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Revo Coffee Id", title_clean   = " Revo Coffee Id", title_id  = "3719"  where id = '2690'
=>>>>>>>>>>>>>>>>>>>>>> 3030 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '3030'
=>>>>>>>>>>>>>>>>>>>>>> 3464 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '3464'
=>>>>>>>>>>>>>>>>>>>>>> 4197 /lvl2/ MARKETING MANAGER (MM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER (MM)", title_clean   = "MARKETING MANAGER (MM)", title_id  = "3719"  where id = '4197'
=>>>>>>>>>>>>>>>>>>>>>> 4245 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '4245'
=>>>>>>>>>>>>>>>>>>>>>> 4450 /lvl2/ Sales and Marketing Manager Landed Housing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex- Landed Housing", title_clean   = "Sales and  Landed Housing", title_id  = "3719"  where id = '4450'
=>>>>>>>>>>>>>>>>>>>>>> 5340 /lvl2/ Marketing Manager - Hazelbelle Bakery - PT. Fhazel Fillindo Jaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Hazelbelle Bakery - PT. Fhazel Fillindo Jaya", title_clean   = " - Hazelbelle Bakery - PT. Fhazel Fillindo Jaya", title_id  = "3719"  where id = '5340'
=>>>>>>>>>>>>>>>>>>>>>> 5655 /lvl2/ MARKETING MANAGER WILAYAH JAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER WILAYAH JAKARTA", title_clean   = "MARKETING MANAGER WILAYAH JAKARTA", title_id  = "3719"  where id = '5655'
=>>>>>>>>>>>>>>>>>>>>>> 5696 /lvl2/ Sales and Marketing Manager (EDUCATION)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex- (EDUCATION)", title_clean   = "Sales and  (EDUCATION)", title_id  = "3719"  where id = '5696'
=>>>>>>>>>>>>>>>>>>>>>> 5851 /lvl2/ MARKETING MANAGER WILAYAH BANDUNG (JAWA BARAT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER WILAYAH BANDUNG (JAWA BARAT)", title_clean   = "MARKETING MANAGER WILAYAH BANDUNG (JAWA BARAT)", title_id  = "3719"  where id = '5851'
=>>>>>>>>>>>>>>>>>>>>>> 6145 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '6145'
=>>>>>>>>>>>>>>>>>>>>>> 6358 /lvl2/ Micro Marketing Manager - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Micro -idex- - Makassar", title_clean   = "Micro  - Makassar", title_id  = "3719"  where id = '6358'
=>>>>>>>>>>>>>>>>>>>>>> 6388 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '6388'
=>>>>>>>>>>>>>>>>>>>>>> 6659 /lvl2/ Internet Marketing Manager (E-commerce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Internet -idex- (E-commerce)", title_clean   = "Internet  (E-commerce)", title_id  = "3719"  where id = '6659'
=>>>>>>>>>>>>>>>>>>>>>> 6795 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '6795'
=>>>>>>>>>>>>>>>>>>>>>> 7439 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '7439'
=>>>>>>>>>>>>>>>>>>>>>> 7506 /lvl2/ Micro Marketing Manager - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Micro -idex- - Makassar", title_clean   = "Micro  - Makassar", title_id  = "3719"  where id = '7506'
=>>>>>>>>>>>>>>>>>>>>>> 8226 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '8226'
=>>>>>>>>>>>>>>>>>>>>>> 9101 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '9101'
=>>>>>>>>>>>>>>>>>>>>>> 9531 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '9531'
=>>>>>>>>>>>>>>>>>>>>>> 9668 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '9668'
=>>>>>>>>>>>>>>>>>>>>>> 10218 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '10218'
=>>>>>>>>>>>>>>>>>>>>>> 10273 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '10273'
=>>>>>>>>>>>>>>>>>>>>>> 11235 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '11235'
=>>>>>>>>>>>>>>>>>>>>>> 11352 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '11352'
=>>>>>>>>>>>>>>>>>>>>>> 14099 /lvl2/ Urgently Needed : Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Urgently Needed : -idex-", title_clean   = "Urgently Needed : ", title_id  = "3719"  where id = '14099'
=>>>>>>>>>>>>>>>>>>>>>> 14469 /lvl2/ Marketing Manager (General Insurance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (General Insurance)", title_clean   = " (General Insurance)", title_id  = "3719"  where id = '14469'
=>>>>>>>>>>>>>>>>>>>>>> 14752 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '14752'
=>>>>>>>>>>>>>>>>>>>>>> 14793 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '14793'
=>>>>>>>>>>>>>>>>>>>>>> 14893 /lvl2/ Area Marketing Manager - Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- - Kalimantan", title_clean   = "Area  - Kalimantan", title_id  = "3719"  where id = '14893'
=>>>>>>>>>>>>>>>>>>>>>> 15362 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '15362'
=>>>>>>>>>>>>>>>>>>>>>> 15428 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '15428'
=>>>>>>>>>>>>>>>>>>>>>> 15459 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '15459'
=>>>>>>>>>>>>>>>>>>>>>> 15505 /lvl2/ MARKETING MANAGER (FMCG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER (FMCG)", title_clean   = "MARKETING MANAGER (FMCG)", title_id  = "3719"  where id = '15505'
=>>>>>>>>>>>>>>>>>>>>>> 15593 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '15593'
=>>>>>>>>>>>>>>>>>>>>>> 15741 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '15741'
=>>>>>>>>>>>>>>>>>>>>>> 16074 /lvl2/ Sr. Marketing Manager (TaniFund)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex- (TaniFund)", title_clean   = "Sr.  (TaniFund)", title_id  = "3719"  where id = '16074'
=>>>>>>>>>>>>>>>>>>>>>> 16279 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '16279'
=>>>>>>>>>>>>>>>>>>>>>> 16510 /lvl2/ AREA MARKETING MANAGER MULTIPRODUCT AREA SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA MARKETING MANAGER MULTIPRODUCT AREA SEMARANG", title_clean   = "AREA MARKETING MANAGER MULTIPRODUCT AREA SEMARANG", title_id  = "3719"  where id = '16510'
=>>>>>>>>>>>>>>>>>>>>>> 16524 /lvl2/ MARKETING MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MANAGER", title_clean   = "MARKETING MANAGER", title_id  = "3719"  where id = '16524'
=>>>>>>>>>>>>>>>>>>>>>> 16567 /lvl2/ AREA MARKETING MANAGER MULTIPRODUCT AREA SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA MARKETING MANAGER MULTIPRODUCT AREA SURABAYA", title_clean   = "AREA MARKETING MANAGER MULTIPRODUCT AREA SURABAYA", title_id  = "3719"  where id = '16567'
=>>>>>>>>>>>>>>>>>>>>>> 20256 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '20256'
=>>>>>>>>>>>>>>>>>>>>>> 20281 /lvl2/ Marketing Manager (Medan, Palembang, Riau, Kendari, Manado, Pontianak)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan, Palembang, Riau, Kendari, Manado, Pontianak)", title_clean   = " (Medan, Palembang, Riau, Kendari, Manado, Pontianak)", title_id  = "3719"  where id = '20281'
=>>>>>>>>>>>>>>>>>>>>>> 20472 /lvl2/ Marketing Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3719"  where id = '20472'
6023 /lvl1/ Staff Engineering

=>>>>>>>>>>>>>>>>>>>>>> 19241 /lvl2/ Staff Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6023"  where id = '19241'
3208 /lvl1/ Kepala Minimarket
=>>>>>>>>>>>>>>>>>>>>>> 20087 /lvl2/ Kepala Minimarket
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3208"  where id = '20087'
6025 /lvl1/ Staff Expor Impor
=>>>>>>>>>>>>>>>>>>>>>> 16274 /lvl2/ Staff Expor Impor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6025"  where id = '16274'
650 /lvl1/ Biogas Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9431 /lvl2/ Biogas Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "650"  where id = '9431'
3466 /lvl1/ Management Talent
=>>>>>>>>>>>>>>>>>>>>>> 16900 /lvl2/ Management Talent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3466"  where id = '16900'
4234 /lvl1/ Perawat Pelaksana
=>>>>>>>>>>>>>>>>>>>>>> 16376 /lvl2/ Perawat Pelaksana
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4234"  where id = '16376'
395 /lvl1/ Appraisal Support
=>>>>>>>>>>>>>>>>>>>>>> 14770 /lvl2/ Appraisal Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "395"  where id = '14770'
907 /lvl1/ Chief Electrician
=>>>>>>>>>>>>>>>>>>>>>> 9176 /lvl2/ Chief Electrician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "907"  where id = '9176'
3723 /lvl1/ Marketing Medikal
=>>>>>>>>>>>>>>>>>>>>>> 17949 /lvl2/ MARKETING MEDIKAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING MEDIKAL", title_clean   = "MARKETING MEDIKAL", title_id  = "3723"  where id = '17949'
4748 /lvl1/ Qc Microbiologist
=>>>>>>>>>>>>>>>>>>>>>> 19794 /lvl2/ QC Microbiologist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QC Microbiologist", title_clean   = "QC Microbiologist", title_id  = "4748"  where id = '19794'
909 /lvl1/ Chief Engineering
=>>>>>>>>>>>>>>>>>>>>>> 469 /lvl2/ Chief Engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "909"  where id = '469'
3727 /lvl1/ Marketing Officer
=>>>>>>>>>>>>>>>>>>>>>> 1340 /lvl2/ Marketing Officer - Pangkal Pinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pangkal Pinang", title_clean   = " - Pangkal Pinang", title_id  = "3727"  where id = '1340'
=>>>>>>>>>>>>>>>>>>>>>> 1609 /lvl2/ Marketing Officer for Preschool and Primary Level
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Preschool and Primary Level", title_clean   = " for Preschool and Primary Level", title_id  = "3727"  where id = '1609'
=>>>>>>>>>>>>>>>>>>>>>> 1755 /lvl2/ Marketing Officer - Garut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Garut", title_clean   = " - Garut", title_id  = "3727"  where id = '1755'
=>>>>>>>>>>>>>>>>>>>>>> 2062 /lvl2/ Marketing Officer (JS - MO) Bandengan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - MO) Bandengan", title_clean   = " (JS - MO) Bandengan", title_id  = "3727"  where id = '2062'
=>>>>>>>>>>>>>>>>>>>>>> 2082 /lvl2/ Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3727"  where id = '2082'
=>>>>>>>>>>>>>>>>>>>>>> 2404 /lvl2/ Marketing Officer - Kediri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kediri", title_clean   = " - Kediri", title_id  = "3727"  where id = '2404'
=>>>>>>>>>>>>>>>>>>>>>> 2741 /lvl2/ Marketing Officer (JS - MO) Bandengan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - MO) Bandengan", title_clean   = " (JS - MO) Bandengan", title_id  = "3727"  where id = '2741'
=>>>>>>>>>>>>>>>>>>>>>> 3091 /lvl2/ Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3727"  where id = '3091'
=>>>>>>>>>>>>>>>>>>>>>> 3136 /lvl2/ Marketing Officer - Kediri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kediri", title_clean   = " - Kediri", title_id  = "3727"  where id = '3136'
=>>>>>>>>>>>>>>>>>>>>>> 3220 /lvl2/ Marketing Officer - Jawa Timur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jawa Timur", title_clean   = " - Jawa Timur", title_id  = "3727"  where id = '3220'
=>>>>>>>>>>>>>>>>>>>>>> 3938 /lvl2/ Marketing Officer Area Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Tangerang Selatan", title_clean   = " Area Tangerang Selatan", title_id  = "3727"  where id = '3938'
=>>>>>>>>>>>>>>>>>>>>>> 4579 /lvl2/ Marketing Officer Leaseback BPKB Mobil - Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Leaseback BPKB Mobil - Cikarang", title_clean   = " Leaseback BPKB Mobil - Cikarang", title_id  = "3727"  where id = '4579'
=>>>>>>>>>>>>>>>>>>>>>> 5443 /lvl2/ Marketing Officer (Makassar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Makassar)", title_clean   = " (Makassar)", title_id  = "3727"  where id = '5443'
=>>>>>>>>>>>>>>>>>>>>>> 5615 /lvl2/ Marketing Officer - Ciputat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Ciputat", title_clean   = " - Ciputat", title_id  = "3727"  where id = '5615'
=>>>>>>>>>>>>>>>>>>>>>> 5706 /lvl2/ Marketing Officer (Cab. Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cab. Surabaya)", title_clean   = " (Cab. Surabaya)", title_id  = "3727"  where id = '5706'
=>>>>>>>>>>>>>>>>>>>>>> 5883 /lvl2/ Marketing Officer - Wonosobo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Wonosobo", title_clean   = " - Wonosobo", title_id  = "3727"  where id = '5883'
=>>>>>>>>>>>>>>>>>>>>>> 6115 /lvl2/ Marketing Officer (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan)", title_clean   = " (Medan)", title_id  = "3727"  where id = '6115'
=>>>>>>>>>>>>>>>>>>>>>> 6128 /lvl2/ Marketing Officer - Tuban
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tuban", title_clean   = " - Tuban", title_id  = "3727"  where id = '6128'
=>>>>>>>>>>>>>>>>>>>>>> 6711 /lvl2/ Marketing Officer (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "3727"  where id = '6711'
=>>>>>>>>>>>>>>>>>>>>>> 6929 /lvl2/ Marketing Officer - Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bandung", title_clean   = " - Bandung", title_id  = "3727"  where id = '6929'
=>>>>>>>>>>>>>>>>>>>>>> 7194 /lvl2/ Marketing Officer Area Jakarta Timur (Produk Mobil)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Jakarta Timur (Produk Mobil)", title_clean   = " Area Jakarta Timur (Produk Mobil)", title_id  = "3727"  where id = '7194'
=>>>>>>>>>>>>>>>>>>>>>> 9386 /lvl2/ Credi Marketing Officer - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Credi -idex- - Yogyakarta", title_clean   = "Credi  - Yogyakarta", title_id  = "3727"  where id = '9386'
=>>>>>>>>>>>>>>>>>>>>>> 9779 /lvl2/ Marketing Officer (Karawang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawang)", title_clean   = " (Karawang)", title_id  = "3727"  where id = '9779'
=>>>>>>>>>>>>>>>>>>>>>> 10001 /lvl2/ Marketing Officer Tunas Rent Cabang Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tunas Rent Cabang Medan", title_clean   = " Tunas Rent Cabang Medan", title_id  = "3727"  where id = '10001'
=>>>>>>>>>>>>>>>>>>>>>> 10161 /lvl2/ Marketing Officer (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "3727"  where id = '10161'
=>>>>>>>>>>>>>>>>>>>>>> 10456 /lvl2/ Chief Marketing Officer Pematangsiantar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Chief -idex- Pematangsiantar", title_clean   = "Chief  Pematangsiantar", title_id  = "3727"  where id = '10456'
=>>>>>>>>>>>>>>>>>>>>>> 10628 /lvl2/ Marketing Officer ( Domisili Denpasar )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Domisili Denpasar )", title_clean   = " ( Domisili Denpasar )", title_id  = "3727"  where id = '10628'
=>>>>>>>>>>>>>>>>>>>>>> 11207 /lvl2/ MARKETING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING OFFICER", title_clean   = "MARKETING OFFICER", title_id  = "3727"  where id = '11207'
=>>>>>>>>>>>>>>>>>>>>>> 12339 /lvl2/ Marketing Officer (Purwokerto)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Purwokerto)", title_clean   = " (Purwokerto)", title_id  = "3727"  where id = '12339'
=>>>>>>>>>>>>>>>>>>>>>> 12364 /lvl2/ Marketing Officer - Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bogor", title_clean   = " - Bogor", title_id  = "3727"  where id = '12364'
=>>>>>>>>>>>>>>>>>>>>>> 13164 /lvl2/ Marketing Officer cabang Tunas Rent Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- cabang Tunas Rent Makassar", title_clean   = " cabang Tunas Rent Makassar", title_id  = "3727"  where id = '13164'
=>>>>>>>>>>>>>>>>>>>>>> 13230 /lvl2/ Marketing Officer (Domisili Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Domisili Tangerang)", title_clean   = " (Domisili Tangerang)", title_id  = "3727"  where id = '13230'
=>>>>>>>>>>>>>>>>>>>>>> 13233 /lvl2/ Marketing Officer Tunas Rent cabang Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tunas Rent cabang Tangerang", title_clean   = " Tunas Rent cabang Tangerang", title_id  = "3727"  where id = '13233'
=>>>>>>>>>>>>>>>>>>>>>> 13245 /lvl2/ Marketing Officer (Domisili Tangerang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Domisili Tangerang)", title_clean   = " (Domisili Tangerang)", title_id  = "3727"  where id = '13245'
=>>>>>>>>>>>>>>>>>>>>>> 13330 /lvl2/ Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3727"  where id = '13330'
=>>>>>>>>>>>>>>>>>>>>>> 13451 /lvl2/ Marketing Officer (AD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (AD)", title_clean   = " (AD)", title_id  = "3727"  where id = '13451'
=>>>>>>>>>>>>>>>>>>>>>> 13643 /lvl2/ Marketing Officer (Lampung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Lampung)", title_clean   = " (Lampung)", title_id  = "3727"  where id = '13643'
=>>>>>>>>>>>>>>>>>>>>>> 13899 /lvl2/ Marketing Officer (Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sumatera Selatan)", title_clean   = " (Sumatera Selatan)", title_id  = "3727"  where id = '13899'
=>>>>>>>>>>>>>>>>>>>>>> 14750 /lvl2/ Marketing Officer (Simas Penjaminan Kredit)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Simas Penjaminan Kredit)", title_clean   = " (Simas Penjaminan Kredit)", title_id  = "3727"  where id = '14750'
=>>>>>>>>>>>>>>>>>>>>>> 15159 /lvl2/ Marketing Officer - PT JLM Auto Indonesia
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PT JLM Auto Indonesia", title_clean   = " - PT JLM Auto Indonesia", title_id  = "3727"  where id = '15159'
=>>>>>>>>>>>>>>>>>>>>>> 16856 /lvl2/ Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3727"  where id = '16856'
=>>>>>>>>>>>>>>>>>>>>>> 17957 /lvl2/ Sales and Marketing Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales and -idex-", title_clean   = "Sales and ", title_id  = "3727"  where id = '17957'
=>>>>>>>>>>>>>>>>>>>>>> 19285 /lvl2/ Marketing Officer ( Domisili Malang )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Domisili Malang )", title_clean   = " ( Domisili Malang )", title_id  = "3727"  where id = '19285'
=>>>>>>>>>>>>>>>>>>>>>> 19861 /lvl2/ MARKETING OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING OFFICER", title_clean   = "MARKETING OFFICER", title_id  = "3727"  where id = '19861'
3983 /lvl1/ Occupancy Manager

=>>>>>>>>>>>>>>>>>>>>>> 2069 /lvl2/ Occupancy Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3983"  where id = '2069'
2960 /lvl1/ It Pmo Specialist
=>>>>>>>>>>>>>>>>>>>>>> 5417 /lvl2/ IT PMO Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT PMO Specialist", title_clean   = "IT PMO Specialist", title_id  = "2960"  where id = '5417'
3216 /lvl1/ Kepala Sekolah Tk
=>>>>>>>>>>>>>>>>>>>>>> 9978 /lvl2/ KEPALA SEKOLAH TK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA SEKOLAH TK", title_clean   = "KEPALA SEKOLAH TK", title_id  = "3216"  where id = '9978'
5264 /lvl1/ Sales Online Shop
=>>>>>>>>>>>>>>>>>>>>>> 15572 /lvl2/ Sales Online Shop
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5264"  where id = '15572'
5009 /lvl1/ Risk Control Unit
=>>>>>>>>>>>>>>>>>>>>>> 14193 /lvl2/ Risk Control Unit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5009"  where id = '14193'
=>>>>>>>>>>>>>>>>>>>>>> 14574 /lvl2/ Risk Control Unit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5009"  where id = '14574'
6546 /lvl1/ Teacher Assistant
=>>>>>>>>>>>>>>>>>>>>>> 1983 /lvl2/ Teacher Assistant (July 2022) - Medan Campus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (July 2022) - Medan Campus", title_clean   = " (July 2022) - Medan Campus", title_id  = "6546"  where id = '1983'
=>>>>>>>>>>>>>>>>>>>>>> 7560 /lvl2/ Elementary Home Room Teacher-Teacher Assistant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Elementary Home Room Teacher--idex-", title_clean   = "Elementary Home Room Teacher-", title_id  = "6546"  where id = '7560'
=>>>>>>>>>>>>>>>>>>>>>> 15823 /lvl2/ Teacher Assistants
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-s", title_clean   = "s", title_id  = "6546"  where id = '15823'
=>>>>>>>>>>>>>>>>>>>>>> 18412 /lvl2/ Teacher Assistant (July 2022)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (July 2022)", title_clean   = " (July 2022)", title_id  = "6546"  where id = '18412'
662 /lvl1/ BPR IT Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6338 /lvl2/ BPR IT Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "662"  where id = '6338'
3478 /lvl1/ Manager Assistant
=>>>>>>>>>>>>>>>>>>>>>> 2273 /lvl2/ Product Manager Assistant (F&B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Product -idex- (F&B)", title_clean   = "Product  (F&B)", title_id  = "3478"  where id = '2273'
=>>>>>>>>>>>>>>>>>>>>>> 5793 /lvl2/ Manager Assistant（bahasa mandarin）
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-（bahasa mandarin）", title_clean   = "（bahasa mandarin）", title_id  = "3478"  where id = '5793'
3735 /lvl1/ Marketing Project
=>>>>>>>>>>>>>>>>>>>>>> 2597 /lvl2/ MARKETING PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING PROJECT", title_clean   = "MARKETING PROJECT", title_id  = "3735"  where id = '2597'
=>>>>>>>>>>>>>>>>>>>>>> 4513 /lvl2/ MARKETING PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING PROJECT", title_clean   = "MARKETING PROJECT", title_id  = "3735"  where id = '4513'
=>>>>>>>>>>>>>>>>>>>>>> 7264 /lvl2/ MARKETING PROJECT (B2C & B2B) MANDARIN SPEAKING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING PROJECT (B2C & B2B) MANDARIN SPEAKING", title_clean   = "MARKETING PROJECT (B2C & B2B) MANDARIN SPEAKING", title_id  = "3735"  where id = '7264'
=>>>>>>>>>>>>>>>>>>>>>> 11735 /lvl2/ MARKETING PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING PROJECT", title_clean   = "MARKETING PROJECT", title_id  = "3735"  where id = '11735'
=>>>>>>>>>>>>>>>>>>>>>> 18913 /lvl2/ MARKETING PROJECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING PROJECT", title_clean   = "MARKETING PROJECT", title_id  = "3735"  where id = '18913'
3991 /lvl1/ Oem Qc Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 4928 /lvl2/ OEM QC Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OEM QC Supervisor", title_clean   = "OEM QC Supervisor", title_id  = "3991"  where id = '4928'
6295 /lvl1/ Supervisor Gudang
=>>>>>>>>>>>>>>>>>>>>>> 4463 /lvl2/ Supervisor Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6295"  where id = '4463'
=>>>>>>>>>>>>>>>>>>>>>> 10940 /lvl2/ Supervisor Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6295"  where id = '10940'
=>>>>>>>>>>>>>>>>>>>>>> 10968 /lvl2/ Supervisor Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6295"  where id = '10968'
=>>>>>>>>>>>>>>>>>>>>>> 18931 /lvl2/ SUPERVISOR GUDANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR GUDANG", title_clean   = "SUPERVISOR GUDANG", title_id  = "6295"  where id = '18931'
=>>>>>>>>>>>>>>>>>>>>>> 19837 /lvl2/ SUPERVISOR GUDANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR GUDANG", title_clean   = "SUPERVISOR GUDANG", title_id  = "6295"  where id = '19837'
3736 /lvl1/ Marketing Promosi
=>>>>>>>>>>>>>>>>>>>>>> 3076 /lvl2/ Marketing Promosi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3736"  where id = '3076'
4248 /lvl1/ Personal Asistant
=>>>>>>>>>>>>>>>>>>>>>> 3671 /lvl2/ PERSONAL ASISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PERSONAL ASISTANT", title_clean   = "PERSONAL ASISTANT", title_id  = "4248"  where id = '3671'
2717 /lvl1/ Inspector Academy
=>>>>>>>>>>>>>>>>>>>>>> 1136 /lvl2/ Inspector Academy
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2717"  where id = '1136'
4765 /lvl1/ Quality Assurance
=>>>>>>>>>>>>>>>>>>>>>> 532 /lvl2/ QUALITY ASSURANCE (HOSPITALITY INDUSTRY)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY ASSURANCE (HOSPITALITY INDUSTRY)", title_clean   = "QUALITY ASSURANCE (HOSPITALITY INDUSTRY)", title_id  = "4765"  where id = '532'
=>>>>>>>>>>>>>>>>>>>>>> 673 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '673'
=>>>>>>>>>>>>>>>>>>>>>> 930 /lvl2/ Quality Assurance - SPMI OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - SPMI OFFICER", title_clean   = " - SPMI OFFICER", title_id  = "4765"  where id = '930'
=>>>>>>>>>>>>>>>>>>>>>> 1586 /lvl2/ Quality Assurance - SPMI OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - SPMI OFFICER", title_clean   = " - SPMI OFFICER", title_id  = "4765"  where id = '1586'
=>>>>>>>>>>>>>>>>>>>>>> 2184 /lvl2/ Software Tester (Quality Assurance) - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Software Tester (-idex-) - Yogyakarta", title_clean   = "Software Tester () - Yogyakarta", title_id  = "4765"  where id = '2184'
=>>>>>>>>>>>>>>>>>>>>>> 2429 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '2429'
=>>>>>>>>>>>>>>>>>>>>>> 4997 /lvl2/ Quality Assurance (Tech)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tech)", title_clean   = " (Tech)", title_id  = "4765"  where id = '4997'
=>>>>>>>>>>>>>>>>>>>>>> 5396 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '5396'
=>>>>>>>>>>>>>>>>>>>>>> 5669 /lvl2/ Quality Assurance  /  Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Quality Control", title_clean   = "  /  Quality Control", title_id  = "4765"  where id = '5669'
=>>>>>>>>>>>>>>>>>>>>>> 6291 /lvl2/ Shopee Express - Operations Quality Assurance (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - Operations -idex- (Surabaya)", title_clean   = "Shopee Express - Operations  (Surabaya)", title_id  = "4765"  where id = '6291'
=>>>>>>>>>>>>>>>>>>>>>> 6328 /lvl2/ Operations Quality Assurance - Shopee Express (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operations -idex- - Shopee Express (Semarang)", title_clean   = "Operations  - Shopee Express (Semarang)", title_id  = "4765"  where id = '6328'
=>>>>>>>>>>>>>>>>>>>>>> 6461 /lvl2/ QA (Quality Assurance) Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA (-idex-) Engineer", title_clean   = "QA () Engineer", title_id  = "4765"  where id = '6461'
=>>>>>>>>>>>>>>>>>>>>>> 6539 /lvl2/ Quality Assurance (QA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (QA)", title_clean   = " (QA)", title_id  = "4765"  where id = '6539'
=>>>>>>>>>>>>>>>>>>>>>> 6765 /lvl2/ Quality Assurance  /  Quality Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Quality Control", title_clean   = "  /  Quality Control", title_id  = "4765"  where id = '6765'
=>>>>>>>>>>>>>>>>>>>>>> 7443 /lvl2/ Shopee Express - Operations Quality Assurance (Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Shopee Express - Operations -idex- (Surabaya)", title_clean   = "Shopee Express - Operations  (Surabaya)", title_id  = "4765"  where id = '7443'
=>>>>>>>>>>>>>>>>>>>>>> 7496 /lvl2/ Operations Quality Assurance - Shopee Express (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operations -idex- - Shopee Express (Semarang)", title_clean   = "Operations  - Shopee Express (Semarang)", title_id  = "4765"  where id = '7496'
=>>>>>>>>>>>>>>>>>>>>>> 9128 /lvl2/ Quality Assurance (People and Premises)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (People and Premises)", title_clean   = " (People and Premises)", title_id  = "4765"  where id = '9128'
=>>>>>>>>>>>>>>>>>>>>>> 9582 /lvl2/ Quality Assurance - BSD (QABSD-BSD-PSS11)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - BSD (QABSD-BSD-PSS11)", title_clean   = " - BSD (QABSD-BSD-PSS11)", title_id  = "4765"  where id = '9582'
=>>>>>>>>>>>>>>>>>>>>>> 10591 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '10591'
=>>>>>>>>>>>>>>>>>>>>>> 11674 /lvl2/ Quality Assurance  /  QA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  QA", title_clean   = "  /  QA", title_id  = "4765"  where id = '11674'
=>>>>>>>>>>>>>>>>>>>>>> 11898 /lvl2/ QUALITY ASSURANCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY ASSURANCE", title_clean   = "QUALITY ASSURANCE", title_id  = "4765"  where id = '11898'
=>>>>>>>>>>>>>>>>>>>>>> 13381 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '13381'
=>>>>>>>>>>>>>>>>>>>>>> 13575 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '13575'
=>>>>>>>>>>>>>>>>>>>>>> 14720 /lvl2/ Branch Quality Assurance (BQA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Branch -idex- (BQA)", title_clean   = "Branch  (BQA)", title_id  = "4765"  where id = '14720'
=>>>>>>>>>>>>>>>>>>>>>> 14980 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '14980'
=>>>>>>>>>>>>>>>>>>>>>> 15290 /lvl2/ Quality Assurance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4765"  where id = '15290'
=>>>>>>>>>>>>>>>>>>>>>> 17085 /lvl2/ Supervisor Trainer & Quality Assurance (collection call)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor Trainer & -idex- (collection call)", title_clean   = "Supervisor Trainer &  (collection call)", title_id  = "4765"  where id = '17085'
=>>>>>>>>>>>>>>>>>>>>>> 17373 /lvl2/ Operations Quality Assurance - Shopee Express (Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operations -idex- - Shopee Express (Jakarta)", title_clean   = "Operations  - Shopee Express (Jakarta)", title_id  = "4765"  where id = '17373'
=>>>>>>>>>>>>>>>>>>>>>> 18347 /lvl2/ Operations Quality Assurance - Shopee Express (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operations -idex- - Shopee Express (Bandung)", title_clean   = "Operations  - Shopee Express (Bandung)", title_id  = "4765"  where id = '18347'
=>>>>>>>>>>>>>>>>>>>>>> 19443 /lvl2/ Quality Assurance & Quality Control - Bogor Area
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Quality Control - Bogor Area", title_clean   = " & Quality Control - Bogor Area", title_id  = "4765"  where id = '19443'
2718 /lvl1/ Inspector Officer

=>>>>>>>>>>>>>>>>>>>>>> 813 /lvl2/ Inspector Officer Purwokerto ,brebes,cilacap
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Purwokerto ,brebes,cilacap", title_clean   = " Purwokerto ,brebes,cilacap", title_id  = "2718"  where id = '813'
=>>>>>>>>>>>>>>>>>>>>>> 4240 /lvl2/ Inspector Officer Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Makassar", title_clean   = " Makassar", title_id  = "2718"  where id = '4240'
=>>>>>>>>>>>>>>>>>>>>>> 20150 /lvl2/ Inspector Officer - Sukabumi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sukabumi", title_clean   = " - Sukabumi", title_id  = "2718"  where id = '20150'
671 /lvl1/ Branch Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 16702 /lvl2/ Branch Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "671"  where id = '16702'
6047 /lvl1/ Staff Gudang Baku
=>>>>>>>>>>>>>>>>>>>>>> 10931 /lvl2/ STAFF GUDANG BAKU
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF GUDANG BAKU", title_clean   = "STAFF GUDANG BAKU", title_id  = "6047"  where id = '10931'
1697 /lvl1/ Engineer Software
=>>>>>>>>>>>>>>>>>>>>>> 4663 /lvl2/ Engineer Software
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1697"  where id = '4663'
6563 /lvl1/ Tech Talent Scout
=>>>>>>>>>>>>>>>>>>>>>> 19299 /lvl2/ Tech Talent Scout
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6563"  where id = '19299'
932 /lvl1/ Civil Engineering
=>>>>>>>>>>>>>>>>>>>>>> 4124 /lvl2/ CIVIL ENGINEERING (ROAD & BRIDGE) ASSISTANT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CIVIL ENGINEERING (ROAD & BRIDGE) ASSISTANT", title_clean   = "CIVIL ENGINEERING (ROAD & BRIDGE) ASSISTANT", title_id  = "932"  where id = '4124'
=>>>>>>>>>>>>>>>>>>>>>> 6026 /lvl2/ CIVIL ENGINEERING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CIVIL ENGINEERING", title_clean   = "CIVIL ENGINEERING", title_id  = "932"  where id = '6026'
=>>>>>>>>>>>>>>>>>>>>>> 7815 /lvl2/ Lecturer Specialist S3 - Civil engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lecturer Specialist S3 - Civil engineering", title_clean   = "Lecturer Specialist S3 - Civil engineering", title_id  = "932"  where id = '7815'
=>>>>>>>>>>>>>>>>>>>>>> 8153 /lvl2/ Lecturer Specialist S3 - Civil engineering
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Lecturer Specialist S3 - Civil engineering", title_clean   = "Lecturer Specialist S3 - Civil engineering", title_id  = "932"  where id = '8153'
=>>>>>>>>>>>>>>>>>>>>>> 10222 /lvl2/ Assistant - Civil Engineering - Placement West Kalimantan Site (Sandai)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant - -idex- - Placement West Kalimantan Site (Sandai)", title_clean   = "Assistant -  - Placement West Kalimantan Site (Sandai)", title_id  = "932"  where id = '10222'
2212 /lvl1/ Geologist Officer
=>>>>>>>>>>>>>>>>>>>>>> 12136 /lvl2/ Geologist Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2212"  where id = '12136'
=>>>>>>>>>>>>>>>>>>>>>> 12140 /lvl2/ Geologist Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2212"  where id = '12140'
2724 /lvl1/ Instore Executive
=>>>>>>>>>>>>>>>>>>>>>> 3185 /lvl2/ Instore Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2724"  where id = '3185'
3497 /lvl1/ Manager Ecommerce
=>>>>>>>>>>>>>>>>>>>>>> 7273 /lvl2/ MANAGER ECOMMERCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER ECOMMERCE", title_clean   = "MANAGER ECOMMERCE", title_id  = "3497"  where id = '7273'
=>>>>>>>>>>>>>>>>>>>>>> 8694 /lvl2/ MANAGER ECOMMERCE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER ECOMMERCE", title_clean   = "MANAGER ECOMMERCE", title_id  = "3497"  where id = '8694'
5033 /lvl1/ Safety Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 14705 /lvl2/ DOC. CONTROL, HEALTH & SAFETY SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOC. CONTROL, HEALTH & SAFETY SUPERVISOR", title_clean   = "DOC. CONTROL, HEALTH & SAFETY SUPERVISOR", title_id  = "5033"  where id = '14705'
=>>>>>>>>>>>>>>>>>>>>>> 15079 /lvl2/ Safety Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5033"  where id = '15079'
=>>>>>>>>>>>>>>>>>>>>>> 15107 /lvl2/ DOC. CONTROL, HEALTH & SAFETY SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOC. CONTROL, HEALTH & SAFETY SUPERVISOR", title_clean   = "DOC. CONTROL, HEALTH & SAFETY SUPERVISOR", title_id  = "5033"  where id = '15107'
6825 /lvl1/ Transport Officer
=>>>>>>>>>>>>>>>>>>>>>> 4401 /lvl2/ Transport Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6825"  where id = '4401'
1195 /lvl1/ Course Consultant
=>>>>>>>>>>>>>>>>>>>>>> 3343 /lvl2/ Course Consultant \u002F Sales (EF Pamulang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Sales (EF Pamulang)", title_clean   = " \u002F Sales (EF Pamulang)", title_id  = "1195"  where id = '3343'
=>>>>>>>>>>>>>>>>>>>>>> 5072 /lvl2/ Course Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1195"  where id = '5072'
=>>>>>>>>>>>>>>>>>>>>>> 8021 /lvl2/ Course Consultant - Cipinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cipinang", title_clean   = " - Cipinang", title_id  = "1195"  where id = '8021'
=>>>>>>>>>>>>>>>>>>>>>> 8326 /lvl2/ Course Consultant - Cipinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cipinang", title_clean   = " - Cipinang", title_id  = "1195"  where id = '8326'
5036 /lvl1/ Sales / Marketing
5804 /lvl1/ Software Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3791 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '3791'
=>>>>>>>>>>>>>>>>>>>>>> 4307 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '4307'
=>>>>>>>>>>>>>>>>>>>>>> 4345 /lvl2/ Software Engineer (WFH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (WFH)", title_clean   = " (WFH)", title_id  = "5804"  where id = '4345'
=>>>>>>>>>>>>>>>>>>>>>> 4464 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '4464'
=>>>>>>>>>>>>>>>>>>>>>> 5287 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '5287'
=>>>>>>>>>>>>>>>>>>>>>> 5387 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '5387'
=>>>>>>>>>>>>>>>>>>>>>> 5651 /lvl2/ Software Engineer Programmer Developer (Jakarta Work From Home)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Programmer Developer (Jakarta Work From Home)", title_clean   = " Programmer Developer (Jakarta Work From Home)", title_id  = "5804"  where id = '5651'
=>>>>>>>>>>>>>>>>>>>>>> 5732 /lvl2/ WEB DEVELOPER (SOFTWARE ENGINEER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "WEB DEVELOPER (SOFTWARE ENGINEER)", title_clean   = "WEB DEVELOPER (SOFTWARE ENGINEER)", title_id  = "5804"  where id = '5732'
=>>>>>>>>>>>>>>>>>>>>>> 6015 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '6015'
=>>>>>>>>>>>>>>>>>>>>>> 6413 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '6413'
=>>>>>>>>>>>>>>>>>>>>>> 6892 /lvl2/ RnD Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RnD -idex-", title_clean   = "RnD ", title_id  = "5804"  where id = '6892'
=>>>>>>>>>>>>>>>>>>>>>> 7229 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '7229'
=>>>>>>>>>>>>>>>>>>>>>> 8486 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '8486'
=>>>>>>>>>>>>>>>>>>>>>> 8507 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '8507'
=>>>>>>>>>>>>>>>>>>>>>> 9198 /lvl2/ Software Engineer - KG Media
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KG Media", title_clean   = " - KG Media", title_id  = "5804"  where id = '9198'
=>>>>>>>>>>>>>>>>>>>>>> 10079 /lvl2/ Software Engineer (Golang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Golang)", title_clean   = " (Golang)", title_id  = "5804"  where id = '10079'
=>>>>>>>>>>>>>>>>>>>>>> 10360 /lvl2/ SOFTWARE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOFTWARE ENGINEER", title_clean   = "SOFTWARE ENGINEER", title_id  = "5804"  where id = '10360'
=>>>>>>>>>>>>>>>>>>>>>> 10480 /lvl2/ Software Engineer (PHP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (PHP)", title_clean   = " (PHP)", title_id  = "5804"  where id = '10480'
=>>>>>>>>>>>>>>>>>>>>>> 10487 /lvl2/ Software Engineer (Web)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Web)", title_clean   = " (Web)", title_id  = "5804"  where id = '10487'
=>>>>>>>>>>>>>>>>>>>>>> 10690 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '10690'
=>>>>>>>>>>>>>>>>>>>>>> 10714 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '10714'
=>>>>>>>>>>>>>>>>>>>>>> 10747 /lvl2/ ODR - Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ODR - -idex-", title_clean   = "ODR - ", title_id  = "5804"  where id = '10747'
=>>>>>>>>>>>>>>>>>>>>>> 10790 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '10790'
=>>>>>>>>>>>>>>>>>>>>>> 10872 /lvl2/ Software Engineer Flutter (Jogja Placement)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Flutter (Jogja Placement)", title_clean   = " Flutter (Jogja Placement)", title_id  = "5804"  where id = '10872'
=>>>>>>>>>>>>>>>>>>>>>> 10932 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '10932'
=>>>>>>>>>>>>>>>>>>>>>> 10977 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '10977'
=>>>>>>>>>>>>>>>>>>>>>> 11005 /lvl2/ Software Engineer .Net (Jogja Placement)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- .Net (Jogja Placement)", title_clean   = " .Net (Jogja Placement)", title_id  = "5804"  where id = '11005'
=>>>>>>>>>>>>>>>>>>>>>> 11052 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '11052'
=>>>>>>>>>>>>>>>>>>>>>> 11068 /lvl2/ Software Engineer (Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bandung)", title_clean   = " (Bandung)", title_id  = "5804"  where id = '11068'
=>>>>>>>>>>>>>>>>>>>>>> 11088 /lvl2/ ODR - Software Engineer Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ODR - -idex- Lead", title_clean   = "ODR -  Lead", title_id  = "5804"  where id = '11088'
=>>>>>>>>>>>>>>>>>>>>>> 11332 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '11332'
=>>>>>>>>>>>>>>>>>>>>>> 11342 /lvl2/ Software Engineer (Full Stack Javascript)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Full Stack Javascript)", title_clean   = " (Full Stack Javascript)", title_id  = "5804"  where id = '11342'
=>>>>>>>>>>>>>>>>>>>>>> 11394 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '11394'
=>>>>>>>>>>>>>>>>>>>>>> 11400 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '11400'
=>>>>>>>>>>>>>>>>>>>>>> 11595 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '11595'
=>>>>>>>>>>>>>>>>>>>>>> 12750 /lvl2/ Software Engineer - Backend
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Backend", title_clean   = " - Backend", title_id  = "5804"  where id = '12750'
=>>>>>>>>>>>>>>>>>>>>>> 12766 /lvl2/ Software Engineer - Backend
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Backend", title_clean   = " - Backend", title_id  = "5804"  where id = '12766'
=>>>>>>>>>>>>>>>>>>>>>> 12964 /lvl2/ Software Engineer (Ruby\u002FGolang Developer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Ruby\u002FGolang Developer)", title_clean   = " (Ruby\u002FGolang Developer)", title_id  = "5804"  where id = '12964'
=>>>>>>>>>>>>>>>>>>>>>> 12966 /lvl2/ Software Engineer, Full-stack
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-, Full-stack", title_clean   = ", Full-stack", title_id  = "5804"  where id = '12966'
=>>>>>>>>>>>>>>>>>>>>>> 12968 /lvl2/ Software Engineer \u002F Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Programmer", title_clean   = " \u002F Programmer", title_id  = "5804"  where id = '12968'
=>>>>>>>>>>>>>>>>>>>>>> 13879 /lvl2/ Software Engineer - Backend
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Backend", title_clean   = " - Backend", title_id  = "5804"  where id = '13879'
=>>>>>>>>>>>>>>>>>>>>>> 14945 /lvl2/ Software Engineer : Back-end
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- : Back-end", title_clean   = " : Back-end", title_id  = "5804"  where id = '14945'
=>>>>>>>>>>>>>>>>>>>>>> 15636 /lvl2/ Software Engineer : Back-end
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- : Back-end", title_clean   = " : Back-end", title_id  = "5804"  where id = '15636'
=>>>>>>>>>>>>>>>>>>>>>> 15651 /lvl2/ Software Engineer : Back-end
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- : Back-end", title_clean   = " : Back-end", title_id  = "5804"  where id = '15651'
=>>>>>>>>>>>>>>>>>>>>>> 16041 /lvl2/ Software Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5804"  where id = '16041'
=>>>>>>>>>>>>>>>>>>>>>> 19638 /lvl2/ IT Hardware\u002FSoftware Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Hardware\u002F-idex-", title_clean   = "IT Hardware\u002F", title_id  = "5804"  where id = '19638'
6572 /lvl1/ Technical Analyst

=>>>>>>>>>>>>>>>>>>>>>> 2667 /lvl2/ TECHNICAL ANALYST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL ANALYST", title_clean   = "TECHNICAL ANALYST", title_id  = "6572"  where id = '2667'
=>>>>>>>>>>>>>>>>>>>>>> 14606 /lvl2/ Technical Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6572"  where id = '14606'
=>>>>>>>>>>>>>>>>>>>>>> 14985 /lvl2/ Technical Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6572"  where id = '14985'
6828 /lvl1/ Travel Consultant
=>>>>>>>>>>>>>>>>>>>>>> 1648 /lvl2/ Travel Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6828"  where id = '1648'
=>>>>>>>>>>>>>>>>>>>>>> 12776 /lvl2/ TRAVEL CONSULTANT JAYAPURA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAVEL CONSULTANT JAYAPURA", title_clean   = "TRAVEL CONSULTANT JAYAPURA", title_id  = "6828"  where id = '12776'
=>>>>>>>>>>>>>>>>>>>>>> 12792 /lvl2/ TRAVEL CONSULTANT JAYAPURA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TRAVEL CONSULTANT JAYAPURA", title_clean   = "TRAVEL CONSULTANT JAYAPURA", title_id  = "6828"  where id = '12792'
=>>>>>>>>>>>>>>>>>>>>>> 18113 /lvl2/ Travel Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6828"  where id = '18113'
941 /lvl1/ Classroom Teacher
1198 /lvl1/ Creative & Design
=>>>>>>>>>>>>>>>>>>>>>> 10018 /lvl2/ Creative & Design
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1198"  where id = '10018'
1454 /lvl1/ Development Staff
=>>>>>>>>>>>>>>>>>>>>>> 5046 /lvl2/ Development Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1454"  where id = '5046'
4270 /lvl1/ Pharmacy Lecturer
=>>>>>>>>>>>>>>>>>>>>>> 10426 /lvl2/ Full time Pharmacy Lecturer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Full time -idex-", title_clean   = "Full time ", title_id  = "4270"  where id = '10426'
3503 /lvl1/ Manager Finishing
=>>>>>>>>>>>>>>>>>>>>>> 7632 /lvl2/ Manager Finishing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3503"  where id = '7632'
3761 /lvl1/ Marketing Support
=>>>>>>>>>>>>>>>>>>>>>> 1156 /lvl2/ MARKETING SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPPORT", title_clean   = "MARKETING SUPPORT", title_id  = "3761"  where id = '1156'
=>>>>>>>>>>>>>>>>>>>>>> 1434 /lvl2/ Marketing Support and Program
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Program", title_clean   = " and Program", title_id  = "3761"  where id = '1434'
=>>>>>>>>>>>>>>>>>>>>>> 3255 /lvl2/ Marketing Support / Sales Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- / Sales Admin", title_clean   = " / Sales Admin", title_id  = "3761"  where id = '3255'
=>>>>>>>>>>>>>>>>>>>>>> 3479 /lvl2/ MARKETING SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPPORT", title_clean   = "MARKETING SUPPORT", title_id  = "3761"  where id = '3479'
=>>>>>>>>>>>>>>>>>>>>>> 12076 /lvl2/ Marketing Support (Administration)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Administration)", title_clean   = " (Administration)", title_id  = "3761"  where id = '12076'
=>>>>>>>>>>>>>>>>>>>>>> 13085 /lvl2/ Area Marketing Support (AMS) Wilayah Jawa Tengah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- (AMS) Wilayah Jawa Tengah", title_clean   = "Area  (AMS) Wilayah Jawa Tengah", title_id  = "3761"  where id = '13085'
=>>>>>>>>>>>>>>>>>>>>>> 13102 /lvl2/ Area Marketing Support (AMS) Wilayah Jawa Tengah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- (AMS) Wilayah Jawa Tengah", title_clean   = "Area  (AMS) Wilayah Jawa Tengah", title_id  = "3761"  where id = '13102'
=>>>>>>>>>>>>>>>>>>>>>> 14246 /lvl2/ Marketing Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3761"  where id = '14246'
=>>>>>>>>>>>>>>>>>>>>>> 15325 /lvl2/ Marketing Support Insurance (Leasing & Dealer & Bancassurance)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Insurance (Leasing & Dealer & Bancassurance)", title_clean   = " Insurance (Leasing & Dealer & Bancassurance)", title_id  = "3761"  where id = '15325'
=>>>>>>>>>>>>>>>>>>>>>> 17787 /lvl2/ MARKETING SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPPORT", title_clean   = "MARKETING SUPPORT", title_id  = "3761"  where id = '17787'
=>>>>>>>>>>>>>>>>>>>>>> 19556 /lvl2/ MARKETING SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING SUPPORT", title_clean   = "MARKETING SUPPORT", title_id  = "3761"  where id = '19556'
=>>>>>>>>>>>>>>>>>>>>>> 20407 /lvl2/ Marketing Support Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Bandung", title_clean   = " Bandung", title_id  = "3761"  where id = '20407'
5553 /lvl1/ Senior IT Support
=>>>>>>>>>>>>>>>>>>>>>> 6002 /lvl2/ Senior IT Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5553"  where id = '6002'
5809 /lvl1/ Software Engineer
6321 /lvl1/ Supervisor Lombok
=>>>>>>>>>>>>>>>>>>>>>> 9866 /lvl2/ SUPERVISOR LOMBOK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR LOMBOK", title_clean   = "SUPERVISOR LOMBOK", title_id  = "6321"  where id = '9866'
1458 /lvl1/ Devops Specialist
=>>>>>>>>>>>>>>>>>>>>>> 6644 /lvl2/ DevOps Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DevOps Specialist", title_clean   = "DevOps Specialist", title_id  = "1458"  where id = '6644'
1714 /lvl1/ Engineering Staff
=>>>>>>>>>>>>>>>>>>>>>> 622 /lvl2/ Design Engineering Staff (IPGE - Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Design -idex- (IPGE - Surabaya)", title_clean   = "Design  (IPGE - Surabaya)", title_id  = "1714"  where id = '622'
=>>>>>>>>>>>>>>>>>>>>>> 3311 /lvl2/ ENGINEERING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ENGINEERING STAFF", title_clean   = "ENGINEERING STAFF", title_id  = "1714"  where id = '3311'
=>>>>>>>>>>>>>>>>>>>>>> 4161 /lvl2/ Engineering Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1714"  where id = '4161'
=>>>>>>>>>>>>>>>>>>>>>> 5154 /lvl2/ Engineering Staff (Jakarta Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta Utara)", title_clean   = " (Jakarta Utara)", title_id  = "1714"  where id = '5154'
=>>>>>>>>>>>>>>>>>>>>>> 5164 /lvl2/ Engineering Staff (Jakarta Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Jakarta Selatan)", title_clean   = " (Jakarta Selatan)", title_id  = "1714"  where id = '5164'
=>>>>>>>>>>>>>>>>>>>>>> 14745 /lvl2/ Teknisi Mesin & Listrik u002F Engineering Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Teknisi Mesin & Listrik u002F -idex-", title_clean   = "Teknisi Mesin & Listrik u002F ", title_id  = "1714"  where id = '14745'
=>>>>>>>>>>>>>>>>>>>>>> 16742 /lvl2/ Engineering Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1714"  where id = '16742'
2226 /lvl1/ Go To Market Lead
=>>>>>>>>>>>>>>>>>>>>>> 7206 /lvl2/ GO TO MARKET LEAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GO TO MARKET LEAD", title_clean   = "GO TO MARKET LEAD", title_id  = "2226"  where id = '7206'
179 /lvl1/ Ecommerce Manager
=>>>>>>>>>>>>>>>>>>>>>> 8530 /lvl2/ Admin Ecommerce  /  ECommerce Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin Ecommerce  /  ECommerce Manager", title_clean   = "Admin Ecommerce  /  ECommerce Manager", title_id  = "179"  where id = '8530'
2996 /lvl1/ It Security Staff
=>>>>>>>>>>>>>>>>>>>>>> 9734 /lvl2/ IT Security Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Staff", title_clean   = "IT Security Staff", title_id  = "2996"  where id = '9734'
=>>>>>>>>>>>>>>>>>>>>>> 9748 /lvl2/ IT Security Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Security Staff", title_clean   = "IT Security Staff", title_id  = "2996"  where id = '9748'
3252 /lvl1/ Kolektor Lapangan
=>>>>>>>>>>>>>>>>>>>>>> 4830 /lvl2/ Kolektor Lapangan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3252"  where id = '4830'
2741 /lvl1/ Interior Desainer
=>>>>>>>>>>>>>>>>>>>>>> 4795 /lvl2/ Interior Desainer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2741"  where id = '4795'
=>>>>>>>>>>>>>>>>>>>>>> 5890 /lvl2/ Interior Desainer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2741"  where id = '5890'
1207 /lvl1/ Creative Designer

=>>>>>>>>>>>>>>>>>>>>>> 10549 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '10549'
=>>>>>>>>>>>>>>>>>>>>>> 11227 /lvl2/ Creative Designer (Graphic Design & Video Producer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Graphic Design & Video Producer)", title_clean   = " (Graphic Design & Video Producer)", title_id  = "1207"  where id = '11227'
=>>>>>>>>>>>>>>>>>>>>>> 18059 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '18059'
=>>>>>>>>>>>>>>>>>>>>>> 18075 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '18075'
=>>>>>>>>>>>>>>>>>>>>>> 18670 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '18670'
=>>>>>>>>>>>>>>>>>>>>>> 18685 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '18685'
=>>>>>>>>>>>>>>>>>>>>>> 18691 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '18691'
=>>>>>>>>>>>>>>>>>>>>>> 18708 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '18708'
=>>>>>>>>>>>>>>>>>>>>>> 19053 /lvl2/ Creative Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1207"  where id = '19053'
5047 /lvl1/ Sales & Marketing
=>>>>>>>>>>>>>>>>>>>>>> 1616 /lvl2/ Sales & Marketing - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jakarta", title_clean   = " - Jakarta", title_id  = "5047"  where id = '1616'
=>>>>>>>>>>>>>>>>>>>>>> 1802 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '1802'
=>>>>>>>>>>>>>>>>>>>>>> 2157 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '2157'
=>>>>>>>>>>>>>>>>>>>>>> 3758 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '3758'
=>>>>>>>>>>>>>>>>>>>>>> 4726 /lvl2/ SALES & MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING", title_clean   = "SALES & MARKETING", title_id  = "5047"  where id = '4726'
=>>>>>>>>>>>>>>>>>>>>>> 6636 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '6636'
=>>>>>>>>>>>>>>>>>>>>>> 8839 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '8839'
=>>>>>>>>>>>>>>>>>>>>>> 9607 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '9607'
=>>>>>>>>>>>>>>>>>>>>>> 10859 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '10859'
=>>>>>>>>>>>>>>>>>>>>>> 10935 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '10935'
=>>>>>>>>>>>>>>>>>>>>>> 10973 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '10973'
=>>>>>>>>>>>>>>>>>>>>>> 11283 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '11283'
=>>>>>>>>>>>>>>>>>>>>>> 13725 /lvl2/ SALES & MARKETING TYRE- SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES & MARKETING TYRE- SURABAYA", title_clean   = "SALES & MARKETING TYRE- SURABAYA", title_id  = "5047"  where id = '13725'
=>>>>>>>>>>>>>>>>>>>>>> 13817 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '13817'
=>>>>>>>>>>>>>>>>>>>>>> 13829 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '13829'
=>>>>>>>>>>>>>>>>>>>>>> 14179 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '14179'
=>>>>>>>>>>>>>>>>>>>>>> 14552 /lvl2/ Sales & Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5047"  where id = '14552'
=>>>>>>>>>>>>>>>>>>>>>> 15045 /lvl2/ Sales & Marketing Area Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Medan", title_clean   = " Area Medan", title_id  = "5047"  where id = '15045'
=>>>>>>>>>>>>>>>>>>>>>> 19135 /lvl2/ Director of Sales & Marketing (Perhotelan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Director of -idex- (Perhotelan)", title_clean   = "Director of  (Perhotelan)", title_id  = "5047"  where id = '19135'
2744 /lvl1/ Interior Designer
=>>>>>>>>>>>>>>>>>>>>>> 4007 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '4007'
=>>>>>>>>>>>>>>>>>>>>>> 7394 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '7394'
=>>>>>>>>>>>>>>>>>>>>>> 7451 /lvl2/ INTERIOR DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERIOR DESIGNER", title_clean   = "INTERIOR DESIGNER", title_id  = "2744"  where id = '7451'
=>>>>>>>>>>>>>>>>>>>>>> 7808 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '7808'
=>>>>>>>>>>>>>>>>>>>>>> 8105 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '8105'
=>>>>>>>>>>>>>>>>>>>>>> 8867 /lvl2/ INTERIOR DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERIOR DESIGNER", title_clean   = "INTERIOR DESIGNER", title_id  = "2744"  where id = '8867'
=>>>>>>>>>>>>>>>>>>>>>> 9045 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '9045'
=>>>>>>>>>>>>>>>>>>>>>> 10265 /lvl2/ INTERIOR DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INTERIOR DESIGNER", title_clean   = "INTERIOR DESIGNER", title_id  = "2744"  where id = '10265'
=>>>>>>>>>>>>>>>>>>>>>> 10704 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '10704'
=>>>>>>>>>>>>>>>>>>>>>> 10709 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '10709'
=>>>>>>>>>>>>>>>>>>>>>> 11704 /lvl2/ Interior Designer - Freelance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Freelance", title_clean   = " - Freelance", title_id  = "2744"  where id = '11704'
=>>>>>>>>>>>>>>>>>>>>>> 11712 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '11712'
=>>>>>>>>>>>>>>>>>>>>>> 13415 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '13415'
=>>>>>>>>>>>>>>>>>>>>>> 15831 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '15831'
=>>>>>>>>>>>>>>>>>>>>>> 15833 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '15833'
=>>>>>>>>>>>>>>>>>>>>>> 16202 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '16202'
=>>>>>>>>>>>>>>>>>>>>>> 16220 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '16220'
=>>>>>>>>>>>>>>>>>>>>>> 19695 /lvl2/ Magang Architectu002F Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Magang Architectu002F -idex-", title_clean   = "Magang Architectu002F ", title_id  = "2744"  where id = '19695'
=>>>>>>>>>>>>>>>>>>>>>> 20177 /lvl2/ Interior Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2744"  where id = '20177'
6584 /lvl1/ Technical Manager
=>>>>>>>>>>>>>>>>>>>>>> 1873 /lvl2/ Technical Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6584"  where id = '1873'
=>>>>>>>>>>>>>>>>>>>>>> 19231 /lvl2/ Technical Manager (Mining - Kalimantan Utara)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mining - Kalimantan Utara)", title_clean   = " (Mining - Kalimantan Utara)", title_id  = "6584"  where id = '19231'
953 /lvl1/ Clinic Supervisor

=>>>>>>>>>>>>>>>>>>>>>> 16345 /lvl2/ Clinic Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "953"  where id = '16345'
1209 /lvl1/ Creative Director
=>>>>>>>>>>>>>>>>>>>>>> 8932 /lvl2/ Creative Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1209"  where id = '8932'
=>>>>>>>>>>>>>>>>>>>>>> 12305 /lvl2/ Creative Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1209"  where id = '12305'
6841 /lvl1/ Uc Center Officer
=>>>>>>>>>>>>>>>>>>>>>> 12050 /lvl2/ UC Center Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UC Center Officer", title_clean   = "UC Center Officer", title_id  = "6841"  where id = '12050'
4283 /lvl1/ Php Web Developer
=>>>>>>>>>>>>>>>>>>>>>> 6757 /lvl2/ PHP Web Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PHP Web Developer", title_clean   = "PHP Web Developer", title_id  = "4283"  where id = '6757'
=>>>>>>>>>>>>>>>>>>>>>> 17046 /lvl2/ PHP Web Developer- Work From Home Basic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PHP Web Developer- Work From Home Basic", title_clean   = "PHP Web Developer- Work From Home Basic", title_id  = "4283"  where id = '17046'
1213 /lvl1/ Creative Producer
=>>>>>>>>>>>>>>>>>>>>>> 13431 /lvl2/ Creative Producer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1213"  where id = '13431'
6845 /lvl1/ Ui / Ux Developer
=>>>>>>>>>>>>>>>>>>>>>> 11446 /lvl2/ UI / UX Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UI / UX Developer", title_clean   = "UI / UX Developer", title_id  = "6845"  where id = '11446'
6335 /lvl1/ Supervisor Outlet
=>>>>>>>>>>>>>>>>>>>>>> 1291 /lvl2/ Supervisor Outlet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6335"  where id = '1291'
=>>>>>>>>>>>>>>>>>>>>>> 1738 /lvl2/ Supervisor Outlet
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6335"  where id = '1738'
=>>>>>>>>>>>>>>>>>>>>>> 9584 /lvl2/ Supervisor Outlet Boga Kitchen Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Boga Kitchen Cirebon", title_clean   = " Boga Kitchen Cirebon", title_id  = "6335"  where id = '9584'
448 /lvl1/ Asisten Transport
=>>>>>>>>>>>>>>>>>>>>>> 16916 /lvl2/ ASISTEN TRANSPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASISTEN TRANSPORT", title_clean   = "ASISTEN TRANSPORT", title_id  = "448"  where id = '16916'
3520 /lvl1/ Manager Marketing
=>>>>>>>>>>>>>>>>>>>>>> 2201 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '2201'
=>>>>>>>>>>>>>>>>>>>>>> 6225 /lvl2/ Asst. Manager Marketing (Banten Area)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Asst. -idex- (Banten Area)", title_clean   = "Asst.  (Banten Area)", title_id  = "3520"  where id = '6225'
=>>>>>>>>>>>>>>>>>>>>>> 7902 /lvl2/ MANAGER MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAGER MARKETING", title_clean   = "MANAGER MARKETING", title_id  = "3520"  where id = '7902'
=>>>>>>>>>>>>>>>>>>>>>> 8421 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '8421'
=>>>>>>>>>>>>>>>>>>>>>> 10185 /lvl2/ Manager Marketing Pintu Baja (Mandarin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pintu Baja (Mandarin)", title_clean   = " Pintu Baja (Mandarin)", title_id  = "3520"  where id = '10185'
=>>>>>>>>>>>>>>>>>>>>>> 10943 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '10943'
=>>>>>>>>>>>>>>>>>>>>>> 10952 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '10952'
=>>>>>>>>>>>>>>>>>>>>>> 13019 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '13019'
=>>>>>>>>>>>>>>>>>>>>>> 13035 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '13035'
=>>>>>>>>>>>>>>>>>>>>>> 20184 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '20184'
=>>>>>>>>>>>>>>>>>>>>>> 20526 /lvl2/ Manager Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3520"  where id = '20526'
3009 /lvl1/ It Solution Staff
=>>>>>>>>>>>>>>>>>>>>>> 11868 /lvl2/ IT SOLUTION STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT SOLUTION STAFF", title_clean   = "IT SOLUTION STAFF", title_id  = "3009"  where id = '11868'
3266 /lvl1/ Koordinator Kasir
=>>>>>>>>>>>>>>>>>>>>>> 19026 /lvl2/ Koordinator Kasir
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3266"  where id = '19026'
6082 /lvl1/ Staff Keperawatan
=>>>>>>>>>>>>>>>>>>>>>> 4000 /lvl2/ STAFF KEPERAWATAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF KEPERAWATAN", title_clean   = "STAFF KEPERAWATAN", title_id  = "6082"  where id = '4000'
2755 /lvl1/ Internal Audit IT
=>>>>>>>>>>>>>>>>>>>>>> 4338 /lvl2/ Internal Audit IT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2755"  where id = '4338'
4035 /lvl1/ Operation Analyst
=>>>>>>>>>>>>>>>>>>>>>> 1429 /lvl2/ Operation Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4035"  where id = '1429'
4547 /lvl1/ Project Scheduler
=>>>>>>>>>>>>>>>>>>>>>> 9086 /lvl2/ Project Scheduler
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4547"  where id = '9086'
=>>>>>>>>>>>>>>>>>>>>>> 17462 /lvl2/ Project Control \u002F Project Scheduler
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Project Control \u002F -idex-", title_clean   = "Project Control \u002F ", title_id  = "4547"  where id = '17462'
3780 /lvl1/ Material Planning
=>>>>>>>>>>>>>>>>>>>>>> 19271 /lvl2/ MATERIAL PLANNING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MATERIAL PLANNING", title_clean   = "MATERIAL PLANNING", title_id  = "3780"  where id = '19271'
713 /lvl1/ Budgeting Manager
=>>>>>>>>>>>>>>>>>>>>>> 17377 /lvl2/ Budgeting Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "713"  where id = '17377'
5833 /lvl1/ Sopir Mobil Derek
=>>>>>>>>>>>>>>>>>>>>>> 20037 /lvl2/ SOPIR MOBIL DEREK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SOPIR MOBIL DEREK", title_clean   = "SOPIR MOBIL DEREK", title_id  = "5833"  where id = '20037'
3275 /lvl1/ Koordinator Sales
=>>>>>>>>>>>>>>>>>>>>>> 4900 /lvl2/ Koordinator Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3275"  where id = '4900'
=>>>>>>>>>>>>>>>>>>>>>> 13921 /lvl2/ Sales, Team Leader\u002FSupervisor dan Koordinator Sales Produk FMCG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sales, Team Leader\u002FSupervisor dan -idex- Produk FMCG", title_clean   = "Sales, Team Leader\u002FSupervisor dan  Produk FMCG", title_id  = "3275"  where id = '13921'
=>>>>>>>>>>>>>>>>>>>>>> 18363 /lvl2/ Manager Sales & Koordinator Sales Akuisisi Warung \u002F Toko BALI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Manager Sales & -idex- Akuisisi Warung \u002F Toko BALI", title_clean   = "Manager Sales &  Akuisisi Warung \u002F Toko BALI", title_id  = "3275"  where id = '18363'
4043 /lvl1/ Operation Manager
=>>>>>>>>>>>>>>>>>>>>>> 4172 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '4172'
=>>>>>>>>>>>>>>>>>>>>>> 4410 /lvl2/ OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION MANAGER", title_clean   = "OPERATION MANAGER", title_id  = "4043"  where id = '4410'
=>>>>>>>>>>>>>>>>>>>>>> 5200 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '5200'
=>>>>>>>>>>>>>>>>>>>>>> 6263 /lvl2/ Marketing Operation Manager (市场推广经理)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing -idex- (市场推广经理)", title_clean   = "Marketing  (市场推广经理)", title_id  = "4043"  where id = '6263'
=>>>>>>>>>>>>>>>>>>>>>> 10129 /lvl2/ OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION MANAGER", title_clean   = "OPERATION MANAGER", title_id  = "4043"  where id = '10129'
=>>>>>>>>>>>>>>>>>>>>>> 10140 /lvl2/ OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION MANAGER", title_clean   = "OPERATION MANAGER", title_id  = "4043"  where id = '10140'
=>>>>>>>>>>>>>>>>>>>>>> 10641 /lvl2/ National Sales And Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "National Sales And -idex-", title_clean   = "National Sales And ", title_id  = "4043"  where id = '10641'
=>>>>>>>>>>>>>>>>>>>>>> 13197 /lvl2/ OPERATION MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATION MANAGER", title_clean   = "OPERATION MANAGER", title_id  = "4043"  where id = '13197'
=>>>>>>>>>>>>>>>>>>>>>> 13385 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '13385'
=>>>>>>>>>>>>>>>>>>>>>> 14648 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '14648'
=>>>>>>>>>>>>>>>>>>>>>> 15222 /lvl2/ Operation Manager  Hospital - Ciputat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  Hospital - Ciputat", title_clean   = "  Hospital - Ciputat", title_id  = "4043"  where id = '15222'
=>>>>>>>>>>>>>>>>>>>>>> 17229 /lvl2/ Branch Operation Manager - Palangkaraya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Branch -idex- - Palangkaraya", title_clean   = "Branch  - Palangkaraya", title_id  = "4043"  where id = '17229'
=>>>>>>>>>>>>>>>>>>>>>> 18882 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '18882'
=>>>>>>>>>>>>>>>>>>>>>> 18983 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '18983'
=>>>>>>>>>>>>>>>>>>>>>> 20274 /lvl2/ Operation Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4043"  where id = '20274'
1484 /lvl1/ Digital Marketing

=>>>>>>>>>>>>>>>>>>>>>> 1339 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '1339'
=>>>>>>>>>>>>>>>>>>>>>> 1629 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '1629'
=>>>>>>>>>>>>>>>>>>>>>> 1655 /lvl2/ DIGITAL MARKETING ADVERTISING (RETARGETING)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING ADVERTISING (RETARGETING)", title_clean   = "DIGITAL MARKETING ADVERTISING (RETARGETING)", title_id  = "1484"  where id = '1655'
=>>>>>>>>>>>>>>>>>>>>>> 2068 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '2068'
=>>>>>>>>>>>>>>>>>>>>>> 2193 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '2193'
=>>>>>>>>>>>>>>>>>>>>>> 2454 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '2454'
=>>>>>>>>>>>>>>>>>>>>>> 2610 /lvl2/ GM of Digital Marketing (for RETAIL)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "GM of -idex- (for RETAIL)", title_clean   = "GM of  (for RETAIL)", title_id  = "1484"  where id = '2610'
=>>>>>>>>>>>>>>>>>>>>>> 2726 /lvl2/ Penjualan  /  Pemasaran, Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Penjualan  /  Pemasaran, -idex-", title_clean   = "Penjualan  /  Pemasaran, ", title_id  = "1484"  where id = '2726'
=>>>>>>>>>>>>>>>>>>>>>> 3433 /lvl2/ Digital marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital marketing", title_clean   = "Digital marketing", title_id  = "1484"  where id = '3433'
=>>>>>>>>>>>>>>>>>>>>>> 3620 /lvl2/ Digital Marketing Oficer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Oficer", title_clean   = " Oficer", title_id  = "1484"  where id = '3620'
=>>>>>>>>>>>>>>>>>>>>>> 3913 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '3913'
=>>>>>>>>>>>>>>>>>>>>>> 4057 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '4057'
=>>>>>>>>>>>>>>>>>>>>>> 4129 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '4129'
=>>>>>>>>>>>>>>>>>>>>>> 4230 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '4230'
=>>>>>>>>>>>>>>>>>>>>>> 4290 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '4290'
=>>>>>>>>>>>>>>>>>>>>>> 4318 /lvl2/ Digital marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital marketing", title_clean   = "Digital marketing", title_id  = "1484"  where id = '4318'
=>>>>>>>>>>>>>>>>>>>>>> 4589 /lvl2/ DIGITAL MARKETING OSRAM AUTOMOTIVE (DMOA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING OSRAM AUTOMOTIVE (DMOA)", title_clean   = "DIGITAL MARKETING OSRAM AUTOMOTIVE (DMOA)", title_id  = "1484"  where id = '4589'
=>>>>>>>>>>>>>>>>>>>>>> 4738 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '4738'
=>>>>>>>>>>>>>>>>>>>>>> 4740 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '4740'
=>>>>>>>>>>>>>>>>>>>>>> 4802 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '4802'
=>>>>>>>>>>>>>>>>>>>>>> 4952 /lvl2/ SPV Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex-", title_clean   = "SPV ", title_id  = "1484"  where id = '4952'
=>>>>>>>>>>>>>>>>>>>>>> 4956 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '4956'
=>>>>>>>>>>>>>>>>>>>>>> 4998 /lvl2/ Advertiser (Digital Marketing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Advertiser (-idex-)", title_clean   = "Advertiser ()", title_id  = "1484"  where id = '4998'
=>>>>>>>>>>>>>>>>>>>>>> 5856 /lvl2/ Digital Marketing - Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Marketplace", title_clean   = " - Marketplace", title_id  = "1484"  where id = '5856'
=>>>>>>>>>>>>>>>>>>>>>> 5923 /lvl2/ ADS SPECIALIST DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADS SPECIALIST DIGITAL MARKETING", title_clean   = "ADS SPECIALIST DIGITAL MARKETING", title_id  = "1484"  where id = '5923'
=>>>>>>>>>>>>>>>>>>>>>> 6150 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '6150'
=>>>>>>>>>>>>>>>>>>>>>> 6621 /lvl2/ Digital Marketing - Freight Forwarding
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Freight Forwarding", title_clean   = " - Freight Forwarding", title_id  = "1484"  where id = '6621'
=>>>>>>>>>>>>>>>>>>>>>> 6862 /lvl2/ Solution dan Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Solution dan -idex-", title_clean   = "Solution dan ", title_id  = "1484"  where id = '6862'
=>>>>>>>>>>>>>>>>>>>>>> 7005 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '7005'
=>>>>>>>>>>>>>>>>>>>>>> 7263 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '7263'
=>>>>>>>>>>>>>>>>>>>>>> 7594 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '7594'
=>>>>>>>>>>>>>>>>>>>>>> 8025 /lvl2/ Solution dan Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Solution dan -idex-", title_clean   = "Solution dan ", title_id  = "1484"  where id = '8025'
=>>>>>>>>>>>>>>>>>>>>>> 8336 /lvl2/ Solution dan Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Solution dan -idex-", title_clean   = "Solution dan ", title_id  = "1484"  where id = '8336'
=>>>>>>>>>>>>>>>>>>>>>> 8404 /lvl2/ Digital marketing intership
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Digital marketing intership", title_clean   = "Digital marketing intership", title_id  = "1484"  where id = '8404'
=>>>>>>>>>>>>>>>>>>>>>> 8449 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '8449'
=>>>>>>>>>>>>>>>>>>>>>> 8503 /lvl2/ Digital Marketing (apprenticeship)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (apprenticeship)", title_clean   = " (apprenticeship)", title_id  = "1484"  where id = '8503'
=>>>>>>>>>>>>>>>>>>>>>> 8693 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '8693'
=>>>>>>>>>>>>>>>>>>>>>> 8706 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '8706'
=>>>>>>>>>>>>>>>>>>>>>> 8720 /lvl2/ SPV Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex-", title_clean   = "SPV ", title_id  = "1484"  where id = '8720'
=>>>>>>>>>>>>>>>>>>>>>> 9181 /lvl2/ Digital Marketing & Branding Specialist SPV
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Branding Specialist SPV", title_clean   = " & Branding Specialist SPV", title_id  = "1484"  where id = '9181'
=>>>>>>>>>>>>>>>>>>>>>> 9271 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '9271'
=>>>>>>>>>>>>>>>>>>>>>> 9709 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '9709'
=>>>>>>>>>>>>>>>>>>>>>> 9827 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '9827'
=>>>>>>>>>>>>>>>>>>>>>> 9926 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '9926'
=>>>>>>>>>>>>>>>>>>>>>> 10014 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '10014'
=>>>>>>>>>>>>>>>>>>>>>> 10304 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '10304'
=>>>>>>>>>>>>>>>>>>>>>> 10453 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '10453'
=>>>>>>>>>>>>>>>>>>>>>> 10878 /lvl2/ DIGITAL MARKETING (Google Ads & Manajemen Leads)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING (Google Ads & Manajemen Leads)", title_clean   = "DIGITAL MARKETING (Google Ads & Manajemen Leads)", title_id  = "1484"  where id = '10878'
=>>>>>>>>>>>>>>>>>>>>>> 11599 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '11599'
=>>>>>>>>>>>>>>>>>>>>>> 12557 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '12557'
=>>>>>>>>>>>>>>>>>>>>>> 12702 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '12702'
=>>>>>>>>>>>>>>>>>>>>>> 13024 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '13024'
=>>>>>>>>>>>>>>>>>>>>>> 13049 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '13049'
=>>>>>>>>>>>>>>>>>>>>>> 13053 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '13053'
=>>>>>>>>>>>>>>>>>>>>>> 13554 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '13554'
=>>>>>>>>>>>>>>>>>>>>>> 13595 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '13595'
=>>>>>>>>>>>>>>>>>>>>>> 13706 /lvl2/ Senior Staff Digital Marketing - Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Staff -idex- - Cikarang", title_clean   = "Senior Staff  - Cikarang", title_id  = "1484"  where id = '13706'
=>>>>>>>>>>>>>>>>>>>>>> 13728 /lvl2/ DIGITAL MARKETING (Depok)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING (Depok)", title_clean   = "DIGITAL MARKETING (Depok)", title_id  = "1484"  where id = '13728'
=>>>>>>>>>>>>>>>>>>>>>> 13781 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '13781'
=>>>>>>>>>>>>>>>>>>>>>> 15324 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '15324'
=>>>>>>>>>>>>>>>>>>>>>> 15331 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '15331'
=>>>>>>>>>>>>>>>>>>>>>> 16582 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '16582'
=>>>>>>>>>>>>>>>>>>>>>> 16751 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '16751'
=>>>>>>>>>>>>>>>>>>>>>> 17013 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '17013'
=>>>>>>>>>>>>>>>>>>>>>> 17868 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '17868'
=>>>>>>>>>>>>>>>>>>>>>> 19946 /lvl2/ DIGITAL MARKETING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DIGITAL MARKETING", title_clean   = "DIGITAL MARKETING", title_id  = "1484"  where id = '19946'
=>>>>>>>>>>>>>>>>>>>>>> 20095 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '20095'
=>>>>>>>>>>>>>>>>>>>>>> 20116 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '20116'
=>>>>>>>>>>>>>>>>>>>>>> 20238 /lvl2/ Digital Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1484"  where id = '20238'
=>>>>>>>>>>>>>>>>>>>>>> 20551 /lvl2/ Digital Marketing, Host Live Stream, E-commerce Specialist, Promotor Toko
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-, Host Live Stream, E-commerce Specialist, Promotor Toko", title_clean   = ", Host Live Stream, E-commerce Specialist, Promotor Toko", title_id  = "1484"  where id = '20551'
1740 /lvl1/ Environment Staff

=>>>>>>>>>>>>>>>>>>>>>> 19886 /lvl2/ Environment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1740"  where id = '19886'
5068 /lvl1/ Sales & Specifier
=>>>>>>>>>>>>>>>>>>>>>> 15295 /lvl2/ Sales & Specifier
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5068"  where id = '15295'
6604 /lvl1/ Technical Support
=>>>>>>>>>>>>>>>>>>>>>> 3341 /lvl2/ Technical Support (Civil Engineer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Civil Engineer)", title_clean   = " (Civil Engineer)", title_id  = "6604"  where id = '3341'
=>>>>>>>>>>>>>>>>>>>>>> 3386 /lvl2/ Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6604"  where id = '3386'
=>>>>>>>>>>>>>>>>>>>>>> 3440 /lvl2/ Technical Support (Software)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Software)", title_clean   = " (Software)", title_id  = "6604"  where id = '3440'
=>>>>>>>>>>>>>>>>>>>>>> 3508 /lvl2/ IT-Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT--idex-", title_clean   = "IT-", title_id  = "6604"  where id = '3508'
=>>>>>>>>>>>>>>>>>>>>>> 4560 /lvl2/ Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6604"  where id = '4560'
=>>>>>>>>>>>>>>>>>>>>>> 5328 /lvl2/ Technical Support (Software)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Software)", title_clean   = " (Software)", title_id  = "6604"  where id = '5328'
=>>>>>>>>>>>>>>>>>>>>>> 6154 /lvl2/ Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6604"  where id = '6154'
=>>>>>>>>>>>>>>>>>>>>>> 6451 /lvl2/ TECHNICAL SUPPORT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TECHNICAL SUPPORT", title_clean   = "TECHNICAL SUPPORT", title_id  = "6604"  where id = '6451'
=>>>>>>>>>>>>>>>>>>>>>> 7397 /lvl2/ Technical Support (TSC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TSC)", title_clean   = " (TSC)", title_id  = "6604"  where id = '7397'
=>>>>>>>>>>>>>>>>>>>>>> 7916 /lvl2/ Technical Support (Security System, Safety System & IT Solution)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Security System, Safety System & IT Solution)", title_clean   = " (Security System, Safety System & IT Solution)", title_id  = "6604"  where id = '7916'
=>>>>>>>>>>>>>>>>>>>>>> 9344 /lvl2/ Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6604"  where id = '9344'
=>>>>>>>>>>>>>>>>>>>>>> 9370 /lvl2/ Technical Support (Security System, Safety System & IT Solution)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Security System, Safety System & IT Solution)", title_clean   = " (Security System, Safety System & IT Solution)", title_id  = "6604"  where id = '9370'
=>>>>>>>>>>>>>>>>>>>>>> 11927 /lvl2/ Power and Environment Technical Support Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Power and Environment -idex- Supervisor", title_clean   = "Power and Environment  Supervisor", title_id  = "6604"  where id = '11927'
=>>>>>>>>>>>>>>>>>>>>>> 11956 /lvl2/ Technical Support - Data Center
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Data Center", title_clean   = " - Data Center", title_id  = "6604"  where id = '11956'
=>>>>>>>>>>>>>>>>>>>>>> 13219 /lvl2/ Technical Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6604"  where id = '13219'
=>>>>>>>>>>>>>>>>>>>>>> 18814 /lvl2/ Technical Support (Code:TS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Code:TS)", title_clean   = " (Code:TS)", title_id  = "6604"  where id = '18814'
=>>>>>>>>>>>>>>>>>>>>>> 18828 /lvl2/ Technical Support (Code:TS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Code:TS)", title_clean   = " (Code:TS)", title_id  = "6604"  where id = '18828'
5325 /lvl1/ Sales Team Leader
=>>>>>>>>>>>>>>>>>>>>>> 16258 /lvl2/ Sales Team Leader (Tallasa City - Makassar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tallasa City - Makassar)", title_clean   = " (Tallasa City - Makassar)", title_id  = "5325"  where id = '16258'
=>>>>>>>>>>>>>>>>>>>>>> 16458 /lvl2/ Sales Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5325"  where id = '16458'
=>>>>>>>>>>>>>>>>>>>>>> 18874 /lvl2/ Sales Team Leader (Alam Sutera)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Alam Sutera)", title_clean   = " (Alam Sutera)", title_id  = "5325"  where id = '18874'
=>>>>>>>>>>>>>>>>>>>>>> 19051 /lvl2/ Sales Team Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5325"  where id = '19051'
=>>>>>>>>>>>>>>>>>>>>>> 19823 /lvl2/ Sales Team Leader (Alam Sutera)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Alam Sutera)", title_clean   = " (Alam Sutera)", title_id  = "5325"  where id = '19823'
3278 /lvl1/ Korean Translator
=>>>>>>>>>>>>>>>>>>>>>> 4298 /lvl2/ Korean Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3278"  where id = '4298'
=>>>>>>>>>>>>>>>>>>>>>> 5699 /lvl2/ Korean Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3278"  where id = '5699'
=>>>>>>>>>>>>>>>>>>>>>> 6346 /lvl2/ Korean Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3278"  where id = '6346'
4814 /lvl1/ Quantity Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 454 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '454'
=>>>>>>>>>>>>>>>>>>>>>> 917 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '917'
=>>>>>>>>>>>>>>>>>>>>>> 940 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '940'
=>>>>>>>>>>>>>>>>>>>>>> 2559 /lvl2/ Quantity Surveyor (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medan)", title_clean   = " (Medan)", title_id  = "4814"  where id = '2559'
=>>>>>>>>>>>>>>>>>>>>>> 2965 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '2965'
=>>>>>>>>>>>>>>>>>>>>>> 3094 /lvl2/ QUANTITY SURVEYOR ( QS CONSTRUCTION )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUANTITY SURVEYOR ( QS CONSTRUCTION )", title_clean   = "QUANTITY SURVEYOR ( QS CONSTRUCTION )", title_id  = "4814"  where id = '3094'
=>>>>>>>>>>>>>>>>>>>>>> 3509 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '3509'
=>>>>>>>>>>>>>>>>>>>>>> 3868 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '3868'
=>>>>>>>>>>>>>>>>>>>>>> 4282 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '4282'
=>>>>>>>>>>>>>>>>>>>>>> 4794 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '4794'
=>>>>>>>>>>>>>>>>>>>>>> 5074 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '5074'
=>>>>>>>>>>>>>>>>>>>>>> 8815 /lvl2/ QUANTITY SURVEYOR (QS INTERIOR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUANTITY SURVEYOR (QS INTERIOR)", title_clean   = "QUANTITY SURVEYOR (QS INTERIOR)", title_id  = "4814"  where id = '8815'
=>>>>>>>>>>>>>>>>>>>>>> 9135 /lvl2/ Senior QS (Quantity Surveyor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior QS (-idex-)", title_clean   = "Senior QS ()", title_id  = "4814"  where id = '9135'
=>>>>>>>>>>>>>>>>>>>>>> 10037 /lvl2/ QUANTITY SURVEYOR (QS INTERIOR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUANTITY SURVEYOR (QS INTERIOR)", title_clean   = "QUANTITY SURVEYOR (QS INTERIOR)", title_id  = "4814"  where id = '10037'
=>>>>>>>>>>>>>>>>>>>>>> 11484 /lvl2/ Site Engineer - Quantity Surveyor Proyek Bangunan Perumahan Masal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Site Engineer - -idex- Proyek Bangunan Perumahan Masal", title_clean   = "Site Engineer -  Proyek Bangunan Perumahan Masal", title_id  = "4814"  where id = '11484'
=>>>>>>>>>>>>>>>>>>>>>> 11496 /lvl2/ Sr. Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. -idex-", title_clean   = "Sr. ", title_id  = "4814"  where id = '11496'
=>>>>>>>>>>>>>>>>>>>>>> 11839 /lvl2/ QUANTITY SURVEYOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUANTITY SURVEYOR", title_clean   = "QUANTITY SURVEYOR", title_id  = "4814"  where id = '11839'
=>>>>>>>>>>>>>>>>>>>>>> 12271 /lvl2/ QUANTITY SURVEYOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUANTITY SURVEYOR", title_clean   = "QUANTITY SURVEYOR", title_id  = "4814"  where id = '12271'
=>>>>>>>>>>>>>>>>>>>>>> 12325 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '12325'
=>>>>>>>>>>>>>>>>>>>>>> 12344 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '12344'
=>>>>>>>>>>>>>>>>>>>>>> 13825 /lvl2/ Quantity Surveyor (QS) Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (QS) Engineer", title_clean   = " (QS) Engineer", title_id  = "4814"  where id = '13825'
=>>>>>>>>>>>>>>>>>>>>>> 14096 /lvl2/ QUANTITY SURVEYOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUANTITY SURVEYOR", title_clean   = "QUANTITY SURVEYOR", title_id  = "4814"  where id = '14096'
=>>>>>>>>>>>>>>>>>>>>>> 15271 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '15271'
=>>>>>>>>>>>>>>>>>>>>>> 17294 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '17294'
=>>>>>>>>>>>>>>>>>>>>>> 17499 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '17499'
=>>>>>>>>>>>>>>>>>>>>>> 17843 /lvl2/ Quantity Surveyor (Infrastruktur dan Jalan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Infrastruktur dan Jalan)", title_clean   = " (Infrastruktur dan Jalan)", title_id  = "4814"  where id = '17843'
=>>>>>>>>>>>>>>>>>>>>>> 19627 /lvl2/ Quantity Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4814"  where id = '19627'
3791 /lvl1/ Mechanic & Helper

976 /lvl1/ Coating Inspector
=>>>>>>>>>>>>>>>>>>>>>> 6927 /lvl2/ Coating Inspector
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "976"  where id = '6927'
3792 /lvl1/ Mechanic Ac Mobil
6354 /lvl1/ Supervisor Proyek
=>>>>>>>>>>>>>>>>>>>>>> 11786 /lvl2/ Supervisor Proyek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6354"  where id = '11786'
3027 /lvl1/ It Support Intern
=>>>>>>>>>>>>>>>>>>>>>> 8028 /lvl2/ IT Support Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Intern", title_clean   = "IT Support Intern", title_id  = "3027"  where id = '8028'
=>>>>>>>>>>>>>>>>>>>>>> 8314 /lvl2/ IT Support Intern
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Support Intern", title_clean   = "IT Support Intern", title_id  = "3027"  where id = '8314'
4307 /lvl1/ Planning Engineer
=>>>>>>>>>>>>>>>>>>>>>> 16393 /lvl2/ Planning Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4307"  where id = '16393'
=>>>>>>>>>>>>>>>>>>>>>> 18615 /lvl2/ Assistant Planning Engineer\u002FScheduler (QS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex-\u002FScheduler (QS)", title_clean   = "Assistant \u002FScheduler (QS)", title_id  = "4307"  where id = '18615'
4563 /lvl1/ Project Estimator
=>>>>>>>>>>>>>>>>>>>>>> 1664 /lvl2/ Project Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4563"  where id = '1664'
=>>>>>>>>>>>>>>>>>>>>>> 2825 /lvl2/ PROJECT ESTIMATOR (SP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT ESTIMATOR (SP)", title_clean   = "PROJECT ESTIMATOR (SP)", title_id  = "4563"  where id = '2825'
=>>>>>>>>>>>>>>>>>>>>>> 12770 /lvl2/ PROJECT ESTIMATOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROJECT ESTIMATOR", title_clean   = "PROJECT ESTIMATOR", title_id  = "4563"  where id = '12770'
=>>>>>>>>>>>>>>>>>>>>>> 12796 /lvl2/ Project Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4563"  where id = '12796'
=>>>>>>>>>>>>>>>>>>>>>> 17056 /lvl2/ Project Estimator (Interior and Furniture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Interior and Furniture)", title_clean   = " (Interior and Furniture)", title_id  = "4563"  where id = '17056'
=>>>>>>>>>>>>>>>>>>>>>> 17070 /lvl2/ Project Estimator (Interior and Furniture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Interior and Furniture)", title_clean   = " (Interior and Furniture)", title_id  = "4563"  where id = '17070'
=>>>>>>>>>>>>>>>>>>>>>> 17500 /lvl2/ Project Estimator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4563"  where id = '17500'
5331 /lvl1/ Sales Toko Online
=>>>>>>>>>>>>>>>>>>>>>> 19782 /lvl2/ Sales Toko Online
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5331"  where id = '19782'
980 /lvl1/ Colection Officer
=>>>>>>>>>>>>>>>>>>>>>> 11892 /lvl2/ Colection Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "980"  where id = '11892'
1238 /lvl1/ Crew Housekeeping
=>>>>>>>>>>>>>>>>>>>>>> 12404 /lvl2/ Crew Housekeeping
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1238"  where id = '12404'
471 /lvl1/ Assistant Auditor
=>>>>>>>>>>>>>>>>>>>>>> 1198 /lvl2/ Assistant Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "471"  where id = '1198'
6103 /lvl1/ Staff Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 16982 /lvl2/ Staff Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6103"  where id = '16982'
=>>>>>>>>>>>>>>>>>>>>>> 17000 /lvl2/ Staff Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6103"  where id = '17000'
6359 /lvl1/ Supervisor Qa Lab
=>>>>>>>>>>>>>>>>>>>>>> 17278 /lvl2/ SUPERVISOR QA LAB
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SUPERVISOR QA LAB", title_clean   = "SUPERVISOR QA LAB", title_id  = "6359"  where id = '17278'
6615 /lvl1/ Technical Trainer
=>>>>>>>>>>>>>>>>>>>>>> 11690 /lvl2/ Technical Trainer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6615"  where id = '11690'
216 /lvl1/ Admin Marketplace
=>>>>>>>>>>>>>>>>>>>>>> 2727 /lvl2/ Admin Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "216"  where id = '2727'
=>>>>>>>>>>>>>>>>>>>>>> 11301 /lvl2/ Admin Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "216"  where id = '11301'
=>>>>>>>>>>>>>>>>>>>>>> 11918 /lvl2/ Admin Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "216"  where id = '11918'
=>>>>>>>>>>>>>>>>>>>>>> 17488 /lvl2/ Admin Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "216"  where id = '17488'
=>>>>>>>>>>>>>>>>>>>>>> 17504 /lvl2/ Admin Marketplace
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "216"  where id = '17504'
3288 /lvl1/ Landlord Relation
=>>>>>>>>>>>>>>>>>>>>>> 20235 /lvl2/ Landlord Relation
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3288"  where id = '20235'
6872 /lvl1/ Ux Design Manager
=>>>>>>>>>>>>>>>>>>>>>> 6806 /lvl2/ UX Design Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "UX Design Manager", title_clean   = "UX Design Manager", title_id  = "6872"  where id = '6806'
4058 /lvl1/ Operational Staff
=>>>>>>>>>>>>>>>>>>>>>> 2682 /lvl2/ Japan Tour Operational Staff ( Bahasa Jepang N2 )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Japan Tour -idex- ( Bahasa Jepang N2 )", title_clean   = "Japan Tour  ( Bahasa Jepang N2 )", title_id  = "4058"  where id = '2682'
=>>>>>>>>>>>>>>>>>>>>>> 4346 /lvl2/ Operational Staff Mandarin (Yogyakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Mandarin (Yogyakarta)", title_clean   = " Mandarin (Yogyakarta)", title_id  = "4058"  where id = '4346'
=>>>>>>>>>>>>>>>>>>>>>> 11351 /lvl2/ Operational Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4058"  where id = '11351'
=>>>>>>>>>>>>>>>>>>>>>> 19317 /lvl2/ Operational Staff (Exportu002FImport) Pasuruan (East Java)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Exportu002FImport) Pasuruan (East Java)", title_clean   = " (Exportu002FImport) Pasuruan (East Java)", title_id  = "4058"  where id = '19317'
5082 /lvl1/ Sales Admin Staff
=>>>>>>>>>>>>>>>>>>>>>> 8576 /lvl2/ Sales Admin Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5082"  where id = '8576'
=>>>>>>>>>>>>>>>>>>>>>> 19352 /lvl2/ SALES ADMIN STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES ADMIN STAFF", title_clean   = "SALES ADMIN STAFF", title_id  = "5082"  where id = '19352'
1755 /lvl1/ ERP Sales Manager
=>>>>>>>>>>>>>>>>>>>>>> 2264 /lvl2/ ERP Sales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1755"  where id = '2264'
476 /lvl1/ Assistant Chemist
=>>>>>>>>>>>>>>>>>>>>>> 17187 /lvl2/ Assistant Chemist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "476"  where id = '17187'
6109 /lvl1/ Staff On The Road
=>>>>>>>>>>>>>>>>>>>>>> 1880 /lvl2/ STAFF ON THE ROAD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ON THE ROAD", title_clean   = "STAFF ON THE ROAD", title_id  = "6109"  where id = '1880'
3038 /lvl1/ It System Analyst
=>>>>>>>>>>>>>>>>>>>>>> 14637 /lvl2/ IT System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Analyst", title_clean   = "IT System Analyst", title_id  = "3038"  where id = '14637'
=>>>>>>>>>>>>>>>>>>>>>> 15379 /lvl2/ IT System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Analyst", title_clean   = "IT System Analyst", title_id  = "3038"  where id = '15379'
=>>>>>>>>>>>>>>>>>>>>>> 18327 /lvl2/ IT System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT System Analyst", title_clean   = "IT System Analyst", title_id  = "3038"  where id = '18327'
3294 /lvl1/ Laravel Developer
=>>>>>>>>>>>>>>>>>>>>>> 6326 /lvl2/ Laravel Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3294"  where id = '6326'
=>>>>>>>>>>>>>>>>>>>>>> 6348 /lvl2/ Laravel Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3294"  where id = '6348'
=>>>>>>>>>>>>>>>>>>>>>> 15479 /lvl2/ Backend PHP Laravel Developer (Part Time)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Backend PHP -idex- (Part Time)", title_clean   = "Backend PHP  (Part Time)", title_id  = "3294"  where id = '15479'
3806 /lvl1/ Mechanic Otomotif

6110 /lvl1/ Staff Operasional
=>>>>>>>>>>>>>>>>>>>>>> 178 /lvl2/ Staff Operasional HPH u002F IUPHHK-HA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- HPH u002F IUPHHK-HA", title_clean   = " HPH u002F IUPHHK-HA", title_id  = "6110"  where id = '178'
=>>>>>>>>>>>>>>>>>>>>>> 3138 /lvl2/ Staff Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6110"  where id = '3138'
=>>>>>>>>>>>>>>>>>>>>>> 4471 /lvl2/ Staff Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6110"  where id = '4471'
=>>>>>>>>>>>>>>>>>>>>>> 18881 /lvl2/ STAFF OPERASIONAL MARINE SURVEYOR (LOADINGu002FUNLOADING)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF OPERASIONAL MARINE SURVEYOR (LOADINGu002FUNLOADING)", title_clean   = "STAFF OPERASIONAL MARINE SURVEYOR (LOADINGu002FUNLOADING)", title_id  = "6110"  where id = '18881'
=>>>>>>>>>>>>>>>>>>>>>> 19408 /lvl2/ Staff Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6110"  where id = '19408'
5599 /lvl1/ Senior Programmer
=>>>>>>>>>>>>>>>>>>>>>> 5354 /lvl2/ Senior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5599"  where id = '5354'
=>>>>>>>>>>>>>>>>>>>>>> 6701 /lvl2/ Senior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5599"  where id = '6701'
=>>>>>>>>>>>>>>>>>>>>>> 10277 /lvl2/ Senior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5599"  where id = '10277'
=>>>>>>>>>>>>>>>>>>>>>> 11225 /lvl2/ Senior Programmer (Team Leader)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Team Leader)", title_clean   = " (Team Leader)", title_id  = "5599"  where id = '11225'
=>>>>>>>>>>>>>>>>>>>>>> 14402 /lvl2/ Senior Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5599"  where id = '14402'
481 /lvl1/ Assistant Cutting
=>>>>>>>>>>>>>>>>>>>>>> 3750 /lvl2/ Assistant Cutting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "481"  where id = '3750'
2017 /lvl1/ Financial Advisor
=>>>>>>>>>>>>>>>>>>>>>> 3107 /lvl2/ Financial Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2017"  where id = '3107'
=>>>>>>>>>>>>>>>>>>>>>> 3918 /lvl2/ Senior Financial Advisory (Transactional Services)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex-y (Transactional Services)", title_clean   = "Senior y (Transactional Services)", title_id  = "2017"  where id = '3918'
=>>>>>>>>>>>>>>>>>>>>>> 3988 /lvl2/ Financial Advisor - Jayapura
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jayapura", title_clean   = " - Jayapura", title_id  = "2017"  where id = '3988'
=>>>>>>>>>>>>>>>>>>>>>> 4166 /lvl2/ Financial Advisor ( Bancassurance ) AREA SORONG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Bancassurance ) AREA SORONG", title_clean   = " ( Bancassurance ) AREA SORONG", title_id  = "2017"  where id = '4166'
=>>>>>>>>>>>>>>>>>>>>>> 4677 /lvl2/ Financial Advisor - Tanjung Priok, Sunter, Ancol, Pluit dan Sekitarnya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tanjung Priok, Sunter, Ancol, Pluit dan Sekitarnya", title_clean   = " - Tanjung Priok, Sunter, Ancol, Pluit dan Sekitarnya", title_id  = "2017"  where id = '4677'
=>>>>>>>>>>>>>>>>>>>>>> 4780 /lvl2/ Financial Advisor - Palangkaraya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palangkaraya", title_clean   = " - Palangkaraya", title_id  = "2017"  where id = '4780'
=>>>>>>>>>>>>>>>>>>>>>> 5724 /lvl2/ Financial Advisor - Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Balikpapan", title_clean   = " - Balikpapan", title_id  = "2017"  where id = '5724'
=>>>>>>>>>>>>>>>>>>>>>> 6446 /lvl2/ Financial Advisor (Due Diligence \u002F Valuation )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Due Diligence \u002F Valuation )", title_clean   = " (Due Diligence \u002F Valuation )", title_id  = "2017"  where id = '6446'
=>>>>>>>>>>>>>>>>>>>>>> 7242 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA SAMARINDA, BONTANG, KUTAI KERTANEGARA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA SAMARINDA, BONTANG, KUTAI KERTANEGARA", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA SAMARINDA, BONTANG, KUTAI KERTANEGARA", title_id  = "2017"  where id = '7242'
=>>>>>>>>>>>>>>>>>>>>>> 7444 /lvl2/ FINANCIAL ADVISOR SYARIAH - BALIKPAPAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - BALIKPAPAN", title_clean   = "FINANCIAL ADVISOR SYARIAH - BALIKPAPAN", title_id  = "2017"  where id = '7444'
=>>>>>>>>>>>>>>>>>>>>>> 8521 /lvl2/ Financial Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2017"  where id = '8521'
=>>>>>>>>>>>>>>>>>>>>>> 10419 /lvl2/ Financial Advisor - Area Magelang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Area Magelang", title_clean   = " - Area Magelang", title_id  = "2017"  where id = '10419'
=>>>>>>>>>>>>>>>>>>>>>> 10892 /lvl2/ Senior Financial Advisor (Bancassurance) - Jakarta Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (Bancassurance) - Jakarta Utara", title_clean   = "Senior  (Bancassurance) - Jakarta Utara", title_id  = "2017"  where id = '10892'
=>>>>>>>>>>>>>>>>>>>>>> 11238 /lvl2/ SENIOR FINANCIAL ADVISOR - AREA JAKARTA SELATAN (PONDOK INDAH)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR FINANCIAL ADVISOR - AREA JAKARTA SELATAN (PONDOK INDAH)", title_clean   = "SENIOR FINANCIAL ADVISOR - AREA JAKARTA SELATAN (PONDOK INDAH)", title_id  = "2017"  where id = '11238'
=>>>>>>>>>>>>>>>>>>>>>> 11354 /lvl2/ Financial Advisor - KUDUS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KUDUS", title_clean   = " - KUDUS", title_id  = "2017"  where id = '11354'
=>>>>>>>>>>>>>>>>>>>>>> 12733 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA JAKARTA BARAT (KEBON JERUK)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA BARAT (KEBON JERUK)", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA BARAT (KEBON JERUK)", title_id  = "2017"  where id = '12733'
=>>>>>>>>>>>>>>>>>>>>>> 12824 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA JAKARTA BARAT (KEBON JERUK)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA BARAT (KEBON JERUK)", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA BARAT (KEBON JERUK)", title_id  = "2017"  where id = '12824'
=>>>>>>>>>>>>>>>>>>>>>> 13711 /lvl2/ FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL (JAKARTA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL (JAKARTA)", title_clean   = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL (JAKARTA)", title_id  = "2017"  where id = '13711'
=>>>>>>>>>>>>>>>>>>>>>> 15143 /lvl2/ Financial Advisor - Bancassurance (Sumatera)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bancassurance (Sumatera)", title_clean   = " - Bancassurance (Sumatera)", title_id  = "2017"  where id = '15143'
=>>>>>>>>>>>>>>>>>>>>>> 15153 /lvl2/ Senior Financial Advisor - AREA SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- - AREA SURABAYA", title_clean   = "Senior  - AREA SURABAYA", title_id  = "2017"  where id = '15153'
=>>>>>>>>>>>>>>>>>>>>>> 15199 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA JAKARTA PUSAT (THAMRIN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA PUSAT (THAMRIN)", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA PUSAT (THAMRIN)", title_id  = "2017"  where id = '15199'
=>>>>>>>>>>>>>>>>>>>>>> 15419 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA JAKARTA TIMUR (RAWAMANGUN)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA TIMUR (RAWAMANGUN)", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA JAKARTA TIMUR (RAWAMANGUN)", title_id  = "2017"  where id = '15419'
=>>>>>>>>>>>>>>>>>>>>>> 15444 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA BOGOR, DEPOK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA BOGOR, DEPOK", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA BOGOR, DEPOK", title_id  = "2017"  where id = '15444'
=>>>>>>>>>>>>>>>>>>>>>> 15490 /lvl2/ Financial Advisor - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Makassar", title_clean   = " - Makassar", title_id  = "2017"  where id = '15490'
=>>>>>>>>>>>>>>>>>>>>>> 15562 /lvl2/ Financial Advisor (Bancassurance) -  Area BATAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bancassurance) -  Area BATAM", title_clean   = " (Bancassurance) -  Area BATAM", title_id  = "2017"  where id = '15562'
=>>>>>>>>>>>>>>>>>>>>>> 15588 /lvl2/ Financial Advisor - Bancassurance (Kalimantan, Sulawesi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bancassurance (Kalimantan, Sulawesi)", title_clean   = " - Bancassurance (Kalimantan, Sulawesi)", title_id  = "2017"  where id = '15588'
=>>>>>>>>>>>>>>>>>>>>>> 15605 /lvl2/ Financial Advisor - Bancassurance (Kalimantan, Sulawesi)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bancassurance (Kalimantan, Sulawesi)", title_clean   = " - Bancassurance (Kalimantan, Sulawesi)", title_id  = "2017"  where id = '15605'
=>>>>>>>>>>>>>>>>>>>>>> 15835 /lvl2/ Financial Advisor - Bancassurance (Jawa, Bali, Nusra)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bancassurance (Jawa, Bali, Nusra)", title_clean   = " - Bancassurance (Jawa, Bali, Nusra)", title_id  = "2017"  where id = '15835'
=>>>>>>>>>>>>>>>>>>>>>> 15897 /lvl2/ Financial Advisor - Gresik
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Gresik", title_clean   = " - Gresik", title_id  = "2017"  where id = '15897'
=>>>>>>>>>>>>>>>>>>>>>> 16197 /lvl2/ Financial Advisor - Bancassurance (Jabotabek, Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bancassurance (Jabotabek, Bandung)", title_clean   = " - Bancassurance (Jabotabek, Bandung)", title_id  = "2017"  where id = '16197'
=>>>>>>>>>>>>>>>>>>>>>> 17512 /lvl2/ Financial Advisor - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Yogyakarta", title_clean   = " - Yogyakarta", title_id  = "2017"  where id = '17512'
=>>>>>>>>>>>>>>>>>>>>>> 17533 /lvl2/ Financial Advisor - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Yogyakarta", title_clean   = " - Yogyakarta", title_id  = "2017"  where id = '17533'
=>>>>>>>>>>>>>>>>>>>>>> 17831 /lvl2/ Priority Bank Financial Advisor (Special Hire) - Jakarta Barat, Jakarta Utara, Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Priority Bank -idex- (Special Hire) - Jakarta Barat, Jakarta Utara, Tangerang", title_clean   = "Priority Bank  (Special Hire) - Jakarta Barat, Jakarta Utara, Tangerang", title_id  = "2017"  where id = '17831'
=>>>>>>>>>>>>>>>>>>>>>> 18118 /lvl2/ Financial Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2017"  where id = '18118'
=>>>>>>>>>>>>>>>>>>>>>> 18417 /lvl2/ Financial Advisor - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Yogyakarta", title_clean   = " - Yogyakarta", title_id  = "2017"  where id = '18417'
=>>>>>>>>>>>>>>>>>>>>>> 18781 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA BEKASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA BEKASI", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA BEKASI", title_id  = "2017"  where id = '18781'
=>>>>>>>>>>>>>>>>>>>>>> 19016 /lvl2/ Senior Financial Advisor (Bancassurance) - JAKARTA BARAT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (Bancassurance) - JAKARTA BARAT", title_clean   = "Senior  (Bancassurance) - JAKARTA BARAT", title_id  = "2017"  where id = '19016'
=>>>>>>>>>>>>>>>>>>>>>> 19105 /lvl2/ FINANCIAL ADVISOR - AREA DAAN MOGOT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR - AREA DAAN MOGOT", title_clean   = "FINANCIAL ADVISOR - AREA DAAN MOGOT", title_id  = "2017"  where id = '19105'
=>>>>>>>>>>>>>>>>>>>>>> 19153 /lvl2/ FINANCIAL ADVISOR - AREA SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR - AREA SEMARANG", title_clean   = "FINANCIAL ADVISOR - AREA SEMARANG", title_id  = "2017"  where id = '19153'
=>>>>>>>>>>>>>>>>>>>>>> 19392 /lvl2/ Financial Advisor - Tegal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tegal", title_clean   = " - Tegal", title_id  = "2017"  where id = '19392'
=>>>>>>>>>>>>>>>>>>>>>> 19450 /lvl2/ Senior Financial Advisor (Bancassurance) - Jakarta Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior -idex- (Bancassurance) - Jakarta Selatan", title_clean   = "Senior  (Bancassurance) - Jakarta Selatan", title_id  = "2017"  where id = '19450'
=>>>>>>>>>>>>>>>>>>>>>> 19545 /lvl2/ Financial Advisor - Area Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Area Tangerang", title_clean   = " - Area Tangerang", title_id  = "2017"  where id = '19545'
=>>>>>>>>>>>>>>>>>>>>>> 19600 /lvl2/ Financial Advisor - Area Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Area Solo", title_clean   = " - Area Solo", title_id  = "2017"  where id = '19600'
=>>>>>>>>>>>>>>>>>>>>>> 19801 /lvl2/ Financial Advisor - Cilegon, Serang, Pandeglang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cilegon, Serang, Pandeglang", title_clean   = " - Cilegon, Serang, Pandeglang", title_id  = "2017"  where id = '19801'
=>>>>>>>>>>>>>>>>>>>>>> 19832 /lvl2/ FINANCIAL ADVISOR - AREA JAKARTA UTARA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR - AREA JAKARTA UTARA", title_clean   = "FINANCIAL ADVISOR - AREA JAKARTA UTARA", title_id  = "2017"  where id = '19832'
=>>>>>>>>>>>>>>>>>>>>>> 19859 /lvl2/ FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA ACEH, BATAM, MEDAN, PEMATANG SIANTAR, DAN PEKANBARU
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA ACEH, BATAM, MEDAN, PEMATANG SIANTAR, DAN PEKANBARU", title_clean   = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA ACEH, BATAM, MEDAN, PEMATANG SIANTAR, DAN PEKANBARU", title_id  = "2017"  where id = '19859'
=>>>>>>>>>>>>>>>>>>>>>> 19907 /lvl2/ Financial Advisor - Jakarta Barat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Jakarta Barat", title_clean   = " - Jakarta Barat", title_id  = "2017"  where id = '19907'
=>>>>>>>>>>>>>>>>>>>>>> 19911 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA YOGYAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA YOGYAKARTA", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA YOGYAKARTA", title_id  = "2017"  where id = '19911'
=>>>>>>>>>>>>>>>>>>>>>> 20024 /lvl2/ FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA JAMBI, PADANG, BANDAR LAMPUNG, SERTA PALEMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA JAMBI, PADANG, BANDAR LAMPUNG, SERTA PALEMBANG", title_clean   = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA JAMBI, PADANG, BANDAR LAMPUNG, SERTA PALEMBANG", title_id  = "2017"  where id = '20024'
=>>>>>>>>>>>>>>>>>>>>>> 20049 /lvl2/ Financial Advisor (Bancassurance) - Jakarta Kota
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bancassurance) - Jakarta Kota", title_clean   = " (Bancassurance) - Jakarta Kota", title_id  = "2017"  where id = '20049'
=>>>>>>>>>>>>>>>>>>>>>> 20167 /lvl2/ FINANCIAL ADVISOR SYARIAH - AREA BANJARMASIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SYARIAH - AREA BANJARMASIN", title_clean   = "FINANCIAL ADVISOR SYARIAH - AREA BANJARMASIN", title_id  = "2017"  where id = '20167'
=>>>>>>>>>>>>>>>>>>>>>> 20232 /lvl2/ Financial Advisor (Bancassurance) - Jakarta Pulogadung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Bancassurance) - Jakarta Pulogadung", title_clean   = " (Bancassurance) - Jakarta Pulogadung", title_id  = "2017"  where id = '20232'
=>>>>>>>>>>>>>>>>>>>>>> 20245 /lvl2/ FINANCIAL ADVISOR (BANCASSURANCE) - AREA TANGERANG GADING SERPONG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR (BANCASSURANCE) - AREA TANGERANG GADING SERPONG", title_clean   = "FINANCIAL ADVISOR (BANCASSURANCE) - AREA TANGERANG GADING SERPONG", title_id  = "2017"  where id = '20245'
=>>>>>>>>>>>>>>>>>>>>>> 20529 /lvl2/ FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA BANDUNG DAN CIREBON
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA BANDUNG DAN CIREBON", title_clean   = "FINANCIAL ADVISOR SPECIAL HIRE - SHARIA CHANNEL AREA BANDUNG DAN CIREBON", title_id  = "2017"  where id = '20529'
2785 /lvl1/ Intern Ar Finance

=>>>>>>>>>>>>>>>>>>>>>> 11340 /lvl2/ Intern AR Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern AR Finance", title_clean   = "Intern AR Finance", title_id  = "2785"  where id = '11340'
5857 /lvl1/ Specialist Boiler
=>>>>>>>>>>>>>>>>>>>>>> 388 /lvl2/ Specialist Boiler
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5857"  where id = '388'
226 /lvl1/ Admin Online Shop
=>>>>>>>>>>>>>>>>>>>>>> 1084 /lvl2/ Admin Online Shop
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "226"  where id = '1084'
=>>>>>>>>>>>>>>>>>>>>>> 8734 /lvl2/ Admin Online Shop (Cab. Nganjuk)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cab. Nganjuk)", title_clean   = " (Cab. Nganjuk)", title_id  = "226"  where id = '8734'
=>>>>>>>>>>>>>>>>>>>>>> 10825 /lvl2/ Admin Online Shop dan Live streaming
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- dan Live streaming", title_clean   = " dan Live streaming", title_id  = "226"  where id = '10825'
=>>>>>>>>>>>>>>>>>>>>>> 16743 /lvl2/ Admin Online Shop (E-Commerce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (E-Commerce)", title_clean   = " (E-Commerce)", title_id  = "226"  where id = '16743'
=>>>>>>>>>>>>>>>>>>>>>> 17275 /lvl2/ ADMIN ONLINE SHOP (E-COMMERCE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN ONLINE SHOP (E-COMMERCE)", title_clean   = "ADMIN ONLINE SHOP (E-COMMERCE)", title_id  = "226"  where id = '17275'
=>>>>>>>>>>>>>>>>>>>>>> 18180 /lvl2/ Admin Online Shop (Ecommerce)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Ecommerce)", title_clean   = " (Ecommerce)", title_id  = "226"  where id = '18180'
=>>>>>>>>>>>>>>>>>>>>>> 18277 /lvl2/ Admin Online Shop (Shopee, Lazada, JD, dll)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Shopee, Lazada, JD, dll)", title_clean   = " (Shopee, Lazada, JD, dll)", title_id  = "226"  where id = '18277'
2019 /lvl1/ Financial Analyst
=>>>>>>>>>>>>>>>>>>>>>> 6216 /lvl2/ Financial Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2019"  where id = '6216'
5603 /lvl1/ Senior Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 7470 /lvl2/ Senior Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5603"  where id = '7470'
=>>>>>>>>>>>>>>>>>>>>>> 18888 /lvl2/ Senior Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5603"  where id = '18888'
2020 /lvl1/ Financial Auditor
=>>>>>>>>>>>>>>>>>>>>>> 19563 /lvl2/ FINANCIAL AUDITOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCIAL AUDITOR", title_clean   = "FINANCIAL AUDITOR", title_id  = "2020"  where id = '19563'
2788 /lvl1/ Intern Commercial
=>>>>>>>>>>>>>>>>>>>>>> 14388 /lvl2/ Intern Commercial
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2788"  where id = '14388'
3556 /lvl1/ Manajer Akuntansi
=>>>>>>>>>>>>>>>>>>>>>> 1329 /lvl2/ MANAJER AKUNTANSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANAJER AKUNTANSI", title_clean   = "MANAJER AKUNTANSI", title_id  = "3556"  where id = '1329'
=>>>>>>>>>>>>>>>>>>>>>> 20491 /lvl2/ Manajer Akuntansi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3556"  where id = '20491'
229 /lvl1/ Admin Operasional
=>>>>>>>>>>>>>>>>>>>>>> 3725 /lvl2/ Admin Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "229"  where id = '3725'
=>>>>>>>>>>>>>>>>>>>>>> 12514 /lvl2/ Admin Operasional Manado
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Manado", title_clean   = " Manado", title_id  = "229"  where id = '12514'
=>>>>>>>>>>>>>>>>>>>>>> 18458 /lvl2/ Admin Operasional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "229"  where id = '18458'
1511 /lvl1/ Digital Optimizer
=>>>>>>>>>>>>>>>>>>>>>> 2768 /lvl2/ Digital Optimizer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1511"  where id = '2768'
4329 /lvl1/ Portfolio Manager
=>>>>>>>>>>>>>>>>>>>>>> 8544 /lvl2/ Portfolio Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4329"  where id = '8544'
4074 /lvl1/ Operator Forklift
=>>>>>>>>>>>>>>>>>>>>>> 13277 /lvl2/ Operator Forklift (Palembang, Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang, Sumatera Selatan)", title_clean   = " (Palembang, Sumatera Selatan)", title_id  = "4074"  where id = '13277'
=>>>>>>>>>>>>>>>>>>>>>> 13456 /lvl2/ Operator Forklift (Palembang, Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang, Sumatera Selatan)", title_clean   = " (Palembang, Sumatera Selatan)", title_id  = "4074"  where id = '13456'
=>>>>>>>>>>>>>>>>>>>>>> 18777 /lvl2/ Operator Forklift
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4074"  where id = '18777'
1515 /lvl1/ Digital Promotion
=>>>>>>>>>>>>>>>>>>>>>> 15657 /lvl2/ Digital Promotion
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1515"  where id = '15657'
2283 /lvl1/ Guru Broadcasting
=>>>>>>>>>>>>>>>>>>>>>> 4403 /lvl2/ Guru Broadcasting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2283"  where id = '4403'
492 /lvl1/ Assistant Manager
=>>>>>>>>>>>>>>>>>>>>>> 1079 /lvl2/ Project Assistant Manager (Lampung Refinery)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Project -idex- (Lampung Refinery)", title_clean   = "Project  (Lampung Refinery)", title_id  = "492"  where id = '1079'
=>>>>>>>>>>>>>>>>>>>>>> 1091 /lvl2/ Fashion assistant manager Merchandiser (Buyer)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fashion assistant manager Merchandiser (Buyer)", title_clean   = "Fashion assistant manager Merchandiser (Buyer)", title_id  = "492"  where id = '1091'
=>>>>>>>>>>>>>>>>>>>>>> 2309 /lvl2/ Accounting Reporting Assistant Manager - Manufacturing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting Reporting -idex- - Manufacturing", title_clean   = "Accounting Reporting  - Manufacturing", title_id  = "492"  where id = '2309'
=>>>>>>>>>>>>>>>>>>>>>> 2646 /lvl2/ Exim Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Exim -idex-", title_clean   = "Exim ", title_id  = "492"  where id = '2646'
=>>>>>>>>>>>>>>>>>>>>>> 3305 /lvl2/ Assistant Manager, Reporting & Budgeting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-, Reporting & Budgeting", title_clean   = ", Reporting & Budgeting", title_id  = "492"  where id = '3305'
=>>>>>>>>>>>>>>>>>>>>>> 3374 /lvl2/ Crewing Assistant Manager (ATT I)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Crewing -idex- (ATT I)", title_clean   = "Crewing  (ATT I)", title_id  = "492"  where id = '3374'
=>>>>>>>>>>>>>>>>>>>>>> 3712 /lvl2/ Assistant Manager R & D
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- R & D", title_clean   = " R & D", title_id  = "492"  where id = '3712'
=>>>>>>>>>>>>>>>>>>>>>> 6048 /lvl2/ Translator \u002F Assistant Manager (Chinese Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Translator \u002F -idex- (Chinese Speaking)", title_clean   = "Translator \u002F  (Chinese Speaking)", title_id  = "492"  where id = '6048'
=>>>>>>>>>>>>>>>>>>>>>> 6249 /lvl2/ Assistant Manager (F&B)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (F&B)", title_clean   = " (F&B)", title_id  = "492"  where id = '6249'
=>>>>>>>>>>>>>>>>>>>>>> 6867 /lvl2/ Assistant Manager (mandarin speaking) Madiun
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (mandarin speaking) Madiun", title_clean   = " (mandarin speaking) Madiun", title_id  = "492"  where id = '6867'
=>>>>>>>>>>>>>>>>>>>>>> 7153 /lvl2/ ASSISTANT MANAGER, OPERATIONS E-COM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER, OPERATIONS E-COM", title_clean   = "ASSISTANT MANAGER, OPERATIONS E-COM", title_id  = "492"  where id = '7153'
=>>>>>>>>>>>>>>>>>>>>>> 7182 /lvl2/ Senior Learning Officer (Assistant Manager)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Learning Officer (-idex-)", title_clean   = "Senior Learning Officer ()", title_id  = "492"  where id = '7182'
=>>>>>>>>>>>>>>>>>>>>>> 7201 /lvl2/ Translator \u002F Assistant Manager (Chinese Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Translator \u002F -idex- (Chinese Speaking)", title_clean   = "Translator \u002F  (Chinese Speaking)", title_id  = "492"  where id = '7201'
=>>>>>>>>>>>>>>>>>>>>>> 8597 /lvl2/ Desk Collection Assistant Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Desk Collection -idex- (Mandarin Speaker)", title_clean   = "Desk Collection  (Mandarin Speaker)", title_id  = "492"  where id = '8597'
=>>>>>>>>>>>>>>>>>>>>>> 8600 /lvl2/ ASSISTANT MANAGER, OPERATIONS E-COM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER, OPERATIONS E-COM", title_clean   = "ASSISTANT MANAGER, OPERATIONS E-COM", title_id  = "492"  where id = '8600'
=>>>>>>>>>>>>>>>>>>>>>> 8622 /lvl2/ Senior Learning Officer (Assistant Manager)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior Learning Officer (-idex-)", title_clean   = "Senior Learning Officer ()", title_id  = "492"  where id = '8622'
=>>>>>>>>>>>>>>>>>>>>>> 9656 /lvl2/ Assistant Manager + Translator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- + Translator", title_clean   = " + Translator", title_id  = "492"  where id = '9656'
=>>>>>>>>>>>>>>>>>>>>>> 11834 /lvl2/ Assistant Manager (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "492"  where id = '11834'
=>>>>>>>>>>>>>>>>>>>>>> 11885 /lvl2/ Trade Marketing\u002FPromotion Assistant Manager (Guardian)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Trade Marketing\u002FPromotion -idex- (Guardian)", title_clean   = "Trade Marketing\u002FPromotion  (Guardian)", title_id  = "492"  where id = '11885'
=>>>>>>>>>>>>>>>>>>>>>> 11994 /lvl2/ Assistant Manager - Mandarin Speaker
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Mandarin Speaker", title_clean   = " - Mandarin Speaker", title_id  = "492"  where id = '11994'
=>>>>>>>>>>>>>>>>>>>>>> 12316 /lvl2/ Assistant Manager Import Merchandise (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Import Merchandise (Mandarin Speaker)", title_clean   = " Import Merchandise (Mandarin Speaker)", title_id  = "492"  where id = '12316'
=>>>>>>>>>>>>>>>>>>>>>> 13960 /lvl2/ ASSISTANT MANAGER MARCOM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSISTANT MANAGER MARCOM", title_clean   = "ASSISTANT MANAGER MARCOM", title_id  = "492"  where id = '13960'
=>>>>>>>>>>>>>>>>>>>>>> 15354 /lvl2/ Assistant Manager Funpark (Waterpark)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Funpark (Waterpark)", title_clean   = " Funpark (Waterpark)", title_id  = "492"  where id = '15354'
=>>>>>>>>>>>>>>>>>>>>>> 15531 /lvl2/ Bank and Fintech Partnership Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Bank and Fintech Partnership -idex-", title_clean   = "Bank and Fintech Partnership ", title_id  = "492"  where id = '15531'
=>>>>>>>>>>>>>>>>>>>>>> 15809 /lvl2/ Credit SME Analyst (Assistant Manager)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Credit SME Analyst (-idex-)", title_clean   = "Credit SME Analyst ()", title_id  = "492"  where id = '15809'
=>>>>>>>>>>>>>>>>>>>>>> 16163 /lvl2/ Assistant Manager ( Mandarin Speaker )  E-commerce
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Mandarin Speaker )  E-commerce", title_clean   = " ( Mandarin Speaker )  E-commerce", title_id  = "492"  where id = '16163'
=>>>>>>>>>>>>>>>>>>>>>> 16449 /lvl2/ Assistant Manager of Legal and Human ResourcesGA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- of Legal and Human ResourcesGA", title_clean   = " of Legal and Human ResourcesGA", title_id  = "492"  where id = '16449'
=>>>>>>>>>>>>>>>>>>>>>> 16896 /lvl2/ Assistant Manager - Fraud MIS and Analytic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Fraud MIS and Analytic", title_clean   = " - Fraud MIS and Analytic", title_id  = "492"  where id = '16896'
=>>>>>>>>>>>>>>>>>>>>>> 17991 /lvl2/ Warehouse Assistant Manager (Marunda)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Warehouse -idex- (Marunda)", title_clean   = "Warehouse  (Marunda)", title_id  = "492"  where id = '17991'
=>>>>>>>>>>>>>>>>>>>>>> 18713 /lvl2/ People and Culture Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "People and Culture -idex-", title_clean   = "People and Culture ", title_id  = "492"  where id = '18713'
=>>>>>>>>>>>>>>>>>>>>>> 18800 /lvl2/ Training and Development Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Training and Development -idex-", title_clean   = "Training and Development ", title_id  = "492"  where id = '18800'
=>>>>>>>>>>>>>>>>>>>>>> 18930 /lvl2/ Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "492"  where id = '18930'
=>>>>>>>>>>>>>>>>>>>>>> 19350 /lvl2/ Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "492"  where id = '19350'
=>>>>>>>>>>>>>>>>>>>>>> 19478 /lvl2/ Assistant Manager - Certification
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Certification", title_clean   = " - Certification", title_id  = "492"  where id = '19478'
=>>>>>>>>>>>>>>>>>>>>>> 20015 /lvl2/ Operation Assistant Manager - Commercial & Retail
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Operation -idex- - Commercial & Retail", title_clean   = "Operation  - Commercial & Retail", title_id  = "492"  where id = '20015'
=>>>>>>>>>>>>>>>>>>>>>> 20075 /lvl2/ General Affairs (Travel) Assistant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "General Affairs (Travel) -idex-", title_clean   = "General Affairs (Travel) ", title_id  = "492"  where id = '20075'
1772 /lvl1/ Estimator Project

=>>>>>>>>>>>>>>>>>>>>>> 13264 /lvl2/ Estimator Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1772"  where id = '13264'
=>>>>>>>>>>>>>>>>>>>>>> 13448 /lvl2/ Estimator Project
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1772"  where id = '13448'
1007 /lvl1/ Community Manager
=>>>>>>>>>>>>>>>>>>>>>> 5674 /lvl2/ Community Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1007"  where id = '5674'
6127 /lvl1/ Staff Procurement
240 /lvl1/ Admin Procurement
=>>>>>>>>>>>>>>>>>>>>>> 11609 /lvl2/ Admin Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "240"  where id = '11609'
=>>>>>>>>>>>>>>>>>>>>>> 16312 /lvl2/ Admin Procurement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "240"  where id = '16312'
4080 /lvl1/ Operator Mechanic
6384 /lvl1/ Supervisor Sewing
=>>>>>>>>>>>>>>>>>>>>>> 1797 /lvl2/ Supervisor Sewing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6384"  where id = '1797'
=>>>>>>>>>>>>>>>>>>>>>> 2447 /lvl2/ Supervisor Sewing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6384"  where id = '2447'
1777 /lvl1/ Estimator Support
=>>>>>>>>>>>>>>>>>>>>>> 8967 /lvl2/ Estimator Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1777"  where id = '8967'
4593 /lvl1/ Project Marketing
=>>>>>>>>>>>>>>>>>>>>>> 4609 /lvl2/ Project Marketing (Marketing Projek)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Marketing Projek)", title_clean   = " (Marketing Projek)", title_id  = "4593"  where id = '4609'
=>>>>>>>>>>>>>>>>>>>>>> 14137 /lvl2/ Project Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4593"  where id = '14137'
=>>>>>>>>>>>>>>>>>>>>>> 14517 /lvl2/ Project Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4593"  where id = '14517'
5873 /lvl1/ Sr .Net Developer
=>>>>>>>>>>>>>>>>>>>>>> 5428 /lvl2/ Sr .NET Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr .NET Developer", title_clean   = "Sr .NET Developer", title_id  = "5873"  where id = '5428'
1778 /lvl1/ Etl Data Engineer
=>>>>>>>>>>>>>>>>>>>>>> 3535 /lvl2/ ETL Data Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ETL Data Engineer", title_clean   = "ETL Data Engineer", title_id  = "1778"  where id = '3535'
3314 /lvl1/ Leader Electrical
=>>>>>>>>>>>>>>>>>>>>>> 19932 /lvl2/ Leader Electrical
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3314"  where id = '19932'
2803 /lvl1/ Inventory Auditor
=>>>>>>>>>>>>>>>>>>>>>> 12715 /lvl2/ Inventory Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2803"  where id = '12715'
=>>>>>>>>>>>>>>>>>>>>>> 12820 /lvl2/ Inventory Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2803"  where id = '12820'
2804 /lvl1/ Inventory Control
=>>>>>>>>>>>>>>>>>>>>>> 4994 /lvl2/ Logistik - Inventory Control
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Logistik - -idex-", title_clean   = "Logistik - ", title_id  = "2804"  where id = '4994'
=>>>>>>>>>>>>>>>>>>>>>> 17171 /lvl2/ INVENTORY CONTROL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "INVENTORY CONTROL", title_clean   = "INVENTORY CONTROL", title_id  = "2804"  where id = '17171'
=>>>>>>>>>>>>>>>>>>>>>> 17345 /lvl2/ Production Planning Inventory Control (Supervisor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Production Planning -idex- (Supervisor)", title_clean   = "Production Planning  (Supervisor)", title_id  = "2804"  where id = '17345'
4084 /lvl1/ Operator Produksi
=>>>>>>>>>>>>>>>>>>>>>> 59 /lvl2/ OPERATOR PRODUKSI PE (MOJOKERTO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR PRODUKSI PE (MOJOKERTO)", title_clean   = "OPERATOR PRODUKSI PE (MOJOKERTO)", title_id  = "4084"  where id = '59'
=>>>>>>>>>>>>>>>>>>>>>> 88 /lvl2/ OPERATOR PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR PRODUKSI", title_clean   = "OPERATOR PRODUKSI", title_id  = "4084"  where id = '88'
=>>>>>>>>>>>>>>>>>>>>>> 121 /lvl2/ OPERATOR PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR PRODUKSI", title_clean   = "OPERATOR PRODUKSI", title_id  = "4084"  where id = '121'
=>>>>>>>>>>>>>>>>>>>>>> 2154 /lvl2/ Operator Produksi (Mesin CNC, Laser Cutting)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mesin CNC, Laser Cutting)", title_clean   = " (Mesin CNC, Laser Cutting)", title_id  = "4084"  where id = '2154'
=>>>>>>>>>>>>>>>>>>>>>> 2683 /lvl2/ Operator Produksi (Cutting, Welding, Bending, Boring)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cutting, Welding, Bending, Boring)", title_clean   = " (Cutting, Welding, Bending, Boring)", title_id  = "4084"  where id = '2683'
=>>>>>>>>>>>>>>>>>>>>>> 2858 /lvl2/ Operator Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4084"  where id = '2858'
=>>>>>>>>>>>>>>>>>>>>>> 11771 /lvl2/ Operator Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4084"  where id = '11771'
=>>>>>>>>>>>>>>>>>>>>>> 14122 /lvl2/ Operator Produksi (Karawang Factory)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Karawang Factory)", title_clean   = " (Karawang Factory)", title_id  = "4084"  where id = '14122'
=>>>>>>>>>>>>>>>>>>>>>> 15523 /lvl2/ Operator Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4084"  where id = '15523'
=>>>>>>>>>>>>>>>>>>>>>> 17077 /lvl2/ Operator Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4084"  where id = '17077'
=>>>>>>>>>>>>>>>>>>>>>> 17105 /lvl2/ OPERATOR PRODUKSI (PRINTING DEPT.)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR PRODUKSI (PRINTING DEPT.)", title_clean   = "OPERATOR PRODUKSI (PRINTING DEPT.)", title_id  = "4084"  where id = '17105'
=>>>>>>>>>>>>>>>>>>>>>> 18143 /lvl2/ Operator Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4084"  where id = '18143'
4854 /lvl1/ Real Estate Agent
=>>>>>>>>>>>>>>>>>>>>>> 3675 /lvl2/ Real Estate Agent
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4854"  where id = '3675'
3319 /lvl1/ Leader Production
=>>>>>>>>>>>>>>>>>>>>>> 18187 /lvl2/ Leader Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3319"  where id = '18187'
=>>>>>>>>>>>>>>>>>>>>>> 19180 /lvl2/ Leader Production
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3319"  where id = '19180'
4599 /lvl1/ Project Recruiter
=>>>>>>>>>>>>>>>>>>>>>> 14021 /lvl2/ Project Recruiter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4599"  where id = '14021'
=>>>>>>>>>>>>>>>>>>>>>> 15213 /lvl2/ Project Recruiter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4599"  where id = '15213'
5367 /lvl1/ Sap Mm Functional
=>>>>>>>>>>>>>>>>>>>>>> 2077 /lvl2/ SAP MM Functional
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP MM Functional", title_clean   = "SAP MM Functional", title_id  = "5367"  where id = '2077'
4088 /lvl1/ Operator Stamping
=>>>>>>>>>>>>>>>>>>>>>> 18928 /lvl2/ OPERATOR STAMPING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPERATOR STAMPING", title_clean   = "OPERATOR STAMPING", title_id  = "4088"  where id = '18928'
2297 /lvl1/ Guru Olah Raga Sd
=>>>>>>>>>>>>>>>>>>>>>> 2466 /lvl2/ Guru Olah Raga SD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Olah Raga SD", title_clean   = "Guru Olah Raga SD", title_id  = "2297"  where id = '2466'
=>>>>>>>>>>>>>>>>>>>>>> 15274 /lvl2/ Guru Olah Raga SD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Olah Raga SD", title_clean   = "Guru Olah Raga SD", title_id  = "2297"  where id = '15274'
=>>>>>>>>>>>>>>>>>>>>>> 15872 /lvl2/ Guru Olah Raga SD
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Guru Olah Raga SD", title_clean   = "Guru Olah Raga SD", title_id  = "2297"  where id = '15872'
3577 /lvl1/ Mandarin Teachers
=>>>>>>>>>>>>>>>>>>>>>> 7625 /lvl2/ Mandarin Teachers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3577"  where id = '7625'
=>>>>>>>>>>>>>>>>>>>>>> 11565 /lvl2/ MANDARIN TEACHERS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TEACHERS", title_clean   = "MANDARIN TEACHERS", title_id  = "3577"  where id = '11565'
=>>>>>>>>>>>>>>>>>>>>>> 14664 /lvl2/ MANDARIN TEACHERS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TEACHERS", title_clean   = "MANDARIN TEACHERS", title_id  = "3577"  where id = '14664'
=>>>>>>>>>>>>>>>>>>>>>> 15414 /lvl2/ MANDARIN TEACHERS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MANDARIN TEACHERS", title_clean   = "MANDARIN TEACHERS", title_id  = "3577"  where id = '15414'
1786 /lvl1/ Event Coordinator

=>>>>>>>>>>>>>>>>>>>>>> 14484 /lvl2/ Event Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1786"  where id = '14484'
2810 /lvl1/ Inventory Manager
=>>>>>>>>>>>>>>>>>>>>>> 6041 /lvl2/ Inventory Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2810"  where id = '6041'
2043 /lvl1/ Firmware Engineer
=>>>>>>>>>>>>>>>>>>>>>> 6146 /lvl2/ Firmware Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2043"  where id = '6146'
=>>>>>>>>>>>>>>>>>>>>>> 7422 /lvl2/ Junior \u002F Senior Firmware Engineer (Based in Bandung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior \u002F Senior -idex- (Based in Bandung)", title_clean   = "Junior \u002F Senior  (Based in Bandung)", title_id  = "2043"  where id = '7422'
2811 /lvl1/ Inventory Officer
=>>>>>>>>>>>>>>>>>>>>>> 16999 /lvl2/ Inventory Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2811"  where id = '16999'
5371 /lvl1/ Sap Sd Consultant
=>>>>>>>>>>>>>>>>>>>>>> 6704 /lvl2/ SAP SD Consultant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP SD Consultant", title_clean   = "SAP SD Consultant", title_id  = "5371"  where id = '6704'
5883 /lvl1/ Staff Admin Sales
=>>>>>>>>>>>>>>>>>>>>>> 5131 /lvl2/ Staff ADMIN SALES DAN PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ADMIN SALES DAN PURCHASING", title_clean   = "Staff ADMIN SALES DAN PURCHASING", title_id  = "5883"  where id = '5131'
=>>>>>>>>>>>>>>>>>>>>>> 6209 /lvl2/ Staff ADMIN SALES DAN PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ADMIN SALES DAN PURCHASING", title_clean   = "Staff ADMIN SALES DAN PURCHASING", title_id  = "5883"  where id = '6209'
4605 /lvl1/ Project Scheduler
5117 /lvl1/ Sales Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 1853 /lvl2/ Sales Coordinator Area Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Batam", title_clean   = " Area Batam", title_id  = "5117"  where id = '1853'
=>>>>>>>>>>>>>>>>>>>>>> 2876 /lvl2/ Area Sales Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex-", title_clean   = "Area ", title_id  = "5117"  where id = '2876'
=>>>>>>>>>>>>>>>>>>>>>> 3681 /lvl2/ Sales Coordinator (Food Industry)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Food Industry)", title_clean   = " (Food Industry)", title_id  = "5117"  where id = '3681'
=>>>>>>>>>>>>>>>>>>>>>> 3996 /lvl2/ Sales Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5117"  where id = '3996'
=>>>>>>>>>>>>>>>>>>>>>> 4810 /lvl2/ Sales Coordinator (Surabaya Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Surabaya Branch)", title_clean   = " (Surabaya Branch)", title_id  = "5117"  where id = '4810'
=>>>>>>>>>>>>>>>>>>>>>> 7700 /lvl2/ Field Sales Coordinator - South Sulawesi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- - South Sulawesi", title_clean   = "Field  - South Sulawesi", title_id  = "5117"  where id = '7700'
=>>>>>>>>>>>>>>>>>>>>>> 9172 /lvl2/ Field Sales Coordinator - South Sulawesi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Field -idex- - South Sulawesi", title_clean   = "Field  - South Sulawesi", title_id  = "5117"  where id = '9172'
=>>>>>>>>>>>>>>>>>>>>>> 10318 /lvl2/ AREA SALES COORDINATOR (JAKARTA, JAWA TIMUR, SUMATERA, KALIMANTAN, SULAWESI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AREA SALES COORDINATOR (JAKARTA, JAWA TIMUR, SUMATERA, KALIMANTAN, SULAWESI)", title_clean   = "AREA SALES COORDINATOR (JAKARTA, JAWA TIMUR, SUMATERA, KALIMANTAN, SULAWESI)", title_id  = "5117"  where id = '10318'
=>>>>>>>>>>>>>>>>>>>>>> 11509 /lvl2/ Intern - Talent Scouter (Sales Coordinator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern - Talent Scouter (-idex-)", title_clean   = "Intern - Talent Scouter ()", title_id  = "5117"  where id = '11509'
=>>>>>>>>>>>>>>>>>>>>>> 11538 /lvl2/ Intern - Talent Scouter (Sales Coordinator)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Intern - Talent Scouter (-idex-)", title_clean   = "Intern - Talent Scouter ()", title_id  = "5117"  where id = '11538'
=>>>>>>>>>>>>>>>>>>>>>> 16914 /lvl2/ Sales Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5117"  where id = '16914'
=>>>>>>>>>>>>>>>>>>>>>> 19225 /lvl2/ Sales Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5117"  where id = '19225'
=>>>>>>>>>>>>>>>>>>>>>> 19248 /lvl2/ Sales Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5117"  where id = '19248'
=>>>>>>>>>>>>>>>>>>>>>> 20205 /lvl2/ Area Sales Coordinator - based in Bangka Belitung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- - based in Bangka Belitung", title_clean   = "Area  - based in Bangka Belitung", title_id  = "5117"  where id = '20205'
510 /lvl1/ Assistant Manager
5374 /lvl1/ Sap Sd Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8433 /lvl2/ SAP SD SPECIALIST
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SAP SD SPECIALIST", title_clean   = "SAP SD SPECIALIST", title_id  = "5374"  where id = '8433'
4095 /lvl1/ Opex Section Head
=>>>>>>>>>>>>>>>>>>>>>> 5523 /lvl2/ OPEX Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPEX Section Head", title_clean   = "OPEX Section Head", title_id  = "4095"  where id = '5523'
=>>>>>>>>>>>>>>>>>>>>>> 6646 /lvl2/ OPEX Section Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "OPEX Section Head", title_clean   = "OPEX Section Head", title_id  = "4095"  where id = '6646'
1793 /lvl1/ Event Specialist
=>>>>>>>>>>>>>>>>>>>>>> 18990 /lvl2/ Event Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1793"  where id = '18990'
258 /lvl1/ Admin Sekretaris
=>>>>>>>>>>>>>>>>>>>>>> 19186 /lvl2/ ADMIN SEKRETARIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN SEKRETARIS", title_clean   = "ADMIN SEKRETARIS", title_id  = "258"  where id = '19186'
5378 /lvl1/ School Counselor
=>>>>>>>>>>>>>>>>>>>>>> 4156 /lvl2/ School Counselor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5378"  where id = '4156'
=>>>>>>>>>>>>>>>>>>>>>> 4781 /lvl2/ School Counselor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5378"  where id = '4781'
=>>>>>>>>>>>>>>>>>>>>>> 7298 /lvl2/ School Counselor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5378"  where id = '7298'
4099 /lvl1/ Oracle Developer
=>>>>>>>>>>>>>>>>>>>>>> 4439 /lvl2/ Oracle Developer  /  Programmer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  /  Programmer", title_clean   = "  /  Programmer", title_id  = "4099"  where id = '4439'
=>>>>>>>>>>>>>>>>>>>>>> 16228 /lvl2/ Oracle Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4099"  where id = '16228'
260 /lvl1/ Admin Settlement
=>>>>>>>>>>>>>>>>>>>>>> 17447 /lvl2/ Admin Settlement
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "260"  where id = '17447'
2052 /lvl1/ Flavor Evaluator
=>>>>>>>>>>>>>>>>>>>>>> 18649 /lvl2/ Flavor Evaluator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2052"  where id = '18649'
=>>>>>>>>>>>>>>>>>>>>>> 18666 /lvl2/ Flavor Evaluator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2052"  where id = '18666'
6149 /lvl1/ Staff Registrasi
=>>>>>>>>>>>>>>>>>>>>>> 16829 /lvl2/ Staff Registrasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6149"  where id = '16829'
6 /lvl1/ 2D / 3D Designer
=>>>>>>>>>>>>>>>>>>>>>> 6796 /lvl2/ 2D / 3D Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6"  where id = '6796'
1542 /lvl1/ Dokter Aesthetic
=>>>>>>>>>>>>>>>>>>>>>> 11775 /lvl2/ Dokter Aesthetic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1542"  where id = '11775'
=>>>>>>>>>>>>>>>>>>>>>> 12906 /lvl2/ Dokter Aesthetic Klinik Kecantikan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Klinik Kecantikan", title_clean   = " Klinik Kecantikan", title_id  = "1542"  where id = '12906'
=>>>>>>>>>>>>>>>>>>>>>> 17159 /lvl2/ Dokter aesthetic
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Dokter aesthetic", title_clean   = "Dokter aesthetic", title_id  = "1542"  where id = '17159'
4102 /lvl1/ Order Processing

=>>>>>>>>>>>>>>>>>>>>>> 18887 /lvl2/ Order Processing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4102"  where id = '18887'
2055 /lvl1/ Fleet Management
=>>>>>>>>>>>>>>>>>>>>>> 11915 /lvl2/ FLEET MANAGEMENT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FLEET MANAGEMENT", title_clean   = "FLEET MANAGEMENT", title_id  = "2055"  where id = '11915'
6151 /lvl1/ Staff Regulatory
=>>>>>>>>>>>>>>>>>>>>>> 13498 /lvl2/ Staff Regulatory
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6151"  where id = '13498'
264 /lvl1/ Admin Spareparts
=>>>>>>>>>>>>>>>>>>>>>> 3494 /lvl2/ Admin Spareparts
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "264"  where id = '3494'
265 /lvl1/ Admin Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8026 /lvl2/ Admin Specialist - Karawaci
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawaci", title_clean   = " - Karawaci", title_id  = "265"  where id = '8026'
=>>>>>>>>>>>>>>>>>>>>>> 8337 /lvl2/ Admin Specialist - Karawaci
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawaci", title_clean   = " - Karawaci", title_id  = "265"  where id = '8337'
=>>>>>>>>>>>>>>>>>>>>>> 16690 /lvl2/ Admin Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "265"  where id = '16690'
1801 /lvl1/ Executive Driver
=>>>>>>>>>>>>>>>>>>>>>> 14311 /lvl2/ Executive Driver
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1801"  where id = '14311'
=>>>>>>>>>>>>>>>>>>>>>> 14328 /lvl2/ Executive Driver
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1801"  where id = '14328'
2569 /lvl1/ HRga Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 17894 /lvl2/ HRGA Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRGA Coordinator", title_clean   = "HRGA Coordinator", title_id  = "2569"  where id = '17894'
3337 /lvl1/ Learning Manager
=>>>>>>>>>>>>>>>>>>>>>> 13529 /lvl2/ Learning Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3337"  where id = '13529'
5642 /lvl1/ Senior Staff Hse
=>>>>>>>>>>>>>>>>>>>>>> 19544 /lvl2/ SENIOR STAFF HSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR STAFF HSE", title_clean   = "SENIOR STAFF HSE", title_id  = "5642"  where id = '19544'
5131 /lvl1/ Sales Department
=>>>>>>>>>>>>>>>>>>>>>> 4689 /lvl2/ Commercial Coordinator (Sales Department)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Commercial Coordinator (-idex-)", title_clean   = "Commercial Coordinator ()", title_id  = "5131"  where id = '4689'
=>>>>>>>>>>>>>>>>>>>>>> 8483 /lvl2/ Sales Department
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5131"  where id = '8483'
780 /lvl1/ Business Manager
=>>>>>>>>>>>>>>>>>>>>>> 1624 /lvl2/ Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "780"  where id = '1624'
=>>>>>>>>>>>>>>>>>>>>>> 2697 /lvl2/ Regional Business Manager: Aesthetic Division (AEST - RBM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Regional -idex-: Aesthetic Division (AEST - RBM)", title_clean   = "Regional : Aesthetic Division (AEST - RBM)", title_id  = "780"  where id = '2697'
=>>>>>>>>>>>>>>>>>>>>>> 2714 /lvl2/ Area Business Manager (Sumatera Utara, Pekanbaru, Riau)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- (Sumatera Utara, Pekanbaru, Riau)", title_clean   = "Area  (Sumatera Utara, Pekanbaru, Riau)", title_id  = "780"  where id = '2714'
=>>>>>>>>>>>>>>>>>>>>>> 3290 /lvl2/ Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "780"  where id = '3290'
=>>>>>>>>>>>>>>>>>>>>>> 3559 /lvl2/ Area Business Manager (Sumatera Utara, Pekanbaru, Riau)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Area -idex- (Sumatera Utara, Pekanbaru, Riau)", title_clean   = "Area  (Sumatera Utara, Pekanbaru, Riau)", title_id  = "780"  where id = '3559'
=>>>>>>>>>>>>>>>>>>>>>> 9092 /lvl2/ Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "780"  where id = '9092'
=>>>>>>>>>>>>>>>>>>>>>> 10407 /lvl2/ Product Business Manager (Automotive)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Product -idex- (Automotive)", title_clean   = "Product  (Automotive)", title_id  = "780"  where id = '10407'
=>>>>>>>>>>>>>>>>>>>>>> 14178 /lvl2/ Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "780"  where id = '14178'
=>>>>>>>>>>>>>>>>>>>>>> 14551 /lvl2/ Business Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "780"  where id = '14551'
4620 /lvl1/ Promotor Officer
=>>>>>>>>>>>>>>>>>>>>>> 9995 /lvl2/ Promotor Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4620"  where id = '9995'
5900 /lvl1/ Staff Finance Ap
=>>>>>>>>>>>>>>>>>>>>>> 17480 /lvl2/ Staff Finance AP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff Finance AP", title_clean   = "Staff Finance AP", title_id  = "5900"  where id = '17480'
=>>>>>>>>>>>>>>>>>>>>>> 18890 /lvl2/ Staff FINANCE AP
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff FINANCE AP", title_clean   = "Staff FINANCE AP", title_id  = "5900"  where id = '18890'
6668 /lvl1/ Teknisi Komputer
=>>>>>>>>>>>>>>>>>>>>>> 2627 /lvl2/ Teknisi Komputer dan Hardware
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- dan Hardware", title_clean   = " dan Hardware", title_id  = "6668"  where id = '2627'
=>>>>>>>>>>>>>>>>>>>>>> 7155 /lvl2/ Teknisi Komputer dan Hardware
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- dan Hardware", title_clean   = " dan Hardware", title_id  = "6668"  where id = '7155'
=>>>>>>>>>>>>>>>>>>>>>> 17549 /lvl2/ Teknisi Komputer ( IT )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( IT )", title_clean   = " ( IT )", title_id  = "6668"  where id = '17549'
=>>>>>>>>>>>>>>>>>>>>>> 20569 /lvl2/ Teknisi Komputer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6668"  where id = '20569'
1549 /lvl1/ Dokter Spesialis
=>>>>>>>>>>>>>>>>>>>>>> 6857 /lvl2/ DOKTER SPESIALIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DOKTER SPESIALIS", title_clean   = "DOKTER SPESIALIS", title_id  = "1549"  where id = '6857'
3085 /lvl1/ Junior Architect
=>>>>>>>>>>>>>>>>>>>>>> 1492 /lvl2/ JUNIOR ARCHITECT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR ARCHITECT", title_clean   = "JUNIOR ARCHITECT", title_id  = "3085"  where id = '1492'
=>>>>>>>>>>>>>>>>>>>>>> 12752 /lvl2/ Junior Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3085"  where id = '12752'
=>>>>>>>>>>>>>>>>>>>>>> 12768 /lvl2/ Junior Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3085"  where id = '12768'
=>>>>>>>>>>>>>>>>>>>>>> 15077 /lvl2/ Junior Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3085"  where id = '15077'
5901 /lvl1/ Staff Finance Ar
4622 /lvl1/ Property Advisor
=>>>>>>>>>>>>>>>>>>>>>> 18760 /lvl2/ Property Advisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4622"  where id = '18760'
1807 /lvl1/ Exhibition Staff
=>>>>>>>>>>>>>>>>>>>>>> 11504 /lvl2/ Exhibition Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1807"  where id = '11504'
3087 /lvl1/ Junior Associate
=>>>>>>>>>>>>>>>>>>>>>> 1428 /lvl2/ Junior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3087"  where id = '1428'
1298 /lvl1/ Customer Service
=>>>>>>>>>>>>>>>>>>>>>> 212 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '212'
=>>>>>>>>>>>>>>>>>>>>>> 726 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '726'
=>>>>>>>>>>>>>>>>>>>>>> 1033 /lvl2/ DCustomer Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "D-idex- Engineer", title_clean   = "D Engineer", title_id  = "1298"  where id = '1033'
=>>>>>>>>>>>>>>>>>>>>>> 1087 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '1087'
=>>>>>>>>>>>>>>>>>>>>>> 1566 /lvl2/ Customer Service (Kamboja)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Kamboja)", title_clean   = " (Kamboja)", title_id  = "1298"  where id = '1566'
=>>>>>>>>>>>>>>>>>>>>>> 2275 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '2275'
=>>>>>>>>>>>>>>>>>>>>>> 2831 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '2831'
=>>>>>>>>>>>>>>>>>>>>>> 2946 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '2946'
=>>>>>>>>>>>>>>>>>>>>>> 3805 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '3805'
=>>>>>>>>>>>>>>>>>>>>>> 4669 /lvl2/ Customer Service & Telemarketing Jr. Spv (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Telemarketing Jr. Spv (Mandarin Speaking)", title_clean   = " & Telemarketing Jr. Spv (Mandarin Speaking)", title_id  = "1298"  where id = '4669'
=>>>>>>>>>>>>>>>>>>>>>> 6655 /lvl2/ Customer Service (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "1298"  where id = '6655'
=>>>>>>>>>>>>>>>>>>>>>> 6748 /lvl2/ Export  /  Import Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Export  /  Import -idex-", title_clean   = "Export  /  Import ", title_id  = "1298"  where id = '6748'
=>>>>>>>>>>>>>>>>>>>>>> 6933 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '6933'
=>>>>>>>>>>>>>>>>>>>>>> 7127 /lvl2/ Export Import Customer Service (CS) - Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Export Import -idex- (CS) - Jakarta", title_clean   = "Export Import  (CS) - Jakarta", title_id  = "1298"  where id = '7127'
=>>>>>>>>>>>>>>>>>>>>>> 7479 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '7479'
=>>>>>>>>>>>>>>>>>>>>>> 8341 /lvl2/ Customer Service Representative - Jabodetabek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Representative - Jabodetabek", title_clean   = " Representative - Jabodetabek", title_id  = "1298"  where id = '8341'
=>>>>>>>>>>>>>>>>>>>>>> 8378 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '8378'
=>>>>>>>>>>>>>>>>>>>>>> 8628 /lvl2/ CUSTOMER SERVICE - MANDARIN (CS)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE - MANDARIN (CS)", title_clean   = "CUSTOMER SERVICE - MANDARIN (CS)", title_id  = "1298"  where id = '8628'
=>>>>>>>>>>>>>>>>>>>>>> 9304 /lvl2/ Customer Service Export Import (Forwarding)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Export Import (Forwarding)", title_clean   = " Export Import (Forwarding)", title_id  = "1298"  where id = '9304'
=>>>>>>>>>>>>>>>>>>>>>> 9316 /lvl2/ Frontliner Customer Service dan Teller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Frontliner -idex- dan Teller", title_clean   = "Frontliner  dan Teller", title_id  = "1298"  where id = '9316'
=>>>>>>>>>>>>>>>>>>>>>> 11211 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '11211'
=>>>>>>>>>>>>>>>>>>>>>> 11757 /lvl2/ Customer Service (Staff Admin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Staff Admin)", title_clean   = " (Staff Admin)", title_id  = "1298"  where id = '11757'
=>>>>>>>>>>>>>>>>>>>>>> 11760 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '11760'
=>>>>>>>>>>>>>>>>>>>>>> 11881 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '11881'
=>>>>>>>>>>>>>>>>>>>>>> 12003 /lvl2/ MARKETING, TELLER DAN CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MARKETING, TELLER DAN CUSTOMER SERVICE", title_clean   = "MARKETING, TELLER DAN CUSTOMER SERVICE", title_id  = "1298"  where id = '12003'
=>>>>>>>>>>>>>>>>>>>>>> 12351 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '12351'
=>>>>>>>>>>>>>>>>>>>>>> 12450 /lvl2/ ADMIN CUSTOMER SERVICE –  Sea Freight Export
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN CUSTOMER SERVICE –  Sea Freight Export", title_clean   = "ADMIN CUSTOMER SERVICE –  Sea Freight Export", title_id  = "1298"  where id = '12450'
=>>>>>>>>>>>>>>>>>>>>>> 12471 /lvl2/ ADMIN CUSTOMER SERVICE –  Sea Freight Export
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ADMIN CUSTOMER SERVICE –  Sea Freight Export", title_clean   = "ADMIN CUSTOMER SERVICE –  Sea Freight Export", title_id  = "1298"  where id = '12471'
=>>>>>>>>>>>>>>>>>>>>>> 12535 /lvl2/ CUSTOMER SERVICE\u002FTELLER (SERVICE ADVISOR ASSOCIATE) - JABODETABEK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE\u002FTELLER (SERVICE ADVISOR ASSOCIATE) - JABODETABEK", title_clean   = "CUSTOMER SERVICE\u002FTELLER (SERVICE ADVISOR ASSOCIATE) - JABODETABEK", title_id  = "1298"  where id = '12535'
=>>>>>>>>>>>>>>>>>>>>>> 12919 /lvl2/ CUSTOMER SERVICE (IMPORT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE (IMPORT)", title_clean   = "CUSTOMER SERVICE (IMPORT)", title_id  = "1298"  where id = '12919'
=>>>>>>>>>>>>>>>>>>>>>> 12938 /lvl2/ CUSTOMER SERVICE (IMPORT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE (IMPORT)", title_clean   = "CUSTOMER SERVICE (IMPORT)", title_id  = "1298"  where id = '12938'
=>>>>>>>>>>>>>>>>>>>>>> 12951 /lvl2/ Customer service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Customer service", title_clean   = "Customer service", title_id  = "1298"  where id = '12951'
=>>>>>>>>>>>>>>>>>>>>>> 13181 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '13181'
=>>>>>>>>>>>>>>>>>>>>>> 13514 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '13514'
=>>>>>>>>>>>>>>>>>>>>>> 13553 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '13553'
=>>>>>>>>>>>>>>>>>>>>>> 13888 /lvl2/ Customer Service (TPA \u002F ASO)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (TPA \u002F ASO)", title_clean   = " (TPA \u002F ASO)", title_id  = "1298"  where id = '13888'
=>>>>>>>>>>>>>>>>>>>>>> 13919 /lvl2/ CUSTOMER SERVICE REPRESENTATIVE (CSR)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE REPRESENTATIVE (CSR)", title_clean   = "CUSTOMER SERVICE REPRESENTATIVE (CSR)", title_id  = "1298"  where id = '13919'
=>>>>>>>>>>>>>>>>>>>>>> 14185 /lvl2/ Import & Export Staff (Customer Service)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Import & Export Staff (-idex-)", title_clean   = "Import & Export Staff ()", title_id  = "1298"  where id = '14185'
=>>>>>>>>>>>>>>>>>>>>>> 14555 /lvl2/ Import & Export Staff (Customer Service)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Import & Export Staff (-idex-)", title_clean   = "Import & Export Staff ()", title_id  = "1298"  where id = '14555'
=>>>>>>>>>>>>>>>>>>>>>> 14680 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '14680'
=>>>>>>>>>>>>>>>>>>>>>> 14798 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '14798'
=>>>>>>>>>>>>>>>>>>>>>> 14813 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '14813'
=>>>>>>>>>>>>>>>>>>>>>> 15031 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '15031'
=>>>>>>>>>>>>>>>>>>>>>> 15052 /lvl2/ CUSTOMER SERVICE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CUSTOMER SERVICE", title_clean   = "CUSTOMER SERVICE", title_id  = "1298"  where id = '15052'
=>>>>>>>>>>>>>>>>>>>>>> 15430 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '15430'
=>>>>>>>>>>>>>>>>>>>>>> 15495 /lvl2/ Customer Service - Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Property", title_clean   = " - Property", title_id  = "1298"  where id = '15495'
=>>>>>>>>>>>>>>>>>>>>>> 15512 /lvl2/ Customer Service - Property
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Property", title_clean   = " - Property", title_id  = "1298"  where id = '15512'
=>>>>>>>>>>>>>>>>>>>>>> 15654 /lvl2/ Customer Serviceu002FSales Marketing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-u002FSales Marketing", title_clean   = "u002FSales Marketing", title_id  = "1298"  where id = '15654'
=>>>>>>>>>>>>>>>>>>>>>> 15725 /lvl2/ SENIOR IMPORT CUSTOMER SERVICE ( SICS )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SENIOR IMPORT CUSTOMER SERVICE ( SICS )", title_clean   = "SENIOR IMPORT CUSTOMER SERVICE ( SICS )", title_id  = "1298"  where id = '15725'
=>>>>>>>>>>>>>>>>>>>>>> 15825 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '15825'
=>>>>>>>>>>>>>>>>>>>>>> 16419 /lvl2/ Customer service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Customer service", title_clean   = "Customer service", title_id  = "1298"  where id = '16419'
=>>>>>>>>>>>>>>>>>>>>>> 16614 /lvl2/ Customer Service Representative Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Representative Bali", title_clean   = " Representative Bali", title_id  = "1298"  where id = '16614'
=>>>>>>>>>>>>>>>>>>>>>> 16689 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '16689'
=>>>>>>>>>>>>>>>>>>>>>> 17174 /lvl2/ Customer Service Tier 1 Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tier 1 Yogyakarta", title_clean   = " Tier 1 Yogyakarta", title_id  = "1298"  where id = '17174'
=>>>>>>>>>>>>>>>>>>>>>> 17191 /lvl2/ Customer Service Tier 1 Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tier 1 Yogyakarta", title_clean   = " Tier 1 Yogyakarta", title_id  = "1298"  where id = '17191'
=>>>>>>>>>>>>>>>>>>>>>> 17658 /lvl2/ Admin dan Customer Service Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin dan -idex- Executive", title_clean   = "Admin dan  Executive", title_id  = "1298"  where id = '17658'
=>>>>>>>>>>>>>>>>>>>>>> 17675 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '17675'
=>>>>>>>>>>>>>>>>>>>>>> 17833 /lvl2/ Customer Service
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1298"  where id = '17833'
=>>>>>>>>>>>>>>>>>>>>>> 18436 /lvl2/ Customer Service & Document - Shipping & Logistic (Medan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Document - Shipping & Logistic (Medan)", title_clean   = " & Document - Shipping & Logistic (Medan)", title_id  = "1298"  where id = '18436'
=>>>>>>>>>>>>>>>>>>>>>> 18452 /lvl2/ Customer Service & Document - Shipping & Logistic (Medan)

=>>>>>>>>>>>>>>>>>>>>>> 10117 /lvl2/ Presales Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4371"  where id = '10117'
2580 /lvl1/ HRis Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 13180 /lvl2/ HRIS Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HRIS Coordinator", title_clean   = "HRIS Coordinator", title_id  = "2580"  where id = '13180'
6164 /lvl1/ Staff Senior Tax
6676 /lvl1/ Teknisi Mechanic
21 /lvl1/ Account Director
=>>>>>>>>>>>>>>>>>>>>>> 13494 /lvl2/ Account Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "21"  where id = '13494'
=>>>>>>>>>>>>>>>>>>>>>> 13512 /lvl2/ Account Director
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "21"  where id = '13512'
4629 /lvl1/ Property Manager
=>>>>>>>>>>>>>>>>>>>>>> 6473 /lvl2/ Property Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4629"  where id = '6473'
3864 /lvl1/ Mep Site Manager
=>>>>>>>>>>>>>>>>>>>>>> 17702 /lvl2/ MEP Site Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MEP Site Manager", title_clean   = "MEP Site Manager", title_id  = "3864"  where id = '17702'
4888 /lvl1/ Recuitment Staff
=>>>>>>>>>>>>>>>>>>>>>> 19202 /lvl2/ Recuitment Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4888"  where id = '19202'
3101 /lvl1/ Junior Developer
=>>>>>>>>>>>>>>>>>>>>>> 5657 /lvl2/ Junior Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3101"  where id = '5657'
=>>>>>>>>>>>>>>>>>>>>>> 11391 /lvl2/ Junior Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3101"  where id = '11391'
5407 /lvl1/ Secretary To Ceo
=>>>>>>>>>>>>>>>>>>>>>> 538 /lvl2/ Secretary to CEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Secretary to CEO", title_clean   = "Secretary to CEO", title_id  = "5407"  where id = '538'
2080 /lvl1/ Foreman Produksi
=>>>>>>>>>>>>>>>>>>>>>> 2081 /lvl2/ Foreman Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2080"  where id = '2081'
=>>>>>>>>>>>>>>>>>>>>>> 4098 /lvl2/ Technical (Foreman Produksi - Maintenance Injection)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Technical (-idex- - Maintenance Injection)", title_clean   = "Technical ( - Maintenance Injection)", title_id  = "2080"  where id = '4098'
=>>>>>>>>>>>>>>>>>>>>>> 10796 /lvl2/ FOREMAN PRODUKSI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FOREMAN PRODUKSI", title_clean   = "FOREMAN PRODUKSI", title_id  = "2080"  where id = '10796'
=>>>>>>>>>>>>>>>>>>>>>> 11570 /lvl2/ Foreman Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2080"  where id = '11570'
=>>>>>>>>>>>>>>>>>>>>>> 16217 /lvl2/ Foreman Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2080"  where id = '16217'
=>>>>>>>>>>>>>>>>>>>>>> 17987 /lvl2/ Foreman Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2080"  where id = '17987'
=>>>>>>>>>>>>>>>>>>>>>> 18007 /lvl2/ Foreman Produksi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2080"  where id = '18007'
5920 /lvl1/ Staff Perpajakan
=>>>>>>>>>>>>>>>>>>>>>> 19076 /lvl2/ Staff Perpajakan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5920"  where id = '19076'
802 /lvl1/ Business Support
=>>>>>>>>>>>>>>>>>>>>>> 1380 /lvl2/ Business Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "802"  where id = '1380'
5922 /lvl1/ Staff Personalia
=>>>>>>>>>>>>>>>>>>>>>> 15713 /lvl2/ STAFF PERSONALIA PLANT SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PERSONALIA PLANT SURABAYA", title_clean   = "STAFF PERSONALIA PLANT SURABAYA", title_id  = "5922"  where id = '15713'
4387 /lvl1/ Primary Teachers
=>>>>>>>>>>>>>>>>>>>>>> 10670 /lvl2/ Primary Teachers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4387"  where id = '10670'
5667 /lvl1/ Senior Tax Staff
=>>>>>>>>>>>>>>>>>>>>>> 13709 /lvl2/ Senior Tax Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5667"  where id = '13709'
5156 /lvl1/ Sales Excecutive
=>>>>>>>>>>>>>>>>>>>>>> 12761 /lvl2/ Sales Excecutive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5156"  where id = '12761'
5669 /lvl1/ Senior Test Lead
=>>>>>>>>>>>>>>>>>>>>>> 2013 /lvl2/ Senior Test Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5669"  where id = '2013'
550 /lvl1/ Assistant To Ceo
=>>>>>>>>>>>>>>>>>>>>>> 14971 /lvl2/ Assistant to CEO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant to CEO", title_clean   = "Assistant to CEO", title_id  = "550"  where id = '14971'
5414 /lvl1/ Security Analyst
=>>>>>>>>>>>>>>>>>>>>>> 4091 /lvl2/ Security Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5414"  where id = '4091'
=>>>>>>>>>>>>>>>>>>>>>> 17770 /lvl2/ Junior Security Analyst (Project based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior -idex- (Project based)", title_clean   = "Junior  (Project based)", title_id  = "5414"  where id = '17770'
5926 /lvl1/ Staff Purchasing
=>>>>>>>>>>>>>>>>>>>>>> 161 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '161'
=>>>>>>>>>>>>>>>>>>>>>> 483 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '483'
=>>>>>>>>>>>>>>>>>>>>>> 593 /lvl2/ STAFF PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PURCHASING", title_clean   = "STAFF PURCHASING", title_id  = "5926"  where id = '593'
=>>>>>>>>>>>>>>>>>>>>>> 4907 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '4907'
=>>>>>>>>>>>>>>>>>>>>>> 7299 /lvl2/ STAFF PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PURCHASING", title_clean   = "STAFF PURCHASING", title_id  = "5926"  where id = '7299'
=>>>>>>>>>>>>>>>>>>>>>> 10587 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '10587'
=>>>>>>>>>>>>>>>>>>>>>> 10950 /lvl2/ STAFF PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PURCHASING", title_clean   = "STAFF PURCHASING", title_id  = "5926"  where id = '10950'
=>>>>>>>>>>>>>>>>>>>>>> 10958 /lvl2/ STAFF PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PURCHASING", title_clean   = "STAFF PURCHASING", title_id  = "5926"  where id = '10958'
=>>>>>>>>>>>>>>>>>>>>>> 10975 /lvl2/ Staff Purchasing EXIM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- EXIM", title_clean   = " EXIM", title_id  = "5926"  where id = '10975'
=>>>>>>>>>>>>>>>>>>>>>> 11501 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '11501'
=>>>>>>>>>>>>>>>>>>>>>> 13634 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '13634'
=>>>>>>>>>>>>>>>>>>>>>> 13651 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '13651'
=>>>>>>>>>>>>>>>>>>>>>> 15494 /lvl2/ Staff Purchasing
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5926"  where id = '15494'
=>>>>>>>>>>>>>>>>>>>>>> 16565 /lvl2/ Staff Purchasing - Mandarin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Mandarin", title_clean   = " - Mandarin", title_id  = "5926"  where id = '16565'
=>>>>>>>>>>>>>>>>>>>>>> 20191 /lvl2/ STAFF PURCHASING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF PURCHASING", title_clean   = "STAFF PURCHASING", title_id  = "5926"  where id = '20191'
6694 /lvl1/ Teknisi Otomotif
=>>>>>>>>>>>>>>>>>>>>>> 1401 /lvl2/ Teknisi Otomotif ( Mobil jepang dan Eropa)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- ( Mobil jepang dan Eropa)", title_clean   = " ( Mobil jepang dan Eropa)", title_id  = "6694"  where id = '1401'
=>>>>>>>>>>>>>>>>>>>>>> 8490 /lvl2/ Teknisi Otomotif
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6694"  where id = '8490'
6950 /lvl1/ Warehouse Leader

=>>>>>>>>>>>>>>>>>>>>>> 493 /lvl2/ Warehouse Leader (PERUSAHAAN KOSMETIK DAN SKINCARE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (PERUSAHAAN KOSMETIK DAN SKINCARE)", title_clean   = " (PERUSAHAAN KOSMETIK DAN SKINCARE)", title_id  = "6950"  where id = '493'
=>>>>>>>>>>>>>>>>>>>>>> 4224 /lvl2/ Warehouse Leader
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6950"  where id = '4224'
1576 /lvl1/ Drafter Interior
=>>>>>>>>>>>>>>>>>>>>>> 8435 /lvl2/ Drafter Interior (Furniture)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Furniture)", title_clean   = " (Furniture)", title_id  = "1576"  where id = '8435'
=>>>>>>>>>>>>>>>>>>>>>> 9559 /lvl2/ Supervisor + Drafter Interior Contractor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor + -idex- Contractor", title_clean   = "Supervisor +  Contractor", title_id  = "1576"  where id = '9559'
=>>>>>>>>>>>>>>>>>>>>>> 10170 /lvl2/ DRAFTER INTERIOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER INTERIOR", title_clean   = "DRAFTER INTERIOR", title_id  = "1576"  where id = '10170'
=>>>>>>>>>>>>>>>>>>>>>> 10529 /lvl2/ Supervisor + Drafter Interior Contractor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor + -idex- Contractor", title_clean   = "Supervisor +  Contractor", title_id  = "1576"  where id = '10529'
=>>>>>>>>>>>>>>>>>>>>>> 19540 /lvl2/ DRAFTER INTERIOR (AUTOCAD)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "DRAFTER INTERIOR (AUTOCAD)", title_clean   = "DRAFTER INTERIOR (AUTOCAD)", title_id  = "1576"  where id = '19540'
=>>>>>>>>>>>>>>>>>>>>>> 20405 /lvl2/ Design\u002FDrafter Interior
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Design\u002F-idex-", title_clean   = "Design\u002F", title_id  = "1576"  where id = '20405'
2857 /lvl1/ It Audit Officer
=>>>>>>>>>>>>>>>>>>>>>> 20398 /lvl2/ IT AUDIT OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT AUDIT OFFICER", title_clean   = "IT AUDIT OFFICER", title_id  = "2857"  where id = '20398'
4393 /lvl1/ Private Tutor Tk
=>>>>>>>>>>>>>>>>>>>>>> 17719 /lvl2/ Private Tutor TK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Private Tutor TK", title_clean   = "Private Tutor TK", title_id  = "4393"  where id = '17719'
6697 /lvl1/ Teknisi Pendigin
4650 /lvl1/ Public Relations
=>>>>>>>>>>>>>>>>>>>>>> 700 /lvl2/ PUBLIC RELATIONS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PUBLIC RELATIONS", title_clean   = "PUBLIC RELATIONS", title_id  = "4650"  where id = '700'
=>>>>>>>>>>>>>>>>>>>>>> 803 /lvl2/ Public Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4650"  where id = '803'
=>>>>>>>>>>>>>>>>>>>>>> 1599 /lvl2/ Marketing And Public Relations Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Marketing And -idex- Specialist", title_clean   = "Marketing And  Specialist", title_id  = "4650"  where id = '1599'
=>>>>>>>>>>>>>>>>>>>>>> 17443 /lvl2/ Public Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4650"  where id = '17443'
=>>>>>>>>>>>>>>>>>>>>>> 17461 /lvl2/ Public Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4650"  where id = '17461'
=>>>>>>>>>>>>>>>>>>>>>> 18954 /lvl2/ Public Relations
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4650"  where id = '18954'
4906 /lvl1/ Regional Manager
=>>>>>>>>>>>>>>>>>>>>>> 323 /lvl2/ Admin (Regional Manager Pekanbaru)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Admin (-idex- Pekanbaru)", title_clean   = "Admin ( Pekanbaru)", title_id  = "4906"  where id = '323'
=>>>>>>>>>>>>>>>>>>>>>> 15511 /lvl2/ Regional Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4906"  where id = '15511'
555 /lvl1/ Assisten Manager
=>>>>>>>>>>>>>>>>>>>>>> 7063 /lvl2/ Assisten Manager  Gudang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  Gudang", title_clean   = "  Gudang", title_id  = "555"  where id = '7063'
=>>>>>>>>>>>>>>>>>>>>>> 12026 /lvl2/ Assisten Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "555"  where id = '12026'
4395 /lvl1/ Process Engineer
=>>>>>>>>>>>>>>>>>>>>>> 354 /lvl2/ PROCESS ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCESS ENGINEER", title_clean   = "PROCESS ENGINEER", title_id  = "4395"  where id = '354'
=>>>>>>>>>>>>>>>>>>>>>> 543 /lvl2/ PROCESS ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCESS ENGINEER", title_clean   = "PROCESS ENGINEER", title_id  = "4395"  where id = '543'
=>>>>>>>>>>>>>>>>>>>>>> 887 /lvl2/ Process Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4395"  where id = '887'
=>>>>>>>>>>>>>>>>>>>>>> 5448 /lvl2/ PROCESS ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCESS ENGINEER", title_clean   = "PROCESS ENGINEER", title_id  = "4395"  where id = '5448'
=>>>>>>>>>>>>>>>>>>>>>> 10296 /lvl2/ Process Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4395"  where id = '10296'
=>>>>>>>>>>>>>>>>>>>>>> 11746 /lvl2/ PROCESS ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PROCESS ENGINEER", title_clean   = "PROCESS ENGINEER", title_id  = "4395"  where id = '11746'
=>>>>>>>>>>>>>>>>>>>>>> 12572 /lvl2/ Process Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4395"  where id = '12572'
4652 /lvl1/ Purchase Officer
=>>>>>>>>>>>>>>>>>>>>>> 13668 /lvl2/ Purchase Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4652"  where id = '13668'
5420 /lvl1/ Security Officer
=>>>>>>>>>>>>>>>>>>>>>> 17654 /lvl2/ SECURITY OFFICER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SECURITY OFFICER", title_clean   = "SECURITY OFFICER", title_id  = "5420"  where id = '17654'
=>>>>>>>>>>>>>>>>>>>>>> 18779 /lvl2/ Security Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5420"  where id = '18779'
3117 /lvl1/ Junior Ktu Kebun
=>>>>>>>>>>>>>>>>>>>>>> 16858 /lvl2/ Junior KTU Kebun
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Junior KTU Kebun", title_clean   = "Junior KTU Kebun", title_id  = "3117"  where id = '16858'
6702 /lvl1/ Teknisi Rotating
=>>>>>>>>>>>>>>>>>>>>>> 6744 /lvl2/ TEKNISI ROTATING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI ROTATING", title_clean   = "TEKNISI ROTATING", title_id  = "6702"  where id = '6744'
=>>>>>>>>>>>>>>>>>>>>>> 7894 /lvl2/ TEKNISI ROTATING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI ROTATING", title_clean   = "TEKNISI ROTATING", title_id  = "6702"  where id = '7894'
=>>>>>>>>>>>>>>>>>>>>>> 8208 /lvl2/ TEKNISI ROTATING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "TEKNISI ROTATING", title_clean   = "TEKNISI ROTATING", title_id  = "6702"  where id = '8208'
3375 /lvl1/ Legal Specialist
=>>>>>>>>>>>>>>>>>>>>>> 8605 /lvl2/ Legal Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3375"  where id = '8605'
=>>>>>>>>>>>>>>>>>>>>>> 9862 /lvl2/ Legal Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3375"  where id = '9862'
=>>>>>>>>>>>>>>>>>>>>>> 15155 /lvl2/ Human Capital- Legal Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Capital- -idex-", title_clean   = "Human Capital- ", title_id  = "3375"  where id = '15155'
=>>>>>>>>>>>>>>>>>>>>>> 15170 /lvl2/ Human Capital- Legal Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Human Capital- -idex-", title_clean   = "Human Capital- ", title_id  = "3375"  where id = '15170'
=>>>>>>>>>>>>>>>>>>>>>> 15975 /lvl2/ Legal Specialist Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Surabaya", title_clean   = " Surabaya", title_id  = "3375"  where id = '15975'
=>>>>>>>>>>>>>>>>>>>>>> 15993 /lvl2/ Legal Specialist Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Surabaya", title_clean   = " Surabaya", title_id  = "3375"  where id = '15993'
=>>>>>>>>>>>>>>>>>>>>>> 19581 /lvl2/ Legal Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3375"  where id = '19581'
=>>>>>>>>>>>>>>>>>>>>>> 20457 /lvl2/ Legal Specialist
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3375"  where id = '20457'
1330 /lvl1/ Customer Support

=>>>>>>>>>>>>>>>>>>>>>> 1205 /lvl2/ Customer Support - Network ( Jakarta Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Network ( Jakarta Based)", title_clean   = " - Network ( Jakarta Based)", title_id  = "1330"  where id = '1205'
=>>>>>>>>>>>>>>>>>>>>>> 6052 /lvl2/ Customer Support (BALI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (BALI)", title_clean   = " (BALI)", title_id  = "1330"  where id = '6052'
=>>>>>>>>>>>>>>>>>>>>>> 14582 /lvl2/ Customer Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1330"  where id = '14582'
=>>>>>>>>>>>>>>>>>>>>>> 16311 /lvl2/ Customer Support Engineer - CSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Engineer - CSE", title_clean   = " Engineer - CSE", title_id  = "1330"  where id = '16311'
=>>>>>>>>>>>>>>>>>>>>>> 18524 /lvl2/ Remote Customer Support & Service cum Interpreteru002FTranslatoru002FDecoder (华语-英语) - Fresh grads are welcomed
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Remote -idex- & Service cum Interpreteru002FTranslatoru002FDecoder (华语-英语) - Fresh grads are welcomed", title_clean   = "Remote  & Service cum Interpreteru002FTranslatoru002FDecoder (华语-英语) - Fresh grads are welcomed", title_id  = "1330"  where id = '18524'
=>>>>>>>>>>>>>>>>>>>>>> 18751 /lvl2/ Customer Support
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1330"  where id = '18751'
3378 /lvl1/ Legal Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 9055 /lvl2/ LEGAL SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEGAL SUPERVISOR", title_clean   = "LEGAL SUPERVISOR", title_id  = "3378"  where id = '9055'
=>>>>>>>>>>>>>>>>>>>>>> 11084 /lvl2/ LEGAL SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEGAL SUPERVISOR", title_clean   = "LEGAL SUPERVISOR", title_id  = "3378"  where id = '11084'
=>>>>>>>>>>>>>>>>>>>>>> 11659 /lvl2/ Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3378"  where id = '11659'
=>>>>>>>>>>>>>>>>>>>>>> 13526 /lvl2/ LEGAL SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LEGAL SUPERVISOR", title_clean   = "LEGAL SUPERVISOR", title_id  = "3378"  where id = '13526'
=>>>>>>>>>>>>>>>>>>>>>> 13667 /lvl2/ Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3378"  where id = '13667'
=>>>>>>>>>>>>>>>>>>>>>> 15524 /lvl2/ Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3378"  where id = '15524'
=>>>>>>>>>>>>>>>>>>>>>> 18947 /lvl2/ Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3378"  where id = '18947'
=>>>>>>>>>>>>>>>>>>>>>> 19623 /lvl2/ Legal Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3378"  where id = '19623'
6706 /lvl1/ Teknisi Surveyor
=>>>>>>>>>>>>>>>>>>>>>> 18449 /lvl2/ Teknisi Surveyor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6706"  where id = '18449'
565 /lvl1/ Associate Lawyer
=>>>>>>>>>>>>>>>>>>>>>> 18108 /lvl2/ Associate Lawyer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "565"  where id = '18108'
=>>>>>>>>>>>>>>>>>>>>>> 19975 /lvl2/ ASSOCIATE LAWYER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSOCIATE LAWYER", title_clean   = "ASSOCIATE LAWYER", title_id  = "565"  where id = '19975'
1077 /lvl1/ Content Designer
=>>>>>>>>>>>>>>>>>>>>>> 5786 /lvl2/ Content Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1077"  where id = '5786'
5941 /lvl1/ Staff Urusan Sdm
5430 /lvl1/ Sekretaris Dirut
=>>>>>>>>>>>>>>>>>>>>>> 12520 /lvl2/ Sekretaris Dirut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5430"  where id = '12520'
1848 /lvl1/ External Auditor
=>>>>>>>>>>>>>>>>>>>>>> 1823 /lvl2/ External Auditor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1848"  where id = '1823'
=>>>>>>>>>>>>>>>>>>>>>> 6861 /lvl2/ Audit Manager (external auditor)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Audit Manager (external auditor)", title_clean   = "Audit Manager (external auditor)", title_id  = "1848"  where id = '6861'
=>>>>>>>>>>>>>>>>>>>>>> 18588 /lvl2/ Experienced Junior External Auditor-Jakarta based
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Experienced Junior -idex--Jakarta based", title_clean   = "Experienced Junior -Jakarta based", title_id  = "1848"  where id = '18588'
5944 /lvl1/ Staff Accountant
=>>>>>>>>>>>>>>>>>>>>>> 2311 /lvl2/ Staff Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5944"  where id = '2311'
=>>>>>>>>>>>>>>>>>>>>>> 2619 /lvl2/ Staff Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5944"  where id = '2619'
=>>>>>>>>>>>>>>>>>>>>>> 5676 /lvl2/ Staff Accountant
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5944"  where id = '5676'
5177 /lvl1/ Sales Executives
=>>>>>>>>>>>>>>>>>>>>>> 5425 /lvl2/ SALES EXECUTIVES
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SALES EXECUTIVES", title_clean   = "SALES EXECUTIVES", title_id  = "5177"  where id = '5425'
=>>>>>>>>>>>>>>>>>>>>>> 16871 /lvl2/ Sales Executives
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5177"  where id = '16871'
5945 /lvl1/ Staff Accounting
=>>>>>>>>>>>>>>>>>>>>>> 108 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '108'
=>>>>>>>>>>>>>>>>>>>>>> 217 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '217'
=>>>>>>>>>>>>>>>>>>>>>> 271 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '271'
=>>>>>>>>>>>>>>>>>>>>>> 306 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '306'
=>>>>>>>>>>>>>>>>>>>>>> 309 /lvl2/ Staff ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ACCOUNTING", title_clean   = "Staff ACCOUNTING", title_id  = "5945"  where id = '309'
=>>>>>>>>>>>>>>>>>>>>>> 326 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '326'
=>>>>>>>>>>>>>>>>>>>>>> 381 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '381'
=>>>>>>>>>>>>>>>>>>>>>> 426 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '426'
=>>>>>>>>>>>>>>>>>>>>>> 484 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '484'
=>>>>>>>>>>>>>>>>>>>>>> 690 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '690'
=>>>>>>>>>>>>>>>>>>>>>> 724 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '724'
=>>>>>>>>>>>>>>>>>>>>>> 738 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '738'
=>>>>>>>>>>>>>>>>>>>>>> 760 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '760'
=>>>>>>>>>>>>>>>>>>>>>> 1301 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '1301'
=>>>>>>>>>>>>>>>>>>>>>> 1310 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '1310'
=>>>>>>>>>>>>>>>>>>>>>> 1661 /lvl2/ STAFF ACCOUNTING PLANT JAKARTA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING PLANT JAKARTA", title_clean   = "STAFF ACCOUNTING PLANT JAKARTA", title_id  = "5945"  where id = '1661'
=>>>>>>>>>>>>>>>>>>>>>> 1708 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '1708'
=>>>>>>>>>>>>>>>>>>>>>> 2359 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '2359'
=>>>>>>>>>>>>>>>>>>>>>> 2587 /lvl2/ Staff Accounting (Tax)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Tax)", title_clean   = " (Tax)", title_id  = "5945"  where id = '2587'
=>>>>>>>>>>>>>>>>>>>>>> 2684 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '2684'
=>>>>>>>>>>>>>>>>>>>>>> 2808 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '2808'
=>>>>>>>>>>>>>>>>>>>>>> 2920 /lvl2/ Staff Accounting and Taxing  /  Keuangan dan Pajak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Taxing  /  Keuangan dan Pajak", title_clean   = " and Taxing  /  Keuangan dan Pajak", title_id  = "5945"  where id = '2920'
=>>>>>>>>>>>>>>>>>>>>>> 3003 /lvl2/ Staff Accounting (Cabang Daan Mogot)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cabang Daan Mogot)", title_clean   = " (Cabang Daan Mogot)", title_id  = "5945"  where id = '3003'
=>>>>>>>>>>>>>>>>>>>>>> 3010 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '3010'
=>>>>>>>>>>>>>>>>>>>>>> 3097 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '3097'
=>>>>>>>>>>>>>>>>>>>>>> 3444 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '3444'
=>>>>>>>>>>>>>>>>>>>>>> 4122 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '4122'
=>>>>>>>>>>>>>>>>>>>>>> 4126 /lvl2/ Staff ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ACCOUNTING", title_clean   = "Staff ACCOUNTING", title_id  = "5945"  where id = '4126'
=>>>>>>>>>>>>>>>>>>>>>> 4634 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '4634'
=>>>>>>>>>>>>>>>>>>>>>> 4904 /lvl2/ Staff Accounting (experience)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (experience)", title_clean   = " (experience)", title_id  = "5945"  where id = '4904'
=>>>>>>>>>>>>>>>>>>>>>> 4914 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '4914'
=>>>>>>>>>>>>>>>>>>>>>> 5065 /lvl2/ Staff Accounting (Palembang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Palembang)", title_clean   = " (Palembang)", title_id  = "5945"  where id = '5065'
=>>>>>>>>>>>>>>>>>>>>>> 5199 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '5199'
=>>>>>>>>>>>>>>>>>>>>>> 5211 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '5211'
=>>>>>>>>>>>>>>>>>>>>>> 5304 /lvl2/ Supervisor dan Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor dan -idex-", title_clean   = "Supervisor dan ", title_id  = "5945"  where id = '5304'
=>>>>>>>>>>>>>>>>>>>>>> 5524 /lvl2/ Staff Accounting dan Staff Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- dan Staff Tax", title_clean   = " dan Staff Tax", title_id  = "5945"  where id = '5524'
=>>>>>>>>>>>>>>>>>>>>>> 5697 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '5697'
=>>>>>>>>>>>>>>>>>>>>>> 5979 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '5979'
=>>>>>>>>>>>>>>>>>>>>>> 5981 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '5981'
=>>>>>>>>>>>>>>>>>>>>>> 6351 /lvl2/ STAFF ACCOUNTING [Mandarin Speakers]
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING [Mandarin Speakers]", title_clean   = "STAFF ACCOUNTING [Mandarin Speakers]", title_id  = "5945"  where id = '6351'
=>>>>>>>>>>>>>>>>>>>>>> 6412 /lvl2/ Supervisor dan Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Supervisor dan -idex-", title_clean   = "Supervisor dan ", title_id  = "5945"  where id = '6412'
=>>>>>>>>>>>>>>>>>>>>>> 6513 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '6513'
=>>>>>>>>>>>>>>>>>>>>>> 6663 /lvl2/ STAFF ACCOUNTING DAN PAJAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING DAN PAJAK", title_clean   = "STAFF ACCOUNTING DAN PAJAK", title_id  = "5945"  where id = '6663'
=>>>>>>>>>>>>>>>>>>>>>> 7088 /lvl2/ Staff Accounting (Cabang Depok)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Cabang Depok)", title_clean   = " (Cabang Depok)", title_id  = "5945"  where id = '7088'
=>>>>>>>>>>>>>>>>>>>>>> 7577 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '7577'
=>>>>>>>>>>>>>>>>>>>>>> 7804 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '7804'
=>>>>>>>>>>>>>>>>>>>>>> 8125 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '8125'
=>>>>>>>>>>>>>>>>>>>>>> 8136 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '8136'
=>>>>>>>>>>>>>>>>>>>>>> 10816 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '10816'
=>>>>>>>>>>>>>>>>>>>>>> 10832 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '10832'
=>>>>>>>>>>>>>>>>>>>>>> 11316 /lvl2/ Staff Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax", title_clean   = " and Tax", title_id  = "5945"  where id = '11316'
=>>>>>>>>>>>>>>>>>>>>>> 11506 /lvl2/ Staff Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax", title_clean   = " and Tax", title_id  = "5945"  where id = '11506'
=>>>>>>>>>>>>>>>>>>>>>> 12022 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '12022'
=>>>>>>>>>>>>>>>>>>>>>> 12031 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '12031'
=>>>>>>>>>>>>>>>>>>>>>> 12349 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '12349'
=>>>>>>>>>>>>>>>>>>>>>> 12359 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '12359'
=>>>>>>>>>>>>>>>>>>>>>> 12441 /lvl2/ Staff ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Staff ACCOUNTING", title_clean   = "Staff ACCOUNTING", title_id  = "5945"  where id = '12441'
=>>>>>>>>>>>>>>>>>>>>>> 12499 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '12499'
=>>>>>>>>>>>>>>>>>>>>>> 12610 /lvl2/ Staff Accounting-Finance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex--Finance", title_clean   = "-Finance", title_id  = "5945"  where id = '12610'
=>>>>>>>>>>>>>>>>>>>>>> 13030 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '13030'
=>>>>>>>>>>>>>>>>>>>>>> 13088 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '13088'
=>>>>>>>>>>>>>>>>>>>>>> 13353 /lvl2/ STAFF ACCOUNTING - TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING - TAX", title_clean   = "STAFF ACCOUNTING - TAX", title_id  = "5945"  where id = '13353'
=>>>>>>>>>>>>>>>>>>>>>> 13452 /lvl2/ Staff Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax", title_clean   = " and Tax", title_id  = "5945"  where id = '13452'
=>>>>>>>>>>>>>>>>>>>>>> 14002 /lvl2/ Staff Accounting Pajak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Pajak", title_clean   = " Pajak", title_id  = "5945"  where id = '14002'
=>>>>>>>>>>>>>>>>>>>>>> 14047 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '14047'
=>>>>>>>>>>>>>>>>>>>>>> 14058 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '14058'
=>>>>>>>>>>>>>>>>>>>>>> 14201 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '14201'
=>>>>>>>>>>>>>>>>>>>>>> 14549 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '14549'
=>>>>>>>>>>>>>>>>>>>>>> 15576 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '15576'
=>>>>>>>>>>>>>>>>>>>>>> 16160 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '16160'
=>>>>>>>>>>>>>>>>>>>>>> 16231 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '16231'
=>>>>>>>>>>>>>>>>>>>>>> 16260 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '16260'
=>>>>>>>>>>>>>>>>>>>>>> 16344 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '16344'
=>>>>>>>>>>>>>>>>>>>>>> 16359 /lvl2/ STAFF ACCOUNTING
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STAFF ACCOUNTING", title_clean   = "STAFF ACCOUNTING", title_id  = "5945"  where id = '16359'
=>>>>>>>>>>>>>>>>>>>>>> 16475 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '16475'
=>>>>>>>>>>>>>>>>>>>>>> 16504 /lvl2/ Staff Accounting (Hotel Pyrenees Jogja)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hotel Pyrenees Jogja)", title_clean   = " (Hotel Pyrenees Jogja)", title_id  = "5945"  where id = '16504'
=>>>>>>>>>>>>>>>>>>>>>> 16516 /lvl2/ Staff Accounting (Hotel Pyrenees Jogja)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Hotel Pyrenees Jogja)", title_clean   = " (Hotel Pyrenees Jogja)", title_id  = "5945"  where id = '16516'
=>>>>>>>>>>>>>>>>>>>>>> 16556 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '16556'
=>>>>>>>>>>>>>>>>>>>>>> 16622 /lvl2/ Staff Accounting & Pajak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- & Pajak", title_clean   = " & Pajak", title_id  = "5945"  where id = '16622'
=>>>>>>>>>>>>>>>>>>>>>> 16635 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '16635'
=>>>>>>>>>>>>>>>>>>>>>> 16649 /lvl2/ Staff Accounting

=>>>>>>>>>>>>>>>>>>>>>> 19551 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '19551'
=>>>>>>>>>>>>>>>>>>>>>> 19618 /lvl2/ Staff Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax", title_clean   = " and Tax", title_id  = "5945"  where id = '19618'
=>>>>>>>>>>>>>>>>>>>>>> 19860 /lvl2/ Staff Accounting and Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- and Tax", title_clean   = " and Tax", title_id  = "5945"  where id = '19860'
=>>>>>>>>>>>>>>>>>>>>>> 20115 /lvl2/ Staff Accounting
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5945"  where id = '20115'
6457 /lvl1/ System Developer
=>>>>>>>>>>>>>>>>>>>>>> 5358 /lvl2/ ERP System Developer and ERP System Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ERP -idex- and ERP System Analyst", title_clean   = "ERP  and ERP System Analyst", title_id  = "6457"  where id = '5358'
=>>>>>>>>>>>>>>>>>>>>>> 11701 /lvl2/ System Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6457"  where id = '11701'
2106 /lvl1/ Marketing Progam
=>>>>>>>>>>>>>>>>>>>>>> 1479 /lvl2/ Fresh Graduate Marketing Progam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Fresh Graduate -idex-", title_clean   = "Fresh Graduate ", title_id  = "2106"  where id = '1479'
1595 /lvl1/ Drill Technician
=>>>>>>>>>>>>>>>>>>>>>> 18718 /lvl2/ Drill Technician
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1595"  where id = '18718'
4923 /lvl1/ Regulator Office
=>>>>>>>>>>>>>>>>>>>>>> 14059 /lvl2/ Regulator Office
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4923"  where id = '14059'
828 /lvl1/ Campaign Officer
=>>>>>>>>>>>>>>>>>>>>>> 4497 /lvl2/ Campaign Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "828"  where id = '4497'
3390 /lvl1/ Litigation Staff
=>>>>>>>>>>>>>>>>>>>>>> 17885 /lvl2/ Litigation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3390"  where id = '17885'
575 /lvl1/ Audit Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 8375 /lvl2/ Audit Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "575"  where id = '8375'
831 /lvl1/ Capex Controller
=>>>>>>>>>>>>>>>>>>>>>> 13015 /lvl2/ CAPEX Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CAPEX Controller", title_clean   = "CAPEX Controller", title_id  = "831"  where id = '13015'
=>>>>>>>>>>>>>>>>>>>>>> 15059 /lvl2/ CAPEX Controller
UPDATE jobstreet_raws_v2 SET  title_extraction  = "CAPEX Controller", title_clean   = "CAPEX Controller", title_id  = "831"  where id = '15059'
6208 /lvl1/ Store Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 472 /lvl2/ Assistant Store Supervisor / Supervisor for Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex- / Supervisor for Pontianak", title_clean   = "Assistant  / Supervisor for Pontianak", title_id  = "6208"  where id = '472'
=>>>>>>>>>>>>>>>>>>>>>> 2044 /lvl2/ STORE SUPERVISOR - JAPANESE RESTAURANT PONTIANAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE SUPERVISOR - JAPANESE RESTAURANT PONTIANAK", title_clean   = "STORE SUPERVISOR - JAPANESE RESTAURANT PONTIANAK", title_id  = "6208"  where id = '2044'
=>>>>>>>>>>>>>>>>>>>>>> 2221 /lvl2/ Store Supervisor - Bukittinggi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bukittinggi", title_clean   = " - Bukittinggi", title_id  = "6208"  where id = '2221'
=>>>>>>>>>>>>>>>>>>>>>> 2830 /lvl2/ Store Supervisor Cabang Bengkulu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Bengkulu", title_clean   = " Cabang Bengkulu", title_id  = "6208"  where id = '2830'
=>>>>>>>>>>>>>>>>>>>>>> 5846 /lvl2/ Store Supervisor (Area Pekanbaru)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Pekanbaru)", title_clean   = " (Area Pekanbaru)", title_id  = "6208"  where id = '5846'
=>>>>>>>>>>>>>>>>>>>>>> 6966 /lvl2/ Store Supervisor (Area Pekanbaru)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Area Pekanbaru)", title_clean   = " (Area Pekanbaru)", title_id  = "6208"  where id = '6966'
=>>>>>>>>>>>>>>>>>>>>>> 7738 /lvl2/ Store Supervisor_Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-_Jakarta", title_clean   = "_Jakarta", title_id  = "6208"  where id = '7738'
=>>>>>>>>>>>>>>>>>>>>>> 7982 /lvl2/ Store Supervisor - Kudus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kudus", title_clean   = " - Kudus", title_id  = "6208"  where id = '7982'
=>>>>>>>>>>>>>>>>>>>>>> 8056 /lvl2/ Store Supervisor_Jakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-_Jakarta", title_clean   = "_Jakarta", title_id  = "6208"  where id = '8056'
=>>>>>>>>>>>>>>>>>>>>>> 8290 /lvl2/ Store Supervisor - Kudus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kudus", title_clean   = " - Kudus", title_id  = "6208"  where id = '8290'
=>>>>>>>>>>>>>>>>>>>>>> 9042 /lvl2/ Store Supervisor - Dumai
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Dumai", title_clean   = " - Dumai", title_id  = "6208"  where id = '9042'
=>>>>>>>>>>>>>>>>>>>>>> 9479 /lvl2/ Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6208"  where id = '9479'
=>>>>>>>>>>>>>>>>>>>>>> 9630 /lvl2/ Store Supervisor - Duri Bengkalis
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Duri Bengkalis", title_clean   = " - Duri Bengkalis", title_id  = "6208"  where id = '9630'
=>>>>>>>>>>>>>>>>>>>>>> 11897 /lvl2/ Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6208"  where id = '11897'
=>>>>>>>>>>>>>>>>>>>>>> 12054 /lvl2/ Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6208"  where id = '12054'
=>>>>>>>>>>>>>>>>>>>>>> 12098 /lvl2/ Store Supervisor - Samarinda
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Samarinda", title_clean   = " - Samarinda", title_id  = "6208"  where id = '12098'
=>>>>>>>>>>>>>>>>>>>>>> 12127 /lvl2/ Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6208"  where id = '12127'
=>>>>>>>>>>>>>>>>>>>>>> 12159 /lvl2/ Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6208"  where id = '12159'
=>>>>>>>>>>>>>>>>>>>>>> 12330 /lvl2/ Assistant Store Supervisor Jabodetabek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Assistant -idex- Jabodetabek", title_clean   = "Assistant  Jabodetabek", title_id  = "6208"  where id = '12330'
=>>>>>>>>>>>>>>>>>>>>>> 12845 /lvl2/ Store Supervisor - Malang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Malang", title_clean   = " - Malang", title_id  = "6208"  where id = '12845'
=>>>>>>>>>>>>>>>>>>>>>> 13094 /lvl2/ STORE SUPERVISOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE SUPERVISOR", title_clean   = "STORE SUPERVISOR", title_id  = "6208"  where id = '13094'
=>>>>>>>>>>>>>>>>>>>>>> 13419 /lvl2/ Store Supervisor - Padang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Padang", title_clean   = " - Padang", title_id  = "6208"  where id = '13419'
=>>>>>>>>>>>>>>>>>>>>>> 13438 /lvl2/ Store Supervisor - Padang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Padang", title_clean   = " - Padang", title_id  = "6208"  where id = '13438'
=>>>>>>>>>>>>>>>>>>>>>> 13918 /lvl2/ STORE SUPERVISOR - DJOURNAL COFFEE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE SUPERVISOR - DJOURNAL COFFEE", title_clean   = "STORE SUPERVISOR - DJOURNAL COFFEE", title_id  = "6208"  where id = '13918'
=>>>>>>>>>>>>>>>>>>>>>> 14636 /lvl2/ Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6208"  where id = '14636'
=>>>>>>>>>>>>>>>>>>>>>> 14876 /lvl2/ Store Supervisor - Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Batam", title_clean   = " - Batam", title_id  = "6208"  where id = '14876'
=>>>>>>>>>>>>>>>>>>>>>> 15231 /lvl2/ Store Supervisor - Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Balikpapan", title_clean   = " - Balikpapan", title_id  = "6208"  where id = '15231'
=>>>>>>>>>>>>>>>>>>>>>> 19137 /lvl2/ Store Supervisor_Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-_Cirebon", title_clean   = "_Cirebon", title_id  = "6208"  where id = '19137'
=>>>>>>>>>>>>>>>>>>>>>> 19529 /lvl2/ STORE SUPERVISOR - CHINESEE RESTAURANT (NON HALAL) JABODETABEK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "STORE SUPERVISOR - CHINESEE RESTAURANT (NON HALAL) JABODETABEK", title_clean   = "STORE SUPERVISOR - CHINESEE RESTAURANT (NON HALAL) JABODETABEK", title_id  = "6208"  where id = '19529'
=>>>>>>>>>>>>>>>>>>>>>> 20437 /lvl2/ Pharmacy Store Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Pharmacy -idex-", title_clean   = "Pharmacy ", title_id  = "6208"  where id = '20437'
1601 /lvl1/ Driver Ekspedisi

=>>>>>>>>>>>>>>>>>>>>>> 9631 /lvl2/ Driver Ekspedisi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1601"  where id = '9631'
1602 /lvl1/ Driver Komisaris
=>>>>>>>>>>>>>>>>>>>>>> 15168 /lvl2/ Driver Komisaris
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1602"  where id = '15168'
3138 /lvl1/ Junior Secretary
=>>>>>>>>>>>>>>>>>>>>>> 727 /lvl2/ Junior Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3138"  where id = '727'
=>>>>>>>>>>>>>>>>>>>>>> 10413 /lvl2/ JUNIOR SECRETARY
UPDATE jobstreet_raws_v2 SET  title_extraction  = "JUNIOR SECRETARY", title_clean   = "JUNIOR SECRETARY", title_id  = "3138"  where id = '10413'
=>>>>>>>>>>>>>>>>>>>>>> 16894 /lvl2/ Junior Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3138"  where id = '16894'
=>>>>>>>>>>>>>>>>>>>>>> 17031 /lvl2/ Junior Secretary
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3138"  where id = '17031'
3650 /lvl1/ Marketing Benang
=>>>>>>>>>>>>>>>>>>>>>> 5157 /lvl2/ Marketing Benang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3650"  where id = '5157'
5699 /lvl1/ Server & Barista
1860 /lvl1/ F&B Kitchen Crew
=>>>>>>>>>>>>>>>>>>>>>> 3751 /lvl2/ F&B Kitchen Crew
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1860"  where id = '3751'
5188 /lvl1/ Sales Force Team
=>>>>>>>>>>>>>>>>>>>>>> 10062 /lvl2/ Sales Force Team
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5188"  where id = '10062'
325 /lvl1/ Advertising Lead
=>>>>>>>>>>>>>>>>>>>>>> 4332 /lvl2/ Advertising Lead
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "325"  where id = '4332'
1093 /lvl1/ Control Engineer
=>>>>>>>>>>>>>>>>>>>>>> 12035 /lvl2/ Quality Control Engineer (QC)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Quality -idex- (QC)", title_clean   = "Quality  (QC)", title_id  = "1093"  where id = '12035'
=>>>>>>>>>>>>>>>>>>>>>> 12037 /lvl2/ QUALITY CONTROL ENGINEER (Telecommunication Company)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QUALITY CONTROL ENGINEER (Telecommunication Company)", title_clean   = "QUALITY CONTROL ENGINEER (Telecommunication Company)", title_id  = "1093"  where id = '12037'
=>>>>>>>>>>>>>>>>>>>>>> 18186 /lvl2/ Control Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1093"  where id = '18186'
4677 /lvl1/ Purchasing Medis
=>>>>>>>>>>>>>>>>>>>>>> 13081 /lvl2/ PURCHASING MEDIS
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING MEDIS", title_clean   = "PURCHASING MEDIS", title_id  = "4677"  where id = '13081'
4933 /lvl1/ Regulatory Staff
=>>>>>>>>>>>>>>>>>>>>>> 4316 /lvl2/ Regulatory Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4933"  where id = '4316'
=>>>>>>>>>>>>>>>>>>>>>> 5420 /lvl2/ QA  /  Regulatory Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA  /  -idex-", title_clean   = "QA  /  ", title_id  = "4933"  where id = '5420'
=>>>>>>>>>>>>>>>>>>>>>> 13641 /lvl2/ Regulatory Staff (BPOM & Alkes)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (BPOM & Alkes)", title_clean   = " (BPOM & Alkes)", title_id  = "4933"  where id = '13641'
=>>>>>>>>>>>>>>>>>>>>>> 18479 /lvl2/ Regulatory Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4933"  where id = '18479'
6726 /lvl1/ Telesurvey Staff
=>>>>>>>>>>>>>>>>>>>>>> 15447 /lvl2/ Telesurvey staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Telesurvey staff", title_clean   = "Telesurvey staff", title_id  = "6726"  where id = '15447'
5191 /lvl1/ Sales Group Head
=>>>>>>>>>>>>>>>>>>>>>> 5442 /lvl2/ Sales Group Head
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5191"  where id = '5442'
328 /lvl1/ Aesthetic Dokter
3912 /lvl1/ Mobile Developer
=>>>>>>>>>>>>>>>>>>>>>> 2277 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '2277'
=>>>>>>>>>>>>>>>>>>>>>> 3028 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '3028'
=>>>>>>>>>>>>>>>>>>>>>> 3565 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '3565'
=>>>>>>>>>>>>>>>>>>>>>> 4502 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '4502'
=>>>>>>>>>>>>>>>>>>>>>> 6625 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '6625'
=>>>>>>>>>>>>>>>>>>>>>> 7433 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '7433'
=>>>>>>>>>>>>>>>>>>>>>> 7689 /lvl2/ Mobile Developer (Ionic)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Ionic)", title_clean   = " (Ionic)", title_id  = "3912"  where id = '7689'
=>>>>>>>>>>>>>>>>>>>>>> 7934 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '7934'
=>>>>>>>>>>>>>>>>>>>>>> 8256 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '8256'
=>>>>>>>>>>>>>>>>>>>>>> 8625 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '8625'
=>>>>>>>>>>>>>>>>>>>>>> 9696 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '9696'
=>>>>>>>>>>>>>>>>>>>>>> 9834 /lvl2/ Mobile Developer (Android\u002FFlutter) - BSA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Android\u002FFlutter) - BSA", title_clean   = " (Android\u002FFlutter) - BSA", title_id  = "3912"  where id = '9834'
=>>>>>>>>>>>>>>>>>>>>>> 10484 /lvl2/ MOBILE DEVELOPER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MOBILE DEVELOPER", title_clean   = "MOBILE DEVELOPER", title_id  = "3912"  where id = '10484'
=>>>>>>>>>>>>>>>>>>>>>> 10640 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '10640'
=>>>>>>>>>>>>>>>>>>>>>> 10907 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '10907'
=>>>>>>>>>>>>>>>>>>>>>> 11752 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '11752'
=>>>>>>>>>>>>>>>>>>>>>> 11755 /lvl2/ Mobile Developer (Flutter)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Flutter)", title_clean   = " (Flutter)", title_id  = "3912"  where id = '11755'
=>>>>>>>>>>>>>>>>>>>>>> 11856 /lvl2/ Mobile Developer (Flutter and GetX package)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Flutter and GetX package)", title_clean   = " (Flutter and GetX package)", title_id  = "3912"  where id = '11856'
=>>>>>>>>>>>>>>>>>>>>>> 11960 /lvl2/ Sr. Full Stack Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Sr. Full Stack -idex-", title_clean   = "Sr. Full Stack ", title_id  = "3912"  where id = '11960'
=>>>>>>>>>>>>>>>>>>>>>> 12273 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '12273'
=>>>>>>>>>>>>>>>>>>>>>> 13771 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '13771'
=>>>>>>>>>>>>>>>>>>>>>> 13925 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '13925'
=>>>>>>>>>>>>>>>>>>>>>> 15306 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '15306'
=>>>>>>>>>>>>>>>>>>>>>> 15894 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '15894'
=>>>>>>>>>>>>>>>>>>>>>> 16209 /lvl2/ Mobile Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3912"  where id = '16209'
585 /lvl1/ Automation Staff

=>>>>>>>>>>>>>>>>>>>>>> 5098 /lvl2/ HSE Automation Staff Shopee Express (Cakung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE -idex- Shopee Express (Cakung)", title_clean   = "HSE  Shopee Express (Cakung)", title_id  = "585"  where id = '5098'
=>>>>>>>>>>>>>>>>>>>>>> 6221 /lvl2/ HSE Automation Staff Shopee Express (Cakung)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "HSE -idex- Shopee Express (Cakung)", title_clean   = "HSE  Shopee Express (Cakung)", title_id  = "585"  where id = '6221'
=>>>>>>>>>>>>>>>>>>>>>> 13727 /lvl2/ Automation Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "585"  where id = '13727'
6731 /lvl1/ Tenaga Instalasi
=>>>>>>>>>>>>>>>>>>>>>> 11821 /lvl2/ Tenaga Instalasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6731"  where id = '11821'
76 /lvl1/ Accounting & Tax
=>>>>>>>>>>>>>>>>>>>>>> 1048 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '1048'
=>>>>>>>>>>>>>>>>>>>>>> 1161 /lvl2/ ACCOUNTING & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX", title_clean   = "ACCOUNTING & TAX", title_id  = "76"  where id = '1161'
=>>>>>>>>>>>>>>>>>>>>>> 2807 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '2807'
=>>>>>>>>>>>>>>>>>>>>>> 2862 /lvl2/ Stafff Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Stafff -idex-", title_clean   = "Stafff ", title_id  = "76"  where id = '2862'
=>>>>>>>>>>>>>>>>>>>>>> 7371 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '7371'
=>>>>>>>>>>>>>>>>>>>>>> 8822 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '8822'
=>>>>>>>>>>>>>>>>>>>>>> 9469 /lvl2/ ACCOUNTING & TAX ASISTANT MANAGER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX ASISTANT MANAGER", title_clean   = "ACCOUNTING & TAX ASISTANT MANAGER", title_id  = "76"  where id = '9469'
=>>>>>>>>>>>>>>>>>>>>>> 12055 /lvl2/ SPV Finance,Accounting & Tax (FAT)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV Finance,-idex- (FAT)", title_clean   = "SPV Finance, (FAT)", title_id  = "76"  where id = '12055'
=>>>>>>>>>>>>>>>>>>>>>> 12294 /lvl2/ SPV Finance, Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV Finance, -idex-", title_clean   = "SPV Finance, ", title_id  = "76"  where id = '12294'
=>>>>>>>>>>>>>>>>>>>>>> 13538 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '13538'
=>>>>>>>>>>>>>>>>>>>>>> 14162 /lvl2/ Finance, Accounting & Tax Specialist (Supervisor level)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance, -idex- Specialist (Supervisor level)", title_clean   = "Finance,  Specialist (Supervisor level)", title_id  = "76"  where id = '14162'
=>>>>>>>>>>>>>>>>>>>>>> 14527 /lvl2/ Finance, Accounting & Tax Specialist (Supervisor level)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance, -idex- Specialist (Supervisor level)", title_clean   = "Finance,  Specialist (Supervisor level)", title_id  = "76"  where id = '14527'
=>>>>>>>>>>>>>>>>>>>>>> 14542 /lvl2/ Finance, Accounting & Tax Specialist (Supervisor level)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance, -idex- Specialist (Supervisor level)", title_clean   = "Finance,  Specialist (Supervisor level)", title_id  = "76"  where id = '14542'
=>>>>>>>>>>>>>>>>>>>>>> 14624 /lvl2/ Accounting & Tax – Senior Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- – Senior Staff", title_clean   = " – Senior Staff", title_id  = "76"  where id = '14624'
=>>>>>>>>>>>>>>>>>>>>>> 14737 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '14737'
=>>>>>>>>>>>>>>>>>>>>>> 15416 /lvl2/ Accounting & Tax Specialist Bali
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Specialist Bali", title_clean   = " Specialist Bali", title_id  = "76"  where id = '15416'
=>>>>>>>>>>>>>>>>>>>>>> 15450 /lvl2/ ACCOUNTING & TAX
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING & TAX", title_clean   = "ACCOUNTING & TAX", title_id  = "76"  where id = '15450'
=>>>>>>>>>>>>>>>>>>>>>> 16758 /lvl2/ Finance, Accounting & Tax  Assitant Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance, -idex-  Assitant Manager", title_clean   = "Finance,   Assitant Manager", title_id  = "76"  where id = '16758'
=>>>>>>>>>>>>>>>>>>>>>> 16898 /lvl2/ Accounting & Tax staf
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- staf", title_clean   = " staf", title_id  = "76"  where id = '16898'
=>>>>>>>>>>>>>>>>>>>>>> 19013 /lvl2/ Accounting & Tax
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "76"  where id = '19013'
4685 /lvl1/ Purchasing Staff
=>>>>>>>>>>>>>>>>>>>>>> 37 /lvl2/ PURCHASING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF", title_clean   = "PURCHASING STAFF", title_id  = "4685"  where id = '37'
=>>>>>>>>>>>>>>>>>>>>>> 142 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '142'
=>>>>>>>>>>>>>>>>>>>>>> 172 /lvl2/ PURCHASING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF", title_clean   = "PURCHASING STAFF", title_id  = "4685"  where id = '172'
=>>>>>>>>>>>>>>>>>>>>>> 177 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '177'
=>>>>>>>>>>>>>>>>>>>>>> 247 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '247'
=>>>>>>>>>>>>>>>>>>>>>> 436 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '436'
=>>>>>>>>>>>>>>>>>>>>>> 1335 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '1335'
=>>>>>>>>>>>>>>>>>>>>>> 2335 /lvl2/ Purchasing Staff (Technical)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Technical)", title_clean   = " (Technical)", title_id  = "4685"  where id = '2335'
=>>>>>>>>>>>>>>>>>>>>>> 2371 /lvl2/ PURCHASING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF", title_clean   = "PURCHASING STAFF", title_id  = "4685"  where id = '2371'
=>>>>>>>>>>>>>>>>>>>>>> 3005 /lvl2/ Purchasing Staff - MANDARIN Speaking
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - MANDARIN Speaking", title_clean   = " - MANDARIN Speaking", title_id  = "4685"  where id = '3005'
=>>>>>>>>>>>>>>>>>>>>>> 3318 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '3318'
=>>>>>>>>>>>>>>>>>>>>>> 3603 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '3603'
=>>>>>>>>>>>>>>>>>>>>>> 4860 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '4860'
=>>>>>>>>>>>>>>>>>>>>>> 4936 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '4936'
=>>>>>>>>>>>>>>>>>>>>>> 5333 /lvl2/ Purchasing Staff (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "4685"  where id = '5333'
=>>>>>>>>>>>>>>>>>>>>>> 6009 /lvl2/ Purchasing Staff (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "4685"  where id = '6009'
=>>>>>>>>>>>>>>>>>>>>>> 6074 /lvl2/ Purchasing Staff (Mandarin Speaking)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaking)", title_clean   = " (Mandarin Speaking)", title_id  = "4685"  where id = '6074'
=>>>>>>>>>>>>>>>>>>>>>> 6323 /lvl2/ 采购专员 Purchasing Staff (Location Gandaria 8 Office Tower)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "采购专员 -idex- (Location Gandaria 8 Office Tower)", title_clean   = "采购专员  (Location Gandaria 8 Office Tower)", title_id  = "4685"  where id = '6323'
=>>>>>>>>>>>>>>>>>>>>>> 6342 /lvl2/ Purchasing Staff (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "4685"  where id = '6342'
=>>>>>>>>>>>>>>>>>>>>>> 6510 /lvl2/ PURCHASING STAFF  (MANDARIN SPEAKER)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF  (MANDARIN SPEAKER)", title_clean   = "PURCHASING STAFF  (MANDARIN SPEAKER)", title_id  = "4685"  where id = '6510'
=>>>>>>>>>>>>>>>>>>>>>> 6665 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '6665'
=>>>>>>>>>>>>>>>>>>>>>> 6936 /lvl2/ Finance Purchasing Stafff (Manufaktur Baja di Margomulyo Indah Surabaya)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance -idex-f (Manufaktur Baja di Margomulyo Indah Surabaya)", title_clean   = "Finance f (Manufaktur Baja di Margomulyo Indah Surabaya)", title_id  = "4685"  where id = '6936'
=>>>>>>>>>>>>>>>>>>>>>> 7272 /lvl2/ Purchasing Staff (IT Parts u002F Engineer Parts)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (IT Parts u002F Engineer Parts)", title_clean   = " (IT Parts u002F Engineer Parts)", title_id  = "4685"  where id = '7272'
=>>>>>>>>>>>>>>>>>>>>>> 7566 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '7566'
=>>>>>>>>>>>>>>>>>>>>>> 9299 /lvl2/ Purchasing Staff (Mandarin Speaker) 3 Orang +HR(Mandarin Speaker) 1 Orang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker) 3 Orang +HR(Mandarin Speaker) 1 Orang", title_clean   = " (Mandarin Speaker) 3 Orang +HR(Mandarin Speaker) 1 Orang", title_id  = "4685"  where id = '9299'
=>>>>>>>>>>>>>>>>>>>>>> 10786 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '10786'
=>>>>>>>>>>>>>>>>>>>>>> 10891 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '10891'
=>>>>>>>>>>>>>>>>>>>>>> 12420 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '12420'
=>>>>>>>>>>>>>>>>>>>>>> 12440 /lvl2/ PURCHASING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF", title_clean   = "PURCHASING STAFF", title_id  = "4685"  where id = '12440'
=>>>>>>>>>>>>>>>>>>>>>> 14754 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '14754'
=>>>>>>>>>>>>>>>>>>>>>> 16114 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '16114'
=>>>>>>>>>>>>>>>>>>>>>> 16174 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '16174'
=>>>>>>>>>>>>>>>>>>>>>> 16190 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '16190'
=>>>>>>>>>>>>>>>>>>>>>> 16666 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '16666'
=>>>>>>>>>>>>>>>>>>>>>> 16876 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '16876'
=>>>>>>>>>>>>>>>>>>>>>> 17019 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17019'
=>>>>>>>>>>>>>>>>>>>>>> 17223 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17223'
=>>>>>>>>>>>>>>>>>>>>>> 17241 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17241'
=>>>>>>>>>>>>>>>>>>>>>> 17258 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17258'
=>>>>>>>>>>>>>>>>>>>>>> 17417 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17417'
=>>>>>>>>>>>>>>>>>>>>>> 17490 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17490'
=>>>>>>>>>>>>>>>>>>>>>> 17506 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17506'
=>>>>>>>>>>>>>>>>>>>>>> 17534 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17534'
=>>>>>>>>>>>>>>>>>>>>>> 17552 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '17552'
=>>>>>>>>>>>>>>>>>>>>>> 18639 /lvl2/ PURCHASING STAFF LOKAL  DEPT
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF LOKAL  DEPT", title_clean   = "PURCHASING STAFF LOKAL  DEPT", title_id  = "4685"  where id = '18639'
=>>>>>>>>>>>>>>>>>>>>>> 19017 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '19017'
=>>>>>>>>>>>>>>>>>>>>>> 19018 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '19018'
=>>>>>>>>>>>>>>>>>>>>>> 19032 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '19032'
=>>>>>>>>>>>>>>>>>>>>>> 19574 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '19574'
=>>>>>>>>>>>>>>>>>>>>>> 19607 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '19607'
=>>>>>>>>>>>>>>>>>>>>>> 20415 /lvl2/ PURCHASING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PURCHASING STAFF", title_clean   = "PURCHASING STAFF", title_id  = "4685"  where id = '20415'
=>>>>>>>>>>>>>>>>>>>>>> 20461 /lvl2/ Purchasing Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4685"  where id = '20461'
=>>>>>>>>>>>>>>>>>>>>>> 20537 /lvl2/ Purchasing Staff - Cikarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cikarang", title_clean   = " - Cikarang", title_id  = "4685"  where id = '20537'
5709 /lvl1/ Service Engineer

=>>>>>>>>>>>>>>>>>>>>>> 991 /lvl2/ SERVICE ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SERVICE ENGINEER", title_clean   = "SERVICE ENGINEER", title_id  = "5709"  where id = '991'
=>>>>>>>>>>>>>>>>>>>>>> 1177 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '1177'
=>>>>>>>>>>>>>>>>>>>>>> 6172 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '6172'
=>>>>>>>>>>>>>>>>>>>>>> 7149 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '7149'
=>>>>>>>>>>>>>>>>>>>>>> 7171 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '7171'
=>>>>>>>>>>>>>>>>>>>>>> 7810 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '7810'
=>>>>>>>>>>>>>>>>>>>>>> 8147 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '8147'
=>>>>>>>>>>>>>>>>>>>>>> 8879 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '8879'
=>>>>>>>>>>>>>>>>>>>>>> 10013 /lvl2/ SERVICE ENGINEER (CODE: SE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SERVICE ENGINEER (CODE: SE)", title_clean   = "SERVICE ENGINEER (CODE: SE)", title_id  = "5709"  where id = '10013'
=>>>>>>>>>>>>>>>>>>>>>> 14184 /lvl2/ SERVICE ENGINEER (SE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SERVICE ENGINEER (SE)", title_clean   = "SERVICE ENGINEER (SE)", title_id  = "5709"  where id = '14184'
=>>>>>>>>>>>>>>>>>>>>>> 14554 /lvl2/ SERVICE ENGINEER (SE)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SERVICE ENGINEER (SE)", title_clean   = "SERVICE ENGINEER (SE)", title_id  = "5709"  where id = '14554'
=>>>>>>>>>>>>>>>>>>>>>> 14966 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '14966'
=>>>>>>>>>>>>>>>>>>>>>> 15072 /lvl2/ Tech Supp Service Engineer area Bandung\u002FYogya, Surabaya dan Jakarta)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tech Supp -idex- area Bandung\u002FYogya, Surabaya dan Jakarta)", title_clean   = "Tech Supp  area Bandung\u002FYogya, Surabaya dan Jakarta)", title_id  = "5709"  where id = '15072'
=>>>>>>>>>>>>>>>>>>>>>> 15386 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '15386'
=>>>>>>>>>>>>>>>>>>>>>> 16538 /lvl2/ Tech. Service Engineer – Medical Device
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tech. -idex- – Medical Device", title_clean   = "Tech.  – Medical Device", title_id  = "5709"  where id = '16538'
=>>>>>>>>>>>>>>>>>>>>>> 17484 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '17484'
=>>>>>>>>>>>>>>>>>>>>>> 17931 /lvl2/ Service Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5709"  where id = '17931'
=>>>>>>>>>>>>>>>>>>>>>> 20566 /lvl2/ Service Engineer (Medical) ZEISS Product
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Medical) ZEISS Product", title_clean   = " (Medical) ZEISS Product", title_id  = "5709"  where id = '20566'
3408 /lvl1/ Logistic Manager
=>>>>>>>>>>>>>>>>>>>>>> 3970 /lvl2/ Logistic Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3408"  where id = '3970'
=>>>>>>>>>>>>>>>>>>>>>> 15954 /lvl2/ Logistic Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3408"  where id = '15954'
=>>>>>>>>>>>>>>>>>>>>>> 20222 /lvl2/ Logistic Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3408"  where id = '20222'
1105 /lvl1/ Coordinator Hsse
=>>>>>>>>>>>>>>>>>>>>>> 17325 /lvl2/ Coordinator HSSE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Coordinator HSSE", title_clean   = "Coordinator HSSE", title_id  = "1105"  where id = '17325'
3409 /lvl1/ Logistic Officer
=>>>>>>>>>>>>>>>>>>>>>> 259 /lvl2/ Logistic Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3409"  where id = '259'
=>>>>>>>>>>>>>>>>>>>>>> 8675 /lvl2/ Logistic Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3409"  where id = '8675'
3921 /lvl1/ Mobile Sales Kpr
=>>>>>>>>>>>>>>>>>>>>>> 14463 /lvl2/ Mobile Sales KPR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile Sales KPR", title_clean   = "Mobile Sales KPR", title_id  = "3921"  where id = '14463'
=>>>>>>>>>>>>>>>>>>>>>> 14817 /lvl2/ Mobile Sales KPR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile Sales KPR", title_clean   = "Mobile Sales KPR", title_id  = "3921"  where id = '14817'
=>>>>>>>>>>>>>>>>>>>>>> 14837 /lvl2/ Mobile Sales KPR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Mobile Sales KPR", title_clean   = "Mobile Sales KPR", title_id  = "3921"  where id = '14837'
6226 /lvl1/ Strategy Manager
=>>>>>>>>>>>>>>>>>>>>>> 9824 /lvl2/ Strategy Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6226"  where id = '9824'
4179 /lvl1/ Pelaksana Proyek
=>>>>>>>>>>>>>>>>>>>>>> 4226 /lvl2/ Pelaksana Proyek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4179"  where id = '4226'
=>>>>>>>>>>>>>>>>>>>>>> 7282 /lvl2/ Pelaksana Proyek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4179"  where id = '7282'
=>>>>>>>>>>>>>>>>>>>>>> 19074 /lvl2/ PELAKSANA PROYEK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PELAKSANA PROYEK", title_clean   = "PELAKSANA PROYEK", title_id  = "4179"  where id = '19074'
5715 /lvl1/ Settlement Staff
=>>>>>>>>>>>>>>>>>>>>>> 2611 /lvl2/ SETTLEMENT STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SETTLEMENT STAFF", title_clean   = "SETTLEMENT STAFF", title_id  = "5715"  where id = '2611'
4180 /lvl1/ Pemagangan Admin
=>>>>>>>>>>>>>>>>>>>>>> 71 /lvl2/ Pemagangan Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4180"  where id = '71'
341 /lvl1/ Agronomy Officer
=>>>>>>>>>>>>>>>>>>>>>> 3006 /lvl2/ Agronomy Officer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "341"  where id = '3006'
4693 /lvl1/ Python Developer
=>>>>>>>>>>>>>>>>>>>>>> 7053 /lvl2/ Python Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4693"  where id = '7053'
=>>>>>>>>>>>>>>>>>>>>>> 10401 /lvl2/ Python Developer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4693"  where id = '10401'
86 /lvl1/ Accounting Admin
=>>>>>>>>>>>>>>>>>>>>>> 5235 /lvl2/ ACCOUNTING ADMIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING ADMIN", title_clean   = "ACCOUNTING ADMIN", title_id  = "86"  where id = '5235'
=>>>>>>>>>>>>>>>>>>>>>> 6190 /lvl2/ Accounting Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "86"  where id = '6190'
=>>>>>>>>>>>>>>>>>>>>>> 10491 /lvl2/ Accounting Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "86"  where id = '10491'
4950 /lvl1/ Religion Teacher
=>>>>>>>>>>>>>>>>>>>>>> 12693 /lvl2/ RELIGION TEACHER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "RELIGION TEACHER", title_clean   = "RELIGION TEACHER", title_id  = "4950"  where id = '12693'
3159 /lvl1/ Junior Scheduler
1368 /lvl1/ Data Performance
=>>>>>>>>>>>>>>>>>>>>>> 16068 /lvl2/ Data Performance
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1368"  where id = '16068'
3928 /lvl1/ Molding Engineer
=>>>>>>>>>>>>>>>>>>>>>> 18647 /lvl2/ Molding Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3928"  where id = '18647'
4440 /lvl1/ Product Designer
=>>>>>>>>>>>>>>>>>>>>>> 2392 /lvl2/ Product Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4440"  where id = '2392'
=>>>>>>>>>>>>>>>>>>>>>> 3153 /lvl2/ Product Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4440"  where id = '3153'
=>>>>>>>>>>>>>>>>>>>>>> 3602 /lvl2/ Product Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4440"  where id = '3602'
=>>>>>>>>>>>>>>>>>>>>>> 6354 /lvl2/ Product Designer (UX)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (UX)", title_clean   = " (UX)", title_id  = "4440"  where id = '6354'
=>>>>>>>>>>>>>>>>>>>>>> 7507 /lvl2/ Product Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4440"  where id = '7507'
=>>>>>>>>>>>>>>>>>>>>>> 10291 /lvl2/ PRODUCT DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "PRODUCT DESIGNER", title_clean   = "PRODUCT DESIGNER", title_id  = "4440"  where id = '10291'
5464 /lvl1/ Senior Architect

=>>>>>>>>>>>>>>>>>>>>>> 4195 /lvl2/ Senior Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5464"  where id = '4195'
=>>>>>>>>>>>>>>>>>>>>>> 6106 /lvl2/ Senior Architect
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5464"  where id = '6106'
=>>>>>>>>>>>>>>>>>>>>>> 12537 /lvl2/ Senior Architect  / 3D
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-  / 3D", title_clean   = "  / 3D", title_id  = "5464"  where id = '12537'
1881 /lvl1/ Fashion Creative
=>>>>>>>>>>>>>>>>>>>>>> 10684 /lvl2/ FASHION CREATIVE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FASHION CREATIVE", title_clean   = "FASHION CREATIVE", title_id  = "1881"  where id = '10684'
3161 /lvl1/ Ka. Administrasi
=>>>>>>>>>>>>>>>>>>>>>> 10819 /lvl2/ KA. ADMINISTRASI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KA. ADMINISTRASI", title_clean   = "KA. ADMINISTRASI", title_id  = "3161"  where id = '10819'
858 /lvl1/ Category Manager
=>>>>>>>>>>>>>>>>>>>>>> 7767 /lvl2/ Category Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "858"  where id = '7767'
=>>>>>>>>>>>>>>>>>>>>>> 8060 /lvl2/ Category Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "858"  where id = '8060'
=>>>>>>>>>>>>>>>>>>>>>> 9815 /lvl2/ Category Manager (Electronic Retail)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Electronic Retail)", title_clean   = " (Electronic Retail)", title_id  = "858"  where id = '9815'
=>>>>>>>>>>>>>>>>>>>>>> 12726 /lvl2/ Category Manager (Trade Marketing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Trade Marketing)", title_clean   = " (Trade Marketing)", title_id  = "858"  where id = '12726'
=>>>>>>>>>>>>>>>>>>>>>> 12839 /lvl2/ Category Manager (Trade Marketing)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Trade Marketing)", title_clean   = " (Trade Marketing)", title_id  = "858"  where id = '12839'
=>>>>>>>>>>>>>>>>>>>>>> 13858 /lvl2/ Category Manager Health (Guardian)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Health (Guardian)", title_clean   = " Health (Guardian)", title_id  = "858"  where id = '13858'
859 /lvl1/ Catholic Teacher
1883 /lvl1/ Fashion Designer
=>>>>>>>>>>>>>>>>>>>>>> 4404 /lvl2/ Fashion Designer (Footwear)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Footwear)", title_clean   = " (Footwear)", title_id  = "1883"  where id = '4404'
=>>>>>>>>>>>>>>>>>>>>>> 4880 /lvl2/ FASHION DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FASHION DESIGNER", title_clean   = "FASHION DESIGNER", title_id  = "1883"  where id = '4880'
=>>>>>>>>>>>>>>>>>>>>>> 5822 /lvl2/ Fashion Designer (Ladieswear)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Ladieswear)", title_clean   = " (Ladieswear)", title_id  = "1883"  where id = '5822'
=>>>>>>>>>>>>>>>>>>>>>> 5841 /lvl2/ FASHION DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FASHION DESIGNER", title_clean   = "FASHION DESIGNER", title_id  = "1883"  where id = '5841'
=>>>>>>>>>>>>>>>>>>>>>> 11521 /lvl2/ FASHION DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FASHION DESIGNER", title_clean   = "FASHION DESIGNER", title_id  = "1883"  where id = '11521'
=>>>>>>>>>>>>>>>>>>>>>> 11536 /lvl2/ FASHION DESIGNER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FASHION DESIGNER", title_clean   = "FASHION DESIGNER", title_id  = "1883"  where id = '11536'
=>>>>>>>>>>>>>>>>>>>>>> 16255 /lvl2/ Fashion Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1883"  where id = '16255'
=>>>>>>>>>>>>>>>>>>>>>> 19041 /lvl2/ Fashion Designer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1883"  where id = '19041'
5467 /lvl1/ Senior Architect
2908 /lvl1/ It Graduate Camp
=>>>>>>>>>>>>>>>>>>>>>> 4668 /lvl2/ IT Graduate Camp
UPDATE jobstreet_raws_v2 SET  title_extraction  = "IT Graduate Camp", title_clean   = "IT Graduate Camp", title_id  = "2908"  where id = '4668'
5468 /lvl1/ Senior Associate
=>>>>>>>>>>>>>>>>>>>>>> 1773 /lvl2/ LazMall - Key Account Management (Associate & Senior Associate)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LazMall - Key Account Management (Associate & -idex-)", title_clean   = "LazMall - Key Account Management (Associate & )", title_id  = "5468"  where id = '1773'
=>>>>>>>>>>>>>>>>>>>>>> 2407 /lvl2/ LazMall - Key Account Management (Associate & Senior Associate)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "LazMall - Key Account Management (Associate & -idex-)", title_clean   = "LazMall - Key Account Management (Associate & )", title_id  = "5468"  where id = '2407'
=>>>>>>>>>>>>>>>>>>>>>> 3971 /lvl2/ Associate  /  Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Associate  /  -idex-", title_clean   = "Associate  /  ", title_id  = "5468"  where id = '3971'
=>>>>>>>>>>>>>>>>>>>>>> 6087 /lvl2/ Senior Associate - Risk Assurance - CMAAS (Capital Market Accounting Advisory Services)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Risk Assurance - CMAAS (Capital Market Accounting Advisory Services)", title_clean   = " - Risk Assurance - CMAAS (Capital Market Accounting Advisory Services)", title_id  = "5468"  where id = '6087'
=>>>>>>>>>>>>>>>>>>>>>> 7501 /lvl2/ Senior Associate
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5468"  where id = '7501'
=>>>>>>>>>>>>>>>>>>>>>> 11491 /lvl2/ Senior Associate - TLS - International Assignment Services
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - TLS - International Assignment Services", title_clean   = " - TLS - International Assignment Services", title_id  = "5468"  where id = '11491'
=>>>>>>>>>>>>>>>>>>>>>> 15437 /lvl2/ Senior Associate - Human Resources & Payroll Services
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Human Resources & Payroll Services", title_clean   = " - Human Resources & Payroll Services", title_id  = "5468"  where id = '15437'
=>>>>>>>>>>>>>>>>>>>>>> 19446 /lvl2/ Senior Associate - Office General Counsel (Legal Assistant)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Office General Counsel (Legal Assistant)", title_clean   = " - Office General Counsel (Legal Assistant)", title_id  = "5468"  where id = '19446'
=>>>>>>>>>>>>>>>>>>>>>> 20111 /lvl2/ ASSOCIATE & SENIOR ASSOCIATE (JABODETABEK,  MEDAN, SURABAYA, BANDUNG, BALI, BATAM)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ASSOCIATE & SENIOR ASSOCIATE (JABODETABEK,  MEDAN, SURABAYA, BANDUNG, BALI, BATAM)", title_clean   = "ASSOCIATE & SENIOR ASSOCIATE (JABODETABEK,  MEDAN, SURABAYA, BANDUNG, BALI, BATAM)", title_id  = "5468"  where id = '20111'
6237 /lvl1/ Subject Teachers
=>>>>>>>>>>>>>>>>>>>>>> 14703 /lvl2/ Subject Teachers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6237"  where id = '14703'
=>>>>>>>>>>>>>>>>>>>>>> 15105 /lvl2/ Subject Teachers
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6237"  where id = '15105'
94 /lvl1/ Accounting Claim
=>>>>>>>>>>>>>>>>>>>>>> 3337 /lvl2/ Accounting Claim
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "94"  where id = '3337'
1886 /lvl1/ Fiberline Expert
=>>>>>>>>>>>>>>>>>>>>>> 2970 /lvl2/ Fiberline Expert
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1886"  where id = '2970'
6750 /lvl1/ Ticketing Agents
=>>>>>>>>>>>>>>>>>>>>>> 17871 /lvl2/ Ticketing Agents
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6750"  where id = '17871'
1889 /lvl1/ Field Collection
=>>>>>>>>>>>>>>>>>>>>>> 512 /lvl2/ Card Collection Staff - Field Collection (Manado, Balikpapan, Banjarmasin, Pontianak)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Card Collection Staff - -idex- (Manado, Balikpapan, Banjarmasin, Pontianak)", title_clean   = "Card Collection Staff -  (Manado, Balikpapan, Banjarmasin, Pontianak)", title_id  = "1889"  where id = '512'
=>>>>>>>>>>>>>>>>>>>>>> 1741 /lvl2/ Field Collection (JS - FC) Palembang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Palembang", title_clean   = " (JS - FC) Palembang", title_id  = "1889"  where id = '1741'
=>>>>>>>>>>>>>>>>>>>>>> 1785 /lvl2/ FIELD COLLECTION AREA JAMBI
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FIELD COLLECTION AREA JAMBI", title_clean   = "FIELD COLLECTION AREA JAMBI", title_id  = "1889"  where id = '1785'
=>>>>>>>>>>>>>>>>>>>>>> 1833 /lvl2/ Field Collection (JS - FC) Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Tangerang Selatan", title_clean   = " (JS - FC) Tangerang Selatan", title_id  = "1889"  where id = '1833'
=>>>>>>>>>>>>>>>>>>>>>> 1894 /lvl2/ Field Collection (JS - FC) Cilegon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Cilegon", title_clean   = " (JS - FC) Cilegon", title_id  = "1889"  where id = '1894'
=>>>>>>>>>>>>>>>>>>>>>> 1928 /lvl2/ Field Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1889"  where id = '1928'
=>>>>>>>>>>>>>>>>>>>>>> 2086 /lvl2/ SPV Field Collection (Banjarmasin)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "SPV -idex- (Banjarmasin)", title_clean   = "SPV  (Banjarmasin)", title_id  = "1889"  where id = '2086'
=>>>>>>>>>>>>>>>>>>>>>> 2288 /lvl2/ Field Collection (JS - FC) Padang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Padang", title_clean   = " (JS - FC) Padang", title_id  = "1889"  where id = '2288'
=>>>>>>>>>>>>>>>>>>>>>> 2511 /lvl2/ Field Collection (JS - FC) Tangerang Selatan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Tangerang Selatan", title_clean   = " (JS - FC) Tangerang Selatan", title_id  = "1889"  where id = '2511'
=>>>>>>>>>>>>>>>>>>>>>> 2566 /lvl2/ Field Collection (JS - FC) Cilegon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Cilegon", title_clean   = " (JS - FC) Cilegon", title_id  = "1889"  where id = '2566'
=>>>>>>>>>>>>>>>>>>>>>> 2657 /lvl2/ Field Collection (FC) Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (FC) Solo", title_clean   = " (FC) Solo", title_id  = "1889"  where id = '2657'
=>>>>>>>>>>>>>>>>>>>>>> 2694 /lvl2/ Field Collection (JS - FC) Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Yogyakarta", title_clean   = " (JS - FC) Yogyakarta", title_id  = "1889"  where id = '2694'
=>>>>>>>>>>>>>>>>>>>>>> 2861 /lvl2/ Field Collection (JS - FC) Cikupa
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Cikupa", title_clean   = " (JS - FC) Cikupa", title_id  = "1889"  where id = '2861'
=>>>>>>>>>>>>>>>>>>>>>> 2961 /lvl2/ Field Collection (JS - FC) Balaraja
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Balaraja", title_clean   = " (JS - FC) Balaraja", title_id  = "1889"  where id = '2961'
=>>>>>>>>>>>>>>>>>>>>>> 2987 /lvl2/ Field Collection Area BALIKPAPAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area BALIKPAPAN", title_clean   = " Area BALIKPAPAN", title_id  = "1889"  where id = '2987'
=>>>>>>>>>>>>>>>>>>>>>> 2989 /lvl2/ Field Collection Area TEGAL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area TEGAL", title_clean   = " Area TEGAL", title_id  = "1889"  where id = '2989'
=>>>>>>>>>>>>>>>>>>>>>> 3096 /lvl2/ Field Collection (JS - FC) Jakarta Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Jakarta Utara", title_clean   = " (JS - FC) Jakarta Utara", title_id  = "1889"  where id = '3096'
=>>>>>>>>>>>>>>>>>>>>>> 3282 /lvl2/ Field Collection (JS - FC) Cibubur
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Cibubur", title_clean   = " (JS - FC) Cibubur", title_id  = "1889"  where id = '3282'
=>>>>>>>>>>>>>>>>>>>>>> 3286 /lvl2/ Field Collection (JS - FC) Cempaka Mas
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Cempaka Mas", title_clean   = " (JS - FC) Cempaka Mas", title_id  = "1889"  where id = '3286'
=>>>>>>>>>>>>>>>>>>>>>> 3586 /lvl2/ Field Collection (JS - FC) Ciputat
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Ciputat", title_clean   = " (JS - FC) Ciputat", title_id  = "1889"  where id = '3586'
=>>>>>>>>>>>>>>>>>>>>>> 3632 /lvl2/ Field Collection Support (Semarang)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Support (Semarang)", title_clean   = " Support (Semarang)", title_id  = "1889"  where id = '3632'
=>>>>>>>>>>>>>>>>>>>>>> 3642 /lvl2/ Field Collection (JS -FC) Bandengan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS -FC) Bandengan", title_clean   = " (JS -FC) Bandengan", title_id  = "1889"  where id = '3642'
=>>>>>>>>>>>>>>>>>>>>>> 3731 /lvl2/ Field Collection (JS - FC) Ciledug
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Ciledug", title_clean   = " (JS - FC) Ciledug", title_id  = "1889"  where id = '3731'
=>>>>>>>>>>>>>>>>>>>>>> 3857 /lvl2/ Field Collection (JS - FC) Kelapa Gading
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Kelapa Gading", title_clean   = " (JS - FC) Kelapa Gading", title_id  = "1889"  where id = '3857'
=>>>>>>>>>>>>>>>>>>>>>> 4041 /lvl2/ Field Collection (JS - FC) Kalimalang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Kalimalang", title_clean   = " (JS - FC) Kalimalang", title_id  = "1889"  where id = '4041'
=>>>>>>>>>>>>>>>>>>>>>> 4145 /lvl2/ Field Collection Area PADANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area PADANG", title_clean   = " Area PADANG", title_id  = "1889"  where id = '4145'
=>>>>>>>>>>>>>>>>>>>>>> 4537 /lvl2/ Field Collection Area MEDAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area MEDAN", title_clean   = " Area MEDAN", title_id  = "1889"  where id = '4537'
=>>>>>>>>>>>>>>>>>>>>>> 4612 /lvl2/ Field Collection (JS - FC) Kedoya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Kedoya", title_clean   = " (JS - FC) Kedoya", title_id  = "1889"  where id = '4612'
=>>>>>>>>>>>>>>>>>>>>>> 4613 /lvl2/ Field Collection Cabang Garut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Cabang Garut", title_clean   = " Cabang Garut", title_id  = "1889"  where id = '4613'
=>>>>>>>>>>>>>>>>>>>>>> 5148 /lvl2/ Field Collection Area PALEMBANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area PALEMBANG", title_clean   = " Area PALEMBANG", title_id  = "1889"  where id = '5148'
=>>>>>>>>>>>>>>>>>>>>>> 5283 /lvl2/ Field Collection Area Manado
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Manado", title_clean   = " Area Manado", title_id  = "1889"  where id = '5283'
=>>>>>>>>>>>>>>>>>>>>>> 5352 /lvl2/ Field Collection Area BANJARMASIN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area BANJARMASIN", title_clean   = " Area BANJARMASIN", title_id  = "1889"  where id = '5352'
=>>>>>>>>>>>>>>>>>>>>>> 5378 /lvl2/ Field Collection Area PONTIANAK
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area PONTIANAK", title_clean   = " Area PONTIANAK", title_id  = "1889"  where id = '5378'
=>>>>>>>>>>>>>>>>>>>>>> 5546 /lvl2/ Field Collection Area SAMARINDA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area SAMARINDA", title_clean   = " Area SAMARINDA", title_id  = "1889"  where id = '5546'
=>>>>>>>>>>>>>>>>>>>>>> 5613 /lvl2/ Field Collection Area BATAM
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area BATAM", title_clean   = " Area BATAM", title_id  = "1889"  where id = '5613'
=>>>>>>>>>>>>>>>>>>>>>> 5631 /lvl2/ Field Collection Area PASURUAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area PASURUAN", title_clean   = " Area PASURUAN", title_id  = "1889"  where id = '5631'
=>>>>>>>>>>>>>>>>>>>>>> 5711 /lvl2/ Field Collection Supervisor (Area Jabar)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Supervisor (Area Jabar)", title_clean   = " Supervisor (Area Jabar)", title_id  = "1889"  where id = '5711'
=>>>>>>>>>>>>>>>>>>>>>> 5783 /lvl2/ Field Collection Area Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Yogyakarta", title_clean   = " Area Yogyakarta", title_id  = "1889"  where id = '5783'
=>>>>>>>>>>>>>>>>>>>>>> 5865 /lvl2/ Field Collection (JS-FC) Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS-FC) Bogor", title_clean   = " (JS-FC) Bogor", title_id  = "1889"  where id = '5865'
=>>>>>>>>>>>>>>>>>>>>>> 5915 /lvl2/ Field Collection (JS - FC) Depok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Depok", title_clean   = " (JS - FC) Depok", title_id  = "1889"  where id = '5915'
=>>>>>>>>>>>>>>>>>>>>>> 5975 /lvl2/ Field Collection Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Semarang", title_clean   = " Semarang", title_id  = "1889"  where id = '5975'
=>>>>>>>>>>>>>>>>>>>>>> 5983 /lvl2/ Field Collection Area BANDUNG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area BANDUNG", title_clean   = " Area BANDUNG", title_id  = "1889"  where id = '5983'
=>>>>>>>>>>>>>>>>>>>>>> 6014 /lvl2/ Field Collection (JS - FC) Pondok Gede
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Pondok Gede", title_clean   = " (JS - FC) Pondok Gede", title_id  = "1889"  where id = '6014'
=>>>>>>>>>>>>>>>>>>>>>> 6032 /lvl2/ Field Collection Area SEMARANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area SEMARANG", title_clean   = " Area SEMARANG", title_id  = "1889"  where id = '6032'
=>>>>>>>>>>>>>>>>>>>>>> 6033 /lvl2/ Field Collection Area MALANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area MALANG", title_clean   = " Area MALANG", title_id  = "1889"  where id = '6033'
=>>>>>>>>>>>>>>>>>>>>>> 6039 /lvl2/ Field Collection Area SOLO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area SOLO", title_clean   = " Area SOLO", title_id  = "1889"  where id = '6039'
=>>>>>>>>>>>>>>>>>>>>>> 6297 /lvl2/ Field Collection (FC) Sumatera Bagian Utara
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (FC) Sumatera Bagian Utara", title_clean   = " (FC) Sumatera Bagian Utara", title_id  = "1889"  where id = '6297'
=>>>>>>>>>>>>>>>>>>>>>> 6411 /lvl2/ Field Collection Area SURABAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area SURABAYA", title_clean   = " Area SURABAYA", title_id  = "1889"  where id = '6411'
=>>>>>>>>>>>>>>>>>>>>>> 6454 /lvl2/ Field Collection (JS - FC) Bekasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Bekasi", title_clean   = " (JS - FC) Bekasi", title_id  = "1889"  where id = '6454'
=>>>>>>>>>>>>>>>>>>>>>> 6692 /lvl2/ Field Collection Area CIREBON
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area CIREBON", title_clean   = " Area CIREBON", title_id  = "1889"  where id = '6692'
=>>>>>>>>>>>>>>>>>>>>>> 6746 /lvl2/ Field Collection (JS - FC) Malang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Malang", title_clean   = " (JS - FC) Malang", title_id  = "1889"  where id = '6746'
=>>>>>>>>>>>>>>>>>>>>>> 6866 /lvl2/ Field Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1889"  where id = '6866'
=>>>>>>>>>>>>>>>>>>>>>> 6997 /lvl2/ Field Collection Sumatera Bawah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Sumatera Bawah", title_clean   = " Sumatera Bawah", title_id  = "1889"  where id = '6997'
=>>>>>>>>>>>>>>>>>>>>>> 7042 /lvl2/ Field Collection - Branch Balikpapan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Branch Balikpapan", title_clean   = " - Branch Balikpapan", title_id  = "1889"  where id = '7042'
=>>>>>>>>>>>>>>>>>>>>>> 7086 /lvl2/ Field Collection - Pangkal Pinang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pangkal Pinang", title_clean   = " - Pangkal Pinang", title_id  = "1889"  where id = '7086'
=>>>>>>>>>>>>>>>>>>>>>> 7113 /lvl2/ Field Collection (Bali-Lombok)

=>>>>>>>>>>>>>>>>>>>>>> 9263 /lvl2/ Field Collection (JS - FC) Subang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Subang", title_clean   = " (JS - FC) Subang", title_id  = "1889"  where id = '9263'
=>>>>>>>>>>>>>>>>>>>>>> 9267 /lvl2/ Field Collection - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Makassar", title_clean   = " - Makassar", title_id  = "1889"  where id = '9267'
=>>>>>>>>>>>>>>>>>>>>>> 9293 /lvl2/ Field Collection - Gorontalo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Gorontalo", title_clean   = " - Gorontalo", title_id  = "1889"  where id = '9293'
=>>>>>>>>>>>>>>>>>>>>>> 9315 /lvl2/ Field Collection - Kupang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kupang", title_clean   = " - Kupang", title_id  = "1889"  where id = '9315'
=>>>>>>>>>>>>>>>>>>>>>> 9323 /lvl2/ Field Collection - Mataram
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Mataram", title_clean   = " - Mataram", title_id  = "1889"  where id = '9323'
=>>>>>>>>>>>>>>>>>>>>>> 9362 /lvl2/ Field Collection - Banjarmasin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Banjarmasin", title_clean   = " - Banjarmasin", title_id  = "1889"  where id = '9362'
=>>>>>>>>>>>>>>>>>>>>>> 9376 /lvl2/ Field Collection - Pontianak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pontianak", title_clean   = " - Pontianak", title_id  = "1889"  where id = '9376'
=>>>>>>>>>>>>>>>>>>>>>> 9389 /lvl2/ Field Collection - Palu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palu", title_clean   = " - Palu", title_id  = "1889"  where id = '9389'
=>>>>>>>>>>>>>>>>>>>>>> 9407 /lvl2/ Field Collection - Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tangerang", title_clean   = " - Tangerang", title_id  = "1889"  where id = '9407'
=>>>>>>>>>>>>>>>>>>>>>> 9424 /lvl2/ Field Collection - Sampit
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sampit", title_clean   = " - Sampit", title_id  = "1889"  where id = '9424'
=>>>>>>>>>>>>>>>>>>>>>> 9434 /lvl2/ Field Collection - Batam
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Batam", title_clean   = " - Batam", title_id  = "1889"  where id = '9434'
=>>>>>>>>>>>>>>>>>>>>>> 9450 /lvl2/ Field Collection - Kendari
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kendari", title_clean   = " - Kendari", title_id  = "1889"  where id = '9450'
=>>>>>>>>>>>>>>>>>>>>>> 9476 /lvl2/ Field Collection - Palangkaraya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palangkaraya", title_clean   = " - Palangkaraya", title_id  = "1889"  where id = '9476'
=>>>>>>>>>>>>>>>>>>>>>> 9484 /lvl2/ Field Collection - BONTANG\u002FBALIKPAPAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - BONTANG\u002FBALIKPAPAN", title_clean   = " - BONTANG\u002FBALIKPAPAN", title_id  = "1889"  where id = '9484'
=>>>>>>>>>>>>>>>>>>>>>> 9485 /lvl2/ Field Collection (JS - FC) Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Semarang", title_clean   = " (JS - FC) Semarang", title_id  = "1889"  where id = '9485'
=>>>>>>>>>>>>>>>>>>>>>> 9489 /lvl2/ Field Collection - Denpasar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Denpasar", title_clean   = " - Denpasar", title_id  = "1889"  where id = '9489'
=>>>>>>>>>>>>>>>>>>>>>> 9497 /lvl2/ Field Collection - Palangkaraya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Palangkaraya", title_clean   = " - Palangkaraya", title_id  = "1889"  where id = '9497'
=>>>>>>>>>>>>>>>>>>>>>> 9500 /lvl2/ Field Collection - Yogyakarta
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Yogyakarta", title_clean   = " - Yogyakarta", title_id  = "1889"  where id = '9500'
=>>>>>>>>>>>>>>>>>>>>>> 9504 /lvl2/ Field Collection (JS - FC) Pekalongan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Pekalongan", title_clean   = " (JS - FC) Pekalongan", title_id  = "1889"  where id = '9504'
=>>>>>>>>>>>>>>>>>>>>>> 9518 /lvl2/ Field Collection - KENDARI\u002FKONAWE
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - KENDARI\u002FKONAWE", title_clean   = " - KENDARI\u002FKONAWE", title_id  = "1889"  where id = '9518'
=>>>>>>>>>>>>>>>>>>>>>> 9551 /lvl2/ Field Collection - Kedoya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kedoya", title_clean   = " - Kedoya", title_id  = "1889"  where id = '9551'
=>>>>>>>>>>>>>>>>>>>>>> 9589 /lvl2/ Field Collection - Dewi Sartika
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Dewi Sartika", title_clean   = " - Dewi Sartika", title_id  = "1889"  where id = '9589'
=>>>>>>>>>>>>>>>>>>>>>> 9648 /lvl2/ Field Collection (JS - FC) Garut
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Garut", title_clean   = " (JS - FC) Garut", title_id  = "1889"  where id = '9648'
=>>>>>>>>>>>>>>>>>>>>>> 9671 /lvl2/ Field Collection - Sunter
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Sunter", title_clean   = " - Sunter", title_id  = "1889"  where id = '9671'
=>>>>>>>>>>>>>>>>>>>>>> 9685 /lvl2/ Field Collection (JS - FC) Sumedang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Sumedang", title_clean   = " (JS - FC) Sumedang", title_id  = "1889"  where id = '9685'
=>>>>>>>>>>>>>>>>>>>>>> 9763 /lvl2/ Field Collection - Pare Pare
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pare Pare", title_clean   = " - Pare Pare", title_id  = "1889"  where id = '9763'
=>>>>>>>>>>>>>>>>>>>>>> 9832 /lvl2/ Field Collection - Bogor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bogor", title_clean   = " - Bogor", title_id  = "1889"  where id = '9832'
=>>>>>>>>>>>>>>>>>>>>>> 9875 /lvl2/ Field Collection (JS - FC) Jatibarang, Indramayu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Jatibarang, Indramayu", title_clean   = " (JS - FC) Jatibarang, Indramayu", title_id  = "1889"  where id = '9875'
=>>>>>>>>>>>>>>>>>>>>>> 9991 /lvl2/ Field Collection (JS - FC) Salatiga
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Salatiga", title_clean   = " (JS - FC) Salatiga", title_id  = "1889"  where id = '9991'
=>>>>>>>>>>>>>>>>>>>>>> 10048 /lvl2/ Field Collection (JS - FC) Majalengka
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Majalengka", title_clean   = " (JS - FC) Majalengka", title_id  = "1889"  where id = '10048'
=>>>>>>>>>>>>>>>>>>>>>> 10055 /lvl2/ Field Collection - Bandar Lampung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bandar Lampung", title_clean   = " - Bandar Lampung", title_id  = "1889"  where id = '10055'
=>>>>>>>>>>>>>>>>>>>>>> 10091 /lvl2/ Field Collection - Depok
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Depok", title_clean   = " - Depok", title_id  = "1889"  where id = '10091'
=>>>>>>>>>>>>>>>>>>>>>> 10179 /lvl2/ Field Collection - Tegal
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tegal", title_clean   = " - Tegal", title_id  = "1889"  where id = '10179'
=>>>>>>>>>>>>>>>>>>>>>> 10201 /lvl2/ Field Collection - Bekasi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bekasi", title_clean   = " - Bekasi", title_id  = "1889"  where id = '10201'
=>>>>>>>>>>>>>>>>>>>>>> 10203 /lvl2/ Field Collection - Semarang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Semarang", title_clean   = " - Semarang", title_id  = "1889"  where id = '10203'
=>>>>>>>>>>>>>>>>>>>>>> 10204 /lvl2/ Field Collection - Kudus
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kudus", title_clean   = " - Kudus", title_id  = "1889"  where id = '10204'
=>>>>>>>>>>>>>>>>>>>>>> 10219 /lvl2/ Field Collection - Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Surabaya", title_clean   = " - Surabaya", title_id  = "1889"  where id = '10219'
=>>>>>>>>>>>>>>>>>>>>>> 10224 /lvl2/ Field Collection - Karawang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Karawang", title_clean   = " - Karawang", title_id  = "1889"  where id = '10224'
=>>>>>>>>>>>>>>>>>>>>>> 10228 /lvl2/ Field Collection - Tasikmalaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Tasikmalaya", title_clean   = " - Tasikmalaya", title_id  = "1889"  where id = '10228'
=>>>>>>>>>>>>>>>>>>>>>> 10242 /lvl2/ Field Collection - Solo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Solo", title_clean   = " - Solo", title_id  = "1889"  where id = '10242'
=>>>>>>>>>>>>>>>>>>>>>> 10256 /lvl2/ Field Collection - Kediri
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Kediri", title_clean   = " - Kediri", title_id  = "1889"  where id = '10256'
=>>>>>>>>>>>>>>>>>>>>>> 10372 /lvl2/ Field Collection (JS - FC) Deli Serdang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Deli Serdang", title_clean   = " (JS - FC) Deli Serdang", title_id  = "1889"  where id = '10372'
=>>>>>>>>>>>>>>>>>>>>>> 10496 /lvl2/ Field Collection - Cirebon
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Cirebon", title_clean   = " - Cirebon", title_id  = "1889"  where id = '10496'
=>>>>>>>>>>>>>>>>>>>>>> 10524 /lvl2/ Field Collection (Sumatera Selatan)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Sumatera Selatan)", title_clean   = " (Sumatera Selatan)", title_id  = "1889"  where id = '10524'
=>>>>>>>>>>>>>>>>>>>>>> 10638 /lvl2/ Field Collection - Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Bandung", title_clean   = " - Bandung", title_id  = "1889"  where id = '10638'
=>>>>>>>>>>>>>>>>>>>>>> 11187 /lvl2/ Field Collection - BITUNG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - BITUNG", title_clean   = " - BITUNG", title_id  = "1889"  where id = '11187'
=>>>>>>>>>>>>>>>>>>>>>> 11387 /lvl2/ Field Collection - PALANGKARAYA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PALANGKARAYA", title_clean   = " - PALANGKARAYA", title_id  = "1889"  where id = '11387'
=>>>>>>>>>>>>>>>>>>>>>> 11407 /lvl2/ Field Collection - PANGKAL PINANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - PANGKAL PINANG", title_clean   = " - PANGKAL PINANG", title_id  = "1889"  where id = '11407'
=>>>>>>>>>>>>>>>>>>>>>> 11416 /lvl2/ Field Collection (JS-FC) Banyuwangi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS-FC) Banyuwangi", title_clean   = " (JS-FC) Banyuwangi", title_id  = "1889"  where id = '11416'
=>>>>>>>>>>>>>>>>>>>>>> 11730 /lvl2/ Field Collection (JS - FC) Tasikmalaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Tasikmalaya", title_clean   = " (JS - FC) Tasikmalaya", title_id  = "1889"  where id = '11730'
=>>>>>>>>>>>>>>>>>>>>>> 11893 /lvl2/ FIELD COLLECTION AREA JAKARTA BARAT, UTARA DAN TIMUR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FIELD COLLECTION AREA JAKARTA BARAT, UTARA DAN TIMUR", title_clean   = "FIELD COLLECTION AREA JAKARTA BARAT, UTARA DAN TIMUR", title_id  = "1889"  where id = '11893'
=>>>>>>>>>>>>>>>>>>>>>> 11907 /lvl2/ Field Collection (JS - FC) Probolinggo
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Probolinggo", title_clean   = " (JS - FC) Probolinggo", title_id  = "1889"  where id = '11907'
=>>>>>>>>>>>>>>>>>>>>>> 12214 /lvl2/ Field Collection (JF - FC) Purwokerto
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JF - FC) Purwokerto", title_clean   = " (JF - FC) Purwokerto", title_id  = "1889"  where id = '12214'
=>>>>>>>>>>>>>>>>>>>>>> 12287 /lvl2/ Field Collection (JS - FC) Pasar Minggu
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Pasar Minggu", title_clean   = " (JS - FC) Pasar Minggu", title_id  = "1889"  where id = '12287'
=>>>>>>>>>>>>>>>>>>>>>> 12565 /lvl2/ Field Collection (JS - FC) Cikampek
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Cikampek", title_clean   = " (JS - FC) Cikampek", title_id  = "1889"  where id = '12565'
=>>>>>>>>>>>>>>>>>>>>>> 13120 /lvl2/ Field Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1889"  where id = '13120'
=>>>>>>>>>>>>>>>>>>>>>> 13449 /lvl2/ FIELD COLLECTION TANGERANG KOTA DAN TANGERANG SELATAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FIELD COLLECTION TANGERANG KOTA DAN TANGERANG SELATAN", title_clean   = "FIELD COLLECTION TANGERANG KOTA DAN TANGERANG SELATAN", title_id  = "1889"  where id = '13449'
=>>>>>>>>>>>>>>>>>>>>>> 13654 /lvl2/ FIEld COLLECTION AREA BOGOR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FIEld COLLECTION AREA BOGOR", title_clean   = "FIEld COLLECTION AREA BOGOR", title_id  = "1889"  where id = '13654'
=>>>>>>>>>>>>>>>>>>>>>> 13867 /lvl2/ Field Collection - Penempatan Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Bandung", title_clean   = " - Penempatan Bandung", title_id  = "1889"  where id = '13867'
=>>>>>>>>>>>>>>>>>>>>>> 13883 /lvl2/ Field Collection - Penempatan Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Penempatan Bandung", title_clean   = " - Penempatan Bandung", title_id  = "1889"  where id = '13883'
=>>>>>>>>>>>>>>>>>>>>>> 14934 /lvl2/ Field Collection Area JAKARTA SELATAN
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area JAKARTA SELATAN", title_clean   = " Area JAKARTA SELATAN", title_id  = "1889"  where id = '14934'
=>>>>>>>>>>>>>>>>>>>>>> 15039 /lvl2/ Field Collection Area TANGERANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area TANGERANG", title_clean   = " Area TANGERANG", title_id  = "1889"  where id = '15039'
=>>>>>>>>>>>>>>>>>>>>>> 15919 /lvl2/ Field Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1889"  where id = '15919'
=>>>>>>>>>>>>>>>>>>>>>> 16119 /lvl2/ Field Collection (JS - FC) Medan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Medan", title_clean   = " (JS - FC) Medan", title_id  = "1889"  where id = '16119'
=>>>>>>>>>>>>>>>>>>>>>> 16185 /lvl2/ Field Collection Area MAKASSAR
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area MAKASSAR", title_clean   = " Area MAKASSAR", title_id  = "1889"  where id = '16185'
=>>>>>>>>>>>>>>>>>>>>>> 16406 /lvl2/ Field Collection (JS - FC) Serang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Serang", title_clean   = " (JS - FC) Serang", title_id  = "1889"  where id = '16406'
=>>>>>>>>>>>>>>>>>>>>>> 16439 /lvl2/ Field Collection Area Buleleng
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Buleleng", title_clean   = " Area Buleleng", title_id  = "1889"  where id = '16439'
=>>>>>>>>>>>>>>>>>>>>>> 16469 /lvl2/ Field Collection area Brebes
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- area Brebes", title_clean   = " area Brebes", title_id  = "1889"  where id = '16469'
=>>>>>>>>>>>>>>>>>>>>>> 16482 /lvl2/ Field Collection area Banyuwangi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- area Banyuwangi", title_clean   = " area Banyuwangi", title_id  = "1889"  where id = '16482'
=>>>>>>>>>>>>>>>>>>>>>> 16499 /lvl2/ Field Collection area Banyuwangi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- area Banyuwangi", title_clean   = " area Banyuwangi", title_id  = "1889"  where id = '16499'
=>>>>>>>>>>>>>>>>>>>>>> 16736 /lvl2/ Field Collection Area Surabaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Surabaya", title_clean   = " Area Surabaya", title_id  = "1889"  where id = '16736'
=>>>>>>>>>>>>>>>>>>>>>> 16827 /lvl2/ Field Collection Area Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Bandung", title_clean   = " Area Bandung", title_id  = "1889"  where id = '16827'
=>>>>>>>>>>>>>>>>>>>>>> 16841 /lvl2/ Field Collection Area Bandung
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Bandung", title_clean   = " Area Bandung", title_id  = "1889"  where id = '16841'
=>>>>>>>>>>>>>>>>>>>>>> 17003 /lvl2/ Field Collection Area Karawang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Area Karawang", title_clean   = " Area Karawang", title_id  = "1889"  where id = '17003'
=>>>>>>>>>>>>>>>>>>>>>> 17281 /lvl2/ Field Collection - Makassar
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Makassar", title_clean   = " - Makassar", title_id  = "1889"  where id = '17281'
=>>>>>>>>>>>>>>>>>>>>>> 17370 /lvl2/ Field Collection area Tasikmalaya
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- area Tasikmalaya", title_clean   = " area Tasikmalaya", title_id  = "1889"  where id = '17370'
=>>>>>>>>>>>>>>>>>>>>>> 17679 /lvl2/ Field Collection (JS - FC) Karawang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Karawang", title_clean   = " (JS - FC) Karawang", title_id  = "1889"  where id = '17679'
=>>>>>>>>>>>>>>>>>>>>>> 18257 /lvl2/ Field Collection for Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- for Tangerang", title_clean   = " for Tangerang", title_id  = "1889"  where id = '18257'
=>>>>>>>>>>>>>>>>>>>>>> 18543 /lvl2/ Field Collection Kalimantan
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Kalimantan", title_clean   = " Kalimantan", title_id  = "1889"  where id = '18543'
=>>>>>>>>>>>>>>>>>>>>>> 20010 /lvl2/ Field Collection (JS - FC) Pondok Indah
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (JS - FC) Pondok Indah", title_clean   = " (JS - FC) Pondok Indah", title_id  = "1889"  where id = '20010'
=>>>>>>>>>>>>>>>>>>>>>> 20594 /lvl2/ Field Collection
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "1889"  where id = '20594'
2146 /lvl1/ Fundraiser Sales

=>>>>>>>>>>>>>>>>>>>>>> 11972 /lvl2/ Fundraiser Sales
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2146"  where id = '11972'
3171 /lvl1/ Kenek Distribusi
=>>>>>>>>>>>>>>>>>>>>>> 453 /lvl2/ Kenek Distribusi
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3171"  where id = '453'
7011 /lvl1/ Workshop Manager
=>>>>>>>>>>>>>>>>>>>>>> 16703 /lvl2/ Workshop Manager \u002F Kepala Bengkel
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- \u002F Kepala Bengkel", title_clean   = " \u002F Kepala Bengkel", title_id  = "7011"  where id = '16703'
=>>>>>>>>>>>>>>>>>>>>>> 17973 /lvl2/ Workshop Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "7011"  where id = '17973'
3684 /lvl1/ Marketing Ekspor
=>>>>>>>>>>>>>>>>>>>>>> 16323 /lvl2/ Marketing Ekspor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3684"  where id = '16323'
=>>>>>>>>>>>>>>>>>>>>>> 16330 /lvl2/ Marketing Ekspor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3684"  where id = '16330'
=>>>>>>>>>>>>>>>>>>>>>> 20106 /lvl2/ Marketing Ekspor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3684"  where id = '20106'
5734 /lvl1/ Showroom Manager
=>>>>>>>>>>>>>>>>>>>>>> 12425 /lvl2/ Showroom Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5734"  where id = '12425'
=>>>>>>>>>>>>>>>>>>>>>> 12459 /lvl2/ Showroom Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5734"  where id = '12459'
=>>>>>>>>>>>>>>>>>>>>>> 12597 /lvl2/ Showroom Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5734"  where id = '12597'
=>>>>>>>>>>>>>>>>>>>>>> 12618 /lvl2/ Showroom Manager
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5734"  where id = '12618'
2407 /lvl1/ Head Pastry Chef
=>>>>>>>>>>>>>>>>>>>>>> 16917 /lvl2/ Head Pastry Chef
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2407"  where id = '16917'
2663 /lvl1/ Illustrator Nfts
=>>>>>>>>>>>>>>>>>>>>>> 10141 /lvl2/ Illustrator NFTs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Illustrator NFTs", title_clean   = "Illustrator NFTs", title_id  = "2663"  where id = '10141'
=>>>>>>>>>>>>>>>>>>>>>> 19251 /lvl2/ Illustrator NFTs
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Illustrator NFTs", title_clean   = "Illustrator NFTs", title_id  = "2663"  where id = '19251'
3943 /lvl1/ Multimedia Staff
=>>>>>>>>>>>>>>>>>>>>>> 9 /lvl2/ Multimedia Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3943"  where id = '9'
=>>>>>>>>>>>>>>>>>>>>>> 22 /lvl2/ Multimedia Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3943"  where id = '22'
=>>>>>>>>>>>>>>>>>>>>>> 5960 /lvl2/ Multimedia Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3943"  where id = '5960'
4968 /lvl1/ Research Analyst
=>>>>>>>>>>>>>>>>>>>>>> 15369 /lvl2/ Research Analyst
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4968"  where id = '15369'
4201 /lvl1/ Penilai Properti
=>>>>>>>>>>>>>>>>>>>>>> 9408 /lvl2/ Penilai Properti
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "4201"  where id = '9408'
618 /lvl1/ Barista & Server
=>>>>>>>>>>>>>>>>>>>>>> 19210 /lvl2/ Barista & Server
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "618"  where id = '19210'
3179 /lvl1/ Kepala Bagian Qa
=>>>>>>>>>>>>>>>>>>>>>> 1273 /lvl2/ Kepala Bagian QA
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Kepala Bagian QA", title_clean   = "Kepala Bagian QA", title_id  = "3179"  where id = '1273'
3180 /lvl1/ Kepala Bagian Qc
=>>>>>>>>>>>>>>>>>>>>>> 2833 /lvl2/ KEPALA BAGIAN QC
UPDATE jobstreet_raws_v2 SET  title_extraction  = "KEPALA BAGIAN QC", title_clean   = "KEPALA BAGIAN QC", title_id  = "3180"  where id = '2833'
6255 /lvl1/ Supervisor Admin
=>>>>>>>>>>>>>>>>>>>>>> 6198 /lvl2/ Supervisor Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6255"  where id = '6198'
=>>>>>>>>>>>>>>>>>>>>>> 6958 /lvl2/ Supervisor Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6255"  where id = '6958'
=>>>>>>>>>>>>>>>>>>>>>> 8733 /lvl2/ Supervisor Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6255"  where id = '8733'
=>>>>>>>>>>>>>>>>>>>>>> 17954 /lvl2/ Supervisor Admin
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6255"  where id = '17954'
6767 /lvl1/ Tour Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 4408 /lvl2/ Tour Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6767"  where id = '4408'
=>>>>>>>>>>>>>>>>>>>>>> 4426 /lvl2/ Tour Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "6767"  where id = '4426'
2672 /lvl1/ Import Executive
=>>>>>>>>>>>>>>>>>>>>>> 20270 /lvl2/ Import Executive
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "2672"  where id = '20270'
4720 /lvl1/ Qa Qc Supervisor
=>>>>>>>>>>>>>>>>>>>>>> 15236 /lvl2/ QA QC Supervisor
UPDATE jobstreet_raws_v2 SET  title_extraction  = "QA QC Supervisor", title_clean   = "QA QC Supervisor", title_id  = "4720"  where id = '15236'
5744 /lvl1/ Site Coordinator
=>>>>>>>>>>>>>>>>>>>>>> 13597 /lvl2/ Site Coordinator
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "5744"  where id = '13597'
=>>>>>>>>>>>>>>>>>>>>>> 15396 /lvl2/ Site Coordinator (4 Months Contract Based)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (4 Months Contract Based)", title_clean   = " (4 Months Contract Based)", title_id  = "5744"  where id = '15396'
3697 /lvl1/ Marketing Export
=>>>>>>>>>>>>>>>>>>>>>> 2925 /lvl2/ Marketing Export (Non Document)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Non Document)", title_clean   = " (Non Document)", title_id  = "3697"  where id = '2925'
=>>>>>>>>>>>>>>>>>>>>>> 6368 /lvl2/ Marketing Export
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3697"  where id = '6368'
=>>>>>>>>>>>>>>>>>>>>>> 16233 /lvl2/ Marketing Export
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3697"  where id = '16233'
3954 /lvl1/ Network Engineer
=>>>>>>>>>>>>>>>>>>>>>> 1446 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '1446'
=>>>>>>>>>>>>>>>>>>>>>> 1447 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '1447'
=>>>>>>>>>>>>>>>>>>>>>> 1859 /lvl2/ Network Engineer (CCNA Certified)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CCNA Certified)", title_clean   = " (CCNA Certified)", title_id  = "3954"  where id = '1859'
=>>>>>>>>>>>>>>>>>>>>>> 2552 /lvl2/ NETWORK ENGINEER
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NETWORK ENGINEER", title_clean   = "NETWORK ENGINEER", title_id  = "3954"  where id = '2552'
=>>>>>>>>>>>>>>>>>>>>>> 2585 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '2585'
=>>>>>>>>>>>>>>>>>>>>>> 2760 /lvl2/ Network Engineer (CCNP)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CCNP)", title_clean   = " (CCNP)", title_id  = "3954"  where id = '2760'
=>>>>>>>>>>>>>>>>>>>>>> 5597 /lvl2/ Network Engineer (CCNA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (CCNA)", title_clean   = " (CCNA)", title_id  = "3954"  where id = '5597'
=>>>>>>>>>>>>>>>>>>>>>> 6218 /lvl2/ Presales  /  Postsales Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Presales  /  Postsales -idex-", title_clean   = "Presales  /  Postsales ", title_id  = "3954"  where id = '6218'
=>>>>>>>>>>>>>>>>>>>>>> 10269 /lvl2/ Onsite NOC \u002F Onsite Network Engineer (Teknisi Jaringan Komputer )
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Onsite NOC \u002F Onsite -idex- (Teknisi Jaringan Komputer )", title_clean   = "Onsite NOC \u002F Onsite  (Teknisi Jaringan Komputer )", title_id  = "3954"  where id = '10269'
=>>>>>>>>>>>>>>>>>>>>>> 10799 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '10799'
=>>>>>>>>>>>>>>>>>>>>>> 11773 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '11773'
=>>>>>>>>>>>>>>>>>>>>>> 13302 /lvl2/ NETWORK ENGINEER (CCNA)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "NETWORK ENGINEER (CCNA)", title_clean   = "NETWORK ENGINEER (CCNA)", title_id  = "3954"  where id = '13302'
=>>>>>>>>>>>>>>>>>>>>>> 14289 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '14289'
=>>>>>>>>>>>>>>>>>>>>>> 14841 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '14841'
=>>>>>>>>>>>>>>>>>>>>>> 18228 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '18228'
=>>>>>>>>>>>>>>>>>>>>>> 18537 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '18537'
=>>>>>>>>>>>>>>>>>>>>>> 18967 /lvl2/ Network Engineer (Pekanbaru)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pekanbaru)", title_clean   = " (Pekanbaru)", title_id  = "3954"  where id = '18967'
=>>>>>>>>>>>>>>>>>>>>>> 19435 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '19435'
=>>>>>>>>>>>>>>>>>>>>>> 19586 /lvl2/ Network Engineer
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3954"  where id = '19586'
3447 /lvl1/ Maintenance Mold

=>>>>>>>>>>>>>>>>>>>>>> 6673 /lvl2/ Maintenance Mold
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3447"  where id = '6673'
=>>>>>>>>>>>>>>>>>>>>>> 18864 /lvl2/ MAINTENANCE MOLD & MESIN - MALANG
UPDATE jobstreet_raws_v2 SET  title_extraction  = "MAINTENANCE MOLD & MESIN - MALANG", title_clean   = "MAINTENANCE MOLD & MESIN - MALANG", title_id  = "3447"  where id = '18864'
3959 /lvl1/ Network Security
=>>>>>>>>>>>>>>>>>>>>>> 6138 /lvl2/ Network Security
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "3959"  where id = '6138'
120 /lvl1/ Accounting Staff
=>>>>>>>>>>>>>>>>>>>>>> 43 /lvl2/ Accounting Staff Tangerang
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Tangerang", title_clean   = " Tangerang", title_id  = "120"  where id = '43'
=>>>>>>>>>>>>>>>>>>>>>> 93 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '93'
=>>>>>>>>>>>>>>>>>>>>>> 117 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '117'
=>>>>>>>>>>>>>>>>>>>>>> 132 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '132'
=>>>>>>>>>>>>>>>>>>>>>> 152 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '152'
=>>>>>>>>>>>>>>>>>>>>>> 175 /lvl2/ Finance and accounting staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and accounting staff", title_clean   = "Finance and accounting staff", title_id  = "120"  where id = '175'
=>>>>>>>>>>>>>>>>>>>>>> 190 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '190'
=>>>>>>>>>>>>>>>>>>>>>> 208 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '208'
=>>>>>>>>>>>>>>>>>>>>>> 525 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '525'
=>>>>>>>>>>>>>>>>>>>>>> 571 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '571'
=>>>>>>>>>>>>>>>>>>>>>> 669 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '669'
=>>>>>>>>>>>>>>>>>>>>>> 737 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '737'
=>>>>>>>>>>>>>>>>>>>>>> 759 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '759'
=>>>>>>>>>>>>>>>>>>>>>> 767 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '767'
=>>>>>>>>>>>>>>>>>>>>>> 916 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '916'
=>>>>>>>>>>>>>>>>>>>>>> 992 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '992'
=>>>>>>>>>>>>>>>>>>>>>> 2134 /lvl2/ AUDITOR - ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "AUDITOR - ACCOUNTING STAFF", title_clean   = "AUDITOR - ACCOUNTING STAFF", title_id  = "120"  where id = '2134'
=>>>>>>>>>>>>>>>>>>>>>> 2467 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '2467'
=>>>>>>>>>>>>>>>>>>>>>> 2518 /lvl2/ ACCOUNTING STAFF (Staff AKUNTANSI)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF (Staff AKUNTANSI)", title_clean   = "ACCOUNTING STAFF (Staff AKUNTANSI)", title_id  = "120"  where id = '2518'
=>>>>>>>>>>>>>>>>>>>>>> 2888 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '2888'
=>>>>>>>>>>>>>>>>>>>>>> 2992 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '2992'
=>>>>>>>>>>>>>>>>>>>>>> 3009 /lvl2/ Finance and Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "120"  where id = '3009'
=>>>>>>>>>>>>>>>>>>>>>> 3415 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '3415'
=>>>>>>>>>>>>>>>>>>>>>> 3665 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '3665'
=>>>>>>>>>>>>>>>>>>>>>> 3907 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '3907'
=>>>>>>>>>>>>>>>>>>>>>> 4096 /lvl2/ Accounting Staff (Pontianak Branch)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Pontianak Branch)", title_clean   = " (Pontianak Branch)", title_id  = "120"  where id = '4096'
=>>>>>>>>>>>>>>>>>>>>>> 4168 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '4168'
=>>>>>>>>>>>>>>>>>>>>>> 4186 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '4186'
=>>>>>>>>>>>>>>>>>>>>>> 4559 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '4559'
=>>>>>>>>>>>>>>>>>>>>>> 4984 /lvl2/ Accounting staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting staff", title_clean   = "Accounting staff", title_id  = "120"  where id = '4984'
=>>>>>>>>>>>>>>>>>>>>>> 5047 /lvl2/ Finance and Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Finance and -idex-", title_clean   = "Finance and ", title_id  = "120"  where id = '5047'
=>>>>>>>>>>>>>>>>>>>>>> 5160 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '5160'
=>>>>>>>>>>>>>>>>>>>>>> 5263 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '5263'
=>>>>>>>>>>>>>>>>>>>>>> 5300 /lvl2/ ACCOUNTING STAFF - GL
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF - GL", title_clean   = "ACCOUNTING STAFF - GL", title_id  = "120"  where id = '5300'
=>>>>>>>>>>>>>>>>>>>>>> 5515 /lvl2/ Accounting staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Accounting staff", title_clean   = "Accounting staff", title_id  = "120"  where id = '5515'
=>>>>>>>>>>>>>>>>>>>>>> 5557 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '5557'
=>>>>>>>>>>>>>>>>>>>>>> 5817 /lvl2/ Accounting Staff Full time WFO
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Full time WFO", title_clean   = " Full time WFO", title_id  = "120"  where id = '5817'
=>>>>>>>>>>>>>>>>>>>>>> 5997 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '5997'
=>>>>>>>>>>>>>>>>>>>>>> 6079 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '6079'
=>>>>>>>>>>>>>>>>>>>>>> 6251 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '6251'
=>>>>>>>>>>>>>>>>>>>>>> 6343 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '6343'
=>>>>>>>>>>>>>>>>>>>>>> 6580 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '6580'
=>>>>>>>>>>>>>>>>>>>>>> 7109 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '7109'
=>>>>>>>>>>>>>>>>>>>>>> 7170 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '7170'
=>>>>>>>>>>>>>>>>>>>>>> 7291 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '7291'
=>>>>>>>>>>>>>>>>>>>>>> 7409 /lvl2/ ACCOUNTING STAFF (024)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF (024)", title_clean   = "ACCOUNTING STAFF (024)", title_id  = "120"  where id = '7409'
=>>>>>>>>>>>>>>>>>>>>>> 7486 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '7486'
=>>>>>>>>>>>>>>>>>>>>>> 7571 /lvl2/ ACCOUNTING STAFF (PALEMBANG)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF (PALEMBANG)", title_clean   = "ACCOUNTING STAFF (PALEMBANG)", title_id  = "120"  where id = '7571'
=>>>>>>>>>>>>>>>>>>>>>> 7616 /lvl2/ Jr. Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Jr. -idex-", title_clean   = "Jr. ", title_id  = "120"  where id = '7616'
=>>>>>>>>>>>>>>>>>>>>>> 7687 /lvl2/ Senior  Accounting Stafff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Senior  -idex-f", title_clean   = "Senior  f", title_id  = "120"  where id = '7687'
=>>>>>>>>>>>>>>>>>>>>>> 9847 /lvl2/ Accounting Staff (Mandarin Speaker)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Mandarin Speaker)", title_clean   = " (Mandarin Speaker)", title_id  = "120"  where id = '9847'
=>>>>>>>>>>>>>>>>>>>>>> 10057 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '10057'
=>>>>>>>>>>>>>>>>>>>>>> 10240 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '10240'
=>>>>>>>>>>>>>>>>>>>>>> 10605 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '10605'
=>>>>>>>>>>>>>>>>>>>>>> 10647 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '10647'
=>>>>>>>>>>>>>>>>>>>>>> 10687 /lvl2/ Accounting Staff (Eleganza)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Eleganza)", title_clean   = " (Eleganza)", title_id  = "120"  where id = '10687'
=>>>>>>>>>>>>>>>>>>>>>> 10711 /lvl2/ Accounting Staff (Eleganza)
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- (Eleganza)", title_clean   = " (Eleganza)", title_id  = "120"  where id = '10711'
=>>>>>>>>>>>>>>>>>>>>>> 10754 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '10754'
=>>>>>>>>>>>>>>>>>>>>>> 10801 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '10801'
=>>>>>>>>>>>>>>>>>>>>>> 10904 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '10904'
=>>>>>>>>>>>>>>>>>>>>>> 10988 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '10988'
=>>>>>>>>>>>>>>>>>>>>>> 11104 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11104'
=>>>>>>>>>>>>>>>>>>>>>> 11137 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11137'
=>>>>>>>>>>>>>>>>>>>>>> 11250 /lvl2/ Tax and Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "Tax and -idex-", title_clean   = "Tax and ", title_id  = "120"  where id = '11250'
=>>>>>>>>>>>>>>>>>>>>>> 11365 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '11365'
=>>>>>>>>>>>>>>>>>>>>>> 11401 /lvl2/ Accounting Staff Coal Mining
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- Coal Mining", title_clean   = " Coal Mining", title_id  = "120"  where id = '11401'
=>>>>>>>>>>>>>>>>>>>>>> 11419 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11419'
=>>>>>>>>>>>>>>>>>>>>>> 11437 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11437'
=>>>>>>>>>>>>>>>>>>>>>> 11464 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '11464'
=>>>>>>>>>>>>>>>>>>>>>> 11500 /lvl2/ ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF", title_clean   = "ACCOUNTING STAFF", title_id  = "120"  where id = '11500'
=>>>>>>>>>>>>>>>>>>>>>> 11534 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11534'
=>>>>>>>>>>>>>>>>>>>>>> 11561 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11561'
=>>>>>>>>>>>>>>>>>>>>>> 11756 /lvl2/ FINANCE DAN ACCOUNTING STAFF
UPDATE jobstreet_raws_v2 SET  title_extraction  = "FINANCE DAN ACCOUNTING STAFF", title_clean   = "FINANCE DAN ACCOUNTING STAFF", title_id  = "120"  where id = '11756'
=>>>>>>>>>>>>>>>>>>>>>> 11853 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11853'
=>>>>>>>>>>>>>>>>>>>>>> 11877 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '11877'
=>>>>>>>>>>>>>>>>>>>>>> 12102 /lvl2/ Accounting Staff
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex-" , title_id  = "120"  where id = '12102'
=>>>>>>>>>>>>>>>>>>>>>> 12121 /lvl2/ Accounting Staff - Pajak
UPDATE jobstreet_raws_v2 SET  title_extraction  = "-idex- - Pajak", title_clean   = " - Pajak", title_id  = "120"  where id = '12121'
=>>>>>>>>>>>>>>>>>>>>>> 12186 /lvl2/ ACCOUNTING STAFF  "TOUR AND TRAVEL"
UPDATE jobstreet_raws_v2 SET  title_extraction  = "ACCOUNTING STAFF  "TOUR AND TRAVEL"", title_clean   = "ACCOUNTING STAFF  "TOUR AND TRAVEL"", title_id  = "120"  where id = '12186'

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'TOUR AND TRAVEL"", title_clean   = "ACCOUNTING STAFF  "TOUR AND TRAVEL"", title_' at line 1