In [48]:
# Connect DB

import mysql.connector
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

connect

In [49]:
select = ' id, title '
fromdb = 'jobstreet_raws_rc' 
where = ' '
group = ' ' 
orderby = ' order by id asc ' 
 
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group + orderby  )
myresult = mycursor.fetchall()

for x in myresult:    
    ids = str(x[0]) 
    title_rep = x[1].replace(r"\u002F", " / ")
    title = title_rep.strip().title()   
    print(ids + " " + title)
    sql = "INSERT INTO job_vacancies (title) VALUES ( '" + title + "')"
    print(sql)
    mycursor.execute(sql)
    mydb.commit()

1 Staff Finance Acoounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Acoounting')
2 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
3 Employer Branding Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Employer Branding Specialist')
4 Hris Staff (Human Capital Operation)
INSERT INTO job_vacancies (title) VALUES ( 'Hris Staff (Human Capital Operation)')
5 House Keeper
INSERT INTO job_vacancies (title) VALUES ( 'House Keeper')
6 Purchasing Sparepart (Alat Berat / Kapal)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Sparepart (Alat Berat / Kapal)')
7 Customer Relations Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relations Administrator')
8 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
9 Multimedia Staff
INSERT INTO job_vacancies (title) VALUES ( 'Multimedia Staff')
10 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
11 Gardener & Landscaper
INSERT INTO job_vacancies (title) VALUES ( 'Gardener & Landscaper')
12 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
13 6-Month Internship
INSERT INTO job_vacancies (title) VALUES ( '6-Month Internship')
14 Staff Finance Acoounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Acoounting')
15 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
16 Employer Branding Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Employer Branding Specialist')
17 Hris Staff (Human Capital Operation)
INSERT INTO job_vacancies (title) VALUES ( 'Hris Staff (Human Capital Operation)')
18 House Keeper
INSERT INTO job_vacancies (title) VALUES ( 'House Keeper')
19 Purchasing Sparepart (Alat Berat / Kapal)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Sparepart (Alat Berat / Kapal)')
20 Customer Relations Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relations Administrator')
21 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
22 Multimedia Staff
INSERT INTO job_vacancies (title) VALUES ( 'Multimedia Staff')
23 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
24 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
25 Tax Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accounting Officer')
26 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
27 Sensory & Consumer Science Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sensory & Consumer Science Specialist')
28 Hrd Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Supervisor')
29 Costing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Costing Supervisor')
30 Regulatory Officer
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Officer')
31 Cse & It Support
INSERT INTO job_vacancies (title) VALUES ( 'Cse & It Support')
32 Staf Legal Pnm Bandar Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Staf Legal Pnm Bandar Lampung')
33 Data Analyst Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst Administrator')
34 Secretary To President Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary To President Director')
35 Part Network Development & Product Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Part Network Development & Product Analyst')
36 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
37 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
38 Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang')
39 Staff Secretaris Administrasi Support
INSERT INTO job_vacancies (title) VALUES ( 'Staff Secretaris Administrasi Support')
40 Field Recruiter Staff
INSERT INTO job_vacancies (title) VALUES ( 'Field Recruiter Staff')
41 Administrasi Gudang Material
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Gudang Material')
42 Administrasi Produksi Pabrik Plastik
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Produksi Pabrik Plastik')
43 Accounting Staff Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff Tangerang')
44 Rider Team Lead Shopee Express - Hub Tanjung Senang (Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Tanjung Senang (Lampung)')
45 Land Operation Team Leader Shopee Express (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Team Leader Shopee Express (Bali)')
46 Krani / Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Krani / Staff Gudang')
47 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
48 Production Pharmacist
INSERT INTO job_vacancies (title) VALUES ( 'Production Pharmacist')
49 Secretary To Board Of Commissioner
INSERT INTO job_vacancies (title) VALUES ( 'Secretary To Board Of Commissioner')
50 Drafter Mep
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Mep')
51 Warehouse Maintenance Staff (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Maintenance Staff (Medan)')
52 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
53 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
54 Internal Control (Ic) - Aceh & Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Internal Control (Ic) - Aceh & Palembang')
55 Rider Team Lead Shopee Express - Gubug (Kab. Grobogan, Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Gubug (Kab. Grobogan, Jawa Tengah)')
56 Admin Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Admin Merchandiser')
57 Assist. Gudang & Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Assist. Gudang & Logistik')
58 Rider Team Lead Shopee Express (Captain) - Hub Pangkalan Kuras, Kab Pelalawan
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Captain) - Hub Pangkalan Kuras, Kab Pelalawan')
59 Operator Produksi Pe (Mojokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi Pe (Mojokerto)')
60 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
61 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
62 Admin Internship
INSERT INTO job_vacancies (title) VALUES ( 'Admin Internship')
63 Supervisor Ppic Farmasi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic Farmasi')
64 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
65 Staff Administrasi  /  Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi  /  Sekretaris')
66 Hub Lead Shopee Express (Johan Pahlawan, Kab. Aceh Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Johan Pahlawan, Kab. Aceh Barat)')
67 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
68 Shopeepaylater - Collection (Contract-Based)
INSERT INTO job_vacancies (title) VALUES ( 'Shopeepaylater - Collection (Contract-Based)')
69 Administrasi K3
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi K3')
70 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
71 Pemagangan Admin
INSERT INTO job_vacancies (title) VALUES ( 'Pemagangan Admin')
72 Rider Team Lead Shopee Express - (Hub Karangasem, Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - (Hub Karangasem, Bali)')
73 Supply Chain Admin
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Admin')
74 General Affair Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Staff')
75 Admin E Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Admin E Commerce')
76 Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang')
77 Admin Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Admin Logistik')
78 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
79 Supervisor Ppic Farmasi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic Farmasi')
80 Leader Shift Shopee Express - Hub Siak (Kab. Siak, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Shift Shopee Express - Hub Siak (Kab. Siak, Riau)')
81 Middle Mile Operation Lead - Shopee Express (Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Operation Lead - Shopee Express (Jawa Timur)')
82 Admin Finance (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance (Magang)')
83 Administration (Internship 3 Month) Location : Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Administration (Internship 3 Month) Location : Jakarta')
84 Quality Control Officer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Officer')
85 Staff Exim
INSERT INTO job_vacancies (title) VALUES ( 'Staff Exim')
86 Admin Support (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support (Surabaya)')
87 Staff Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Staff Recruitment')
88 Operator Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi')
89 Administration (Fresh Graduate)
INSERT INTO job_vacancies (title) VALUES ( 'Administration (Fresh Graduate)')
90 Administrasi Staff Jogjakarta
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Staff Jogjakarta')
91 Admin Leasing (Cilandak Townsquare Mall)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Leasing (Cilandak Townsquare Mall)')
92 Finance Staff - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff - Surabaya')
93 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
94 Land Driver Coordinator Shopee Express (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Land Driver Coordinator Shopee Express (Bali)')
95 Restaurant Team ( Server - Cook)
INSERT INTO job_vacancies (title) VALUES ( 'Restaurant Team ( Server - Cook)')
96 Admin Pembelian - Lampung Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Pembelian - Lampung Selatan')
97 Infrastructure And Water Management Regional
INSERT INTO job_vacancies (title) VALUES ( 'Infrastructure And Water Management Regional')
98 Admin Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing')
99 Laboratory Health Analyst (Microbiology)
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Health Analyst (Microbiology)')
100 Crewing Officer (Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Crewing Officer (Contract Based)')
101 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
102 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
103 Finance Ops Cod Intern - Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Cod Intern - Shopee Express (Sunter)')
104 Administrasi Rumah Sakit
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Rumah Sakit')
105 Staff Admin & Operational (Oki Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin & Operational (Oki Palembang)')
106 Staff Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staff Logistik')
107 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
108 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
109 Human Capital Internship
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Internship')
110 Material Management
INSERT INTO job_vacancies (title) VALUES ( 'Material Management')
111 Spv Creative
INSERT INTO job_vacancies (title) VALUES ( 'Spv Creative')
112 Administrasi Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Staff')
113 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
114 Assistant Store Manager ( Penempatan Area Surabaya )
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Manager ( Penempatan Area Surabaya )')
115 Staff Admininstrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admininstrasi')
116 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
117 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
118 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
119 Rider Team Lead Shopee Express - Hub Idi Rayeuk (Kab. Aceh Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Idi Rayeuk (Kab. Aceh Timur)')
120 Account Executive - Shopee Express (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive - Shopee Express (Yogyakarta)')
121 Operator Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi')
122 Admin Finance - Kontrak 6 Bulan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance - Kontrak 6 Bulan')
123 Middle Mile Monitoring Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Monitoring Supervisor - Shopee Express')
124 Storing & Laka Management  Shopee Express (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Storing & Laka Management  Shopee Express (Bali)')
125 Hr Generalist Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist Staff')
126 Customer Relationship Management Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relationship Management Officer')
127 Hrd & Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd & Ga Staff')
128 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
129 Assistant Store Manager ( Penempatan Bali  )
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Manager ( Penempatan Bali  )')
130 Admin Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Admin Outlet')
131 It Infra & Networking
INSERT INTO job_vacancies (title) VALUES ( 'It Infra & Networking')
132 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
133 Inventory Executive - Marketplace : Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Executive - Marketplace : Cikarang')
134 Accounting Staff Fresh Graduate
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff Fresh Graduate')
135 Maintenance Control Engineer:
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Control Engineer:')
136 Exim Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exim Staff')
137 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
138 Staff Administrasi Ar  /  Finance Ar
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi Ar  /  Finance Ar')
139 Assembling Staff
INSERT INTO job_vacancies (title) VALUES ( 'Assembling Staff')
140 Sales Admin Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Pekanbaru')
141 Purchasing & Admin Project
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing & Admin Project')
142 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
143 General Affair Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Staff')
144 Finance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance Officer')
145 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
146 Staf Marketing & Trading - Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staf Marketing & Trading - Admin')
147 Branch Of Finance And Administration Manager - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Branch Of Finance And Administration Manager - Makassar')

148 Technician (Utility  /  Maintenance)
INSERT INTO job_vacancies (title) VALUES ( 'Technician (Utility  /  Maintenance)')
149 Account Receivable (Ar) Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable (Ar) Staff')
150 Ship Operation Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ship Operation Support Staff')
151 Finance Administration
INSERT INTO job_vacancies (title) VALUES ( 'Finance Administration')
152 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
153 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
154 Finance - Billing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance - Billing Staff')
155 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
156 Middle Mile Planning Team Lead Shopee Express (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Planning Team Lead Shopee Express (Makassar)')
157 Vessel Operation And Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Operation And Logistic Staff')
158 Qa Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa Staff')
159 Sr. Talent Acquisition & Employer Branding
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Talent Acquisition & Employer Branding')
160 Exim Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exim Staff')
161 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
162 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
163 Rider Team Lead Shopee Express - Hub Bagan Sinembah (Kab. Rokan Hilir, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Bagan Sinembah (Kab. Rokan Hilir, Riau)')
164 Admin Pabrik
INSERT INTO job_vacancies (title) VALUES ( 'Admin Pabrik')
165 Qa Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa Staff')
166 Inventory Planning Control Spv
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Planning Control Spv')
167 Sales Admin Online Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Online Staff')
168 Staff Admin Gudang & Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Gudang & Procurement')
169 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
170 Admin Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Admin Logistik')
171 Sales Administrator (Ds Sintang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Ds Sintang)')
172 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
173 Shopee Express - Recruitment (Kuningan)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment (Kuningan)')
174 Account Receivable (Rmo Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable (Rmo Medan)')
175 Finance And Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting Staff')
176 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
177 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
178 Staff Operasional Hph  /  Iuphhk-Ha
INSERT INTO job_vacancies (title) VALUES ( 'Staff Operasional Hph  /  Iuphhk-Ha')
179 Qc / Qa Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qc / Qa Staff')
180 Industrial Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Engineer')
181 Sales Administration
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administration')
182 Admin Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Admin Warehouse')
183 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
184 Admin Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Purchasing')
185 Hse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hse Staff')
186 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
187 Staff It
INSERT INTO job_vacancies (title) VALUES ( 'Staff It')
188 Supervisor Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Network Engineer')
189 Kepala Teknik Tambang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknik Tambang')
190 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
191 Assistant Communications Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Communications Manager')
192 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
193 Administration Staff ( Tata Usaha ) Elementary
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff ( Tata Usaha ) Elementary')
194 Staff Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Accounting')
195 Rider Team Lead Shopee Express - Hub Tualang (Kab. Siak, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Tualang (Kab. Siak, Riau)')
196 Payroll Officer
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Officer')
197 Admin Sales Support (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Support (Temporary)')
198 Finance Staff (Maternity Leave)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff (Maternity Leave)')
199 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
200 General Admin
INSERT INTO job_vacancies (title) VALUES ( 'General Admin')
201 Rider Team Lead Shopee Express - Hub Pangkalan Kerinci (Kab. Pelalawan, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Pangkalan Kerinci (Kab. Pelalawan, Riau)')
202 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
203 Buyer
INSERT INTO job_vacancies (title) VALUES ( 'Buyer')
204 Waitress Restoran Dan Bar
INSERT INTO job_vacancies (title) VALUES ( 'Waitress Restoran Dan Bar')
205 Energy Staff
INSERT INTO job_vacancies (title) VALUES ( 'Energy Staff')
206 Exim Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exim Staff')
207 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
208 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
209 Marketing Executive Export
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Export')
210 Sme Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sme Business Development Executive')
211 Administration Staff (Js - Adm) Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Balikpapan')
212 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
213 Qc / Qa Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qc / Qa Staff')
214 Hr Generalist Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist Officer')
215 Opersional Manajer
INSERT INTO job_vacancies (title) VALUES ( 'Opersional Manajer')
216 Site Supervisor Staff (Project Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor Staff (Project Engineer)')
217 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
218 Csr Outbound (Telemarketing)
INSERT INTO job_vacancies (title) VALUES ( 'Csr Outbound (Telemarketing)')
219 It Staff – Android Mobile Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Staff – Android Mobile Programmer')
220 Admin Sales Internship - Based In Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Internship - Based In Semarang')
221 Warehouse Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Analyst')
222 Cashier
INSERT INTO job_vacancies (title) VALUES ( 'Cashier')
223 Hse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hse Staff')
224 Warehouse Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Foreman')
225 Administrasi Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Marketing')
226 Account Executive - Shopee Express (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive - Shopee Express (Surabaya)')
227 Land Operation Team Lead Shopee Express (Pangkal Pinang)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Team Lead Shopee Express (Pangkal Pinang)')
228 Industrial Engineering Staff
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Engineering Staff')
229 Rider Team Lead (Captain) Shopee Express - Hub Johan Pahlawan (Aceh Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead (Captain) Shopee Express - Hub Johan Pahlawan (Aceh Barat)')
230 Hr Compensation & Benefit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Compensation & Benefit Staff')
231 Human Capital Officer (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Officer (Surabaya)')
232 Logistics Operations Executive
INSERT INTO job_vacancies (title) VALUES ( 'Logistics Operations Executive')
233 Sales & Marketing  Administration Internship
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing  Administration Internship')
234 Hr Employee Relation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Employee Relation Staff')
235 Admin Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Accounting')
236 Branch Logistic Supervisor (Makassar Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Logistic Supervisor (Makassar Branch)')
237 Talent Acquisition & Assessment
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition & Assessment')
238 Hrd Ga  /  Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Ga  /  Hrga')
239 Collection Staff (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Collection Staff (Jakarta)')
240 Ops Internship
INSERT INTO job_vacancies (title) VALUES ( 'Ops Internship')
241 Admin Accounting (Penempatan Di Palembang & Lahat)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Accounting (Penempatan Di Palembang & Lahat)')
242 Admin Hr (Penempatan: Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Hr (Penempatan: Palembang)')
243 Staff Hrd Plant
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd Plant')
244 Qa Validator (Freelancer)
INSERT INTO job_vacancies (title) VALUES ( 'Qa Validator (Freelancer)')
245 Opersional Manajer
INSERT INTO job_vacancies (title) VALUES ( 'Opersional Manajer')
246 Warehouse-Wetar, Maluku
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse-Wetar, Maluku')
247 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
248 Hirer Segment Lead
INSERT INTO job_vacancies (title) VALUES ( 'Hirer Segment Lead')
249 Finance / Accounting / Tax Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance / Accounting / Tax Senior Staff')
250 Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting')
251 Admin Executive Anodizing Department
INSERT INTO job_vacancies (title) VALUES ( 'Admin Executive Anodizing Department')
252 General Affairs
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs')
253 Staff Hrd Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd Generalist')
254 Hc Admin Intern (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Hc Admin Intern (Tangerang)')
255 Staff Purchasing Garment & Textile
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing Garment & Textile')
256 Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang')
257 It Network & Infrastructure Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Network & Infrastructure Officer')
258 Sales Administrator (Ds Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Ds Bekasi)')
259 Logistic Officer
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Officer')
260 Hr Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Hr Coordinator')
261 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
262 Hr Administration & Hris Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Administration & Hris Supervisor')
263 Operator Data Center
INSERT INTO job_vacancies (title) VALUES ( 'Operator Data Center')
264 Nutritionist Staff
INSERT INTO job_vacancies (title) VALUES ( 'Nutritionist Staff')
265 Sop Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sop Specialist')
266 Hrd&Ga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd&Ga Supervisor')
267 Finance
INSERT INTO job_vacancies (title) VALUES ( 'Finance')
268 Temporary Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Temporary Accounting Staff')
269 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
270 Staff Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pajak')
271 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
272 Agronomy Assistant (Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Agronomy Assistant (Kalimantan Barat)')
273 Warehouse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff')
274 Hrd Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Recruitment')
275 Internal Relation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Relation Staff')
276 Hrd Admin & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Admin & Ga')
277 Supervisor Recruitment & Training
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Recruitment & Training')
278 Import Purchasing Customs Admin
INSERT INTO job_vacancies (title) VALUES ( 'Import Purchasing Customs Admin')
279 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
280 General Affair (Ga) Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affair (Ga) Staff')
281 Admin Online Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online Marketplace')
282 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
283 General Affairs
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs')
284 Talent Acquisition Executive
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Executive')
285 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
286 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
287 Maintenance Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Electrical Engineer')
288 Internship Jakarta, Surabaya, Jombang
INSERT INTO job_vacancies (title) VALUES ( 'Internship Jakarta, Surabaya, Jombang')
289 Quality Control Project
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Project')
290 Asset Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Asset Management Staff')
291 Spesialias Management Resiko
INSERT INTO job_vacancies (title) VALUES ( 'Spesialias Management Resiko')
292 Business Analys
INSERT INTO job_vacancies (title) VALUES ( 'Business Analys')
293 General Driver (Ds Sidempuan)
INSERT INTO job_vacancies (title) VALUES ( 'General Driver (Ds Sidempuan)')
294 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
295 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
296 Eng&Maintenance Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Eng&Maintenance Foreman')
297 Hrga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Staff')
298 Safety Building Staff
INSERT INTO job_vacancies (title) VALUES ( 'Safety Building Staff')
299 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
300 Qa Qc
INSERT INTO job_vacancies (title) VALUES ( 'Qa Qc')
301 Cashier - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Cashier - Makassar')
302 Procurement Buyer Sr. Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Buyer Sr. Staff')

303 Fakturis Cabang Solo
INSERT INTO job_vacancies (title) VALUES ( 'Fakturis Cabang Solo')
304 Ar Administration Staff - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Ar Administration Staff - Cikarang')
305 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
306 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
307 General Affairs Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Senior Staff')
308 Admin Marketing (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing (Magang)')
309 Staf Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Accounting')
310 Project Manager (Data Center)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Data Center)')
311 Staff Accounting Finance Dan Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting Finance Dan Pajak')
312 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
313 Agronomy Assistant (Papua)
INSERT INTO job_vacancies (title) VALUES ( 'Agronomy Assistant (Papua)')
314 Staf Teknik Dan Quality Control (Qc)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Teknik Dan Quality Control (Qc)')
315 Supervisor Pelaksana Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Pelaksana Proyek')
316 It Support & Network
INSERT INTO job_vacancies (title) VALUES ( 'It Support & Network')
317 It Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Specialist')
318 Finance Admin Pabrik - Cikande Based
INSERT INTO job_vacancies (title) VALUES ( 'Finance Admin Pabrik - Cikande Based')
319 Logistic (Packing-Driver)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic (Packing-Driver)')
320 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
321 Finance And Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Tax Officer')
322 Agricultural Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Agricultural Advisor')
323 Admin (Regional Manager Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Regional Manager Pekanbaru)')
324 Hr Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Hr Superintendent')
325 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
326 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
327 General Affairs Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Senior Staff')
328 Biomedical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Biomedical Engineer')
329 Tax Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accounting Staff')
330 Removal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Removal Staff')
331 Hrbp Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Staff')
332 Junior Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Junior Auditor')
333 Staff Underwriting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Underwriting')
334 Staf Rnd Tobacco
INSERT INTO job_vacancies (title) VALUES ( 'Staf Rnd Tobacco')
335 Sales Admin (Kelapa Gading, Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin (Kelapa Gading, Jakarta Utara)')
336 Cost Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting Officer')
337 Accounting Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Tax Staff')
338 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
339 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
340 Buyer (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Buyer (Samarinda)')
341 Cashier  /  Cash Processing Center -- All Area
INSERT INTO job_vacancies (title) VALUES ( 'Cashier  /  Cash Processing Center -- All Area')
342 Accounting & Finance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Officer')
343 Spo Assistant (Papua)
INSERT INTO job_vacancies (title) VALUES ( 'Spo Assistant (Papua)')
344 Helper Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Helper Denpasar')
345 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
346 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
347 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
348 Enterprise Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Business Development Executive')
349 Admin Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing')
350 Marketing Communication Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Officer')
351 Cashier - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Cashier - Semarang')
352 Hrga Spv
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Spv')
353 Payroll Officer
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Officer')
354 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
355 Junior Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Junior Auditor')
356 Host / Talent Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host / Talent Live Streaming')
357 Maintenance Management Shopee Express (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Management Shopee Express (Semarang)')
358 Health Safety Environment (Hse)
INSERT INTO job_vacancies (title) VALUES ( 'Health Safety Environment (Hse)')
359 Bo Transmission Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Bo Transmission Engineer')
360 Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer')
361 Regional Group Acquisition Team Leader ( Palembang, Padang & Medan )
INSERT INTO job_vacancies (title) VALUES ( 'Regional Group Acquisition Team Leader ( Palembang, Padang & Medan )')
362 Human Capital Department Head - Buton
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Department Head - Buton')
363 Data Analis
INSERT INTO job_vacancies (title) VALUES ( 'Data Analis')
364 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
365 Staff Collection / Account Receivable
INSERT INTO job_vacancies (title) VALUES ( 'Staff Collection / Account Receivable')
366 Staff Kredit
INSERT INTO job_vacancies (title) VALUES ( 'Staff Kredit')
367 Staff Teknik Perkebunan Sawit
INSERT INTO job_vacancies (title) VALUES ( 'Staff Teknik Perkebunan Sawit')
368 Asmen Pga
INSERT INTO job_vacancies (title) VALUES ( 'Asmen Pga')
369 Cook Dan Cook Helper
INSERT INTO job_vacancies (title) VALUES ( 'Cook Dan Cook Helper')
370 Learning & Development Staff (Penempatan Ntt)
INSERT INTO job_vacancies (title) VALUES ( 'Learning & Development Staff (Penempatan Ntt)')
371 Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Import Staff')
372 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
373 Frontliner
INSERT INTO job_vacancies (title) VALUES ( 'Frontliner')
374 Survey & Certification Staff
INSERT INTO job_vacancies (title) VALUES ( 'Survey & Certification Staff')
375 Office Staff
INSERT INTO job_vacancies (title) VALUES ( 'Office Staff')
376 Inventory Admin
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Admin')
377 Civil Engineer And Mep Engineer Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer And Mep Engineer Specialist')
378 Taxation & Finance Administration
INSERT INTO job_vacancies (title) VALUES ( 'Taxation & Finance Administration')
379 General Driver (Yl Jakarta 3)
INSERT INTO job_vacancies (title) VALUES ( 'General Driver (Yl Jakarta 3)')
380 Network Maintenance Supervisor (Wtp)
INSERT INTO job_vacancies (title) VALUES ( 'Network Maintenance Supervisor (Wtp)')
381 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
382 Adm Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Adm Accounting')
383 Staff Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrator')
384 Spv Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Spv Recruitment')
385 Purchase Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Purchase Specialist')
386 Bca It Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Bca It Trainee')
387 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
388 Specialist Boiler
INSERT INTO job_vacancies (title) VALUES ( 'Specialist Boiler')
389 Risk Based Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Risk Based Internal Auditor')
390 Accounts Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Accounts Assistant')
391 Buyer Lead
INSERT INTO job_vacancies (title) VALUES ( 'Buyer Lead')
392 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
393 Operator Gudang Bahan Baku
INSERT INTO job_vacancies (title) VALUES ( 'Operator Gudang Bahan Baku')
394 Welder
INSERT INTO job_vacancies (title) VALUES ( 'Welder')
395 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
396 People Development Analyst
INSERT INTO job_vacancies (title) VALUES ( 'People Development Analyst')
397 Admin Hrd & Ga Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Admin Hrd & Ga Bogor')
398 Specialist Contract Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Specialist Contract Purchasing')
399 Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer')
400 Well Integrity  /  Valve Maintenance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Well Integrity  /  Valve Maintenance Engineer')
401 Regional Group Acquisition Team Leader ( Palembang, Padang & Medan )
INSERT INTO job_vacancies (title) VALUES ( 'Regional Group Acquisition Team Leader ( Palembang, Padang & Medan )')
402 Human Capital Department Head - Buton
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Department Head - Buton')
403 Data Analis
INSERT INTO job_vacancies (title) VALUES ( 'Data Analis')
404 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
405 Maintenance Management Shopee Express (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Management Shopee Express (Semarang)')
406 Content & Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Content & Social Media Specialist')
407 Health Safety Environment (Hse)
INSERT INTO job_vacancies (title) VALUES ( 'Health Safety Environment (Hse)')
408 Bo Transmission Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Bo Transmission Engineer')
409 Finance  /  Admin Executive
INSERT INTO job_vacancies (title) VALUES ( 'Finance  /  Admin Executive')
410 Staff Collection / Account Receivable
INSERT INTO job_vacancies (title) VALUES ( 'Staff Collection / Account Receivable')
411 Specialist Contract Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Specialist Contract Purchasing')
412 Survey & Certification Staff
INSERT INTO job_vacancies (title) VALUES ( 'Survey & Certification Staff')
413 Office Staff
INSERT INTO job_vacancies (title) VALUES ( 'Office Staff')
414 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
415 Spv Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Spv Recruitment')
416 Marketing Communication Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Executive')
417 Purchase Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Purchase Specialist')
418 Welder
INSERT INTO job_vacancies (title) VALUES ( 'Welder')
419 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
420 Admin Hrd & Ga Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Admin Hrd & Ga Bogor')
421 Inventory Admin
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Admin')
422 Civil Engineer And Mep Engineer Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer And Mep Engineer Specialist')
423 Taxation & Finance Administration
INSERT INTO job_vacancies (title) VALUES ( 'Taxation & Finance Administration')
424 It Helpdesk
INSERT INTO job_vacancies (title) VALUES ( 'It Helpdesk')
425 General Driver (Yl Jakarta 3)
INSERT INTO job_vacancies (title) VALUES ( 'General Driver (Yl Jakarta 3)')
426 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
427 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
428 Trainer & Technical Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Trainer & Technical Advisor')
429 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
430 Compensation Benefit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Compensation Benefit Staff')
431 Staff Admin Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Warehouse')
432 Middle Mile Planning Team Lead Shopee Express (Rungkut, Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Planning Team Lead Shopee Express (Rungkut, Surabaya)')
433 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
434 Accounting General Ledger Staff (Dki Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting General Ledger Staff (Dki Jakarta)')
435 Sales Admin Internship
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Internship')
436 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
437 Engineering Technician
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Technician')
438 Staf Perpustakaan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Perpustakaan')
439 R&D Immunology Staff
INSERT INTO job_vacancies (title) VALUES ( 'R&D Immunology Staff')
440 Customer Service Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Staff')
441 Secretary (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Secretary (Surabaya)')
442 Senior Accounting & Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Staff')
443 Senior Accounting & Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Staff')
444 Civil Engineering Supervisor (Palm Oil Mill)
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineering Supervisor (Palm Oil Mill)')
445 Payroll Staff
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Staff')
446 Credit Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst')
447 Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting')
448 Business Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Staff')
449 Account Executive - Shopee Express (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive - Shopee Express (Bandung)')
450 Cleaning Service (Ob)
INSERT INTO job_vacancies (title) VALUES ( 'Cleaning Service (Ob)')
451 Production Line (Operator Dies)
INSERT INTO job_vacancies (title) VALUES ( 'Production Line (Operator Dies)')
452 Hub Lead Shopee Express (Bontang, Kalimantan Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Bontang, Kalimantan Timur)')
453 Kenek Distribusi
INSERT INTO job_vacancies (title) VALUES ( 'Kenek Distribusi')
454 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
455 Hr Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Specialist')
456 Barista Waiter Coffee
INSERT INTO job_vacancies (title) VALUES ( 'Barista Waiter Coffee')
457 Admin Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Admin Logistik')
458 Ap Executive - Sports Retailer
INSERT INTO job_vacancies (title) VALUES ( 'Ap Executive - Sports Retailer')

459 Hrga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Supervisor')
460 E-Commerce Admin
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Admin')
461 Senior Accounting & Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Staff')
462 Senior Accounting & Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Staff')
463 Civil Engineering Supervisor (Palm Oil Mill)
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineering Supervisor (Palm Oil Mill)')
464 Drafter Hvac
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Hvac')
465 Hrga (Management) Team
INSERT INTO job_vacancies (title) VALUES ( 'Hrga (Management) Team')
466 Magang Project Staff
INSERT INTO job_vacancies (title) VALUES ( 'Magang Project Staff')
467 Exim Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exim Staff')
468 Acquisition Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Acquisition Supervisor')
469 Chief Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Chief Engineering')
470 Store Manager Papua
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Papua')
471 Head Of Quarry Operation
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Quarry Operation')
472 Assistant Store Supervisor / Supervisor For Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Supervisor / Supervisor For Pontianak')
473 Finance Accounting Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Assistant Manager')
474 Marketing Admin
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Admin')
475 Sparepart Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sparepart Specialist')
476 Sales Automotive Supervisor (Toyota / Daihatsu / Isuzu)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Automotive Supervisor (Toyota / Daihatsu / Isuzu)')
477 Corporate Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Internal Audit')
478 Mechanical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Engineering')
479 Financial Information System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Financial Information System Analyst')
480 Analyst Officer (Regional Jabar & Banten)
INSERT INTO job_vacancies (title) VALUES ( 'Analyst Officer (Regional Jabar & Banten)')
481 Financial Controller (Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller (Jambi)')
482 Assistant Management Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Management Accounting & Finance')
483 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
484 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
485 Site Engineer Landed - Cinere
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer Landed - Cinere')
486 Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online')
487 Ppic Supervisor-Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor-Karawang')
488 Hrga Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Officer')
489 Spv Finance Account Receivable
INSERT INTO job_vacancies (title) VALUES ( 'Spv Finance Account Receivable')
490 Hotline Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hotline Officer')
491 Office Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Office Assistant')
492 Inspektor Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Inspektor Quality Control')
493 Warehouse Leader (Perusahaan Kosmetik Dan Skincare)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Leader (Perusahaan Kosmetik Dan Skincare)')
494 R&D Operations
INSERT INTO job_vacancies (title) VALUES ( 'R&D Operations')
495 Business Representative Officer (Js - Bro)
INSERT INTO job_vacancies (title) VALUES ( 'Business Representative Officer (Js - Bro)')
496 Mechanical Electrical Plumbing
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical Plumbing')
497 Qhse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Qhse Officer')
498 Civil Engineer And Geotech
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer And Geotech')
499 Leader Engineering (Mgold Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Engineering (Mgold Bekasi)')
500 Brand Investment & Consumer Engagement Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Investment & Consumer Engagement Manager')
501 Regional Supply Chain Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Supply Chain Manager')
502 Internal Control System (Ics) Staff - Monitoring
INSERT INTO job_vacancies (title) VALUES ( 'Internal Control System (Ics) Staff - Monitoring')
503 Supervisor Fresh ( Penempatan Biak,Manokwari, Timika, Merauke)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Fresh ( Penempatan Biak,Manokwari, Timika, Merauke)')
504 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
505 Analis Agronomi
INSERT INTO job_vacancies (title) VALUES ( 'Analis Agronomi')
506 Sales E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Sales E-Commerce')
507 Finance Ap Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ap Staff')
508 Sampoerna Schools System - Procurement Intern
INSERT INTO job_vacancies (title) VALUES ( 'Sampoerna Schools System - Procurement Intern')
509 Barista
INSERT INTO job_vacancies (title) VALUES ( 'Barista')
510 Staff Finance & Acoounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Acoounting')
511 Bilingual Project Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Bilingual Project Secretary')
512 Card Collection Staff - Field Collector (Manado, Balikpapan, Banjarmasin, Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Card Collection Staff - Field Collector (Manado, Balikpapan, Banjarmasin, Pontianak)')
513 Staff Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Keuangan')
514 Engineer Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Maintenance')
515 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
516 Kepala Toko Cab Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Toko Cab Bogor')
517 Staf Desain Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Staf Desain Grafis')
518 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
519 Mechanical Electrical Plumbing
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical Plumbing')
520 Qhse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Qhse Officer')
521 Storing & Laka Management Shopee Express (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Storing & Laka Management Shopee Express (Semarang)')
522 Ppic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor')
523 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
524 Analyst Officer (Regional Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'Analyst Officer (Regional Sulawesi)')
525 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
526 Accounting Project
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Project')
527 Engineer Vsat Area Papua (Merauke, Timika, Jayapura) Dan Ntt (Ende, Kupang)
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Vsat Area Papua (Merauke, Timika, Jayapura) Dan Ntt (Ende, Kupang)')
528 Marketing Analyst Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Analyst Officer')
529 Content Planner
INSERT INTO job_vacancies (title) VALUES ( 'Content Planner')
530 New Product Control Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'New Product Control Supervisor')
531 Quality Control (Qc)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control (Qc)')
532 Quality Assurance (Hospitality Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance (Hospitality Industry)')
533 Customer Service Regional
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Regional')
534 Staff Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Accounting')
535 Store Manager (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Kendari)')
536 Hr Staff (Ntt)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff (Ntt)')
537 Payroll Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Specialist')
538 Secretary To Ceo
INSERT INTO job_vacancies (title) VALUES ( 'Secretary To Ceo')
539 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
540 Staff - Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Staff - Account Payable')
541 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
542 Staff Account Receivable
INSERT INTO job_vacancies (title) VALUES ( 'Staff Account Receivable')
543 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
544 Supervisor Purchasing Spare Parts & Project
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Purchasing Spare Parts & Project')
545 Tax Dispute Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Dispute Staff')
546 Risk Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Staff')
547 Inventory Controller
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Controller')
548 Staf Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Accounting')
549 Admin Inventory Control
INSERT INTO job_vacancies (title) VALUES ( 'Admin Inventory Control')
550 Editor Buku Ekonomi
INSERT INTO job_vacancies (title) VALUES ( 'Editor Buku Ekonomi')
551 Finance Ar Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ar Staff')
552 Accounting Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Specialist')
553 Cs Admin Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Cs Admin Freight Forwarding')
554 Foreman Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Maintenance')
555 Finance Staff - Binus Career
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff - Binus Career')
556 Supervisor Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Warehouse')
557 Maintenance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Assistant Manager')
558 Quality Management System (Qms) Manager
INSERT INTO job_vacancies (title) VALUES ( 'Quality Management System (Qms) Manager')
559 Shipper Success Management (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Shipper Success Management (Makassar)')
560 Customer Service Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Staff')
561 Retail Supervisor (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Supervisor (Jakarta)')
562 Social Media Admin
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Admin')
563 Regional General Affair & It Unit
INSERT INTO job_vacancies (title) VALUES ( 'Regional General Affair & It Unit')
564 Organizational Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Organizational Development Specialist')
565 Admin Purchasing  /  Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Admin Purchasing  /  Export Import')
566 Accounting Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Specialist')
567 Supervisor Sales Modern Trade (Padang Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Modern Trade (Padang Branch)')
568 Kepala Toko Cab Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Toko Cab Surabaya')
569 Logistic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Supervisor')
570 Finance Ar Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ar Staff')
571 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
572 Finance Account Payable Senior Executive
INSERT INTO job_vacancies (title) VALUES ( 'Finance Account Payable Senior Executive')
573 Head Of Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Procurement')
574 Area Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Account Manager')
575 Kepala Cabang Medan
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang Medan')
576 Supervisor Steel Admin
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Steel Admin')
577 Assistant Manager Hr & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Hr & Ga')
578 Production Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Production Engineer')
579 Spv. Building Management
INSERT INTO job_vacancies (title) VALUES ( 'Spv. Building Management')
580 Pustakawan
INSERT INTO job_vacancies (title) VALUES ( 'Pustakawan')
581 Regulatory Officer
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Officer')
582 Human Capital Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Development Staff')
583 Teknisi Pest Control
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Pest Control')
584 Statistical Review & Analysis Officer
INSERT INTO job_vacancies (title) VALUES ( 'Statistical Review & Analysis Officer')
585 Accounting Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Section Head')
586 R&D Application Specialist (Gummies & Frozen Food)
INSERT INTO job_vacancies (title) VALUES ( 'R&D Application Specialist (Gummies & Frozen Food)')
587 Social Media Officer (Area Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Officer (Area Yogyakarta)')
588 Raw Material & Packaging Sourcing Staff (Pbf)
INSERT INTO job_vacancies (title) VALUES ( 'Raw Material & Packaging Sourcing Staff (Pbf)')
589 Sales Executive - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Pekanbaru')
590 Brand & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand & Marketing Manager')
591 Sales Executive - Id
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Id')
592 Sme Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sme Account Executive')
593 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
594 Leader Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Leader Produksi')
595 Hr Recruitment & Training
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment & Training')
596 Project Officer
INSERT INTO job_vacancies (title) VALUES ( 'Project Officer')
597 Hr Compensation & Benefit Internship (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Compensation & Benefit Internship (Magang)')
598 Rider Team Lead Shopee Express - Hub Rengat (Kab. Indragiri Hulu, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Rengat (Kab. Indragiri Hulu, Riau)')
599 Welding Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Welding Inspector')
600 Koordinator & Leader Gudang Lapak /  Collection Center
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator & Leader Gudang Lapak /  Collection Center')
601 Merchandiser - Freelancer
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser - Freelancer')
602 It Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'It Database Administrator')
603 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
604 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
605 Telesales / Telemarketing - Branch Pekanbaru - Palembang - Bandar Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Telesales / Telemarketing - Branch Pekanbaru - Palembang - Bandar Lampung')
606 Maintenance & Operation (Mechanic Land Transport)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance & Operation (Mechanic Land Transport)')
607 Junior Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Engineer')
608 Account Payable Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Officer')
609 Internal Audit Staff (Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff (Smg)')
610 Senior Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff Accounting')
611 Investor Relation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Investor Relation Specialist')

612 Hub Lead Shopee Express (Tanah Grogot, Kalimantan Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Tanah Grogot, Kalimantan Timur)')
613 Credit Marketing Officer (Cmo) Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Cilegon')
614 Surveyor Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor Coordinator')
615 Service Admin Staff-Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Service Admin Staff-Bandung')
616 Junior Trader
INSERT INTO job_vacancies (title) VALUES ( 'Junior Trader')
617 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
618 Logistic & Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Logistic & Purchasing')
619 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
620 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
621 Finance
INSERT INTO job_vacancies (title) VALUES ( 'Finance')
622 Design Engineering Staff (Ipge - Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Design Engineering Staff (Ipge - Surabaya)')
623 Asisten Elektrik
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Elektrik')
624 Staff Engineering Industry
INSERT INTO job_vacancies (title) VALUES ( 'Staff Engineering Industry')
625 Secretary Bod
INSERT INTO job_vacancies (title) VALUES ( 'Secretary Bod')
626 Project Control
INSERT INTO job_vacancies (title) VALUES ( 'Project Control')
627 Accounting & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Staff')
628 Crew Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Crew Outlet')
629 Secretary For Japanese Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary For Japanese Director')
630 Mt Sales Supervisor (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Mt Sales Supervisor (Jawa Tengah)')
631 Treasury Operation Controller Officer
INSERT INTO job_vacancies (title) VALUES ( 'Treasury Operation Controller Officer')
632 General Affair Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Supervisor')
633 Mep Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mep Engineer')
634 Warehouse Admin Karawang (English Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin Karawang (English Speaking)')
635 Admin Staff (Smp&Sma)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff (Smp&Sma)')
636 Drafter Proyek Konstruksi (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Proyek Konstruksi (Jakarta)')
637 Mechanical Electrical Plumbing Designer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical Plumbing Designer')
638 Jetty Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Jetty Supervisor')
639 R&D Packaging
INSERT INTO job_vacancies (title) VALUES ( 'R&D Packaging')
640 Staff Penagihan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Penagihan')
641 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
642 Hub Lead Shopee Express (Bagan Sinembah, Kab. Rokan Hilir, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Bagan Sinembah, Kab. Rokan Hilir, Riau)')
643 Dropping Driver (Yl Indralaya)
INSERT INTO job_vacancies (title) VALUES ( 'Dropping Driver (Yl Indralaya)')
644 Management Development Program (Mdp) - Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Management Development Program (Mdp) - Marketing')
645 Rider Team Lead Shopee Express - Hub Rambah (Kab. Rokan Hulu, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Rambah (Kab. Rokan Hulu, Riau)')
646 Hrga Staff (Ciujung)
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Staff (Ciujung)')
647 People Development
INSERT INTO job_vacancies (title) VALUES ( 'People Development')
648 Sales Supervisor General Trade (Palembang Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor General Trade (Palembang Branch)')
649 Waiter
INSERT INTO job_vacancies (title) VALUES ( 'Waiter')
650 Hr Od & Transformation Senior Executive
INSERT INTO job_vacancies (title) VALUES ( 'Hr Od & Transformation Senior Executive')
651 Sales Showroom (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Showroom (Surabaya)')
652 Asset Liquidity Management
INSERT INTO job_vacancies (title) VALUES ( 'Asset Liquidity Management')
653 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
654 People Development Asstn Manager
INSERT INTO job_vacancies (title) VALUES ( 'People Development Asstn Manager')
655 People Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'People Development Staff')
656 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
657 Tax Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tax Specialist')
658 It
INSERT INTO job_vacancies (title) VALUES ( 'It')
659 Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor')
660 Super Intendent Production
INSERT INTO job_vacancies (title) VALUES ( 'Super Intendent Production')
661 Housing Inspector (Pengawas Lapangan)
INSERT INTO job_vacancies (title) VALUES ( 'Housing Inspector (Pengawas Lapangan)')
662 Social Media Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Content Creator')
663 Marketing Event Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Event Staff')
664 Senior Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing Manager')
665 Area Sales Supervisor - Sumbawa Ntb
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Sumbawa Ntb')
666 Asisten Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Mekanik')
667 Content Creator Administration
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Administration')
668 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
669 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
670 Electrical Officer (Lubuk Gaung - Riau Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Officer (Lubuk Gaung - Riau Placement)')
671 Jr. Scheduler
INSERT INTO job_vacancies (title) VALUES ( 'Jr. Scheduler')
672 Designer Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Designer Assistant Manager')
673 Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance')
674 Staff It
INSERT INTO job_vacancies (title) VALUES ( 'Staff It')
675 Staff Legal Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal Hrga')
676 Tactical Tax
INSERT INTO job_vacancies (title) VALUES ( 'Tactical Tax')
677 Qc / Qa Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Qc / Qa Section Head')
678 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
679 Hub Qc Supervisor - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Hub Qc Supervisor - Malang')
680 Cmo Car (Credit Marketing Officer) Area Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Cmo Car (Credit Marketing Officer) Area Palembang')
681 Spv Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Spv Accounting')
682 Ppic & Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic & Logistic Staff')
683 Corporate Secretary - To Country Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary - To Country Manager')
684 Teknisi Informasi Dan Teknologi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Informasi Dan Teknologi')
685 Finance Associate (Staff)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Associate (Staff)')
686 Hr Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Hr Superintendent')
687 Social Media Specialist (Tiktok Shop)
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist (Tiktok Shop)')
688 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
689 Finance Controller
INSERT INTO job_vacancies (title) VALUES ( 'Finance Controller')
690 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
691 Supervisor Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Purchasing')
692 Ppic Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Senior Officer')
693 Marketing Research Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Research Executive')
694 Enterprise Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Account Executive')
695 Customer Experience Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Experience Staff')
696 Guest Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Guest Service Officer')
697 Teller (Balikpapan Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Teller (Balikpapan Branch)')
698 Leader Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Leader Quality Control')
699 Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor')
700 Public Relations
INSERT INTO job_vacancies (title) VALUES ( 'Public Relations')
701 Supervisor Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Purchasing')
702 Ppic Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Senior Officer')
703 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
704 Marketing Research Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Research Executive')
705 Hr Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Hr Superintendent')
706 Social Media Specialist (Tiktok Shop)
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist (Tiktok Shop)')
707 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
708 Enterprise Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Account Executive')
709 Customer Experience Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Experience Staff')
710 Guest Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Guest Service Officer')
711 Product Support
INSERT INTO job_vacancies (title) VALUES ( 'Product Support')
712 Corporate Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Internal Auditor')
713 Specialist Coal
INSERT INTO job_vacancies (title) VALUES ( 'Specialist Coal')
714 Customer Service / Coordinator Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service / Coordinator Customer Service')
715 Hrbp Malang Raya (Malang, Blitar, Tulungagung)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Malang Raya (Malang, Blitar, Tulungagung)')
716 Sales Supervisor Manado
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Manado')
717 Gmp Compliance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Gmp Compliance Supervisor')
718 System Engineer (Mcsa)
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer (Mcsa)')
719 Export Documentation And Cs Officer
INSERT INTO job_vacancies (title) VALUES ( 'Export Documentation And Cs Officer')
720 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
721 Middle Mile Monitoring Team Lead (Rungkut, Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Monitoring Team Lead (Rungkut, Surabaya)')
722 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
723 Finance Controller
INSERT INTO job_vacancies (title) VALUES ( 'Finance Controller')
724 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
725 Qc / Qa Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Qc / Qa Section Head')
726 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
727 Junior Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Junior Secretary')
728 Ar Staf
INSERT INTO job_vacancies (title) VALUES ( 'Ar Staf')
729 Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor')
730 Raw Material Finished Good Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Raw Material Finished Good Warehouse')
731 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
732 Area Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor')
733 Qhse Branch Kendari
INSERT INTO job_vacancies (title) VALUES ( 'Qhse Branch Kendari')
734 Regional People & Culture
INSERT INTO job_vacancies (title) VALUES ( 'Regional People & Culture')
735 Operation & Maintenance Technician
INSERT INTO job_vacancies (title) VALUES ( 'Operation & Maintenance Technician')
736 Site Controller (Mechanical Electrical Plumbing) Property Developer Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Site Controller (Mechanical Electrical Plumbing) Property Developer Makassar')
737 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
738 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
739 Hse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer')
740 Tx Coordinator - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Tx Coordinator - Palembang')
741 Barista (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Barista (Kendari)')
742 Qc Line Staff (Penempatan : Majalengka, Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Qc Line Staff (Penempatan : Majalengka, Jawa Barat)')
743 Organizational Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Organizational Development Supervisor')
744 Supervisor Finance
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance')
745 Messenger / Kurir (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Messenger / Kurir (Pontianak)')
746 Teknisi Mep (Mekanikal, Elektrikal,Plumbing)  /  Engineer Mep
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mep (Mekanikal, Elektrikal,Plumbing)  /  Engineer Mep')
747 Hr & Ga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Supervisor')
748 Back Office Datacomm
INSERT INTO job_vacancies (title) VALUES ( 'Back Office Datacomm')
749 Service Administration ( Pontianak )
INSERT INTO job_vacancies (title) VALUES ( 'Service Administration ( Pontianak )')
750 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
751 Civil Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Civil Inspector')
752 Corporate Secretary Staff
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary Staff')
753 Crew Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Crew Gudang')
754 Barista (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Barista (Kendari)')
755 Qc Line Staff (Penempatan : Majalengka, Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Qc Line Staff (Penempatan : Majalengka, Jawa Barat)')
756 Organizational Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Organizational Development Supervisor')
757 Supervisor Finance
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance')
758 Messenger / Kurir (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Messenger / Kurir (Pontianak)')
759 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
760 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
761 Hse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer')
762 Back Office Datacomm
INSERT INTO job_vacancies (title) VALUES ( 'Back Office Datacomm')
763 Tx Coordinator - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Tx Coordinator - Palembang')
764 Security Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Security Gudang')
765 Certified Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Certified Electrical Engineer')
766 Ar Officer (Collector) - Banyuwangi
INSERT INTO job_vacancies (title) VALUES ( 'Ar Officer (Collector) - Banyuwangi')

767 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
768 Shift Supervisor (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Shift Supervisor (Kendari)')
769 Finance And Accounting Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting Senior Staff')
770 Agronomy Assistant (Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Agronomy Assistant (Bangka Belitung)')
771 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
772 Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal')
773 Staff R&D Formulasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff R&D Formulasi')
774 Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris')
775 Personal Assistant  /  Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant  /  Secretary')
776 Crewing Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Crewing Recruitment Officer')
777 Hrga Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Officer')
778 Toddler Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Toddler Teacher')
779 Staff Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Accounting')
780 Procurement Officer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Officer')
781 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
782 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
783 Comben Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Comben Development Specialist')
784 Business Operation Administration
INSERT INTO job_vacancies (title) VALUES ( 'Business Operation Administration')
785 Tech Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tech Recruitment Specialist')
786 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
787 Residence Housekeeping Manager
INSERT INTO job_vacancies (title) VALUES ( 'Residence Housekeeping Manager')
788 Project Specifier
INSERT INTO job_vacancies (title) VALUES ( 'Project Specifier')
789 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
790 Assistant Manager Project
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Project')
791 Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accounting')
792 Financial Controller (Labuan Bajo)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller (Labuan Bajo)')
793 Senior Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Staff')
794 Payroll Assistant Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Assistant Consultant')
795 It Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Support Officer')
796 Emergency Response Team Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Emergency Response Team Supervisor')
797 Content & Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Content & Social Media Specialist')
798 Compliance And Audit Executive
INSERT INTO job_vacancies (title) VALUES ( 'Compliance And Audit Executive')
799 Cs Live Chat
INSERT INTO job_vacancies (title) VALUES ( 'Cs Live Chat')
800 Hunter  /  Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Hunter  /  Marketing')
801 Hris Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hris Specialist')
802 Senior Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Senior Recruitment')
803 Public Relations
INSERT INTO job_vacancies (title) VALUES ( 'Public Relations')
804 Sales Supervisor Palu
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Palu')
805 Footwear Rd-Technical Staff
INSERT INTO job_vacancies (title) VALUES ( 'Footwear Rd-Technical Staff')
806 Export Admin
INSERT INTO job_vacancies (title) VALUES ( 'Export Admin')
807 Proshop Sales
INSERT INTO job_vacancies (title) VALUES ( 'Proshop Sales')
808 Staff Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akunting')
809 Desk Collection Staff
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Staff')
810 Business Development Admin (Secretary)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Admin (Secretary)')
811 Project Engineering Spv
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineering Spv')
812 Telesales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Representative')
813 Inspector Officer Purwokerto ,Brebes,Cilacap
INSERT INTO job_vacancies (title) VALUES ( 'Inspector Officer Purwokerto ,Brebes,Cilacap')
814 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
815 Well Integrity  /  Valve Maintenance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Well Integrity  /  Valve Maintenance Engineer')
816 Hr Recruitment & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment & Ga')
817 Supervisor Sales Modern Trade (Medan Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Modern Trade (Medan Branch)')
818 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
819 Network Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Network Administrator')
820 Accountant - Sports Retailer
INSERT INTO job_vacancies (title) VALUES ( 'Accountant - Sports Retailer')
821 Marketing Communication Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Executive')
822 Hse (Health Safety Environmental) Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse (Health Safety Environmental) Officer')
823 Middle Mile Admin Operation Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Admin Operation Supervisor - Shopee Express')
824 [Mooimom] Spg
INSERT INTO job_vacancies (title) VALUES ( '[Mooimom] Spg')
825 Data Governance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Data Governance Supervisor')
826 Product Operation Executive
INSERT INTO job_vacancies (title) VALUES ( 'Product Operation Executive')
827 Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online')
828 Accounting Dan Finance
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Dan Finance')
829 Sales Buku Tulis Dan Kertas Hvs
INSERT INTO job_vacancies (title) VALUES ( 'Sales Buku Tulis Dan Kertas Hvs')
830 Account Officer (Alam Sutera-Bsd)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Alam Sutera-Bsd)')
831 Production Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor')
832 B2B Sales Staff (Food & Beverages - Sweetener Product) Based In Driyorejo Gresik
INSERT INTO job_vacancies (title) VALUES ( 'B2B Sales Staff (Food & Beverages - Sweetener Product) Based In Driyorejo Gresik')
833 Sales Modern Trade Cabang Malang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Modern Trade Cabang Malang')
834 It Helpdesk
INSERT INTO job_vacancies (title) VALUES ( 'It Helpdesk')
835 Procurement Buyer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Buyer')
836 Hrbp (Getplus)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp (Getplus)')
837 Corporate Brand Management Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Brand Management Analyst')
838 Manager Operasional (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional (Bandung)')
839 Industrial Relation
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Relation')
840 Marketing Communication Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Executive')
841 Hse (Health Safety Environmental) Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse (Health Safety Environmental) Officer')
842 Middle Mile Admin Operation Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Admin Operation Supervisor - Shopee Express')
843 [Mooimom] Spg
INSERT INTO job_vacancies (title) VALUES ( '[Mooimom] Spg')
844 Data Governance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Data Governance Supervisor')
845 Product Operation Executive
INSERT INTO job_vacancies (title) VALUES ( 'Product Operation Executive')
846 Administrasi Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Purchasing')
847 F&B Accountant Assistant
INSERT INTO job_vacancies (title) VALUES ( 'F&B Accountant Assistant')
848 Marketing & Customer Relation
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Customer Relation')
849 Relationship Manager Wealth Management Business
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Wealth Management Business')
850 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
851 Senior Staf Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staf Logistik')
852 Customer Engineer  (Penempatan Area Palu)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Engineer  (Penempatan Area Palu)')
853 Regional Manager West
INSERT INTO job_vacancies (title) VALUES ( 'Regional Manager West')
854 Qa System Pharmacist
INSERT INTO job_vacancies (title) VALUES ( 'Qa System Pharmacist')
855 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
856 Relationship Officer
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer')
857 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
858 Supervisor Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting')
859 Rider Team Lead Shopee Express - (Hub Jorong)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - (Hub Jorong)')
860 Team Leader Linehaul (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Linehaul (Palangkaraya)')
861 Humas Kebun
INSERT INTO job_vacancies (title) VALUES ( 'Humas Kebun')
862 Management Information System Officer (Mis)
INSERT INTO job_vacancies (title) VALUES ( 'Management Information System Officer (Mis)')
863 Admin Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Admin Warehouse')
864 Talent Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management Supervisor')
865 Camp Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Camp Supervisor')
866 Crew (Part Time) - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Crew (Part Time) - Samarinda')
867 Area Operasional Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Operasional Supervisor')
868 Casual Leasing Officer - Lippo Mall Kemang
INSERT INTO job_vacancies (title) VALUES ( 'Casual Leasing Officer - Lippo Mall Kemang')
869 Qc Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qc Supervisor')
870 Credit Operation
INSERT INTO job_vacancies (title) VALUES ( 'Credit Operation')
871 Site Controller Architect  Property Developer Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Site Controller Architect  Property Developer Makassar')
872 Quality Assurance Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Department Head')
873 Assistant Office Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Office Manager')
874 Inventory Controller
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Controller')
875 Qms & Qc Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Qms & Qc Analyst')
876 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
877 Hrd Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Generalist')
878 Goverment Relation
INSERT INTO job_vacancies (title) VALUES ( 'Goverment Relation')
879 Business Development (Aceh, Cirebon, Lampung, Samarinda, Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (Aceh, Cirebon, Lampung, Samarinda, Yogyakarta)')
880 Management Development Program (Mdp)
INSERT INTO job_vacancies (title) VALUES ( 'Management Development Program (Mdp)')
881 Crew (Part Time) - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Crew (Part Time) - Balikpapan')
882 Hse Supervisor (Construction)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Supervisor (Construction)')
883 Freelance It Support
INSERT INTO job_vacancies (title) VALUES ( 'Freelance It Support')
884 Audit Teknologi Informasi
INSERT INTO job_vacancies (title) VALUES ( 'Audit Teknologi Informasi')
885 Hr & Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Staff')
886 Ticketing Staff English Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Ticketing Staff English Speaking')
887 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
888 Fa Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Fa Section Head')
889 Account Receivable (Ar) Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable (Ar) Supervisor')
890 Production Operation Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Production Operation Trainee')
891 Staff Drafter (Engineering)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Drafter (Engineering)')
892 Qms & Qc Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Qms & Qc Analyst')
893 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
894 Hrd Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Generalist')
895 Goverment Relation
INSERT INTO job_vacancies (title) VALUES ( 'Goverment Relation')
896 Production Officer
INSERT INTO job_vacancies (title) VALUES ( 'Production Officer')
897 Area Sales Supervisor - Tasikmalaya - Banjar
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Tasikmalaya - Banjar')
898 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
899 Assistant Store Manager (Asm) Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Manager (Asm) Jambi')
900 Drafter - Mekanik (Me) Dan Sipil (Ce)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter - Mekanik (Me) Dan Sipil (Ce)')
901 Sales Driver (Ds Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Driver (Ds Cirebon)')
902 Ci Dept. Head
INSERT INTO job_vacancies (title) VALUES ( 'Ci Dept. Head')
903 Talent Acquisition Ops - Intern
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Ops - Intern')
904 Pest Control
INSERT INTO job_vacancies (title) VALUES ( 'Pest Control')
905 Buying Manager (Senior Manager Level)
INSERT INTO job_vacancies (title) VALUES ( 'Buying Manager (Senior Manager Level)')
906 Sales Manager (Modern Market  /  E-Commerce)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Modern Market  /  E-Commerce)')
907 Audit Development & Quality Assurance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Audit Development & Quality Assurance Officer')
908 Sales Executive (Horeca)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Horeca)')
909 Payroll Officer (Contract Based 4-6 Months)
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Officer (Contract Based 4-6 Months)')
910 Finance & Accounting Staf
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staf')
911 Field Operation Support
INSERT INTO job_vacancies (title) VALUES ( 'Field Operation Support')
912 Personal Asisstant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Asisstant')
913 Teknisi Listrik & Bangunan Cabang Kebumen
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Listrik & Bangunan Cabang Kebumen')
914 Purchasing Ofificer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Ofificer')
915 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
916 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
917 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
918 Marketing Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Logistik')
919 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
920 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
921 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
922 Agricultural Technical Lead
INSERT INTO job_vacancies (title) VALUES ( 'Agricultural Technical Lead')
923 Customer Care (Welcome Call)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Care (Welcome Call)')
924 Partnership Executive
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Executive')
925 Editor In Chief
INSERT INTO job_vacancies (title) VALUES ( 'Editor In Chief')
926 Client Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Client Relation Officer')
927 Technical Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Technical Superintendent')
928 Content Creator & Sosial Media
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator & Sosial Media')
929 Recovery Manager ( Area Bengkulu - Sumsel, Jambi, Kalimantan, Lampung )
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Manager ( Area Bengkulu - Sumsel, Jambi, Kalimantan, Lampung )')
930 Quality Assurance - Spmi Officer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance - Spmi Officer')

931 Research & Data Collection Intern
INSERT INTO job_vacancies (title) VALUES ( 'Research & Data Collection Intern')
932 Recruitment Dan Training
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Dan Training')
933 Trainer  /  Facilitator
INSERT INTO job_vacancies (title) VALUES ( 'Trainer  /  Facilitator')
934 Landscape Project Officer
INSERT INTO job_vacancies (title) VALUES ( 'Landscape Project Officer')
935 Sales Driver (Ds Palu)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Driver (Ds Palu)')
936 Customer Care Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Care Officer')
937 Customer Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Support Officer')
938 Auditor Sistem Mutu
INSERT INTO job_vacancies (title) VALUES ( 'Auditor Sistem Mutu')
939 Branch Manager Car - Jatabek Area
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Car - Jatabek Area')
940 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
941 Hr Payroll Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Payroll Specialist')
942 Merchandiser Apparel Baju
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Apparel Baju')
943 Guru Bahasa Indonesia Preschool
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bahasa Indonesia Preschool')
944 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
945 Inventory Supervisor - Sports Retailer
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Supervisor - Sports Retailer')
946 Senior Pelaksana Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Senior Pelaksana Proyek')
947 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
948 Structural Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Structural Drafter')
949 Marketing / Lobbyist / Project Manajer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing / Lobbyist / Project Manajer')
950 Personal Assistant To Director (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Director (Jawa Tengah)')
951 Maintenance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Engineer')
952 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
953 Supervisor Sales Modern Trade (Balikpapan Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Modern Trade (Balikpapan Branch)')
954 Sales Supervisor General Trade (Pekanbaru Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor General Trade (Pekanbaru Branch)')
955 Trainer Automotif
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Automotif')
956 Electrician
INSERT INTO job_vacancies (title) VALUES ( 'Electrician')
957 Audit Internal
INSERT INTO job_vacancies (title) VALUES ( 'Audit Internal')
958 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
959 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
960 Drafter & Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Drafter & Estimator')
961 Customer Service Order
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Order')
962 Hub Lead Shopee Express (Praya, Kab. Lombok Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Praya, Kab. Lombok Tengah)')
963 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
964 Service Advisor & Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Service Advisor & Mekanik')
965 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
966 Maintenance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Engineer')
967 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
968 Supervisor Sales Modern Trade (Balikpapan Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Modern Trade (Balikpapan Branch)')
969 Sales Supervisor General Trade (Pekanbaru Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor General Trade (Pekanbaru Branch)')
970 Trainer Automotif
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Automotif')
971 Secretary (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Secretary (Surabaya)')
972 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
973 Purchasing Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Export Import')
974 Infra Structure Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Infra Structure Engineer')
975 Assistant Warehouse Pharmacist Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Warehouse Pharmacist Manager')
976 Site Manager ( Jakarta )
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager ( Jakarta )')
977 Legal Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Senior Staff')
978 Product Manager - Diagnostics
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager - Diagnostics')
979 General Manager Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Sales & Marketing')
980 Validasi Qualification Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Validasi Qualification Analyst')
981 Marketing & Branding Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Branding Manager')
982 User Research
INSERT INTO job_vacancies (title) VALUES ( 'User Research')
983 Server Dan Barista
INSERT INTO job_vacancies (title) VALUES ( 'Server Dan Barista')
984 Purchaser
INSERT INTO job_vacancies (title) VALUES ( 'Purchaser')
985 Hr Organizational Development Strategic
INSERT INTO job_vacancies (title) VALUES ( 'Hr Organizational Development Strategic')
986 Business Development Executive (Bandung, Manado, Jogja, Surabaya, Balikpapan, Semarang, Dan Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive (Bandung, Manado, Jogja, Surabaya, Balikpapan, Semarang, Dan Jakarta)')
987 Management Trainee Sales Or Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee Sales Or Engineering')
988 Hr & Ga Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Department Head')
989 Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris')
990 Business Development - Segment Food & Beverages
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Segment Food & Beverages')
991 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
992 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
993 Organization Development & Talent Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development & Talent Specialist')
994 Research & Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Research & Development Staff')
995 Legal Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Assistant Manager')
996 Hr Executive
INSERT INTO job_vacancies (title) VALUES ( 'Hr Executive')
997 Accounting Reporting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Reporting Supervisor')
998 Retail Business Development - Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Retail Business Development - Tegal')
999 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
1000 Training Executive (Te - Js)
INSERT INTO job_vacancies (title) VALUES ( 'Training Executive (Te - Js)')
1001 Drafter Refrigerasi
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Refrigerasi')
1002 Business Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Staff')
1003 Spv Direct Force Sales Indosat Sungai Lilin
INSERT INTO job_vacancies (title) VALUES ( 'Spv Direct Force Sales Indosat Sungai Lilin')
1004 Manager Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional')
1005 Maintenance Supervisor (Comissary)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor (Comissary)')
1006 Hr (Human Resources) Intern
INSERT INTO job_vacancies (title) VALUES ( 'Hr (Human Resources) Intern')
1007 Area Sales Manager Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Kalimantan')
1008 Web Adminstrator / Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Web Adminstrator / Admin Online')
1009 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
1010 Staff Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Staff Recruitment')
1011 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
1012 Store Manager
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager')
1013 Engineering Listrik
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Listrik')
1014 Sales Supervisor General Trade (Cimahi Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor General Trade (Cimahi Branch)')
1015 Procurement Officer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Officer')
1016 Manager Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional')
1017 Maintenance Supervisor (Comissary)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor (Comissary)')
1018 Hr (Human Resources) Intern
INSERT INTO job_vacancies (title) VALUES ( 'Hr (Human Resources) Intern')
1019 Area Sales Manager Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Kalimantan')
1020 Web Adminstrator / Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Web Adminstrator / Admin Online')
1021 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
1022 Training Executive (Te - Js)
INSERT INTO job_vacancies (title) VALUES ( 'Training Executive (Te - Js)')
1023 Drafter Refrigerasi
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Refrigerasi')
1024 Senior Executive – Aml Monitoring
INSERT INTO job_vacancies (title) VALUES ( 'Senior Executive – Aml Monitoring')
1025 Business Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Staff')
1026 Spv Direct Force Sales Indosat Sungai Lilin
INSERT INTO job_vacancies (title) VALUES ( 'Spv Direct Force Sales Indosat Sungai Lilin')
1027 Staff Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Staff Recruitment')
1028 文员（会中文）
INSERT INTO job_vacancies (title) VALUES ( '文员（会中文）')
1029 Corporate Finance & Investor Relations
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Finance & Investor Relations')
1030 It Infrastruktur
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastruktur')
1031 Hrd Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Supervisor')
1032 Sales Supporting
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supporting')
1033 Dcs Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Dcs Engineer')
1034 Driver  /  Kurir  /  Checker  /  Helper
INSERT INTO job_vacancies (title) VALUES ( 'Driver  /  Kurir  /  Checker  /  Helper')
1035 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
1036 Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Operation Supervisor')
1037 Marketing Communication Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Staff')
1038 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
1039 Finance Ops Shopee Express (Pangkal Pinang)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Shopee Express (Pangkal Pinang)')
1040 Production Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Production Engineer')
1041 Assistant Manager Finance
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Finance')
1042 Project Management
INSERT INTO job_vacancies (title) VALUES ( 'Project Management')
1043 Housekeeping Manager
INSERT INTO job_vacancies (title) VALUES ( 'Housekeeping Manager')
1044 It Leader
INSERT INTO job_vacancies (title) VALUES ( 'It Leader')
1045 Hub Lead Shopee Express (Palibelo, Kab. Bima)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Palibelo, Kab. Bima)')
1046 Driver User
INSERT INTO job_vacancies (title) VALUES ( 'Driver User')
1047 Assistant Manager Hr
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Hr')
1048 Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax')
1049 Design Mold
INSERT INTO job_vacancies (title) VALUES ( 'Design Mold')
1050 Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Security Engineer')
1051 It System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'It System Administrator')
1052 Business Inkjet Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Inkjet Sales Staff')
1053 Hcbp Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hcbp Supervisor')
1054 Sales Supporting
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supporting')
1055 Counter Sales Person
INSERT INTO job_vacancies (title) VALUES ( 'Counter Sales Person')
1056 Sales Promotion Representative Area Kupang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion Representative Area Kupang')
1057 Wakil Kepala Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Kepala Teknik')
1058 Supervisor Fresh ( Penempatan Biak,Manokwari, Timika, Merauke)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Fresh ( Penempatan Biak,Manokwari, Timika, Merauke)')
1059 Customer Research
INSERT INTO job_vacancies (title) VALUES ( 'Customer Research')
1060 Recruitment Specialist Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist Jakarta')
1061 Marketing Communication Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Specialist')
1062 Commis (Hot  /  Cold  /  Pastry  /  Catering)
INSERT INTO job_vacancies (title) VALUES ( 'Commis (Hot  /  Cold  /  Pastry  /  Catering)')
1063 Hub Lead Shopee Express (Bengkalis, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Bengkalis, Riau)')
1064 Staff Production System
INSERT INTO job_vacancies (title) VALUES ( 'Staff Production System')
1065 General Manager Plant – (Export)
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Plant – (Export)')
1066 Operator Bubut
INSERT INTO job_vacancies (title) VALUES ( 'Operator Bubut')
1067 Cook Kitchen
INSERT INTO job_vacancies (title) VALUES ( 'Cook Kitchen')
1068 Desk Collection Outsource Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Outsource Specialist')
1069 Technician
INSERT INTO job_vacancies (title) VALUES ( 'Technician')
1070 Tax Resolution Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tax Resolution Specialist')
1071 Hr & Ga Manager - Pt Kalbe Blackmores Nutrition
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager - Pt Kalbe Blackmores Nutrition')
1072 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
1073 Apotek Partnership Associate
INSERT INTO job_vacancies (title) VALUES ( 'Apotek Partnership Associate')
1074 Nursery Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Nursery Section Head')
1075 Ta Manager (Mass Hiring)
INSERT INTO job_vacancies (title) VALUES ( 'Ta Manager (Mass Hiring)')
1076 Barista Papua
INSERT INTO job_vacancies (title) VALUES ( 'Barista Papua')
1077 Hrga Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Generalist')
1078 Data Entry Internship
INSERT INTO job_vacancies (title) VALUES ( 'Data Entry Internship')
1079 Project Assistant Manager (Lampung Refinery)
INSERT INTO job_vacancies (title) VALUES ( 'Project Assistant Manager (Lampung Refinery)')
1080 Assistant Manager Finance
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Finance')
1081 Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Engineer')
1082 Staff Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Staff Sales Project')
1083 Hirer Segment Lead
INSERT INTO job_vacancies (title) VALUES ( 'Hirer Segment Lead')
1084 Admin Online Shop
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online Shop')
1085 Hr Recruitment & Selection
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment & Selection')
1086 Leader Certification & Farmers Wellfare
INSERT INTO job_vacancies (title) VALUES ( 'Leader Certification & Farmers Wellfare')
1087 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
1088 Strategic Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Digital Marketing')
1089 Supervisor Formulasi (R&D)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Formulasi (R&D)')
1090 Telesales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Associate')
1091 Fashion Assistant Manager Merchandiser (Buyer)
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Assistant Manager Merchandiser (Buyer)')
1092 F&A Division Head
INSERT INTO job_vacancies (title) VALUES ( 'F&A Division Head')
1093 It Infra
INSERT INTO job_vacancies (title) VALUES ( 'It Infra')
1094 Admin Cdgr
INSERT INTO job_vacancies (title) VALUES ( 'Admin Cdgr')
1095 Supervisor Produksi (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi (Jawa Tengah)')
1096 Instructor Operator Dan Mechanic

INSERT INTO job_vacancies (title) VALUES ( 'Instructor Operator Dan Mechanic')
1097 Business Process Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Specialist')
1098 Estate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager')
1099 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
1100 Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris')
1101 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
1102 Business Unit Director - West Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Business Unit Director - West Indonesia')
1103 Finance  /  Admin Executive
INSERT INTO job_vacancies (title) VALUES ( 'Finance  /  Admin Executive')
1104 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
1105 Housekeeping Hotel
INSERT INTO job_vacancies (title) VALUES ( 'Housekeeping Hotel')
1106 Personal Assistant For Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant For Director')
1107 Tax Supervisor - Sports Retailer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor - Sports Retailer')
1108 Asset Recovery Collection
INSERT INTO job_vacancies (title) VALUES ( 'Asset Recovery Collection')
1109 System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator')
1110 Rider Team Lead Shopee Express - Hub Masamba (Kab. Luwu Utara, Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Masamba (Kab. Luwu Utara, Sulawesi Selatan)')
1111 It System Staff
INSERT INTO job_vacancies (title) VALUES ( 'It System Staff')
1112 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1113 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
1114 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
1115 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
1116 Contact Center Staff
INSERT INTO job_vacancies (title) VALUES ( 'Contact Center Staff')
1117 Wakil Team Leader Reminder-Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Team Leader Reminder-Desk Collection')
1118 Salesman To (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Salesman To (Jabodetabek)')
1119 Sales Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Senior Staff')
1120 Digital Marketing - Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing - Social Media Marketing')
1121 Relationship Officer - Penempatan Tangerang (Serpong)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Tangerang (Serpong)')
1122 Hr Generalis
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalis')
1123 Supervisor Sales
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales')
1124 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
1125 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
1126 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
1127 Contact Center Staff
INSERT INTO job_vacancies (title) VALUES ( 'Contact Center Staff')
1128 Wakil Team Leader Reminder-Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Team Leader Reminder-Desk Collection')
1129 Salesman To (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Salesman To (Jabodetabek)')
1130 Sales Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Senior Staff')
1131 Asset Recovery Collection
INSERT INTO job_vacancies (title) VALUES ( 'Asset Recovery Collection')
1132 System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator')
1133 Rider Team Lead Shopee Express - Hub Masamba (Kab. Luwu Utara, Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Masamba (Kab. Luwu Utara, Sulawesi Selatan)')
1134 It System Staff
INSERT INTO job_vacancies (title) VALUES ( 'It System Staff')
1135 Digital Marketing - Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing - Social Media Marketing')
1136 Inspector Academy
INSERT INTO job_vacancies (title) VALUES ( 'Inspector Academy')
1137 Sales Representative [Tangerang]
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative [Tangerang]')
1138 Pimpinan Unit Bisnis
INSERT INTO job_vacancies (title) VALUES ( 'Pimpinan Unit Bisnis')
1139 Palm Oil Researcher (Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Palm Oil Researcher (Indonesia)')
1140 Head Of Product
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Product')
1141 Account Executive For Pharma Ingredients Business
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive For Pharma Ingredients Business')
1142 Insurance & Claim Corporate Account Staff
INSERT INTO job_vacancies (title) VALUES ( 'Insurance & Claim Corporate Account Staff')
1143 Section Head Hr-Ga
INSERT INTO job_vacancies (title) VALUES ( 'Section Head Hr-Ga')
1144 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
1145 Warehouse Admin
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin')
1146 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1147 Area Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor')
1148 Sales Inbound Counter (Telemarketing)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Inbound Counter (Telemarketing)')
1149 Assistant Manager Visual Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Visual Merchandiser')
1150 Sales Engineer Staff (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Staff (Jakarta)')
1151 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
1152 Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Project Coordinator')
1153 General Affairs - Hyundai Motor Studio Building Facility Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs - Hyundai Motor Studio Building Facility Manager')
1154 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
1155 Regulatory Affair
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Affair')
1156 Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Support')
1157 Operator Crane
INSERT INTO job_vacancies (title) VALUES ( 'Operator Crane')
1158 Freelance Copywriting
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Copywriting')
1159 Maintenance Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Section Head')
1160 Digital Marketing Communication Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Communication Supervisor')
1161 Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax')
1162 Creative Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Creative Content Creator')
1163 Data Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Data Trainer')
1164 Internal Audit Officer
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Officer')
1165 Quality Control Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Supervisor')
1166 Credit Marketing Officer (Cmo) Malang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Malang')
1167 Drafter Project Mep
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Project Mep')
1168 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1169 Junior Supervisor Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Junior Supervisor Hr Generalist')
1170 Supervisor Project
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Project')
1171 Project Controller
INSERT INTO job_vacancies (title) VALUES ( 'Project Controller')
1172 Commercial Finance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Finance Assistant Manager')
1173 Freelance Instructor
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Instructor')
1174 Sales And Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Executive')
1175 Sales & Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Sales Supervisor')
1176 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
1177 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
1178 Senior Manager Customer Experience
INSERT INTO job_vacancies (title) VALUES ( 'Senior Manager Customer Experience')
1179 Sales Administration
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administration')
1180 Area Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor')
1181 Quality Assurance Payment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Payment Staff')
1182 Koordinator Personel Bko
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Personel Bko')
1183 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
1184 Project Leader
INSERT INTO job_vacancies (title) VALUES ( 'Project Leader')
1185 Budget Controller Officer
INSERT INTO job_vacancies (title) VALUES ( 'Budget Controller Officer')
1186 Food And Beverage Business Intelligence Officer
INSERT INTO job_vacancies (title) VALUES ( 'Food And Beverage Business Intelligence Officer')
1187 Admin Coordinator - ( Bahasa Jepang N2 )
INSERT INTO job_vacancies (title) VALUES ( 'Admin Coordinator - ( Bahasa Jepang N2 )')
1188 Procurement (Purchasing)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement (Purchasing)')
1189 Kurir - Sumatera
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Sumatera')
1190 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
1191 Sales Supervisor Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Jabodetabek')
1192 Internal Audit Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Section Head')
1193 Presales
INSERT INTO job_vacancies (title) VALUES ( 'Presales')
1194 Purchasing Furniture
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Furniture')
1195 Dw F&B Service
INSERT INTO job_vacancies (title) VALUES ( 'Dw F&B Service')
1196 It Infrastructure Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Manager')
1197 Operational Klinik (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Operational Klinik (Jabodetabek)')
1198 Assistant Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Auditor')
1199 Sales Supervisor Pati-Blora (Asw Foods)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Pati-Blora (Asw Foods)')
1200 Junior Ndt (Site Obi)
INSERT INTO job_vacancies (title) VALUES ( 'Junior Ndt (Site Obi)')
1201 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
1202 Hr Planning And Development
INSERT INTO job_vacancies (title) VALUES ( 'Hr Planning And Development')
1203 Stevedoring Operational
INSERT INTO job_vacancies (title) VALUES ( 'Stevedoring Operational')
1204 Executive Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Executive Internal Audit')
1205 Customer Support - Network ( Jakarta Based)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Support - Network ( Jakarta Based)')
1206 Mekanik Truk (Loc:Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Truk (Loc:Samarinda)')
1207 Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer')
1208 Audit & Certification Officer
INSERT INTO job_vacancies (title) VALUES ( 'Audit & Certification Officer')
1209 Kurir - Jabodetabek, Sukabumi, Serang
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Jabodetabek, Sukabumi, Serang')
1210 Tax Assistant Manager (Tam)
INSERT INTO job_vacancies (title) VALUES ( 'Tax Assistant Manager (Tam)')
1211 Documentation For Liner
INSERT INTO job_vacancies (title) VALUES ( 'Documentation For Liner')
1212 Account Executive  Aceh, Pekanbaru, Padang, Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive  Aceh, Pekanbaru, Padang, Lampung')
1213 Sales Support Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support Executive')
1214 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
1215 Quality Control Staf
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staf')
1216 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
1217 Mekanikal Elektrik (Me)
INSERT INTO job_vacancies (title) VALUES ( 'Mekanikal Elektrik (Me)')
1218 Technical Concrete Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Technical Concrete Supervisor')
1219 Mechanical  /  Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical  /  Site Engineer')
1220 Hr Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Supervisor')
1221 Marketing Communication (Historia.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication (Historia.Id)')
1222 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1223 Export Marketing Vice President
INSERT INTO job_vacancies (title) VALUES ( 'Export Marketing Vice President')
1224 Technician Head
INSERT INTO job_vacancies (title) VALUES ( 'Technician Head')
1225 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
1226 Finance And Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting Supervisor')
1227 Ppic Senior Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Senior Supervisor')
1228 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
1229 Project Coordinator (Boiler  /  Diesel  /  Gas Engine  /  Turbine)
INSERT INTO job_vacancies (title) VALUES ( 'Project Coordinator (Boiler  /  Diesel  /  Gas Engine  /  Turbine)')
1230 Lazmall - Category Management
INSERT INTO job_vacancies (title) VALUES ( 'Lazmall - Category Management')
1231 Spg Serang - Banten
INSERT INTO job_vacancies (title) VALUES ( 'Spg Serang - Banten')
1232 Butler / Banquet Personal Service
INSERT INTO job_vacancies (title) VALUES ( 'Butler / Banquet Personal Service')
1233 Site Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor')
1234 Engineering Manager
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Manager')
1235 Early Childhood Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Early Childhood Teacher')
1236 Wealth Management Program (Wmp)
INSERT INTO job_vacancies (title) VALUES ( 'Wealth Management Program (Wmp)')
1237 Store Manager  /  Manager Operasional Toko
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager  /  Manager Operasional Toko')
1238 Hrga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Supervisor')
1239 Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer')
1240 General Manager (Gm)
INSERT INTO job_vacancies (title) VALUES ( 'General Manager (Gm)')
1241 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
1242 Asisten Manager Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Manager Hrd')
1243 Drafter (Struktur Arsitektur)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter (Struktur Arsitektur)')
1244 Legal Intern
INSERT INTO job_vacancies (title) VALUES ( 'Legal Intern')
1245 Kurir - Jawa Tengah, Diy
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Jawa Tengah, Diy')
1246 Sales Supervisor General Trade (Semarang Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor General Trade (Semarang Branch)')
1247 General Affairs Admin
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Admin')
1248 Branch Manager Banten (Zen-Primagama)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Banten (Zen-Primagama)')
1249 Property Consultant (Tangerang Area)
INSERT INTO job_vacancies (title) VALUES ( 'Property Consultant (Tangerang Area)')
1250 Human Capital Department Head - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Department Head - Palangkaraya')
1251 Business Executive E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive E-Commerce')
1252 Estate Management Coordinator (Proyek Citra Sentul Raya)
INSERT INTO job_vacancies (title) VALUES ( 'Estate Management Coordinator (Proyek Citra Sentul Raya)')
1253 Warehouse & Logistic Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Logistic Manager')
1254 Business Development Officer Bali
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer Bali')
1255 Sales Supervisor General Trade (Semarang Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor General Trade (Semarang Branch)')
1256 General Affairs Admin
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Admin')
1257 Branch Manager Banten (Zen-Primagama)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Banten (Zen-Primagama)')
1258 Property Consultant (Tangerang Area)
INSERT INTO job_vacancies (title) VALUES ( 'Property Consultant (Tangerang Area)')
1259 Human Capital Department Head - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Department Head - Palangkaraya')
1260 Business Executive E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive E-Commerce')
1261 Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer')
1262 General Manager (Gm)
INSERT INTO job_vacancies (title) VALUES ( 'General Manager (Gm)')
1263 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
1264 Asisten Manager Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Manager Hrd')
1265 Estate Management Coordinator (Proyek Citra Sentul Raya)
INSERT INTO job_vacancies (title) VALUES ( 'Estate Management Coordinator (Proyek Citra Sentul Raya)')
1266 Warehouse & Logistic Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Logistic Manager')
1267 Creative Social Media
INSERT INTO job_vacancies (title) VALUES ( 'Creative Social Media')
1268 Business Development Ast. Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Ast. Manager')
1269 Senior Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Tax')
1270 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')

1271 Fitness Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Fitness Trainer')
1272 Manager - Cash Management (Cashier)
INSERT INTO job_vacancies (title) VALUES ( 'Manager - Cash Management (Cashier)')
1273 Kepala Bagian Qa
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Qa')
1274 Branch Manager Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Bandung')
1275 Teknisi Mesin
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mesin')
1276 Career Management Officer
INSERT INTO job_vacancies (title) VALUES ( 'Career Management Officer')
1277 Photographer & Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Photographer & Videographer')
1278 Drafter (Struktur Arsitektur)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter (Struktur Arsitektur)')
1279 Legal Intern
INSERT INTO job_vacancies (title) VALUES ( 'Legal Intern')
1280 Kurir - Jawa Tengah, Diy
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Jawa Tengah, Diy')
1281 Middle Mile Land Operation Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Land Operation Supervisor - Shopee Express')
1282 Gs - Vehicle
INSERT INTO job_vacancies (title) VALUES ( 'Gs - Vehicle')
1283 Supervisor Qmr
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Qmr')
1284 Denim Fashion Design
INSERT INTO job_vacancies (title) VALUES ( 'Denim Fashion Design')
1285 Compensation & Benefit Specialist, Heavy Industry
INSERT INTO job_vacancies (title) VALUES ( 'Compensation & Benefit Specialist, Heavy Industry')
1286 Agent Property
INSERT INTO job_vacancies (title) VALUES ( 'Agent Property')
1287 Hrga Spv
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Spv')
1288 Broker Relation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Broker Relation Staff')
1289 Cook Kitchen
INSERT INTO job_vacancies (title) VALUES ( 'Cook Kitchen')
1290 Admin Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Admin Analyst')
1291 Supervisor Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Outlet')
1292 Product R&D Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Product R&D Engineer')
1293 Creative Lead
INSERT INTO job_vacancies (title) VALUES ( 'Creative Lead')
1294 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
1295 District Manager
INSERT INTO job_vacancies (title) VALUES ( 'District Manager')
1296 Kurir - Kalimantan, Sulawesi, Ambon, Papua
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Kalimantan, Sulawesi, Ambon, Papua')
1297 Psikolog Industri
INSERT INTO job_vacancies (title) VALUES ( 'Psikolog Industri')
1298 Legal Drafting
INSERT INTO job_vacancies (title) VALUES ( 'Legal Drafting')
1299 Cost Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Cost Estimator')
1300 Heavy Equipment & Fleet Maintenance (Hefm Controller)
INSERT INTO job_vacancies (title) VALUES ( 'Heavy Equipment & Fleet Maintenance (Hefm Controller)')
1301 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
1302 Admin Inventory
INSERT INTO job_vacancies (title) VALUES ( 'Admin Inventory')
1303 Sme Telecommunication Radio
INSERT INTO job_vacancies (title) VALUES ( 'Sme Telecommunication Radio')
1304 Promotion Manager (For High Rise)
INSERT INTO job_vacancies (title) VALUES ( 'Promotion Manager (For High Rise)')
1305 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1306 Finance Ops Shopee Express (Cengkareng)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Shopee Express (Cengkareng)')
1307 Medical It Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Medical It Quality Assurance')
1308 Cost Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Cost Estimator')
1309 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
1310 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
1311 Product R&D Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Product R&D Engineer')
1312 Creative Lead
INSERT INTO job_vacancies (title) VALUES ( 'Creative Lead')
1313 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
1314 Heavy Equipment & Fleet Maintenance (Hefm Controller)
INSERT INTO job_vacancies (title) VALUES ( 'Heavy Equipment & Fleet Maintenance (Hefm Controller)')
1315 District Manager
INSERT INTO job_vacancies (title) VALUES ( 'District Manager')
1316 Admin Inventory
INSERT INTO job_vacancies (title) VALUES ( 'Admin Inventory')
1317 Sme Telecommunication Radio
INSERT INTO job_vacancies (title) VALUES ( 'Sme Telecommunication Radio')
1318 Promotion Manager (For High Rise)
INSERT INTO job_vacancies (title) VALUES ( 'Promotion Manager (For High Rise)')
1319 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1320 System Engineer (Mcsa)
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer (Mcsa)')
1321 Supervisor Project
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Project')
1322 General Central Processing Officer
INSERT INTO job_vacancies (title) VALUES ( 'General Central Processing Officer')
1323 Broker Officer
INSERT INTO job_vacancies (title) VALUES ( 'Broker Officer')
1324 Store Manager (Subang)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Subang)')
1325 Kepala Pos - Bojonegoro
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Bojonegoro')
1326 Dispatcher Operational Truk (Penempatan: Trosobo)
INSERT INTO job_vacancies (title) VALUES ( 'Dispatcher Operational Truk (Penempatan: Trosobo)')
1327 Merchandising Buyer
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Buyer')
1328 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
1329 Manajer Akuntansi
INSERT INTO job_vacancies (title) VALUES ( 'Manajer Akuntansi')
1330 Payroll Staff
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Staff')
1331 B2B Sales Staff (Feed Product) - Based In Gresik Driyorejo
INSERT INTO job_vacancies (title) VALUES ( 'B2B Sales Staff (Feed Product) - Based In Gresik Driyorejo')
1332 Kurir - Kalimantan, Sulawesi, Ambon, Papua
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Kalimantan, Sulawesi, Ambon, Papua')
1333 Psikolog Industri
INSERT INTO job_vacancies (title) VALUES ( 'Psikolog Industri')
1334 Legal Drafting
INSERT INTO job_vacancies (title) VALUES ( 'Legal Drafting')
1335 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
1336 Senior Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accountant')
1337 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
1338 Area Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager')
1339 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
1340 Marketing Officer - Pangkal Pinang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Pangkal Pinang')
1341 Cimb Preffered Development Program (Penempatan Cilacap)
INSERT INTO job_vacancies (title) VALUES ( 'Cimb Preffered Development Program (Penempatan Cilacap)')
1342 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1343 Brand Executive
INSERT INTO job_vacancies (title) VALUES ( 'Brand Executive')
1344 It General Manager
INSERT INTO job_vacancies (title) VALUES ( 'It General Manager')
1345 Konsultan Bisnis Agen (Kba)
INSERT INTO job_vacancies (title) VALUES ( 'Konsultan Bisnis Agen (Kba)')
1346 Accounting Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Assistant Manager')
1347 Accounting Senior Staff - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Senior Staff - Cikarang')
1348 Credit Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer')
1349 Network Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Network Management Supervisor')
1350 Project Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Project Consultant')
1351 Digital Product Owner | Automotive Ev (2 Wheels)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Product Owner | Automotive Ev (2 Wheels)')
1352 Asst. Manager Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Asst. Manager Accounting')
1353 Freelance Akuntansi ( Kerja Dari Rumah, Paruh Waktu )
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Akuntansi ( Kerja Dari Rumah, Paruh Waktu )')
1354 Export Officer
INSERT INTO job_vacancies (title) VALUES ( 'Export Officer')
1355 Estimator Mep
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Mep')
1356 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
1357 Accounting Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Tax Staff')
1358 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1359 Human Resource Manager - Logistics Company
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Manager - Logistics Company')
1360 Kurir - Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Jawa Barat')
1361 Asst. Manager Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Asst. Manager Accounting')
1362 Export Officer
INSERT INTO job_vacancies (title) VALUES ( 'Export Officer')
1363 Accounting Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Assistant Manager')
1364 Accounting Senior Staff - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Senior Staff - Cikarang')
1365 Network Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Network Management Supervisor')
1366 Estimator Mep
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Mep')
1367 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
1368 Accounting Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Tax Staff')
1369 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1370 Human Resource Manager - Logistics Company
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Manager - Logistics Company')
1371 Hr & Ga Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Generalist')
1372 Regulatory Affair Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Affair Supervisor')
1373 Customer Relation Officer - Ef English First Tangerang (Tangerang City, Gading Serpong, Bsd)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Officer - Ef English First Tangerang (Tangerang City, Gading Serpong, Bsd)')
1374 Marketing Executive (Medical Specialist)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive (Medical Specialist)')
1375 Service Administration ( Pontianak )
INSERT INTO job_vacancies (title) VALUES ( 'Service Administration ( Pontianak )')
1376 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
1377 Ict Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Ict Specialist')
1378 Tax Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Tax Consultant')
1379 Counter Staff_ Admin_Marketing Komunikasi
INSERT INTO job_vacancies (title) VALUES ( 'Counter Staff_ Admin_Marketing Komunikasi')
1380 Business Support
INSERT INTO job_vacancies (title) VALUES ( 'Business Support')
1381 System Engineer (系统工程师) - F&B
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer (系统工程师) - F&B')
1382 Key Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Officer')
1383 Project Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Project Consultant')
1384 Digital Product Owner | Automotive Ev (2 Wheels)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Product Owner | Automotive Ev (2 Wheels)')
1385 Freelance Akuntansi ( Kerja Dari Rumah, Paruh Waktu )
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Akuntansi ( Kerja Dari Rumah, Paruh Waktu )')
1386 Mill Manager
INSERT INTO job_vacancies (title) VALUES ( 'Mill Manager')
1387 International Franchise Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'International Franchise Coordinator')
1388 Staff Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting & Tax')
1389 Head Of Accounting And Tax
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Accounting And Tax')
1390 Internship Program
INSERT INTO job_vacancies (title) VALUES ( 'Internship Program')
1391 Hr & Ga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Supervisor')
1392 Mitra Outlet Staff (Jogja Area)
INSERT INTO job_vacancies (title) VALUES ( 'Mitra Outlet Staff (Jogja Area)')
1393 Marketing Development Bpm Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Development Bpm Supervisor')
1394 It Development & Information System Dept Head
INSERT INTO job_vacancies (title) VALUES ( 'It Development & Information System Dept Head')
1395 Sales Engineer (Cabang Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Medan)')
1396 Admin (Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Cirebon)')
1397 Analis Laboratorium Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Analis Laboratorium Surabaya')
1398 Production Supervisor (Home Appliances Products)
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor (Home Appliances Products)')
1399 Purchasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Manager')
1400 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1401 Teknisi Otomotif ( Mobil Jepang Dan Eropa)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Otomotif ( Mobil Jepang Dan Eropa)')
1402 Operator Cnc (Pt. Snap It)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Cnc (Pt. Snap It)')
1403 Ar Officer (Collector) - Banyuwangi
INSERT INTO job_vacancies (title) VALUES ( 'Ar Officer (Collector) - Banyuwangi')
1404 Corporate Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Legal Officer')
1405 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
1406 Supervisor Market Research And Strategy
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Market Research And Strategy')
1407 Manager Branding Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Branding Marketing')
1408 Sales Counter
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter')
1409 It Sre
INSERT INTO job_vacancies (title) VALUES ( 'It Sre')
1410 Head Of Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Warehouse')
1411 Customer Relationship Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relationship Officer')
1412 Warehouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager')
1413 Export Manager Farmasi
INSERT INTO job_vacancies (title) VALUES ( 'Export Manager Farmasi')
1414 Marketing Corporate Executive - Tangerang Dan Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Corporate Executive - Tangerang Dan Tangerang Selatan')
1415 Pejabat Eksekutif Kepatuhan Dan Manajemen Risiko
INSERT INTO job_vacancies (title) VALUES ( 'Pejabat Eksekutif Kepatuhan Dan Manajemen Risiko')
1416 Presales (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Presales (Jakarta)')
1417 Market Research Consultant For Business To Consumer Team
INSERT INTO job_vacancies (title) VALUES ( 'Market Research Consultant For Business To Consumer Team')
1418 Talent Acquisition Intern
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Intern')
1419 Guru Tk
INSERT INTO job_vacancies (title) VALUES ( 'Guru Tk')
1420 Sales Logistic Associate-B2B
INSERT INTO job_vacancies (title) VALUES ( 'Sales Logistic Associate-B2B')
1421 Bancassurance Advisor Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Advisor Kalimantan')
1422 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
1423 Finance Bagian Sewa
INSERT INTO job_vacancies (title) VALUES ( 'Finance Bagian Sewa')
1424 Financial Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Financial Consultant')
1425 It Security Officer (Penempatan Kalimantan Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'It Security Officer (Penempatan Kalimantan Tengah)')
1426 Human Resource Development
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Development')
1427 Industrial Relation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Relation Supervisor')
1428 Junior Associate
INSERT INTO job_vacancies (title) VALUES ( 'Junior Associate')
1429 Operation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Operation Analyst')
1430 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
1431 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
1432 Area Sales Supervisor - Bontang
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Bontang')
1433 Syariah Business Development & Channel Relations
INSERT INTO job_vacancies (title) VALUES ( 'Syariah Business Development & Channel Relations')
1434 Marketing Support And Program
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Support And Program')
1435 National Doctor
INSERT INTO job_vacancies (title) VALUES ( 'National Doctor')
1436 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
1437 Brand Communication Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Brand Communication Analyst')
1438 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
1439 Financial Controller Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller Assistant')
1440 Community Senior Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Community Senior Specialist')
1441 Sekretaris  /  Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris  /  Admin')
1442 Recovery Manager ( Area Aceh, Kepulauan Riau, Riau Daratan, Sumatera Barat, Sumatera Utara )
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Manager ( Area Aceh, Kepulauan Riau, Riau Daratan, Sumatera Barat, Sumatera Utara )')
1443 Compliance Advisory
INSERT INTO job_vacancies (title) VALUES ( 'Compliance Advisory')
1444 Inspector Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Inspector Quality Control')
1445 Payroll Assistant Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Assistant Consultant')

1446 Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer')
1447 Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer')
1448 Staff It
INSERT INTO job_vacancies (title) VALUES ( 'Staff It')
1449 Retail Business Development - Kuningan
INSERT INTO job_vacancies (title) VALUES ( 'Retail Business Development - Kuningan')
1450 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1451 Medical Representative
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative')
1452 Sales Manager (Industrial Lubricants & Ceramic Coatings)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Industrial Lubricants & Ceramic Coatings)')
1453 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
1454 Internal Marketing Devevelopment Bpm Officer
INSERT INTO job_vacancies (title) VALUES ( 'Internal Marketing Devevelopment Bpm Officer')
1455 Middle Mile Air / Sea Operation Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Air / Sea Operation Supervisor - Shopee Express')
1456 Sales Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Trainer')
1457 Koordinator Wilayah Security (City Guard)
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Wilayah Security (City Guard)')
1458 Dba (Database Administrator)
INSERT INTO job_vacancies (title) VALUES ( 'Dba (Database Administrator)')
1459 Hr And Administration Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr And Administration Manager')
1460 Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection')
1461 Facade Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Facade Engineer')
1462 Senior Audit
INSERT INTO job_vacancies (title) VALUES ( 'Senior Audit')
1463 Teknisi Mesin Industri
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mesin Industri')
1464 Finance & Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor')
1465 Art & Graphics Designer
INSERT INTO job_vacancies (title) VALUES ( 'Art & Graphics Designer')
1466 Qc Environment Monitoring Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Qc Environment Monitoring Analyst')
1467 Head Of Store  /  Clinic
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Store  /  Clinic')
1468 Manager Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Manager Ppic')
1469 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
1470 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
1471 Admin Import (Fasih Bahasa Inggris)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Import (Fasih Bahasa Inggris)')
1472 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
1473 Receptionist Staff
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist Staff')
1474 Team Leader Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Digital Marketing')
1475 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1476 Spv Restaurant
INSERT INTO job_vacancies (title) VALUES ( 'Spv Restaurant')
1477 Commercial Sales Financing
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Sales Financing')
1478 Finance And Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting')
1479 Fresh Graduate Marketing Progam
INSERT INTO job_vacancies (title) VALUES ( 'Fresh Graduate Marketing Progam')
1480 Canvasser (3 Bulan Kontrak)
INSERT INTO job_vacancies (title) VALUES ( 'Canvasser (3 Bulan Kontrak)')
1481 Leasing Supervisor (Mal Ciputra Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Supervisor (Mal Ciputra Tangerang)')
1482 Human Resources Business Partner
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Business Partner')
1483 Sales Executive B2B (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive B2B (Jakarta)')
1484 Marketing Staff Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Makassar')
1485 Manager Operasional Trucking Company
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional Trucking Company')
1486 Sales Supervisor - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Yogyakarta')
1487 Business Strategic Associate
INSERT INTO job_vacancies (title) VALUES ( 'Business Strategic Associate')
1488 Host Live Streaming (E-Commerce)
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming (E-Commerce)')
1489 Product Marketing Representative (Cloud)
INSERT INTO job_vacancies (title) VALUES ( 'Product Marketing Representative (Cloud)')
1490 Inventory Control For Retail
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Control For Retail')
1491 Business Unit Director - Outer Island
INSERT INTO job_vacancies (title) VALUES ( 'Business Unit Director - Outer Island')
1492 Junior Architect
INSERT INTO job_vacancies (title) VALUES ( 'Junior Architect')
1493 Online Marketplace Staff
INSERT INTO job_vacancies (title) VALUES ( 'Online Marketplace Staff')
1494 Claim Staff - Pondok Ungu
INSERT INTO job_vacancies (title) VALUES ( 'Claim Staff - Pondok Ungu')
1495 Credit Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst')
1496 Marketing Lead Health Care
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Lead Health Care')
1497 Grafik Design
INSERT INTO job_vacancies (title) VALUES ( 'Grafik Design')
1498 Area Workshop Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Area Workshop Coordinator')
1499 Senior Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance Accounting')
1500 Tax Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accountant')
1501 It ( Teknologi Informasi )
INSERT INTO job_vacancies (title) VALUES ( 'It ( Teknologi Informasi )')
1502 Supervisor Technical Digital Printing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Technical Digital Printing')
1503 Project Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Project Analyst')
1504 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
1505 Research Executive
INSERT INTO job_vacancies (title) VALUES ( 'Research Executive')
1506 Sales Canvasing  Di Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasing  Di Lapangan')
1507 Quality Control Staff - Mojokerto Factory
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staff - Mojokerto Factory')
1508 Pharma Process Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Pharma Process Supervisor')
1509 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
1510 Osp Supervisor (Jawa, Kalimantan, Sulawesi, Sumatera, Bali, Ntt)
INSERT INTO job_vacancies (title) VALUES ( 'Osp Supervisor (Jawa, Kalimantan, Sulawesi, Sumatera, Bali, Ntt)')
1511 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
1512 Learning & Development
INSERT INTO job_vacancies (title) VALUES ( 'Learning & Development')
1513 Project Koordinator
INSERT INTO job_vacancies (title) VALUES ( 'Project Koordinator')
1514 Assistant Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Brand Manager')
1515 Quality Assurance / Quality Control Manager
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance / Quality Control Manager')
1516 Quality Control Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Specialist')
1517 Power Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Power Engineer')
1518 Custom Clearance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Custom Clearance Supervisor')
1519 Senior Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Senior Internal Audit')
1520 Operator Mesin
INSERT INTO job_vacancies (title) VALUES ( 'Operator Mesin')
1521 Market Research Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Market Research Specialist')
1522 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
1523 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
1524 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
1525 Account Officer (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Surabaya)')
1526 Sales Canvasser (Area Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser (Area Tangerang)')
1527 Sales Engineer (Area : Surabaya, Sidoarjo, Gresik, Kediri, Malang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Area : Surabaya, Sidoarjo, Gresik, Kediri, Malang)')
1528 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
1529 External Affair Manager (Mining - Kalimantan)
INSERT INTO job_vacancies (title) VALUES ( 'External Affair Manager (Mining - Kalimantan)')
1530 Finance Ops Shopee Express (Kebayoran Baru)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Shopee Express (Kebayoran Baru)')
1531 Sales Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Trainer')
1532 Planning Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Planning Assistant Manager')
1533 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1534 Ppic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor')
1535 Freelance Document Verification
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Document Verification')
1536 Management Trainee (Mt)
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Mt)')
1537 Assistant Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Sales Manager')
1538 Content Creator - Motion Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator - Motion Graphic')
1539 Pengawas Pabrik / Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Pabrik / Gudang')
1540 Electrical Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Maintenance Supervisor')
1541 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
1542 Qa Head
INSERT INTO job_vacancies (title) VALUES ( 'Qa Head')
1543 Business Unit Director Area Central Java, East Java, Bali And Nusa Tenggara
INSERT INTO job_vacancies (title) VALUES ( 'Business Unit Director Area Central Java, East Java, Bali And Nusa Tenggara')
1544 Supervisor Talent Acquisition / Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Talent Acquisition / Recruitment')
1545 Mekani Alat Berat Dan Truck Hauling
INSERT INTO job_vacancies (title) VALUES ( 'Mekani Alat Berat Dan Truck Hauling')
1546 Financial Planning Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning Specialist')
1547 Qc Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff')
1548 Carscass Sales Gt / Mt
INSERT INTO job_vacancies (title) VALUES ( 'Carscass Sales Gt / Mt')
1549 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
1550 Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accounting')
1551 Research Lead
INSERT INTO job_vacancies (title) VALUES ( 'Research Lead')
1552 Risk Management Officer
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Officer')
1553 Retail Funding Relationship Manager (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Relationship Manager (Medan)')
1554 System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer')
1555 Site Engineer   /  Quality Control (Mechanical - Electrcial)
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer   /  Quality Control (Mechanical - Electrcial)')
1556 Supervisor Qc & Qa
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Qc & Qa')
1557 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
1558 Strategist Planner (For Bayk)
INSERT INTO job_vacancies (title) VALUES ( 'Strategist Planner (For Bayk)')
1559 Technical Proposal Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Proposal Engineer')
1560 Hr & Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager')
1561 Head Of Data
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Data')
1562 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1563 Staff Hrd Personalia & Generalist (Non Recruiter)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd Personalia & Generalist (Non Recruiter)')
1564 Training Manager
INSERT INTO job_vacancies (title) VALUES ( 'Training Manager')
1565 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
1566 Customer Service (Kamboja)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service (Kamboja)')
1567 Junior Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant')
1568 Staff Gmp Complaince (Industri Farmasi)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gmp Complaince (Industri Farmasi)')
1569 Business & Growth Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business & Growth Manager')
1570 Teknisi Pabrik - Cikande Based
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Pabrik - Cikande Based')
1571 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
1572 Sales Gt Noo / New Opening Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Sales Gt Noo / New Opening Outlet')
1573 Quality Assurance & Risk Management
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance & Risk Management')
1574 Head Of Public Relations
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Public Relations')
1575 Sales Kompor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Kompor')
1576 It Project Management Office Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Project Management Office Specialist')
1577 Area Sales Promotion Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Supervisor')
1578 Corporate Account Manager Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Account Manager Surabaya')
1579 Sales Supervisor - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Samarinda')
1580 Kurir - Jawa Timur, Bali, Nusa Tenggara
INSERT INTO job_vacancies (title) VALUES ( 'Kurir - Jawa Timur, Bali, Nusa Tenggara')
1581 Executive Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Executive Secretary')
1582 Marketing & Verification Officer (Js - Mvo) Balaraja
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Balaraja')
1583 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
1584 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1585 Rider Team Lead Shopee Express - Karimun (Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Karimun (Riau)')
1586 Quality Assurance - Spmi Officer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance - Spmi Officer')
1587 Corporate Account Manager Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Account Manager Palembang')
1588 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
1589 Channel Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Channel Development Specialist')
1590 Collector (Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Collector (Lampung)')
1591 Rider Team Lead Shopee Express - Singigi (Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Singigi (Riau)')
1592 Telemarketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Specialist')
1593 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
1594 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
1595 Supervisor - Satuan Pengamanan (Security)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor - Satuan Pengamanan (Security)')
1596 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
1597 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
1598 Brand Promotion Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Promotion Manager')

1599 Marketing And Public Relations Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing And Public Relations Specialist')
1600 Som (Sales Operation Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Som (Sales Operation Manager)')
1601 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
1602 Departement Head Of Ppc - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Departement Head Of Ppc - Balikpapan')
1603 Tax Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tax Assistant Manager')
1604 New Product Analytical Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'New Product Analytical Development Staff')
1605 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1606 Finance Area (Supervisor Development Program)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Area (Supervisor Development Program)')
1607 Freelance Mitrakerja
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Mitrakerja')
1608 Regional Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Regional Marketing Executive')
1609 Marketing Officer For Preschool And Primary Level
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer For Preschool And Primary Level')
1610 Supervisor Perijinan Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Perijinan Surabaya')
1611 R&D Education
INSERT INTO job_vacancies (title) VALUES ( 'R&D Education')
1612 Staff Stock Keeper
INSERT INTO job_vacancies (title) VALUES ( 'Staff Stock Keeper')
1613 Sales Supervisor - Airmolek
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Airmolek')
1614 Opening Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Opening Project Manager')
1615 Hrd Senior Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Senior Supervisor')
1616 Sales & Marketing - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing - Jakarta')
1617 Incident Management Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Incident Management Assistant Manager')
1618 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
1619 Engagement Specialist (For Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Engagement Specialist (For Sac Indonesia)')
1620 Counselor
INSERT INTO job_vacancies (title) VALUES ( 'Counselor')
1621 Junior Traffic
INSERT INTO job_vacancies (title) VALUES ( 'Junior Traffic')
1622 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
1623 Community Associate
INSERT INTO job_vacancies (title) VALUES ( 'Community Associate')
1624 Business Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Manager')
1625 Call Center & Collection
INSERT INTO job_vacancies (title) VALUES ( 'Call Center & Collection')
1626 Koordinator Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Account Officer')
1627 Sales Executive - Horeca (Surabaya Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Horeca (Surabaya Branch)')
1628 Supervisor Perijinan Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Perijinan Surabaya')
1629 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
1630 Custom Clearance Import
INSERT INTO job_vacancies (title) VALUES ( 'Custom Clearance Import')
1631 Marketing & Verification Officer (Js - Mvo) Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Tangerang Selatan')
1632 Medical Representative (Code: Medrep - Trf)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Code: Medrep - Trf)')
1633 Credit Marketing Officer (Cmo) Cibubur
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Cibubur')
1634 Personal Assistant  /  Secretary - Placement In Nabire / Papua Site
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant  /  Secretary - Placement In Nabire / Papua Site')
1635 Bancassurance Life Consultant - (Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Lampung)')
1636 Project Controller
INSERT INTO job_vacancies (title) VALUES ( 'Project Controller')
1637 Freelance Mitrakerja
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Mitrakerja')
1638 Development Security And Operation
INSERT INTO job_vacancies (title) VALUES ( 'Development Security And Operation')
1639 Field Collection Officer
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Officer')
1640 Ppic Manager (Perusahaan Maklon Skincare Dan Kosmetik)
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Manager (Perusahaan Maklon Skincare Dan Kosmetik)')
1641 Analyst (For Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Analyst (For Sac Indonesia)')
1642 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
1643 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1644 Office Security
INSERT INTO job_vacancies (title) VALUES ( 'Office Security')
1645 Internal Audit Supervisor (Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Supervisor (Smg)')
1646 Supervisor Cafe
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Cafe')
1647 Foodservice Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Foodservice Sales Manager')
1648 Travel Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Travel Consultant')
1649 It Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Product Manager')
1650 Spv Qa
INSERT INTO job_vacancies (title) VALUES ( 'Spv Qa')
1651 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
1652 Sales Motoris
INSERT INTO job_vacancies (title) VALUES ( 'Sales Motoris')
1653 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
1654 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1655 Digital Marketing Advertising (Retargeting)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Advertising (Retargeting)')
1656 Sr. Staff  /  Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Staff  /  Staff Legal')
1657 Mechanical Designer Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Designer Engineer')
1658 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
1659 Planning & Scheduling Staff
INSERT INTO job_vacancies (title) VALUES ( 'Planning & Scheduling Staff')
1660 Seafood Product Development Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Seafood Product Development Senior Staff')
1661 Staff Accounting Plant Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting Plant Jakarta')
1662 Hub Lead Shopee Express (Dompu, Nusa Tenggara Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Dompu, Nusa Tenggara Barat)')
1663 Staf Payroll
INSERT INTO job_vacancies (title) VALUES ( 'Staf Payroll')
1664 Project Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Project Estimator')
1665 Chief Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Chief Accounting')
1666 Enterprise System & Application Staff (Mobile Dev. Apps.)
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise System & Application Staff (Mobile Dev. Apps.)')
1667 Legal Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Senior Staff')
1668 Head Of Legal
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Legal')
1669 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
1670 Finance Ops Shopee Express (Cipayung)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Shopee Express (Cipayung)')
1671 Middle Mile Fleet And Pool Operation Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Fleet And Pool Operation Supervisor - Shopee Express')
1672 Sr. Account Manager B2B (Sistem Integrated)
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Account Manager B2B (Sistem Integrated)')
1673 Plasma Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Plasma Analyst')
1674 Mep Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mep Engineer')
1675 Retail Site Acquisition Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Retail Site Acquisition Assistant Manager')
1676 Community Specialist (Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Community Specialist (Sac Indonesia)')
1677 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1678 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
1679 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1680 Supervisor Sales Houseware Plastic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Houseware Plastic')
1681 Sales Project (Freelance)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project (Freelance)')
1682 Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Project Coordinator')
1683 Sales Account
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account')
1684 Regional Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Project')
1685 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
1686 Network Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Network Administrator')
1687 Dimsum Cook
INSERT INTO job_vacancies (title) VALUES ( 'Dimsum Cook')
1688 Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang')
1689 Enterprise System & Application Staff (It Sap Functional)
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise System & Application Staff (It Sap Functional)')
1690 Account Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Account Assistant')
1691 Marketing & Verification Officer (Js - Mvo) Cibubur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cibubur')
1692 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
1693 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
1694 Pengawas Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Proyek')
1695 Sales And Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing')
1696 Finance Staff (Ap)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff (Ap)')
1697 Superitendent Legal
INSERT INTO job_vacancies (title) VALUES ( 'Superitendent Legal')
1698 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
1699 Sales Representative (Pondok Ungu)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Pondok Ungu)')
1700 Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal')
1701 Big Truck Sales
INSERT INTO job_vacancies (title) VALUES ( 'Big Truck Sales')
1702 Ui  /  Ux Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Ui  /  Ux Specialist')
1703 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
1704 Administration Of Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Administration Of Marketing')
1705 It Project Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Project Officer')
1706 Continuous Improvement Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Continuous Improvement Supervisor')
1707 Conten Creator & Host Live Streaming Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Conten Creator & Host Live Streaming Marketplace')
1708 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
1709 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
1710 Sales Executive - Ts Suites Bali Seminyak
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Ts Suites Bali Seminyak')
1711 Marketing & Verification Officer (Js - Mvo) Kedoya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kedoya')
1712 It Mis / Pis Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Mis / Pis Engineer')
1713 Coordinator Expansion
INSERT INTO job_vacancies (title) VALUES ( 'Coordinator Expansion')
1714 Tech Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Tech Recruiter')
1715 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
1716 Area Sales Manager Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Jabodetabek')
1717 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
1718 Translator - English To Indonesian
INSERT INTO job_vacancies (title) VALUES ( 'Translator - English To Indonesian')
1719 Sales Executive (Food Service) - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Food Service) - Surabaya')
1720 Digital Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Executive')
1721 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
1722 People Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'People Development Manager')
1723 Dw Housekeeping
INSERT INTO job_vacancies (title) VALUES ( 'Dw Housekeeping')
1724 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
1725 Design And Digital Executive
INSERT INTO job_vacancies (title) VALUES ( 'Design And Digital Executive')
1726 Supervisor Produksi Wwtp
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi Wwtp')
1727 E-Commerce Staff (Korean Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Staff (Korean Speaker)')
1728 Trainer Organization Development
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Organization Development')
1729 Manager Marketing B2B
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing B2B')
1730 Finance & Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor')
1731 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
1732 E-Commerce Manager
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Manager')
1733 Marketing & Verification Officer (Js - Mvo) Luwuk
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Luwuk')
1734 Recepsionist
INSERT INTO job_vacancies (title) VALUES ( 'Recepsionist')
1735 Sales Supervisor - Serang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Serang')
1736 Bim Modeller
INSERT INTO job_vacancies (title) VALUES ( 'Bim Modeller')
1737 Kepala Bengkel
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bengkel')
1738 Supervisor Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Outlet')
1739 Marketing & Verification Officer (Js - Mvo) Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Jakarta Utara')
1740 Quality Assurance Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Desk Collection')
1741 Field Collection (Js - Fc) Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Palembang')
1742 Bca Syariah It Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Bca Syariah It Development Program')
1743 Konsultan Analyst Staff
INSERT INTO job_vacancies (title) VALUES ( 'Konsultan Analyst Staff')
1744 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
1745 Sales (Dalam Kota Dan Luar Kota)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Dalam Kota Dan Luar Kota)')
1746 Internal Auditor Senior
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor Senior')
1747 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
1748 Training Executive
INSERT INTO job_vacancies (title) VALUES ( 'Training Executive')
1749 Sell Out Supervisor - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sell Out Supervisor - Surabaya')
1750 Quality System Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality System Staff')
1751 Manager Business Development Executive (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Business Development Executive (Bandung)')
1752 Spv Sales Project & Retail Bahan Bangunan Dan Interior (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Sales Project & Retail Bahan Bangunan Dan Interior (Surabaya)')
1753 Ahli Bubut  /  Tukang Bubut Mesin
INSERT INTO job_vacancies (title) VALUES ( 'Ahli Bubut  /  Tukang Bubut Mesin')
1754 Hr Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Supervisor')
1755 Marketing Officer - Garut
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Garut')
1756 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
1757 Head Of Growth
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Growth')
1758 Sell Out Executive Mobil Bekas Area Makassar, Palembang ,Pekanbaru ,Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Sell Out Executive Mobil Bekas Area Makassar, Palembang ,Pekanbaru ,Lampung')

1759 Marketing Wedding (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Wedding (Jakarta)')
1760 Manager Teknik / Traksi
INSERT INTO job_vacancies (title) VALUES ( 'Manager Teknik / Traksi')
1761 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1762 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
1763 Marketing & Verification Officer (Js - Mvo) Pangkajene Dan Kepulauan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pangkajene Dan Kepulauan')
1764 Accounting Senior Associate
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Senior Associate')
1765 Assistant Manager Ecommerce
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Ecommerce')
1766 Admin (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Surabaya)')
1767 Organization Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development Manager')
1768 Fleet Credit Marketing Officer - Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Fleet Credit Marketing Officer - Lampung')
1769 Sales Marketing Executive B2B (Location: Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive B2B (Location: Jakarta)')
1770 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1771 Supervisor Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Tax Accounting')
1772 Marketing & Verification Officer (Js - Mvo) Kelapa Gading
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kelapa Gading')
1773 Lazmall - Key Account Management (Associate & Senior Associate)
INSERT INTO job_vacancies (title) VALUES ( 'Lazmall - Key Account Management (Associate & Senior Associate)')
1774 Marketing Jakarta (Utara, Pusat, Barat, Timur, Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Jakarta (Utara, Pusat, Barat, Timur, Selatan)')
1775 Sr. Officer-Loan Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Officer-Loan Analyst')
1776 Account Executive (B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (B2B)')
1777 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
1778 Sales Administrator (Ds Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Ds Kendari)')
1779 Sales Supervisor - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Tangerang')
1780 Hse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hse Supervisor')
1781 Design Produk Furniture
INSERT INTO job_vacancies (title) VALUES ( 'Design Produk Furniture')
1782 Compensation & Benefit Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Compensation & Benefit Analyst')
1783 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
1784 Finance, Accounting And Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting And Tax Supervisor')
1785 Field Collection Area Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Area Jambi')
1786 Relationship Officer - Penempatan Tangerang (Serpong)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Tangerang (Serpong)')
1787 Beauty Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Sales Consultant')
1788 Hrga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Manager')
1789 Customer Success Specialist (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Success Specialist (Semarang)')
1790 Senior Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Representative')
1791 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
1792 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
1793 Marketing Verification Officer (Js - Mvo) Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Yogyakarta')
1794 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
1795 Sales Spv Po Area Bandung Purwasuka Dan Sekitarnya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Spv Po Area Bandung Purwasuka Dan Sekitarnya')
1796 Manager Risk Management
INSERT INTO job_vacancies (title) VALUES ( 'Manager Risk Management')
1797 Supervisor Sewing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sewing')
1798 Quality Management Officer (Marunda)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Management Officer (Marunda)')
1799 Sales Staff (Fit Hub) - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff (Fit Hub) - Jakarta')
1800 Engineering General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Engineering General Manager')
1801 Hrd Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Manager')
1802 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
1803 Financial Planning & Analysis Staff
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning & Analysis Staff')
1804 Retail Site Acquisition Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Retail Site Acquisition Supervisor')
1805 Technical Support Electromedic
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support Electromedic')
1806 Marketing & Verification Officer (Js - Mvo) Sambas
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Sambas')
1807 Salesman To (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Salesman To (Jabodetabek)')
1808 Sales (Produk / Si)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Produk / Si)')
1809 Production Supervisor (Furniture - Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor (Furniture - Semarang)')
1810 Account Executive E-Commerce & Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive E-Commerce & Marketplace')
1811 Assistant Manager Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Accounting & Tax')
1812 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
1813 Inventory Control Associate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Control Associate Manager')
1814 Sales Admin Export
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Export')
1815 Beauty Advisor (Kelapa Gading)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Advisor (Kelapa Gading)')
1816 Medical Representative (Sales & Marketing Farmasi) Sumatera
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Sales & Marketing Farmasi) Sumatera')
1817 Sales Assistant Manager / Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant Manager / Manager')
1818 Administrasi Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Sekretaris')
1819 Kepala Depo Barabai (Kalimantan Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Depo Barabai (Kalimantan Selatan)')
1820 Head Of Tour Division
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Tour Division')
1821 Finance, Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting & Tax Manager')
1822 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
1823 External Auditor
INSERT INTO job_vacancies (title) VALUES ( 'External Auditor')
1824 Senior Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accountant')
1825 General Affair Admin (Cikande)
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Admin (Cikande)')
1826 Product Marketing Network Security
INSERT INTO job_vacancies (title) VALUES ( 'Product Marketing Network Security')
1827 Senior Sales Engineers
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Engineers')
1828 Sales And Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Executive')
1829 Finance Section Head (Supervisor)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Section Head (Supervisor)')
1830 Maintenance Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Section Head')
1831 Head Of Finance
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Finance')
1832 Finance Ops Shopee Express (Pancoran)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Shopee Express (Pancoran)')
1833 Field Collector (Js - Fc) Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Js - Fc) Tangerang Selatan')
1834 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
1835 Marketing & Verification Officer (Js - Mvo) Kalimalang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kalimalang')
1836 Account Executive (Cctv / Surveillance)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Cctv / Surveillance)')
1837 Business Consultant Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Consultant Assistant Manager')
1838 Underwriting Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Underwriting Specialist')
1839 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
1840 Sales Executive Feed Raw Material (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Feed Raw Material (Semarang)')
1841 Marketing & Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Sales Officer')
1842 Spv Visual Mechendiser (Interior Design )
INSERT INTO job_vacancies (title) VALUES ( 'Spv Visual Mechendiser (Interior Design )')
1843 Area Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager')
1844 Marketing & Verification Officer (Js - Mvo) Cikupa
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cikupa')
1845 Marketing & Verification Officer (Js - Mvo) Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cilegon')
1846 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
1847 Ppic & Logistics Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ppic & Logistics Manager')
1848 Sales And Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Executive')
1849 Account Manager (It Solutions)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (It Solutions)')
1850 Senior Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Tax')
1851 System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer')
1852 Corporate Legal
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Legal')
1853 Sales Coordinator Area Batam
INSERT INTO job_vacancies (title) VALUES ( 'Sales Coordinator Area Batam')
1854 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
1855 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
1856 Manager Produksi (Gresik & Mojokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Produksi (Gresik & Mojokerto)')
1857 Sem Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sem Specialist')
1858 Sales Admin & Admin Import
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin & Admin Import')
1859 Network Engineer (Ccna Certified)
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer (Ccna Certified)')
1860 Staff Marketing & Business Development Area Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing & Business Development Area Surabaya')
1861 Payroll & Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Payroll & Recruitment Staff')
1862 Senior Product Manager (Finance)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Product Manager (Finance)')
1863 Sales Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Sales Logistik')
1864 Area Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor')
1865 Digital Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Media Specialist')
1866 Demand Planner Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Demand Planner Assistant Manager')
1867 Partnership Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Specialist')
1868 Field Collection Team Leader Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Team Leader Bandung')
1869 Hr Executive
INSERT INTO job_vacancies (title) VALUES ( 'Hr Executive')
1870 Product Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Product Data Analyst')
1871 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1872 Asistant Manager Purchasing Internasional ( Tangerang )
INSERT INTO job_vacancies (title) VALUES ( 'Asistant Manager Purchasing Internasional ( Tangerang )')
1873 Technical Manager
INSERT INTO job_vacancies (title) VALUES ( 'Technical Manager')
1874 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1875 Strategic Marketing Planner
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Marketing Planner')
1876 Sales & Promotion Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Promotion Section Head')
1877 Primary Science (Cambridge) Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Primary Science (Cambridge) Teacher')
1878 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
1879 Agency Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Agency Development Manager')
1880 Staff On The Road
INSERT INTO job_vacancies (title) VALUES ( 'Staff On The Road')
1881 Marketing Cargo / Paket
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Cargo / Paket')
1882 Health Technical Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Health Technical Supervisor')
1883 Translator & Training Communication English In Office
INSERT INTO job_vacancies (title) VALUES ( 'Translator & Training Communication English In Office')
1884 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
1885 Shift Lead Shopee Express - Putussibau (Kab. Kapuas Hulu, Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Shift Lead Shopee Express - Putussibau (Kab. Kapuas Hulu, Kalimantan Barat)')
1886 Credit Analyst Mobil Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil Jakarta')
1887 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
1888 Finance & Accounting Supervisor (For Surya Citra Media Subsidiary)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor (For Surya Citra Media Subsidiary)')
1889 Property Consultant (Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Property Consultant (Sales)')
1890 Medical Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Medical Sales Representative')
1891 Sdp Marketing Area
INSERT INTO job_vacancies (title) VALUES ( 'Sdp Marketing Area')
1892 Presales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Presales Engineer')
1893 Sales Officer - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer - Yogyakarta')
1894 Field Collection (Js - Fc) Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cilegon')
1895 Project Designer Interior
INSERT INTO job_vacancies (title) VALUES ( 'Project Designer Interior')
1896 Social Media Strategist - Kompas.Com Solo
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Strategist - Kompas.Com Solo')
1897 Sales Manager Dalam Kota
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Dalam Kota')
1898 Ict Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Ict Teacher')
1899 Senior Staff Bali
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff Bali')
1900 Junior Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Junior Product Manager')
1901 Copywriter (For Getplus.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter (For Getplus.Id)')
1902 Jr. Credit Analyst - Head Office
INSERT INTO job_vacancies (title) VALUES ( 'Jr. Credit Analyst - Head Office')
1903 Telesales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Manager')
1904 Accounting & Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Manager')
1905 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1906 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
1907 Accounting & Finance Head
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Head')
1908 Marketing & Verification Officer (Js - Mvo) Ciledug
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Ciledug')
1909 Sales Person Sales Counter Associate (Jakarta, Surabaya, Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Person Sales Counter Associate (Jakarta, Surabaya, Medan)')
1910 Regional Channel Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Channel Development Manager')
1911 Senior Brand & Pr Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Brand & Pr Executive')
1912 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
1913 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')

1914 Supply Chain Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Management Supervisor')
1915 Staf Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Staf Marketing')
1916 English Teachers - Urgent (Will Be Assigned In Batam)
INSERT INTO job_vacancies (title) VALUES ( 'English Teachers - Urgent (Will Be Assigned In Batam)')
1917 Sushi Chef  /  Sushi Counter
INSERT INTO job_vacancies (title) VALUES ( 'Sushi Chef  /  Sushi Counter')
1918 Tax Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tax Specialist')
1919 Designer (Jawa, Kalimantan, Sulawesi, Sumatera, Bali, Ntt)
INSERT INTO job_vacancies (title) VALUES ( 'Designer (Jawa, Kalimantan, Sulawesi, Sumatera, Bali, Ntt)')
1920 Key Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive')
1921 Supervisor Design Interior Dan Furniture
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Design Interior Dan Furniture')
1922 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1923 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
1924 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
1925 Kepala Administrasi (Kasie) Kebun / Pabrik / Kkpa
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Administrasi (Kasie) Kebun / Pabrik / Kkpa')
1926 Assistant Sales Corporate Staf
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Sales Corporate Staf')
1927 Hrbp Manager (Site)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Manager (Site)')
1928 Field Collection
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection')
1929 Waitress&Kasir
INSERT INTO job_vacancies (title) VALUES ( 'Waitress&Kasir')
1930 General Affair & Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affair & Procurement Staff')
1931 Marketing (Cirebon, Kuningan, Indramayu)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing (Cirebon, Kuningan, Indramayu)')
1932 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
1933 Marketing Head Pembiayaan Mobil Baru Dki Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Head Pembiayaan Mobil Baru Dki Jakarta')
1934 Field Collection Team Leader Manado
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Team Leader Manado')
1935 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1936 Internship Program
INSERT INTO job_vacancies (title) VALUES ( 'Internship Program')
1937 Talent Acquisition Assistant Manager F&B
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Assistant Manager F&B')
1938 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
1939 Supervisor Hrd & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Hrd & Ga')
1940 System Administrator (Trendmicro Deep Security /  Tmds)
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator (Trendmicro Deep Security /  Tmds)')
1941 Digital Strategist (Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Strategist (Sac Indonesia)')
1942 Clinical Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Clinical Trainer')
1943 Photographer & Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Photographer & Videographer')
1944 Drafter (Struktur Arsitektur)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter (Struktur Arsitektur)')
1945 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
1946 Collection Officer
INSERT INTO job_vacancies (title) VALUES ( 'Collection Officer')
1947 Staf Bidang Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staf Bidang Logistik')
1948 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
1949 Area Kitchen Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Kitchen Manager')
1950 Leasing Officer - District 1 Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Officer - District 1 Cikarang')
1951 Supervisor Restoran F&B
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Restoran F&B')
1952 Content Creator & Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator & Social Media Specialist')
1953 Bancassurance Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Senior Officer')
1954 Marketing Research Planning
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Research Planning')
1955 Product Specifier Staff
INSERT INTO job_vacancies (title) VALUES ( 'Product Specifier Staff')
1956 Project Engineer Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer Supervisor')
1957 Loan Operations Officer
INSERT INTO job_vacancies (title) VALUES ( 'Loan Operations Officer')
1958 Center Coordinator (Yl Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Center Coordinator (Yl Batam)')
1959 Sales Academy - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Academy - Jakarta')
1960 Storage & Backup Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Storage & Backup Engineer')
1961 It Helpdesk Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Helpdesk Staff')
1962 Admin Perusahaan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Perusahaan')
1963 Japanese Translator
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Translator')
1964 Safety Officer
INSERT INTO job_vacancies (title) VALUES ( 'Safety Officer')
1965 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
1966 Digital E-Commerce & Live Streamer
INSERT INTO job_vacancies (title) VALUES ( 'Digital E-Commerce & Live Streamer')
1967 Data Analyst (For Getplus)
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst (For Getplus)')
1968 Learning & Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Learning & Development Supervisor')
1969 Premier Banking Manager (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Premier Banking Manager (Medan)')
1970 Hub Lead Shopee Express (Parung Kuda, Kab Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Parung Kuda, Kab Sukabumi)')
1971 Teknisi Laboraturium Tanah
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Laboraturium Tanah')
1972 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
1973 Maintenance Manager (Offset)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Manager (Offset)')
1974 Marketing Staff (Mobil) - Sudiang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff (Mobil) - Sudiang')
1975 Marketing & Verification Officer (Js - Mvo) Paser
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Paser')
1976 It Web Developer Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Web Developer Staff')
1977 Business Development And Investment Analyst (Financial Company)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development And Investment Analyst (Financial Company)')
1978 Dw Engineering Hotel
INSERT INTO job_vacancies (title) VALUES ( 'Dw Engineering Hotel')
1979 Marketing & Verification Officer (Js - Mvo) Polewali Mandar
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Polewali Mandar')
1980 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
1981 It Sr. Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Sr. Staff')
1982 Talent Acquisition Sourcer (Contract) - E-Commerce Apac - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Sourcer (Contract) - E-Commerce Apac - Jakarta')
1983 Teacher Assistant (July 2022) - Medan Campus
INSERT INTO job_vacancies (title) VALUES ( 'Teacher Assistant (July 2022) - Medan Campus')
1984 Senior Rm Funding - Batam Centre (Kepulauan Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Rm Funding - Batam Centre (Kepulauan Riau)')
1985 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
1986 Marketing Business Associate
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Business Associate')
1987 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
1988 Staff Finance Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Semarang')
1989 Customer Relation & Dealing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation & Dealing Staff')
1990 Head Of Legal
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Legal')
1991 Qc Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff')
1992 People Services Specialist
INSERT INTO job_vacancies (title) VALUES ( 'People Services Specialist')
1993 Assessment Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assessment Manager')
1994 Production Manager
INSERT INTO job_vacancies (title) VALUES ( 'Production Manager')
1995 Account Executive - Sales
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive - Sales')
1996 Plant And Production Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Plant And Production Trainer')
1997 Sales Engineer (Automation) Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Automation) Surabaya')
1998 Retail Funding Relationship Manager (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Relationship Manager (Bandung)')
1999 Surveyor Mobil (Penempatan Bandung & Cimahi)
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor Mobil (Penempatan Bandung & Cimahi)')
2000 Property General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Property General Manager')
2001 Project Engineer Senior Spesialist
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer Senior Spesialist')
2002 Sales Specialist Pusal Logistik Berikat
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist Pusal Logistik Berikat')
2003 Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff')
2004 Pastry Chef
INSERT INTO job_vacancies (title) VALUES ( 'Pastry Chef')
2005 Rider Team Lead Shopee Express - Hub Sangatta (Kalimantan Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Sangatta (Kalimantan Timur)')
2006 Cimb Preffered Development Program (Penempatan Cilacap)
INSERT INTO job_vacancies (title) VALUES ( 'Cimb Preffered Development Program (Penempatan Cilacap)')
2007 Senior Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Account Officer')
2008 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
2009 [Freelance] Talent Acquisition Specialist
INSERT INTO job_vacancies (title) VALUES ( '[Freelance] Talent Acquisition Specialist')
2010 Marketing Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Engineering')
2011 It Security Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Security Officer')
2012 Dwh Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Dwh Engineer')
2013 Senior Test Lead
INSERT INTO job_vacancies (title) VALUES ( 'Senior Test Lead')
2014 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
2015 Sales Promotor - Area Sumatera
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotor - Area Sumatera')
2016 Credit Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer')
2017 Supervisor It Development
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor It Development')
2018 Customer Relation
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation')
2019 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2020 New Product Sales Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'New Product Sales Account Manager')
2021 Administrasi Penjualan
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Penjualan')
2022 Billing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Billing Staff')
2023 Product & Channel Development Head
INSERT INTO job_vacancies (title) VALUES ( 'Product & Channel Development Head')
2024 Social Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Social Auditor')
2025 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
2026 International Communication Section Head
INSERT INTO job_vacancies (title) VALUES ( 'International Communication Section Head')
2027 Teknisi Maintenance (Telekomunikasi) - Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Maintenance (Telekomunikasi) - Tasikmalaya')
2028 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
2029 Tax Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accounting Supervisor')
2030 Building Manager
INSERT INTO job_vacancies (title) VALUES ( 'Building Manager')
2031 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
2032 Medical Affairs Manager
INSERT INTO job_vacancies (title) VALUES ( 'Medical Affairs Manager')
2033 Sre (Site Reliability Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Sre (Site Reliability Engineer)')
2034 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
2035 Qa Engineer (Ansvia - Jogja)
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer (Ansvia - Jogja)')
2036 Sales Manager Cargoshare
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Cargoshare')
2037 Sales Supervisor - Balaraja
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Balaraja')
2038 Programmer Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Supervisor')
2039 Finance Ops Intern - Shopee Express (Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Intern - Shopee Express (Padang)')
2040 Collection Administration Staff (Pontinak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Collection Administration Staff (Pontinak Branch)')
2041 Retail Business Development - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Retail Business Development - Jabodetabek')
2042 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
2043 Supply Chain Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Manager')
2044 Store Supervisor - Japanese Restaurant Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Japanese Restaurant Pontianak')
2045 Marketing & Verification Officer (Js - Mvo) Polman Sulawesi Barat
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Polman Sulawesi Barat')
2046 Tukang  Sablon Manual - Berpengalaman
INSERT INTO job_vacancies (title) VALUES ( 'Tukang  Sablon Manual - Berpengalaman')
2047 Admin Treasury
INSERT INTO job_vacancies (title) VALUES ( 'Admin Treasury')
2048 Preschool Level Teacher Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Level Teacher Assistant')
2049 Molding Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Molding Specialist')
2050 Branch Manager (Citraland)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Citraland)')
2051 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
2052 Network Gateway Antenna Rf - Manokwari Dan Timika
INSERT INTO job_vacancies (title) VALUES ( 'Network Gateway Antenna Rf - Manokwari Dan Timika')
2053 Sales Promotion / Spg  (Ds Serang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion / Spg  (Ds Serang)')
2054 Purchasing Officer - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer - Semarang')
2055 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
2056 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
2057 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
2058 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
2059 M.E.I. Construction Engineer
INSERT INTO job_vacancies (title) VALUES ( 'M.E.I. Construction Engineer')
2060 Customer Relationship Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relationship Officer')
2061 Logistic Staff -- Palm Oil (Cpo - Kernel - Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Staff -- Palm Oil (Cpo - Kernel - Samarinda)')
2062 Marketing Officer (Js - Mo) Bandengan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Js - Mo) Bandengan')
2063 Pejabat Eksekutif Kepatuhan Dan Manajemen Risiko
INSERT INTO job_vacancies (title) VALUES ( 'Pejabat Eksekutif Kepatuhan Dan Manajemen Risiko')
2064 Hr Business Partner - Sr. Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr Business Partner - Sr. Officer')
2065 Hse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hse Staff')
2066 Purchasing & Administrasi Project
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing & Administrasi Project')
2067 Pe Kepatuhan
INSERT INTO job_vacancies (title) VALUES ( 'Pe Kepatuhan')
2068 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')

2069 Occupancy Manager
INSERT INTO job_vacancies (title) VALUES ( 'Occupancy Manager')
2070 Batch Refinery Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Batch Refinery Supervisor')
2071 Hub Lead Shopee Express (Kota Baru, Kalimantan Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Kota Baru, Kalimantan Selatan)')
2072 Sales Dan Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Dan Marketing')
2073 International Business Manager
INSERT INTO job_vacancies (title) VALUES ( 'International Business Manager')
2074 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
2075 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2076 Creative Manager Pasuruan
INSERT INTO job_vacancies (title) VALUES ( 'Creative Manager Pasuruan')
2077 Sap Mm Functional
INSERT INTO job_vacancies (title) VALUES ( 'Sap Mm Functional')
2078 Marketing Optik
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Optik')
2079 Administration Head (Adh)
INSERT INTO job_vacancies (title) VALUES ( 'Administration Head (Adh)')
2080 Sales Canvassing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvassing')
2081 Foreman Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Produksi')
2082 Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer')
2083 It Data Architect Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Data Architect Specialist')
2084 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2085 It Infrastructure Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Support Staff')
2086 Spv Field Collection (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Field Collection (Banjarmasin)')
2087 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2088 Kurir
INSERT INTO job_vacancies (title) VALUES ( 'Kurir')
2089 Business Development  /  Sales  /  Canvasing
INSERT INTO job_vacancies (title) VALUES ( 'Business Development  /  Sales  /  Canvasing')
2090 Entrepreneurship Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Entrepreneurship Teacher')
2091 Senior Brand Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Brand Executive')
2092 Bancassurance Life Consultant - (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Banjarmasin)')
2093 Recruitment Intern - Dumai
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Intern - Dumai')
2094 Content Creator Tiktok
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Tiktok')
2095 Finance
INSERT INTO job_vacancies (title) VALUES ( 'Finance')
2096 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
2097 Planning Staff
INSERT INTO job_vacancies (title) VALUES ( 'Planning Staff')
2098 Hrbp Shopee Express (Tegal)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Shopee Express (Tegal)')
2099 E-Channel Senior Specialist
INSERT INTO job_vacancies (title) VALUES ( 'E-Channel Senior Specialist')
2100 Rider Team Lead Shopee Express - Hub Tarakan Barat (Kota Tarakan, Kalimantan Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Tarakan Barat (Kota Tarakan, Kalimantan Utara)')
2101 Eppendorf Territory Manager (Product Specialist) - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Eppendorf Territory Manager (Product Specialist) - Surabaya')
2102 Team Leader Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Digital Marketing')
2103 Oil & Gas Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Oil & Gas Account Manager')
2104 Head New Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Head New Product Development')
2105 Commercial Sales Financing
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Sales Financing')
2106 [Bmw Astra Used Car] Sales Consultant Used Car - Malang
INSERT INTO job_vacancies (title) VALUES ( '[Bmw Astra Used Car] Sales Consultant Used Car - Malang')
2107 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
2108 Teknisi Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mekanik')
2109 Spv Area Sales (Beauty & Care)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Area Sales (Beauty & Care)')
2110 Supervisor  /  Asisten Manager Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor  /  Asisten Manager Accounting')
2111 Accountant  /  Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Accountant  /  Hrd')
2112 Lab Assistant - Physics (High School)
INSERT INTO job_vacancies (title) VALUES ( 'Lab Assistant - Physics (High School)')
2113 Marketing (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing (Yogyakarta)')
2114 Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager')
2115 Sales Specialty Chemicals - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialty Chemicals - Surabaya')
2116 Procurement Import Manager
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Import Manager')
2117 Gymnastic Coach
INSERT INTO job_vacancies (title) VALUES ( 'Gymnastic Coach')
2118 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
2119 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
2120 Senior Purchasing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Purchasing Executive')
2121 Account Executive (Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Sac Indonesia)')
2122 Senior Consultant (Business Advisory)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consultant (Business Advisory)')
2123 Net Revenue Management Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Net Revenue Management Analyst')
2124 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
2125 Area Workshop Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Area Workshop Coordinator')
2126 Tax Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accountant')
2127 Regional Marketing Operations Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Marketing Operations Manager')
2128 Research Development Designer
INSERT INTO job_vacancies (title) VALUES ( 'Research Development Designer')
2129 Sales Executive (Certification)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Certification)')
2130 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
2131 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
2132 Event Management
INSERT INTO job_vacancies (title) VALUES ( 'Event Management')
2133 Staf It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Staf It Programmer')
2134 Auditor - Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Auditor - Accounting Staff')
2135 Head Logistic Dan Gudang Jadi
INSERT INTO job_vacancies (title) VALUES ( 'Head Logistic Dan Gudang Jadi')
2136 Telesales (English) - Permanent Work From Home
INSERT INTO job_vacancies (title) VALUES ( 'Telesales (English) - Permanent Work From Home')
2137 Product Manager Infrastructure
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager Infrastructure')
2138 Pola Maker
INSERT INTO job_vacancies (title) VALUES ( 'Pola Maker')
2139 Head Of Subdivision (English Speaking) Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Subdivision (English Speaking) Tangerang')
2140 Retail Product Promotor (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Product Promotor (Pontianak)')
2141 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
2142 Senior Consumer Research
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consumer Research')
2143 Area Sales Supervisor Gt - Sintang
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor Gt - Sintang')
2144 Videographer (Historia.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Videographer (Historia.Id)')
2145 Teknisi Elektronika - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Elektronika - Surabaya')
2146 Quality Control Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Specialist')
2147 Head Of Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing Communication')
2148 Senior Regulatory Affairs (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Regulatory Affairs (Bali)')
2149 Document Control / Sharepoint Administrator - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Document Control / Sharepoint Administrator - Cikarang')
2150 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
2151 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
2152 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
2153 Sport Coaches And Assistants Coaches
INSERT INTO job_vacancies (title) VALUES ( 'Sport Coaches And Assistants Coaches')
2154 Operator Produksi (Mesin Cnc, Laser Cutting)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi (Mesin Cnc, Laser Cutting)')
2155 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
2156 Supervisor Sales
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales')
2157 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
2158 Math Tutor (Shinkenjuku Online)
INSERT INTO job_vacancies (title) VALUES ( 'Math Tutor (Shinkenjuku Online)')
2159 Hr Recruitment & Training Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment & Training Staff')
2160 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
2161 Salesman Medical
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Medical')
2162 Account Manager (It Product)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (It Product)')
2163 Marketing Associate Eksekutif
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Associate Eksekutif')
2164 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
2165 Admin Kantor
INSERT INTO job_vacancies (title) VALUES ( 'Admin Kantor')
2166 It Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Manager')
2167 Production & Hard Coating Manager
INSERT INTO job_vacancies (title) VALUES ( 'Production & Hard Coating Manager')
2168 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
2169 Field Sales Supervisor (Pamekasan)
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Supervisor (Pamekasan)')
2170 Hsse Operational Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hsse Operational Officer')
2171 Teknisi Ac (Penempatan Aceh & Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Ac (Penempatan Aceh & Medan)')
2172 Content Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Content Strategist')
2173 Channel Business Development Manager Modern Trade, General Trade, & Food Service
INSERT INTO job_vacancies (title) VALUES ( 'Channel Business Development Manager Modern Trade, General Trade, & Food Service')
2174 Planning Officer
INSERT INTO job_vacancies (title) VALUES ( 'Planning Officer')
2175 Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operational Manager')
2176 Talent & Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Talent & Admin Online')
2177 Primary Homeroom Teachers For Kinderfield Primary Depok
INSERT INTO job_vacancies (title) VALUES ( 'Primary Homeroom Teachers For Kinderfield Primary Depok')
2178 Education Counsellor (Sales Staff)
INSERT INTO job_vacancies (title) VALUES ( 'Education Counsellor (Sales Staff)')
2179 Sales Export
INSERT INTO job_vacancies (title) VALUES ( 'Sales Export')
2180 Qa Tester Automation
INSERT INTO job_vacancies (title) VALUES ( 'Qa Tester Automation')
2181 District Sales Manager (Tuban,Bojonegoro)
INSERT INTO job_vacancies (title) VALUES ( 'District Sales Manager (Tuban,Bojonegoro)')
2182 Telesales Head
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Head')
2183 Pricing Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Pricing Analyst')
2184 Software Tester (Quality Assurance) - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Software Tester (Quality Assurance) - Yogyakarta')
2185 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
2186 Planning Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Planning Assistant Manager')
2187 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
2188 Service Manager
INSERT INTO job_vacancies (title) VALUES ( 'Service Manager')
2189 Digital Marketer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketer')
2190 Hrd Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Manager')
2191 Icr English Teacher - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Icr English Teacher - Batam')
2192 Industrial Designer
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Designer')
2193 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
2194 Quality Control (Qc) Finishing
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control (Qc) Finishing')
2195 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
2196 Senior Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Network Engineer')
2197 Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer')
2198 Assistant To Vice President Director
INSERT INTO job_vacancies (title) VALUES ( 'Assistant To Vice President Director')
2199 Application Engineer (Ae)
INSERT INTO job_vacancies (title) VALUES ( 'Application Engineer (Ae)')
2200 Operation Kitchen Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation Kitchen Manager')
2201 Manager Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing')
2202 Insinyur Mesin
INSERT INTO job_vacancies (title) VALUES ( 'Insinyur Mesin')
2203 Accounting Manager Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager Freight Forwarding')
2204 Sales Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Jakarta')
2205 Qa Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa Staff')
2206 Equity Dealer
INSERT INTO job_vacancies (title) VALUES ( 'Equity Dealer')
2207 Tax Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Senior Staff')
2208 Assistant Manager Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Ppic')
2209 Marketing & Verification Officer (Js - Mvo) Balaraja
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Balaraja')
2210 Sales Promotor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotor')
2211 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
2212 Site Supervisor  /  Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor  /  Site Engineer')
2213 Trainer Specialist For Contact Center - Digital Bank - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Specialist For Contact Center - Digital Bank - Solo')
2214 Sales Outdoor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Outdoor')
2215 Parts Direct Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Parts Direct Sales Admin')
2216 Business Portfolio Analytics Head
INSERT INTO job_vacancies (title) VALUES ( 'Business Portfolio Analytics Head')
2217 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
2218 Marketing Papua (Sorong & Jayapura)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Papua (Sorong & Jayapura)')
2219 Edp Jr Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Edp Jr Specialist')
2220 Assistant Manager Accounting And Tax
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Accounting And Tax')
2221 Store Supervisor - Bukittinggi
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Bukittinggi')
2222 Business Development Lead - Makassar Area
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Lead - Makassar Area')
2223 International Business Development Supervisor (China Market)
INSERT INTO job_vacancies (title) VALUES ( 'International Business Development Supervisor (China Market)')
2224 Social Media Content (Kota Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Content (Kota Bogor)')
2225 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
2226 Admin Umum
INSERT INTO job_vacancies (title) VALUES ( 'Admin Umum')
2227 Staff Internal Control (Ic)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Internal Control (Ic)')
2228 Senior System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior System Engineer')

2229 Talent Development Program Officer
INSERT INTO job_vacancies (title) VALUES ( 'Talent Development Program Officer')
2230 Admin Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Marketing')
2231 Data Communication Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Data Communication Supervisor')
2232 Sales Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account Executive')
2233 Kepala Bengkel
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bengkel')
2234 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
2235 Software Test Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Test Engineer')
2236 Product Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Marketing Manager')
2237 Senior Rm Funding Jakarta - Pluit
INSERT INTO job_vacancies (title) VALUES ( 'Senior Rm Funding Jakarta - Pluit')
2238 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
2239 Regional Sales Senior Executive B2B - East (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Senior Executive B2B - East (Surabaya)')
2240 Marketing Executive (Tool Manufacturer)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive (Tool Manufacturer)')
2241 Retail Funding Relationship Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Relationship Manager (Surabaya)')
2242 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
2243 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
2244 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
2245 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2246 Human Resource Department (Hrd)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Department (Hrd)')
2247 Staf Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Staf Internal Audit')
2248 Relationship Manager Multifinance (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Multifinance (Jakarta)')
2249 Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Engineer')
2250 Gm Operasional F&B
INSERT INTO job_vacancies (title) VALUES ( 'Gm Operasional F&B')
2251 Technical Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support Engineer')
2252 Marketing & Verification Officer (Js - Mvo) Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Tangerang Selatan')
2253 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2254 Sales Engineer (Cutting Tool Product)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cutting Tool Product)')
2255 Store Operation And Maintenance Engineer (门店运维工程师) - English Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Store Operation And Maintenance Engineer (门店运维工程师) - English Speaker')
2256 Content Qa (Contract) - Based In Solo
INSERT INTO job_vacancies (title) VALUES ( 'Content Qa (Contract) - Based In Solo')
2257 Digital Strategist For A Fast-Growing Content Agency Startup
INSERT INTO job_vacancies (title) VALUES ( 'Digital Strategist For A Fast-Growing Content Agency Startup')
2258 Software Engineer In Test / Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer In Test / Quality Assurance Engineer')
2259 Retail Sales Supervisor (Cikarang)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Sales Supervisor (Cikarang)')
2260 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
2261 Admin Online & Staff Toko
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online & Staff Toko')
2262 Team Leader Network Structure Cabling System
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Network Structure Cabling System')
2263 Credit Marketing Officer (Cmo) Cibubur
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Cibubur')
2264 Erp Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Erp Sales Manager')
2265 Spv Qa
INSERT INTO job_vacancies (title) VALUES ( 'Spv Qa')
2266 Recruitment Intern - Duri Bengkalis
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Intern - Duri Bengkalis')
2267 Ktt - Head Of Coal Mining
INSERT INTO job_vacancies (title) VALUES ( 'Ktt - Head Of Coal Mining')
2268 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
2269 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
2270 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2271 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
2272 It Development Intenship
INSERT INTO job_vacancies (title) VALUES ( 'It Development Intenship')
2273 Product Manager Assistant (F&B)
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager Assistant (F&B)')
2274 Project Planner (Freight Forwarding)
INSERT INTO job_vacancies (title) VALUES ( 'Project Planner (Freight Forwarding)')
2275 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
2276 Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting')
2277 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
2278 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
2279 Plastic Injection Production
INSERT INTO job_vacancies (title) VALUES ( 'Plastic Injection Production')
2280 Promotion Officer (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Promotion Officer (Surabaya)')
2281 Tax Dept Head
INSERT INTO job_vacancies (title) VALUES ( 'Tax Dept Head')
2282 Sap Mm
INSERT INTO job_vacancies (title) VALUES ( 'Sap Mm')
2283 Head Of It Loan Management
INSERT INTO job_vacancies (title) VALUES ( 'Head Of It Loan Management')
2284 Admin Sales E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales E-Commerce')
2285 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
2286 Supervisor Sales Houseware Plastic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Houseware Plastic')
2287 Content Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Content Marketing Specialist')
2288 Field Collection (Js - Fc) Padang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Padang')
2289 Hr Training Development
INSERT INTO job_vacancies (title) VALUES ( 'Hr Training Development')
2290 Database Administrator (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Database Administrator (Tangerang)')
2291 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
2292 Product Development Design Leader
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Design Leader')
2293 Country Product Manager (Kelapa Gading, Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Country Product Manager (Kelapa Gading, Jakarta Utara)')
2294 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
2295 Sales Marketing Rental Otomotif
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Rental Otomotif')
2296 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
2297 Asisten Administrasi (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Administrasi (Mandarin)')
2298 Guru Sd-Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Guru Sd-Banjarmasin')
2299 It Programmer Vb. Net & Sql Server
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Vb. Net & Sql Server')
2300 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
2301 Supply Chain Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Manager')
2302 Technical Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Technical Recruiter')
2303 Admin Finance, Accounting Dan Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance, Accounting Dan Pajak')
2304 Content Creator Sosialmedia
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Sosialmedia')
2305 Telemarketing
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing')
2306 Host Tik Tok (Live)
INSERT INTO job_vacancies (title) VALUES ( 'Host Tik Tok (Live)')
2307 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
2308 Cost Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting Staff')
2309 Accounting Reporting Assistant Manager - Manufacturing
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Reporting Assistant Manager - Manufacturing')
2310 Account Officer  (Kredit Ao)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer  (Kredit Ao)')
2311 Staff Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accountant')
2312 Regional Channel Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Channel Management Manager')
2313 Administrasi Kantor
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Kantor')
2314 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
2315 Event Exhibition & Kol Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Event Exhibition & Kol Supervisor')
2316 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
2317 Kepala Accounting Dan Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Accounting Dan Administrasi')
2318 Client Relations Manager
INSERT INTO job_vacancies (title) VALUES ( 'Client Relations Manager')
2319 Marketing & Verification Officer (Js - Mvo) Cibubur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cibubur')
2320 Finance Accounts Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounts Assistant Manager')
2321 Pengawas Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Proyek')
2322 Software Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance')
2323 Front Office Department Head (Manado)
INSERT INTO job_vacancies (title) VALUES ( 'Front Office Department Head (Manado)')
2324 Product & Packaging Designer
INSERT INTO job_vacancies (title) VALUES ( 'Product & Packaging Designer')
2325 Admin Collection
INSERT INTO job_vacancies (title) VALUES ( 'Admin Collection')
2326 Finance & Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Officer')
2327 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
2328 National Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'National Key Account Manager')
2329 Costing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Costing Staff')
2330 Staf Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi')
2331 Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Akunting')
2332 Collection Associate
INSERT INTO job_vacancies (title) VALUES ( 'Collection Associate')
2333 Art Designer
INSERT INTO job_vacancies (title) VALUES ( 'Art Designer')
2334 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
2335 Purchasing Staff (Technical)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (Technical)')
2336 Sample Developer & Pattern Maker
INSERT INTO job_vacancies (title) VALUES ( 'Sample Developer & Pattern Maker')
2337 Sales Project Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Supervisor')
2338 Assistant Manager Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Logistic')
2339 Sr. Account Receivable Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Account Receivable Executive')
2340 Hub Lead Shopee Express (Ternate, Maluku Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Ternate, Maluku Utara)')
2341 Payroll Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Specialist')
2342 Senior Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior Data Analyst')
2343 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
2344 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
2345 It Implementor Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'It Implementor Sukabumi')
2346 Localization Projects Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Localization Projects Team Leader')
2347 Baby Product Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Baby Product Sales Manager')
2348 Technical Quality Assurance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Technical Quality Assurance Assistant Manager')
2349 Host / Content Creator / Influencer
INSERT INTO job_vacancies (title) VALUES ( 'Host / Content Creator / Influencer')
2350 It-Specialist & System Integrator
INSERT INTO job_vacancies (title) VALUES ( 'It-Specialist & System Integrator')
2351 Sales Executive (Food Service) - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Food Service) - Surabaya')
2352 Magang Resepsionis
INSERT INTO job_vacancies (title) VALUES ( 'Magang Resepsionis')
2353 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
2354 Marketing & Verification Officer (Js - Mvo) Kedoya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kedoya')
2355 Senior Relationship Officer Kc Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Senior Relationship Officer Kc Banjarmasin')
2356 Sales Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Manager')
2357 Sales Precast
INSERT INTO job_vacancies (title) VALUES ( 'Sales Precast')
2358 Sales Executive (Home Care & Personal Care)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Home Care & Personal Care)')
2359 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
2360 Customer Experience Officer (Cxo / Cs) - Probolinggo
INSERT INTO job_vacancies (title) VALUES ( 'Customer Experience Officer (Cxo / Cs) - Probolinggo')
2361 Equity Sales
INSERT INTO job_vacancies (title) VALUES ( 'Equity Sales')
2362 Rider Team Lead Shopee Express (Hub Manggar, Kab. Belitung Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Hub Manggar, Kab. Belitung Timur)')
2363 Centre Manager
INSERT INTO job_vacancies (title) VALUES ( 'Centre Manager')
2364 Hrga  ( Jakarta Utara )
INSERT INTO job_vacancies (title) VALUES ( 'Hrga  ( Jakarta Utara )')
2365 Ecy Classroom Teacher Binus School Serpong
INSERT INTO job_vacancies (title) VALUES ( 'Ecy Classroom Teacher Binus School Serpong')
2366 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
2367 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
2368 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
2369 Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Partnership')
2370 Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting')
2371 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
2372 Yogyakarta City Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Yogyakarta City Coordinator')
2373 Retail Funding Relationship Manager (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Relationship Manager (Jawa Tengah)')
2374 Teacher (Full Time And Part Time)
INSERT INTO job_vacancies (title) VALUES ( 'Teacher (Full Time And Part Time)')
2375 Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Operation Supervisor')
2376 It Web Programmer (Contract)
INSERT INTO job_vacancies (title) VALUES ( 'It Web Programmer (Contract)')
2377 Enterprise Support - It Epcs (E-Plantation System)
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Support - It Epcs (E-Plantation System)')
2378 E-Commerce Manager
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Manager')
2379 Graphic Designer (Product Packaging Designer)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Product Packaging Designer)')

2380 Marketing & Verification Officer (Js - Mvo) Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Jakarta Utara')
2381 Business Development (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (Surabaya)')
2382 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2383 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
2384 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
2385 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
2386 Brand Executive
INSERT INTO job_vacancies (title) VALUES ( 'Brand Executive')
2387 Digital Marketing Manager (Getplus.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager (Getplus.Id)')
2388 Staff Operasional Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Operasional Keuangan')
2389 Administration Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Administration Accounting')
2390 Teller (Dumai & Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Teller (Dumai & Pekanbaru)')
2391 Maintenance Staff - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Staff - Balikpapan')
2392 Product Designer
INSERT INTO job_vacancies (title) VALUES ( 'Product Designer')
2393 Sales Online
INSERT INTO job_vacancies (title) VALUES ( 'Sales Online')
2394 Sales Account Manager (Surabaya Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account Manager (Surabaya Placement)')
2395 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
2396 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
2397 Marketing  /  Branding Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing  /  Branding Manager')
2398 Tukang  /  Ahli Perkebunan
INSERT INTO job_vacancies (title) VALUES ( 'Tukang  /  Ahli Perkebunan')
2399 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
2400 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
2401 Sales Executive (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Surabaya)')
2402 Teknisi Listrik
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Listrik')
2403 Senior Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Senior Merchandiser')
2404 Marketing Officer - Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Kediri')
2405 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
2406 Marketing & Verification Officer (Js - Mvo) Kelapa Gading
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kelapa Gading')
2407 Lazmall - Key Account Management (Associate & Senior Associate)
INSERT INTO job_vacancies (title) VALUES ( 'Lazmall - Key Account Management (Associate & Senior Associate)')
2408 Digital & Performance Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital & Performance Marketing Manager')
2409 Ib Myp Individuals And Societies Teacher (Iands)
INSERT INTO job_vacancies (title) VALUES ( 'Ib Myp Individuals And Societies Teacher (Iands)')
2410 Sales And Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Business Development Manager')
2411 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
2412 Qa Tester
INSERT INTO job_vacancies (title) VALUES ( 'Qa Tester')
2413 Supervisor Tax Consultant - Corporate Division
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Tax Consultant - Corporate Division')
2414 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
2415 Business Development Manager - Education
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager - Education')
2416 Organization Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development Manager')
2417 Manager Teknik / Traksi
INSERT INTO job_vacancies (title) VALUES ( 'Manager Teknik / Traksi')
2418 Area Sales Promotion Supervisor (Asps) - Pt Kalbe Blackmores Nutrition
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Supervisor (Asps) - Pt Kalbe Blackmores Nutrition')
2419 Digital Media Planning Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Media Planning Manager')
2420 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
2421 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
2422 Teppanyaki Chef For Teppanyaki And Japanese Restaurant
INSERT INTO job_vacancies (title) VALUES ( 'Teppanyaki Chef For Teppanyaki And Japanese Restaurant')
2423 Manager Operational
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operational')
2424 Customer Support Executive
INSERT INTO job_vacancies (title) VALUES ( 'Customer Support Executive')
2425 Sales Commercial Industry - Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Industry - Sidoarjo')
2426 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
2427 Pengawas Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Gudang')
2428 Staff Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staff Logistik')
2429 Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance')
2430 Marketing Staff - Industry Team
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff - Industry Team')
2431 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
2432 Customer Order Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Order Support Officer')
2433 Sales & Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Digital Marketing')
2434 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
2435 Ppjk & Customs Compliance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppjk & Customs Compliance Supervisor')
2436 Staff Maintenance Kendaraan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Maintenance Kendaraan')
2437 Account Manager (Kelapa Gading, Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Kelapa Gading, Jakarta Utara)')
2438 Sales Canvasing Karkas Puyuh
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasing Karkas Puyuh')
2439 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
2440 Account Manager (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Jakarta)')
2441 Sales Executive Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Freight Forwarding')
2442 Server  /  Staff Floor
INSERT INTO job_vacancies (title) VALUES ( 'Server  /  Staff Floor')
2443 Fresh Graduate Hiring - Junior Software Developer (React Js / Java)
INSERT INTO job_vacancies (title) VALUES ( 'Fresh Graduate Hiring - Junior Software Developer (React Js / Java)')
2444 It Odoo
INSERT INTO job_vacancies (title) VALUES ( 'It Odoo')
2445 Dibutuhakan Sales / Team Leader Produk Fmcg Medan, Aceh, Palembang, Batam, Balikpapan, Pontianak, Samarinda, Manado, Makassar, Ternate, Bengkulu, Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Dibutuhakan Sales / Team Leader Produk Fmcg Medan, Aceh, Palembang, Batam, Balikpapan, Pontianak, Samarinda, Manado, Makassar, Ternate, Bengkulu, Jambi')
2446 Relationship Manager Batam (Retail Banking)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Batam (Retail Banking)')
2447 Supervisor Sewing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sewing')
2448 Tiktok & Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Tiktok & Content Creator')
2449 Principal / Vice Principal
INSERT INTO job_vacancies (title) VALUES ( 'Principal / Vice Principal')
2450 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
2451 Staff Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting & Tax')
2452 Engineering Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Administrator')
2453 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
2454 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
2455 Application Tester ( Software Tester)
INSERT INTO job_vacancies (title) VALUES ( 'Application Tester ( Software Tester)')
2456 Marketing - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing - Surabaya')
2457 Government Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Government Account Manager')
2458 Account Manager - Modern Channel
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager - Modern Channel')
2459 Creative Design Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design Coordinator')
2460 Marketing Communication Manager (Mal Ciputra Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Manager (Mal Ciputra Tangerang)')
2461 Staf Reviewer
INSERT INTO job_vacancies (title) VALUES ( 'Staf Reviewer')
2462 Sales (Purbalingga)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Purbalingga)')
2463 Staff Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pajak')
2464 Business Consultant Kairos Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Business Consultant Kairos Development Program')
2465 Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer')
2466 Guru Olah Raga Sd
INSERT INTO job_vacancies (title) VALUES ( 'Guru Olah Raga Sd')
2467 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
2468 Education Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Education Consultant')
2469 Software Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance')
2470 Finance Ops Intern - Shopee Express (Bandar Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Intern - Shopee Express (Bandar Lampung)')
2471 Asisten Traksi
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Traksi')
2472 General Affair Admin (Cikande)
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Admin (Cikande)')
2473 Kepala Cabang (Koperasi) Area Temanggung, Kebumen
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Temanggung, Kebumen')
2474 Accounting & Tax Officer (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Officer (Medan)')
2475 Quality Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staff')
2476 Senior Network Administrator (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Network Administrator (Surabaya)')
2477 Eal Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Eal Teacher')
2478 Collection & Kasir Property
INSERT INTO job_vacancies (title) VALUES ( 'Collection & Kasir Property')
2479 Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Manager')
2480 Management Trainee Store Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee Store Supervisor')
2481 Mekanik  /  Teknisi Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik  /  Teknisi Alat Berat')
2482 It Development
INSERT INTO job_vacancies (title) VALUES ( 'It Development')
2483 Quality Control Head (Project) - Pelintung
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Head (Project) - Pelintung')
2484 Market Research Staff
INSERT INTO job_vacancies (title) VALUES ( 'Market Research Staff')
2485 Sales Gallery
INSERT INTO job_vacancies (title) VALUES ( 'Sales Gallery')
2486 Teknisi Hp Karawaci
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Hp Karawaci')
2487 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
2488 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
2489 Dept. Head Machinery
INSERT INTO job_vacancies (title) VALUES ( 'Dept. Head Machinery')
2490 Jeo Specialist - Kompas.Com
INSERT INTO job_vacancies (title) VALUES ( 'Jeo Specialist - Kompas.Com')
2491 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
2492 Staff Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Keuangan')
2493 Fitness Manager
INSERT INTO job_vacancies (title) VALUES ( 'Fitness Manager')
2494 Collector - Cimahi
INSERT INTO job_vacancies (title) VALUES ( 'Collector - Cimahi')
2495 Hr Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Assistant Manager')
2496 Admin Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Admin Pajak')
2497 Internal Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Control Staff')
2498 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
2499 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
2500 General Manager Commercial Leasing
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Commercial Leasing')
2501 Server / Waiter
INSERT INTO job_vacancies (title) VALUES ( 'Server / Waiter')
2502 Drafter Kontruksi
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Kontruksi')
2503 Staff Administrasi Hr
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi Hr')
2504 Marketing Executive Produk & Jasa Untuk Meningkatkan Kualitas Udara
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Produk & Jasa Untuk Meningkatkan Kualitas Udara')
2505 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
2506 Procurement Manager
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Manager')
2507 Sales And Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Executive')
2508 Sales Executive (Horeca & Gt)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Horeca & Gt)')
2509 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
2510 Logistics Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Logistics Specialist')
2511 Field Collector (Js - Fc) Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Js - Fc) Tangerang Selatan')
2512 Estate Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Estate Management Staff')
2513 Marketing & Verification Officer (Js - Mvo) Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cilegon')
2514 Construction Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Construction Foreman')
2515 Senior Training & Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Training & Development Specialist')
2516 Teknisi Hp Lombok
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Hp Lombok')
2517 Sales Commercial Industry - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Industry - Jakarta')
2518 Accounting Staff (Staf Akuntansi)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (Staf Akuntansi)')
2519 Garment - Senior Qa Inspector (Semarang & West Java)
INSERT INTO job_vacancies (title) VALUES ( 'Garment - Senior Qa Inspector (Semarang & West Java)')
2520 Photographer  /  Cameraman
INSERT INTO job_vacancies (title) VALUES ( 'Photographer  /  Cameraman')
2521 Storing & Laka Management Shopee Express (Pangkal Pinang)
INSERT INTO job_vacancies (title) VALUES ( 'Storing & Laka Management Shopee Express (Pangkal Pinang)')
2522 Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate')
2523 Marketing & Verification Officer (Js - Mvo) Cikupa
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cikupa')
2524 Marketing & Verification Officer (Js - Mvo) Kalimalang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kalimalang')
2525 Machine Learning Solution Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Machine Learning Solution Engineer')
2526 Kepala Bagian Analytical Development
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Analytical Development')
2527 Marketing Manager Itel
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager Itel')
2528 Human Resource
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource')
2529 Operations Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operations Manager')
2530 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
2531 Strategic Operation Senior Associate
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Operation Senior Associate')
2532 Accounts Executive
INSERT INTO job_vacancies (title) VALUES ( 'Accounts Executive')
2533 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
2534 Procurement Officer (Buyer)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Officer (Buyer)')
2535 It Client Infrastructure Support Lead
INSERT INTO job_vacancies (title) VALUES ( 'It Client Infrastructure Support Lead')
2536 Marketing Corporate Executive Heto Junior - Branch Samarinda Corporate
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Corporate Executive Heto Junior - Branch Samarinda Corporate')
2537 English Translator (Contract, Kelapa Gading, Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'English Translator (Contract, Kelapa Gading, Jakarta Utara)')

2538 Asistant Manager Purchasing Internasional ( Tangerang )
INSERT INTO job_vacancies (title) VALUES ( 'Asistant Manager Purchasing Internasional ( Tangerang )')
2539 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
2540 Social Media Admin
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Admin')
2541 Penjahit Sewing Sample Room Garment
INSERT INTO job_vacancies (title) VALUES ( 'Penjahit Sewing Sample Room Garment')
2542 Cloud Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Sales Officer')
2543 Admin Sales E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales E-Commerce')
2544 Engineer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Staff')
2545 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
2546 Premier Banking Manager (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Premier Banking Manager (Jawa Tengah)')
2547 Corporate Banking Credit Reviewer (Cr)
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Banking Credit Reviewer (Cr)')
2548 Relationship Officer - Penempatan Sampit
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Sampit')
2549 Bandung City Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Bandung City Coordinator')
2550 Marketing  /  Event & Promotion Specialist  /  Brand Activation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing  /  Event & Promotion Specialist  /  Brand Activation Staff')
2551 Sales & Promotion Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Promotion Section Head')
2552 Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer')
2553 Sales And Marketing (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing (Jawa Tengah)')
2554 Ppic Supervisor - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor - Samarinda')
2555 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2556 Sales Marketing Citraland Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Citraland Banjarmasin')
2557 General Administration & Collection Staff - Semarang - Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'General Administration & Collection Staff - Semarang - Jawa Tengah')
2558 Finance & Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Officer')
2559 Quantity Surveyor (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor (Medan)')
2560 Teknisi Ac Genset Mep
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Ac Genset Mep')
2561 Software Quality Assurance And Implementation
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance And Implementation')
2562 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
2563 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
2564 Senior Mep Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mep Manager')
2565 Staff Ar (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ar (Bandung)')
2566 Field Collection (Js - Fc) Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cilegon')
2567 Sales Executive ( Malang, Surakarta & Dki  )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive ( Malang, Surakarta & Dki  )')
2568 Sortation Center Team Leader - Shopee Express (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Team Leader - Shopee Express (Palangkaraya)')
2569 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
2570 Engineer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Staff')
2571 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
2572 Digital Project Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Project Management Supervisor')
2573 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
2574 Software Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance')
2575 Product Manager - Rte Product
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager - Rte Product')
2576 Account Officer (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Bali)')
2577 Staf Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi')
2578 Manager It
INSERT INTO job_vacancies (title) VALUES ( 'Manager It')
2579 Quality Control  /  Teknisi Lab
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control  /  Teknisi Lab')
2580 Sales Commercial Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Officer')
2581 Talent Acquisition Senior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Senior Manager')
2582 Chef  /  Senior Cook
INSERT INTO job_vacancies (title) VALUES ( 'Chef  /  Senior Cook')
2583 Boga Group Walk In Interview Solo
INSERT INTO job_vacancies (title) VALUES ( 'Boga Group Walk In Interview Solo')
2584 Channel Sales (Palembang Area)
INSERT INTO job_vacancies (title) VALUES ( 'Channel Sales (Palembang Area)')
2585 Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer')
2586 Ict Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Ict Teacher')
2587 Staff Accounting (Tax)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting (Tax)')
2588 Manager Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Manager Produksi')
2589 It Application Specialist And Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'It Application Specialist And Technical Support')
2590 Marketing Communication Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Manager')
2591 Sales Driver (Ds Bone)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Driver (Ds Bone)')
2592 Legal Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Assistant Manager')
2593 Sales Flexible Packaging
INSERT INTO job_vacancies (title) VALUES ( 'Sales Flexible Packaging')
2594 Area Manager (Sukoharjo)
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager (Sukoharjo)')
2595 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
2596 District Sales Manager (Batam,Karimun)
INSERT INTO job_vacancies (title) VALUES ( 'District Sales Manager (Batam,Karimun)')
2597 Marketing Project
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Project')
2598 Tech Product Manager (For Getplus)
INSERT INTO job_vacancies (title) VALUES ( 'Tech Product Manager (For Getplus)')
2599 Business Supervisor (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Business Supervisor (Balikpapan)')
2600 Sales Executive Gadget Accesories (Bangka)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Gadget Accesories (Bangka)')
2601 Assistant Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Operational Manager')
2602 General Affair & Vehicle Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'General Affair & Vehicle Maintenance')
2603 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2604 Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Recruiter')
2605 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
2606 Retail Supervisor (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Supervisor (Bali)')
2607 Strategic Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Partnership')
2608 Supply Chain Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Management Supervisor')
2609 Finance Accounting Tax Supervisor - (For Eye Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Tax Supervisor - (For Eye Indonesia)')
2610 Gm Of Digital Marketing (For Retail)
INSERT INTO job_vacancies (title) VALUES ( 'Gm Of Digital Marketing (For Retail)')
2611 Settlement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Settlement Staff')
2612 Sales Showroom
INSERT INTO job_vacancies (title) VALUES ( 'Sales Showroom')
2613 Physics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Physics Teacher')
2614 Marketing & Verification Officer (Js - Mvo) Ciledug
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Ciledug')
2615 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
2616 Store Leader
INSERT INTO job_vacancies (title) VALUES ( 'Store Leader')
2617 Expansion Executive
INSERT INTO job_vacancies (title) VALUES ( 'Expansion Executive')
2618 Funding Marketing Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Funding Marketing Pekanbaru')
2619 Staff Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accountant')
2620 Production Supervisor (Multiple Location)
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor (Multiple Location)')
2621 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
2622 Staff Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Tax Accounting')
2623 Mechanical And Electrical Project Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical And Electrical Project Engineering')
2624 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
2625 Product Manager Telco
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager Telco')
2626 Creator Partnerships Manager
INSERT INTO job_vacancies (title) VALUES ( 'Creator Partnerships Manager')
2627 Teknisi Komputer Dan Hardware
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Komputer Dan Hardware')
2628 Admin (Jendela Home Service)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Jendela Home Service)')
2629 Human Resource Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Supervisor')
2630 It - Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'It - Application Developer')
2631 Accounts Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounts Officer')
2632 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
2633 Program Iot Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Program Iot Engineering')
2634 Field Collection Coordinator (Bandung Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Coordinator (Bandung Area)')
2635 Marketing Research Planning
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Research Planning')
2636 Sales Inhouse Property
INSERT INTO job_vacancies (title) VALUES ( 'Sales Inhouse Property')
2637 Portacamp Sales Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Portacamp Sales Section Head')
2638 Technical Lead Network (Ccie)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Lead Network (Ccie)')
2639 Staff Elektro Medis
INSERT INTO job_vacancies (title) VALUES ( 'Staff Elektro Medis')
2640 Senior Tester Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tester Manager')
2641 Purchasing & Admin Import (Area Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing & Admin Import (Area Jakarta)')
2642 Head Of Human Resources (Hr)
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Human Resources (Hr)')
2643 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2644 Robotic / Coding Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Robotic / Coding Teacher')
2645 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
2646 Exim Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Exim Assistant Manager')
2647 Sales Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Officer')
2648 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
2649 Digital E-Commerce & Live Streamer
INSERT INTO job_vacancies (title) VALUES ( 'Digital E-Commerce & Live Streamer')
2650 Translation Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Translation Project Manager')
2651 Funding Relationship Manager
INSERT INTO job_vacancies (title) VALUES ( 'Funding Relationship Manager')
2652 Teknisi Elektromedis
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Elektromedis')
2653 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
2654 Accounting And Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting And Tax Staff')
2655 Business Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer')
2656 Premier Banking Manager (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Premier Banking Manager (Bandung)')
2657 Field Collector (Fc) Solo
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Fc) Solo')
2658 Manager Budidaya Ikan
INSERT INTO job_vacancies (title) VALUES ( 'Manager Budidaya Ikan')
2659 Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer')
2660 Sales Engineer (Geodetic)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Geodetic)')
2661 Motion Graphics Editor
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphics Editor')
2662 Staff Pajak (Tax)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pajak (Tax)')
2663 Science Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Science Teacher')
2664 Sap Support Pm, Pp, Mm Staff (Penempatan Ntt)
INSERT INTO job_vacancies (title) VALUES ( 'Sap Support Pm, Pp, Mm Staff (Penempatan Ntt)')
2665 Tukang Potong Dan Tekuk Plat Baja
INSERT INTO job_vacancies (title) VALUES ( 'Tukang Potong Dan Tekuk Plat Baja')
2666 Rider Team Lead Shopee Express - Hub Dolok Sanggul (Sumatera Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Dolok Sanggul (Sumatera Utara)')
2667 Technical Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Technical Analyst')
2668 Sales Erp
INSERT INTO job_vacancies (title) VALUES ( 'Sales Erp')
2669 Buyer Financing Senior Associate
INSERT INTO job_vacancies (title) VALUES ( 'Buyer Financing Senior Associate')
2670 Digital Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Supervisor')
2671 Marketing Staff - Auto Lease
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff - Auto Lease')
2672 Kepala Departemen Perencanaan & Survey
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Departemen Perencanaan & Survey')
2673 Graphic Design And Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design And Content Creator')
2674 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
2675 Sales Engineer (Ism)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Ism)')
2676 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
2677 Teknisi Hp Daan Mogot
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Hp Daan Mogot')
2678 Business Development (International Development)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (International Development)')
2679 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
2680 Teachers (Economic Teacher)
INSERT INTO job_vacancies (title) VALUES ( 'Teachers (Economic Teacher)')
2681 Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support')
2682 Japan Tour Operational Staff ( Bahasa Jepang N2 )
INSERT INTO job_vacancies (title) VALUES ( 'Japan Tour Operational Staff ( Bahasa Jepang N2 )')
2683 Operator Produksi (Cutting, Welding, Bending, Boring)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi (Cutting, Welding, Bending, Boring)')
2684 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
2685 Human Resource Development
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Development')
2686 Pre-School Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Pre-School Teacher')
2687 Field Collection Coordinator (Balikpapan Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Coordinator (Balikpapan Area)')
2688 Staff Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Staff Drafter')
2689 Warehouse & Logistic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Logistic Supervisor')
2690 Marketing Manager Revo Coffee Id
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager Revo Coffee Id')
2691 Administrative & Office Supervisor Plant Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Administrative & Office Supervisor Plant Jakarta')
2692 Marketing Specialist ( Merchandiser )
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Specialist ( Merchandiser )')
2693 Dsigner
INSERT INTO job_vacancies (title) VALUES ( 'Dsigner')
2694 Field Collection (Js - Fc) Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Yogyakarta')
2695 Field Collection Coordinator (Kediri Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Coordinator (Kediri Area)')
2696 Perawat Gigi
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Gigi')
2697 Regional Business Manager: Aesthetic Division (Aest - Rbm)
INSERT INTO job_vacancies (title) VALUES ( 'Regional Business Manager: Aesthetic Division (Aest - Rbm)')
2698 Senior Manager  Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Senior Manager  Keuangan')
2699 English Teacher (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher (Semarang)')
2700 Rider Team Lead Shopee Express (Hub Tanjung Pandan, Kab. Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Hub Tanjung Pandan, Kab. Belitung)')
2701 Land Operation Admin Shopee Express (Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Admin Shopee Express (Padang)')
2702 Hrga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Manager')
2703 Head Of Mine Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Mine Engineer')
2704 Financial Planning And Reporting
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning And Reporting')
2705 Hr Staff (Penempatan Di P. Obi, Maluku Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff (Penempatan Di P. Obi, Maluku Utara)')
2706 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
2707 Sales Promotor - Area Sumatera
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotor - Area Sumatera')

2708 It Security Operation Staff (Under Contract Outsourcing)
INSERT INTO job_vacancies (title) VALUES ( 'It Security Operation Staff (Under Contract Outsourcing)')
2709 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2710 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
2711 Solution Architect (It Banking Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect (It Banking Industry)')
2712 Tax Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accounting Supervisor')
2713 Building Manager
INSERT INTO job_vacancies (title) VALUES ( 'Building Manager')
2714 Area Business Manager (Sumatera Utara, Pekanbaru, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Area Business Manager (Sumatera Utara, Pekanbaru, Riau)')
2715 Mechanical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Engineering')
2716 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
2717 Teknisi Maintenance (Telekomunikasi) - Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Maintenance (Telekomunikasi) - Tasikmalaya')
2718 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
2719 Finance Officer (Mandarin Mandatory)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Officer (Mandarin Mandatory)')
2720 Youtube & Tiktok Content Writer & Idea Maker
INSERT INTO job_vacancies (title) VALUES ( 'Youtube & Tiktok Content Writer & Idea Maker')
2721 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
2722 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
2723 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2724 Sales (Jakarta, Pekanbaru, Bandung, Palembang, Makassar, Manado, Kendari, Papua)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Jakarta, Pekanbaru, Bandung, Palembang, Makassar, Manado, Kendari, Papua)')
2725 Physics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Physics Teacher')
2726 Penjualan  /  Pemasaran, Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Penjualan  /  Pemasaran, Digital Marketing')
2727 Admin Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketplace')
2728 Supply Chain Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Manager')
2729 Sales Supervisor Gt & Mt
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Gt & Mt')
2730 Wood Handling Plant Expert
INSERT INTO job_vacancies (title) VALUES ( 'Wood Handling Plant Expert')
2731 Rider Team Lead Shopee Express - Hub Koba (Kab. Bangka Tengah, Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Koba (Kab. Bangka Tengah, Bangka Belitung)')
2732 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
2733 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
2734 Marketing Sales For Shipyard Steel
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales For Shipyard Steel')
2735 Ar Officer (Collector) - Kolaka
INSERT INTO job_vacancies (title) VALUES ( 'Ar Officer (Collector) - Kolaka')
2736 Staff Admin (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin (Surabaya)')
2737 Progress Advisor (Ef Pamulang)
INSERT INTO job_vacancies (title) VALUES ( 'Progress Advisor (Ef Pamulang)')
2738 District Sales Manager (Karawang,Cikampek,Cikarang)
INSERT INTO job_vacancies (title) VALUES ( 'District Sales Manager (Karawang,Cikampek,Cikarang)')
2739 Manager, Strategic Account
INSERT INTO job_vacancies (title) VALUES ( 'Manager, Strategic Account')
2740 Accreditation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accreditation Staff')
2741 Marketing Officer (Js - Mo) Bandengan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Js - Mo) Bandengan')
2742 Technical Executive
INSERT INTO job_vacancies (title) VALUES ( 'Technical Executive')
2743 Content Development & Quality Assurance Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Content Development & Quality Assurance Section Head')
2744 Kabag Rnd Food And Beverage
INSERT INTO job_vacancies (title) VALUES ( 'Kabag Rnd Food And Beverage')
2745 Staff Administrasi Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi Finance')
2746 Cmo Car (Credit Marketing Officer) Area Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Cmo Car (Credit Marketing Officer) Area Denpasar')
2747 Branch Manager (Citraland)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Citraland)')
2748 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
2749 Guru Biologi Full Time
INSERT INTO job_vacancies (title) VALUES ( 'Guru Biologi Full Time')
2750 Purchasing Officer - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer - Semarang')
2751 Security Warehouse (Mataram)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Mataram)')
2752 Videografer
INSERT INTO job_vacancies (title) VALUES ( 'Videografer')
2753 Mobile Solution Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Solution Analyst')
2754 Music Teacher (For Inclusion Class)
INSERT INTO job_vacancies (title) VALUES ( 'Music Teacher (For Inclusion Class)')
2755 Account Officer (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Solo)')
2756 Hub Lead Shopee Express (Kota Baru, Kalimantan Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Kota Baru, Kalimantan Selatan)')
2757 Sales & Marketing B2B
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing B2B')
2758 Trainer Product (Product Specialist) - Roxy, Jakarta Pusat
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Product (Product Specialist) - Roxy, Jakarta Pusat')
2759 Server Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Server Engineer')
2760 Network Engineer (Ccnp)
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer (Ccnp)')
2761 Kepala Pool Kendaraan
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pool Kendaraan')
2762 Internal Audit Supervisor - Quality System
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Supervisor - Quality System')
2763 Purchasing & Administrasi Project
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing & Administrasi Project')
2764 Junior It Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Junior It Database Administrator')
2765 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2766 Pe Kepatuhan
INSERT INTO job_vacancies (title) VALUES ( 'Pe Kepatuhan')
2767 Export Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Export Import Staff')
2768 Digital Optimizer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Optimizer')
2769 Sales Associate Store Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate Store Bali')
2770 Operation Engineer Power Plant
INSERT INTO job_vacancies (title) VALUES ( 'Operation Engineer Power Plant')
2771 Admin Finance & Accounting (Temporary Position For Maternity Replacement)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance & Accounting (Temporary Position For Maternity Replacement)')
2772 Staff Dle
INSERT INTO job_vacancies (title) VALUES ( 'Staff Dle')
2773 Admin Marketing Online Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing Online Marketplace')
2774 Sales Manager (Raw Materials For Food Ingredients Or Personal Care)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Raw Materials For Food Ingredients Or Personal Care)')
2775 Dibutuhkan Segera Pengawas Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Dibutuhkan Segera Pengawas Proyek')
2776 Kepala Cabang (Marisa - Gorontalo)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Marisa - Gorontalo)')
2777 Accounting / Perpajakan
INSERT INTO job_vacancies (title) VALUES ( 'Accounting / Perpajakan')
2778 Field Collection Coordinator (Medan Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Coordinator (Medan Area)')
2779 Sekretaris Direksi
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris Direksi')
2780 Hrd & Ga (F&B Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Hrd & Ga (F&B Industry)')
2781 Beauty Therapist
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Therapist')
2782 Sales Executive (Sampit)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Sampit)')
2783 Staf Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Staf Admin Sales')
2784 Qs Mep
INSERT INTO job_vacancies (title) VALUES ( 'Qs Mep')
2785 Engineering & Maintenance Technician
INSERT INTO job_vacancies (title) VALUES ( 'Engineering & Maintenance Technician')
2786 Operational Engineer (Sdwan)
INSERT INTO job_vacancies (title) VALUES ( 'Operational Engineer (Sdwan)')
2787 Art Director (For Only Strategic Design)
INSERT INTO job_vacancies (title) VALUES ( 'Art Director (For Only Strategic Design)')
2788 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
2789 Sous Chef  Italian Concept
INSERT INTO job_vacancies (title) VALUES ( 'Sous Chef  Italian Concept')
2790 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2791 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
2792 Marketing Executive – Polymer Polyethylene (Pe) And Polypropylene (Pp) Beads
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive – Polymer Polyethylene (Pe) And Polypropylene (Pp) Beads')
2793 Technical Delivery Lead (Software Ag Webmethods)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Delivery Lead (Software Ag Webmethods)')
2794 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
2795 Kasir
INSERT INTO job_vacancies (title) VALUES ( 'Kasir')
2796 Automotive Workshop Consultant (Sales) Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Automotive Workshop Consultant (Sales) Surabaya')
2797 Kurir
INSERT INTO job_vacancies (title) VALUES ( 'Kurir')
2798 Leasing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Supervisor')
2799 Koordinator Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Logistik')
2800 Sales Design Interior
INSERT INTO job_vacancies (title) VALUES ( 'Sales Design Interior')
2801 Collector  - Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Collector  - Tegal')
2802 Data Architech
INSERT INTO job_vacancies (title) VALUES ( 'Data Architech')
2803 Finance Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Finance Analyst')
2804 Sortation Center Lead - Shopee Express (Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Lead - Shopee Express (Bengkulu)')
2805 Waiter
INSERT INTO job_vacancies (title) VALUES ( 'Waiter')
2806 Sales Manager (For Ansvia - Based On Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (For Ansvia - Based On Yogyakarta)')
2807 Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax')
2808 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
2809 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2810 Geologist
INSERT INTO job_vacancies (title) VALUES ( 'Geologist')
2811 Marketing Head - Dana Tunai (Jabodetabek & Jabar)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Head - Dana Tunai (Jabodetabek & Jabar)')
2812 Sales Site Tj. Priok
INSERT INTO job_vacancies (title) VALUES ( 'Sales Site Tj. Priok')
2813 Supervisor  /  Asisten Manager Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor  /  Asisten Manager Accounting')
2814 Business Development ( Senior Associate )
INSERT INTO job_vacancies (title) VALUES ( 'Business Development ( Senior Associate )')
2815 Recruitment Supervisor (English / Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor (English / Mandarin Speaker)')
2816 Logistic & Warehouse Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Logistic & Warehouse Assistant Manager')
2817 Sales Head (Sh)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Head (Sh)')
2818 Admin Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Admin Proyek')
2819 Assistant Of Regional Directors (Operations & Finance And Accounts Dept)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Of Regional Directors (Operations & Finance And Accounts Dept)')
2820 Marketing (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing (Yogyakarta)')
2821 Software Engineering Manager
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineering Manager')
2822 Sales Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Officer')
2823 Staff Administrasi (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi (Surabaya)')
2824 Manager Chemical Plant
INSERT INTO job_vacancies (title) VALUES ( 'Manager Chemical Plant')
2825 Project Estimator (Sp)
INSERT INTO job_vacancies (title) VALUES ( 'Project Estimator (Sp)')
2826 Product Development - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Product Development - Jakarta')
2827 Software Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Qa Engineer')
2828 Onsite Engineer (Ccna) - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Onsite Engineer (Ccna) - Balikpapan')
2829 Digital Engagement
INSERT INTO job_vacancies (title) VALUES ( 'Digital Engagement')
2830 Store Supervisor Cabang Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor Cabang Bengkulu')
2831 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
2832 Ppic Staff (Padalarang)
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff (Padalarang)')
2833 Kepala Bagian Qc
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Qc')
2834 Store Manager (Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Bengkulu)')
2835 Security Warehouse (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Makassar)')
2836 Talent Management Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management Analyst')
2837 Software Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance')
2838 Senior Consultant (Business Advisory)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consultant (Business Advisory)')
2839 Roll Shop (Guide Shop)
INSERT INTO job_vacancies (title) VALUES ( 'Roll Shop (Guide Shop)')
2840 R&D Manager
INSERT INTO job_vacancies (title) VALUES ( 'R&D Manager')
2841 Data Admin Intern
INSERT INTO job_vacancies (title) VALUES ( 'Data Admin Intern')
2842 Marketing Supervisor  /  Senior Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor  /  Senior Executive')
2843 Tax, Account Receivable Treasury Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tax, Account Receivable Treasury Assistant Manager')
2844 School Conselor
INSERT INTO job_vacancies (title) VALUES ( 'School Conselor')
2845 It Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Software Engineer')
2846 Brand Activation
INSERT INTO job_vacancies (title) VALUES ( 'Brand Activation')
2847 Trade Marketing Manager [Food Product]
INSERT INTO job_vacancies (title) VALUES ( 'Trade Marketing Manager [Food Product]')
2848 Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Staff')
2849 Sales Assistant (Yogyakarta Area)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant (Yogyakarta Area)')
2850 Sales Led Dan Electrical Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Led Dan Electrical Surabaya')
2851 Business Analyst Psak / Ifrs
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Psak / Ifrs')
2852 Elektromedis
INSERT INTO job_vacancies (title) VALUES ( 'Elektromedis')
2853 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
2854 Sales Industri
INSERT INTO job_vacancies (title) VALUES ( 'Sales Industri')
2855 Merchandiser (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser (Bali)')
2856 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
2857 Security Warehouse (Ternate)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Ternate)')
2858 Operator Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi')
2859 Security Warehouse (Manado)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Manado)')
2860 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2861 Field Collection (Js - Fc) Cikupa
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cikupa')
2862 Staf Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staf Accounting & Tax')
2863 Marcom (Copywriter) - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marcom (Copywriter) - Jakarta')

2864 Junior Consultant For Act Consulting
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant For Act Consulting')
2865 It Governance Risk Management Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Governance Risk Management Senior Officer')
2866 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
2867 Purchasing Officer - Lippo Plaza Jogja
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer - Lippo Plaza Jogja')
2868 Asisten Teknik Kebun
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Teknik Kebun')
2869 App Operations Assistant (运营助理)
INSERT INTO job_vacancies (title) VALUES ( 'App Operations Assistant (运营助理)')
2870 Math Tutor (Shinkenjuku Online)
INSERT INTO job_vacancies (title) VALUES ( 'Math Tutor (Shinkenjuku Online)')
2871 Sales Manager - Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager - Freight Forwarding')
2872 Inventory & Cost Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Inventory & Cost Control Staff')
2873 Product Design Lead
INSERT INTO job_vacancies (title) VALUES ( 'Product Design Lead')
2874 Tools Keeper-Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Tools Keeper-Pekanbaru')
2875 Ux Researcher
INSERT INTO job_vacancies (title) VALUES ( 'Ux Researcher')
2876 Area Sales Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Coordinator')
2877 Admin Penjualan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Penjualan')
2878 Senior Merchandiser Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Merchandiser Manager')
2879 Sales Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion')
2880 Business Process Reengineering Officer
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Reengineering Officer')
2881 Admission Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Admission Coordinator')
2882 Teknisi Mesin Las (Penempatan Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mesin Las (Penempatan Solo)')
2883 Product Development Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Analyst')
2884 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
2885 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
2886 Spa Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Spa Assistant Manager')
2887 Budgeting & Forecasting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Budgeting & Forecasting Manager')
2888 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
2889 Sales Executive - Gadget Accessories (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Gadget Accessories (Bandung)')
2890 Rider Team Lead Shopee Express - Hub Kelapa (Kab. Bangka Barat, Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Kelapa (Kab. Bangka Barat, Bangka Belitung)')
2891 Marketing & Customer Relation
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Customer Relation')
2892 Graphic Designer (Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Sac Indonesia)')
2893 Service Manager
INSERT INTO job_vacancies (title) VALUES ( 'Service Manager')
2894 Dev Ops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Dev Ops Engineer')
2895 Senior Marketing Syariah
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing Syariah')
2896 Administration
INSERT INTO job_vacancies (title) VALUES ( 'Administration')
2897 Personal Assistant To Ceo
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Ceo')
2898 Marketing Kunci Pintu Digital
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Kunci Pintu Digital')
2899 Security Warehouse (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Palangkaraya)')
2900 Security Warehouse (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Pontianak)')
2901 Sales Representative B2B It
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative B2B It')
2902 Channel Business Development Manager Modern Trade, General Trade, & Food Service
INSERT INTO job_vacancies (title) VALUES ( 'Channel Business Development Manager Modern Trade, General Trade, & Food Service')
2903 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
2904 Data Science Officer
INSERT INTO job_vacancies (title) VALUES ( 'Data Science Officer')
2905 Senior Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Tax')
2906 Host Live Streaming  /  Streamer Tiktok Dan Instragram Live
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming  /  Streamer Tiktok Dan Instragram Live')
2907 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
2908 Data Center Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Data Center Account Manager')
2909 It Admin
INSERT INTO job_vacancies (title) VALUES ( 'It Admin')
2910 Security Warehouse (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Kendari)')
2911 Ppic (Merchandising) Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic (Merchandising) Staff')
2912 Head Of Sales
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Sales')
2913 Product Manager At Getplus (Business Strategic)
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager At Getplus (Business Strategic)')
2914 Senior Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Network Engineer')
2915 Corporate Account Manager (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Account Manager (Balikpapan)')
2916 Manager Operational Unit Power Plant  (Boiler - Steam Turbine - Generator)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operational Unit Power Plant  (Boiler - Steam Turbine - Generator)')
2917 People Business Partner | Hrbp
INSERT INTO job_vacancies (title) VALUES ( 'People Business Partner | Hrbp')
2918 Project Management
INSERT INTO job_vacancies (title) VALUES ( 'Project Management')
2919 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
2920 Staff Acounting And Taxing  /  Keuangan Dan Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Acounting And Taxing  /  Keuangan Dan Pajak')
2921 Airfreight Pic (Banda Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Airfreight Pic (Banda Aceh)')
2922 She Country Manager
INSERT INTO job_vacancies (title) VALUES ( 'She Country Manager')
2923 Social Media Senior Specialist - Infinix Mobile
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Senior Specialist - Infinix Mobile')
2924 Middle Mile Control Tower Supervisor - Shopee Express (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Control Tower Supervisor - Shopee Express (Jabodetabek)')
2925 Marketing Export (Non Document)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Export (Non Document)')
2926 Ao Qr (Tasikmalaya - Banjar)
INSERT INTO job_vacancies (title) VALUES ( 'Ao Qr (Tasikmalaya - Banjar)')
2927 Pastry Cook
INSERT INTO job_vacancies (title) VALUES ( 'Pastry Cook')
2928 Ftth Site Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ftth Site Supervisor')
2929 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
2930 Freelance Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Customer Service')
2931 Security Warehouse (Palu)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Palu)')
2932 Quality Assurance Desk Collection Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Desk Collection Staff')
2933 Sea Export Import Freight Forwarding Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sea Export Import Freight Forwarding Manager')
2934 Mandarin Officer
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Officer')
2935 Program Manager
INSERT INTO job_vacancies (title) VALUES ( 'Program Manager')
2936 Rider Team Lead Shopee Express - Hub Toboali (Kab. Bangka Selatan, Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Toboali (Kab. Bangka Selatan, Bangka Belitung)')
2937 Soc Shift Lead Shopee Express - Soc Mataram (Nusa Tenggara Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Soc Shift Lead Shopee Express - Soc Mataram (Nusa Tenggara Barat)')
2938 Analis Kimia
INSERT INTO job_vacancies (title) VALUES ( 'Analis Kimia')
2939 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
2940 Recausticizing, Lime Kiln, Bark Gasifier Expert
INSERT INTO job_vacancies (title) VALUES ( 'Recausticizing, Lime Kiln, Bark Gasifier Expert')
2941 Rider Team Lead Shopee Express - Hub Mpunda (Kota Bima, Ntb)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Mpunda (Kota Bima, Ntb)')
2942 Senior Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing Manager')
2943 Senior Penetration Tester
INSERT INTO job_vacancies (title) VALUES ( 'Senior Penetration Tester')
2944 Regional Sales Deputy Gm
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Deputy Gm')
2945 Independence & Conflict Manager
INSERT INTO job_vacancies (title) VALUES ( 'Independence & Conflict Manager')
2946 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
2947 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2948 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
2949 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
2950 Premier Banking Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Premier Banking Manager (Surabaya)')
2951 Finance Operation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance Operation Officer')
2952 Administrasi Finance (Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Padang)')
2953 Tour Operations Executive
INSERT INTO job_vacancies (title) VALUES ( 'Tour Operations Executive')
2954 It Business System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business System Analyst')
2955 Ib Myp Math Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Ib Myp Math Teacher')
2956 Sales Executive Training Program
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Training Program')
2957 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
2958 Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Interior Design')
2959 Rider Team Lead Shopee Express - Hub Mentok (Kab. Bangka Barat, Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Mentok (Kab. Bangka Barat, Bangka Belitung)')
2960 Youth Leadership Program (Acsi-Ylp)
INSERT INTO job_vacancies (title) VALUES ( 'Youth Leadership Program (Acsi-Ylp)')
2961 Field Collection (Js - Fc) Balaraja
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Balaraja')
2962 Staff E-Catalog
INSERT INTO job_vacancies (title) VALUES ( 'Staff E-Catalog')
2963 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
2964 Fashion & Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Fashion & Graphic Designer')
2965 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
2966 Spg / Spb (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Spg / Spb (Pontianak)')
2967 Content Implementor (Jr.)
INSERT INTO job_vacancies (title) VALUES ( 'Content Implementor (Jr.)')
2968 Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Estimator')
2969 Export Document Staff (Dibutuhkan Segera)
INSERT INTO job_vacancies (title) VALUES ( 'Export Document Staff (Dibutuhkan Segera)')
2970 Fiberline Expert
INSERT INTO job_vacancies (title) VALUES ( 'Fiberline Expert')
2971 It Sap Fico
INSERT INTO job_vacancies (title) VALUES ( 'It Sap Fico')
2972 It Consultant  /  Auditor (Compliance)
INSERT INTO job_vacancies (title) VALUES ( 'It Consultant  /  Auditor (Compliance)')
2973 Leader Shift Shopee Express (Bumiayu, Kab. Brebes)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Shift Shopee Express (Bumiayu, Kab. Brebes)')
2974 Beautician Facial  /  Terapis Facial - Berpengalaman
INSERT INTO job_vacancies (title) VALUES ( 'Beautician Facial  /  Terapis Facial - Berpengalaman')
2975 Sales Eksekutif
INSERT INTO job_vacancies (title) VALUES ( 'Sales Eksekutif')
2976 Funding Officer
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer')
2977 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
2978 Emerging Business Relationship Manager  (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Emerging Business Relationship Manager  (Medan)')
2979 Sap Functional Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional Fico')
2980 Account Manager (Marketing)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Marketing)')
2981 Kepala Cabang (Lokasi: Indonesia Bagian Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Lokasi: Indonesia Bagian Timur)')
2982 Senior Product Manager (It Banking Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Product Manager (It Banking Industry)')
2983 Okupasi Terapis
INSERT INTO job_vacancies (title) VALUES ( 'Okupasi Terapis')
2984 Senior  /  Field Applications Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior  /  Field Applications Engineer')
2985 Internal Audit Officer
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Officer')
2986 Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker')
2987 Field Collector Area Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Balikpapan')
2988 Internal Audit Manager
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Manager')
2989 Field Collector Area Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Tegal')
2990 Inspector (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Inspector (Solo)')
2991 Homeroom English Teacher (Smp Sma)
INSERT INTO job_vacancies (title) VALUES ( 'Homeroom English Teacher (Smp Sma)')
2992 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
2993 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
2994 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
2995 Front End Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Programmer')
2996 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
2997 Staff Pembelian
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pembelian')
2998 Dies Correction Extrusion Aluminium
INSERT INTO job_vacancies (title) VALUES ( 'Dies Correction Extrusion Aluminium')
2999 It - Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It - Programmer')
3000 Automation Expert (Project)
INSERT INTO job_vacancies (title) VALUES ( 'Automation Expert (Project)')
3001 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
3002 Sales Engineer (Cutting Tool Product)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cutting Tool Product)')
3003 Staff Accounting (Cabang Daan Mogot)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting (Cabang Daan Mogot)')
3004 Spv Sales Suport B2B (Sistem Integrated)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Sales Suport B2B (Sistem Integrated)')
3005 Purchasing Staff - Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff - Mandarin Speaking')
3006 Agronomy Officer
INSERT INTO job_vacancies (title) VALUES ( 'Agronomy Officer')
3007 Product & Portfolio Management Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product & Portfolio Management Assistant Manager')
3008 Hr & Ga Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Assistant Manager')
3009 Finance And Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting Staff')
3010 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
3011 License Staff
INSERT INTO job_vacancies (title) VALUES ( 'License Staff')
3012 Regional Ccpl Acquisition Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Regional Ccpl Acquisition Team Leader')
3013 Water Treatment Plant Manager (Wtp)
INSERT INTO job_vacancies (title) VALUES ( 'Water Treatment Plant Manager (Wtp)')
3014 Secretary Of Digital Business Study Program
INSERT INTO job_vacancies (title) VALUES ( 'Secretary Of Digital Business Study Program')
3015 Cost Control Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Cost Control Specialist')
3016 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
3017 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
3018 Admin Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Admin Pajak')
3019 Mechanical & Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical & Electrical Engineer')
3020 It Development Intenship
INSERT INTO job_vacancies (title) VALUES ( 'It Development Intenship')
3021 Teknisi (Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi (Padang)')
3022 Security Warehouse (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Balikpapan)')
3023 E-Commerce Manager
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Manager')
3024 Hrga  ( Jakarta Utara )
INSERT INTO job_vacancies (title) VALUES ( 'Hrga  ( Jakarta Utara )')
3025 Interior Design & Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Interior Design & Content Creator')
3026 Sales Executive Packaging - Pe, Injection, Pvc
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Packaging - Pe, Injection, Pvc')
3027 Senior Rm Funding (Malang, Jember)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Rm Funding (Malang, Jember)')
3028 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
3029 Customer & Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Customer & Business Analyst')
3030 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
3031 Staff Collector Sibolga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Collector Sibolga')
3032 Medical Record & Resepsion
INSERT INTO job_vacancies (title) VALUES ( 'Medical Record & Resepsion')
3033 Cambridge English Teacher Primary
INSERT INTO job_vacancies (title) VALUES ( 'Cambridge English Teacher Primary')
3034 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
3035 Tax Dept Head
INSERT INTO job_vacancies (title) VALUES ( 'Tax Dept Head')
3036 Administrasi / Mrs Internship (Citeurep, Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi / Mrs Internship (Citeurep, Bogor)')
3037 Erp Implementor
INSERT INTO job_vacancies (title) VALUES ( 'Erp Implementor')
3038 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
3039 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
3040 It Quality Assurance Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Assurance Specialist')
3041 Operasional Risk Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Operasional Risk Supervisor')
3042 Sales Executive (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Bali)')
3043 Guru Sd-Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Guru Sd-Banjarmasin')
3044 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
3045 Cake Decorator
INSERT INTO job_vacancies (title) VALUES ( 'Cake Decorator')
3046 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
3047 It Quality Assurance Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Assurance Staff')
3048 Account Executive (Calibration)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Calibration)')
3049 Marketing Data Scientist (Karawaci)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Data Scientist (Karawaci)')

3050 Asisten Agronomi
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Agronomi')
3051 Restaurant Kitchen Crew  (Part Timer Pakuwon Mall ）
INSERT INTO job_vacancies (title) VALUES ( 'Restaurant Kitchen Crew  (Part Timer Pakuwon Mall ）')
3052 Staf Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi')
3053 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
3054 Accounting & Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Staff')
3055 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
3056 Digital Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Supervisor')
3057 Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager')
3058 Sales Manager Gallon - Makassar / Bangka Belitung (Cs2)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Gallon - Makassar / Bangka Belitung (Cs2)')
3059 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
3060 Business Development Executive – Floor Coating (Trading & Project)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive – Floor Coating (Trading & Project)')
3061 Hub Lead Shopee Express (Ternate, Maluku Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Ternate, Maluku Utara)')
3062 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
3063 Payroll Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Specialist')
3064 Funding Officer
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer')
3065 It Trainer
INSERT INTO job_vacancies (title) VALUES ( 'It Trainer')
3066 Assistant Manager Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Logistic')
3067 Store Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'Store Operational Manager')
3068 Customer Experience Officer (Jakarta Barat & Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Experience Officer (Jakarta Barat & Tangerang)')
3069 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
3070 Art Designer
INSERT INTO job_vacancies (title) VALUES ( 'Art Designer')
3071 Junior Consultant Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant Surabaya')
3072 Warehouse Officer Cum Translator
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Officer Cum Translator')
3073 Talent Host Livestreaming Tiktok Dan Model
INSERT INTO job_vacancies (title) VALUES ( 'Talent Host Livestreaming Tiktok Dan Model')
3074 Finance Ops Intern - Shopee Express (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Intern - Shopee Express (Pontianak)')
3075 Supervisor Leasing Casual Leasing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Leasing Casual Leasing')
3076 Marketing Promosi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Promosi')
3077 Griya Head Pelaihari (Kalimantan Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Pelaihari (Kalimantan Selatan)')
3078 Sales Admin Officer (Gt)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Officer (Gt)')
3079 Staff Tax (Staff External)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Tax (Staff External)')
3080 Foreman (Placement At Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Foreman (Placement At Surabaya)')
3081 It Programmer (Asp.Net /  C#)
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer (Asp.Net /  C#)')
3082 Store Manager
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager')
3083 Performance Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Performance Specialist')
3084 Animal Health
INSERT INTO job_vacancies (title) VALUES ( 'Animal Health')
3085 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
3086 Sales Motoris Pelumas (Area Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Motoris Pelumas (Area Jabodetabek)')
3087 Sales Precast
INSERT INTO job_vacancies (title) VALUES ( 'Sales Precast')
3088 Bancassurance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Staff')
3089 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
3090 Assembly Shop Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Assembly Shop Specialist')
3091 Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer')
3092 Account Receivable Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Staff')
3093 Data Science Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Science Analyst')
3094 Quantity Surveyor ( Qs Construction )
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor ( Qs Construction )')
3095 Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer')
3096 Field Collection (Js - Fc) Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Jakarta Utara')
3097 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
3098 Medical Store Attendant (Dki Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Store Attendant (Dki Jakarta)')
3099 Sales Merchant (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchant (Makassar)')
3100 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
3101 Senior Officer Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Senior Officer Product Development')
3102 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
3103 Project Controller
INSERT INTO job_vacancies (title) VALUES ( 'Project Controller')
3104 Senior Audit
INSERT INTO job_vacancies (title) VALUES ( 'Senior Audit')
3105 Technician Setting Machine
INSERT INTO job_vacancies (title) VALUES ( 'Technician Setting Machine')
3106 Hr & Ga Executive (Generalist)
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Executive (Generalist)')
3107 Financial Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor')
3108 Staff Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing')
3109 Trainer F&B
INSERT INTO job_vacancies (title) VALUES ( 'Trainer F&B')
3110 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
3111 Drafter Staff
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Staff')
3112 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
3113 Sortation Center Lead - Shopee Express (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Lead - Shopee Express (Palangkaraya)')
3114 Desain Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Desain Grafis')
3115 Store Coordinator (Area Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Store Coordinator (Area Jambi)')
3116 Air Freight Pic (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Air Freight Pic (Kendari)')
3117 Face To Face Fundraiser (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Face To Face Fundraiser (Yogyakarta)')
3118 Ib Myp Individuals And Societies Teacher (Iands)
INSERT INTO job_vacancies (title) VALUES ( 'Ib Myp Individuals And Societies Teacher (Iands)')
3119 Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable')
3120 Consultant – Cloud Infra Architect - Id
INSERT INTO job_vacancies (title) VALUES ( 'Consultant – Cloud Infra Architect - Id')
3121 Sales Head Otomotif Roda 4 ,Jawa Timur
INSERT INTO job_vacancies (title) VALUES ( 'Sales Head Otomotif Roda 4 ,Jawa Timur')
3122 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
3123 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
3124 System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer')
3125 Head Quality Control (Qc)
INSERT INTO job_vacancies (title) VALUES ( 'Head Quality Control (Qc)')
3126 English Teacher - I Can Read Gajah Mada
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher - I Can Read Gajah Mada')
3127 Junior Supervisor Digital Service Development
INSERT INTO job_vacancies (title) VALUES ( 'Junior Supervisor Digital Service Development')
3128 Sales Government (B2G)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Government (B2G)')
3129 Store Development Executive – Project Management
INSERT INTO job_vacancies (title) VALUES ( 'Store Development Executive – Project Management')
3130 Supervisor Tax Consultant - Corporate Division
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Tax Consultant - Corporate Division')
3131 Av Installation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Av Installation Engineer')
3132 Chef De Partie (Cdp)
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie (Cdp)')
3133 Business Development Senior Staff For Mobility Division
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Senior Staff For Mobility Division')
3134 Marketing Material Building
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Material Building')
3135 Product Operations Junior
INSERT INTO job_vacancies (title) VALUES ( 'Product Operations Junior')
3136 Marketing Officer - Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Kediri')
3137 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
3138 Staff Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Staff Operasional')
3139 Manager Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional')
3140 It Technical Support Engineer (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'It Technical Support Engineer (Balikpapan)')
3141 Support Cyber Security (User Access)
INSERT INTO job_vacancies (title) VALUES ( 'Support Cyber Security (User Access)')
3142 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
3143 Telesales
INSERT INTO job_vacancies (title) VALUES ( 'Telesales')
3144 Mechanic | Tunas Bmw
INSERT INTO job_vacancies (title) VALUES ( 'Mechanic | Tunas Bmw')
3145 Sales Commercial Industry - Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Industry - Sidoarjo')
3146 Sales Learning Partner
INSERT INTO job_vacancies (title) VALUES ( 'Sales Learning Partner')
3147 Social Media Specialist - Kompas.Com Solo
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist - Kompas.Com Solo')
3148 Officer Sales Support (Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Officer Sales Support (Bogor)')
3149 Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Estimator')
3150 Area Manager (Area Jawa Tengah & Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager (Area Jawa Tengah & Jawa Timur)')
3151 Warehouse Supervisor - Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor - Mandarin Speaking')
3152 Spg  /  Sa Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Spg  /  Sa Palembang')
3153 Product Designer
INSERT INTO job_vacancies (title) VALUES ( 'Product Designer')
3154 Regulatory Affairs Officer (Kalbe Group)
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Affairs Officer (Kalbe Group)')
3155 Hrd Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Manager')
3156 Hrd（Administrative Officer）
INSERT INTO job_vacancies (title) VALUES ( 'Hrd（Administrative Officer）')
3157 It Compliance Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Compliance Specialist')
3158 Senior Mekanik Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mekanik Alat Berat')
3159 Mandarin Translator (Admin Penerjemah Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator (Admin Penerjemah Mandarin)')
3160 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
3161 Supervisor It
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor It')
3162 Welder
INSERT INTO job_vacancies (title) VALUES ( 'Welder')
3163 Rider Team Lead Shopee Express - Hub Mentok (Kab. Bangka Barat, Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Mentok (Kab. Bangka Barat, Bangka Belitung)')
3164 Relationship Manager Batam (Retail Banking)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Batam (Retail Banking)')
3165 Staff B2B
INSERT INTO job_vacancies (title) VALUES ( 'Staff B2B')
3166 Staff Sales
INSERT INTO job_vacancies (title) VALUES ( 'Staff Sales')
3167 Document Controller
INSERT INTO job_vacancies (title) VALUES ( 'Document Controller')
3168 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
3169 Service Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Service Advisor')
3170 Problem Account (Pa) Medan
INSERT INTO job_vacancies (title) VALUES ( 'Problem Account (Pa) Medan')
3171 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
3172 Finance & Accounting Junior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Junior Manager')
3173 Account Manager - Modern Channel
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager - Modern Channel')
3174 Claim Junior Manager For Treaty
INSERT INTO job_vacancies (title) VALUES ( 'Claim Junior Manager For Treaty')
3175 Field Collector Coordinator (Surabaya Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Coordinator (Surabaya Area)')
3176 Expert - Pulp Dryer
INSERT INTO job_vacancies (title) VALUES ( 'Expert - Pulp Dryer')
3177 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
3178 Rider Team Lead Shopee Express - Hub Jebus (Kab. Bangka Barat, Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Jebus (Kab. Bangka Barat, Bangka Belitung)')
3179 Sortation Center Lead - Shopee Express (Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Lead - Shopee Express (Aceh)')
3180 Store Management & Engagement​ (Indramayu)
INSERT INTO job_vacancies (title) VALUES ( 'Store Management & Engagement​ (Indramayu)')
3181 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
3182 Analyst - Business Intelligence
INSERT INTO job_vacancies (title) VALUES ( 'Analyst - Business Intelligence')
3183 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
3184 Social Studies Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Social Studies Teacher')
3185 Instore Executive
INSERT INTO job_vacancies (title) VALUES ( 'Instore Executive')
3186 It Developer Officer ( Programmer )
INSERT INTO job_vacancies (title) VALUES ( 'It Developer Officer ( Programmer )')
3187 Senior Cook (Catering Rumah Sakit Ambon)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Cook (Catering Rumah Sakit Ambon)')
3188 Store Manager (Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Jambi)')
3189 Management Representative
INSERT INTO job_vacancies (title) VALUES ( 'Management Representative')
3190 Sales Executive - Computer (Pc) Accessories (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Computer (Pc) Accessories (Pekanbaru)')
3191 Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer')
3192 Sales Officer - Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer - Jawa Tengah')
3193 Procurement  /  Purchasing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement  /  Purchasing Officer')
3194 Marketing Staff (Japanese Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff (Japanese Speaker)')
3195 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
3196 Collector - Cimahi
INSERT INTO job_vacancies (title) VALUES ( 'Collector - Cimahi')
3197 Sous Chef
INSERT INTO job_vacancies (title) VALUES ( 'Sous Chef')
3198 Physics Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Physics Teachers')
3199 Marketing ( Heavy Equipment Dan Trucking )
INSERT INTO job_vacancies (title) VALUES ( 'Marketing ( Heavy Equipment Dan Trucking )')
3200 Staf Akunting Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staf Akunting Pajak')
3201 Tax And Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax And Accounting Supervisor')
3202 Operator Gudang Bahan Baku
INSERT INTO job_vacancies (title) VALUES ( 'Operator Gudang Bahan Baku')
3203 Instrument Engineer Power Plant ( Ie )
INSERT INTO job_vacancies (title) VALUES ( 'Instrument Engineer Power Plant ( Ie )')
3204 Airfreight Pic (Ambon)
INSERT INTO job_vacancies (title) VALUES ( 'Airfreight Pic (Ambon)')
3205 Sales Commercial Industry - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Industry - Jakarta')
3206 Sales Trading (Farmasi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Trading (Farmasi)')
3207 Freelance Phone Verification
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Phone Verification')
3208 Supervisor Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic')
3209 Admin Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Admin Warehouse')
3210 Admin Support Cabang Medan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support Cabang Medan')
3211 Dispatcher Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Dispatcher Supervisor')
3212 Tax Pbb
INSERT INTO job_vacancies (title) VALUES ( 'Tax Pbb')
3213 Cloud Architect
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Architect')
3214 Tac Internet
INSERT INTO job_vacancies (title) VALUES ( 'Tac Internet')
3215 Kepala Divisi Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Divisi Produksi')
3216 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
3217 Staf Administrasi Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi Keuangan')
3218 Import Officer
INSERT INTO job_vacancies (title) VALUES ( 'Import Officer')
3219 Marketing Representative Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Representative Officer')
3220 Marketing Officer - Jawa Timur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Jawa Timur')
3221 Junior Linux System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Junior Linux System Administrator')
3222 Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Estimator')
3223 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
3224 Senior Sales B2B
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales B2B')
3225 Senior Researcher Electronics
INSERT INTO job_vacancies (title) VALUES ( 'Senior Researcher Electronics')
3226 Hr & Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Legal Manager')
3227 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
3228 English Translator (Contract, Kelapa Gading, Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'English Translator (Contract, Kelapa Gading, Jakarta Utara)')
3229 Head Finance Accounting Asisten Direktur Head Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Head Finance Accounting Asisten Direktur Head Marketing')
3230 Export Import (Exim) Operational
INSERT INTO job_vacancies (title) VALUES ( 'Export Import (Exim) Operational')
3231 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')

3232 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
3233 Civil Construction Expert
INSERT INTO job_vacancies (title) VALUES ( 'Civil Construction Expert')
3234 Engineer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Staff')
3235 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
3236 Senior Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff Accounting')
3237 It Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Assurance')
3238 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
3239 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
3240 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
3241 Hr Admin (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Admin (Mandarin)')
3242 Digital Strategy Officer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Strategy Officer')
3243 Project Management Control
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Control')
3244 Relationship Manager Kc Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Kc Balikpapan')
3245 Supervisor Sales
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales')
3246 Civil Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Civil Supervisor')
3247 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
3248 Membership Administrator Spesialist
INSERT INTO job_vacancies (title) VALUES ( 'Membership Administrator Spesialist')
3249 Hr & Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Legal Manager')
3250 Qc Process Control Monitoring
INSERT INTO job_vacancies (title) VALUES ( 'Qc Process Control Monitoring')
3251 Instructor
INSERT INTO job_vacancies (title) VALUES ( 'Instructor')
3252 Junior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Software Engineer')
3253 Teaching Assistant Mechatronics
INSERT INTO job_vacancies (title) VALUES ( 'Teaching Assistant Mechatronics')
3254 Back End Developer (Golang)
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer (Golang)')
3255 Marketing Support / Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Support / Sales Admin')
3256 Core System Development (Functional) Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Core System Development (Functional) Supervisor')
3257 Foreman Service & Maintenance Diesel Engine
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Service & Maintenance Diesel Engine')
3258 Backend Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineering')
3259 Learning Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Learning Development Supervisor')
3260 Kepala Gudang Benang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang Benang')
3261 Staf Administrasi (Admin)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi (Admin)')
3262 Marketing Verification Officer (Js - Mvo) Palopo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Palopo')
3263 Supervisor Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting')
3264 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
3265 Support System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Support System Administrator')
3266 People Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'People Development Supervisor')
3267 Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal')
3268 (Jv2112007) Account Officer  Sales - Lampung
INSERT INTO job_vacancies (title) VALUES ( '(Jv2112007) Account Officer  Sales - Lampung')
3269 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
3270 Project Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Project Supervisor')
3271 Marketing Executive (For Mineral Metal & Petrochem)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive (For Mineral Metal & Petrochem)')
3272 Cluster Financial Controller
INSERT INTO job_vacancies (title) VALUES ( 'Cluster Financial Controller')
3273 Head Pastry
INSERT INTO job_vacancies (title) VALUES ( 'Head Pastry')
3274 Employee Benefit Specialist (Group Insurance Products)
INSERT INTO job_vacancies (title) VALUES ( 'Employee Benefit Specialist (Group Insurance Products)')
3275 Credit Marketing Officer - Karawang & Purwakarta
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Karawang & Purwakarta')
3276 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
3277 Sr. Engineering Solutions Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Engineering Solutions Engineer')
3278 Waitress Waiter Server Barista Bar
INSERT INTO job_vacancies (title) VALUES ( 'Waitress Waiter Server Barista Bar')
3279 Talent Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition')
3280 Personal Assistant & Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant & Content Creator')
3281 Air Freight Pic (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Air Freight Pic (Balikpapan)')
3282 Field Collection (Js - Fc) Cibubur
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cibubur')
3283 Bancassurance Consultant - (Muara Bungo)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Consultant - (Muara Bungo)')
3284 Junior Tax Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Junior Tax Consultant')
3285 Engineering Solutions Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Solutions Engineer')
3286 Field Collection (Js - Fc) Cempaka Mas
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cempaka Mas')
3287 Sales Commercial Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Officer')
3288 Assistant Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Operational Manager')
3289 Business Executive (Sales Wilayah Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive (Sales Wilayah Yogyakarta)')
3290 Business Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Manager')
3291 Textiles Sales Respresentative (Area Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Textiles Sales Respresentative (Area Bandung)')
3292 Marketing & Verification Officer (Js - Mvo) Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Banjarmasin')
3293 System Architect (Project Based)
INSERT INTO job_vacancies (title) VALUES ( 'System Architect (Project Based)')
3294 Senior Tax Acounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Acounting')
3295 Operation Handling Emkl
INSERT INTO job_vacancies (title) VALUES ( 'Operation Handling Emkl')
3296 Brand, Content  & Marketing Digital
INSERT INTO job_vacancies (title) VALUES ( 'Brand, Content  & Marketing Digital')
3297 Interpreter
INSERT INTO job_vacancies (title) VALUES ( 'Interpreter')
3298 Homeroom Teacher  (Preschool & Kindergarten)
INSERT INTO job_vacancies (title) VALUES ( 'Homeroom Teacher  (Preschool & Kindergarten)')
3299 Staff Distribusi / Wholesale (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Distribusi / Wholesale (Mandarin)')
3300 Admin Pembelian  /  Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Pembelian  /  Purchasing')
3301 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
3302 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
3303 Physics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Physics Teacher')
3304 Senior Sales Project (Asp)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Project (Asp)')
3305 Assistant Manager, Reporting & Budgeting
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager, Reporting & Budgeting')
3306 Corporate Communication
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Communication')
3307 Stockman (Ds Tasikmalaya)
INSERT INTO job_vacancies (title) VALUES ( 'Stockman (Ds Tasikmalaya)')
3308 Recovery Manager (Area Area Banten, Jawa Barat, Jadetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Manager (Area Area Banten, Jawa Barat, Jadetabek)')
3309 Project Control Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Control Manager')
3310 Head Of Online Channel
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Online Channel')
3311 Engineering Staff
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Staff')
3312 Qc Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff')
3313 Mold Management Lead Footwear Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Mold Management Lead Footwear Specialist')
3314 It - Cloud Administrator (Ca)
INSERT INTO job_vacancies (title) VALUES ( 'It - Cloud Administrator (Ca)')
3315 Finance Accounting Tax Supervisor - (For Eye Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Tax Supervisor - (For Eye Indonesia)')
3316 Accounting Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Section Head')
3317 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
3318 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
3319 Sales  /  Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales  /  Marketing')
3320 Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Interior Design')
3321 Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor')
3322 Social Media & E-Commerce Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media & E-Commerce Specialist')
3323 Akuntan (Accounting Assistant)
INSERT INTO job_vacancies (title) VALUES ( 'Akuntan (Accounting Assistant)')
3324 Functional Consultant (It Implementor)
INSERT INTO job_vacancies (title) VALUES ( 'Functional Consultant (It Implementor)')
3325 Staff Store (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Store (Jabodetabek)')
3326 (Jv2108005) Account Officer - Sales - Manado
INSERT INTO job_vacancies (title) VALUES ( '(Jv2108005) Account Officer - Sales - Manado')
3327 Science Tutor
INSERT INTO job_vacancies (title) VALUES ( 'Science Tutor')
3328 Sales Counter (Spg / Spb)  Manado
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb)  Manado')
3329 Product System Specialist (Warehouse) - Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Product System Specialist (Warehouse) - Mandarin Speaking')
3330 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
3331 Science Teacher (Part-Time)
INSERT INTO job_vacancies (title) VALUES ( 'Science Teacher (Part-Time)')
3332 Kepala Cabang (Koperasi) Area Sidenreng Rappang - Sidrap
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Sidenreng Rappang - Sidrap')
3333 Ppic Supervisor - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor - Samarinda')
3334 Water Treatment Manager
INSERT INTO job_vacancies (title) VALUES ( 'Water Treatment Manager')
3335 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
3336 Sales  /  Marketing (Area Kalimantan Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Sales  /  Marketing (Area Kalimantan Tengah)')
3337 Accounting Claim
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Claim')
3338 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
3339 Kepala Departemen Mcu (Medical Check Up)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Departemen Mcu (Medical Check Up)')
3340 Operator Mesin Cetak Digital Printing (Outdoor)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Mesin Cetak Digital Printing (Outdoor)')
3341 Technical Support (Civil Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support (Civil Engineer)')
3342 Pricing And Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Pricing And Procurement')
3343 Course Consultant  /  Sales (Ef Pamulang)
INSERT INTO job_vacancies (title) VALUES ( 'Course Consultant  /  Sales (Ef Pamulang)')
3344 It - Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'It - Application Developer')
3345 Pre Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Pre Sales Manager')
3346 Construction Supervisor (Site Based)
INSERT INTO job_vacancies (title) VALUES ( 'Construction Supervisor (Site Based)')
3347 Sales & Marketing Digital
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Digital')
3348 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
3349 Site Acquisition Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Site Acquisition Supervisor')
3350 Ipran Technical Engineer (Telecommunication Company)
INSERT INTO job_vacancies (title) VALUES ( 'Ipran Technical Engineer (Telecommunication Company)')
3351 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
3352 Guru Dan Staff Sekolah Global Mandiri
INSERT INTO job_vacancies (title) VALUES ( 'Guru Dan Staff Sekolah Global Mandiri')
3353 Asst Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Asst Marketing Manager')
3354 Project Architect (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Project Architect (Medan)')
3355 Actuary Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Actuary Assistant Manager')
3356 Siemens Commercial Apprenticeship Asean Program (Capap) 2022
INSERT INTO job_vacancies (title) VALUES ( 'Siemens Commercial Apprenticeship Asean Program (Capap) 2022')
3357 Data Center Operation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Data Center Operation Specialist')
3358 Assistant Controller
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Controller')
3359 Soundman
INSERT INTO job_vacancies (title) VALUES ( 'Soundman')
3360 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
3361 Financial Risk Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Financial Risk Supervisor')
3362 Retail Sales Representative (Ketapang)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Sales Representative (Ketapang)')
3363 Junior Tax Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Junior Tax Consultant')
3364 Guru Ppkn
INSERT INTO job_vacancies (title) VALUES ( 'Guru Ppkn')
3365 2Nd Level Engineer (Data Center)
INSERT INTO job_vacancies (title) VALUES ( '2Nd Level Engineer (Data Center)')
3366 Trainee  (Linux  /  Devops  /  Database System Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Trainee  (Linux  /  Devops  /  Database System Engineer)')
3367 Corporate Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary')
3368 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
3369 Enterprise Planning Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Planning Engineering')
3370 Account Receivable
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable')
3371 Field Sales Officer (Tangerang Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Officer (Tangerang Area)')
3372 Remittance
INSERT INTO job_vacancies (title) VALUES ( 'Remittance')
3373 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
3374 Crewing Assistant Manager (Att I)
INSERT INTO job_vacancies (title) VALUES ( 'Crewing Assistant Manager (Att I)')
3375 Area Sales Supervisor - Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Kalimantan')
3376 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
3377 Leasing Manager 招商经理
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Manager 招商经理')
3378 Staf Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staf Logistik')
3379 National Data & Forecast Section Head
INSERT INTO job_vacancies (title) VALUES ( 'National Data & Forecast Section Head')
3380 Mitra Expert Solubis
INSERT INTO job_vacancies (title) VALUES ( 'Mitra Expert Solubis')
3381 Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer')
3382 Graphic Designer (Internship Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Internship Magang)')
3383 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
3384 Senior Strategic Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Senior Strategic Partnership')
3385 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
3386 Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support')
3387 Merchandiser  /  Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser  /  Product Specialist')
3388 Tehnisi Listrik
INSERT INTO job_vacancies (title) VALUES ( 'Tehnisi Listrik')
3389 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
3390 Animator
INSERT INTO job_vacancies (title) VALUES ( 'Animator')
3391 Rider Team Lead Shopee Express - Banjarsari (Kab. Ciamis)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Banjarsari (Kab. Ciamis)')
3392 Sales And Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Staff')
3393 Sales Head Direct - Tarakan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Head Direct - Tarakan')
3394 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
3395 Admin Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Import Staff')
3396 Teknisi Hp Daan Mogot
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Hp Daan Mogot')
3397 Devops Engineer (For Kincir.Com)
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer (For Kincir.Com)')
3398 Cloud Solution Architect (Fresh Graduate)
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Solution Architect (Fresh Graduate)')
3399 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
3400 Central Kitchen Head
INSERT INTO job_vacancies (title) VALUES ( 'Central Kitchen Head')
3401 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
3402 Kepala Gudang ( Bandung )
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang ( Bandung )')
3403 Strategy Management Kg Media
INSERT INTO job_vacancies (title) VALUES ( 'Strategy Management Kg Media')
3404 International Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'International Business Development Executive')
3405 Marketing Communication (Event  /  Store Activities For Branding Purposes)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication (Event  /  Store Activities For Branding Purposes)')
3406 Senior System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior System Engineer')
3407 Telemarketing / Customer Service Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing / Customer Service Marketing Property')
3408 Asisten Produksi (Ekspor Garmen)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Produksi (Ekspor Garmen)')
3409 Marketing Mesin Industri & Barang Produk Plastik
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Mesin Industri & Barang Produk Plastik')
3410 Php Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Php Programmer')
3411 Guru Sekolah Dasar & Menengah Pertama
INSERT INTO job_vacancies (title) VALUES ( 'Guru Sekolah Dasar & Menengah Pertama')
3412 Supply Chain Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Supervisor')
3413 Pattern Maker
INSERT INTO job_vacancies (title) VALUES ( 'Pattern Maker')
3414 Digital Marketing Analyst Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Analyst Manager')
3415 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
3416 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
3417 Enterprise Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Sales Manager')
3418 Kepala Cabang (Koperasi) Area Indramayu, Subang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Indramayu, Subang')
3419 Sales Executive  Sales Keliling - Se & Technical Sales - Ts) Ceramics Tableware

3434 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
3435 Electrical - Instrumentation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Electrical - Instrumentation Manager')
3436 English - Indonesian Translator (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'English - Indonesian Translator (Yogyakarta)')
3437 Koordinator Dosen Bahasa Inggris Makasar (Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Dosen Bahasa Inggris Makasar (Sulawesi Selatan)')
3438 Area Sales Development Supervisor (Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Development Supervisor (Cirebon)')
3439 Field Account Consultant - Penempatan Jakarta Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Penempatan Jakarta Selatan')
3440 Technical Support (Software)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support (Software)')
3441 Salesman Digital Printing - Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Digital Printing - Jawa Barat')
3442 Technical Sales Representatives
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Representatives')
3443 Math Instructor (Eye Level Tegal Serayu)
INSERT INTO job_vacancies (title) VALUES ( 'Math Instructor (Eye Level Tegal Serayu)')
3444 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
3445 Maintenance Technician
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Technician')
3446 Qc Supervisor (Dumai Based)
INSERT INTO job_vacancies (title) VALUES ( 'Qc Supervisor (Dumai Based)')
3447 Corporate Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Marketing')
3448 Asst. Manager Store - Penempatan Jawa Dan Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Asst. Manager Store - Penempatan Jawa Dan Kalimantan')
3449 Geography Teacher For Secondary (Igcse) & Adv. Secondary (A Level)
INSERT INTO job_vacancies (title) VALUES ( 'Geography Teacher For Secondary (Igcse) & Adv. Secondary (A Level)')
3450 Tiktok Operation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tiktok Operation Specialist')
3451 Finance Reporting Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Finance Reporting Section Head')
3452 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
3453 Teknisi Asrs (Automated Storage And Retrieval System)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Asrs (Automated Storage And Retrieval System)')
3454 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
3455 Sales Alat Kesehatan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Alat Kesehatan')
3456 Kepala Cabang (Koperasi) Area Kuningan, Majalengka
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Kuningan, Majalengka')
3457 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
3458 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
3459 Marketing Verification Officer (Js - Mvo) Jember
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Jember')
3460 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
3461 Admin E-Commers
INSERT INTO job_vacancies (title) VALUES ( 'Admin E-Commers')
3462 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
3463 Salesman Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Cirebon')
3464 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
3465 System Analyst (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst (Balikpapan)')
3466 Quality Control ( Building Construction )
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control ( Building Construction )')
3467 Sales (Sales Engineering)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Sales Engineering)')
3468 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
3469 Mechanical Electrical Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical Supervisor')
3470 Senior Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Senior Content Creator')
3471 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
3472 Marketing Freight & Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Freight & Forwarding')
3473 Cashier
INSERT INTO job_vacancies (title) VALUES ( 'Cashier')
3474 Estimator Mep
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Mep')
3475 Back End Developer Internship
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer Internship')
3476 Import Procurement  /  Purchasing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Import Procurement  /  Purchasing Supervisor')
3477 Accounting & Pajak Spv
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Pajak Spv')
3478 Marketing Agency (Sidoarjo)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency (Sidoarjo)')
3479 Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Support')
3480 Emerging Business Relationship Manager (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Emerging Business Relationship Manager (Bandung)')
3481 Finance Officer - Mega Town Square Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Finance Officer - Mega Town Square Palangkaraya')
3482 Intern - Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Intern - Accounting & Finance')
3483 Merchandise Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Merchandise Supervisor')
3484 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
3485 Product Operations - Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Product Operations - Shopee Express (Sunter)')
3486 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
3487 Market Survey
INSERT INTO job_vacancies (title) VALUES ( 'Market Survey')
3488 Merchant Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Merchant Acquisition')
3489 Training & Development Specialist (Retail)
INSERT INTO job_vacancies (title) VALUES ( 'Training & Development Specialist (Retail)')
3490 Maintenance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Manager')
3491 Music Teacher (For Inclusion Class)
INSERT INTO job_vacancies (title) VALUES ( 'Music Teacher (For Inclusion Class)')
3492 Hr Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment Specialist')
3493 Head Of Medical Services Development
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Medical Services Development')
3494 Admin Spareparts
INSERT INTO job_vacancies (title) VALUES ( 'Admin Spareparts')
3495 Marketing Verification Officer (Js - Mvo) - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) - Palangkaraya')
3496 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
3497 Middle Mile Air / Sea Transportation Planner Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Air / Sea Transportation Planner Supervisor - Shopee Express')
3498 Master Teacher Brain Academy Purwokerto
INSERT INTO job_vacancies (title) VALUES ( 'Master Teacher Brain Academy Purwokerto')
3499 Assistant Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Project Manager')
3500 Sales Executive (Bakery Machinery)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Bakery Machinery)')
3501 Online Education - Platform Pm
INSERT INTO job_vacancies (title) VALUES ( 'Online Education - Platform Pm')
3502 Product Owner (Project Based)
INSERT INTO job_vacancies (title) VALUES ( 'Product Owner (Project Based)')
3503 Staff Akuntansi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akuntansi')
3504 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
3505 Accounting Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Finance Supervisor')
3506 Relationship Officer - Penempatan Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Jakarta Timur')
3507 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
3508 It-Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'It-Technical Support')
3509 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
3510 Crewing Recruitment Executive (Att)
INSERT INTO job_vacancies (title) VALUES ( 'Crewing Recruitment Executive (Att)')
3511 Partnership Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Specialist')
3512 Internship Business Process
INSERT INTO job_vacancies (title) VALUES ( 'Internship Business Process')
3513 Technician (Ketapang-Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Technician (Ketapang-Kalimantan Barat)')
3514 Cashier - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Cashier - Balikpapan')
3515 General Affair & Security Officer
INSERT INTO job_vacancies (title) VALUES ( 'General Affair & Security Officer')
3516 Account Receivable Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Staff')
3517 Expert Mechanical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Expert Mechanical Engineer')
3518 Marketing Communication Internship
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Internship')
3519 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
3520 Sales Assistant For Project Management
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant For Project Management')
3521 Project Management Officer Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Officer Specialist')
3522 Supervisor Produksi Coating Farmasi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi Coating Farmasi')
3523 Accounting Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Finance Supervisor')
3524 Chef De Partie (Hot  /  Pastry)
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie (Hot  /  Pastry)')
3525 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
3526 Marketing & Verification Officer (Js - Mvo) Nganjuk
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Nganjuk')
3527 Sales Automotive (Car Manufacture - Oem)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Automotive (Car Manufacture - Oem)')
3528 Development & Administration Support
INSERT INTO job_vacancies (title) VALUES ( 'Development & Administration Support')
3529 Salesforce Delivery Manager
INSERT INTO job_vacancies (title) VALUES ( 'Salesforce Delivery Manager')
3530 Teknisi Air Purifier & Water Purifier
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Air Purifier & Water Purifier')
3531 Recovery Mobil - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Mobil - Pekanbaru')
3532 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
3533 Sales Supervisor Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Pekanbaru')
3534 Staff Desain Produk
INSERT INTO job_vacancies (title) VALUES ( 'Staff Desain Produk')
3535 Etl Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Etl Data Engineer')
3536 Warehouse Admin
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin')
3537 Sales Manager (For Ansvia - Based On Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (For Ansvia - Based On Yogyakarta)')
3538 Marketing Communications Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communications Executive')
3539 Barista (Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Barista (Bengkulu)')
3540 Rider Team Lead Shopee Express - Hub Sintang (Kab. Sintang, Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Sintang (Kab. Sintang, Kalimantan Barat)')
3541 Math Teacher Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Math Teacher Trainer')
3542 Beauty Consultant (Puri Indah)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Consultant (Puri Indah)')
3543 Power Planning & Design (Telco Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Power Planning & Design (Telco Industry)')
3544 External Relations
INSERT INTO job_vacancies (title) VALUES ( 'External Relations')
3545 Secondary School Principal
INSERT INTO job_vacancies (title) VALUES ( 'Secondary School Principal')
3546 Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Administrator')
3547 Sales Assistant Fashion Event (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant Fashion Event (Medan)')
3548 It Support (Networking)
INSERT INTO job_vacancies (title) VALUES ( 'It Support (Networking)')
3549 Qc Staff- Food Manufacture
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff- Food Manufacture')
3550 Admin Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Admin Hrd')
3551 Science / Physics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Science / Physics Teacher')
3552 Sales Supervisor Luwuk Banggai
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Luwuk Banggai')
3553 Marketing Coordinator Ef English First Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Coordinator Ef English First Tangerang')
3554 Digital Advertiser - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Digital Advertiser - Jakarta')
3555 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
3556 Collector  - Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Collector  - Tegal')
3557 Business Development Manager For Aidc, Barcode, Rfid & Iot Product
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager For Aidc, Barcode, Rfid & Iot Product')
3558 Onsite Engineer (Ccnp) - Project Based
INSERT INTO job_vacancies (title) VALUES ( 'Onsite Engineer (Ccnp) - Project Based')
3559 Area Business Manager (Sumatera Utara, Pekanbaru, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Area Business Manager (Sumatera Utara, Pekanbaru, Riau)')
3560 Chemistry Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Chemistry Teacher')
3561 Sales Executive (Industrial Instrumentation & Process Controls)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Industrial Instrumentation & Process Controls)')
3562 Administration Head
INSERT INTO job_vacancies (title) VALUES ( 'Administration Head')
3563 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
3564 Bim Manager
INSERT INTO job_vacancies (title) VALUES ( 'Bim Manager')
3565 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
3566 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
3567 Junior Advertiser
INSERT INTO job_vacancies (title) VALUES ( 'Junior Advertiser')
3568 Credit Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer')
3569 Branch Manager Roda Dua - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Roda Dua - Jabodetabek')
3570 Qc  Manager (Perusahaan Kosmetik)
INSERT INTO job_vacancies (title) VALUES ( 'Qc  Manager (Perusahaan Kosmetik)')
3571 Pre-Sales - Professional Service
INSERT INTO job_vacancies (title) VALUES ( 'Pre-Sales - Professional Service')
3572 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
3573 Building Architect
INSERT INTO job_vacancies (title) VALUES ( 'Building Architect')
3574 Account Receivable Specialist - Pt Lippo Malls Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Specialist - Pt Lippo Malls Indonesia')
3575 Marketing Verification Officer (Js - Mvo) Malang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Malang')
3576 Network Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Network Analyst')
3577 Hrga & Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrga & Legal Manager')
3578 Middle Mile Land Transportation Planner Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Land Transportation Planner Supervisor - Shopee Express')
3579 Chef Pastry
INSERT INTO job_vacancies (title) VALUES ( 'Chef Pastry')
3580 Sales Associate Store Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate Store Semarang')
3581 Financial Plan & Analyst Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Financial Plan & Analyst Assistant Manager')
3582 Marketing Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Assistant')
3583 Web Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Web Development Specialist')
3584 Supervisor Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting & Tax')
3585 Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Manager')
3586 Field Collection (Js - Fc) Ciputat
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Ciputat')
3587 Warehouse & Delivery Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Delivery Supervisor')
3588 Sales Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Sales Data Analyst')
3589 Staff Administrasi (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi (Surabaya)')
3590 Safety Officer
INSERT INTO job_vacancies (title) VALUES ( 'Safety Officer')
3591 Qa /  Qc Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qa /  Qc Supervisor')
3592 Export Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Export Import Staff')
3593 Trainer Product (Product Specialist) - Roxy, Jakarta Pusat
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Product (Product Specialist) - Roxy, Jakarta Pusat')
3594 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
3595 Employee Benefit (Direct Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Employee Benefit (Direct Sales)')
3596 Roll Shop (Guide Shop)
INSERT INTO job_vacancies (title) VALUES ( 'Roll Shop (Guide Shop)')
3597 Product Spesialist It
INSERT INTO job_vacancies (title) VALUES ( 'Product Spesialist It')
3598 Vacation Planner  - Tagalog Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Vacation Planner  - Tagalog Speaking')
3599 Property Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Property Sales Executive')
3600 Senior Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance Accounting')
3601 Akuntan
INSERT INTO job_vacancies (title) VALUES ( 'Akuntan')
3602 Product Designer
INSERT INTO job_vacancies (title) VALUES ( 'Product Designer')
3603 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')

3604 Business Executive (Sales Wilayah Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive (Sales Wilayah Solo)')
3605 Cme Engineer - Maluku
INSERT INTO job_vacancies (title) VALUES ( 'Cme Engineer - Maluku')
3606 Sekretariat Ceo
INSERT INTO job_vacancies (title) VALUES ( 'Sekretariat Ceo')
3607 Senior Web Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Application Developer')
3608 Growth Marketing Manager (Getplus.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Growth Marketing Manager (Getplus.Id)')
3609 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
3610 Secondary Principal
INSERT INTO job_vacancies (title) VALUES ( 'Secondary Principal')
3611 Marketing Properti Pesona Remboelan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Properti Pesona Remboelan')
3612 Quality Control  /  Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control  /  Assurance')
3613 It Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Application Developer')
3614 Faculty Member - Global Business Marketing Program
INSERT INTO job_vacancies (title) VALUES ( 'Faculty Member - Global Business Marketing Program')
3615 Credit Life Policy Admin Support - Outourcing
INSERT INTO job_vacancies (title) VALUES ( 'Credit Life Policy Admin Support - Outourcing')
3616 It Security Infrastructure
INSERT INTO job_vacancies (title) VALUES ( 'It Security Infrastructure')
3617 Budgeting & Event Admin Sect. Head
INSERT INTO job_vacancies (title) VALUES ( 'Budgeting & Event Admin Sect. Head')
3618 Kepala Pos - Pangkep
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Pangkep')
3619 Property Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Property Sales Executive')
3620 Digital Marketing Oficer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Oficer')
3621 Sap Hcm Successfactors Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Hcm Successfactors Consultant')
3622 Sales Executive - Home Appliances (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Solo)')
3623 Sales Led Dan Electrical Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Led Dan Electrical Surabaya')
3624 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
3625 Marketing Communication Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Assistant Manager')
3626 Mandarin Officer (Mandarin Mandatory)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Officer (Mandarin Mandatory)')
3627 General Manager Coconut Manufacture
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Coconut Manufacture')
3628 Finance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Assistant Manager')
3629 Payroll Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Specialist')
3630 Assistant Manager Hr
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Hr')
3631 It Security Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Security Specialist')
3632 Field Collector Support (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Support (Semarang)')
3633 Card Loan Officer (Clo) Penempatan Transmart Kupang
INSERT INTO job_vacancies (title) VALUES ( 'Card Loan Officer (Clo) Penempatan Transmart Kupang')
3634 Channel Policy & Performance Monitoring Manager
INSERT INTO job_vacancies (title) VALUES ( 'Channel Policy & Performance Monitoring Manager')
3635 Dealer Consultant Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Dealer Consultant Jabodetabek')
3636 Marketing Creative Lead
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Creative Lead')
3637 Staff Admin Perpajakan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Perpajakan')
3638 Club Service Manager
INSERT INTO job_vacancies (title) VALUES ( 'Club Service Manager')
3639 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
3640 Business Development Rental
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Rental')
3641 Site Manager
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager')
3642 Field Collection (Js -Fc) Bandengan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js -Fc) Bandengan')
3643 Human Resources Administration (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Administration (Jakarta)')
3644 Sales Engineer For Chemical (Marketing  /  Sales Kimia)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer For Chemical (Marketing  /  Sales Kimia)')
3645 Area Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager')
3646 Ui  /  Ux  ( Web And Mobile App)
INSERT INTO job_vacancies (title) VALUES ( 'Ui  /  Ux  ( Web And Mobile App)')
3647 Medical Representative (Sales & Marketing Farmasi) Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Sales & Marketing Farmasi) Jawa Tengah')
3648 Sales Executive For Retail
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive For Retail')
3649 Relationship Officer - Penempatan Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Jakarta Utara')
3650 Purchasing Officer - Lippo Plaza Jogja
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer - Lippo Plaza Jogja')
3651 Assistant To Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant To Product Manager')
3652 Manager, Digital Content
INSERT INTO job_vacancies (title) VALUES ( 'Manager, Digital Content')
3653 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
3654 Head Of School Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Head Of School Secretary')
3655 Learning Content Designer
INSERT INTO job_vacancies (title) VALUES ( 'Learning Content Designer')
3656 Child Psychologist For Playfield Kemang, South Jakarta. (Academic Year 2022 / 2023)
INSERT INTO job_vacancies (title) VALUES ( 'Child Psychologist For Playfield Kemang, South Jakarta. (Academic Year 2022 / 2023)')
3657 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
3658 Maintenance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Engineer')
3659 Spv Pr & Marcomm (Beauty & Care)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Pr & Marcomm (Beauty & Care)')
3660 Tour Guide
INSERT INTO job_vacancies (title) VALUES ( 'Tour Guide')
3661 Sales Marketing Executive And Senior Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive And Senior Marketing Executive')
3662 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
3663 Kitchen Crew - Japanese Restaurant Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Kitchen Crew - Japanese Restaurant Samarinda')
3664 Social Media Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Strategist')
3665 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
3666 Distribution & Transportation Staff (Sidoarjo)
INSERT INTO job_vacancies (title) VALUES ( 'Distribution & Transportation Staff (Sidoarjo)')
3667 Staff (Bahasa Inggris Aktif)
INSERT INTO job_vacancies (title) VALUES ( 'Staff (Bahasa Inggris Aktif)')
3668 Php Programmer (Api Specialist)
INSERT INTO job_vacancies (title) VALUES ( 'Php Programmer (Api Specialist)')
3669 Sales Manager - Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager - Freight Forwarding')
3670 Problem Account (Pa) Sumatera Bagian Utara
INSERT INTO job_vacancies (title) VALUES ( 'Problem Account (Pa) Sumatera Bagian Utara')
3671 Personal Asistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Asistant')
3672 Promotion Executive
INSERT INTO job_vacancies (title) VALUES ( 'Promotion Executive')
3673 Website Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Website Frontend Developer')
3674 Operator Dryer - Jagung (Ntb)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Dryer - Jagung (Ntb)')
3675 Real Estate Agent
INSERT INTO job_vacancies (title) VALUES ( 'Real Estate Agent')
3676 Guest Relation Officer (Gro) - Customer Service (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Guest Relation Officer (Gro) - Customer Service (Surabaya)')
3677 Content Creator - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator - Bandung')
3678 Customer Care Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Care Development Staff')
3679 Assistant Manager Care Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Care Quality Control')
3680 Kepala Cabang Bima - Dompu (Nusa Tenggara Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang Bima - Dompu (Nusa Tenggara Barat)')
3681 Sales Coordinator (Food Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Coordinator (Food Industry)')
3682 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
3683 Staff Gudang (Packing)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang (Packing)')
3684 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
3685 Sales Furniture
INSERT INTO job_vacancies (title) VALUES ( 'Sales Furniture')
3686 Mill Assistant Pabrik Kelapa Sawit
INSERT INTO job_vacancies (title) VALUES ( 'Mill Assistant Pabrik Kelapa Sawit')
3687 Product Manager At Getplus (Business Strategic)
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager At Getplus (Business Strategic)')
3688 Presales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Presales Engineer')
3689 Editor Video
INSERT INTO job_vacancies (title) VALUES ( 'Editor Video')
3690 Graphic Designer (Sac Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Sac Indonesia)')
3691 Administration
INSERT INTO job_vacancies (title) VALUES ( 'Administration')
3692 Sales Executive It Sistem
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive It Sistem')
3693 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
3694 Supervisor Cost Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Cost Accounting')
3695 Site Acquisition Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Site Acquisition Supervisor')
3696 Ux Researcher
INSERT INTO job_vacancies (title) VALUES ( 'Ux Researcher')
3697 Marketing & Pr
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Pr')
3698 Sales Counter
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter')
3699 Regional People Partner (Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'Regional People Partner (Sulawesi)')
3700 User Acquisition Specialist
INSERT INTO job_vacancies (title) VALUES ( 'User Acquisition Specialist')
3701 Admin Cathlab
INSERT INTO job_vacancies (title) VALUES ( 'Admin Cathlab')
3702 Account Manager Padang Sidempuan
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager Padang Sidempuan')
3703 Senior Mechanical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mechanical Engineer')
3704 Wakil Kepala Gudang - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Kepala Gudang - Surabaya')
3705 Math Teacher (Myp / Dp)
INSERT INTO job_vacancies (title) VALUES ( 'Math Teacher (Myp / Dp)')
3706 Marketing Agency Motorcycle - Branch Tenggarong
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency Motorcycle - Branch Tenggarong')
3707 Leather Restoration Technician (Repair / Re-Colouring)
INSERT INTO job_vacancies (title) VALUES ( 'Leather Restoration Technician (Repair / Re-Colouring)')
3708 Sales Engineer - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer - Surabaya')
3709 Relationship Manager (Overseas Education Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager (Overseas Education Consultant)')
3710 English Teacher (Ielts)
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher (Ielts)')
3711 Staff Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ppic')
3712 Assistant Manager R & D
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager R & D')
3713 English Teacher - Ef English First Tangerang (Tangerang City, Gading Serpong, Bsd)
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher - Ef English First Tangerang (Tangerang City, Gading Serpong, Bsd)')
3714 Technology Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Technology Section Head')
3715 Sales Project (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project (Denpasar)')
3716 Manager Operasional Produksi Power Plant ( Pm )
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional Produksi Power Plant ( Pm )')
3717 General Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Manager')
3718 Hydrology Senior Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Hydrology Senior Engineer')
3719 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
3720 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
3721 Staff Admin Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Produksi')
3722 Admin Sap
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sap')
3723 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
3724 Emerging Business Relationship Manager (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Emerging Business Relationship Manager (Jawa Tengah)')
3725 Admin Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Admin Operasional')
3726 Sales & Marketing Supervisor (Channel: E-Commerce , Marketplace , Social Media , Website)
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Supervisor (Channel: E-Commerce , Marketplace , Social Media , Website)')
3727 Accountant, Account Officer, Tax Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Accountant, Account Officer, Tax Consultant')
3728 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
3729 Sea Export Import Freight Forwarding Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sea Export Import Freight Forwarding Manager')
3730 Project Team Intern - Shopee Express (Jakarta & Bekasi Area)
INSERT INTO job_vacancies (title) VALUES ( 'Project Team Intern - Shopee Express (Jakarta & Bekasi Area)')
3731 Field Collection (Js - Fc) Ciledug
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Ciledug')
3732 Ui / Ux
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux')
3733 Software Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Software Sales Officer')
3734 It Sap Fico
INSERT INTO job_vacancies (title) VALUES ( 'It Sap Fico')
3735 Students Counsellor
INSERT INTO job_vacancies (title) VALUES ( 'Students Counsellor')
3736 Corporate Account Manager (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Account Manager (Balikpapan)')
3737 Erp Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Erp Project Manager')
3738 Senior It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Project Manager')
3739 Digital Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Officer')
3740 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
3741 Content Acquisition Manager
INSERT INTO job_vacancies (title) VALUES ( 'Content Acquisition Manager')
3742 Technician Crane ( Electrician & Crane Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Technician Crane ( Electrician & Crane Engineer)')
3743 Premier Banking Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Premier Banking Manager (Surabaya)')
3744 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
3745 Marketing Executive Partnership (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Partnership (Medan)')
3746 Junior Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Java Programmer')
3747 Trainer Mill Officer
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Mill Officer')
3748 Digital Advertiser
INSERT INTO job_vacancies (title) VALUES ( 'Digital Advertiser')
3749 Social Media Specialist  /   Social Media Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist  /   Social Media Strategist')
3750 Assistant Cutting
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Cutting')
3751 F&B Kitchen Crew
INSERT INTO job_vacancies (title) VALUES ( 'F&B Kitchen Crew')
3752 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
3753 It Network And Security Executive
INSERT INTO job_vacancies (title) VALUES ( 'It Network And Security Executive')
3754 Financial Planning
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning')
3755 System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator')
3756 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
3757 After Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'After Sales Manager')
3758 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
3759 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
3760 Qc Staff Pt. Belfoods Indonesia (Jonggol - Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff Pt. Belfoods Indonesia (Jonggol - Bogor)')
3761 Product Planning Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Product Planning Supervisor')
3762 Rider Team Lead Shopee Express - Hub Mpunda (Kota Bima, Ntb)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Mpunda (Kota Bima, Ntb)')
3763 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
3764 Channel Operation Spesialist
INSERT INTO job_vacancies (title) VALUES ( 'Channel Operation Spesialist')
3765 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
3766 It Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Specialist')
3767 Manager Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Manager Auditor')
3768 Sales Executive - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Padang')
3769 Shift Supervisor (Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Shift Supervisor (Bengkulu)')
3770 Presales  /  Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Presales  /  Product Specialist')

3771 Binus Startup Accelerator Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Binus Startup Accelerator Section Head')
3772 Akunting Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Akunting Pajak')
3773 Quality Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staff')
3774 M&E Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'M&E Supervisor')
3775 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
3776 Remote Python Programmer Mentor
INSERT INTO job_vacancies (title) VALUES ( 'Remote Python Programmer Mentor')
3777 Sales Modern Trade
INSERT INTO job_vacancies (title) VALUES ( 'Sales Modern Trade')
3778 Project Management Officer (E-Commerce)
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Officer (E-Commerce)')
3779 Quality Management System Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Management System Staff')
3780 Supervisor Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Internal Audit')
3781 Education Counsellor - Canada (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Education Counsellor - Canada (Surabaya)')
3782 Administrasi Finance (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Balikpapan)')
3783 Credit Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst')
3784 Helper Operational Laundry
INSERT INTO job_vacancies (title) VALUES ( 'Helper Operational Laundry')
3785 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
3786 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
3787 Specification Executive
INSERT INTO job_vacancies (title) VALUES ( 'Specification Executive')
3788 Talent Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition')
3789 Medical Representative (Sales & Marketing Farmasi)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Sales & Marketing Farmasi)')
3790 Ib Myp Math Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Ib Myp Math Teacher')
3791 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
3792 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
3793 Cost Control Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Cost Control Supervisor')
3794 Building Project & Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Building Project & Maintenance')
3795 Public Relation & Csr Specialist - Lippo Malls Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Public Relation & Csr Specialist - Lippo Malls Indonesia')
3796 Distributor Sales Representative Industrial Lubricant (Dsr Il)
INSERT INTO job_vacancies (title) VALUES ( 'Distributor Sales Representative Industrial Lubricant (Dsr Il)')
3797 Accounting And Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting And Tax Supervisor')
3798 Junior Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Junior Account Manager')
3799 C++ Developer
INSERT INTO job_vacancies (title) VALUES ( 'C++ Developer')
3800 Front End Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Programmer')
3801 Admin Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Support')
3802 Ux Researcher
INSERT INTO job_vacancies (title) VALUES ( 'Ux Researcher')
3803 Document Controller Lippo Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Document Controller Lippo Cikarang')
3804 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
3805 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
3806 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
3807 Staff Bahasa Korea
INSERT INTO job_vacancies (title) VALUES ( 'Staff Bahasa Korea')
3808 Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Manager')
3809 Sales Supervisor (Perusahaan Maklon Skincare)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Perusahaan Maklon Skincare)')
3810 Sous Chef Bakery
INSERT INTO job_vacancies (title) VALUES ( 'Sous Chef Bakery')
3811 Senior Product Manager (It Banking Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Product Manager (It Banking Industry)')
3812 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
3813 Technical Support After Sales
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support After Sales')
3814 Assistant Manager Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Produksi')
3815 Vp Of Sales
INSERT INTO job_vacancies (title) VALUES ( 'Vp Of Sales')
3816 Sap Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Fico')
3817 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
3818 Corporate Secretary & Legal
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary & Legal')
3819 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
3820 Procurement Manager
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Manager')
3821 Perawat Anastesi
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Anastesi')
3822 Engineering Software Dan It Infrastructure Support
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Software Dan It Infrastructure Support')
3823 Kitchen Helper
INSERT INTO job_vacancies (title) VALUES ( 'Kitchen Helper')
3824 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
3825 Assisten Cook - Penempatan Jawa Dan Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Assisten Cook - Penempatan Jawa Dan Kalimantan')
3826 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
3827 It Business Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Business Development Officer')
3828 Beauty Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Advisor')
3829 Civil Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer')
3830 Direct Sales (Purwokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Direct Sales (Purwokerto)')
3831 Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Engineering')
3832 Sales Executive Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Jakarta')
3833 Marketing & Growth Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Growth Senior Officer')
3834 Senior Cloud Presales
INSERT INTO job_vacancies (title) VALUES ( 'Senior Cloud Presales')
3835 Ppic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor')
3836 Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor')
3837 General Manager Operasional (Kode : Gmo)
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Operasional (Kode : Gmo)')
3838 Supervisor Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Purchasing')
3839 Digital Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Specialist')
3840 Product Owner
INSERT INTO job_vacancies (title) VALUES ( 'Product Owner')
3841 Sales Agent
INSERT INTO job_vacancies (title) VALUES ( 'Sales Agent')
3842 Recovery Mobil - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Mobil - Yogyakarta')
3843 Staff Collector Sibolga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Collector Sibolga')
3844 Full Stack Developer Web & Mobile App
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer Web & Mobile App')
3845 Administrasi Finance (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Pekanbaru)')
3846 Motion Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphic Designer')
3847 Erp Project Manager (Bali Area)
INSERT INTO job_vacancies (title) VALUES ( 'Erp Project Manager (Bali Area)')
3848 Assistant Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Hr Generalist')
3849 Warehouse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff')
3850 Legal Executive
INSERT INTO job_vacancies (title) VALUES ( 'Legal Executive')
3851 Sales Executive - Computer (Pc) Accessories (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Computer (Pc) Accessories (Makassar)')
3852 Regulatory & Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory & Digital Marketing Staff')
3853 Manager Marketing Online
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing Online')
3854 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
3855 Marketing & Verification Officer (Js - Mvo) Bojonegoro
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bojonegoro')
3856 Head Of Laboratory Bauxite (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Laboratory Bauxite (Pontianak)')
3857 Field Collection (Js - Fc) Kelapa Gading
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Kelapa Gading')
3858 Store Development Specialist (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Store Development Specialist (Mandarin Speaking)')
3859 Business Development - Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Supervisor')
3860 Ms / Hs Subject Teacher (Sociology) Binus School Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Ms / Hs Subject Teacher (Sociology) Binus School Bekasi')
3861 Marketing Staff Live Streaming Carvil Online Shop
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Live Streaming Carvil Online Shop')
3862 Key Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive')
3863 Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Auditor')
3864 Inventory Control Staff (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Control Staff (Pontianak Branch)')
3865 Fitness Consultant / Member Consultant / Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Fitness Consultant / Member Consultant / Sales Consultant')
3866 Agronomy Senior Asisstant (Askep)
INSERT INTO job_vacancies (title) VALUES ( 'Agronomy Senior Asisstant (Askep)')
3867 Youth Leadership Program (Acsi-Ylp)
INSERT INTO job_vacancies (title) VALUES ( 'Youth Leadership Program (Acsi-Ylp)')
3868 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
3869 Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist')
3870 Mill Manager
INSERT INTO job_vacancies (title) VALUES ( 'Mill Manager')
3871 Sales Executive (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Jakarta)')
3872 Hr & Ga (Personnel Admin) Ujungberung
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga (Personnel Admin) Ujungberung')
3873 Contract Manager
INSERT INTO job_vacancies (title) VALUES ( 'Contract Manager')
3874 Fttx Planning Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Fttx Planning Senior Staff')
3875 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
3876 E-Commerce Head  /  Manager
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Head  /  Manager')
3877 Administrasi / Mrs Internship (Citeurep, Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi / Mrs Internship (Citeurep, Bogor)')
3878 Internal Audit Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Supervisor')
3879 Supervisor Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Business Development')
3880 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
3881 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
3882 Administrasi Finance (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Samarinda)')
3883 Dwdm Engineer - Mnc Maintenance Project (Telecommunication Company)
INSERT INTO job_vacancies (title) VALUES ( 'Dwdm Engineer - Mnc Maintenance Project (Telecommunication Company)')
3884 Kepala Pos - Luwuk
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Luwuk')
3885 It Network
INSERT INTO job_vacancies (title) VALUES ( 'It Network')
3886 Kepala Pos - Polewali Mandar
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Polewali Mandar')
3887 Science Teacher (For Upper Primary)
INSERT INTO job_vacancies (title) VALUES ( 'Science Teacher (For Upper Primary)')
3888 Content Creator Property Talents
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Property Talents')
3889 Teknisi (Penempatan Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi (Penempatan Bali)')
3890 Kol And Community Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Kol And Community Specialist')
3891 Brand Manager - Cs2
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager - Cs2')
3892 Business Development Lead - Medan Area
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Lead - Medan Area')
3893 Sales Mesin Diesel
INSERT INTO job_vacancies (title) VALUES ( 'Sales Mesin Diesel')
3894 Griya Head Jayapura
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Jayapura')
3895 Education Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Education Consultant')
3896 Utility Staff (Penempatan : Karawang)
INSERT INTO job_vacancies (title) VALUES ( 'Utility Staff (Penempatan : Karawang)')
3897 Sales Engineer For Packaging Machinery
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer For Packaging Machinery')
3898 Staf Penerimaan Dan Pengeluaran
INSERT INTO job_vacancies (title) VALUES ( 'Staf Penerimaan Dan Pengeluaran')
3899 Dokter Spesialis Kulit Aesthetic Dermatologist Dermatovenerologist
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Spesialis Kulit Aesthetic Dermatologist Dermatovenerologist')
3900 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
3901 Digital Consultant (Scrum Master)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Consultant (Scrum Master)')
3902 Technical Sales
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales')
3903 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
3904 Customer Servicing & Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Customer Servicing & Marketing Support')
3905 International Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'International Business Development Manager')
3906 It Stradev  /  Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Stradev  /  Programmer')
3907 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
3908 Operation Trainer Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Operation Trainer Supervisor')
3909 业务助理 Business Operation Assistant (Location: Jakarta)
INSERT INTO job_vacancies (title) VALUES ( '业务助理 Business Operation Assistant (Location: Jakarta)')
3910 Postgresql / Enterprise Db Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Postgresql / Enterprise Db Database Administrator')
3911 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
3912 Finance Ops Intern - Shopee Express (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ops Intern - Shopee Express (Pontianak)')
3913 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
3914 Assistant Manager Finance Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Finance Accounting & Tax')
3915 Dekan Fakultas Bisnis Dan Komunikasi
INSERT INTO job_vacancies (title) VALUES ( 'Dekan Fakultas Bisnis Dan Komunikasi')
3916 Sales Supervisor Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Lampung')
3917 Project Leader Skin Care
INSERT INTO job_vacancies (title) VALUES ( 'Project Leader Skin Care')
3918 Senior Financial Advisory (Transactional Services)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Financial Advisory (Transactional Services)')
3919 Administration Staff (Js - Adm) Banjar
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Banjar')
3920 Freelance Sales Properti
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Sales Properti')
3921 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
3922 Primary - Junior - High School Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Primary - Junior - High School Teachers')
3923 Security
INSERT INTO job_vacancies (title) VALUES ( 'Security')
3924 Freight Forwarding Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Freight Forwarding Marketing')
3925 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
3926 Guru Bisnis Daring Dan Pemasaran (1); Guru Produk Kreatif Dan Kewirausahaan (2); Guru Pjok / Olahraga (3) (Penempatan Di Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bisnis Daring Dan Pemasaran (1); Guru Produk Kreatif Dan Kewirausahaan (2); Guru Pjok / Olahraga (3) (Penempatan Di Batam)')
3927 Mandarin Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Customer Service')

3928 Sales And Marketing Staff - Elevator
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Staff - Elevator')
3929 Advertising & Promotion Officer - Mega Town Square Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Advertising & Promotion Officer - Mega Town Square Palangkaraya')
3930 Sales Marketing (Offline)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Offline)')
3931 Driver Mobil Pribadi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Mobil Pribadi')
3932 Sales Assistant Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant Yogyakarta')
3933 Sap Basis Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sap Basis Specialist')
3934 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
3935 Lead Product Manager (Last Mile Team)
INSERT INTO job_vacancies (title) VALUES ( 'Lead Product Manager (Last Mile Team)')
3936 Pengawas Lapangan (Sipil)
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Lapangan (Sipil)')
3937 Account Manager - Software Application
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager - Software Application')
3938 Marketing Officer Area Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer Area Tangerang Selatan')
3939 Social Media Executive
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Executive')
3940 Design
INSERT INTO job_vacancies (title) VALUES ( 'Design')
3941 Marketing & Verification Officer (Js - Mvo) Pecenongan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pecenongan')
3942 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
3943 Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer')
3944 Middle Mile Monitoring Supervisor - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Middle Mile Monitoring Supervisor - Shopee Express')
3945 Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Import Staff')
3946 Subject Teacher (Religion)
INSERT INTO job_vacancies (title) VALUES ( 'Subject Teacher (Religion)')
3947 System Analyst  /  Product Planning Member
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst  /  Product Planning Member')
3948 Junior Plan & Spec
INSERT INTO job_vacancies (title) VALUES ( 'Junior Plan & Spec')
3949 Marketing Tender
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Tender')
3950 Sales Marketing (Offline)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Offline)')
3951 Driver Mobil Pribadi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Mobil Pribadi')
3952 Sales Engineer (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Jakarta)')
3953 Head Of Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Hr Manager')
3954 Warehouse Material Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Material Auditor')
3955 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
3956 Compliance And Management Control (Penempatan Ntt)
INSERT INTO job_vacancies (title) VALUES ( 'Compliance And Management Control (Penempatan Ntt)')
3957 Recruitment Staff (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff (Surabaya)')
3958 Admin Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Admin Produksi')
3959 Hse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer')
3960 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
3961 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
3962 Afdeling Assistant (Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Afdeling Assistant (Jambi)')
3963 Accounting, Admin Kredit, Dan Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting, Admin Kredit, Dan Account Officer')
3964 Admin Dispatch
INSERT INTO job_vacancies (title) VALUES ( 'Admin Dispatch')
3965 Hrbp (People Operation)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp (People Operation)')
3966 Staff Finance & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Tax')
3967 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
3968 Admin Mandarin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Mandarin Staff')
3969 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
3970 Logistic Manager
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Manager')
3971 Associate  /  Senior Associate
INSERT INTO job_vacancies (title) VALUES ( 'Associate  /  Senior Associate')
3972 Operasional Manager ( Agency Company )
INSERT INTO job_vacancies (title) VALUES ( 'Operasional Manager ( Agency Company )')
3973 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
3974 Chef Japanese
INSERT INTO job_vacancies (title) VALUES ( 'Chef Japanese')
3975 Project Manager (Pm)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Pm)')
3976 Sortation Center Lead - Shopee Express (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Lead - Shopee Express (Palangkaraya)')
3977 Swim Coach
INSERT INTO job_vacancies (title) VALUES ( 'Swim Coach')
3978 Sales / Marketing Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales / Marketing Representative')
3979 Assistant Tax Manager  - Transfer Pricing
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Tax Manager  - Transfer Pricing')
3980 Admin Finance & Acounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance & Acounting')
3981 Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable')
3982 Recruitment Consultant (Sales Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Consultant (Sales Consultant)')
3983 People Engagement Specialist
INSERT INTO job_vacancies (title) VALUES ( 'People Engagement Specialist')
3984 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
3985 Mill Area Manager (Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Mill Area Manager (Kalimantan Barat)')
3986 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
3987 Data Analyst /  Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst /  Data Scientist')
3988 Financial Advisor - Jayapura
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor - Jayapura')
3989 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
3990 Supervisor Store Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Store Samarinda')
3991 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
3992 Sales Representative [Semarang]
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative [Semarang]')
3993 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
3994 Geotechnical Engineer (Junior  /  Senior)
INSERT INTO job_vacancies (title) VALUES ( 'Geotechnical Engineer (Junior  /  Senior)')
3995 Production Staff
INSERT INTO job_vacancies (title) VALUES ( 'Production Staff')
3996 Sales Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Sales Coordinator')
3997 Social Media Specialist & Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist & Marketing Support')
3998 Trainer Sales
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Sales')
3999 Staff Accouting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accouting & Tax')
4000 Staff Keperawatan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Keperawatan')
4001 Website Commercial Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Website Commercial Operation Supervisor')
4002 Student Advisory & Support Center Manager (Alam Sutera)
INSERT INTO job_vacancies (title) VALUES ( 'Student Advisory & Support Center Manager (Alam Sutera)')
4003 Seo English Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'Seo English Content Writer')
4004 Bts Engineer - Maluku
INSERT INTO job_vacancies (title) VALUES ( 'Bts Engineer - Maluku')
4005 General Manager Keuangan, Manajemen Resiko Dan Sumber Daya Manusia (Kode : Gmkmr)
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Keuangan, Manajemen Resiko Dan Sumber Daya Manusia (Kode : Gmkmr)')
4006 Pre Sales Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Pre Sales Coordinator')
4007 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
4008 Warehouse & Fulfillment Operations (Jatim / Jateng / Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Fulfillment Operations (Jatim / Jateng / Bali)')
4009 Qc Analyst (Kosmetik)
INSERT INTO job_vacancies (title) VALUES ( 'Qc Analyst (Kosmetik)')
4010 Collection Head - Singkawang
INSERT INTO job_vacancies (title) VALUES ( 'Collection Head - Singkawang')
4011 Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Engineering')
4012 B2B Senior Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'B2B Senior Marketing Executive')
4013 Barber (Menology By Zap)
INSERT INTO job_vacancies (title) VALUES ( 'Barber (Menology By Zap)')
4014 Exim Logistic Delivery
INSERT INTO job_vacancies (title) VALUES ( 'Exim Logistic Delivery')
4015 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
4016 Relationship Officer - Penempatan Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Pontianak')
4017 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
4018 Mekanik Kendaraan & Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Kendaraan & Alat Berat')
4019 Trainer Development
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Development')
4020 Finance, Accounting & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting & Tax Staff')
4021 Administrasi Finance (Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Jambi)')
4022 Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate')
4023 Management Trainee (Penempatan Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Penempatan Jawa Tengah)')
4024 Guru Matematika
INSERT INTO job_vacancies (title) VALUES ( 'Guru Matematika')
4025 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
4026 Estate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager')
4027 Marketing Designer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Designer')
4028 Rider Team Lead Shopee Express - Hub Wonosari (Kab. Gunung Kidul)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Wonosari (Kab. Gunung Kidul)')
4029 Sales Satisfaction Index (Ssi) Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Satisfaction Index (Ssi) Specialist')
4030 Loader Operator
INSERT INTO job_vacancies (title) VALUES ( 'Loader Operator')
4031 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
4032 Finance And After Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Finance And After Sales Admin')
4033 Business Development (Digital Agency)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (Digital Agency)')
4034 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
4035 Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Engineer')
4036 Supervisor Acount Officer ( Shm )
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Acount Officer ( Shm )')
4037 Frontend And Backend Bootcamp
INSERT INTO job_vacancies (title) VALUES ( 'Frontend And Backend Bootcamp')
4038 Human Resources Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Coordinator')
4039 Treasury Staff (Internship)
INSERT INTO job_vacancies (title) VALUES ( 'Treasury Staff (Internship)')
4040 Staff Marketing (Sukabumi & Depok)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing (Sukabumi & Depok)')
4041 Field Collection (Js - Fc) Kalimalang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Kalimalang')
4042 Officer Plant Scheduler
INSERT INTO job_vacancies (title) VALUES ( 'Officer Plant Scheduler')
4043 Marketing & Public Relation
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Public Relation')
4044 Finance Accounting And Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting And Tax Supervisor')
4045 Accounting Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Assistant')
4046 Ruby Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ruby Backend Developer')
4047 Dosen Prodi Seni Kuliner (Culinary)
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Prodi Seni Kuliner (Culinary)')
4048 Agency Development Executive (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Agency Development Executive (Medan)')
4049 Finance
INSERT INTO job_vacancies (title) VALUES ( 'Finance')
4050 Finance And Training Organizer
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Training Organizer')
4051 Store Manager Area Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Area Jawa Tengah')
4052 Transmission
INSERT INTO job_vacancies (title) VALUES ( 'Transmission')
4053 Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing')
4054 Coach Field Education Consultant Kisaran
INSERT INTO job_vacancies (title) VALUES ( 'Coach Field Education Consultant Kisaran')
4055 R & D Manager
INSERT INTO job_vacancies (title) VALUES ( 'R & D Manager')
4056 Sales Manager Kc Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Kc Balikpapan')
4057 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4058 Sales Supervisor (Retail+Project) - Batam Area
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Retail+Project) - Batam Area')
4059 Sortation Center Lead - Shopee Express (Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Lead - Shopee Express (Aceh)')
4060 Customer Communications Manager
INSERT INTO job_vacancies (title) VALUES ( 'Customer Communications Manager')
4061 Project Sales Executive  /  Staf Sales Untuk Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Project Sales Executive  /  Staf Sales Untuk Proyek')
4062 Accounting /  Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting /  Finance Supervisor')
4063 Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff')
4064 Team Leader - Relationship Manager Sme Banking
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader - Relationship Manager Sme Banking')
4065 Kepala Pos - Paser
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Paser')
4066 Ib Curriculum Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Ib Curriculum Coordinator')
4067 Quality Junior Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Quality Junior Specialist')
4068 Marketing Agency (Jawa Tengah & Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency (Jawa Tengah & Yogyakarta)')
4069 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
4070 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
4071 Social Studies Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Social Studies Teacher')
4072 Bi Data Visualization Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Bi Data Visualization Specialist')
4073 Project Manager (Mechanical Electrical)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Mechanical Electrical)')
4074 Commercial Specialist (Fmcg)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Specialist (Fmcg)')
4075 Eyelash Extension  /  Nail Terapis
INSERT INTO job_vacancies (title) VALUES ( 'Eyelash Extension  /  Nail Terapis')
4076 Supervisor Dana Tunai Mobil Wilayah Solo
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Dana Tunai Mobil Wilayah Solo')
4077 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
4078 Accouting & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accouting & Tax Staff')
4079 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
4080 Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Staff')
4081 Economics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Economics Teacher')
4082 It Helpdesk Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Helpdesk Staff')
4083 Qa Lead
INSERT INTO job_vacancies (title) VALUES ( 'Qa Lead')
4084 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
4085 Quality Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staff')
4086 Vsat Engineer (Maluku)
INSERT INTO job_vacancies (title) VALUES ( 'Vsat Engineer (Maluku)')
4087 Business Representative (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Business Representative (Jakarta)')

4088 Billing Collection
INSERT INTO job_vacancies (title) VALUES ( 'Billing Collection')
4089 Relationship Officer - Penempatan Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Banjarmasin')
4090 Implementator  /  Konsultan
INSERT INTO job_vacancies (title) VALUES ( 'Implementator  /  Konsultan')
4091 Security Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Security Analyst')
4092 Ui / Ux
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux')
4093 Korean Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Korean Speaker')
4094 Mobile Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Flutter Developer')
4095 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
4096 Accounting Staff (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (Pontianak Branch)')
4097 Qa Automation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Automation Engineer')
4098 Technical (Foreman Produksi - Maintenance Injection)
INSERT INTO job_vacancies (title) VALUES ( 'Technical (Foreman Produksi - Maintenance Injection)')
4099 Sales Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Staff')
4100 Team Leader Funding
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Funding')
4101 Customer Service Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Specialist')
4102 Service Quality Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Service Quality Specialist')
4103 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
4104 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
4105 Mediation & Conciliation
INSERT INTO job_vacancies (title) VALUES ( 'Mediation & Conciliation')
4106 Sales Executive Palu
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Palu')
4107 Php Programmer (Backend Developer)
INSERT INTO job_vacancies (title) VALUES ( 'Php Programmer (Backend Developer)')
4108 Center Director Needed At Ef English First East Java!
INSERT INTO job_vacancies (title) VALUES ( 'Center Director Needed At Ef English First East Java!')
4109 Asisten Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker')
4110 Quality Control Sipil (Qc Civil)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Sipil (Qc Civil)')
4111 Sustainability Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sustainability Manager')
4112 Erp Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Erp Consultant')
4113 Portfolio Management Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Portfolio Management Assistant Manager')
4114 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
4115 Rider Team Lead Shopee Express - Hub Praya (Kab. Lombok Tengah, Ntb)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Praya (Kab. Lombok Tengah, Ntb)')
4116 Griya Head Ujung Batu (Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Ujung Batu (Riau)')
4117 Tax Operation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Operation Officer')
4118 Senior Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Finance')
4119 Operator Boiler Power Plant
INSERT INTO job_vacancies (title) VALUES ( 'Operator Boiler Power Plant')
4120 Personal Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Personal Trainer')
4121 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
4122 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
4123 It - Trainer (Java Programming Languange)
INSERT INTO job_vacancies (title) VALUES ( 'It - Trainer (Java Programming Languange)')
4124 Civil Engineering (Road & Bridge) Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineering (Road & Bridge) Assistant')
4125 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
4126 Staf Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Accounting')
4127 Admin Area Medan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Area Medan')
4128 Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager')
4129 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4130 Hr Specialist (Organization Development Dan Hris Section Head)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Specialist (Organization Development Dan Hris Section Head)')
4131 Senior Network Engineer (Remote)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Network Engineer (Remote)')
4132 Guru Bidang Studi Matematika
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bidang Studi Matematika')
4133 Personal Relationship Manager (Prm) Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Personal Relationship Manager (Prm) Surabaya')
4134 Staff Marketing ( Tulungagung - Kediri - Blitar )
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing ( Tulungagung - Kediri - Blitar )')
4135 Supervisor Penjualan
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Penjualan')
4136 Maintenance Technician (Telecommunication) - Surakarta
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Technician (Telecommunication) - Surakarta')
4137 Quality Assurance Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Inspector')
4138 It Security Analyst Lead
INSERT INTO job_vacancies (title) VALUES ( 'It Security Analyst Lead')
4139 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
4140 Hrd Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Supervisor')
4141 Penanggung Jawab (Apoteker Penanggung Jawab) Dan Rnd
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab (Apoteker Penanggung Jawab) Dan Rnd')
4142 Membership Administrator Spesialist
INSERT INTO job_vacancies (title) VALUES ( 'Membership Administrator Spesialist')
4143 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
4144 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
4145 Field Collector Area Padang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Padang')
4146 Finance & Accounting Supervisor -Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor -Palembang')
4147 Project Manager Sipil / Interior
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager Sipil / Interior')
4148 Engineer On Site (Penempatan Sampit)
INSERT INTO job_vacancies (title) VALUES ( 'Engineer On Site (Penempatan Sampit)')
4149 Warehouse Supervisor (Surabaya Area)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor (Surabaya Area)')
4150 Head Of Tax
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Tax')
4151 Sales Supervisor (Area Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Area Kalimantan Barat)')
4152 Warehouse Admin
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin')
4153 Product Executive
INSERT INTO job_vacancies (title) VALUES ( 'Product Executive')
4154 Building Material Specifier
INSERT INTO job_vacancies (title) VALUES ( 'Building Material Specifier')
4155 Growth Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Growth Marketing Specialist')
4156 School Counselor
INSERT INTO job_vacancies (title) VALUES ( 'School Counselor')
4157 Talent Acquisitions And Employer Branding Associate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisitions And Employer Branding Associate Manager')
4158 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
4159 Rider Team Lead Shopee Express (Purworejo, Kota Pasuruan)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Purworejo, Kota Pasuruan)')
4160 Esport Development
INSERT INTO job_vacancies (title) VALUES ( 'Esport Development')
4161 Engineering Staff
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Staff')
4162 Security
INSERT INTO job_vacancies (title) VALUES ( 'Security')
4163 Market Insight Executive
INSERT INTO job_vacancies (title) VALUES ( 'Market Insight Executive')
4164 Front Office
INSERT INTO job_vacancies (title) VALUES ( 'Front Office')
4165 Customer Deal Maker
INSERT INTO job_vacancies (title) VALUES ( 'Customer Deal Maker')
4166 Financial Advisor ( Bancassurance ) Area Sorong
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor ( Bancassurance ) Area Sorong')
4167 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
4168 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
4169 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4170 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
4171 (Jv2107008) Account Officer - Sales - Makassar
INSERT INTO job_vacancies (title) VALUES ( '(Jv2107008) Account Officer - Sales - Makassar')
4172 Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation Manager')
4173 Creative Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Creative Content Creator')
4174 Pension Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Pension Specialist')
4175 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
4176 Arsitek (Penempatan Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek (Penempatan Solo)')
4177 Center Director (Ef Kupang)
INSERT INTO job_vacancies (title) VALUES ( 'Center Director (Ef Kupang)')
4178 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
4179 Channel Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Channel Marketing Specialist')
4180 Factory Manager (Building Material - South Kalimantan)
INSERT INTO job_vacancies (title) VALUES ( 'Factory Manager (Building Material - South Kalimantan)')
4181 Sales Executive Hotel
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Hotel')
4182 Sales In Store At Furniture Store - Jakarta  /  Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Sales In Store At Furniture Store - Jakarta  /  Tangerang')
4183 City Management Officer Citraland Tegal
INSERT INTO job_vacancies (title) VALUES ( 'City Management Officer Citraland Tegal')
4184 Medical Representative (Laboratory) - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Laboratory) - Makassar')
4185 Head Of Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Engineering')
4186 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
4187 Account Executive Internet Service Provider (Ae-Isp)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Internet Service Provider (Ae-Isp)')
4188 Security
INSERT INTO job_vacancies (title) VALUES ( 'Security')
4189 Sales Performance Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Performance Specialist')
4190 Admin Gudang - Lokasi Cikupa Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang - Lokasi Cikupa Tangerang')
4191 Head Of Database Management Analytics
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Database Management Analytics')
4192 Pic ( Person In Charge )
INSERT INTO job_vacancies (title) VALUES ( 'Pic ( Person In Charge )')
4193 Dev Ops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Dev Ops Engineer')
4194 Ux Writer
INSERT INTO job_vacancies (title) VALUES ( 'Ux Writer')
4195 Senior Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Senior Arsitek')
4196 Center Director (Ef Kupang)
INSERT INTO job_vacancies (title) VALUES ( 'Center Director (Ef Kupang)')
4197 Marketing Manager (Mm)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager (Mm)')
4198 Enterprise Sales Unit Head
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Sales Unit Head')
4199 Front-End Angular Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Angular Developer')
4200 Assistant Manager Ar Collection & Claim
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Ar Collection & Claim')
4201 Refrigerator & Freezer R&D
INSERT INTO job_vacancies (title) VALUES ( 'Refrigerator & Freezer R&D')
4202 Design Interior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Design Interior Staff')
4203 Staff Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Keuangan')
4204 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
4205 Acc & Finance Spv
INSERT INTO job_vacancies (title) VALUES ( 'Acc & Finance Spv')
4206 Genset Expert
INSERT INTO job_vacancies (title) VALUES ( 'Genset Expert')
4207 Programmer.
INSERT INTO job_vacancies (title) VALUES ( 'Programmer.')
4208 Finance & Administration Executive
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Administration Executive')
4209 Sales  Area Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales  Area Bali')
4210 Design & Manufacturing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Design & Manufacturing Engineer')
4211 Recruitment Officer (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer (Mandarin Speaker)')
4212 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
4213 It Java Developer  /  Programmer (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Java Developer  /  Programmer (Yogyakarta)')
4214 Recovery Manager (Area Area Banten, Jawa Barat, Jadetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Manager (Area Area Banten, Jawa Barat, Jadetabek)')
4215 Care Officer - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Care Officer - Jakarta')
4216 Management Trainee (Mt) - Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Mt) - Sales Marketing')
4217 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
4218 Sales & Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Staff')
4219 Talent Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management Supervisor')
4220 Sales Project Supervisor (Eleganza)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Supervisor (Eleganza)')
4221 Solution Architect
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect')
4222 Key Account Executive (Kae-Hj)
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive (Kae-Hj)')
4223 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
4224 Warehouse Leader
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Leader')
4225 Teritory Representative (Area Jatim / Madura, Manado, Palembang, Palu, Riau, Maluku Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Teritory Representative (Area Jatim / Madura, Manado, Palembang, Palu, Riau, Maluku Utara)')
4226 Pelaksana Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Pelaksana Proyek')
4227 Supervisor Store Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Store Balikpapan')
4228 Seo Officer
INSERT INTO job_vacancies (title) VALUES ( 'Seo Officer')
4229 Head Of Area (Supervisor) - All Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Area (Supervisor) - All Indonesia')
4230 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4231 English Instructor
INSERT INTO job_vacancies (title) VALUES ( 'English Instructor')
4232 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
4233 Business Planning & Reporting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Planning & Reporting Staff')
4234 Internal Sales & Administration
INSERT INTO job_vacancies (title) VALUES ( 'Internal Sales & Administration')
4235 Tool & Die Production Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tool & Die Production Manager')
4236 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
4237 Treasury Leader (Manager Level)
INSERT INTO job_vacancies (title) VALUES ( 'Treasury Leader (Manager Level)')
4238 Griya Head Merauke
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Merauke')
4239 Analis Kredit Bpr
INSERT INTO job_vacancies (title) VALUES ( 'Analis Kredit Bpr')
4240 Inspector Officer Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Inspector Officer Makassar')
4241 Sales Industry / Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Industry / Engineering')
4242 Senior Accounts Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounts Executive')
4243 Sales Marketing Cake & Pastry
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Cake & Pastry')
4244 Organizational Develoment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Organizational Develoment Staff')
4245 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
4246 Customer Success Specialist (Banking) - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Customer Success Specialist (Banking) - Yogyakarta')
4247 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
4248 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
4249 Quality Control Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Analyst')
4250 Mandarin Operation Admin
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Operation Admin')
4251 Junior Programmer (Java)
INSERT INTO job_vacancies (title) VALUES ( 'Junior Programmer (Java)')

4252 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
4253 Sales Executive - Computer (Pc) Accessories (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Computer (Pc) Accessories (Jakarta)')
4254 Procurement  Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement  Staff')
4255 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4256 Sap Abap Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Abap Consultant')
4257 Marketing Representative Area Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Representative Area Jakarta')
4258 Reporting & Mis Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Reporting & Mis Supervisor')
4259 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
4260 Kepala Cabang (Koperasi) Area Sidenreng Rappang - Sidrap
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Sidenreng Rappang - Sidrap')
4261 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
4262 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
4263 Public Relation & Event Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Public Relation & Event Coordinator')
4264 Budget And Reporting Senior Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Budget And Reporting Senior Specialist')
4265 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
4266 Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor')
4267 Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist')
4268 Technical Admin Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'Technical Admin Support Staff')
4269 Admin Invoice
INSERT INTO job_vacancies (title) VALUES ( 'Admin Invoice')
4270 Audit (Au)
INSERT INTO job_vacancies (title) VALUES ( 'Audit (Au)')
4271 Hr Personalia
INSERT INTO job_vacancies (title) VALUES ( 'Hr Personalia')
4272 Hrga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Manager')
4273 Sales Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Operation Manager')
4274 Human Resources Intern (Js - Hr Int)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Intern (Js - Hr Int)')
4275 Lead Of Mine Operation
INSERT INTO job_vacancies (title) VALUES ( 'Lead Of Mine Operation')
4276 Field Account Consultant Bca Finance - Penempatan Garut
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant Bca Finance - Penempatan Garut')
4277 Nodejs Backend Developer (Fullstack Prefered)
INSERT INTO job_vacancies (title) VALUES ( 'Nodejs Backend Developer (Fullstack Prefered)')
4278 Technology Associate Program (Mt_It)
INSERT INTO job_vacancies (title) VALUES ( 'Technology Associate Program (Mt_It)')
4279 Staff It (Programmer And Data Analyst)
INSERT INTO job_vacancies (title) VALUES ( 'Staff It (Programmer And Data Analyst)')
4280 Hr Bpo Management - Shopee Xpress
INSERT INTO job_vacancies (title) VALUES ( 'Hr Bpo Management - Shopee Xpress')
4281 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
4282 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
4283 Project Sales Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Project Sales Section Head')
4284 International Office Staff
INSERT INTO job_vacancies (title) VALUES ( 'International Office Staff')
4285 Sales (Perusahaan Farmasi) - Madiun
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Perusahaan Farmasi) - Madiun')
4286 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
4287 It - Sap - Pp Functional
INSERT INTO job_vacancies (title) VALUES ( 'It - Sap - Pp Functional')
4288 Data Center Operation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Data Center Operation Specialist')
4289 Soundman
INSERT INTO job_vacancies (title) VALUES ( 'Soundman')
4290 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4291 Assistant Director (Legal Affairs)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Director (Legal Affairs)')
4292 Maintenance Electrical (Sidoarjo)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Electrical (Sidoarjo)')
4293 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
4294 Marketing Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Data Analyst')
4295 Plant Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Plant Supervisor')
4296 Remittance
INSERT INTO job_vacancies (title) VALUES ( 'Remittance')
4297 Compensation And Benefit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Compensation And Benefit Staff')
4298 Korean Translator
INSERT INTO job_vacancies (title) VALUES ( 'Korean Translator')
4299 Ruby On Rails Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ruby On Rails Developer')
4300 Penanggung Jawab Teknis
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab Teknis')
4301 Admin Freelance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Freelance')
4302 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
4303 Manager Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Teknik')
4304 Corporate Affair Officer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Affair Officer')
4305 Admin Finance & Acounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance & Acounting')
4306 Surveyor Penutupan - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor Penutupan - Pekanbaru')
4307 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
4308 Credit Marketing Officer - Bandung & Cimahi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Bandung & Cimahi')
4309 Sales Executive Catering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Catering')
4310 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
4311 Rider Team Lead Shopee Express - Cilongok (Kab. Banyumas, Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Cilongok (Kab. Banyumas, Jawa Tengah)')
4312 Sales Spareparts Mobil Dan Motor Area Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Sales Spareparts Mobil Dan Motor Area Samarinda')
4313 Quality Control Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Analyst')
4314 Supervisor Marketing Mobil Area Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Mobil Area Jakarta Timur')
4315 Corporate Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary')
4316 Regulatory Staff
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Staff')
4317 Sap Functional & Technical - It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional & Technical - It Business Analyst')
4318 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4319 Sales Consultant (Business Development Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant (Business Development Consultant)')
4320 Learning & Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Learning & Development Officer')
4321 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
4322 Senior Teacher (Ef Kupang)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Teacher (Ef Kupang)')
4323 Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Manager')
4324 Senior Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front End Developer')
4325 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
4326 It Application Support  /  Software Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'It Application Support  /  Software Technical Support')
4327 Admin Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Import Staff')
4328 Team Leader Telesales
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Telesales')
4329 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
4330 Sales Executive - Computer (Pc) Accessories (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Computer (Pc) Accessories (Yogyakarta)')
4331 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
4332 Advertising Lead
INSERT INTO job_vacancies (title) VALUES ( 'Advertising Lead')
4333 Kasir
INSERT INTO job_vacancies (title) VALUES ( 'Kasir')
4334 Hr Information System Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Information System Staff')
4335 Staff Marketing Dan Advertising
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing Dan Advertising')
4336 Sosial Media Spesialis
INSERT INTO job_vacancies (title) VALUES ( 'Sosial Media Spesialis')
4337 Kepala Cabang (Koperasi) Area Batang, Weleri, Temanggung
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Batang, Weleri, Temanggung')
4338 Internal Audit It
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit It')
4339 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
4340 Sales Engineer Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Jakarta')
4341 Marketing Packaging Carton Box
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Packaging Carton Box')
4342 Supervisor Finance
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance')
4343 Sales Supervisor Automotive (R4)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Automotive (R4)')
4344 Sales Engineer (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Jakarta)')
4345 Software Engineer (Wfh)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer (Wfh)')
4346 Operational Staff Mandarin (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Operational Staff Mandarin (Yogyakarta)')
4347 Digital Marketing Analyst Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Analyst Manager')
4348 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
4349 Merchandiser  /  Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser  /  Product Specialist')
4350 Kepala Cabang (Koperasi) Area  Batang, Pemalang, Banjarnegara (Mandiraja)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area  Batang, Pemalang, Banjarnegara (Mandiraja)')
4351 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
4352 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
4353 Sales Engineer (Se - Parp)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Se - Parp)')
4354 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
4355 Device Testing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Device Testing Engineer')
4356 Business Development - Senior Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Senior Account Manager')
4357 Finance Accounting And Tax Spv
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting And Tax Spv')
4358 Sales Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account Manager')
4359 Ajudan Asisten Pimpinan
INSERT INTO job_vacancies (title) VALUES ( 'Ajudan Asisten Pimpinan')
4360 Novel Editor(小说责任编辑)
INSERT INTO job_vacancies (title) VALUES ( 'Novel Editor(小说责任编辑)')
4361 Mathematics And Science Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics And Science Teacher')
4362 Parts Technical Information Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Parts Technical Information Specialist')
4363 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
4364 Chef Pastry
INSERT INTO job_vacancies (title) VALUES ( 'Chef Pastry')
4365 Asisten Produksi (Ekspor Garmen)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Produksi (Ekspor Garmen)')
4366 Purchasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Manager')
4367 Beauty Online Community Officer
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Online Community Officer')
4368 Marketing Property (Perumahan)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property (Perumahan)')
4369 Wellness Business Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Wellness Business Development Staff')
4370 Lead Artist
INSERT INTO job_vacancies (title) VALUES ( 'Lead Artist')
4371 Front End Developer - Pt Lippo Malls Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer - Pt Lippo Malls Indonesia')
4372 Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection')
4373 Nutritionist General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Nutritionist General Manager')
4374 Estimator Project Interior
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Project Interior')
4375 Senior Engineer (Snack Extruder)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Engineer (Snack Extruder)')
4376 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4377 It Quality Control Officer (Js - It Qco)
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Control Officer (Js - It Qco)')
4378 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
4379 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
4380 Financial Controller Senior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller Senior Manager')
4381 Guru Seni
INSERT INTO job_vacancies (title) VALUES ( 'Guru Seni')
4382 Import Staff (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Import Staff (Mandarin Speaking)')
4383 Electrical - Instrumentation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Electrical - Instrumentation Manager')
4384 Recovery Mobil - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Mobil - Malang')
4385 Marcomm Staff (Citra Raya)
INSERT INTO job_vacancies (title) VALUES ( 'Marcomm Staff (Citra Raya)')
4386 Sales Engineer (Cabang Tegal)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Tegal)')
4387 Supervisor Marketing Mobil Area Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Mobil Area Cirebon')
4388 Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ga Staff')
4389 Account Executive - Bsa
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive - Bsa')
4390 Kepala Cabang (Koperasi) Area Indramayu, Subang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Indramayu, Subang')
4391 Accounting Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Analyst')
4392 Sales Marketing Forwarder (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Forwarder (Jakarta)')
4393 Production Scheduler
INSERT INTO job_vacancies (title) VALUES ( 'Production Scheduler')
4394 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
4395 Sales Counter Area Pasuruan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter Area Pasuruan')
4396 Supervisor Marketing Elektronik Wilayah Solo
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Elektronik Wilayah Solo')
4397 Staff Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Tax')
4398 Graphic Designer (Id: 547665)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Id: 547665)')

4399 Property Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Property Sales Manager')
4400 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
4401 Transport Officer
INSERT INTO job_vacancies (title) VALUES ( 'Transport Officer')
4402 Finance & Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor')
4403 Guru Broadcasting
INSERT INTO job_vacancies (title) VALUES ( 'Guru Broadcasting')
4404 Fashion Designer (Footwear)
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Designer (Footwear)')
4405 Kitchen Crew (Part Timer Pik)
INSERT INTO job_vacancies (title) VALUES ( 'Kitchen Crew (Part Timer Pik)')
4406 Telemarketing
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing')
4407 Developer
INSERT INTO job_vacancies (title) VALUES ( 'Developer')
4408 Tour Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Tour Coordinator')
4409 Spv Produksi Pemasiran Spandek
INSERT INTO job_vacancies (title) VALUES ( 'Spv Produksi Pemasiran Spandek')
4410 Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation Manager')
4411 Apu Ppt Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Apu Ppt Specialist')
4412 Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist')
4413 Senior Strategic Planner ( Research )
INSERT INTO job_vacancies (title) VALUES ( 'Senior Strategic Planner ( Research )')
4414 It Application Developer  (Js - It App Dev)
INSERT INTO job_vacancies (title) VALUES ( 'It Application Developer  (Js - It App Dev)')
4415 Senior Brand Development
INSERT INTO job_vacancies (title) VALUES ( 'Senior Brand Development')
4416 R&D Staff
INSERT INTO job_vacancies (title) VALUES ( 'R&D Staff')
4417 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
4418 Tenant Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tenant Relation Officer')
4419 It Governance And Risk Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Governance And Risk Manager')
4420 Creative Design And Branding Internship (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design And Branding Internship (Magang)')
4421 Rider Team Lead Shopee Express - Hub Randudongkal (Kab. Pemalang, Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Randudongkal (Kab. Pemalang, Jawa Tengah)')
4422 It Backend Java Developer - Programmer (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Backend Java Developer - Programmer (Jakarta)')
4423 Director Of Operations
INSERT INTO job_vacancies (title) VALUES ( 'Director Of Operations')
4424 Credit Quality Review Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Credit Quality Review Specialist')
4425 Sales Project Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Executive')
4426 Tour Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Tour Coordinator')
4427 Spv Produksi Pemasiran Spandek
INSERT INTO job_vacancies (title) VALUES ( 'Spv Produksi Pemasiran Spandek')
4428 E-Commerce Merchandiser (Korean Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Merchandiser (Korean Speaker)')
4429 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4430 Kepala Cabang (Koperasi) Area Kuningan, Majalengka
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Kuningan, Majalengka')
4431 Consultant Improvement Quality & Productivity
INSERT INTO job_vacancies (title) VALUES ( 'Consultant Improvement Quality & Productivity')
4432 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
4433 Account Manager (It)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (It)')
4434 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
4435 Area Manager (Pematang Siantar,Tebing Tinggi, & Lubuk Pakam)
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager (Pematang Siantar,Tebing Tinggi, & Lubuk Pakam)')
4436 Digital Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Executive')
4437 Tenant Relations Collection Semarang Area
INSERT INTO job_vacancies (title) VALUES ( 'Tenant Relations Collection Semarang Area')
4438 Refraksionis Optisien (Refraksi Optisi) (Ro) (Optisi Cek Mata)
INSERT INTO job_vacancies (title) VALUES ( 'Refraksionis Optisien (Refraksi Optisi) (Ro) (Optisi Cek Mata)')
4439 Oracle Developer  /  Programer
INSERT INTO job_vacancies (title) VALUES ( 'Oracle Developer  /  Programer')
4440 Marketing Verification Officer (Js - Mvo) Jember
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Jember')
4441 Administrasi Finance (Malang)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Malang)')
4442 It Strategy Consulting
INSERT INTO job_vacancies (title) VALUES ( 'It Strategy Consulting')
4443 Spg  /  Spb Area Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Spg  /  Spb Area Cirebon')
4444 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4445 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
4446 Power O&M Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Power O&M Engineer')
4447 Recovery Mobil - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Mobil - Semarang')
4448 Merchant Partnership (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Merchant Partnership (Bali)')
4449 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
4450 Sales And Marketing Manager Landed Housing
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Manager Landed Housing')
4451 It Consultant
INSERT INTO job_vacancies (title) VALUES ( 'It Consultant')
4452 Customer Relation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Supervisor')
4453 Telesales  /  Telemarketing
INSERT INTO job_vacancies (title) VALUES ( 'Telesales  /  Telemarketing')
4454 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
4455 Kepala Cabang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang')
4456 Bim Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Bim Coordinator')
4457 Junior High School Level Mathematic Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Junior High School Level Mathematic Teacher')
4458 Qc Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Qc Analyst')
4459 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
4460 Emerging Business Relationship Manager (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Emerging Business Relationship Manager (Bandung)')
4461 Senior Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Officer')
4462 Electronics Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electronics Engineer')
4463 Supervisor Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Gudang')
4464 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
4465 Admin Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Purchasing')
4466 Retail & Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Retail & Operation Manager')
4467 Supervisor Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting')
4468 (Jv2203003) Account Officer - Sales - Jember
INSERT INTO job_vacancies (title) VALUES ( '(Jv2203003) Account Officer - Sales - Jember')
4469 Supervisor Hatchery - Cooling Room (Sukabumi - Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Hatchery - Cooling Room (Sukabumi - Jawa Barat)')
4470 Content Writer Weekend - Kompas.Com
INSERT INTO job_vacancies (title) VALUES ( 'Content Writer Weekend - Kompas.Com')
4471 Staff Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Staff Operasional')
4472 Sales Supervisor Sumpiuh
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Sumpiuh')
4473 Finance & Accounting Supervisor - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor - Jambi')
4474 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
4475 Lead Of Wear Material
INSERT INTO job_vacancies (title) VALUES ( 'Lead Of Wear Material')
4476 Sales Keliling / Lapangan / Canvasser
INSERT INTO job_vacancies (title) VALUES ( 'Sales Keliling / Lapangan / Canvasser')
4477 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
4478 Business Excellence Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Business Excellence Supervisor')
4479 Rider Team Lead Shopee Express (Jepara)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Jepara)')
4480 Technical Lead - Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Lead - Software Developer')
4481 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
4482 Internship Business Process
INSERT INTO job_vacancies (title) VALUES ( 'Internship Business Process')
4483 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
4484 Sales Account Manager P&P, West Java Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account Manager P&P, West Java Indonesia')
4485 Senior Cx Project Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Cx Project Specialist')
4486 Marketing Verification Officer (Js - Mvo) Blitar
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Blitar')
4487 Senior Dev Ops Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Dev Ops Manager')
4488 Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Hrga')
4489 Maintenance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Manager')
4490 Staff Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ppic')
4491 Recovery Mobil - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Mobil - Surabaya')
4492 Business Development (Telesales)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (Telesales)')
4493 Consumer Insight Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Consumer Insight Analyst')
4494 Sales Administration
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administration')
4495 Distribution Staff
INSERT INTO job_vacancies (title) VALUES ( 'Distribution Staff')
4496 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
4497 Campaign Officer
INSERT INTO job_vacancies (title) VALUES ( 'Campaign Officer')
4498 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
4499 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
4500 Export Import Officer
INSERT INTO job_vacancies (title) VALUES ( 'Export Import Officer')
4501 Account Officer (Jawa Timur Area)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Jawa Timur Area)')
4502 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
4503 Relationship Officer - Penempatan Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Jakarta Timur')
4504 Chemistry Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Chemistry Teacher')
4505 Software Qa Analyst (Magento)
INSERT INTO job_vacancies (title) VALUES ( 'Software Qa Analyst (Magento)')
4506 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
4507 Staf Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staf Pajak')
4508 Overseas Sales & Document Operation
INSERT INTO job_vacancies (title) VALUES ( 'Overseas Sales & Document Operation')
4509 Sales Marketing Bahan Bangunan Sibolga
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Bahan Bangunan Sibolga')
4510 Reconciliation & Settlement Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Reconciliation & Settlement Specialist')
4511 Senior Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Data Engineer')
4512 Admin Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance Accounting')
4513 Marketing Project
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Project')
4514 Senior Systems Analysts
INSERT INTO job_vacancies (title) VALUES ( 'Senior Systems Analysts')
4515 Marketing - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing - Jakarta')
4516 Host Live Streaming (Hair Care Products)
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming (Hair Care Products)')
4517 Qc Inspector Dimensi
INSERT INTO job_vacancies (title) VALUES ( 'Qc Inspector Dimensi')
4518 Sales Executive - Computer (Pc) Accessories (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Computer (Pc) Accessories (Semarang)')
4519 Warehouse Admin
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin')
4520 Field Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Field Marketing')
4521 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4522 Cloud Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Engineer')

4523 Asistant Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Asistant Supervisor')
4524 Mandarin Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Speaker')
4525 Professional Sales Representative (Kalimantan Based)
INSERT INTO job_vacancies (title) VALUES ( 'Professional Sales Representative (Kalimantan Based)')
4526 Regional Sales Manager - West Area
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Manager - West Area')
4527 Overseas Sales & Document Operation
INSERT INTO job_vacancies (title) VALUES ( 'Overseas Sales & Document Operation')
4528 Finance Ap Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ap Staff')
4529 Product Owner
INSERT INTO job_vacancies (title) VALUES ( 'Product Owner')
4530 Field Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Field Marketing')
4531 Database Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Database Engineer')
4532 Uav Staff
INSERT INTO job_vacancies (title) VALUES ( 'Uav Staff')
4533 Training Officer
INSERT INTO job_vacancies (title) VALUES ( 'Training Officer')
4534 Development & Administration Support
INSERT INTO job_vacancies (title) VALUES ( 'Development & Administration Support')
4535 Corporate Sales
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Sales')
4536 Creative Design (Internship)
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design (Internship)')
4537 Field Collector Area Medan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Medan')
4538 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
4539 Staff Administrasi Ppic Plant Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi Ppic Plant Surabaya')
4540 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
4541 Tiktok Content Creator Intern
INSERT INTO job_vacancies (title) VALUES ( 'Tiktok Content Creator Intern')
4542 Digital Content Creator Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Content Creator Staff')
4543 Pool Lifeguard (Waterland Metland Cibitung)
INSERT INTO job_vacancies (title) VALUES ( 'Pool Lifeguard (Waterland Metland Cibitung)')
4544 Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support')
4545 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
4546 Sales Executive - Computer (Pc) Accessories (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Computer (Pc) Accessories (Surabaya)')
4547 Unreal Game Developer
INSERT INTO job_vacancies (title) VALUES ( 'Unreal Game Developer')
4548 Bim Modeler
INSERT INTO job_vacancies (title) VALUES ( 'Bim Modeler')
4549 Administrasi Internship (Pemuda, Rawamangun)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Internship (Pemuda, Rawamangun)')
4550 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
4551 Head Baker
INSERT INTO job_vacancies (title) VALUES ( 'Head Baker')
4552 It System Developer Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'It System Developer Senior Officer')
4553 Sales Marketing & Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing & Business Development')
4554 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
4555 Marketing Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Manager')
4556 Graphic Design Intern (Placement : Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design Intern (Placement : Yogyakarta)')
4557 Karu Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Karu Teknik')
4558 Marketing Bali
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Bali')
4559 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
4560 Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support')
4561 Mis Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Mis Supervisor')
4562 Sap Successfactors Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sap Successfactors Manager')
4563 Penjahit / Tailor
INSERT INTO job_vacancies (title) VALUES ( 'Penjahit / Tailor')
4564 Marketing Representarive Area Bodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Representarive Area Bodetabek')
4565 Marketing Verification Officer (Js - Mvo) Solo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Solo')
4566 Sales Fleet Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Fleet Supervisor')
4567 Marketing Coordinator (Ef Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Coordinator (Ef Palembang)')
4568 Hr Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Ga Manager')
4569 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
4570 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4571 Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Ppic')
4572 Abaper
INSERT INTO job_vacancies (title) VALUES ( 'Abaper')
4573 Pmo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Pmo Specialist')
4574 Sample Developer & Pattern Maker
INSERT INTO job_vacancies (title) VALUES ( 'Sample Developer & Pattern Maker')
4575 Dba Oracle
INSERT INTO job_vacancies (title) VALUES ( 'Dba Oracle')
4576 Technical Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support Engineer')
4577 Sales Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion')
4578 Sales Executive (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Surabaya)')
4579 Marketing Officer Leaseback Bpkb Mobil - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer Leaseback Bpkb Mobil - Cikarang')
4580 Rider Team Lead Shopee Express - Hub Sumbawa (Kab. Sumbawa)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Sumbawa (Kab. Sumbawa)')
4581 Finance, Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting & Tax Manager')
4582 Supervisor Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Digital Marketing')
4583 Kepala Cabang Mobil Seken
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang Mobil Seken')
4584 Senior Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Executive')
4585 Finance Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Manager')
4586 Sales & Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Property')
4587 Refrigerator & Freezer Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Refrigerator & Freezer Product Development')
4588 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
4589 Digital Marketing Osram Automotive (Dmoa)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Osram Automotive (Dmoa)')
4590 Front End
INSERT INTO job_vacancies (title) VALUES ( 'Front End')
4591 Project Manager It
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager It')
4592 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
4593 Senior Human Resources Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Human Resources Manager')
4594 Account Executive (Ae-Aes)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Ae-Aes)')
4595 Supervisor Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting & Tax')
4596 Branding & Social Media Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Branding & Social Media Strategist')
4597 Functional Erp Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Functional Erp Consultant')
4598 Hotel Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hotel Manager')
4599 Research And Development ( Rnd)
INSERT INTO job_vacancies (title) VALUES ( 'Research And Development ( Rnd)')
4600 Rider Team Lead Shopee Express - Hub Sumbawa (Kab. Sumbawa)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Sumbawa (Kab. Sumbawa)')
4601 Recruiter Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruiter Staff')
4602 Staff Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Produksi')
4603 Sales Counter Mobil
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter Mobil')
4604 Fund Operation Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Fund Operation Coordinator')
4605 Regional Sales
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales')
4606 Marketing Verification Officer (Js - Mvo) Bitung
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Bitung')
4607 Overseas Study Education Consultant (Sales) - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Overseas Study Education Consultant (Sales) - Surabaya')
4608 Service Part Planner
INSERT INTO job_vacancies (title) VALUES ( 'Service Part Planner')
4609 Project Marketing (Marketing Projek)
INSERT INTO job_vacancies (title) VALUES ( 'Project Marketing (Marketing Projek)')
4610 Host Live (Tiktok Apps)
INSERT INTO job_vacancies (title) VALUES ( 'Host Live (Tiktok Apps)')
4611 Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer')
4612 Field Collection (Js - Fc) Kedoya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Kedoya')
4613 Field Collector Cabang Garut
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Cabang Garut')
4614 Account Manager Cbn Cloud
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager Cbn Cloud')
4615 Hr Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr Officer')
4616 Marketing Executive (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive (Balikpapan)')
4617 Channel Policy & Performance Monitoring Manager
INSERT INTO job_vacancies (title) VALUES ( 'Channel Policy & Performance Monitoring Manager')
4618 Scrum Master
INSERT INTO job_vacancies (title) VALUES ( 'Scrum Master')
4619 Dealer Consultant Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Dealer Consultant Jabodetabek')
4620 Sales Raw Material (Personal Care & Food Ingredients)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Raw Material (Personal Care & Food Ingredients)')
4621 It Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Application Developer')
4622 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
4623 Hc & Ga F&B
INSERT INTO job_vacancies (title) VALUES ( 'Hc & Ga F&B')
4624 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
4625 Business Development Executive Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive Makassar')
4626 Hr & Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager')
4627 Hrga Staff (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Staff (Temporary)')
4628 Guru Agama (Pai)
INSERT INTO job_vacancies (title) VALUES ( 'Guru Agama (Pai)')
4629 Fakturis
INSERT INTO job_vacancies (title) VALUES ( 'Fakturis')
4630 Manager Design & Planning Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Manager Design & Planning Engineering')
4631 Head Of School Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Head Of School Secretary')
4632 Talent Management Executive
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management Executive')
4633 Product Specialist Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist Manager')
4634 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
4635 Operation & Deployment Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation & Deployment Manager')
4636 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
4637 Technical Sales Representative Cosmetic & Food Ingredients
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Representative Cosmetic & Food Ingredients')
4638 Branding Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Branding Strategist')
4639 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
4640 Network Administrator (Fluent English)
INSERT INTO job_vacancies (title) VALUES ( 'Network Administrator (Fluent English)')
4641 Frontend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Engineer')
4642 Relationship Officer - Penempatan Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Jakarta Utara')
4643 Account Executive For Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive For Interior Design')
4644 Medical Scientific Liaison
INSERT INTO job_vacancies (title) VALUES ( 'Medical Scientific Liaison')
4645 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
4646 Production Control Material Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Production Control Material Specialist')
4647 Transport  And Distribution Administration Staff (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Transport  And Distribution Administration Staff (Pontianak Branch)')
4648 Sales Manager Cabang Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Cabang Yogyakarta')
4649 Fullstack Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Programmer')
4650 Sap Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Consultant')
4651 Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Specialist')
4652 Sales It
INSERT INTO job_vacancies (title) VALUES ( 'Sales It')
4653 Operator (Staff Gudang)
INSERT INTO job_vacancies (title) VALUES ( 'Operator (Staff Gudang)')
4654 Kepala Cabang Bima - Dompu (Nusa Tenggara Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang Bima - Dompu (Nusa Tenggara Barat)')
4655 Administrasi Finance (Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Cirebon)')
4656 Showroom Designer (Visual Merchandiser)
INSERT INTO job_vacancies (title) VALUES ( 'Showroom Designer (Visual Merchandiser)')
4657 Marketing Verification Officer (Js - Mvo) Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Tegal')
4658 Admin Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing Support')
4659 Account Manger (Am)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manger (Am)')
4660 Driver Logistik Fnb
INSERT INTO job_vacancies (title) VALUES ( 'Driver Logistik Fnb')
4661 Sales Wilayah Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales Wilayah Bali')

4662 Sales Marketing Executive And Senior Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive And Senior Marketing Executive')
4663 Engineer Software
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Software')
4664 Sales Engineer Based In Citereup
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Based In Citereup')
4665 Automotive Consultant (Pm Support)
INSERT INTO job_vacancies (title) VALUES ( 'Automotive Consultant (Pm Support)')
4666 Staff Finance - Ar
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance - Ar')
4667 Erp Support Consultant (Sap Business One)
INSERT INTO job_vacancies (title) VALUES ( 'Erp Support Consultant (Sap Business One)')
4668 It Graduate Camp
INSERT INTO job_vacancies (title) VALUES ( 'It Graduate Camp')
4669 Cs & Telemarketing Jr. Spv (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Cs & Telemarketing Jr. Spv (Mandarin Speaking)')
4670 Sap Basis
INSERT INTO job_vacancies (title) VALUES ( 'Sap Basis')
4671 Supervisor Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Digital Marketing')
4672 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4673 Massage Therapist (Puri Indah)
INSERT INTO job_vacancies (title) VALUES ( 'Massage Therapist (Puri Indah)')
4674 Sales Supervisor Gt ( Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Gt ( Jabodetabek)')
4675 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
4676 Admin Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing Support')
4677 Financial Advisor - Tanjung Priok, Sunter, Ancol, Pluit Dan Sekitarnya
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor - Tanjung Priok, Sunter, Ancol, Pluit Dan Sekitarnya')
4678 Marketing Verification Officer (Js - Mvo) Kepanjen
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Kepanjen')
4679 Production Supervisor (Coal Mining)
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor (Coal Mining)')
4680 R&D Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'R&D Assistant Manager')
4681 Recruitment And Assessment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment And Assessment Officer')
4682 Education Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Education Consultant')
4683 Internship Administration
INSERT INTO job_vacancies (title) VALUES ( 'Internship Administration')
4684 Sales - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Sales - Bandung')
4685 Editor Video
INSERT INTO job_vacancies (title) VALUES ( 'Editor Video')
4686 Senior Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting')
4687 Manager Corporate Secretary, Legal And Compliance
INSERT INTO job_vacancies (title) VALUES ( 'Manager Corporate Secretary, Legal And Compliance')
4688 Finance & Accounting Supervisor - Surabaya Barat
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor - Surabaya Barat')
4689 Commercial Coordinator (Sales Department)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Coordinator (Sales Department)')
4690 Kolektor - Singkawang
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor - Singkawang')
4691 Staff Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Staff Recruitment')
4692 Hoyu Support Officer (Banda Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Hoyu Support Officer (Banda Aceh)')
4693 Tele Sales Officer - Asuransi Jiwa & Kesehatan
INSERT INTO job_vacancies (title) VALUES ( 'Tele Sales Officer - Asuransi Jiwa & Kesehatan')
4694 Sales Representative - Bangka
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative - Bangka')
4695 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
4696 Freelance Operation Sales
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Operation Sales')
4697 System Administrator
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator')
4698 Customer Service Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Mandarin')
4699 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
4700 Supply Chain Management (Scm) Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Management (Scm) Manager')
4701 Marketing Verification Officer (Js - Mvo) Lumajang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Lumajang')
4702 Data Analyst Administration Online Shop
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst Administration Online Shop')
4703 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
4704 Staff Admin Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Produksi')
4705 Administration Staff (Js - Adm) Purwokerto
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Purwokerto')
4706 Creative (Production Crew) – Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Creative (Production Crew) – Tangerang Selatan')
4707 Area Sales Manager Fmcg - Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Fmcg - Jawa Barat')
4708 Executive Pastry Chef
INSERT INTO job_vacancies (title) VALUES ( 'Executive Pastry Chef')
4709 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4710 Sales Executive Tyre - Kendari
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Tyre - Kendari')
4711 Sales Executive Luxury Watches & Jewelry Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Luxury Watches & Jewelry Jakarta')
4712 Chief Financial Officer
INSERT INTO job_vacancies (title) VALUES ( 'Chief Financial Officer')
4713 Wakil Kepala Gudang - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Kepala Gudang - Surabaya')
4714 Full Stack Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Software Engineer')
4715 System Analyst (Penempatan Bsd Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst (Penempatan Bsd Tangerang)')
4716 Media Social & Event Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Media Social & Event Administrator')
4717 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
4718 Sales Marketing - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing - Surabaya')
4719 Finance, Accounting, Tax - Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting, Tax - Senior Staff')
4720 Sop Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sop Specialist')
4721 Finance Accounting Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Tax Officer')
4722 Sales Executive - Based In Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Based In Banjarmasin')
4723 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
4724 Sales Support Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support Executive')
4725 Product Specialist Endoscopy Jkt
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist Endoscopy Jkt')
4726 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
4727 Biller Acquisition Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Biller Acquisition Specialist')
4728 Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Specialist')
4729 Assistant Technical Services Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Technical Services Manager')
4730 Photo Editor - Holiday Shift
INSERT INTO job_vacancies (title) VALUES ( 'Photo Editor - Holiday Shift')
4731 Supervisor R&D Analytical Development
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor R&D Analytical Development')
4732 Supplier Performance Control Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Supplier Performance Control Specialist')
4733 Account Officer (Limpung)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Limpung)')
4734 Nlp Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Nlp Engineer')
4735 Senior Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing Officer')
4736 Mortgage Sales Specialist - Surabaya & Malang
INSERT INTO job_vacancies (title) VALUES ( 'Mortgage Sales Specialist - Surabaya & Malang')
4737 Administrasi Penjualan
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Penjualan')
4738 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4739 Japanese Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Personal Assistant')
4740 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4741 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
4742 Sales Corporate Executive - Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Sales Corporate Executive - Jawa Tengah')
4743 Trade Marketing (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Trade Marketing (Mandarin Speaker)')
4744 3D Artist  /  Modeling For Game
INSERT INTO job_vacancies (title) VALUES ( '3D Artist  /  Modeling For Game')
4745 It Network Engineer - Cisco
INSERT INTO job_vacancies (title) VALUES ( 'It Network Engineer - Cisco')
4746 Vp Operation
INSERT INTO job_vacancies (title) VALUES ( 'Vp Operation')
4747 Operational Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Operational Import Staff')
4748 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
4749 Sales - General Chemical (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales - General Chemical (Surabaya)')
4750 Emerging Business Relationship Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Emerging Business Relationship Manager (Surabaya)')
4751 Supervisor Hse
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Hse')
4752 Strategy Planning Executive
INSERT INTO job_vacancies (title) VALUES ( 'Strategy Planning Executive')
4753 Deployment Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Deployment Engineer')
4754 It Business Process Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Process Analyst')
4755 Bancassurance Life Consultant - Cilacap
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - Cilacap')
4756 Nlp Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Nlp Engineer')
4757 Videographer Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer Senior Officer')
4758 It Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Specialist')
4759 Production Planning Staff
INSERT INTO job_vacancies (title) VALUES ( 'Production Planning Staff')
4760 Tax Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tax Specialist')
4761 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
4762 Dplk Operational Staff
INSERT INTO job_vacancies (title) VALUES ( 'Dplk Operational Staff')
4763 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
4764 Wartawan Harian Kompas
INSERT INTO job_vacancies (title) VALUES ( 'Wartawan Harian Kompas')
4765 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
4766 Back-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Developer')
4767 Wedding Sales
INSERT INTO job_vacancies (title) VALUES ( 'Wedding Sales')
4768 Head Of Guidance And Counseling
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Guidance And Counseling')
4769 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
4770 Administration Staff (Js - Adm) - Banyuwangi
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) - Banyuwangi')
4771 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
4772 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
4773 Rm Procurement Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Rm Procurement Supervisor')
4774 Promotion Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Promotion Analyst')
4775 Leasing Supervisor - Gajah Mada Plaza
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Supervisor - Gajah Mada Plaza')
4776 Operations Quality Assurance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operations Quality Assurance Assistant Manager')
4777 E-Commerce Manager
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Manager')
4778 M&E Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'M&E Supervisor')
4779 Bancassurance Consultant (Malang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Consultant (Malang)')
4780 Financial Advisor - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor - Palangkaraya')
4781 School Counselor
INSERT INTO job_vacancies (title) VALUES ( 'School Counselor')
4782 It Junior Programmer And Business Process
INSERT INTO job_vacancies (title) VALUES ( 'It Junior Programmer And Business Process')
4783 Procurement Expert
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Expert')
4784 Internship - Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Internship - Recruitment')
4785 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
4786 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
4787 Marketing Executive - Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive - Business Development')
4788 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
4789 Administration Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Administration Accounting')
4790 It Security & Risk Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Security & Risk Analyst')
4791 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4792 Public Relation & Csr Specialist - Lippo Malls Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Public Relation & Csr Specialist - Lippo Malls Indonesia')
4793 Area Sales Manager Syariah
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Syariah')
4794 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
4795 Interior Desainer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Desainer')
4796 Marketing & Verification Officer (Js - Mvo) Ketanggungan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Ketanggungan')
4797 It Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Staff')
4798 Digital Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Executive')
4799 Sales Specialist (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist (Mandarin Speaker)')
4800 Operator Dryer - Jagung (Ntb)
INSERT INTO job_vacancies (title) VALUES ( 'Operator Dryer - Jagung (Ntb)')
4801 Sales Executive - Based In Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Based In Samarinda')
4802 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4803 Admin Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing')
4804 Staff Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'Staff Content Writer')
4805 Corporate Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Sales Manager')
4806 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')

4807 Internal Audit Bpr
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Bpr')
4808 Sales B2B Corporate (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales B2B Corporate (Jakarta)')
4809 Tower O&M Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Tower O&M Engineer')
4810 Sales Coordinator (Surabaya Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Coordinator (Surabaya Branch)')
4811 Staf Perpajakan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Perpajakan')
4812 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
4813 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
4814 Finance And Administration Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Administration Supervisor')
4815 Cook Helper - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper - Balikpapan')
4816 Sales Supervisor - Ternate
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Ternate')
4817 Junior Trainee Sap Abap Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Trainee Sap Abap Programmer')
4818 Presales Engineer (Maintenance)
INSERT INTO job_vacancies (title) VALUES ( 'Presales Engineer (Maintenance)')
4819 Business Development Executive Pontianak Singkawang Pangkalan Bun
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive Pontianak Singkawang Pangkalan Bun')
4820 Production Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Production Foreman')
4821 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
4822 Sales & Marketing Executive - Banjarmasin (Product : Tyre)
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Executive - Banjarmasin (Product : Tyre)')
4823 Oiler (Tug Boat)
INSERT INTO job_vacancies (title) VALUES ( 'Oiler (Tug Boat)')
4824 Marketing / Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Marketing / Business Development')
4825 Sales Goverment (Project)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Goverment (Project)')
4826 Sales Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support Engineer')
4827 Learning Management Intern
INSERT INTO job_vacancies (title) VALUES ( 'Learning Management Intern')
4828 Online Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Online Marketing Manager')
4829 Sales Representatif (Sr)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representatif (Sr)')
4830 Kolektor Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Lapangan')
4831 Kepala Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Proyek')
4832 Senior Officer For Sentral Senayan Office Towers
INSERT INTO job_vacancies (title) VALUES ( 'Senior Officer For Sentral Senayan Office Towers')
4833 Programmer Aplikasi Crm
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Aplikasi Crm')
4834 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
4835 Online Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Online Marketing')
4836 Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant')
4837 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
4838 Seo
INSERT INTO job_vacancies (title) VALUES ( 'Seo')
4839 People & Organisation Consultant
INSERT INTO job_vacancies (title) VALUES ( 'People & Organisation Consultant')
4840 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
4841 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
4842 Purchasing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer')
4843 Lecturer Specialist S3 - International Business Management
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer Specialist S3 - International Business Management')
4844 It Architect
INSERT INTO job_vacancies (title) VALUES ( 'It Architect')
4845 Pengawas Area Pameran Dan Counter
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Area Pameran Dan Counter')
4846 Marketing & Growth Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Growth Senior Officer')
4847 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
4848 Marketing Executive (Me Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive (Me Jakarta)')
4849 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
4850 Merchandiser ( Garment-Tangerang )
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser ( Garment-Tangerang )')
4851 Landscape Architect
INSERT INTO job_vacancies (title) VALUES ( 'Landscape Architect')
4852 Staf Legal Dan Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Legal Dan Administrasi')
4853 Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor')
4854 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
4855 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
4856 General Admin
INSERT INTO job_vacancies (title) VALUES ( 'General Admin')
4857 Staff Administrasi Legal Humas Kebun (Penempatan Padang Lawas Sumut)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi Legal Humas Kebun (Penempatan Padang Lawas Sumut)')
4858 Hub Lead Shopee Express (Tanjung, Kab. Tabalong - Kalimantan Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Tanjung, Kab. Tabalong - Kalimantan Selatan)')
4859 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
4860 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
4861 Supervisor Store Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Store Yogyakarta')
4862 Leasing Officer (Mall)
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Officer (Mall)')
4863 Strategic Remuneration Manager
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Remuneration Manager')
4864 Finance  /  Accounting  /  Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance  /  Accounting  /  Tax Staff')
4865 Assistant Director (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Director (Mandarin Speaking)')
4866 Sales Executive B2B
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive B2B')
4867 Face To Face Fundraiser (Lica 1) Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Face To Face Fundraiser (Lica 1) Jakarta')
4868 Full Time Math  /  English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Full Time Math  /  English Teacher')
4869 Marketing And Communication Team
INSERT INTO job_vacancies (title) VALUES ( 'Marketing And Communication Team')
4870 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
4871 Kindergarten & Primary Teacher (Guru Tk Dan Sd)
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten & Primary Teacher (Guru Tk Dan Sd)')
4872 Pekerja Harian Lepas (Warehouse & Hub Area Sayurbox)
INSERT INTO job_vacancies (title) VALUES ( 'Pekerja Harian Lepas (Warehouse & Hub Area Sayurbox)')
4873 Penetration Tester
INSERT INTO job_vacancies (title) VALUES ( 'Penetration Tester')
4874 Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer')
4875 Pruventure Development Program (Pdp)
INSERT INTO job_vacancies (title) VALUES ( 'Pruventure Development Program (Pdp)')
4876 Credit Marketing Officer (Cmo) Sobat Dan Carfin
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Sobat Dan Carfin')
4877 Branch Logistic Supervisor (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Logistic Supervisor (Pontianak Branch)')
4878 Sales Executive (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Jakarta)')
4879 Sales Export
INSERT INTO job_vacancies (title) VALUES ( 'Sales Export')
4880 Fashion Designer
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Designer')
4881 Sales Administrator (Ds Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Ds Padang)')
4882 Telesales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Officer')
4883 Assistant Operator  /  Helper
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Operator  /  Helper')
4884 Branch Admin Staff (Custodian - Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Admin Staff (Custodian - Jakarta)')
4885 Cdp Bakery
INSERT INTO job_vacancies (title) VALUES ( 'Cdp Bakery')
4886 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
4887 Supervisor Interior
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Interior')
4888 Funding Card  Officer ( Fco )
INSERT INTO job_vacancies (title) VALUES ( 'Funding Card  Officer ( Fco )')
4889 Marketing Trucking
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Trucking')
4890 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
4891 Marketing Verification Officer (Js - Mvo) Pemalang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Pemalang')
4892 Programmer .Net
INSERT INTO job_vacancies (title) VALUES ( 'Programmer .Net')
4893 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
4894 Tax & Compliance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Compliance Staff')
4895 Sap Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Fico')
4896 Account Officer (Sukoharjo - Klaten)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Sukoharjo - Klaten)')
4897 Staff Warehouse (Helper Gudang)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Warehouse (Helper Gudang)')
4898 Senior Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Senior Drafter')
4899 Translation Project Management Trainee (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Translation Project Management Trainee (Yogyakarta)')
4900 Koordinator Sales
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Sales')
4901 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
4902 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
4903 Area Operations Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Operations Manager')
4904 Staff Accounting (Experience)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting (Experience)')
4905 Product Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Product Analyst')
4906 Restaurant Manager (Amo Cafe Racer)
INSERT INTO job_vacancies (title) VALUES ( 'Restaurant Manager (Amo Cafe Racer)')
4907 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
4908 Arsitek Desain Interior
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek Desain Interior')
4909 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
4910 Network Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Security Engineer')
4911 Marketing Executive Area Sulawesi (Me-Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Area Sulawesi (Me-Sulawesi)')
4912 Graphic Designer (Remote Wfh)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Remote Wfh)')
4913 Driver Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Driver Makassar')
4914 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
4915 Waiters
INSERT INTO job_vacancies (title) VALUES ( 'Waiters')
4916 Sr. Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Flutter Developer')
4917 Sortation Center Lead - Shopee Express (Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Sortation Center Lead - Shopee Express (Batam)')
4918 Direktur Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Direktur Operasional')
4919 Payroll Officer
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Officer')
4920 Analisis Kredit
INSERT INTO job_vacancies (title) VALUES ( 'Analisis Kredit')
4921 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
4922 Sr Manager Infrastructure
INSERT INTO job_vacancies (title) VALUES ( 'Sr Manager Infrastructure')
4923 Etl Developer
INSERT INTO job_vacancies (title) VALUES ( 'Etl Developer')
4924 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
4925 Specialty Sales - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Specialty Sales - Jakarta')
4926 Adm. Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Adm. Logistik')
4927 Regional Sales Manager - Central Java
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Manager - Central Java')
4928 Oem Qc Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Oem Qc Supervisor')
4929 Odoo Business Analyst (Full-Wfh During Covid-19)
INSERT INTO job_vacancies (title) VALUES ( 'Odoo Business Analyst (Full-Wfh During Covid-19)')
4930 Spg Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Spg Outlet')
4931 Utility Staff (Penempatan : Karawang)
INSERT INTO job_vacancies (title) VALUES ( 'Utility Staff (Penempatan : Karawang)')
4932 Dosen Keperawatan
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Keperawatan')
4933 Laoshi For Jakarta, Palu, Lampung, Lombok
INSERT INTO job_vacancies (title) VALUES ( 'Laoshi For Jakarta, Palu, Lampung, Lombok')
4934 Sales Supervisor - It Solutions
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - It Solutions')
4935 Koordinator Pustakawan
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Pustakawan')
4936 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
4937 Senior It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Programmer')
4938 Growth Manager
INSERT INTO job_vacancies (title) VALUES ( 'Growth Manager')
4939 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
4940 Senior Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing')
4941 Product Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Manager')
4942 Digital Booth Camp For It
INSERT INTO job_vacancies (title) VALUES ( 'Digital Booth Camp For It')
4943 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
4944 Risk Control Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Risk Control Specialist')
4945 Vacation Planner - Japanese Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Vacation Planner - Japanese Speaking')
4946 Science & Math Teacher Upper Primary And Lower Secondary
INSERT INTO job_vacancies (title) VALUES ( 'Science & Math Teacher Upper Primary And Lower Secondary')
4947 Stockman (Ds Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Stockman (Ds Padang)')
4948 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
4949 Manager Research & Development
INSERT INTO job_vacancies (title) VALUES ( 'Manager Research & Development')
4950 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
4951 Japanese Intepreter
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Intepreter')
4952 Spv Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Spv Digital Marketing')
4953 Supervisor Sales Canvasing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Canvasing')
4954 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
4955 Marketing & Verification Officer (Js - Mvo) Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bogor')
4956 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
4957 Flexi Financial Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Flexi Financial Advisor')
4958 Front End Developer (Project Based)
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer (Project Based)')
4959 Spv Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Spv Finance Accounting')
4960 Administration Head (Karawang, Pontianak, Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Administration Head (Karawang, Pontianak, Jakarta)')
4961 Business Portfolio Analytics Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Business Portfolio Analytics Specialist')
4962 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
4963 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
4964 Sales Industry Manager - Japanese Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Sales Industry Manager - Japanese Speaking')
4965 Drafter Landscape & Infrastruktur
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Landscape & Infrastruktur')
4966 Procurement Staff (Raw Material)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff (Raw Material)')
4967 Finance Accounting Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Tax Staff')
4968 Account Officer (Ao)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Ao)')
4969 System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer')
4970 Relationship Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager (Surabaya)')
4971 Import Staff (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Import Staff (Mandarin Speaker)')
4972 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
4973 It Sap Analyst (Basis, Mm, Pp, & Fico)
INSERT INTO job_vacancies (title) VALUES ( 'It Sap Analyst (Basis, Mm, Pp, & Fico)')
4974 Export- Import  Admin
INSERT INTO job_vacancies (title) VALUES ( 'Export- Import  Admin')
4975 System Engineer (Devops)
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer (Devops)')

4976 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
4977 Mekanik Oli Mobil
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Oli Mobil')
4978 Legal Corporate Staff - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Legal Corporate Staff - Pekanbaru')
4979 Site Manager Coal And Mineral Mining
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager Coal And Mineral Mining')
4980 Fullstack Developer (Onsite)
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer (Onsite)')
4981 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
4982 Rpa Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Rpa Development Specialist')
4983 Admin Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Admin Warehouse')
4984 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
4985 Accounting Junior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Junior Staff')
4986 Warehouse Material Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Material Auditor')
4987 Digital Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Account Executive')
4988 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
4989 Sales -  Area Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Sales -  Area Jawa Tengah')
4990 Marketing & Digital Advertiser
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Digital Advertiser')
4991 Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor')
4992 Cashier - English / Mandarin Speaker - (Account Payable / Account Receivable)
INSERT INTO job_vacancies (title) VALUES ( 'Cashier - English / Mandarin Speaker - (Account Payable / Account Receivable)')
4993 Senior It Security
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Security')
4994 Logistik - Inventory Control
INSERT INTO job_vacancies (title) VALUES ( 'Logistik - Inventory Control')
4995 Lowongan Untuk Posisi Manager  /  Chief Finance & Accounting  /  Departemen Head
INSERT INTO job_vacancies (title) VALUES ( 'Lowongan Untuk Posisi Manager  /  Chief Finance & Accounting  /  Departemen Head')
4996 React Native Developer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Developer')
4997 Quality Assurance (Tech)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance (Tech)')
4998 Advertiser (Digital Marketing)
INSERT INTO job_vacancies (title) VALUES ( 'Advertiser (Digital Marketing)')
4999 Staff Administrasi Pengiriman / Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi Pengiriman / Gudang')
5000 Security (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Security (Surabaya)')
5001 Recruitment Consultant (Sales Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Consultant (Sales Consultant)')
5002 Account Executive Enterprise
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Enterprise')
5003 Staff Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Finance')
5004 Admin Last Mile / Linehaul
INSERT INTO job_vacancies (title) VALUES ( 'Admin Last Mile / Linehaul')
5005 Admin Marine
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marine')
5006 Back End Developer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer Staff')
5007 Sales & Customer Relationship Executive – Full Time
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Customer Relationship Executive – Full Time')
5008 Sr. Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Ui / Ux Designer')
5009 Fit Out Staff
INSERT INTO job_vacancies (title) VALUES ( 'Fit Out Staff')
5010 Customer Success Manager (Bali, Medan, Padang, Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Success Manager (Bali, Medan, Padang, Palembang)')
5011 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
5012 Kepala Gudang (Penempatan Ntt - Sumba Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang (Penempatan Ntt - Sumba Timur)')
5013 Sales Executive Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Samarinda')
5014 Partner Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Partner Teacher')
5015 R&D Officer Dan Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'R&D Officer Dan Apoteker')
5016 Sales Osram Automotive (Soa) Jogja
INSERT INTO job_vacancies (title) VALUES ( 'Sales Osram Automotive (Soa) Jogja')
5017 General Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Manager')
5018 Accountant For Construction Business
INSERT INTO job_vacancies (title) VALUES ( 'Accountant For Construction Business')
5019 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
5020 Manager Legal
INSERT INTO job_vacancies (title) VALUES ( 'Manager Legal')
5021 Salesman & Salesgirl
INSERT INTO job_vacancies (title) VALUES ( 'Salesman & Salesgirl')
5022 Warehouse & Fulfillment Operations (Jatim / Jateng / Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Fulfillment Operations (Jatim / Jateng / Bali)')
5023 Sales (Frozen Food)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Frozen Food)')
5024 Talent (Model Host For Marketplace)
INSERT INTO job_vacancies (title) VALUES ( 'Talent (Model Host For Marketplace)')
5025 Sales Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering')
5026 Production Sr. Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Production Sr. Foreman')
5027 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
5028 Personal Assistant (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant (Mandarin Speaker)')
5029 Staff Admin Inventori
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Inventori')
5030 Kindergarten Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten Teacher')
5031 Factory Manager
INSERT INTO job_vacancies (title) VALUES ( 'Factory Manager')
5032 It Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Developer')
5033 Creative Design
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design')
5034 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
5035 Credit Marketing Officer (Cmo) Jambi, Lampung Dan Metro Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Jambi, Lampung Dan Metro Lampung')
5036 Sales Executive - Forwarding & Shipping Line (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Forwarding & Shipping Line (Surabaya)')
5037 Instruktur Bahasa Jepang
INSERT INTO job_vacancies (title) VALUES ( 'Instruktur Bahasa Jepang')
5038 Head Of Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Finance & Accounting')
5039 Relationship Officer - Penempatan Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Pontianak')
5040 Estimator Engineer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Engineer Staff')
5041 Transport Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Transport Section Head')
5042 Admin Cum Kasir
INSERT INTO job_vacancies (title) VALUES ( 'Admin Cum Kasir')
5043 Warehouse Administration Staff (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Administration Staff (Pontianak Branch)')
5044 Customer App Requirement Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Customer App Requirement Supervisor')
5045 Center Manager (Samarinda Hasan Basri Area)
INSERT INTO job_vacancies (title) VALUES ( 'Center Manager (Samarinda Hasan Basri Area)')
5046 Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Development Staff')
5047 Finance And Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting Staff')
5048 Payment Administration Staff (Js - Pas)
INSERT INTO job_vacancies (title) VALUES ( 'Payment Administration Staff (Js - Pas)')
5049 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
5050 Compliance Staff (Under Contract Outsource)
INSERT INTO job_vacancies (title) VALUES ( 'Compliance Staff (Under Contract Outsource)')
5051 Beauty Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Product Manager')
5052 Konsultan Hukum
INSERT INTO job_vacancies (title) VALUES ( 'Konsultan Hukum')
5053 Junior  /  Senior Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior  /  Senior Backend Developer')
5054 Manager Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Purchasing')
5055 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
5056 Web Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Web Quality Assurance')
5057 Treasury Staff (Internship)
INSERT INTO job_vacancies (title) VALUES ( 'Treasury Staff (Internship)')
5058 Kepala Kios / Cabang Seluruh Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Kios / Cabang Seluruh Indonesia')
5059 Graphic Design Lead
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design Lead')
5060 Dutch Speaking Travel Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Dutch Speaking Travel Consultant')
5061 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
5062 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
5063 Marketing & Verification Officer (Js - Mvo) Pondok Indah
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pondok Indah')
5064 Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer')
5065 Staff Accounting (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting (Palembang)')
5066 Marketing Verification Officer (Js - Mvo) Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Yogyakarta')
5067 Technical Sales
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales')
5068 Marketing Verification Officer (Js - Mvo) Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Yogyakarta')
5069 Funding Officer
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer')
5070 French Speaking Travel Consultant
INSERT INTO job_vacancies (title) VALUES ( 'French Speaking Travel Consultant')
5071 Fund Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Fund Accounting')
5072 Course Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Course Consultant')
5073 Production Planning Inventory Control (Ppic / Pmc) (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Production Planning Inventory Control (Ppic / Pmc) (Mandarin Speaker)')
5074 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
5075 Back-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Developer')
5076 Staff Audit Internal
INSERT INTO job_vacancies (title) VALUES ( 'Staff Audit Internal')
5077 Progress Advisor - Permata Hijau
INSERT INTO job_vacancies (title) VALUES ( 'Progress Advisor - Permata Hijau')
5078 Sourcing Import Fruit Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Sourcing Import Fruit Section Head')
5079 Tour Travel Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Tour Travel Consultant')
5080 Programer Checklist
INSERT INTO job_vacancies (title) VALUES ( 'Programer Checklist')
5081 Transmission
INSERT INTO job_vacancies (title) VALUES ( 'Transmission')
5082 Sales Supervisor (Retail+Project) - Batam Area
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Retail+Project) - Batam Area')
5083 Account Officer (Salatiga - Ambarawa)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Salatiga - Ambarawa)')
5084 Staf Quality Control Mikrobiologi Ekstrak
INSERT INTO job_vacancies (title) VALUES ( 'Staf Quality Control Mikrobiologi Ekstrak')
5085 Chief Financial Officer (Cfo)
INSERT INTO job_vacancies (title) VALUES ( 'Chief Financial Officer (Cfo)')
5086 Network Operational Center
INSERT INTO job_vacancies (title) VALUES ( 'Network Operational Center')
5087 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
5088 Hr Organization & Development
INSERT INTO job_vacancies (title) VALUES ( 'Hr Organization & Development')
5089 Staff Produksi Interior Furniture
INSERT INTO job_vacancies (title) VALUES ( 'Staff Produksi Interior Furniture')
5090 Staff Hrd Business & Development
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd Business & Development')
5091 Junior Controller
INSERT INTO job_vacancies (title) VALUES ( 'Junior Controller')
5092 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
5093 Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor')
5094 Relationship Officer - Penempatan Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Banjarmasin')
5095 Sales Manager Java
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Java')
5096 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
5097 Alkes Sales Officer Bali
INSERT INTO job_vacancies (title) VALUES ( 'Alkes Sales Officer Bali')
5098 Hse Automation Staff Shopee Express (Cakung)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Automation Staff Shopee Express (Cakung)')
5099 Teknisi (Menguasai Kelistrikan) - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi (Menguasai Kelistrikan) - Tangerang')
5100 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
5101 Oracle Dba
INSERT INTO job_vacancies (title) VALUES ( 'Oracle Dba')
5102 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
5103 Designer
INSERT INTO job_vacancies (title) VALUES ( 'Designer')
5104 Mechanical & Electrical Technician
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical & Electrical Technician')
5105 Marketing Communication Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Staff')
5106 Sales Engineer (Industrial Automation)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Industrial Automation)')
5107 Wireless O&M Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Wireless O&M Engineer')
5108 Quality Control Sipil (Qc Civil)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Sipil (Qc Civil)')
5109 Client Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Client Acquisition')
5110 Site Engineer  /  Pengawas Proyek Konstruksi
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer  /  Pengawas Proyek Konstruksi')
5111 Bible Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Bible Teacher')
5112 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
5113 Inventory Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Supervisor')
5114 English Teacher ( Guru Bahasa Inggris )
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher ( Guru Bahasa Inggris )')
5115 Seabank - It Operations Project Manager (Maintenance)
INSERT INTO job_vacancies (title) VALUES ( 'Seabank - It Operations Project Manager (Maintenance)')
5116 Dokter Umum
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Umum')
5117 Administrasi Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Teknik')
5118 Sacme Project Coordinator  /  Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sacme Project Coordinator  /  Project Manager')
5119 It Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Developer')
5120 Training Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Training Development Staff')
5121 Staf Delivery Order
INSERT INTO job_vacancies (title) VALUES ( 'Staf Delivery Order')
5122 Drafter Mechanical (Machine Designer)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Mechanical (Machine Designer)')
5123 It Developer (.Net)
INSERT INTO job_vacancies (title) VALUES ( 'It Developer (.Net)')
5124 Spv Hrd-Industrial Relationship
INSERT INTO job_vacancies (title) VALUES ( 'Spv Hrd-Industrial Relationship')
5125 Game Animator
INSERT INTO job_vacancies (title) VALUES ( 'Game Animator')

5126 Direct Sales (Paramount Village Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Direct Sales (Paramount Village Semarang)')
5127 System Analyst (.Net)
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst (.Net)')
5128 Kindergarten Teacher  /  Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten Teacher  /  Assistant')
5129 Android Developer For Edc
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer For Edc')
5130 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
5131 Staf Admin Sales Dan Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staf Admin Sales Dan Purchasing')
5132 Operation Development (Nusa Tenggara, Sulawesi, Maluku Rotation)
INSERT INTO job_vacancies (title) VALUES ( 'Operation Development (Nusa Tenggara, Sulawesi, Maluku Rotation)')
5133 Area Manager (Retail)
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager (Retail)')
5134 Project Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Project Analyst')
5135 Trading Manager
INSERT INTO job_vacancies (title) VALUES ( 'Trading Manager')
5136 Editorial Designer
INSERT INTO job_vacancies (title) VALUES ( 'Editorial Designer')
5137 Cinema Supervisor - Domicile In Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Cinema Supervisor - Domicile In Karawang')
5138 Mekanik Ban Motor
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Ban Motor')
5139 Marketing Spv
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Spv')
5140 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
5141 Business Consultant Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Consultant Assistant Manager')
5142 Sales Retail & Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Retail & Project')
5143 Art Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Art Teacher')
5144 Bancassurance Consultant (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Consultant (Surabaya)')
5145 Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Engineer')
5146 Kepala Marketing Era Jack
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Marketing Era Jack')
5147 Digital Ads Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Ads Specialist')
5148 Field Collector Area Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Palembang')
5149 Senior Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Staff')
5150 Sales (Executive & Counter)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Executive & Counter)')
5151 Sales Horeca ( Hotel, Resto, Cafe )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Horeca ( Hotel, Resto, Cafe )')
5152 Engineering Supervisor (Metland Cileungsi)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor (Metland Cileungsi)')
5153 Marketing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Engineer')
5154 Engineering Staff (Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Staff (Jakarta Utara)')
5155 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
5156 Ppic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor')
5157 Marketing Benang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Benang')
5158 Sales Realty - Tuban (Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Realty - Tuban (Jawa Timur)')
5159 It Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Software Developer')
5160 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
5161 Marketing Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Data Scientist')
5162 It Support Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Support Supervisor')
5163 Credit Relationship Executive (Cre) Lubuk Linggau Dan Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Relationship Executive (Cre) Lubuk Linggau Dan Lampung')
5164 Engineering Staff (Jakarta Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Staff (Jakarta Selatan)')
5165 Sales Manager Peripheral
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Peripheral')
5166 Admin Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Admin Assistant')
5167 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
5168 Store Manager
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager')
5169 Secondary Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Secondary Mathematics Teacher')
5170 Marketing Executive Area Jawa Timur (Me-Jatim)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Area Jawa Timur (Me-Jatim)')
5171 Penanggung Jawab (Apoteker Penanggung Jawab) Dan Rnd
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab (Apoteker Penanggung Jawab) Dan Rnd')
5172 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
5173 Alkes Sales Officer Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Alkes Sales Officer Surabaya')
5174 Credit Relationship Executive (Cre)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Relationship Executive (Cre)')
5175 Kindergarten Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten Teacher')
5176 Security Service (Restaurant)
INSERT INTO job_vacancies (title) VALUES ( 'Security Service (Restaurant)')
5177 Sap Abap Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Sap Abap Programmer')
5178 Lead Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Software Engineer')
5179 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
5180 Visual Comunication Designer
INSERT INTO job_vacancies (title) VALUES ( 'Visual Comunication Designer')
5181 It Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Java Developer')
5182 Sales Executive Printing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Printing')
5183 Personal Trainer (Gym)
INSERT INTO job_vacancies (title) VALUES ( 'Personal Trainer (Gym)')
5184 Sales Canvasser
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser')
5185 Japanese Speaker Officer
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Speaker Officer')
5186 Junior Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Interior Designer')
5187 Sales Marketing Realty
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Realty')
5188 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
5189 Salesman ( Pekanbaru )
INSERT INTO job_vacancies (title) VALUES ( 'Salesman ( Pekanbaru )')
5190 Technical Artist
INSERT INTO job_vacancies (title) VALUES ( 'Technical Artist')
5191 Banking Academy For Sales (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Banking Academy For Sales (Banjarmasin)')
5192 Financial & Network Planning Officer
INSERT INTO job_vacancies (title) VALUES ( 'Financial & Network Planning Officer')
5193 Rider Team Lead Shopee Express - Hub Sentolo (Kab. Kulon Progo)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Sentolo (Kab. Kulon Progo)')
5194 Php Developer
INSERT INTO job_vacancies (title) VALUES ( 'Php Developer')
5195 Funding Officer - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer - Bandung')
5196 Android Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Mobile Developer')
5197 Sales Promotion Bogor - Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion Bogor - Jawa Barat')
5198 Perencana Mep
INSERT INTO job_vacancies (title) VALUES ( 'Perencana Mep')
5199 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
5200 Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation Manager')
5201 Desk Collection Yogyakarta Based
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Yogyakarta Based')
5202 Data Management Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Data Management Consultant')
5203 Sales Engineer Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Balikpapan')
5204 Admin Sales (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales (Pekanbaru)')
5205 Admin Project
INSERT INTO job_vacancies (title) VALUES ( 'Admin Project')
5206 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
5207 Sales Hw5 Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Hw5 Jakarta')
5208 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
5209 Senior Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Programmer')
5210 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
5211 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
5212 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
5213 Staff Marketing ( Malang )
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing ( Malang )')
5214 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
5215 Economist
INSERT INTO job_vacancies (title) VALUES ( 'Economist')
5216 Recruitment Consultant-Mandarin Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Consultant-Mandarin Speaker')
5217 Lead, Business Intelligence
INSERT INTO job_vacancies (title) VALUES ( 'Lead, Business Intelligence')
5218 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
5219 Foreman Atau Supervisor Finishing Body Repair
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Atau Supervisor Finishing Body Repair')
5220 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5221 Quality Assurance Engineer - Code Review
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Engineer - Code Review')
5222 Sales Manager Telecom Product
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Telecom Product')
5223 It Development
INSERT INTO job_vacancies (title) VALUES ( 'It Development')
5224 Kepala Bagian Gudang Bahan Baku (Gbj)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Gudang Bahan Baku (Gbj)')
5225 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
5226 Mt Merchandising Analyst (Statistic Major)
INSERT INTO job_vacancies (title) VALUES ( 'Mt Merchandising Analyst (Statistic Major)')
5227 Sales Driver (Ds Bukittinggi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Driver (Ds Bukittinggi)')
5228 Ux Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Ux Quality Assurance')
5229 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
5230 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
5231 Executive Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Executive Assistant')
5232 Civil And Construction Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Civil And Construction Supervisor')
5233 Sales Marketing (B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (B2B)')
5234 Marketing Geosintetik
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Geosintetik')
5235 Accounting Admin
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Admin')
5236 Sales Marketing (Sealant)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Sealant)')
5237 Sales Executive For Heavy Equipment After-Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive For Heavy Equipment After-Sales')
5238 Mt Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Mt Sales Associate')
5239 Finance & Administration Executive
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Administration Executive')
5240 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5241 Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer')
5242 Field Collection Coordinator (Yogyakarta Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Coordinator (Yogyakarta Area)')
5243 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
5244 Implementation And Function Staff
INSERT INTO job_vacancies (title) VALUES ( 'Implementation And Function Staff')
5245 Marketing & Verification Officer (Js - Mvo) Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Karawang')
5246 Admin Logistik- Bjms Group Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Admin Logistik- Bjms Group Jakarta')
5247 Analis Kimia
INSERT INTO job_vacancies (title) VALUES ( 'Analis Kimia')
5248 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
5249 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
5250 Mekanik Engine & Ac Mobil
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Engine & Ac Mobil')
5251 Internship Program
INSERT INTO job_vacancies (title) VALUES ( 'Internship Program')
5252 Finance & Accounting Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Senior Staff')
5253 Ai Operation
INSERT INTO job_vacancies (title) VALUES ( 'Ai Operation')
5254 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
5255 Sales Representative - Interior & Bahan Bangunan (Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative - Interior & Bahan Bangunan (Sukabumi)')
5256 Executive Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Executive Assistant')
5257 Email Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Email Marketing Officer')
5258 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
5259 Teknisi Elektromedis (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Elektromedis (Tangerang)')
5260 Financial Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Financial Consultant')
5261 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
5262 Video Editor - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor - Jakarta')
5263 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
5264 Security Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Security Network Engineer')
5265 Lead Back End Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Back End Engineer')
5266 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5267 Hr Compliance
INSERT INTO job_vacancies (title) VALUES ( 'Hr Compliance')
5268 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
5269 Head Of Store Development Group
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Store Development Group')
5270 Sales Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Officer')
5271 Sales Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Officer')
5272 Management Improvement & She Dept. Head
INSERT INTO job_vacancies (title) VALUES ( 'Management Improvement & She Dept. Head')
5273 Staf Senior Riset
INSERT INTO job_vacancies (title) VALUES ( 'Staf Senior Riset')
5274 Sales Hw5 Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Sales Hw5 Denpasar')
5275 Sales Marketing Retail
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Retail')
5276 Cargo Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Cargo Sales Executive')
5277 Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online')
5278 Kepala Cabang New Car
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang New Car')
5279 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')

5280 Software Architect
INSERT INTO job_vacancies (title) VALUES ( 'Software Architect')
5281 Senior Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Senior Business Development')
5282 Senior Finance
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance')
5283 Field Collector Area Manado
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Manado')
5284 Senior Corporate Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior Corporate Analyst')
5285 Accounting Senior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Senior Manager')
5286 Marketing Verification Officer (Js - Mvo) Purwodadi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Purwodadi')
5287 Software Engineers
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineers')
5288 Supervisor Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Pajak')
5289 Credit Analyst Mobil - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Palembang')
5290 Sales & Marketing Computer
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Computer')
5291 Tecno Sales Manager - West Java
INSERT INTO job_vacancies (title) VALUES ( 'Tecno Sales Manager - West Java')
5292 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
5293 Administrasi Sales
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Sales')
5294 Sales Toko - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Toko - Tangerang')
5295 Finance Accounting Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Mandarin Speaking')
5296 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
5297 Webtoon Typesetter
INSERT INTO job_vacancies (title) VALUES ( 'Webtoon Typesetter')
5298 Mandarin Operation Admin
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Operation Admin')
5299 Lifeguard
INSERT INTO job_vacancies (title) VALUES ( 'Lifeguard')
5300 Accounting Staff - Gl
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff - Gl')
5301 Junior Odoo Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Odoo Developer')
5302 Admin Piutang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Piutang')
5303 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
5304 Supervisor Dan Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Dan Staff Accounting')
5305 System Administrator Leader (Trend Micro Deep Security)
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator Leader (Trend Micro Deep Security)')
5306 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
5307 Cloud Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Engineer')
5308 Marketing Admin
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Admin')
5309 Admin Invoice (Fileing&Dokumentasi)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Invoice (Fileing&Dokumentasi)')
5310 Sales Retail
INSERT INTO job_vacancies (title) VALUES ( 'Sales Retail')
5311 Tax & Ar
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Ar')
5312 Android Developer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer Staff')
5313 Counsellor Au / Nz (Kelapa Gading)
INSERT INTO job_vacancies (title) VALUES ( 'Counsellor Au / Nz (Kelapa Gading)')
5314 Business English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Business English Teacher')
5315 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5316 R2R Reporting Accounting
INSERT INTO job_vacancies (title) VALUES ( 'R2R Reporting Accounting')
5317 Senior Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Executive')
5318 Cinema Supervisor - Domicile In Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Cinema Supervisor - Domicile In Jakarta')
5319 Estimator / Engineer Mep
INSERT INTO job_vacancies (title) VALUES ( 'Estimator / Engineer Mep')
5320 Content Creator Manager
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Manager')
5321 Junior Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Data Engineer')
5322 It Support And Electronic Data Processing
INSERT INTO job_vacancies (title) VALUES ( 'It Support And Electronic Data Processing')
5323 Promotor Smartphone (Area Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Promotor Smartphone (Area Jawa Timur)')
5324 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
5325 Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris')
5326 Product Support Engineer Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Product Support Engineer Assistant')
5327 Bar Manager
INSERT INTO job_vacancies (title) VALUES ( 'Bar Manager')
5328 Technical Support (Software)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support (Software)')
5329 Sap Functional Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional Fico')
5330 Senior Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Staff')
5331 Operations Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Operations Business Analyst')
5332 Sales Executive - Interior & Bahan Bangunan (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Interior & Bahan Bangunan (Yogyakarta)')
5333 Purchasing Staff (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (Mandarin Speaker)')
5334 Sales Showroom
INSERT INTO job_vacancies (title) VALUES ( 'Sales Showroom')
5335 Project Team Intern - Shopee Express (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Project Team Intern - Shopee Express (Bandung)')
5336 Staff Specialis Web Application
INSERT INTO job_vacancies (title) VALUES ( 'Staff Specialis Web Application')
5337 Dosen Tetap Teknik Informatika (Tif) & Teknik Perangkat Lunak (Tpl) (Penempatan Di Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Tetap Teknik Informatika (Tif) & Teknik Perangkat Lunak (Tpl) (Penempatan Di Batam)')
5338 Officegirl
INSERT INTO job_vacancies (title) VALUES ( 'Officegirl')
5339 System Analyst (San)
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst (San)')
5340 Marketing Manager - Hazelbelle Bakery - Pt. Fhazel Fillindo Jaya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager - Hazelbelle Bakery - Pt. Fhazel Fillindo Jaya')
5341 Manager Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional')
5342 R&D Staff (Jam, Custard, Spread) Product Development
INSERT INTO job_vacancies (title) VALUES ( 'R&D Staff (Jam, Custard, Spread) Product Development')
5343 Front-End Developer (Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Developer (Engineer)')
5344 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5345 Lead Of Mine Operation
INSERT INTO job_vacancies (title) VALUES ( 'Lead Of Mine Operation')
5346 Admin Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Accounting')
5347 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5348 Project Management Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Accountant')
5349 Casemix Manager (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Casemix Manager (Jakarta)')
5350 Civil Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer')
5351 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
5352 Field Collector Area Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Banjarmasin')
5353 Accounting (Account Receivable)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting (Account Receivable)')
5354 Senior Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmer')
5355 Chef De Partie (Cdp)
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie (Cdp)')
5356 Plant Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Plant Supervisor')
5357 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
5358 Erp System Developer And Erp System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Erp System Developer And Erp System Analyst')
5359 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
5360 Sales & Promotion Supervisor (Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Promotion Supervisor (Sulawesi Selatan)')
5361 Sales Corporate (B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Corporate (B2B)')
5362 Compensation And Benefit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Compensation And Benefit Staff')
5363 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
5364 Technical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Engineer')
5365 Quality Control Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Analyst')
5366 Field Education Consultant (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura')
5367 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
5368 Project Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Project Administrator')
5369 Auditor Wilayah
INSERT INTO job_vacancies (title) VALUES ( 'Auditor Wilayah')
5370 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
5371 Maintenance Electrical (Sidoarjo)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Electrical (Sidoarjo)')
5372 Piping Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Piping Engineer')
5373 Sem & Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sem & Seo Specialist')
5374 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5375 Creative Graphic Designer - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Creative Graphic Designer - Jakarta')
5376 It Audit  /  It Security
INSERT INTO job_vacancies (title) VALUES ( 'It Audit  /  It Security')
5377 Sales B2B Executive - Summitech
INSERT INTO job_vacancies (title) VALUES ( 'Sales B2B Executive - Summitech')
5378 Field Collector Area Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Pontianak')
5379 Sales Marketing Design
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Design')
5380 Lowongan Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Lowongan Hrd')
5381 Credit Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer')
5382 Data Analytics Intern
INSERT INTO job_vacancies (title) VALUES ( 'Data Analytics Intern')
5383 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
5384 Manager Online Sales Aparrel Baju
INSERT INTO job_vacancies (title) VALUES ( 'Manager Online Sales Aparrel Baju')
5385 Ui / Ux Artist
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Artist')
5386 Admin Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Admin Produksi')
5387 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
5388 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
5389 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
5390 Sales Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Jakarta')
5391 Ehs Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ehs Supervisor')
5392 Finance Manager (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager (Mandarin Speaking)')
5393 Japanese Interpreter
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Interpreter')
5394 Sales & Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Staff')
5395 Talent Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management Supervisor')
5396 Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance')
5397 Coordinator Project
INSERT INTO job_vacancies (title) VALUES ( 'Coordinator Project')
5398 Credit Analyst Mobil - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Jambi')
5399 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
5400 Hr Executive – Fluent In Mandarin (Both Oral And Written)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Executive – Fluent In Mandarin (Both Oral And Written)')
5401 Terapis Wicara (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Terapis Wicara (Tangerang)')
5402 Kepala Cabang (Koperasi) Area  Batang, Pemalang, Banjarnegara (Mandiraja)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area  Batang, Pemalang, Banjarnegara (Mandiraja)')
5403 Sales  /  Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales  /  Marketing')
5404 Mitra Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Mitra Customer Service')
5405 Business Process & Sop Improvement
INSERT INTO job_vacancies (title) VALUES ( 'Business Process & Sop Improvement')
5406 Quantity Surveyor Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor Staff')
5407 Mathematics Teacher (A Level National Curriculum)
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher (A Level National Curriculum)')
5408 Digital Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Digital Business Analyst')
5409 Sales Executive - Home Appliances (Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Bogor)')
5410 Analis Laboratorium (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Analis Laboratorium (Denpasar)')
5411 Photography Manager
INSERT INTO job_vacancies (title) VALUES ( 'Photography Manager')
5412 Furniture Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Furniture Sales Marketing')
5413 Banking Academy For Sales (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Banking Academy For Sales (Samarinda)')
5414 Relationship Manager (Funding) - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager (Funding) - Makassar')
5415 Cody Care
INSERT INTO job_vacancies (title) VALUES ( 'Cody Care')
5416 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
5417 It Pmo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Pmo Specialist')
5418 Sales Unit (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Unit (Bandung)')
5419 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
5420 Qa  /  Regulatory Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa  /  Regulatory Staff')
5421 Investment Operation Officer - (22495579)
INSERT INTO job_vacancies (title) VALUES ( 'Investment Operation Officer - (22495579)')
5422 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
5423 Timsus  /  Remedial Field Cabang Mojokerto
INSERT INTO job_vacancies (title) VALUES ( 'Timsus  /  Remedial Field Cabang Mojokerto')
5424 Bi Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Bi Consultant')
5425 Sales Executives
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executives')
5426 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
5427 Online Coach
INSERT INTO job_vacancies (title) VALUES ( 'Online Coach')
5428 Sr .Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Sr .Net Developer')
5429 Manager Controller
INSERT INTO job_vacancies (title) VALUES ( 'Manager Controller')
5430 Master Data Management (Mdm) Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Master Data Management (Mdm) Consultant')
5431 Commercial Manager (Greater Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Manager (Greater Surabaya)')
5432 Marketing Engineer (Yogyakarta, Cilacap)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Engineer (Yogyakarta, Cilacap)')
5433 System & Procedure Administrator
INSERT INTO job_vacancies (title) VALUES ( 'System & Procedure Administrator')
5434 It Audit Junior Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Audit Junior Officer')
5435 Quality Assurance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Manager')
5436 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
5437 Maintenance Wastewater Treatment Plant (Wwtp)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Wastewater Treatment Plant (Wwtp)')
5438 Relationship Officer Bca Finance - Penempatan Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer Bca Finance - Penempatan Cirebon')
5439 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
5440 Junior Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Programmer')
5441 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
5442 Sales Group Head

INSERT INTO job_vacancies (title) VALUES ( 'Sales Group Head')
5443 Marketing Officer (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Makassar)')
5444 Math Instructor (Eye Level Bogor Cimanggu)
INSERT INTO job_vacancies (title) VALUES ( 'Math Instructor (Eye Level Bogor Cimanggu)')
5445 Kepala Depo
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Depo')
5446 Collection (Area Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Collection (Area Jawa Barat)')
5447 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5448 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
5449 Claim Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Claim Analyst')
5450 Sales Mitra 10 Denpasar - Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales Mitra 10 Denpasar - Bali')
5451 Quality Assurance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Staff')
5452 Head Of Project - Business Process
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Project - Business Process')
5453 System Administrator Rhel & Vmware
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator Rhel & Vmware')
5454 Koordinator Bongkar Muat Kapal (Bayah Plant)
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Bongkar Muat Kapal (Bayah Plant)')
5455 It Sales Field / Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'It Sales Field / Sales Executive')
5456 Marketing Horeca (Hotel, Restaurant & Cafe) Teh 63
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Horeca (Hotel, Restaurant & Cafe) Teh 63')
5457 Engineering Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Coordinator')
5458 Sales And Marketing Automotive Product (B2C / B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Automotive Product (B2C / B2B)')
5459 Accounting & Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Supervisor')
5460 Junior Collection Field Cabang Mojokerto
INSERT INTO job_vacancies (title) VALUES ( 'Junior Collection Field Cabang Mojokerto')
5461 General Admin (Jakarta, Medan, Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'General Admin (Jakarta, Medan, Pontianak)')
5462 Channel Sales (Yogyakarta Area)
INSERT INTO job_vacancies (title) VALUES ( 'Channel Sales (Yogyakarta Area)')
5463 Staff Control Tower Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staff Control Tower Logistik')
5464 Mathematics Science Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Science Teacher')
5465 Marketing Pemasaran Area Pameran Dan Counter
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Pemasaran Area Pameran Dan Counter')
5466 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
5467 Senior Digital Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Digital Strategist')
5468 Drafter Mep Dan Sipil / Arsitektur
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Mep Dan Sipil / Arsitektur')
5469 Kepala Pos - Bojonegoro
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Bojonegoro')
5470 Staff (Korean Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Staff (Korean Speaker)')
5471 Educator
INSERT INTO job_vacancies (title) VALUES ( 'Educator')
5472 Admin E-Commerce (Cempaka Mas)
INSERT INTO job_vacancies (title) VALUES ( 'Admin E-Commerce (Cempaka Mas)')
5473 Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Project Coordinator')
5474 Marketing Agency - Branch Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency - Branch Balikpapan')
5475 Guru Komputer
INSERT INTO job_vacancies (title) VALUES ( 'Guru Komputer')
5476 Account Executive (Sales B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Sales B2B)')
5477 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
5478 Devops Sysadmin
INSERT INTO job_vacancies (title) VALUES ( 'Devops Sysadmin')
5479 It Auditor
INSERT INTO job_vacancies (title) VALUES ( 'It Auditor')
5480 Brand Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Marketing Manager')
5481 Telesales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Consultant')
5482 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
5483 Global Strategic Communications Lecture
INSERT INTO job_vacancies (title) VALUES ( 'Global Strategic Communications Lecture')
5484 Erp Functional Consultant Sap Business One ( Sap B1 )
INSERT INTO job_vacancies (title) VALUES ( 'Erp Functional Consultant Sap Business One ( Sap B1 )')
5485 Sales (Headmaster Training)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Headmaster Training)')
5486 Design Engineer – Project Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Design Engineer – Project Manager (Surabaya)')
5487 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
5488 Staff Inventory Control
INSERT INTO job_vacancies (title) VALUES ( 'Staff Inventory Control')
5489 Finance And Administration Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Administration Manager')
5490 Sales Acquisition  /  Account Executive Payment Gateway
INSERT INTO job_vacancies (title) VALUES ( 'Sales Acquisition  /  Account Executive Payment Gateway')
5491 Account Manager (Sales Representative) - Bali
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Sales Representative) - Bali')
5492 Marketing & Verification Officer (Js - Mvo) Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bekasi')
5493 Implementation Specialist - Bsa
INSERT INTO job_vacancies (title) VALUES ( 'Implementation Specialist - Bsa')
5494 Rider Team Lead Shopee Express - Hub Randudongkal (Kab. Pemalang, Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Randudongkal (Kab. Pemalang, Jawa Tengah)')
5495 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
5496 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5497 Sales Marketing Manager (Metland Cyber City)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Manager (Metland Cyber City)')
5498 Admin Ar (Penagih Piutang)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Ar (Penagih Piutang)')
5499 Qaqc Manager
INSERT INTO job_vacancies (title) VALUES ( 'Qaqc Manager')
5500 Digital Campaign Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Campaign Senior Officer')
5501 Junior  /  Senior Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior  /  Senior Frontend Developer')
5502 Retail & Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Retail & Operation Manager')
5503 Sales Project Saas (Jakarta Pusat)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Saas (Jakarta Pusat)')
5504 Cloud Development Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Development Engineer')
5505 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
5506 Business Systems Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Systems Assistant Manager')
5507 Cmo Leaseback Bpkb Motor - Area Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Cmo Leaseback Bpkb Motor - Area Cikarang')
5508 Manager Finance Accounting Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Manager Finance Accounting Mandarin Speaking')
5509 R&D Formulator Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'R&D Formulator Supervisor')
5510 Purchasing Assistant Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Assistant Supervisor')
5511 Executive Chef
INSERT INTO job_vacancies (title) VALUES ( 'Executive Chef')
5512 Account Executive - Shopee Express (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive - Shopee Express (Jakarta)')
5513 Sales To & Canvasing
INSERT INTO job_vacancies (title) VALUES ( 'Sales To & Canvasing')
5514 Teknisi Kalibrasi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Kalibrasi')
5515 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
5516 Live Streamer
INSERT INTO job_vacancies (title) VALUES ( 'Live Streamer')
5517 Crm Telesales Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Crm Telesales Team Leader')
5518 Recruitment Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Consultant')
5519 Sales Project Saas (Lombok)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Saas (Lombok)')
5520 Odp Audit
INSERT INTO job_vacancies (title) VALUES ( 'Odp Audit')
5521 English Speaking Holiday Sales Consultants
INSERT INTO job_vacancies (title) VALUES ( 'English Speaking Holiday Sales Consultants')
5522 Driver Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Driver Logistic')
5523 Opex Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Opex Section Head')
5524 Staff Accounting Dan Staff Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting Dan Staff Tax')
5525 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
5526 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5527 Banking Academy For Sales (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Banking Academy For Sales (Balikpapan)')
5528 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
5529 Sales Merchandiser (Balikpapan Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchandiser (Balikpapan Branch)')
5530 Warehouse Supervisor (Spv)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor (Spv)')
5531 Business Executive Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive Balikpapan')
5532 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
5533 Sales Field (Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Field (Bogor)')
5534 Modern Trade Manager (Dmtm)
INSERT INTO job_vacancies (title) VALUES ( 'Modern Trade Manager (Dmtm)')
5535 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
5536 Senior Front-End Developer (React.Js / Vue.Js)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front-End Developer (React.Js / Vue.Js)')
5537 Digital Marketing & Design (Marcomm) Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Design (Marcomm) Manager')
5538 Area Sales Supervisor Fmcg Bontang
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor Fmcg Bontang')
5539 Back End Developer (Kincir.Com)
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer (Kincir.Com)')
5540 Programmer Asp.Net C#
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Asp.Net C#')
5541 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
5542 Computer Science Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Computer Science Teacher')
5543 Banking Academy For Sales (Magelang)
INSERT INTO job_vacancies (title) VALUES ( 'Banking Academy For Sales (Magelang)')
5544 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5545 Content Creator & Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator & Host Live Streaming')
5546 Field Collector Area Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Samarinda')
5547 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
5548 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
5549 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
5550 Perishable Support
INSERT INTO job_vacancies (title) VALUES ( 'Perishable Support')
5551 Sales Project Saas (Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Saas (Jakarta Utara)')
5552 Biology Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Biology Teacher')
5553 Senior Strategic Planner ( Research )
INSERT INTO job_vacancies (title) VALUES ( 'Senior Strategic Planner ( Research )')
5554 Hse Supervisor - Ahli K3 (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Supervisor - Ahli K3 (Mandarin Speaker)')
5555 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
5556 Transfer Pricing Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Transfer Pricing Assistant Manager')
5557 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
5558 Sales Property (Arsitektur)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Property (Arsitektur)')
5559 Sales Music
INSERT INTO job_vacancies (title) VALUES ( 'Sales Music')
5560 Marketing Representative
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Representative')
5561 Program Corporate Business Officer
INSERT INTO job_vacancies (title) VALUES ( 'Program Corporate Business Officer')
5562 Automation Qa  /  Automation Test Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Automation Qa  /  Automation Test Engineer')
5563 Distribution Staff
INSERT INTO job_vacancies (title) VALUES ( 'Distribution Staff')
5564 Guru Smk
INSERT INTO job_vacancies (title) VALUES ( 'Guru Smk')
5565 Gm Finance, Accounting, Tax
INSERT INTO job_vacancies (title) VALUES ( 'Gm Finance, Accounting, Tax')
5566 Audit
INSERT INTO job_vacancies (title) VALUES ( 'Audit')
5567 Leader Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Leader Produksi')
5568 Sap Sd Functional Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Sd Functional Consultant')
5569 Acquiring Operation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Acquiring Operation Engineer')
5570 Issuing Operation Engineer (Iop)
INSERT INTO job_vacancies (title) VALUES ( 'Issuing Operation Engineer (Iop)')
5571 Office Leasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Office Leasing Manager')
5572 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
5573 Teknisi Lift Manado
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Lift Manado')
5574 Logistic Open Planning (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Open Planning (Mandarin Speaker)')
5575 Sourcing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sourcing Executive')
5576 Leader Shift Shopee Express - Hub Tanjung Jabung Barat, Kab. Tanjung Jabung Barat
INSERT INTO job_vacancies (title) VALUES ( 'Leader Shift Shopee Express - Hub Tanjung Jabung Barat, Kab. Tanjung Jabung Barat')
5577 Corporate Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Development Manager')
5578 Product Development Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Assistant Manager')
5579 Senior Merchandiser ( Garment-Tangerang )
INSERT INTO job_vacancies (title) VALUES ( 'Senior Merchandiser ( Garment-Tangerang )')
5580 Microsoft Power Bi Developer
INSERT INTO job_vacancies (title) VALUES ( 'Microsoft Power Bi Developer')
5581 Ops Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Ops Partnership')
5582 Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable')
5583 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
5584 Cinema Supervisor - Domicile In Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Cinema Supervisor - Domicile In Surabaya')
5585 Financial Specialist (Biak Timika Sentani Nabire Masohi)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Specialist (Biak Timika Sentani Nabire Masohi)')
5586 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
5587 Senior Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Senior Digital Marketing')
5588 Supply Chain Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Supervisor')
5589 Qhse Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Qhse Department Head')
5590 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
5591 Community Development Enrichment Program Section Head (Tfi)
INSERT INTO job_vacancies (title) VALUES ( 'Community Development Enrichment Program Section Head (Tfi)')
5592 Programmer Frontend Vuejs Flutter Dotnet
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Frontend Vuejs Flutter Dotnet')

5593 Relationship Officer - Penempatan Magelang
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer - Penempatan Magelang')
5594 Pemimpin Cabang Operasional Dan Bisnis (Wilayah Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Pemimpin Cabang Operasional Dan Bisnis (Wilayah Padang)')
5595 Sales Supervisor (Area Jawa Tengah) (019)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Area Jawa Tengah) (019)')
5596 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
5597 Network Engineer (Ccna)
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer (Ccna)')
5598 Host Live Streaming ( Jakarta Utara )
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming ( Jakarta Utara )')
5599 Layout Designer
INSERT INTO job_vacancies (title) VALUES ( 'Layout Designer')
5600 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
5601 Sales Executive - Stationery Product (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Stationery Product (Yogyakarta)')
5602 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
5603 Lab Production Staff (Kalbe Group)
INSERT INTO job_vacancies (title) VALUES ( 'Lab Production Staff (Kalbe Group)')
5604 Area Sales Manager Granito (Palembang Area)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Granito (Palembang Area)')
5605 Sales Alat Kesehatan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Alat Kesehatan')
5606 Staf It Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Staf It Administrator')
5607 Test Automation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Test Automation Engineer')
5608 Sales Agent Padang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Agent Padang')
5609 Production, Planning & Inventory Control Staff (Ppic Staff)
INSERT INTO job_vacancies (title) VALUES ( 'Production, Planning & Inventory Control Staff (Ppic Staff)')
5610 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
5611 Finance Staff - Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff - Account Payable')
5612 Mine Plan Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Mine Plan Superintendent')
5613 Field Collector Area Batam
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Batam')
5614 Ui Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui Ux Designer')
5615 Marketing Officer - Ciputat
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Ciputat')
5616 Host  /  Content Planner
INSERT INTO job_vacancies (title) VALUES ( 'Host  /  Content Planner')
5617 Mobile App Developer ( Flutter + Kotlin )
INSERT INTO job_vacancies (title) VALUES ( 'Mobile App Developer ( Flutter + Kotlin )')
5618 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
5619 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
5620 Credit Marketing Officer (Sulawesi Barat - Urgent)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Sulawesi Barat - Urgent)')
5621 Faculty Secretariat Staff (Alam Sutera Campus)
INSERT INTO job_vacancies (title) VALUES ( 'Faculty Secretariat Staff (Alam Sutera Campus)')
5622 Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support')
5623 Junior Mine Plan Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Mine Plan Engineer')
5624 Junior Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Junior Marketing Staff')
5625 Relationship Manager Priority (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Priority (Surabaya)')
5626 Head Of Learning Experience
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Learning Experience')
5627 Sales Project Saas (Jakarta Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Saas (Jakarta Barat)')
5628 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
5629 Sales Counter (Spg / Spb) Tangerang & Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Tangerang & Tangerang Selatan')
5630 Bank Relation
INSERT INTO job_vacancies (title) VALUES ( 'Bank Relation')
5631 Field Collector Area Pasuruan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Pasuruan')
5632 Field Collector Coordinator (Purwakarta Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Coordinator (Purwakarta Area)')
5633 Solution Architect (Microsoft Azure & Microsoft 365)
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect (Microsoft Azure & Microsoft 365)')
5634 Accounting Revenue & Refund Flight Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Revenue & Refund Flight Staff')
5635 Network Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Security Engineer')
5636 Promotor Smartphone (Area Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Promotor Smartphone (Area Jawa Barat)')
5637 Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance')
5638 Office Housekeeping Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Office Housekeeping Supervisor')
5639 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
5640 Sales Store (Balikpapan, Medan & Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Store (Balikpapan, Medan & Jakarta)')
5641 Marketing Student Counselor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Student Counselor')
5642 Head Of Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing Communication')
5643 Citiphone Officer - (22493839)
INSERT INTO job_vacancies (title) VALUES ( 'Citiphone Officer - (22493839)')
5644 Finance Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Senior Staff')
5645 Massage Therapist (Pantai Indah Kapuk)
INSERT INTO job_vacancies (title) VALUES ( 'Massage Therapist (Pantai Indah Kapuk)')
5646 Supervisor Store Solo
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Store Solo')
5647 Trucking Document Control
INSERT INTO job_vacancies (title) VALUES ( 'Trucking Document Control')
5648 Staff Accounting Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting Finance')
5649 Sales Executive (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Surabaya)')
5650 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5651 Software Engineer Programmer Developer (Jakarta Work From Home)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer Programmer Developer (Jakarta Work From Home)')
5652 Franchise Development
INSERT INTO job_vacancies (title) VALUES ( 'Franchise Development')
5653 Sr. Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Account Executive')
5654 Personal Assistant To Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Director')
5655 Marketing Manager Wilayah Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager Wilayah Jakarta')
5656 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5657 Junior Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Developer')
5658 Guru Ppkn
INSERT INTO job_vacancies (title) VALUES ( 'Guru Ppkn')
5659 Physiotherapist
INSERT INTO job_vacancies (title) VALUES ( 'Physiotherapist')
5660 International Business Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'International Business Finance Supervisor')
5661 Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Database Administrator')
5662 Hrga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Manager')
5663 Supervisor Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Akunting')
5664 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
5665 Operation Director
INSERT INTO job_vacancies (title) VALUES ( 'Operation Director')
5666 Logistic - Staff
INSERT INTO job_vacancies (title) VALUES ( 'Logistic - Staff')
5667 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5668 Area Supervisor (Dumai)
INSERT INTO job_vacancies (title) VALUES ( 'Area Supervisor (Dumai)')
5669 Quality Assurance  /  Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance  /  Quality Control')
5670 Scrum Master  /  System Analyst Design
INSERT INTO job_vacancies (title) VALUES ( 'Scrum Master  /  System Analyst Design')
5671 Odoo Developer  /  It Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Odoo Developer  /  It Full Stack Developer')
5672 Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Specialist')
5673 Institutional Sales
INSERT INTO job_vacancies (title) VALUES ( 'Institutional Sales')
5674 Community Manager
INSERT INTO job_vacancies (title) VALUES ( 'Community Manager')
5675 Design / Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Design / Videographer')
5676 Staff Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accountant')
5677 Teknisi Kelistrikan  /  Electrical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Kelistrikan  /  Electrical Engineering')
5678 Staff Warehouse  /  Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Warehouse  /  Staff Gudang')
5679 Tech Lead
INSERT INTO job_vacancies (title) VALUES ( 'Tech Lead')
5680 It Support Sap Logistic
INSERT INTO job_vacancies (title) VALUES ( 'It Support Sap Logistic')
5681 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
5682 Ux Researcher
INSERT INTO job_vacancies (title) VALUES ( 'Ux Researcher')
5683 Marketing Sponsorship Promotion Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sponsorship Promotion Jabodetabek')
5684 Marketing Sponsorship Promotion Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sponsorship Promotion Jabodetabek')
5685 Supervisor Finance
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance')
5686 Supervisor Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Engineer')
5687 Sales Supervisor Semarang & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Semarang & Bali')
5688 People Development Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'People Development Assistant Manager')
5689 Sap Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Fico')
5690 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
5691 Sales Freight Forwarder - Export - Import
INSERT INTO job_vacancies (title) VALUES ( 'Sales Freight Forwarder - Export - Import')
5692 Networks Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Networks Assurance')
5693 Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager')
5694 It Support (Programer, Cctv, Network, Hardware, Software)
INSERT INTO job_vacancies (title) VALUES ( 'It Support (Programer, Cctv, Network, Hardware, Software)')
5695 Sales Modern Trade Food - Cj Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Sales Modern Trade Food - Cj Indonesia')
5696 Sales And Marketing Manager (Education)
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Manager (Education)')
5697 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
5698 Marketing Verification Officer (Js - Mvo) Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Balikpapan')
5699 Korean Translator
INSERT INTO job_vacancies (title) VALUES ( 'Korean Translator')
5700 Account Receivable Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Officer')
5701 General Affair Officer (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Officer (Mandarin)')
5702 Sales Consultant (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant (Jakarta)')
5703 Receptionist & Travel Administration
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist & Travel Administration')
5704 Cinema Supervisor - Domicile In Jember
INSERT INTO job_vacancies (title) VALUES ( 'Cinema Supervisor - Domicile In Jember')
5705 Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer')
5706 Marketing Officer (Cab. Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Cab. Surabaya)')
5707 Sales Engineer - Mandarin Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer - Mandarin Speaker')
5708 Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager')
5709 Network Security Engineer (Security Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Network Security Engineer (Security Engineer)')
5710 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
5711 Field Collection Supervisor (Area Jabar)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Supervisor (Area Jabar)')
5712 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5713 Back End Developer (Project Based)
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer (Project Based)')
5714 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
5715 Sales Project Saas (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Saas (Tangerang)')
5716 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5717 Staff Operasional Lapangan Penempatan Lombok
INSERT INTO job_vacancies (title) VALUES ( 'Staff Operasional Lapangan Penempatan Lombok')
5718 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5719 Land Operation Team Leader Shopee Express (Mataram)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Team Leader Shopee Express (Mataram)')
5720 Supervisor Engineering Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Engineering Bogor')
5721 Sales Retail
INSERT INTO job_vacancies (title) VALUES ( 'Sales Retail')
5722 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
5723 Technical Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Supervisor')
5724 Financial Advisor - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor - Balikpapan')
5725 Production Control Material Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Production Control Material Specialist')
5726 Tiktok Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Tiktok Content Creator')
5727 Senior Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Officer')
5728 Secondary Mipa (Math And Science) And Ict Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Secondary Mipa (Math And Science) And Ict Teacher')
5729 Staff Database Ifgf Church
INSERT INTO job_vacancies (title) VALUES ( 'Staff Database Ifgf Church')
5730 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
5731 Beauty Consultant (Counter Kosmetik) Jakarta & Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Consultant (Counter Kosmetik) Jakarta & Surabaya')
5732 Web Developer (Software Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer (Software Engineer)')
5733 Selection Sales Force Amgr
INSERT INTO job_vacancies (title) VALUES ( 'Selection Sales Force Amgr')
5734 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
5735 Account Officer (Kediri)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Kediri)')
5736 Sales Crew Perbankan  (Balikpapan, Samarinda,)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Crew Perbankan  (Balikpapan, Samarinda,)')
5737 Staff Quality Control Proyek Konstruksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Quality Control Proyek Konstruksi')
5738 Senior Research Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior Research Analyst')
5739 Customer Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Officer')
5740 Programmer (.Net)
INSERT INTO job_vacancies (title) VALUES ( 'Programmer (.Net)')
5741 Marketing Verification Officer (Js - Mvo) Singkawang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Singkawang')
5742 Crew Outlet Boga Kitchen Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Crew Outlet Boga Kitchen Cirebon')
5743 Rider Team Lead Shopee Express (Hub Mandau, Kab. Bengkalis, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Hub Mandau, Kab. Bengkalis, Riau)')
5744 Marketing / Sales
INSERT INTO job_vacancies (title) VALUES ( 'Marketing / Sales')
5745 Sales Engineer (Cabang Mojokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Mojokerto)')
5746 Credit Analyst Mobil - Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Bengkulu')
5747 Data Engineer E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer E-Commerce')
5748 Admin Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing')
5749 Marketing Staff For Bachelor Program
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff For Bachelor Program')
5750 Drafter Mekanikal
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Mekanikal')
5751 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
5752 It Sales Officer & Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Sales Officer & Account Manager')
5753 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
5754 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
5755 Kepala Bagian Distribusi Dan Bisnis Development
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Distribusi Dan Bisnis Development')
5756 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')

5757 Junior Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Fullstack Developer')
5758 Marketing & Verification Officer (Js - Mvo) Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Semarang')
5759 Design 3D Interior
INSERT INTO job_vacancies (title) VALUES ( 'Design 3D Interior')
5760 It Business Process Improvement Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Business Process Improvement Staff')
5761 Devops Manager
INSERT INTO job_vacancies (title) VALUES ( 'Devops Manager')
5762 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
5763 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5764 Sales Promotion Staff - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion Staff - Semarang')
5765 Rider Team Lead Shopee Express - Gombong (Kab. Kebumen)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Gombong (Kab. Kebumen)')
5766 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
5767 Admin Area (Papua Barat - Sorong)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Area (Papua Barat - Sorong)')
5768 Mobile Game Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Game Marketing Manager')
5769 Corporate Communication Head
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Communication Head')
5770 Staff Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Staff Warehouse')
5771 Maintenance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Staff')
5772 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
5773 Product Genius | Tunas Bmw
INSERT INTO job_vacancies (title) VALUES ( 'Product Genius | Tunas Bmw')
5774 Spv Qa Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Spv Qa Outlet')
5775 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
5776 Junior Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Fullstack Developer')
5777 Marketing & Verification Officer (Js - Mvo) Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Semarang')
5778 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
5779 Desainer Fashion
INSERT INTO job_vacancies (title) VALUES ( 'Desainer Fashion')
5780 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
5781 Frontend Developer Reactjs [Yogyakarta]
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer Reactjs [Yogyakarta]')
5782 Solution Consultant For Payment Gateway, Digital Banking, Digital Payments
INSERT INTO job_vacancies (title) VALUES ( 'Solution Consultant For Payment Gateway, Digital Banking, Digital Payments')
5783 Field Collector Area Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Yogyakarta')
5784 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5785 Se Account Service Provider (Solution Architecht)
INSERT INTO job_vacancies (title) VALUES ( 'Se Account Service Provider (Solution Architecht)')
5786 Content Designer
INSERT INTO job_vacancies (title) VALUES ( 'Content Designer')
5787 Section Head Housekeeping (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Section Head Housekeeping (Surabaya)')
5788 Application Support Cum Developer
INSERT INTO job_vacancies (title) VALUES ( 'Application Support Cum Developer')
5789 Supervisor Sales Marketing Taking Order (Tegal)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Marketing Taking Order (Tegal)')
5790 Mekanik Truck Trailer
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Truck Trailer')
5791 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
5792 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
5793 Manager Assistant（Bahasa Mandarin）
INSERT INTO job_vacancies (title) VALUES ( 'Manager Assistant（Bahasa Mandarin）')
5794 Business Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer')
5795 Sales Taking Order
INSERT INTO job_vacancies (title) VALUES ( 'Sales Taking Order')
5796 Digital Marketing & Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Sales Executive')
5797 Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Audit Staff')
5798 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
5799 Cargo Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Cargo Sales Manager')
5800 Senior Business Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Business Development Specialist')
5801 Exim Staff (Bonded Zone)
INSERT INTO job_vacancies (title) VALUES ( 'Exim Staff (Bonded Zone)')
5802 Marketplace Operator
INSERT INTO job_vacancies (title) VALUES ( 'Marketplace Operator')
5803 Field Collection Team Leader (Area Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Team Leader (Area Jabodetabek)')
5804 Human Resources Intern
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Intern')
5805 Salesforce Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Salesforce Technical Consultant')
5806 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
5807 Network Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Security Engineer')
5808 Management Representative (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Management Representative (Surabaya)')
5809 Marketing Communication (Marcomm) - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication (Marcomm) - Medan')
5810 Sales Consultant For Jakarta Area
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant For Jakarta Area')
5811 Pre Sales
INSERT INTO job_vacancies (title) VALUES ( 'Pre Sales')
5812 Electronics Research Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electronics Research Engineer')
5813 Water Sports / Lifeguard
INSERT INTO job_vacancies (title) VALUES ( 'Water Sports / Lifeguard')
5814 Finance & Accounting Supervisor - Surabaya Barat
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor - Surabaya Barat')
5815 Osp Design (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Osp Design (Makassar)')
5816 Vulnerability Assessment
INSERT INTO job_vacancies (title) VALUES ( 'Vulnerability Assessment')
5817 Accounting Staff Full Time Wfo
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff Full Time Wfo')
5818 Fleet Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Fleet Logistic')
5819 Sales Marketing Internet Service Provider (Isp)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Internet Service Provider (Isp)')
5820 Europe / Mediterranean Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Europe / Mediterranean Sales Manager')
5821 Sales Engineer  /  Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer  /  Marketing Executive')
5822 Fashion Designer (Ladieswear)
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Designer (Ladieswear)')
5823 Bosnet Academy
INSERT INTO job_vacancies (title) VALUES ( 'Bosnet Academy')
5824 Management Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Management Consultant')
5825 Associate It Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Associate It Auditor')
5826 Sql Dba
INSERT INTO job_vacancies (title) VALUES ( 'Sql Dba')
5827 Apoteker Telemedicine
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Telemedicine')
5828 Sales Field
INSERT INTO job_vacancies (title) VALUES ( 'Sales Field')
5829 Senior Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Recruitment Specialist')
5830 3D Artist
INSERT INTO job_vacancies (title) VALUES ( '3D Artist')
5831 Procurement Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Assistant')
5832 Developer
INSERT INTO job_vacancies (title) VALUES ( 'Developer')
5833 Powerbuilder Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Powerbuilder Programmer')
5834 Beauty Doctor  (Penempatan Medan / Malang)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Doctor  (Penempatan Medan / Malang)')
5835 Senior Game Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Game Programmer')
5836 Project Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Sales Engineer')
5837 Hospital Representative Semarang (Hr-Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Hospital Representative Semarang (Hr-Smg)')
5838 System Administrator Officer
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator Officer')
5839 Sales Executive - Based In Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Based In Banjarmasin')
5840 Night Auditor (Hotel Jogjakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Night Auditor (Hotel Jogjakarta)')
5841 Fashion Designer
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Designer')
5842 Ppjk & Customs Compliance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ppjk & Customs Compliance Manager')
5843 Senior Sales
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales')
5844 Costing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Costing Staff')
5845 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
5846 Store Supervisor (Area Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor (Area Pekanbaru)')
5847 Basketball Coach (Pelatih Basket)
INSERT INTO job_vacancies (title) VALUES ( 'Basketball Coach (Pelatih Basket)')
5848 End User Computing (Euc) Operations Analyst / Lead
INSERT INTO job_vacancies (title) VALUES ( 'End User Computing (Euc) Operations Analyst / Lead')
5849 Staff Senior Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Senior Pajak')
5850 Local Maklon Manager
INSERT INTO job_vacancies (title) VALUES ( 'Local Maklon Manager')
5851 Marketing Manager Wilayah Bandung (Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager Wilayah Bandung (Jawa Barat)')
5852 Event And Promotion Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Event And Promotion Specialist')
5853 Koordinator Administrasi (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Administrasi (Surabaya)')
5854 Capex Procurement Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Capex Procurement Specialist')
5855 Sales Bahan Baku Makanan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Bahan Baku Makanan')
5856 Digital Marketing - Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing - Marketplace')
5857 Sales Executive (Education Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Education Consultant)')
5858 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
5859 Account Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Surabaya)')
5860 Employee Communication Officer
INSERT INTO job_vacancies (title) VALUES ( 'Employee Communication Officer')
5861 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
5862 Messenger - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Messenger - Jakarta')
5863 It Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Developer')
5864 Lead Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Mobile Developer')
5865 Field Collection (Js-Fc) Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js-Fc) Bogor')
5866 Frontend Developer (For Ansvia, Based In Jogja)
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer (For Ansvia, Based In Jogja)')
5867 Videographer (Editor)
INSERT INTO job_vacancies (title) VALUES ( 'Videographer (Editor)')
5868 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
5869 Senior Front End Game Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front End Game Developer')
5870 Beauty Therapist (Beautician)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Therapist (Beautician)')
5871 Marketing Alat Kedokteran
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Alat Kedokteran')
5872 Software Engineer Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer Recruitment Specialist')
5873 Database Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Database Engineer')
5874 Management Development Program (Mdp) Palembang, Makassar Dan Medan
INSERT INTO job_vacancies (title) VALUES ( 'Management Development Program (Mdp) Palembang, Makassar Dan Medan')
5875 Tiktok Operation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tiktok Operation Specialist')
5876 Electrical Engineer (Spv. Level)
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer (Spv. Level)')
5877 Site Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor')
5878 Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance')
5879 Instrument Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Instrument Engineer')
5880 Account Manager For Software Solution Division - Erp Sap B1, Microsoft365, Azure, Pocessforce, Centrify, Parallels, Claroty & Other Software So
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager For Software Solution Division - Erp Sap B1, Microsoft365, Azure, Pocessforce, Centrify, Parallels, Claroty & Other Software So')
5881 Senior Finance Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance Accounting Officer')
5882 Business Intelligence Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Business Intelligence Consultant')
5883 Marketing Officer - Wonosobo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Wonosobo')
5884 Asisten Manager Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Manager Produksi')
5885 Science Teachers For Primary School
INSERT INTO job_vacancies (title) VALUES ( 'Science Teachers For Primary School')
5886 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
5887 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
5888 Compliance / Qa Staff
INSERT INTO job_vacancies (title) VALUES ( 'Compliance / Qa Staff')
5889 It Application Development Head
INSERT INTO job_vacancies (title) VALUES ( 'It Application Development Head')
5890 Interior Desainer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Desainer')
5891 Key Account Executive (Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive (Sales)')
5892 Sales Executive - Based In Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Based In Samarinda')
5893 Guru Desain Grafis Dan Multimedia
INSERT INTO job_vacancies (title) VALUES ( 'Guru Desain Grafis Dan Multimedia')
5894 Video Animator
INSERT INTO job_vacancies (title) VALUES ( 'Video Animator')
5895 Kpr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Kpr Staff')
5896 Business Intelligence Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Intelligence Analyst')
5897 Marketing Wisata
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Wisata')
5898 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
5899 Kepala Unit Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Unit Finance Accounting')
5900 Admin Marketing Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing Support')
5901 Marketing Assistant (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Assistant (Mandarin Speaker)')
5902 Retail Funding Officer Balikpapan & Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Officer Balikpapan & Pontianak')
5903 Sales Engineer Power Distribution And Renewable Energy
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Power Distribution And Renewable Energy')
5904 Warehouse Manager - Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager - Lampung')
5905 Staff Export
INSERT INTO job_vacancies (title) VALUES ( 'Staff Export')

5906 Admin Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Purchasing')
5907 Cook Helper - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper - Balikpapan')
5908 Technician
INSERT INTO job_vacancies (title) VALUES ( 'Technician')
5909 Sales And Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing')
5910 Hrd Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Manager')
5911 Engineer (Mandarin Skill)
INSERT INTO job_vacancies (title) VALUES ( 'Engineer (Mandarin Skill)')
5912 Imported Groceries Product
INSERT INTO job_vacancies (title) VALUES ( 'Imported Groceries Product')
5913 Credit Analyst Mobil - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Denpasar')
5914 Finance Staff (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff (Jakarta)')
5915 Field Collection (Js - Fc) Depok
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Depok')
5916 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
5917 Senior Sales
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales')
5918 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
5919 Budget Supervisor (Finance) - Cs2
INSERT INTO job_vacancies (title) VALUES ( 'Budget Supervisor (Finance) - Cs2')
5920 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
5921 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
5922 Relationship Manager
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager')
5923 Ads Specialist Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Ads Specialist Digital Marketing')
5924 Dokter Kecantikan
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Kecantikan')
5925 Area Supervisor (Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Area Supervisor (Batam)')
5926 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
5927 It Business Process Improvement Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Business Process Improvement Officer')
5928 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
5929 Jr Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Jr Software Developer')
5930 Business Development Associate
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Associate')
5931 Secretary For Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary For Director')
5932 Marketing Sales
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales')
5933 Internal Audit Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Department Head')
5934 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
5935 Assistant Ppic (Production Planning & Inventory Control)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Ppic (Production Planning & Inventory Control)')
5936 Business Development Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Senior Officer')
5937 Project Manager (Hybrid Working)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Hybrid Working)')
5938 General Admin
INSERT INTO job_vacancies (title) VALUES ( 'General Admin')
5939 Manager Business Advisory
INSERT INTO job_vacancies (title) VALUES ( 'Manager Business Advisory')
5940 Administration Staff (Js - Adm) Duri
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Duri')
5941 Sales Mitra 10 Jenggolo - Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Mitra 10 Jenggolo - Sidoarjo')
5942 Admin Sales - Bjms Group Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales - Bjms Group Jakarta')
5943 Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer')
5944 Spa Therapist
INSERT INTO job_vacancies (title) VALUES ( 'Spa Therapist')
5945 Senior Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mobile Developer')
5946 Social Media Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing Manager')
5947 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
5948 Field Sales Leader Tulungagung
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Leader Tulungagung')
5949 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
5950 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
5951 Marketing & Verification Officer (Js - Mvo) Fatmawati
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Fatmawati')
5952 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
5953 Sales Administrator (Ds Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Ds Padang)')
5954 Master Data Management Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Master Data Management Specialist')
5955 Rider Team Lead Shopee Express (Hub Bengkalis, Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Hub Bengkalis, Riau)')
5956 Frontend Developer (React Js)
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer (React Js)')
5957 Kindergarten & Primary Teacher (Guru Tk Dan Sd)
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten & Primary Teacher (Guru Tk Dan Sd)')
5958 It Development
INSERT INTO job_vacancies (title) VALUES ( 'It Development')
5959 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
5960 Multimedia Staff
INSERT INTO job_vacancies (title) VALUES ( 'Multimedia Staff')
5961 Marketing Activation
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Activation')
5962 Assistant Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Tax Manager')
5963 Operator (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Operator (Outsource Contract) - Jogjakarta & Bali')
5964 Restaurant Manager (Amo Cafe Racer)
INSERT INTO job_vacancies (title) VALUES ( 'Restaurant Manager (Amo Cafe Racer)')
5965 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
5966 Marketing & Sales
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Sales')
5967 Compass (Course & Member Progress, Activity & Satisfaction Specialist)
INSERT INTO job_vacancies (title) VALUES ( 'Compass (Course & Member Progress, Activity & Satisfaction Specialist)')
5968 Driver  /  Staf Custody
INSERT INTO job_vacancies (title) VALUES ( 'Driver  /  Staf Custody')
5969 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
5970 Chief Accountant (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Chief Accountant (Pontianak Branch)')
5971 Programmer Golang & Pwa
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Golang & Pwa')
5972 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
5973 Mechanical & Piping Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical & Piping Engineer')
5974 Finance & Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting & Tax Manager')
5975 Field Collection Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Semarang')
5976 Tools Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tools Sales Manager')
5977 Supply Chain
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain')
5978 Crm Manager
INSERT INTO job_vacancies (title) VALUES ( 'Crm Manager')
5979 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
5980 Sales Administration Staff (Pik 2)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administration Staff (Pik 2)')
5981 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
5982 Video Editor Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor Specialist')
5983 Field Collector Area Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Bandung')
5984 Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal')
5985 Kepala Departmen Bisnis ( Qs )
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Departmen Bisnis ( Qs )')
5986 Hr Officer /  Snr. Hr Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr Officer /  Snr. Hr Officer')
5987 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
5988 Cost Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting')
5989 Sales Contest Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Contest Specialist')
5990 Ifrs 17 Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ifrs 17 Manager')
5991 Waiters
INSERT INTO job_vacancies (title) VALUES ( 'Waiters')
5992 Assistant Store Manager For Jakarta Area
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Manager For Jakarta Area')
5993 Beautician Therapist (Puri Indah)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician Therapist (Puri Indah)')
5994 Sales - Coating / F&B / Industrial Chemical
INSERT INTO job_vacancies (title) VALUES ( 'Sales - Coating / F&B / Industrial Chemical')
5995 Driver Sim B1
INSERT INTO job_vacancies (title) VALUES ( 'Driver Sim B1')
5996 Senior Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Legal Officer')
5997 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
5998 Digital Marketing & Design
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Design')
5999 It Network Security Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Network Security Staff')
6000 Stockman (Ds Padang)
INSERT INTO job_vacancies (title) VALUES ( 'Stockman (Ds Padang)')
6001 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
6002 Senior It Support
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Support')
6003 Senior Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Developer')
6004 Customer Service Officer (English Speaking) Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer (English Speaking) Balikpapan')
6005 Accounting & Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Staff')
6006 Regional Sales Manager - Central Java
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Manager - Central Java')
6007 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
6008 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
6009 Purchasing Staff (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (Mandarin Speaker)')
6010 Customer Service & Document Export Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service & Document Export Import Staff')
6011 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
6012 Customer Service & Document Export Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service & Document Export Import Staff')
6013 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
6014 Field Collection (Js - Fc) Pondok Gede
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Pondok Gede')
6015 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
6016 It Project Admin
INSERT INTO job_vacancies (title) VALUES ( 'It Project Admin')
6017 Account Payable Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Staff')
6018 Sales Executive B2B
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive B2B')
6019 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
6020 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
6021 Angular Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Angular Support Engineer')
6022 Head Of Sales
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Sales')
6023 Customer Service Ecommerce
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Ecommerce')
6024 Procurement / Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Procurement / Purchasing')
6025 Supervisor Marketing (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing (Jakarta)')
6026 Civil Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineering')
6027 Mitra Pengiriman Sayurbox (Kurir)
INSERT INTO job_vacancies (title) VALUES ( 'Mitra Pengiriman Sayurbox (Kurir)')
6028 Executive Assistant And Administrative Controller
INSERT INTO job_vacancies (title) VALUES ( 'Executive Assistant And Administrative Controller')
6029 Seo Specialist (Digital Marketing Officer)
INSERT INTO job_vacancies (title) VALUES ( 'Seo Specialist (Digital Marketing Officer)')
6030 Human Resources Specialist (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Specialist (Mandarin Speaking)')
6031 Maintenance Management Shopee Express (Mataram)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Management Shopee Express (Mataram)')
6032 Field Collector Area Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Semarang')
6033 Field Collector Area Malang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Malang')
6034 Chemist Staff
INSERT INTO job_vacancies (title) VALUES ( 'Chemist Staff')
6035 Mandarin Translator - Site
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator - Site')
6036 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
6037 Account Executive Payment Switching
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Payment Switching')
6038 Accounting Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Finance Staff')
6039 Field Collector Area Solo
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Solo')
6040 Internship Content Module Creator
INSERT INTO job_vacancies (title) VALUES ( 'Internship Content Module Creator')
6041 Inventory Manager
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Manager')
6042 Human Capital Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Development Specialist')
6043 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
6044 Kepala Pos - Praya
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pos - Praya')
6045 Account / Sales Leader
INSERT INTO job_vacancies (title) VALUES ( 'Account / Sales Leader')
6046 Golang Developer
INSERT INTO job_vacancies (title) VALUES ( 'Golang Developer')
6047 Compliance
INSERT INTO job_vacancies (title) VALUES ( 'Compliance')
6048 Translator  /  Assistant Manager (Chinese Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Translator  /  Assistant Manager (Chinese Speaking)')
6049 Purchasing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Supervisor')
6050 Inventory Staff
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Staff')
6051 Content Writer Health - Kompas.Com Solo
INSERT INTO job_vacancies (title) VALUES ( 'Content Writer Health - Kompas.Com Solo')
6052 Customer Support (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Support (Bali)')
6053 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
6054 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
6055 Staf Administrasi Dan Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi Dan Keuangan')
6056 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
6057 Product Engineer Chassis Specialist (2 Wheels) | Automotive Ev
INSERT INTO job_vacancies (title) VALUES ( 'Product Engineer Chassis Specialist (2 Wheels) | Automotive Ev')
6058 Koordinator Pustakawan
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Pustakawan')
6059 Dc Leader (Blitar)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Blitar)')
6060 Digital Marketing Staff For Fb / Ig / Tiktok Ads
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff For Fb / Ig / Tiktok Ads')
6061 Graphic Designer (Remote Wfh)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Remote Wfh)')
6062 Sales Finance (Area Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Finance (Area Semarang)')
6063 Ob Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ob Staff')
6064 Hr Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Senior Staff')
6065 General Affairs Officer
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Officer')
6066 Marketing Manager Of Sharia Insurance
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager Of Sharia Insurance')
6067 Supervisor Tax
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Tax')
6068 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
6069 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
6070 Sales Executive Life Science
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Life Science')
6071 Teknisi Gedung
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Gedung')
6072 Product Marketing Executive (Non Decorative Paint)
INSERT INTO job_vacancies (title) VALUES ( 'Product Marketing Executive (Non Decorative Paint)')
6073 Branch Manager Car - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Car - Batam')
6074 Purchasing Staff (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (Mandarin Speaking)')
6075 Pastry Cook
INSERT INTO job_vacancies (title) VALUES ( 'Pastry Cook')

6076 Accounting Junior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Junior Staff')
6077 Sales Executive - Wholesale Trading / Fmcg
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Wholesale Trading / Fmcg')
6078 Manager Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operasional')
6079 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
6080 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
6081 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
6082 Associate Engineer (Mt)
INSERT INTO job_vacancies (title) VALUES ( 'Associate Engineer (Mt)')
6083 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
6084 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
6085 Supervisor Clinic ( Jakarta )
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Clinic ( Jakarta )')
6086 Sales Canvaser
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvaser')
6087 Senior Associate - Risk Assurance - Cmaas (Capital Market Accounting Advisory Services)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Associate - Risk Assurance - Cmaas (Capital Market Accounting Advisory Services)')
6088 Helper / Worker (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Helper / Worker (Pontianak Branch)')
6089 Electrical Engineer Assistant (Asisten Teknisi) - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer Assistant (Asisten Teknisi) - Medan')
6090 Pruventure Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Pruventure Development Program')
6091 Business Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Supervisor')
6092 Spv Sales Dan Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Spv Sales Dan Marketing')
6093 Kepala Teknis
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknis')
6094 General Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Manager')
6095 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
6096 It Infrastructure
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure')
6097 Supervisor Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Marketing')
6098 Executive Recruitment Consultant  /  Talent Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Executive Recruitment Consultant  /  Talent Acquisition')
6099 Spv Tenant Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Spv Tenant Relation Officer')
6100 Marketing Executive Support
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Support')
6101 Preschool English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool English Teacher')
6102 Staff Admin Inventori
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Inventori')
6103 Advertiser (Facebook Ads & Google Ads)
INSERT INTO job_vacancies (title) VALUES ( 'Advertiser (Facebook Ads & Google Ads)')
6104 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
6105 Staff Registrasi R&D
INSERT INTO job_vacancies (title) VALUES ( 'Staff Registrasi R&D')
6106 Senior Architect
INSERT INTO job_vacancies (title) VALUES ( 'Senior Architect')
6107 Teknisi (Sipil Bangunan  /  General Maintenance)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi (Sipil Bangunan  /  General Maintenance)')
6108 Collection (Outsourced Contract)
INSERT INTO job_vacancies (title) VALUES ( 'Collection (Outsourced Contract)')
6109 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
6110 Sap Change Management Senior Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Change Management Senior Consultant')
6111 Sales Agent Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Sales Agent Pekanbaru')
6112 Staff Marketing (Solo - Surakarta - Sukoharjo - Wonogiri)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing (Solo - Surakarta - Sukoharjo - Wonogiri)')
6113 Business Executive (It Product)
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive (It Product)')
6114 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
6115 Marketing Officer (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Medan)')
6116 Quality Management Officer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Management Officer')
6117 Warehouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager')
6118 System Implementator Specialist
INSERT INTO job_vacancies (title) VALUES ( 'System Implementator Specialist')
6119 Expansion Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Expansion Analyst')
6120 Beauty Consultant (Pantai Indah Kapuk)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Consultant (Pantai Indah Kapuk)')
6121 Production Sr. Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Production Sr. Foreman')
6122 It Development  /  It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Development  /  It Programmer')
6123 Elektrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Elektrical Engineer')
6124 Sales Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive')
6125 It Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Account Manager')
6126 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
6127 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6128 Marketing Officer - Tuban
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Tuban')
6129 Sap Business One Technical Consultant (Software Developer / Programmer)
INSERT INTO job_vacancies (title) VALUES ( 'Sap Business One Technical Consultant (Software Developer / Programmer)')
6130 Green School Internship Program 2022
INSERT INTO job_vacancies (title) VALUES ( 'Green School Internship Program 2022')
6131 Corporate Chef (Chinese Food)
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Chef (Chinese Food)')
6132 Sales Executive - Forwarding & Shipping Line (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Forwarding & Shipping Line (Surabaya)')
6133 Bancassurance Life Consultant - (Pangkal Pinang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Pangkal Pinang)')
6134 Fullstack Technical Consultant Php Bootcamp (Yogyakarta Area)
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Technical Consultant Php Bootcamp (Yogyakarta Area)')
6135 Project Planner Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Project Planner Supervisor')
6136 Technical Sales Shrimp (Palu)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Shrimp (Palu)')
6137 Sap Abap Tehnical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Abap Tehnical Consultant')
6138 Network Security
INSERT INTO job_vacancies (title) VALUES ( 'Network Security')
6139 Ivr Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Ivr Engineer')
6140 Tyre Sales Tbr&Otr（Bahasa Mandarin）
INSERT INTO job_vacancies (title) VALUES ( 'Tyre Sales Tbr&Otr（Bahasa Mandarin）')
6141 Sap Business One Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Business One Technical Consultant')
6142 Business Development Innovation Intern
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Innovation Intern')
6143 Credit Administration Officer (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Administration Officer (Samarinda)')
6144 Product & Customer Activation
INSERT INTO job_vacancies (title) VALUES ( 'Product & Customer Activation')
6145 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
6146 Firmware Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Firmware Engineer')
6147 Budget & Reporting
INSERT INTO job_vacancies (title) VALUES ( 'Budget & Reporting')
6148 Senior Marketing Staff For Heavy Equipment & Machinery Leasing -Jakarta-
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing Staff For Heavy Equipment & Machinery Leasing -Jakarta-')
6149 Staf Quality Control Mikrobiologi Ekstrak
INSERT INTO job_vacancies (title) VALUES ( 'Staf Quality Control Mikrobiologi Ekstrak')
6150 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
6151 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
6152 Security Area Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Security Area Semarang')
6153 Dosen Tetap Prodi Teknik Informatika (Ubm Kampus Ancol)
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Tetap Prodi Teknik Informatika (Ubm Kampus Ancol)')
6154 Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support')
6155 Fo Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Fo Project Coordinator')
6156 Graphic Designer & Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer & Content Creator')
6157 E-Commerce Executive
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Executive')
6158 Solution Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Solution Sales Manager')
6159 Sales Promotion Staff (Tuban)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion Staff (Tuban)')
6160 Marketing Verification Officer (Js - Mvo) Wonogiri
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Wonogiri')
6161 Sales Marketing ( Bandung, Depok Dan Tanggerang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing ( Bandung, Depok Dan Tanggerang)')
6162 Hub Manager Batang Arau
INSERT INTO job_vacancies (title) VALUES ( 'Hub Manager Batang Arau')
6163 Export Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Export Import Staff')
6164 Technician -  Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Technician -  Bogor')
6165 Senior Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Manager')
6166 Temporary Admin Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Temporary Admin Logistic')
6167 Cloud Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Business Development Manager')
6168 It Supervisor Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor Software Developer')
6169 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
6170 Kepala Bengkel
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bengkel')
6171 Senior Commercialization Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Commercialization Specialist')
6172 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
6173 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
6174 Mekanik Service Van (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Service Van (Solo)')
6175 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
6176 Buy & Selling Staff  (Marketing & Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Buy & Selling Staff  (Marketing & Sales)')
6177 Supervisor Ppic - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic - Samarinda')
6178 Sales Partner - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Partner - Semarang')
6179 Junior Controller
INSERT INTO job_vacancies (title) VALUES ( 'Junior Controller')
6180 Pengawas Infrastruktur
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Infrastruktur')
6181 Business Development (Sumatera Area)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (Sumatera Area)')
6182 Sap Business One Functional Consultant (Business Analyst)
INSERT INTO job_vacancies (title) VALUES ( 'Sap Business One Functional Consultant (Business Analyst)')
6183 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
6184 Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing')
6185 Program Partnership Services
INSERT INTO job_vacancies (title) VALUES ( 'Program Partnership Services')
6186 Sales Engineer Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Cirebon')
6187 Marketing Communication Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Staff')
6188 Billing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Billing Staff')
6189 Sales Engineer (Industrial Automation)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Industrial Automation)')
6190 Accounting Admin
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Admin')
6191 It Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Support Officer')
6192 Maintenance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Staff')
6193 Erp Functional Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Erp Functional Consultant')
6194 Network Operational Center
INSERT INTO job_vacancies (title) VALUES ( 'Network Operational Center')
6195 Sales Force
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force')
6196 Digital Communication Officer (Penempatan Di Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Communication Officer (Penempatan Di Batam)')
6197 Photographer & Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Photographer & Videographer')
6198 Supervisor Admin
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Admin')
6199 Event Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Event Marketing Staff')
6200 Branch Manager (Area Jawa Tengah) (019)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Area Jawa Tengah) (019)')
6201 Warehouse Team Leader (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Team Leader (Pontianak Branch)')
6202 Marketing Funding
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Funding')
6203 Hrbp (Human Resources Business Partner)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp (Human Resources Business Partner)')
6204 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
6205 Driver Direksi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Direksi')
6206 Inventory Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Supervisor')
6207 Dokter Umum
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Umum')
6208 Recruitment Manager
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Manager')
6209 Staf Admin Sales Dan Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staf Admin Sales Dan Purchasing')
6210 Risk Control
INSERT INTO job_vacancies (title) VALUES ( 'Risk Control')
6211 Call Center
INSERT INTO job_vacancies (title) VALUES ( 'Call Center')
6212 Site Engineer  /  Pengawas Proyek Konstruksi
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer  /  Pengawas Proyek Konstruksi')
6213 Full Stack Developer (React)
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer (React)')
6214 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
6215 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
6216 Financial Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Financial Analyst')
6217 Merchandising Manager
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Manager')
6218 Presales  /  Postsales Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Presales  /  Postsales Network Engineer')
6219 Training Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Training Coordinator')
6220 Tenant Leasing & Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tenant Leasing & Marketing Specialist')
6221 Hse Automation Staff Shopee Express (Cakung)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Automation Staff Shopee Express (Cakung)')
6222 Marketing Strategist  / Koordinator  Klinik Kecantikan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Strategist  / Koordinator  Klinik Kecantikan')
6223 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
6224 Business Analyst - Binus Digital
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst - Binus Digital')
6225 Asst. Manager Marketing (Banten Area)
INSERT INTO job_vacancies (title) VALUES ( 'Asst. Manager Marketing (Banten Area)')

6226 Marketing & Verification Officer (Js - Mvo) Pondok Gede
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pondok Gede')
6227 Administrasi Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Teknik')
6228 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
6229 Staf Delivery Order
INSERT INTO job_vacancies (title) VALUES ( 'Staf Delivery Order')
6230 Manager Operational
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operational')
6231 Branch Manager Bina Usaha (Sumber Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Bina Usaha (Sumber Cirebon)')
6232 Akuntan
INSERT INTO job_vacancies (title) VALUES ( 'Akuntan')
6233 Merchandiser Sushi
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Sushi')
6234 Email Operator
INSERT INTO job_vacancies (title) VALUES ( 'Email Operator')
6235 Operation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Operation Staff')
6236 Branch Control (Internal Audit)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Control (Internal Audit)')
6237 Dokter Kecantikan
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Kecantikan')
6238 Outlet Manager (Chinese Restaurant)
INSERT INTO job_vacancies (title) VALUES ( 'Outlet Manager (Chinese Restaurant)')
6239 Technical Sales Executive  /  Senior Technical Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Executive  /  Senior Technical Sales Executive')
6240 Web Developer & Designer (Shopify)
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer & Designer (Shopify)')
6241 Sales Project - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project - Semarang')
6242 Assistant Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Merchandiser')
6243 Staff Senior Bagian Expor / Impor
INSERT INTO job_vacancies (title) VALUES ( 'Staff Senior Bagian Expor / Impor')
6244 Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff')
6245 Hrd &Ga
INSERT INTO job_vacancies (title) VALUES ( 'Hrd &Ga')
6246 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
6247 Credit Marketing Mobil Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Mobil Cirebon')
6248 Project Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Project Analyst')
6249 Assistant Manager (F&B)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager (F&B)')
6250 Ga Supervisor – Cleaning Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Ga Supervisor – Cleaning Specialist')
6251 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
6252 Sales Motorist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Motorist')
6253 Supervisor Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Internal Audit')
6254 Marketing Data Center Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Data Center Officer')
6255 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
6256 Secretary To Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary To Director')
6257 Project General Manager - Factory Construction
INSERT INTO job_vacancies (title) VALUES ( 'Project General Manager - Factory Construction')
6258 Store Manager (Area Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Area Bandung)')
6259 Ios Developer (Swift)
INSERT INTO job_vacancies (title) VALUES ( 'Ios Developer (Swift)')
6260 Tenant Relation Officer  /  Leasing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tenant Relation Officer  /  Leasing Officer')
6261 Trader - Agricultural Services & Oilseeds
INSERT INTO job_vacancies (title) VALUES ( 'Trader - Agricultural Services & Oilseeds')
6262 Java Programmer - Technical Leader
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer - Technical Leader')
6263 Marketing Operation Manager (市场推广经理)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Operation Manager (市场推广经理)')
6264 Marketing Jr.Supervisor (Insurance / Agency)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Jr.Supervisor (Insurance / Agency)')
6265 Teknisi - Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi - Maintenance')
6266 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
6267 Hr & Ga (Internship)
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga (Internship)')
6268 Sales Project Executive (Office Furniture)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Executive (Office Furniture)')
6269 Spv Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Spv Operasional')
6270 Engineering Supervisor (Metland Cileungsi)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor (Metland Cileungsi)')
6271 Digital Proposition Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Proposition Specialist')
6272 Dokter Kecantikan
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Kecantikan')
6273 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
6274 Holiday Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Holiday Sales Consultant')
6275 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
6276 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
6277 Host Live Streaming E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming E-Commerce')
6278 Ga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ga Supervisor')
6279 Sales Project Saas (Gresik)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Saas (Gresik)')
6280 Developer .Net & Php
INSERT INTO job_vacancies (title) VALUES ( 'Developer .Net & Php')
6281 Analis Laboratorium
INSERT INTO job_vacancies (title) VALUES ( 'Analis Laboratorium')
6282 Funding Officer - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer - Bandung')
6283 Assistant Manager Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Hrga')
6284 Internet Of Things (Iot) Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Internet Of Things (Iot) Engineer')
6285 Sales Industry ( Si )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Industry ( Si )')
6286 Rnd Formulator
INSERT INTO job_vacancies (title) VALUES ( 'Rnd Formulator')
6287 Training Associate Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Training Associate Supervisor')
6288 Mandor Buah
INSERT INTO job_vacancies (title) VALUES ( 'Mandor Buah')
6289 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
6290 Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Manager')
6291 Shopee Express - Operations Quality Assurance (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Operations Quality Assurance (Surabaya)')
6292 Online Jewellery Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Online Jewellery Advisor')
6293 Komandan / Leader Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Komandan / Leader Outlet')
6294 Ux Researcher Senior
INSERT INTO job_vacancies (title) VALUES ( 'Ux Researcher Senior')
6295 Wwtp Technician (Sja Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Wwtp Technician (Sja Smg)')
6296 Senior Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Programmer')
6297 Field Collection (Fc) Sumatera Bagian Utara
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Fc) Sumatera Bagian Utara')
6298 Process Improvement Design (Pid) Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Improvement Design (Pid) Engineer')
6299 Sales Horeca
INSERT INTO job_vacancies (title) VALUES ( 'Sales Horeca')
6300 Human Resource Intern
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Intern')
6301 Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant')
6302 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
6303 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
6304 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
6305 Customer Satisfaction Executive
INSERT INTO job_vacancies (title) VALUES ( 'Customer Satisfaction Executive')
6306 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
6307 Senior Bancassurance Specialist Syariah
INSERT INTO job_vacancies (title) VALUES ( 'Senior Bancassurance Specialist Syariah')
6308 Project Executive Samarinda Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Project Executive Samarinda Balikpapan')
6309 Warehouse & Transportation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Transportation Supervisor')
6310 Rider Team Lead Shopee Express - Hub Perbaungan (Serdang Bedagai, Sumatera Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Perbaungan (Serdang Bedagai, Sumatera Utara)')
6311 Sales Project - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project - Solo')
6312 Sales Hw5 Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Hw5 Jakarta')
6313 Applied Art & Fine Art Teacher  /  Coach
INSERT INTO job_vacancies (title) VALUES ( 'Applied Art & Fine Art Teacher  /  Coach')
6314 Penerjemah Admin Lapangan (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Penerjemah Admin Lapangan (Mandarin Speaker)')
6315 Vehicle Logistic Operator
INSERT INTO job_vacancies (title) VALUES ( 'Vehicle Logistic Operator')
6316 Cost Control
INSERT INTO job_vacancies (title) VALUES ( 'Cost Control')
6317 Early Years Educator
INSERT INTO job_vacancies (title) VALUES ( 'Early Years Educator')
6318 Marketing Kpr
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Kpr')
6319 Staff Marketing ( Malang )
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing ( Malang )')
6320 Internal Auditor (Investigator) Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor (Investigator) Team Leader')
6321 Financial Planning & Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning & Analyst')
6322 Marketing Communication Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Supervisor')
6323 采购专员 Purchasing Staff (Location Gandaria 8 Office Tower)
INSERT INTO job_vacancies (title) VALUES ( '采购专员 Purchasing Staff (Location Gandaria 8 Office Tower)')
6324 Sales Property
INSERT INTO job_vacancies (title) VALUES ( 'Sales Property')
6325 Backend Developer (Historia.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer (Historia.Id)')
6326 Laravel Developer
INSERT INTO job_vacancies (title) VALUES ( 'Laravel Developer')
6327 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
6328 Operations Quality Assurance - Shopee Express (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Operations Quality Assurance - Shopee Express (Semarang)')
6329 Hse Officer ( Safety Officer )
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer ( Safety Officer )')
6330 Kepala Bagian Gudang Bahan Baku (Gbj)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Gudang Bahan Baku (Gbj)')
6331 Finance Tax
INSERT INTO job_vacancies (title) VALUES ( 'Finance Tax')
6332 It Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Staff')
6333 Business Strategy Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Strategy Manager')
6334 Webapp Developer Internship
INSERT INTO job_vacancies (title) VALUES ( 'Webapp Developer Internship')
6335 Wellness Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Wellness Programmer')
6336 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
6337 Penerjemah / Translator Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Penerjemah / Translator Mandarin')
6338 Bpr It Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Bpr It Consultant')
6339 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
6340 Lower Primary Ict Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Lower Primary Ict Teacher')
6341 Pic Project Exhibition
INSERT INTO job_vacancies (title) VALUES ( 'Pic Project Exhibition')
6342 Purchasing Staff (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (Mandarin Speaker)')
6343 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
6344 Manajement
INSERT INTO job_vacancies (title) VALUES ( 'Manajement')
6345 Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Security Engineer')
6346 Korean Translator
INSERT INTO job_vacancies (title) VALUES ( 'Korean Translator')
6347 Content Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Content Strategist')
6348 Laravel Developer
INSERT INTO job_vacancies (title) VALUES ( 'Laravel Developer')
6349 Supervisor Engineering - Refrigerator (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Engineering - Refrigerator (Pontianak Branch)')
6350 Regional Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales & Marketing Manager')
6351 Staff Accounting [Mandarin Speakers]
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting [Mandarin Speakers]')
6352 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
6353 Staff E-Commerce Tangcity
INSERT INTO job_vacancies (title) VALUES ( 'Staff E-Commerce Tangcity')
6354 Product Designer (Ux)
INSERT INTO job_vacancies (title) VALUES ( 'Product Designer (Ux)')
6355 Technical Architect
INSERT INTO job_vacancies (title) VALUES ( 'Technical Architect')
6356 Accounting & Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Supervisor')
6357 Sales Engineer (Chemical Products)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Chemical Products)')
6358 Micro Marketing Manager - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Micro Marketing Manager - Makassar')
6359 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
6360 Accountant / Bookkeeper Staff (Night Shift)
INSERT INTO job_vacancies (title) VALUES ( 'Accountant / Bookkeeper Staff (Night Shift)')
6361 Marketing & Verification Officer (Js - Mvo) Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Karawang')
6362 Mekanik Engine & Ac Mobil
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Engine & Ac Mobil')
6363 Lead, Hospital Business Process Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Lead, Hospital Business Process Internal Auditor')
6364 Relationship Officer
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer')
6365 Sales Lubricant (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Lubricant (Banjarmasin)')
6366 Sales Supervisor (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Pontianak Branch)')
6367 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
6368 Marketing Export
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Export')
6369 Spv Sales (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Sales (Mandarin Speaker)')
6370 Sales Representative - Interior & Bahan Bangunan (Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative - Interior & Bahan Bangunan (Sukabumi)')
6371 Whatsapp Operator
INSERT INTO job_vacancies (title) VALUES ( 'Whatsapp Operator')
6372 Admin Officer - Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Admin Officer - Mandarin')
6373 Staff Hr & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hr & Ga')
6374 Customer Account Representative (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Account Representative (Jakarta)')
6375 Credit Marketing Officer (Kalimantan Timur - Urgent)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Kalimantan Timur - Urgent)')
6376 Sap Fico Functional Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Fico Functional Consultant')
6377 Ict Teacher Secondary
INSERT INTO job_vacancies (title) VALUES ( 'Ict Teacher Secondary')
6378 Sales Canvasing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasing')
6379 Senior Java Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Senior Java Consultant')

6380 Engineering Superitendent
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Superitendent')
6381 Marketing Micro Finance
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Micro Finance')
6382 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
6383 Project Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Project Sales Executive')
6384 Full Stack Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Engineer')
6385 Junior Project Handler
INSERT INTO job_vacancies (title) VALUES ( 'Junior Project Handler')
6386 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
6387 Cloud Infrastructure Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Infrastructure Engineer')
6388 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
6389 Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Specialist')
6390 Game Developer
INSERT INTO job_vacancies (title) VALUES ( 'Game Developer')
6391 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
6392 Admin Sales (It)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales (It)')
6393 Logistic Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Coordinator')
6394 It Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'It Database Administrator')
6395 Warehouse Admin (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin (Outsource Contract) - Jogjakarta & Bali')
6396 Technician
INSERT INTO job_vacancies (title) VALUES ( 'Technician')
6397 Staf Placement Asuransi Umum
INSERT INTO job_vacancies (title) VALUES ( 'Staf Placement Asuransi Umum')
6398 Assistant Brand
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Brand')
6399 English Teacher - Bogor
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher - Bogor')
6400 Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Hrga')
6401 Storing & Laka Management Shopee Express (Mataram)
INSERT INTO job_vacancies (title) VALUES ( 'Storing & Laka Management Shopee Express (Mataram)')
6402 Sales Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering')
6403 Credit Analyst Mobil - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Palembang')
6404 Tecno Sales Manager - West Java
INSERT INTO job_vacancies (title) VALUES ( 'Tecno Sales Manager - West Java')
6405 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
6406 Admin Piutang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Piutang')
6407 Staff Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Accounting')
6408 Waiters
INSERT INTO job_vacancies (title) VALUES ( 'Waiters')
6409 Sales Executive (Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Cirebon)')
6410 Infrastructure Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Infrastructure Sales Engineer')
6411 Field Collector Area Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Surabaya')
6412 Supervisor Dan Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Dan Staff Accounting')
6413 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
6414 Marketing Admin
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Admin')
6415 R&D Formulator Head
INSERT INTO job_vacancies (title) VALUES ( 'R&D Formulator Head')
6416 Sales Engineering Lift Eskalator
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering Lift Eskalator')
6417 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
6418 Designer Osp
INSERT INTO job_vacancies (title) VALUES ( 'Designer Osp')
6419 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
6420 Project Team Intern - Shopee Express (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Project Team Intern - Shopee Express (Bandung)')
6421 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
6422 Qa Automation
INSERT INTO job_vacancies (title) VALUES ( 'Qa Automation')
6423 Tax & Ar
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Ar')
6424 Land Surveyor Staff
INSERT INTO job_vacancies (title) VALUES ( 'Land Surveyor Staff')
6425 Secretary (Practice Assistant)
INSERT INTO job_vacancies (title) VALUES ( 'Secretary (Practice Assistant)')
6426 Sales Executive (B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (B2B)')
6427 Guru Matematika Sma
INSERT INTO job_vacancies (title) VALUES ( 'Guru Matematika Sma')
6428 Mechanical & Electrical Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical & Electrical Estimator')
6429 Staff Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akunting')
6430 Staff Finance & Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Tax Accounting')
6431 Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor')
6432 Finance
INSERT INTO job_vacancies (title) VALUES ( 'Finance')
6433 Copywriter (Area Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter (Area Jakarta)')
6434 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6435 Front-End Developer (Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Developer (Engineer)')
6436 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
6437 Dokter - Indonesia Timur
INSERT INTO job_vacancies (title) VALUES ( 'Dokter - Indonesia Timur')
6438 Card & Loan Officer Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Card & Loan Officer Banjarmasin')
6439 Pic Project Cme
INSERT INTO job_vacancies (title) VALUES ( 'Pic Project Cme')
6440 It Support And Electronic Data Processing
INSERT INTO job_vacancies (title) VALUES ( 'It Support And Electronic Data Processing')
6441 Senior Relationship Officer (Funding) - Sorong
INSERT INTO job_vacancies (title) VALUES ( 'Senior Relationship Officer (Funding) - Sorong')
6442 Marketing F&B
INSERT INTO job_vacancies (title) VALUES ( 'Marketing F&B')
6443 Kepala Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknik')
6444 Collection Supervisor (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Collection Supervisor (Mandarin Speaker)')
6445 Chef - Spanish Food
INSERT INTO job_vacancies (title) VALUES ( 'Chef - Spanish Food')
6446 Financial Advisor (Due Diligence  /  Valuation )
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor (Due Diligence  /  Valuation )')
6447 Contact Center
INSERT INTO job_vacancies (title) VALUES ( 'Contact Center')
6448 Hr Admin (Hris)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Admin (Hris)')
6449 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
6450 Rider Team Lead Shopee Express - Mini Hub Bayung Lencir (Kab. Musi Banyuasin, Sumatera Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Mini Hub Bayung Lencir (Kab. Musi Banyuasin, Sumatera Selatan)')
6451 Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support')
6452 Sales Executive Capital Equipment
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Capital Equipment')
6453 Officegirl
INSERT INTO job_vacancies (title) VALUES ( 'Officegirl')
6454 Field Collection (Js - Fc) Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Bekasi')
6455 Finance
INSERT INTO job_vacancies (title) VALUES ( 'Finance')
6456 Management Development Program (Mdp) Eksternal Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Management Development Program (Mdp) Eksternal Palembang')
6457 Admin Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Accounting')
6458 Desk Collection Qa Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Qa Analyst')
6459 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6460 Staff Perpajakan & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Perpajakan & Accounting')
6461 Qa (Quality Assurance) Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa (Quality Assurance) Engineer')
6462 Cost Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting')
6463 Teknisi Pendingin
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Pendingin')
6464 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
6465 Sales Officer (Cmo) - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer (Cmo) - Balikpapan')
6466 Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Manager')
6467 It Business Analyst (For Insurance Project)
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst (For Insurance Project)')
6468 Marketing Head Multiguna Mobil (Tanjung Pinang)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Head Multiguna Mobil (Tanjung Pinang)')
6469 Civil Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer')
6470 Cloud Developer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Developer')
6471 Senior Graphic Designer Web Designer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Graphic Designer Web Designer')
6472 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
6473 Property Manager
INSERT INTO job_vacancies (title) VALUES ( 'Property Manager')
6474 Tax & Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Accounting Supervisor')
6475 Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager')
6476 Internship Graphic Design (Digd)
INSERT INTO job_vacancies (title) VALUES ( 'Internship Graphic Design (Digd)')
6477 Finance, Accounting & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting & Tax Staff')
6478 Sales Promotion (Magelang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion (Magelang)')
6479 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
6480 Sales Makanan Olahan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Makanan Olahan')
6481 Supervisor Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Business Development')
6482 Online-Store Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Online-Store Key Account Manager')
6483 Lowongan Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Lowongan Hrd')
6484 It Business Development
INSERT INTO job_vacancies (title) VALUES ( 'It Business Development')
6485 It Infrastructure Ops (Jogja)
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Ops (Jogja)')
6486 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
6487 Presales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Presales Engineer')
6488 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
6489 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
6490 Asisten Traksi (Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Traksi (Kalimantan Barat)')
6491 Legal Corporate & Industrial Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Corporate & Industrial Relation Officer')
6492 Part-Time Lecturer In Artificial Intelligence
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer In Artificial Intelligence')
6493 Hydraulic Cylinder Technical
INSERT INTO job_vacancies (title) VALUES ( 'Hydraulic Cylinder Technical')
6494 Chemical Plant Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Chemical Plant Specialist')
6495 Electronic Data Interchange (Edi) Officer
INSERT INTO job_vacancies (title) VALUES ( 'Electronic Data Interchange (Edi) Officer')
6496 Erp (Functional)
INSERT INTO job_vacancies (title) VALUES ( 'Erp (Functional)')
6497 Product Advisor (Spg)
INSERT INTO job_vacancies (title) VALUES ( 'Product Advisor (Spg)')
6498 Organics Farm Manager
INSERT INTO job_vacancies (title) VALUES ( 'Organics Farm Manager')
6499 Senior Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Senior Estimator')
6500 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
6501 Corporate Secretary Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary Manager')
6502 Building Manager
INSERT INTO job_vacancies (title) VALUES ( 'Building Manager')
6503 Sales Chemical For Personal Care And Home Care
INSERT INTO job_vacancies (title) VALUES ( 'Sales Chemical For Personal Care And Home Care')
6504 It Admin
INSERT INTO job_vacancies (title) VALUES ( 'It Admin')
6505 Mitra Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Mitra Customer Service')
6506 Senior Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Executive')
6507 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
6508 Marketing & Verification Officer (Js - Mvo) Padang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Padang')
6509 Tax Accountant / Finance Tax
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accountant / Finance Tax')
6510 Purchasing Staff  (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff  (Mandarin Speaker)')
6511 Sales Executive - Home Appliances (Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Bogor)')
6512 Frontend Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Web Developer')
6513 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
6514 Dokter Umum
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Umum')
6515 Treasury Staff
INSERT INTO job_vacancies (title) VALUES ( 'Treasury Staff')
6516 Qa Tester & Analyst | Saas
INSERT INTO job_vacancies (title) VALUES ( 'Qa Tester & Analyst | Saas')
6517 Credit Analyst Mobil - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Jambi')
6518 Brand Marketing Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Brand Marketing Analyst')
6519 Sales Manager (Based In Jawa Barat – Cikarang Or Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Based In Jawa Barat – Cikarang Or Bekasi)')
6520 Learning Partner Region Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Learning Partner Region Supervisor')
6521 Field Education Consultant (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Field Sales) - Penempatan Kalimantan, Sulawesi, Mataram, Jayapura')
6522 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
6523 Esg Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Esg Assistant')
6524 Research And Development (Rnd)
INSERT INTO job_vacancies (title) VALUES ( 'Research And Development (Rnd)')
6525 Manager Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Purchasing')
6526 It Infrastrcuture Section Head
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastrcuture Section Head')
6527 Drafter Site Project Mep
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Site Project Mep')
6528 Reward & Benefits Officer Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Reward & Benefits Officer Jakarta')
6529 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
6530 Tecno Sales Manager - Central Java
INSERT INTO job_vacancies (title) VALUES ( 'Tecno Sales Manager - Central Java')
6531 Field Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Specialist')
6532 Inbound Call Operator
INSERT INTO job_vacancies (title) VALUES ( 'Inbound Call Operator')
6533 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
6534 Inbound Call Operator
INSERT INTO job_vacancies (title) VALUES ( 'Inbound Call Operator')
6535 Corporate Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Legal Manager')
6536 Staff Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Staff Export Import')
6537 Talent Management Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management Specialist')
6538 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
6539 Quality Assurance (Qa)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance (Qa)')
6540 Qa / Qc
INSERT INTO job_vacancies (title) VALUES ( 'Qa / Qc')
6541 Faith Builder
INSERT INTO job_vacancies (title) VALUES ( 'Faith Builder')
6542 Marketing & Verification Officer (Js - Mvo) Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Tangerang')
6543 Junior Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Junior Data Scientist')
6544 R&D Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'R&D Supervisor')
6545 Project Manager System Pendingin Pt. Pacific Refuto System
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager System Pendingin Pt. Pacific Refuto System')
6546 Blockchain Business Operations & Strategic
INSERT INTO job_vacancies (title) VALUES ( 'Blockchain Business Operations & Strategic')
6547 Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Trainer')
6548 Commercial
INSERT INTO job_vacancies (title) VALUES ( 'Commercial')

6549 Buyer (Junior Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Buyer (Junior Manager)')
6550 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
6551 Civil Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Civil Supervisor')
6552 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
6553 Instructional Designer (Jr.)
INSERT INTO job_vacancies (title) VALUES ( 'Instructional Designer (Jr.)')
6554 Commercial Manager (Greater Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Manager (Greater Surabaya)')
6555 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
6556 Purchasing Spv
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Spv')
6557 Hrd ( Human Resource Development )
INSERT INTO job_vacancies (title) VALUES ( 'Hrd ( Human Resource Development )')
6558 Tax & Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Finance Accounting')
6559 Product Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Sales Manager')
6560 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
6561 Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operational Manager')
6562 Lead It Qa Automation (Tester)
INSERT INTO job_vacancies (title) VALUES ( 'Lead It Qa Automation (Tester)')
6563 Sales Executive (Tallasa City - Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Tallasa City - Makassar)')
6564 Manager Unit Gadai
INSERT INTO job_vacancies (title) VALUES ( 'Manager Unit Gadai')
6565 Sales Retail Area Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Sales Retail Area Jabodetabek')
6566 Kepala Depo
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Depo')
6567 Social Media Admin & Reservation
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Admin & Reservation')
6568 Training & Development Sales
INSERT INTO job_vacancies (title) VALUES ( 'Training & Development Sales')
6569 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
6570 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
6571 Guru Tk
INSERT INTO job_vacancies (title) VALUES ( 'Guru Tk')
6572 Sales Mitra 10 Denpasar - Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales Mitra 10 Denpasar - Bali')
6573 Credit & Risk Specialist (Tanifund)
INSERT INTO job_vacancies (title) VALUES ( 'Credit & Risk Specialist (Tanifund)')
6574 Pastry Cdp
INSERT INTO job_vacancies (title) VALUES ( 'Pastry Cdp')
6575 Quality Assurance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Staff')
6576 Supir Pribadi Direktur ( Driver )
INSERT INTO job_vacancies (title) VALUES ( 'Supir Pribadi Direktur ( Driver )')
6577 Machine Learning / Deep Learning Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Machine Learning / Deep Learning Engineer')
6578 Electrical Technician
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Technician')
6579 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
6580 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
6581 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
6582 Surveyor Penutupan - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor Penutupan - Palembang')
6583 It Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'It Database Administrator')
6584 Revu Sales Executives
INSERT INTO job_vacancies (title) VALUES ( 'Revu Sales Executives')
6585 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6586 Social Media Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Strategist')
6587 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
6588 Regulatory Affairs
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Affairs')
6589 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
6590 Telemarketing
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing')
6591 Project Supervisor (Civil And Interior).
INSERT INTO job_vacancies (title) VALUES ( 'Project Supervisor (Civil And Interior).')
6592 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
6593 Expert Market Research
INSERT INTO job_vacancies (title) VALUES ( 'Expert Market Research')
6594 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
6595 Staff Import
INSERT INTO job_vacancies (title) VALUES ( 'Staff Import')
6596 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
6597 Finance & Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Officer')
6598 Finance & Admin Executive
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Admin Executive')
6599 Working Permit Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Working Permit Specialist')
6600 Marketing Communication Officer (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Officer (Temporary)')
6601 Td, Fx, And Loan Operations Officer - (22495582)
INSERT INTO job_vacancies (title) VALUES ( 'Td, Fx, And Loan Operations Officer - (22495582)')
6602 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
6603 English Teacher - Ef Taman Mini
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher - Ef Taman Mini')
6604 Supervisor Sales (Spv) & Sales - Surabaya Timur
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales (Spv) & Sales - Surabaya Timur')
6605 Full Stack Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Engineer')
6606 Accounting, Costing & Inventory
INSERT INTO job_vacancies (title) VALUES ( 'Accounting, Costing & Inventory')
6607 Sales Marketing B2B
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing B2B')
6608 Coach Field Education Consultant Sorong
INSERT INTO job_vacancies (title) VALUES ( 'Coach Field Education Consultant Sorong')
6609 It Quality Assurance (Software Tester)
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Assurance (Software Tester)')
6610 Global Pmo Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Global Pmo Consultant')
6611 Marketing & Verification Officer (Js - Mvo) Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pekanbaru')
6612 Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Technical Consultant')
6613 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
6614 React Native Programmer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Programmer')
6615 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
6616 Educator
INSERT INTO job_vacancies (title) VALUES ( 'Educator')
6617 Field Account Consultant - Penempatan Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Penempatan Jakarta Timur')
6618 Admin E-Commerce (Cempaka Mas)
INSERT INTO job_vacancies (title) VALUES ( 'Admin E-Commerce (Cempaka Mas)')
6619 Staff Akutansi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akutansi')
6620 Area Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager')
6621 Digital Marketing - Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing - Freight Forwarding')
6622 Sales Agent Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Agent Palembang')
6623 Senior Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Brand Manager')
6624 System Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'System Security Engineer')
6625 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
6626 Dosen Prodi Bisnis Digital (Ubm Kampus Ancol)
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Prodi Bisnis Digital (Ubm Kampus Ancol)')
6627 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
6628 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6629 Iso Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Iso Coordinator')
6630 Land Operation Team Leader Shopee Express (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Team Leader Shopee Express (Pontianak)')
6631 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
6632 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6633 Jr. Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Jr. Accounting Officer')
6634 Pilates Instructor
INSERT INTO job_vacancies (title) VALUES ( 'Pilates Instructor')
6635 Progress Advisor (Ef Sawangan)
INSERT INTO job_vacancies (title) VALUES ( 'Progress Advisor (Ef Sawangan)')
6636 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
6637 Senior It Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Staff')
6638 Staff Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Accounting')
6639 Merchandiser Planner
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Planner')
6640 Supervisor Marketing Elektronik (Bro) Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Elektronik (Bro) Samarinda')
6641 Php Developer & Data Analis
INSERT INTO job_vacancies (title) VALUES ( 'Php Developer & Data Analis')
6642 Credit Marketing Mobil Cimahi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Mobil Cimahi')
6643 Purchasing Lokal Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Lokal Supervisor')
6644 Devops Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Devops Specialist')
6645 Programer
INSERT INTO job_vacancies (title) VALUES ( 'Programer')
6646 Opex Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Opex Section Head')
6647 Digital & Operation Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital & Operation Marketing Specialist')
6648 Management Trainee (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Mandarin Speaker)')
6649 Accounting Supervisor Medan
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor Medan')
6650 Asisten Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker')
6651 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
6652 Data Analytics Manager
INSERT INTO job_vacancies (title) VALUES ( 'Data Analytics Manager')
6653 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
6654 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
6655 Customer Service (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service (Mandarin Speaker)')
6656 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
6657 Credit Marketing Officer (Kalimantan Selatan - Urgent)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Kalimantan Selatan - Urgent)')
6658 Business And Investment Analysis
INSERT INTO job_vacancies (title) VALUES ( 'Business And Investment Analysis')
6659 Internet Marketing Manager (E-Commerce)
INSERT INTO job_vacancies (title) VALUES ( 'Internet Marketing Manager (E-Commerce)')
6660 Warehouse Supervisor (Spv)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor (Spv)')
6661 Programmer Microsoft Dynamics Ax
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Microsoft Dynamics Ax')
6662 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
6663 Staff Accounting Dan Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting Dan Pajak')
6664 Merchandising Manager
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Manager')
6665 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
6666 Sales Marketing & Manager Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing & Manager Marketing')
6667 Teknisi Mekanik Mesin Cetak Offset
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mekanik Mesin Cetak Offset')
6668 Technical Expert
INSERT INTO job_vacancies (title) VALUES ( 'Technical Expert')
6669 It Software Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Software Programmer')
6670 Audit
INSERT INTO job_vacancies (title) VALUES ( 'Audit')
6671 Marketing Verification Officer (Js - Mvo) Salatiga
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Salatiga')
6672 Sales Executive Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Bandung')
6673 Maintenance Mold
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Mold')
6674 Relationship Officer Bca Finance - Penempatan Gresik
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer Bca Finance - Penempatan Gresik')
6675 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
6676 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
6677 Key Account Executive Offline Store & Consignment
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive Offline Store & Consignment')
6678 Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor')
6679 Staff Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Staff Internal Audit')
6680 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
6681 Perishable Support
INSERT INTO job_vacancies (title) VALUES ( 'Perishable Support')
6682 Training Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Training Development Staff')
6683 Sales Account Executive ( Background Media Or Advertising Agency )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account Executive ( Background Media Or Advertising Agency )')
6684 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
6685 Hse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer')
6686 Special Education Program Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Special Education Program Teacher')
6687 Hse Supervisor - Ahli K3 (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Supervisor - Ahli K3 (Mandarin Speaker)')
6688 Kepala Teknik Tambang (Ktt)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknik Tambang (Ktt)')

6689 Sales Kanvasing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Kanvasing')
6690 Executive Chef
INSERT INTO job_vacancies (title) VALUES ( 'Executive Chef')
6691 Marketing & Verification Officer (Js - Mvo) Binjai
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Binjai')
6692 Field Collector Area Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Cirebon')
6693 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
6694 Loan Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Loan Consultant')
6695 Mdp( Management Development Program)
INSERT INTO job_vacancies (title) VALUES ( 'Mdp( Management Development Program)')
6696 Translator
INSERT INTO job_vacancies (title) VALUES ( 'Translator')
6697 Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Staff')
6698 Sales Food Service  /  Horeca - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Food Service  /  Horeca - Solo')
6699 Graphic Design Internship
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design Internship')
6700 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
6701 Senior Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmer')
6702 Service Crew /  Frontliner
INSERT INTO job_vacancies (title) VALUES ( 'Service Crew /  Frontliner')
6703 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
6704 Sap Sd Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Sd Consultant')
6705 Marketplace And E-Commerce Supervisor ( Shopee , Tokopedia , Lazada , Jd.Id , Website )
INSERT INTO job_vacancies (title) VALUES ( 'Marketplace And E-Commerce Supervisor ( Shopee , Tokopedia , Lazada , Jd.Id , Website )')
6706 Graphic Designer (Fresh Graduate & Final Year Student)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Fresh Graduate & Final Year Student)')
6707 Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable')
6708 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
6709 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
6710 Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Specialist')
6711 Marketing Officer (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Bandung)')
6712 Marketing Eureka Logistics Wilayah Pekanbaru  (Erlangga Group)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Eureka Logistics Wilayah Pekanbaru  (Erlangga Group)')
6713 Lead Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Qa Engineer')
6714 Leasing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Executive')
6715 Red Hat Consultant (Junior Level)
INSERT INTO job_vacancies (title) VALUES ( 'Red Hat Consultant (Junior Level)')
6716 It Software Engineer (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Software Engineer (Jakarta)')
6717 Branch Manager Dana Pembiayaan M4W
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Dana Pembiayaan M4W')
6718 Junior Mine Plan Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Mine Plan Engineer')
6719 Marketing Inhouse
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Inhouse')
6720 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
6721 Lead Apparel Designer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Apparel Designer')
6722 Coffee Shop Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Coffee Shop Supervisor')
6723 Sales Force
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force')
6724 Staff Qa&Qc
INSERT INTO job_vacancies (title) VALUES ( 'Staff Qa&Qc')
6725 Warehouse Operator
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Operator')
6726 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
6727 Sales Manager (Junior Level)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Junior Level)')
6728 Guru Matematika Sma
INSERT INTO job_vacancies (title) VALUES ( 'Guru Matematika Sma')
6729 Host  /  Content Planner
INSERT INTO job_vacancies (title) VALUES ( 'Host  /  Content Planner')
6730 Area Sales Supervisor (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Pekanbaru)')
6731 Regulatory Officer
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Officer')
6732 In Store Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'In Store Sales Consultant')
6733 财务行政
INSERT INTO job_vacancies (title) VALUES ( '财务行政')
6734 Supervisor Human Capital Departement
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Human Capital Departement')
6735 Brand Activation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Brand Activation Specialist')
6736 Temporary Secretary For Sales
INSERT INTO job_vacancies (title) VALUES ( 'Temporary Secretary For Sales')
6737 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
6738 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
6739 Ga Officer (Mandarin Mandatory)
INSERT INTO job_vacancies (title) VALUES ( 'Ga Officer (Mandarin Mandatory)')
6740 Sales Counter Toko Emas & Berlian
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter Toko Emas & Berlian')
6741 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
6742 Coach Field Education Consultant Flores
INSERT INTO job_vacancies (title) VALUES ( 'Coach Field Education Consultant Flores')
6743 Marketing Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Admin Staff')
6744 Teknisi Rotating
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Rotating')
6745 Ppic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor')
6746 Field Collection (Js - Fc) Malang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Malang')
6747 Sales Store (Balikpapan, Medan & Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Store (Balikpapan, Medan & Jakarta)')
6748 Export  /  Import Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Export  /  Import Customer Service')
6749 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
6750 Ux Researcher
INSERT INTO job_vacancies (title) VALUES ( 'Ux Researcher')
6751 Driver Helper (Dv – Js )
INSERT INTO job_vacancies (title) VALUES ( 'Driver Helper (Dv – Js )')
6752 Relationship Manager Priority (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Priority (Surabaya)')
6753 Sales Counter (Spg / Spb) Tangerang & Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Tangerang & Tangerang Selatan')
6754 Organization Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development Specialist')
6755 Accounting & Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Supervisor')
6756 Personal Assistant To Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Director')
6757 Php Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Php Web Developer')
6758 Qc Manager:
INSERT INTO job_vacancies (title) VALUES ( 'Qc Manager:')
6759 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
6760 Lead Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Devops Engineer')
6761 Operasional Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operasional Manager')
6762 Back-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Developer')
6763 Kepala Bagian Pemasaran
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Pemasaran')
6764 Hr Personnel Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Personnel Staff')
6765 Quality Assurance  /  Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance  /  Quality Control')
6766 Qa Analyst Lead
INSERT INTO job_vacancies (title) VALUES ( 'Qa Analyst Lead')
6767 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
6768 Sales Executive & Development
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive & Development')
6769 Store Manager (Retail Apparel)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Retail Apparel)')
6770 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
6771 Driver (Ambulance)
INSERT INTO job_vacancies (title) VALUES ( 'Driver (Ambulance)')
6772 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
6773 Koordinator Pameran
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Pameran')
6774 Cementing Field
INSERT INTO job_vacancies (title) VALUES ( 'Cementing Field')
6775 Bancassurance Life Consultant - (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Samarinda)')
6776 It Product Operations
INSERT INTO job_vacancies (title) VALUES ( 'It Product Operations')
6777 Hrga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Manager')
6778 Supervisor Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Akunting')
6779 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
6780 Sales B2B Industri Food Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Sales B2B Industri Food Jawa Tengah')
6781 Sem Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sem Specialist')
6782 Business Development Manager (Erp)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager (Erp)')
6783 Land Operation Admin Shopee Express (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Admin Shopee Express (Pontianak)')
6784 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
6785 Accounting Officer (Asset Management)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer (Asset Management)')
6786 Ict And Mathematics Teacher For Academic Year 2022 - 2023
INSERT INTO job_vacancies (title) VALUES ( 'Ict And Mathematics Teacher For Academic Year 2022 - 2023')
6787 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
6788 Software Tester
INSERT INTO job_vacancies (title) VALUES ( 'Software Tester')
6789 Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor')
6790 Supply Chain Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Assistant Manager')
6791 Institutional Sales
INSERT INTO job_vacancies (title) VALUES ( 'Institutional Sales')
6792 Sales Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer')
6793 Operasional Mesin Bor
INSERT INTO job_vacancies (title) VALUES ( 'Operasional Mesin Bor')
6794 Back End Developer - Lippo Malls Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer - Lippo Malls Indonesia')
6795 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
6796 2D / 3D Designer
INSERT INTO job_vacancies (title) VALUES ( '2D / 3D Designer')
6797 Maintenance Management Shopee Express (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Management Shopee Express (Pontianak)')
6798 Staff It Android
INSERT INTO job_vacancies (title) VALUES ( 'Staff It Android')
6799 Security Engineer - Red Team
INSERT INTO job_vacancies (title) VALUES ( 'Security Engineer - Red Team')
6800 Corporate Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Sales Executive')
6801 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
6802 New Product Formulation Staff
INSERT INTO job_vacancies (title) VALUES ( 'New Product Formulation Staff')
6803 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
6804 Erp Business Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Erp Business Consultant')
6805 Technical Leader - Full Stack
INSERT INTO job_vacancies (title) VALUES ( 'Technical Leader - Full Stack')
6806 Ux Design Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ux Design Manager')
6807 Actuary Staff
INSERT INTO job_vacancies (title) VALUES ( 'Actuary Staff')
6808 Training & Implementation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Training & Implementation Analyst')
6809 Document Controller - Finance
INSERT INTO job_vacancies (title) VALUES ( 'Document Controller - Finance')
6810 Video Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Video Content Creator')
6811 Project Control (Pmo Infrastructure Fiber Optic)
INSERT INTO job_vacancies (title) VALUES ( 'Project Control (Pmo Infrastructure Fiber Optic)')
6812 Credit Analyst Mobil - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Pekanbaru')
6813 Swimming Coach
INSERT INTO job_vacancies (title) VALUES ( 'Swimming Coach')
6814 Account Receivable Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Officer')
6815 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
6816 Engineering Crew ( Jabodetabek )
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Crew ( Jabodetabek )')
6817 Social Media Content Creator - Game
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Content Creator - Game')
6818 Sales Supervisor (Plastic Department)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Plastic Department)')
6819 Marketing & Public Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Public Relation Officer')
6820 Marketing & Verification Officer (Js - Mvo) Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Palembang')
6821 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
6822 Koordinator Produksi /  Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Produksi /  Supervisor Produksi')
6823 3D Modeller Arsitektur
INSERT INTO job_vacancies (title) VALUES ( '3D Modeller Arsitektur')
6824 Frontend Engineer (React Js)
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Engineer (React Js)')
6825 Digital Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Supervisor')
6826 (Doctor) Medical Advisor
INSERT INTO job_vacancies (title) VALUES ( '(Doctor) Medical Advisor')
6827 Senior Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Legal Staff')
6828 Production Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Production Engineer')
6829 Consultant Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Consultant Management Manager')
6830 Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tax Manager')
6831 Surveyor Land
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor Land')
6832 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
6833 Project Plan & Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Project Plan & Estimator')
6834 Bancassurance Life Consultant - (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Pontianak)')
6835 It Field Staff (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Field Staff (Jakarta)')
6836 Android And Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android And Web Developer')
6837 Staff Quality Control Proyek Konstruksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Quality Control Proyek Konstruksi')
6838 Guru Tetap Matematika Sma Sinotif
INSERT INTO job_vacancies (title) VALUES ( 'Guru Tetap Matematika Sma Sinotif')
6839 Web Progammer (Visual Basic)
INSERT INTO job_vacancies (title) VALUES ( 'Web Progammer (Visual Basic)')
6840 Media Relation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Media Relation Specialist')
6841 Guru Bimbel Online - Kurikulum Internasional (Sma)
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bimbel Online - Kurikulum Internasional (Sma)')
6842 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
6843 Senior Consultant Accounting And Tax
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consultant Accounting And Tax')
6844 It Web & Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'It Web & Digital Marketing')
6845 Sap Co Senior Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Co Senior Consultant')
6846 Senior Database Engineer Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Database Engineer Manager')
6847 Copywriter Creative
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter Creative')
6848 Anti Fraud Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Anti Fraud Analyst')
6849 Kepala Cabang (Koperasi) Area Cirebon,Indramayu
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Cirebon,Indramayu')
6850 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
6851 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
6852 Marketing Agency (Gresik & Lamongan)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency (Gresik & Lamongan)')

6853 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
6854 Credit Analyst Mobil - Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Bengkulu')
6855 Merchandiser Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Supervisor')
6856 Supervisor Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Acquisition')
6857 Dokter Spesialis
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Spesialis')
6858 Head Of Assessment Centre
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Assessment Centre')
6859 Supervisor Food & Non-Food Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Food & Non-Food Analyst')
6860 Back End Developer (Golang)
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer (Golang)')
6861 Audit Manager (External Auditor)
INSERT INTO job_vacancies (title) VALUES ( 'Audit Manager (External Auditor)')
6862 Solution Dan Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Solution Dan Digital Marketing')
6863 Credit Analyst Mobil - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Samarinda')
6864 Field Account Consultant - Penempatan Solo
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Penempatan Solo')
6865 Trainer & Implementator Accurate Accounting Software
INSERT INTO job_vacancies (title) VALUES ( 'Trainer & Implementator Accurate Accounting Software')
6866 Field Collection
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection')
6867 Assistant Manager (Mandarin Speaking) Madiun
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager (Mandarin Speaking) Madiun')
6868 Branch Manager Car - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Car - Palembang')
6869 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
6870 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
6871 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
6872 Visual Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Visual Merchandiser')
6873 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
6874 Beauty Doctor  (Penempatan Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Doctor  (Penempatan Samarinda)')
6875 Platform Development Lead
INSERT INTO job_vacancies (title) VALUES ( 'Platform Development Lead')
6876 Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor')
6877 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
6878 Crew Store Staff
INSERT INTO job_vacancies (title) VALUES ( 'Crew Store Staff')
6879 Staf Operasional (Brand Nyapii)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Operasional (Brand Nyapii)')
6880 Instructor (Eye Level Taman Modern Cakung)
INSERT INTO job_vacancies (title) VALUES ( 'Instructor (Eye Level Taman Modern Cakung)')
6881 Power Generation (Turbine) Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Power Generation (Turbine) Section Head')
6882 Technical Service Admin Executive
INSERT INTO job_vacancies (title) VALUES ( 'Technical Service Admin Executive')
6883 Marketing & Verification Officer (Js- Mvo) Kuningan, Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js- Mvo) Kuningan, Jawa Barat')
6884 Safety Officer
INSERT INTO job_vacancies (title) VALUES ( 'Safety Officer')
6885 Section Head Housekeeping (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Section Head Housekeeping (Surabaya)')
6886 Pajak Staff ( Notaris)
INSERT INTO job_vacancies (title) VALUES ( 'Pajak Staff ( Notaris)')
6887 Ppic Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Manager')
6888 Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer')
6889 Business And Product Development (Secondate)
INSERT INTO job_vacancies (title) VALUES ( 'Business And Product Development (Secondate)')
6890 Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Project Coordinator')
6891 Staff Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Staff Warehouse')
6892 Rnd Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Rnd Software Engineer')
6893 It Security Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Security Supervisor')
6894 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
6895 Admin Finance & After Sales (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance & After Sales (Semarang)')
6896 Junior Retail Merchandiser (Outdoor Lifestyle)
INSERT INTO job_vacancies (title) VALUES ( 'Junior Retail Merchandiser (Outdoor Lifestyle)')
6897 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
6898 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
6899 Marketing & Verification Officer (Js - Mvo) Batam
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Batam')
6900 Back End Developer (For Getplus)
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer (For Getplus)')
6901 Operation Project & System Support
INSERT INTO job_vacancies (title) VALUES ( 'Operation Project & System Support')
6902 Warehouse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff')
6903 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
6904 Marketing Communication (Marcomm) - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication (Marcomm) - Medan')
6905 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
6906 Business Development Executive (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive (Semarang)')
6907 Insurance Specialist ( Malang Jatim, Padang, Batam, Kudus Jateng, Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Insurance Specialist ( Malang Jatim, Padang, Batam, Kudus Jateng, Pontianak)')
6908 Business Analyst Regulatory Banking
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Regulatory Banking')
6909 电工片区 Electrician Staff (Regional Jakarta)
INSERT INTO job_vacancies (title) VALUES ( '电工片区 Electrician Staff (Regional Jakarta)')
6910 Waitress, Helper
INSERT INTO job_vacancies (title) VALUES ( 'Waitress, Helper')
6911 Japanese Translator (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Translator (Temporary)')
6912 Pre Sales
INSERT INTO job_vacancies (title) VALUES ( 'Pre Sales')
6913 Head / Senior Multimedia
INSERT INTO job_vacancies (title) VALUES ( 'Head / Senior Multimedia')
6914 Junior Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Fullstack Developer')
6915 Project Cost Control
INSERT INTO job_vacancies (title) VALUES ( 'Project Cost Control')
6916 Field Account Consultant - Jakarta Barat
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Jakarta Barat')
6917 Product Owner
INSERT INTO job_vacancies (title) VALUES ( 'Product Owner')
6918 Safety Officer & 5R
INSERT INTO job_vacancies (title) VALUES ( 'Safety Officer & 5R')
6919 Project Management Finance Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Finance Specialist')
6920 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
6921 Internal Audit Officer
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Officer')
6922 Data Center Sales
INSERT INTO job_vacancies (title) VALUES ( 'Data Center Sales')
6923 Bancassurance Life Consultant - (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Tangerang)')
6924 Chinese Language And Di Zi Gui Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Chinese Language And Di Zi Gui Teacher')
6925 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
6926 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
6927 Coating Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Coating Inspector')
6928 Procurement Buyer (Spare Parts)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Buyer (Spare Parts)')
6929 Marketing Officer - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Bandung')
6930 Store Coordinator (Area Sumatera Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Store Coordinator (Area Sumatera Selatan)')
6931 Kepala Regu - Rice Business
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Regu - Rice Business')
6932 Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tax Manager')
6933 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
6934 Manager Learning & Development
INSERT INTO job_vacancies (title) VALUES ( 'Manager Learning & Development')
6935 Accounting Junior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Junior Manager')
6936 Finance Purchasing Staf (Manufaktur Baja Di Margomulyo Indah Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Purchasing Staf (Manufaktur Baja Di Margomulyo Indah Surabaya)')
6937 Sales Supervisor Otomotif
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Otomotif')
6938 Resto Manager
INSERT INTO job_vacancies (title) VALUES ( 'Resto Manager')
6939 Business Intelligence Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Business Intelligence Engineer')
6940 Front-End Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Programmer Staff')
6941 Sales Eksekutif
INSERT INTO job_vacancies (title) VALUES ( 'Sales Eksekutif')
6942 Supervisor Accounting Dan Tax
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting Dan Tax')
6943 General Affairs Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Supervisor')
6944 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
6945 Task Force (Area Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Task Force (Area Jambi)')
6946 Junior Geotechnical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Geotechnical Engineer')
6947 Building Maintenance - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Building Maintenance - Pekanbaru')
6948 Faculty Member For Doctor Of Research In Management Department
INSERT INTO job_vacancies (title) VALUES ( 'Faculty Member For Doctor Of Research In Management Department')
6949 It Data Analyst & Reporting
INSERT INTO job_vacancies (title) VALUES ( 'It Data Analyst & Reporting')
6950 Credit Marketing Officer (Kalimantan Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Kalimantan Tengah)')
6951 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
6952 Head Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Head Warehouse')
6953 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
6954 Staff Ppic - Cv Dharma Eka Maheswara
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ppic - Cv Dharma Eka Maheswara')
6955 Sales & Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Supervisor')
6956 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
6957 Electrical Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Maintenance')
6958 Supervisor Admin
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Admin')
6959 Tiktok Operation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tiktok Operation Specialist')
6960 It Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Developer')
6961 Partnership Specialist - Banking
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Specialist - Banking')
6962 Mandarin Translator 翻译员
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator 翻译员')
6963 Costing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Costing Staff')
6964 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
6965 Purchasing  /  Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing  /  Procurement Staff')
6966 Store Supervisor (Area Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor (Area Pekanbaru)')
6967 Bancassurance Advisor Sumatera
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Advisor Sumatera')
6968 Procurement Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Assistant')
6969 End User Computing (Euc) - Operations Analyst
INSERT INTO job_vacancies (title) VALUES ( 'End User Computing (Euc) - Operations Analyst')
6970 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
6971 Payment Expense Staff
INSERT INTO job_vacancies (title) VALUES ( 'Payment Expense Staff')
6972 Business Process Improvement & Rpa Consultant (Project Lead / Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Improvement & Rpa Consultant (Project Lead / Manager)')
6973 Rpgl / As400 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Rpgl / As400 Programmer')
6974 Math & Science Teacher  /  Tutor
INSERT INTO job_vacancies (title) VALUES ( 'Math & Science Teacher  /  Tutor')
6975 Business Development Manager (Sumedang, Malang)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager (Sumedang, Malang)')
6976 Beauty Therapist (Beautician)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Therapist (Beautician)')
6977 Account Executive Audio Visual
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Audio Visual')
6978 Management Trainee (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Mandarin Speaker)')
6979 Bancassurance Advisor Jawa Timur
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Advisor Jawa Timur')
6980 Driver Direksi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Direksi')
6981 (Jv2205005) Account Officer - Sales - Pontianak
INSERT INTO job_vacancies (title) VALUES ( '(Jv2205005) Account Officer - Sales - Pontianak')
6982 It Data Center
INSERT INTO job_vacancies (title) VALUES ( 'It Data Center')
6983 Area Sales Supervisor - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Jambi')
6984 Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Net Developer')
6985 Secretary Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary Director')
6986 Junior Officer Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Junior Officer Development Program')
6987 Sr. Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Java Programmer')
6988 P1 Or P2 Self Content Primary Teacher
INSERT INTO job_vacancies (title) VALUES ( 'P1 Or P2 Self Content Primary Teacher')
6989 Kolektor Mobil - Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Pontianak')
6990 Supervisor Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Quality Control')
6991 Credit Analyst Mobil - Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Pontianak')
6992 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
6993 Supervisor Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic')
6994 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
6995 Management Development Program (Mdp) Palembang, Makassar Dan Medan
INSERT INTO job_vacancies (title) VALUES ( 'Management Development Program (Mdp) Palembang, Makassar Dan Medan')
6996 Utiliity Technician (Sja Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Utiliity Technician (Sja Smg)')
6997 Field Collector Sumatera Bawah
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Sumatera Bawah')
6998 Retail Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Retail Marketing')
6999 Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance')
7000 Japanese Translator Interpreter
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Translator Interpreter')
7001 Medical Representative
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative')
7002 Photo Editor - Day Shift
INSERT INTO job_vacancies (title) VALUES ( 'Photo Editor - Day Shift')
7003 Senior Finance Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance Accounting Officer')
7004 Junior Consultant - Transfer Pricing
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant - Transfer Pricing')
7005 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
7006 Assistant Sales Manager (Mandarin Speaker) Malang
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Sales Manager (Mandarin Speaker) Malang')

7007 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
7008 Dc Leader (Balung Area)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Balung Area)')
7009 Seo (Search Engine Optimization) - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Seo (Search Engine Optimization) - Solo')
7010 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
7011 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
7012 Junior Consultant - Corporate Tax
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant - Corporate Tax')
7013 Collector  (Coll – Js)
INSERT INTO job_vacancies (title) VALUES ( 'Collector  (Coll – Js)')
7014 Risk Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Staff')
7015 Sales Manager (Ups And Solar Panel)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Ups And Solar Panel)')
7016 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
7017 Technical Sales - Account Executive - Veterinary Representative
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales - Account Executive - Veterinary Representative')
7018 Telesales Officer ( Jakarta Pusat - Jakarta Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Officer ( Jakarta Pusat - Jakarta Selatan)')
7019 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7020 Net Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Net Engineer')
7021 Water Treatment Sales Engineer - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Water Treatment Sales Engineer - Jakarta')
7022 Cto
INSERT INTO job_vacancies (title) VALUES ( 'Cto')
7023 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
7024 Machine Learning Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Machine Learning Specialist')
7025 Business Development (For Indonesia Entertainment Group)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (For Indonesia Entertainment Group)')
7026 Senior Auditor (Junior Manager Level)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Auditor (Junior Manager Level)')
7027 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
7028 Key Account Executive (Kae – Js)
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive (Kae – Js)')
7029 Sap Sd Funtional Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Sap Sd Funtional Analyst')
7030 Salesman-Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Salesman-Marketing')
7031 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
7032 Kpr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Kpr Staff')
7033 Commercial Staff (Bahasa Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Staff (Bahasa Mandarin)')
7034 Ehfs Officer (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Ehfs Officer (Surabaya)')
7035 Retail Funding Officer Balikpapan & Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Officer Balikpapan & Pontianak')
7036 Marketing Wisata
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Wisata')
7037 Credit Analyst Mobil - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Denpasar')
7038 Hotel Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hotel Manager')
7039 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
7040 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
7041 Business Process Re-Engineering Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Re-Engineering Consultant')
7042 Field Collector - Branch Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector - Branch Balikpapan')
7043 Human Capital & General Affair
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital & General Affair')
7044 Teknisi Laptop
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Laptop')
7045 Casual Leasing Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Casual Leasing Senior Officer')
7046 Accounting Internship (3 Months)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Internship (3 Months)')
7047 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
7048 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
7049 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
7050 Apu Ppt Monitoring & Reporting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Apu Ppt Monitoring & Reporting Staff')
7051 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
7052 Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Technical Consultant')
7053 Python Developer
INSERT INTO job_vacancies (title) VALUES ( 'Python Developer')
7054 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
7055 Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Engineering')
7056 Recruitment Consultant Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Consultant Team Leader')
7057 Seo & Sem Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Seo & Sem Specialist')
7058 Foreman Proses
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Proses')
7059 Finance , Accounting , Tax
INSERT INTO job_vacancies (title) VALUES ( 'Finance , Accounting , Tax')
7060 Research &  Development
INSERT INTO job_vacancies (title) VALUES ( 'Research &  Development')
7061 Frontend Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Programmer')
7062 Sales Engineer (Cabang Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Bekasi)')
7063 Assisten Manager  Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Assisten Manager  Gudang')
7064 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
7065 It Enterprise Data Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Enterprise Data Management Manager')
7066 Mechanical Technician
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Technician')
7067 Financial Management (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Management (Mandarin)')
7068 Accountant Executive
INSERT INTO job_vacancies (title) VALUES ( 'Accountant Executive')
7069 Field Education Consultant (Field Sales) - Penempatan Sumatera, Riau
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Field Sales) - Penempatan Sumatera, Riau')
7070 Telemedicine Associates
INSERT INTO job_vacancies (title) VALUES ( 'Telemedicine Associates')
7071 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
7072 Hr&Ga Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr&Ga Generalist')
7073 Product Engineer (Furniture)
INSERT INTO job_vacancies (title) VALUES ( 'Product Engineer (Furniture)')
7074 Admin Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Admin Hrd')
7075 Visual Designer (Area Jakarta Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Visual Designer (Area Jakarta Selatan)')
7076 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
7077 Marketing Staff (Toll Manufacturing)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff (Toll Manufacturing)')
7078 Dc Leader (Karang Geneng)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Karang Geneng)')
7079 Account Officer (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Medan)')
7080 Network Monitoring Center - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Network Monitoring Center - Cikarang')
7081 Administration Staff (Js - Adm) Duri
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Duri')
7082 Sales Mitra 10 Jenggolo - Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Mitra 10 Jenggolo - Sidoarjo')
7083 Bancassurance Life Consultant - (Jakarta Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Jakarta Timur)')
7084 Dokter Kecantikan
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Kecantikan')
7085 Mandarin Translator (Site Translator)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator (Site Translator)')
7086 Field Collection - Pangkal Pinang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Pangkal Pinang')
7087 Project Supervisor ( Spv)
INSERT INTO job_vacancies (title) VALUES ( 'Project Supervisor ( Spv)')
7088 Staff Accounting (Cabang Depok)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting (Cabang Depok)')
7089 Marketing Coordinator (Ef Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Coordinator (Ef Pontianak)')
7090 Costing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Costing Engineer')
7091 Rider Team Lead Shopee Express  - Rembang
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express  - Rembang')
7092 Field Sales Leader Tulungagung
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Leader Tulungagung')
7093 Supervisor Food Service
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Food Service')
7094 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
7095 Drafter Mep
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Mep')
7096 Brand Executive
INSERT INTO job_vacancies (title) VALUES ( 'Brand Executive')
7097 Marketing & Verification Officer (Js - Mvo) Deli Serdang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Deli Serdang')
7098 Personal Assistant To Managing Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Managing Director')
7099 Dc Leader (Kepanjen Area)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Kepanjen Area)')
7100 Dc Leader (Bangorejo Area)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Bangorejo Area)')
7101 Part Sales Area Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Part Sales Area Supervisor')
7102 Sales Pvc Compound
INSERT INTO job_vacancies (title) VALUES ( 'Sales Pvc Compound')
7103 Pelaksana Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Pelaksana Customer Service')
7104 Perawat (Penempatan Samarinda )
INSERT INTO job_vacancies (title) VALUES ( 'Perawat (Penempatan Samarinda )')
7105 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
7106 Senior System Admin
INSERT INTO job_vacancies (title) VALUES ( 'Senior System Admin')
7107 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
7108 Marketing Eureka Logistics Wilayah Palembang (Erlangga Group)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Eureka Logistics Wilayah Palembang (Erlangga Group)')
7109 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
7110 Operator (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Operator (Outsource Contract) - Jogjakarta & Bali')
7111 Devops Sysadmin
INSERT INTO job_vacancies (title) VALUES ( 'Devops Sysadmin')
7112 Site Manager
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager')
7113 Field Collector (Bali-Lombok)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Bali-Lombok)')
7114 Bancassurance Life Consultant - (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Balikpapan)')
7115 Dc Leader (Singgahan - Tuban)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Singgahan - Tuban)')
7116 Purchasing Junior Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Junior Engineer')
7117 Technical Recruitment Manager
INSERT INTO job_vacancies (title) VALUES ( 'Technical Recruitment Manager')
7118 Maintenance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Engineer')
7119 Seo Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Strategist')
7120 Retail Area Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Retail Area Team Leader')
7121 Finance Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Finance Administrator')
7122 Staff Admin Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Produksi')
7123 Field Account Consultant - Bca Finance Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Bca Finance Bandung')
7124 Bancassurance Life Consultant - (Jakarta Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Jakarta Barat)')
7125 Marketing Event & Loyalty Intern (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Event & Loyalty Intern (Magang)')
7126 Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal')
7127 Export Import Customer Services (Cs) - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Export Import Customer Services (Cs) - Jakarta')
7128 Cost Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting')
7129 E-Commerce Specialist
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Specialist')
7130 Sales It Or Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales It Or Account Manager')
7131 It Security Escalation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Security Escalation Engineer')
7132 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
7133 Financial Specialist (Balikpapan, Samarinda, Tenggarong)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Specialist (Balikpapan, Samarinda, Tenggarong)')
7134 Sales Executive - Kediri Madiun
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Kediri Madiun')
7135 Maintenance Rotogravure Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Rotogravure Supervisor')
7136 Application Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Application Consultant')
7137 Sales - Coating / F&B / Industrial Chemical
INSERT INTO job_vacancies (title) VALUES ( 'Sales - Coating / F&B / Industrial Chemical')
7138 Production Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor')
7139 Driver Sim B1
INSERT INTO job_vacancies (title) VALUES ( 'Driver Sim B1')
7140 Application Engineering (Programing)
INSERT INTO job_vacancies (title) VALUES ( 'Application Engineering (Programing)')
7141 Senior Full-Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Full-Stack Developer')
7142 Marketing & Verification Officer (Js - Mvo) Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bengkulu')
7143 Sales Manager (Digital /  Creative Agency)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Digital /  Creative Agency)')
7144 Teknisi Refrigerator (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Refrigerator (Pontianak Branch)')
7145 Tax Supervisor Medan
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor Medan')
7146 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
7147 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
7148 Network Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Security Engineer')
7149 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
7150 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
7151 Finance & Accounting Officer (Bintaro Dan Fatmawati)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Officer (Bintaro Dan Fatmawati)')
7152 Tools Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tools Sales Manager')
7153 Assistant Manager, Operations E-Com
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager, Operations E-Com')
7154 Store Manager - Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager - Cirebon')
7155 Teknisi Komputer Dan Hardware
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Komputer Dan Hardware')
7156 Regional Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Manager')

7157 Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer')
7158 Marketing & Verification Officer (Js - Mvo) Muara Enim
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Muara Enim')
7159 Kepala Tambang (Jambi, Sumatera)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Tambang (Jambi, Sumatera)')
7160 Guru Diniyah
INSERT INTO job_vacancies (title) VALUES ( 'Guru Diniyah')
7161 Science Teacher - Chemistry (Junior & High School)
INSERT INTO job_vacancies (title) VALUES ( 'Science Teacher - Chemistry (Junior & High School)')
7162 Presales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Presales Engineer')
7163 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
7164 Technical Sales Representative Staff
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Representative Staff')
7165 Store Keeper / Storeman - Genki Sushi
INSERT INTO job_vacancies (title) VALUES ( 'Store Keeper / Storeman - Genki Sushi')
7166 Kepala Departmen Bisnis ( Qs )
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Departmen Bisnis ( Qs )')
7167 Civil Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer')
7168 Teknisi Generator / Genset
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Generator / Genset')
7169 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
7170 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
7171 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
7172 Field Collection (Js - Fc) Pondok Gede
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Pondok Gede')
7173 It Project Admin
INSERT INTO job_vacancies (title) VALUES ( 'It Project Admin')
7174 Helper Engineer / Electrical
INSERT INTO job_vacancies (title) VALUES ( 'Helper Engineer / Electrical')
7175 Network & Uc Delivery Officer
INSERT INTO job_vacancies (title) VALUES ( 'Network & Uc Delivery Officer')
7176 Business Analyst Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Jakarta')
7177 It Network Security Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Network Security Staff')
7178 Senior Warehouse - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Senior Warehouse - Balikpapan')
7179 English Teacher (Ef Pamulang)
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher (Ef Pamulang)')
7180 Account Payable Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Staff')
7181 Bancassurance Life Consultant - (Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Jakarta Utara)')
7182 Senior Learning Officer (Assistant Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Learning Officer (Assistant Manager)')
7183 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
7184 Golang Developer
INSERT INTO job_vacancies (title) VALUES ( 'Golang Developer')
7185 Implementation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Implementation Engineer')
7186 Site Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor')
7187 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
7188 Marketing Sales Tigaraksa Cikupa Balaraja Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Tigaraksa Cikupa Balaraja Tangerang')
7189 Bancassurance Life Consultant - (Jakarta Pusat)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Jakarta Pusat)')
7190 Kolektor Mobil - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Denpasar')
7191 Quality General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Quality General Manager')
7192 Area Sales Manager (Bandung Based)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager (Bandung Based)')
7193 Spv Restaurant  /  Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Spv Restaurant  /  Outlet')
7194 Marketing Officer Area Jakarta Timur (Produk Mobil)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer Area Jakarta Timur (Produk Mobil)')
7195 Utility Engineer - Mechanical Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Utility Engineer - Mechanical Supervisor')
7196 Marketing Intelligence Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Intelligence Section Head')
7197 Supervisor Marketing Motor Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Motor Jakarta')
7198 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
7199 Internal Audit Manager
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Manager')
7200 Admin Ga (Translator Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Ga (Translator Mandarin)')
7201 Translator  /  Assistant Manager (Chinese Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Translator  /  Assistant Manager (Chinese Speaking)')
7202 It Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Network Engineer')
7203 Hse (Cikande)
INSERT INTO job_vacancies (title) VALUES ( 'Hse (Cikande)')
7204 Aesthetics Doctor
INSERT INTO job_vacancies (title) VALUES ( 'Aesthetics Doctor')
7205 Dc Leader (Krenjengan Area)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Krenjengan Area)')
7206 Go To Market Lead
INSERT INTO job_vacancies (title) VALUES ( 'Go To Market Lead')
7207 Outreach Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Outreach Account Manager')
7208 Purchasing  /  Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing  /  Ga Staff')
7209 Ppic Textile Dan Garment
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Textile Dan Garment')
7210 Social Media Intern
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Intern')
7211 Guru Musik
INSERT INTO job_vacancies (title) VALUES ( 'Guru Musik')
7212 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
7213 Design Graphics Grafis E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Design Graphics Grafis E-Commerce')
7214 Logistics & Inventory Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Logistics & Inventory Coordinator')
7215 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7216 Accounting Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Analyst')
7217 Secretary Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary Director')
7218 Salesman - Blitar
INSERT INTO job_vacancies (title) VALUES ( 'Salesman - Blitar')
7219 Sales Industry / Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Industry / Engineering')
7220 Area Sales Promotion Manager - Pekan Baru (Cs2)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Manager - Pekan Baru (Cs2)')
7221 Fitter Cpvc / Pvc
INSERT INTO job_vacancies (title) VALUES ( 'Fitter Cpvc / Pvc')
7222 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
7223 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
7224 Webtoon Korean Translator
INSERT INTO job_vacancies (title) VALUES ( 'Webtoon Korean Translator')
7225 Head Chef
INSERT INTO job_vacancies (title) VALUES ( 'Head Chef')
7226 Math Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Math Teacher')
7227 Hr Manager (Placement  Biak - Papua)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager (Placement  Biak - Papua)')
7228 Principal
INSERT INTO job_vacancies (title) VALUES ( 'Principal')
7229 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
7230 Credit Marketing Motor Cimahi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Motor Cimahi')
7231 Sales Forse Area Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Forse Area Cikarang')
7232 It Senior Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Senior Application Developer')
7233 Head Of Quality
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Quality')
7234 Beautician (Beauty Therapist)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician (Beauty Therapist)')
7235 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
7236 Sales Department Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Department Manager')
7237 City Operation Lead Shopee Express (Sumbawa)
INSERT INTO job_vacancies (title) VALUES ( 'City Operation Lead Shopee Express (Sumbawa)')
7238 Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Flutter Developer')
7239 Solution Architect Software
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect Software')
7240 It Security Operation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Security Operation Analyst')
7241 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
7242 Financial Advisor Syariah - Area Samarinda, Bontang, Kutai Kertanegara
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor Syariah - Area Samarinda, Bontang, Kutai Kertanegara')
7243 Training & People Development Assistant Manager (Imli - Pasuruan)
INSERT INTO job_vacancies (title) VALUES ( 'Training & People Development Assistant Manager (Imli - Pasuruan)')
7244 Personal Assistant To Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Director')
7245 Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Staff')
7246 Programmer  It
INSERT INTO job_vacancies (title) VALUES ( 'Programmer  It')
7247 It System Administrator (Mining)
INSERT INTO job_vacancies (title) VALUES ( 'It System Administrator (Mining)')
7248 Guru Bahasa Inggris Smp
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bahasa Inggris Smp')
7249 Pre Sales Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Pre Sales Section Head')
7250 Hris Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Hris Consultant')
7251 Devops
INSERT INTO job_vacancies (title) VALUES ( 'Devops')
7252 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
7253 Staff Finance Cabang Medan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Cabang Medan')
7254 Kepala Teknis
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknis')
7255 Hr Employee Data Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Employee Data Specialist')
7256 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
7257 Chief Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Chief Site Engineer')
7258 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
7259 Geologist
INSERT INTO job_vacancies (title) VALUES ( 'Geologist')
7260 Hr Recruitment (Position : Junior - Spv)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment (Position : Junior - Spv)')
7261 Mobile Game Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Game Product Manager')
7262 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
7263 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
7264 Marketing Project (B2C & B2B) Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Project (B2C & B2B) Mandarin Speaking')
7265 Collection (Outsourced Contract)
INSERT INTO job_vacancies (title) VALUES ( 'Collection (Outsourced Contract)')
7266 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
7267 Bancassurance Life Consultant - Pekalongan Dan Purwodadi
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - Pekalongan Dan Purwodadi')
7268 Relationship Manager Kc Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Kc Pontianak')
7269 Electrical Engineer Assistant (Asisten Teknisi) - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer Assistant (Asisten Teknisi) - Medan')
7270 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
7271 Supervisor Funworld Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Funworld Karawang')
7272 Purchasing Staff (It Parts  /  Engineer Parts)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (It Parts  /  Engineer Parts)')
7273 Manager Ecommerce
INSERT INTO job_vacancies (title) VALUES ( 'Manager Ecommerce')
7274 Lecturer In Computer ( Informatics  /  Information System )
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer In Computer ( Informatics  /  Information System )')
7275 Brewing Technician
INSERT INTO job_vacancies (title) VALUES ( 'Brewing Technician')
7276 Project Improvement Supervisor (Aeon Mall Sentul City)
INSERT INTO job_vacancies (title) VALUES ( 'Project Improvement Supervisor (Aeon Mall Sentul City)')
7277 Warehouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager')
7278 Curriculum & Modul Design (Learning Development & Culture)
INSERT INTO job_vacancies (title) VALUES ( 'Curriculum & Modul Design (Learning Development & Culture)')
7279 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7280 Bancassurance Life Consultant - Wonosobo
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - Wonosobo')
7281 Kolektor Mobil - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Batam')
7282 Pelaksana Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Pelaksana Proyek')
7283 Branch Head
INSERT INTO job_vacancies (title) VALUES ( 'Branch Head')
7284 Marketing Verification Officer (Js - Mvo) Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Jambi')
7285 Head Of Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Warehouse')
7286 Cook Helper Dish Washer Dw
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper Dish Washer Dw')
7287 Principal
INSERT INTO job_vacancies (title) VALUES ( 'Principal')
7288 Delivery Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Delivery Logistic')
7289 Sales Force Motoris
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force Motoris')
7290 Premiere Bancassurance Consultant - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Premiere Bancassurance Consultant - Semarang')
7291 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
7292 English Teacher (Ef Sawangan)
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher (Ef Sawangan)')
7293 Finance & Accounting Senior Manager [Mandarin Speakers]
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Senior Manager [Mandarin Speakers]')
7294 Support Engineer (Supervisor)
INSERT INTO job_vacancies (title) VALUES ( 'Support Engineer (Supervisor)')
7295 Rider Team Lead Shopee Express - Selaawi (Kab. Garut)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Selaawi (Kab. Garut)')
7296 Tax Internship
INSERT INTO job_vacancies (title) VALUES ( 'Tax Internship')
7297 It Programmer Mobile Web
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Mobile Web')
7298 School Counselor
INSERT INTO job_vacancies (title) VALUES ( 'School Counselor')
7299 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
7300 Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project Engineer')
7301 Sous Chef
INSERT INTO job_vacancies (title) VALUES ( 'Sous Chef')
7302 Staf Customer Care
INSERT INTO job_vacancies (title) VALUES ( 'Staf Customer Care')
7303 Design Staff
INSERT INTO job_vacancies (title) VALUES ( 'Design Staff')
7304 Marketing & Verification Officer (Js - Mvo) Pangkalan Kerinci
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pangkalan Kerinci')
7305 Account Officer (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Jawa Tengah)')
7306 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
7307 Business Process Improvement & Rpa Consultant (Consultant Or Senior Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Improvement & Rpa Consultant (Consultant Or Senior Consultant)')
7308 Finance And Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance And Accounting')
7309 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7310 Section Head Fleet
INSERT INTO job_vacancies (title) VALUES ( 'Section Head Fleet')
7311 Kepala Bengkel
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bengkel')
7312 Welder Cpvc / Pvc
INSERT INTO job_vacancies (title) VALUES ( 'Welder Cpvc / Pvc')
7313 Security Area Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Security Area Semarang')
7314 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
7315 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
7316 Senior Infrastructure Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Infrastructure Engineer')

7317 Social Media Specialist For Ifgf Church
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist For Ifgf Church')
7318 Human Resource Department ( Legal )
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Department ( Legal )')
7319 Nurse (Japannese Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Nurse (Japannese Speaking)')
7320 Business Development Innovation Intern
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Innovation Intern')
7321 Field Collector Area Bandar Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Bandar Lampung')
7322 Hr Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Supervisor')
7323 Technical Sales Industry Cat
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Industry Cat')
7324 Cook Helper Hot Kitchen
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper Hot Kitchen')
7325 Angular Developer
INSERT INTO job_vacancies (title) VALUES ( 'Angular Developer')
7326 B.Indoteacher For Secondary
INSERT INTO job_vacancies (title) VALUES ( 'B.Indoteacher For Secondary')
7327 Technician -  Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Technician -  Bogor')
7328 Quality Control Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Supervisor')
7329 Ruby On Rails Developer (Senior  /  Mid Level)
INSERT INTO job_vacancies (title) VALUES ( 'Ruby On Rails Developer (Senior  /  Mid Level)')
7330 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
7331 Junior Product Manager (Divisi Consumer Health Care)
INSERT INTO job_vacancies (title) VALUES ( 'Junior Product Manager (Divisi Consumer Health Care)')
7332 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
7333 Recruitment Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Section Head')
7334 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
7335 Sales Canvassing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvassing')
7336 Asisten Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker')
7337 Program Implementation (Csr) Lead
INSERT INTO job_vacancies (title) VALUES ( 'Program Implementation (Csr) Lead')
7338 Sales Bahan Bangunan Luar Kota
INSERT INTO job_vacancies (title) VALUES ( 'Sales Bahan Bangunan Luar Kota')
7339 Sales Bakery Ingredients Area Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Bakery Ingredients Area Jakarta')
7340 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
7341 Junior Hydrogeologist
INSERT INTO job_vacancies (title) VALUES ( 'Junior Hydrogeologist')
7342 Sales Marketing ( Bandung, Depok Dan Tanggerang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing ( Bandung, Depok Dan Tanggerang)')
7343 Backend Engineer - Golang (Manager, Senior & Junior)
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer - Golang (Manager, Senior & Junior)')
7344 Local Store Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Local Store Marketing Supervisor')
7345 Staf Admin (Administrative Assistant)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Admin (Administrative Assistant)')
7346 Catholicc Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Catholicc Teacher')
7347 Crew Outlet Karang Tengah Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Crew Outlet Karang Tengah Tangerang')
7348 Laboratory Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Assistant')
7349 Bussines Development
INSERT INTO job_vacancies (title) VALUES ( 'Bussines Development')
7350 Market Research Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Market Research Analyst')
7351 Internship Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Internship Back End Developer')
7352 Rider Team Lead Shopee Express (Hub Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Hub Bengkulu)')
7353 Collection Field, Field Verifier ( Fifgroup Tanah Grogot & Ppu )
INSERT INTO job_vacancies (title) VALUES ( 'Collection Field, Field Verifier ( Fifgroup Tanah Grogot & Ppu )')
7354 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
7355 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
7356 Project Control Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Project Control Supervisor')
7357 Igcse / A / As Level Economic Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Igcse / A / As Level Economic Teacher')
7358 Driver Direksi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Direksi')
7359 Admin Account Receivable
INSERT INTO job_vacancies (title) VALUES ( 'Admin Account Receivable')
7360 Crew / Sandwich Artist Full Time (Cikarang)
INSERT INTO job_vacancies (title) VALUES ( 'Crew / Sandwich Artist Full Time (Cikarang)')
7361 Mandarin Technical Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Technical Translator')
7362 Restaurant Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'Restaurant Operational Manager')
7363 On-Site Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'On-Site Support Engineer')
7364 Performance Management
INSERT INTO job_vacancies (title) VALUES ( 'Performance Management')
7365 Sales Executive (Pipes And Valves)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Pipes And Valves)')
7366 Internal Auditor (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor (Jakarta)')
7367 Audit And Inspection
INSERT INTO job_vacancies (title) VALUES ( 'Audit And Inspection')
7368 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
7369 Accident & Health Flow Underwriter
INSERT INTO job_vacancies (title) VALUES ( 'Accident & Health Flow Underwriter')
7370 Qa Product Integrity Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa Product Integrity Staff')
7371 Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax')
7372 Sap Functional Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional Fico')
7373 Production Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Production Engineering')
7374 Software Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance')
7375 Finance Cashier
INSERT INTO job_vacancies (title) VALUES ( 'Finance Cashier')
7376 Junior Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Java Developer')
7377 Senior Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Staff')
7378 Database Developer
INSERT INTO job_vacancies (title) VALUES ( 'Database Developer')
7379 Web Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Front End Developer')
7380 Manager Operational
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operational')
7381 It Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'It Database Administrator')
7382 Back End Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Engineer')
7383 Crm Manager
INSERT INTO job_vacancies (title) VALUES ( 'Crm Manager')
7384 Bahasa Indonesia Csr
INSERT INTO job_vacancies (title) VALUES ( 'Bahasa Indonesia Csr')
7385 Branch Manager - Lamongan
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager - Lamongan')
7386 A Level  /  Igcse Chemistry Teacher  /  Tutor
INSERT INTO job_vacancies (title) VALUES ( 'A Level  /  Igcse Chemistry Teacher  /  Tutor')
7387 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
7388 It Database Administrator Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Database Administrator Officer')
7389 Backend - Frontend Web Developer (.Net Core, Golang, Laravel, Nestjs, Nuxtjs, Vuejs, Java Spring Boot)
INSERT INTO job_vacancies (title) VALUES ( 'Backend - Frontend Web Developer (.Net Core, Golang, Laravel, Nestjs, Nuxtjs, Vuejs, Java Spring Boot)')
7390 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
7391 Call Center
INSERT INTO job_vacancies (title) VALUES ( 'Call Center')
7392 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
7393 Research Manager (Market Insight - Adhoc Project)
INSERT INTO job_vacancies (title) VALUES ( 'Research Manager (Market Insight - Adhoc Project)')
7394 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
7395 Data Scientist Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist Supervisor')
7396 It Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Developer')
7397 Technical Support (Tsc)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support (Tsc)')
7398 Staff Senior Bagian Expor / Impor
INSERT INTO job_vacancies (title) VALUES ( 'Staff Senior Bagian Expor / Impor')
7399 Digital Business Integration Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Digital Business Integration Consultant')
7400 Finance & Accounting Supervisor (Konawe Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor (Konawe Utara)')
7401 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
7402 Tendering & Design Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Tendering & Design Engineer')
7403 Part-Time Lecturer In Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer In Interior Design')
7404 Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Flutter Developer')
7405 Dynamic 365 Developer
INSERT INTO job_vacancies (title) VALUES ( 'Dynamic 365 Developer')
7406 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
7407 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
7408 Supervisor Struktur Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Struktur Engineering')
7409 Accounting Staff (024)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (024)')
7410 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
7411 Asisten Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Quality Assurance')
7412 B2B Executive (Bengkulu, Sumatera Barat, Sumatera Utara, Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'B2B Executive (Bengkulu, Sumatera Barat, Sumatera Utara, Sulawesi)')
7413 Senior Ux Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Ux Engineer')
7414 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
7415 Purchasing Head
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Head')
7416 Supervisor Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Hr Recruitment')
7417 Outlet Manager (Chinese Restaurant)
INSERT INTO job_vacancies (title) VALUES ( 'Outlet Manager (Chinese Restaurant)')
7418 Hr & Ga (Internship)
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga (Internship)')
7419 Spv Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Spv Operasional')
7420 Accounting & Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Supervisor')
7421 Manager Engineering / Utility
INSERT INTO job_vacancies (title) VALUES ( 'Manager Engineering / Utility')
7422 Junior  /  Senior Firmware Engineer (Based In Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Junior  /  Senior Firmware Engineer (Based In Bandung)')
7423 Sr. Data Scientist Kg Media
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Data Scientist Kg Media')
7424 Staff Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akunting')
7425 Assisstant To Director
INSERT INTO job_vacancies (title) VALUES ( 'Assisstant To Director')
7426 Supervisor Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Internal Audit')
7427 Drafter Project Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Project Lapangan')
7428 Investment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Investment Officer')
7429 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
7430 Distribution & Collection Staff - Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Distribution & Collection Staff - Jawa Barat')
7431 Internal Audit Staff (Dias)
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff (Dias)')
7432 Procurement General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Procurement General Manager')
7433 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
7434 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
7435 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
7436 Store Manager (Area Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Area Bandung)')
7437 Fullstack Developer (Laravel&Nodejs)
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer (Laravel&Nodejs)')
7438 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
7439 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
7440 Production Leader (Comissary) - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Production Leader (Comissary) - Samarinda')
7441 Credit Analyst Mobil - Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Kediri')
7442 Project Director
INSERT INTO job_vacancies (title) VALUES ( 'Project Director')
7443 Shopee Express - Operations Quality Assurance (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Operations Quality Assurance (Surabaya)')
7444 Financial Advisor Syariah - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor Syariah - Balikpapan')
7445 Demand Planning Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Demand Planning Analyst')
7446 Hr Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment')
7447 Analis Laboratorium
INSERT INTO job_vacancies (title) VALUES ( 'Analis Laboratorium')
7448 Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online')
7449 Seabank - Aml Transaction Monitoring Team Lead
INSERT INTO job_vacancies (title) VALUES ( 'Seabank - Aml Transaction Monitoring Team Lead')
7450 Guru Bimbel
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bimbel')
7451 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
7452 It Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Supervisor')
7453 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7454 Systems Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Systems Analyst')
7455 Area Sales Supervisor - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Surabaya')
7456 Account Representative (Area Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Representative (Area Jakarta)')
7457 Sales Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Surabaya)')
7458 Crew Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Crew Outlet')
7459 Foreman  /  Supervisor Produksi Biscuit
INSERT INTO job_vacancies (title) VALUES ( 'Foreman  /  Supervisor Produksi Biscuit')
7460 Vehicle Logistic Operator
INSERT INTO job_vacancies (title) VALUES ( 'Vehicle Logistic Operator')
7461 Wwtp Technician (Sja Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Wwtp Technician (Sja Smg)')
7462 Wwtp Technician (Sja Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Wwtp Technician (Sja Smg)')
7463 Senior Relationship Officer (Syariah)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Relationship Officer (Syariah)')
7464 Web Programmer (Software Developer)
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer (Software Developer)')
7465 Head Of Economic Empowerment
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Economic Empowerment')
7466 Vendor Acquisition And Management (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Vendor Acquisition And Management (Palembang)')
7467 Staf Budget & Costing Control - Penempatan Pangkalan Bun Kalimantan Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Staf Budget & Costing Control - Penempatan Pangkalan Bun Kalimantan Tengah')
7468 Commercial Specialist Gt (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Specialist Gt (Surabaya)')
7469 Sales Assistant Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant Samarinda')

7470 Senior Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Senior Purchasing')
7471 Field Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Field Coordinator')
7472 Account Manager Garut
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager Garut')
7473 Customer Satisfaction Executive
INSERT INTO job_vacancies (title) VALUES ( 'Customer Satisfaction Executive')
7474 Insurance Relation (Area Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Insurance Relation (Area Jawa Timur)')
7475 Catalog Analyst Staff (B2B)
INSERT INTO job_vacancies (title) VALUES ( 'Catalog Analyst Staff (B2B)')
7476 Sales Marketing (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Jakarta)')
7477 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
7478 Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist')
7479 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
7480 Regional Head Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Regional Head Jabodetabek')
7481 Marketing & Verification Officer (Js - Mvo) Bangkinang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bangkinang')
7482 Vendor Acquisition And Management (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Vendor Acquisition And Management (Medan)')
7483 Programmer Android (Mobile App)
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Android (Mobile App)')
7484 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
7485 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
7486 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
7487 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
7488 Supervisor Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Engineering')
7489 Php Developer (Supporting)
INSERT INTO job_vacancies (title) VALUES ( 'Php Developer (Supporting)')
7490 Dosen Farmasi
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Farmasi')
7491 Supervisor Toko (Ritel Modern)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Toko (Ritel Modern)')
7492 Ssd Incentive System & Dev Officer
INSERT INTO job_vacancies (title) VALUES ( 'Ssd Incentive System & Dev Officer')
7493 Manajement
INSERT INTO job_vacancies (title) VALUES ( 'Manajement')
7494 Content Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Content Strategist')
7495 It Support Hardware & Networking
INSERT INTO job_vacancies (title) VALUES ( 'It Support Hardware & Networking')
7496 Operations Quality Assurance - Shopee Express (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Operations Quality Assurance - Shopee Express (Semarang)')
7497 Global Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Global Management Trainee')
7498 Staff It Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Staff It Android Developer')
7499 Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Manager')
7500 Business Intelligence Analyst (Karawaci)
INSERT INTO job_vacancies (title) VALUES ( 'Business Intelligence Analyst (Karawaci)')
7501 Senior Associate
INSERT INTO job_vacancies (title) VALUES ( 'Senior Associate')
7502 Surabaya City Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Surabaya City Coordinator')
7503 Sales Executive  ( Mandarin Or English Speaker )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive  ( Mandarin Or English Speaker )')
7504 Patern Maker
INSERT INTO job_vacancies (title) VALUES ( 'Patern Maker')
7505 Corporate Social Responsibility (Csr) Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Social Responsibility (Csr) Trainer')
7506 Micro Marketing Manager - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Micro Marketing Manager - Makassar')
7507 Product Designer
INSERT INTO job_vacancies (title) VALUES ( 'Product Designer')
7508 Creative Design
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design')
7509 Recruitment Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Senior Staff')
7510 Store Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Store Development Manager')
7511 Sales Officer Mobile
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer Mobile')
7512 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
7513 Estimator Staff
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Staff')
7514 Brand Marketing And Retail Support Lead -Sea
INSERT INTO job_vacancies (title) VALUES ( 'Brand Marketing And Retail Support Lead -Sea')
7515 Senior Internal Audit - Karawaci
INSERT INTO job_vacancies (title) VALUES ( 'Senior Internal Audit - Karawaci')
7516 Corporate Communication
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Communication')
7517 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
7518 Sales -  Area Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Sales -  Area Bengkulu')
7519 Rider Team Lead Shopee Express - Hub Kota Juang (Kab. Bireun, Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Kota Juang (Kab. Bireun, Aceh)')
7520 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
7521 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
7522 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
7523 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
7524 Lead, Hospital Business Process Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Lead, Hospital Business Process Internal Auditor')
7525 Account Payable Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Supervisor')
7526 Qa Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa Administration Staff')
7527 Credit Marketing Motor Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Motor Bandung')
7528 Marketing Micro Finance
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Micro Finance')
7529 Digital Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Product Manager')
7530 Store Manager Foot Locker (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Foot Locker (Bali)')
7531 Pharma Sales Representative (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Pharma Sales Representative (Denpasar)')
7532 Administrasi Umum
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Umum')
7533 Web Developer Intern
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer Intern')
7534 E-Commerce Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Sales & Marketing Manager')
7535 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
7536 Social Media Campaign
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Campaign')
7537 Formalities Officer
INSERT INTO job_vacancies (title) VALUES ( 'Formalities Officer')
7538 Full Stack Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Engineer')
7539 Contact Center Supervisor  /  Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Contact Center Supervisor  /  Team Leader')
7540 Maintenance & Fasility Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance & Fasility Engineer')
7541 Sales Representative (Sr - Js)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Sr - Js)')
7542 Project Manager (Webtoon)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Webtoon)')
7543 Ie Officer
INSERT INTO job_vacancies (title) VALUES ( 'Ie Officer')
7544 Assisten Delivery  /  Sales Cabang Medan
INSERT INTO job_vacancies (title) VALUES ( 'Assisten Delivery  /  Sales Cabang Medan')
7545 Application Developer (Rpa)
INSERT INTO job_vacancies (title) VALUES ( 'Application Developer (Rpa)')
7546 Staff Export Dan Import
INSERT INTO job_vacancies (title) VALUES ( 'Staff Export Dan Import')
7547 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
7548 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7549 It Governance Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Governance Staff')
7550 Pmc (Production Control Material)
INSERT INTO job_vacancies (title) VALUES ( 'Pmc (Production Control Material)')
7551 Staff Marketing Frozen Food (Jakarta Dan Kab Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing Frozen Food (Jakarta Dan Kab Bandung)')
7552 Engineer On Site  /  Olt Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Engineer On Site  /  Olt Engineer')
7553 Warehouse Admin (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Admin (Outsource Contract) - Jogjakarta & Bali')
7554 Sales Counter (Spg / Spb) Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Bogor')
7555 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
7556 Admin Sales (It)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales (It)')
7557 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
7558 Mandarin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Staff')
7559 Logistic Supervisor (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Supervisor (Bandung)')
7560 Elementary Home Room Teacher-Teacher Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Elementary Home Room Teacher-Teacher Assistant')
7561 Talent Acquisition Specialist & Employer Branding
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Specialist & Employer Branding')
7562 Business Development Officer Gratyo® Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer Gratyo® Makassar')
7563 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
7564 Sales Staff Jawa Tengah & Jawa Timur (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff Jawa Tengah & Jawa Timur (Mandarin Speaker)')
7565 Underwriting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Underwriting Staff')
7566 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
7567 Mechanical & Civil Technician
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical & Civil Technician')
7568 Expeditor Officer
INSERT INTO job_vacancies (title) VALUES ( 'Expeditor Officer')
7569 Waiters
INSERT INTO job_vacancies (title) VALUES ( 'Waiters')
7570 Key Account Executive -  Pt Kalbe Blackmores Nutrition
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive -  Pt Kalbe Blackmores Nutrition')
7571 Accounting Staff (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (Palembang)')
7572 Import & Export Executive
INSERT INTO job_vacancies (title) VALUES ( 'Import & Export Executive')
7573 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7574 Technical Consultant (Specifier)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Consultant (Specifier)')
7575 Key Account Executive Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive Jakarta')
7576 Infrastructure Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Infrastructure Sales Engineer')
7577 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
7578 Credit Analyst Mobil - Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Sukabumi')
7579 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
7580 Infrastructure Inspector (Pantai Indah Kapuk)
INSERT INTO job_vacancies (title) VALUES ( 'Infrastructure Inspector (Pantai Indah Kapuk)')
7581 Corporate Communication Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Communication Senior Officer')
7582 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
7583 Production Support Lead
INSERT INTO job_vacancies (title) VALUES ( 'Production Support Lead')
7584 Finance Accounting Asst. Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Asst. Manager')
7585 Shopee Express - Recruitment Team Lead (East Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment Team Lead (East Indonesia)')
7586 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
7587 Staff Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Accounting')
7588 Teknisi Crane
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Crane')
7589 Digital Advertising
INSERT INTO job_vacancies (title) VALUES ( 'Digital Advertising')
7590 Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor')
7591 Ar Finance Admin (3 Months Project)
INSERT INTO job_vacancies (title) VALUES ( 'Ar Finance Admin (3 Months Project)')
7592 Sales Product
INSERT INTO job_vacancies (title) VALUES ( 'Sales Product')
7593 Senior Relationship Officer (Funding) - Sorong
INSERT INTO job_vacancies (title) VALUES ( 'Senior Relationship Officer (Funding) - Sorong')
7594 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
7595 Human Capital Government & Industrial Relation
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Government & Industrial Relation')
7596 Site & Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Site & Quantity Surveyor')
7597 Staff It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Staff It Programmer')
7598 Art Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Art Teacher')
7599 Structure Inspection Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Structure Inspection Engineer')
7600 Warehouse Staff (Mandarin Speaking Only)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff (Mandarin Speaking Only)')
7601 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
7602 Human Capital Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Generalist')
7603 Sales Executive (Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Bengkulu)')
7604 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
7605 Lead Testing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Testing Engineer')
7606 门店文员 (Outlet Administrator: Pakuwon Mall Surabaya)
INSERT INTO job_vacancies (title) VALUES ( '门店文员 (Outlet Administrator: Pakuwon Mall Surabaya)')
7607 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
7608 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
7609 Strategy Planning
INSERT INTO job_vacancies (title) VALUES ( 'Strategy Planning')
7610 Senior Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Senior Database Administrator')
7611 Desainer Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Desainer Grafis')
7612 Sales Promotion (Spg) (Semarang, Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion (Spg) (Semarang, Pekanbaru)')
7613 Sales Government It (B2G) - Surabaya, Yogyakarta, Bali, Medan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Government It (B2G) - Surabaya, Yogyakarta, Bali, Medan')
7614 Hse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer')
7615 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
7616 Jr. Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Jr. Accounting Staff')
7617 Ad Ops Vcbl
INSERT INTO job_vacancies (title) VALUES ( 'Ad Ops Vcbl')
7618 Qa Engineer (Automation Testing)
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer (Automation Testing)')
7619 Technical Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Engineer')
7620 Management Development Program (Mdp) Eksternal Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Management Development Program (Mdp) Eksternal Palembang')
7621 Hrga Superitendent
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Superitendent')
7622 Jr Architect ( Designer 3D Sketch Up - Cad Draughtsman)
INSERT INTO job_vacancies (title) VALUES ( 'Jr Architect ( Designer 3D Sketch Up - Cad Draughtsman)')
7623 Senior Project Manager (It Banking Industry)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Project Manager (It Banking Industry)')
7624 Senior Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing')
7625 Mandarin Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teachers')
7626 Finance, Accounting & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting & Tax Staff')
7627 Mobile Developer Lead
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer Lead')
7628 Talent Acquisition Manager
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Manager')
7629 Terapi Wicara
INSERT INTO job_vacancies (title) VALUES ( 'Terapi Wicara')
7630 Fresh Graduate Development Program_ Product Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Fresh Graduate Development Program_ Product Trainer')
7631 Bootcamp It Consultant  /  Programmer (Fresh Graduate)
INSERT INTO job_vacancies (title) VALUES ( 'Bootcamp It Consultant  /  Programmer (Fresh Graduate)')
7632 Manager Finishing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Finishing')
7633 Remedial Officer (Collection)
INSERT INTO job_vacancies (title) VALUES ( 'Remedial Officer (Collection)')
7634 Hr & Ga Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Officer')

7635 Senior Java Backend Developer (Location: Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Java Backend Developer (Location: Bandung)')
7636 Qc Manager
INSERT INTO job_vacancies (title) VALUES ( 'Qc Manager')
7637 Staff Design Grafis (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Design Grafis (Tangerang)')
7638 Head Of Human Capital Representative - Associate Manager (Binus Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Human Capital Representative - Associate Manager (Binus Semarang)')
7639 Batching Plant Supervisor Jelambar
INSERT INTO job_vacancies (title) VALUES ( 'Batching Plant Supervisor Jelambar')
7640 Coach Field Education Consultant Garut
INSERT INTO job_vacancies (title) VALUES ( 'Coach Field Education Consultant Garut')
7641 Supervisor Tambang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Tambang')
7642 Hse Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Hse Coordinator')
7643 System Administrator (It Network)
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator (It Network)')
7644 Senior Software Quality Assurance (Qa) Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Quality Assurance (Qa) Engineer')
7645 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
7646 Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor')
7647 Operational Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Operational Accounting')
7648 Underwriter Life Reinsurance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Underwriter Life Reinsurance Assistant Manager')
7649 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
7650 Head Of Sales
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Sales')
7651 Sap Mm Senior Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Mm Senior Consultant')
7652 Health Security Enviroment
INSERT INTO job_vacancies (title) VALUES ( 'Health Security Enviroment')
7653 Supir Mobil Box
INSERT INTO job_vacancies (title) VALUES ( 'Supir Mobil Box')
7654 Compliance & Internal Control Specialist – People & Culture
INSERT INTO job_vacancies (title) VALUES ( 'Compliance & Internal Control Specialist – People & Culture')
7655 Sales Executive - Horeca (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Horeca (Pontianak Branch)')
7656 Head – Customs Brokerage & Compliance
INSERT INTO job_vacancies (title) VALUES ( 'Head – Customs Brokerage & Compliance')
7657 Sap Pp Senior Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Pp Senior Consultant')
7658 Warehouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager')
7659 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
7660 Construction Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Construction Supervisor')
7661 Technician Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Technician Trainer')
7662 Middle Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Middle Fullstack Developer')
7663 Cloud Developer
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Developer')
7664 Senior It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Engineer')
7665 Field Collection - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Malang')
7666 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
7667 Branch Manager (Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Jambi)')
7668 Admin Data Entry
INSERT INTO job_vacancies (title) VALUES ( 'Admin Data Entry')
7669 Application Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Application Project Manager')
7670 Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Qa Engineer')
7671 Software Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Back End Developer')
7672 Test Lead Manager
INSERT INTO job_vacancies (title) VALUES ( 'Test Lead Manager')
7673 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
7674 Junior  Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Junior  Sales Executive')
7675 Game Developer  /  Html 5
INSERT INTO job_vacancies (title) VALUES ( 'Game Developer  /  Html 5')
7676 Magento Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Magento Web Developer')
7677 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
7678 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7679 Credit Analyst Mobil - Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Cirebon')
7680 Coach Field Education Consultant Ciamis
INSERT INTO job_vacancies (title) VALUES ( 'Coach Field Education Consultant Ciamis')
7681 System Engineer Managed Services
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer Managed Services')
7682 Supervisor Analyst Support System
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Analyst Support System')
7683 Personal Asisstant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Asisstant')
7684 Procurement & Bd Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Procurement & Bd Department Head')
7685 Finance Section Chief
INSERT INTO job_vacancies (title) VALUES ( 'Finance Section Chief')
7686 Production Supervisor (Cgl)
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor (Cgl)')
7687 Senior  Accounting Staf
INSERT INTO job_vacancies (title) VALUES ( 'Senior  Accounting Staf')
7688 Marketing Local Partner
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Local Partner')
7689 Mobile Developer (Ionic)
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer (Ionic)')
7690 Design Product
INSERT INTO job_vacancies (title) VALUES ( 'Design Product')
7691 Senior Network Admin
INSERT INTO job_vacancies (title) VALUES ( 'Senior Network Admin')
7692 It Infrastrcuture Section Head
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastrcuture Section Head')
7693 Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Pajak')
7694 Area Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor')
7695 Math Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Math Teacher')
7696 Annual Report Writer
INSERT INTO job_vacancies (title) VALUES ( 'Annual Report Writer')
7697 Marketing & Verification Officer (Js - Mvo) Padang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Padang')
7698 Senior Software Engineers
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineers')
7699 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
7700 Field Sales Coordinator - South Sulawesi
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Coordinator - South Sulawesi')
7701 Qa / Qc
INSERT INTO job_vacancies (title) VALUES ( 'Qa / Qc')
7702 Leader Qc (Penempatan : Majalengka, Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Qc (Penempatan : Majalengka, Jawa Barat)')
7703 Project Sales Executive (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Project Sales Executive (Denpasar)')
7704 React Native Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Mobile Developer')
7705 Marketing Executive - Event & Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive - Event & Promotion')
7706 Sociology Teacher For Secondary School Level
INSERT INTO job_vacancies (title) VALUES ( 'Sociology Teacher For Secondary School Level')
7707 Corporate Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Legal Manager')
7708 Marketing Communication Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Assistant Manager')
7709 Commercial Specialist Horeca (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Specialist Horeca (Surabaya)')
7710 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
7711 Art Director
INSERT INTO job_vacancies (title) VALUES ( 'Art Director')
7712 Floor Manager Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Floor Manager Palembang')
7713 Technical / Implementation Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Technical / Implementation Support Officer')
7714 Md Development Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Md Development Coordinator')
7715 Collector (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Collector (Pontianak Branch)')
7716 Content Creator Full Time
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Full Time')
7717 Admin Media Sosial Dan Online Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Admin Media Sosial Dan Online Promotion')
7718 Translator Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Translator Mandarin')
7719 Salesman Gt (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Gt (Pontianak Branch)')
7720 Buyer (Junior Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Buyer (Junior Manager)')
7721 Accounting Budgeting Manager Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Budgeting Manager Mandarin')
7722 Civil Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Civil Supervisor')
7723 Manager Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Manager Akunting')
7724 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
7725 Beautician (Summarecon Mall Serpong)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician (Summarecon Mall Serpong)')
7726 Teknisi Listrik
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Listrik')
7727 Senior Geotech Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Geotech Engineer')
7728 Senior Architect / Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Senior Architect / Interior Design')
7729 Hrd ( Human Resource Development )
INSERT INTO job_vacancies (title) VALUES ( 'Hrd ( Human Resource Development )')
7730 Tax & Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Finance Accounting')
7731 Branch Manager (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Palembang)')
7732 Drafter & Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Drafter & Estimator')
7733 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
7734 Financial Specialist Executive (Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Specialist Executive (Lampung)')
7735 Laboratory Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Analyst')
7736 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
7737 Hr Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment Specialist')
7738 Store Supervisor_Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor_Jakarta')
7739 Translator ( Mandarin Verbal)
INSERT INTO job_vacancies (title) VALUES ( 'Translator ( Mandarin Verbal)')
7740 Web Programmer Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer Specialist')
7741 Financial Planning & Analysis
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning & Analysis')
7742 Ship Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ship Operation Manager')
7743 Staff Promosi Event
INSERT INTO job_vacancies (title) VALUES ( 'Staff Promosi Event')
7744 Part-Time Lecturer In Psychology
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer In Psychology')
7745 Field Collection - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Padang')
7746 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
7747 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
7748 Business Development Officer (Staff) | Sales Support Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer (Staff) | Sales Support Analyst')
7749 Electrical Technician
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Technician')
7750 Hr Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Supervisor')
7751 Apoteker Penanggung Jawab (Cilegon)
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab (Cilegon)')
7752 Music Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Music Teacher')
7753 Hr & Ga Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager (Mandarin Speaker)')
7754 Finance Assistant Manager / Manager (Shipping)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Assistant Manager / Manager (Shipping)')
7755 Junior Lawyer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Lawyer')
7756 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
7757 Sap Consultant (Sd Module)
INSERT INTO job_vacancies (title) VALUES ( 'Sap Consultant (Sd Module)')
7758 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7759 Physics Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Physics Teachers')
7760 Project Supervisor (Civil And Interior).
INSERT INTO job_vacancies (title) VALUES ( 'Project Supervisor (Civil And Interior).')
7761 Finance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance Officer')
7762 Store Manager Coach Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Coach Makassar')
7763 Field Account Consultant - Penempatan Kebumen
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Penempatan Kebumen')
7764 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
7765 Manager Clinic
INSERT INTO job_vacancies (title) VALUES ( 'Manager Clinic')
7766 It Programmer Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Officer')
7767 Category Manager
INSERT INTO job_vacancies (title) VALUES ( 'Category Manager')
7768 Technology Officer (Greatnusa)
INSERT INTO job_vacancies (title) VALUES ( 'Technology Officer (Greatnusa)')
7769 Rider Team Lead Shopee Express - Hub Banda Sakti, Lhokseumawe
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Banda Sakti, Lhokseumawe')
7770 Primary Teacher  /  Guru Sd
INSERT INTO job_vacancies (title) VALUES ( 'Primary Teacher  /  Guru Sd')
7771 Seo Sepsiallist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Sepsiallist')
7772 Legal Administration Staff - (Land Acquisition Specialist)
INSERT INTO job_vacancies (title) VALUES ( 'Legal Administration Staff - (Land Acquisition Specialist)')
7773 (Jv2204003) Account Officer - Sales - Malang
INSERT INTO job_vacancies (title) VALUES ( '(Jv2204003) Account Officer - Sales - Malang')
7774 Marketing & Verification Officer (Js - Mvo) Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pekanbaru')
7775 Assistant Hr (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Hr (Mandarin Speaker)')
7776 Area Sales Supervisor - Barabai
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Barabai')
7777 Griya Head Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Jakarta')
7778 Vacation Planner - Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Vacation Planner - Mandarin Speaking')
7779 Site Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Site Project Coordinator')
7780 Supervisor Sales (Spv) & Sales - Surabaya Timur
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales (Spv) & Sales - Surabaya Timur')
7781 Accounting, Costing & Inventory
INSERT INTO job_vacancies (title) VALUES ( 'Accounting, Costing & Inventory')
7782 Admin (Semarang & Sukoharjo)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Semarang & Sukoharjo)')

7783 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
7784 Cook /  Commis
INSERT INTO job_vacancies (title) VALUES ( 'Cook /  Commis')
7785 Guru Mandarin Tk
INSERT INTO job_vacancies (title) VALUES ( 'Guru Mandarin Tk')
7786 Mandarin Interpreter And Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Interpreter And Translator')
7787 Mobile Apps (Android & Ios) Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Apps (Android & Ios) Developer')
7788 Bancassurance Life Consultant - (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Semarang)')
7789 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
7790 Trainer Area Depok
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Area Depok')
7791 Koordinator Sub Cabang Ende
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Sub Cabang Ende')
7792 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
7793 Graduate Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Graduate Development Program')
7794 Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance')
7795 Associate It Planning Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Associate It Planning Specialist')
7796 Lecturer For School Of Computer Science
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer For School Of Computer Science')
7797 Senior Customer Service Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Customer Service Executive')
7798 Area Service (Manado)
INSERT INTO job_vacancies (title) VALUES ( 'Area Service (Manado)')
7799 Motion Graphic Designer – Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphic Designer – Tangerang Selatan')
7800 Marketing Executive - Placement In Surabaya (East Java)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive - Placement In Surabaya (East Java)')
7801 Mobile Front End Developer (Flutter)
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Front End Developer (Flutter)')
7802 Bancassurance Life Consultant - (Magelang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Magelang)')
7803 Sales Property
INSERT INTO job_vacancies (title) VALUES ( 'Sales Property')
7804 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
7805 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
7806 Sales Marketing Dental
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Dental')
7807 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
7808 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
7809 Senior Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front End Developer')
7810 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
7811 Digital Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Digital Data Analyst')
7812 Business Process Officer (Sop)
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Officer (Sop)')
7813 Credit Risk
INSERT INTO job_vacancies (title) VALUES ( 'Credit Risk')
7814 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
7815 Lecturer Specialist S3 - Civil Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer Specialist S3 - Civil Engineering')
7816 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
7817 Penanggung Jawab Teknis Kefarmasian (Pjt)
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab Teknis Kefarmasian (Pjt)')
7818 R&D Formulator Staff
INSERT INTO job_vacancies (title) VALUES ( 'R&D Formulator Staff')
7819 Branch Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Branch Recruitment Supervisor')
7820 Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor')
7821 Cimb Preferred Development Program - Solo & Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Cimb Preferred Development Program - Solo & Kudus')
7822 Supervisor Moldsetter
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Moldsetter')
7823 Indonesian Ai Trainer (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Indonesian Ai Trainer (Mandarin Speaker)')
7824 Corporate Assistant Reservation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Assistant Reservation Manager')
7825 Teknisi Manado
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Manado')
7826 Japanese Interpreter
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Interpreter')
7827 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
7828 Freight Forwarding Specialist - Fluent Korean (Office : Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Freight Forwarding Specialist - Fluent Korean (Office : Jakarta)')
7829 General Driver (Yl Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'General Driver (Yl Samarinda)')
7830 Sales Commercial Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Analyst')
7831 Corporate Affairs & Sustainability Support
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Affairs & Sustainability Support')
7832 Marketing Agency Bpkb Mobil - Branch Bintaro
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency Bpkb Mobil - Branch Bintaro')
7833 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
7834 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
7835 Back-End Engineer (Java)
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Engineer (Java)')
7836 Staff Pengadaan  /  Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pengadaan  /  Procurement')
7837 Digital Marketing & Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Promotion')
7838 Special Education Program Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Special Education Program Teacher')
7839 Senior Consultant - Artificial Intelligence & Data - Id
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consultant - Artificial Intelligence & Data - Id')
7840 Mekanik Pabrik Pks
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Pabrik Pks')
7841 General Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Manager')
7842 Marketing Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Development Specialist')
7843 Marketing Head Multiguna Motor (Pangkalan Kerinci)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Head Multiguna Motor (Pangkalan Kerinci)')
7844 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
7845 Field Collection Team Leader Pangkal Pinang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Team Leader Pangkal Pinang')
7846 Marketing & Sales Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Sales Export Import')
7847 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
7848 Kepala Bagian Hr
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Hr')
7849 Marketing & Verification Officer (Js - Mvo) Binjai
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Binjai')
7850 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
7851 Sales Marketing Online
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Online')
7852 Marketing & Verification Officer (Js - Mvo) Cianjur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cianjur')
7853 Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Technical Consultant')
7854 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
7855 Automotive Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Automotive Business Development Manager')
7856 Rnd Senior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Rnd Senior Software Engineer')
7857 Team Leader Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Customer Service')
7858 Sales Merchandiser (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchandiser (Pontianak Branch)')
7859 Import Supervisor (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Import Supervisor (Mandarin Speaking)')
7860 Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Operation Supervisor')
7861 Staff Roastery
INSERT INTO job_vacancies (title) VALUES ( 'Staff Roastery')
7862 Staff Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pajak')
7863 Regional Maintenance Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Regional Maintenance Coordinator')
7864 Engineering & Qc Manager
INSERT INTO job_vacancies (title) VALUES ( 'Engineering & Qc Manager')
7865 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
7866 Senior Sales Marketing (Wilayah Timur Jateng)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Marketing (Wilayah Timur Jateng)')
7867 Site Project Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Site Project Specialist')
7868 Estate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager')
7869 Production Control Specialist (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Production Control Specialist (Mandarin Speaker)')
7870 Video Editor & Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor & Content Creator')
7871 It Infrastructure Intern
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Intern')
7872 Sales Engineer (Cabang Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Cirebon)')
7873 Staff Kas Masuk Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Staff Kas Masuk Kudus')
7874 Warehouse Staff (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff (Denpasar)')
7875 Employer Branding Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Employer Branding Specialist')
7876 Sales Force
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force')
7877 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
7878 Engineer On Site (Eos)
INSERT INTO job_vacancies (title) VALUES ( 'Engineer On Site (Eos)')
7879 Hr Manager Representative Japanese Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager Representative Japanese Speaker')
7880 Rider Team Lead Shopee Express - Hub Kota Sigli, Aceh
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Kota Sigli, Aceh')
7881 Vessel Operation And Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Operation And Logistic Staff')
7882 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
7883 Account Officer (Jakarta, Tangerang, Semarang, Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Jakarta, Tangerang, Semarang, Yogyakarta)')
7884 Marketing Syariah - Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Syariah - Bekasi')
7885 Marketing Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Manager')
7886 Marketing & Verification Officer (Js- Mvo) Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js- Mvo) Cirebon')
7887 Solution Architect
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect')
7888 Graphic Designer & Video Editor (For Nex Parabola)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer & Video Editor (For Nex Parabola)')
7889 Business Development Officer Gratyo® Medan
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer Gratyo® Medan')
7890 Sales Manager (Distributor)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Distributor)')
7891 Tukang Listik (Instalasi Listrik)
INSERT INTO job_vacancies (title) VALUES ( 'Tukang Listik (Instalasi Listrik)')
7892 Sales Executive & Development
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive & Development')
7893 Store Manager (Retail Apparel)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Retail Apparel)')
7894 Teknisi Rotating
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Rotating')
7895 Sales Food Service
INSERT INTO job_vacancies (title) VALUES ( 'Sales Food Service')
7896 Solution Architect (Microsoft Azure & Microsoft 365)
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect (Microsoft Azure & Microsoft 365)')
7897 Webmethods Developer
INSERT INTO job_vacancies (title) VALUES ( 'Webmethods Developer')
7898 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
7899 Car Mechanic
INSERT INTO job_vacancies (title) VALUES ( 'Car Mechanic')
7900 Teknisi Projek
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Projek')
7901 Software Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance Engineer')
7902 Manager Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing')
7903 Marketing & Verification Officer (Js - Mvo) Purwakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Purwakarta')
7904 Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'Content Writer')
7905 Bartender
INSERT INTO job_vacancies (title) VALUES ( 'Bartender')
7906 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
7907 Design Assistant-Interior Accessories Product
INSERT INTO job_vacancies (title) VALUES ( 'Design Assistant-Interior Accessories Product')
7908 Kepala Pabrik
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pabrik')
7909 Field Operations Officer (Cimahi - Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Field Operations Officer (Cimahi - Bandung)')
7910 Area Sales & Promotion Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales & Promotion Supervisor')
7911 Credit Marketing  Motor Ujungberung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing  Motor Ujungberung')
7912 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
7913 Koordinator Perawat Perinatologi
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Perawat Perinatologi')
7914 Software System Analyst Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Software System Analyst Jakarta')
7915 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
7916 Technical Support (Security System, Safety System & It Solution)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support (Security System, Safety System & It Solution)')

7917 Credit Analyst (Car  /  Motorcycle)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst (Car  /  Motorcycle)')
7918 Area Sales Lead (City Lead) - Bali
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Lead (City Lead) - Bali')
7919 Kepala Bagian Umum
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Umum')
7920 Science Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Science Teacher')
7921 Software Quality Assurance (Automation)
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance (Automation)')
7922 Engineering Manager (Civil)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Manager (Civil)')
7923 Partnership Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Sales Manager')
7924 System Integration Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'System Integration Quality Assurance')
7925 Creative And Design Lead
INSERT INTO job_vacancies (title) VALUES ( 'Creative And Design Lead')
7926 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
7927 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
7928 Area Sales Executive (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Executive (Balikpapan)')
7929 Desk Collection Staff
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Staff')
7930 Marketing Staff Area Kalimantan Timur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Area Kalimantan Timur')
7931 Administration
INSERT INTO job_vacancies (title) VALUES ( 'Administration')
7932 Administrasi Finance (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Banjarmasin)')
7933 Operations Internship For Voice Chat Streaming App
INSERT INTO job_vacancies (title) VALUES ( 'Operations Internship For Voice Chat Streaming App')
7934 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
7935 Marketing & Verification Officer (Js - Mvo) Praya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Praya')
7936 Digital Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Specialist')
7937 Procurement Officer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Officer')
7938 Field Assistant Trainee (Fat)
INSERT INTO job_vacancies (title) VALUES ( 'Field Assistant Trainee (Fat)')
7939 Sales Taking Order
INSERT INTO job_vacancies (title) VALUES ( 'Sales Taking Order')
7940 Technical Maintenance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Technical Maintenance Staff')
7941 片区网管 (It Specialist)
INSERT INTO job_vacancies (title) VALUES ( '片区网管 (It Specialist)')
7942 It Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Assistant Manager')
7943 Field Collector Sumatera Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Sumatera Tengah')
7944 Marketing & Public Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Public Relation Officer')
7945 Field Collector Sumatera Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Sumatera Tengah')
7946 Designer
INSERT INTO job_vacancies (title) VALUES ( 'Designer')
7947 Business Analyst - Hr
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst - Hr')
7948 Finance, Accounting, & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting, & Tax Staff')
7949 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
7950 Floor Coating Business Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Floor Coating Business Development Specialist')
7951 Mekanik Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Alat Berat')
7952 Hr / Legal Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr / Legal Supervisor')
7953 (Jv2108004) Account Officer - Sales - Direct & Leasing
INSERT INTO job_vacancies (title) VALUES ( '(Jv2108004) Account Officer - Sales - Direct & Leasing')
7954 Video Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Video Content Creator')
7955 Export Sales
INSERT INTO job_vacancies (title) VALUES ( 'Export Sales')
7956 Manager Kebun Aquaponik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Kebun Aquaponik')
7957 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
7958 Sequis Training Academy Of Excellence Internship
INSERT INTO job_vacancies (title) VALUES ( 'Sequis Training Academy Of Excellence Internship')
7959 Bancassurance Life Consultant - (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Surabaya)')
7960 Suppy Chain Officer
INSERT INTO job_vacancies (title) VALUES ( 'Suppy Chain Officer')
7961 Transport Leader (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Transport Leader (Outsource Contract) - Jogjakarta & Bali')
7962 Receivable - Collection
INSERT INTO job_vacancies (title) VALUES ( 'Receivable - Collection')
7963 Recruitment Manager
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Manager')
7964 Marketing & Verification Officer (Js - Mvo) Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Palembang')
7965 It Business Solution Supervisor (Fico)
INSERT INTO job_vacancies (title) VALUES ( 'It Business Solution Supervisor (Fico)')
7966 External Government Relations
INSERT INTO job_vacancies (title) VALUES ( 'External Government Relations')
7967 Construction Manager
INSERT INTO job_vacancies (title) VALUES ( 'Construction Manager')
7968 Manager - Transfer Pricing
INSERT INTO job_vacancies (title) VALUES ( 'Manager - Transfer Pricing')
7969 Training & Implementation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Training & Implementation Analyst')
7970 Part-Time Lecturer - Fashion Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer - Fashion Marketing')
7971 Head Bar
INSERT INTO job_vacancies (title) VALUES ( 'Head Bar')
7972 Construction Manager
INSERT INTO job_vacancies (title) VALUES ( 'Construction Manager')
7973 Webmaster
INSERT INTO job_vacancies (title) VALUES ( 'Webmaster')
7974 Bancassurance Life Consultant - (Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Cirebon)')
7975 Engineer Staff Di Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Staff Di Palembang')
7976 Marketing Verification Officer (Js - Mvo)  Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo)  Kediri')
7977 Finance & Accounting Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Assistant Manager')
7978 Hr Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Assistant Manager')
7979 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
7980 Indonesia Welab Digital Bank – Manager, Business Operations
INSERT INTO job_vacancies (title) VALUES ( 'Indonesia Welab Digital Bank – Manager, Business Operations')
7981 Marketing In House
INSERT INTO job_vacancies (title) VALUES ( 'Marketing In House')
7982 Store Supervisor - Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Kudus')
7983 Field Service Veterinarian  /  Dokter Hewan
INSERT INTO job_vacancies (title) VALUES ( 'Field Service Veterinarian  /  Dokter Hewan')
7984 Area Sales Supervisor (Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Aceh)')
7985 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
7986 Dokter
INSERT INTO job_vacancies (title) VALUES ( 'Dokter')
7987 Site Inspector  (Mep)
INSERT INTO job_vacancies (title) VALUES ( 'Site Inspector  (Mep)')
7988 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
7989 Operator Mechanical Electrical
INSERT INTO job_vacancies (title) VALUES ( 'Operator Mechanical Electrical')
7990 Kepala Cabang (Koperasi) Area Cirebon,Indramayu
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Cirebon,Indramayu')
7991 Staff It Erp Technical
INSERT INTO job_vacancies (title) VALUES ( 'Staff It Erp Technical')
7992 Marketing Sales
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales')
7993 Revenue Manager
INSERT INTO job_vacancies (title) VALUES ( 'Revenue Manager')
7994 Hse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hse Supervisor')
7995 Category Executive
INSERT INTO job_vacancies (title) VALUES ( 'Category Executive')
7996 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
7997 Manager Peternakan Ikan & Udang Tawar Aquaponik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Peternakan Ikan & Udang Tawar Aquaponik')
7998 Field Education Consultant (Sales Division)
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Sales Division)')
7999 Medical Device Executive - Jakarta, Bandung, Palembang, Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Medical Device Executive - Jakarta, Bandung, Palembang, Palangkaraya')
8000 Supervisor Service Batam
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Service Batam')
8001 Supervisor Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Acquisition')
8002 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
8003 Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing')
8004 Sales Engineer – Hygienic Industry (Food And Beverage & Personal Care)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer – Hygienic Industry (Food And Beverage & Personal Care)')
8005 Senior Engineer  (Front End)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Engineer  (Front End)')
8006 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
8007 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
8008 Creative Design
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design')
8009 Technical Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Technical Marketing Staff')
8010 Corporate Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary')
8011 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
8012 Ahli K3 Konstruksi
INSERT INTO job_vacancies (title) VALUES ( 'Ahli K3 Konstruksi')
8013 Customer First Management
INSERT INTO job_vacancies (title) VALUES ( 'Customer First Management')
8014 Sales Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion')
8015 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
8016 Head Of Business Analytic
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Business Analytic')
8017 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
8018 Staff Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Staff Export Import')
8019 Front-End Developer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Developer Staff')
8020 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
8021 Course Consultant - Cipinang
INSERT INTO job_vacancies (title) VALUES ( 'Course Consultant - Cipinang')
8022 Secured Loan Direct Sales (Marketing Kpr) - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Secured Loan Direct Sales (Marketing Kpr) - Jabodetabek')
8023 Project Manager  /  Ktt
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager  /  Ktt')
8024 Bancassurance Specialist - Papua
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Specialist - Papua')
8025 Solution Dan Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Solution Dan Digital Marketing')
8026 Admin Specialist - Karawaci
INSERT INTO job_vacancies (title) VALUES ( 'Admin Specialist - Karawaci')
8027 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
8028 It Support Internship
INSERT INTO job_vacancies (title) VALUES ( 'It Support Internship')
8029 Admin Media Sosial Dan Online Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Admin Media Sosial Dan Online Promotion')
8030 Translator Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Translator Mandarin')
8031 Salesman Gt (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Gt (Pontianak Branch)')
8032 Buyer (Junior Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Buyer (Junior Manager)')
8033 Civil Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Civil Supervisor')
8034 Manager Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Manager Akunting')
8035 Front-End Developer (React - Next Js)
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Developer (React - Next Js)')
8036 Digital Marketing Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Strategist')
8037 Project Sales Executive (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Project Sales Executive (Denpasar)')
8038 Tax & Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Finance Accounting')
8039 Branch Manager (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Palembang)')
8040 Drafter & Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Drafter & Estimator')
8041 Operational Officer
INSERT INTO job_vacancies (title) VALUES ( 'Operational Officer')
8042 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
8043 Sales Designer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Designer')
8044 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
8045 Senior Architect / Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Senior Architect / Interior Design')
8046 Hrd ( Human Resource Development )
INSERT INTO job_vacancies (title) VALUES ( 'Hrd ( Human Resource Development )')
8047 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
8048 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
8049 Teknisi Listrik
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Listrik')
8050 Ship Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ship Operation Manager')
8051 Laboratory Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Analyst')
8052 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
8053 Hr Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment Specialist')
8054 Project Supervisor (Civil And Interior).
INSERT INTO job_vacancies (title) VALUES ( 'Project Supervisor (Civil And Interior).')
8055 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
8056 Store Supervisor_Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor_Jakarta')
8057 Translator ( Mandarin Verbal)
INSERT INTO job_vacancies (title) VALUES ( 'Translator ( Mandarin Verbal)')
8058 Web Programmer Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer Specialist')
8059 Financial Planning & Analysis
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning & Analysis')
8060 Category Manager
INSERT INTO job_vacancies (title) VALUES ( 'Category Manager')
8061 Staff Promosi Event
INSERT INTO job_vacancies (title) VALUES ( 'Staff Promosi Event')
8062 Part-Time Lecturer In Psychology
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer In Psychology')
8063 Field Collection - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Padang')
8064 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
8065 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
8066 Electrical Technician
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Technician')
8067 Hr Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Supervisor')
8068 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
8069 Sap Consultant (Sd Module)
INSERT INTO job_vacancies (title) VALUES ( 'Sap Consultant (Sd Module)')
8070 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8071 Regulatory Affairs
INSERT INTO job_vacancies (title) VALUES ( 'Regulatory Affairs')
8072 Ppic (Cileungsi)
INSERT INTO job_vacancies (title) VALUES ( 'Ppic (Cileungsi)')
8073 Operational Officer
INSERT INTO job_vacancies (title) VALUES ( 'Operational Officer')
8074 Hr & Ga Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager (Mandarin Speaker)')
8075 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
8076 Sales Designer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Designer')
8077 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
8078 Cook /  Commis
INSERT INTO job_vacancies (title) VALUES ( 'Cook /  Commis')
8079 Guru Mandarin Tk
INSERT INTO job_vacancies (title) VALUES ( 'Guru Mandarin Tk')
8080 Finance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Finance Officer')
8081 Field Account Consultant - Penempatan Kebumen
INSERT INTO job_vacancies (title) VALUES ( 'Field Account Consultant - Penempatan Kebumen')
8082 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')

8083 It Programmer Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Officer')
8084 Technology Officer (Greatnusa)
INSERT INTO job_vacancies (title) VALUES ( 'Technology Officer (Greatnusa)')
8085 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
8086 Rider Team Lead Shopee Express - Hub Banda Sakti, Lhokseumawe
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Banda Sakti, Lhokseumawe')
8087 Primary Teacher  /  Guru Sd
INSERT INTO job_vacancies (title) VALUES ( 'Primary Teacher  /  Guru Sd')
8088 Kepala Cabang - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang - Padang')
8089 Shopee Express - Sp Ga Support Admin (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Sp Ga Support Admin (Sunter)')
8090 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
8091 Apoteker Penanggung Jawab (Cilegon)
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab (Cilegon)')
8092 Griya Head Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Jakarta')
8093 Vacation Planner - Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Vacation Planner - Mandarin Speaking')
8094 Site Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Site Project Coordinator')
8095 Seo Sepsiallist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Sepsiallist')
8096 Legal Administration Staff - (Land Acquisition Specialist)
INSERT INTO job_vacancies (title) VALUES ( 'Legal Administration Staff - (Land Acquisition Specialist)')
8097 (Jv2204003) Account Officer - Sales - Malang
INSERT INTO job_vacancies (title) VALUES ( '(Jv2204003) Account Officer - Sales - Malang')
8098 Supervisor Sales (Spv) & Sales - Surabaya Timur
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales (Spv) & Sales - Surabaya Timur')
8099 Accounting, Costing & Inventory
INSERT INTO job_vacancies (title) VALUES ( 'Accounting, Costing & Inventory')
8100 Admin (Semarang & Sukoharjo)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Semarang & Sukoharjo)')
8101 Music Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Music Teacher')
8102 Finance Assistant Manager / Manager (Shipping)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Assistant Manager / Manager (Shipping)')
8103 Junior Lawyer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Lawyer')
8104 Senior Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front End Developer')
8105 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
8106 Mandarin Interpreter And Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Interpreter And Translator')
8107 Mobile Apps (Android & Ios) Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Apps (Android & Ios) Developer')
8108 Bancassurance Life Consultant - (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Semarang)')
8109 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
8110 Trainer Area Depok
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Area Depok')
8111 Koordinator Sub Cabang Ende
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Sub Cabang Ende')
8112 Graduate Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Graduate Development Program')
8113 Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance')
8114 Associate It Planning Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Associate It Planning Specialist')
8115 Head Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Head Produksi')
8116 Talent Management & Organization Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Talent Management & Organization Development Supervisor')
8117 Social Media Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing Specialist')
8118 Mechanical Electrical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical Engineering')
8119 Bancassurance Life Consultant - (Magelang)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Magelang)')
8120 Lecturer For School Of Computer Science
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer For School Of Computer Science')
8121 Senior Customer Service Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Customer Service Executive')
8122 Area Service (Manado)
INSERT INTO job_vacancies (title) VALUES ( 'Area Service (Manado)')
8123 Motion Graphic Designer – Tangerang Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphic Designer – Tangerang Selatan')
8124 Sales Property
INSERT INTO job_vacancies (title) VALUES ( 'Sales Property')
8125 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
8126 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
8127 Content Creator Full Time
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Full Time')
8128 Sales Marketing Dental
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Dental')
8129 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
8130 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
8131 Customer Relation Officer - Ef English First Jakarta (Tanjung Duren, Puri Indah, Cengkareng, Tebet, Pluit)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Officer - Ef English First Jakarta (Tanjung Duren, Puri Indah, Cengkareng, Tebet, Pluit)')
8132 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
8133 Penanggung Jawab Teknis Kefarmasian (Pjt)
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab Teknis Kefarmasian (Pjt)')
8134 R&D Formulator Staff
INSERT INTO job_vacancies (title) VALUES ( 'R&D Formulator Staff')
8135 Branch Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Branch Recruitment Supervisor')
8136 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
8137 Foreman Coal Getting
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Coal Getting')
8138 Accounting Supervisor Medan
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor Medan')
8139 Sales Commercial Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Sales Commercial Analyst')
8140 Corporate Affairs & Sustainability Support
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Affairs & Sustainability Support')
8141 Marketing Agency Bpkb Mobil - Branch Bintaro
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency Bpkb Mobil - Branch Bintaro')
8142 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
8143 Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Supervisor')
8144 Cimb Preferred Development Program - Solo & Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Cimb Preferred Development Program - Solo & Kudus')
8145 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
8146 Freight Forwarding Specialist - Fluent Korean (Office : Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Freight Forwarding Specialist - Fluent Korean (Office : Jakarta)')
8147 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
8148 Digital Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Digital Data Analyst')
8149 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
8150 Business Process Officer (Sop)
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Officer (Sop)')
8151 Credit Risk
INSERT INTO job_vacancies (title) VALUES ( 'Credit Risk')
8152 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
8153 Lecturer Specialist S3 - Civil Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer Specialist S3 - Civil Engineering')
8154 Sales Kanvasing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Kanvasing')
8155 Mekanik Pabrik Pks
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Pabrik Pks')
8156 General Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Manager')
8157 Back-End Engineer (Java)
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Engineer (Java)')
8158 Staff Pengadaan  /  Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pengadaan  /  Procurement')
8159 Digital Marketing & Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Promotion')
8160 Special Education Program Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Special Education Program Teacher')
8161 Senior Consultant - Artificial Intelligence & Data - Id
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consultant - Artificial Intelligence & Data - Id')
8162 Manager Clinic
INSERT INTO job_vacancies (title) VALUES ( 'Manager Clinic')
8163 Marketing & Sales Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Sales Export Import')
8164 Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Technical Consultant')
8165 Sales Marketing Online
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Online')
8166 Marketing & Verification Officer (Js - Mvo) Cianjur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cianjur')
8167 Marketing Head Multiguna Motor (Pangkalan Kerinci)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Head Multiguna Motor (Pangkalan Kerinci)')
8168 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
8169 Field Collection Team Leader Pangkal Pinang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Team Leader Pangkal Pinang')
8170 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
8171 Automotive Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Automotive Business Development Manager')
8172 Rnd Senior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Rnd Senior Software Engineer')
8173 Team Leader Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Customer Service')
8174 Sales Merchandiser (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchandiser (Pontianak Branch)')
8175 Production Control Specialist (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Production Control Specialist (Mandarin Speaker)')
8176 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
8177 Engineering & Qc Manager
INSERT INTO job_vacancies (title) VALUES ( 'Engineering & Qc Manager')
8178 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
8179 Senior Sales Marketing (Wilayah Timur Jateng)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Marketing (Wilayah Timur Jateng)')
8180 Site Project Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Site Project Specialist')
8181 Estate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager')
8182 Video Editor & Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor & Content Creator')
8183 Engineer On Site (Eos)
INSERT INTO job_vacancies (title) VALUES ( 'Engineer On Site (Eos)')
8184 Hr Manager Representative Japanese Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager Representative Japanese Speaker')
8185 Rider Team Lead Shopee Express - Hub Kota Sigli, Aceh
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Kota Sigli, Aceh')
8186 Employer Branding Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Employer Branding Specialist')
8187 Sales Force
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force')
8188 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
8189 Import Supervisor (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Import Supervisor (Mandarin Speaking)')
8190 Finance Staff (Sragen)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff (Sragen)')
8191 It Infrastructure Intern
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Intern')
8192 Sales Engineer (Cabang Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Cirebon)')
8193 Staff Kas Masuk Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Staff Kas Masuk Kudus')
8194 Warehouse Staff (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff (Denpasar)')
8195 Sales Manager (Junior Level)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Junior Level)')
8196 Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Operation Supervisor')
8197 Staff Roastery
INSERT INTO job_vacancies (title) VALUES ( 'Staff Roastery')
8198 Staff Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pajak')
8199 Regional Maintenance Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Regional Maintenance Coordinator')
8200 Software Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance Engineer')
8201 Vessel Operation And Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Operation And Logistic Staff')
8202 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
8203 Account Officer (Jakarta, Tangerang, Semarang, Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Jakarta, Tangerang, Semarang, Yogyakarta)')
8204 Marketing Syariah - Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Syariah - Bekasi')
8205 Marketing Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Manager')
8206 Marketing & Verification Officer (Js- Mvo) Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js- Mvo) Cirebon')
8207 Store Manager (Retail Apparel)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Retail Apparel)')
8208 Teknisi Rotating
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Rotating')
8209 Sales Food Service
INSERT INTO job_vacancies (title) VALUES ( 'Sales Food Service')
8210 Credit Marketing  Motor Ujungberung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing  Motor Ujungberung')
8211 Tenant Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Tenant Coordinator')
8212 Sales Executive & Development
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive & Development')
8213 Solution Architect (Microsoft Azure & Microsoft 365)
INSERT INTO job_vacancies (title) VALUES ( 'Solution Architect (Microsoft Azure & Microsoft 365)')
8214 Webmethods Developer
INSERT INTO job_vacancies (title) VALUES ( 'Webmethods Developer')
8215 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
8216 Car Mechanic
INSERT INTO job_vacancies (title) VALUES ( 'Car Mechanic')
8217 Science Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Science Teacher')
8218 Software Quality Assurance (Automation)
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance (Automation)')
8219 Engineering Manager (Civil)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Manager (Civil)')
8220 Marketing & Verification Officer (Js - Mvo) Purwakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Purwakarta')
8221 Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'Content Writer')
8222 Bartender
INSERT INTO job_vacancies (title) VALUES ( 'Bartender')
8223 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
8224 Kepala Pabrik
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pabrik')
8225 Field Operations Officer (Cimahi - Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Field Operations Officer (Cimahi - Bandung)')
8226 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
8227 Software System Analyst Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Software System Analyst Jakarta')
8228 Marketing Staff Area Kalimantan Timur
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Area Kalimantan Timur')
8229 Administration
INSERT INTO job_vacancies (title) VALUES ( 'Administration')
8230 Administrasi Finance (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Banjarmasin)')
8231 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
8232 Odoo Developer
INSERT INTO job_vacancies (title) VALUES ( 'Odoo Developer')

8233 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
8234 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
8235 Credit Analyst (Car  /  Motorcycle)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst (Car  /  Motorcycle)')
8236 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
8237 Koordinator Perawat Perinatologi
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Perawat Perinatologi')
8238 Kepala Bagian Umum
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Umum')
8239 Partnership Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Sales Manager')
8240 System Integration Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'System Integration Quality Assurance')
8241 Creative And Design Lead
INSERT INTO job_vacancies (title) VALUES ( 'Creative And Design Lead')
8242 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
8243 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8244 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
8245 Supply Chain Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Assistant Manager')
8246 Field Collector Sumatera Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Sumatera Tengah')
8247 Field Collector Sumatera Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Sumatera Tengah')
8248 Technical Maintenance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Technical Maintenance Staff')
8249 片区网管 (It Specialist)
INSERT INTO job_vacancies (title) VALUES ( '片区网管 (It Specialist)')
8250 Operations Internship For Voice Chat Streaming App
INSERT INTO job_vacancies (title) VALUES ( 'Operations Internship For Voice Chat Streaming App')
8251 Training & Implementation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Training & Implementation Analyst')
8252 Digital Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Specialist')
8253 Procurement Officer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Officer')
8254 Field Assistant Trainee (Fat)
INSERT INTO job_vacancies (title) VALUES ( 'Field Assistant Trainee (Fat)')
8255 Sales Taking Order
INSERT INTO job_vacancies (title) VALUES ( 'Sales Taking Order')
8256 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
8257 Marketing & Verification Officer (Js - Mvo) Praya
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Praya')
8258 It Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Assistant Manager')
8259 Marketing & Public Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Public Relation Officer')
8260 Designer
INSERT INTO job_vacancies (title) VALUES ( 'Designer')
8261 Business Analyst - Hr
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst - Hr')
8262 Finance, Accounting, & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting, & Tax Staff')
8263 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
8264 Webmaster
INSERT INTO job_vacancies (title) VALUES ( 'Webmaster')
8265 Floor Coating Business Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Floor Coating Business Development Specialist')
8266 Mekanik Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Alat Berat')
8267 Hr / Legal Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr / Legal Supervisor')
8268 (Jv2108004) Account Officer - Sales - Direct & Leasing
INSERT INTO job_vacancies (title) VALUES ( '(Jv2108004) Account Officer - Sales - Direct & Leasing')
8269 Video Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Video Content Creator')
8270 Export Sales
INSERT INTO job_vacancies (title) VALUES ( 'Export Sales')
8271 Manager Kebun Aquaponik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Kebun Aquaponik')
8272 Construction Manager
INSERT INTO job_vacancies (title) VALUES ( 'Construction Manager')
8273 Hr Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Assistant Manager')
8274 Bancassurance Life Consultant - (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Surabaya)')
8275 Suppy Chain Officer
INSERT INTO job_vacancies (title) VALUES ( 'Suppy Chain Officer')
8276 Marketing & Verification Officer (Js - Mvo) Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Palembang')
8277 Field Education Consultant (Sales Division)
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Sales Division)')
8278 It Business Solution Supervisor (Fico)
INSERT INTO job_vacancies (title) VALUES ( 'It Business Solution Supervisor (Fico)')
8279 External Government Relations
INSERT INTO job_vacancies (title) VALUES ( 'External Government Relations')
8280 Transport Leader (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Transport Leader (Outsource Contract) - Jogjakarta & Bali')
8281 Receivable - Collection
INSERT INTO job_vacancies (title) VALUES ( 'Receivable - Collection')
8282 Manager - Transfer Pricing
INSERT INTO job_vacancies (title) VALUES ( 'Manager - Transfer Pricing')
8283 Part-Time Lecturer - Fashion Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer - Fashion Marketing')
8284 Head Bar
INSERT INTO job_vacancies (title) VALUES ( 'Head Bar')
8285 Construction Manager
INSERT INTO job_vacancies (title) VALUES ( 'Construction Manager')
8286 Marketing Verification Officer (Js - Mvo)  Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo)  Kediri')
8287 Finance & Accounting Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Assistant Manager')
8288 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
8289 Indonesia Welab Digital Bank – Manager, Business Operations
INSERT INTO job_vacancies (title) VALUES ( 'Indonesia Welab Digital Bank – Manager, Business Operations')
8290 Store Supervisor - Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Kudus')
8291 Field Service Veterinarian  /  Dokter Hewan
INSERT INTO job_vacancies (title) VALUES ( 'Field Service Veterinarian  /  Dokter Hewan')
8292 Digital Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Supervisor')
8293 Area Sales Supervisor (Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Aceh)')
8294 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
8295 Hse Facility Inspector Province - Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Facility Inspector Province - Shopee Express (Sunter)')
8296 Rider Team Lead Shopee Express - (Hub Bangli, Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - (Hub Bangli, Bali)')
8297 Revenue Manager
INSERT INTO job_vacancies (title) VALUES ( 'Revenue Manager')
8298 Dokter
INSERT INTO job_vacancies (title) VALUES ( 'Dokter')
8299 Site Inspector  (Mep)
INSERT INTO job_vacancies (title) VALUES ( 'Site Inspector  (Mep)')
8300 Operator Mechanical Electrical
INSERT INTO job_vacancies (title) VALUES ( 'Operator Mechanical Electrical')
8301 Customer First Management
INSERT INTO job_vacancies (title) VALUES ( 'Customer First Management')
8302 Sales Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion')
8303 Teknisi Store Restaurant (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Store Restaurant (Bali)')
8304 Staff It Erp Technical
INSERT INTO job_vacancies (title) VALUES ( 'Staff It Erp Technical')
8305 Marketing Sales
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales')
8306 Hse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hse Supervisor')
8307 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
8308 Manager Peternakan Ikan & Udang Tawar Aquaponik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Peternakan Ikan & Udang Tawar Aquaponik')
8309 Medical Device Executive - Jakarta, Bandung, Palembang, Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Medical Device Executive - Jakarta, Bandung, Palembang, Palangkaraya')
8310 Bancassurance Life Consultant - (Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - (Cirebon)')
8311 Engineer Staff Di Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Staff Di Palembang')
8312 Kepala Cabang (Koperasi) Area Cirebon,Indramayu
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Cirebon,Indramayu')
8313 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
8314 It Support Internship
INSERT INTO job_vacancies (title) VALUES ( 'It Support Internship')
8315 Supervisor Service Batam
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Service Batam')
8316 Supervisor Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Acquisition')
8317 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
8318 Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing')
8319 Sales Engineer – Hygienic Industry (Food And Beverage & Personal Care)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer – Hygienic Industry (Food And Beverage & Personal Care)')
8320 Senior Engineer  (Front End)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Engineer  (Front End)')
8321 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
8322 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
8323 Creative Design
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design')
8324 Front-End Developer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Front-End Developer Staff')
8325 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
8326 Course Consultant - Cipinang
INSERT INTO job_vacancies (title) VALUES ( 'Course Consultant - Cipinang')
8327 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
8328 Brand Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Development Manager')
8329 Business Development Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive')
8330 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
8331 Staff Export Import
INSERT INTO job_vacancies (title) VALUES ( 'Staff Export Import')
8332 Secured Loan Direct Sales (Marketing Kpr) - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Secured Loan Direct Sales (Marketing Kpr) - Jabodetabek')
8333 Project Manager  /  Ktt
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager  /  Ktt')
8334 Strategic Planner
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Planner')
8335 Bancassurance Specialist - Papua
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Specialist - Papua')
8336 Solution Dan Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Solution Dan Digital Marketing')
8337 Admin Specialist - Karawaci
INSERT INTO job_vacancies (title) VALUES ( 'Admin Specialist - Karawaci')
8338 Plant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Plant Manager')
8339 Sales Manager - Jayapura
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager - Jayapura')
8340 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
8341 Customer Service Representative - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Representative - Jabodetabek')
8342 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
8343 Digital Marketing Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Strategist')
8344 3D Artist Staff
INSERT INTO job_vacancies (title) VALUES ( '3D Artist Staff')
8345 Staff Legal & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal & Ga')
8346 Butcher Oriental Restaurant
INSERT INTO job_vacancies (title) VALUES ( 'Butcher Oriental Restaurant')
8347 Sales Executive (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Semarang)')
8348 Mobile Apps Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Apps Developer')
8349 Field Collector (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Jawa Tengah)')
8350 Field Collector (Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Jawa Timur)')
8351 Operation Shipping Agency
INSERT INTO job_vacancies (title) VALUES ( 'Operation Shipping Agency')
8352 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
8353 Business Development Executive (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive (Semarang)')
8354 Insurance Specialist ( Malang Jatim, Padang, Batam, Kudus Jateng, Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Insurance Specialist ( Malang Jatim, Padang, Batam, Kudus Jateng, Pontianak)')
8355 Facebook Ads Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Facebook Ads Specialist')
8356 Insurance Agent Senior Agent
INSERT INTO job_vacancies (title) VALUES ( 'Insurance Agent Senior Agent')
8357 Erp Consultant  /  Implementer (Bali Area)
INSERT INTO job_vacancies (title) VALUES ( 'Erp Consultant  /  Implementer (Bali Area)')
8358 Area Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager')
8359 Marketing & Verification Officer (Js - Mvo) Batam
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Batam')
8360 Accounting Executive Mandarin Speaking
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Executive Mandarin Speaking')
8361 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
8362 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
8363 Merchandising Manager
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Manager')
8364 Human Resource General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource General Manager')
8365 Accounting Junior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Junior Manager')
8366 Resto Manager
INSERT INTO job_vacancies (title) VALUES ( 'Resto Manager')
8367 Safety Officer & 5R
INSERT INTO job_vacancies (title) VALUES ( 'Safety Officer & 5R')
8368 Education Counsellor - Australia (Kuningan)
INSERT INTO job_vacancies (title) VALUES ( 'Education Counsellor - Australia (Kuningan)')
8369 Junior Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Graphic Designer')
8370 Construction Spv
INSERT INTO job_vacancies (title) VALUES ( 'Construction Spv')
8371 Civil Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Civil Supervisor')
8372 Junior Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Junior Quantity Surveyor')
8373 Mandarin Teacher Primary
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher Primary')
8374 Marketing & Verification Officer (Js - Mvo) Jatibarang, Indramayu
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Jatibarang, Indramayu')
8375 Audit Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Audit Supervisor')
8376 Kru Project (Pm,Sm, Logistic, Spv Sipil, K3,)
INSERT INTO job_vacancies (title) VALUES ( 'Kru Project (Pm,Sm, Logistic, Spv Sipil, K3,)')
8377 It Business Application Analyst (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Business Application Analyst (Jakarta)')
8378 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
8379 Purchasing Supervisor (Raw Material & Packaging Material)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Supervisor (Raw Material & Packaging Material)')
8380 Rpm - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Rpm - Tangerang')
8381 Warehouse Supervisor Cabang Gresik (Dwsg)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor Cabang Gresik (Dwsg)')
8382 Field Collector (Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Jawa Barat)')
8383 Digital Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Executive')
8384 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
8385 Equipment Maintenance & Repair (Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Equipment Maintenance & Repair (Contract Based)')
8386 General Service Supervisor - Food Beverage
INSERT INTO job_vacancies (title) VALUES ( 'General Service Supervisor - Food Beverage')
8387 Staff Head Office (Spv Hrga, Admin, Finance & Accounting)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Head Office (Spv Hrga, Admin, Finance & Accounting)')
8388 Design Interior
INSERT INTO job_vacancies (title) VALUES ( 'Design Interior')

8389 Regional Sales Head (Central - East Java & Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Head (Central - East Java & Bali)')
8390 Field Collector (Bali-Lombok)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Bali-Lombok)')
8391 Data Science Manager
INSERT INTO job_vacancies (title) VALUES ( 'Data Science Manager')
8392 Purchasing Supervisor (Raw Material & Packaging Material)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Supervisor (Raw Material & Packaging Material)')
8393 Rpm - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Rpm - Tangerang')
8394 Warehouse Supervisor Cabang Gresik (Dwsg)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor Cabang Gresik (Dwsg)')
8395 Field Collector (Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Jawa Barat)')
8396 Digital Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Executive')
8397 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
8398 Equipment Maintenance & Repair (Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Equipment Maintenance & Repair (Contract Based)')
8399 General Service Supervisor - Food Beverage
INSERT INTO job_vacancies (title) VALUES ( 'General Service Supervisor - Food Beverage')
8400 Human Resource General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource General Manager')
8401 Accounting Junior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Junior Manager')
8402 Resto Manager
INSERT INTO job_vacancies (title) VALUES ( 'Resto Manager')
8403 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
8404 Digital Marketing Intership
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Intership')
8405 Marketing Executive  /  Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive  /  Manager')
8406 Task Force (Area Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Task Force (Area Jambi)')
8407 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
8408 Account Executive-Hybrid Working
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive-Hybrid Working')
8409 Head – Sales & Operations ( Student Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Head – Sales & Operations ( Student Placement)')
8410 Staff Assistant In Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Staff Assistant In Business Development')
8411 Government Relations Senior Officer
INSERT INTO job_vacancies (title) VALUES ( 'Government Relations Senior Officer')
8412 Field Collection (Jf - Fc) Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Jf - Fc) Kediri')
8413 Junior  Developer   Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Junior  Developer   Jakarta')
8414 Building Maintenance - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Building Maintenance - Pekanbaru')
8415 Tax Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Tax Accountant')
8416 Kepala Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Produksi')
8417 Accounting Inventory
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Inventory')
8418 Customer Care
INSERT INTO job_vacancies (title) VALUES ( 'Customer Care')
8419 Legal Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Senior Staff')
8420 Teknisi Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Maintenance')
8421 Manager Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing')
8422 Building & Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Building & Maintenance Supervisor')
8423 Manager Porduksi
INSERT INTO job_vacancies (title) VALUES ( 'Manager Porduksi')
8424 Application Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Application Engineer')
8425 Merchandising Factory Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Factory Assistant Manager')
8426 Accounting And Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting And Tax Supervisor')
8427 Hse Facility Inspector Province Shopee Express (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Facility Inspector Province Shopee Express (Makassar)')
8428 Junior .Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior .Net Developer')
8429 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
8430 E-Commerce Head
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Head')
8431 Bancassurance Advisor Jawa Timur
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Advisor Jawa Timur')
8432 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
8433 Sap Sd Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sap Sd Specialist')
8434 Business Development Manager (Sumedang, Malang)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager (Sumedang, Malang)')
8435 Drafter Interior (Furniture)
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Interior (Furniture)')
8436 Driver Direksi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Direksi')
8437 Head Of Department Hcbp
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Department Hcbp')
8438 Marketing In House
INSERT INTO job_vacancies (title) VALUES ( 'Marketing In House')
8439 Building Maintenance School
INSERT INTO job_vacancies (title) VALUES ( 'Building Maintenance School')
8440 Ib Pricing Senior Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Ib Pricing Senior Analyst')
8441 Sales Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Assistant')
8442 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
8443 Bancassurance Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Jawa Tengah')
8444 Accounting Representative (Manufacture - Cilegon)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Representative (Manufacture - Cilegon)')
8445 Kolektor Mobil - Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Pontianak')
8446 Supervisor Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Quality Control')
8447 Tax Officer Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer Mandarin')
8448 License & Permit Officer
INSERT INTO job_vacancies (title) VALUES ( 'License & Permit Officer')
8449 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
8450 React Native Programmer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Programmer')
8451 Front End Developer (Web Dan Mobile)
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer (Web Dan Mobile)')
8452 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
8453 Supervisor Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic')
8454 Supervisor Finance And Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance And Accounting')
8455 Technical Support Flat Roof
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support Flat Roof')
8456 Junior Consultant - Transfer Pricing
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant - Transfer Pricing')
8457 Product Associate (Ethical)
INSERT INTO job_vacancies (title) VALUES ( 'Product Associate (Ethical)')
8458 Senior Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Devops Engineer')
8459 Oracle Functional Consultant (Finance)
INSERT INTO job_vacancies (title) VALUES ( 'Oracle Functional Consultant (Finance)')
8460 Software Tester Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Tester Qa Engineer')
8461 Wakil Penjaminan Emisi Efek Dan Wakil Perantara Pedagang Efek Ojk
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Penjaminan Emisi Efek Dan Wakil Perantara Pedagang Efek Ojk')
8462 Vendor Acquisition And Management (Semarang / Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Vendor Acquisition And Management (Semarang / Solo)')
8463 Sap Functional Wm  /  Mm
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional Wm  /  Mm')
8464 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
8465 Client Relation
INSERT INTO job_vacancies (title) VALUES ( 'Client Relation')
8466 Teknisi Ac (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Ac (Jakarta)')
8467 Data Visualization Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Data Visualization Specialist')
8468 Php Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Php Programmer')
8469 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8470 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
8471 Ppic Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Senior Staff')
8472 Sales Motorist Baby Product (Cirebon, Kuningan, Majalengka, Indramayu, Ciamis, Tasikmalaya, Sumedang, Subang, Purwakarta, Karawang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Motorist Baby Product (Cirebon, Kuningan, Majalengka, Indramayu, Ciamis, Tasikmalaya, Sumedang, Subang, Purwakarta, Karawang)')
8473 Supervisor / Pengawas Depot Air
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor / Pengawas Depot Air')
8474 Cleaning & Hygiene Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Cleaning & Hygiene Specialist')
8475 Partnership  /  Business Development Associate (Telecommunication)
INSERT INTO job_vacancies (title) VALUES ( 'Partnership  /  Business Development Associate (Telecommunication)')
8476 Visual Communcation Design Lecturer (S3  /  Phd)
INSERT INTO job_vacancies (title) VALUES ( 'Visual Communcation Design Lecturer (S3  /  Phd)')
8477 Assistant Manager Operations
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Operations')
8478 React Nativ Engineer
INSERT INTO job_vacancies (title) VALUES ( 'React Nativ Engineer')
8479 Junior Consultant - Corporate Tax
INSERT INTO job_vacancies (title) VALUES ( 'Junior Consultant - Corporate Tax')
8480 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8481 Cto
INSERT INTO job_vacancies (title) VALUES ( 'Cto')
8482 General Manager
INSERT INTO job_vacancies (title) VALUES ( 'General Manager')
8483 Sales Department
INSERT INTO job_vacancies (title) VALUES ( 'Sales Department')
8484 Senior Auditor (Junior Manager Level)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Auditor (Junior Manager Level)')
8485 Associate Manager (Business Advisory Division)
INSERT INTO job_vacancies (title) VALUES ( 'Associate Manager (Business Advisory Division)')
8486 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
8487 Waiter Cashier Barista
INSERT INTO job_vacancies (title) VALUES ( 'Waiter Cashier Barista')
8488 Engineer Facility Data Center
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Facility Data Center')
8489 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
8490 Teknisi Otomotif
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Otomotif')
8491 Supervisor Upal
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Upal')
8492 Java Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Full Stack Developer')
8493 Supervisi Operasional Crane
INSERT INTO job_vacancies (title) VALUES ( 'Supervisi Operasional Crane')
8494 Sales Driver (Ds Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Driver (Ds Samarinda)')
8495 Senior Sales Executive (B2B, Horeca, Kitchen Equipment, Distributor F&B)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Executive (B2B, Horeca, Kitchen Equipment, Distributor F&B)')
8496 Ehfs Officer (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Ehfs Officer (Surabaya)')
8497 Batching Plant Supervisor Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Batching Plant Supervisor Karawang')
8498 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
8499 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
8500 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
8501 Technical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Engineer')
8502 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
8503 Digital Marketing (Apprenticeship)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing (Apprenticeship)')
8504 Campaign Data Analytic
INSERT INTO job_vacancies (title) VALUES ( 'Campaign Data Analytic')
8505 Order Processing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Order Processing Supervisor')
8506 Marketing Agency (Car And Motor Product) Bogor, Cileungsi, Citeureup, Bekasi, Depok
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency (Car And Motor Product) Bogor, Cileungsi, Citeureup, Bekasi, Depok')
8507 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
8508 Staff Iso
INSERT INTO job_vacancies (title) VALUES ( 'Staff Iso')
8509 Finance Cashier
INSERT INTO job_vacancies (title) VALUES ( 'Finance Cashier')
8510 Telemedicine Associates
INSERT INTO job_vacancies (title) VALUES ( 'Telemedicine Associates')
8511 German Language Teacher
INSERT INTO job_vacancies (title) VALUES ( 'German Language Teacher')
8512 Broker (Marketing Asuransi)
INSERT INTO job_vacancies (title) VALUES ( 'Broker (Marketing Asuransi)')
8513 Planning, Production, Inventory Control (Ppic)
INSERT INTO job_vacancies (title) VALUES ( 'Planning, Production, Inventory Control (Ppic)')
8514 Trainee Bap Wholesale Banking (Bap Wb)
INSERT INTO job_vacancies (title) VALUES ( 'Trainee Bap Wholesale Banking (Bap Wb)')
8515 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
8516 Rectors Office Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Rectors Office Section Head')
8517 Finance & Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor')
8518 Mechanical Technician
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Technician')
8519 Kepala Bengkel
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bengkel')
8520 Medical Representative (Area Manado, Ambon & Palopo)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Area Manado, Ambon & Palopo)')
8521 Financial Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor')
8522 Senior Supervisor Operations Project Management
INSERT INTO job_vacancies (title) VALUES ( 'Senior Supervisor Operations Project Management')
8523 Senior Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Project Manager')
8524 Dokter Hewan Praktek
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Hewan Praktek')
8525 Apu Ppt Monitoring & Reporting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Apu Ppt Monitoring & Reporting Staff')
8526 Part Time - Marketplace And Content Officer
INSERT INTO job_vacancies (title) VALUES ( 'Part Time - Marketplace And Content Officer')
8527 Marketing & Verification Officer (Js - Mvo) Deli Serdang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Deli Serdang')
8528 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
8529 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
8530 Admin Ecommerce  /  Ecommerce Manager
INSERT INTO job_vacancies (title) VALUES ( 'Admin Ecommerce  /  Ecommerce Manager')
8531 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8532 Crew Sushi  /  Sushi Cook  /  Senior Sushi Cook
INSERT INTO job_vacancies (title) VALUES ( 'Crew Sushi  /  Sushi Cook  /  Senior Sushi Cook')
8533 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
8534 Dc Leader (Kepanjen Area)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Kepanjen Area)')
8535 Sales Representative - Palopo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative - Palopo')
8536 Admin Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Admin Hrd')
8537 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
8538 Sales Supply (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supply (Jakarta)')
8539 Business Development (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development (Surabaya)')
8540 Business Relationship Specialist (Digital Electronics & Appliances)
INSERT INTO job_vacancies (title) VALUES ( 'Business Relationship Specialist (Digital Electronics & Appliances)')
8541 Hse Facility Inspector Province Shopee Express (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Facility Inspector Province Shopee Express (Denpasar)')
8542 Sales Marketing (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Semarang)')
8543 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
8544 Portfolio Manager
INSERT INTO job_vacancies (title) VALUES ( 'Portfolio Manager')
8545 Technician Manager (Penempatan Jeddah)
INSERT INTO job_vacancies (title) VALUES ( 'Technician Manager (Penempatan Jeddah)')
8546 Creative Design Intern
INSERT INTO job_vacancies (title) VALUES ( 'Creative Design Intern')
8547 Teknisi / Montir Truk
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi / Montir Truk')
8548 Area Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager')
8549 Senior Qa / Qc Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Qa / Qc Engineer')

8550 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
8551 Sales Executive Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Jabodetabek')
8552 Industrial Relations
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Relations')
8553 Dokter Umum
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Umum')
8554 Building Engineering Assistant Manager (Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Building Engineering Assistant Manager (Jakarta Utara)')
8555 Marketing Event & Loyalty Intern (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Event & Loyalty Intern (Magang)')
8556 Finance & Accounting Supervisor (Kutai Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor (Kutai Timur)')
8557 Field Collection - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Batam')
8558 Service Center Deputy Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Service Center Deputy Manager (Mandarin Speaker)')
8559 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
8560 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8561 Licensing Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Licensing Sales Representative')
8562 Sales Maklon
INSERT INTO job_vacancies (title) VALUES ( 'Sales Maklon')
8563 Merchandiser (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser (Balikpapan)')
8564 Junior Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Software Developer')
8565 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
8566 Senior Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting')
8567 Legal Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Assistant Manager')
8568 Site Manager
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager')
8569 Store Manager Area Medan
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Area Medan')
8570 Business Development Officer Gratyo® Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer Gratyo® Denpasar')
8571 Staff Admin Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Produksi')
8572 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
8573 Part-Time Lecturer - Fashion Design
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer - Fashion Design')
8574 Procurement Logistics / Project - Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Logistics / Project - Freight Forwarding')
8575 Drafter Mep
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Mep')
8576 Sales Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Staff')
8577 R&D Officer - Food & Beverage
INSERT INTO job_vacancies (title) VALUES ( 'R&D Officer - Food & Beverage')
8578 Sales Representative (Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Batam)')
8579 Marketing Intelligence
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Intelligence')
8580 Account Payable Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Supervisor')
8581 Teknisi Workshop Utility (Welder / Juru Las)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Workshop Utility (Welder / Juru Las)')
8582 Sales Executive - Kediri Madiun
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Kediri Madiun')
8583 Administrasi Finance (Manado)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Manado)')
8584 Sales Advisor (Voila.Id)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Advisor (Voila.Id)')
8585 Marketing & Verification Officer (Js - Mvo) Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bengkulu')
8586 Staf Admin Tender
INSERT INTO job_vacancies (title) VALUES ( 'Staf Admin Tender')
8587 Site Manager
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager')
8588 Procurement Supervisor - Indirect Material (Marketing Services)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Supervisor - Indirect Material (Marketing Services)')
8589 Tax Supervisor Medan
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor Medan')
8590 Key Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive')
8591 Senior It Devsecops
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Devsecops')
8592 Team Leader Telesales
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Telesales')
8593 Retail Outlet Officer
INSERT INTO job_vacancies (title) VALUES ( 'Retail Outlet Officer')
8594 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
8595 Toefl Ibt , Ielts, A Level Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Toefl Ibt , Ielts, A Level Teacher')
8596 Sales Executive Food Service
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Food Service')
8597 Desk Collection Assistant Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Assistant Manager (Mandarin Speaker)')
8598 Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Recruiter')
8599 It Qa Automation
INSERT INTO job_vacancies (title) VALUES ( 'It Qa Automation')
8600 Assistant Manager, Operations E-Com
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager, Operations E-Com')
8601 Marketing & Verification Officer (Js - Mvo) Muara Enim
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Muara Enim')
8602 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
8603 Regional Hr Manager (Penempatan Tangerang & Sidoarjo)
INSERT INTO job_vacancies (title) VALUES ( 'Regional Hr Manager (Penempatan Tangerang & Sidoarjo)')
8604 Marketing & Verification Officer (Js - Mvo) Garut
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Garut')
8605 Legal Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Legal Specialist')
8606 Perawat
INSERT INTO job_vacancies (title) VALUES ( 'Perawat')
8607 Employee Relation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Employee Relation Supervisor')
8608 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
8609 Staff Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Tax')
8610 Cashier (Outsource Contract) - Jogjakarta & Bali
INSERT INTO job_vacancies (title) VALUES ( 'Cashier (Outsource Contract) - Jogjakarta & Bali')
8611 Senior Finance & Accounting Associate
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance & Accounting Associate')
8612 It Support Sap Finance
INSERT INTO job_vacancies (title) VALUES ( 'It Support Sap Finance')
8613 Application Development Officer - Fullstack
INSERT INTO job_vacancies (title) VALUES ( 'Application Development Officer - Fullstack')
8614 Mekanik Mesin Mobil (Trucking)
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Mesin Mobil (Trucking)')
8615 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
8616 Administrasi Sales Support (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Sales Support (Mandarin Speaker)')
8617 Programmer Desktop (Vb.Net Developer)
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Desktop (Vb.Net Developer)')
8618 Kepala Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Gudang')
8619 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
8620 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
8621 Product Owner
INSERT INTO job_vacancies (title) VALUES ( 'Product Owner')
8622 Senior Learning Officer (Assistant Manager)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Learning Officer (Assistant Manager)')
8623 It Application Support
INSERT INTO job_vacancies (title) VALUES ( 'It Application Support')
8624 Marketing & Verification Officer (Js - Mvo) Majalengka
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Majalengka')
8625 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
8626 Logistic Supervisor - Riau
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Supervisor - Riau')
8627 E-Commerce Specialist & Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Specialist & Marketplace')
8628 Customer Service - Mandarin (Cs)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service - Mandarin (Cs)')
8629 Tax & A / P Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tax & A / P Assistant Manager')
8630 Kepala Tambang (Jambi, Sumatera)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Tambang (Jambi, Sumatera)')
8631 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
8632 Modern Trade Manager
INSERT INTO job_vacancies (title) VALUES ( 'Modern Trade Manager')
8633 Junior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Software Engineer')
8634 It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Engineer')
8635 R&D Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'R&D Supervisor')
8636 Technical Sales Bareca (Bakery Pastry Specialication)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Bareca (Bakery Pastry Specialication)')
8637 Marketing Verification Officer (Js - Mvo) Subang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Subang')
8638 Supervisor Operasional
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Operasional')
8639 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
8640 Sales Eksport
INSERT INTO job_vacancies (title) VALUES ( 'Sales Eksport')
8641 Beauty Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Advisor')
8642 Building General Service Supervisor (Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Building General Service Supervisor (Jakarta Utara)')
8643 Product Executive (Pharmaceutical Raw Material)
INSERT INTO job_vacancies (title) VALUES ( 'Product Executive (Pharmaceutical Raw Material)')
8644 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
8645 Enterprise Risk Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Risk Management Manager')
8646 Programmer (.Net)  /  Software Developer - Hybrid Working
INSERT INTO job_vacancies (title) VALUES ( 'Programmer (.Net)  /  Software Developer - Hybrid Working')
8647 English As A Second Language (Esl) Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English As A Second Language (Esl) Teacher')
8648 Senior Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Staff')
8649 Sr. Fullstack Developer (Sydney Team)
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Fullstack Developer (Sydney Team)')
8650 Hse (Cikande)
INSERT INTO job_vacancies (title) VALUES ( 'Hse (Cikande)')
8651 Purchasing  /  Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing  /  Ga Staff')
8652 Business Process Automation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Automation Specialist')
8653 Java  /  .Net Developer Wholesale Banking
INSERT INTO job_vacancies (title) VALUES ( 'Java  /  .Net Developer Wholesale Banking')
8654 Internal Audit Manager
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Manager')
8655 Kolektor Mobil - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Denpasar')
8656 Spv Restaurant  /  Outlet
INSERT INTO job_vacancies (title) VALUES ( 'Spv Restaurant  /  Outlet')
8657 Kepala Bagian Research & Development
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bagian Research & Development')
8658 Environment Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Environment Foreman')
8659 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
8660 Ip  /  It Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Ip  /  It Trainer')
8661 Sales Sweetener (Food)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Sweetener (Food)')
8662 Marketing Back Office
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Back Office')
8663 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
8664 Medical Sales Representative  (Code: Msr - Gem)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Sales Representative  (Code: Msr - Gem)')
8665 Business Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Staff')
8666 Customer Relation Marketing Media (Crm)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Marketing Media (Crm)')
8667 Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Hrga')
8668 Tele Sales Officer - Asuransi Kendaraan
INSERT INTO job_vacancies (title) VALUES ( 'Tele Sales Officer - Asuransi Kendaraan')
8669 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
8670 It Solution Architect (Presales)
INSERT INTO job_vacancies (title) VALUES ( 'It Solution Architect (Presales)')
8671 It System Administrator (Mining)
INSERT INTO job_vacancies (title) VALUES ( 'It System Administrator (Mining)')
8672 Creative Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Creative Content Creator')
8673 Devops
INSERT INTO job_vacancies (title) VALUES ( 'Devops')
8674 Senior Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Purchasing Staff')
8675 Logistic Officer
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Officer')
8676 It Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Java Developer')
8677 Marketing Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Consultant')
8678 Medical Service Development Sr. Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Medical Service Development Sr. Specialist')
8679 Production Line Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Production Line Supervisor')
8680 Warehouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager')
8681 Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Accountant')
8682 Software Developer (Esp. In Golang)
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer (Esp. In Golang)')
8683 Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager')
8684 Hr Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment Supervisor')
8685 Database Operator Officer
INSERT INTO job_vacancies (title) VALUES ( 'Database Operator Officer')
8686 Sales Engineer ( Project & Retail )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer ( Project & Retail )')
8687 Agency Marketing Support Manager
INSERT INTO job_vacancies (title) VALUES ( 'Agency Marketing Support Manager')
8688 Copywriter Social Media
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter Social Media')
8689 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
8690 Finance & Accounting Supervisor - Purwakarta
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor - Purwakarta')
8691 Sales Property
INSERT INTO job_vacancies (title) VALUES ( 'Sales Property')
8692 Apoteker ( Bali )
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker ( Bali )')
8693 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
8694 Manager Ecommerce
INSERT INTO job_vacancies (title) VALUES ( 'Manager Ecommerce')
8695 Field Collection - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Jambi')
8696 Account Manager Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager Surabaya')
8697 Manager Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Manager Hrga')
8698 Building Manager Mall (Bm)
INSERT INTO job_vacancies (title) VALUES ( 'Building Manager Mall (Bm)')
8699 Hr Recruitment (Position : Junior - Spv)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment (Position : Junior - Spv)')
8700 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
8701 Teller - Mandarin (Tl)
INSERT INTO job_vacancies (title) VALUES ( 'Teller - Mandarin (Tl)')
8702 Budget Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Budget Control Staff')
8703 Spv Erp Developer
INSERT INTO job_vacancies (title) VALUES ( 'Spv Erp Developer')
8704 Marketing Bali
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Bali')

8705 Head Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Head Marketing')
8706 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
8707 Strategic Financial Planner Equity Life Area Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Financial Planner Equity Life Area Jawa Tengah')
8708 Standard Cost Staff - Sml Plaza Surabaya (Scss-Sby-Trmcp11)
INSERT INTO job_vacancies (title) VALUES ( 'Standard Cost Staff - Sml Plaza Surabaya (Scss-Sby-Trmcp11)')
8709 Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer')
8710 Teknisi Service Center
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Service Center')
8711 Kolektor Mobil - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Batam')
8712 Sales Merchant Rajastore Bela
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchant Rajastore Bela')
8713 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
8714 Marketing Verification Officer (Js - Mvo) Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Jambi')
8715 Marketing (Experience)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing (Experience)')
8716 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
8717 Marketing Head Car Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Head Car Jakarta')
8718 Credit Marketing Officer Mobil - Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Cilegon')
8719 Internal Audit Admin
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Admin')
8720 Spv Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Spv Digital Marketing')
8721 Marketing & Verification Officer (Js - Mvo) Banjar
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Banjar')
8722 Bartender - Lifestyle
INSERT INTO job_vacancies (title) VALUES ( 'Bartender - Lifestyle')
8723 Promotor Elektronik (Area Bau Bau)
INSERT INTO job_vacancies (title) VALUES ( 'Promotor Elektronik (Area Bau Bau)')
8724 Senior Infrastructure Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Infrastructure Engineer')
8725 Media Monitoring Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Media Monitoring Specialist')
8726 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8727 Dokter Estetik Klinik Kecantikan (Loris Beauty Clinic)
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Estetik Klinik Kecantikan (Loris Beauty Clinic)')
8728 Drafter R&D
INSERT INTO job_vacancies (title) VALUES ( 'Drafter R&D')
8729 Electrical Mechanical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Mechanical Engineering')
8730 It Manufacturing System Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Manufacturing System Development Supervisor')
8731 Account Receivable Head (Purwokerto,Cilacap,Banyumas)
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Head (Purwokerto,Cilacap,Banyumas)')
8732 Business Process Automation & Innovation
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Automation & Innovation')
8733 Supervisor Admin
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Admin')
8734 Admin Online Shop (Cab. Nganjuk)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online Shop (Cab. Nganjuk)')
8735 Pruventure Development Program
INSERT INTO job_vacancies (title) VALUES ( 'Pruventure Development Program')
8736 Make Up Artist And Hairdo - Tata Rias Dan Rambut
INSERT INTO job_vacancies (title) VALUES ( 'Make Up Artist And Hairdo - Tata Rias Dan Rambut')
8737 Sales Force Motoris
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force Motoris')
8738 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
8739 Billing Admin
INSERT INTO job_vacancies (title) VALUES ( 'Billing Admin')
8740 Hrga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Supervisor')
8741 Staf Customer Care
INSERT INTO job_vacancies (title) VALUES ( 'Staf Customer Care')
8742 Administration Executive - Staff Pembukuan
INSERT INTO job_vacancies (title) VALUES ( 'Administration Executive - Staff Pembukuan')
8743 Sales Officer - Belitung
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer - Belitung')
8744 Business Development Executive (Marketing)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive (Marketing)')
8745 Field Collector Area Bandar Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector Area Bandar Lampung')
8746 Sales Merchant Hunter (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchant Hunter (Yogyakarta)')
8747 Sitecore Developer
INSERT INTO job_vacancies (title) VALUES ( 'Sitecore Developer')
8748 Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Specialist')
8749 Supply & Vendor Management Officer (Branch Semarang / Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Supply & Vendor Management Officer (Branch Semarang / Lampung)')
8750 Chef (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Chef (Mandarin Speaker)')
8751 Inside Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Inside Sales Representative')
8752 Marketing & Verification Officer (Js - Mvo) Pangkalan Kerinci
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Pangkalan Kerinci')
8753 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
8754 It Support / System Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Support / System Manager')
8755 Java Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Java Engineer')
8756 Account Payable Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Analyst')
8757 Accounting & Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Supervisor')
8758 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
8759 Sales Motorist Baby Product (Purwokerto, Purbalingga, Cilacap, Kebumen, Purworejo, Banjarnegara, Temanggung)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Motorist Baby Product (Purwokerto, Purbalingga, Cilacap, Kebumen, Purworejo, Banjarnegara, Temanggung)')
8760 Investment & Treasury Officer
INSERT INTO job_vacancies (title) VALUES ( 'Investment & Treasury Officer')
8761 Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection')
8762 Network Operation Center
INSERT INTO job_vacancies (title) VALUES ( 'Network Operation Center')
8763 Relationship Manajer Dana & Jasa
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manajer Dana & Jasa')
8764 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
8765 Finance & Accounting Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Assistant')
8766 Treasury Specialist资金专员(Mandarin Atau Engglish Speaker) 2 Orang+Specialist Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Treasury Specialist资金专员(Mandarin Atau Engglish Speaker) 2 Orang+Specialist Pajak')
8767 Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Manager')
8768 Sap Functional Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional Fico')
8769 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
8770 Admin Sap
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sap')
8771 Partner Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Partner Development Specialist')
8772 Staf Marketing (Penempatan Pontianak , Banjarmasin , Ketapang , Balikpapan, Martapura , Singkawang)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Marketing (Penempatan Pontianak , Banjarmasin , Ketapang , Balikpapan, Martapura , Singkawang)')
8773 Merchandiser - Sports Retailer
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser - Sports Retailer')
8774 Mekanik Otomotif (Instalasi Unit Gps)
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Otomotif (Instalasi Unit Gps)')
8775 Sales Gt
INSERT INTO job_vacancies (title) VALUES ( 'Sales Gt')
8776 Retails & Business Development Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Retails & Business Development Assistant Manager')
8777 Cost Accounting Senior Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting Senior Supervisor')
8778 Field Collection - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Medan')
8779 Credit Analyst Mobil - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Mobil - Jabodetabek')
8780 Cook Helper Hot Kitchen
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper Hot Kitchen')
8781 B.Indoteacher For Secondary
INSERT INTO job_vacancies (title) VALUES ( 'B.Indoteacher For Secondary')
8782 Guru
INSERT INTO job_vacancies (title) VALUES ( 'Guru')
8783 Salesforce Developer
INSERT INTO job_vacancies (title) VALUES ( 'Salesforce Developer')
8784 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
8785 Landscape Staff
INSERT INTO job_vacancies (title) VALUES ( 'Landscape Staff')
8786 Sap Functional Fico
INSERT INTO job_vacancies (title) VALUES ( 'Sap Functional Fico')
8787 Sales Product
INSERT INTO job_vacancies (title) VALUES ( 'Sales Product')
8788 Avp-Ftth Network Operations (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Avp-Ftth Network Operations (Surabaya)')
8789 Sales Marketing (Distributor Bahan Baku Sofa Springbed) Area Jawa Timur - Pasuruan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Distributor Bahan Baku Sofa Springbed) Area Jawa Timur - Pasuruan')
8790 Ppu Pm Calibration Planner
INSERT INTO job_vacancies (title) VALUES ( 'Ppu Pm Calibration Planner')
8791 Software Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance')
8792 Chief Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Chief Hrd')
8793 Product Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Product Support Engineer')
8794 Embedded Software (Microcontroller) Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Embedded Software (Microcontroller) Engineer')
8795 Performance Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Performance Marketing')
8796 Field Education Consultant (Field Sales) - Penempatan Jawa Timur, Bali, Nusa Tenggara
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Field Sales) - Penempatan Jawa Timur, Bali, Nusa Tenggara')
8797 Ground Ops Tms (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Ground Ops Tms (Makassar)')
8798 Tax Review
INSERT INTO job_vacancies (title) VALUES ( 'Tax Review')
8799 Program Implementation (Csr) Lead
INSERT INTO job_vacancies (title) VALUES ( 'Program Implementation (Csr) Lead')
8800 Sales Bahan Bangunan Luar Kota
INSERT INTO job_vacancies (title) VALUES ( 'Sales Bahan Bangunan Luar Kota')
8801 Purchasing Service Center Officer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Service Center Officer')
8802 Guru Kelas Bilingual
INSERT INTO job_vacancies (title) VALUES ( 'Guru Kelas Bilingual')
8803 Medical Representative Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Pekanbaru')
8804 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
8805 On-Site Support Engineer
INSERT INTO job_vacancies (title) VALUES ( 'On-Site Support Engineer')
8806 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
8807 Mechatronics Engineers
INSERT INTO job_vacancies (title) VALUES ( 'Mechatronics Engineers')
8808 Outbound Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Outbound Sales Associate')
8809 Internal Auditor (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor (Jakarta)')
8810 Sap Abaper
INSERT INTO job_vacancies (title) VALUES ( 'Sap Abaper')
8811 Senior Account Executive (Digital)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Account Executive (Digital)')
8812 Field Collection (Js - Fc) Cianjur
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cianjur')
8813 Field Collection - Gorontalo
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Gorontalo')
8814 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
8815 Quantity Surveyor (Qs Interior)
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor (Qs Interior)')
8816 Senior 3D Fashion Designer
INSERT INTO job_vacancies (title) VALUES ( 'Senior 3D Fashion Designer')
8817 Teknisi Utility
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Utility')
8818 Sales And Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing')
8819 Salesman  Ciamis
INSERT INTO job_vacancies (title) VALUES ( 'Salesman  Ciamis')
8820 Teknisi Fip Commonrail
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Fip Commonrail')
8821 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
8822 Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax')
8823 Staff Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staff Logistik')
8824 Application Development
INSERT INTO job_vacancies (title) VALUES ( 'Application Development')
8825 Supervisor Marketing Elektronik (Bro) Garut
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Elektronik (Bro) Garut')
8826 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
8827 Sales Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering')
8828 Senior Tax Consultant (Compliance)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Consultant (Compliance)')
8829 Sales Consultant (Nusantara Group)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant (Nusantara Group)')
8830 Store Manager - Dumai
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager - Dumai')
8831 Associate Product Manager - Bsa
INSERT INTO job_vacancies (title) VALUES ( 'Associate Product Manager - Bsa')
8832 Fund Relation Executive
INSERT INTO job_vacancies (title) VALUES ( 'Fund Relation Executive')
8833 Sales Force (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force (Palangkaraya)')
8834 Manager Produksi (Shrimp)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Produksi (Shrimp)')
8835 Retail Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Retail Sales Supervisor')
8836 It Data Management (Id: 550609)
INSERT INTO job_vacancies (title) VALUES ( 'It Data Management (Id: 550609)')
8837 Relationship Officer  (Marketing Alat Berat) - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer  (Marketing Alat Berat) - Surabaya')
8838 Project Director
INSERT INTO job_vacancies (title) VALUES ( 'Project Director')
8839 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
8840 Supervisor Restaurant
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Restaurant')
8841 Mekanik Mobil Honda Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Mobil Honda Cikarang')
8842 Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff')
8843 Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor')
8844 Sales (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Yogyakarta)')
8845 Mt Trainer (All Brand)
INSERT INTO job_vacancies (title) VALUES ( 'Mt Trainer (All Brand)')
8846 Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Estimator')
8847 Design & Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Design & Video Editor')
8848 Pro Switching Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Pro Switching Engineer')
8849 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
8850 Litigation And Tax Advisory Senior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Litigation And Tax Advisory Senior Manager')
8851 Hts Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Hts Software Developer')
8852 Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Arsitek')
8853 Asisten Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Quality Assurance')
8854 Tecnical Service (Medan Area)
INSERT INTO job_vacancies (title) VALUES ( 'Tecnical Service (Medan Area)')
8855 Risk Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Supervisor')
8856 Aesthetic Doctor ( Jakarta )
INSERT INTO job_vacancies (title) VALUES ( 'Aesthetic Doctor ( Jakarta )')
8857 Commercial Business Analyst (Id: 533326)
INSERT INTO job_vacancies (title) VALUES ( 'Commercial Business Analyst (Id: 533326)')
8858 Desain Grafis Marketplace Ecommerce
INSERT INTO job_vacancies (title) VALUES ( 'Desain Grafis Marketplace Ecommerce')
8859 Nurse (Summarecon Mall Serpong)
INSERT INTO job_vacancies (title) VALUES ( 'Nurse (Summarecon Mall Serpong)')
8860 Junior Full Stack Developer (Programmer)
INSERT INTO job_vacancies (title) VALUES ( 'Junior Full Stack Developer (Programmer)')
8861 Product Development - Pvc
INSERT INTO job_vacancies (title) VALUES ( 'Product Development - Pvc')
8862 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
8863 Accounting & Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Supervisor')
8864 Live Streaming - Market Place
INSERT INTO job_vacancies (title) VALUES ( 'Live Streaming - Market Place')
8865 Website Design & Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Website Design & Administrator')

8866 Frontend Developer (Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer (Contract Based)')
8867 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
8868 Live Chat Agent Bahasa Indonesia - Contact Center - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Live Chat Agent Bahasa Indonesia - Contact Center - Solo')
8869 Dspm (District Sales Promotion Manager) Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Dspm (District Sales Promotion Manager) Jabodetabek')
8870 Supir Forklift
INSERT INTO job_vacancies (title) VALUES ( 'Supir Forklift')
8871 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8872 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
8873 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
8874 Sales Executive Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Karawang')
8875 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
8876 Credit Policy Multiproduct Asst. Manager
INSERT INTO job_vacancies (title) VALUES ( 'Credit Policy Multiproduct Asst. Manager')
8877 Full Stack Developer ( Software Engineer )
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer ( Software Engineer )')
8878 Customer Relation Service (Crs)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Service (Crs)')
8879 Service Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer')
8880 Accounting Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Specialist')
8881 Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Specialist')
8882 Sales Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Sales Bandung')
8883 F&B Manager
INSERT INTO job_vacancies (title) VALUES ( 'F&B Manager')
8884 It Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Assurance')
8885 Marketing & Verification Officer (Js - Mvo) Sumedang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Sumedang')
8886 Web Programmer Vue Js (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer Vue Js (Bali)')
8887 Sales Executive - Gadget Accessories (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Gadget Accessories (Palembang)')
8888 Product & Process Design Engineer – Valve
INSERT INTO job_vacancies (title) VALUES ( 'Product & Process Design Engineer – Valve')
8889 Web Programmer (Software Developer) Solo
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer (Software Developer) Solo')
8890 Area Sales Mananger
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Mananger')
8891 Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor')
8892 Senior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer')
8893 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
8894 Marketing & Verification Officer (Js - Mvo) Muara Bungo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Muara Bungo')
8895 Telesales  /  Telemarketing (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Telesales  /  Telemarketing (Jakarta)')
8896 Field Collection - Palu / Sigi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Palu / Sigi')
8897 .Net Developer C# (Karawaci)
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer C# (Karawaci)')
8898 Erp Consultant  /  Erp Implementer
INSERT INTO job_vacancies (title) VALUES ( 'Erp Consultant  /  Erp Implementer')
8899 Asisten Manager Operation & Maintenance Ftth
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Manager Operation & Maintenance Ftth')
8900 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
8901 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
8902 Purchasing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Supervisor')
8903 Food & Beverage Service Team
INSERT INTO job_vacancies (title) VALUES ( 'Food & Beverage Service Team')
8904 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
8905 Supervisor Marketing Kain
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Kain')
8906 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
8907 Administrasi Finance (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Denpasar)')
8908 Corporate Governance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Governance Officer')
8909 Credit Marketing Officer - Bandar Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Bandar Lampung')
8910 Marketing Sales (Art Motor Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales (Art Motor Indonesia)')
8911 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
8912 Staff Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang')
8913 Sales Executive  /  Account Executive Freight Forwarding
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive  /  Account Executive Freight Forwarding')
8914 Pradana Digital Sales And Marketing Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Pradana Digital Sales And Marketing Assistant Manager')
8915 Sales Force Ufi ( Fifgroup Tanah Grogot & Ppu )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force Ufi ( Fifgroup Tanah Grogot & Ppu )')
8916 It Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Development Specialist')
8917 Education Consultant For Study Abroad
INSERT INTO job_vacancies (title) VALUES ( 'Education Consultant For Study Abroad')
8918 Azure /  Aws Developer Associate
INSERT INTO job_vacancies (title) VALUES ( 'Azure /  Aws Developer Associate')
8919 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
8920 Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate')
8921 Business Development Citraraya Group
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Citraraya Group')
8922 Corporate Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Digital Marketing Manager')
8923 Marketing (Kupang, Lombok, Bima)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing (Kupang, Lombok, Bima)')
8924 Motion Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphic')
8925 Desktop Support Engineer Area Kalimantan Timur
INSERT INTO job_vacancies (title) VALUES ( 'Desktop Support Engineer Area Kalimantan Timur')
8926 Staff Ob Dan Kurir
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ob Dan Kurir')
8927 Employer Branding (Internship)
INSERT INTO job_vacancies (title) VALUES ( 'Employer Branding (Internship)')
8928 Sales Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Trainer')
8929 Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant')
8930 Legal Administration Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Administration Officer')
8931 Mekanik Mesin
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Mesin')
8932 Creative Director
INSERT INTO job_vacancies (title) VALUES ( 'Creative Director')
8933 Remedial Head - Tarakan
INSERT INTO job_vacancies (title) VALUES ( 'Remedial Head - Tarakan')
8934 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
8935 Senior Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Sales Engineer')
8936 Mandarin Human Resource Staff 中文人力资源专员
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Human Resource Staff 中文人力资源专员')
8937 Administration Staff For Palembang Branch
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff For Palembang Branch')
8938 Sales Marketing (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Jakarta)')
8939 Sales Marketing Perbankan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Perbankan')
8940 Mandarin Desk Collection Supervisor (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Desk Collection Supervisor (Yogyakarta)')
8941 Account Representative (Area Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Representative (Area Jakarta)')
8942 Creative Designer Vcbl
INSERT INTO job_vacancies (title) VALUES ( 'Creative Designer Vcbl')
8943 Compliance
INSERT INTO job_vacancies (title) VALUES ( 'Compliance')
8944 Penanggung Jawab Toko
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab Toko')
8945 Project / Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Project / Process Engineer')
8946 Dropping Driver (Yl Bogor 1)
INSERT INTO job_vacancies (title) VALUES ( 'Dropping Driver (Yl Bogor 1)')
8947 Finance Accounting Taxation
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Taxation')
8948 Supply Chain Manager
INSERT INTO job_vacancies (title) VALUES ( 'Supply Chain Manager')
8949 Staff Pajak & Budgeting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pajak & Budgeting')
8950 Life Planner (Insurance Agent) - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Life Planner (Insurance Agent) - Surabaya')
8951 General Manager ( Construction & Property )
INSERT INTO job_vacancies (title) VALUES ( 'General Manager ( Construction & Property )')
8952 Supervisor Utilities
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Utilities')
8953 Sales Customer Relation Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Customer Relation Executive')
8954 Field Collection (Js - Fc) Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Sukabumi')
8955 Marketing & Verification Officer (Js - Mvo) Bangkinang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Bangkinang')
8956 Social Media Officer
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Officer')
8957 Industrial Pump Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Pump Sales Engineer')
8958 Legal Manager
INSERT INTO job_vacancies (title) VALUES ( 'Legal Manager')
8959 It Web Developer (Programmer)
INSERT INTO job_vacancies (title) VALUES ( 'It Web Developer (Programmer)')
8960 Live Stream Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Live Stream Marketing Executive')
8961 Credit Marketing Officer - Manado
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Manado')
8962 Regional Head Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Regional Head Jabodetabek')
8963 Marketing & Verification Officer (Js - Mvo) Perawang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Perawang')
8964 Recruitment Supervisor (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor (Mandarin Speaker)')
8965 Data Scientist (X2)
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist (X2)')
8966 Kolektor Mobil - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Pekanbaru')
8967 Estimator Support
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Support')
8968 Senior Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Java Programmer')
8969 E-Commerce Specialist
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Specialist')
8970 Store Manager Area Jawa Timur
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Area Jawa Timur')
8971 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
8972 Membership Supervisor (Penempatan Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Membership Supervisor (Penempatan Palembang)')
8973 Competency & Talent Management
INSERT INTO job_vacancies (title) VALUES ( 'Competency & Talent Management')
8974 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
8975 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
8976 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
8977 Hr Business Partner
INSERT INTO job_vacancies (title) VALUES ( 'Hr Business Partner')
8978 Admin Account  Auction Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Account  Auction Staff')
8979 Management Trainee (Programing)
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Programing)')
8980 Fullstack .Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack .Net Developer')
8981 Content Team Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Content Team Supervisor')
8982 It Asset Management Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Asset Management Specialist')
8983 Fresh Graduate Hiring It Consultant Bootcamp
INSERT INTO job_vacancies (title) VALUES ( 'Fresh Graduate Hiring It Consultant Bootcamp')
8984 Recovery Collector (Area Bengkulu- Sumsel)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Bengkulu- Sumsel)')
8985 Administrasi Finance (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Finance (Pontianak)')
8986 Photographer & Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Photographer & Videographer')
8987 Sales Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering')
8988 Media Sosial Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Media Sosial Specialist')
8989 Mep Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mep Engineer')
8990 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
8991 It Security
INSERT INTO job_vacancies (title) VALUES ( 'It Security')
8992 Content Creator Produk Perawatan Rambut
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Produk Perawatan Rambut')
8993 Corporate Social Responsibility (Csr) Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Social Responsibility (Csr) Trainer')
8994 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
8995 Business Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Specialist')
8996 Branch Head Bandung (Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Head Bandung (Jawa Barat)')
8997 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
8998 Guru Sekolah Dasar
INSERT INTO job_vacancies (title) VALUES ( 'Guru Sekolah Dasar')
8999 Marketing Houseware Plastik Biji Plastik
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Houseware Plastik Biji Plastik')
9000 Credit Marketing Officer - Pangkal Pinang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Pangkal Pinang')
9001 Talent Acquisition Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Supervisor')
9002 Management Accounting Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Management Accounting Consultant')
9003 Data Engineer (X2)
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer (X2)')
9004 Senior Internal Audit - Karawaci
INSERT INTO job_vacancies (title) VALUES ( 'Senior Internal Audit - Karawaci')
9005 Staff Fungsi Kebijakan  /  Legal Kontraktor
INSERT INTO job_vacancies (title) VALUES ( 'Staff Fungsi Kebijakan  /  Legal Kontraktor')
9006 Sales Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering')
9007 Legal Permit Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Permit Officer')
9008 International Teacher For English Subject
INSERT INTO job_vacancies (title) VALUES ( 'International Teacher For English Subject')
9009 Administrasi Umum
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Umum')
9010 Dispatcher Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Dispatcher Surabaya')
9011 Javascript Developer (Fullstack)
INSERT INTO job_vacancies (title) VALUES ( 'Javascript Developer (Fullstack)')
9012 Store Manager Foot Locker (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Foot Locker (Bali)')
9013 Hrbp - Semarang, Tegal, Purwokerto
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp - Semarang, Tegal, Purwokerto')
9014 Senior .Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior .Net Developer')
9015 Residence Service Staff Binus Square
INSERT INTO job_vacancies (title) VALUES ( 'Residence Service Staff Binus Square')
9016 Admin Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Admin Mandarin')
9017 Marcomm Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marcomm Executive')
9018 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
9019 Field Education Consultant English Academy - Penempatan Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant English Academy - Penempatan Jakarta Timur')
9020 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
9021 Sales Representative (Sr - Js)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Sr - Js)')
9022 Lead Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Software Engineer')
9023 Credit Analyst Officer
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Officer')
9024 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
9025 Credit Marketing Officer - Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Bengkulu')
9026 Field Collection - Manado
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Manado')
9027 Application Developer (Rpa)
INSERT INTO job_vacancies (title) VALUES ( 'Application Developer (Rpa)')
9028 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')

9029 Devops Engineer - Kg Media
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer - Kg Media')
9030 Credit Marketing Officer - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Padang')
9031 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
9032 Helper Cook, Baker
INSERT INTO job_vacancies (title) VALUES ( 'Helper Cook, Baker')
9033 Business Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer')
9034 Developer / Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Developer / Consultant')
9035 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
9036 Import & Export Executive
INSERT INTO job_vacancies (title) VALUES ( 'Import & Export Executive')
9037 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
9038 Key Account Executive Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Executive Jakarta')
9039 Digital Advertising
INSERT INTO job_vacancies (title) VALUES ( 'Digital Advertising')
9040 Programmer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Staff')
9041 Credit Marketing Officer - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Medan')
9042 Store Supervisor - Dumai
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Dumai')
9043 Safety Manager
INSERT INTO job_vacancies (title) VALUES ( 'Safety Manager')
9044 Content Creator & Social Media Staff
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator & Social Media Staff')
9045 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
9046 Operations Executive - Id
INSERT INTO job_vacancies (title) VALUES ( 'Operations Executive - Id')
9047 Estimator Interior / Arsitektur
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Interior / Arsitektur')
9048 Digital Marketing Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Administrator')
9049 Activation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Activation Supervisor')
9050 Hr Manager / Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager / Supervisor')
9051 Qa Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qa Supervisor')
9052 Salesman Food Service (Jakarta, Tangerang, Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Food Service (Jakarta, Tangerang, Bogor)')
9053 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
9054 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
9055 Legal Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Legal Supervisor')
9056 Internship - Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Internship - Programmer')
9057 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
9058 Full Stack Web Developer (Java And Angular)
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Web Developer (Java And Angular)')
9059 Shopee Express - Recruitment Team Lead (East Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment Team Lead (East Indonesia)')
9060 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
9061 Advertising & Promotion Property
INSERT INTO job_vacancies (title) VALUES ( 'Advertising & Promotion Property')
9062 Credit Marketing Officer - Gorontalo
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Gorontalo')
9063 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
9064 Penerjemah (Translator) Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Penerjemah (Translator) Mandarin')
9065 Qa Order Processing
INSERT INTO job_vacancies (title) VALUES ( 'Qa Order Processing')
9066 Human Resources & General Affair (Hrga)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources & General Affair (Hrga)')
9067 Application Support Engineer (Apache Tomcat, Nginx, Weblogic)
INSERT INTO job_vacancies (title) VALUES ( 'Application Support Engineer (Apache Tomcat, Nginx, Weblogic)')
9068 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
9069 Sales Marketing Manager (Metland Hotel Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Manager (Metland Hotel Bekasi)')
9070 Credit Marketing Officer - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Jambi')
9071 Social Media Staff
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Staff')
9072 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
9073 Sales Officer - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer - Balikpapan')
9074 Product Application Officer
INSERT INTO job_vacancies (title) VALUES ( 'Product Application Officer')
9075 English Teacher For Primary
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher For Primary')
9076 Staff Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing Communication')
9077 Digital Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Digital Content Creator')
9078 Field Collection (Js - Fc) Purwakarta
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Purwakarta')
9079 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
9080 Finance Controller (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Controller (Surabaya)')
9081 Sales Promotion (Spg) (Semarang, Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion (Spg) (Semarang, Pekanbaru)')
9082 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
9083 Engineering ( Civil )
INSERT INTO job_vacancies (title) VALUES ( 'Engineering ( Civil )')
9084 Junior Frontend Dev
INSERT INTO job_vacancies (title) VALUES ( 'Junior Frontend Dev')
9085 Credit Marketing Officer - Kupang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Kupang')
9086 Project Scheduler
INSERT INTO job_vacancies (title) VALUES ( 'Project Scheduler')
9087 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
9088 Programmer (Prg-Itd)
INSERT INTO job_vacancies (title) VALUES ( 'Programmer (Prg-Itd)')
9089 Konsultan Medis (Dokter) Penempatan Pacitan
INSERT INTO job_vacancies (title) VALUES ( 'Konsultan Medis (Dokter) Penempatan Pacitan')
9090 Technical Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Engineer')
9091 Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor')
9092 Business Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Manager')
9093 Field Collection (Js - Fc) Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Pekanbaru')
9094 Mandarin Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Preschool Teacher')
9095 Senior Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing')
9096 Medical Representatif (Medrep)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representatif (Medrep)')
9097 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
9098 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
9099 Credit Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer')
9100 Civil Engineer (Eng)
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer (Eng)')
9101 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
9102 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
9103 Showroom Management Dps
INSERT INTO job_vacancies (title) VALUES ( 'Showroom Management Dps')
9104 Site Operation Specialist For Matahari.Com
INSERT INTO job_vacancies (title) VALUES ( 'Site Operation Specialist For Matahari.Com')
9105 Estate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager')
9106 Telemarketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Executive')
9107 Teknisi Alat Kesehatan
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Alat Kesehatan')
9108 Warehouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Manager')
9109 People & Od Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'People & Od Supervisor')
9110 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
9111 Supervisor Kualifikasi Mesin Dan Alat
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Kualifikasi Mesin Dan Alat')
9112 Head Of Sales Modern Trade Independent
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Sales Modern Trade Independent')
9113 Merchandiser (Daily)
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser (Daily)')
9114 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
9115 Field Collection (Js - Fc) Kuningan, Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Kuningan, Jawa Barat')
9116 National Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'National Sales Manager')
9117 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
9118 Outbound Call Center
INSERT INTO job_vacancies (title) VALUES ( 'Outbound Call Center')
9119 Graphic Designer Intern - Grid Network
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer Intern - Grid Network')
9120 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
9121 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
9122 Staff Account Manager Corporate (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Account Manager Corporate (Surabaya)')
9123 Sales Executive (Pp Board)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Pp Board)')
9124 Sales Canvasser
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser')
9125 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
9126 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
9127 Driver Sim B1 (Pontianak Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Driver Sim B1 (Pontianak Branch)')
9128 Quality Assurance (People And Premises)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance (People And Premises)')
9129 Area Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager')
9130 Sales Executive (Junior / Senior)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Junior / Senior)')
9131 Kepala Cabang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang')
9132 Field Education Consultant (Field Sales) - Penempatan Jawa Tengah & Jawa Barat
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Field Sales) - Penempatan Jawa Tengah & Jawa Barat')
9133 Credit Marketing Officer - Kedoya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Kedoya')
9134 Senior It Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Engineer')
9135 Senior Qs (Quantity Surveyor)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Qs (Quantity Surveyor)')
9136 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
9137 Branch Manager (Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Jambi)')
9138 Project Financial Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Project Financial Specialist')
9139 Field Collection (Js - Fc) Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cirebon')
9140 Sales Manager (Canon Product)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Canon Product)')
9141 Call Center Agent
INSERT INTO job_vacancies (title) VALUES ( 'Call Center Agent')
9142 Kolektor Mobil - Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Lampung')
9143 Lan Technician (Site Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Lan Technician (Site Balikpapan)')
9144 Dokter
INSERT INTO job_vacancies (title) VALUES ( 'Dokter')
9145 Freelance Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Account Executive')
9146 Executive Director
INSERT INTO job_vacancies (title) VALUES ( 'Executive Director')
9147 Staf Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Akunting')
9148 Area Sales Supervisor (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Jabodetabek)')
9149 Senior Qa Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Qa Engineer')
9150 System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'System Analyst')
9151 Junior  Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Junior  Sales Executive')
9152 Hr Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Hr Superintendent')
9153 Procurement Manager
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Manager')
9154 Field Collection - Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bengkulu')
9155 Engineering Assistant Trainee (Eat)
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Assistant Trainee (Eat)')
9156 Field Sales Supervisor (Merauke)
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Supervisor (Merauke)')
9157 Plant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Plant Manager')
9158 Marketing Event
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Event')
9159 Corporate Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Development Specialist')
9160 Senior Deployment Engineer (Microsoft Solution)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Deployment Engineer (Microsoft Solution)')
9161 Area Manager
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager')
9162 Supervisor Interior
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Interior')
9163 Business Development Senior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Senior Manager')
9164 Marketing Staff (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff (Mandarin Speaking)')
9165 General Affair Lead
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Lead')
9166 (Jv2110009) Account Officer - Sales - Medan
INSERT INTO job_vacancies (title) VALUES ( '(Jv2110009) Account Officer - Sales - Medan')
9167 It Pre Sales
INSERT INTO job_vacancies (title) VALUES ( 'It Pre Sales')
9168 Web Developer (Fulltime Onsite Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer (Fulltime Onsite Jakarta)')
9169 Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor')
9170 Analytical Development Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Analytical Development Analyst')
9171 Merchandising Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Assistant Manager')
9172 Field Sales Coordinator - South Sulawesi
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Coordinator - South Sulawesi')
9173 Supervisor Marketing For Trucking & Bus Leasing -Jakarta-
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing For Trucking & Bus Leasing -Jakarta-')
9174 Leader Elektrikal Dan Mekanikal
INSERT INTO job_vacancies (title) VALUES ( 'Leader Elektrikal Dan Mekanikal')
9175 Guru Smk Multimedia
INSERT INTO job_vacancies (title) VALUES ( 'Guru Smk Multimedia')
9176 Chief Electrician
INSERT INTO job_vacancies (title) VALUES ( 'Chief Electrician')
9177 Project Manager / Deputy Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager / Deputy Project Manager')
9178 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
9179 Trainer Operations Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Operations Supervisor')
9180 Supervisor Marketing (Indoor)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing (Indoor)')
9181 Digital Marketing & Branding Specialist Spv
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Branding Specialist Spv')
9182 Manajer Laboratorium Dan Studio
INSERT INTO job_vacancies (title) VALUES ( 'Manajer Laboratorium Dan Studio')
9183 Customer Relation Executive (Based In Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation Executive (Based In Jakarta)')
9184 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
9185 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
9186 Aesthetic Doctor - ( Bali )
INSERT INTO job_vacancies (title) VALUES ( 'Aesthetic Doctor - ( Bali )')
9187 Sales Online Market Place
INSERT INTO job_vacancies (title) VALUES ( 'Sales Online Market Place')
9188 Customer Service Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Staff')

9189 Credit Marketing Officer - Palu
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Palu')
9190 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
9191 Credit Marketing Officer Mobil - Bengkulu
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Bengkulu')
9192 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9193 Digital Marketing Strategist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Strategist')
9194 Asisten Redaktur (Tvonenews.Com)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Redaktur (Tvonenews.Com)')
9195 Processing Plant Supervisor (Rumah Potong Hewan)
INSERT INTO job_vacancies (title) VALUES ( 'Processing Plant Supervisor (Rumah Potong Hewan)')
9196 Store Manager Retail Fashion
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Retail Fashion')
9197 Spg & Spb Sidoarjo - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Spg & Spb Sidoarjo - Malang')
9198 Software Engineer - Kg Media
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer - Kg Media')
9199 Beautician (Summarecon Mall Serpong)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician (Summarecon Mall Serpong)')
9200 Senior Geotech Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Geotech Engineer')
9201 Marketing Umc Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Umc Staff')
9202 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
9203 Finance Treasury Unit Head
INSERT INTO job_vacancies (title) VALUES ( 'Finance Treasury Unit Head')
9204 Driver Mobil Box (Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Driver Mobil Box (Kalimantan Barat)')
9205 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
9206 Ppic (Cileungsi)
INSERT INTO job_vacancies (title) VALUES ( 'Ppic (Cileungsi)')
9207 Math Ibdp Teacher (Secondary School)
INSERT INTO job_vacancies (title) VALUES ( 'Math Ibdp Teacher (Secondary School)')
9208 Sales Manager Logistic Supply Chain (Jabodetabek Area)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Logistic Supply Chain (Jabodetabek Area)')
9209 Repair Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Repair Support Officer')
9210 Hrbp - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp - Bandung')
9211 Revenue Manager
INSERT INTO job_vacancies (title) VALUES ( 'Revenue Manager')
9212 Sales Consultant - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant - Jakarta')
9213 Field Collection - Barabai
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Barabai')
9214 Pr & Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Pr & Social Media Specialist')
9215 Branch Manager (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Palembang)')
9216 It Security Tester
INSERT INTO job_vacancies (title) VALUES ( 'It Security Tester')
9217 Studio Beautician
INSERT INTO job_vacancies (title) VALUES ( 'Studio Beautician')
9218 Network Security Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Security Engineer')
9219 Welder Operator (Mandarin Speaker Preferred)
INSERT INTO job_vacancies (title) VALUES ( 'Welder Operator (Mandarin Speaker Preferred)')
9220 Kitchen Leader Outlet Boga Kitchen Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Kitchen Leader Outlet Boga Kitchen Cirebon')
9221 Dokter Klinik Kecantikan Gloskin Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Klinik Kecantikan Gloskin Jakarta')
9222 Beauty Therapist
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Therapist')
9223 Drafter Furniture – Product Development Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Furniture – Product Development Engineering')
9224 Jetty Supervisor (Site Based)
INSERT INTO job_vacancies (title) VALUES ( 'Jetty Supervisor (Site Based)')
9225 Seo Executive
INSERT INTO job_vacancies (title) VALUES ( 'Seo Executive')
9226 Sales & Marketing Pv Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Pv Manager')
9227 Sales Merchant Hunter (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchant Hunter (Semarang)')
9228 Finance, Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance, Accounting & Tax Manager')
9229 Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support')
9230 Chief Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Chief Finance & Accounting')
9231 Office Manager / Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Office Manager / Hr Manager')
9232 Credit Marketing Officer - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Palembang')
9233 Apoteker Penanggung Jawab (Cilegon)
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab (Cilegon)')
9234 Staff Legal (Perijinan)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Legal (Perijinan)')
9235 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
9236 React Native Developer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Developer')
9237 Sales And Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing Staff')
9238 Data Analytics Manager
INSERT INTO job_vacancies (title) VALUES ( 'Data Analytics Manager')
9239 Credit Marketing Officer (Cmo) Sobat Dan Carfin Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Sobat Dan Carfin Kediri')
9240 Penerjemah Bahasa Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Penerjemah Bahasa Mandarin')
9241 Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi')
9242 It Programmer Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Officer')
9243 Mekanik Mesin Truck
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Mesin Truck')
9244 Field Education Consultant (Field Sales) - Penempatan Jabodetabek, Cikarang, Bandung Raya
INSERT INTO job_vacancies (title) VALUES ( 'Field Education Consultant (Field Sales) - Penempatan Jabodetabek, Cikarang, Bandung Raya')
9245 Bussines Excutive Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Bussines Excutive Jakarta')
9246 Sales Officer Mobile Channeling
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer Mobile Channeling')
9247 Kepala Cabang - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang - Padang')
9248 Field Collection (Js - Fc) Banjar
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Banjar')
9249 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
9250 Internship Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Internship Graphic Designer')
9251 Teknisi Engine Dan Ac (Bengkel Mobil)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Engine Dan Ac (Bengkel Mobil)')
9252 Digital Media Section Head (Pt. Cakra Radha Mustika)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Media Section Head (Pt. Cakra Radha Mustika)')
9253 Medical Representative Padang
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Padang')
9254 Design Dies
INSERT INTO job_vacancies (title) VALUES ( 'Design Dies')
9255 Assistant Store Manager Coach Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Manager Coach Makassar')
9256 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
9257 Hr - Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr - Ga Manager')
9258 Drafter Ict / Elektronika
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Ict / Elektronika')
9259 Admin (Semarang & Sukoharjo)
INSERT INTO job_vacancies (title) VALUES ( 'Admin (Semarang & Sukoharjo)')
9260 National Bpkb Central Department Head
INSERT INTO job_vacancies (title) VALUES ( 'National Bpkb Central Department Head')
9261 Credit Marketing Officer - Mataram
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Mataram')
9262 Store Manager Coach Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager Coach Makassar')
9263 Field Collection (Js - Fc) Subang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Subang')
9264 Supervisor Bangunan (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Bangunan (Jakarta)')
9265 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
9266 Project Area Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Project Area Sales Representative')
9267 Field Collection - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Makassar')
9268 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
9269 Capacity Design Planning Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Capacity Design Planning Engineer')
9270 Project Manager (Konstruksi Taman Hiburan)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Konstruksi Taman Hiburan)')
9271 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
9272 Digital Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Manager')
9273 Senior Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Back End Developer')
9274 Dosen Prodi Hospitality Dan Pariwisata (Ubm Kampus Ancol)
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Prodi Hospitality Dan Pariwisata (Ubm Kampus Ancol)')
9275 Desk Collection Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Team Leader')
9276 Apoteker (Penempatan Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker (Penempatan Samarinda)')
9277 Marketing Property (Tegal)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property (Tegal)')
9278 Account Receivable Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Officer')
9279 Promotor Elektronik (Area Sumatera Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Promotor Elektronik (Area Sumatera Utara)')
9280 Engineer Cocoa Technology
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Cocoa Technology')
9281 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
9282 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
9283 3D Designer (Architect  /  Interior Background)
INSERT INTO job_vacancies (title) VALUES ( '3D Designer (Architect  /  Interior Background)')
9284 Purchasing ( Mandarin Speaker )
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing ( Mandarin Speaker )')
9285 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
9286 Dokter Gigi
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Gigi')
9287 Social Media Production Supervisor (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Production Supervisor (Mandarin Speaking)')
9288 Tax Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tax Specialist')
9289 Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager')
9290 Social Media Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Content Creator')
9291 Senior Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Fullstack Developer')
9292 Sales Horeca
INSERT INTO job_vacancies (title) VALUES ( 'Sales Horeca')
9293 Field Collection - Gorontalo
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Gorontalo')
9294 Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support')
9295 Cloud Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Business Development')
9296 Sales Engineering Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineering Executive')
9297 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
9298 Relationship Manager (Syariah)
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager (Syariah)')
9299 Purchasing Staff (Mandarin Speaker) 3 Orang +Hr(Mandarin Speaker) 1 Orang
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff (Mandarin Speaker) 3 Orang +Hr(Mandarin Speaker) 1 Orang')
9300 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
9301 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
9302 Sales Engineer Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Surabaya')
9303 Branch Manager- Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager- Samarinda')
9304 Customer Service Export Import (Forwarding)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Export Import (Forwarding)')
9305 Ecep Teacher For Bekasi Unit
INSERT INTO job_vacancies (title) VALUES ( 'Ecep Teacher For Bekasi Unit')
9306 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
9307 Chief Internal Audit & Jsox
INSERT INTO job_vacancies (title) VALUES ( 'Chief Internal Audit & Jsox')
9308 It Presales (Presales Technical Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'It Presales (Presales Technical Consultant)')
9309 Staff Admin Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Jakarta')
9310 Bancassurance Officer Area Jawa Tengah (Semarang (Unggaran) & Purwodadi)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Officer Area Jawa Tengah (Semarang (Unggaran) & Purwodadi)')
9311 Engineering Manager
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Manager')
9312 Hr Admin Internship
INSERT INTO job_vacancies (title) VALUES ( 'Hr Admin Internship')
9313 Admin Legal (Kearsipan)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Legal (Kearsipan)')
9314 Cimb Preferred Development Program - Solo & Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Cimb Preferred Development Program - Solo & Kudus')
9315 Field Collection - Kupang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Kupang')
9316 Frontliner Cs Dan Teller
INSERT INTO job_vacancies (title) VALUES ( 'Frontliner Cs Dan Teller')
9317 Sales Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Mandarin')
9318 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
9319 Sales Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Mandarin Speaker)')
9320 Software Tester Or Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Software Tester Or Quality Assurance')
9321 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
9322 Business Development Executives
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executives')
9323 Field Collection - Mataram
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Mataram')
9324 Staff Administrasi - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi - Yogyakarta')
9325 Content Acquisitions Lead
INSERT INTO job_vacancies (title) VALUES ( 'Content Acquisitions Lead')
9326 Hrbp Yogyakarta - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Yogyakarta - Solo')
9327 Reporter Otomotif - Kompas.Com Solo
INSERT INTO job_vacancies (title) VALUES ( 'Reporter Otomotif - Kompas.Com Solo')
9328 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
9329 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
9330 Chef De Partie (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie (Semarang)')
9331 Marketing Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Development Specialist')
9332 Hr Operation - Recruitment (North Jakarta Based)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Operation - Recruitment (North Jakarta Based)')
9333 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
9334 Programmer  /  Technical Consultant Sap Business One ( Sap B1 )
INSERT INTO job_vacancies (title) VALUES ( 'Programmer  /  Technical Consultant Sap Business One ( Sap B1 )')
9335 Visual Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Visual Merchandiser')
9336 Corporate Secretary Staff
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Secretary Staff')
9337 Merchandiser Personal Care, Health And Beauty
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Personal Care, Health And Beauty')
9338 Outlet Manager Penempatan Pekalongan
INSERT INTO job_vacancies (title) VALUES ( 'Outlet Manager Penempatan Pekalongan')
9339 Team Leader Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Customer Service')
9340 Radiografer (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Radiografer (Jakarta)')
9341 Branch Office Head - Corporate (Heavy Equipment) Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Branch Office Head - Corporate (Heavy Equipment) Surabaya')
9342 Workshop Head
INSERT INTO job_vacancies (title) VALUES ( 'Workshop Head')
9343 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
9344 Technical Support
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support')
9345 Kitchen Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Kitchen Supervisor')
9346 Supervisor Housekeeping
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Housekeeping')
9347 Qa Dan Qc
INSERT INTO job_vacancies (title) VALUES ( 'Qa Dan Qc')
9348 Material Planning Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Material Planning Analyst')

9349 Business Development Software
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Software')
9350 Kolektor Mobil - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Medan')
9351 Branding Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branding Manager')
9352 Sales Representative (Area  Manado & Ambon)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Area  Manado & Ambon)')
9353 Ielts Operations Manager - Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Ielts Operations Manager - Indonesia')
9354 Automotive Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Automotive Business Development Manager')
9355 It Security Operation
INSERT INTO job_vacancies (title) VALUES ( 'It Security Operation')
9356 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
9357 Golang Developer
INSERT INTO job_vacancies (title) VALUES ( 'Golang Developer')
9358 Estate Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Management Manager')
9359 Junior / Mid Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior / Mid Fullstack Developer')
9360 Application Developer (.Net)
INSERT INTO job_vacancies (title) VALUES ( 'Application Developer (.Net)')
9361 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
9362 Field Collection - Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Banjarmasin')
9363 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
9364 Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris')
9365 Wwtp (Waste Water Treatment Plant) Staff
INSERT INTO job_vacancies (title) VALUES ( 'Wwtp (Waste Water Treatment Plant) Staff')
9366 Sales Development
INSERT INTO job_vacancies (title) VALUES ( 'Sales Development')
9367 Supervisor Marketing Farmasi (Madiun & Jember)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Farmasi (Madiun & Jember)')
9368 Guru Sd / Smp / Sma
INSERT INTO job_vacancies (title) VALUES ( 'Guru Sd / Smp / Sma')
9369 Head Of Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing')
9370 Technical Support (Security System, Safety System & It Solution)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support (Security System, Safety System & It Solution)')
9371 Driver Direksi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Direksi')
9372 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9373 It Swift Operation
INSERT INTO job_vacancies (title) VALUES ( 'It Swift Operation')
9374 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
9375 Staff Roastery
INSERT INTO job_vacancies (title) VALUES ( 'Staff Roastery')
9376 Field Collection - Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Pontianak')
9377 (Jv2203001) Account Officer - Direct Sales Jakarta
INSERT INTO job_vacancies (title) VALUES ( '(Jv2203001) Account Officer - Direct Sales Jakarta')
9378 Digital Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Supervisor')
9379 Brand Activation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Brand Activation Staff')
9380 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
9381 Hris Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hris Development Specialist')
9382 Marketing Communication Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Executive')
9383 Junior Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Junior Auditor')
9384 Central Data Management
INSERT INTO job_vacancies (title) VALUES ( 'Central Data Management')
9385 Online Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Online Sales Marketing')
9386 Credi Marketing Officer - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Credi Marketing Officer - Yogyakarta')
9387 Financial Controller (Coal Mining)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller (Coal Mining)')
9388 Admin Divisi Market
INSERT INTO job_vacancies (title) VALUES ( 'Admin Divisi Market')
9389 Field Collection - Palu
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Palu')
9390 Digital Marketing  /  Social Media Officer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing  /  Social Media Officer')
9391 Senior Staff Legal
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff Legal')
9392 Sales Canvasser
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser')
9393 Chief Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Chief Accounting')
9394 Programmer /  Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer /  Web Developer')
9395 Mobile Apps Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Apps Developer')
9396 Financial Controller
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller')
9397 Ict Security Engineer (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Ict Security Engineer (Jakarta)')
9398 Project Manager - It / Perbankan
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager - It / Perbankan')
9399 Senior Account Executive Digital
INSERT INTO job_vacancies (title) VALUES ( 'Senior Account Executive Digital')
9400 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
9401 Senior Service Admin & Eksekutif Account
INSERT INTO job_vacancies (title) VALUES ( 'Senior Service Admin & Eksekutif Account')
9402 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
9403 Reporter - Tribun Papua Barat (Manokwari)
INSERT INTO job_vacancies (title) VALUES ( 'Reporter - Tribun Papua Barat (Manokwari)')
9404 Account Officer (Jakarta, Tangerang, Semarang, Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer (Jakarta, Tangerang, Semarang, Yogyakarta)')
9405 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
9406 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9407 Field Collection - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Tangerang')
9408 Penilai Properti
INSERT INTO job_vacancies (title) VALUES ( 'Penilai Properti')
9409 Project Control Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Control Manager')
9410 Purchasing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer')
9411 Radiology Services Section Head (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Radiology Services Section Head (Yogyakarta)')
9412 Telemarketing (E-Commerce)
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing (E-Commerce)')
9413 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
9414 Marketing Executive (Direct Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive (Direct Sales)')
9415 Area Sales Promotion Supervisor (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Supervisor (Balikpapan)')
9416 Pastry Chef
INSERT INTO job_vacancies (title) VALUES ( 'Pastry Chef')
9417 Advocate
INSERT INTO job_vacancies (title) VALUES ( 'Advocate')
9418 Teknisi Projek
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Projek')
9419 Bancassurance Consultant (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Consultant (Jakarta)')
9420 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
9421 Credit Marketing Officer - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Makassar')
9422 Vessel Operation And Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Operation And Logistic Staff')
9423 It Teacher
INSERT INTO job_vacancies (title) VALUES ( 'It Teacher')
9424 Field Collection - Sampit
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Sampit')
9425 Merchandising Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Merchandising Development Manager')
9426 Staf Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Akunting')
9427 Rm Commercial & Sme - Middle Office
INSERT INTO job_vacancies (title) VALUES ( 'Rm Commercial & Sme - Middle Office')
9428 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
9429 Advisory Associate
INSERT INTO job_vacancies (title) VALUES ( 'Advisory Associate')
9430 Branch Buying
INSERT INTO job_vacancies (title) VALUES ( 'Branch Buying')
9431 Biogas Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Biogas Supervisor')
9432 Editor Photography
INSERT INTO job_vacancies (title) VALUES ( 'Editor Photography')
9433 Furniture Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Furniture Drafter')
9434 Field Collection - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Batam')
9435 Technician
INSERT INTO job_vacancies (title) VALUES ( 'Technician')
9436 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
9437 Motion Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphic')
9438 Sales Marketing Area Banten
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Area Banten')
9439 Graphic Designer & Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer & Digital Marketing')
9440 Supervisor Qms (Penempatan Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Qms (Penempatan Jakarta)')
9441 Rider Team Lead Shopee Express - Hub Umbulharjo (Kota Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Umbulharjo (Kota Yogyakarta)')
9442 Bartender
INSERT INTO job_vacancies (title) VALUES ( 'Bartender')
9443 It Pharma Manufacturing Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Pharma Manufacturing Developer')
9444 Igcse / A / As Level Chemistry Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Igcse / A / As Level Chemistry Teacher')
9445 Master Data Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Master Data Management Manager')
9446 Kasir Toko
INSERT INTO job_vacancies (title) VALUES ( 'Kasir Toko')
9447 Assistant Manager Finance Accounting (Subang)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Finance Accounting (Subang)')
9448 Ppic & Warehouse Asst. Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Ppic & Warehouse Asst. Manager (Mandarin Speaker)')
9449 Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Specialist')
9450 Field Collection - Kendari
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Kendari')
9451 Area Sales Lead (City Lead) - Bali
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Lead (City Lead) - Bali')
9452 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9453 Sales Taking Order (Csa, Divisi P&G)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Taking Order (Csa, Divisi P&G)')
9454 Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Account Officer')
9455 Purchasing Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Superintendent')
9456 Wfh - Junior Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Wfh - Junior Programmer')
9457 Sales Produk
INSERT INTO job_vacancies (title) VALUES ( 'Sales Produk')
9458 Account Payable / Receivable Supervisor (Div. Car Carrier Logistics)
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable / Receivable Supervisor (Div. Car Carrier Logistics)')
9459 Teknisi Fire Extinguisher (Teknisi Apar)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Fire Extinguisher (Teknisi Apar)')
9460 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
9461 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
9462 Product Manager (Ethical)
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager (Ethical)')
9463 Legal Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Legal Secretary')
9464 Supply & Vendor Management Lead (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Supply & Vendor Management Lead (Surabaya)')
9465 Physics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Physics Teacher')
9466 Content Creator & Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator & Video Editor')
9467 It Developer ( .Net)
INSERT INTO job_vacancies (title) VALUES ( 'It Developer ( .Net)')
9468 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
9469 Accounting & Tax Asistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Asistant Manager')
9470 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
9471 It Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Developer')
9472 Admin Kepabeanan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Kepabeanan')
9473 Ppic Manager
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Manager')
9474 Sales Engineer Oil & Gas
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Oil & Gas')
9475 Senior Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Hr Generalist')
9476 Field Collection - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Palangkaraya')
9477 Online /  Digital /  Internet Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Online /  Digital /  Internet Marketing')
9478 Sales Executive (B To B)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (B To B)')
9479 Store Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor')
9480 It Business Analyst (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst (Jakarta)')
9481 Sales Executive - Gadget Accessories (Makassar / Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Gadget Accessories (Makassar / Kendari)')
9482 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
9483 Learning & Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Learning & Development Officer')
9484 Field Collection - Bontang / Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bontang / Balikpapan')
9485 Field Collection (Js - Fc) Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Semarang')
9486 Sales Atpm (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Atpm (Jakarta)')
9487 Eye Care Professional (Ecp)
INSERT INTO job_vacancies (title) VALUES ( 'Eye Care Professional (Ecp)')
9488 Assistant Manager Quality Control & Continuous Improvement
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Quality Control & Continuous Improvement')
9489 Field Collection - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Denpasar')
9490 Online /  Digital /  Internet Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Online /  Digital /  Internet Marketing')
9491 Continuous Improvement & She Manager (Penempatan : Mega Kuningan)
INSERT INTO job_vacancies (title) VALUES ( 'Continuous Improvement & She Manager (Penempatan : Mega Kuningan)')
9492 Sales Executive (B To B)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (B To B)')
9493 It Business Analyst (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst (Jakarta)')
9494 Sales Canvasser – Jogonalan Klaten
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser – Jogonalan Klaten')
9495 Sales Engineer Oil & Gas
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Oil & Gas')
9496 Senior Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Hr Generalist')
9497 Field Collection - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Palangkaraya')
9498 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
9499 Manager Kebun Aquaponik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Kebun Aquaponik')
9500 Field Collection - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Yogyakarta')
9501 Preschool Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Teacher')
9502 External Relation Section Head
INSERT INTO job_vacancies (title) VALUES ( 'External Relation Section Head')
9503 Senior Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting')
9504 Field Collection (Js - Fc) Pekalongan
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Pekalongan')
9505 R&D Lead
INSERT INTO job_vacancies (title) VALUES ( 'R&D Lead')
9506 Headmaster (Primary And Kindergarten)
INSERT INTO job_vacancies (title) VALUES ( 'Headmaster (Primary And Kindergarten)')
9507 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
9508 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
9509 Credit Marketing Officer - Barabai
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Barabai')
9510 Protein Chemistry Officer
INSERT INTO job_vacancies (title) VALUES ( 'Protein Chemistry Officer')
9511 Associate  /  Lawyer
INSERT INTO job_vacancies (title) VALUES ( 'Associate  /  Lawyer')
9512 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
9513 Staf Analis Riset Perencana Marketing Dan Perencana Business Plan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Analis Riset Perencana Marketing Dan Perencana Business Plan')

9514 Pio Warehouse Operator
INSERT INTO job_vacancies (title) VALUES ( 'Pio Warehouse Operator')
9515 Rail Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Rail Consultant')
9516 Refraksionis
INSERT INTO job_vacancies (title) VALUES ( 'Refraksionis')
9517 Bbq Chef (Charsiu, Samcan, Bebek Peking)
INSERT INTO job_vacancies (title) VALUES ( 'Bbq Chef (Charsiu, Samcan, Bebek Peking)')
9518 Field Collection - Kendari / Konawe
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Kendari / Konawe')
9519 Strategic Partnership Manager
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Partnership Manager')
9520 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
9521 Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Product Development')
9522 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
9523 Credit Analyst Sme
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst Sme')
9524 Senior Auditor (Penempatan Jakarta Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Auditor (Penempatan Jakarta Selatan)')
9525 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
9526 Leasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Manager')
9527 It Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Frontend Developer')
9528 Recruitment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor')
9529 Manager Peternakan Ikan & Udang Tawar Aquaponik
INSERT INTO job_vacancies (title) VALUES ( 'Manager Peternakan Ikan & Udang Tawar Aquaponik')
9530 Business Executive (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Business Executive (Surabaya)')
9531 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
9532 Talent Acquisition (Recruiter)
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition (Recruiter)')
9533 Web And Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web And Android Developer')
9534 Hse Facility Inspector Province - Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Facility Inspector Province - Shopee Express (Sunter)')
9535 .Net Developers
INSERT INTO job_vacancies (title) VALUES ( '.Net Developers')
9536 Store Operations E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Store Operations E-Commerce')
9537 Revenue Manager
INSERT INTO job_vacancies (title) VALUES ( 'Revenue Manager')
9538 Senior Programmer - Application Development
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmer - Application Development')
9539 Area Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor')
9540 Sales Promotion Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion Coordinator')
9541 Accounting Supervisor (Cgl)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor (Cgl)')
9542 Leasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Manager')
9543 It Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Frontend Developer')
9544 Internal Audit & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit & Tax')
9545 It Governance & Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'It Governance & Quality Assurance')
9546 Community Event Manager
INSERT INTO job_vacancies (title) VALUES ( 'Community Event Manager')
9547 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
9548 Branch Support & Compliance Head
INSERT INTO job_vacancies (title) VALUES ( 'Branch Support & Compliance Head')
9549 Fullstack Programmer (Web Developer)
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Programmer (Web Developer)')
9550 It Architect Security
INSERT INTO job_vacancies (title) VALUES ( 'It Architect Security')
9551 Field Collection - Kedoya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Kedoya')
9552 Sales Canvasser (Area Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser (Area Medan)')
9553 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
9554 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
9555 Manager Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Manager Finance & Accounting')
9556 Manager Spa
INSERT INTO job_vacancies (title) VALUES ( 'Manager Spa')
9557 Translator Mandarin Site Mining
INSERT INTO job_vacancies (title) VALUES ( 'Translator Mandarin Site Mining')
9558 Marketing Sales
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales')
9559 Supervisor + Drafter Interior Contractor
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor + Drafter Interior Contractor')
9560 Sales Supervisor (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Solo)')
9561 Credit Marketing Officer Mobil - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Batam')
9562 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
9563 Wakil Ktt (Kepala Teknik Tambang)
INSERT INTO job_vacancies (title) VALUES ( 'Wakil Ktt (Kepala Teknik Tambang)')
9564 Brand Promotor
INSERT INTO job_vacancies (title) VALUES ( 'Brand Promotor')
9565 Full Stack Javascript Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Javascript Developer')
9566 Staff It
INSERT INTO job_vacancies (title) VALUES ( 'Staff It')
9567 Penyelia Laboraorium Lingkungan
INSERT INTO job_vacancies (title) VALUES ( 'Penyelia Laboraorium Lingkungan')
9568 Legal & Compliances Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal & Compliances Officer')
9569 Head Of Business Analytic
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Business Analytic')
9570 Graphics Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphics Design')
9571 Assessor
INSERT INTO job_vacancies (title) VALUES ( 'Assessor')
9572 Education Consultant Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Education Consultant Assistant')
9573 Marketing Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Assistant Manager')
9574 Trade Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Trade Marketing Specialist')
9575 Qc Starting Material Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qc Starting Material Supervisor')
9576 Telemarketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Specialist')
9577 Perawat Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Bandung')
9578 Bim Operator
INSERT INTO job_vacancies (title) VALUES ( 'Bim Operator')
9579 Kepala Teknik Mesin Extrusion Untuk Aluminium
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknik Mesin Extrusion Untuk Aluminium')
9580 Credit Marketing Officer - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Denpasar')
9581 Part-Time Mandarin Language Teacher For Kindergarten
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Mandarin Language Teacher For Kindergarten')
9582 Quality Assurance - Bsd (Qabsd-Bsd-Pss11)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance - Bsd (Qabsd-Bsd-Pss11)')
9583 Marketing Supervisor Elektronik (Bro) - Pare-Pare
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor Elektronik (Bro) - Pare-Pare')
9584 Supervisor Outlet Boga Kitchen Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Outlet Boga Kitchen Cirebon')
9585 Teknisi Smartphone (Seluruh Pulau Jawa)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Smartphone (Seluruh Pulau Jawa)')
9586 Technical Architecture
INSERT INTO job_vacancies (title) VALUES ( 'Technical Architecture')
9587 Tenaga Penjualan  /  Sales
INSERT INTO job_vacancies (title) VALUES ( 'Tenaga Penjualan  /  Sales')
9588 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
9589 Field Collection - Dewi Sartika
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Dewi Sartika')
9590 Sedayu One Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sedayu One Development Staff')
9591 Digital Systems Officer
INSERT INTO job_vacancies (title) VALUES ( 'Digital Systems Officer')
9592 Staff Sales Domisili Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Staff Sales Domisili Surabaya')
9593 Driver Pribadi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Pribadi')
9594 Credit Marketing Officer Mobil - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Jambi')
9595 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9596 Ecommerce (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Ecommerce (Mandarin Speaker)')
9597 Staff It Programmer Untuk Mobile Apps Developer
INSERT INTO job_vacancies (title) VALUES ( 'Staff It Programmer Untuk Mobile Apps Developer')
9598 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
9599 Budget Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Budget Control Staff')
9600 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
9601 Back Office Datacomm
INSERT INTO job_vacancies (title) VALUES ( 'Back Office Datacomm')
9602 Marketing Associate
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Associate')
9603 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
9604 Flexi Financial Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Flexi Financial Consultant')
9605 Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Teachers')
9606 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
9607 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
9608 Personnel Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'Personnel Support Staff')
9609 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
9610 Sharepoint Developers
INSERT INTO job_vacancies (title) VALUES ( 'Sharepoint Developers')
9611 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
9612 Marketing Co Branding
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Co Branding')
9613 Baker
INSERT INTO job_vacancies (title) VALUES ( 'Baker')
9614 Clinical Trial Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Clinical Trial Assistant')
9615 Hrd Supervisor Mandarin Speaker (Pik, Jakarta Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Supervisor Mandarin Speaker (Pik, Jakarta Utara)')
9616 Senior Tax Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Accountant')
9617 Funding Officer
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer')
9618 Center Manager
INSERT INTO job_vacancies (title) VALUES ( 'Center Manager')
9619 Sales & Venture Planner
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Venture Planner')
9620 Area Sales Promotion Manager (Covering Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Manager (Covering Jawa Barat)')
9621 Guru Matematika Sd
INSERT INTO job_vacancies (title) VALUES ( 'Guru Matematika Sd')
9622 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
9623 Sous Chef Healthy Catering Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sous Chef Healthy Catering Jakarta')
9624 Senior Software Engineer - Android Mobile
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer - Android Mobile')
9625 (Jv2205002) Account Officer - Sales - Denpasar
INSERT INTO job_vacancies (title) VALUES ( '(Jv2205002) Account Officer - Sales - Denpasar')
9626 Sales Partner - Mps
INSERT INTO job_vacancies (title) VALUES ( 'Sales Partner - Mps')
9627 Financial Planning & Analyst Executive
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning & Analyst Executive')
9628 Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Manager')
9629 Pengusaha Ternama Di Kota Bandung Membutuhkan Seorang Ajudan  /  Staff Pribadi
INSERT INTO job_vacancies (title) VALUES ( 'Pengusaha Ternama Di Kota Bandung Membutuhkan Seorang Ajudan  /  Staff Pribadi')
9630 Store Supervisor - Duri Bengkalis
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Duri Bengkalis')
9631 Driver Ekspedisi
INSERT INTO job_vacancies (title) VALUES ( 'Driver Ekspedisi')
9632 External Relations (Ast.Mgr / Mgr)
INSERT INTO job_vacancies (title) VALUES ( 'External Relations (Ast.Mgr / Mgr)')
9633 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
9634 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
9635 Mechanical Design Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Design Engineer')
9636 Guru Matematika Sd
INSERT INTO job_vacancies (title) VALUES ( 'Guru Matematika Sd')
9637 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
9638 Sous Chef Healthy Catering Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sous Chef Healthy Catering Jakarta')
9639 Area Sales Promotion Manager (Covering Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Manager (Covering Jawa Barat)')
9640 Senior Software Engineer - Android Mobile
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer - Android Mobile')
9641 Staff Administrasi (Depok)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi (Depok)')
9642 Senior It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Business Analyst')
9643 Teknisi Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Maintenance')
9644 Factory Manager
INSERT INTO job_vacancies (title) VALUES ( 'Factory Manager')
9645 Sales Canvasser (Area Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser (Area Bandung)')
9646 Recovery Coordinator (Area Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Coordinator (Area Sulawesi)')
9647 Sap Hana Fico Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Hana Fico Consultant')

9648 Field Collection (Js - Fc) Garut
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Garut')
9649 Hse Fleet Inspector Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Fleet Inspector Shopee Express (Sunter)')
9650 Guru Matematika & Kimia Sma
INSERT INTO job_vacancies (title) VALUES ( 'Guru Matematika & Kimia Sma')
9651 Marketing Oprasional
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Oprasional')
9652 Mine Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Mine Operation Supervisor')
9653 Compensation Benefit & Share Services Manager
INSERT INTO job_vacancies (title) VALUES ( 'Compensation Benefit & Share Services Manager')
9654 Supervisor Coach Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Coach Makassar')
9655 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
9656 Assistant Manager + Translator
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager + Translator')
9657 Senior Programmer .Net, C#
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmer .Net, C#')
9658 Noc Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Noc Engineer')
9659 Project Specifier Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Project Specifier Supervisor')
9660 Credit Marketing Officer - Ternate
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Ternate')
9661 (Jv2205001) Account Officer - Sales - Surabaya
INSERT INTO job_vacancies (title) VALUES ( '(Jv2205001) Account Officer - Sales - Surabaya')
9662 Branch Manager Bina Group (Sragen)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Bina Group (Sragen)')
9663 .Net Programmer
INSERT INTO job_vacancies (title) VALUES ( '.Net Programmer')
9664 Coach Fullstack Js Coding.Id
INSERT INTO job_vacancies (title) VALUES ( 'Coach Fullstack Js Coding.Id')
9665 Paramedis
INSERT INTO job_vacancies (title) VALUES ( 'Paramedis')
9666 Project Transformation Asst Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Transformation Asst Manager')
9667 Counter Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Counter Sales Support')
9668 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
9669 Call Center Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Call Center Supervisor')
9670 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9671 Field Collection - Sunter
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Sunter')
9672 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
9673 Software Test Engineer (Qa)
INSERT INTO job_vacancies (title) VALUES ( 'Software Test Engineer (Qa)')
9674 Chief Legal
INSERT INTO job_vacancies (title) VALUES ( 'Chief Legal')
9675 Content Creator Tiktok Atau Instagram
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Tiktok Atau Instagram')
9676 Fisikawan Medis (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Fisikawan Medis (Jakarta)')
9677 Credit Marketing Officer - Pare Pare
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Pare Pare')
9678 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
9679 Teknisi Forklift
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Forklift')
9680 Legal - Ga
INSERT INTO job_vacancies (title) VALUES ( 'Legal - Ga')
9681 Security Warehouse (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Denpasar)')
9682 Credit Marketing Officer Mobil - Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Lampung')
9683 Staf Marketing (Penempatan Jombang , Sidoarjo , Malang , Surabaya Timur , Suarabaya Barat , Jember)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Marketing (Penempatan Jombang , Sidoarjo , Malang , Surabaya Timur , Suarabaya Barat , Jember)')
9684 Senior Tax Consultant - Compliance Division
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Consultant - Compliance Division')
9685 Field Collection (Js - Fc) Sumedang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Sumedang')
9686 Accounting & Tax Leader
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Leader')
9687 General Affair Manager – Office Management
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Manager – Office Management')
9688 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
9689 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9690 Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Estimator')
9691 现场翻译（ Site Mandarin Translator )
INSERT INTO job_vacancies (title) VALUES ( '现场翻译（ Site Mandarin Translator )')
9692 Learning & Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Learning & Development Supervisor')
9693 Programmer Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Specialist')
9694 Teknisi  Pendigin
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi  Pendigin')
9695 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
9696 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
9697 Kolektor Mobil - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Yogyakarta')
9698 Analyst Collection
INSERT INTO job_vacancies (title) VALUES ( 'Analyst Collection')
9699 Asisten Apoteker (Aa)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker (Aa)')
9700 Sales Retail Area Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Retail Area Jakarta')
9701 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
9702 Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Produksi')
9703 Horeca Account Executive (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Horeca Account Executive (Jabodetabek)')
9704 Growth Operations Manager
INSERT INTO job_vacancies (title) VALUES ( 'Growth Operations Manager')
9705 Procurement Staff (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff (Jakarta)')
9706 Assistant Vice President (Avp) - Account Management
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Vice President (Avp) - Account Management')
9707 Supervisor Warehouse / Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Warehouse / Gudang')
9708 Kepala Cabang Area Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang Area Cirebon')
9709 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
9710 Mandarin Teacher For Primary School
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher For Primary School')
9711 Telemarketing
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing')
9712 Senior Mekanik (Workshop)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mekanik (Workshop)')
9713 General Affair Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Logistic Staff')
9714 Cutting Specialist (Furniture - Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Cutting Specialist (Furniture - Semarang)')
9715 Senior Seo And Sem Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Senior Seo And Sem Specialist')
9716 Payroll Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Payroll Assistant Manager')
9717 Sales Executive - Gadget Accessories (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Gadget Accessories (Medan)')
9718 Full Stack Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Programmer')
9719 Admin Sales Medan
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Medan')
9720 Odoo Erp Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Odoo Erp Consultant')
9721 Assistance Product Owner
INSERT INTO job_vacancies (title) VALUES ( 'Assistance Product Owner')
9722 Transport Sourcing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Transport Sourcing Manager')
9723 Freelance Mitrakerja
INSERT INTO job_vacancies (title) VALUES ( 'Freelance Mitrakerja')
9724 Staff Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Tax Accounting')
9725 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
9726 Credit Marketing Officer Mobil - Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Banjarmasin')
9727 Jogjakarta Montessori School (Social Language Teacher For Secondary Level)
INSERT INTO job_vacancies (title) VALUES ( 'Jogjakarta Montessori School (Social Language Teacher For Secondary Level)')
9728 Physical Education Teacher For High School
INSERT INTO job_vacancies (title) VALUES ( 'Physical Education Teacher For High School')
9729 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
9730 Kindergarten Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten Teacher')
9731 Medical Representative Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Pontianak')
9732 Kepala Cabang Bali
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang Bali')
9733 Finance Manager (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager (Mandarin Speaking)')
9734 It Security Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Security Staff')
9735 Sales & Marketing Manager (Jkt -Fintech / Payment Gateway / E-Payment)
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager (Jkt -Fintech / Payment Gateway / E-Payment)')
9736 Branding And Promotion Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branding And Promotion Manager')
9737 Programmer (Web Full-Stack Java)
INSERT INTO job_vacancies (title) VALUES ( 'Programmer (Web Full-Stack Java)')
9738 Host Live Streaming Social Media
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming Social Media')
9739 Mandarin Assistant Operation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Assistant Operation Staff')
9740 Marketing & Business Development (Brand Teh 63)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Business Development (Brand Teh 63)')
9741 Strategy & Development Head
INSERT INTO job_vacancies (title) VALUES ( 'Strategy & Development Head')
9742 Recovery Collector (Area Sumatera Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Sumatera Barat)')
9743 Finance Officer ( Mandarin Speaker )
INSERT INTO job_vacancies (title) VALUES ( 'Finance Officer ( Mandarin Speaker )')
9744 Credit Marketing Officer Mobil - Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Pontianak')
9745 Mandarin Teacher For Primary
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher For Primary')
9746 Business Representative
INSERT INTO job_vacancies (title) VALUES ( 'Business Representative')
9747 Finance Manager (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager (Mandarin Speaking)')
9748 It Security Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Security Staff')
9749 Sales & Marketing Manager (Jkt -Fintech / Payment Gateway / E-Payment)
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager (Jkt -Fintech / Payment Gateway / E-Payment)')
9750 Branding And Promotion Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branding And Promotion Manager')
9751 Programmer (Web Full-Stack Java)
INSERT INTO job_vacancies (title) VALUES ( 'Programmer (Web Full-Stack Java)')
9752 Personal Assistant  /  Secretary - Placement In East Kalimantan Site
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant  /  Secretary - Placement In East Kalimantan Site')
9753 Host Live Streaming Social Media
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming Social Media')
9754 Finance Business Partner Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Finance Business Partner Team Leader')
9755 Customer Relation And Loyalty Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relation And Loyalty Management Manager')
9756 Backend Programmer (Nodejs)
INSERT INTO job_vacancies (title) VALUES ( 'Backend Programmer (Nodejs)')
9757 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
9758 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
9759 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
9760 Integration Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Integration Engineer')
9761 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
9762 Buyer E Commerce Manager
INSERT INTO job_vacancies (title) VALUES ( 'Buyer E Commerce Manager')
9763 Field Collection - Pare Pare
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Pare Pare')
9764 Ir-Legal
INSERT INTO job_vacancies (title) VALUES ( 'Ir-Legal')
9765 Tax & Accounting Spv.
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Accounting Spv.')
9766 Head Of Product - Bsa
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Product - Bsa')
9767 Java Developer (Jakarta - Tanggerang - Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer (Jakarta - Tanggerang - Yogyakarta)')
9768 Senior Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Electrical Engineer')
9769 Hr Admin
INSERT INTO job_vacancies (title) VALUES ( 'Hr Admin')
9770 Finance Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Admin Staff')
9771 Credit Marketing Officer Mobil - Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Denpasar')
9772 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
9773 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
9774 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')
9775 Leader Spg
INSERT INTO job_vacancies (title) VALUES ( 'Leader Spg')
9776 Merchandise Planning Executive
INSERT INTO job_vacancies (title) VALUES ( 'Merchandise Planning Executive')
9777 Sales Air Minum / Minuman
INSERT INTO job_vacancies (title) VALUES ( 'Sales Air Minum / Minuman')
9778 Dokter On Site
INSERT INTO job_vacancies (title) VALUES ( 'Dokter On Site')
9779 Marketing Officer (Karawang)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Karawang)')
9780 Erp Sales Marketing  /  Presales Senior
INSERT INTO job_vacancies (title) VALUES ( 'Erp Sales Marketing  /  Presales Senior')
9781 Site Manager (Property Developer)
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager (Property Developer)')
9782 Cloud Technical Sme
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Technical Sme')
9783 It Quality Assurance Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Assurance Staff')
9784 Assistant Manager Finance Accounting (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Finance Accounting (Jakarta)')
9785 Purchasing  /  Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing  /  Procurement Staff')
9786 Staf Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi')
9787 Head Accuanting
INSERT INTO job_vacancies (title) VALUES ( 'Head Accuanting')
9788 Project Manager (Software)
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager (Software)')
9789 Procurement Supervisor - Indirect Material (Marketing Services)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Supervisor - Indirect Material (Marketing Services)')
9790 Team Leader Telesales
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Telesales')
9791 Sales Kimia Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Kimia Jakarta')
9792 Credit Marketing Officer Mobil - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Samarinda')
9793 Data Scientist
INSERT INTO job_vacancies (title) VALUES ( 'Data Scientist')
9794 Senior Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front End Developer')
9795 Business Development Manager (Depok, Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager (Depok, Jambi)')
9796 Risk Management Division Head
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Division Head')
9797 Mid Level Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mid Level Software Developer')
9798 Sales Pharma - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Pharma - Surabaya')
9799 Senior Interior Designer For Interior Project
INSERT INTO job_vacancies (title) VALUES ( 'Senior Interior Designer For Interior Project')

9800 Office Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Office Administrator')
9801 Hearing Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Hearing Advisor')
9802 Lead Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Lead Full Stack Developer')
9803 Community & Alliances Manager
INSERT INTO job_vacancies (title) VALUES ( 'Community & Alliances Manager')
9804 Manager Sales Property
INSERT INTO job_vacancies (title) VALUES ( 'Manager Sales Property')
9805 Strategic Planning & Risk Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Planning & Risk Management Manager')
9806 Finance Accounting Taxation
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Taxation')
9807 Supervisor Budget, Tax And Reporting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Budget, Tax And Reporting')
9808 Property Broker
INSERT INTO job_vacancies (title) VALUES ( 'Property Broker')
9809 Hairstylist / Hairdresser
INSERT INTO job_vacancies (title) VALUES ( 'Hairstylist / Hairdresser')
9810 Leader Research And Development (R&D)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Research And Development (R&D)')
9811 Senior Software Engineer - Java
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer - Java')
9812 Senior System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior System Analyst')
9813 Management Trainee Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee Finance Accounting')
9814 Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance')
9815 Category Manager (Electronic Retail)
INSERT INTO job_vacancies (title) VALUES ( 'Category Manager (Electronic Retail)')
9816 Senior Finance & Accounting Associate
INSERT INTO job_vacancies (title) VALUES ( 'Senior Finance & Accounting Associate')
9817 Backend Programmer (Node.Js)
INSERT INTO job_vacancies (title) VALUES ( 'Backend Programmer (Node.Js)')
9818 Supervisor Accounting Gl Plasma
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting Gl Plasma')
9819 Qa Software
INSERT INTO job_vacancies (title) VALUES ( 'Qa Software')
9820 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
9821 Credit Marketing Mobil Solo
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Mobil Solo')
9822 Quality Assurance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Supervisor')
9823 Kepala Pengelola Mep (Mekanikal-Elektrikal-Plumbing)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Pengelola Mep (Mekanikal-Elektrikal-Plumbing)')
9824 Strategy Manager
INSERT INTO job_vacancies (title) VALUES ( 'Strategy Manager')
9825 Area Manager Retail Fashion
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager Retail Fashion')
9826 Business Development - Seller Acquisition (Contract)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Seller Acquisition (Contract)')
9827 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
9828 Go To Market Specialist (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Go To Market Specialist (Mandarin Speaker)')
9829 Edtech Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Edtech Android Developer')
9830 Junior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Software Engineer')
9831 Call Center Agent Outbound (Collection) - Semarang Placement
INSERT INTO job_vacancies (title) VALUES ( 'Call Center Agent Outbound (Collection) - Semarang Placement')
9832 Field Collection - Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bogor')
9833 English As A Second Language (Esl) Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English As A Second Language (Esl) Teacher')
9834 Mobile Developer (Android / Flutter) - Bsa
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer (Android / Flutter) - Bsa')
9835 Account Executive Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Marketing')
9836 Maintenance Planner
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Planner')
9837 School Admission Officer
INSERT INTO job_vacancies (title) VALUES ( 'School Admission Officer')
9838 Key Account Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Supervisor')
9839 Medical Technology
INSERT INTO job_vacancies (title) VALUES ( 'Medical Technology')
9840 Process Improvement Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Process Improvement Shopee Express (Sunter)')
9841 Telesales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Executive')
9842 Online Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Online Marketing')
9843 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
9844 Sales Executive - Gadget Accessories (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Gadget Accessories (Tangerang)')
9845 Recovery Collector (Area Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Jambi)')
9846 Product Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Manager')
9847 Accounting Staff (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (Mandarin Speaker)')
9848 Ruby On Rails Developers
INSERT INTO job_vacancies (title) VALUES ( 'Ruby On Rails Developers')
9849 Bike Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Bike Specialist')
9850 Email Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Email Marketing Specialist')
9851 Marketing Agency (Car And Motor Product) - Jakarta Dan Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency (Car And Motor Product) - Jakarta Dan Bekasi')
9852 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
9853 Branch  /  Sales Manager ( Hyundai )
INSERT INTO job_vacancies (title) VALUES ( 'Branch  /  Sales Manager ( Hyundai )')
9854 Medical Representative (Sales & Marketing Farmasi) - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Sales & Marketing Farmasi) - Jabodetabek')
9855 Visual Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Visual Merchandiser')
9856 Site Manager
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager')
9857 Organization Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development Officer')
9858 Import  /  Export Trade Manager
INSERT INTO job_vacancies (title) VALUES ( 'Import  /  Export Trade Manager')
9859 Junior Collection Field
INSERT INTO job_vacancies (title) VALUES ( 'Junior Collection Field')
9860 Programmer C#
INSERT INTO job_vacancies (title) VALUES ( 'Programmer C#')
9861 Perawat Kecantikan
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Kecantikan')
9862 Legal Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Legal Specialist')
9863 Supervisor Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Recruitment')
9864 House Artist And Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'House Artist And Marketing Communication')
9865 Mechanical & Electrical Engineer - Bsd (Mebsd-Bsd-Pss11)
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical & Electrical Engineer - Bsd (Mebsd-Bsd-Pss11)')
9866 Supervisor Lombok
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Lombok')
9867 Kasir (Citra Raya)
INSERT INTO job_vacancies (title) VALUES ( 'Kasir (Citra Raya)')
9868 Strategic Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Management Staff')
9869 Elektromedis
INSERT INTO job_vacancies (title) VALUES ( 'Elektromedis')
9870 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
9871 Beauty Advisor (Bintaro Xchange)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Advisor (Bintaro Xchange)')
9872 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
9873 Sopir Perusahaan Manufaktur
INSERT INTO job_vacancies (title) VALUES ( 'Sopir Perusahaan Manufaktur')
9874 Manager Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Manager Accounting')
9875 Field Collection (Js - Fc) Jatibarang, Indramayu
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Jatibarang, Indramayu')
9876 Jr. Project Executive
INSERT INTO job_vacancies (title) VALUES ( 'Jr. Project Executive')
9877 Front End (Angular)
INSERT INTO job_vacancies (title) VALUES ( 'Front End (Angular)')
9878 Customer Care Executive (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Care Executive (Mandarin Speaking)')
9879 Marketing Communications
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communications')
9880 Qa Mobile App
INSERT INTO job_vacancies (title) VALUES ( 'Qa Mobile App')
9881 Assistant Manager Hrd & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Hrd & Ga')
9882 Sosmed Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sosmed Marketing Manager')
9883 Industrial Relation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Relation Staff')
9884 Compositor Motion Artist
INSERT INTO job_vacancies (title) VALUES ( 'Compositor Motion Artist')
9885 Medical Representative (Malang,Yogya,Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Malang,Yogya,Surabaya)')
9886 3D Designer
INSERT INTO job_vacancies (title) VALUES ( '3D Designer')
9887 Area Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Representative')
9888 Project Manager Interior
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager Interior')
9889 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
9890 Salesman - Padang
INSERT INTO job_vacancies (title) VALUES ( 'Salesman - Padang')
9891 Legal Support
INSERT INTO job_vacancies (title) VALUES ( 'Legal Support')
9892 Administration Head
INSERT INTO job_vacancies (title) VALUES ( 'Administration Head')
9893 Visual Art & Design Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Visual Art & Design Teacher')
9894 Psikolog
INSERT INTO job_vacancies (title) VALUES ( 'Psikolog')
9895 Admin Gudang (Cibitung)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang (Cibitung)')
9896 Desk Collection Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Supervisor')
9897 Land Operation Admin Shopee Express (Serpong)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Admin Shopee Express (Serpong)')
9898 Medical Representative Singkawang
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Singkawang')
9899 Credit Marketing Officer - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Samarinda')
9900 Tax Resolution Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Tax Resolution Specialist')
9901 It Application Consultant
INSERT INTO job_vacancies (title) VALUES ( 'It Application Consultant')
9902 Junior Technical Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Junior Technical Account Executive')
9903 Supervisor Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Warehouse')
9904 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
9905 It Service Management
INSERT INTO job_vacancies (title) VALUES ( 'It Service Management')
9906 Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Teacher')
9907 Security Medan
INSERT INTO job_vacancies (title) VALUES ( 'Security Medan')
9908 Pattern Maker
INSERT INTO job_vacancies (title) VALUES ( 'Pattern Maker')
9909 Land Operation Team Leader Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Team Leader Shopee Express (Pekanbaru)')
9910 Credit Marketing Officer - Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Banjarmasin')
9911 Senior Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Full Stack Developer')
9912 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
9913 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
9914 Marketing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Engineer')
9915 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
9916 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
9917 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
9918 Senior Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Ui / Ux Designer')
9919 Estate Manager
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager')
9920 Credit Marketing Officer - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Pekanbaru')
9921 Mekanik Auto Mobil - & Tk Bubut
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Auto Mobil - & Tk Bubut')
9922 Staff Pembelian
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pembelian')
9923 Fleet Advisor & Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Fleet Advisor & Trainer')
9924 Delivery Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Delivery Assistant')
9925 Campus Manager
INSERT INTO job_vacancies (title) VALUES ( 'Campus Manager')
9926 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
9927 Product Development Senior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Senior Manager')
9928 Hub Lead Shopee Express (Tenggarong, Kalimantan Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Tenggarong, Kalimantan Timur)')
9929 Hr & Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager')
9930 Senior Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting')
9931 Business Studies Teacher (Secondary School)
INSERT INTO job_vacancies (title) VALUES ( 'Business Studies Teacher (Secondary School)')
9932 Purchasing Raw Material Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Raw Material Staff')
9933 It Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Network Engineer')
9934 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
9935 Search Engine Optimization (Seo) - Jakarta Pusat
INSERT INTO job_vacancies (title) VALUES ( 'Search Engine Optimization (Seo) - Jakarta Pusat')
9936 Economics Teacher (A-Level)
INSERT INTO job_vacancies (title) VALUES ( 'Economics Teacher (A-Level)')
9937 Credit Marketing Officer - Kendari
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Kendari')
9938 Project Specialist (Renewable Energy Construction)
INSERT INTO job_vacancies (title) VALUES ( 'Project Specialist (Renewable Energy Construction)')
9939 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
9940 Sales Manager (Bangka Area)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager (Bangka Area)')
9941 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
9942 Marketing Relation
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Relation')
9943 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
9944 Manager Training Fleet
INSERT INTO job_vacancies (title) VALUES ( 'Manager Training Fleet')
9945 It - Cyber Security Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It - Cyber Security Specialist')
9946 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
9947 Mandarin Teacher (Placement: Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher (Placement: Balikpapan)')
9948 Life Planner (Agen Asuransi) - Yogyakarta  /  Solo  /  Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Life Planner (Agen Asuransi) - Yogyakarta  /  Solo  /  Semarang')
9949 Sales E Commerce - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales E Commerce - Jakarta')
9950 Content & Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Content & Social Media Specialist')
9951 Purchasing (Mandarin & English)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing (Mandarin & English)')
9952 Administration Staff For Padang Branch
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff For Padang Branch')
9953 Marketing Alkes
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Alkes')
9954 Wordpress Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Wordpress Engineer')
9955 Spg Mamaroz
INSERT INTO job_vacancies (title) VALUES ( 'Spg Mamaroz')
9956 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
9957 Mekanik Kendaraan & Umum
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Kendaraan & Umum')
9958 Expert Teacher For Mathematics
INSERT INTO job_vacancies (title) VALUES ( 'Expert Teacher For Mathematics')
9959 Expert Teacher For Chemistry
INSERT INTO job_vacancies (title) VALUES ( 'Expert Teacher For Chemistry')
9960 Asmen Hse
INSERT INTO job_vacancies (title) VALUES ( 'Asmen Hse')
9961 Security Warehouse (Jayapura)
INSERT INTO job_vacancies (title) VALUES ( 'Security Warehouse (Jayapura)')
9962 Head Of Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Procurement')
9963 Project Interior Design Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Interior Design Assistant Manager')
9964 Credit Marketing Motor Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Motor Sukabumi')
9965 Rider Team Lead Shopee Express - Fm Hub Panakkukang (Kota Makassar, Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Fm Hub Panakkukang (Kota Makassar, Sulawesi Selatan)')

9966 Staff Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Staff Logistik')
9967 Tax Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Tax Analyst')
9968 Sales Network Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sales Network Specialist')
9969 Hub Lead Shopee Express (Kota Tengah, Gorontalo)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Kota Tengah, Gorontalo)')
9970 Drafter Piping
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Piping')
9971 Operator Mesin
INSERT INTO job_vacancies (title) VALUES ( 'Operator Mesin')
9972 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
9973 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
9974 F&B Store Manager (Bakery & Pastry)
INSERT INTO job_vacancies (title) VALUES ( 'F&B Store Manager (Bakery & Pastry)')
9975 Teknisi Ac & Chiller Bersertifikat Bnsp / Kemnaker
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Ac & Chiller Bersertifikat Bnsp / Kemnaker')
9976 Preschool & Primary Teacher (Branch Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Preschool & Primary Teacher (Branch Pontianak)')
9977 Stockman (Ds Kabanjahe)
INSERT INTO job_vacancies (title) VALUES ( 'Stockman (Ds Kabanjahe)')
9978 Kepala Sekolah Tk
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Sekolah Tk')
9979 Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Product Development')
9980 Personal Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Personal Trainer')
9981 Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Manager')
9982 Telemarketing
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing')
9983 Retail Product Promotor (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Product Promotor (Bandung)')
9984 Manajer Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Manajer Finance & Accounting')
9985 Partner Integration
INSERT INTO job_vacancies (title) VALUES ( 'Partner Integration')
9986 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
9987 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
9988 Presales & Solution Supervisor (Cloud)
INSERT INTO job_vacancies (title) VALUES ( 'Presales & Solution Supervisor (Cloud)')
9989 Purchasing Manager (Penempatan Area Magelang)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Manager (Penempatan Area Magelang)')
9990 Management Trainee-Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee-Quality Control')
9991 Field Collection (Js - Fc) Salatiga
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Salatiga')
9992 Credit Marketing Officer - Sumedang & Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Sumedang & Cirebon')
9993 Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Sales Support')
9994 Team Leader Teknisi Wilayah Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Teknisi Wilayah Karawang')
9995 Promotor Officer
INSERT INTO job_vacancies (title) VALUES ( 'Promotor Officer')
9996 Cultural Art (Music Teacher)
INSERT INTO job_vacancies (title) VALUES ( 'Cultural Art (Music Teacher)')
9997 Medical Representative Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Denpasar')
9998 Senior Web Front-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Front-End Developer')
9999 Product Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Development Manager')
10000 Guru Kelas Bilingual
INSERT INTO job_vacancies (title) VALUES ( 'Guru Kelas Bilingual')
10001 Marketing Officer Tunas Rent Cabang Medan
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer Tunas Rent Cabang Medan')
10002 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
10003 Ahli Gizi
INSERT INTO job_vacancies (title) VALUES ( 'Ahli Gizi')
10004 It Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Application Developer')
10005 Credit Marketing Officer - Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Pontianak')
10006 Manager / Asisten Manager- Pemasaran
INSERT INTO job_vacancies (title) VALUES ( 'Manager / Asisten Manager- Pemasaran')
10007 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
10008 Accounting Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Pajak')
10009 Guru Fisika Sma
INSERT INTO job_vacancies (title) VALUES ( 'Guru Fisika Sma')
10010 Chief Product Officer (Cpo)
INSERT INTO job_vacancies (title) VALUES ( 'Chief Product Officer (Cpo)')
10011 Career Pro
INSERT INTO job_vacancies (title) VALUES ( 'Career Pro')
10012 Recovery Collector (Area Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Sulawesi)')
10013 Service Engineer (Code: Se)
INSERT INTO job_vacancies (title) VALUES ( 'Service Engineer (Code: Se)')
10014 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
10015 Product Technical Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Product Technical Analyst')
10016 Key Account Manager Modern Trade
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Manager Modern Trade')
10017 Finance Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Supervisor')
10018 Creative & Design
INSERT INTO job_vacancies (title) VALUES ( 'Creative & Design')
10019 Senior It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Project Manager')
10020 Casual Leasing Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Casual Leasing Section Head')
10021 Planning Manager
INSERT INTO job_vacancies (title) VALUES ( 'Planning Manager')
10022 Angular Developer
INSERT INTO job_vacancies (title) VALUES ( 'Angular Developer')
10023 Senior Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Account Executive')
10024 Credit Marketing Officer - Sunter
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Sunter')
10025 Supervisor Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Engineering')
10026 Mobile Application Development - Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Application Development - Flutter Developer')
10027 Supervisor Marketing Elektronik (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Elektronik (Banjarmasin)')
10028 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
10029 Beautician (Green Pramuka)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician (Green Pramuka)')
10030 Recovery Collector (Area Aceh)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Aceh)')
10031 Technical Support Engineer Admin
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support Engineer Admin')
10032 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
10033 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
10034 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
10035 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10036 Hse & Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hse & Ga Manager')
10037 Quantity Surveyor (Qs Interior)
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor (Qs Interior)')
10038 Desain Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Desain Grafis')
10039 Hr Training And Development
INSERT INTO job_vacancies (title) VALUES ( 'Hr Training And Development')
10040 Expert Teacher For History
INSERT INTO job_vacancies (title) VALUES ( 'Expert Teacher For History')
10041 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
10042 Marketing & Verification Officer (Js - Mvo) Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Lampung')
10043 Recovery Collector (Area Kalimantan)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Kalimantan)')
10044 Project Finance Admin
INSERT INTO job_vacancies (title) VALUES ( 'Project Finance Admin')
10045 Marketing & User Acquisition Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & User Acquisition Manager')
10046 Sales Executive - Gadget Accessories (Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Gadget Accessories (Bekasi)')
10047 Senior Programmatic & Ads Ops
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmatic & Ads Ops')
10048 Field Collection (Js - Fc) Majalengka
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Majalengka')
10049 Jewelry Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Jewelry Social Media Specialist')
10050 Credit Marketing Officer - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Palangkaraya')
10051 Translator Bahasa Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Translator Bahasa Mandarin')
10052 Sales Engineer - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer - Makassar')
10053 Sales Supervisor Farmasi (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Farmasi (Jakarta)')
10054 Mandarin-Bahasa Translator & Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin-Bahasa Translator & Auditor')
10055 Field Collection - Bandar Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bandar Lampung')
10056 Sales Administration
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administration')
10057 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10058 Sales Executive (Medical)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Medical)')
10059 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
10060 Grafic Desain Intern
INSERT INTO job_vacancies (title) VALUES ( 'Grafic Desain Intern')
10061 Finance Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Finance Analyst')
10062 Sales Force Team
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force Team')
10063 Injection Molding Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Injection Molding Supervisor')
10064 Qhse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qhse Supervisor')
10065 Promotor
INSERT INTO job_vacancies (title) VALUES ( 'Promotor')
10066 Brand Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Brand Marketing')
10067 Cashflow Planning Manager
INSERT INTO job_vacancies (title) VALUES ( 'Cashflow Planning Manager')
10068 Crm Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Crm Specialist')
10069 Digital Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Account Executive')
10070 Dokter Umum (Klinik Sumba Barat Daya)
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Umum (Klinik Sumba Barat Daya)')
10071 Sales Marketing (Lapangan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing (Lapangan)')
10072 Field Collection Team Leader / Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Team Leader / Coordinator')
10073 English Customer Success Specialist (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'English Customer Success Specialist (Semarang)')
10074 Admin Technic (Metland Menteng)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Technic (Metland Menteng)')
10075 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
10076 Hr Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr Officer')
10077 Area Sales Promotion Supervisor (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Promotion Supervisor (Medan)')
10078 B2C Support - Creative And Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'B2C Support - Creative And Ui / Ux Designer')
10079 Software Engineer (Golang)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer (Golang)')
10080 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
10081 Marketing (Business Development)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing (Business Development)')
10082 Frontliner
INSERT INTO job_vacancies (title) VALUES ( 'Frontliner')
10083 Salesman ( Bandung )
INSERT INTO job_vacancies (title) VALUES ( 'Salesman ( Bandung )')
10084 Head Of Product
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Product')
10085 Training And Development
INSERT INTO job_vacancies (title) VALUES ( 'Training And Development')
10086 Settlement Associate
INSERT INTO job_vacancies (title) VALUES ( 'Settlement Associate')
10087 Engineering Manager
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Manager')
10088 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
10089 Pio Instalation Operator
INSERT INTO job_vacancies (title) VALUES ( 'Pio Instalation Operator')
10090 Assistant Purchasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Purchasing Manager')
10091 Field Collection - Depok
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Depok')
10092 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
10093 Creative Designer Vcbl
INSERT INTO job_vacancies (title) VALUES ( 'Creative Designer Vcbl')
10094 Driver - Supir (Sim B2)
INSERT INTO job_vacancies (title) VALUES ( 'Driver - Supir (Sim B2)')
10095 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10096 Game Developer
INSERT INTO job_vacancies (title) VALUES ( 'Game Developer')
10097 Admin Import
INSERT INTO job_vacancies (title) VALUES ( 'Admin Import')
10098 Academic Specialist Matematika & Fisika
INSERT INTO job_vacancies (title) VALUES ( 'Academic Specialist Matematika & Fisika')
10099 Key Account Senior Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Senior Supervisor')
10100 Data Analyst (Power Bi, Python, Excel Macro)
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst (Power Bi, Python, Excel Macro)')
10101 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
10102 New Product Development (Npd) Engineer
INSERT INTO job_vacancies (title) VALUES ( 'New Product Development (Npd) Engineer')
10103 Sales Promotion (Spg / Spb) Event Mobile Solo (Spg-Slo)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion (Spg / Spb) Event Mobile Solo (Spg-Slo)')
10104 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
10105 Central Kitchen Leader (Surabaya Area)
INSERT INTO job_vacancies (title) VALUES ( 'Central Kitchen Leader (Surabaya Area)')
10106 Software Quality Assurance Tester
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance Tester')
10107 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
10108 Recovery Collector (Area Ntb)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Ntb)')
10109 Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff')
10110 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
10111 Staff Jurnal Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Jurnal Accounting')

10112 Staf Gudang (Penempatan Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Gudang (Penempatan Semarang)')
10113 Dosen Fisioterapi
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Fisioterapi')
10114 Chemical Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Chemical Analyst')
10115 Head Of Control Tower
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Control Tower')
10116 Senior Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting')
10117 Presales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Presales Manager')
10118 Maintenance Superintendent (Chemical Industry) - Cikarang Area (Id: 550808)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Superintendent (Chemical Industry) - Cikarang Area (Id: 550808)')
10119 It Service Desk (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Service Desk (Yogyakarta)')
10120 Technical Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Executive')
10121 Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate')
10122 React Native Developer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Developer')
10123 Professional Financial Consultant Area Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Jakarta Timur')
10124 Digital Ads Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Ads Specialist')
10125 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
10126 Mathematic Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Mathematic Teachers')
10127 Store Structure Designer
INSERT INTO job_vacancies (title) VALUES ( 'Store Structure Designer')
10128 Assistant Pastry Chef
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Pastry Chef')
10129 Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation Manager')
10130 Admin Service Padang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Service Padang')
10131 Barista
INSERT INTO job_vacancies (title) VALUES ( 'Barista')
10132 React Native Developer
INSERT INTO job_vacancies (title) VALUES ( 'React Native Developer')
10133 Professional Financial Consultant Area Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Jakarta Timur')
10134 Digital Ads Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Ads Specialist')
10135 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
10136 Staf Gudang (Penempatan Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Gudang (Penempatan Semarang)')
10137 Mathematic Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Mathematic Teachers')
10138 Store Structure Designer
INSERT INTO job_vacancies (title) VALUES ( 'Store Structure Designer')
10139 Assistant Pastry Chef
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Pastry Chef')
10140 Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Operation Manager')
10141 Illustrator Nfts
INSERT INTO job_vacancies (title) VALUES ( 'Illustrator Nfts')
10142 Art Director
INSERT INTO job_vacancies (title) VALUES ( 'Art Director')
10143 Operator Forklift Manual
INSERT INTO job_vacancies (title) VALUES ( 'Operator Forklift Manual')
10144 Marketing & Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Sales Executive')
10145 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
10146 Supervisor Marketing Elektronik (Banjarbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Elektronik (Banjarbaru)')
10147 Area Sales Manager Modern Trade
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Modern Trade')
10148 Account Executive Erp
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Erp')
10149 Tire Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tire Marketing Manager')
10150 Administration Staff - Policy Processing (Location: Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff - Policy Processing (Location: Medan)')
10151 Asisten Kebun
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Kebun')
10152 Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Manager')
10153 Sales Executive (Se) - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Se) - Palembang')
10154 It Service Desk (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'It Service Desk (Yogyakarta)')
10155 Sales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate')
10156 Accounting Asset And Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Asset And Tax Officer')
10157 Senior Consultant - Sap Treasury - Id
INSERT INTO job_vacancies (title) VALUES ( 'Senior Consultant - Sap Treasury - Id')
10158 Accounting & Finance Staff (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Staff (Mandarin Speaker)')
10159 Business Development Manager - Commercial Partners
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager - Commercial Partners')
10160 Software Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Software Product Manager')
10161 Marketing Officer (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Bandung)')
10162 Account Executive (Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Sales)')
10163 Land Operation Admin Shopee Express (Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Admin Shopee Express (Bekasi)')
10164 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
10165 Sales Canvasser
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser')
10166 Credit Marketing Officer Mobil - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Palembang')
10167 Pengawas Lapangan Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Lapangan Alat Berat')
10168 Dibutuhkan Manager Personalia
INSERT INTO job_vacancies (title) VALUES ( 'Dibutuhkan Manager Personalia')
10169 Credit Marketing Officer (Cmo) Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Bekasi')
10170 Drafter Interior
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Interior')
10171 Recovery Collector (Area Sumatera Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Sumatera Utara)')
10172 Credit Marketing Officer Mobil - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Balikpapan')
10173 Microfinancing Account Officer
INSERT INTO job_vacancies (title) VALUES ( 'Microfinancing Account Officer')
10174 Human Resources Administration (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Administration (Yogyakarta)')
10175 Personal Assistant To Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Director')
10176 Nurse
INSERT INTO job_vacancies (title) VALUES ( 'Nurse')
10177 Medical Representative Medan
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Medan')
10178 Art Director
INSERT INTO job_vacancies (title) VALUES ( 'Art Director')
10179 Field Collection - Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Tegal')
10180 Head Of Area Sales
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Area Sales')
10181 Shopee Express -  Recruitment (Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express -  Recruitment (Lampung)')
10182 Credit Marketing Officer - Sampit
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Sampit')
10183 Kepala Cabang (Koperasi) Area Pemalang, Purbalingga
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Cabang (Koperasi) Area Pemalang, Purbalingga')
10184 Pre Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Pre Sales Consultant')
10185 Manager Marketing Pintu Baja (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing Pintu Baja (Mandarin)')
10186 Finance Admin
INSERT INTO job_vacancies (title) VALUES ( 'Finance Admin')
10187 Corporate Strategy Associate
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Strategy Associate')
10188 Mobile (Android / Ios) Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile (Android / Ios) Developer')
10189 Sales Head
INSERT INTO job_vacancies (title) VALUES ( 'Sales Head')
10190 Marketing & Management Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Management Supervisor')
10191 Account Manager Corporate
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager Corporate')
10192 Purchasing Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Assistant Manager')
10193 Project Site Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Project Site Supervisor')
10194 Sales Representative For Orthopaedic Support Items
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative For Orthopaedic Support Items')
10195 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
10196 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
10197 Admin Senior
INSERT INTO job_vacancies (title) VALUES ( 'Admin Senior')
10198 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
10199 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
10200 R & D Staff
INSERT INTO job_vacancies (title) VALUES ( 'R & D Staff')
10201 Field Collection - Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bekasi')
10202 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
10203 Field Collection - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Semarang')
10204 Field Collection - Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Kudus')
10205 Frontline (Elsheskin Clinic Jakarta Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Frontline (Elsheskin Clinic Jakarta Selatan)')
10206 Salesman Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Salesman Lampung')
10207 Accounting & Finance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Manager')
10208 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
10209 Credit Marketing Officer Mobil - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Pekanbaru')
10210 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
10211 English Teachers
INSERT INTO job_vacancies (title) VALUES ( 'English Teachers')
10212 Sipil  /  Tukang Bangunan
INSERT INTO job_vacancies (title) VALUES ( 'Sipil  /  Tukang Bangunan')
10213 Sales Promotion Cirebon (Spg / Spb – Crb)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotion Cirebon (Spg / Spb – Crb)')
10214 Experienced Developers From Any Background
INSERT INTO job_vacancies (title) VALUES ( 'Experienced Developers From Any Background')
10215 Programmer Dan Business Intelligence
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Dan Business Intelligence')
10216 Digital Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Specialist')
10217 Sales Project - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project - Surabaya')
10218 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
10219 Field Collection - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Surabaya')
10220 Expert Advisor Programer
INSERT INTO job_vacancies (title) VALUES ( 'Expert Advisor Programer')
10221 Sales Executive Retail
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Retail')
10222 Assistant - Civil Engineering - Placement West Kalimantan Site (Sandai)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant - Civil Engineering - Placement West Kalimantan Site (Sandai)')
10223 Beautician (Citraland)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician (Citraland)')
10224 Field Collection - Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Karawang')
10225 Investment Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Investment Supervisor')
10226 Executive Chef
INSERT INTO job_vacancies (title) VALUES ( 'Executive Chef')
10227 Recovery Collector (Area Banten)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Banten)')
10228 Field Collection - Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Tasikmalaya')
10229 Staff Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Staff Business Analyst')
10230 Credit Marketing Officer - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Tangerang')
10231 Sales Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Trainer')
10232 Quality Assurance Software
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Software')
10233 Business Development & Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Business Development & Sales Executive')
10234 Credit Marketing Officer Mobil - Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Karawang')
10235 Sales Consultant (Business Development Consultant)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant (Business Development Consultant)')
10236 Bagian Umum
INSERT INTO job_vacancies (title) VALUES ( 'Bagian Umum')
10237 Application Developer Supervisor (.Net)
INSERT INTO job_vacancies (title) VALUES ( 'Application Developer Supervisor (.Net)')
10238 Business Improvement Executive (Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Business Improvement Executive (Sukabumi)')
10239 Credit Marketing Officer - Serang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Serang')
10240 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10241 Staff Operasional Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Operasional Produksi')
10242 Field Collection - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Solo')
10243 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
10244 Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ios Developer')
10245 General Manager Contruction
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Contruction')
10246 Reactjs Developer
INSERT INTO job_vacancies (title) VALUES ( 'Reactjs Developer')
10247 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
10248 Investor Relation Sect. Head
INSERT INTO job_vacancies (title) VALUES ( 'Investor Relation Sect. Head')
10249 Modern Trade Sales Operation Manager (Jabodetabek Area)
INSERT INTO job_vacancies (title) VALUES ( 'Modern Trade Sales Operation Manager (Jabodetabek Area)')
10250 It Sales Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Sales Specialist')
10251 Full Time Biotechnology Lecturer ( Phd  /  S3 )
INSERT INTO job_vacancies (title) VALUES ( 'Full Time Biotechnology Lecturer ( Phd  /  S3 )')
10252 Apoteker Penanggung Jawab  (Apj – Js)
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab  (Apj – Js)')
10253 Sales Executive - Penempatan Jalur, Belitang, Tugumulyo-Oki,Muara Sugihan,Metro,Rawajitu,Tulang Bawang,Sidomulyo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Penempatan Jalur, Belitang, Tugumulyo-Oki,Muara Sugihan,Metro,Rawajitu,Tulang Bawang,Sidomulyo')
10254 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
10255 Credit Marketing Officer (Cmo) Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo) Samarinda')
10256 Field Collection - Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Kediri')
10257 Social Study Teacher For Secondary Level
INSERT INTO job_vacancies (title) VALUES ( 'Social Study Teacher For Secondary Level')
10258 Application Support Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Application Support Analyst')
10259 Staff Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Accounting')
10260 Estimator Project Interior
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Project Interior')
10261 Administration Staff (Js - Adm) Cilegon
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Cilegon')
10262 .Net Core Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Core Developer')
10263 Marketing & Sales Support Manager (E-Commerce)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Sales Support Manager (E-Commerce)')
10264 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')

10265 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
10266 Administration Staff (Js - Adm) Cempaka Mas
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Cempaka Mas')
10267 Senior System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior System Engineer')
10268 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
10269 Onsite Noc  /  Onsite Network Engineer (Teknisi Jaringan Komputer )
INSERT INTO job_vacancies (title) VALUES ( 'Onsite Noc  /  Onsite Network Engineer (Teknisi Jaringan Komputer )')
10270 Reactjs Developer
INSERT INTO job_vacancies (title) VALUES ( 'Reactjs Developer')
10271 Sales & Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Manager')
10272 Head Of Marketing Strategist (Digital And Customer Relation Management)
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing Strategist (Digital And Customer Relation Management)')
10273 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
10274 Graphic Designer - Cibubur Junction
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer - Cibubur Junction')
10275 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
10276 Senior Accounting Services
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Services')
10277 Senior Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmer')
10278 Credit Marketing Officer Mobil - Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Kediri')
10279 Guidance & Counselling Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Guidance & Counselling Teacher')
10280 Credit Marketing Officer - Batam
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Batam')
10281 Mobile Apps Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Apps Developer')
10282 Medical Representative
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative')
10283 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
10284 Spa Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Spa Supervisor')
10285 Direct Sales (Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Direct Sales (Sukabumi)')
10286 Welder
INSERT INTO job_vacancies (title) VALUES ( 'Welder')
10287 Consultant To Support The Development Of And Pilot Of The Regulatory Impact Assessment Training Module
INSERT INTO job_vacancies (title) VALUES ( 'Consultant To Support The Development Of And Pilot Of The Regulatory Impact Assessment Training Module')
10288 Recovery Collector (Area Kepulauan Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Kepulauan Riau)')
10289 Sales Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Sales Proyek')
10290 Field Sales - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales - Surabaya')
10291 Product Designer
INSERT INTO job_vacancies (title) VALUES ( 'Product Designer')
10292 Software Development
INSERT INTO job_vacancies (title) VALUES ( 'Software Development')
10293 Senior Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Network Engineer')
10294 Sales Retail - Interpreter Japanese Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Retail - Interpreter Japanese Staff')
10295 Manager Customer Service Apartment
INSERT INTO job_vacancies (title) VALUES ( 'Manager Customer Service Apartment')
10296 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
10297 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10298 Marketing Pemasaran Area Pameran Dan Counter
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Pemasaran Area Pameran Dan Counter')
10299 Project Supervisor Interior – Fit Out (For Interior Project Retail & Office)
INSERT INTO job_vacancies (title) VALUES ( 'Project Supervisor Interior – Fit Out (For Interior Project Retail & Office)')
10300 Kepala Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Produksi')
10301 Maintenance & Engineering Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance & Engineering Supervisor')
10302 Staf Umum
INSERT INTO job_vacancies (title) VALUES ( 'Staf Umum')
10303 Asisten Apoteker (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker (Jabodetabek)')
10304 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
10305 Industrial Relations Officer (Isp - Gresik)
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Relations Officer (Isp - Gresik)')
10306 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
10307 Videographer & Photographer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Videographer & Photographer Staff')
10308 Finance & Acct Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Acct Manager')
10309 Sales Engineer (Kalimantan Dan Sumatera)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Kalimantan Dan Sumatera)')
10310 Creative Production Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Creative Production Assistant')
10311 Recovery Collector (Area Riau Daratan)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Riau Daratan)')
10312 Internal Auditor Operational
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor Operational')
10313 Digital Co-Ordinator  /  Manager
INSERT INTO job_vacancies (title) VALUES ( 'Digital Co-Ordinator  /  Manager')
10314 Medical Representative Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Jambi')
10315 Senior Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Frontend Developer')
10316 Business Director (Marketing Platform And Medical Communication)
INSERT INTO job_vacancies (title) VALUES ( 'Business Director (Marketing Platform And Medical Communication)')
10317 Mechanical Electrical
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical')
10318 Area Sales Coordinator (Jakarta, Jawa Timur, Sumatera, Kalimantan, Sulawesi)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Coordinator (Jakarta, Jawa Timur, Sumatera, Kalimantan, Sulawesi)')
10319 Credit Marketing Mobil Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Mobil Sukabumi')
10320 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10321 Senior Software Engineer (Gide)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer (Gide)')
10322 Software Developer (Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer (Contract Based)')
10323 Payroll & Personnel Staff
INSERT INTO job_vacancies (title) VALUES ( 'Payroll & Personnel Staff')
10324 Quantity Surveyor Manager
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor Manager')
10325 It Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Business Analyst')
10326 Expert Teacher For English
INSERT INTO job_vacancies (title) VALUES ( 'Expert Teacher For English')
10327 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
10328 Product Specialist (Yogyakarta Based)
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist (Yogyakarta Based)')
10329 Business Process Asst.Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Asst.Manager')
10330 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
10331 Head Of Marketing Communication & Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing Communication & Partnership')
10332 Revenue Assurance Spesialist
INSERT INTO job_vacancies (title) VALUES ( 'Revenue Assurance Spesialist')
10333 Desk Collection Manager
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Manager')
10334 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
10335 Credit Marketing Officer - Depok
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Depok')
10336 Rider Team Lead Shopee Express - Hub Padangan (Bojonegoro)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Padangan (Bojonegoro)')
10337 Admin Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing')
10338 Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant')
10339 Teknisi Jaringan Internet Wireless
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Jaringan Internet Wireless')
10340 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
10341 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
10342 Landscaping
INSERT INTO job_vacancies (title) VALUES ( 'Landscaping')
10343 Retail And Wholesale Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Retail And Wholesale Sales Manager')
10344 Business Process Asst.Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Asst.Manager')
10345 Apoteker Penanggung Jawab
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker Penanggung Jawab')
10346 Head Of Marketing Communication & Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing Communication & Partnership')
10347 Teknisi Jaringan Internet Wireless
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Jaringan Internet Wireless')
10348 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
10349 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
10350 Landscaping
INSERT INTO job_vacancies (title) VALUES ( 'Landscaping')
10351 Retail And Wholesale Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Retail And Wholesale Sales Manager')
10352 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10353 Senior Software Engineer (Gide)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer (Gide)')
10354 Assistant Area Sales Manager (Kendari)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Area Sales Manager (Kendari)')
10355 Senior Tax Consultant (Bali Based)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Consultant (Bali Based)')
10356 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
10357 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
10358 Service Planner / Mekanik (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Service Planner / Mekanik (Medan)')
10359 Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Manager')
10360 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
10361 Regional Asst. Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Asst. Sales Manager')
10362 Desk Collection Manager
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection Manager')
10363 Revenue Assurance Spesialist
INSERT INTO job_vacancies (title) VALUES ( 'Revenue Assurance Spesialist')
10364 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
10365 Credit Marketing Officer - Depok
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Depok')
10366 Rider Team Lead Shopee Express - Hub Padangan (Bojonegoro)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Padangan (Bojonegoro)')
10367 Admin Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing')
10368 Sales Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant')
10369 Senior Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Senior Marketing')
10370 Area Sales Supervisor (Depok - Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Depok - Bekasi)')
10371 Hygiene Account Executive (Hae) Yogyakarta Dan Pasuruan
INSERT INTO job_vacancies (title) VALUES ( 'Hygiene Account Executive (Hae) Yogyakarta Dan Pasuruan')
10372 Field Collection (Js - Fc) Deli Serdang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Deli Serdang')
10373 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
10374 Accounting Tax Senior
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Tax Senior')
10375 Corporate Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Legal Officer')
10376 Facility Manager (Repair Maintenance)
INSERT INTO job_vacancies (title) VALUES ( 'Facility Manager (Repair Maintenance)')
10377 Credit Marketing Officer Mobil - Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Sukabumi')
10378 Manager Karaoke & Manager Club
INSERT INTO job_vacancies (title) VALUES ( 'Manager Karaoke & Manager Club')
10379 Sales Interior
INSERT INTO job_vacancies (title) VALUES ( 'Sales Interior')
10380 Warehouse Staff
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff')
10381 Hse Facility Lead Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Hse Facility Lead Shopee Express')
10382 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
10383 Recovery Collector (Area Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Jawa Timur)')
10384 Design Interior
INSERT INTO job_vacancies (title) VALUES ( 'Design Interior')
10385 Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Teachers')
10386 Access Point Engineering & Development
INSERT INTO job_vacancies (title) VALUES ( 'Access Point Engineering & Development')
10387 Translator Bahasa Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Translator Bahasa Mandarin')
10388 Marketing Communication Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Manager')
10389 Credit Marketing Officer Mobil - Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Cirebon')
10390 Recruitment & Training Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment & Training Development Supervisor')
10391 Business Analyst With Legal Experience
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst With Legal Experience')
10392 Chef
INSERT INTO job_vacancies (title) VALUES ( 'Chef')
10393 Staff Gudang (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang (Surabaya)')
10394 Kindergarten Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten Teacher')
10395 Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Staff')
10396 Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor')
10397 Baker - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Baker - Jakarta')
10398 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
10399 Cutting & Molding Manager
INSERT INTO job_vacancies (title) VALUES ( 'Cutting & Molding Manager')
10400 Quality Management System Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Quality Management System Supervisor')
10401 Python Developer
INSERT INTO job_vacancies (title) VALUES ( 'Python Developer')
10402 Application Consultant - Banking Business
INSERT INTO job_vacancies (title) VALUES ( 'Application Consultant - Banking Business')
10403 Recruitment Supervisor (Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Supervisor (Jawa Tengah)')
10404 Design Interior
INSERT INTO job_vacancies (title) VALUES ( 'Design Interior')
10405 Vp Marketing And Customer Experience
INSERT INTO job_vacancies (title) VALUES ( 'Vp Marketing And Customer Experience')
10406 Admin
INSERT INTO job_vacancies (title) VALUES ( 'Admin')
10407 Product Business Manager (Automotive)
INSERT INTO job_vacancies (title) VALUES ( 'Product Business Manager (Automotive)')
10408 Sampoerna Academy - Secondary - Chemistry Teacher - Ay 22 / 23
INSERT INTO job_vacancies (title) VALUES ( 'Sampoerna Academy - Secondary - Chemistry Teacher - Ay 22 / 23')
10409 Supervisor Marketing Mobil Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing Mobil Tangerang')
10410 Ecommerce Operations Specialist (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Ecommerce Operations Specialist (Mandarin Speaking)')
10411 Warehouse Supervisor (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor (Semarang)')
10412 Fullstack Developer- It Development
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer- It Development')
10413 Junior Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Junior Secretary')
10414 Accounting - Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting - Staff')
10415 Credit Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Credit Analyst')
10416 Marketing And Management Internship
INSERT INTO job_vacancies (title) VALUES ( 'Marketing And Management Internship')

10417 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
10418 Digital Business Executive (Penempatan Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Business Executive (Penempatan Semarang)')
10419 Financial Advisor - Area Magelang
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor - Area Magelang')
10420 Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance Engineer')
10421 Cashier (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Cashier (Palembang)')
10422 Pelaksana Lapangan Project Furniture Interior
INSERT INTO job_vacancies (title) VALUES ( 'Pelaksana Lapangan Project Furniture Interior')
10423 Preschool Assistant Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Preschool Assistant Teacher')
10424 Credit Marketing Officer Mobil - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Malang')
10425 Programmer Web
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Web')
10426 Full Time Pharmacy Lecturer
INSERT INTO job_vacancies (title) VALUES ( 'Full Time Pharmacy Lecturer')
10427 Front - End / Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front - End / Web Developer')
10428 Regional Corporate Banking Funding Relationship Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Corporate Banking Funding Relationship Manager')
10429 Corporate Data Analyst Staff
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Data Analyst Staff')
10430 Medical Representative Malang
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative Malang')
10431 Logistic Staff 物流 (Mandarin Only)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Staff 物流 (Mandarin Only)')
10432 Finance Internship (3 Months) - Bandung Branch Office
INSERT INTO job_vacancies (title) VALUES ( 'Finance Internship (3 Months) - Bandung Branch Office')
10433 Golang Developer
INSERT INTO job_vacancies (title) VALUES ( 'Golang Developer')
10434 Teknisi Mekanik Hidrolik
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mekanik Hidrolik')
10435 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
10436 C# Senior Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'C# Senior Software Engineer')
10437 Kolektor Mobil - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Semarang')
10438 Recovery Collector (Area Jawa Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Area Jawa Tengah)')
10439 Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer')
10440 Information Technology Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Information Technology Software Engineer')
10441 Billing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Billing Staff')
10442 Purchasing Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Import Staff')
10443 Professional Financial Consultant Area Bali
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Bali')
10444 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
10445 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
10446 Sales Consultant  (Area Padang, Sumatera)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant  (Area Padang, Sumatera)')
10447 Griya Head Ciputat
INSERT INTO job_vacancies (title) VALUES ( 'Griya Head Ciputat')
10448 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
10449 Supervisor Gresik
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Gresik')
10450 Structural Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Structural Drafter')
10451 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
10452 Collection Coverage Group ( Jawa Barat, Jakarta, Banten)
INSERT INTO job_vacancies (title) VALUES ( 'Collection Coverage Group ( Jawa Barat, Jakarta, Banten)')
10453 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
10454 Kolektor Mobil - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Surabaya')
10455 Desain Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Desain Grafis')
10456 Chief Cmo Pematangsiantar
INSERT INTO job_vacancies (title) VALUES ( 'Chief Cmo Pematangsiantar')
10457 Sales Executive Honda Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Honda Cikarang')
10458 Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Product Manager')
10459 Odoo Developer
INSERT INTO job_vacancies (title) VALUES ( 'Odoo Developer')
10460 Design Grafis
INSERT INTO job_vacancies (title) VALUES ( 'Design Grafis')
10461 Sonographer  /  Ultrasound Applications Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Sonographer  /  Ultrasound Applications Specialist')
10462 Php Developer
INSERT INTO job_vacancies (title) VALUES ( 'Php Developer')
10463 Site Mandarin Translator (Penerjemah Bilingual - Bahasa Mandarin Dan Bahasa Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Site Mandarin Translator (Penerjemah Bilingual - Bahasa Mandarin Dan Bahasa Indonesia)')
10464 Hotel General Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hotel General Manager')
10465 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
10466 Deputy Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Deputy Finance & Accounting Manager')
10467 It Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Manager')
10468 Admin Toko - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Toko - Tangerang')
10469 Hrbp Shopee Express (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Shopee Express (Denpasar)')
10470 Producer And Sme Data Officer
INSERT INTO job_vacancies (title) VALUES ( 'Producer And Sme Data Officer')
10471 Presales Audio Visual It
INSERT INTO job_vacancies (title) VALUES ( 'Presales Audio Visual It')
10472 Cgv Chef
INSERT INTO job_vacancies (title) VALUES ( 'Cgv Chef')
10473 Kolektor Mobil - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Bandung')
10474 Desk Collection
INSERT INTO job_vacancies (title) VALUES ( 'Desk Collection')
10475 Admin Staff Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff Finance Accounting')
10476 Video Creator B Erl Cosmetics
INSERT INTO job_vacancies (title) VALUES ( 'Video Creator B Erl Cosmetics')
10477 Sales Canvasser – Jogonalan Klaten
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser – Jogonalan Klaten')
10478 Sales Executive (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Jakarta)')
10479 Presales Engineer (Cisco)
INSERT INTO job_vacancies (title) VALUES ( 'Presales Engineer (Cisco)')
10480 Software Engineer (Php)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer (Php)')
10481 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
10482 Frontliner
INSERT INTO job_vacancies (title) VALUES ( 'Frontliner')
10483 Design Marketing Promosi
INSERT INTO job_vacancies (title) VALUES ( 'Design Marketing Promosi')
10484 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
10485 Business Analyst Assistant Manager / Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Assistant Manager / Specialist')
10486 Animator 2D Dan Motion Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Animator 2D Dan Motion Graphic')
10487 Software Engineer (Web)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer (Web)')
10488 Project Management Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Specialist')
10489 Purchasing Staf
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staf')
10490 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
10491 Accounting Admin
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Admin')
10492 Video Editor
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor')
10493 Provider Sales Key Account Manager - Jakarta Area
INSERT INTO job_vacancies (title) VALUES ( 'Provider Sales Key Account Manager - Jakarta Area')
10494 Credit Marketing Officer - Kediri
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Kediri')
10495 Customer Service Lead
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Lead')
10496 Field Collection - Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Cirebon')
10497 Credit Marketing Officer - Gresik
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Gresik')
10498 Administrasi Penjualan Online (Marketplace)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Penjualan Online (Marketplace)')
10499 Professional Financial Consultant Area Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Jakarta Utara')
10500 Credit Marketing Officer (Cmo)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer (Cmo)')
10501 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
10502 Senior Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Senior Merchandiser')
10503 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
10504 Collection Field (Wilayah Pondok Gede & Bekasi)
INSERT INTO job_vacancies (title) VALUES ( 'Collection Field (Wilayah Pondok Gede & Bekasi)')
10505 Instruktur It
INSERT INTO job_vacancies (title) VALUES ( 'Instruktur It')
10506 Sales Supervisor (Balikpapan Dan Tarakan)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Balikpapan Dan Tarakan)')
10507 Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Staff')
10508 Application Development - C#
INSERT INTO job_vacancies (title) VALUES ( 'Application Development - C#')
10509 Project Manager  /  Digital Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager  /  Digital Project Manager')
10510 C# Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'C# Fullstack Developer')
10511 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
10512 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
10513 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
10514 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
10515 Kolektor Mobil - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Kolektor Mobil - Jabodetabek')
10516 Cloud Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Consultant')
10517 Professional Financial Consultant Area Jakarta Barat
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Jakarta Barat')
10518 Mobile Apps Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Apps Developer')
10519 Sales Representative (Probolinggo, Tulungagung)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Probolinggo, Tulungagung)')
10520 Sales Supervisor - Based In Bali
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor - Based In Bali')
10521 Staff Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi')
10522 Staff Hrd & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd & Ga')
10523 Administrator Cabang Medan
INSERT INTO job_vacancies (title) VALUES ( 'Administrator Cabang Medan')
10524 Field Collector (Sumatera Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Field Collector (Sumatera Selatan)')
10525 Land Driver Coordinator Shopee Express (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Land Driver Coordinator Shopee Express (Pontianak)')
10526 Credit Marketing Officer - Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Kudus')
10527 Japanese Speaker - Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Speaker - Admin Sales')
10528 Sales Engineer (Bandung, Sukabumi, Cimanggis, Kudus)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Bandung, Sukabumi, Cimanggis, Kudus)')
10529 Supervisor + Drafter Interior Contractor
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor + Drafter Interior Contractor')
10530 [Ubud] Resident Medical Officer (Rmo) - Dokter Jaga
INSERT INTO job_vacancies (title) VALUES ( '[Ubud] Resident Medical Officer (Rmo) - Dokter Jaga')
10531 Pattern Maker (Tukang Pola)
INSERT INTO job_vacancies (title) VALUES ( 'Pattern Maker (Tukang Pola)')
10532 Marketing Civil Engineer (Urgently Needed)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Civil Engineer (Urgently Needed)')
10533 Property Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Property Consultant')
10534 It Security
INSERT INTO job_vacancies (title) VALUES ( 'It Security')
10535 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
10536 Marketing & Verification Officer (Js - Mvo) Rantau Prapat
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Rantau Prapat')
10537 Graphic Design Staff
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design Staff')
10538 Community Event Manager
INSERT INTO job_vacancies (title) VALUES ( 'Community Event Manager')
10539 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
10540 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
10541 Brand Acquisition And Kol Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Acquisition And Kol Manager')
10542 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
10543 Business Development Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Consultant')
10544 Manager Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Manager Hrd')
10545 Java Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Java Programmer')
10546 Sales Representative (Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Sukabumi)')
10547 Airport Office Manager
INSERT INTO job_vacancies (title) VALUES ( 'Airport Office Manager')
10548 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
10549 Creative Designer
INSERT INTO job_vacancies (title) VALUES ( 'Creative Designer')
10550 Mekanik Elektrikal Dan Kaki Kaki Truk
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Elektrikal Dan Kaki Kaki Truk')
10551 Property Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Property Consultant')
10552 Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ga Staff')
10553 Mobile Developer Flutter
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer Flutter')
10554 Senior Tax Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Consultant')
10555 Senior Tax Associate
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax Associate')
10556 Branch Manager
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager')
10557 Guru Tik Sekolah  (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Guru Tik Sekolah  (Bandung)')
10558 Head Of Business Development (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Business Development (Mandarin Speaker)')
10559 Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Manager')
10560 Reporting & Analytics Manager
INSERT INTO job_vacancies (title) VALUES ( 'Reporting & Analytics Manager')
10561 Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Akunting')
10562 Social Media Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing')
10563 Cook Helper
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper')
10564 Purchasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Manager')
10565 Credit Marketing Officer - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Surabaya')
10566 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
10567 Department Assistant (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Department Assistant (Mandarin Speaker)')
10568 Retail Funding Relationship Manager (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Funding Relationship Manager (Jabodetabek)')
10569 Sales System Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales System Officer')
10570 Sales Force (Denpasar, Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Force (Denpasar, Bali)')
10571 Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer')
10572 Staff Revenue Control
INSERT INTO job_vacancies (title) VALUES ( 'Staff Revenue Control')
10573 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
10574 Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Accountant')
10575 Smartfren 4G Specialist (Sgs) / Promotor North East Java
INSERT INTO job_vacancies (title) VALUES ( 'Smartfren 4G Specialist (Sgs) / Promotor North East Java')
10576 Teknisi Fiber Optic-Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Fiber Optic-Lampung')
10577 Nurse (Sudirman)
INSERT INTO job_vacancies (title) VALUES ( 'Nurse (Sudirman)')
10578 Sap Abap Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Abap Consultant')
10579 Human Resources Administration (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Administration (Solo)')
10580 Marketing Staff (English & Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff (English & Mandarin Speaker)')
10581 Grid Network Motion Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Grid Network Motion Graphic')

10582 Senior Automation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Automation Engineer')
10583 Asisten Dokter
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Dokter')
10584 Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online')
10585 Bambini Montessori School (Perawat Cum Tenaga Kesehatan)
INSERT INTO job_vacancies (title) VALUES ( 'Bambini Montessori School (Perawat Cum Tenaga Kesehatan)')
10586 Marketing Supervisor Health Care Instrument Medan (Mkt Spv Hci-Mdn)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor Health Care Instrument Medan (Mkt Spv Hci-Mdn)')
10587 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
10588 Sales Jewellery Representative - Balikpapan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Jewellery Representative - Balikpapan')
10589 Mandarin Translator (Site)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator (Site)')
10590 Hr Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager')
10591 Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance')
10592 Etl Developer
INSERT INTO job_vacancies (title) VALUES ( 'Etl Developer')
10593 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
10594 Business Development Executive Semarang Purwokerto Pekalongan Purwodadi Salatiga Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive Semarang Purwokerto Pekalongan Purwodadi Salatiga Tegal')
10595 Head Of Digital Corporate Legal
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Digital Corporate Legal')
10596 Photo Editor - Afternoon Shift
INSERT INTO job_vacancies (title) VALUES ( 'Photo Editor - Afternoon Shift')
10597 Sistem Dan Prosedur
INSERT INTO job_vacancies (title) VALUES ( 'Sistem Dan Prosedur')
10598 Internal Audit Manager
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Manager')
10599 Sap Abap Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sap Abap Consultant')
10600 Human Resources Administration (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Administration (Solo)')
10601 Marketing Staff (English & Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff (English & Mandarin Speaker)')
10602 Secretary Of Ceo & Hr (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Secretary Of Ceo & Hr (Mandarin Speaker)')
10603 Senior Content Reviewer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Content Reviewer')
10604 Sales & Promotion Section Head (S&Psh-Bsd-Comm Bsd12) - Project Akasa Apartment
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Promotion Section Head (S&Psh-Bsd-Comm Bsd12) - Project Akasa Apartment')
10605 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10606 Credit Marketing Officer - Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Bekasi')
10607 Credit Marketing Mobil Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Mobil Tasikmalaya')
10608 Japanese Interpreter
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Interpreter')
10609 Finance (Payment) Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance (Payment) Staff')
10610 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
10611 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10612 Market Development Lead
INSERT INTO job_vacancies (title) VALUES ( 'Market Development Lead')
10613 Grid Network Motion Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Grid Network Motion Graphic')
10614 Senior Automation Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Automation Engineer')
10615 Maintenance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Manager')
10616 Sales (Account Executive) Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Account Executive) Jakarta')
10617 Nursery / Kindergarten Teacher Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Nursery / Kindergarten Teacher Assistant')
10618 Ka Pabrik + Ka Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Ka Pabrik + Ka Gudang')
10619 Web Designer
INSERT INTO job_vacancies (title) VALUES ( 'Web Designer')
10620 Credit Marketing Officer - Tegal
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Tegal')
10621 Funding Officer
INSERT INTO job_vacancies (title) VALUES ( 'Funding Officer')
10622 Plant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Plant Manager')
10623 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
10624 Data Science Support
INSERT INTO job_vacancies (title) VALUES ( 'Data Science Support')
10625 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
10626 Senior Mobile Developer (Hybrid)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mobile Developer (Hybrid)')
10627 Mandarin Translator (Pulau Obi, Maluku Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator (Pulau Obi, Maluku Utara)')
10628 Marketing Officer ( Domisili Denpasar )
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer ( Domisili Denpasar )')
10629 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
10630 Managing Director
INSERT INTO job_vacancies (title) VALUES ( 'Managing Director')
10631 Credit Marketing Officer - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Semarang')
10632 Credit Marketing Officer - Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Tasikmalaya')
10633 Senior Tester
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tester')
10634 Area Sales Manager (Retail)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager (Retail)')
10635 Dokter Umum
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Umum')
10636 Product Marketing Representative
INSERT INTO job_vacancies (title) VALUES ( 'Product Marketing Representative')
10637 Credit Marketing Officer - Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Bogor')
10638 Field Collection - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bandung')
10639 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
10640 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
10641 National Sales And Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'National Sales And Operation Manager')
10642 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
10643 Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'Content Writer')
10644 Senior Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior Data Analyst')
10645 Technical Sales Manager - Premix & Feed Additives
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Manager - Premix & Feed Additives')
10646 Key Account Management Manager
INSERT INTO job_vacancies (title) VALUES ( 'Key Account Management Manager')
10647 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10648 Senior Accounting & Tax Consultant Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting & Tax Consultant Staff')
10649 Manager Hrd (Penempatan Site)
INSERT INTO job_vacancies (title) VALUES ( 'Manager Hrd (Penempatan Site)')
10650 Admin Sales (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales (Balikpapan)')
10651 Sharia Sales Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Sharia Sales Advisor')
10652 Hr & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga')
10653 Recovery Coordinator (Area Sumatera Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Coordinator (Area Sumatera Utara)')
10654 Leasing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Manager')
10655 Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer')
10656 Hr Manager (Hospitality)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager (Hospitality)')
10657 Staff Humas
INSERT INTO job_vacancies (title) VALUES ( 'Staff Humas')
10658 Tax Officer
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer')
10659 It Governance Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Governance Staff')
10660 Ehs Assistant - Placement In Central Kalimantan Site (Sampit)
INSERT INTO job_vacancies (title) VALUES ( 'Ehs Assistant - Placement In Central Kalimantan Site (Sampit)')
10661 It Junior
INSERT INTO job_vacancies (title) VALUES ( 'It Junior')
10662 Store Designer
INSERT INTO job_vacancies (title) VALUES ( 'Store Designer')
10663 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
10664 Credit Marketing Officer - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Bandung')
10665 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
10666 Warehouse Logistics Staff
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Logistics Staff')
10667 Software Architect
INSERT INTO job_vacancies (title) VALUES ( 'Software Architect')
10668 Credit Marketing Officer - Karawang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Karawang')
10669 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
10670 Primary Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Primary Teachers')
10671 English Teacher (Kindergarten)
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher (Kindergarten)')
10672 Market Development Lead
INSERT INTO job_vacancies (title) VALUES ( 'Market Development Lead')
10673 Service Advisor Penempatan Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Service Advisor Penempatan Jabodetabek')
10674 R&D Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'R&D Supervisor')
10675 Fisikawan Medis (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Fisikawan Medis (Makassar)')
10676 Inventory Planner Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Planner Supervisor')
10677 Health Benefit Claim Manager
INSERT INTO job_vacancies (title) VALUES ( 'Health Benefit Claim Manager')
10678 Oracle Functional Consultant (E-Business Suite  /  Netsuite)
INSERT INTO job_vacancies (title) VALUES ( 'Oracle Functional Consultant (E-Business Suite  /  Netsuite)')
10679 Interior & Exhibition Design
INSERT INTO job_vacancies (title) VALUES ( 'Interior & Exhibition Design')
10680 Personal Assistant  /  Secretary - Placement In East Kalimantan Site
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant  /  Secretary - Placement In East Kalimantan Site')
10681 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
10682 Staf Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staf Admin')
10683 System Improvement Staff
INSERT INTO job_vacancies (title) VALUES ( 'System Improvement Staff')
10684 Fashion Creative
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Creative')
10685 Credit Marketing Officer Used Car (Jakarta Utara & Bogor)
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Used Car (Jakarta Utara & Bogor)')
10686 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
10687 Accounting Staff (Eleganza)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (Eleganza)')
10688 Credit Marketing Officer - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Malang')
10689 Sales Associate | Under Armour
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate | Under Armour')
10690 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
10691 Staf Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Staf Marketing')
10692 Customer Relationship Management (Crm Expert)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relationship Management (Crm Expert)')
10693 Sales Representative (Honda Tebet)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Honda Tebet)')
10694 Pharmacist Trainer (Medan Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Pharmacist Trainer (Medan Placement)')
10695 Supervisor Chemical
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Chemical')
10696 It Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Software Developer')
10697 Inventory Planner Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Planner Supervisor')
10698 Health Benefit Claim Manager
INSERT INTO job_vacancies (title) VALUES ( 'Health Benefit Claim Manager')
10699 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
10700 Beauty Doctor  (Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Doctor  (Batam)')
10701 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
10702 Dokter Hewan – Veterinary
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Hewan – Veterinary')
10703 Sales Manager Project  ( Cctv, Access System, Door Lock, Barrier Gate & Security System Product )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Project  ( Cctv, Access System, Door Lock, Barrier Gate & Security System Product )')
10704 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
10705 Sales Project (Penempatan Di Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project (Penempatan Di Jakarta)')
10706 Oracle Functional Consultant (E-Business Suite  /  Netsuite)
INSERT INTO job_vacancies (title) VALUES ( 'Oracle Functional Consultant (E-Business Suite  /  Netsuite)')
10707 Interior & Exhibition Design
INSERT INTO job_vacancies (title) VALUES ( 'Interior & Exhibition Design')
10708 Personal Assistant  /  Secretary - Placement In East Kalimantan Site
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant  /  Secretary - Placement In East Kalimantan Site')
10709 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
10710 Sales Project (Penempatan Di Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project (Penempatan Di Jakarta)')
10711 Accounting Staff (Eleganza)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff (Eleganza)')
10712 Credit Marketing Officer - Malang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Malang')
10713 Sales Associate | Under Armour
INSERT INTO job_vacancies (title) VALUES ( 'Sales Associate | Under Armour')
10714 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
10715 Customer Relationship Management (Crm Expert)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Relationship Management (Crm Expert)')
10716 Sales Representative (Honda Tebet)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Honda Tebet)')
10717 Supervisor Chemical
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Chemical')
10718 Graphic Designer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer Staff')
10719 Perawat
INSERT INTO job_vacancies (title) VALUES ( 'Perawat')
10720 Staff Accounting Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting Bekasi')
10721 Staff Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Staff Product Development')
10722 Senior Credit Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Senior Credit Analyst')
10723 Credit Marketing Officer Mobil - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Yogyakarta')
10724 Senior Mobile Developer  /  Senior Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mobile Developer  /  Senior Flutter Developer')
10725 Senior Mechanical Design Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mechanical Design Engineer')
10726 Supervisor Sales Executive Aesthetic Devices [Jakarta]
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Sales Executive Aesthetic Devices [Jakarta]')
10727 Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative')
10728 Beauty Doctor  (Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Doctor  (Batam)')
10729 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')

10730 Pharmacist Trainer (Medan Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Pharmacist Trainer (Medan Placement)')
10731 Dokter Hewan – Veterinary
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Hewan – Veterinary')
10732 Sales Manager Project  ( Cctv, Access System, Door Lock, Barrier Gate & Security System Product )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager Project  ( Cctv, Access System, Door Lock, Barrier Gate & Security System Product )')
10733 Marketing Communication Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Supervisor')
10734 Content Creator Social Media
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Social Media')
10735 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
10736 Market & Liquidity Risk Management
INSERT INTO job_vacancies (title) VALUES ( 'Market & Liquidity Risk Management')
10737 Mt Restaurant Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Mt Restaurant Supervisor')
10738 Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor')
10739 Partnership Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Partnership Specialist')
10740 Hrd And Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrd And Ga Manager')
10741 Fleet Credit Marketing Officer - Medan Area
INSERT INTO job_vacancies (title) VALUES ( 'Fleet Credit Marketing Officer - Medan Area')
10742 Group Leader Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Group Leader Purchasing')
10743 Admin Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Admin Auditor')
10744 Software Tester
INSERT INTO job_vacancies (title) VALUES ( 'Software Tester')
10745 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
10746 Staff Billing & Collection
INSERT INTO job_vacancies (title) VALUES ( 'Staff Billing & Collection')
10747 Odr - Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Odr - Software Engineer')
10748 Business Improvement Process
INSERT INTO job_vacancies (title) VALUES ( 'Business Improvement Process')
10749 Hse Officer (Revegetation)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer (Revegetation)')
10750 Cost Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Cost Accounting')
10751 Internship (Ga / Hrd)
INSERT INTO job_vacancies (title) VALUES ( 'Internship (Ga / Hrd)')
10752 Sales Project Interior
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project Interior')
10753 Drafter Design
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Design')
10754 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10755 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
10756 Hse Manager - Balikpapan (Non-Rotation), Construction Industry
INSERT INTO job_vacancies (title) VALUES ( 'Hse Manager - Balikpapan (Non-Rotation), Construction Industry')
10757 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
10758 Senior Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Electrical Engineer')
10759 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
10760 Interpreter Bahasa Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Interpreter Bahasa Mandarin')
10761 Faa Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Faa Supervisor')
10762 Enterprise Sales Account Executive Bali
INSERT INTO job_vacancies (title) VALUES ( 'Enterprise Sales Account Executive Bali')
10763 Area Sales Supervisor (Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Makassar)')
10764 It Government Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'It Government Coordinator')
10765 Senior Product (Ui Ux) Designer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Product (Ui Ux) Designer')
10766 Social Media Manager - Studio Kuskus
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Manager - Studio Kuskus')
10767 Life Planner (Full Time & Part Time) - Medan
INSERT INTO job_vacancies (title) VALUES ( 'Life Planner (Full Time & Part Time) - Medan')
10768 Admin Registrasi Produk & Impor
INSERT INTO job_vacancies (title) VALUES ( 'Admin Registrasi Produk & Impor')
10769 Business Development Executive Medan Tanah Karo Kabanjahe Binjai Langkat Pematang Siantar Aceh Sabang Padang Sidempuan
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive Medan Tanah Karo Kabanjahe Binjai Langkat Pematang Siantar Aceh Sabang Padang Sidempuan')
10770 Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Sales Project')
10771 Staff Admin Online (Magang)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Online (Magang)')
10772 Supervisor Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Warehouse')
10773 Sales Alat Kesehatan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Alat Kesehatan')
10774 Field Sales Officer (Semarang Dan Jogja Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales Officer (Semarang Dan Jogja Area)')
10775 Dosen Program Studi Pariwisata
INSERT INTO job_vacancies (title) VALUES ( 'Dosen Program Studi Pariwisata')
10776 Credit Marketing Officer - Solo
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Solo')
10777 Supervisor Akunting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Akunting')
10778 Credit Marketing Officer - Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer - Cirebon')
10779 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
10780 Sales Canvas
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvas')
10781 Accounting Support (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Support (Solo)')
10782 Hr Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment Staff')
10783 Sales Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive')
10784 Business Development Specialist (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Specialist (Mandarin Speaking)')
10785 Formulation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Formulation Supervisor')
10786 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
10787 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
10788 .Net - Angular Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net - Angular Developer')
10789 Learning Facilitator (Manufacture / Logistic Company)
INSERT INTO job_vacancies (title) VALUES ( 'Learning Facilitator (Manufacture / Logistic Company)')
10790 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
10791 Junior Technical Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Junior Technical Account Executive')
10792 Insurance Sales (Penempatan Jakarta & Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Insurance Sales (Penempatan Jakarta & Bandung)')
10793 Supervisor Maintenance Technical Printing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Maintenance Technical Printing')
10794 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
10795 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
10796 Foreman Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Produksi')
10797 Instrumentation Service Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Instrumentation Service Engineering')
10798 Creative Content Manager
INSERT INTO job_vacancies (title) VALUES ( 'Creative Content Manager')
10799 Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer')
10800 Pr & Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Pr & Digital Marketing Staff')
10801 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10802 Streaming Operation Supervisor (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Streaming Operation Supervisor (Mandarin Speaker)')
10803 Land Operation Team Leader Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Team Leader Shopee Express (Pekanbaru)')
10804 Office Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Office Assistant')
10805 Online Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Online Marketing')
10806 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
10807 Productivity & System Development Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Productivity & System Development Analyst')
10808 Product Executive (Medical Devices & Pharmacy)
INSERT INTO job_vacancies (title) VALUES ( 'Product Executive (Medical Devices & Pharmacy)')
10809 R & D Chef
INSERT INTO job_vacancies (title) VALUES ( 'R & D Chef')
10810 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
10811 Japanese Speaker Staff
INSERT INTO job_vacancies (title) VALUES ( 'Japanese Speaker Staff')
10812 Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Technical Consultant')
10813 Sales Horeca
INSERT INTO job_vacancies (title) VALUES ( 'Sales Horeca')
10814 Content Creator  /  Writter
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator  /  Writter')
10815 Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker')
10816 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
10817 Administrasi Gudang Pusat
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Gudang Pusat')
10818 Senior Account Officer Lending
INSERT INTO job_vacancies (title) VALUES ( 'Senior Account Officer Lending')
10819 Ka. Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Ka. Administrasi')
10820 Customer Credit Head
INSERT INTO job_vacancies (title) VALUES ( 'Customer Credit Head')
10821 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
10822 Mobile Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Application Developer')
10823 English Teacher - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher - Cikarang')
10824 Service Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Service Advisor')
10825 Admin Online Shop Dan Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Admin Online Shop Dan Live Streaming')
10826 Branch Head
INSERT INTO job_vacancies (title) VALUES ( 'Branch Head')
10827 Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Tax Manager')
10828 Aesthetic Doctor (Jakarta-Surabaya Area)
INSERT INTO job_vacancies (title) VALUES ( 'Aesthetic Doctor (Jakarta-Surabaya Area)')
10829 Maintenance Technician (Telecommunication) Banjarmasin-Banjarbaru
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Technician (Telecommunication) Banjarmasin-Banjarbaru')
10830 Project Interior Design Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Interior Design Assistant Manager')
10831 Beautician ( Cibubur Junction)
INSERT INTO job_vacancies (title) VALUES ( 'Beautician ( Cibubur Junction)')
10832 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
10833 Cook Pastry
INSERT INTO job_vacancies (title) VALUES ( 'Cook Pastry')
10834 Recovery Coordinator (Area Lampung)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Coordinator (Area Lampung)')
10835 In-App Staff
INSERT INTO job_vacancies (title) VALUES ( 'In-App Staff')
10836 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
10837 Laboratory Information Service (Marketing) - Jawa Timur, Nusa Tenggara
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Information Service (Marketing) - Jawa Timur, Nusa Tenggara')
10838 Sales & Business Excellence Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Business Excellence Manager')
10839 Telesales Associate
INSERT INTO job_vacancies (title) VALUES ( 'Telesales Associate')
10840 Sales Engineer (Cabang Sukabumi)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Cabang Sukabumi)')
10841 Leader Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Leader Produksi')
10842 Front End  /  Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End  /  Web Developer')
10843 Frontend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Engineer')
10844 Technical Operator (Produksi)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Operator (Produksi)')
10845 Software Test Engineer (Automation And Manual)
INSERT INTO job_vacancies (title) VALUES ( 'Software Test Engineer (Automation And Manual)')
10846 Staf Kemitraan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Kemitraan')
10847 Senior Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Devops Engineer')
10848 Budgeting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Budgeting Staff')
10849 Konsultan Medis (Dokter) Penempatan Jember
INSERT INTO job_vacancies (title) VALUES ( 'Konsultan Medis (Dokter) Penempatan Jember')
10850 Spv Hr
INSERT INTO job_vacancies (title) VALUES ( 'Spv Hr')
10851 Junior Supervisor Database Operation
INSERT INTO job_vacancies (title) VALUES ( 'Junior Supervisor Database Operation')
10852 Mandarin Translator And Pa
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator And Pa')
10853 Talent Acquisition Lead
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Lead')
10854 Senior Account Officer Lending
INSERT INTO job_vacancies (title) VALUES ( 'Senior Account Officer Lending')
10855 Senior Mechanical Trainer (Based In Pangkalan Kerinci)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Mechanical Trainer (Based In Pangkalan Kerinci)')
10856 Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ios Developer')
10857 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
10858 Administration Staff (Js - Adm) - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) - Cikarang')
10859 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
10860 Recruitment Staff (Solo & Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff (Solo & Medan)')
10861 Call Center Kesehatan Masyarakat
INSERT INTO job_vacancies (title) VALUES ( 'Call Center Kesehatan Masyarakat')
10862 Technical Operator (Produksi)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Operator (Produksi)')
10863 Manager Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Digital Marketing')
10864 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
10865 Seo Officer
INSERT INTO job_vacancies (title) VALUES ( 'Seo Officer')
10866 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
10867 C Engineer
INSERT INTO job_vacancies (title) VALUES ( 'C Engineer')
10868 Nodejs Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Nodejs Programmer')
10869 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
10870 Shopee Express - Recruitment (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment (Jakarta)')
10871 Hse Clerk (Contract Position)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Clerk (Contract Position)')
10872 Software Engineer Flutter (Jogja Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer Flutter (Jogja Placement)')
10873 Casualty Underwriter
INSERT INTO job_vacancies (title) VALUES ( 'Casualty Underwriter')
10874 Sales Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive')
10875 Senior Quality Assurance Tester
INSERT INTO job_vacancies (title) VALUES ( 'Senior Quality Assurance Tester')
10876 Ar Follow Up Staff (Pontianak)
INSERT INTO job_vacancies (title) VALUES ( 'Ar Follow Up Staff (Pontianak)')
10877 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
10878 Digital Marketing (Google Ads & Manajemen Leads)
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing (Google Ads & Manajemen Leads)')
10879 Staf Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Accounting')
10880 It Application Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Application Officer')
10881 Business Development - Logistic Saas - Kargo Nexus For Shippers
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Logistic Saas - Kargo Nexus For Shippers')
10882 Senior It Account Manager (Sales)
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Account Manager (Sales)')
10883 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
10884 Purchasing & Admin Project (General Contractor - Private House)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing & Admin Project (General Contractor - Private House)')
10885 Manufacturing Trainee Program
INSERT INTO job_vacancies (title) VALUES ( 'Manufacturing Trainee Program')
10886 Validation Transaction Associate
INSERT INTO job_vacancies (title) VALUES ( 'Validation Transaction Associate')
10887 Province Operation Lead Shopee Express (Palembang)
INSERT INTO job_vacancies (title) VALUES ( 'Province Operation Lead Shopee Express (Palembang)')
10888 Sustainability Compliance Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sustainability Compliance Officer')
10889 Hrd Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Officer')
10890 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
10891 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
10892 Senior Financial Advisor (Bancassurance) - Jakarta Utara
INSERT INTO job_vacancies (title) VALUES ( 'Senior Financial Advisor (Bancassurance) - Jakarta Utara')
10893 Field Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Field Auditor')
10894 (Jv2205012) Account Officer - Sales - Bandung
INSERT INTO job_vacancies (title) VALUES ( '(Jv2205012) Account Officer - Sales - Bandung')
10895 Cook
INSERT INTO job_vacancies (title) VALUES ( 'Cook')
10896 Direct Sales
INSERT INTO job_vacancies (title) VALUES ( 'Direct Sales')
10897 Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Seo Specialist')
10898 Supervisor Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Engineering')
10899 Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'Content Writer')
10900 Head Sales Oem (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Head Sales Oem (Mandarin Speaker)')
10901 Branch Operation Staff
INSERT INTO job_vacancies (title) VALUES ( 'Branch Operation Staff')

10902 Fare Load With English Communication Skills
INSERT INTO job_vacancies (title) VALUES ( 'Fare Load With English Communication Skills')
10903 Cro Executive
INSERT INTO job_vacancies (title) VALUES ( 'Cro Executive')
10904 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10905 Game Artist And Animator
INSERT INTO job_vacancies (title) VALUES ( 'Game Artist And Animator')
10906 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
10907 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
10908 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
10909 Architect - Bsd (Absd-Bsd-Pss11)
INSERT INTO job_vacancies (title) VALUES ( 'Architect - Bsd (Absd-Bsd-Pss11)')
10910 Senior Cook
INSERT INTO job_vacancies (title) VALUES ( 'Senior Cook')
10911 Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer')
10912 Senior .Net Analyst Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Senior .Net Analyst Programmer')
10913 Vessel Operator (Shipping Agency)
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Operator (Shipping Agency)')
10914 Maintenance Management Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Management Shopee Express (Pekanbaru)')
10915 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
10916 Account Receivable Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Staff')
10917 Warehouse & Logistic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Logistic Supervisor')
10918 Data Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'Data Support Staff')
10919 Design Graphic
INSERT INTO job_vacancies (title) VALUES ( 'Design Graphic')
10920 Web Developer & Seo Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer & Seo Specialist')
10921 Account Payable Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Specialist')
10922 Penanggung Jawab Teknis
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab Teknis')
10923 Admin Produksi Peternakan Ayam
INSERT INTO job_vacancies (title) VALUES ( 'Admin Produksi Peternakan Ayam')
10924 Export Document Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Export Document Foreman')
10925 Internship Visual Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Internship Visual Merchandiser')
10926 Leader Gudang Lapak
INSERT INTO job_vacancies (title) VALUES ( 'Leader Gudang Lapak')
10927 Hr Generalis
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalis')
10928 Sales Representative (Honda Megah Cinere)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative (Honda Megah Cinere)')
10929 Staff Administrasi & Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Administrasi & Keuangan')
10930 Beauty Consultant (Surabaya Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Consultant (Surabaya Barat)')
10931 Staff Gudang Baku
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang Baku')
10932 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
10933 Maintenance Management Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Management Shopee Express (Pekanbaru)')
10934 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
10935 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
10936 Leader Shift Shopee Express - Hub Pallangga (Kab. Gowa, Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Shift Shopee Express - Hub Pallangga (Kab. Gowa, Sulawesi Selatan)')
10937 Utility & Environmental Manager
INSERT INTO job_vacancies (title) VALUES ( 'Utility & Environmental Manager')
10938 Recover Collector (Area Jadetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Recover Collector (Area Jadetabek)')
10939 Land Operation Admin Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Land Operation Admin Shopee Express (Pekanbaru)')
10940 Supervisor Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Gudang')
10941 Software Quality Engineer Lead
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Engineer Lead')
10942 Kepala Bidang Medis
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bidang Medis')
10943 Manager Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing')
10944 Qshe Management System &  Document Controller Staff-Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Qshe Management System &  Document Controller Staff-Jakarta')
10945 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
10946 Salesman ( Bandung )
INSERT INTO job_vacancies (title) VALUES ( 'Salesman ( Bandung )')
10947 Recovery Collector (Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Jawa Barat)')
10948 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
10949 Web Developer (C#)
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer (C#)')
10950 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
10951 Leader Shift Shopee Express - Hub Pallangga (Kab. Gowa, Sulawesi Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Shift Shopee Express - Hub Pallangga (Kab. Gowa, Sulawesi Selatan)')
10952 Manager Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Manager Marketing')
10953 Qshe Management System &  Document Controller Staff-Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Qshe Management System &  Document Controller Staff-Jakarta')
10954 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
10955 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
10956 Recovery Collector (Jawa Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Recovery Collector (Jawa Barat)')
10957 Web Developer (C#)
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer (C#)')
10958 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
10959 Admin Kantor / Online / Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Kantor / Online / Gudang')
10960 Chef De Partie
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie')
10961 Digital Marketing Leader
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Leader')
10962 Kepala Urusan Pencatatan Dan Pelaporan Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Urusan Pencatatan Dan Pelaporan Keuangan')
10963 Web Programmer (Ximpay)
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer (Ximpay)')
10964 Sales Officer (Cmo) - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer (Cmo) - Jakarta')
10965 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
10966 Utility & Environmental Manager
INSERT INTO job_vacancies (title) VALUES ( 'Utility & Environmental Manager')
10967 Recover Collector (Area Jadetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Recover Collector (Area Jadetabek)')
10968 Supervisor Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Gudang')
10969 Software Quality Engineer Lead
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Engineer Lead')
10970 Kepala Bidang Medis
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bidang Medis')
10971 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
10972 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
10973 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
10974 Product Development & Innovation Executive
INSERT INTO job_vacancies (title) VALUES ( 'Product Development & Innovation Executive')
10975 Staff Purchasing Exim
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing Exim')
10976 Supervisor Environment
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Environment')
10977 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
10978 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
10979 Asisten Instruktur Konsultan Programming
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Instruktur Konsultan Programming')
10980 Admin Verification Telephone
INSERT INTO job_vacancies (title) VALUES ( 'Admin Verification Telephone')
10981 Livestream Performance Marketing Specialist (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Livestream Performance Marketing Specialist (Mandarin)')
10982 Business Representative
INSERT INTO job_vacancies (title) VALUES ( 'Business Representative')
10983 Translator (Mandarin Verbal & Written)
INSERT INTO job_vacancies (title) VALUES ( 'Translator (Mandarin Verbal & Written)')
10984 Software Quality Assurance Analyst (Middle To Senior Level)
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance Analyst (Middle To Senior Level)')
10985 Customer Service Admin Online
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Admin Online')
10986 Sales Person Dana Jasa
INSERT INTO job_vacancies (title) VALUES ( 'Sales Person Dana Jasa')
10987 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
10988 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
10989 Hse Administator (Safety) - Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hse Administator (Safety) - Staff')
10990 Supervisor Delivery Logistic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Delivery Logistic')
10991 Sales Teknologi
INSERT INTO job_vacancies (title) VALUES ( 'Sales Teknologi')
10992 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
10993 Perawat Gigi (Dental Assistant)
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Gigi (Dental Assistant)')
10994 Training Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Training Advisor')
10995 Assistant Pastry Chef
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Pastry Chef')
10996 Cosmetic Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Cosmetic Business Development')
10997 Guru Smk Otomotif
INSERT INTO job_vacancies (title) VALUES ( 'Guru Smk Otomotif')
10998 Vessel Monitoring Group Leader
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Monitoring Group Leader')
10999 Area Sales Manager - Financial Network Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager - Financial Network Advisor')
11000 Admin Gudang (Penempatan : Cakung, Jakarta Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang (Penempatan : Cakung, Jakarta Timur)')
11001 Chef
INSERT INTO job_vacancies (title) VALUES ( 'Chef')
11002 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
11003 Graphic Design & Videographer Internship
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design & Videographer Internship')
11004 Admin Surabaya Branch
INSERT INTO job_vacancies (title) VALUES ( 'Admin Surabaya Branch')
11005 Software Engineer .Net (Jogja Placement)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer .Net (Jogja Placement)')
11006 Business Development - Logistic Saas - Kargo Nexus For Transporter
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Logistic Saas - Kargo Nexus For Transporter')
11007 Android Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Android Programmer')
11008 Stock Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Stock Administrasi')
11009 Nurse (Cinere)
INSERT INTO job_vacancies (title) VALUES ( 'Nurse (Cinere)')
11010 Sales Admin Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Surabaya')
11011 Sales Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Lapangan')
11012 Dynamics 365 Bc Functional Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Dynamics 365 Bc Functional Consultant')
11013 Sampoerna Academy - Secondary - Social Studies - Ay 22 / 23
INSERT INTO job_vacancies (title) VALUES ( 'Sampoerna Academy - Secondary - Social Studies - Ay 22 / 23')
11014 Reporter Nextren Penempatan Solo
INSERT INTO job_vacancies (title) VALUES ( 'Reporter Nextren Penempatan Solo')
11015 Data Visualization
INSERT INTO job_vacancies (title) VALUES ( 'Data Visualization')
11016 Unity Game Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Unity Game Engineer')
11017 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
11018 Management Trainee - Land Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee - Land Surveyor')
11019 Staff Finance Dan Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Dan Accounting')
11020 Assistant Section Chief Hr
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Section Chief Hr')
11021 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
11022 Data Visualization
INSERT INTO job_vacancies (title) VALUES ( 'Data Visualization')
11023 Unity Game Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Unity Game Engineer')
11024 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
11025 Guru Smk Otomotif
INSERT INTO job_vacancies (title) VALUES ( 'Guru Smk Otomotif')
11026 It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Project Manager')
11027 Area Sales Manager - Financial Network Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager - Financial Network Advisor')
11028 Admin Gudang (Penempatan : Cakung, Jakarta Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang (Penempatan : Cakung, Jakarta Timur)')
11029 Chef
INSERT INTO job_vacancies (title) VALUES ( 'Chef')
11030 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
11031 Graphic Design & Videographer Internship
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design & Videographer Internship')
11032 Admin Surabaya Branch
INSERT INTO job_vacancies (title) VALUES ( 'Admin Surabaya Branch')
11033 Full Stack Website Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Website Developer')
11034 Sales Admin Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin Surabaya')
11035 Sales Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Sales Lapangan')
11036 Ui  /  Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui  /  Ux Designer')
11037 Spv Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Spv Warehouse')
11038 Life Planner (Full Time & Part Time) - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Life Planner (Full Time & Part Time) - Bandung')
11039 Dokter Penanggung Jawab Klinik
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Penanggung Jawab Klinik')
11040 Financial Spesialist (Makassar, Bone)
INSERT INTO job_vacancies (title) VALUES ( 'Financial Spesialist (Makassar, Bone)')
11041 It Programmer Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer Officer')
11042 Vessel Monitoring Group Leader
INSERT INTO job_vacancies (title) VALUES ( 'Vessel Monitoring Group Leader')
11043 Beauty Doctor  (Area Tasikmalaya)
INSERT INTO job_vacancies (title) VALUES ( 'Beauty Doctor  (Area Tasikmalaya)')
11044 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
11045 Dynamics 365 Bc Functional Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Dynamics 365 Bc Functional Consultant')
11046 Sampoerna Academy - Secondary - Social Studies - Ay 22 / 23
INSERT INTO job_vacancies (title) VALUES ( 'Sampoerna Academy - Secondary - Social Studies - Ay 22 / 23')
11047 Reporter Nextren Penempatan Solo
INSERT INTO job_vacancies (title) VALUES ( 'Reporter Nextren Penempatan Solo')
11048 Radiografer
INSERT INTO job_vacancies (title) VALUES ( 'Radiografer')
11049 Interior Designer Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer Mandarin')
11050 Organization Development
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development')
11051 Biotechnology Training Program
INSERT INTO job_vacancies (title) VALUES ( 'Biotechnology Training Program')
11052 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
11053 Cimb Niaga Internship Teller Program - Penempatan Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Cimb Niaga Internship Teller Program - Penempatan Bandung')
11054 Shopee Express - Recruitment (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment (Yogyakarta)')
11055 Marketing & Verification Officer (Js - Mvo) Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Semarang')
11056 Life Planner (Full Time & Part Time) - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Life Planner (Full Time & Part Time) - Tangerang')
11057 Staf Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staf Pajak')
11058 Staf Gudang Sparepart Dan Sales Counter Sparepart
INSERT INTO job_vacancies (title) VALUES ( 'Staf Gudang Sparepart Dan Sales Counter Sparepart')
11059 Mobile Application Developer (Android And Ios)
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Application Developer (Android And Ios)')
11060 Junior Tax Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Junior Tax Consultant')

11061 Sales Corporate Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Corporate Staff')
11062 Shopee Express - Talesales Agent (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Talesales Agent (Sunter)')
11063 Membership Consultant (Jakarta, Tangerang, Jawa Timur, Jawa Tengah, Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Membership Consultant (Jakarta, Tangerang, Jawa Timur, Jawa Tengah, Bali)')
11064 Life Planner (Full Time & Part Time) - Malang, Jawa Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Life Planner (Full Time & Part Time) - Malang, Jawa Tengah')
11065 Sea Sales Data Entry
INSERT INTO job_vacancies (title) VALUES ( 'Sea Sales Data Entry')
11066 It Programmer
INSERT INTO job_vacancies (title) VALUES ( 'It Programmer')
11067 [ Project-Based ] Senior Recruiter
INSERT INTO job_vacancies (title) VALUES ( '[ Project-Based ] Senior Recruiter')
11068 Software Engineer (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer (Bandung)')
11069 Social Media & Communication Intern
INSERT INTO job_vacancies (title) VALUES ( 'Social Media & Communication Intern')
11070 Tenaga Teknis Kefarmasian (Ttk), Asisten Apoteker (Aa)
INSERT INTO job_vacancies (title) VALUES ( 'Tenaga Teknis Kefarmasian (Ttk), Asisten Apoteker (Aa)')
11071 Regional Corporate Banking Funding Senior Relationship Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Corporate Banking Funding Senior Relationship Manager')
11072 Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Staff')
11073 Parts Sales Domestic Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Parts Sales Domestic Specialist')
11074 Accounting & General Admin
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & General Admin')
11075 Assessment & Development Officer
INSERT INTO job_vacancies (title) VALUES ( 'Assessment & Development Officer')
11076 Finance Assistant  Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Assistant  Manager')
11077 Asisten Apoteker (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker (Bandung)')
11078 Logistic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Supervisor')
11079 Oracle Technical Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Oracle Technical Consultant')
11080 Customer Service Staff
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Staff')
11081 Staff Import Pib
INSERT INTO job_vacancies (title) VALUES ( 'Staff Import Pib')
11082 Senior Staff Hrd / Payroll
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff Hrd / Payroll')
11083 Veterinary
INSERT INTO job_vacancies (title) VALUES ( 'Veterinary')
11084 Legal Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Legal Supervisor')
11085 Staff Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Keuangan')
11086 Electrical Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Inspector')
11087 Hrd Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Supervisor')
11088 Odr - Software Engineer Lead
INSERT INTO job_vacancies (title) VALUES ( 'Odr - Software Engineer Lead')
11089 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
11090 Credit Scoring Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Credit Scoring Data Analyst')
11091 Admin Project Site
INSERT INTO job_vacancies (title) VALUES ( 'Admin Project Site')
11092 Warehouse Supervisor (Denpasar)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor (Denpasar)')
11093 Indonesia Welab Digital Bank - Head Of Cyber Security
INSERT INTO job_vacancies (title) VALUES ( 'Indonesia Welab Digital Bank - Head Of Cyber Security')
11094 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
11095 Middle Php Programmer (Mpp)
INSERT INTO job_vacancies (title) VALUES ( 'Middle Php Programmer (Mpp)')
11096 Rhev Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Rhev Specialist')
11097 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
11098 Backend Developer (.Net) - Hybrid Working
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer (.Net) - Hybrid Working')
11099 Head Of Merchandising Fresh
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Merchandising Fresh')
11100 Java Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Backend Developer')
11101 Design Staff Pembutan Plat Dan Film
INSERT INTO job_vacancies (title) VALUES ( 'Design Staff Pembutan Plat Dan Film')
11102 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
11103 Staf Gudang Depo Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Staf Gudang Depo Sidoarjo')
11104 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11105 Marketing & Verification Officer (Js - Mvo) Probolinggo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Probolinggo')
11106 General Affair Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Supervisor')
11107 Marketing Umkm
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Umkm')
11108 Software Quality Assurance (Automation)
INSERT INTO job_vacancies (title) VALUES ( 'Software Quality Assurance (Automation)')
11109 Brand Customer Project Senior Specialist (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Brand Customer Project Senior Specialist (Mandarin Speaking)')
11110 Application Developer - Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Application Developer - Programmer')
11111 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
11112 Administrasi Sales (Sap Business One)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Sales (Sap Business One)')
11113 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
11114 Design Interior  /  Architect
INSERT INTO job_vacancies (title) VALUES ( 'Design Interior  /  Architect')
11115 Php Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Php Programmer')
11116 Experienced Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Experienced Java Developer')
11117 Shopee Express - Recruitment (Jakarta Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment (Jakarta Barat)')
11118 Mandarin Teacher Assistants
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher Assistants')
11119 Business Analyst Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Staff')
11120 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
11121 Php Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Php Programmer')
11122 Head Of Merchandising Fresh
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Merchandising Fresh')
11123 Design Staff Pembutan Plat Dan Film
INSERT INTO job_vacancies (title) VALUES ( 'Design Staff Pembutan Plat Dan Film')
11124 Staf Gudang Depo Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Staf Gudang Depo Sidoarjo')
11125 Storing & Laka Management Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Storing & Laka Management Shopee Express (Pekanbaru)')
11126 Marketing & Verification Officer (Js - Mvo) Probolinggo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Probolinggo')
11127 General Affair Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Supervisor')
11128 Shopee Express - Recruitment (Jakarta Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment (Jakarta Barat)')
11129 Mandarin Teacher Assistants
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher Assistants')
11130 Business Analyst Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Staff')
11131 Indonesia Welab Digital Bank - Head Of Cyber Security
INSERT INTO job_vacancies (title) VALUES ( 'Indonesia Welab Digital Bank - Head Of Cyber Security')
11132 Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik')
11133 Fire System Maintenance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Fire System Maintenance Manager')
11134 Strategy & Planning Document Control Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Strategy & Planning Document Control Engineer')
11135 Experienced Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Experienced Java Developer')
11136 Mandarin Teacher (Guru Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher (Guru Mandarin)')
11137 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11138 It Staff (Web Developer)
INSERT INTO job_vacancies (title) VALUES ( 'It Staff (Web Developer)')
11139 Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Accounting')
11140 Area Manager (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager (Jakarta)')
11141 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11142 Marketing Umkm
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Umkm')
11143 Brand Customer Project Senior Specialist (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Brand Customer Project Senior Specialist (Mandarin Speaking)')
11144 Application Developer - Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Application Developer - Programmer')
11145 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
11146 Administrasi Sales (Sap Business One)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Sales (Sap Business One)')
11147 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
11148 Mine Plan (Coal Mining)
INSERT INTO job_vacancies (title) VALUES ( 'Mine Plan (Coal Mining)')
11149 Hr Employee Relation And Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Hr Employee Relation And Administrator')
11150 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
11151 Qc Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Qc Analyst')
11152 Telemarketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Officer')
11153 Qc Restaurant
INSERT INTO job_vacancies (title) VALUES ( 'Qc Restaurant')
11154 Sys Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sys Admin')
11155 Staff Finance Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Accounting & Tax')
11156 Finance Accounting & Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting & Tax Staff')
11157 Administration Staff (Js - Adm) Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Bogor')
11158 Staff Finance Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance Accounting')
11159 Back End Developer - Kg Media
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer - Kg Media')
11160 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
11161 Tele Sales - Call Center
INSERT INTO job_vacancies (title) VALUES ( 'Tele Sales - Call Center')
11162 Head Finance & Finance Controller
INSERT INTO job_vacancies (title) VALUES ( 'Head Finance & Finance Controller')
11163 Customer & Business Service Administration
INSERT INTO job_vacancies (title) VALUES ( 'Customer & Business Service Administration')
11164 Staff Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin')
11165 Credit Marketing Officer Mobil - Jabotabek
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Jabotabek')
11166 Asisten Kebun Kelapa Sawit
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Kebun Kelapa Sawit')
11167 Mandarin Officer
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Officer')
11168 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
11169 Tyre Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Tyre Department Head')
11170 Technical Writer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Writer')
11171 Finance Supervisor (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor (Mandarin Speaker)')
11172 Marine, Casualty, Miscellaneous, Credit Flow Underwriter Support
INSERT INTO job_vacancies (title) VALUES ( 'Marine, Casualty, Miscellaneous, Credit Flow Underwriter Support')
11173 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
11174 Perawat Bedah Mayapada Hospital
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Bedah Mayapada Hospital')
11175 Retail Supervisor (Nabire)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Supervisor (Nabire)')
11176 Internal Audit Admin
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Admin')
11177 Marketing Sales Hotel And Event
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Hotel And Event')
11178 Reporting & Mis Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Reporting & Mis Coordinator')
11179 Senior It Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Project Manager')
11180 Backend And Web Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Backend And Web Programmer')
11181 Rider Team Lead Shopee Express - Hub Gorontalo (Kota Gorontalo)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Gorontalo (Kota Gorontalo)')
11182 (Jv2204004) Mv Claim Controller
INSERT INTO job_vacancies (title) VALUES ( '(Jv2204004) Mv Claim Controller')
11183 Shopee Express - Recruitment Intern (Tegal)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment Intern (Tegal)')
11184 Videographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer')
11185 Hse Facility Lead Shopee Express
INSERT INTO job_vacancies (title) VALUES ( 'Hse Facility Lead Shopee Express')
11186 Dosen (Part Time / Full Time)
INSERT INTO job_vacancies (title) VALUES ( 'Dosen (Part Time / Full Time)')
11187 Field Collection - Bitung
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Bitung')
11188 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11189 Credit Marketing Elektronik Cro Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Elektronik Cro Tasikmalaya')
11190 Sales Counter (Spg / Spb) Salatiga
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Salatiga')
11191 Legal Officer
INSERT INTO job_vacancies (title) VALUES ( 'Legal Officer')
11192 Cro Administration
INSERT INTO job_vacancies (title) VALUES ( 'Cro Administration')
11193 Recruitment Staff - Penempatan Jakarta Selatan
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff - Penempatan Jakarta Selatan')
11194 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
11195 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
11196 Personal Assistant To Director
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Director')
11197 Staff Outlet Zensei
INSERT INTO job_vacancies (title) VALUES ( 'Staff Outlet Zensei')
11198 Management Trainee - Human Capital
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee - Human Capital')
11199 Asisten Kebun (Sumatera Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Kebun (Sumatera Selatan)')
11200 Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Ppic')
11201 Process Improvement Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Process Improvement Assistant Manager')
11202 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
11203 Teknisi Produksi (Smg)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Produksi (Smg)')
11204 Administrasi Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Gudang')
11205 System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'System Engineer')
11206 Driver Truck (Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Driver Truck (Semarang)')
11207 Marketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer')
11208 Hub General Affair Tangerang (Outsourced Contract)
INSERT INTO job_vacancies (title) VALUES ( 'Hub General Affair Tangerang (Outsourced Contract)')
11209 Branch Manager- Manado
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager- Manado')
11210 Art Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Art Teacher')
11211 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
11212 Sales Counter (Spg / Spb) Jakarta Timur
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Jakarta Timur')
11213 Professional Financial Consultant Area Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Banjarmasin')

11214 Finance Ar Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Ar Staff')
11215 Human Resources
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources')
11216 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
11217 Field Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Field Admin Staff')
11218 Accounting Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Specialist')
11219 Technical Sales Representative Staff
INSERT INTO job_vacancies (title) VALUES ( 'Technical Sales Representative Staff')
11220 Staff Toko Komputer
INSERT INTO job_vacancies (title) VALUES ( 'Staff Toko Komputer')
11221 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
11222 Legal (Trading Coal Mines)
INSERT INTO job_vacancies (title) VALUES ( 'Legal (Trading Coal Mines)')
11223 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
11224 Social Media Marketing Deputy Manager (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Marketing Deputy Manager (Mandarin)')
11225 Senior Programmer (Team Leader)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Programmer (Team Leader)')
11226 Senior Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Ios Developer')
11227 Creative Designer (Graphic Design & Video Producer)
INSERT INTO job_vacancies (title) VALUES ( 'Creative Designer (Graphic Design & Video Producer)')
11228 Retail Supervisor (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Retail Supervisor (Balikpapan)')
11229 Hse Officer (Safety) - Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer (Safety) - Staff')
11230 Human Resources Sr. Executive
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Sr. Executive')
11231 Assistant Manager Human Capital Management
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Human Capital Management')
11232 Sales Engineer (Jakarta, Bandung, Surabaya & Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Jakarta, Bandung, Surabaya & Semarang)')
11233 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
11234 Province Operation Lead Shopee Express (Manado)
INSERT INTO job_vacancies (title) VALUES ( 'Province Operation Lead Shopee Express (Manado)')
11235 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
11236 People Management Associate
INSERT INTO job_vacancies (title) VALUES ( 'People Management Associate')
11237 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
11238 Senior Financial Advisor - Area Jakarta Selatan (Pondok Indah)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Financial Advisor - Area Jakarta Selatan (Pondok Indah)')
11239 Accounting Head
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Head')
11240 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
11241 Chief Mechanic (Liberia)
INSERT INTO job_vacancies (title) VALUES ( 'Chief Mechanic (Liberia)')
11242 Ui  /  Ux Design (App & Web)
INSERT INTO job_vacancies (title) VALUES ( 'Ui  /  Ux Design (App & Web)')
11243 Hrd Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Generalist')
11244 Sales Canvasser (10)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Canvasser (10)')
11245 Strategic Ops Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Strategic Ops Analyst')
11246 Administration Staff (Placement At Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Placement At Surabaya)')
11247 Administration Staff (Placement At Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Placement At Surabaya)')
11248 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
11249 Credit Marketing Officer Mobil - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Semarang')
11250 Tax And Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax And Accounting Staff')
11251 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
11252 Interior Design
INSERT INTO job_vacancies (title) VALUES ( 'Interior Design')
11253 Mobile Android & Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Android & Ios Developer')
11254 End User Computing Engineer - Internship Program
INSERT INTO job_vacancies (title) VALUES ( 'End User Computing Engineer - Internship Program')
11255 Programmer Java
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Java')
11256 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
11257 Social Media Admin
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Admin')
11258 General Affair (Ga) Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Affair (Ga) Staff')
11259 Hr Payroll (North Jakarta Based)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Payroll (North Jakarta Based)')
11260 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
11261 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11262 General Affair
INSERT INTO job_vacancies (title) VALUES ( 'General Affair')
11263 Administration Staff (Js - Adm) Batam
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Batam')
11264 Credit Marketing Officer Mobil - Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Surabaya')
11265 Supervisor Teknik
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Teknik')
11266 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
11267 Credit Marketing Officer Mobil - Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil - Bandung')
11268 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11269 Driver (Sim B1)
INSERT INTO job_vacancies (title) VALUES ( 'Driver (Sim B1)')
11270 Area Sales Supervisor (Bengkulu, Palembang, Sumatera Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor (Bengkulu, Palembang, Sumatera Barat)')
11271 Account Receivable & Billing Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable & Billing Analyst')
11272 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
11273 Administration Internship
INSERT INTO job_vacancies (title) VALUES ( 'Administration Internship')
11274 Head Of Enterprise Business Management Sales
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Enterprise Business Management Sales')
11275 Executive Chef
INSERT INTO job_vacancies (title) VALUES ( 'Executive Chef')
11276 Admin Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Accounting')
11277 Project Leader
INSERT INTO job_vacancies (title) VALUES ( 'Project Leader')
11278 Admin & Sales Counter Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Admin & Sales Counter Kudus')
11279 Store Administrative Executive - Living World Alam Sutera
INSERT INTO job_vacancies (title) VALUES ( 'Store Administrative Executive - Living World Alam Sutera')
11280 Hr Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Recruitment Specialist')
11281 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
11282 Staff Logistic Inbound Outbound (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Logistic Inbound Outbound (Surabaya)')
11283 Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing')
11284 Admin Dan Checker Gudang ( Dibutuhkan Segera - Joint Asap)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Dan Checker Gudang ( Dibutuhkan Segera - Joint Asap)')
11285 Sales Supervisor Hospital For Preventive Healthcare Products
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Hospital For Preventive Healthcare Products')
11286 Data Center Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Center Analyst')
11287 Logistic Assistant (Dadap Warehouse)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Assistant (Dadap Warehouse)')
11288 Public Relation Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Public Relation Specialist')
11289 Account Manager (Sales Representative) - Makassar
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Sales Representative) - Makassar')
11290 Apical Engineer Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Apical Engineer Trainee')
11291 It Teacher For Kids
INSERT INTO job_vacancies (title) VALUES ( 'It Teacher For Kids')
11292 Etl Developer
INSERT INTO job_vacancies (title) VALUES ( 'Etl Developer')
11293 Sales And Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales And Marketing')
11294 Sales Executive Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Bandung')
11295 Trainer Training Center
INSERT INTO job_vacancies (title) VALUES ( 'Trainer Training Center')
11296 Finance Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Staff')
11297 Hr Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hr Staff')
11298 Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Support')
11299 Sales Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Account Manager')
11300 Finance & Accounting Supervisor - Lippo Plaza Aceh
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Supervisor - Lippo Plaza Aceh')
11301 Admin Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketplace')
11302 Laboratory Technologist (Jawa Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Technologist (Jawa Timur)')
11303 Property, Eng, & Liability Flow Underwriting
INSERT INTO job_vacancies (title) VALUES ( 'Property, Eng, & Liability Flow Underwriting')
11304 Chief Accounting Finance (Caf)
INSERT INTO job_vacancies (title) VALUES ( 'Chief Accounting Finance (Caf)')
11305 Web Developer (Code: Dev)
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer (Code: Dev)')
11306 Chef De Partie
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie')
11307 Financial Controller
INSERT INTO job_vacancies (title) VALUES ( 'Financial Controller')
11308 Chemistry Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Chemistry Teacher')
11309 Talent Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition')
11310 Leasing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Executive')
11311 Production Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Production Supervisor')
11312 Credit Marketing Officer Mobil (Kmob) Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Officer Mobil (Kmob) Pontianak')
11313 Gis & Survey Staff
INSERT INTO job_vacancies (title) VALUES ( 'Gis & Survey Staff')
11314 Business Development Executive (Medan)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Executive (Medan)')
11315 Staff Budgeting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Budgeting')
11316 Staff Accounting And Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting And Tax')
11317 Finance & Tax Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Tax Accounting')
11318 Supervisor Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Administrasi')
11319 Supervisor Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic')
11320 Human Capital Data Analytic
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Data Analytic')
11321 Hrd Learning And Development
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Learning And Development')
11322 Web Programmer (Fullstack)
INSERT INTO job_vacancies (title) VALUES ( 'Web Programmer (Fullstack)')
11323 Professional Financial Consultant Area Pontianak
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Pontianak')
11324 Claim Marine Officer
INSERT INTO job_vacancies (title) VALUES ( 'Claim Marine Officer')
11325 Kindergarten Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Kindergarten Teacher')
11326 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
11327 Graphic Design Editor Atau Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design Editor Atau Content Creator')
11328 Customer Support Team Leader
INSERT INTO job_vacancies (title) VALUES ( 'Customer Support Team Leader')
11329 Site Supervisor / Pengawas Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor / Pengawas Lapangan')
11330 Host Live Streaming
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming')
11331 Marketing & Verification Officer (Js - Mvo) Magelang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Magelang')
11332 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
11333 Event Lead
INSERT INTO job_vacancies (title) VALUES ( 'Event Lead')
11334 Branch Manager Bina Group (Yogyakarta Dan Magelang)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Bina Group (Yogyakarta Dan Magelang)')
11335 Branch Manager Elsheskin Clinic (Jakarta Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager Elsheskin Clinic (Jakarta Selatan)')
11336 Dc Leader (Wonosobo)
INSERT INTO job_vacancies (title) VALUES ( 'Dc Leader (Wonosobo)')
11337 Marketing & Verification Officer (Js - Mvo) Purwokerto
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Purwokerto')
11338 Staf Qa  /  Qc Ipc  /  Qc Packaging
INSERT INTO job_vacancies (title) VALUES ( 'Staf Qa  /  Qc Ipc  /  Qc Packaging')
11339 Risk Management Officer
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Officer')
11340 Internship Ar Finance
INSERT INTO job_vacancies (title) VALUES ( 'Internship Ar Finance')
11341 Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff')
11342 Software Engineer (Fullstack Javascript)
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer (Fullstack Javascript)')
11343 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
11344 Supervisor Geology
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Geology')
11345 Import Merchandising (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Import Merchandising (Mandarin Speaker)')
11346 Quality Control Staff (Fintech)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staff (Fintech)')
11347 Ticketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ticketing Staff')
11348 Engineer Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Estimator')
11349 Staff Teknis Lantai Vinyl
INSERT INTO job_vacancies (title) VALUES ( 'Staff Teknis Lantai Vinyl')
11350 Hub Lead Shopee Express (Gerung, Kab. Lombok Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Gerung, Kab. Lombok Barat)')
11351 Operational Staff
INSERT INTO job_vacancies (title) VALUES ( 'Operational Staff')
11352 Marketing Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Manager')
11353 Staff Marketing Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing Jambi')
11354 Financial Advisor - Kudus
INSERT INTO job_vacancies (title) VALUES ( 'Financial Advisor - Kudus')

11355 It Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Account Manager')
11356 Manager Hrga-Legal
INSERT INTO job_vacancies (title) VALUES ( 'Manager Hrga-Legal')
11357 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
11358 Professional Financial Consultant Area Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Professional Financial Consultant Area Surabaya')
11359 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
11360 E-Commerce Operation Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Operation Supervisor')
11361 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
11362 Staff Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrga')
11363 Supervisor Departemen Tenaga Kerja Proyek (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Departemen Tenaga Kerja Proyek (Mandarin Speaker)')
11364 Perawat Kamar Bedah
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Kamar Bedah')
11365 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11366 Account Manager (Barge Vessel)
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager (Barge Vessel)')
11367 Engineer Geoteknik
INSERT INTO job_vacancies (title) VALUES ( 'Engineer Geoteknik')
11368 Professional Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Professional Quality Control')
11369 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
11370 Hr Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Hr Superintendent')
11371 People Operation Staff
INSERT INTO job_vacancies (title) VALUES ( 'People Operation Staff')
11372 Senior Frontend Developer (React Js)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Frontend Developer (React Js)')
11373 Admin Data
INSERT INTO job_vacancies (title) VALUES ( 'Admin Data')
11374 Staff Ap & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ap & Tax')
11375 Digital Promotion & Partnership
INSERT INTO job_vacancies (title) VALUES ( 'Digital Promotion & Partnership')
11376 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
11377 Data Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineering')
11378 Back-End Developer (Engineer)
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Developer (Engineer)')
11379 Copy Writer
INSERT INTO job_vacancies (title) VALUES ( 'Copy Writer')
11380 Marine, Casualty, Miscellaneous, Credit Flow Underwriter
INSERT INTO job_vacancies (title) VALUES ( 'Marine, Casualty, Miscellaneous, Credit Flow Underwriter')
11381 Marketing & Verification Officer (Js - Mvo) Purbalingga
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Purbalingga')
11382 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
11383 Technic Field Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Technic Field Supervisor')
11384 Purchasing Officer - Lippo Mall Puri
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer - Lippo Mall Puri')
11385 Asisten Sipil
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Sipil')
11386 Sales To Bahan Bangunan
INSERT INTO job_vacancies (title) VALUES ( 'Sales To Bahan Bangunan')
11387 Field Collection - Palangkaraya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Palangkaraya')
11388 Database Administrator (Information Technology)
INSERT INTO job_vacancies (title) VALUES ( 'Database Administrator (Information Technology)')
11389 Video (Grafis Designer)
INSERT INTO job_vacancies (title) VALUES ( 'Video (Grafis Designer)')
11390 Illustrator & Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Illustrator & Graphic Designer')
11391 Junior Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Developer')
11392 Supervisor Landscape
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Landscape')
11393 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
11394 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
11395 Quantity Surveyor / Qs
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor / Qs')
11396 Smd
INSERT INTO job_vacancies (title) VALUES ( 'Smd')
11397 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
11398 Container Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Container Surveyor')
11399 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')
11400 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
11401 Accounting Staff Coal Mining
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff Coal Mining')
11402 Hr Leader
INSERT INTO job_vacancies (title) VALUES ( 'Hr Leader')
11403 Full Time Private Tutor
INSERT INTO job_vacancies (title) VALUES ( 'Full Time Private Tutor')
11404 Cashier Staff
INSERT INTO job_vacancies (title) VALUES ( 'Cashier Staff')
11405 Developer - Pega
INSERT INTO job_vacancies (title) VALUES ( 'Developer - Pega')
11406 Junior Java Spring Boot Developer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Java Spring Boot Developer')
11407 Field Collection - Pangkal Pinang
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection - Pangkal Pinang')
11408 Organization Development & Performance Management
INSERT INTO job_vacancies (title) VALUES ( 'Organization Development & Performance Management')
11409 Sales Upper West (Suw-Bsd-Comm Bsd-11)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Upper West (Suw-Bsd-Comm Bsd-11)')
11410 Staff Senior Administrasi Dan Keuangan (Ciamis)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Senior Administrasi Dan Keuangan (Ciamis)')
11411 Software Partner Manager
INSERT INTO job_vacancies (title) VALUES ( 'Software Partner Manager')
11412 Marketing Verification Officer (Js - Mvo) Banyuwangi
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Banyuwangi')
11413 Staf Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi')
11414 Admin Site Tanjung Priok Dan Site Maco (Kal-Teng)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Site Tanjung Priok Dan Site Maco (Kal-Teng)')
11415 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
11416 Field Collection (Js-Fc) Banyuwangi
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js-Fc) Banyuwangi')
11417 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
11418 Warehouse Weight Checker
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Weight Checker')
11419 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11420 Mandarin Teacher Primary Level
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher Primary Level')
11421 Qa Tester
INSERT INTO job_vacancies (title) VALUES ( 'Qa Tester')
11422 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
11423 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
11424 Marketing Verification Officer (Js - Mvo) Klaten
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Klaten')
11425 Senior Desainer Interior / Arsitek
INSERT INTO job_vacancies (title) VALUES ( 'Senior Desainer Interior / Arsitek')
11426 Assistant Store Manager For Surabaya  /  Medan  /  Yogyakarta Area
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Manager For Surabaya  /  Medan  /  Yogyakarta Area')
11427 Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web Developer')
11428 It Data Center Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'It Data Center Supervisor')
11429 Qa / Ra Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa / Ra Staff')
11430 Management Trainee R&D
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee R&D')
11431 Area Manager (Jambi & Bengkulu)
INSERT INTO job_vacancies (title) VALUES ( 'Area Manager (Jambi & Bengkulu)')
11432 Back-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Developer')
11433 Accounting & Tax Staff - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Staff - Jakarta')
11434 Hr Organization Development Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Organization Development Specialist')
11435 Spv Produksi Extruder Kerke
INSERT INTO job_vacancies (title) VALUES ( 'Spv Produksi Extruder Kerke')
11436 Junior Client Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Junior Client Account Manager')
11437 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11438 Sales Food & Beverage
INSERT INTO job_vacancies (title) VALUES ( 'Sales Food & Beverage')
11439 Sampoerna Academy - Secondary - Physics Teacher - Academic Year 22 / 23
INSERT INTO job_vacancies (title) VALUES ( 'Sampoerna Academy - Secondary - Physics Teacher - Academic Year 22 / 23')
11440 Marketing & Verification Officer (Js - Mvo) - Banjarnegara
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) - Banjarnegara')
11441 Account Executive Corporate Banking
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive Corporate Banking')
11442 Kepala Teknik Tambang
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Teknik Tambang')
11443 Production Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Production Section Head')
11444 Marketing Verification Officer (Js - Mvo) Cilacap
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Cilacap')
11445 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
11446 Ui / Ux Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Developer')
11447 E-Commerce Spesialist F&B For Online Store
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Spesialist F&B For Online Store')
11448 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11449 Infection Prevention Control Nurse (Ipcn) Mayapada Hospital Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Infection Prevention Control Nurse (Ipcn) Mayapada Hospital Surabaya')
11450 English Content Writer
INSERT INTO job_vacancies (title) VALUES ( 'English Content Writer')
11451 Content Strategiest
INSERT INTO job_vacancies (title) VALUES ( 'Content Strategiest')
11452 Area Sales Manager (Modern Outlet)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager (Modern Outlet)')
11453 Admin Account Receivable Officer
INSERT INTO job_vacancies (title) VALUES ( 'Admin Account Receivable Officer')
11454 Backend Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Engineer')
11455 Marketing Agency (Kediri, Blitar Dan Tulungagung)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Agency (Kediri, Blitar Dan Tulungagung)')
11456 Mold Maintenance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Mold Maintenance Staff')
11457 Hub Lead Shopee Express (Rembang)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Rembang)')
11458 Senior Legal
INSERT INTO job_vacancies (title) VALUES ( 'Senior Legal')
11459 Supervisor Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Warehouse')
11460 Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ux Designer')
11461 Human Capital Services Section Head
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Services Section Head')
11462 Risk Analytic Manager
INSERT INTO job_vacancies (title) VALUES ( 'Risk Analytic Manager')
11463 Product Operations - Mandarin Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Product Operations - Mandarin Speaker')
11464 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11465 Team Leader Data Center
INSERT INTO job_vacancies (title) VALUES ( 'Team Leader Data Center')
11466 It Support (Staff)
INSERT INTO job_vacancies (title) VALUES ( 'It Support (Staff)')
11467 Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Database Administrator')
11468 Student Relation Officer
INSERT INTO job_vacancies (title) VALUES ( 'Student Relation Officer')
11469 Sales Counter (Spg / Spb) Dumai
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Dumai')
11470 Qc Laboratory Manager (Contract Position)
INSERT INTO job_vacancies (title) VALUES ( 'Qc Laboratory Manager (Contract Position)')
11471 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
11472 Sales Engineer (Industrial)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer (Industrial)')
11473 Backend  Developer (Golang)
INSERT INTO job_vacancies (title) VALUES ( 'Backend  Developer (Golang)')
11474 Internship For Account & Admin Dept
INSERT INTO job_vacancies (title) VALUES ( 'Internship For Account & Admin Dept')
11475 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
11476 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
11477 Building Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Building Maintenance Supervisor')
11478 Admin Distribusi (Wholesale)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Distribusi (Wholesale)')
11479 Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Programmer')
11480 Supervisor F & B
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor F & B')
11481 Costing
INSERT INTO job_vacancies (title) VALUES ( 'Costing')
11482 Digital Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Account Executive')
11483 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11484 Site Engineer - Quantity Surveyor Proyek Bangunan Perumahan Masal
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer - Quantity Surveyor Proyek Bangunan Perumahan Masal')
11485 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
11486 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
11487 Sales Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator')
11488 Technician
INSERT INTO job_vacancies (title) VALUES ( 'Technician')
11489 Ga Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ga Staff')
11490 Credit Marketing Elektronik Cro Sumedang
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Elektronik Cro Sumedang')
11491 Senior Associate - Tls - International Assignment Services
INSERT INTO job_vacancies (title) VALUES ( 'Senior Associate - Tls - International Assignment Services')
11492 General Affair Officer
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Officer')
11493 Estimator Interior
INSERT INTO job_vacancies (title) VALUES ( 'Estimator Interior')
11494 Senior Php Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Php Developer')
11495 Staff Keuangan Dan Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Keuangan Dan Accounting')
11496 Sr. Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Quantity Surveyor')
11497 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
11498 Marketing Verification Officer (Js - Mvo) Majenang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Majenang')
11499 Digital Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Staff')
11500 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11501 Staff Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Purchasing')
11502 Document Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Document Control Staff')
11503 Supervisor Finance (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance (Jakarta)')
11504 Exhibition Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exhibition Staff')

11505 Dokter Hewan
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Hewan')
11506 Staff Accounting And Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting And Tax')
11507 Dokter Spesialis Jantung
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Spesialis Jantung')
11508 Chief Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Chief Accounting & Finance')
11509 Internship - Talent Scouter (Sales Coordinator)
INSERT INTO job_vacancies (title) VALUES ( 'Internship - Talent Scouter (Sales Coordinator)')
11510 Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Product Development')
11511 Staff Pertamanan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pertamanan')
11512 Customer Service Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Specialist')
11513 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
11514 Province Operation Lead Shopee Express (Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Province Operation Lead Shopee Express (Riau)')
11515 Project Delivery Lead
INSERT INTO job_vacancies (title) VALUES ( 'Project Delivery Lead')
11516 Full Stack Developer (Angular & Java)
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer (Angular & Java)')
11517 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11518 Senior Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Developer')
11519 R And D Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'R And D Senior Staff')
11520 Technical Support After Sales Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support After Sales Department Head')
11521 Fashion Designer
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Designer')
11522 Spg / Spb Store (Machine) Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Spg / Spb Store (Machine) Palembang')
11523 Senior Staff K3
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff K3')
11524 Marketing Verification Officer (Js - Mvo) Purworejo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Purworejo')
11525 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
11526 Staff Koordinator Keuangan & Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Koordinator Keuangan & Administrasi')
11527 Perawat
INSERT INTO job_vacancies (title) VALUES ( 'Perawat')
11528 Master Teacher Brain Academy Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Master Teacher Brain Academy Semarang')
11529 Industrial Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Engineering')
11530 Mobile Developer Apps
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer Apps')
11531 Senior Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Developer')
11532 Sales & Promotion Section Head (S&Psh-Bsd-Comm12) - Project Upper West
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Promotion Section Head (S&Psh-Bsd-Comm12) - Project Upper West')
11533 Sales Executive - Home Appliances (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Banjarmasin)')
11534 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11535 Nlp Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Nlp Engineer')
11536 Fashion Designer
INSERT INTO job_vacancies (title) VALUES ( 'Fashion Designer')
11537 Chief Accounting & Finance
INSERT INTO job_vacancies (title) VALUES ( 'Chief Accounting & Finance')
11538 Internship - Talent Scouter (Sales Coordinator)
INSERT INTO job_vacancies (title) VALUES ( 'Internship - Talent Scouter (Sales Coordinator)')
11539 Product Development
INSERT INTO job_vacancies (title) VALUES ( 'Product Development')
11540 Staff Pertamanan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Pertamanan')
11541 Customer Service Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Specialist')
11542 Sales Admin
INSERT INTO job_vacancies (title) VALUES ( 'Sales Admin')
11543 Senior Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Web Developer')
11544 Province Operation Lead Shopee Express (Riau)
INSERT INTO job_vacancies (title) VALUES ( 'Province Operation Lead Shopee Express (Riau)')
11545 Project Delivery Lead
INSERT INTO job_vacancies (title) VALUES ( 'Project Delivery Lead')
11546 Master Teacher Brain Academy Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Master Teacher Brain Academy Semarang')
11547 Marketing Verification Officer (Js - Mvo) Purworejo
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Verification Officer (Js - Mvo) Purworejo')
11548 Mobile Developer Apps
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer Apps')
11549 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
11550 Hr Ir Staff (Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Ir Staff (Contract Based)')
11551 Spv Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Spv Gudang')
11552 Operator Water Treatment Plant
INSERT INTO job_vacancies (title) VALUES ( 'Operator Water Treatment Plant')
11553 Spg / Spb Store (Machine) Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Spg / Spb Store (Machine) Palembang')
11554 Senior Staff K3
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff K3')
11555 Staff Koordinator Keuangan & Administrasi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Koordinator Keuangan & Administrasi')
11556 Perawat
INSERT INTO job_vacancies (title) VALUES ( 'Perawat')
11557 Industrial Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Engineering')
11558 Senior Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Developer')
11559 Sales & Promotion Section Head (S&Psh-Bsd-Comm12) - Project Upper West
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Promotion Section Head (S&Psh-Bsd-Comm12) - Project Upper West')
11560 Sales Executive - Home Appliances (Banjarmasin)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Banjarmasin)')
11561 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11562 Technical Support After Sales Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support After Sales Department Head')
11563 Teknisi Wiring
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Wiring')
11564 Perawat
INSERT INTO job_vacancies (title) VALUES ( 'Perawat')
11565 Mandarin Teachers
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teachers')
11566 Performance Management Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Performance Management Specialist')
11567 Payroll
INSERT INTO job_vacancies (title) VALUES ( 'Payroll')
11568 Assistant Group Leader (Fish Area) Aeon Store Sentul
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Group Leader (Fish Area) Aeon Store Sentul')
11569 Executive Administrative
INSERT INTO job_vacancies (title) VALUES ( 'Executive Administrative')
11570 Foreman Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Produksi')
11571 Staff Gudang & Kurir (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Gudang & Kurir (Samarinda)')
11572 Project Manager Dan Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager Dan Programmer')
11573 Store Supervisor Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor Banjarmasin')
11574 Recruitment
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment')
11575 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
11576 Photo Editor - Weekend Night Shift
INSERT INTO job_vacancies (title) VALUES ( 'Photo Editor - Weekend Night Shift')
11577 Chinese Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Chinese Mandarin Teacher')
11578 Telemarketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Staff')
11579 Continuous Improvement Manager
INSERT INTO job_vacancies (title) VALUES ( 'Continuous Improvement Manager')
11580 Staff Digital Printing
INSERT INTO job_vacancies (title) VALUES ( 'Staff Digital Printing')
11581 Ui Ux (Graphic) Web Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui Ux (Graphic) Web Designer')
11582 Sales Counter (Spg / Spb) Pematangsiantar Dan Simalungun
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Pematangsiantar Dan Simalungun')
11583 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
11584 Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Audit Staff')
11585 Operator Safety Health & Environment
INSERT INTO job_vacancies (title) VALUES ( 'Operator Safety Health & Environment')
11586 Training Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Training Specialist')
11587 Frontliner (Bandung & Cirebon)
INSERT INTO job_vacancies (title) VALUES ( 'Frontliner (Bandung & Cirebon)')
11588 General Manager Marketing & Sales (Industrial Estate)
INSERT INTO job_vacancies (title) VALUES ( 'General Manager Marketing & Sales (Industrial Estate)')
11589 Cloud Engineer Bootcamp For Aws Technology
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Engineer Bootcamp For Aws Technology')
11590 Chicken Slaughterhouse Manager
INSERT INTO job_vacancies (title) VALUES ( 'Chicken Slaughterhouse Manager')
11591 Secretary To Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary To Director')
11592 Environment Health And Safety Internship
INSERT INTO job_vacancies (title) VALUES ( 'Environment Health And Safety Internship')
11593 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
11594 Asisten Sipil
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Sipil')
11595 Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Software Engineer')
11596 Accounting & Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Finance Staff')
11597 General Affair Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Supervisor')
11598 Member Marketing (Telesales) Representative
INSERT INTO job_vacancies (title) VALUES ( 'Member Marketing (Telesales) Representative')
11599 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
11600 Maintenance Technician - Optics
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Technician - Optics')
11601 Hr Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager (Mandarin Speaker)')
11602 Hsse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hsse Officer')
11603 Teknisi
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi')
11604 Architect - Junior Level
INSERT INTO job_vacancies (title) VALUES ( 'Architect - Junior Level')
11605 Officeboy (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Officeboy (Bandung)')
11606 Business Solution Specialist - Healthcare
INSERT INTO job_vacancies (title) VALUES ( 'Business Solution Specialist - Healthcare')
11607 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
11608 Sales Export Staff Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Export Staff Officer')
11609 Admin Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Admin Procurement')
11610 It Quality Control & Governance  Sub Departement Head
INSERT INTO job_vacancies (title) VALUES ( 'It Quality Control & Governance  Sub Departement Head')
11611 Asisten Pengolahan (Ro Sumut)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Pengolahan (Ro Sumut)')
11612 Admin Sales
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales')
11613 Radiografer (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Radiografer (Balikpapan)')
11614 Business Development - Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Assistant Manager')
11615 Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor')
11616 Business Intelligence Developer
INSERT INTO job_vacancies (title) VALUES ( 'Business Intelligence Developer')
11617 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
11618 Internship Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Internship Receptionist')
11619 Province Operation Lead Shopee Express (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Province Operation Lead Shopee Express (Balikpapan)')
11620 Faculty Member For Animation - School Of Design
INSERT INTO job_vacancies (title) VALUES ( 'Faculty Member For Animation - School Of Design')
11621 Staff Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting & Tax')
11622 Manager Operational Vessel / Ship Tongkang
INSERT INTO job_vacancies (title) VALUES ( 'Manager Operational Vessel / Ship Tongkang')
11623 Marketing Executive Area Sumatera Bagian Utara  (Me-Sumbagut)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive Area Sumatera Bagian Utara  (Me-Sumbagut)')
11624 Architect - Junior Level
INSERT INTO job_vacancies (title) VALUES ( 'Architect - Junior Level')
11625 Officeboy (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Officeboy (Bandung)')
11626 Mathematics Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mathematics Teacher')
11627 Sales Export Staff Officer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Export Staff Officer')
11628 Chef De Partie - Pizza E Birra Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie - Pizza E Birra Surabaya')
11629 Admin Operation (Bhs. Jepang)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Operation (Bhs. Jepang)')
11630 Purchasing Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Engineer')
11631 Retail Sales Staff
INSERT INTO job_vacancies (title) VALUES ( 'Retail Sales Staff')
11632 Admin Collection
INSERT INTO job_vacancies (title) VALUES ( 'Admin Collection')
11633 Kalibrasi Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Kalibrasi Specialist')
11634 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
11635 Perawat Kamar Bedah
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Kamar Bedah')
11636 Sales Akasa Apartment (S-Bsd-Comm11)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Akasa Apartment (S-Bsd-Comm11)')
11637 Pricing & Solution Design Asst.Manager
INSERT INTO job_vacancies (title) VALUES ( 'Pricing & Solution Design Asst.Manager')
11638 Logistic Supervisor (Penempatan P. Obi, Maluku Utara)
INSERT INTO job_vacancies (title) VALUES ( 'Logistic Supervisor (Penempatan P. Obi, Maluku Utara)')
11639 Bahasa Indonesia Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Bahasa Indonesia Teacher')
11640 Asisten Traksi
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Traksi')
11641 Geologist
INSERT INTO job_vacancies (title) VALUES ( 'Geologist')
11642 Administration Staff For Banjarmasin Branch
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff For Banjarmasin Branch')
11643 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
11644 Senior Quality Assurance Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Quality Assurance Engineer')
11645 Staff Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hrd')
11646 3Pl Management Head - Shopee Express
INSERT INTO job_vacancies (title) VALUES ( '3Pl Management Head - Shopee Express')
11647 It Support Innovation Team
INSERT INTO job_vacancies (title) VALUES ( 'It Support Innovation Team')
11648 Admin Project
INSERT INTO job_vacancies (title) VALUES ( 'Admin Project')
11649 Staff General Affair
INSERT INTO job_vacancies (title) VALUES ( 'Staff General Affair')
11650 Mandarin Teacher (Preschool)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher (Preschool)')
11651 Po Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Po Analyst')
11652 Electrical Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Supervisor')
11653 Procurement Staff (Purchasing)
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff (Purchasing)')
11654 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
11655 Senior Staff Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Senior Staff Yogyakarta')
11656 Oss Tools Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Oss Tools Engineer')
11657 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
11658 Mechanical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Engineer')
11659 Legal Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Legal Supervisor')
11660 Customer Care Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Care Officer')
11661 Content Creator
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator')
11662 Back End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Developer')
11663 Senior Accounting Executive
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Executive')
11664 Accounting Officer
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer')

11665 Sales Counter (Spg / Spb) Tanjungpinang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Counter (Spg / Spb) Tanjungpinang')
11666 Digital Marketing & Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing & Sales Executive')
11667 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
11668 Sr Fullstack Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sr Fullstack Engineer')
11669 It Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'It Mobile Developer')
11670 Staff Desain Grafis & Visual (Graphic & Visual Design) - Furniture Store Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Staff Desain Grafis & Visual (Graphic & Visual Design) - Furniture Store Jakarta')
11671 It Security Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Security Specialist')
11672 Tax Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax Staff')
11673 Staff Ehs - Regional Kalimantan Tengah
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ehs - Regional Kalimantan Tengah')
11674 Quality Assurance  /  Qa
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance  /  Qa')
11675 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
11676 Oss Tools Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Oss Tools Engineer')
11677 Finance & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staff')
11678 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
11679 Store Pharmacist (Apoteker)
INSERT INTO job_vacancies (title) VALUES ( 'Store Pharmacist (Apoteker)')
11680 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
11681 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
11682 Leader Maintenance (Utility - Injection Mold)
INSERT INTO job_vacancies (title) VALUES ( 'Leader Maintenance (Utility - Injection Mold)')
11683 Petugas K3 Proyek Canggu Bali
INSERT INTO job_vacancies (title) VALUES ( 'Petugas K3 Proyek Canggu Bali')
11684 Mekanik Otomotif
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Otomotif')
11685 Quality Control Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Inspector')
11686 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
11687 Secretary Project
INSERT INTO job_vacancies (title) VALUES ( 'Secretary Project')
11688 Shopee Express - Recruitment Intern (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment Intern (Solo)')
11689 Photografer  /  Editor
INSERT INTO job_vacancies (title) VALUES ( 'Photografer  /  Editor')
11690 Technical Trainer
INSERT INTO job_vacancies (title) VALUES ( 'Technical Trainer')
11691 Mekanik Forklift  /  Truck
INSERT INTO job_vacancies (title) VALUES ( 'Mekanik Forklift  /  Truck')
11692 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
11693 Python Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Python Engineer')
11694 Asisten Kepala Infrastruktur (Ro Sumut)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Kepala Infrastruktur (Ro Sumut)')
11695 Graphic Designer (Content Creator)
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer (Content Creator)')
11696 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
11697 Project Management Admin
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Admin')
11698 Host Talent
INSERT INTO job_vacancies (title) VALUES ( 'Host Talent')
11699 Sales Representative - Interior & Bahan Bangunan (Palangkaraya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Representative - Interior & Bahan Bangunan (Palangkaraya)')
11700 Purchasing Import Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Import Staff')
11701 System Developer
INSERT INTO job_vacancies (title) VALUES ( 'System Developer')
11702 Admin Project
INSERT INTO job_vacancies (title) VALUES ( 'Admin Project')
11703 It Developer Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Developer Manager')
11704 Interior Designer - Freelance
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer - Freelance')
11705 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11706 Dicari Welding Inspector (Wi)
INSERT INTO job_vacancies (title) VALUES ( 'Dicari Welding Inspector (Wi)')
11707 Finance & Accounting Job Site
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Job Site')
11708 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
11709 Logistics Staff
INSERT INTO job_vacancies (title) VALUES ( 'Logistics Staff')
11710 Asisten Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Apoteker')
11711 Service Advisor
INSERT INTO job_vacancies (title) VALUES ( 'Service Advisor')
11712 Interior Designer
INSERT INTO job_vacancies (title) VALUES ( 'Interior Designer')
11713 Research & Development Staff (Cosmetics)
INSERT INTO job_vacancies (title) VALUES ( 'Research & Development Staff (Cosmetics)')
11714 Technical Support Administration & Inspector
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support Administration & Inspector')
11715 Electrical And Instrumentation Manager – Projects  /  Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Electrical And Instrumentation Manager – Projects  /  Engineering')
11716 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
11717 Receiving Assistant Group Leader (Aeon Store Sentul)
INSERT INTO job_vacancies (title) VALUES ( 'Receiving Assistant Group Leader (Aeon Store Sentul)')
11718 Social Media Officer
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Officer')
11719 Staff Akuntansi
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akuntansi')
11720 Sales Consultant For Surabaya Area
INSERT INTO job_vacancies (title) VALUES ( 'Sales Consultant For Surabaya Area')
11721 Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance')
11722 General Affair
INSERT INTO job_vacancies (title) VALUES ( 'General Affair')
11723 Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Receptionist')
11724 Flutter Developer
INSERT INTO job_vacancies (title) VALUES ( 'Flutter Developer')
11725 Senior Software Engineer (Golang)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Engineer (Golang)')
11726 Server
INSERT INTO job_vacancies (title) VALUES ( 'Server')
11727 Leasing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Leasing Supervisor')
11728 Staff Ga-Asset
INSERT INTO job_vacancies (title) VALUES ( 'Staff Ga-Asset')
11729 Growth Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Growth Marketing')
11730 Field Collection (Js - Fc) Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Tasikmalaya')
11731 Customer Service Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Mandarin')
11732 Center Coordinator (Yl Kudus)
INSERT INTO job_vacancies (title) VALUES ( 'Center Coordinator (Yl Kudus)')
11733 (Programmable Logic Controller) Plc Engineer  /  Specialist
INSERT INTO job_vacancies (title) VALUES ( '(Programmable Logic Controller) Plc Engineer  /  Specialist')
11734 Hr Generalist
INSERT INTO job_vacancies (title) VALUES ( 'Hr Generalist')
11735 Marketing Project
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Project')
11736 Insurance Specialist - Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Insurance Specialist - Jakarta')
11737 Spv Toko Bangunan
INSERT INTO job_vacancies (title) VALUES ( 'Spv Toko Bangunan')
11738 Hrd  Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hrd  Officer')
11739 Shipping Executive
INSERT INTO job_vacancies (title) VALUES ( 'Shipping Executive')
11740 Sales & Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Staff')
11741 Pelaksana Listrik Dan Plumbing Outdoor
INSERT INTO job_vacancies (title) VALUES ( 'Pelaksana Listrik Dan Plumbing Outdoor')
11742 Hr & Ga Supervisor Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Supervisor Samarinda')
11743 Spv Accounting B2C
INSERT INTO job_vacancies (title) VALUES ( 'Spv Accounting B2C')
11744 Accounting Finance And Tax Department Head
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Finance And Tax Department Head')
11745 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
11746 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
11747 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
11748 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
11749 Sales Officer (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Officer (Surabaya)')
11750 Junior Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Sales Engineer')
11751 Antifraud Process & Qa Jr Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Antifraud Process & Qa Jr Specialist')
11752 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
11753 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11754 Mobile Application Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Application Developer')
11755 Mobile Developer (Flutter)
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer (Flutter)')
11756 Finance Dan Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Dan Accounting Staff')
11757 Customer Service (Staff Admin)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service (Staff Admin)')
11758 Me Manager
INSERT INTO job_vacancies (title) VALUES ( 'Me Manager')
11759 Kaizen Staff
INSERT INTO job_vacancies (title) VALUES ( 'Kaizen Staff')
11760 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
11761 Estate Manager (Kalimantan Barat)
INSERT INTO job_vacancies (title) VALUES ( 'Estate Manager (Kalimantan Barat)')
11762 Purchasing Associate
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Associate')
11763 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
11764 Koordinator Area Sales (Lumajang, Banjarmasin, Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Area Sales (Lumajang, Banjarmasin, Makassar)')
11765 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
11766 Administrasi  Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi  Proyek')
11767 Land Driver Coordinator Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Land Driver Coordinator Shopee Express (Pekanbaru)')
11768 Business Development Staff
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Staff')
11769 Financial Planning And Analysis Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Financial Planning And Analysis Supervisor')
11770 E-Commerce Specialist
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Specialist')
11771 Operator Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Operator Produksi')
11772 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
11773 Network Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Network Engineer')
11774 Teknisi Hvac Refrigeration
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Hvac Refrigeration')
11775 Dokter Aesthetic
INSERT INTO job_vacancies (title) VALUES ( 'Dokter Aesthetic')
11776 Data Center System Operator & Facility Management
INSERT INTO job_vacancies (title) VALUES ( 'Data Center System Operator & Facility Management')
11777 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
11778 Business Development - Seller Acquisition Based In Pekalongan (Contract)
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Seller Acquisition Based In Pekalongan (Contract)')
11779 Staff Public Relation
INSERT INTO job_vacancies (title) VALUES ( 'Staff Public Relation')
11780 Motivation & Performance Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Motivation & Performance Development Supervisor')
11781 Finance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Supervisor')
11782 Manager - Audit
INSERT INTO job_vacancies (title) VALUES ( 'Manager - Audit')
11783 Asset Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Asset Management Staff')
11784 Host Live Streaming E-Commerce
INSERT INTO job_vacancies (title) VALUES ( 'Host Live Streaming E-Commerce')
11785 Accounting Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Finance Staff')
11786 Supervisor Proyek
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Proyek')
11787 Aeon Fast Agent Area Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Aeon Fast Agent Area Pekanbaru')
11788 It System Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It System Engineer')
11789 Java Developer (Code: Java)
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer (Code: Java)')
11790 Full Stack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack Developer')
11791 Marketing & Verification Officer (Js - Mvo) Kebumen
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Kebumen')
11792 Customer Acquisition Specialist (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Customer Acquisition Specialist (Jabodetabek)')
11793 Legal Credit Administration
INSERT INTO job_vacancies (title) VALUES ( 'Legal Credit Administration')
11794 Training Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Training Supervisor')
11795 Hr & Ga Officer (Mal Ciputra Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Officer (Mal Ciputra Tangerang)')
11796 Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Accountant')
11797 Sales & Showroom Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Showroom Manager')
11798 English Teacher Ef English First Makassar
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher Ef English First Makassar')
11799 Noc Officer  /  Helpdesk Monitoring
INSERT INTO job_vacancies (title) VALUES ( 'Noc Officer  /  Helpdesk Monitoring')
11800 Wwtp Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Wwtp Supervisor')
11801 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
11802 Sales Promotor Toko (Spg / Spb)  Tuban, Lamongan, Gresik. Sidoarjo
INSERT INTO job_vacancies (title) VALUES ( 'Sales Promotor Toko (Spg / Spb)  Tuban, Lamongan, Gresik. Sidoarjo')
11803 Alkes Sales Officer Malang
INSERT INTO job_vacancies (title) VALUES ( 'Alkes Sales Officer Malang')
11804 Administration Staff (Js - Adm) Mojokerto
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Mojokerto')
11805 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
11806 Sales Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Staff')
11807 Finance Specialist (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Specialist (Mandarin Speaker)')
11808 Operasional Umum
INSERT INTO job_vacancies (title) VALUES ( 'Operasional Umum')
11809 Sales & Marketing Hospital
INSERT INTO job_vacancies (title) VALUES ( 'Sales & Marketing Hospital')
11810 Staf Teknisi Listrik /  Teknik Sipil
INSERT INTO job_vacancies (title) VALUES ( 'Staf Teknisi Listrik /  Teknik Sipil')
11811 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
11812 Incoming Quality Cuptester
INSERT INTO job_vacancies (title) VALUES ( 'Incoming Quality Cuptester')
11813 Document & Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'Document & Administration Staff')
11814 Relationship Manager - Corporate Banking
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager - Corporate Banking')
11815 It Infrastructure Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Staff')
11816 Kepala Produksi Sawmill / Grader
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Produksi Sawmill / Grader')
11817 Account Receivable Specialist - Indonesia
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Specialist - Indonesia')
11818 Recruitment Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Specialist')
11819 Recruitment Officer
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Officer')
11820 Supervisor Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Accounting')
11821 Tenaga Instalasi
INSERT INTO job_vacancies (title) VALUES ( 'Tenaga Instalasi')
11822 Helper
INSERT INTO job_vacancies (title) VALUES ( 'Helper')
11823 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11824 Hrga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrga Supervisor')
11825 Digital Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Executive')
11826 Talent Acquisition Staff
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Staff')
11827 Emerging Business Relationship Manager (Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Emerging Business Relationship Manager (Jabodetabek)')
11828 Tax & Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Accounting Staff')
11829 Web & Api Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Web & Api Programmer')
11830 International Business Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'International Business Development Supervisor')
11831 General Affair Specialist
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Specialist')

11832 Human Capital Management
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Management')
11833 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
11834 Assistant Manager (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager (Mandarin Speaker)')
11835 Sales Beauty Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Sales Beauty Consultant')
11836 Hr Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hr Officer')
11837 Digital Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Specialist')
11838 It Governance Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Governance Staff')
11839 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
11840 Purchasing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer')
11841 Web / Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web / Mobile Developer')
11842 Helper Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Helper Gudang')
11843 Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist')
11844 Accountant  /  Account Executive (Client Facing Outsourcing) - Work In Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Accountant  /  Account Executive (Client Facing Outsourcing) - Work In Jakarta')
11845 Internal Audit Officer
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Officer')
11846 Cdp (Chef De Partie) Commis
INSERT INTO job_vacancies (title) VALUES ( 'Cdp (Chef De Partie) Commis')
11847 Crew Toko
INSERT INTO job_vacancies (title) VALUES ( 'Crew Toko')
11848 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
11849 Operator Wwtp Dan Wtp
INSERT INTO job_vacancies (title) VALUES ( 'Operator Wwtp Dan Wtp')
11850 Kepala Tata Usaha (Sumatera Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Tata Usaha (Sumatera Selatan)')
11851 Cosmetic Regulatory Staff
INSERT INTO job_vacancies (title) VALUES ( 'Cosmetic Regulatory Staff')
11852 Senior Key Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Key Account Manager')
11853 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11854 Staff Finance And Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance And Accounting')
11855 Crewing Recruitment & Development
INSERT INTO job_vacancies (title) VALUES ( 'Crewing Recruitment & Development')
11856 Mobile Developer (Flutter And Getx Package)
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer (Flutter And Getx Package)')
11857 Livestream Performance Marketing Deputy Manager (Mandarin)
INSERT INTO job_vacancies (title) VALUES ( 'Livestream Performance Marketing Deputy Manager (Mandarin)')
11858 Hse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hse Officer')
11859 Account Receivable Officer (Sulawesi, Papua, Maluku)
INSERT INTO job_vacancies (title) VALUES ( 'Account Receivable Officer (Sulawesi, Papua, Maluku)')
11860 Inside Sales Representative
INSERT INTO job_vacancies (title) VALUES ( 'Inside Sales Representative')
11861 Accountant  /  Account Executive (Client Facing Outsourcing) - Work In Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Accountant  /  Account Executive (Client Facing Outsourcing) - Work In Jakarta')
11862 Internal Audit Officer
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Officer')
11863 Cdp (Chef De Partie) Commis
INSERT INTO job_vacancies (title) VALUES ( 'Cdp (Chef De Partie) Commis')
11864 Web / Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Web / Mobile Developer')
11865 Cook Chef Japanese
INSERT INTO job_vacancies (title) VALUES ( 'Cook Chef Japanese')
11866 Staff Akunting Dan Perpajakan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akunting Dan Perpajakan')
11867 Business Control Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Control Analyst')
11868 It Solution Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Solution Staff')
11869 It Infrastructure
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure')
11870 Spv Store
INSERT INTO job_vacancies (title) VALUES ( 'Spv Store')
11871 Teknisi Jaringan (Balikpapan)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Jaringan (Balikpapan)')
11872 General Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Accounting Staff')
11873 Frontend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer')
11874 Merchandiser Staff
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Staff')
11875 Motion Graphics Designer & Video Animator
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphics Designer & Video Animator')
11876 Marketplace Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketplace Specialist')
11877 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
11878 Medical Advisor (Dokter Perusahaan)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Advisor (Dokter Perusahaan)')
11879 Personal Executive Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Executive Assistant')
11880 Sales Executive Oem
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive Oem')
11881 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
11882 She Administration
INSERT INTO job_vacancies (title) VALUES ( 'She Administration')
11883 Dispatcher Site Tj, Priok
INSERT INTO job_vacancies (title) VALUES ( 'Dispatcher Site Tj, Priok')
11884 Back-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Back-End Developer')
11885 Trade Marketing / Promotion Assistant Manager (Guardian)
INSERT INTO job_vacancies (title) VALUES ( 'Trade Marketing / Promotion Assistant Manager (Guardian)')
11886 Staff Akunting Dan Perpajakan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Akunting Dan Perpajakan')
11887 Management Trainee It - Technical Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee It - Technical Analyst')
11888 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
11889 Pic Cabang
INSERT INTO job_vacancies (title) VALUES ( 'Pic Cabang')
11890 Inventory Controller
INSERT INTO job_vacancies (title) VALUES ( 'Inventory Controller')
11891 Trade Marketing Executive - Pt Kalbe Blackmores Nutrition
INSERT INTO job_vacancies (title) VALUES ( 'Trade Marketing Executive - Pt Kalbe Blackmores Nutrition')
11892 Colection Officer
INSERT INTO job_vacancies (title) VALUES ( 'Colection Officer')
11893 Field Collection Area Jakarta Barat, Utara Dan Timur
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection Area Jakarta Barat, Utara Dan Timur')
11894 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
11895 Corporate Legal & Compliance Manager
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Legal & Compliance Manager')
11896 Ppic Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Supervisor')
11897 Store Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor')
11898 Quality Assurance
INSERT INTO job_vacancies (title) VALUES ( 'Quality Assurance')
11899 Medical Representative (Bojonegoro)
INSERT INTO job_vacancies (title) VALUES ( 'Medical Representative (Bojonegoro)')
11900 Tax Administration
INSERT INTO job_vacancies (title) VALUES ( 'Tax Administration')
11901 Exim Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Exim Specialist')
11902 Staff Marketing & Sales_Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing & Sales_Jakarta')
11903 Software Product Manager
INSERT INTO job_vacancies (title) VALUES ( 'Software Product Manager')
11904 Front Office (Resepsionis)
INSERT INTO job_vacancies (title) VALUES ( 'Front Office (Resepsionis)')
11905 Finance Controller Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Controller Staff')
11906 Internship Project Management Office
INSERT INTO job_vacancies (title) VALUES ( 'Internship Project Management Office')
11907 Field Collection (Js - Fc) Probolinggo
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Probolinggo')
11908 Supervisor Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Warehouse')
11909 Hub Lead Shopee Express (Tayu - Pati)
INSERT INTO job_vacancies (title) VALUES ( 'Hub Lead Shopee Express (Tayu - Pati)')
11910 Legal & Corporate Services Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Legal & Corporate Services Specialist')
11911 Ios And Kotlin Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ios And Kotlin Developer')
11912 Visual Merchandiser Officer
INSERT INTO job_vacancies (title) VALUES ( 'Visual Merchandiser Officer')
11913 Sales Executive - Home Appliances (Yogyakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Yogyakarta)')
11914 Sales Area Latubo (Lamongan Tuban Bojonegoro)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Area Latubo (Lamongan Tuban Bojonegoro)')
11915 Fleet Management
INSERT INTO job_vacancies (title) VALUES ( 'Fleet Management')
11916 Motion Animator Designer-Yogyakarta,Malang,Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Motion Animator Designer-Yogyakarta,Malang,Bandung')
11917 Junior Valuation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Junior Valuation Analyst')
11918 Admin Marketplace
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketplace')
11919 Teknisi Untuk Penempatan Mm2100
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Untuk Penempatan Mm2100')
11920 Staff Drafter - Estimator
INSERT INTO job_vacancies (title) VALUES ( 'Staff Drafter - Estimator')
11921 Business Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst')
11922 Research And Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Research And Development Manager')
11923 Hrbp Manager (Mandarin Speaking)
INSERT INTO job_vacancies (title) VALUES ( 'Hrbp Manager (Mandarin Speaking)')
11924 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
11925 Customer Service Online
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Online')
11926 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
11927 Power And Environment Technical Support Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Power And Environment Technical Support Supervisor')
11928 General Accounting
INSERT INTO job_vacancies (title) VALUES ( 'General Accounting')
11929 Investment Banking Staff
INSERT INTO job_vacancies (title) VALUES ( 'Investment Banking Staff')
11930 Functional Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Functional Analyst')
11931 Finance Internship
INSERT INTO job_vacancies (title) VALUES ( 'Finance Internship')
11932 Delica-Sushi Group Leader (Aeon Store Bsd)
INSERT INTO job_vacancies (title) VALUES ( 'Delica-Sushi Group Leader (Aeon Store Bsd)')
11933 Business Analyst Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Business Analyst Supervisor')
11934 Motion Animator Designer-Yogyakarta,Malang,Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Motion Animator Designer-Yogyakarta,Malang,Bandung')
11935 Junior Valuation Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Junior Valuation Analyst')
11936 Storing & Laka Management Shopee Express (Pekanbaru)
INSERT INTO job_vacancies (title) VALUES ( 'Storing & Laka Management Shopee Express (Pekanbaru)')
11937 Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor')
11938 It Solution Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Solution Analyst')
11939 Maintenance (Facility & Operational) Technician
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance (Facility & Operational) Technician')
11940 General Affairs Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Supervisor')
11941 Hr & Ga Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Supervisor')
11942 It Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Account Manager')
11943 Human Capital Manager
INSERT INTO job_vacancies (title) VALUES ( 'Human Capital Manager')
11944 Researcher (Project Based)
INSERT INTO job_vacancies (title) VALUES ( 'Researcher (Project Based)')
11945 Staff Finance & Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance & Accounting')
11946 Accounting & Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Accounting & Tax Manager')
11947 Sales Administration
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administration')
11948 Staff Hris
INSERT INTO job_vacancies (title) VALUES ( 'Staff Hris')
11949 Finance Support Executive (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Support Executive (Temporary)')
11950 Electrical & Mechanical Engineer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Electrical & Mechanical Engineer Staff')
11951 Quality Control Chemical Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Chemical Staff')
11952 General Virtual Assistant
INSERT INTO job_vacancies (title) VALUES ( 'General Virtual Assistant')
11953 Qlik Development Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qlik Development Supervisor')
11954 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
11955 Buyer (Contract Position)
INSERT INTO job_vacancies (title) VALUES ( 'Buyer (Contract Position)')
11956 Technical Support - Data Center
INSERT INTO job_vacancies (title) VALUES ( 'Technical Support - Data Center')
11957 It Solution Analyst
INSERT INTO job_vacancies (title) VALUES ( 'It Solution Analyst')
11958 Maintenance (Facility & Operational) Technician
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance (Facility & Operational) Technician')
11959 General Affairs Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'General Affairs Supervisor')
11960 Sr. Full Stack Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Full Stack Mobile Developer')
11961 Farm Stockman  /  Staff Kandang
INSERT INTO job_vacancies (title) VALUES ( 'Farm Stockman  /  Staff Kandang')
11962 Sales Marketing Executive - Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing Executive - Semarang')
11963 Telemarketing Officer
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Officer')
11964 Branch Head Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Branch Head Banjarmasin')
11965 Supervisor Area Sales - Ntb
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Area Sales - Ntb')
11966 Marketing Intern
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Intern')
11967 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
11968 10.\Tphotographer /  Videographer & Design Grafis
INSERT INTO job_vacancies (title) VALUES ( '10.\Tphotographer /  Videographer & Design Grafis')
11969 General Affair
INSERT INTO job_vacancies (title) VALUES ( 'General Affair')
11970 Perawat Hemodialisa (Hd) Mayapada Hospital
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Hemodialisa (Hd) Mayapada Hospital')
11971 Marketing Director Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Director Personal Assistant')
11972 Fundraiser Sales
INSERT INTO job_vacancies (title) VALUES ( 'Fundraiser Sales')
11973 It Support & Multimedia
INSERT INTO job_vacancies (title) VALUES ( 'It Support & Multimedia')
11974 Budgeting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Budgeting Supervisor')
11975 Mechanical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Engineer')
11976 Technical Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Technical Recruiter')
11977 Perawat Anestesi
INSERT INTO job_vacancies (title) VALUES ( 'Perawat Anestesi')
11978 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
11979 Credit Marketing Motor Tasikmalaya
INSERT INTO job_vacancies (title) VALUES ( 'Credit Marketing Motor Tasikmalaya')

11980 Account Executive (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive (Jakarta)')
11981 Qa System Officer
INSERT INTO job_vacancies (title) VALUES ( 'Qa System Officer')
11982 Tax Officer (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'Tax Officer (Temporary)')
11983 Kepala Bengkel
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Bengkel')
11984 Store Manager - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager - Samarinda')
11985 Branch Head Banjarmasin
INSERT INTO job_vacancies (title) VALUES ( 'Branch Head Banjarmasin')
11986 Supervisor Area Sales - Ntb
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Area Sales - Ntb')
11987 Java Developer (Spring Framework)
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer (Spring Framework)')
11988 Penerjemah Bahasa Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Penerjemah Bahasa Mandarin')
11989 Videographer & Photographer
INSERT INTO job_vacancies (title) VALUES ( 'Videographer & Photographer')
11990 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
11991 Warehouse Team Leader (Cold Storage)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Team Leader (Cold Storage)')
11992 Hr Learning Internship
INSERT INTO job_vacancies (title) VALUES ( 'Hr Learning Internship')
11993 Mandarin Translator
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator')
11994 Assistant Manager - Mandarin Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager - Mandarin Speaker')
11995 Admin Marketing (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Admin Marketing (Surabaya)')
11996 Store Crew Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Store Crew Bekasi')
11997 Senior It Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Developer')
11998 Fleet Officer (Tanker)
INSERT INTO job_vacancies (title) VALUES ( 'Fleet Officer (Tanker)')
11999 Asisten Budidaya Hti (Hutan Tanaman Industri)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Budidaya Hti (Hutan Tanaman Industri)')
12000 Account Executive
INSERT INTO job_vacancies (title) VALUES ( 'Account Executive')
12001 Cook Helper
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper')
12002 Video Editor Intern
INSERT INTO job_vacancies (title) VALUES ( 'Video Editor Intern')
12003 Marketing, Teller Dan Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Marketing, Teller Dan Customer Service')
12004 Supervisor Logistik
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Logistik')
12005 Room Attendant
INSERT INTO job_vacancies (title) VALUES ( 'Room Attendant')
12006 Secretary
INSERT INTO job_vacancies (title) VALUES ( 'Secretary')
12007 Warehouse Team Leader (Cold Storage)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Team Leader (Cold Storage)')
12008 Hr Learning Internship
INSERT INTO job_vacancies (title) VALUES ( 'Hr Learning Internship')
12009 Kitchen Pastry
INSERT INTO job_vacancies (title) VALUES ( 'Kitchen Pastry')
12010 Training Facilitator
INSERT INTO job_vacancies (title) VALUES ( 'Training Facilitator')
12011 Sr Manager Mechanization
INSERT INTO job_vacancies (title) VALUES ( 'Sr Manager Mechanization')
12012 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
12013 Pic Accounting Finance
INSERT INTO job_vacancies (title) VALUES ( 'Pic Accounting Finance')
12014 Supervisor Telemarketing Properti - Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Telemarketing Properti - Yogyakarta')
12015 It Product Owner Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Product Owner Specialist')
12016 Site Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Site Supervisor')
12017 Marketing(Ict Related) Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Marketing(Ict Related) Specialist')
12018 Procurement And Logistics Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Procurement And Logistics Specialist')
12019 .Net Developer
INSERT INTO job_vacancies (title) VALUES ( '.Net Developer')
12020 Warehouse & Logistic Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse & Logistic Manager (Surabaya)')
12021 Staff It
INSERT INTO job_vacancies (title) VALUES ( 'Staff It')
12022 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
12023 Qa & Training Staff
INSERT INTO job_vacancies (title) VALUES ( 'Qa & Training Staff')
12024 Supervisor Hrd & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Hrd & Ga')
12025 Staff Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Staff Account Payable')
12026 Assisten Manager
INSERT INTO job_vacancies (title) VALUES ( 'Assisten Manager')
12027 Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Brand Manager')
12028 It Operational Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Operational Manager')
12029 Guru Seni Rupa
INSERT INTO job_vacancies (title) VALUES ( 'Guru Seni Rupa')
12030 Business Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Business Consultant')
12031 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
12032 Server (Waiter  /  Waitress)
INSERT INTO job_vacancies (title) VALUES ( 'Server (Waiter  /  Waitress)')
12033 3D Modeling Animation Designer- Yogyakarta,Malang & Bandung
INSERT INTO job_vacancies (title) VALUES ( '3D Modeling Animation Designer- Yogyakarta,Malang & Bandung')
12034 Sales Driver (Ds Kabanjahe)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Driver (Ds Kabanjahe)')
12035 Quality Control Engineer (Qc)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Engineer (Qc)')
12036 Digital Marketing Associate
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Associate')
12037 Quality Control Engineer (Telecommunication Company)
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Engineer (Telecommunication Company)')
12038 Host Support
INSERT INTO job_vacancies (title) VALUES ( 'Host Support')
12039 Marketing Executive
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive')
12040 Ic / Undp / Sp4N-Lapor / 034 / 2022 - Subject Matter Expert For The Development Course Contents Of Sp4N Lapor! Elearning Platform
INSERT INTO job_vacancies (title) VALUES ( 'Ic / Undp / Sp4N-Lapor / 034 / 2022 - Subject Matter Expert For The Development Course Contents Of Sp4N Lapor! Elearning Platform')
12041 Architectural Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Architectural Drafter')
12042 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
12043 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
12044 It Assistant Director
INSERT INTO job_vacancies (title) VALUES ( 'It Assistant Director')
12045 Procurement Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Engineer')
12046 Staf Penjualan Event
INSERT INTO job_vacancies (title) VALUES ( 'Staf Penjualan Event')
12047 Acount Executive Sales Marketing Mini Market & Corporate Retailer
INSERT INTO job_vacancies (title) VALUES ( 'Acount Executive Sales Marketing Mini Market & Corporate Retailer')
12048 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
12049 Senior It Database Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Senior It Database Administrator')
12050 Uc Center Officer
INSERT INTO job_vacancies (title) VALUES ( 'Uc Center Officer')
12051 Head Of Unit Talent Management
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Unit Talent Management')
12052 Claim Staff
INSERT INTO job_vacancies (title) VALUES ( 'Claim Staff')
12053 Senior Supervisor Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Senior Supervisor Produksi')
12054 Store Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor')
12055 Spv Finance,Accounting & Tax (Fat)
INSERT INTO job_vacancies (title) VALUES ( 'Spv Finance,Accounting & Tax (Fat)')
12056 Mandarin Translator For Construction Industry
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator For Construction Industry')
12057 Golang Developer
INSERT INTO job_vacancies (title) VALUES ( 'Golang Developer')
12058 Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer')
12059 Senior Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Ios Developer')
12060 Rider Team Lead Shopee Express - (Hub Dampit)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - (Hub Dampit)')
12061 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
12062 Human Resource Intern
INSERT INTO job_vacancies (title) VALUES ( 'Human Resource Intern')
12063 Teknisi Junior
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Junior')
12064 React Js Developer Penempatan Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'React Js Developer Penempatan Yogyakarta')
12065 Staff Exim
INSERT INTO job_vacancies (title) VALUES ( 'Staff Exim')
12066 Warehouse Supervisor (Penempatan Makassar)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor (Penempatan Makassar)')
12067 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
12068 It Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Staff')
12069 Finance Accounting Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Assistant Manager')
12070 Merchant Acquisition
INSERT INTO job_vacancies (title) VALUES ( 'Merchant Acquisition')
12071 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
12072 Operation Trainee ( E Commerce Trainee )
INSERT INTO job_vacancies (title) VALUES ( 'Operation Trainee ( E Commerce Trainee )')
12073 Rider Team Lead Shopee Express - (Hub Dampit)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - (Hub Dampit)')
12074 Senior Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Ios Developer')
12075 Merchandiser
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser')
12076 Marketing Support (Administration)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Support (Administration)')
12077 Floor Supervisor Restaurant
INSERT INTO job_vacancies (title) VALUES ( 'Floor Supervisor Restaurant')
12078 Network Operation Center (Noc)
INSERT INTO job_vacancies (title) VALUES ( 'Network Operation Center (Noc)')
12079 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
12080 Construction And Overseas Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Construction And Overseas Procurement')
12081 Alkes Sales Officer (Purwokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Alkes Sales Officer (Purwokerto)')
12082 Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris')
12083 Project Management Office Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Project Management Office Specialist')
12084 Javascrip Frontend Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Javascrip Frontend Web Developer')
12085 Walk In Interview Medical Representative Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Walk In Interview Medical Representative Semarang')
12086 Teknisi Micro Controller
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Micro Controller')
12087 Sales Engineer Staff (Npg - Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer Staff (Npg - Surabaya)')
12088 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
12089 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
12090 It Java Developer Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Java Developer Manager')
12091 Hr - People Development
INSERT INTO job_vacancies (title) VALUES ( 'Hr - People Development')
12092 Reporting (Departemen Traksi)
INSERT INTO job_vacancies (title) VALUES ( 'Reporting (Departemen Traksi)')
12093 React Js Developer
INSERT INTO job_vacancies (title) VALUES ( 'React Js Developer')
12094 B2B Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'B2B Account Manager')
12095 Senior Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Senior Accounting Staff')
12096 Staf Keuangan
INSERT INTO job_vacancies (title) VALUES ( 'Staf Keuangan')
12097 Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Supervisor')
12098 Store Supervisor - Samarinda
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor - Samarinda')
12099 Maintenance  /  Admin Support (Id: 549620)
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance  /  Admin Support (Id: 549620)')
12100 Construction And Overseas Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Construction And Overseas Procurement')
12101 Alkes Sales Officer (Purwokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Alkes Sales Officer (Purwokerto)')
12102 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
12103 Administration Staff (Js - Adm) Probolinggo
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Probolinggo')
12104 Purchasing Import
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Import')
12105 Back End Web Developer Officer
INSERT INTO job_vacancies (title) VALUES ( 'Back End Web Developer Officer')
12106 Asisten Kebun Karet
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Kebun Karet')
12107 Relationship Officer
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer')
12108 English Teacher - Jakarta - Bogor - Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher - Jakarta - Bogor - Tangerang')
12109 Admin Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Admin Accounting')
12110 Database Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Database Engineer')
12111 Sme Relationship Manager (Lending)
INSERT INTO job_vacancies (title) VALUES ( 'Sme Relationship Manager (Lending)')
12112 Customer Service Officer
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service Officer')
12113 Supervisor Finance Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Finance Accounting & Tax')
12114 Recruitment Intern - Pekanbaru
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Intern - Pekanbaru')
12115 Qc Staff & Qc Inline
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff & Qc Inline')
12116 Frontend Developer - Tribunnetwork
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer - Tribunnetwork')
12117 Production Line Group Leader  /  Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Production Line Group Leader  /  Foreman')
12118 Chef De Partie (Cdp) - Seafood Restaurant (Bakar / Grill)
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie (Cdp) - Seafood Restaurant (Bakar / Grill)')
12119 Channel Policy & Performance Monitoring Manager
INSERT INTO job_vacancies (title) VALUES ( 'Channel Policy & Performance Monitoring Manager')
12120 Pembelian
INSERT INTO job_vacancies (title) VALUES ( 'Pembelian')
12121 Accounting Staff - Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff - Pajak')
12122 (Jv2205010) Treasury Staff- Jakarta (Temporary)
INSERT INTO job_vacancies (title) VALUES ( '(Jv2205010) Treasury Staff- Jakarta (Temporary)')
12123 Staff Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Staff Internal Audit')
12124 Customs Broker Denpasar
INSERT INTO job_vacancies (title) VALUES ( 'Customs Broker Denpasar')
12125 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
12126 Mechanic Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Mechanic Alat Berat')
12127 Store Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor')
12128 Pengawas Konstruksi Dan Bangunan
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Konstruksi Dan Bangunan')
12129 Drafter Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Project Engineer')
12130 Senior Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Brand Manager')
12131 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
12132 Head Of Sales, Power Quality Ups
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Sales, Power Quality Ups')
12133 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
12134 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')

12135 Raw Material Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Raw Material Warehouse Supervisor')
12136 Geologist Officer
INSERT INTO job_vacancies (title) VALUES ( 'Geologist Officer')
12137 Marine Technical Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Marine Technical Superintendent')
12138 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
12139 Raw Material Warehouse Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Raw Material Warehouse Supervisor')
12140 Geologist Officer
INSERT INTO job_vacancies (title) VALUES ( 'Geologist Officer')
12141 Marine Technical Superintendent
INSERT INTO job_vacancies (title) VALUES ( 'Marine Technical Superintendent')
12142 Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer')
12143 Qc Staff & Qc Inline
INSERT INTO job_vacancies (title) VALUES ( 'Qc Staff & Qc Inline')
12144 Frontend Developer - Tribunnetwork
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer - Tribunnetwork')
12145 Production Line Group Leader  /  Foreman
INSERT INTO job_vacancies (title) VALUES ( 'Production Line Group Leader  /  Foreman')
12146 Channel Policy & Performance Monitoring Manager
INSERT INTO job_vacancies (title) VALUES ( 'Channel Policy & Performance Monitoring Manager')
12147 Chef De Partie (Cdp) - Seafood Restaurant (Bakar / Grill)
INSERT INTO job_vacancies (title) VALUES ( 'Chef De Partie (Cdp) - Seafood Restaurant (Bakar / Grill)')
12148 Pembelian
INSERT INTO job_vacancies (title) VALUES ( 'Pembelian')
12149 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
12150 Drafter Project Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Project Engineer')
12151 Staff Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Finance')
12152 Head Of Sales, Power Quality Ups
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Sales, Power Quality Ups')
12153 Hr Manager - English  /  Mandarin Speaker
INSERT INTO job_vacancies (title) VALUES ( 'Hr Manager - English  /  Mandarin Speaker')
12154 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
12155 Senior Software Developer Reactjs Netcore - 1 Year Contract
INSERT INTO job_vacancies (title) VALUES ( 'Senior Software Developer Reactjs Netcore - 1 Year Contract')
12156 General Affair Senior Specialist
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Senior Specialist')
12157 Senior Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Senior Brand Manager')
12158 Mechanic Alat Berat
INSERT INTO job_vacancies (title) VALUES ( 'Mechanic Alat Berat')
12159 Store Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Store Supervisor')
12160 Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager')
12161 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
12162 Pengawas Konstruksi Dan Bangunan
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Konstruksi Dan Bangunan')
12163 Staff Account Payable
INSERT INTO job_vacancies (title) VALUES ( 'Staff Account Payable')
12164 Foreman Mechanical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Foreman Mechanical Engineering')
12165 Assistant Merchandiser Consumer Electronic Category
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Merchandiser Consumer Electronic Category')
12166 Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control')
12167 E-Commerce  /  Online Marketing  /  Marketing
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce  /  Online Marketing  /  Marketing')
12168 Civil & Structural Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil & Structural Engineer')
12169 Staff Monitoring Cctv & Gps
INSERT INTO job_vacancies (title) VALUES ( 'Staff Monitoring Cctv & Gps')
12170 Regional Agency Manager Pekanbaru / Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Regional Agency Manager Pekanbaru / Jakarta')
12171 International Communication Officer
INSERT INTO job_vacancies (title) VALUES ( 'International Communication Officer')
12172 Merchandiser (Buyer)
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser (Buyer)')
12173 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
12174 Personal Assistant To Ceo
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant To Ceo')
12175 Telemarketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Staff')
12176 Civil Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer')
12177 Operations Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Operations Support Officer')
12178 Administrative Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Administrative Assistant')
12179 Area Sales Supervisor - Madiun
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Supervisor - Madiun')
12180 It Business Solution Analyst - Sap
INSERT INTO job_vacancies (title) VALUES ( 'It Business Solution Analyst - Sap')
12181 Supervisor Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Maintenance')
12182 Mixue Ice Cream Cafe - Ob / Crew & Spv
INSERT INTO job_vacancies (title) VALUES ( 'Mixue Ice Cream Cafe - Ob / Crew & Spv')
12183 Marketing Staff Semarang
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Semarang')
12184 Telehandler Operator
INSERT INTO job_vacancies (title) VALUES ( 'Telehandler Operator')
12185 Trade Marketing Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Trade Marketing Analyst')
12186 Accounting Staff  \"Tour And Travel\"
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff  \"Tour And Travel\"')
12187 Asisten Maintenance Pabrik Kelapa Sawit
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Maintenance Pabrik Kelapa Sawit')
12188 Driver
INSERT INTO job_vacancies (title) VALUES ( 'Driver')
12189 Risk Management Staff
INSERT INTO job_vacancies (title) VALUES ( 'Risk Management Staff')
12190 Inside Sales
INSERT INTO job_vacancies (title) VALUES ( 'Inside Sales')
12191 Underwriting Portfolio Reporting Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Underwriting Portfolio Reporting Analyst')
12192 Customs Broker Jkt
INSERT INTO job_vacancies (title) VALUES ( 'Customs Broker Jkt')
12193 Supervisor Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Hrd')
12194 Guru Bahasa Mandarin
INSERT INTO job_vacancies (title) VALUES ( 'Guru Bahasa Mandarin')
12195 Talent Acquisition Staff
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Staff')
12196 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
12197 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
12198 Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance Supervisor')
12199 Business Operation Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Business Operation Assistant')
12200 Staff Admin Kpr (Kabupaten Tangerang - Cisoka, Cikasungka)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Admin Kpr (Kabupaten Tangerang - Cisoka, Cikasungka)')
12201 Area Business Development - Aceh & Sumatera Utara (Deli Serdang, Tapanuli, Labuhan Batu)
INSERT INTO job_vacancies (title) VALUES ( 'Area Business Development - Aceh & Sumatera Utara (Deli Serdang, Tapanuli, Labuhan Batu)')
12202 Contract Manager
INSERT INTO job_vacancies (title) VALUES ( 'Contract Manager')
12203 Backend Developer (.Net)
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer (.Net)')
12204 General Affair Staff (Jakarta)
INSERT INTO job_vacancies (title) VALUES ( 'General Affair Staff (Jakarta)')
12205 Qc In Process Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Qc In Process Supervisor')
12206 Staff Marketing (Psr) Area Dki Jakarta Dan Surabaya
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing (Psr) Area Dki Jakarta Dan Surabaya')
12207 Staff Marketing & Administration
INSERT INTO job_vacancies (title) VALUES ( 'Staff Marketing & Administration')
12208 Visual Merchandising Display Group Leader (Store Bsd)
INSERT INTO job_vacancies (title) VALUES ( 'Visual Merchandising Display Group Leader (Store Bsd)')
12209 Telemarketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Telemarketing Staff')
12210 Civil Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Civil Engineer')
12211 Operations Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Operations Support Officer')
12212 Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Marketing')
12213 Marketing Logistic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Logistic Staff')
12214 Field Collection (Jf - Fc) Purwokerto
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Jf - Fc) Purwokerto')
12215 Regional Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Regional Sales Manager')
12216 Pengawas Lapangan  /  Bangunan
INSERT INTO job_vacancies (title) VALUES ( 'Pengawas Lapangan  /  Bangunan')
12217 Technical Recruitment (Telecommunication)
INSERT INTO job_vacancies (title) VALUES ( 'Technical Recruitment (Telecommunication)')
12218 Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Business Development')
12219 Ar Cinema Validation And Head Office Reconciliation Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ar Cinema Validation And Head Office Reconciliation Support Staff')
12220 Mechanical Electrical Plumbing (Mep) Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Electrical Plumbing (Mep) Supervisor')
12221 Business Operation Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Business Operation Assistant')
12222 Magang Receptionist
INSERT INTO job_vacancies (title) VALUES ( 'Magang Receptionist')
12223 Marketing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff')
12224 Sales Merchandiser (Denpasar Branch)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Merchandiser (Denpasar Branch)')
12225 Finance Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Finance Administrator')
12226 Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Design')
12227 Seabank - Special Asset Management Specialist (Commercial Loan)
INSERT INTO job_vacancies (title) VALUES ( 'Seabank - Special Asset Management Specialist (Commercial Loan)')
12228 Asisten Traksi (Sumatera Selatan)
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Traksi (Sumatera Selatan)')
12229 Cloud Engineer (Devops) Bekasi
INSERT INTO job_vacancies (title) VALUES ( 'Cloud Engineer (Devops) Bekasi')
12230 Supervisor R&D Analitycal Development
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor R&D Analitycal Development')
12231 Technical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Technical Engineering')
12232 Senior Front-End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front-End Developer')
12233 Public Relation Internship
INSERT INTO job_vacancies (title) VALUES ( 'Public Relation Internship')
12234 It Support Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Support Staff')
12235 Admin Sales & Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales & Marketing')
12236 Design & Engineer Staff
INSERT INTO job_vacancies (title) VALUES ( 'Design & Engineer Staff')
12237 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
12238 Technical Solution Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Technical Solution Supervisor')
12239 Senior Database Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Database Engineer')
12240 Account Manager - Lampung
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager - Lampung')
12241 Admin Social Media ( Internship )
INSERT INTO job_vacancies (title) VALUES ( 'Admin Social Media ( Internship )')
12242 Koordinator Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator Marketing')
12243 Perawat (Rumah Sakit - Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Perawat (Rumah Sakit - Tangerang)')
12244 Seabank - Special Asset Management Specialist (Commercial Loan)
INSERT INTO job_vacancies (title) VALUES ( 'Seabank - Special Asset Management Specialist (Commercial Loan)')
12245 Marketing Sales Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Supervisor')
12246 Business Representative
INSERT INTO job_vacancies (title) VALUES ( 'Business Representative')
12247 Hardware Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'Hardware Support Officer')
12248 News Anchor
INSERT INTO job_vacancies (title) VALUES ( 'News Anchor')
12249 Asisten Hpt (Hama Dan Penyakit Tanaman) Ro Kalteng
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Hpt (Hama Dan Penyakit Tanaman) Ro Kalteng')
12250 Business Performance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Performance Assistant Manager')
12251 Floor Captain
INSERT INTO job_vacancies (title) VALUES ( 'Floor Captain')
12252 Finance Admin For Online Retail Shop
INSERT INTO job_vacancies (title) VALUES ( 'Finance Admin For Online Retail Shop')
12253 Kepala Divisi Hrga
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Divisi Hrga')
12254 Learning Development
INSERT INTO job_vacancies (title) VALUES ( 'Learning Development')
12255 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
12256 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
12257 Sales Supervisor Area Balikpapan & Sales Supervisor Area Palu (Asw Foods)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Area Balikpapan & Sales Supervisor Area Palu (Asw Foods)')
12258 Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing')
12259 Hr Services Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hr Services Supervisor')
12260 It Application Staff
INSERT INTO job_vacancies (title) VALUES ( 'It Application Staff')
12261 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
12262 Staff Quality Control Warehouse
INSERT INTO job_vacancies (title) VALUES ( 'Staff Quality Control Warehouse')
12263 Golang Development Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Golang Development Engineer')
12264 Market Research Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Market Research Analyst')
12265 Senior Front-End Developer (Binus Digital)
INSERT INTO job_vacancies (title) VALUES ( 'Senior Front-End Developer (Binus Digital)')
12266 Marketing Property
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Property')
12267 Asisten Hpt (Hama Dan Penyakit Tanaman) Ro Kalteng
INSERT INTO job_vacancies (title) VALUES ( 'Asisten Hpt (Hama Dan Penyakit Tanaman) Ro Kalteng')
12268 Business Performance Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Performance Assistant Manager')
12269 Floor Captain
INSERT INTO job_vacancies (title) VALUES ( 'Floor Captain')
12270 Finance Admin For Online Retail Shop
INSERT INTO job_vacancies (title) VALUES ( 'Finance Admin For Online Retail Shop')
12271 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
12272 Expert Genesys Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Expert Genesys Engineer')
12273 Mobile Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Developer')
12274 Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker')
12275 Fix Asset Officer (Ga)
INSERT INTO job_vacancies (title) VALUES ( 'Fix Asset Officer (Ga)')
12276 Senior .Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior .Net Developer')
12277 Supervisor Ppic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic')
12278 Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Recruiter')
12279 Branch Operations Manager (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Operations Manager (Surabaya)')
12280 Architect
INSERT INTO job_vacancies (title) VALUES ( 'Architect')
12281 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
12282 Marketing Communication
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication')
12283 General Administration Staff
INSERT INTO job_vacancies (title) VALUES ( 'General Administration Staff')
12284 Hse Staff (Cikande)
INSERT INTO job_vacancies (title) VALUES ( 'Hse Staff (Cikande)')
12285 Trainee Executive - Lean Enterprise
INSERT INTO job_vacancies (title) VALUES ( 'Trainee Executive - Lean Enterprise')
12286 Asp.Net Programmer
INSERT INTO job_vacancies (title) VALUES ( 'Asp.Net Programmer')
12287 Field Collection (Js - Fc) Pasar Minggu
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Pasar Minggu')
12288 Account Payable Staff
INSERT INTO job_vacancies (title) VALUES ( 'Account Payable Staff')
12289 Administrasi Keuangan (Operasional)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Keuangan (Operasional)')
12290 Admin Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Admin Purchasing Staff')
12291 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')

12292 Fullstack Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Developer')
12293 Front End Developer
INSERT INTO job_vacancies (title) VALUES ( 'Front End Developer')
12294 Spv Finance, Accounting & Tax
INSERT INTO job_vacancies (title) VALUES ( 'Spv Finance, Accounting & Tax')
12295 Apoteker
INSERT INTO job_vacancies (title) VALUES ( 'Apoteker')
12296 Fix Asset Officer (Ga)
INSERT INTO job_vacancies (title) VALUES ( 'Fix Asset Officer (Ga)')
12297 Marketing Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Business Development Manager')
12298 Produksi Manager
INSERT INTO job_vacancies (title) VALUES ( 'Produksi Manager')
12299 Staf Follow Up Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Staf Follow Up Produksi')
12300 Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Procurement')
12301 Sales Administrator (Mos Bandung 3)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Mos Bandung 3)')
12302 Front Desk Agent (Hotel Jogjakarta)
INSERT INTO job_vacancies (title) VALUES ( 'Front Desk Agent (Hotel Jogjakarta)')
12303 Branch Manager (Batam)
INSERT INTO job_vacancies (title) VALUES ( 'Branch Manager (Batam)')
12304 Devops Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Devops Engineer')
12305 Creative Director
INSERT INTO job_vacancies (title) VALUES ( 'Creative Director')
12306 Staf Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Staf Sales Marketing')
12307 Field Operation Manager
INSERT INTO job_vacancies (title) VALUES ( 'Field Operation Manager')
12308 Spb / Spg Barang Otomotif Full Time
INSERT INTO job_vacancies (title) VALUES ( 'Spb / Spg Barang Otomotif Full Time')
12309 Budget Controller - Ciujung
INSERT INTO job_vacancies (title) VALUES ( 'Budget Controller - Ciujung')
12310 Warehouse (Penempatan Nusa Tenggara Timur)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse (Penempatan Nusa Tenggara Timur)')
12311 Marketing Executive - F&B
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Executive - F&B')
12312 Admin & Sekretaris
INSERT INTO job_vacancies (title) VALUES ( 'Admin & Sekretaris')
12313 Java Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Web Developer')
12314 Supervisor Area (The Saem Cosmetic Indonesia)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Area (The Saem Cosmetic Indonesia)')
12315 Relationship Officer (Marketing Alat Berat) - Jambi
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer (Marketing Alat Berat) - Jambi')
12316 Assistant Manager Import Merchandise (Mandarin Speaker)
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Manager Import Merchandise (Mandarin Speaker)')
12317 Digital Creative - Graphic Design
INSERT INTO job_vacancies (title) VALUES ( 'Digital Creative - Graphic Design')
12318 Exim Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exim Staff')
12319 Product Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist')
12320 Sales Administrator (Mos Bandung 3)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator (Mos Bandung 3)')
12321 Brand Executive
INSERT INTO job_vacancies (title) VALUES ( 'Brand Executive')
12322 Senior Structure Design - Cikarang
INSERT INTO job_vacancies (title) VALUES ( 'Senior Structure Design - Cikarang')
12323 Store Manager (Penempatan Jabodetabek)
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager (Penempatan Jabodetabek)')
12324 Spv Sales Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Spv Sales Data Analyst')
12325 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
12326 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
12327 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
12328 Supervisor R&D Formulasi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor R&D Formulasi')
12329 Technician For Lab Calibrations
INSERT INTO job_vacancies (title) VALUES ( 'Technician For Lab Calibrations')
12330 Assistant Store Supervisor Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Store Supervisor Jabodetabek')
12331 Relationship Manager Sme
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Manager Sme')
12332 Finance & Accounting Junior Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Junior Manager')
12333 Business Development - Kol
INSERT INTO job_vacancies (title) VALUES ( 'Business Development - Kol')
12334 Marketing Merchandising Officer
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Merchandising Officer')
12335 Exim (Export-Import) Staff
INSERT INTO job_vacancies (title) VALUES ( 'Exim (Export-Import) Staff')
12336 Associate Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Associate Brand Manager')
12337 It Hardware & Software
INSERT INTO job_vacancies (title) VALUES ( 'It Hardware & Software')
12338 Senior Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Senior Backend Developer')
12339 Marketing Officer (Purwokerto)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer (Purwokerto)')
12340 Teknisi - Air Compressor
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi - Air Compressor')
12341 Credit Admin Processing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Credit Admin Processing Staff')
12342 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
12343 Pib Staff
INSERT INTO job_vacancies (title) VALUES ( 'Pib Staff')
12344 Quantity Surveyor
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor')
12345 Sales Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Sales Marketing')
12346 Procurement Staff
INSERT INTO job_vacancies (title) VALUES ( 'Procurement Staff')
12347 Supervisor R&D Formulasi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor R&D Formulasi')
12348 Technician For Lab Calibrations
INSERT INTO job_vacancies (title) VALUES ( 'Technician For Lab Calibrations')
12349 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
12350 Warehouse Logistics Staff
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Logistics Staff')
12351 Customer Service
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service')
12352 Noc & Data Center
INSERT INTO job_vacancies (title) VALUES ( 'Noc & Data Center')
12353 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
12354 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
12355 Principal Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Principal Software Engineer')
12356 Guru
INSERT INTO job_vacancies (title) VALUES ( 'Guru')
12357 Management Trainee
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee')
12358 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
12359 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
12360 Mechanical Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Mechanical Engineering')
12361 Process Improvement - Shopee Express (Sunter)
INSERT INTO job_vacancies (title) VALUES ( 'Process Improvement - Shopee Express (Sunter)')
12362 Hrd Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Supervisor')
12363 Sekretaris Direktur
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris Direktur')
12364 Marketing Officer - Bogor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Officer - Bogor')
12365 Rider Team Lead Shopee Express (Pelabuhan Ratu)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express (Pelabuhan Ratu)')
12366 Staff  Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Staff  Pajak')
12367 Noc & Data Center
INSERT INTO job_vacancies (title) VALUES ( 'Noc & Data Center')
12368 Account Manager
INSERT INTO job_vacancies (title) VALUES ( 'Account Manager')
12369 Site Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Site Engineer')
12370 Principal Software Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Principal Software Engineer')
12371 Guru
INSERT INTO job_vacancies (title) VALUES ( 'Guru')
12372 Industrial /  Cost Controller
INSERT INTO job_vacancies (title) VALUES ( 'Industrial /  Cost Controller')
12373 Sales Acquisition Area Tangerang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Acquisition Area Tangerang')
12374 Graphic Designer Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Graphic Designer Supervisor')
12375 Building Maintenance Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Building Maintenance Supervisor')
12376 Senior Tax
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax')
12377 Program Permagangan Bakti
INSERT INTO job_vacancies (title) VALUES ( 'Program Permagangan Bakti')
12378 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
12379 Admin Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Support')
12380 Relationship Officer
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer')
12381 Corporate Accounting Consolidation Reporting
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Accounting Consolidation Reporting')
12382 English Teacher
INSERT INTO job_vacancies (title) VALUES ( 'English Teacher')
12383 Assistant Recruitment & Development Director
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Recruitment & Development Director')
12384 Internal Audit Senior Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Senior Staff')
12385 Junior Field Electronics Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Junior Field Electronics Engineer')
12386 Education Counsellor  - Australia ( Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Education Counsellor  - Australia ( Bandung)')
12387 Territory Sales Supervisor (Area : Madura)
INSERT INTO job_vacancies (title) VALUES ( 'Territory Sales Supervisor (Area : Madura)')
12388 Ui / Ux Designer
INSERT INTO job_vacancies (title) VALUES ( 'Ui / Ux Designer')
12389 Maintenance
INSERT INTO job_vacancies (title) VALUES ( 'Maintenance')
12390 Personal Assistant
INSERT INTO job_vacancies (title) VALUES ( 'Personal Assistant')
12391 Project Coordinator
INSERT INTO job_vacancies (title) VALUES ( 'Project Coordinator')
12392 Finance & Accounting (To Be Located At Temanggung)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting (To Be Located At Temanggung)')
12393 Kepala Produksi
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Produksi')
12394 Auditor  /  Pajak
INSERT INTO job_vacancies (title) VALUES ( 'Auditor  /  Pajak')
12395 Senior Tax
INSERT INTO job_vacancies (title) VALUES ( 'Senior Tax')
12396 Program Permagangan Bakti
INSERT INTO job_vacancies (title) VALUES ( 'Program Permagangan Bakti')
12397 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
12398 Admin Sales Support
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sales Support')
12399 Tax & Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax & Accounting Supervisor')
12400 Regional Agency Development (Bali)
INSERT INTO job_vacancies (title) VALUES ( 'Regional Agency Development (Bali)')
12401 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
12402 Business Development Spv
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Spv')
12403 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
12404 Crew Housekeeping
INSERT INTO job_vacancies (title) VALUES ( 'Crew Housekeeping')
12405 Teknisi Gedung Pabrik
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Gedung Pabrik')
12406 Bookkeeper / Junior Accountant (Urgent)
INSERT INTO job_vacancies (title) VALUES ( 'Bookkeeper / Junior Accountant (Urgent)')
12407 Sales Administrator
INSERT INTO job_vacancies (title) VALUES ( 'Sales Administrator')
12408 Finance Administration
INSERT INTO job_vacancies (title) VALUES ( 'Finance Administration')
12409 Hrd Staff
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Staff')
12410 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
12411 Surveyor Credit Mobil Wilayah Solo
INSERT INTO job_vacancies (title) VALUES ( 'Surveyor Credit Mobil Wilayah Solo')
12412 Nlp Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Nlp Engineer')
12413 Recruitment Staff
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff')
12414 Business Development Spv
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Spv')
12415 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
12416 Catalogue & Manufacture Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Catalogue & Manufacture Supervisor')
12417 Personalia  /  Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Personalia  /  Hrd')
12418 Internal Auditor
INSERT INTO job_vacancies (title) VALUES ( 'Internal Auditor')
12419 It Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Manager')
12420 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
12421 Sr. Buyer
INSERT INTO job_vacancies (title) VALUES ( 'Sr. Buyer')
12422 Key Account
INSERT INTO job_vacancies (title) VALUES ( 'Key Account')
12423 Mandarin Translator - Bahasa Indonesia (Open For Part-Time)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Translator - Bahasa Indonesia (Open For Part-Time)')
12424 Assistant Producer
INSERT INTO job_vacancies (title) VALUES ( 'Assistant Producer')
12425 Showroom Manager
INSERT INTO job_vacancies (title) VALUES ( 'Showroom Manager')
12426 Accounting Supervisor (002)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor (002)')
12427 Sales Sparepart Motor
INSERT INTO job_vacancies (title) VALUES ( 'Sales Sparepart Motor')
12428 Finance Accounting Tax Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Tax Manager')
12429 Marketing My Chicken (Lahat, Kupang,Purwokerto, Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Marketing My Chicken (Lahat, Kupang,Purwokerto, Bandung)')
12430 Finance & Accounting Manager
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Manager')
12431 Backend Developer Unit Head
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer Unit Head')
12432 Marketing Sales Project
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Sales Project')
12433 Purchasing Officer (Eba)
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Officer (Eba)')

12434 Teknisi (Penempatan Tigaraksa)
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi (Penempatan Tigaraksa)')
12435 Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Android Developer')
12436 Area Sales Manager For Whole Chicken (Bali,Banjarmasin,Bangka Belitung)
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager For Whole Chicken (Bali,Banjarmasin,Bangka Belitung)')
12437 Export Import Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Export Import Supervisor')
12438 Service Desk Staff
INSERT INTO job_vacancies (title) VALUES ( 'Service Desk Staff')
12439 Management Trainee (Mt)
INSERT INTO job_vacancies (title) VALUES ( 'Management Trainee (Mt)')
12440 Purchasing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Purchasing Staff')
12441 Staf Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staf Accounting')
12442 Human Resources Assistant Manager
INSERT INTO job_vacancies (title) VALUES ( 'Human Resources Assistant Manager')
12443 Import Officer
INSERT INTO job_vacancies (title) VALUES ( 'Import Officer')
12444 Internal Audit
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit')
12445 Marketing & Verification Officer (Js - Mvo) Cikampek
INSERT INTO job_vacancies (title) VALUES ( 'Marketing & Verification Officer (Js - Mvo) Cikampek')
12446 Application Support Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Application Support Specialist')
12447 Admin Sparepart
INSERT INTO job_vacancies (title) VALUES ( 'Admin Sparepart')
12448 Staff Perijinan
INSERT INTO job_vacancies (title) VALUES ( 'Staff Perijinan')
12449 Petugas Penyuluh Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Petugas Penyuluh Lapangan')
12450 Admin Customer Service –  Sea Freight Export
INSERT INTO job_vacancies (title) VALUES ( 'Admin Customer Service –  Sea Freight Export')
12451 Aftersales Promotion
INSERT INTO job_vacancies (title) VALUES ( 'Aftersales Promotion')
12452 Accounting - Karawaci
INSERT INTO job_vacancies (title) VALUES ( 'Accounting - Karawaci')
12453 It Infrastructure Engineer
INSERT INTO job_vacancies (title) VALUES ( 'It Infrastructure Engineer')
12454 Business & System Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Business & System Analyst')
12455 Staff Tax
INSERT INTO job_vacancies (title) VALUES ( 'Staff Tax')
12456 Cash Processing Center (Cashier)
INSERT INTO job_vacancies (title) VALUES ( 'Cash Processing Center (Cashier)')
12457 General Driver (Yl Sragen)
INSERT INTO job_vacancies (title) VALUES ( 'General Driver (Yl Sragen)')
12458 Staff Kas Masuk (Tangerang)
INSERT INTO job_vacancies (title) VALUES ( 'Staff Kas Masuk (Tangerang)')
12459 Showroom Manager
INSERT INTO job_vacancies (title) VALUES ( 'Showroom Manager')
12460 Accounting Supervisor (002)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor (002)')
12461 Quality Control Staff
INSERT INTO job_vacancies (title) VALUES ( 'Quality Control Staff')
12462 Finance Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Supervisor')
12463 Finance Project (Group Of Propan)
INSERT INTO job_vacancies (title) VALUES ( 'Finance Project (Group Of Propan)')
12464 Teknisi Elektronik - Spd Bandung
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Elektronik - Spd Bandung')
12465 Warehouse Staff ( Mandarin Only)
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff ( Mandarin Only)')
12466 Blow Molding Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Blow Molding Supervisor')
12467 Associate - Fleet
INSERT INTO job_vacancies (title) VALUES ( 'Associate - Fleet')
12468 Field Sales (Bandung Area)
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales (Bandung Area)')
12469 Petugas Penyuluh Lapangan
INSERT INTO job_vacancies (title) VALUES ( 'Petugas Penyuluh Lapangan')
12470 Associate Brand Manager
INSERT INTO job_vacancies (title) VALUES ( 'Associate Brand Manager')
12471 Admin Customer Service –  Sea Freight Export
INSERT INTO job_vacancies (title) VALUES ( 'Admin Customer Service –  Sea Freight Export')
12472 Business Development Manager
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Manager')
12473 Head Of Ga
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Ga')
12474 Kepala Divisi Teknisi Listrik
INSERT INTO job_vacancies (title) VALUES ( 'Kepala Divisi Teknisi Listrik')
12475 Supervisor / Head Bar
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor / Head Bar')
12476 Marketing Staff Area Jateng Dan Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Area Jateng Dan Yogyakarta')
12477 Marketing Packaging
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Packaging')
12478 Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Supervisor')
12479 It Manager
INSERT INTO job_vacancies (title) VALUES ( 'It Manager')
12480 Sales Modern Trade ( Mt )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Modern Trade ( Mt )')
12481 Talent Acquisition Staff
INSERT INTO job_vacancies (title) VALUES ( 'Talent Acquisition Staff')
12482 Industrial Engineering
INSERT INTO job_vacancies (title) VALUES ( 'Industrial Engineering')
12483 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
12484 Security Operation Center Manager
INSERT INTO job_vacancies (title) VALUES ( 'Security Operation Center Manager')
12485 Shopee Express - Recruitment (Bandung)
INSERT INTO job_vacancies (title) VALUES ( 'Shopee Express - Recruitment (Bandung)')
12486 Project Manager
INSERT INTO job_vacancies (title) VALUES ( 'Project Manager')
12487 Learning Management Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Learning Management Specialist')
12488 It Helpdesk Staff (Temporary)
INSERT INTO job_vacancies (title) VALUES ( 'It Helpdesk Staff (Temporary)')
12489 It Specialist
INSERT INTO job_vacancies (title) VALUES ( 'It Specialist')
12490 Sales Area Coordinator - Ps
INSERT INTO job_vacancies (title) VALUES ( 'Sales Area Coordinator - Ps')
12491 Faculty Member - Binus Entrepreneurship Center
INSERT INTO job_vacancies (title) VALUES ( 'Faculty Member - Binus Entrepreneurship Center')
12492 Administration Staff (Js - Adm) Depok
INSERT INTO job_vacancies (title) VALUES ( 'Administration Staff (Js - Adm) Depok')
12493 Store Manager- Bukittinggi
INSERT INTO job_vacancies (title) VALUES ( 'Store Manager- Bukittinggi')
12494 Relationship Officer Bca Finance - Penempatan Tuban
INSERT INTO job_vacancies (title) VALUES ( 'Relationship Officer Bca Finance - Penempatan Tuban')
12495 It Service Administrator
INSERT INTO job_vacancies (title) VALUES ( 'It Service Administrator')
12496 Site Manager
INSERT INTO job_vacancies (title) VALUES ( 'Site Manager')
12497 Cook Helper
INSERT INTO job_vacancies (title) VALUES ( 'Cook Helper')
12498 Mid It Quality Assurance (Software Tester)
INSERT INTO job_vacancies (title) VALUES ( 'Mid It Quality Assurance (Software Tester)')
12499 Staff Accounting
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting')
12500 Quantity Surveyor Staff (Landed)
INSERT INTO job_vacancies (title) VALUES ( 'Quantity Surveyor Staff (Landed)')
12501 Hr & Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager')
12502 Sales Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer')
12503 Foreman  /  Senior Technician
INSERT INTO job_vacancies (title) VALUES ( 'Foreman  /  Senior Technician')
12504 Ppic Staff
INSERT INTO job_vacancies (title) VALUES ( 'Ppic Staff')
12505 Bancassurance Life Consultant - Bali
INSERT INTO job_vacancies (title) VALUES ( 'Bancassurance Life Consultant - Bali')
12506 Restaurant Waitress
INSERT INTO job_vacancies (title) VALUES ( 'Restaurant Waitress')
12507 Search Engine Optimization Specialist ( Seo Specialist -  Fulltime )
INSERT INTO job_vacancies (title) VALUES ( 'Search Engine Optimization Specialist ( Seo Specialist -  Fulltime )')
12508 Accounting Officer (Temporary Contract Based)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Officer (Temporary Contract Based)')
12509 Merchandiser Production
INSERT INTO job_vacancies (title) VALUES ( 'Merchandiser Production')
12510 Field Sales - Riau
INSERT INTO job_vacancies (title) VALUES ( 'Field Sales - Riau')
12511 Supervisor / Head Bar
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor / Head Bar')
12512 Marketing Staff Area Jateng Dan Yogyakarta
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Staff Area Jateng Dan Yogyakarta')
12513 Marketing Packaging
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Packaging')
12514 Admin Operasional Manado
INSERT INTO job_vacancies (title) VALUES ( 'Admin Operasional Manado')
12515 Drafter
INSERT INTO job_vacancies (title) VALUES ( 'Drafter')
12516 Tax Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Tax Supervisor')
12517 Hr & Ga Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hr & Ga Manager')
12518 Secretary To Director
INSERT INTO job_vacancies (title) VALUES ( 'Secretary To Director')
12519 Kernet Supir
INSERT INTO job_vacancies (title) VALUES ( 'Kernet Supir')
12520 Sekretaris Dirut
INSERT INTO job_vacancies (title) VALUES ( 'Sekretaris Dirut')
12521 Accounting Specialist (Building Management)
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Specialist (Building Management)')
12522 Sales Executive - Home Appliances (Solo)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive - Home Appliances (Solo)')
12523 New Graduate Hiring Program 2022 \U003C Consultant \U003E
INSERT INTO job_vacancies (title) VALUES ( 'New Graduate Hiring Program 2022 \U003C Consultant \U003E')
12524 Legal Tambang
INSERT INTO job_vacancies (title) VALUES ( 'Legal Tambang')
12525 Laboratory Officer - Hotel Management
INSERT INTO job_vacancies (title) VALUES ( 'Laboratory Officer - Hotel Management')
12526 Analis Kredit [Mandarin Speaker]
INSERT INTO job_vacancies (title) VALUES ( 'Analis Kredit [Mandarin Speaker]')
12527 Junior Auditor Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Junior Auditor Consultant')
12528 Finance & Accounting Staf (Kasir & Ar)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staf (Kasir & Ar)')
12529 Marketing Communication Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Staff')
12530 Marketing And General Administration
INSERT INTO job_vacancies (title) VALUES ( 'Marketing And General Administration')
12531 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
12532 Supervisor Procurement
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Procurement')
12533 Drafter Project
INSERT INTO job_vacancies (title) VALUES ( 'Drafter Project')
12534 Electrical Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Electrical Engineer')
12535 Customer Service / Teller (Service Advisor Associate) - Jabodetabek
INSERT INTO job_vacancies (title) VALUES ( 'Customer Service / Teller (Service Advisor Associate) - Jabodetabek')
12536 Routing Admin (Outsourced Contract)
INSERT INTO job_vacancies (title) VALUES ( 'Routing Admin (Outsourced Contract)')
12537 Senior Architect  / 3D
INSERT INTO job_vacancies (title) VALUES ( 'Senior Architect  / 3D')
12538 Frontend Developer (Angular Or React Or Kotlin Android)
INSERT INTO job_vacancies (title) VALUES ( 'Frontend Developer (Angular Or React Or Kotlin Android)')
12539 Paint Shop - Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Paint Shop - Specialist')
12540 Corporate Management Reporting, Cost Control & Analysis Team
INSERT INTO job_vacancies (title) VALUES ( 'Corporate Management Reporting, Cost Control & Analysis Team')
12541 Staff It
INSERT INTO job_vacancies (title) VALUES ( 'Staff It')
12542 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
12543 Hrd & Ga
INSERT INTO job_vacancies (title) VALUES ( 'Hrd & Ga')
12544 Analis Kredit [Mandarin Speaker]
INSERT INTO job_vacancies (title) VALUES ( 'Analis Kredit [Mandarin Speaker]')
12545 Junior Auditor Consultant
INSERT INTO job_vacancies (title) VALUES ( 'Junior Auditor Consultant')
12546 Finance & Accounting Staf (Kasir & Ar)
INSERT INTO job_vacancies (title) VALUES ( 'Finance & Accounting Staf (Kasir & Ar)')
12547 Marketing Communication Staff
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Communication Staff')
12548 Marketing And General Administration
INSERT INTO job_vacancies (title) VALUES ( 'Marketing And General Administration')
12549 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
12550 Business Development Head
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Head')
12551 Online Editor
INSERT INTO job_vacancies (title) VALUES ( 'Online Editor')
12552 Hr Business Partner
INSERT INTO job_vacancies (title) VALUES ( 'Hr Business Partner')
12553 Construction Admin Upper West (Ca-Bsd-Comm Bsd11)
INSERT INTO job_vacancies (title) VALUES ( 'Construction Admin Upper West (Ca-Bsd-Comm Bsd11)')
12554 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
12555 It Support (Kode : Its)
INSERT INTO job_vacancies (title) VALUES ( 'It Support (Kode : Its)')
12556 Sales Manager - Gallon (Cs2)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Manager - Gallon (Cs2)')
12557 Digital Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing')
12558 Area Sales Manager Kalimantan
INSERT INTO job_vacancies (title) VALUES ( 'Area Sales Manager Kalimantan')
12559 Lawyer
INSERT INTO job_vacancies (title) VALUES ( 'Lawyer')
12560 Mobile Game Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Game Developer')
12561 Javascript Developer
INSERT INTO job_vacancies (title) VALUES ( 'Javascript Developer')
12562 Sales Executive (Surabaya Office)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive (Surabaya Office)')
12563 Engineering Manager For Npd
INSERT INTO job_vacancies (title) VALUES ( 'Engineering Manager For Npd')
12564 Property Agent
INSERT INTO job_vacancies (title) VALUES ( 'Property Agent')
12565 Field Collection (Js - Fc) Cikampek
INSERT INTO job_vacancies (title) VALUES ( 'Field Collection (Js - Fc) Cikampek')
12566 Internship In Hsse
INSERT INTO job_vacancies (title) VALUES ( 'Internship In Hsse')
12567 English Teachers Needed For Surabaya And Gresik!
INSERT INTO job_vacancies (title) VALUES ( 'English Teachers Needed For Surabaya And Gresik!')
12568 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
12569 Sales Engineer - Banjarmasin & Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Sales Engineer - Banjarmasin & Palembang')
12570 Sales Online
INSERT INTO job_vacancies (title) VALUES ( 'Sales Online')
12571 Social Media Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Social Media Specialist')
12572 Process Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Process Engineer')
12573 Finance Accounting Admin Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Admin Staff')
12574 Sales (Horeca)
INSERT INTO job_vacancies (title) VALUES ( 'Sales (Horeca)')
12575 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
12576 Teknisi Mesin Pendingin
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Mesin Pendingin')
12577 Rider Team Lead Shopee Express - Hub Tanjung Jabung Timur (Kab. Tanjung Jabung Timur, Jambi)
INSERT INTO job_vacancies (title) VALUES ( 'Rider Team Lead Shopee Express - Hub Tanjung Jabung Timur (Kab. Tanjung Jabung Timur, Jambi)')
12578 Legal Staff
INSERT INTO job_vacancies (title) VALUES ( 'Legal Staff')
12579 Full Stack .Net Developer
INSERT INTO job_vacancies (title) VALUES ( 'Full Stack .Net Developer')
12580 Tax Intern
INSERT INTO job_vacancies (title) VALUES ( 'Tax Intern')
12581 Motion Graphic Designer
INSERT INTO job_vacancies (title) VALUES ( 'Motion Graphic Designer')
12582 Hr Business Partner
INSERT INTO job_vacancies (title) VALUES ( 'Hr Business Partner')
12583 Construction Admin Upper West (Ca-Bsd-Comm Bsd11)
INSERT INTO job_vacancies (title) VALUES ( 'Construction Admin Upper West (Ca-Bsd-Comm Bsd11)')
12584 Supervisor Marketing
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Marketing')
12585 Product Specialist (Trainer)
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist (Trainer)')
12586 System Administrator Linux
INSERT INTO job_vacancies (title) VALUES ( 'System Administrator Linux')
12587 Administrative Intern (Broker Support & Customer Experience Intern)
INSERT INTO job_vacancies (title) VALUES ( 'Administrative Intern (Broker Support & Customer Experience Intern)')
12588 Business Development Logistik / Transportasi
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Logistik / Transportasi')
12589 Head Of Marketing And Business Development
INSERT INTO job_vacancies (title) VALUES ( 'Head Of Marketing And Business Development')
12590 Copywriter
INSERT INTO job_vacancies (title) VALUES ( 'Copywriter')

12591 Project Officer
INSERT INTO job_vacancies (title) VALUES ( 'Project Officer')
12592 Operator Elektrik / Operator Mekanik
INSERT INTO job_vacancies (title) VALUES ( 'Operator Elektrik / Operator Mekanik')
12593 Software Developer
INSERT INTO job_vacancies (title) VALUES ( 'Software Developer')
12594 Staf Administrasi (Penempatan Semarang)
INSERT INTO job_vacancies (title) VALUES ( 'Staf Administrasi (Penempatan Semarang)')
12595 Lecturer In Business And Communication (S3 Accounting  /  Management  /  Communication)
INSERT INTO job_vacancies (title) VALUES ( 'Lecturer In Business And Communication (S3 Accounting  /  Management  /  Communication)')
12596 Sales Executive ( Surabaya )
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive ( Surabaya )')
12597 Showroom Manager
INSERT INTO job_vacancies (title) VALUES ( 'Showroom Manager')
12598 Client Relations
INSERT INTO job_vacancies (title) VALUES ( 'Client Relations')
12599 Hospitality Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hospitality Sales Manager')
12600 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
12601 Teknisi Injection
INSERT INTO job_vacancies (title) VALUES ( 'Teknisi Injection')
12602 Marketing Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Marketing Supervisor')
12603 Backend Developer
INSERT INTO job_vacancies (title) VALUES ( 'Backend Developer')
12604 Ios Developer
INSERT INTO job_vacancies (title) VALUES ( 'Ios Developer')
12605 Cdp / Demi / Commis Hot Kitchen
INSERT INTO job_vacancies (title) VALUES ( 'Cdp / Demi / Commis Hot Kitchen')
12606 Salesman
INSERT INTO job_vacancies (title) VALUES ( 'Salesman')
12607 Finance Accounting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Finance Accounting Supervisor')
12608 Accounting Staff
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Staff')
12609 Stock & Forecasting Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Stock & Forecasting Supervisor')
12610 Staff Accounting-Finance
INSERT INTO job_vacancies (title) VALUES ( 'Staff Accounting-Finance')
12611 Photographer
INSERT INTO job_vacancies (title) VALUES ( 'Photographer')
12612 Costing Staff
INSERT INTO job_vacancies (title) VALUES ( 'Costing Staff')
12613 Partman
INSERT INTO job_vacancies (title) VALUES ( 'Partman')
12614 Hp Executive Assistant (Account Officer) Surabaya Raya
INSERT INTO job_vacancies (title) VALUES ( 'Hp Executive Assistant (Account Officer) Surabaya Raya')
12615 Hrd Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hrd Manager')
12616 Tech Recruiter
INSERT INTO job_vacancies (title) VALUES ( 'Tech Recruiter')
12617 Data Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Data Analyst')
12618 Showroom Manager
INSERT INTO job_vacancies (title) VALUES ( 'Showroom Manager')
12619 Client Relations
INSERT INTO job_vacancies (title) VALUES ( 'Client Relations')
12620 Hospitality Sales Manager
INSERT INTO job_vacancies (title) VALUES ( 'Hospitality Sales Manager')
12621 Java Developer
INSERT INTO job_vacancies (title) VALUES ( 'Java Developer')
12622 E-Commerce Admin
INSERT INTO job_vacancies (title) VALUES ( 'E-Commerce Admin')
12623 Accounting Sr. Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Accounting Sr. Supervisor')
12624 Sales Supervisor Area Bali & Sales Supervisor Area Lombok (Asw Foods)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor Area Bali & Sales Supervisor Area Lombok (Asw Foods)')
12625 Plc Programmer (Spv)
INSERT INTO job_vacancies (title) VALUES ( 'Plc Programmer (Spv)')
12626 Supervisor Ppic (Penempatan Karanganyar)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic (Penempatan Karanganyar)')
12627 Spv Legal
INSERT INTO job_vacancies (title) VALUES ( 'Spv Legal')
12628 Elementary Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Elementary Teacher')
12629 Lead C++ Developer
INSERT INTO job_vacancies (title) VALUES ( 'Lead C++ Developer')
12630 Agronomy Assistant (Kalimantan Tengah)
INSERT INTO job_vacancies (title) VALUES ( 'Agronomy Assistant (Kalimantan Tengah)')
12631 Qa System Admin Support
INSERT INTO job_vacancies (title) VALUES ( 'Qa System Admin Support')
12632 Recruitment Staff - Palembang
INSERT INTO job_vacancies (title) VALUES ( 'Recruitment Staff - Palembang')
12633 Hrd
INSERT INTO job_vacancies (title) VALUES ( 'Hrd')
12634 Staf Purchasing
INSERT INTO job_vacancies (title) VALUES ( 'Staf Purchasing')
12635 Administrasi Staff (Surabaya)
INSERT INTO job_vacancies (title) VALUES ( 'Administrasi Staff (Surabaya)')
12636 Spv Quality Control
INSERT INTO job_vacancies (title) VALUES ( 'Spv Quality Control')
12637 Project Economist Analyst
INSERT INTO job_vacancies (title) VALUES ( 'Project Economist Analyst')
12638 Supervisor Clinic
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Clinic')
12639 Sales
INSERT INTO job_vacancies (title) VALUES ( 'Sales')
12640 Promotion Officer (Video Creator)
INSERT INTO job_vacancies (title) VALUES ( 'Promotion Officer (Video Creator)')
12641 Sales Executive
INSERT INTO job_vacancies (title) VALUES ( 'Sales Executive')
12642 Warehouse Officer
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Officer')
12643 Supervisor Purchasing (Food Manufacture) -Pfi
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Purchasing (Food Manufacture) -Pfi')
12644 Sales Supervisor (Samarinda)
INSERT INTO job_vacancies (title) VALUES ( 'Sales Supervisor (Samarinda)')
12645 Admin Finance
INSERT INTO job_vacancies (title) VALUES ( 'Admin Finance')
12646 Supervisor Ppic (Penempatan Karanganyar)
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Ppic (Penempatan Karanganyar)')
12647 Spv Legal
INSERT INTO job_vacancies (title) VALUES ( 'Spv Legal')
12648 Supervisor Project
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Project')
12649 Senior  Team Lead  Software  Developer Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Senior  Team Lead  Software  Developer Jakarta')
12650 Programmer Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Supervisor')
12651 It Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Support Officer')
12652 Product Specialist Staff
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist Staff')
12653 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
12654 Part-Time Lecturer - Mba Program
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer - Mba Program')
12655 Fullstack Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Web Developer')
12656 Mandarin Teacher
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Teacher')
12657 Finance Staff
INSERT INTO job_vacancies (title) VALUES ( 'Finance Staff')
12658 Content Creator Video Maker Officer
INSERT INTO job_vacancies (title) VALUES ( 'Content Creator Video Maker Officer')
12659 Business Process Improvement
INSERT INTO job_vacancies (title) VALUES ( 'Business Process Improvement')
12660 Environtmental Staff
INSERT INTO job_vacancies (title) VALUES ( 'Environtmental Staff')
12661 Admin Gudang
INSERT INTO job_vacancies (title) VALUES ( 'Admin Gudang')
12662 Data Engineer
INSERT INTO job_vacancies (title) VALUES ( 'Data Engineer')
12663 Business Development Officer Sukabumi
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer Sukabumi')
12664 It Support
INSERT INTO job_vacancies (title) VALUES ( 'It Support')
12665 Programmer Supervisor
INSERT INTO job_vacancies (title) VALUES ( 'Programmer Supervisor')
12666 It Support Officer
INSERT INTO job_vacancies (title) VALUES ( 'It Support Officer')
12667 Product Specialist Staff
INSERT INTO job_vacancies (title) VALUES ( 'Product Specialist Staff')
12668 Internal Audit Staff
INSERT INTO job_vacancies (title) VALUES ( 'Internal Audit Staff')
12669 Part-Time Lecturer - Mba Program
INSERT INTO job_vacancies (title) VALUES ( 'Part-Time Lecturer - Mba Program')
12670 Fullstack Web Developer
INSERT INTO job_vacancies (title) VALUES ( 'Fullstack Web Developer')
12671 Supervisor Project
INSERT INTO job_vacancies (title) VALUES ( 'Supervisor Project')
12672 Senior  Team Lead  Software  Developer Jakarta
INSERT INTO job_vacancies (title) VALUES ( 'Senior  Team Lead  Software  Developer Jakarta')
12673 Tenant Relation Officer - Lippo Plaza Jember
INSERT INTO job_vacancies (title) VALUES ( 'Tenant Relation Officer - Lippo Plaza Jember')
12674 Penanggung Jawab Teknis - Alat Kesehatan
INSERT INTO job_vacancies (title) VALUES ( 'Penanggung Jawab Teknis - Alat Kesehatan')
12675 Development Chef For A Private Dining Establishment
INSERT INTO job_vacancies (title) VALUES ( 'Development Chef For A Private Dining Establishment')
12676 Koordinator  /  Supervisor Finance, Accounting Dan Tax
INSERT INTO job_vacancies (title) VALUES ( 'Koordinator  /  Supervisor Finance, Accounting Dan Tax')
12677 Mobile Android Developer
INSERT INTO job_vacancies (title) VALUES ( 'Mobile Android Developer')
12678 Digital Marketing Specialist
INSERT INTO job_vacancies (title) VALUES ( 'Digital Marketing Specialist')
12679 Erp Project Manager (Medan Area)
INSERT INTO job_vacancies (title) VALUES ( 'Erp Project Manager (Medan Area)')
12680 Staff Guest Relations Officer (Gro)  /  Admin
INSERT INTO job_vacancies (title) VALUES ( 'Staff Guest Relations Officer (Gro)  /  Admin')
12681 Research Development
INSERT INTO job_vacancies (title) VALUES ( 'Research Development')
12682 It Hardware Presales  /  Sales Engineer  /  Sales Technical
INSERT INTO job_vacancies (title) VALUES ( 'It Hardware Presales  /  Sales Engineer  /  Sales Technical')
12683 Accountant
INSERT INTO job_vacancies (title) VALUES ( 'Accountant')
12684 Business Development Officer Cirebon
INSERT INTO job_vacancies (title) VALUES ( 'Business Development Officer Cirebon')
12685 Mandarin Finance Staff (Ar Ap Adm)
INSERT INTO job_vacancies (title) VALUES ( 'Mandarin Finance Staff (Ar Ap Adm)')
12686 Warehouse Staff For Heavy Equipment & Material Handling Company'S
INSERT INTO job_vacancies (title) VALUES ( 'Warehouse Staff For Heavy Equipment & Material Handling Company'S')

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'S')' at line 1