In [2]:
# Connect to DB

host="localhost"
user="root"

# host="192.168.100.3"
# user="rootx"

import mysql.connector
mydb = mysql.connector.connect(
    host=host,
    user=user,
    password="",
    database="pr_scraping_job_vacancy_indonesia_2022_04"
)
mycursor = mydb.cursor()
print('connect')

entity = 'salary_type'

# set query 1
select = ' id, created_at, ' + entity
fromdb = 'jobstreet_raws'
where = ' '
group = ' ' 

# ALTER TABLE `job_vacancies` ADD `salary_type_id` INT NULL DEFAULT NULL AFTER `experience`;

connect

In [ ]:
# insert new job_vacancies 

# set query 1
select = ' id, ' + entity
fromdb = 'jobstreet_raws_v2'
where = ' '
group = ' ' 
 
# query 1
mycursor = mydb.cursor()
mycursor.execute("SELECT " + select + " FROM `" + fromdb + "` " + where + group  )
myresult = mycursor.fetchall()
  
print('Start and Please Wait..')
# loop query 1
for x in myresult:  
    idx = str(x[0])
    word = x[1]  
    
    words = ' id: ' + idx + ' // word: ' + word
    print(words)

    query3 = "UPDATE job_vacancies SET "+entity+"_id =  '" + word + "' where raw_id = '" + idx + "'"
    print(query3)
    mycursor.execute(query3)
    mydb.commit()  

    query4 = "UPDATE jobstreet_raws_rc SET "+entity+" = '--extracted--'   " 
    where4 = "  where id = '" + idx + "'"  
    print(query4 + where4)
    mycursor.execute(query4 + where4)
    mydb.commit()  
         
print('Done : ' + str(len(myresult)) + ' row(s)')

Start and Please Wait..
 id: 1 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1'
 id: 2 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2'
 id: 3 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3'
 id: 4 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4'
 id: 5 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5'
 id: 6 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '6'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '6'
 id: 7 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '7'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '7'
 id: 8 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '8'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '8'
 id: 9 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '9'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '9'
 id: 10 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '10'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '10'
 id: 11 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '11'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '11'
 id: 12 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '12'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '12'
 id: 13 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '13'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '13'
 id: 14 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '14'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '14'
 id: 15 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '15'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '15'
 id: 16 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '16'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '16'
 id: 17 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '17'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '17'
 id: 18 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '18'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '18'
 id: 19 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '19'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '19'
 id: 20 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '20'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '20'
 id: 21 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '21'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '21'
 id: 22 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '22'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '22'
 id: 23 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '23'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '23'
 id: 24 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '24'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '24'
 id: 25 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '25'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '25'
 id: 26 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '26'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '26'
 id: 27 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '27'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '27'
 id: 28 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '28'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '28'
 id: 29 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '29'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '29'
 id: 30 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '30'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '30'
 id: 31 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '31'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '31'
 id: 32 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '32'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '32'
 id: 33 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '33'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '33'
 id: 34 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '34'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '34'
 id: 35 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '35'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '35'
 id: 36 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '36'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '36'
 id: 37 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '37'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '37'
 id: 38 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '38'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '38'
 id: 39 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '39'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '39'
 id: 40 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '40'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '40'
 id: 41 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '41'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '41'
 id: 42 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '42'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '42'
 id: 43 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '43'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '43'
 id: 44 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '44'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '44'
 id: 45 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '45'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '45'
 id: 46 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '46'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '46'
 id: 47 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '47'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '47'
 id: 48 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '48'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '48'
 id: 49 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '49'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '49'
 id: 50 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '50'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '50'
 id: 51 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '51'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '51'
 id: 52 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '52'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '52'
 id: 53 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '53'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '53'
 id: 54 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '54'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '54'
 id: 55 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '55'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '55'
 id: 56 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '56'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '56'
 id: 57 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '57'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '57'
 id: 58 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '58'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '58'
 id: 59 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '59'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '59'
 id: 60 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '60'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '60'
 id: 61 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '61'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '61'
 id: 62 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '62'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '62'
 id: 63 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '63'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '63'
 id: 64 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '64'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '64'
 id: 65 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '65'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '65'
 id: 66 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '66'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '66'
 id: 67 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '67'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '67'
 id: 68 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '68'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '68'
 id: 69 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '69'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '69'
 id: 70 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '70'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '70'
 id: 71 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '71'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '71'
 id: 72 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '72'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '72'
 id: 73 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '73'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '73'
 id: 74 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '74'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '74'
 id: 75 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '75'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '75'
 id: 76 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '76'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '76'
 id: 77 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '77'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '77'
 id: 78 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '78'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '78'
 id: 79 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '79'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '79'
 id: 80 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '80'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '80'
 id: 81 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '81'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '81'
 id: 82 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '82'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '82'
 id: 83 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '83'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '83'
 id: 84 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '84'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '84'
 id: 85 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '85'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '85'
 id: 86 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '86'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '86'
 id: 87 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '87'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '87'
 id: 88 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '88'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '88'
 id: 89 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '89'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '89'
 id: 90 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '90'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '90'
 id: 91 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '91'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '91'
 id: 92 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '92'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '92'
 id: 93 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '93'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '93'
 id: 94 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '94'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '94'
 id: 95 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '95'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '95'
 id: 96 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '96'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '96'
 id: 97 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '97'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '97'
 id: 98 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '98'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '98'
 id: 99 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '99'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '99'
 id: 100 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '100'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '100'
 id: 101 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '101'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '101'
 id: 102 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '102'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '102'
 id: 103 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '103'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '103'
 id: 104 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '104'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '104'
 id: 105 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '105'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '105'
 id: 106 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '106'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '106'
 id: 107 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '107'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '107'
 id: 108 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '108'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '108'
 id: 109 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '109'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '109'
 id: 110 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '110'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '110'
 id: 111 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '111'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '111'
 id: 112 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '112'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '112'
 id: 113 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '113'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '113'
 id: 114 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '114'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '114'
 id: 115 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '115'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '115'
 id: 116 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '116'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '116'
 id: 117 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '117'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '117'
 id: 118 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '118'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '118'
 id: 119 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '119'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '119'
 id: 120 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '120'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '120'
 id: 121 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '121'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '121'
 id: 122 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '122'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '122'
 id: 123 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '123'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '123'
 id: 124 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '124'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '124'
 id: 125 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '125'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '125'
 id: 126 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '126'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '126'
 id: 127 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '127'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '127'
 id: 128 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '128'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '128'
 id: 129 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '129'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '129'
 id: 130 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '130'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '130'
 id: 131 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '131'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '131'
 id: 132 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '132'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '132'
 id: 133 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '133'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '133'
 id: 134 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '134'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '134'
 id: 135 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '135'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '135'
 id: 136 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '136'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '136'
 id: 137 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '137'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '137'
 id: 138 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '138'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '138'
 id: 139 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '139'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '139'
 id: 140 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '140'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '140'
 id: 141 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '141'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '141'
 id: 142 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '142'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '142'
 id: 143 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '143'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '143'
 id: 144 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '144'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '144'
 id: 145 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '145'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '145'
 id: 146 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '146'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '146'
 id: 147 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '147'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '147'
 id: 148 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '148'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '148'
 id: 149 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '149'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '149'
 id: 150 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '150'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '150'
 id: 151 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '151'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '151'
 id: 152 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '152'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '152'
 id: 153 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '153'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '153'
 id: 154 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '154'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '154'
 id: 155 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '155'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '155'
 id: 156 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '156'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '156'
 id: 157 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '157'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '157'
 id: 158 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '158'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '158'
 id: 159 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '159'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '159'

 id: 160 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '160'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '160'
 id: 161 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '161'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '161'
 id: 162 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '162'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '162'
 id: 163 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '163'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '163'
 id: 164 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '164'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '164'
 id: 165 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '165'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '165'
 id: 166 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '166'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '166'
 id: 167 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '167'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '167'
 id: 168 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '168'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '168'
 id: 169 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '169'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '169'
 id: 170 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '170'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '170'
 id: 171 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '171'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '171'
 id: 172 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '172'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '172'
 id: 173 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '173'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '173'
 id: 174 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '174'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '174'
 id: 175 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '175'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '175'
 id: 176 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '176'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '176'
 id: 177 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '177'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '177'
 id: 178 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '178'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '178'
 id: 179 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '179'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '179'
 id: 180 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '180'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '180'
 id: 181 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '181'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '181'
 id: 182 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '182'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '182'
 id: 183 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '183'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '183'
 id: 184 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '184'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '184'
 id: 185 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '185'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '185'
 id: 186 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '186'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '186'
 id: 187 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '187'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '187'
 id: 188 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '188'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '188'
 id: 189 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '189'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '189'
 id: 190 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '190'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '190'
 id: 191 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '191'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '191'
 id: 192 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '192'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '192'
 id: 193 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '193'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '193'
 id: 194 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '194'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '194'
 id: 195 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '195'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '195'
 id: 196 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '196'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '196'
 id: 197 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '197'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '197'
 id: 198 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '198'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '198'
 id: 199 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '199'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '199'
 id: 200 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '200'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '200'
 id: 201 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '201'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '201'
 id: 202 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '202'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '202'
 id: 203 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '203'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '203'
 id: 204 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '204'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '204'
 id: 205 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '205'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '205'
 id: 206 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '206'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '206'
 id: 207 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '207'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '207'
 id: 208 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '208'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '208'
 id: 209 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '209'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '209'
 id: 210 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '210'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '210'
 id: 211 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '211'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '211'
 id: 212 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '212'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '212'
 id: 213 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '213'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '213'
 id: 214 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '214'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '214'
 id: 215 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '215'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '215'
 id: 216 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '216'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '216'
 id: 217 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '217'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '217'
 id: 218 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '218'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '218'
 id: 219 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '219'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '219'
 id: 220 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '220'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '220'
 id: 221 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '221'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '221'
 id: 222 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '222'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '222'
 id: 223 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '223'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '223'
 id: 224 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '224'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '224'
 id: 225 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '225'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '225'
 id: 226 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '226'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '226'
 id: 227 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '227'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '227'
 id: 228 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '228'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '228'
 id: 229 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '229'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '229'
 id: 230 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '230'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '230'
 id: 231 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '231'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '231'
 id: 232 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '232'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '232'
 id: 233 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '233'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '233'
 id: 234 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '234'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '234'
 id: 235 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '235'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '235'
 id: 236 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '236'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '236'
 id: 237 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '237'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '237'
 id: 238 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '238'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '238'
 id: 239 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '239'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '239'
 id: 240 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '240'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '240'
 id: 241 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '241'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '241'
 id: 242 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '242'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '242'
 id: 243 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '243'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '243'
 id: 244 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '244'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '244'
 id: 245 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '245'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '245'
 id: 246 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '246'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '246'
 id: 247 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '247'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '247'
 id: 248 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '248'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '248'
 id: 249 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '249'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '249'
 id: 250 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '250'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '250'
 id: 251 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '251'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '251'
 id: 252 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '252'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '252'
 id: 253 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '253'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '253'
 id: 254 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '254'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '254'
 id: 255 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '255'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '255'
 id: 256 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '256'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '256'
 id: 257 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '257'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '257'
 id: 258 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '258'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '258'
 id: 259 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '259'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '259'
 id: 260 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '260'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '260'
 id: 261 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '261'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '261'
 id: 262 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '262'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '262'
 id: 263 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '263'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '263'
 id: 264 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '264'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '264'
 id: 265 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '265'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '265'
 id: 266 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '266'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '266'
 id: 267 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '267'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '267'
 id: 268 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '268'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '268'
 id: 269 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '269'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '269'
 id: 270 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '270'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '270'
 id: 271 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '271'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '271'
 id: 272 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '272'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '272'
 id: 273 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '273'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '273'
 id: 274 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '274'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '274'
 id: 275 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '275'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '275'
 id: 276 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '276'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '276'
 id: 277 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '277'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '277'
 id: 278 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '278'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '278'
 id: 279 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '279'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '279'
 id: 280 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '280'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '280'
 id: 281 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '281'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '281'
 id: 282 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '282'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '282'
 id: 283 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '283'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '283'
 id: 284 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '284'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '284'
 id: 285 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '285'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '285'
 id: 286 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '286'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '286'
 id: 287 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '287'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '287'
 id: 288 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '288'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '288'
 id: 289 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '289'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '289'
 id: 290 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '290'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '290'
 id: 291 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '291'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '291'
 id: 292 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '292'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '292'
 id: 293 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '293'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '293'
 id: 294 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '294'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '294'
 id: 295 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '295'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '295'
 id: 296 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '296'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '296'
 id: 297 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '297'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '297'
 id: 298 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '298'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '298'
 id: 299 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '299'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '299'
 id: 300 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '300'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '300'
 id: 301 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '301'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '301'
 id: 302 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '302'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '302'
 id: 303 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '303'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '303'
 id: 304 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '304'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '304'
 id: 305 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '305'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '305'
 id: 306 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '306'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '306'
 id: 307 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '307'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '307'
 id: 308 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '308'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '308'
 id: 309 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '309'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '309'
 id: 310 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '310'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '310'
 id: 311 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '311'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '311'
 id: 312 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '312'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '312'
 id: 313 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '313'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '313'

 id: 314 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '314'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '314'
 id: 315 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '315'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '315'
 id: 316 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '316'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '316'
 id: 317 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '317'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '317'
 id: 318 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '318'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '318'
 id: 319 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '319'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '319'
 id: 320 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '320'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '320'
 id: 321 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '321'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '321'
 id: 322 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '322'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '322'
 id: 323 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '323'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '323'
 id: 324 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '324'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '324'
 id: 325 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '325'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '325'
 id: 326 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '326'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '326'
 id: 327 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '327'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '327'
 id: 328 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '328'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '328'
 id: 329 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '329'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '329'
 id: 330 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '330'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '330'
 id: 331 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '331'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '331'
 id: 332 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '332'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '332'
 id: 333 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '333'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '333'
 id: 334 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '334'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '334'
 id: 335 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '335'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '335'
 id: 336 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '336'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '336'
 id: 337 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '337'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '337'
 id: 338 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '338'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '338'
 id: 339 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '339'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '339'
 id: 340 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '340'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '340'
 id: 341 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '341'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '341'
 id: 342 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '342'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '342'
 id: 343 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '343'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '343'
 id: 344 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '344'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '344'
 id: 345 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '345'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '345'
 id: 346 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '346'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '346'
 id: 347 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '347'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '347'
 id: 348 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '348'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '348'
 id: 349 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '349'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '349'
 id: 350 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '350'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '350'
 id: 351 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '351'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '351'
 id: 352 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '352'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '352'
 id: 353 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '353'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '353'
 id: 354 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '354'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '354'
 id: 355 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '355'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '355'
 id: 356 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '356'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '356'
 id: 357 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '357'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '357'
 id: 358 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '358'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '358'
 id: 359 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '359'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '359'
 id: 360 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '360'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '360'
 id: 361 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '361'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '361'
 id: 362 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '362'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '362'
 id: 363 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '363'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '363'
 id: 364 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '364'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '364'
 id: 365 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '365'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '365'
 id: 366 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '366'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '366'
 id: 367 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '367'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '367'
 id: 368 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '368'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '368'
 id: 369 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '369'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '369'
 id: 370 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '370'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '370'
 id: 371 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '371'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '371'
 id: 372 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '372'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '372'
 id: 373 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '373'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '373'
 id: 374 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '374'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '374'
 id: 375 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '375'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '375'
 id: 376 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '376'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '376'
 id: 377 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '377'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '377'
 id: 378 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '378'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '378'
 id: 379 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '379'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '379'
 id: 380 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '380'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '380'
 id: 381 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '381'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '381'
 id: 382 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '382'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '382'
 id: 383 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '383'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '383'
 id: 384 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '384'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '384'
 id: 385 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '385'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '385'
 id: 386 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '386'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '386'
 id: 387 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '387'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '387'
 id: 388 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '388'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '388'
 id: 389 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '389'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '389'
 id: 390 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '390'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '390'
 id: 391 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '391'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '391'
 id: 392 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '392'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '392'
 id: 393 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '393'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '393'
 id: 394 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '394'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '394'
 id: 395 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '395'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '395'
 id: 396 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '396'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '396'
 id: 397 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '397'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '397'
 id: 398 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '398'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '398'
 id: 399 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '399'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '399'
 id: 400 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '400'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '400'
 id: 401 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '401'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '401'
 id: 402 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '402'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '402'
 id: 403 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '403'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '403'
 id: 404 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '404'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '404'
 id: 405 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '405'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '405'
 id: 406 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '406'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '406'
 id: 407 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '407'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '407'
 id: 408 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '408'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '408'
 id: 409 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '409'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '409'
 id: 410 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '410'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '410'
 id: 411 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '411'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '411'
 id: 412 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '412'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '412'

 id: 413 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '413'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '413'
 id: 414 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '414'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '414'
 id: 415 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '415'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '415'
 id: 416 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '416'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '416'
 id: 417 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '417'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '417'
 id: 418 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '418'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '418'
 id: 419 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '419'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '419'
 id: 420 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '420'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '420'
 id: 421 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '421'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '421'
 id: 422 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '422'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '422'
 id: 423 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '423'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '423'
 id: 424 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '424'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '424'
 id: 425 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '425'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '425'
 id: 426 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '426'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '426'
 id: 427 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '427'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '427'
 id: 428 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '428'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '428'
 id: 429 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '429'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '429'
 id: 430 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '430'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '430'
 id: 431 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '431'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '431'
 id: 432 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '432'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '432'
 id: 433 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '433'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '433'
 id: 434 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '434'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '434'
 id: 435 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '435'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '435'
 id: 436 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '436'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '436'
 id: 437 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '437'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '437'
 id: 438 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '438'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '438'
 id: 439 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '439'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '439'
 id: 440 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '440'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '440'
 id: 441 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '441'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '441'
 id: 442 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '442'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '442'
 id: 443 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '443'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '443'
 id: 444 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '444'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '444'
 id: 445 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '445'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '445'
 id: 446 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '446'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '446'
 id: 447 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '447'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '447'
 id: 448 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '448'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '448'
 id: 449 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '449'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '449'
 id: 450 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '450'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '450'
 id: 451 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '451'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '451'
 id: 452 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '452'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '452'
 id: 453 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '453'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '453'
 id: 454 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '454'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '454'
 id: 455 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '455'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '455'
 id: 456 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '456'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '456'
 id: 457 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '457'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '457'
 id: 458 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '458'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '458'
 id: 459 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '459'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '459'
 id: 460 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '460'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '460'
 id: 461 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '461'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '461'
 id: 462 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '462'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '462'

 id: 463 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '463'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '463'
 id: 464 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '464'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '464'
 id: 465 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '465'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '465'
 id: 466 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '466'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '466'
 id: 467 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '467'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '467'
 id: 468 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '468'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '468'
 id: 469 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '469'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '469'
 id: 470 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '470'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '470'
 id: 471 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '471'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '471'
 id: 472 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '472'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '472'
 id: 473 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '473'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '473'
 id: 474 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '474'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '474'
 id: 475 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '475'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '475'
 id: 476 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '476'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '476'
 id: 477 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '477'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '477'
 id: 478 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '478'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '478'
 id: 479 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '479'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '479'
 id: 480 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '480'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '480'
 id: 481 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '481'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '481'
 id: 482 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '482'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '482'
 id: 483 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '483'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '483'
 id: 484 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '484'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '484'
 id: 485 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '485'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '485'
 id: 486 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '486'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '486'
 id: 487 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '487'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '487'
 id: 488 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '488'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '488'
 id: 489 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '489'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '489'
 id: 490 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '490'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '490'
 id: 491 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '491'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '491'
 id: 492 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '492'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '492'
 id: 493 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '493'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '493'
 id: 494 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '494'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '494'
 id: 495 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '495'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '495'
 id: 496 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '496'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '496'
 id: 497 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '497'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '497'
 id: 498 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '498'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '498'
 id: 499 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '499'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '499'
 id: 500 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '500'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '500'
 id: 501 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '501'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '501'
 id: 502 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '502'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '502'
 id: 503 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '503'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '503'
 id: 504 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '504'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '504'
 id: 505 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '505'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '505'
 id: 506 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '506'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '506'
 id: 507 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '507'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '507'
 id: 508 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '508'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '508'
 id: 509 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '509'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '509'
 id: 510 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '510'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '510'
 id: 511 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '511'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '511'
 id: 512 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '512'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '512'
 id: 513 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '513'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '513'
 id: 514 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '514'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '514'
 id: 515 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '515'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '515'

 id: 516 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '516'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '516'
 id: 517 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '517'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '517'
 id: 518 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '518'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '518'
 id: 519 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '519'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '519'
 id: 520 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '520'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '520'
 id: 521 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '521'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '521'
 id: 522 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '522'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '522'
 id: 523 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '523'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '523'
 id: 524 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '524'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '524'
 id: 525 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '525'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '525'
 id: 526 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '526'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '526'
 id: 527 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '527'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '527'
 id: 528 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '528'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '528'
 id: 529 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '529'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '529'
 id: 530 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '530'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '530'
 id: 531 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '531'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '531'
 id: 532 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '532'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '532'
 id: 533 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '533'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '533'
 id: 534 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '534'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '534'
 id: 535 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '535'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '535'
 id: 536 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '536'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '536'
 id: 537 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '537'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '537'
 id: 538 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '538'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '538'
 id: 539 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '539'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '539'
 id: 540 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '540'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '540'
 id: 541 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '541'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '541'
 id: 542 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '542'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '542'
 id: 543 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '543'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '543'
 id: 544 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '544'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '544'
 id: 545 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '545'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '545'
 id: 546 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '546'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '546'
 id: 547 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '547'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '547'
 id: 548 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '548'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '548'
 id: 549 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '549'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '549'
 id: 550 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '550'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '550'
 id: 551 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '551'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '551'
 id: 552 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '552'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '552'
 id: 553 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '553'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '553'
 id: 554 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '554'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '554'
 id: 555 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '555'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '555'
 id: 556 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '556'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '556'
 id: 557 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '557'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '557'
 id: 558 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '558'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '558'
 id: 559 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '559'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '559'
 id: 560 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '560'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '560'
 id: 561 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '561'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '561'
 id: 562 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '562'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '562'
 id: 563 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '563'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '563'
 id: 564 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '564'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '564'
 id: 565 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '565'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '565'
 id: 566 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '566'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '566'
 id: 567 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '567'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '567'
 id: 568 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '568'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '568'

 id: 569 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '569'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '569'
 id: 570 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '570'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '570'
 id: 571 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '571'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '571'
 id: 572 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '572'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '572'
 id: 573 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '573'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '573'
 id: 574 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '574'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '574'
 id: 575 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '575'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '575'
 id: 576 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '576'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '576'
 id: 577 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '577'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '577'
 id: 578 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '578'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '578'
 id: 579 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '579'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '579'
 id: 580 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '580'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '580'
 id: 581 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '581'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '581'
 id: 582 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '582'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '582'
 id: 583 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '583'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '583'
 id: 584 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '584'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '584'
 id: 585 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '585'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '585'
 id: 586 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '586'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '586'
 id: 587 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '587'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '587'
 id: 588 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '588'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '588'
 id: 589 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '589'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '589'
 id: 590 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '590'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '590'
 id: 591 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '591'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '591'
 id: 592 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '592'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '592'
 id: 593 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '593'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '593'
 id: 594 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '594'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '594'
 id: 595 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '595'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '595'
 id: 596 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '596'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '596'
 id: 597 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '597'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '597'
 id: 598 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '598'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '598'
 id: 599 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '599'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '599'
 id: 600 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '600'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '600'
 id: 601 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '601'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '601'
 id: 602 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '602'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '602'
 id: 603 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '603'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '603'
 id: 604 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '604'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '604'
 id: 605 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '605'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '605'
 id: 606 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '606'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '606'
 id: 607 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '607'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '607'
 id: 608 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '608'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '608'
 id: 609 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '609'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '609'
 id: 610 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '610'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '610'
 id: 611 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '611'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '611'
 id: 612 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '612'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '612'
 id: 613 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '613'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '613'
 id: 614 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '614'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '614'
 id: 615 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '615'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '615'
 id: 616 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '616'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '616'
 id: 617 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '617'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '617'
 id: 618 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '618'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '618'
 id: 619 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '619'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '619'
 id: 620 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '620'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '620'
 id: 621 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '621'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '621'
 id: 622 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '622'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '622'
 id: 623 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '623'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '623'
 id: 624 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '624'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '624'
 id: 625 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '625'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '625'
 id: 626 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '626'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '626'
 id: 627 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '627'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '627'
 id: 628 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '628'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '628'
 id: 629 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '629'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '629'
 id: 630 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '630'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '630'
 id: 631 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '631'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '631'
 id: 632 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '632'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '632'
 id: 633 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '633'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '633'
 id: 634 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '634'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '634'
 id: 635 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '635'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '635'
 id: 636 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '636'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '636'
 id: 637 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '637'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '637'
 id: 638 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '638'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '638'
 id: 639 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '639'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '639'
 id: 640 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '640'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '640'
 id: 641 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '641'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '641'
 id: 642 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '642'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '642'
 id: 643 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '643'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '643'
 id: 644 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '644'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '644'
 id: 645 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '645'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '645'
 id: 646 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '646'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '646'
 id: 647 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '647'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '647'
 id: 648 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '648'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '648'
 id: 649 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '649'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '649'
 id: 650 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '650'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '650'
 id: 651 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '651'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '651'
 id: 652 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '652'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '652'
 id: 653 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '653'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '653'
 id: 654 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '654'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '654'
 id: 655 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '655'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '655'
 id: 656 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '656'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '656'
 id: 657 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '657'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '657'
 id: 658 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '658'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '658'
 id: 659 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '659'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '659'
 id: 660 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '660'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '660'
 id: 661 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '661'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '661'
 id: 662 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '662'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '662'
 id: 663 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '663'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '663'
 id: 664 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '664'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '664'
 id: 665 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '665'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '665'
 id: 666 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '666'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '666'
 id: 667 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '667'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '667'
 id: 668 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '668'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '668'
 id: 669 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '669'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '669'
 id: 670 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '670'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '670'
 id: 671 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '671'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '671'
 id: 672 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '672'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '672'
 id: 673 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '673'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '673'

 id: 674 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '674'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '674'
 id: 675 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '675'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '675'
 id: 676 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '676'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '676'
 id: 677 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '677'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '677'
 id: 678 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '678'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '678'
 id: 679 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '679'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '679'
 id: 680 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '680'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '680'
 id: 681 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '681'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '681'
 id: 682 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '682'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '682'
 id: 683 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '683'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '683'
 id: 684 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '684'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '684'
 id: 685 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '685'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '685'
 id: 686 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '686'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '686'
 id: 687 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '687'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '687'
 id: 688 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '688'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '688'
 id: 689 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '689'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '689'
 id: 690 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '690'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '690'
 id: 691 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '691'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '691'
 id: 692 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '692'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '692'
 id: 693 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '693'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '693'
 id: 694 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '694'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '694'
 id: 695 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '695'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '695'
 id: 696 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '696'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '696'
 id: 697 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '697'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '697'
 id: 698 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '698'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '698'
 id: 699 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '699'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '699'
 id: 700 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '700'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '700'
 id: 701 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '701'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '701'
 id: 702 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '702'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '702'
 id: 703 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '703'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '703'
 id: 704 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '704'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '704'
 id: 705 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '705'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '705'
 id: 706 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '706'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '706'
 id: 707 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '707'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '707'
 id: 708 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '708'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '708'
 id: 709 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '709'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '709'
 id: 710 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '710'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '710'
 id: 711 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '711'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '711'
 id: 712 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '712'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '712'
 id: 713 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '713'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '713'
 id: 714 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '714'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '714'
 id: 715 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '715'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '715'
 id: 716 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '716'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '716'
 id: 717 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '717'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '717'
 id: 718 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '718'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '718'
 id: 719 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '719'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '719'
 id: 720 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '720'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '720'
 id: 721 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '721'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '721'
 id: 722 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '722'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '722'

 id: 723 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '723'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '723'
 id: 724 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '724'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '724'
 id: 725 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '725'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '725'
 id: 726 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '726'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '726'
 id: 727 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '727'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '727'
 id: 728 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '728'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '728'
 id: 729 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '729'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '729'
 id: 730 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '730'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '730'
 id: 731 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '731'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '731'
 id: 732 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '732'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '732'
 id: 733 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '733'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '733'
 id: 734 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '734'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '734'
 id: 735 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '735'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '735'
 id: 736 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '736'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '736'
 id: 737 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '737'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '737'
 id: 738 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '738'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '738'
 id: 739 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '739'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '739'
 id: 740 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '740'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '740'
 id: 741 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '741'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '741'
 id: 742 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '742'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '742'
 id: 743 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '743'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '743'
 id: 744 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '744'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '744'
 id: 745 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '745'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '745'
 id: 746 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '746'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '746'
 id: 747 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '747'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '747'
 id: 748 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '748'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '748'
 id: 749 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '749'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '749'
 id: 750 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '750'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '750'
 id: 751 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '751'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '751'
 id: 752 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '752'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '752'
 id: 753 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '753'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '753'
 id: 754 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '754'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '754'
 id: 755 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '755'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '755'
 id: 756 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '756'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '756'
 id: 757 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '757'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '757'
 id: 758 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '758'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '758'
 id: 759 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '759'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '759'
 id: 760 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '760'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '760'
 id: 761 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '761'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '761'
 id: 762 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '762'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '762'
 id: 763 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '763'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '763'
 id: 764 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '764'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '764'
 id: 765 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '765'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '765'
 id: 766 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '766'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '766'
 id: 767 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '767'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '767'
 id: 768 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '768'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '768'
 id: 769 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '769'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '769'
 id: 770 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '770'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '770'
 id: 771 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '771'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '771'
 id: 772 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '772'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '772'

 id: 773 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '773'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '773'
 id: 774 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '774'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '774'
 id: 775 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '775'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '775'
 id: 776 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '776'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '776'
 id: 777 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '777'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '777'
 id: 778 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '778'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '778'
 id: 779 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '779'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '779'
 id: 780 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '780'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '780'
 id: 781 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '781'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '781'
 id: 782 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '782'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '782'
 id: 783 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '783'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '783'
 id: 784 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '784'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '784'
 id: 785 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '785'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '785'
 id: 786 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '786'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '786'
 id: 787 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '787'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '787'
 id: 788 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '788'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '788'
 id: 789 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '789'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '789'
 id: 790 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '790'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '790'
 id: 791 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '791'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '791'
 id: 792 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '792'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '792'
 id: 793 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '793'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '793'
 id: 794 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '794'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '794'
 id: 795 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '795'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '795'
 id: 796 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '796'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '796'
 id: 797 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '797'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '797'
 id: 798 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '798'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '798'
 id: 799 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '799'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '799'
 id: 800 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '800'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '800'
 id: 801 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '801'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '801'
 id: 802 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '802'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '802'
 id: 803 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '803'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '803'
 id: 804 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '804'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '804'
 id: 805 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '805'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '805'
 id: 806 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '806'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '806'
 id: 807 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '807'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '807'
 id: 808 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '808'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '808'
 id: 809 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '809'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '809'
 id: 810 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '810'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '810'
 id: 811 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '811'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '811'
 id: 812 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '812'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '812'
 id: 813 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '813'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '813'
 id: 814 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '814'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '814'
 id: 815 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '815'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '815'
 id: 816 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '816'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '816'
 id: 817 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '817'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '817'
 id: 818 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '818'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '818'
 id: 819 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '819'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '819'
 id: 820 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '820'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '820'
 id: 821 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '821'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '821'
 id: 822 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '822'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '822'
 id: 823 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '823'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '823'

 id: 824 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '824'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '824'
 id: 825 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '825'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '825'
 id: 826 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '826'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '826'
 id: 827 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '827'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '827'
 id: 828 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '828'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '828'
 id: 829 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '829'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '829'
 id: 830 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '830'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '830'
 id: 831 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '831'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '831'
 id: 832 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '832'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '832'
 id: 833 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '833'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '833'
 id: 834 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '834'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '834'
 id: 835 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '835'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '835'
 id: 836 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '836'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '836'
 id: 837 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '837'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '837'
 id: 838 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '838'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '838'
 id: 839 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '839'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '839'
 id: 840 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '840'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '840'
 id: 841 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '841'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '841'
 id: 842 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '842'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '842'
 id: 843 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '843'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '843'
 id: 844 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '844'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '844'
 id: 845 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '845'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '845'
 id: 846 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '846'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '846'
 id: 847 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '847'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '847'
 id: 848 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '848'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '848'
 id: 849 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '849'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '849'
 id: 850 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '850'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '850'
 id: 851 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '851'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '851'
 id: 852 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '852'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '852'
 id: 853 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '853'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '853'
 id: 854 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '854'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '854'
 id: 855 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '855'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '855'
 id: 856 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '856'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '856'
 id: 857 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '857'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '857'
 id: 858 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '858'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '858'
 id: 859 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '859'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '859'
 id: 860 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '860'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '860'
 id: 861 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '861'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '861'
 id: 862 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '862'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '862'
 id: 863 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '863'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '863'
 id: 864 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '864'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '864'
 id: 865 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '865'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '865'
 id: 866 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '866'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '866'
 id: 867 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '867'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '867'
 id: 868 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '868'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '868'
 id: 869 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '869'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '869'
 id: 870 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '870'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '870'
 id: 871 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '871'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '871'
 id: 872 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '872'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '872'
 id: 873 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '873'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '873'
 id: 874 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '874'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '874'
 id: 875 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '875'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '875'
 id: 876 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '876'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '876'
 id: 877 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '877'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '877'
 id: 878 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '878'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '878'
 id: 879 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '879'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '879'
 id: 880 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '880'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '880'
 id: 881 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '881'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '881'
 id: 882 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '882'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '882'
 id: 883 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '883'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '883'
 id: 884 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '884'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '884'
 id: 885 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '885'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '885'
 id: 886 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '886'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '886'
 id: 887 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '887'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '887'
 id: 888 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '888'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '888'
 id: 889 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '889'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '889'
 id: 890 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '890'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '890'
 id: 891 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '891'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '891'
 id: 892 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '892'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '892'
 id: 893 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '893'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '893'
 id: 894 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '894'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '894'
 id: 895 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '895'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '895'
 id: 896 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '896'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '896'
 id: 897 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '897'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '897'
 id: 898 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '898'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '898'
 id: 899 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '899'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '899'
 id: 900 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '900'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '900'
 id: 901 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '901'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '901'
 id: 902 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '902'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '902'
 id: 903 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '903'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '903'
 id: 904 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '904'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '904'
 id: 905 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '905'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '905'
 id: 906 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '906'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '906'
 id: 907 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '907'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '907'
 id: 908 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '908'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '908'
 id: 909 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '909'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '909'
 id: 910 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '910'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '910'
 id: 911 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '911'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '911'
 id: 912 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '912'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '912'
 id: 913 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '913'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '913'
 id: 914 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '914'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '914'
 id: 915 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '915'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '915'
 id: 916 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '916'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '916'
 id: 917 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '917'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '917'
 id: 918 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '918'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '918'
 id: 919 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '919'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '919'
 id: 920 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '920'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '920'
 id: 921 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '921'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '921'
 id: 922 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '922'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '922'
 id: 923 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '923'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '923'
 id: 924 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '924'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '924'
 id: 925 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '925'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '925'
 id: 926 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '926'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '926'
 id: 927 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '927'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '927'
 id: 928 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '928'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '928'
 id: 929 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '929'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '929'
 id: 930 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '930'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '930'
 id: 931 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '931'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '931'
 id: 932 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '932'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '932'
 id: 933 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '933'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '933'
 id: 934 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '934'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '934'
 id: 935 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '935'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '935'
 id: 936 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '936'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '936'
 id: 937 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '937'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '937'
 id: 938 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '938'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '938'
 id: 939 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '939'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '939'
 id: 940 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '940'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '940'
 id: 941 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '941'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '941'
 id: 942 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '942'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '942'
 id: 943 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '943'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '943'
 id: 944 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '944'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '944'
 id: 945 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '945'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '945'
 id: 946 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '946'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '946'
 id: 947 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '947'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '947'
 id: 948 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '948'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '948'
 id: 949 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '949'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '949'
 id: 950 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '950'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '950'
 id: 951 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '951'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '951'
 id: 952 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '952'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '952'
 id: 953 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '953'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '953'
 id: 954 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '954'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '954'
 id: 955 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '955'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '955'
 id: 956 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '956'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '956'
 id: 957 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '957'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '957'
 id: 958 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '958'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '958'
 id: 959 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '959'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '959'
 id: 960 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '960'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '960'
 id: 961 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '961'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '961'
 id: 962 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '962'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '962'
 id: 963 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '963'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '963'
 id: 964 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '964'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '964'
 id: 965 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '965'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '965'
 id: 966 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '966'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '966'
 id: 967 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '967'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '967'
 id: 968 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '968'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '968'
 id: 969 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '969'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '969'
 id: 970 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '970'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '970'
 id: 971 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '971'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '971'
 id: 972 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '972'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '972'

 id: 973 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '973'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '973'
 id: 974 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '974'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '974'
 id: 975 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '975'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '975'
 id: 976 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '976'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '976'
 id: 977 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '977'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '977'
 id: 978 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '978'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '978'
 id: 979 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '979'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '979'
 id: 980 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '980'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '980'
 id: 981 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '981'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '981'
 id: 982 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '982'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '982'
 id: 983 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '983'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '983'
 id: 984 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '984'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '984'
 id: 985 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '985'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '985'
 id: 986 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '986'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '986'
 id: 987 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '987'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '987'
 id: 988 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '988'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '988'
 id: 989 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '989'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '989'
 id: 990 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '990'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '990'
 id: 991 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '991'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '991'
 id: 992 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '992'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '992'
 id: 993 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '993'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '993'
 id: 994 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '994'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '994'
 id: 995 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '995'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '995'
 id: 996 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '996'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '996'
 id: 997 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '997'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '997'
 id: 998 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '998'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '998'
 id: 999 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '999'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '999'
 id: 1000 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1000'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1000'
 id: 1001 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1001'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1001'
 id: 1002 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1002'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1002'
 id: 1003 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1003'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1003'
 id: 1004 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1004'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1004'
 id: 1005 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1005'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1005'
 id: 1006 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1006'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1006'
 id: 1007 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1007'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1007'
 id: 1008 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1008'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1008'
 id: 1009 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1009'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1009'
 id: 1010 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1010'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1010'
 id: 1011 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1011'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1011'
 id: 1012 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1012'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1012'
 id: 1013 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1013'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1013'
 id: 1014 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1014'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1014'
 id: 1015 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1015'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1015'
 id: 1016 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1016'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1016'
 id: 1017 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1017'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1017'
 id: 1018 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1018'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1018'
 id: 1019 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1019'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1019'
 id: 1020 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1020'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1020'
 id: 1021 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1021'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1021'
 id: 1022 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1022'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1022'
 id: 1023 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1023'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1023'
 id: 1024 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1024'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1024'
 id: 1025 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1025'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1025'
 id: 1026 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1026'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1026'
 id: 1027 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1027'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1027'
 id: 1028 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1028'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1028'
 id: 1029 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1029'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1029'
 id: 1030 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1030'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1030'
 id: 1031 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1031'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1031'
 id: 1032 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1032'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1032'
 id: 1033 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1033'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1033'
 id: 1034 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1034'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1034'
 id: 1035 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1035'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1035'
 id: 1036 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1036'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1036'
 id: 1037 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1037'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1037'
 id: 1038 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1038'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1038'
 id: 1039 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1039'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1039'
 id: 1040 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1040'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1040'
 id: 1041 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1041'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1041'
 id: 1042 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1042'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1042'
 id: 1043 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1043'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1043'
 id: 1044 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1044'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1044'
 id: 1045 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1045'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1045'
 id: 1046 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1046'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1046'
 id: 1047 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1047'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1047'
 id: 1048 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1048'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1048'
 id: 1049 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1049'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1049'
 id: 1050 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1050'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1050'
 id: 1051 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1051'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1051'
 id: 1052 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1052'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1052'
 id: 1053 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1053'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1053'
 id: 1054 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1054'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1054'
 id: 1055 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1055'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1055'
 id: 1056 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1056'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1056'
 id: 1057 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1057'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1057'
 id: 1058 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1058'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1058'
 id: 1059 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1059'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1059'
 id: 1060 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1060'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1060'
 id: 1061 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1061'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1061'
 id: 1062 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1062'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1062'
 id: 1063 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1063'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1063'
 id: 1064 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1064'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1064'
 id: 1065 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1065'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1065'
 id: 1066 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1066'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1066'
 id: 1067 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1067'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1067'
 id: 1068 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1068'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1068'
 id: 1069 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1069'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1069'
 id: 1070 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1070'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1070'
 id: 1071 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1071'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1071'

 id: 1072 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1072'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1072'
 id: 1073 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1073'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1073'
 id: 1074 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1074'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1074'
 id: 1075 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1075'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1075'
 id: 1076 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1076'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1076'
 id: 1077 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1077'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1077'
 id: 1078 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1078'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1078'
 id: 1079 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1079'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1079'
 id: 1080 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1080'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1080'
 id: 1081 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1081'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1081'
 id: 1082 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1082'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1082'
 id: 1083 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1083'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1083'
 id: 1084 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1084'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1084'
 id: 1085 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1085'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1085'
 id: 1086 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1086'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1086'
 id: 1087 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1087'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1087'
 id: 1088 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1088'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1088'
 id: 1089 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1089'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1089'
 id: 1090 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1090'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1090'
 id: 1091 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1091'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1091'
 id: 1092 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1092'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1092'
 id: 1093 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1093'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1093'
 id: 1094 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1094'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1094'
 id: 1095 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1095'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1095'
 id: 1096 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1096'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1096'
 id: 1097 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1097'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1097'
 id: 1098 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1098'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1098'
 id: 1099 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1099'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1099'
 id: 1100 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1100'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1100'
 id: 1101 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1101'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1101'
 id: 1102 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1102'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1102'
 id: 1103 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1103'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1103'
 id: 1104 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1104'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1104'
 id: 1105 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1105'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1105'
 id: 1106 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1106'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1106'
 id: 1107 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1107'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1107'
 id: 1108 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1108'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1108'
 id: 1109 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1109'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1109'
 id: 1110 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1110'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1110'
 id: 1111 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1111'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1111'
 id: 1112 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1112'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1112'
 id: 1113 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1113'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1113'
 id: 1114 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1114'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1114'
 id: 1115 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1115'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1115'
 id: 1116 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1116'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1116'
 id: 1117 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1117'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1117'
 id: 1118 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1118'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1118'
 id: 1119 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1119'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1119'
 id: 1120 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1120'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1120'
 id: 1121 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1121'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1121'
 id: 1122 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1122'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1122'
 id: 1123 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1123'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1123'

 id: 1124 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1124'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1124'
 id: 1125 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1125'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1125'
 id: 1126 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1126'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1126'
 id: 1127 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1127'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1127'
 id: 1128 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1128'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1128'
 id: 1129 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1129'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1129'
 id: 1130 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1130'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1130'
 id: 1131 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1131'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1131'
 id: 1132 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1132'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1132'
 id: 1133 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1133'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1133'
 id: 1134 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1134'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1134'
 id: 1135 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1135'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1135'
 id: 1136 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1136'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1136'
 id: 1137 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1137'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1137'
 id: 1138 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1138'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1138'
 id: 1139 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1139'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1139'
 id: 1140 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1140'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1140'
 id: 1141 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1141'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1141'
 id: 1142 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1142'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1142'
 id: 1143 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1143'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1143'
 id: 1144 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1144'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1144'
 id: 1145 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1145'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1145'
 id: 1146 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1146'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1146'
 id: 1147 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1147'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1147'
 id: 1148 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1148'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1148'
 id: 1149 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1149'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1149'
 id: 1150 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1150'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1150'
 id: 1151 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1151'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1151'
 id: 1152 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1152'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1152'
 id: 1153 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1153'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1153'
 id: 1154 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1154'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1154'
 id: 1155 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1155'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1155'
 id: 1156 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1156'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1156'
 id: 1157 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1157'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1157'
 id: 1158 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1158'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1158'
 id: 1159 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1159'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1159'
 id: 1160 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1160'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1160'
 id: 1161 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1161'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1161'
 id: 1162 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1162'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1162'
 id: 1163 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1163'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1163'
 id: 1164 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1164'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1164'
 id: 1165 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1165'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1165'
 id: 1166 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1166'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1166'
 id: 1167 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1167'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1167'
 id: 1168 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1168'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1168'
 id: 1169 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1169'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1169'
 id: 1170 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1170'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1170'
 id: 1171 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1171'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1171'
 id: 1172 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1172'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1172'

 id: 1173 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1173'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1173'
 id: 1174 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1174'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1174'
 id: 1175 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1175'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1175'
 id: 1176 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1176'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1176'
 id: 1177 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1177'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1177'
 id: 1178 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1178'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1178'
 id: 1179 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1179'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1179'
 id: 1180 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1180'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1180'
 id: 1181 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1181'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1181'
 id: 1182 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1182'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1182'
 id: 1183 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1183'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1183'
 id: 1184 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1184'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1184'
 id: 1185 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1185'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1185'
 id: 1186 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1186'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1186'
 id: 1187 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1187'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1187'
 id: 1188 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1188'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1188'
 id: 1189 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1189'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1189'
 id: 1190 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1190'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1190'
 id: 1191 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1191'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1191'
 id: 1192 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1192'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1192'
 id: 1193 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1193'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1193'
 id: 1194 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1194'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1194'
 id: 1195 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1195'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1195'
 id: 1196 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1196'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1196'
 id: 1197 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1197'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1197'
 id: 1198 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1198'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1198'
 id: 1199 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1199'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1199'
 id: 1200 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1200'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1200'
 id: 1201 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1201'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1201'
 id: 1202 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1202'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1202'
 id: 1203 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1203'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1203'
 id: 1204 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1204'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1204'
 id: 1205 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1205'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1205'
 id: 1206 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1206'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1206'
 id: 1207 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1207'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1207'
 id: 1208 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1208'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1208'
 id: 1209 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1209'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1209'
 id: 1210 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1210'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1210'
 id: 1211 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1211'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1211'
 id: 1212 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1212'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1212'
 id: 1213 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1213'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1213'
 id: 1214 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1214'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1214'
 id: 1215 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1215'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1215'
 id: 1216 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1216'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1216'
 id: 1217 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1217'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1217'
 id: 1218 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1218'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1218'
 id: 1219 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1219'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1219'
 id: 1220 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1220'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1220'
 id: 1221 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1221'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1221'

 id: 1222 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1222'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1222'
 id: 1223 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1223'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1223'
 id: 1224 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1224'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1224'
 id: 1225 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1225'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1225'
 id: 1226 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1226'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1226'
 id: 1227 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1227'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1227'
 id: 1228 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1228'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1228'
 id: 1229 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1229'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1229'
 id: 1230 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1230'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1230'
 id: 1231 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1231'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1231'
 id: 1232 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1232'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1232'
 id: 1233 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1233'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1233'
 id: 1234 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1234'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1234'
 id: 1235 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1235'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1235'
 id: 1236 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1236'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1236'
 id: 1237 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1237'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1237'
 id: 1238 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1238'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1238'
 id: 1239 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1239'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1239'
 id: 1240 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1240'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1240'
 id: 1241 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1241'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1241'
 id: 1242 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1242'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1242'
 id: 1243 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1243'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1243'
 id: 1244 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1244'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1244'
 id: 1245 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1245'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1245'
 id: 1246 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1246'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1246'
 id: 1247 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1247'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1247'
 id: 1248 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1248'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1248'
 id: 1249 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1249'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1249'
 id: 1250 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1250'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1250'
 id: 1251 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1251'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1251'
 id: 1252 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1252'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1252'
 id: 1253 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1253'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1253'
 id: 1254 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1254'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1254'
 id: 1255 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1255'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1255'
 id: 1256 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1256'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1256'
 id: 1257 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1257'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1257'
 id: 1258 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1258'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1258'
 id: 1259 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1259'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1259'
 id: 1260 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1260'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1260'
 id: 1261 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1261'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1261'
 id: 1262 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1262'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1262'
 id: 1263 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1263'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1263'
 id: 1264 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1264'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1264'
 id: 1265 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1265'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1265'
 id: 1266 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1266'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1266'
 id: 1267 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1267'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1267'
 id: 1268 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1268'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1268'
 id: 1269 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1269'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1269'

 id: 1270 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1270'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1270'
 id: 1271 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1271'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1271'
 id: 1272 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1272'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1272'
 id: 1273 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1273'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1273'
 id: 1274 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1274'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1274'
 id: 1275 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1275'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1275'
 id: 1276 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1276'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1276'
 id: 1277 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1277'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1277'
 id: 1278 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1278'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1278'
 id: 1279 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1279'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1279'
 id: 1280 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1280'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1280'
 id: 1281 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1281'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1281'
 id: 1282 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1282'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1282'
 id: 1283 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1283'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1283'
 id: 1284 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1284'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1284'
 id: 1285 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1285'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1285'
 id: 1286 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1286'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1286'
 id: 1287 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1287'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1287'
 id: 1288 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1288'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1288'
 id: 1289 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1289'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1289'
 id: 1290 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1290'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1290'
 id: 1291 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1291'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1291'
 id: 1292 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1292'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1292'
 id: 1293 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1293'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1293'
 id: 1294 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1294'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1294'
 id: 1295 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1295'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1295'
 id: 1296 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1296'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1296'
 id: 1297 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1297'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1297'
 id: 1298 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1298'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1298'
 id: 1299 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1299'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1299'
 id: 1300 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1300'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1300'
 id: 1301 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1301'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1301'
 id: 1302 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1302'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1302'
 id: 1303 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1303'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1303'
 id: 1304 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1304'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1304'
 id: 1305 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1305'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1305'
 id: 1306 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1306'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1306'
 id: 1307 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1307'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1307'
 id: 1308 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1308'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1308'
 id: 1309 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1309'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1309'
 id: 1310 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1310'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1310'
 id: 1311 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1311'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1311'
 id: 1312 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1312'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1312'
 id: 1313 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1313'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1313'
 id: 1314 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1314'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1314'
 id: 1315 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1315'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1315'
 id: 1316 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1316'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1316'
 id: 1317 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1317'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1317'

 id: 1318 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1318'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1318'
 id: 1319 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1319'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1319'
 id: 1320 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1320'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1320'
 id: 1321 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1321'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1321'
 id: 1322 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1322'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1322'
 id: 1323 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1323'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1323'
 id: 1324 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1324'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1324'
 id: 1325 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1325'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1325'
 id: 1326 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1326'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1326'
 id: 1327 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1327'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1327'
 id: 1328 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1328'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1328'
 id: 1329 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1329'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1329'
 id: 1330 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1330'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1330'
 id: 1331 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1331'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1331'
 id: 1332 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1332'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1332'
 id: 1333 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1333'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1333'
 id: 1334 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1334'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1334'
 id: 1335 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1335'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1335'
 id: 1336 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1336'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1336'
 id: 1337 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1337'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1337'
 id: 1338 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1338'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1338'
 id: 1339 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1339'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1339'
 id: 1340 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1340'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1340'
 id: 1341 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1341'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1341'
 id: 1342 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1342'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1342'
 id: 1343 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1343'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1343'
 id: 1344 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1344'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1344'
 id: 1345 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1345'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1345'
 id: 1346 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1346'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1346'
 id: 1347 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1347'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1347'
 id: 1348 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1348'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1348'
 id: 1349 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1349'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1349'
 id: 1350 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1350'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1350'
 id: 1351 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1351'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1351'
 id: 1352 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1352'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1352'
 id: 1353 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1353'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1353'
 id: 1354 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1354'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1354'
 id: 1355 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1355'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1355'
 id: 1356 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1356'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1356'
 id: 1357 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1357'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1357'
 id: 1358 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1358'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1358'
 id: 1359 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1359'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1359'
 id: 1360 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1360'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1360'
 id: 1361 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1361'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1361'
 id: 1362 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1362'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1362'
 id: 1363 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1363'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1363'
 id: 1364 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1364'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1364'
 id: 1365 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1365'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1365'
 id: 1366 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1366'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1366'
 id: 1367 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1367'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1367'
 id: 1368 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1368'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1368'
 id: 1369 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1369'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1369'
 id: 1370 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1370'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1370'

 id: 1371 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1371'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1371'
 id: 1372 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1372'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1372'
 id: 1373 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1373'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1373'
 id: 1374 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1374'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1374'
 id: 1375 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1375'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1375'
 id: 1376 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1376'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1376'
 id: 1377 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1377'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1377'
 id: 1378 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1378'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1378'
 id: 1379 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1379'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1379'
 id: 1380 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1380'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1380'
 id: 1381 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1381'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1381'
 id: 1382 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1382'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1382'
 id: 1383 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1383'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1383'
 id: 1384 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1384'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1384'
 id: 1385 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1385'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1385'
 id: 1386 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1386'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1386'
 id: 1387 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1387'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1387'
 id: 1388 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1388'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1388'
 id: 1389 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1389'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1389'
 id: 1390 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1390'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1390'
 id: 1391 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1391'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1391'
 id: 1392 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1392'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1392'
 id: 1393 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1393'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1393'
 id: 1394 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1394'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1394'
 id: 1395 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1395'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1395'
 id: 1396 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1396'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1396'
 id: 1397 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1397'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1397'
 id: 1398 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1398'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1398'
 id: 1399 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1399'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1399'
 id: 1400 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1400'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1400'
 id: 1401 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1401'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1401'
 id: 1402 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1402'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1402'
 id: 1403 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1403'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1403'
 id: 1404 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1404'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1404'
 id: 1405 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1405'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1405'
 id: 1406 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1406'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1406'
 id: 1407 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1407'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1407'
 id: 1408 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1408'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1408'
 id: 1409 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1409'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1409'
 id: 1410 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1410'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1410'
 id: 1411 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1411'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1411'
 id: 1412 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1412'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1412'
 id: 1413 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1413'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1413'
 id: 1414 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1414'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1414'
 id: 1415 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1415'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1415'
 id: 1416 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1416'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1416'
 id: 1417 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1417'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1417'
 id: 1418 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1418'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1418'
 id: 1419 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1419'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1419'
 id: 1420 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1420'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1420'
 id: 1421 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1421'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1421'

 id: 1422 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1422'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1422'
 id: 1423 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1423'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1423'
 id: 1424 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1424'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1424'
 id: 1425 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1425'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1425'
 id: 1426 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1426'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1426'
 id: 1427 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1427'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1427'
 id: 1428 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1428'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1428'
 id: 1429 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1429'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1429'
 id: 1430 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1430'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1430'
 id: 1431 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1431'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1431'
 id: 1432 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1432'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1432'
 id: 1433 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1433'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1433'
 id: 1434 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1434'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1434'
 id: 1435 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1435'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1435'
 id: 1436 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1436'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1436'
 id: 1437 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1437'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1437'
 id: 1438 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1438'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1438'
 id: 1439 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1439'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1439'
 id: 1440 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1440'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1440'
 id: 1441 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1441'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1441'
 id: 1442 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1442'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1442'
 id: 1443 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1443'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1443'
 id: 1444 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1444'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1444'
 id: 1445 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1445'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1445'
 id: 1446 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1446'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1446'
 id: 1447 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1447'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1447'
 id: 1448 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1448'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1448'
 id: 1449 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1449'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1449'
 id: 1450 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1450'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1450'
 id: 1451 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1451'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1451'
 id: 1452 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1452'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1452'
 id: 1453 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1453'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1453'
 id: 1454 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1454'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1454'
 id: 1455 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1455'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1455'
 id: 1456 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1456'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1456'
 id: 1457 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1457'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1457'
 id: 1458 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1458'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1458'
 id: 1459 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1459'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1459'
 id: 1460 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1460'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1460'
 id: 1461 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1461'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1461'
 id: 1462 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1462'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1462'
 id: 1463 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1463'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1463'
 id: 1464 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1464'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1464'
 id: 1465 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1465'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1465'
 id: 1466 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1466'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1466'
 id: 1467 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1467'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1467'
 id: 1468 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1468'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1468'
 id: 1469 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1469'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1469'
 id: 1470 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1470'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1470'
 id: 1471 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1471'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1471'

 id: 1472 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1472'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1472'
 id: 1473 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1473'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1473'
 id: 1474 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1474'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1474'
 id: 1475 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1475'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1475'
 id: 1476 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1476'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1476'
 id: 1477 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1477'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1477'
 id: 1478 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1478'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1478'
 id: 1479 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1479'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1479'
 id: 1480 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1480'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1480'
 id: 1481 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1481'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1481'
 id: 1482 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1482'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1482'
 id: 1483 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1483'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1483'
 id: 1484 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1484'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1484'
 id: 1485 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1485'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1485'
 id: 1486 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1486'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1486'
 id: 1487 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1487'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1487'
 id: 1488 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1488'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1488'
 id: 1489 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1489'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1489'
 id: 1490 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1490'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1490'
 id: 1491 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1491'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1491'
 id: 1492 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1492'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1492'
 id: 1493 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1493'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1493'
 id: 1494 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1494'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1494'
 id: 1495 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1495'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1495'
 id: 1496 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1496'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1496'
 id: 1497 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1497'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1497'
 id: 1498 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1498'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1498'
 id: 1499 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1499'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1499'
 id: 1500 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1500'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1500'
 id: 1501 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1501'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1501'
 id: 1502 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1502'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1502'
 id: 1503 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1503'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1503'
 id: 1504 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1504'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1504'
 id: 1505 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1505'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1505'
 id: 1506 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1506'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1506'
 id: 1507 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1507'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1507'
 id: 1508 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1508'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1508'
 id: 1509 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1509'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1509'
 id: 1510 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1510'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1510'
 id: 1511 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1511'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1511'
 id: 1512 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1512'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1512'
 id: 1513 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1513'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1513'
 id: 1514 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1514'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1514'
 id: 1515 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1515'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1515'
 id: 1516 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1516'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1516'
 id: 1517 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1517'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1517'
 id: 1518 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1518'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1518'
 id: 1519 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1519'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1519'
 id: 1520 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1520'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1520'
 id: 1521 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1521'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1521'

 id: 1522 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1522'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1522'
 id: 1523 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1523'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1523'
 id: 1524 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1524'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1524'
 id: 1525 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1525'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1525'
 id: 1526 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1526'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1526'
 id: 1527 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1527'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1527'
 id: 1528 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1528'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1528'
 id: 1529 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1529'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1529'
 id: 1530 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1530'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1530'
 id: 1531 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1531'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1531'
 id: 1532 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1532'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1532'
 id: 1533 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1533'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1533'
 id: 1534 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1534'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1534'
 id: 1535 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1535'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1535'
 id: 1536 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1536'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1536'
 id: 1537 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1537'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1537'
 id: 1538 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1538'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1538'
 id: 1539 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1539'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1539'
 id: 1540 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1540'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1540'
 id: 1541 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1541'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1541'
 id: 1542 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1542'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1542'
 id: 1543 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1543'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1543'
 id: 1544 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1544'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1544'
 id: 1545 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1545'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1545'
 id: 1546 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1546'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1546'
 id: 1547 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1547'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1547'
 id: 1548 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1548'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1548'
 id: 1549 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1549'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1549'
 id: 1550 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1550'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1550'
 id: 1551 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1551'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1551'
 id: 1552 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1552'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1552'
 id: 1553 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1553'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1553'
 id: 1554 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1554'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1554'
 id: 1555 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1555'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1555'
 id: 1556 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1556'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1556'
 id: 1557 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1557'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1557'
 id: 1558 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1558'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1558'
 id: 1559 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1559'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1559'
 id: 1560 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1560'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1560'
 id: 1561 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1561'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1561'
 id: 1562 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1562'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1562'
 id: 1563 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1563'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1563'
 id: 1564 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1564'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1564'
 id: 1565 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1565'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1565'
 id: 1566 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1566'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1566'
 id: 1567 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1567'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1567'
 id: 1568 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1568'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1568'
 id: 1569 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1569'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1569'
 id: 1570 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1570'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1570'

 id: 1571 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1571'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1571'
 id: 1572 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1572'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1572'
 id: 1573 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1573'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1573'
 id: 1574 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1574'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1574'
 id: 1575 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1575'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1575'
 id: 1576 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1576'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1576'
 id: 1577 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1577'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1577'
 id: 1578 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1578'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1578'
 id: 1579 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1579'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1579'
 id: 1580 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1580'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1580'
 id: 1581 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1581'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1581'
 id: 1582 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1582'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1582'
 id: 1583 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1583'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1583'
 id: 1584 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1584'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1584'
 id: 1585 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1585'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1585'
 id: 1586 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1586'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1586'
 id: 1587 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1587'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1587'
 id: 1588 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1588'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1588'
 id: 1589 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1589'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1589'
 id: 1590 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1590'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1590'
 id: 1591 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1591'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1591'
 id: 1592 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1592'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1592'
 id: 1593 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1593'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1593'
 id: 1594 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1594'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1594'
 id: 1595 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1595'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1595'
 id: 1596 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1596'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1596'
 id: 1597 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1597'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1597'
 id: 1598 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1598'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1598'
 id: 1599 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1599'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1599'
 id: 1600 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1600'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1600'
 id: 1601 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1601'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1601'
 id: 1602 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1602'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1602'
 id: 1603 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1603'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1603'
 id: 1604 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1604'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1604'
 id: 1605 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1605'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1605'
 id: 1606 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1606'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1606'
 id: 1607 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1607'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1607'
 id: 1608 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1608'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1608'
 id: 1609 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1609'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1609'
 id: 1610 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1610'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1610'
 id: 1611 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1611'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1611'
 id: 1612 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1612'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1612'
 id: 1613 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1613'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1613'
 id: 1614 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1614'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1614'
 id: 1615 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1615'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1615'
 id: 1616 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1616'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1616'
 id: 1617 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1617'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1617'
 id: 1618 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1618'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1618'
 id: 1619 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1619'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1619'
 id: 1620 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1620'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1620'

 id: 1621 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1621'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1621'
 id: 1622 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1622'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1622'
 id: 1623 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1623'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1623'
 id: 1624 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1624'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1624'
 id: 1625 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1625'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1625'
 id: 1626 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1626'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1626'
 id: 1627 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1627'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1627'
 id: 1628 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1628'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1628'
 id: 1629 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1629'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1629'
 id: 1630 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1630'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1630'
 id: 1631 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1631'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1631'
 id: 1632 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1632'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1632'
 id: 1633 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1633'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1633'
 id: 1634 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1634'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1634'
 id: 1635 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1635'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1635'
 id: 1636 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1636'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1636'
 id: 1637 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1637'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1637'
 id: 1638 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1638'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1638'
 id: 1639 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1639'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1639'
 id: 1640 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1640'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1640'
 id: 1641 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1641'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1641'
 id: 1642 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1642'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1642'
 id: 1643 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1643'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1643'
 id: 1644 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1644'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1644'
 id: 1645 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1645'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1645'
 id: 1646 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1646'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1646'
 id: 1647 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1647'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1647'
 id: 1648 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1648'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1648'
 id: 1649 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1649'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1649'
 id: 1650 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1650'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1650'
 id: 1651 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1651'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1651'
 id: 1652 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1652'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1652'
 id: 1653 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1653'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1653'
 id: 1654 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1654'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1654'
 id: 1655 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1655'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1655'
 id: 1656 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1656'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1656'
 id: 1657 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1657'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1657'
 id: 1658 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1658'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1658'
 id: 1659 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1659'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1659'
 id: 1660 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1660'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1660'
 id: 1661 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1661'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1661'
 id: 1662 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1662'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1662'
 id: 1663 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1663'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1663'
 id: 1664 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1664'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1664'
 id: 1665 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1665'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1665'
 id: 1666 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1666'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1666'
 id: 1667 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1667'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1667'
 id: 1668 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1668'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1668'
 id: 1669 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1669'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1669'
 id: 1670 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1670'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1670'

 id: 1671 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1671'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1671'
 id: 1672 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1672'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1672'
 id: 1673 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1673'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1673'
 id: 1674 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1674'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1674'
 id: 1675 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1675'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1675'
 id: 1676 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1676'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1676'
 id: 1677 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1677'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1677'
 id: 1678 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1678'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1678'
 id: 1679 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1679'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1679'
 id: 1680 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1680'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1680'
 id: 1681 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1681'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1681'
 id: 1682 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1682'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1682'
 id: 1683 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1683'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1683'
 id: 1684 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1684'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1684'
 id: 1685 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1685'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1685'
 id: 1686 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1686'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1686'
 id: 1687 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1687'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1687'
 id: 1688 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1688'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1688'
 id: 1689 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1689'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1689'
 id: 1690 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1690'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1690'
 id: 1691 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1691'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1691'
 id: 1692 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1692'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1692'
 id: 1693 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1693'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1693'
 id: 1694 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1694'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1694'
 id: 1695 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1695'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1695'
 id: 1696 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1696'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1696'
 id: 1697 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1697'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1697'
 id: 1698 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1698'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1698'
 id: 1699 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1699'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1699'
 id: 1700 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1700'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1700'
 id: 1701 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1701'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1701'
 id: 1702 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1702'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1702'
 id: 1703 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1703'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1703'
 id: 1704 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1704'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1704'
 id: 1705 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1705'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1705'
 id: 1706 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1706'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1706'
 id: 1707 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1707'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1707'
 id: 1708 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1708'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1708'
 id: 1709 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1709'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1709'
 id: 1710 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1710'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1710'
 id: 1711 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1711'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1711'
 id: 1712 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1712'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1712'
 id: 1713 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1713'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1713'
 id: 1714 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1714'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1714'
 id: 1715 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1715'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1715'
 id: 1716 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1716'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1716'
 id: 1717 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1717'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1717'
 id: 1718 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1718'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1718'
 id: 1719 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1719'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1719'

 id: 1720 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1720'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1720'
 id: 1721 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1721'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1721'
 id: 1722 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1722'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1722'
 id: 1723 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1723'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1723'
 id: 1724 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1724'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1724'
 id: 1725 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1725'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1725'
 id: 1726 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1726'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1726'
 id: 1727 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1727'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1727'
 id: 1728 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1728'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1728'
 id: 1729 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1729'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1729'
 id: 1730 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1730'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1730'
 id: 1731 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1731'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1731'
 id: 1732 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1732'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1732'
 id: 1733 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1733'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1733'
 id: 1734 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1734'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1734'
 id: 1735 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1735'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1735'
 id: 1736 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1736'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1736'
 id: 1737 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1737'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1737'
 id: 1738 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1738'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1738'
 id: 1739 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1739'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1739'
 id: 1740 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1740'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1740'
 id: 1741 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1741'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1741'
 id: 1742 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1742'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1742'
 id: 1743 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1743'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1743'
 id: 1744 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1744'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1744'
 id: 1745 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1745'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1745'
 id: 1746 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1746'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1746'
 id: 1747 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1747'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1747'
 id: 1748 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1748'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1748'
 id: 1749 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1749'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1749'
 id: 1750 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1750'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1750'
 id: 1751 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1751'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1751'
 id: 1752 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1752'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1752'
 id: 1753 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1753'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1753'
 id: 1754 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1754'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1754'
 id: 1755 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1755'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1755'
 id: 1756 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1756'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1756'
 id: 1757 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1757'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1757'
 id: 1758 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1758'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1758'
 id: 1759 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1759'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1759'
 id: 1760 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1760'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1760'
 id: 1761 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1761'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1761'
 id: 1762 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1762'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1762'
 id: 1763 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1763'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1763'
 id: 1764 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1764'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1764'
 id: 1765 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1765'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1765'
 id: 1766 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1766'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1766'
 id: 1767 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1767'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1767'
 id: 1768 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1768'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1768'

 id: 1769 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1769'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1769'
 id: 1770 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1770'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1770'
 id: 1771 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1771'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1771'
 id: 1772 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1772'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1772'
 id: 1773 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1773'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1773'
 id: 1774 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1774'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1774'
 id: 1775 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1775'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1775'
 id: 1776 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1776'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1776'
 id: 1777 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1777'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1777'
 id: 1778 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1778'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1778'
 id: 1779 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1779'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1779'
 id: 1780 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1780'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1780'
 id: 1781 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1781'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1781'
 id: 1782 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1782'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1782'
 id: 1783 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1783'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1783'
 id: 1784 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1784'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1784'
 id: 1785 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1785'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1785'
 id: 1786 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1786'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1786'
 id: 1787 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1787'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1787'
 id: 1788 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1788'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1788'
 id: 1789 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1789'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1789'
 id: 1790 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1790'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1790'
 id: 1791 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1791'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1791'
 id: 1792 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1792'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1792'
 id: 1793 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1793'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1793'
 id: 1794 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1794'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1794'
 id: 1795 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1795'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1795'
 id: 1796 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1796'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1796'
 id: 1797 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1797'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1797'
 id: 1798 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1798'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1798'
 id: 1799 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1799'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1799'
 id: 1800 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1800'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1800'
 id: 1801 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1801'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1801'
 id: 1802 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1802'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1802'
 id: 1803 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1803'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1803'
 id: 1804 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1804'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1804'
 id: 1805 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1805'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1805'
 id: 1806 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1806'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1806'
 id: 1807 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1807'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1807'
 id: 1808 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1808'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1808'
 id: 1809 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1809'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1809'
 id: 1810 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1810'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1810'
 id: 1811 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1811'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1811'
 id: 1812 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1812'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1812'
 id: 1813 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1813'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1813'
 id: 1814 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1814'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1814'
 id: 1815 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1815'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1815'
 id: 1816 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1816'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1816'
 id: 1817 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1817'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1817'
 id: 1818 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1818'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1818'
 id: 1819 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1819'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1819'
 id: 1820 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1820'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1820'
 id: 1821 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1821'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1821'
 id: 1822 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1822'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1822'
 id: 1823 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1823'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1823'
 id: 1824 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1824'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1824'
 id: 1825 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1825'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1825'
 id: 1826 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1826'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1826'
 id: 1827 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1827'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1827'
 id: 1828 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1828'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1828'
 id: 1829 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1829'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1829'
 id: 1830 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1830'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1830'
 id: 1831 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1831'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1831'
 id: 1832 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1832'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1832'
 id: 1833 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1833'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1833'
 id: 1834 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1834'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1834'
 id: 1835 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1835'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1835'
 id: 1836 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1836'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1836'
 id: 1837 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1837'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1837'
 id: 1838 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1838'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1838'
 id: 1839 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1839'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1839'
 id: 1840 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1840'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1840'
 id: 1841 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1841'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1841'
 id: 1842 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1842'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1842'
 id: 1843 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1843'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1843'
 id: 1844 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1844'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1844'
 id: 1845 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1845'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1845'
 id: 1846 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1846'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1846'
 id: 1847 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1847'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1847'
 id: 1848 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1848'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1848'
 id: 1849 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1849'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1849'
 id: 1850 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1850'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1850'
 id: 1851 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1851'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1851'
 id: 1852 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1852'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1852'
 id: 1853 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1853'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1853'
 id: 1854 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1854'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1854'
 id: 1855 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1855'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1855'
 id: 1856 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1856'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1856'
 id: 1857 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1857'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1857'
 id: 1858 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1858'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1858'
 id: 1859 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1859'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1859'
 id: 1860 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1860'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1860'
 id: 1861 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1861'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1861'
 id: 1862 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1862'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1862'
 id: 1863 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1863'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1863'
 id: 1864 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1864'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1864'
 id: 1865 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1865'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1865'
 id: 1866 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1866'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1866'
 id: 1867 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1867'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1867'
 id: 1868 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1868'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1868'

 id: 1869 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1869'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1869'
 id: 1870 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1870'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1870'
 id: 1871 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1871'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1871'
 id: 1872 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1872'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1872'
 id: 1873 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1873'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1873'
 id: 1874 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1874'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1874'
 id: 1875 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1875'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1875'
 id: 1876 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1876'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1876'
 id: 1877 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1877'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1877'
 id: 1878 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1878'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1878'
 id: 1879 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1879'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1879'
 id: 1880 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1880'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1880'
 id: 1881 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1881'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1881'
 id: 1882 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1882'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1882'
 id: 1883 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1883'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1883'
 id: 1884 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1884'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1884'
 id: 1885 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1885'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1885'
 id: 1886 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1886'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1886'
 id: 1887 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1887'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1887'
 id: 1888 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1888'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1888'
 id: 1889 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1889'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1889'
 id: 1890 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1890'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1890'
 id: 1891 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1891'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1891'
 id: 1892 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1892'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1892'
 id: 1893 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1893'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1893'
 id: 1894 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1894'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1894'
 id: 1895 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1895'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1895'
 id: 1896 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1896'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1896'
 id: 1897 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1897'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1897'
 id: 1898 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1898'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1898'
 id: 1899 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1899'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1899'
 id: 1900 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1900'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1900'
 id: 1901 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1901'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1901'
 id: 1902 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1902'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1902'
 id: 1903 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1903'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1903'
 id: 1904 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1904'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1904'
 id: 1905 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1905'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1905'
 id: 1906 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1906'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1906'
 id: 1907 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1907'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1907'
 id: 1908 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1908'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1908'
 id: 1909 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1909'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1909'
 id: 1910 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1910'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1910'
 id: 1911 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1911'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1911'
 id: 1912 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1912'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1912'
 id: 1913 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1913'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1913'
 id: 1914 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1914'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1914'
 id: 1915 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1915'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1915'
 id: 1916 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1916'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1916'

 id: 1917 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1917'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1917'
 id: 1918 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1918'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1918'
 id: 1919 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1919'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1919'
 id: 1920 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1920'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1920'
 id: 1921 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1921'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1921'
 id: 1922 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1922'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1922'
 id: 1923 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1923'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1923'
 id: 1924 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1924'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1924'
 id: 1925 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1925'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1925'
 id: 1926 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1926'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1926'
 id: 1927 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1927'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1927'
 id: 1928 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1928'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1928'
 id: 1929 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1929'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1929'
 id: 1930 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1930'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1930'
 id: 1931 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1931'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1931'
 id: 1932 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1932'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1932'
 id: 1933 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1933'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1933'
 id: 1934 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1934'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1934'
 id: 1935 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1935'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1935'
 id: 1936 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1936'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1936'
 id: 1937 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1937'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1937'
 id: 1938 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1938'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1938'
 id: 1939 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1939'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1939'
 id: 1940 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1940'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1940'
 id: 1941 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1941'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1941'
 id: 1942 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1942'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1942'
 id: 1943 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1943'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1943'
 id: 1944 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1944'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1944'
 id: 1945 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1945'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1945'
 id: 1946 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1946'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1946'
 id: 1947 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1947'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1947'
 id: 1948 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1948'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1948'
 id: 1949 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1949'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1949'
 id: 1950 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1950'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1950'
 id: 1951 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1951'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1951'
 id: 1952 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1952'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1952'
 id: 1953 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1953'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1953'
 id: 1954 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1954'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1954'
 id: 1955 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1955'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1955'
 id: 1956 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1956'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1956'
 id: 1957 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1957'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1957'
 id: 1958 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1958'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1958'
 id: 1959 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1959'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1959'
 id: 1960 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1960'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1960'
 id: 1961 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1961'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1961'
 id: 1962 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1962'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1962'
 id: 1963 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1963'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1963'
 id: 1964 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1964'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1964'

 id: 1965 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1965'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1965'
 id: 1966 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1966'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1966'
 id: 1967 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1967'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1967'
 id: 1968 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1968'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1968'
 id: 1969 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1969'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1969'
 id: 1970 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1970'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1970'
 id: 1971 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1971'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1971'
 id: 1972 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1972'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1972'
 id: 1973 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1973'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1973'
 id: 1974 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1974'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1974'
 id: 1975 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1975'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1975'
 id: 1976 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1976'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1976'
 id: 1977 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1977'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1977'
 id: 1978 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1978'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1978'
 id: 1979 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1979'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1979'
 id: 1980 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1980'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1980'
 id: 1981 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1981'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1981'
 id: 1982 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1982'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1982'
 id: 1983 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1983'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1983'
 id: 1984 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1984'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1984'
 id: 1985 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1985'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1985'
 id: 1986 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1986'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1986'
 id: 1987 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1987'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1987'
 id: 1988 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1988'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1988'
 id: 1989 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1989'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1989'
 id: 1990 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1990'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1990'
 id: 1991 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1991'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1991'
 id: 1992 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1992'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1992'
 id: 1993 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1993'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1993'
 id: 1994 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1994'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1994'
 id: 1995 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1995'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1995'
 id: 1996 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1996'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1996'
 id: 1997 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1997'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1997'
 id: 1998 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1998'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1998'
 id: 1999 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '1999'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '1999'
 id: 2000 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2000'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2000'
 id: 2001 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2001'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2001'
 id: 2002 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2002'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2002'
 id: 2003 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2003'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2003'
 id: 2004 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2004'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2004'
 id: 2005 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2005'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2005'
 id: 2006 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2006'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2006'
 id: 2007 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2007'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2007'
 id: 2008 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2008'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2008'
 id: 2009 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2009'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2009'
 id: 2010 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2010'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2010'
 id: 2011 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2011'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2011'
 id: 2012 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2012'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2012'
 id: 2013 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2013'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2013'

 id: 2014 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2014'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2014'
 id: 2015 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2015'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2015'
 id: 2016 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2016'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2016'
 id: 2017 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2017'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2017'
 id: 2018 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2018'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2018'
 id: 2019 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2019'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2019'
 id: 2020 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2020'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2020'
 id: 2021 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2021'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2021'
 id: 2022 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2022'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2022'
 id: 2023 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2023'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2023'
 id: 2024 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2024'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2024'
 id: 2025 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2025'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2025'
 id: 2026 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2026'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2026'
 id: 2027 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2027'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2027'
 id: 2028 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2028'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2028'
 id: 2029 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2029'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2029'
 id: 2030 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2030'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2030'
 id: 2031 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2031'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2031'
 id: 2032 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2032'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2032'
 id: 2033 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2033'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2033'
 id: 2034 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2034'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2034'
 id: 2035 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2035'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2035'
 id: 2036 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2036'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2036'
 id: 2037 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2037'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2037'
 id: 2038 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2038'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2038'
 id: 2039 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2039'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2039'
 id: 2040 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2040'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2040'
 id: 2041 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2041'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2041'
 id: 2042 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2042'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2042'
 id: 2043 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2043'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2043'
 id: 2044 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2044'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2044'
 id: 2045 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2045'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2045'
 id: 2046 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2046'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2046'
 id: 2047 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2047'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2047'
 id: 2048 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2048'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2048'
 id: 2049 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2049'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2049'
 id: 2050 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2050'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2050'
 id: 2051 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2051'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2051'
 id: 2052 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2052'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2052'
 id: 2053 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2053'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2053'
 id: 2054 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2054'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2054'
 id: 2055 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2055'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2055'
 id: 2056 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2056'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2056'
 id: 2057 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2057'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2057'
 id: 2058 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2058'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2058'
 id: 2059 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2059'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2059'
 id: 2060 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2060'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2060'
 id: 2061 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2061'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2061'
 id: 2062 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2062'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2062'

 id: 2063 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2063'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2063'
 id: 2064 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2064'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2064'
 id: 2065 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2065'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2065'
 id: 2066 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2066'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2066'
 id: 2067 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2067'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2067'
 id: 2068 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2068'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2068'
 id: 2069 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2069'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2069'
 id: 2070 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2070'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2070'
 id: 2071 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2071'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2071'
 id: 2072 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2072'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2072'
 id: 2073 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2073'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2073'
 id: 2074 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2074'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2074'
 id: 2075 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2075'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2075'
 id: 2076 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2076'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2076'
 id: 2077 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2077'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2077'
 id: 2078 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2078'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2078'
 id: 2079 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2079'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2079'
 id: 2080 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2080'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2080'
 id: 2081 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2081'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2081'
 id: 2082 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2082'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2082'
 id: 2083 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2083'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2083'
 id: 2084 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2084'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2084'
 id: 2085 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2085'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2085'
 id: 2086 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2086'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2086'
 id: 2087 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2087'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2087'
 id: 2088 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2088'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2088'
 id: 2089 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2089'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2089'
 id: 2090 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2090'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2090'
 id: 2091 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2091'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2091'
 id: 2092 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2092'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2092'
 id: 2093 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2093'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2093'
 id: 2094 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2094'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2094'
 id: 2095 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2095'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2095'
 id: 2096 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2096'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2096'
 id: 2097 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2097'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2097'
 id: 2098 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2098'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2098'
 id: 2099 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2099'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2099'
 id: 2100 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2100'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2100'
 id: 2101 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2101'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2101'
 id: 2102 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2102'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2102'
 id: 2103 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2103'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2103'
 id: 2104 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2104'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2104'
 id: 2105 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2105'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2105'
 id: 2106 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2106'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2106'
 id: 2107 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2107'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2107'
 id: 2108 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2108'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2108'
 id: 2109 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2109'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2109'
 id: 2110 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2110'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2110'

 id: 2111 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2111'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2111'
 id: 2112 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2112'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2112'
 id: 2113 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2113'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2113'
 id: 2114 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2114'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2114'
 id: 2115 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2115'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2115'
 id: 2116 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2116'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2116'
 id: 2117 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2117'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2117'
 id: 2118 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2118'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2118'
 id: 2119 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2119'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2119'
 id: 2120 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2120'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2120'
 id: 2121 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2121'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2121'
 id: 2122 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2122'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2122'
 id: 2123 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2123'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2123'
 id: 2124 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2124'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2124'
 id: 2125 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2125'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2125'
 id: 2126 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2126'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2126'
 id: 2127 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2127'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2127'
 id: 2128 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2128'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2128'
 id: 2129 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2129'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2129'
 id: 2130 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2130'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2130'
 id: 2131 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2131'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2131'
 id: 2132 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2132'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2132'
 id: 2133 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2133'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2133'
 id: 2134 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2134'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2134'
 id: 2135 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2135'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2135'
 id: 2136 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2136'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2136'
 id: 2137 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2137'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2137'
 id: 2138 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2138'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2138'
 id: 2139 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2139'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2139'
 id: 2140 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2140'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2140'
 id: 2141 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2141'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2141'
 id: 2142 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2142'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2142'
 id: 2143 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2143'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2143'
 id: 2144 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2144'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2144'
 id: 2145 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2145'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2145'
 id: 2146 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2146'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2146'
 id: 2147 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2147'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2147'
 id: 2148 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2148'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2148'
 id: 2149 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2149'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2149'
 id: 2150 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2150'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2150'
 id: 2151 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2151'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2151'
 id: 2152 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2152'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2152'
 id: 2153 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2153'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2153'
 id: 2154 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2154'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2154'
 id: 2155 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2155'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2155'
 id: 2156 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2156'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2156'
 id: 2157 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2157'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2157'
 id: 2158 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2158'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2158'
 id: 2159 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2159'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2159'
 id: 2160 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2160'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2160'
 id: 2161 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2161'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2161'

 id: 2162 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2162'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2162'
 id: 2163 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2163'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2163'
 id: 2164 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2164'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2164'
 id: 2165 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2165'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2165'
 id: 2166 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2166'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2166'
 id: 2167 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2167'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2167'
 id: 2168 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2168'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2168'
 id: 2169 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2169'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2169'
 id: 2170 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2170'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2170'
 id: 2171 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2171'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2171'
 id: 2172 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2172'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2172'
 id: 2173 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2173'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2173'
 id: 2174 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2174'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2174'
 id: 2175 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2175'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2175'
 id: 2176 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2176'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2176'
 id: 2177 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2177'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2177'
 id: 2178 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2178'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2178'
 id: 2179 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2179'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2179'
 id: 2180 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2180'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2180'
 id: 2181 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2181'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2181'
 id: 2182 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2182'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2182'
 id: 2183 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2183'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2183'
 id: 2184 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2184'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2184'
 id: 2185 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2185'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2185'
 id: 2186 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2186'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2186'
 id: 2187 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2187'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2187'
 id: 2188 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2188'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2188'
 id: 2189 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2189'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2189'
 id: 2190 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2190'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2190'
 id: 2191 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2191'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2191'
 id: 2192 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2192'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2192'
 id: 2193 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2193'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2193'
 id: 2194 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2194'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2194'
 id: 2195 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2195'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2195'
 id: 2196 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2196'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2196'
 id: 2197 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2197'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2197'
 id: 2198 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2198'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2198'
 id: 2199 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2199'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2199'
 id: 2200 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2200'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2200'
 id: 2201 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2201'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2201'
 id: 2202 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2202'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2202'
 id: 2203 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2203'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2203'
 id: 2204 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2204'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2204'
 id: 2205 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2205'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2205'
 id: 2206 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2206'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2206'
 id: 2207 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2207'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2207'
 id: 2208 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2208'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2208'
 id: 2209 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2209'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2209'
 id: 2210 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2210'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2210'
 id: 2211 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2211'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2211'
 id: 2212 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2212'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2212'
 id: 2213 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2213'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2213'
 id: 2214 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2214'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2214'
 id: 2215 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2215'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2215'
 id: 2216 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2216'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2216'
 id: 2217 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2217'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2217'
 id: 2218 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2218'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2218'
 id: 2219 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2219'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2219'
 id: 2220 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2220'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2220'
 id: 2221 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2221'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2221'
 id: 2222 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2222'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2222'
 id: 2223 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2223'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2223'
 id: 2224 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2224'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2224'
 id: 2225 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2225'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2225'
 id: 2226 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2226'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2226'
 id: 2227 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2227'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2227'
 id: 2228 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2228'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2228'
 id: 2229 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2229'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2229'
 id: 2230 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2230'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2230'
 id: 2231 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2231'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2231'
 id: 2232 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2232'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2232'
 id: 2233 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2233'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2233'
 id: 2234 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2234'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2234'
 id: 2235 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2235'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2235'
 id: 2236 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2236'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2236'
 id: 2237 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2237'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2237'
 id: 2238 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2238'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2238'
 id: 2239 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2239'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2239'
 id: 2240 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2240'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2240'
 id: 2241 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2241'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2241'
 id: 2242 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2242'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2242'
 id: 2243 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2243'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2243'
 id: 2244 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2244'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2244'
 id: 2245 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2245'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2245'
 id: 2246 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2246'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2246'
 id: 2247 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2247'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2247'
 id: 2248 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2248'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2248'
 id: 2249 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2249'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2249'
 id: 2250 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2250'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2250'
 id: 2251 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2251'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2251'
 id: 2252 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2252'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2252'
 id: 2253 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2253'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2253'
 id: 2254 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2254'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2254'
 id: 2255 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2255'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2255'
 id: 2256 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2256'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2256'
 id: 2257 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2257'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2257'
 id: 2258 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2258'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2258'
 id: 2259 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2259'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2259'
 id: 2260 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2260'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2260'
 id: 2261 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2261'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2261'

 id: 2262 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2262'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2262'
 id: 2263 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2263'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2263'
 id: 2264 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2264'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2264'
 id: 2265 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2265'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2265'
 id: 2266 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2266'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2266'
 id: 2267 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2267'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2267'
 id: 2268 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2268'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2268'
 id: 2269 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2269'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2269'
 id: 2270 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2270'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2270'
 id: 2271 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2271'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2271'
 id: 2272 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2272'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2272'
 id: 2273 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2273'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2273'
 id: 2274 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2274'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2274'
 id: 2275 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2275'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2275'
 id: 2276 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2276'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2276'
 id: 2277 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2277'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2277'
 id: 2278 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2278'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2278'
 id: 2279 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2279'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2279'
 id: 2280 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2280'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2280'
 id: 2281 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2281'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2281'
 id: 2282 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2282'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2282'
 id: 2283 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2283'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2283'
 id: 2284 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2284'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2284'
 id: 2285 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2285'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2285'
 id: 2286 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2286'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2286'
 id: 2287 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2287'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2287'
 id: 2288 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2288'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2288'
 id: 2289 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2289'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2289'
 id: 2290 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2290'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2290'
 id: 2291 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2291'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2291'
 id: 2292 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2292'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2292'
 id: 2293 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2293'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2293'
 id: 2294 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2294'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2294'
 id: 2295 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2295'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2295'
 id: 2296 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2296'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2296'
 id: 2297 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2297'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2297'
 id: 2298 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2298'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2298'
 id: 2299 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2299'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2299'
 id: 2300 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2300'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2300'
 id: 2301 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2301'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2301'
 id: 2302 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2302'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2302'
 id: 2303 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2303'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2303'
 id: 2304 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2304'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2304'
 id: 2305 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2305'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2305'
 id: 2306 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2306'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2306'
 id: 2307 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2307'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2307'
 id: 2308 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2308'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2308'
 id: 2309 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2309'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2309'
 id: 2310 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2310'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2310'

 id: 2311 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2311'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2311'
 id: 2312 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2312'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2312'
 id: 2313 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2313'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2313'
 id: 2314 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2314'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2314'
 id: 2315 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2315'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2315'
 id: 2316 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2316'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2316'
 id: 2317 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2317'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2317'
 id: 2318 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2318'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2318'
 id: 2319 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2319'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2319'
 id: 2320 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2320'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2320'
 id: 2321 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2321'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2321'
 id: 2322 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2322'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2322'
 id: 2323 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2323'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2323'
 id: 2324 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2324'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2324'
 id: 2325 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2325'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2325'
 id: 2326 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2326'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2326'
 id: 2327 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2327'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2327'
 id: 2328 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2328'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2328'
 id: 2329 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2329'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2329'
 id: 2330 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2330'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2330'
 id: 2331 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2331'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2331'
 id: 2332 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2332'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2332'
 id: 2333 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2333'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2333'
 id: 2334 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2334'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2334'
 id: 2335 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2335'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2335'
 id: 2336 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2336'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2336'
 id: 2337 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2337'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2337'
 id: 2338 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2338'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2338'
 id: 2339 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2339'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2339'
 id: 2340 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2340'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2340'
 id: 2341 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2341'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2341'
 id: 2342 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2342'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2342'
 id: 2343 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2343'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2343'
 id: 2344 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2344'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2344'
 id: 2345 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2345'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2345'
 id: 2346 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2346'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2346'
 id: 2347 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2347'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2347'
 id: 2348 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2348'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2348'
 id: 2349 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2349'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2349'
 id: 2350 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2350'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2350'
 id: 2351 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2351'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2351'
 id: 2352 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2352'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2352'
 id: 2353 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2353'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2353'
 id: 2354 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2354'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2354'
 id: 2355 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2355'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2355'
 id: 2356 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2356'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2356'
 id: 2357 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2357'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2357'
 id: 2358 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2358'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2358'

 id: 2359 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2359'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2359'
 id: 2360 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2360'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2360'
 id: 2361 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2361'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2361'
 id: 2362 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2362'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2362'
 id: 2363 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2363'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2363'
 id: 2364 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2364'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2364'
 id: 2365 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2365'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2365'
 id: 2366 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2366'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2366'
 id: 2367 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2367'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2367'
 id: 2368 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2368'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2368'
 id: 2369 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2369'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2369'
 id: 2370 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2370'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2370'
 id: 2371 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2371'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2371'
 id: 2372 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2372'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2372'
 id: 2373 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2373'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2373'
 id: 2374 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2374'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2374'
 id: 2375 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2375'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2375'
 id: 2376 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2376'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2376'
 id: 2377 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2377'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2377'
 id: 2378 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2378'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2378'
 id: 2379 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2379'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2379'
 id: 2380 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2380'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2380'
 id: 2381 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2381'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2381'
 id: 2382 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2382'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2382'
 id: 2383 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2383'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2383'
 id: 2384 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2384'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2384'
 id: 2385 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2385'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2385'
 id: 2386 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2386'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2386'
 id: 2387 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2387'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2387'
 id: 2388 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2388'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2388'
 id: 2389 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2389'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2389'
 id: 2390 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2390'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2390'
 id: 2391 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2391'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2391'
 id: 2392 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2392'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2392'
 id: 2393 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2393'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2393'
 id: 2394 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2394'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2394'
 id: 2395 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2395'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2395'
 id: 2396 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2396'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2396'
 id: 2397 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2397'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2397'
 id: 2398 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2398'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2398'
 id: 2399 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2399'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2399'
 id: 2400 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2400'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2400'
 id: 2401 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2401'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2401'
 id: 2402 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2402'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2402'
 id: 2403 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2403'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2403'
 id: 2404 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2404'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2404'
 id: 2405 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2405'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2405'
 id: 2406 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2406'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2406'
 id: 2407 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2407'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2407'
 id: 2408 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2408'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2408'
 id: 2409 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2409'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2409'
 id: 2410 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2410'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2410'
 id: 2411 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2411'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2411'

 id: 2412 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2412'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2412'
 id: 2413 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2413'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2413'
 id: 2414 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2414'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2414'
 id: 2415 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2415'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2415'
 id: 2416 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2416'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2416'
 id: 2417 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2417'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2417'
 id: 2418 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2418'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2418'
 id: 2419 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2419'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2419'
 id: 2420 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2420'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2420'
 id: 2421 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2421'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2421'
 id: 2422 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2422'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2422'
 id: 2423 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2423'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2423'
 id: 2424 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2424'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2424'
 id: 2425 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2425'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2425'
 id: 2426 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2426'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2426'
 id: 2427 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2427'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2427'
 id: 2428 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2428'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2428'
 id: 2429 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2429'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2429'
 id: 2430 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2430'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2430'
 id: 2431 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2431'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2431'
 id: 2432 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2432'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2432'
 id: 2433 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2433'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2433'
 id: 2434 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2434'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2434'
 id: 2435 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2435'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2435'
 id: 2436 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2436'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2436'
 id: 2437 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2437'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2437'
 id: 2438 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2438'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2438'
 id: 2439 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2439'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2439'
 id: 2440 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2440'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2440'
 id: 2441 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2441'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2441'
 id: 2442 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2442'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2442'
 id: 2443 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2443'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2443'
 id: 2444 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2444'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2444'
 id: 2445 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2445'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2445'
 id: 2446 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2446'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2446'
 id: 2447 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2447'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2447'
 id: 2448 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2448'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2448'
 id: 2449 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2449'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2449'
 id: 2450 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2450'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2450'
 id: 2451 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2451'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2451'
 id: 2452 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2452'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2452'
 id: 2453 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2453'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2453'
 id: 2454 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2454'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2454'
 id: 2455 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2455'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2455'
 id: 2456 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2456'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2456'
 id: 2457 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2457'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2457'
 id: 2458 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2458'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2458'
 id: 2459 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2459'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2459'
 id: 2460 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2460'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2460'
 id: 2461 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2461'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2461'
 id: 2462 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2462'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2462'
 id: 2463 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2463'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2463'
 id: 2464 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2464'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2464'
 id: 2465 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2465'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2465'
 id: 2466 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2466'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2466'

 id: 2467 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2467'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2467'
 id: 2468 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2468'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2468'
 id: 2469 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2469'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2469'
 id: 2470 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2470'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2470'
 id: 2471 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2471'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2471'
 id: 2472 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2472'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2472'
 id: 2473 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2473'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2473'
 id: 2474 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2474'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2474'
 id: 2475 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2475'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2475'
 id: 2476 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2476'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2476'
 id: 2477 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2477'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2477'
 id: 2478 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2478'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2478'
 id: 2479 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2479'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2479'
 id: 2480 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2480'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2480'
 id: 2481 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2481'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2481'
 id: 2482 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2482'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2482'
 id: 2483 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2483'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2483'
 id: 2484 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2484'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2484'
 id: 2485 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2485'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2485'
 id: 2486 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2486'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2486'
 id: 2487 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2487'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2487'
 id: 2488 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2488'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2488'
 id: 2489 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2489'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2489'
 id: 2490 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2490'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2490'
 id: 2491 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2491'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2491'
 id: 2492 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2492'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2492'
 id: 2493 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2493'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2493'
 id: 2494 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2494'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2494'
 id: 2495 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2495'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2495'
 id: 2496 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2496'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2496'
 id: 2497 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2497'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2497'
 id: 2498 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2498'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2498'
 id: 2499 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2499'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2499'
 id: 2500 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2500'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2500'
 id: 2501 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2501'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2501'
 id: 2502 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2502'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2502'
 id: 2503 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2503'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2503'
 id: 2504 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2504'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2504'
 id: 2505 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2505'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2505'
 id: 2506 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2506'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2506'
 id: 2507 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2507'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2507'
 id: 2508 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2508'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2508'
 id: 2509 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2509'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2509'
 id: 2510 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2510'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2510'
 id: 2511 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2511'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2511'
 id: 2512 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2512'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2512'
 id: 2513 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2513'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2513'
 id: 2514 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2514'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2514'
 id: 2515 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2515'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2515'
 id: 2516 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2516'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2516'
 id: 2517 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2517'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2517'
 id: 2518 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2518'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2518'

 id: 2519 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2519'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2519'
 id: 2520 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2520'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2520'
 id: 2521 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2521'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2521'
 id: 2522 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2522'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2522'
 id: 2523 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2523'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2523'
 id: 2524 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2524'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2524'
 id: 2525 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2525'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2525'
 id: 2526 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2526'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2526'
 id: 2527 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2527'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2527'
 id: 2528 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2528'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2528'
 id: 2529 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2529'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2529'
 id: 2530 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2530'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2530'
 id: 2531 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2531'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2531'
 id: 2532 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2532'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2532'
 id: 2533 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2533'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2533'
 id: 2534 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2534'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2534'
 id: 2535 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2535'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2535'
 id: 2536 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2536'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2536'
 id: 2537 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2537'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2537'
 id: 2538 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2538'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2538'
 id: 2539 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2539'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2539'
 id: 2540 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2540'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2540'
 id: 2541 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2541'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2541'
 id: 2542 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2542'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2542'
 id: 2543 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2543'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2543'
 id: 2544 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2544'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2544'
 id: 2545 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2545'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2545'
 id: 2546 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2546'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2546'
 id: 2547 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2547'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2547'
 id: 2548 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2548'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2548'
 id: 2549 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2549'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2549'
 id: 2550 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2550'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2550'
 id: 2551 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2551'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2551'
 id: 2552 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2552'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2552'
 id: 2553 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2553'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2553'
 id: 2554 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2554'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2554'
 id: 2555 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2555'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2555'
 id: 2556 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2556'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2556'
 id: 2557 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2557'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2557'
 id: 2558 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2558'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2558'
 id: 2559 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2559'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2559'
 id: 2560 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2560'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2560'
 id: 2561 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2561'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2561'
 id: 2562 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2562'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2562'
 id: 2563 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2563'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2563'
 id: 2564 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2564'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2564'
 id: 2565 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2565'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2565'
 id: 2566 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2566'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2566'
 id: 2567 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2567'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2567'
 id: 2568 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2568'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2568'
 id: 2569 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2569'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2569'
 id: 2570 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2570'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2570'
 id: 2571 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2571'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2571'
 id: 2572 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2572'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2572'
 id: 2573 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2573'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2573'
 id: 2574 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2574'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2574'
 id: 2575 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2575'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2575'
 id: 2576 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2576'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2576'
 id: 2577 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2577'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2577'
 id: 2578 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2578'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2578'
 id: 2579 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2579'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2579'
 id: 2580 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2580'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2580'
 id: 2581 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2581'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2581'
 id: 2582 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2582'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2582'
 id: 2583 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2583'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2583'
 id: 2584 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2584'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2584'
 id: 2585 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2585'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2585'
 id: 2586 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2586'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2586'
 id: 2587 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2587'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2587'
 id: 2588 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2588'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2588'
 id: 2589 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2589'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2589'
 id: 2590 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2590'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2590'
 id: 2591 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2591'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2591'
 id: 2592 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2592'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2592'
 id: 2593 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2593'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2593'
 id: 2594 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2594'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2594'
 id: 2595 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2595'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2595'
 id: 2596 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2596'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2596'
 id: 2597 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2597'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2597'
 id: 2598 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2598'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2598'
 id: 2599 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2599'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2599'
 id: 2600 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2600'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2600'
 id: 2601 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2601'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2601'
 id: 2602 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2602'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2602'
 id: 2603 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2603'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2603'
 id: 2604 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2604'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2604'
 id: 2605 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2605'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2605'
 id: 2606 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2606'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2606'
 id: 2607 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2607'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2607'
 id: 2608 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2608'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2608'
 id: 2609 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2609'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2609'
 id: 2610 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2610'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2610'
 id: 2611 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2611'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2611'
 id: 2612 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2612'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2612'
 id: 2613 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2613'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2613'
 id: 2614 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2614'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2614'
 id: 2615 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2615'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2615'
 id: 2616 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2616'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2616'
 id: 2617 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2617'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2617'
 id: 2618 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2618'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2618'
 id: 2619 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2619'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2619'
 id: 2620 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2620'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2620'
 id: 2621 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2621'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2621'
 id: 2622 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2622'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2622'
 id: 2623 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2623'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2623'
 id: 2624 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2624'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2624'
 id: 2625 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2625'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2625'
 id: 2626 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2626'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2626'
 id: 2627 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2627'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2627'
 id: 2628 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2628'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2628'
 id: 2629 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2629'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2629'
 id: 2630 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2630'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2630'
 id: 2631 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2631'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2631'
 id: 2632 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2632'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2632'
 id: 2633 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2633'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2633'
 id: 2634 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2634'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2634'
 id: 2635 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2635'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2635'
 id: 2636 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2636'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2636'
 id: 2637 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2637'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2637'
 id: 2638 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2638'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2638'
 id: 2639 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2639'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2639'
 id: 2640 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2640'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2640'
 id: 2641 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2641'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2641'
 id: 2642 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2642'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2642'
 id: 2643 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2643'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2643'
 id: 2644 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2644'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2644'
 id: 2645 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2645'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2645'
 id: 2646 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2646'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2646'
 id: 2647 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2647'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2647'
 id: 2648 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2648'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2648'
 id: 2649 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2649'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2649'
 id: 2650 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2650'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2650'
 id: 2651 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2651'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2651'
 id: 2652 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2652'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2652'
 id: 2653 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2653'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2653'
 id: 2654 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2654'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2654'
 id: 2655 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2655'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2655'
 id: 2656 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2656'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2656'
 id: 2657 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2657'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2657'
 id: 2658 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2658'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2658'
 id: 2659 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2659'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2659'
 id: 2660 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2660'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2660'
 id: 2661 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2661'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2661'
 id: 2662 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2662'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2662'
 id: 2663 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2663'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2663'
 id: 2664 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2664'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2664'
 id: 2665 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2665'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2665'
 id: 2666 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2666'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2666'
 id: 2667 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2667'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2667'
 id: 2668 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2668'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2668'
 id: 2669 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2669'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2669'
 id: 2670 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2670'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2670'
 id: 2671 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2671'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2671'
 id: 2672 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2672'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2672'
 id: 2673 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2673'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2673'
 id: 2674 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2674'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2674'
 id: 2675 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2675'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2675'
 id: 2676 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2676'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2676'
 id: 2677 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2677'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2677'
 id: 2678 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2678'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2678'
 id: 2679 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2679'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2679'
 id: 2680 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2680'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2680'
 id: 2681 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2681'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2681'
 id: 2682 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2682'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2682'
 id: 2683 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2683'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2683'
 id: 2684 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2684'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2684'
 id: 2685 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2685'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2685'
 id: 2686 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2686'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2686'
 id: 2687 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2687'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2687'
 id: 2688 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2688'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2688'
 id: 2689 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2689'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2689'
 id: 2690 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2690'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2690'
 id: 2691 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2691'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2691'
 id: 2692 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2692'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2692'
 id: 2693 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2693'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2693'
 id: 2694 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2694'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2694'
 id: 2695 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2695'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2695'
 id: 2696 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2696'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2696'
 id: 2697 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2697'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2697'
 id: 2698 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2698'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2698'
 id: 2699 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2699'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2699'
 id: 2700 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2700'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2700'
 id: 2701 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2701'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2701'
 id: 2702 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2702'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2702'
 id: 2703 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2703'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2703'
 id: 2704 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2704'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2704'
 id: 2705 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2705'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2705'
 id: 2706 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2706'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2706'
 id: 2707 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2707'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2707'
 id: 2708 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2708'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2708'
 id: 2709 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2709'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2709'
 id: 2710 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2710'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2710'
 id: 2711 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2711'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2711'
 id: 2712 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2712'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2712'
 id: 2713 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2713'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2713'
 id: 2714 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2714'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2714'
 id: 2715 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2715'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2715'
 id: 2716 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2716'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2716'
 id: 2717 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2717'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2717'
 id: 2718 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2718'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2718'
 id: 2719 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2719'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2719'
 id: 2720 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2720'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2720'
 id: 2721 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2721'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2721'
 id: 2722 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2722'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2722'
 id: 2723 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2723'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2723'
 id: 2724 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2724'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2724'
 id: 2725 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2725'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2725'
 id: 2726 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2726'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2726'
 id: 2727 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2727'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2727'
 id: 2728 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2728'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2728'

 id: 2729 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2729'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2729'
 id: 2730 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2730'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2730'
 id: 2731 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2731'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2731'
 id: 2732 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2732'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2732'
 id: 2733 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2733'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2733'
 id: 2734 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2734'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2734'
 id: 2735 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2735'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2735'
 id: 2736 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2736'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2736'
 id: 2737 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2737'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2737'
 id: 2738 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2738'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2738'
 id: 2739 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2739'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2739'
 id: 2740 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2740'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2740'
 id: 2741 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2741'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2741'
 id: 2742 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2742'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2742'
 id: 2743 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2743'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2743'
 id: 2744 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2744'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2744'
 id: 2745 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2745'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2745'
 id: 2746 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2746'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2746'
 id: 2747 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2747'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2747'
 id: 2748 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2748'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2748'
 id: 2749 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2749'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2749'
 id: 2750 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2750'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2750'
 id: 2751 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2751'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2751'
 id: 2752 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2752'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2752'
 id: 2753 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2753'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2753'
 id: 2754 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2754'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2754'
 id: 2755 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2755'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2755'
 id: 2756 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2756'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2756'
 id: 2757 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2757'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2757'
 id: 2758 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2758'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2758'
 id: 2759 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2759'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2759'
 id: 2760 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2760'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2760'
 id: 2761 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2761'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2761'
 id: 2762 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2762'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2762'
 id: 2763 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2763'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2763'
 id: 2764 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2764'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2764'
 id: 2765 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2765'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2765'
 id: 2766 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2766'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2766'
 id: 2767 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2767'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2767'
 id: 2768 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2768'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2768'
 id: 2769 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2769'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2769'
 id: 2770 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2770'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2770'
 id: 2771 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2771'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2771'
 id: 2772 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2772'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2772'
 id: 2773 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2773'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2773'
 id: 2774 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2774'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2774'
 id: 2775 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2775'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2775'
 id: 2776 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2776'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2776'
 id: 2777 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2777'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2777'
 id: 2778 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2778'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2778'
 id: 2779 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2779'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2779'
 id: 2780 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2780'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2780'
 id: 2781 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2781'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2781'
 id: 2782 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2782'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2782'
 id: 2783 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2783'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2783'

 id: 2784 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2784'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2784'
 id: 2785 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2785'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2785'
 id: 2786 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2786'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2786'
 id: 2787 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2787'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2787'
 id: 2788 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2788'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2788'
 id: 2789 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2789'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2789'
 id: 2790 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2790'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2790'
 id: 2791 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2791'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2791'
 id: 2792 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2792'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2792'
 id: 2793 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2793'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2793'
 id: 2794 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2794'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2794'
 id: 2795 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2795'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2795'
 id: 2796 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2796'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2796'
 id: 2797 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2797'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2797'
 id: 2798 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2798'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2798'
 id: 2799 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2799'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2799'
 id: 2800 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2800'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2800'
 id: 2801 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2801'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2801'
 id: 2802 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2802'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2802'
 id: 2803 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2803'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2803'
 id: 2804 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2804'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2804'
 id: 2805 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2805'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2805'
 id: 2806 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2806'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2806'
 id: 2807 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2807'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2807'
 id: 2808 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2808'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2808'
 id: 2809 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2809'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2809'
 id: 2810 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2810'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2810'
 id: 2811 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2811'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2811'
 id: 2812 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2812'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2812'
 id: 2813 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2813'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2813'
 id: 2814 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2814'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2814'
 id: 2815 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2815'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2815'
 id: 2816 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2816'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2816'
 id: 2817 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2817'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2817'
 id: 2818 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2818'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2818'
 id: 2819 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2819'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2819'
 id: 2820 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2820'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2820'
 id: 2821 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2821'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2821'
 id: 2822 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2822'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2822'
 id: 2823 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2823'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2823'
 id: 2824 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2824'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2824'
 id: 2825 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2825'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2825'
 id: 2826 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2826'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2826'
 id: 2827 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2827'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2827'
 id: 2828 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2828'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2828'
 id: 2829 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2829'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2829'
 id: 2830 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2830'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2830'
 id: 2831 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2831'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2831'
 id: 2832 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2832'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2832'
 id: 2833 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2833'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2833'
 id: 2834 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2834'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2834'
 id: 2835 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2835'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2835'
 id: 2836 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2836'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2836'
 id: 2837 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2837'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2837'

 id: 2838 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2838'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2838'
 id: 2839 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2839'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2839'
 id: 2840 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2840'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2840'
 id: 2841 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2841'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2841'
 id: 2842 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2842'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2842'
 id: 2843 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2843'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2843'
 id: 2844 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2844'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2844'
 id: 2845 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2845'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2845'
 id: 2846 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2846'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2846'
 id: 2847 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2847'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2847'
 id: 2848 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2848'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2848'
 id: 2849 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2849'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2849'
 id: 2850 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2850'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2850'
 id: 2851 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2851'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2851'
 id: 2852 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2852'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2852'
 id: 2853 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2853'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2853'
 id: 2854 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2854'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2854'
 id: 2855 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2855'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2855'
 id: 2856 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2856'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2856'
 id: 2857 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2857'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2857'
 id: 2858 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2858'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2858'
 id: 2859 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2859'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2859'
 id: 2860 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2860'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2860'
 id: 2861 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2861'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2861'
 id: 2862 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2862'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2862'
 id: 2863 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2863'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2863'
 id: 2864 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2864'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2864'
 id: 2865 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2865'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2865'
 id: 2866 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2866'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2866'
 id: 2867 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2867'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2867'
 id: 2868 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2868'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2868'
 id: 2869 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2869'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2869'
 id: 2870 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2870'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2870'
 id: 2871 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2871'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2871'
 id: 2872 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2872'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2872'
 id: 2873 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2873'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2873'
 id: 2874 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2874'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2874'
 id: 2875 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2875'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2875'
 id: 2876 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2876'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2876'
 id: 2877 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2877'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2877'
 id: 2878 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2878'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2878'
 id: 2879 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2879'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2879'
 id: 2880 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2880'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2880'
 id: 2881 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2881'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2881'
 id: 2882 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2882'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2882'
 id: 2883 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2883'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2883'
 id: 2884 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2884'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2884'
 id: 2885 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2885'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2885'
 id: 2886 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2886'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2886'
 id: 2887 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2887'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2887'
 id: 2888 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2888'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2888'
 id: 2889 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2889'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2889'
 id: 2890 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2890'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2890'
 id: 2891 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2891'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2891'

 id: 2892 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2892'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2892'
 id: 2893 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2893'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2893'
 id: 2894 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2894'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2894'
 id: 2895 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2895'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2895'
 id: 2896 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2896'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2896'
 id: 2897 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2897'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2897'
 id: 2898 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2898'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2898'
 id: 2899 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2899'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2899'
 id: 2900 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2900'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2900'
 id: 2901 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2901'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2901'
 id: 2902 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2902'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2902'
 id: 2903 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2903'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2903'
 id: 2904 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2904'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2904'
 id: 2905 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2905'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2905'
 id: 2906 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2906'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2906'
 id: 2907 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2907'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2907'
 id: 2908 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2908'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2908'
 id: 2909 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2909'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2909'
 id: 2910 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2910'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2910'
 id: 2911 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2911'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2911'
 id: 2912 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2912'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2912'
 id: 2913 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2913'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2913'
 id: 2914 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2914'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2914'
 id: 2915 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2915'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2915'
 id: 2916 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2916'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2916'
 id: 2917 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2917'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2917'
 id: 2918 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2918'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2918'
 id: 2919 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2919'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2919'
 id: 2920 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2920'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2920'
 id: 2921 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2921'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2921'
 id: 2922 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2922'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2922'
 id: 2923 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2923'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2923'
 id: 2924 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2924'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2924'
 id: 2925 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2925'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2925'
 id: 2926 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2926'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2926'
 id: 2927 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2927'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2927'
 id: 2928 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2928'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2928'
 id: 2929 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2929'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2929'
 id: 2930 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2930'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2930'
 id: 2931 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2931'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2931'
 id: 2932 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2932'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2932'
 id: 2933 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2933'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2933'
 id: 2934 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2934'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2934'
 id: 2935 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2935'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2935'
 id: 2936 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2936'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2936'
 id: 2937 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2937'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2937'
 id: 2938 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2938'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2938'
 id: 2939 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2939'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2939'
 id: 2940 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2940'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2940'
 id: 2941 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2941'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2941'
 id: 2942 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2942'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2942'

 id: 2943 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2943'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2943'
 id: 2944 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2944'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2944'
 id: 2945 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2945'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2945'
 id: 2946 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2946'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2946'
 id: 2947 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2947'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2947'
 id: 2948 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2948'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2948'
 id: 2949 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2949'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2949'
 id: 2950 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2950'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2950'
 id: 2951 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2951'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2951'
 id: 2952 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2952'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2952'
 id: 2953 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2953'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2953'
 id: 2954 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2954'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2954'
 id: 2955 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2955'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2955'
 id: 2956 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2956'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2956'
 id: 2957 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2957'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2957'
 id: 2958 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2958'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2958'
 id: 2959 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2959'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2959'
 id: 2960 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2960'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2960'
 id: 2961 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2961'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2961'
 id: 2962 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2962'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2962'
 id: 2963 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2963'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2963'
 id: 2964 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2964'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2964'
 id: 2965 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2965'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2965'
 id: 2966 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2966'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2966'
 id: 2967 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2967'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2967'
 id: 2968 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2968'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2968'
 id: 2969 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2969'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2969'
 id: 2970 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2970'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2970'
 id: 2971 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2971'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2971'
 id: 2972 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2972'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2972'
 id: 2973 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2973'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2973'
 id: 2974 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2974'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2974'
 id: 2975 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2975'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2975'
 id: 2976 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2976'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2976'
 id: 2977 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2977'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2977'
 id: 2978 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2978'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2978'
 id: 2979 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2979'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2979'
 id: 2980 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2980'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2980'
 id: 2981 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2981'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2981'
 id: 2982 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2982'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2982'
 id: 2983 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2983'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2983'
 id: 2984 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2984'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2984'
 id: 2985 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2985'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2985'
 id: 2986 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2986'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2986'
 id: 2987 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2987'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2987'
 id: 2988 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2988'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2988'
 id: 2989 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2989'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2989'
 id: 2990 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2990'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2990'
 id: 2991 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2991'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2991'
 id: 2992 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2992'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2992'
 id: 2993 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2993'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2993'
 id: 2994 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2994'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2994'
 id: 2995 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2995'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2995'
 id: 2996 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2996'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2996'
 id: 2997 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2997'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2997'

 id: 2998 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2998'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2998'
 id: 2999 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '2999'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '2999'
 id: 3000 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3000'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3000'
 id: 3001 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3001'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3001'
 id: 3002 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3002'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3002'
 id: 3003 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3003'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3003'
 id: 3004 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3004'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3004'
 id: 3005 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3005'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3005'
 id: 3006 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3006'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3006'
 id: 3007 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3007'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3007'
 id: 3008 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3008'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3008'
 id: 3009 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3009'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3009'
 id: 3010 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3010'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3010'
 id: 3011 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3011'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3011'
 id: 3012 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3012'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3012'
 id: 3013 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3013'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3013'
 id: 3014 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3014'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3014'
 id: 3015 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3015'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3015'
 id: 3016 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3016'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3016'
 id: 3017 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3017'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3017'
 id: 3018 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3018'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3018'
 id: 3019 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3019'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3019'
 id: 3020 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3020'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3020'
 id: 3021 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3021'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3021'
 id: 3022 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3022'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3022'
 id: 3023 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3023'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3023'
 id: 3024 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3024'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3024'
 id: 3025 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3025'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3025'
 id: 3026 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3026'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3026'
 id: 3027 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3027'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3027'
 id: 3028 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3028'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3028'
 id: 3029 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3029'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3029'
 id: 3030 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3030'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3030'
 id: 3031 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3031'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3031'
 id: 3032 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3032'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3032'
 id: 3033 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3033'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3033'
 id: 3034 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3034'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3034'
 id: 3035 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3035'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3035'
 id: 3036 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3036'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3036'
 id: 3037 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3037'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3037'
 id: 3038 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3038'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3038'
 id: 3039 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3039'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3039'
 id: 3040 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3040'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3040'
 id: 3041 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3041'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3041'
 id: 3042 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3042'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3042'
 id: 3043 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3043'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3043'
 id: 3044 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3044'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3044'
 id: 3045 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3045'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3045'
 id: 3046 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3046'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3046'
 id: 3047 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3047'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3047'
 id: 3048 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3048'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3048'
 id: 3049 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3049'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3049'
 id: 3050 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3050'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3050'
 id: 3051 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3051'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3051'
 id: 3052 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3052'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3052'

 id: 3053 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3053'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3053'
 id: 3054 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3054'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3054'
 id: 3055 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3055'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3055'
 id: 3056 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3056'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3056'
 id: 3057 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3057'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3057'
 id: 3058 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3058'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3058'
 id: 3059 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3059'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3059'
 id: 3060 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3060'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3060'
 id: 3061 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3061'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3061'
 id: 3062 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3062'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3062'
 id: 3063 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3063'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3063'
 id: 3064 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3064'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3064'
 id: 3065 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3065'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3065'
 id: 3066 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3066'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3066'
 id: 3067 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3067'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3067'
 id: 3068 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3068'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3068'
 id: 3069 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3069'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3069'
 id: 3070 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3070'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3070'
 id: 3071 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3071'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3071'
 id: 3072 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3072'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3072'
 id: 3073 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3073'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3073'
 id: 3074 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3074'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3074'
 id: 3075 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3075'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3075'
 id: 3076 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3076'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3076'
 id: 3077 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3077'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3077'
 id: 3078 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3078'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3078'
 id: 3079 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3079'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3079'
 id: 3080 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3080'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3080'
 id: 3081 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3081'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3081'
 id: 3082 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3082'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3082'
 id: 3083 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3083'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3083'
 id: 3084 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3084'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3084'
 id: 3085 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3085'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3085'
 id: 3086 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3086'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3086'
 id: 3087 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3087'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3087'
 id: 3088 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3088'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3088'
 id: 3089 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3089'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3089'
 id: 3090 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3090'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3090'
 id: 3091 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3091'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3091'
 id: 3092 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3092'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3092'
 id: 3093 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3093'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3093'
 id: 3094 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3094'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3094'
 id: 3095 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3095'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3095'
 id: 3096 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3096'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3096'
 id: 3097 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3097'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3097'
 id: 3098 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3098'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3098'
 id: 3099 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3099'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3099'
 id: 3100 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3100'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3100'
 id: 3101 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3101'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3101'
 id: 3102 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3102'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3102'
 id: 3103 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3103'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3103'

 id: 3104 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3104'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3104'
 id: 3105 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3105'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3105'
 id: 3106 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3106'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3106'
 id: 3107 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3107'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3107'
 id: 3108 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3108'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3108'
 id: 3109 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3109'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3109'
 id: 3110 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3110'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3110'
 id: 3111 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3111'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3111'
 id: 3112 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3112'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3112'
 id: 3113 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3113'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3113'
 id: 3114 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3114'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3114'
 id: 3115 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3115'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3115'
 id: 3116 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3116'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3116'
 id: 3117 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3117'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3117'
 id: 3118 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3118'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3118'
 id: 3119 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3119'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3119'
 id: 3120 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3120'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3120'
 id: 3121 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3121'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3121'
 id: 3122 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3122'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3122'
 id: 3123 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3123'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3123'
 id: 3124 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3124'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3124'
 id: 3125 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3125'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3125'
 id: 3126 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3126'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3126'
 id: 3127 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3127'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3127'
 id: 3128 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3128'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3128'
 id: 3129 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3129'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3129'
 id: 3130 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3130'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3130'
 id: 3131 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3131'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3131'
 id: 3132 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3132'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3132'
 id: 3133 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3133'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3133'
 id: 3134 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3134'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3134'
 id: 3135 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3135'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3135'
 id: 3136 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3136'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3136'
 id: 3137 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3137'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3137'
 id: 3138 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3138'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3138'
 id: 3139 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3139'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3139'
 id: 3140 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3140'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3140'
 id: 3141 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3141'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3141'
 id: 3142 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3142'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3142'
 id: 3143 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3143'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3143'
 id: 3144 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3144'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3144'
 id: 3145 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3145'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3145'
 id: 3146 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3146'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3146'
 id: 3147 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3147'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3147'
 id: 3148 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3148'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3148'
 id: 3149 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3149'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3149'
 id: 3150 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3150'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3150'
 id: 3151 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3151'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3151'
 id: 3152 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3152'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3152'
 id: 3153 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3153'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3153'
 id: 3154 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3154'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3154'
 id: 3155 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3155'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3155'
 id: 3156 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3156'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3156'
 id: 3157 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3157'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3157'

 id: 3158 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3158'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3158'
 id: 3159 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3159'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3159'
 id: 3160 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3160'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3160'
 id: 3161 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3161'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3161'
 id: 3162 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3162'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3162'
 id: 3163 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3163'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3163'
 id: 3164 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3164'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3164'
 id: 3165 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3165'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3165'
 id: 3166 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3166'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3166'
 id: 3167 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3167'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3167'
 id: 3168 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3168'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3168'
 id: 3169 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3169'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3169'
 id: 3170 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3170'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3170'
 id: 3171 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3171'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3171'
 id: 3172 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3172'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3172'
 id: 3173 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3173'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3173'
 id: 3174 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3174'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3174'
 id: 3175 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3175'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3175'
 id: 3176 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3176'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3176'
 id: 3177 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3177'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3177'
 id: 3178 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3178'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3178'
 id: 3179 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3179'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3179'
 id: 3180 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3180'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3180'
 id: 3181 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3181'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3181'
 id: 3182 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3182'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3182'
 id: 3183 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3183'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3183'
 id: 3184 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3184'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3184'
 id: 3185 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3185'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3185'
 id: 3186 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3186'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3186'
 id: 3187 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3187'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3187'
 id: 3188 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3188'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3188'
 id: 3189 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3189'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3189'
 id: 3190 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3190'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3190'
 id: 3191 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3191'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3191'
 id: 3192 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3192'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3192'
 id: 3193 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3193'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3193'
 id: 3194 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3194'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3194'
 id: 3195 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3195'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3195'
 id: 3196 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3196'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3196'
 id: 3197 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3197'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3197'
 id: 3198 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3198'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3198'
 id: 3199 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3199'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3199'
 id: 3200 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3200'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3200'
 id: 3201 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3201'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3201'
 id: 3202 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3202'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3202'
 id: 3203 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3203'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3203'
 id: 3204 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3204'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3204'
 id: 3205 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3205'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3205'
 id: 3206 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3206'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3206'
 id: 3207 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3207'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3207'
 id: 3208 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3208'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3208'
 id: 3209 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3209'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3209'
 id: 3210 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3210'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3210'
 id: 3211 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3211'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3211'
 id: 3212 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3212'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3212'
 id: 3213 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3213'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3213'
 id: 3214 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3214'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3214'
 id: 3215 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3215'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3215'

 id: 3216 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3216'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3216'
 id: 3217 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3217'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3217'
 id: 3218 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3218'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3218'
 id: 3219 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3219'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3219'
 id: 3220 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3220'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3220'
 id: 3221 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3221'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3221'
 id: 3222 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3222'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3222'
 id: 3223 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3223'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3223'
 id: 3224 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3224'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3224'
 id: 3225 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3225'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3225'
 id: 3226 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3226'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3226'
 id: 3227 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3227'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3227'
 id: 3228 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3228'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3228'
 id: 3229 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3229'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3229'
 id: 3230 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3230'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3230'
 id: 3231 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3231'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3231'
 id: 3232 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3232'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3232'
 id: 3233 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3233'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3233'
 id: 3234 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3234'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3234'
 id: 3235 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3235'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3235'
 id: 3236 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3236'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3236'
 id: 3237 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3237'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3237'
 id: 3238 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3238'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3238'
 id: 3239 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3239'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3239'
 id: 3240 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3240'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3240'
 id: 3241 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3241'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3241'
 id: 3242 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3242'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3242'
 id: 3243 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3243'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3243'
 id: 3244 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3244'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3244'
 id: 3245 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3245'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3245'
 id: 3246 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3246'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3246'
 id: 3247 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3247'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3247'
 id: 3248 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3248'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3248'
 id: 3249 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3249'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3249'
 id: 3250 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3250'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3250'
 id: 3251 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3251'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3251'
 id: 3252 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3252'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3252'
 id: 3253 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3253'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3253'
 id: 3254 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3254'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3254'
 id: 3255 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3255'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3255'
 id: 3256 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3256'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3256'
 id: 3257 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3257'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3257'
 id: 3258 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3258'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3258'
 id: 3259 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3259'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3259'
 id: 3260 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3260'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3260'
 id: 3261 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3261'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3261'
 id: 3262 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3262'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3262'
 id: 3263 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3263'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3263'
 id: 3264 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3264'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3264'
 id: 3265 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3265'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3265'
 id: 3266 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3266'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3266'
 id: 3267 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3267'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3267'
 id: 3268 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3268'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3268'
 id: 3269 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3269'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3269'
 id: 3270 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3270'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3270'
 id: 3271 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3271'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3271'
 id: 3272 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3272'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3272'

 id: 3273 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3273'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3273'
 id: 3274 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3274'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3274'
 id: 3275 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3275'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3275'
 id: 3276 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3276'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3276'
 id: 3277 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3277'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3277'
 id: 3278 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3278'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3278'
 id: 3279 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3279'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3279'
 id: 3280 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3280'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3280'
 id: 3281 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3281'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3281'
 id: 3282 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3282'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3282'
 id: 3283 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3283'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3283'
 id: 3284 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3284'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3284'
 id: 3285 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3285'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3285'
 id: 3286 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3286'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3286'
 id: 3287 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3287'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3287'
 id: 3288 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3288'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3288'
 id: 3289 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3289'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3289'
 id: 3290 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3290'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3290'
 id: 3291 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3291'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3291'
 id: 3292 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3292'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3292'
 id: 3293 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3293'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3293'
 id: 3294 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3294'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3294'
 id: 3295 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3295'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3295'
 id: 3296 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3296'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3296'
 id: 3297 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3297'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3297'
 id: 3298 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3298'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3298'
 id: 3299 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3299'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3299'
 id: 3300 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3300'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3300'
 id: 3301 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3301'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3301'
 id: 3302 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3302'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3302'
 id: 3303 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3303'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3303'
 id: 3304 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3304'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3304'
 id: 3305 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3305'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3305'
 id: 3306 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3306'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3306'
 id: 3307 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3307'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3307'
 id: 3308 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3308'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3308'
 id: 3309 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3309'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3309'
 id: 3310 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3310'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3310'
 id: 3311 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3311'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3311'
 id: 3312 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3312'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3312'
 id: 3313 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3313'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3313'
 id: 3314 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3314'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3314'
 id: 3315 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3315'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3315'
 id: 3316 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3316'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3316'
 id: 3317 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3317'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3317'
 id: 3318 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3318'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3318'
 id: 3319 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3319'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3319'
 id: 3320 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3320'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3320'
 id: 3321 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3321'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3321'
 id: 3322 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3322'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3322'
 id: 3323 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3323'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3323'
 id: 3324 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3324'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3324'
 id: 3325 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3325'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3325'
 id: 3326 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3326'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3326'
 id: 3327 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3327'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3327'

 id: 3328 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3328'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3328'
 id: 3329 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3329'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3329'
 id: 3330 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3330'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3330'
 id: 3331 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3331'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3331'
 id: 3332 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3332'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3332'
 id: 3333 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3333'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3333'
 id: 3334 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3334'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3334'
 id: 3335 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3335'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3335'
 id: 3336 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3336'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3336'
 id: 3337 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3337'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3337'
 id: 3338 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3338'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3338'
 id: 3339 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3339'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3339'
 id: 3340 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3340'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3340'
 id: 3341 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3341'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3341'
 id: 3342 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3342'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3342'
 id: 3343 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3343'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3343'
 id: 3344 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3344'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3344'
 id: 3345 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3345'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3345'
 id: 3346 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3346'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3346'
 id: 3347 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3347'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3347'
 id: 3348 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3348'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3348'
 id: 3349 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3349'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3349'
 id: 3350 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3350'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3350'
 id: 3351 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3351'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3351'
 id: 3352 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3352'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3352'
 id: 3353 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3353'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3353'
 id: 3354 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3354'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3354'
 id: 3355 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3355'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3355'
 id: 3356 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3356'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3356'
 id: 3357 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3357'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3357'
 id: 3358 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3358'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3358'
 id: 3359 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3359'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3359'
 id: 3360 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3360'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3360'
 id: 3361 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3361'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3361'
 id: 3362 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3362'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3362'
 id: 3363 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3363'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3363'
 id: 3364 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3364'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3364'
 id: 3365 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3365'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3365'
 id: 3366 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3366'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3366'
 id: 3367 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3367'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3367'
 id: 3368 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3368'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3368'
 id: 3369 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3369'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3369'
 id: 3370 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3370'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3370'
 id: 3371 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3371'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3371'
 id: 3372 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3372'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3372'
 id: 3373 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3373'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3373'
 id: 3374 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3374'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3374'
 id: 3375 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3375'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3375'
 id: 3376 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3376'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3376'
 id: 3377 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3377'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3377'
 id: 3378 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3378'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3378'
 id: 3379 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3379'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3379'
 id: 3380 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3380'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3380'
 id: 3381 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3381'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3381'
 id: 3382 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3382'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3382'
 id: 3383 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3383'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3383'
 id: 3384 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3384'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3384'
 id: 3385 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3385'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3385'
 id: 3386 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3386'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3386'
 id: 3387 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3387'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3387'
 id: 3388 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3388'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3388'
 id: 3389 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3389'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3389'
 id: 3390 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3390'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3390'
 id: 3391 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3391'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3391'
 id: 3392 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3392'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3392'
 id: 3393 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3393'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3393'
 id: 3394 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3394'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3394'
 id: 3395 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3395'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3395'
 id: 3396 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3396'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3396'
 id: 3397 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3397'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3397'
 id: 3398 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3398'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3398'
 id: 3399 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3399'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3399'
 id: 3400 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3400'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3400'
 id: 3401 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3401'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3401'
 id: 3402 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3402'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3402'
 id: 3403 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3403'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3403'
 id: 3404 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3404'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3404'
 id: 3405 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3405'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3405'
 id: 3406 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3406'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3406'
 id: 3407 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3407'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3407'
 id: 3408 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3408'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3408'
 id: 3409 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3409'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3409'
 id: 3410 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3410'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3410'
 id: 3411 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3411'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3411'
 id: 3412 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3412'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3412'
 id: 3413 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3413'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3413'
 id: 3414 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3414'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3414'
 id: 3415 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3415'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3415'
 id: 3416 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3416'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3416'
 id: 3417 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3417'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3417'
 id: 3418 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3418'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3418'
 id: 3419 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3419'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3419'
 id: 3420 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3420'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3420'
 id: 3421 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3421'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3421'
 id: 3422 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3422'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3422'
 id: 3423 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3423'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3423'
 id: 3424 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3424'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3424'
 id: 3425 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3425'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3425'
 id: 3426 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3426'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3426'
 id: 3427 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3427'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3427'
 id: 3428 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3428'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3428'
 id: 3429 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3429'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3429'
 id: 3430 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3430'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3430'
 id: 3431 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3431'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3431'
 id: 3432 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3432'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3432'
 id: 3433 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3433'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3433'
 id: 3434 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3434'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3434'
 id: 3435 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3435'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3435'
 id: 3436 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3436'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3436'
 id: 3437 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3437'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3437'
 id: 3438 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3438'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3438'
 id: 3439 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3439'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3439'
 id: 3440 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3440'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3440'

 id: 3441 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3441'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3441'
 id: 3442 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3442'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3442'
 id: 3443 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3443'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3443'
 id: 3444 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3444'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3444'
 id: 3445 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3445'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3445'
 id: 3446 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3446'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3446'
 id: 3447 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3447'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3447'
 id: 3448 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3448'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3448'
 id: 3449 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3449'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3449'
 id: 3450 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3450'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3450'
 id: 3451 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3451'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3451'
 id: 3452 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3452'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3452'
 id: 3453 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3453'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3453'
 id: 3454 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3454'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3454'
 id: 3455 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3455'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3455'
 id: 3456 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3456'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3456'
 id: 3457 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3457'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3457'
 id: 3458 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3458'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3458'
 id: 3459 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3459'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3459'
 id: 3460 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3460'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3460'
 id: 3461 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3461'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3461'
 id: 3462 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3462'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3462'
 id: 3463 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3463'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3463'
 id: 3464 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3464'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3464'
 id: 3465 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3465'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3465'
 id: 3466 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3466'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3466'
 id: 3467 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3467'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3467'
 id: 3468 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3468'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3468'
 id: 3469 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3469'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3469'
 id: 3470 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3470'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3470'
 id: 3471 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3471'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3471'
 id: 3472 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3472'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3472'
 id: 3473 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3473'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3473'
 id: 3474 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3474'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3474'
 id: 3475 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3475'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3475'
 id: 3476 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3476'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3476'
 id: 3477 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3477'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3477'
 id: 3478 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3478'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3478'
 id: 3479 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3479'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3479'
 id: 3480 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3480'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3480'
 id: 3481 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3481'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3481'
 id: 3482 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3482'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3482'
 id: 3483 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3483'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3483'
 id: 3484 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3484'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3484'
 id: 3485 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3485'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3485'
 id: 3486 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3486'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3486'
 id: 3487 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3487'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3487'
 id: 3488 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3488'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3488'
 id: 3489 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3489'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3489'
 id: 3490 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3490'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3490'
 id: 3491 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3491'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3491'
 id: 3492 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3492'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3492'
 id: 3493 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3493'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3493'
 id: 3494 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3494'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3494'
 id: 3495 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3495'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3495'

 id: 3496 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3496'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3496'
 id: 3497 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3497'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3497'
 id: 3498 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3498'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3498'
 id: 3499 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3499'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3499'
 id: 3500 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3500'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3500'
 id: 3501 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3501'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3501'
 id: 3502 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3502'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3502'
 id: 3503 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3503'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3503'
 id: 3504 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3504'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3504'
 id: 3505 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3505'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3505'
 id: 3506 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3506'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3506'
 id: 3507 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3507'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3507'
 id: 3508 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3508'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3508'
 id: 3509 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3509'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3509'
 id: 3510 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3510'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3510'
 id: 3511 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3511'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3511'
 id: 3512 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3512'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3512'
 id: 3513 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3513'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3513'
 id: 3514 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3514'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3514'
 id: 3515 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3515'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3515'
 id: 3516 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3516'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3516'
 id: 3517 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3517'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3517'
 id: 3518 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3518'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3518'
 id: 3519 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3519'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3519'
 id: 3520 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3520'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3520'
 id: 3521 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3521'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3521'
 id: 3522 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3522'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3522'
 id: 3523 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3523'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3523'
 id: 3524 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3524'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3524'
 id: 3525 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3525'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3525'
 id: 3526 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3526'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3526'
 id: 3527 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3527'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3527'
 id: 3528 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3528'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3528'
 id: 3529 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3529'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3529'
 id: 3530 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3530'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3530'
 id: 3531 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3531'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3531'
 id: 3532 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3532'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3532'
 id: 3533 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3533'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3533'
 id: 3534 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3534'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3534'
 id: 3535 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3535'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3535'
 id: 3536 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3536'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3536'
 id: 3537 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3537'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3537'
 id: 3538 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3538'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3538'
 id: 3539 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3539'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3539'
 id: 3540 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3540'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3540'
 id: 3541 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3541'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3541'
 id: 3542 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3542'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3542'
 id: 3543 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3543'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3543'
 id: 3544 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3544'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3544'
 id: 3545 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3545'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3545'
 id: 3546 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3546'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3546'
 id: 3547 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3547'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3547'

 id: 3548 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3548'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3548'
 id: 3549 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3549'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3549'
 id: 3550 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3550'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3550'
 id: 3551 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3551'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3551'
 id: 3552 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3552'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3552'
 id: 3553 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3553'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3553'
 id: 3554 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3554'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3554'
 id: 3555 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3555'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3555'
 id: 3556 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3556'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3556'
 id: 3557 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3557'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3557'
 id: 3558 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3558'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3558'
 id: 3559 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3559'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3559'
 id: 3560 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3560'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3560'
 id: 3561 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3561'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3561'
 id: 3562 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3562'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3562'
 id: 3563 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3563'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3563'
 id: 3564 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3564'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3564'
 id: 3565 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3565'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3565'
 id: 3566 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3566'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3566'
 id: 3567 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3567'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3567'
 id: 3568 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3568'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3568'
 id: 3569 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3569'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3569'
 id: 3570 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3570'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3570'
 id: 3571 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3571'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3571'
 id: 3572 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3572'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3572'
 id: 3573 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3573'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3573'
 id: 3574 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3574'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3574'
 id: 3575 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3575'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3575'
 id: 3576 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3576'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3576'
 id: 3577 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3577'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3577'
 id: 3578 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3578'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3578'
 id: 3579 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3579'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3579'
 id: 3580 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3580'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3580'
 id: 3581 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3581'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3581'
 id: 3582 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3582'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3582'
 id: 3583 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3583'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3583'
 id: 3584 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3584'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3584'
 id: 3585 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3585'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3585'
 id: 3586 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3586'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3586'
 id: 3587 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3587'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3587'
 id: 3588 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3588'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3588'
 id: 3589 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3589'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3589'
 id: 3590 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3590'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3590'
 id: 3591 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3591'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3591'
 id: 3592 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3592'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3592'
 id: 3593 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3593'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3593'
 id: 3594 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3594'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3594'
 id: 3595 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3595'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3595'
 id: 3596 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3596'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3596'
 id: 3597 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3597'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3597'
 id: 3598 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3598'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3598'
 id: 3599 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3599'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3599'
 id: 3600 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3600'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3600'
 id: 3601 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3601'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3601'
 id: 3602 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3602'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3602'
 id: 3603 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3603'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3603'
 id: 3604 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3604'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3604'
 id: 3605 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3605'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3605'
 id: 3606 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3606'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3606'
 id: 3607 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3607'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3607'
 id: 3608 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3608'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3608'
 id: 3609 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3609'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3609'
 id: 3610 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3610'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3610'
 id: 3611 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3611'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3611'
 id: 3612 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3612'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3612'
 id: 3613 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3613'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3613'
 id: 3614 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3614'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3614'
 id: 3615 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3615'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3615'
 id: 3616 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3616'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3616'
 id: 3617 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3617'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3617'
 id: 3618 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3618'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3618'
 id: 3619 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3619'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3619'
 id: 3620 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3620'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3620'
 id: 3621 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3621'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3621'
 id: 3622 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3622'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3622'
 id: 3623 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3623'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3623'
 id: 3624 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3624'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3624'
 id: 3625 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3625'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3625'
 id: 3626 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3626'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3626'
 id: 3627 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3627'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3627'
 id: 3628 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3628'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3628'
 id: 3629 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3629'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3629'
 id: 3630 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3630'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3630'
 id: 3631 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3631'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3631'
 id: 3632 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3632'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3632'
 id: 3633 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3633'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3633'
 id: 3634 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3634'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3634'
 id: 3635 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3635'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3635'
 id: 3636 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3636'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3636'
 id: 3637 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3637'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3637'
 id: 3638 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3638'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3638'
 id: 3639 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3639'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3639'
 id: 3640 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3640'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3640'
 id: 3641 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3641'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3641'
 id: 3642 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3642'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3642'
 id: 3643 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3643'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3643'
 id: 3644 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3644'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3644'
 id: 3645 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3645'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3645'
 id: 3646 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3646'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3646'
 id: 3647 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3647'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3647'
 id: 3648 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3648'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3648'
 id: 3649 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3649'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3649'
 id: 3650 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3650'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3650'
 id: 3651 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3651'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3651'
 id: 3652 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3652'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3652'
 id: 3653 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3653'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3653'
 id: 3654 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3654'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3654'
 id: 3655 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3655'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3655'
 id: 3656 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3656'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3656'

 id: 3657 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3657'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3657'
 id: 3658 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3658'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3658'
 id: 3659 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3659'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3659'
 id: 3660 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3660'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3660'
 id: 3661 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3661'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3661'
 id: 3662 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3662'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3662'
 id: 3663 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3663'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3663'
 id: 3664 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3664'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3664'
 id: 3665 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3665'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3665'
 id: 3666 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3666'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3666'
 id: 3667 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3667'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3667'
 id: 3668 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3668'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3668'
 id: 3669 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3669'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3669'
 id: 3670 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3670'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3670'
 id: 3671 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3671'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3671'
 id: 3672 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3672'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3672'
 id: 3673 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3673'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3673'
 id: 3674 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3674'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3674'
 id: 3675 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3675'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3675'
 id: 3676 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3676'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3676'
 id: 3677 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3677'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3677'
 id: 3678 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3678'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3678'
 id: 3679 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3679'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3679'
 id: 3680 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3680'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3680'
 id: 3681 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3681'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3681'
 id: 3682 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3682'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3682'
 id: 3683 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3683'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3683'
 id: 3684 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3684'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3684'
 id: 3685 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3685'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3685'
 id: 3686 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3686'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3686'
 id: 3687 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3687'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3687'
 id: 3688 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3688'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3688'
 id: 3689 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3689'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3689'
 id: 3690 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3690'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3690'
 id: 3691 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3691'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3691'
 id: 3692 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3692'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3692'
 id: 3693 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3693'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3693'
 id: 3694 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3694'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3694'
 id: 3695 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3695'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3695'
 id: 3696 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3696'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3696'
 id: 3697 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3697'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3697'
 id: 3698 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3698'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3698'
 id: 3699 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3699'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3699'
 id: 3700 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3700'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3700'
 id: 3701 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3701'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3701'
 id: 3702 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3702'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3702'
 id: 3703 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3703'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3703'
 id: 3704 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3704'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3704'
 id: 3705 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3705'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3705'
 id: 3706 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3706'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3706'
 id: 3707 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3707'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3707'
 id: 3708 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3708'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3708'
 id: 3709 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3709'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3709'
 id: 3710 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3710'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3710'

 id: 3711 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3711'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3711'
 id: 3712 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3712'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3712'
 id: 3713 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3713'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3713'
 id: 3714 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3714'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3714'
 id: 3715 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3715'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3715'
 id: 3716 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3716'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3716'
 id: 3717 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3717'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3717'
 id: 3718 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3718'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3718'
 id: 3719 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3719'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3719'
 id: 3720 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3720'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3720'
 id: 3721 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3721'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3721'
 id: 3722 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3722'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3722'
 id: 3723 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3723'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3723'
 id: 3724 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3724'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3724'
 id: 3725 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3725'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3725'
 id: 3726 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3726'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3726'
 id: 3727 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3727'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3727'
 id: 3728 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3728'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3728'
 id: 3729 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3729'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3729'
 id: 3730 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3730'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3730'
 id: 3731 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3731'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3731'
 id: 3732 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3732'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3732'
 id: 3733 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3733'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3733'
 id: 3734 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3734'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3734'
 id: 3735 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3735'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3735'
 id: 3736 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3736'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3736'
 id: 3737 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3737'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3737'
 id: 3738 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3738'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3738'
 id: 3739 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3739'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3739'
 id: 3740 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3740'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3740'
 id: 3741 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3741'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3741'
 id: 3742 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3742'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3742'
 id: 3743 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3743'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3743'
 id: 3744 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3744'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3744'
 id: 3745 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3745'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3745'
 id: 3746 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3746'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3746'
 id: 3747 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3747'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3747'
 id: 3748 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3748'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3748'
 id: 3749 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3749'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3749'
 id: 3750 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3750'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3750'
 id: 3751 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3751'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3751'
 id: 3752 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3752'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3752'
 id: 3753 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3753'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3753'
 id: 3754 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3754'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3754'
 id: 3755 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3755'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3755'
 id: 3756 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3756'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3756'
 id: 3757 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3757'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3757'
 id: 3758 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3758'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3758'
 id: 3759 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3759'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3759'
 id: 3760 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3760'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3760'
 id: 3761 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3761'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3761'
 id: 3762 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3762'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3762'
 id: 3763 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3763'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3763'
 id: 3764 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3764'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3764'
 id: 3765 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3765'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3765'

 id: 3766 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3766'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3766'
 id: 3767 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3767'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3767'
 id: 3768 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3768'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3768'
 id: 3769 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3769'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3769'
 id: 3770 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3770'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3770'
 id: 3771 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3771'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3771'
 id: 3772 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3772'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3772'
 id: 3773 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3773'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3773'
 id: 3774 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3774'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3774'
 id: 3775 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3775'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3775'
 id: 3776 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3776'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3776'
 id: 3777 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3777'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3777'
 id: 3778 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3778'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3778'
 id: 3779 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3779'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3779'
 id: 3780 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3780'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3780'
 id: 3781 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3781'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3781'
 id: 3782 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3782'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3782'
 id: 3783 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3783'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3783'
 id: 3784 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3784'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3784'
 id: 3785 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3785'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3785'
 id: 3786 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3786'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3786'
 id: 3787 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3787'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3787'
 id: 3788 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3788'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3788'
 id: 3789 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3789'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3789'
 id: 3790 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3790'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3790'
 id: 3791 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3791'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3791'
 id: 3792 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3792'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3792'
 id: 3793 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3793'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3793'
 id: 3794 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3794'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3794'
 id: 3795 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3795'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3795'
 id: 3796 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3796'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3796'
 id: 3797 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3797'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3797'
 id: 3798 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3798'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3798'
 id: 3799 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3799'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3799'
 id: 3800 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3800'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3800'
 id: 3801 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3801'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3801'
 id: 3802 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3802'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3802'
 id: 3803 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3803'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3803'
 id: 3804 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3804'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3804'
 id: 3805 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3805'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3805'
 id: 3806 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3806'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3806'
 id: 3807 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3807'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3807'
 id: 3808 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3808'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3808'
 id: 3809 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3809'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3809'
 id: 3810 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3810'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3810'
 id: 3811 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3811'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3811'
 id: 3812 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3812'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3812'
 id: 3813 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3813'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3813'
 id: 3814 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3814'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3814'
 id: 3815 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3815'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3815'
 id: 3816 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3816'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3816'
 id: 3817 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3817'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3817'
 id: 3818 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3818'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3818'
 id: 3819 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3819'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3819'
 id: 3820 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3820'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3820'
 id: 3821 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3821'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3821'
 id: 3822 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3822'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3822'

 id: 3823 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3823'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3823'
 id: 3824 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3824'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3824'
 id: 3825 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3825'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3825'
 id: 3826 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3826'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3826'
 id: 3827 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3827'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3827'
 id: 3828 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3828'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3828'
 id: 3829 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3829'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3829'
 id: 3830 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3830'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3830'
 id: 3831 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3831'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3831'
 id: 3832 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3832'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3832'
 id: 3833 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3833'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3833'
 id: 3834 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3834'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3834'
 id: 3835 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3835'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3835'
 id: 3836 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3836'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3836'
 id: 3837 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3837'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3837'
 id: 3838 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3838'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3838'
 id: 3839 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3839'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3839'
 id: 3840 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3840'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3840'
 id: 3841 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3841'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3841'
 id: 3842 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3842'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3842'
 id: 3843 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3843'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3843'
 id: 3844 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3844'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3844'
 id: 3845 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3845'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3845'
 id: 3846 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3846'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3846'
 id: 3847 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3847'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3847'
 id: 3848 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3848'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3848'
 id: 3849 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3849'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3849'
 id: 3850 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3850'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3850'
 id: 3851 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3851'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3851'
 id: 3852 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3852'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3852'
 id: 3853 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3853'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3853'
 id: 3854 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3854'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3854'
 id: 3855 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3855'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3855'
 id: 3856 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3856'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3856'
 id: 3857 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3857'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3857'
 id: 3858 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3858'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3858'
 id: 3859 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3859'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3859'
 id: 3860 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3860'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3860'
 id: 3861 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3861'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3861'
 id: 3862 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3862'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3862'
 id: 3863 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3863'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3863'
 id: 3864 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3864'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3864'
 id: 3865 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3865'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3865'
 id: 3866 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3866'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3866'
 id: 3867 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3867'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3867'
 id: 3868 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3868'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3868'
 id: 3869 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3869'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3869'
 id: 3870 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3870'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3870'
 id: 3871 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3871'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3871'
 id: 3872 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3872'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3872'
 id: 3873 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3873'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3873'
 id: 3874 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3874'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3874'
 id: 3875 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3875'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3875'
 id: 3876 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3876'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3876'

 id: 3877 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3877'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3877'
 id: 3878 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3878'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3878'
 id: 3879 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3879'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3879'
 id: 3880 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3880'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3880'
 id: 3881 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3881'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3881'
 id: 3882 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3882'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3882'
 id: 3883 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3883'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3883'
 id: 3884 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3884'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3884'
 id: 3885 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3885'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3885'
 id: 3886 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3886'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3886'
 id: 3887 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3887'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3887'
 id: 3888 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3888'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3888'
 id: 3889 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3889'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3889'
 id: 3890 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3890'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3890'
 id: 3891 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3891'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3891'
 id: 3892 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3892'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3892'
 id: 3893 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3893'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3893'
 id: 3894 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3894'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3894'
 id: 3895 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3895'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3895'
 id: 3896 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3896'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3896'
 id: 3897 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3897'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3897'
 id: 3898 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3898'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3898'
 id: 3899 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3899'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3899'
 id: 3900 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3900'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3900'
 id: 3901 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3901'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3901'
 id: 3902 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3902'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3902'
 id: 3903 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3903'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3903'
 id: 3904 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3904'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3904'
 id: 3905 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3905'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3905'
 id: 3906 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3906'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3906'
 id: 3907 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3907'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3907'
 id: 3908 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3908'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3908'
 id: 3909 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3909'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3909'
 id: 3910 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3910'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3910'
 id: 3911 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3911'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3911'
 id: 3912 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3912'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3912'
 id: 3913 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3913'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3913'
 id: 3914 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3914'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3914'
 id: 3915 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3915'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3915'
 id: 3916 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3916'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3916'
 id: 3917 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3917'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3917'
 id: 3918 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3918'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3918'
 id: 3919 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3919'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3919'
 id: 3920 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3920'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3920'
 id: 3921 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3921'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3921'
 id: 3922 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3922'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3922'
 id: 3923 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3923'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3923'
 id: 3924 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3924'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3924'
 id: 3925 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3925'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3925'
 id: 3926 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3926'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3926'
 id: 3927 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3927'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3927'
 id: 3928 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3928'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3928'
 id: 3929 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3929'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3929'
 id: 3930 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3930'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3930'

 id: 3931 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3931'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3931'
 id: 3932 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3932'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3932'
 id: 3933 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3933'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3933'
 id: 3934 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3934'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3934'
 id: 3935 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3935'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3935'
 id: 3936 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3936'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3936'
 id: 3937 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3937'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3937'
 id: 3938 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3938'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3938'
 id: 3939 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3939'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3939'
 id: 3940 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3940'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3940'
 id: 3941 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3941'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3941'
 id: 3942 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3942'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3942'
 id: 3943 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3943'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3943'
 id: 3944 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3944'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3944'
 id: 3945 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3945'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3945'
 id: 3946 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3946'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3946'
 id: 3947 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3947'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3947'
 id: 3948 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3948'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3948'
 id: 3949 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3949'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3949'
 id: 3950 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3950'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3950'
 id: 3951 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3951'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3951'
 id: 3952 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3952'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3952'
 id: 3953 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3953'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3953'
 id: 3954 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3954'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3954'
 id: 3955 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3955'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3955'
 id: 3956 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3956'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3956'
 id: 3957 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3957'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3957'
 id: 3958 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3958'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3958'
 id: 3959 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3959'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3959'
 id: 3960 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3960'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3960'
 id: 3961 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3961'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3961'
 id: 3962 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3962'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3962'
 id: 3963 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3963'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3963'
 id: 3964 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3964'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3964'
 id: 3965 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3965'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3965'
 id: 3966 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3966'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3966'
 id: 3967 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3967'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3967'
 id: 3968 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3968'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3968'
 id: 3969 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3969'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3969'
 id: 3970 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3970'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3970'
 id: 3971 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3971'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3971'
 id: 3972 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3972'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3972'
 id: 3973 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3973'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3973'
 id: 3974 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3974'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3974'
 id: 3975 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3975'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3975'
 id: 3976 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3976'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3976'
 id: 3977 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3977'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3977'
 id: 3978 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3978'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3978'
 id: 3979 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3979'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3979'
 id: 3980 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3980'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3980'
 id: 3981 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3981'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3981'
 id: 3982 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3982'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3982'
 id: 3983 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3983'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3983'

 id: 3984 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3984'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3984'
 id: 3985 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3985'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3985'
 id: 3986 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3986'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3986'
 id: 3987 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3987'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3987'
 id: 3988 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3988'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3988'
 id: 3989 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3989'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3989'
 id: 3990 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3990'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3990'
 id: 3991 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3991'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3991'
 id: 3992 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3992'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3992'
 id: 3993 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3993'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3993'
 id: 3994 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3994'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3994'
 id: 3995 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3995'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3995'
 id: 3996 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3996'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3996'
 id: 3997 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3997'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3997'
 id: 3998 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3998'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3998'
 id: 3999 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '3999'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '3999'
 id: 4000 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4000'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4000'
 id: 4001 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4001'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4001'
 id: 4002 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4002'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4002'
 id: 4003 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4003'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4003'
 id: 4004 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4004'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4004'
 id: 4005 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4005'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4005'
 id: 4006 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4006'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4006'
 id: 4007 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4007'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4007'
 id: 4008 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4008'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4008'
 id: 4009 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4009'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4009'
 id: 4010 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4010'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4010'
 id: 4011 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4011'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4011'
 id: 4012 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4012'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4012'
 id: 4013 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4013'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4013'
 id: 4014 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4014'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4014'
 id: 4015 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4015'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4015'
 id: 4016 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4016'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4016'
 id: 4017 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4017'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4017'
 id: 4018 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4018'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4018'
 id: 4019 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4019'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4019'
 id: 4020 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4020'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4020'
 id: 4021 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4021'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4021'
 id: 4022 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4022'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4022'
 id: 4023 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4023'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4023'
 id: 4024 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4024'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4024'
 id: 4025 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4025'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4025'
 id: 4026 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4026'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4026'
 id: 4027 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4027'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4027'
 id: 4028 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4028'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4028'
 id: 4029 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4029'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4029'
 id: 4030 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4030'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4030'
 id: 4031 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4031'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4031'
 id: 4032 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4032'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4032'
 id: 4033 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4033'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4033'
 id: 4034 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4034'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4034'
 id: 4035 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4035'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4035'
 id: 4036 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4036'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4036'
 id: 4037 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4037'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4037'
 id: 4038 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4038'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4038'
 id: 4039 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4039'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4039'
 id: 4040 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4040'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4040'
 id: 4041 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4041'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4041'
 id: 4042 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4042'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4042'
 id: 4043 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4043'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4043'
 id: 4044 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4044'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4044'
 id: 4045 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4045'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4045'
 id: 4046 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4046'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4046'
 id: 4047 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4047'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4047'
 id: 4048 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4048'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4048'
 id: 4049 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4049'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4049'
 id: 4050 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4050'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4050'
 id: 4051 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4051'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4051'
 id: 4052 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4052'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4052'
 id: 4053 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4053'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4053'
 id: 4054 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4054'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4054'
 id: 4055 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4055'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4055'
 id: 4056 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4056'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4056'
 id: 4057 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4057'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4057'
 id: 4058 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4058'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4058'
 id: 4059 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4059'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4059'
 id: 4060 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4060'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4060'
 id: 4061 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4061'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4061'
 id: 4062 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4062'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4062'
 id: 4063 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4063'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4063'
 id: 4064 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4064'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4064'
 id: 4065 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4065'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4065'
 id: 4066 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4066'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4066'
 id: 4067 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4067'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4067'
 id: 4068 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4068'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4068'
 id: 4069 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4069'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4069'
 id: 4070 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4070'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4070'
 id: 4071 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4071'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4071'
 id: 4072 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4072'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4072'
 id: 4073 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4073'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4073'
 id: 4074 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4074'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4074'
 id: 4075 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4075'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4075'
 id: 4076 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4076'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4076'
 id: 4077 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4077'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4077'
 id: 4078 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4078'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4078'
 id: 4079 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4079'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4079'
 id: 4080 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4080'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4080'
 id: 4081 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4081'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4081'
 id: 4082 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4082'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4082'
 id: 4083 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4083'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4083'
 id: 4084 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4084'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4084'
 id: 4085 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4085'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4085'
 id: 4086 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4086'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4086'
 id: 4087 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4087'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4087'
 id: 4088 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4088'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4088'
 id: 4089 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4089'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4089'
 id: 4090 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4090'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4090'
 id: 4091 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4091'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4091'
 id: 4092 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4092'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4092'
 id: 4093 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4093'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4093'
 id: 4094 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4094'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4094'
 id: 4095 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4095'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4095'

 id: 4096 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4096'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4096'
 id: 4097 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4097'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4097'
 id: 4098 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4098'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4098'
 id: 4099 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4099'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4099'
 id: 4100 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4100'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4100'
 id: 4101 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4101'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4101'
 id: 4102 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4102'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4102'
 id: 4103 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4103'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4103'
 id: 4104 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4104'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4104'
 id: 4105 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4105'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4105'
 id: 4106 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4106'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4106'
 id: 4107 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4107'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4107'
 id: 4108 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4108'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4108'
 id: 4109 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4109'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4109'
 id: 4110 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4110'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4110'
 id: 4111 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4111'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4111'
 id: 4112 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4112'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4112'
 id: 4113 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4113'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4113'
 id: 4114 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4114'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4114'
 id: 4115 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4115'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4115'
 id: 4116 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4116'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4116'
 id: 4117 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4117'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4117'
 id: 4118 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4118'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4118'
 id: 4119 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4119'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4119'
 id: 4120 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4120'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4120'
 id: 4121 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4121'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4121'
 id: 4122 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4122'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4122'
 id: 4123 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4123'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4123'
 id: 4124 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4124'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4124'
 id: 4125 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4125'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4125'
 id: 4126 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4126'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4126'
 id: 4127 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4127'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4127'
 id: 4128 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4128'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4128'
 id: 4129 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4129'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4129'
 id: 4130 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4130'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4130'
 id: 4131 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4131'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4131'
 id: 4132 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4132'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4132'
 id: 4133 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4133'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4133'
 id: 4134 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4134'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4134'
 id: 4135 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4135'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4135'
 id: 4136 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4136'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4136'
 id: 4137 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4137'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4137'
 id: 4138 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4138'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4138'
 id: 4139 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4139'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4139'
 id: 4140 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4140'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4140'
 id: 4141 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4141'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4141'
 id: 4142 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4142'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4142'
 id: 4143 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4143'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4143'
 id: 4144 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4144'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4144'
 id: 4145 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4145'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4145'
 id: 4146 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4146'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4146'
 id: 4147 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4147'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4147'

 id: 4148 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4148'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4148'
 id: 4149 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4149'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4149'
 id: 4150 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4150'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4150'
 id: 4151 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4151'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4151'
 id: 4152 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4152'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4152'
 id: 4153 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4153'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4153'
 id: 4154 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4154'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4154'
 id: 4155 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4155'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4155'
 id: 4156 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4156'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4156'
 id: 4157 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4157'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4157'
 id: 4158 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4158'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4158'
 id: 4159 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4159'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4159'
 id: 4160 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4160'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4160'
 id: 4161 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4161'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4161'
 id: 4162 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4162'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4162'
 id: 4163 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4163'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4163'
 id: 4164 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4164'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4164'
 id: 4165 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4165'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4165'
 id: 4166 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4166'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4166'
 id: 4167 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4167'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4167'
 id: 4168 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4168'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4168'
 id: 4169 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4169'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4169'
 id: 4170 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4170'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4170'
 id: 4171 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4171'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4171'
 id: 4172 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4172'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4172'
 id: 4173 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4173'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4173'
 id: 4174 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4174'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4174'
 id: 4175 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4175'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4175'
 id: 4176 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4176'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4176'
 id: 4177 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4177'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4177'
 id: 4178 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4178'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4178'
 id: 4179 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4179'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4179'
 id: 4180 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4180'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4180'
 id: 4181 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4181'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4181'
 id: 4182 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4182'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4182'
 id: 4183 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4183'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4183'
 id: 4184 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4184'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4184'
 id: 4185 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4185'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4185'
 id: 4186 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4186'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4186'
 id: 4187 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4187'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4187'
 id: 4188 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4188'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4188'
 id: 4189 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4189'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4189'
 id: 4190 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4190'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4190'
 id: 4191 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4191'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4191'
 id: 4192 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4192'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4192'
 id: 4193 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4193'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4193'
 id: 4194 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4194'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4194'
 id: 4195 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4195'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4195'
 id: 4196 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4196'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4196'
 id: 4197 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4197'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4197'
 id: 4198 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4198'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4198'
 id: 4199 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4199'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4199'
 id: 4200 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4200'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4200'
 id: 4201 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4201'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4201'
 id: 4202 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4202'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4202'
 id: 4203 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4203'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4203'

 id: 4204 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4204'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4204'
 id: 4205 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4205'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4205'
 id: 4206 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4206'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4206'
 id: 4207 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4207'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4207'
 id: 4208 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4208'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4208'
 id: 4209 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4209'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4209'
 id: 4210 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4210'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4210'
 id: 4211 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4211'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4211'
 id: 4212 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4212'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4212'
 id: 4213 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4213'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4213'
 id: 4214 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4214'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4214'
 id: 4215 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4215'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4215'
 id: 4216 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4216'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4216'
 id: 4217 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4217'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4217'
 id: 4218 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4218'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4218'
 id: 4219 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4219'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4219'
 id: 4220 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4220'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4220'
 id: 4221 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4221'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4221'
 id: 4222 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4222'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4222'
 id: 4223 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4223'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4223'
 id: 4224 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4224'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4224'
 id: 4225 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4225'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4225'
 id: 4226 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4226'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4226'
 id: 4227 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4227'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4227'
 id: 4228 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4228'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4228'
 id: 4229 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4229'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4229'
 id: 4230 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4230'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4230'
 id: 4231 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4231'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4231'
 id: 4232 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4232'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4232'
 id: 4233 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4233'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4233'
 id: 4234 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4234'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4234'
 id: 4235 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4235'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4235'
 id: 4236 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4236'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4236'
 id: 4237 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4237'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4237'
 id: 4238 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4238'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4238'
 id: 4239 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4239'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4239'
 id: 4240 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4240'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4240'
 id: 4241 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4241'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4241'
 id: 4242 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4242'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4242'
 id: 4243 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4243'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4243'
 id: 4244 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4244'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4244'
 id: 4245 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4245'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4245'
 id: 4246 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4246'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4246'
 id: 4247 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4247'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4247'
 id: 4248 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4248'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4248'
 id: 4249 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4249'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4249'
 id: 4250 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4250'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4250'
 id: 4251 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4251'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4251'

 id: 4252 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4252'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4252'
 id: 4253 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4253'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4253'
 id: 4254 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4254'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4254'
 id: 4255 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4255'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4255'
 id: 4256 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4256'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4256'
 id: 4257 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4257'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4257'
 id: 4258 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4258'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4258'
 id: 4259 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4259'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4259'
 id: 4260 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4260'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4260'
 id: 4261 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4261'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4261'
 id: 4262 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4262'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4262'
 id: 4263 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4263'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4263'
 id: 4264 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4264'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4264'
 id: 4265 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4265'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4265'
 id: 4266 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4266'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4266'
 id: 4267 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4267'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4267'
 id: 4268 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4268'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4268'
 id: 4269 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4269'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4269'
 id: 4270 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4270'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4270'
 id: 4271 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4271'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4271'
 id: 4272 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4272'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4272'
 id: 4273 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4273'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4273'
 id: 4274 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4274'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4274'
 id: 4275 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4275'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4275'
 id: 4276 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4276'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4276'
 id: 4277 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4277'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4277'
 id: 4278 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4278'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4278'
 id: 4279 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4279'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4279'
 id: 4280 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4280'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4280'
 id: 4281 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4281'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4281'
 id: 4282 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4282'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4282'
 id: 4283 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4283'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4283'
 id: 4284 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4284'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4284'
 id: 4285 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4285'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4285'
 id: 4286 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4286'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4286'
 id: 4287 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4287'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4287'
 id: 4288 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4288'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4288'
 id: 4289 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4289'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4289'
 id: 4290 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4290'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4290'
 id: 4291 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4291'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4291'
 id: 4292 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4292'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4292'
 id: 4293 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4293'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4293'
 id: 4294 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4294'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4294'
 id: 4295 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4295'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4295'
 id: 4296 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4296'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4296'
 id: 4297 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4297'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4297'
 id: 4298 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4298'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4298'
 id: 4299 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4299'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4299'
 id: 4300 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4300'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4300'
 id: 4301 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4301'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4301'
 id: 4302 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4302'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4302'
 id: 4303 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4303'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4303'
 id: 4304 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4304'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4304'
 id: 4305 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4305'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4305'
 id: 4306 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4306'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4306'
 id: 4307 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4307'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4307'

 id: 4308 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4308'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4308'
 id: 4309 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4309'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4309'
 id: 4310 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4310'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4310'
 id: 4311 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4311'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4311'
 id: 4312 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4312'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4312'
 id: 4313 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4313'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4313'
 id: 4314 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4314'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4314'
 id: 4315 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4315'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4315'
 id: 4316 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4316'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4316'
 id: 4317 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4317'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4317'
 id: 4318 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4318'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4318'
 id: 4319 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4319'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4319'
 id: 4320 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4320'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4320'
 id: 4321 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4321'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4321'
 id: 4322 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4322'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4322'
 id: 4323 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4323'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4323'
 id: 4324 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4324'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4324'
 id: 4325 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4325'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4325'
 id: 4326 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4326'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4326'
 id: 4327 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4327'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4327'
 id: 4328 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4328'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4328'
 id: 4329 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4329'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4329'
 id: 4330 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4330'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4330'
 id: 4331 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4331'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4331'
 id: 4332 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4332'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4332'
 id: 4333 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4333'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4333'
 id: 4334 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4334'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4334'
 id: 4335 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4335'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4335'
 id: 4336 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4336'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4336'
 id: 4337 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4337'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4337'
 id: 4338 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4338'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4338'
 id: 4339 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4339'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4339'
 id: 4340 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4340'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4340'
 id: 4341 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4341'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4341'
 id: 4342 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4342'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4342'
 id: 4343 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4343'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4343'
 id: 4344 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4344'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4344'
 id: 4345 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4345'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4345'
 id: 4346 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4346'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4346'
 id: 4347 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4347'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4347'
 id: 4348 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4348'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4348'
 id: 4349 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4349'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4349'
 id: 4350 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4350'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4350'
 id: 4351 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4351'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4351'
 id: 4352 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4352'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4352'
 id: 4353 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4353'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4353'
 id: 4354 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4354'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4354'
 id: 4355 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4355'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4355'
 id: 4356 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4356'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4356'
 id: 4357 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4357'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4357'
 id: 4358 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4358'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4358'
 id: 4359 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4359'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4359'
 id: 4360 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4360'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4360'
 id: 4361 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4361'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4361'

 id: 4362 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4362'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4362'
 id: 4363 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4363'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4363'
 id: 4364 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4364'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4364'
 id: 4365 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4365'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4365'
 id: 4366 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4366'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4366'
 id: 4367 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4367'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4367'
 id: 4368 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4368'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4368'
 id: 4369 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4369'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4369'
 id: 4370 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4370'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4370'
 id: 4371 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4371'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4371'
 id: 4372 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4372'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4372'
 id: 4373 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4373'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4373'
 id: 4374 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4374'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4374'
 id: 4375 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4375'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4375'
 id: 4376 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4376'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4376'
 id: 4377 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4377'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4377'
 id: 4378 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4378'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4378'
 id: 4379 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4379'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4379'
 id: 4380 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4380'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4380'
 id: 4381 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4381'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4381'
 id: 4382 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4382'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4382'
 id: 4383 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4383'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4383'
 id: 4384 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4384'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4384'
 id: 4385 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4385'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4385'
 id: 4386 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4386'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4386'
 id: 4387 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4387'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4387'
 id: 4388 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4388'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4388'
 id: 4389 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4389'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4389'
 id: 4390 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4390'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4390'
 id: 4391 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4391'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4391'
 id: 4392 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4392'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4392'
 id: 4393 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4393'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4393'
 id: 4394 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4394'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4394'
 id: 4395 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4395'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4395'
 id: 4396 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4396'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4396'
 id: 4397 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4397'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4397'
 id: 4398 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4398'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4398'
 id: 4399 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4399'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4399'
 id: 4400 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4400'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4400'
 id: 4401 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4401'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4401'
 id: 4402 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4402'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4402'
 id: 4403 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4403'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4403'
 id: 4404 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4404'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4404'
 id: 4405 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4405'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4405'
 id: 4406 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4406'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4406'
 id: 4407 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4407'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4407'
 id: 4408 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4408'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4408'
 id: 4409 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4409'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4409'
 id: 4410 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4410'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4410'
 id: 4411 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4411'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4411'
 id: 4412 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4412'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4412'
 id: 4413 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4413'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4413'
 id: 4414 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4414'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4414'
 id: 4415 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4415'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4415'
 id: 4416 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4416'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4416'

 id: 4417 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4417'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4417'
 id: 4418 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4418'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4418'
 id: 4419 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4419'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4419'
 id: 4420 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4420'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4420'
 id: 4421 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4421'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4421'
 id: 4422 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4422'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4422'
 id: 4423 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4423'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4423'
 id: 4424 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4424'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4424'
 id: 4425 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4425'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4425'
 id: 4426 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4426'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4426'
 id: 4427 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4427'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4427'
 id: 4428 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4428'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4428'
 id: 4429 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4429'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4429'
 id: 4430 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4430'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4430'
 id: 4431 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4431'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4431'
 id: 4432 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4432'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4432'
 id: 4433 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4433'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4433'
 id: 4434 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4434'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4434'
 id: 4435 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4435'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4435'
 id: 4436 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4436'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4436'
 id: 4437 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4437'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4437'
 id: 4438 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4438'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4438'
 id: 4439 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4439'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4439'
 id: 4440 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4440'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4440'
 id: 4441 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4441'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4441'
 id: 4442 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4442'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4442'
 id: 4443 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4443'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4443'
 id: 4444 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4444'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4444'
 id: 4445 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4445'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4445'
 id: 4446 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4446'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4446'
 id: 4447 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4447'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4447'
 id: 4448 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4448'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4448'
 id: 4449 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4449'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4449'
 id: 4450 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4450'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4450'
 id: 4451 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4451'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4451'
 id: 4452 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4452'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4452'
 id: 4453 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4453'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4453'
 id: 4454 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4454'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4454'
 id: 4455 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4455'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4455'
 id: 4456 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4456'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4456'
 id: 4457 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4457'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4457'
 id: 4458 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4458'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4458'
 id: 4459 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4459'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4459'
 id: 4460 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4460'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4460'
 id: 4461 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4461'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4461'
 id: 4462 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4462'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4462'
 id: 4463 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4463'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4463'
 id: 4464 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4464'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4464'
 id: 4465 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4465'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4465'
 id: 4466 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4466'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4466'
 id: 4467 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4467'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4467'
 id: 4468 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4468'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4468'
 id: 4469 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4469'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4469'
 id: 4470 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4470'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4470'
 id: 4471 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4471'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4471'
 id: 4472 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4472'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4472'
 id: 4473 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4473'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4473'
 id: 4474 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4474'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4474'
 id: 4475 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4475'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4475'
 id: 4476 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4476'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4476'
 id: 4477 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4477'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4477'
 id: 4478 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4478'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4478'
 id: 4479 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4479'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4479'
 id: 4480 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4480'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4480'
 id: 4481 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4481'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4481'
 id: 4482 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4482'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4482'
 id: 4483 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4483'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4483'
 id: 4484 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4484'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4484'
 id: 4485 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4485'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4485'
 id: 4486 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4486'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4486'
 id: 4487 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4487'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4487'
 id: 4488 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4488'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4488'
 id: 4489 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4489'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4489'
 id: 4490 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4490'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4490'
 id: 4491 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4491'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4491'
 id: 4492 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4492'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4492'
 id: 4493 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4493'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4493'
 id: 4494 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4494'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4494'
 id: 4495 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4495'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4495'
 id: 4496 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4496'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4496'
 id: 4497 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4497'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4497'
 id: 4498 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4498'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4498'
 id: 4499 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4499'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4499'
 id: 4500 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4500'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4500'
 id: 4501 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4501'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4501'
 id: 4502 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4502'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4502'
 id: 4503 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4503'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4503'
 id: 4504 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4504'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4504'
 id: 4505 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4505'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4505'
 id: 4506 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4506'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4506'
 id: 4507 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4507'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4507'
 id: 4508 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4508'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4508'
 id: 4509 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4509'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4509'
 id: 4510 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4510'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4510'
 id: 4511 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4511'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4511'
 id: 4512 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4512'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4512'
 id: 4513 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4513'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4513'
 id: 4514 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4514'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4514'
 id: 4515 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4515'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4515'
 id: 4516 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4516'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4516'
 id: 4517 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4517'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4517'
 id: 4518 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4518'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4518'
 id: 4519 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4519'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4519'
 id: 4520 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4520'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4520'
 id: 4521 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4521'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4521'
 id: 4522 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4522'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4522'
 id: 4523 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4523'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4523'
 id: 4524 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4524'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4524'
 id: 4525 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4525'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4525'
 id: 4526 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4526'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4526'
 id: 4527 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4527'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4527'
 id: 4528 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4528'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4528'
 id: 4529 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4529'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4529'
 id: 4530 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4530'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4530'
 id: 4531 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4531'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4531'
 id: 4532 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4532'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4532'
 id: 4533 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4533'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4533'
 id: 4534 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4534'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4534'
 id: 4535 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4535'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4535'
 id: 4536 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4536'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4536'
 id: 4537 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4537'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4537'
 id: 4538 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4538'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4538'
 id: 4539 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4539'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4539'
 id: 4540 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4540'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4540'
 id: 4541 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4541'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4541'
 id: 4542 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4542'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4542'
 id: 4543 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4543'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4543'
 id: 4544 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4544'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4544'
 id: 4545 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4545'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4545'
 id: 4546 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4546'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4546'
 id: 4547 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4547'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4547'
 id: 4548 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4548'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4548'
 id: 4549 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4549'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4549'
 id: 4550 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4550'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4550'
 id: 4551 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4551'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4551'
 id: 4552 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4552'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4552'
 id: 4553 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4553'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4553'
 id: 4554 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4554'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4554'
 id: 4555 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4555'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4555'
 id: 4556 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4556'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4556'
 id: 4557 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4557'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4557'
 id: 4558 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4558'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4558'
 id: 4559 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4559'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4559'
 id: 4560 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4560'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4560'
 id: 4561 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4561'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4561'
 id: 4562 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4562'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4562'
 id: 4563 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4563'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4563'
 id: 4564 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4564'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4564'
 id: 4565 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4565'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4565'
 id: 4566 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4566'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4566'
 id: 4567 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4567'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4567'
 id: 4568 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4568'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4568'
 id: 4569 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4569'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4569'
 id: 4570 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4570'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4570'
 id: 4571 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4571'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4571'
 id: 4572 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4572'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4572'
 id: 4573 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4573'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4573'
 id: 4574 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4574'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4574'
 id: 4575 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4575'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4575'
 id: 4576 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4576'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4576'
 id: 4577 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4577'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4577'
 id: 4578 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4578'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4578'
 id: 4579 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4579'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4579'
 id: 4580 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4580'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4580'

 id: 4581 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4581'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4581'
 id: 4582 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4582'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4582'
 id: 4583 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4583'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4583'
 id: 4584 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4584'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4584'
 id: 4585 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4585'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4585'
 id: 4586 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4586'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4586'
 id: 4587 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4587'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4587'
 id: 4588 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4588'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4588'
 id: 4589 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4589'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4589'
 id: 4590 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4590'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4590'
 id: 4591 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4591'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4591'
 id: 4592 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4592'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4592'
 id: 4593 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4593'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4593'
 id: 4594 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4594'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4594'
 id: 4595 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4595'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4595'
 id: 4596 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4596'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4596'
 id: 4597 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4597'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4597'
 id: 4598 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4598'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4598'
 id: 4599 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4599'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4599'
 id: 4600 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4600'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4600'
 id: 4601 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4601'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4601'
 id: 4602 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4602'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4602'
 id: 4603 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4603'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4603'
 id: 4604 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4604'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4604'
 id: 4605 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4605'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4605'
 id: 4606 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4606'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4606'
 id: 4607 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4607'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4607'
 id: 4608 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4608'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4608'
 id: 4609 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4609'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4609'
 id: 4610 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4610'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4610'
 id: 4611 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4611'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4611'
 id: 4612 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4612'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4612'
 id: 4613 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4613'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4613'
 id: 4614 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4614'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4614'
 id: 4615 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4615'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4615'
 id: 4616 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4616'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4616'
 id: 4617 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4617'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4617'
 id: 4618 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4618'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4618'
 id: 4619 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4619'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4619'
 id: 4620 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4620'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4620'
 id: 4621 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4621'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4621'
 id: 4622 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4622'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4622'
 id: 4623 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4623'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4623'
 id: 4624 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4624'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4624'
 id: 4625 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4625'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4625'
 id: 4626 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4626'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4626'
 id: 4627 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4627'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4627'
 id: 4628 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4628'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4628'
 id: 4629 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4629'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4629'
 id: 4630 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4630'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4630'
 id: 4631 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4631'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4631'
 id: 4632 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4632'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4632'
 id: 4633 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4633'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4633'
 id: 4634 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4634'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4634'
 id: 4635 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4635'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4635'

 id: 4636 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4636'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4636'
 id: 4637 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4637'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4637'
 id: 4638 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4638'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4638'
 id: 4639 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4639'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4639'
 id: 4640 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4640'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4640'
 id: 4641 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4641'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4641'
 id: 4642 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4642'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4642'
 id: 4643 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4643'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4643'
 id: 4644 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4644'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4644'
 id: 4645 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4645'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4645'
 id: 4646 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4646'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4646'
 id: 4647 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4647'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4647'
 id: 4648 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4648'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4648'
 id: 4649 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4649'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4649'
 id: 4650 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4650'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4650'
 id: 4651 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4651'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4651'
 id: 4652 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4652'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4652'
 id: 4653 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4653'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4653'
 id: 4654 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4654'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4654'
 id: 4655 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4655'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4655'
 id: 4656 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4656'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4656'
 id: 4657 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4657'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4657'
 id: 4658 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4658'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4658'
 id: 4659 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4659'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4659'
 id: 4660 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4660'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4660'
 id: 4661 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4661'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4661'
 id: 4662 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4662'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4662'
 id: 4663 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4663'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4663'
 id: 4664 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4664'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4664'
 id: 4665 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4665'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4665'
 id: 4666 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4666'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4666'
 id: 4667 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4667'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4667'
 id: 4668 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4668'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4668'
 id: 4669 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4669'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4669'
 id: 4670 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4670'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4670'
 id: 4671 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4671'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4671'
 id: 4672 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4672'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4672'
 id: 4673 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4673'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4673'
 id: 4674 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4674'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4674'
 id: 4675 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4675'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4675'
 id: 4676 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4676'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4676'
 id: 4677 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4677'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4677'
 id: 4678 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4678'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4678'
 id: 4679 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4679'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4679'
 id: 4680 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4680'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4680'
 id: 4681 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4681'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4681'
 id: 4682 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4682'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4682'
 id: 4683 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4683'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4683'
 id: 4684 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4684'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4684'
 id: 4685 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4685'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4685'
 id: 4686 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4686'

UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4686'
 id: 4687 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4687'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4687'
 id: 4688 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4688'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4688'
 id: 4689 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4689'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4689'
 id: 4690 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4690'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4690'
 id: 4691 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4691'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4691'
 id: 4692 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4692'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4692'
 id: 4693 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4693'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4693'
 id: 4694 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4694'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4694'
 id: 4695 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4695'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4695'
 id: 4696 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4696'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4696'
 id: 4697 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4697'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4697'
 id: 4698 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4698'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4698'
 id: 4699 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4699'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4699'
 id: 4700 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4700'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4700'
 id: 4701 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4701'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4701'
 id: 4702 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4702'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4702'
 id: 4703 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4703'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4703'
 id: 4704 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4704'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4704'
 id: 4705 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4705'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4705'
 id: 4706 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4706'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4706'
 id: 4707 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4707'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4707'
 id: 4708 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4708'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4708'
 id: 4709 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4709'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4709'
 id: 4710 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4710'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4710'
 id: 4711 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4711'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4711'
 id: 4712 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4712'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4712'
 id: 4713 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4713'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4713'
 id: 4714 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4714'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4714'
 id: 4715 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4715'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4715'
 id: 4716 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4716'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4716'
 id: 4717 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4717'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4717'
 id: 4718 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4718'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4718'
 id: 4719 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4719'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4719'
 id: 4720 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4720'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4720'
 id: 4721 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4721'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4721'
 id: 4722 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4722'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4722'
 id: 4723 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4723'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4723'
 id: 4724 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4724'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4724'
 id: 4725 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4725'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4725'
 id: 4726 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4726'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4726'
 id: 4727 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4727'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4727'
 id: 4728 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4728'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4728'
 id: 4729 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4729'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4729'
 id: 4730 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4730'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4730'
 id: 4731 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4731'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4731'
 id: 4732 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4732'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4732'
 id: 4733 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4733'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4733'
 id: 4734 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4734'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4734'
 id: 4735 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4735'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4735'
 id: 4736 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4736'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4736'
 id: 4737 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4737'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4737'
 id: 4738 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4738'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4738'
 id: 4739 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4739'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4739'

 id: 4740 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4740'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4740'
 id: 4741 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4741'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4741'
 id: 4742 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4742'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4742'
 id: 4743 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4743'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4743'
 id: 4744 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4744'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4744'
 id: 4745 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4745'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4745'
 id: 4746 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4746'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4746'
 id: 4747 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4747'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4747'
 id: 4748 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4748'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4748'
 id: 4749 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4749'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4749'
 id: 4750 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4750'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4750'
 id: 4751 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4751'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4751'
 id: 4752 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4752'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4752'
 id: 4753 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4753'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4753'
 id: 4754 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4754'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4754'
 id: 4755 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4755'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4755'
 id: 4756 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4756'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4756'
 id: 4757 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4757'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4757'
 id: 4758 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4758'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4758'
 id: 4759 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4759'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4759'
 id: 4760 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4760'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4760'
 id: 4761 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4761'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4761'
 id: 4762 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4762'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4762'
 id: 4763 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4763'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4763'
 id: 4764 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4764'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4764'
 id: 4765 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4765'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4765'
 id: 4766 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4766'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4766'
 id: 4767 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4767'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4767'
 id: 4768 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4768'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4768'
 id: 4769 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4769'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4769'
 id: 4770 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4770'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4770'
 id: 4771 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4771'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4771'
 id: 4772 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4772'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4772'
 id: 4773 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4773'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4773'
 id: 4774 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4774'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4774'
 id: 4775 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4775'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4775'
 id: 4776 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4776'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4776'
 id: 4777 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4777'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4777'
 id: 4778 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4778'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4778'
 id: 4779 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4779'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4779'
 id: 4780 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4780'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4780'
 id: 4781 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4781'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4781'
 id: 4782 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4782'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4782'
 id: 4783 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4783'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4783'
 id: 4784 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4784'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4784'
 id: 4785 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4785'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4785'
 id: 4786 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4786'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4786'
 id: 4787 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4787'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4787'
 id: 4788 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4788'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4788'
 id: 4789 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4789'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4789'
 id: 4790 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4790'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4790'
 id: 4791 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4791'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4791'
 id: 4792 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4792'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4792'
 id: 4793 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4793'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4793'
 id: 4794 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4794'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4794'

 id: 4795 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4795'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4795'
 id: 4796 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4796'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4796'
 id: 4797 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4797'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4797'
 id: 4798 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4798'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4798'
 id: 4799 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4799'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4799'
 id: 4800 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4800'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4800'
 id: 4801 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4801'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4801'
 id: 4802 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4802'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4802'
 id: 4803 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4803'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4803'
 id: 4804 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4804'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4804'
 id: 4805 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4805'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4805'
 id: 4806 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4806'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4806'
 id: 4807 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4807'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4807'
 id: 4808 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4808'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4808'
 id: 4809 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4809'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4809'
 id: 4810 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4810'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4810'
 id: 4811 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4811'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4811'
 id: 4812 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4812'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4812'
 id: 4813 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4813'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4813'
 id: 4814 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4814'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4814'
 id: 4815 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4815'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4815'
 id: 4816 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4816'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4816'
 id: 4817 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4817'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4817'
 id: 4818 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4818'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4818'
 id: 4819 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4819'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4819'
 id: 4820 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4820'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4820'
 id: 4821 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4821'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4821'
 id: 4822 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4822'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4822'
 id: 4823 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4823'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4823'
 id: 4824 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4824'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4824'
 id: 4825 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4825'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4825'
 id: 4826 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4826'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4826'
 id: 4827 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4827'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4827'
 id: 4828 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4828'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4828'
 id: 4829 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4829'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4829'
 id: 4830 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4830'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4830'
 id: 4831 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4831'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4831'
 id: 4832 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4832'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4832'
 id: 4833 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4833'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4833'
 id: 4834 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4834'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4834'
 id: 4835 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4835'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4835'
 id: 4836 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4836'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4836'
 id: 4837 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4837'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4837'
 id: 4838 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4838'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4838'
 id: 4839 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4839'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4839'
 id: 4840 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4840'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4840'
 id: 4841 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4841'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4841'
 id: 4842 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4842'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4842'
 id: 4843 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4843'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4843'
 id: 4844 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4844'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4844'
 id: 4845 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4845'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4845'
 id: 4846 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4846'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4846'
 id: 4847 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4847'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4847'
 id: 4848 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4848'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4848'

 id: 4849 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4849'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4849'
 id: 4850 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4850'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4850'
 id: 4851 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4851'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4851'
 id: 4852 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4852'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4852'
 id: 4853 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4853'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4853'
 id: 4854 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4854'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4854'
 id: 4855 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4855'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4855'
 id: 4856 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4856'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4856'
 id: 4857 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4857'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4857'
 id: 4858 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4858'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4858'
 id: 4859 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4859'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4859'
 id: 4860 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4860'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4860'
 id: 4861 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4861'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4861'
 id: 4862 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4862'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4862'
 id: 4863 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4863'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4863'
 id: 4864 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4864'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4864'
 id: 4865 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4865'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4865'
 id: 4866 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4866'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4866'
 id: 4867 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4867'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4867'
 id: 4868 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4868'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4868'
 id: 4869 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4869'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4869'
 id: 4870 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4870'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4870'
 id: 4871 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4871'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4871'
 id: 4872 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4872'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4872'
 id: 4873 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4873'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4873'
 id: 4874 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4874'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4874'
 id: 4875 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4875'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4875'
 id: 4876 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4876'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4876'
 id: 4877 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4877'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4877'
 id: 4878 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4878'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4878'
 id: 4879 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4879'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4879'
 id: 4880 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4880'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4880'
 id: 4881 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4881'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4881'
 id: 4882 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4882'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4882'
 id: 4883 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4883'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4883'
 id: 4884 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4884'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4884'
 id: 4885 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4885'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4885'
 id: 4886 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4886'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4886'
 id: 4887 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4887'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4887'
 id: 4888 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4888'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4888'
 id: 4889 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4889'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4889'
 id: 4890 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4890'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4890'
 id: 4891 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4891'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4891'
 id: 4892 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4892'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4892'
 id: 4893 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4893'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4893'
 id: 4894 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4894'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4894'
 id: 4895 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4895'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4895'
 id: 4896 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4896'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4896'
 id: 4897 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4897'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4897'
 id: 4898 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4898'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4898'
 id: 4899 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4899'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4899'
 id: 4900 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4900'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4900'
 id: 4901 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4901'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4901'
 id: 4902 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4902'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4902'
 id: 4903 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4903'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4903'
 id: 4904 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4904'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4904'

 id: 4905 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4905'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4905'
 id: 4906 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4906'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4906'
 id: 4907 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4907'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4907'
 id: 4908 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4908'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4908'
 id: 4909 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4909'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4909'
 id: 4910 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4910'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4910'
 id: 4911 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4911'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4911'
 id: 4912 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4912'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4912'
 id: 4913 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4913'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4913'
 id: 4914 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4914'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4914'
 id: 4915 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4915'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4915'
 id: 4916 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4916'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4916'
 id: 4917 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4917'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4917'
 id: 4918 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4918'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4918'
 id: 4919 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4919'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4919'
 id: 4920 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4920'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4920'
 id: 4921 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4921'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4921'
 id: 4922 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4922'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4922'
 id: 4923 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4923'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4923'
 id: 4924 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4924'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4924'
 id: 4925 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4925'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4925'
 id: 4926 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4926'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4926'
 id: 4927 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4927'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4927'
 id: 4928 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4928'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4928'
 id: 4929 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4929'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4929'
 id: 4930 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4930'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4930'
 id: 4931 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4931'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4931'
 id: 4932 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4932'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4932'
 id: 4933 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4933'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4933'
 id: 4934 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4934'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4934'
 id: 4935 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4935'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4935'
 id: 4936 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4936'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4936'
 id: 4937 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4937'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4937'
 id: 4938 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4938'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4938'
 id: 4939 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4939'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4939'
 id: 4940 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4940'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4940'
 id: 4941 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4941'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4941'
 id: 4942 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4942'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4942'
 id: 4943 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4943'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4943'
 id: 4944 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4944'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4944'
 id: 4945 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4945'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4945'
 id: 4946 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4946'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4946'
 id: 4947 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4947'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4947'
 id: 4948 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4948'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4948'
 id: 4949 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4949'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4949'
 id: 4950 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4950'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4950'
 id: 4951 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4951'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4951'
 id: 4952 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4952'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4952'
 id: 4953 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4953'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4953'
 id: 4954 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4954'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4954'
 id: 4955 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4955'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4955'
 id: 4956 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4956'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4956'
 id: 4957 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4957'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4957'
 id: 4958 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4958'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4958'
 id: 4959 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4959'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4959'
 id: 4960 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4960'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4960'

 id: 4961 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4961'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4961'
 id: 4962 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4962'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4962'
 id: 4963 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4963'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4963'
 id: 4964 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4964'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4964'
 id: 4965 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4965'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4965'
 id: 4966 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4966'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4966'
 id: 4967 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4967'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4967'
 id: 4968 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4968'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4968'
 id: 4969 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4969'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4969'
 id: 4970 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4970'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4970'
 id: 4971 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4971'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4971'
 id: 4972 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4972'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4972'
 id: 4973 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4973'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4973'
 id: 4974 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4974'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4974'
 id: 4975 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4975'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4975'
 id: 4976 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4976'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4976'
 id: 4977 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4977'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4977'
 id: 4978 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4978'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4978'
 id: 4979 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4979'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4979'
 id: 4980 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4980'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4980'
 id: 4981 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4981'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4981'
 id: 4982 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4982'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4982'
 id: 4983 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4983'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4983'
 id: 4984 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4984'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4984'
 id: 4985 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4985'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4985'
 id: 4986 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4986'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4986'
 id: 4987 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4987'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4987'
 id: 4988 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4988'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4988'
 id: 4989 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4989'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4989'
 id: 4990 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4990'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4990'
 id: 4991 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4991'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4991'
 id: 4992 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4992'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4992'
 id: 4993 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4993'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4993'
 id: 4994 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4994'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4994'
 id: 4995 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4995'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4995'
 id: 4996 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4996'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4996'
 id: 4997 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4997'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4997'
 id: 4998 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4998'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4998'
 id: 4999 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '4999'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '4999'
 id: 5000 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5000'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5000'
 id: 5001 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5001'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5001'
 id: 5002 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5002'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5002'
 id: 5003 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5003'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5003'
 id: 5004 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5004'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5004'
 id: 5005 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5005'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5005'
 id: 5006 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5006'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5006'
 id: 5007 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5007'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5007'
 id: 5008 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5008'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5008'
 id: 5009 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5009'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5009'
 id: 5010 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5010'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5010'
 id: 5011 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5011'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5011'
 id: 5012 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5012'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5012'
 id: 5013 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5013'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5013'

 id: 5014 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5014'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5014'
 id: 5015 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5015'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5015'
 id: 5016 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5016'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5016'
 id: 5017 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5017'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5017'
 id: 5018 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5018'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5018'
 id: 5019 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5019'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5019'
 id: 5020 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5020'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5020'
 id: 5021 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5021'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5021'
 id: 5022 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5022'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5022'
 id: 5023 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5023'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5023'
 id: 5024 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5024'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5024'
 id: 5025 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5025'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5025'
 id: 5026 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5026'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5026'
 id: 5027 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5027'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5027'
 id: 5028 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5028'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5028'
 id: 5029 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5029'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5029'
 id: 5030 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5030'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5030'
 id: 5031 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5031'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5031'
 id: 5032 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5032'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5032'
 id: 5033 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5033'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5033'
 id: 5034 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5034'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5034'
 id: 5035 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5035'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5035'
 id: 5036 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5036'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5036'
 id: 5037 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5037'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5037'
 id: 5038 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5038'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5038'
 id: 5039 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5039'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5039'
 id: 5040 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5040'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5040'
 id: 5041 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5041'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5041'
 id: 5042 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5042'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5042'
 id: 5043 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5043'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5043'
 id: 5044 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5044'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5044'
 id: 5045 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5045'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5045'
 id: 5046 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5046'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5046'
 id: 5047 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5047'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5047'
 id: 5048 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5048'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5048'
 id: 5049 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5049'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5049'
 id: 5050 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5050'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5050'
 id: 5051 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5051'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5051'
 id: 5052 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5052'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5052'
 id: 5053 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5053'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5053'
 id: 5054 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5054'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5054'
 id: 5055 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5055'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5055'
 id: 5056 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5056'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5056'
 id: 5057 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5057'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5057'
 id: 5058 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5058'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5058'
 id: 5059 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5059'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5059'
 id: 5060 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5060'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5060'
 id: 5061 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5061'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5061'
 id: 5062 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5062'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5062'
 id: 5063 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5063'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5063'
 id: 5064 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5064'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5064'
 id: 5065 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5065'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5065'
 id: 5066 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5066'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5066'

 id: 5067 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5067'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5067'
 id: 5068 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5068'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5068'
 id: 5069 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5069'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5069'
 id: 5070 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5070'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5070'
 id: 5071 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5071'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5071'
 id: 5072 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5072'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5072'
 id: 5073 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5073'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5073'
 id: 5074 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5074'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5074'
 id: 5075 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5075'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5075'
 id: 5076 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5076'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5076'
 id: 5077 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5077'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5077'
 id: 5078 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5078'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5078'
 id: 5079 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5079'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5079'
 id: 5080 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5080'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5080'
 id: 5081 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5081'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5081'
 id: 5082 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5082'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5082'
 id: 5083 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5083'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5083'
 id: 5084 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5084'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5084'
 id: 5085 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5085'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5085'
 id: 5086 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5086'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5086'
 id: 5087 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5087'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5087'
 id: 5088 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5088'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5088'
 id: 5089 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5089'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5089'
 id: 5090 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5090'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5090'
 id: 5091 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5091'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5091'
 id: 5092 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5092'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5092'
 id: 5093 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5093'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5093'
 id: 5094 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5094'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5094'
 id: 5095 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5095'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5095'
 id: 5096 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5096'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5096'
 id: 5097 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5097'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5097'
 id: 5098 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5098'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5098'
 id: 5099 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5099'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5099'
 id: 5100 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5100'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5100'
 id: 5101 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5101'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5101'
 id: 5102 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5102'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5102'
 id: 5103 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5103'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5103'
 id: 5104 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5104'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5104'
 id: 5105 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5105'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5105'
 id: 5106 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5106'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5106'
 id: 5107 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5107'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5107'
 id: 5108 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5108'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5108'
 id: 5109 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5109'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5109'
 id: 5110 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5110'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5110'
 id: 5111 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5111'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5111'
 id: 5112 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5112'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5112'
 id: 5113 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5113'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5113'
 id: 5114 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5114'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5114'
 id: 5115 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5115'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5115'
 id: 5116 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5116'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5116'

 id: 5117 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5117'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5117'
 id: 5118 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5118'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5118'
 id: 5119 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5119'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5119'
 id: 5120 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5120'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5120'
 id: 5121 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5121'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5121'
 id: 5122 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5122'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5122'
 id: 5123 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5123'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5123'
 id: 5124 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5124'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5124'
 id: 5125 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5125'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5125'
 id: 5126 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5126'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5126'
 id: 5127 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5127'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5127'
 id: 5128 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5128'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5128'
 id: 5129 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5129'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5129'
 id: 5130 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5130'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5130'
 id: 5131 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5131'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5131'
 id: 5132 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5132'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5132'
 id: 5133 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5133'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5133'
 id: 5134 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5134'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5134'
 id: 5135 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5135'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5135'
 id: 5136 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5136'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5136'
 id: 5137 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5137'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5137'
 id: 5138 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5138'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5138'
 id: 5139 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5139'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5139'
 id: 5140 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5140'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5140'
 id: 5141 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5141'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5141'
 id: 5142 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5142'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5142'
 id: 5143 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5143'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5143'
 id: 5144 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5144'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5144'
 id: 5145 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5145'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5145'
 id: 5146 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5146'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5146'
 id: 5147 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5147'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5147'
 id: 5148 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5148'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5148'
 id: 5149 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5149'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5149'
 id: 5150 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5150'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5150'
 id: 5151 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5151'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5151'
 id: 5152 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5152'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5152'
 id: 5153 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5153'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5153'
 id: 5154 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5154'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5154'
 id: 5155 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5155'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5155'
 id: 5156 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5156'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5156'
 id: 5157 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5157'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5157'
 id: 5158 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5158'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5158'
 id: 5159 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5159'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5159'
 id: 5160 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5160'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5160'
 id: 5161 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5161'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5161'
 id: 5162 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5162'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5162'
 id: 5163 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5163'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5163'
 id: 5164 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5164'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5164'
 id: 5165 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5165'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5165'

 id: 5166 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5166'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5166'
 id: 5167 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5167'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5167'
 id: 5168 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5168'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5168'
 id: 5169 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5169'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5169'
 id: 5170 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5170'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5170'
 id: 5171 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5171'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5171'
 id: 5172 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5172'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5172'
 id: 5173 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5173'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5173'
 id: 5174 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5174'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5174'
 id: 5175 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5175'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5175'
 id: 5176 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5176'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5176'
 id: 5177 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5177'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5177'
 id: 5178 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5178'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5178'
 id: 5179 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5179'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5179'
 id: 5180 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5180'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5180'
 id: 5181 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5181'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5181'
 id: 5182 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5182'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5182'
 id: 5183 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5183'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5183'
 id: 5184 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5184'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5184'
 id: 5185 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5185'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5185'
 id: 5186 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5186'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5186'
 id: 5187 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5187'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5187'
 id: 5188 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5188'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5188'
 id: 5189 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5189'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5189'
 id: 5190 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5190'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5190'
 id: 5191 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5191'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5191'
 id: 5192 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5192'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5192'
 id: 5193 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5193'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5193'
 id: 5194 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5194'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5194'
 id: 5195 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5195'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5195'
 id: 5196 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5196'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5196'
 id: 5197 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5197'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5197'
 id: 5198 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5198'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5198'
 id: 5199 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5199'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5199'
 id: 5200 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5200'
UPDATE jobstreet_raws_rc SET salary_type = '--extracted--'     where id = '5200'
 id: 5201 // word: 1
UPDATE job_vacancies SET salary_type_id =  '1' where raw_id = '5201'